[2019-04-27 15:01] hsanjuan commented on #6237
I'm also observing this errors, particularly on accepting new connections. I think this causes the affected listeners to shutdown.

https://ipfs.io/ipfs/QmX4A8DzvxeR1uC7xoTCTQPbynsHAD64gdsSCm1VPc8brC

I am going to try to run with a much larger FD limit and see if it hits it too.

[2019-04-27 20:01] Stebalien commented on #6237
@koalalorenzo what are your connection manager limits?

Both of you, does downgrading help?

[2019-04-27 20:06] koalalorenzo commented on #6237
My connection manager config is the default one (Never touched since I generated the conf file)

[code]

I know that @obo20 downgraded to fix the issue. I will downgrade a percentage of the machines so that I can help debug this in case. Let me know what I can do to help!

[2019-04-27 20:10] Stebalien commented on #6243
Thanks!

[2019-04-28 03:40] suutaku commented on #5046
same problem.
`ipfs    1208 root   24u  IPv4  19266      0t0  TCP 127.0.0.1:5001 (LISTEN)
ipfs    1208 root   25u  IPv4 795695      0t0  TCP 127.0.0.1:5001->127.0.0.1:58924 (CLOSE_WAIT)
ipfs    1208 root   34u  IPv4 756128      0t0  TCP 127.0.0.1:5001->127.0.0.1:58156 (CLOSE_WAIT)
ipfs    1208 root   36u  IPv4 796210      0t0  TCP 127.0.0.1:5001->127.0.0.1:58944 (CLOSE_WAIT)
ipfs    1208 root   39

[2019-04-28 10:32] magik6k commented on #5046
@suutaku can you share some more details (`ipfs version --all`, is the daemon just idle or do you do anything actively)?

[2019-04-28 19:03] Stebalien commented on #5046
Could you also run `ipfs diag cmds` to see if there are any hung commands?

[2019-04-29 04:42] mNizhurin commented on #6253
Now all the code in CoreIpfsNode.h looks like this:
// skipped field IpfsNode.Identity with unsupported type: github.com/libp2p/go-libp2p-peer.ID
// skipped field IpfsNode.Repo with unsupported type: github.com/ipfs/go-ipfs/repo.Repo
// skipped field IpfsNode.Pinning with unsupported type: github.com/ipfs/go-ipfs/pin.Pinner
...
Any suggestions how to fix this?
Thank you!

[2019-04-29 07:36] hsanjuan commented on #6237
FD Limit was 4096 before. I set a new limit at 16k. Right now after 24h or so we have:
[code]

I will report back to see if the figure increases in the next hours. The connManager is at:

[code]

[2019-04-29 11:10] vext01 commented on #5334
Hi,

go-ipfs OpenBSD packager here.

I've hit this same issue. I'm not sure if this is related, but our fuse implementation isn't complete.

[2019-04-29 11:14] vext01 commented on #4748
I'd close this, since 6.2 is quite an old release now.

[2019-04-29 11:34] magik6k commented on #5334
You should be able to build with `-tags=nofuse` go bulid flag

[2019-04-29 14:00] vext01 commented on #5334
According to the docs, this flag should be appended by the build system automatically:
https://github.com/ipfs/go-ipfs/blob/master/docs/openbsd.md

[note also use of deprecated target `install_unsupported`]

[2019-04-29 14:03] obo20 commented on #6237
@hsanjuan Can you provide the specs of the machines that you're using?

I'd also be curious to know how many "root" objects you have on those machines.

[2019-04-29 14:48] hsanjuan commented on #6237
@obo20 12cores, 64GB RAM, root objects ranging from 3000 to 6000.

[2019-04-29 15:07] koalalorenzo commented on #6237
Have you tried on smaller machines? something like 2 cores, 2GB RAM?

[2019-04-29 15:26] obo20 commented on #6237
I'd like to know this as well. While resources are always important, I'm curious to know how much of a role they play here. From inspecting my nodes after they hit this issue, they haven't seemed maxed out from a resource standpoint at all.

[2019-04-29 16:33] #5828 closed

[2019-04-29 16:37] #3781 closed

[2019-04-29 16:38] Stebalien commented on #2985
(documented)

[2019-04-29 16:38] #2985 closed

[2019-04-29 16:41] #2743 closed

[2019-04-29 16:45] Stebalien commented on #6083
The go-ipfs daemon doesn't actually return this information. However, we could fabricate it in the `PostRun` function when asked to encode to JSON.

[2019-04-29 17:15] olizilla commented on #6254
Could you share a rough ETA for when this fix will land in a release so we can schedule an ipfs-desktop release. Folks are going to start asking us for a relase with 0.4.20 in, but this is a blocker for that.

[2019-04-29 20:34] Stebalien commented on #6269
There are a couple of issues here:

1. We don't actually know what encoding the user wants when parsing the arguments list, that's why this case is different. I'm not sure if we _can_ fix that because we make this decision based on the `enc` param which we haven't necessarily parsed yet. However, we could switch the default to JSON.
2. We default to JSON errors everywhere else (unless the user spe

[2019-04-29 20:42] ianopolous commented on #6269
We rely heavily on pin update. (It's 99% of our pin calls) So please involve us in evaluating any breaking changes.

[2019-04-29 20:48] #5845 closed

[2019-04-29 20:49] Stebalien commented on #5823
Closing in favor of https://github.com/libp2p/go-libp2p/issues/436

[2019-04-29 20:49] #5823 closed

[2019-04-29 20:50] Stebalien commented on #5822
This has been fixed. We still have the large queue but it's manageable and we've reduced the number of workers.

[2019-04-29 20:50] #5822 closed

[2019-04-29 20:52] Stebalien commented on #5806
Switching this to "needs refinement" as we need to think through:

1. The _precise_ API.
2. Backwards compatibility.

[2019-04-29 20:57] Stebalien commented on #5799
Triage:  @alanshaw are you still seeing this?

That's the timeout for connecting to the peer. There's another timeout below that's `kPingTimeout * numPings`. So this should total to `kPingTimeout * (numPings+1)` which should be 30s in your case.

So yeah, something is broken.

[2019-04-29 21:30] Stebalien commented on #6269
@ianopolous I've flagged you on the PR. Basically:

1. `ipfs pin update /ipfs/QmA /ipfs/QmB` will now return `{Pins: ["QmA", "QmB"]}` instead of `{Pins: ["/ipfs/QmA", "/ipfs/QmB"]}`.
2. `ipfs pin update /ipns/QmA /ipns/QmB` will now return the _resolved_ names in the response (like as is done in `ipfs pin add`).

[2019-04-29 21:49] ianopolous commented on #6269
@Stebalien That sounds fine, we convert them to that form immediately on our end anyway, so just means less code for us. :-)

[2019-04-30 02:05] Stebalien commented on #1090
Fixed (again?) in https://github.com/libp2p/go-nat/commit/c8594db014d29a36fe16880224818429f2a867c2.

[2019-04-30 02:05] #1090 closed

[2019-04-30 02:18] Stebalien commented on #874
Closing as something we'll have to re-evaluate for a 1.0 release.

[2019-04-30 02:24] Stebalien commented on #5910
So, "CumulativeSize" is calculated based on metadata recorded in the object itself. We'd probably want something like:

* `ipfs repo stat <object>`
* `ipfs dag stat <object>`

I'd vote for the latter, actually. See: https://github.com/ipfs/go-ipfs/issues/3955.

[2019-04-30 02:26] kaysond commented on #3532
@whyrusleeping after a few days it looks like it settled out at a solid 1GB RAM. I've attached all the dumps per the debug guide
[memdebug.tar.gz](https://github.com/ipfs/go-ipfs/files/3129753/memdebug.tar.gz)

[2019-04-30 02:27] Stebalien commented on #1178
This has now been fixed.

[2019-04-30 02:27] #1178 closed

[2019-04-30 02:28] Stebalien commented on #288
CIDs fix this as we can use any base we want. Also, we're switching to base32 by default so this will become even less of an issue.

[2019-04-30 02:28] #288 closed

[2019-04-30 02:30] Stebalien commented on #1023
Go-ipfs will now _immediately_ stop listening on the API when shutting down. I'd say that's a pretty decent signal.

[2019-04-30 02:30] #1023 closed

[2019-04-30 02:30] Stebalien commented on #1025
(too old to debug)

[2019-04-30 02:30] #1025 closed

[2019-04-30 04:21] suutaku commented on #5046
thank you for reply me.
my ipfs and go version:
`john@cot_server_04:~$ ipfs --version --all
go-ipfs version: 0.4.21-dev-0189ff820
Repo version: 7
System version: amd64/linux
Golang version: go1.12.4`

ipfs diag cmds

`Command    Active  StartTime        RunTime
cat        true    Apr 30 04:20:05  31.933071794s
pin/add    false   Apr 30 04:20:26  124.04341ms
pin/add    false   Apr 30 04:20:26  110.

[2019-04-30 04:58] Stebalien commented on #3532
@kaysond

It looks like that memory is:

1. The peerstore (fix in https://github.com/ipfs/go-ipfs/pull/6080).
2. Bandwidth metric tracking. Unfortunately, we never _forget_ old peers. You can disable bandwidth tracking by setting `ipfs config --json "Swarm.DisableBandwidthMetrics true"`.

[2019-04-30 05:01] Stebalien commented on #2413
Closing in favor of https://github.com/libp2p/go-libp2p-nat/issues/15.

[2019-04-30 05:01] #2413 closed

[2019-04-30 05:03] #2247 closed

[2019-04-30 05:33] kaysond commented on #3532
@Stebalien thanks. I'll add that to my config and see how much it helps. Is there a plan to implement said "forgetting"?

[2019-04-30 06:59] #4820 closed

[2019-04-30 07:00] Stebalien commented on #2686
Now it just prints "Error: canceled".

[2019-04-30 07:00] #2686 closed

[2019-04-30 07:01] #2535 closed

[2019-04-30 07:01] #2553 closed

[2019-04-30 07:07] Stebalien commented on #2448
Closing due to age. We've fixed several issues that could have been causing this since then (transfer speed is now pretty high on a local network, in my experience).

[2019-04-30 07:07] #2448 closed

[2019-04-30 07:08] Stebalien commented on #2411
We now test recursive resolution.

[2019-04-30 07:08] #2411 closed

[2019-04-30 07:09] Stebalien commented on #2407
Closing due to age.

[2019-04-30 07:09] #2407 closed

[2019-04-30 07:10] #2793 closed

[2019-04-30 07:11] Stebalien commented on #2834
Closing due to age.

[2019-04-30 07:11] #2834 closed

[2019-04-30 07:13] Stebalien commented on #2923
Done (enough) in `ipfs bitswap stat`.

[2019-04-30 07:13] #2923 closed

[2019-04-30 07:21] Stebalien commented on #3532
@kaysond not yet but it looks like we'll have to do that at some point. I've never seen that show up in a heap trace. You must have connected to ~0.5M (estimated) unique peers over the course of a few days.

I've filed an issue (https://github.com/libp2p/go-libp2p-metrics/issues/17) but it's unlikely to be a priority given that most systems connecting to _that_ many peers have quite a bit of memor

[2019-04-30 07:38] Stebalien commented on #3124
Well, the good news is that this now returns an error on put. The bad news is that `get` is still broken.

[2019-04-30 07:39] Stebalien commented on #2692
Documented in #6268.

[2019-04-30 07:39] #2692 closed

[2019-04-30 07:46] Stebalien commented on #1674
We now do this.

[2019-04-30 07:46] #1674 closed

[2019-04-30 07:57] #6232 closed

[2019-04-30 08:17] alanshaw commented on #5799
I've not removed the additional time we've allocated for the test to pass ;)

Looking at recent CI we've not seen it for a while.

IMHO we should close this as multiple releases have happened since reporting, we've switched CI and now use the "test" profile in tests - any one of those factors (or something completely different) could have fixed this.

I can open a new issue if I notice it again.

[2019-04-30 08:19] Stebalien commented on #3561
This should actually be fixed now.

1. We now _push_ new addresses when they change.
2. DHT nodes (once they upgrade to the next release) will _replace_ their known addresses for a peer when receiving a new set instead of adding them.
3. DHT queries only return information about directly connected peers (except for content routing but that information will expire pretty quickly).

All together, th

[2019-04-30 08:19] #3561 closed

[2019-04-30 08:19] Stebalien commented on #3506
(old discussion)

[2019-04-30 08:19] #3506 closed

[2019-04-30 08:21] Stebalien commented on #2132
We've now accepted the fact that the commands lib API is not really HTTP.

[2019-04-30 08:21] #2132 closed

[2019-04-30 08:24] Stebalien commented on #2052
(closing due to age)

[2019-04-30 08:24] #2052 closed

[2019-04-30 08:24] Stebalien commented on #2326
(not using appveyor)

[2019-04-30 08:24] #2326 closed

[2019-04-30 08:26] Stebalien commented on #5799
Yeah, I just want to make sure we don't have a weird deadlock.

[2019-04-30 08:26] #5799 closed

[2019-04-30 10:52] lidel commented on #874
Somehow related: a proposal for ipfs-desktop to automatically pick a free port is discussed in https://github.com/ipfs-shipyard/ipfs-desktop/issues/912

[2019-04-30 16:07] #2034 closed

[2019-04-30 16:17] #4258 closed

[2019-04-30 16:26] Stebalien commented on #4206
This _looks_ fixed (as in, I can't reproduce).

[2019-04-30 16:26] #4206 closed

[2019-04-30 16:44] Stebalien commented on #4146
Unfortunately, this is _not_ a bug in go-ipfs. It's Linux reacting to a possible DoS:

[code]

You can disable syn cookies with:

[code]

(or by setting `net.ipv4.tcp_syncookies`)

(but I don't recommend it)

[2019-04-30 16:44] #4146 closed

[2019-04-30 16:46] Stebalien commented on #3800
Closing as "won't fix". We're hoping to ship UnixFSv2 soon so this should become a thing of the past.

[2019-04-30 16:46] #3800 closed

[2019-04-30 16:47] Stebalien commented on #3913
(fixed)

[2019-04-30 16:47] #3913 closed

[2019-04-30 16:48] #4367 closed

[2019-04-30 16:48] Stebalien commented on #4495
All done.

[2019-04-30 16:48] #4495 closed

[2019-04-30 16:56] Stebalien opened #6279 "Hung datastore query"
#### Version information:

[code]

#### Type:

- bug

#### Description:

I noticed a hung datastore query that we should probaly look into:

[code]

Full trace: https://gist.github.com/Stebalien/8683bd8c0f79862348e6d3ca04f0993b
Deps: https://gist.github.com/Stebalien/1bea0391eec09889a3bb3b31643b8e4b

[2019-04-30 17:47] kaysond commented on #3532
I set up a node mainly to serve a single website from ipfs, so the less memory it uses the cheaper my VPS can be.

I'm skeptical that the site draws that much traffic... so I guess its just the nature of being connected to the swarm? The node isn't exactly a public gateway, so I'm not sure what caused all of the connections.

I'll try it with that option and see what happens.

[2019-04-30 17:54] Stebalien commented on #3532
Probably the DHT.

[2019-04-30 18:09] Stebalien commented on #6166
@requilence could you try the latest master?

[2019-04-30 19:36] #6279 closed

[2019-04-30 21:55] sanderpick commented on #6237
I'm seeing similar behavior on some of our gateways running embedded go-ipfs@0.4.20. The pattern seems to be:

1) Slightly higher than "normal" memory usage (20%-ish)
2) A period of very high CPU usage (GC?) with steadily increasing memory usage
3) Normal CPU usage, memory usage flat but now higher

That repeats until the machine is OOM. If I run a brand new go-ipfs peer (not embedded in textile),

[2019-04-30 22:00] sanderpick commented on #6237
Ok, I was able to grab a full collection captured during high CPU:

https://s3-us-west-1.amazonaws.com/textile-profiles/dev/textile-profile-ip-172-31-12-235.us-west-1.compute.internal-2019-04-30T21%3A54%3A17%2B0000.tar.gz

[2019-04-30 23:59] Stebalien commented on #2395
Fixed.

[2019-04-30 23:59] #2395 closed

[2019-05-01 00:00] Stebalien commented on #3644
Fixed. One source of this, at least, was NAT hole punching.

[2019-05-01 00:00] #3644 closed

[2019-05-01 00:06] #4574 closed

[2019-05-01 00:07] Stebalien commented on #4483
(closing due to age; please file a new issue if you see this again)

[2019-05-01 00:07] #4483 closed

[2019-05-01 00:08] #4447 closed

[2019-05-01 03:50] Stebalien commented on #6237
@sanderpick, your issue looks like an issue we just fixed in master concerning provider records. Could you try the latest master?

The file descriptor issue looks like a separate issue (at least nobody has reported that the latest master fixes it).

[2019-05-01 03:58] Stebalien opened #6283 "Reduce the impact of the DHT"
Currently, all nodes participate as full DHT servers by default. Unfortunately, this means:

1. We have a lot of crappy unreachable DHT servers.
2. I have to repeatedly tell users to run their client with `ipfs daemon --routing=dhtclient` because the DHT is causing the network to DoS their system.

Related work:

* Connect to fewer peers when querying (https://github.com/libp2p/go-libp2p-kad-dht/p

[2019-05-01 06:03] kishansagathiya commented on #6269
May be two more
https://github.com/ipfs/ipfs-cluster/pull/768#discussion_r280001535
https://github.com/ipfs/ipfs-cluster/pull/768#discussion_r280010178

[2019-05-01 07:20] vyzo commented on #6283
If we get a laptop profile, we might want to enable autorelay by default for it as well.

[2019-05-01 07:31] vyzo commented on #6283
This might be unreasonable, we might want to have this be `dht` by default until we have the magic option to switch dynamically.

[2019-05-01 12:32] leerspace commented on #6166
I think I'm hitting an issue similar to this where at some point connection counts start climbing rapidly past the default `HighWater` threshold; but I don't have the exact same configuration. While I have `EnableAutoRelay = true`, I have **`EnableRelayHop = false`**; I also have QUIC enabled.

Should I create a separate issue? Or would it be worth upload the debug logs (_e.g.,_ heap dump, stacks,

[2019-05-01 15:18] obo20 commented on #6283
I'm in favor of defaulting people to dhtclient for now. This point specifically resonates with me:

My thoughts are that most people who would opt-in to be a DHT server would have somewhat of an idea what they're doing, and the nodes opting in would likely be more stable as they're intentionally configured to redistribute content.

[2019-05-01 15:31] teran-mckinney commented on #3434
This would be pretty useful. Should have an API key at a minimum for writing changes.

[2019-05-01 15:52] Stebalien commented on #5046
Which code?

---

Could you run `curl 'http://localhost:5001/debug/pprof/goroutine?debug=2'`?

[2019-05-01 16:19] teran-mckinney opened #6284 "server profile should not include non-global IPv6 ranges"
#### Version information:

[code]

#### Type: bug

#### Description:

If you have a private IPv6 address, say such as fec0::, ipfs will announce this. If you do `ipfs init --profile server`, there's a very hefty list of IPv4s to avoid, but not the same for IPv6.

https://en.wikipedia.org/wiki/Reserved_IP_addresses#IPv6

This seems like a pretty easy patch to write up. If you can confirm this is no

[2019-05-01 16:29] Stebalien commented on #6166
@leerspace please file a new issue. Also, try disabling the DHT with `--routing=dhtclient` (your node may now be dialable where it wasn't before).

[2019-05-01 16:30] Stebalien commented on #6166
I'm going to close this issue as "solved" for now. If that's not the case, please yell and I'll reopen it.

[2019-05-01 16:30] #6166 closed

[2019-05-01 17:01] Stebalien commented on #6284
Long discussion here: https://github.com/libp2p/go-libp2p/issues/436

---

But yes, the server profile should block all non-routable addresses. Patches most welcome! (https://github.com/ipfs/go-ipfs-config/blob/master/profile.go)

[2019-05-01 17:27] teran-mckinney commented on #6284
Thank you! I went ahead and opened a pull request.

https://www.iana.org/assignments/iana-ipv6-special-registry/iana-ipv6-special-registry.xhtml

I had pretty mixed feelings on what to add. We could have Teredo, 6to4, etc. But I think that could break desired connectivity in some cases. I hope this is at least a start.

I can see the swarm announcements being a potential privacy issue as well. Esp

[2019-05-01 18:32] Stebalien commented on #6284
That's a good enough start for now. We can always adjust this later.

I agree. That's a large part of that libp2p issue I listed.

[2019-05-01 18:46] Stebalien commented on #3434
We should add support for [tokens](https://github.com/ipfs/go-ipfs/issues/1532) but we're always going to have to expose the API _somewhere_.

Given that unix domain sockets _also_ has it's own [issue](https://github.com/ipfs/go-ipfs/issues/4218). I'm going to close this one (as simply disabling the API entirely isn't really an option).

[2019-05-01 18:46] #3434 closed

[2019-05-01 18:51] leerspace opened #6286 "Connection counts climbing far past HighWater setting"
#### Version information:

[code]

#### Type:
bug

#### Description:

While using my node, the connection counts started climbing rapidly past the `HighWater` connection setting and seemed to be stuck in a climb -- reaching 2000+ connections before I shutdown the daemon (see `ipfs.peers` file in link below). At the time of the connection count climb I think I was pinning a few hashes and publishin

[2019-05-01 18:53] vyzo commented on #6286
Have you recently advertised as a relay _hop_ with autorelay?
The provider record stays for 24hrs, and that would certainly inundate you with new connections.

[2019-05-01 18:56] leerspace commented on #6286
@vyzo Assuming I would do that using the `EnableRelayHop`, I have not done that on this node as far as I can remember (I'd say 99% sure).

[2019-05-01 19:23] teran-mckinney commented on #6284
Gotcha. Thank you for merging!

[2019-05-01 19:26] teran-mckinney commented on #1532
I know this is a fairly old issue. Is this still how the API is? POST, DELETE, PUT, etc, should be used for modifying requests. Not GET. Would be another way to improve this as well.

[2019-05-01 20:09] Stebalien commented on #6283
SGTM.

My thinking is that, at the moment, the DHT is too much overhead even for the average desktop. Fixing the issues I noted the issue description will help with that but, IMO, not even desktops should be DHT nodes till then.

Exactly.

[2019-05-01 20:29] Stebalien opened #6287 "Move bootstrap logic to DHT"
Really, each service should maintain a list of bootstrap peers for that service. The point of bootstrapping isn't to connect to some random nodes, it's to join the DHT.

Motivation: more and more peers are using the DHT in client mode. That means we need to re-bootstrap even if we _have_ connections because we need to maintain at least one connection to at least one DHT node.

P0 because my node i

[2019-05-01 20:29] Stebalien commented on #6283
Requires https://github.com/ipfs/go-ipfs/issues/6287.

[2019-05-01 20:30] Stebalien commented on #6287
See: https://github.com/libp2p/go-libp2p-kad-dht/issues/193

[2019-05-01 20:31] vyzo commented on #6283
My concern is that we might end up with a DHT that is vastly undersized for the scale of the network.

[2019-05-01 20:44] Stebalien commented on #6283
I agree although I think we'll get that simply by defaulting to the "laptop" profile. However, I'd be fine defaulting the desktop profile to "dht" at first (for a slower transition).

[2019-05-01 20:53] #6284 closed

[2019-05-01 20:57] Stebalien commented on #6286
@leerspace could you post the output of `ipfs swarm peers -v`?

[2019-05-01 21:36] #6252 closed

[2019-05-01 22:26] Stebalien opened #6290 "Enable AutoRelay by default"
Dependencies:

* [ ] An AutoRelay sharness test.
* [ ] An AutoNAT sharness test.

[2019-05-02 00:46] sanderpick commented on #6237
Thanks, @Stebalien. Master is looking a lot better.

[2019-05-02 03:34] aschmahmann opened #6291 "IPNS over PubSub Publish speed decreased"
#### Version information:
Baseline: go-ipfs version: 0.4.19-
Repo version: 7
System version: amd64/windows
Golang version: go1.11.5

Slow: go-ipfs version: 0.4.20-
Repo version: 7
System version: amd64/windows
Golang version: go1.12.4

Still Slow: go-ipfs version: 0.4.21-dev-648fa3aac
Repo version: 7
System version: amd64/windows
Golang version: go1.12

#### Type:
bug

#### Description:
I ran the

[2019-05-02 03:59] Stebalien commented on #6291
So... I believe this is because https://github.com/libp2p/go-libp2p-peerstore/pull/67 and the fact that we end up trying to dial all the peers. Before 0.4.20, we'd simply _fail_ to dial this long tail of peers as the addresses will have expired by the time we get to them.

Hm. This could also explain some of the "too many connections" issues we've been seeing.

Could I get a full trace?

[2019-05-02 04:31] thomas-gardner commented on #2583
@Stebalien, what's the diff for your edit? obviously I have no recollection of writing the response.

[2019-05-02 04:47] Stebalien commented on #2583
Adding a newline between the quote and your comment, IIRC.

[2019-05-02 05:12] aschmahmann commented on #6291
@Stebalien: The state during my 8 minute run (collected with curl 'localhost:5001/debug/pprof/goroutine?debug=2') is here: https://gist.github.com/aschmahmann/6b1c9bfb356c77276e1850ed2695c331

Happy to provide more logging info if you give me some direction.

Also, I suspect you are correct and that this is related to dialing/searching the DHT (and continuously searching for the long tail of peers

[2019-05-02 05:25] Stebalien commented on #6291
Yeah, it's stuck in the query runner. I'm going to hide tomorrow and finish a PR.

[2019-05-02 08:20] hsanjuan commented on #6237
I have no tried with "normal" machines (or not long enough). I can say that the file descriptors are stable at around 5000-6000 after a couple of days on the cluster. About 60% of them on badger files and the rest are swarm connections.

[2019-05-02 08:30] koalalorenzo commented on #6237
@hsanjuan Thx! Sadly I can't ask [Orion](https://orion.siderus.io) users to use 64GB of RAM.

I will wait for a fix before upgrading [Orion](https://orion.siderus.io) to `v0.4.2x`. I guess that might impact the user experience, if the issue persists.

On the [siderus.io](https://siderus.io/) gateway I have found a workaround but the problem persists in the logs. Any ETA on the fix? I will build th

[2019-05-02 08:43] hsanjuan commented on #6237
@koalalorenzo The 64GB of RAM are because those machines handle 2TB+ of repository size, but except some spikes, half of the RAM is unused.

The workaround here is to either increase the FD limit from the default (see post above from @sanderpick), or reduce the ConnManager limits so there are less connections or play with the badger configuration so it opens less files (I haven't tried this but I

[2019-05-02 09:19] koalalorenzo commented on #6237
0.4.19 have been working better compared to 0.4.20. I tried to set the env variable `IPFS_FD_MAX` to 65536, but nothing changed (after 6h of running the problem persists). My workaround is relaying on a LB, and I would like to not rely on changing settings. I am using "out of the box" conf from IPFS, as I would like to help debug this if needed. :-)

Any ETA on the release of this fix? (I still ne

[2019-05-02 09:38] hsanjuan commented on #6237
For that to work you probably also need to increase the FD hard limit in the system (`ulimit` etc). ipfs prints an error if it cannot set the given IPFS_FD_MAX during boot. But a more conservative value of 8000 should be enough.

[2019-05-02 11:06] Kubuxu commented on #1532
@teran-mckinney this won't work because of CORS.

[2019-05-02 13:04] koalalorenzo commented on #6237
Any ETA on the release of this fix?

[2019-05-02 14:22] leerspace commented on #6286
I didn't think to get verbose output from `swarm peers` before; but once I notice it happening again I'll grab it and add it to this issue.

[2019-05-02 16:35] #6269 closed

[2019-05-02 17:37] Stebalien commented on #6237
I'm not even sure what's causing this.

My theories are:

1. Some change in the datastore query logic. I actually made quite a few changes so this _sounds_ reasonable but I haven't yet seen any file descriptor lists that would indicate this. @hsanjuan has a lot but he also has a _lot_ of data.
2. The network is more chatty. This probably _isn't_ the case as that should also affect 0.4.19. Well, ac

[2019-05-03 02:31] suutaku commented on #5046
@Stebalien
file path:
`github.com/whyrusleeping/gx/ipfs/QmTWEDbLX2d4NiMgPks6J2crRz47BamBtP16WiFuTL6Ydm/common/config/http_config.go`

and

`curl 'http://localhost:5001/debug/pprof/goroutine?debug=2'`

`goroutine 81222407 [running]:
runtime/pprof.writeGoroutineStacks(0x2fc3e30, 0xc00fa42dc0, 0x100db7f, 0xc007bd0b10)
	/usr/local/Cellar/go/1.11.1/libexec/src/runtime/pprof/pprof.go:678 +0xa7
runtime/p

[2019-05-03 02:46] leerspace commented on #6286
I got this to happen again to some extent (2000+ peers), but I think this is probably just a duplicate of #6283.

Here's the `ipfs swarm peers -v` output in case I'm wrong (see 1556850569 for example, file names are unix timestamps from `date +%s`): https://ipfs.io/ipfs/QmSzBfiMwU5ChkMtZpFbUtWWXQPQBhbPSg6kh5GZQxBx6x

I should probably be using `ipfs daemon --routing=dhtclient` on this node as sugg

[2019-05-03 02:46] #6286 closed

[2019-05-03 03:46] Stebalien commented on #5046
That stack trace isn't from 0.4.21-dev-0189ff820. Are you sure you updated your _server_ and aren't just using a new client? It looks like you're running a custom build between 0.4.18 and 0.4.19.

We don't use that code. You'll have to call `server.SetKeepAlivesEnabled(false)` after: https://github.com/ipfs/go-ipfs/blob/7e9eb72bfc1ccbf6f3b7eef073936f00c775b820/core/corehttp/corehttp.go#L93-L95

--

[2019-05-03 03:56] Stebalien commented on #6286
Unfortunately, we don't (yet) have anything to simply _stop_ new connections. Libp2p needs to feed the connection manager down through to the transports themselves.

But still, that's a _lot_ of inbound connections.

[2019-05-03 06:16] 0zAND1z commented on #862
This feature would be really helpful.
What is the progress on this one @whyrusleeping @jbenet  ?

[2019-05-03 06:26] postables opened #6294 "Occasional Invalid JSON Response From Logging API"
#### Version information:
go-ipfs version: 0.4.20-
Repo version: 7
System version: amd64/linux
Golang version: go1.12.4

#### Type: Bug

#### Description:

Occasionally when pulling logs from the API call `log/tail` responses given will be invalid json or will not unmarshal properly.

Some of the responses will look like this when unmarshaled into a `map[string]interface{}` type.
[code]

However d

[2019-05-03 08:54] suutaku commented on #5046
oh, sorry. I have 6 devices running ipfs Damon. it's  0.4.20-dev.

by added `server.SetKeepAlivesEnabled(false)` after
`server := &http.Server{
 	Handler: handler,
 } `
problem solved.
thank you. ipfs is really cool!

[2019-05-03 09:34] BillDStrong commented on #6283
Keeping this as a stop gap measure sounds fine. As an experimenting user, I don't want to know about all of this.

To prevent an undersized DHT I would suggest a simple test of the users hardware resources at first run. Declare some minimum threshold, and if the user exceeds that threshold, ask the user if they would like to enable some services to keep the network healthy.

You would want to over

[2019-05-03 17:31] Stebalien commented on #862
There hasn't been any progress.

[2019-05-03 17:42] Stebalien commented on #5046
I'd double check that. I'm pretty sure you're running 0.4.19-dev (i.e., pre 0.4.19).

---

Glad to hear that fixes it! FYI, if you have _that_ many connections to your IPFS instance, you may want to consider sticking an nginx reverse proxy out in front. That'll keep _one_ http connection to go-ipfs and will manage connections to the client for you.

[2019-05-03 21:31] Stebalien commented on #6294
This looks like https://github.com/ipfs/go-ipfs-api/pull/180. `json.Decoder` buffers internally so it's probably throwing away part of the next line.

[2019-05-03 21:53] postables commented on #6294
ah I see, let me try implementing the pubsub style decoder for the logger in [ipfs/go-ipfs-api#179](https://github.com/ipfs/go-ipfs-api/pull/179). If that works then this is definitely due to a bug in the code I'm writing, and I will close this issue.

[2019-05-03 22:13] postables commented on #6294
Update: it definitely was due to the way I was decoding the log streams. After making the fix I am no longer receive this error.

[2019-05-03 22:13] #6294 closed

[2019-05-04 16:12] suutaku commented on #5046
I think problem solved yesterday .... but now, it come agin.  One request from local app per second. about 10 minutes, CLOSE_WAIT go to 300+.  it is some kind of leak?
about your suggestion. add a nginx to every device is not a good solution for me.
please take a look agin and thank you.

[2019-05-05 07:51] suutaku opened #6295 "Too many CLOSE_WAIT after access via http api"
#### Version information:
`JohnSuus-MacBook-Pro-4:build john$ ipfs version --all
go-ipfs version: 0.4.21-dev-7e9eb72bf
Repo version: 7
System version: amd64/darwin
Golang version: go1.12.4`

#### Type:

##### Bug

#### Description:

Running ipfs daemon on Mac OS X 10.13.6.
Access` 127.0.0.1:5001/api/v0/xxxxxx` once per second. after about 10 minute, running
`sudo losf -nP -iTCP:5001`
I got 300+ TC

[2019-05-05 15:33] dokterbob opened #6296 "`handleAddProvider` messages don't appear in log tail after some time"
#### Version information:
[code]

#### Type: bug

#### Description:
In order to index items, at [ipfs-search](https://ipfs-search.com), we're continuously tailing the logs and filtering for `handleAddProvider` messages through the following command:
`ipfs log tail | jq -r 'if .Operation == "handleAddProvider" then .Tags.key else empty end'`

It seems that, with 0.4.19 as well as 0.4.20 (and possib

[2019-05-05 17:15] dokterbob opened #6297 "Runaway connections/resources"
#### Version information:

[code]
#### Type: bug

#### Description:

Running a high-load node ([ipfs-search.com](https://ipfs-search.com) crawler), we've been seeing sudden seemingly exponential growth in connection counts, paired with equal increases in connection count (after which our memlimit kills `go-ipfs` at 12G(!), which is the sudden recovery in the graph).

![ssp_temp_capture](https://us

[2019-05-05 18:17] remmerw opened #6298 "Output Issue in "ipfs ping""
#### Version information:

#### Type: Release 0.4.20

- "bug": Using `ipfs ping --enc=json --count=1 QmRZq4kheCH3R4NHjeJpd5b17JkRdDSBTYMLtuYtjjfxxx`

(changed PID)

#### Description:
Testing the output and function of ipfs ping
Example:
`ipfs ping --enc=json --count=1 QmRZq4kheCH3R4NHjeJpd5b17JkRdDSBTYMLtuYtjjfxxx`

Ping Scenario: (2 Nodes)
One Node pings the second node (QmRZq4kheCH3R4NHjeJpd5b17

[2019-05-05 18:25] dokterbob commented on #6297
Possibly related: https://github.com/ipfs/go-ipfs/issues/6237

[2019-05-05 18:28] dokterbob commented on #6214
We've been waiting for *any* sort of progress on UnixFS for a *very* long time. It's starting to get to the point where I'd rather have something that works now than something that is always at some point in the future. Specifically: mimetype support.

[2019-05-05 19:22] ItalyPaleAle commented on #6214
I am not very familiar with UnixFSv2, but echoing @dokterbob I am wondering too why this would have a dependency on that?

[2019-05-06 04:12] 5685C4A059D5 commented on #6297
I'm having a similar issue, on 0.4.19
I have highwater set to 500, but overnight the peer count had gone over 8000.
Probably the only thing stopping it from going higher is the limit on open files (8192).

[2019-05-06 08:14] suutaku commented on #6295
### update
I found CLOSE_WAIT only happens on invalid access. for example, client side reach the timeout, terminate the connection and have not receive  response  from daemon.
I tested  command of IPFS HTTP API.
by add `progress=true` flag to `/pin/add` command, no `TIME_WAIT` happen even the hash is invalid.
but commands like `pin/rm` have no flag like `progress` , so it still `TIME_WAIT` when cl

[2019-05-06 08:33] mNizhurin opened #6299 "Mobile support for go-ipfs"
I want to have possibility to start IPFS node on mobile device to have faster and stable access to my data.

The problem of current version is described here:
https://github.com/golang/go/issues/31737
I have tested only iOS version. As you can see there is nothing I can do with framework because of unsupported types in return values or inside methods.

I want to have interface module which will wo

[2019-05-06 09:59] AndreaCensi commented on #6271
I also observed this same behavior.

The workaround is to run `ipfs swarm connect` periodically.

Note: this also happens when the two nodes were synchronizing data between the two of them. The connection was heavily used! (10 MB/s)

Behavior was the same in both directions. (one connecting to the other and viceversa)

[2019-05-06 10:50] magik6k commented on #6298
Relevant code if anyone wants to dig into this - https://github.com/ipfs/go-ipfs/blob/master/core/commands/ping.go#L142

[2019-05-06 18:13] Stebalien commented on #6295
Wait, are you seeing `TIME_WAIT` or `CLOSE_WAIT`?

[2019-05-06 19:01] momack2 opened #6302 "Re-license go-ipfs to MIT + Apache 2"
@ianjdarrow has done some research into open-source licensing and determined that dual-licensing as MIT and Apache 2 is a best practice. Quoting from his writing elsewhere:

### What we need to do:
I have updated the licenses in https://github.com/ipfs/go-ipfs/pull/6301, the next step is to get an explicit OK from our current and past contributors to consent to the relicensing. To keep track of th

[2019-05-06 19:28] Mikaela commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

(Even if I only added two words and an URL to one file in https://github.com/ipfs/go-ipfs/commit/4470b83644ac72e79171a3aee6c5e5cf1bbb3643, so I don't think my approval is very important.)

[2019-05-06 19:28] MichaelMure commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2019-05-06 20:17] lidel commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-06 20:29] dignifiedquire commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2019-05-06 20:59] torarnv commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-06 20:59] andrew commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-06 21:01] Zanadar commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-06 21:05] noffle commented on #6302
This is fine by me.

[2019-05-06 21:31] Stebalien commented on #6271
https://github.com/libp2p/go-libp2p-connmgr/pull/39 may help.

[2019-05-06 21:41] Kcchouette commented on #5737
I have this bug after ~20 minutes of starting IPFS through go-ipfs (ipfs version 0.4.20).

I don't know if I have another daemon mDNS, but I only have one instance ipfs started and have this problem.

[2019-05-06 21:58] chriscool commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-06 22:52] sanderpick commented on #5530
@rob-deutsch - Apologizes for the off-topic question, but I'm doing some digging myself and am curious how you're visualizing / grokking the output of `debug.WriteHeapDump`. The methods outlined [here](https://github.com/golang/go/wiki/Performance#heap-dumper) seem to be out of date and there's very little info on the webs.

[2019-05-06 23:14] rob-deutsch commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-06 23:22] wking commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

Although future contributions would be covered by the usual docs, right?  So I don't think my commitment for future contributions matters as far as this PR goes.

[2019-05-06 23:22] marten-seemann commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2019-05-07 00:43] rob-deutsch commented on #5530
@sanderpick - If I recall correctly, I wrote a small Go program to parse the heap dump according to [this doc](https://github.com/golang/go/wiki/heapdump15-through-heapdump17). I did not end up using this in my analysis, because it just didn't have the depth of information I wanted/needed.

My analysis here was done using runtime.MemStats, pprof, and Prometheus. `go-ipfs` had very nice integration

[2019-05-07 00:59] dirkmc commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 01:35] RichardLitt commented on #6302
Thanks, @momack2.

Can you explain why MIT is not sufficient anymore?

[2019-05-07 02:14] sanderpick commented on #6299
You can leverage IPFS via one of Textile's mobile (iOS/Android/React Native) clients: https://docs.textile.io/#integrate-into-your-apps

[2019-05-07 02:24] sanderpick commented on #6297
I'm see the same connection runaways. Attaching some profiles from a machine that had about ~12k peers in its swarm (`HeapSys` near 3g), ~70,000 goroutines. This is with `EnableRelayHop` off.

A machine will be totally fine until it starts taking on tons of connections, as if it’s discovered by a rogue swarm (too dramatic?). Once that happens, it’s just a matter of time before it goes under w/ OOM

[2019-05-07 02:25] suutaku commented on #6295
I'm sorry!  typing miss. It's `CLOSE_WAIT` !!!!!!!

[2019-05-07 03:21] kpcyrd commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 03:51] mNizhurin commented on #6299
I  want to use this project because it have better community and support for the future.

[2019-05-07 05:12] sanderpick commented on #6299
It's not orthogonal to this project. In any case, you can see how go-ipfs is exposed to an iOS framework.

[2019-05-07 05:20] sanderpick commented on #5530
Okay cool, thanks for the info 👍

[2019-05-07 05:42] rafaelekol opened #6303 "Slow at swarm connect on mobile device"
IPFS version: 0.4.20
Type: Bug
Description:
I am trying using IPFS in Android app. I managed to start Daemon and fetch json files via IPNS.
My actions are like this: First I start Daemon, then I do swarm connect to our Peer. Then I try to fetch json file via IPNS like this
`http://127.0.0.1:5001/api/v0/cat?arg=/ipns/peer_hash/rates/latest/USD/index.json`
These actions can take about 3 minutes. The

[2019-05-07 05:46] daviddias commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2019-05-07 05:46] daviddias commented on #6302
Btw, [great post explaining the **Permissive License Stack**](https://protocol.ai/blog/announcing-the-permissive-license-stack/)

@RichardLitt ^^

[2019-05-07 05:59] Luzifer commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 06:17] alanshaw commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 06:18] lanzafame commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 06:33] overbool commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 09:35] mNizhurin commented on #6299
Problem that exposed part has unsupported types. Wish to see those parts made with https://godoc.org/golang.org/x/mobile/cmd/gobind#hdr-Type_restrictions

I wonder if I can wait for such type-oriented update or try another not so good approach?

[2019-05-07 09:56] whyrusleeping commented on #6297
Aside from the random connection spike being really bizarre (we should investigate this) we should probably start looking at hard limits on connections. We've avoided doing it before now because it gets really messy when reasoning through DoS protection, but I think having some *true maximum* above the high water mark makes good sense. Some open questions include:
- do we disallow outbound dialing

[2019-05-07 09:57] cryptix commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 10:01] dokterbob commented on #6297
I've been arguing before and I am going to argue again that we should have hard internal resource constraints. I think it's really bad design if any daemon will just swallow up infinite system memory until the OOM kills it, it should really listen to OS' signals and/or have its internal resource management - particularly for something as resource hungry as IPFS.

Also note that this event takes pl

[2019-05-07 10:02] keks commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 10:07] vyzo commented on #6297
Have you been looking at the _kernel_ memory through `smem`?
We have observed sudden spikes of kernel memory in a development relay that kills the process, even if the userspace memory usage is stable.

[2019-05-07 10:12] dokterbob commented on #6297
The memory graph above is strictly the IPFS daemon's systemd slice. Not sure if that includes kernel allocations, but it seems to be that it shouldn't (perhaps I'm wrong though).

[2019-05-07 11:01] achingbrain commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 11:03] lidel commented on #1807
I believe this can be closed as the issue should solved in the latest webui:
https://github.com/ipfs-shipyard/ipfs-webui#configure-ipfs-api-cors-headers

[2019-05-07 15:55] MichaelMure opened #6304 "pin ls should stream the result"
#### Version information:
go-ipfs version: 0.4.20-
Repo version: 7
System version: amd64/linux
Golang version: go1.12.4

#### Type: enhancement

#### Description:

`pin ls` build the full result before starting to send the result. With a big repository (~1TB, millions of recursive pins), this means that the command start to output something after one hour.

It should be entirely possible to stream

[2019-05-07 16:22] eingenito commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2019-05-07 16:47] whyrusleeping commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 16:51] dylanPowers commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 17:11] Kubuxu opened #6305 "Release v0.4.21"
Even though the last release was 21 days ago, a large number of important fixes prompt release of 0.4.21.

Key Features:
  -  raise default fd limit to 8192 ([ipfs/go-ipfs#6261](https://github.com/ipfs/go-ipfs/pull/6261))

Key Fixes:
-  add: Fix adding multiple files ([ipfs/go-ipfs#6255](https://github.com/ipfs/go-ipfs/pull/6255)
)

TODOs:
...

[2019-05-07 17:38] kevina commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 17:49] Stebalien commented on #1807
Thanks!

[2019-05-07 17:49] #1807 closed

[2019-05-07 18:51] Kubuxu commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 19:05] pfista commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2019-05-07 20:46] kulla commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 20:51] #5577 closed

[2019-05-07 20:51] Stebalien commented on #5272
I haven't seen this in ages.

[2019-05-07 20:51] #5272 closed

[2019-05-07 20:52] #4565 closed

[2019-05-07 20:52] Stebalien commented on #4487
We're going to go with opencensus.

[2019-05-07 20:52] #4487 closed

[2019-05-07 20:57] Stebalien commented on #4906
Is there anything left here?

[2019-05-07 20:58] Stebalien commented on #4908
This is probably as fast as it's going to get for the foreseeable future.

[2019-05-07 20:58] #4908 closed

[2019-05-07 21:43] djdv commented on #4906
We have the ability to add and traverse links while adding, but we don't have a strategy merged for extracting links.
The major problem is that on Windows, we need to know what the symlinks target type is, at creation time. But we have no way to know that.
The other issue is extracting files from IPFs that have platform illegal names.
We have to decide on the expected behavior for platform specifi

[2019-05-07 22:03] tv42 commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-07 22:15] Stebalien commented on #4906
Got it.

[2019-05-07 22:50] Stebalien commented on #6298
We should be returning errors from ping. PR: https://github.com/libp2p/go-libp2p/pull/626

[2019-05-07 23:42] Stebalien commented on #2994
Closing due to age.

[2019-05-07 23:42] #2994 closed

[2019-05-07 23:46] Stebalien commented on #6299
@mNizhurin I recommend you take a look at Textile's work, they've put a lot of effort into making go-ipfs work on mobile platforms.

The tracking issue for go-ipfs on iOS is here: https://github.com/ipfs/go-ipfs/issues/1126. You may also be interested in https://github.com/kjaylee/ios-ipfs-api (not sure about its current state).

Closing in favor of the the tracking issue.

[2019-05-07 23:46] #6299 closed

[2019-05-07 23:46] ajbouh commented on #4908
Hi @stebalien, do you mind quantifying how fast things are now?

[2019-05-07 23:46] Stebalien commented on #6299
(feel free to continue discussing here, I'm just closing this to make it easier to track)

[2019-05-08 03:48] suutaku commented on #6295
@Stebalien
after check the source code. if client reach the timeout,  IPFS hang on `serverHandler{c.server}.ServeHTTP(w, w.req)` at ` net/http/server.go:1884`.
I think is IPFS handleFunc's bug?

[2019-05-08 05:36] kjzz commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-08 06:34] hazae41 opened #6306 "Config: use YAML or TOML instead of JSON"
#### Type: enhancement

#### Description:
Let's make a comparison of the IPFS config in JSON and in YAML

YAML

	API:
	  HTTPHeaders:
		Access-Control-Allow-Methods:
		- PUT
		- POST
		- GET
		Access-Control-Allow-Origin:
		- "*"
	Addresses:
	  API: "/ip4/127.0.0.1/tcp/5001"
	  Announce: []
	  Gateway: "/ip4/127.0.0.1/tcp/8080"
	  NoAnnounce: []
	  Swarm:
	  - "/ip4/0.0.0.0/tcp/4001"
	  - "/ip6/::

[2019-05-08 06:39] hazae41 commented on #6306
TOML can be a good replacement as well

	Bootstrap = [
	  "/dnsaddr/bootstrap.libp2p.io/ipfs/QmNnooDu7bfjPFoTZYxMNLWUQJyrVwtbZg5gBMjTezGAJN",
	  "/dnsaddr/bootstrap.libp2p.io/ipfs/QmQCU2EcMqAqQPR2i9bChDtGNJchTbq5TbXJJ16u19uLTa",
	  "/dnsaddr/bootstrap.libp2p.io/ipfs/QmbLHAnMoJPWSCR5Zhtx6BHJX9KiKNN6tpvbUcqanj75Nb",
	  "/dnsaddr/bootstrap.libp2p.io/ipfs/QmcZf59bWwK5XFi76CZX8cbJ4BhTzzA3gU1ZjYZcYW3dwt

[2019-05-08 06:41] hazae41 commented on #6306
YAML for Go https://github.com/go-yaml/yaml

YAML for JavaScript https://github.com/nodeca/js-yaml

[2019-05-08 07:36] bertrandfalguiere commented on #6306
I guess it should be possible to convert a YAML or TOML file into a JSON on-the-fly so that the user can use either format.

[2019-05-08 09:08] AndreaCensi opened #6307 "`ipfs dag get` behavior for nodes that were not added explicitly using `dag put`"
#### Version information:

[code]

Also reproduced on version 0.4.19 and on linux machines.

#### Type:

bug

#### Description:

I encountered a behavior that I didn't expect with the combination of `ipfs block put` and `ipfs dag get`.

In short: I create a DAG node on IPFS node `N1`. A second IPFS node `N2` can see and retrieve
the *block*, but it cannot retrieve the DAG node. From the spec I exp

[2019-05-08 14:41] magik6k commented on #6305
I'd vote for including https://github.com/ipfs/go-ipfs/pull/6300 (base32 for cidv1) in this release

[2019-05-08 15:09] magik6k commented on #6304
I picked this up at one point - https://github.com/ipfs/go-ipfs/pull/5005, but it's so outdated that it's probably easier to redo this from scratch

[2019-05-08 16:24] Stebalien commented on #6305
Works for me but we'll need to wait for js-ipfs.

[2019-05-08 17:02] Stebalien commented on #6237
So, I've finally reproduced this on one of our machines and it looks like we're getting a bunch of _inbound_ connections.

So, the question is, _is_ this a regression? Does downgrading actually help? It could actually be 4 from above but be a client-side issue where our clients are now DOSing the network, connecting to all DHT nodes.

[2019-05-08 17:20] Stebalien commented on #6237
Nevermind, I think this _is_ a bug.

[2019-05-08 17:57] obo20 commented on #6305
I'd like to see https://github.com/ipfs/go-ipfs/pull/6266 included in this if possible.

[2019-05-08 18:02] obo20 commented on #6237
@Stebalien It might be interesting to note that a node of mine running 0.4.19 ran into this last night. The issue only seemed to last very briefly, as the node quickly recovered.

So it seems like this issue is possible on past nodes, however reverting from 0.4.20 somehow makes it happen less often.

[2019-05-08 18:13] Stebalien commented on #6295
Could you run `curl http://127.0.0.1:5001/debug/pprof/goroutine?debug=2 > goroutines' and upload the result? That'll tell me where it's getting stuck.

[2019-05-08 20:33] AndreaCensi commented on #6307
Thanks! Everything works as expected when the `cbor` format is specified.

[2019-05-08 21:16] magik6k commented on #6307
The issue is basically https://github.com/ipfs/go-ipfs/issues/5231 (https://github.com/ipfs/go-ipfs/pull/5285 partially addresses it, but only for cid0v-cidv1 with batching codecs) - tl;dr we address blocks by CIDs, not multihashes

As you can see in https://cid.ipfs.io/#zdpuAxm8CKxE6NDM52feyqpfzzY8mX6pkbS3YujhvbU6Yf9xt, the CID you get from `dag put` has a different codec from what you get after

[2019-05-08 21:16] RichardLitt commented on #6302
Thanks, @daviddias. That was some very useful context.

I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-08 21:16] #6307 closed

[2019-05-09 00:50] Stebalien commented on #6237
So, I've found _an_ issue which is likely the cause (although I'm not entirely sure what's new). Basically, the connection manager gets stuck closing connections because some of the connections are hanging on close.

Fix incoming.

[2019-05-09 02:20] suutaku commented on #6295
[http://www.cotnetwork.com/goroutines](url)
ipfs version 0.4.21-dev

[2019-05-09 02:50] Stebalien commented on #6295
Were you reproducing the issue when you ran `curl http://127.0.0.1:5001/debug/pprof/goroutine?debug=2 > goroutines`? I'm not seeing anything stuck in `ServeHTTP`.

[2019-05-09 03:17] suutaku commented on #6295
client (curl) was quit. but ServeHTTP for client request still running (for a long time). At this time, TCP was CLOSE_WAIT on server side.

[2019-05-09 04:24] Stebalien commented on #6295
I see. So the bug is specifically with `ipfs pin add` and `ipfs pin rm`. It looks like we aren't feeding the context all the way through so we're not completely canceling the operation.

[2019-05-09 04:39] Stebalien opened #6310 "`ipfs block rm` is not safe"
There's a race where a `ipfs block rm` and an `ipfs pin add` could lead to a non-local but pinned block.

[2019-05-09 06:22] Stebalien commented on #4027
* ^C _should_ work on windows, if not, let's investigate that in a new issue.
* We now have an AutoRelay feature that we're going to enable by default pretty soon. This will allow nodes to detect their NATs and, if present, setup a relay to allow incoming connections.
* https://github.com/ipfs/go-ipfs/issues/5541

[2019-05-09 06:22] #4027 closed

[2019-05-09 06:43] suutaku commented on #6295
thank you. I'm going to test it.

[2019-05-09 06:44] #4329 closed

[2019-05-09 10:14] suutaku commented on #6295
problem solved.
thank you agin!

[2019-05-09 10:14] #6295 closed

[2019-05-09 11:03] hsanjuan opened #6313 "Recover original "swarm connect" behaviour with a flag"
#### Version information: master

#### Type: Enhancement

#### Description:

From 0.4.20 `swarm connect` tags connections with a harcoded weight of 100:

https://github.com/ipfs/go-ipfs/blob/master/core/coreapi/swarm.go#L31

This should indicate the ConnManager that those connections should be kept alive (although it may not work #6271 ). That happens around here:

https://github.com/libp2p/go-lib

[2019-05-09 14:38] hazae41 opened #6314 "Use 0.0.0.0 instead of 127.0.0.1 for API and Gateway"
#### Type: enhancement

#### Description:
When the daemon is running in a container with a custom hostname, API and Gateway are unavailable until we set 0.0.0.0 instead of 127.0.0.1 in the config

[2019-05-09 15:32] hsanjuan opened #6315 "Multipart `Block-put` for multiple block injection"
#### Version information: master

#### Type: enhancement

#### Description:

I would like to have a "streaming" block-put where I can send many blocks on a single request to the `block/put` http endpoint. I don't think this works right now (correct me if I missed it).

Ideally the happy path is to translate this into a nicely buffered and optimized `PutMany()` so that, when ingesting many blocks v

[2019-05-09 19:53] #6298 closed

[2019-05-09 19:54] Stebalien commented on #6313
I'd also be happy to make setting a weight a flag.

[2019-05-09 20:13] hsanjuan commented on #6313
We can either extend the `Connect` core api method to take a weight, or we could start carrying connmgr tags in `PeerInfo`s objects (which doesn't sound completely out of place at least, given that connmgr tags are peer information in end)...

[2019-05-09 22:39] Stebalien commented on #6314
The docker image (see the `Dockerfile` and `bin/container_daemon` files) automatically sets the gateway/API addresses to 0.0.0.0.

[2019-05-09 22:39] #6314 closed

[2019-05-09 22:57] Stebalien commented on #6315
I agree. We'll have to make sure to use `EmitOnce` when only putting one block for compatibility with js-ipfs but that's not that bad.

The only interesting thing here is that the current block API in the core API doesn't support batch put. See: https://github.com/ipfs/interface-go-ipfs-core/issues/31.

[2019-05-09 23:02] Stebalien commented on #6313
We can also just tag outside the CoreAPI manually (until we come up with a nice API for this). Alternatively, allowing options is probably sane. We can then just make this:

[code]

[2019-05-09 23:39] hazae41 commented on #6314
This should be available for all containers, not just Docker

[2019-05-10 00:19] Stebalien commented on #6314
You can configure your container image to launch ipfs with the `container_daemon` script or you can manually configure go-ipfs. There isn't really anything go-ipfs itself can do here and changing the defaults for everyone would be a massive security issue.

[2019-05-10 16:08] obo20 commented on #6305
Also, I'm not sure if there's a fix for https://github.com/ipfs/go-ipfs/issues/6271 yet, but having this functionality working is one of the most important features Pinata needs right now.

[2019-05-10 20:51] Stebalien opened #6317 "Versioned plugin directory"
We should load plugins from `repo/plugins/IPFS_VERSION` instead of just `repo/plugins`.

[2019-05-10 23:16] magik6k opened #9973 "kubo/client/rpc: way to signal node stopping"
Something like `api.Closing() <-chan struct{}`, to have a way to tell when daemon is shutting down, etc.

[2019-05-11 00:15] Stebalien commented on #5810
Experiment:

[code]

This doesn't allow anything fancy like true sub-processes but it's a start. Unfortunately, I then tried applying this to go-libp2p-swarm and failed completely (we use context + wg there).

[2019-05-11 00:48] mateon1 commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-11 06:10] PlayerWithoutName commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-11 06:21] Stebalien opened #6320 "CI isn't failing for go tests that don't compile"
See: https://github.com/ipfs/go-ipfs/pull/6319

Any ideas?

[2019-05-11 18:40] DavidBurela commented on #3861
A common use case I use is to pin documentation sites so that I can browse them offline
`ipfs pin add /ipns/docs.ipfs.io`

The issue is that I cannot browse it offline as it refuses to resolve the IPNS.  I need to manually note the hash when I pin, so I can browse to that instead.

[2019-05-11 18:40] DavidBurela commented on #3577
This seems related to #3861

[2019-05-12 04:46] suutaku opened #6322 "`ipfs repo gc` very slow"
`ipfs repo gc` take too long (very slow. it  already takes 30 min + and still no response at now )
it is a bug?
my ipfs version:
`ipfs version 0.4.21-dev`
my repo info:
[code]
goroutine:
[www.cotnetwork.com/goroutine](url)

[2019-05-12 10:45] magik6k commented on #6322
What OS/Filesystem are you using?

[2019-05-12 13:01] suutaku commented on #6322
@magik6k
OS
`Ubuntu SMP Wed Mar 13 10:44:52 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
file system
[code]

[2019-05-12 15:50] cbluth opened #6323 "Please include a systemd script"
#### Type:

- "doc": If it's related to missing/incorrect documentation.

#### Description:

Hello,

I am looking for a systemd script to run this as a service for multiple users.

[2019-05-12 17:02] DonaldTsang commented on #5358
Idea: Use https://github.com/kstenerud/safe-encoding as a better alternative for safe encoding

[2019-05-12 18:00] DonaldTsang commented on #4312
Post 20 month review: Updates on the checklist?

[2019-05-13 03:22] suutaku commented on #6322
goroutine point to:
`github.com/ipfs/go-ipfs-blockstore.(*gclocker).GCLock`

it's some kind of dead lock?

[2019-05-13 05:27] suutaku commented on #6322
add some code like this ?
[code]

[2019-05-13 09:50] DonaldTsang commented on #6306
Sounds like a good format, are there any other alternatives?

[2019-05-13 11:04] hazae41 commented on #6306
I think a lot of developers knows YAML. For others, there is a lot of documentation available for YAML and this would not be painful to learn as it is human-readable.

[2019-05-13 11:20] DonaldTsang commented on #6306
@hazae41 might want to read this article https://github.com/crystal-lang/shards/issues/25

[2019-05-13 11:50] hazae41 commented on #6306
HOCON is very good compared to YAML or TOML as it is interoperable with JSON and there is a powerful "include" notation https://github.com/lightbend/config/blob/master/HOCON.md#includes

[2019-05-13 16:58] Stebalien opened #6324 "Bug Party"
🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛

**What**

Squash all the bugs (or at least triage them).

**When**

May 14-16

**Where**

Right here and on [#ipfs-dev:matrix.org](https://matrix.to/#/!yUPGdymyMBYidlxQfd:matrix.org?via=matrix.org&via=t2bot.io) (or #ipfs-dev on Freenode).

**Why**

We have _way_ too many bugs.

🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

---

Tracking spreadsheet: https://docs.g

[2019-05-13 17:06] olizilla commented on #6305
@Kubuxu please can we get some bullet points on what is already in this release and what's left to do?

[2019-05-13 17:33] Stebalien commented on #4312
We finished most of them. This list was mostly a todo list for that quarter.

[2019-05-13 17:33] Stebalien commented on #4312
We finished most of them. This list was mostly a todo list for that quarter.

[2019-05-13 17:33] #4312 closed

[2019-05-13 17:41] Stebalien commented on #5358
On technical merits alone, those encoding schemes look superior (and the order-preserving property looks quite nice). Unfortunately,

1. We're far enough into this switch that changing the default will require a pretty strong motivation.
2. The motivation for Base32 is wide (often built-in) language support.

[2019-05-13 19:03] lidel commented on #5358
Discussion that lead us to picking Base32 as the new default can be found in https://github.com/ipfs/go-ipfs/issues/4143#issuecomment-322630426:

@DonaldTsang encodings you linked look really interesting.
I believe picking RFC one is still a good choice when it comes to being the new default, but we surely can add order-preserving ones as alternative encodings. Thank you for opening https://github

[2019-05-13 19:29] obo20 commented on #6322
I can also vouch that garbage collection still takes a very long time (15 minutes +) on current versions of IPFS (the last 3 releases at least).

The main issue here is still that the node is basically locked down during GC, otherwise this wouldn't be a huge problem.

@Stebalien requested I create [this issue](https://github.com/ipfs/go-ipfs/issues/6114) awhile back, bur I'm not sure how much work

[2019-05-13 20:30] hannahhoward commented on #5810
Just something if we wanted to remove the assumption of context from the mix.

[code]

[2019-05-13 21:02] #6220 closed

[2019-05-13 21:25] Stebalien commented on #6322
@obo20

None yet.

---

I believe the slowness here is that GC currently needs to read the _entire_ datastore to traverse the graph. I'm closing this in favor of https://github.com/ipfs/go-ipfs/issues/4382. The current GC approach just doesn't scale.

[2019-05-13 21:25] #6322 closed

[2019-05-13 21:25] Stebalien commented on #4382
@Kubuxu We still have an open KR on making GC usable, could you take this?

[2019-05-13 21:48] vasa-develop opened #6326 "Add a flag to optionally output hash in MFS while adding/creating Directory/Files"
This is a feature request originated from **[this](https://discuss.ipfs.io/t/can-we-add-a-flag-to-optionally-output-hash-in-mfs-while-adding-creating-directory-files/5403)** thread on IPFS discussion Forum.

This feature request involves the introduction of a new flag for MFS, to optionally get the directory/file hashes when using `mkdir` OR `write` commands.

[2019-05-14 01:48] cbuesser commented on #6320
I think this is happening because your

[code]
is returning a 0 when it fails to parse a:
[code]
line in the test/unit/gotest.json

[2019-05-14 08:22] suutaku opened #6327 "AutoRelay not working in private network"
`ipfs version 0.4.21-dev`
in our private network.
I have 6 bootstrap peers with public IP address and set the option:
`    "EnableAutoNATService": true,
    "EnableAutoRelay": true,
    "EnableRelayHop": true
`
About 400 peers in different network behind NAT (don't have public IP address), peers can connect to peers who is in the same local work. but peers in different local work can not connect t

[2019-05-14 08:32] ylussaud opened #6328 "ipfs add with wild card only add the first file."
#### Version information:

go-ipfs version: 0.4.20-
Repo version: 7
System version: amd64/linux
Golang version: go1.12.4

#### Type:

bug

#### Description:

Using wild card when adding files to ipfs  doesn't work any more. Only the first file is added even if the total size seems to be properly computed:

ipfs add Z*
added Qm.... Za....
 362.07 MiB / 14.78 GiB [>----------------------------------

[2019-05-14 08:53] vyzo commented on #6327
Are the relays being discovered through the DHT?
See also https://github.com/libp2p/go-libp2p/issues/612

[2019-05-14 08:54] vyzo commented on #6327
Also note that there is a 15min advertising delay.

[2019-05-14 09:35] lidel commented on #5287
I see a small UX problem around having a dedicated multicodec:
How will go-ipfs behave if codec is different than `libp2p-key`?

1. go-ipfs prints PeerID in Base58 `QmNnooDu7bfjPFoTZYxMNLWUQJyrVwtbZg5gBMjTezGAJN`
2. User wants to convert it to CIDv1, so they do `ipfs cid base32 {cid}`  or use https://cid.ipfs.io/
3. `cid base32` returns `bafybeiagwnqiviaae5aet2zivwhhsorg75x2wka2pu55o7grr23ulx5kxm`

[2019-05-14 09:36] suutaku commented on #6327
Ah, I think so. but only in same local network.  I got this:
[code]
all of them are in the same local work of my device.

[2019-05-14 11:26] suutaku commented on #6327
by the way. p2p-circuit can reach other peer behind NAT. but not going to connect automatically.
I mean my
[code]
but my device only get 6-7 peers connected(by running` ipfs swarm peers`). why not 100 or more? it's normal ?

[2019-05-14 11:56] bonekill commented on #6283
+1 to interim plan
You should not have to worry to much about destabilizing the network because...

1. Most nodes do not update with haste.
Notably there are a few large projects that have their clients and server clusters hang back a few versions, so in the event that this starts leading to an absurd client to server ratio a patch can be released to start reversing the swarm back to the old behav

[2019-05-14 12:31] magik6k commented on #6323
There were a few systemd related PRs in the past: https://github.com/ipfs/go-ipfs/pull/5583 https://github.com/ipfs/go-ipfs/pull/1864

[2019-05-14 14:38] cbluth opened #6329 "Options to disable un-wanted features"
#### Version information:
[code]

#### Type:
- "enhancement ": If you'd like to suggest an improvement on to existing feature.

#### Description:
Please allow configuration options to disable unnecessary things like the web-ui, http-gateway, and perhaps anything else in order to reduce resource usage.

[2019-05-14 14:56] magik6k commented on #6329
If you remove `Addresses.Gateway` from config, the gateway won't start listening, but that won't really affect resource usage much. Disabling webui is not currently possible, and it's probably not worth it as the handler code will be in memory anyways, so that option would only free few KB of memory at most.

You may want to apply the low-power [config profile](https://github.com/ipfs/go-ipfs/blob

[2019-05-14 15:13] magik6k commented on #6328
This is https://github.com/ipfs/go-ipfs/issues/6254, and was fixed in https://github.com/ipfs/go-ipfs/pull/6255

[2019-05-14 15:13] #6328 closed

[2019-05-14 15:17] djdv commented on #1607
Going forward, feedback for the `ipfs files` command should be individual issues in this repo (ipfs/go-ipfs).
Concerns about the MFS api itself should go in [ipfs/go-mfs](https://github.com/ipfs/go-mfs).
And general questions should see https://docs.ipfs.io/#community

[2019-05-14 15:17] #1607 closed

[2019-05-14 15:22] djdv commented on #2766
Ancient issue.
Closing in favour of: https://github.com/ipfs/go-ipfs/issues/5003

[2019-05-14 15:22] #2766 closed

[2019-05-14 15:26] magik6k commented on #6320
That looks like a `go test` bug

[2019-05-14 15:29] djdv commented on #3156
I'm gonna say Windows coverage has improved enough to close this.
Individual issues can now be opened instead of general ones.
And things look better :^)

[code]

[2019-05-14 15:29] #3156 closed

[2019-05-14 15:42] magik6k commented on #6320
https://github.com/golang/go/issues/23037, we can implement a work around

[2019-05-14 16:11] djdv commented on #4606
"Works on my machine"
![Untitled](https://user-images.githubusercontent.com/13862850/57713864-4db26700-7641-11e9-9734-f26fb38b961d.png)

[2019-05-14 16:11] #4606 closed

[2019-05-14 16:11] magik6k commented on #1243
Ran this in a loop for 10+ mins without a single fail, I'll call this fixed.

[2019-05-14 16:11] #1243 closed

[2019-05-14 16:15] magik6k commented on #981
This is fixed now

[2019-05-14 16:15] #981 closed

[2019-05-14 16:43] magik6k commented on #1582
(use `ipfs object get --data-encoding=base64 QmThing` for blocks with binary data)

[2019-05-14 16:43] #1582 closed

[2019-05-14 16:51] eingenito commented on #1750
Duplicate blocks have been greatly reduced in releases 0.4.18 and up.

[2019-05-14 16:51] #1750 closed

[2019-05-14 16:58] eingenito commented on #1763
This issue has been superseded by #5783, #5604 and ongoing work on gateway performance monitoring.

[2019-05-14 16:58] #1763 closed

[2019-05-14 16:59] djdv commented on #5209
I've been working on a new variant of the `ipfs mount` command.
Discussion about it is taking place in https://github.com/ipfs/go-ipfs/issues/5003 and
https://github.com/ipfs/interface-go-ipfs-core/pull/30

The interface is still a WIP but if I understand this correctly it should allow you to implement a mountpoint that behaves in the way you listed.

[2019-05-14 17:30] djdv commented on #3779
This appears to have been resolved.
![Untitled](https://user-images.githubusercontent.com/13862850/57713864-4db26700-7641-11e9-9734-f26fb38b961d.png)

[2019-05-14 17:30] #3779 closed

[2019-05-14 17:40] eingenito commented on #2917
Closing this issue as old/fixed. Please reopen if you are still seeing the same behavior.

[2019-05-14 17:40] #2917 closed

[2019-05-14 17:53] hannahhoward commented on #215
@Stebalien is there a place where the discussion about centralized ledgers is happening?

Also, it seems to me that given now bitswap is a separate service, that could be used by other clients other than IPFS, I think writing to disc should ideally be optional -- so that datastore is not an required dependency in order to use go-bitswap.

[2019-05-14 17:57] hannahhoward commented on #251
@gmasgras can you comment on whether this is still relevant based on the Docker-izing work you are doing? Should it remain open?

[2019-05-14 17:58] Stebalien commented on #5810
Given that go uses contexts _everywhere_, I'd rather just embrace them.

[2019-05-14 18:01] gmasgras commented on #251
Here is a PR that addresses this issue: https://github.com/ipfs/go-ipfs/pull/6325

[2019-05-14 18:03] magik6k commented on #2178
Resolving now works offline, when online we still check the notwork

[2019-05-14 18:03] #2178 closed

[2019-05-14 18:07] #3656 closed

[2019-05-14 18:16] eingenito commented on #3542
I'm going to close this issue due to age. Please reopen if you are still experiencing this with recent builds.

[2019-05-14 18:16] #3542 closed

[2019-05-14 18:17] magik6k commented on #2200
Seems to be fixed:

[code]

[2019-05-14 18:17] #2200 closed

[2019-05-14 18:18] Stebalien commented on #215
Not yet. (back channel chatter...)

Agreed. We usually do this by using an in-memory datastore by default.

[2019-05-14 18:19] eingenito commented on #3480
Should be solved by #6292

[2019-05-14 18:20] Stebalien commented on #2917
It's still bad but yeah, this issue isn't directly actionable.

[2019-05-14 18:27] eingenito commented on #3274
Closing as fixed.

[2019-05-14 18:27] #3274 closed

[2019-05-14 18:27] magik6k commented on #2567
This was fixed in https://github.com/ipfs/go-unixfs/pull/60

[2019-05-14 18:27] #2567 closed

[2019-05-14 18:30] magik6k commented on #2759
There is now `Gateway.NoFetch` option in config

[2019-05-14 18:32] eingenito commented on #2111
Superseded by #5723

[2019-05-14 18:32] #2111 closed

[2019-05-14 18:33] eingenito commented on #2073
Closing as stale. Please reopen if appropriate.

[2019-05-14 18:33] #2073 closed

[2019-05-14 18:36] michaelavila commented on #6067
Closing this issue as it was resolved by #6068

[2019-05-14 18:36] #6067 closed

[2019-05-14 18:44] hannahhoward commented on #215
Ok in that case I'd suggest the next action item is open an issue for discussions of a centralized ledger. I don't have context for this so I don't feel qualified write a decent issue, but I could just create a blank one if someone else can fill in -- or someone else can volunteer to write it.

[2019-05-14 18:47] magik6k commented on #2918
It appears to be fixed, feel free to re-open if it still happens

[2019-05-14 18:47] #2918 closed

[2019-05-14 18:49] magik6k commented on #3930
We now have `ipfs name resolve --stream`, connected with `| head -n1` this does exactly what is requested here.

[2019-05-14 18:49] #3930 closed

[2019-05-14 18:52] magik6k commented on #4009
With https://github.com/ipfs/go-ipfs/issues/5654 this is probably not going to be useful. Feel free to reopen if you disagree.

[2019-05-14 18:52] #4009 closed

[2019-05-14 19:04] Stebalien commented on #6297
This is definitely https://github.com/ipfs/go-ipfs/issues/6237. I'm still working on a fix.

[2019-05-14 19:04] #6297 closed

[2019-05-14 19:07] dokterbob commented on #6237
@Stebalien Great. Feel free to ship me a binary if you need to test in production.

[2019-05-14 19:12] Stebalien commented on #5155
This was a bug in https://github.com/jbenet/go-os-rename which has since been fixed.

[2019-05-14 19:12] #5155 closed

[2019-05-14 19:14] Stebalien commented on #5126
(closing as we can't fix this right now)

[2019-05-14 19:14] #5126 closed

[2019-05-14 19:18] magik6k commented on #4093
PR in go-ipfs-config - https://github.com/ipfs/go-ipfs-config/pull/24

Closing this issue as there is also https://github.com/ipfs/go-ipfs/issues/5251 which tracks this too

[2019-05-14 19:18] #4093 closed

[2019-05-14 19:22] magik6k commented on #4363
There were many fixes and changes in Badger since this issue was opened and I haven't seen this on any of my nodes (some of which are restarted / killed frequently).

Feel free to reopen / comment if you still see this

[2019-05-14 19:22] #4363 closed

[2019-05-14 19:33] Stebalien commented on #5101
Recursive won't work here, you have to specify each and every file on the command line along with a `filename=` header. That is:

[code]

Repeating that `-F` flag for each file in the directory.

[2019-05-14 19:33] #5101 closed

[2019-05-14 19:34] magik6k commented on #4385
If anyone wants to help with this:
* We probably want to use something like https://github.com/nytimes/gziphandler
* Put it somewhere around https://github.com/ipfs/go-ipfs/blob/master/core/corehttp/corehttp.go#L77

[2019-05-14 19:35] Stebalien commented on #4009
I've still wanted it a few times internally but it's likely more trouble than it's worth.

[2019-05-14 19:38] magik6k commented on #4351
Implemented in https://github.com/ipfs/go-ipfs/pull/4154

[2019-05-14 19:38] #4351 closed

[2019-05-14 19:44] djdv commented on #4200
At current we rely on `1.11.4` and `make` will build without GOPATH set. (it mimicks what Go would do)
https://github.com/ipfs/go-ipfs/blob/307d06b4651d93eb2cdd8f7bfd9f169bfcc9bd74/mk/golang.mk#L17-L18

[2019-05-14 19:44] #4200 closed

[2019-05-14 19:44] michaelavila commented on #1946
Closing as I see much of this information in the issue template when creating a new issue: https://github.com/ipfs/go-ipfs/issues/new

Please re-open if I've misunderstood.

[2019-05-14 19:44] #1946 closed

[2019-05-14 19:56] #5326 closed

[2019-05-14 19:57] michaelavila commented on #6066
subscribing to this thread as I'd like this too, will maybe implement it as part of my provider work

[2019-05-14 20:00] magik6k commented on #5280
IIRC this issue was fixed in Badger, if that's not the case please reopen.

[2019-05-14 20:00] #5280 closed

[2019-05-14 20:02] magik6k commented on #5176
The `randomports` profile is now in go-ipfs master.

[2019-05-14 20:02] #5176 closed

[2019-05-14 20:04] magik6k commented on #5128
Fixed in https://github.com/ipfs/go-ipfs/pull/6309

[2019-05-14 20:04] #5128 closed

[2019-05-14 20:07] magik6k commented on #5097
I'm working on refactoring the go-ipfs initialization logic

With https://github.com/ipfs/go-ipfs/commit/cebc970ce4ceb829156484173ed2e972f3ba59cf user will see something like (the message can be improved):
[code]

[2019-05-14 20:10] djdv commented on #571
I would say this is not relevant anymore.
The command names have changed, but we have this in concept now.
`ipfs daemon`, `ipfs shutdown`, are the "start", "stop" equivalent.

If there's anything additional, for example, if someone wanted to expose `shutdown` over the coreapi, or if the command should have a different name, etc.
Then it should probably go in a new issue.

[2019-05-14 20:10] #571 closed

[2019-05-14 20:21] magik6k commented on #4728
We now have separate `/ipfs` and `/ipld` paths.
* Resolving `/ipfs` works as expected, as it's resolving unixfs paths and falling back to IPLD paths if resolver for a given node type is not available
* `/ipld` paths still need to be fixed (requires changes in go-merkledag)

[2019-05-14 20:23] magik6k commented on #4722
Ideally all endpoints would embed CIDs as IPLD links to make things more consistent, but that reqiires http-api v2 or something like that

Closing as there isn't much we can do about this

[2019-05-14 20:23] #4722 closed

[2019-05-14 20:28] magik6k commented on #4710
Closing due to inactivity, feel free to reopen

[2019-05-14 20:28] #4710 closed

[2019-05-14 20:31] #4697 closed

[2019-05-14 20:33] magik6k commented on #4698
We don't run Jenkins anymore and this doesn't seem to happen on circle

[2019-05-14 20:33] #4698 closed

[2019-05-14 20:38] #4534 closed

[2019-05-14 20:42] djdv commented on #5003
We're going over all the `go-ipfs` issues so I'm collecting notes on the ones that relate.

The current `mount`/FUSE implementation is --

~Slow~ Not fast:
https://github.com/ipfs/go-ipfs/issues/2166
https://github.com/ipfs/go-ipfs/issues/4228

Incomplete/Inaccurate:
https://github.com/ipfs/go-ipfs/issues/4185
https://github.com/ipfs/go-ipfs/issues/2712

Not flexible/dynamic:
https://github.com/ip

[2019-05-14 20:44] djdv commented on #4654
@magik6k
I think this is relevant to your work. If not, feel free to un/re-assign.

[2019-05-14 20:44] magik6k commented on #4607
Fixed in https://github.com/ipfs/go-ipfs/pull/6244

[2019-05-14 20:44] #4607 closed

[2019-05-14 20:59] djdv commented on #5037
@hannahhoward
I believe your work on bitswap, graphsync, etc. is likely relevant here.
If not feel free to un/re-assign.

[2019-05-14 21:02] magik6k commented on #5814
GitCop is no longer in use

[2019-05-14 21:02] #5814 closed

[2019-05-14 21:03] leerspace commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-14 21:09] eingenito commented on #3786
I think this issue has been addressed by bitswap session improvements or superseded by discussion of GraphSync.

[2019-05-14 21:09] #3786 closed

[2019-05-14 21:16] djdv commented on #6054
Closing for age+answered.

[2019-05-14 21:16] #6054 closed

[2019-05-14 21:22] djdv commented on #6326
Associating these 2 issues: https://github.com/ipfs/go-ipfs/issues/2610

[2019-05-14 21:53] #4694 closed

[2019-05-14 21:55] #4681 closed

[2019-05-14 21:59] magik6k commented on #4679
This has happened (the package lives in https://github.com/ipfs/go-unixfs)

[2019-05-14 21:59] #4679 closed

[2019-05-14 22:01] magik6k commented on #4674
cc @hannahhoward should this issue be closed given all the recent fixes?

[2019-05-14 22:23] magik6k commented on #4744
I ran `ab` with 1M requests successfully on current master.

(feel free to reopen if the issue is still present for you)

[2019-05-14 22:23] #4744 closed

[2019-05-14 23:02] Stebalien commented on #4744
There were some bugs in pubsub around disconnecting/reconnecting that have since been fixed (although there are _still_ some bugs, IIRC).

[2019-05-14 23:05] Stebalien commented on #4674
It looks like this is still an issue, as far as I can tell.

[2019-05-14 23:08] #1331 closed

[2019-05-14 23:10] Stebalien commented on #2610
Closing in favor of #6326 (which calls for a flag instead of doing this by default).

[2019-05-14 23:10] #2610 closed

[2019-05-14 23:12] Stebalien commented on #5037
This issue is pre-bitswap refactor. Three are still known issues but nothing here will likely be relevant.

[2019-05-14 23:12] #5037 closed

[2019-05-14 23:22] Stebalien commented on #571
I think the difference is that `ipfs start` is `ipfs daemon --background`. I'll file a new issue for that as it's a frequent request (how do I start the daemon and know when it's ready?).

[2019-05-14 23:41] lanzafame commented on #5810
Please do! From the context of running prod systems, not being able to get
any tracing or metrics because context hasn't been passed down is
frustrating.

On Wed, 15 May 2019, 03:59 Steven Allen, <notifications@github.com> wrote:

[2019-05-15 00:28] Stebalien commented on #215
Actually, I think I'm being too hasty here. We do want a central service but _this_ feature is probably useful in the mean-time. Really, I'm getting ahead of myself with the central service as we don't even know what it's going to look like.

However, this issue, while valid, still depends on _using_ the ledger for something. We currently ignore it entirely.

[2019-05-15 05:53] suutaku commented on #6327
@vyzo
After open all flags on peers both internet peers and NATed peers and restart daemon. I got this message:
[code]

looks like internet peers can relay  internet peers to NATed peers( makes no sense,  all peers can connect them without relay) but local peers relay still not working.

[2019-05-15 07:16] vmx commented on #4722
Just a note (for people stumbling over this issue). IPLD links are not a thing anymore, the IPLD implementations now use the program language specific representation of CIDs. I'd called it "JSON representation of Links".

[2019-05-15 07:28] hnamzian opened #6334 "clone IPFS"
How is it possible to clone IPFS and create a private IPFS network?

[2019-05-15 07:33] suutaku commented on #6334
all data and peers ? why you need clone ipfs?

[2019-05-15 07:48] hnamzian commented on #6334
I want to clone IPFS to use as in a private project. In fact I want to run IPFS on my own peers.

[2019-05-15 07:51] suutaku commented on #6334
you just build a private network by using a swam.key.
Im using private network now.
try to google `ipfs private network` you will find how to do.

[2019-05-15 07:54] hnamzian commented on #6334
Thank you

[2019-05-15 08:05] vyzo commented on #6327
Are the local peers in the same local network as the relay?

[2019-05-15 08:13] Stebalien commented on #6334
In the future, let's try to keep questions on https://discuss.ipfs.io and the #ipfs IRC channel.

[2019-05-15 08:13] #6334 closed

[2019-05-15 08:13] suutaku commented on #6327
I've tried make all peers in local network
[code]
but still not working. They just connected  through local IP.
[code]

[2019-05-15 08:20] vyzo commented on #6327
That's kind of expected, if they can connect to each other in the local network they will.

[2019-05-15 08:30] suutaku commented on #6327
ok.....
but I can not connect peers in different network.
if I switch my device to different network (mobile WIFI etc.) and I only get 6 boostrap peers! there are total 400+ peers in my private ipfs network!

[2019-05-15 08:54] vyzo commented on #6327
Is the DHT actually working on your private network? Autorelay can't work without it currently (but I am working on an improvement that would allow it to see known relays from passive discovery).

[2019-05-15 09:02] suutaku commented on #6327
Some log info.
[code]
And config
[code]

[2019-05-15 14:03] magik6k commented on #4863
cc @michaelavila

[2019-05-15 14:48] cboddy commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-15 16:39] #4068 closed

[2019-05-15 16:41] magik6k commented on #3372
Closing as this is basically https://github.com/ipfs/go-ipfs/issues/4074

[2019-05-15 16:41] #3372 closed

[2019-05-15 16:44] magik6k commented on #3385
Update: There is now `ipfs ls --stream`, but it's not the default

[2019-05-15 16:49] magik6k commented on #3282
Not sure what here was broken, but recent changes to add might have fixed whatever was not working, and in my testing everything seemed to work.

[2019-05-15 16:49] #3282 closed

[2019-05-15 16:58] magik6k commented on #3316
I'm able to add 10k files in less that 10s on my PC, that's probably good enough for this issue.

[2019-05-15 16:58] #3316 closed

[2019-05-15 17:00] magik6k commented on #3277
Things happened since this issue was opened

[2019-05-15 17:00] #3277 closed

[2019-05-15 17:10] magik6k commented on #3058
I'd like to avoid adding new flags to the daemon, but if this can be set through config, we may just add a config profile for this.

[2019-05-15 17:22] hannahhoward commented on #5810
It seems like if we're embracing context, it'd be really cool if we could make it so the supervision can be passed transparently through the context i.e. an API that likes like--

[code]

Does this make sense?
I realize it will probably end up abusing context.WithValue under the hood, but could make for some easy crossing of API boundaries without a lot of ceremony.

[2019-05-15 17:40] Stebalien commented on #5810
Yeah, I agree we should be stashing some kind of monitor/process in the context.

[2019-05-15 17:42] Stebalien commented on #3385
Let's close this as we'll have to revisit it when we redo the API.

[2019-05-15 17:42] #3385 closed

[2019-05-15 18:12] michaelavila commented on #4417
Closing as I've looked through a handful of the latest sharness test runs and I see no indication that we are still experiencing this issue. Reopen if you can find a recent instance.

[2019-05-15 18:12] #4417 closed

[2019-05-15 18:22] eingenito commented on #387
If #6325 is merged this issue can be closed as we will have decided on a direction.

[2019-05-15 18:25] michaelavila commented on #4432
I think this is also important. I was recently supporting someone in the community that was running into issues and we solved them using the `--offline` flag which is global and not documented in a way that's easy to learn about.

[2019-05-15 18:28] djdv commented on #4748
Our build system and Go itself have changed a bit.
I was able to successfully build and run the latest master on this machine
[code]
by using `GOTAGS=nofuse gmake install`.

The next iteration of the mount command will use a library that is OpenBSD compatible and tested (https://github.com/billziss-gh/cgofuse)
https://github.com/ipfs/go-ipfs/issues/5003
![obsd-ipfs](https://user-images.githubuserc

[2019-05-15 18:28] #4748 closed

[2019-05-15 18:31] #1296 closed

[2019-05-15 18:32] michaelavila commented on #4432
Closing as I see these flags listed when I run `ipfs --help`

[2019-05-15 18:32] #4432 closed

[2019-05-15 18:36] meiqimichelle opened #6336 "Add project lead / lead maintainer info to README"
It would be great to have project lead info in the go-ipfs README (similar to the [js-ipfs README](https://github.com/ipfs/js-ipfs/)). I searched for this info in several ipfs repos and couldn't find it.

[2019-05-15 18:39] hannahhoward commented on #4674
I am moving this issue to the bitswap backlog since it clearly is a thing :)

[2019-05-15 18:39] hannahhoward commented on #4674
And will prioritize

[2019-05-15 18:41] michaelavila commented on #4513
Closing as I see that `method-complexity` and `similar-code` checks are disabled in config here: https://github.com/ipfs/go-ipfs/blob/master/.codeclimate.yml

[2019-05-15 18:41] #4513 closed

[2019-05-15 18:43] Stebalien commented on #3383
Fixed by updating go-logging.

[2019-05-15 18:43] #3383 closed

[2019-05-15 19:03] Stebalien opened #6337 "ipfs object get --enc=protobuf is broken"
#### Version information:

[code]

#### Description:

We're formatting the byte array using '%v' instead of writing the bytes directly.

[2019-05-15 19:35] Stebalien commented on #3359
This is what you get when you encode a binary string into a JSON object. Unfortunately, the commands lib always transfers objects as JSON and then re-encodes on the client.

I have no intention of fixing this. Consider `ipfs object get` broken and stick with `ipfs block get` until we switch to a sane API transport.

[2019-05-15 19:44] #6337 closed

[2019-05-15 19:50] Stebalien commented on #3337
This would require a pretty substantial amount of work for unclear gain. While potentially useful, I'm going to close this as something we can reconsider far in to the future.

[2019-05-15 19:50] #3337 closed

[2019-05-15 19:55] Stebalien commented on #3330
You can view a per-peer ledger with `ipfs bitswap ledger`. Filed a feature request at https://github.com/ipfs-shipyard/ipfs-webui/issues/1037.

[2019-05-15 19:55] #3330 closed

[2019-05-15 20:00] Stebalien commented on #3267
We've now switched over as much as we can.

[2019-05-15 20:00] #3267 closed

[2019-05-15 20:05] Stebalien commented on #3232
Fixed (although it's still intentionally 0 for directories).

[2019-05-15 20:05] #3232 closed

[2019-05-15 20:10] Stebalien commented on #3231
If either `resolve-type` or `size` is true, we resolve both the type and the size in the json response (doesn't cost us anymore). This is a bit confusing but I'm not sure it's worth trying to fix it.

[2019-05-15 20:10] #3231 closed

[2019-05-15 20:11] Stebalien commented on #3218
Fixed.

[2019-05-15 20:11] #3218 closed

[2019-05-15 20:13] Stebalien commented on #3190
This command no longer exists.

[2019-05-15 20:13] #3190 closed

[2019-05-15 20:34] Stebalien commented on #6291
Fixed. We've moved bootstrapping into the background.

[2019-05-15 20:34] #6291 closed

[2019-05-15 20:45] michaelavila commented on #807
@momack2 this issue requires help from a visual designer. Who should we reach out to for that help?

[2019-05-15 21:05] michaelavila commented on #6042
@markg85 @djdv What does the first iteration of this look like? I think if we can get a simple first version described, this would be a good introductory task for someone to take on. Can we start by simply listing out each block we are attempting to pin and then a confirmation that we've received and pinned that block? Something like:

[code]

Is that too simplistic of a first version?

[2019-05-15 21:25] michaelavila commented on #6091
@remmerw What is the proposed interface for this change? I think this is a great introductory task if we can provide enough actionable definition.

What about something like `-k` for `keep if already connected`?

[code]

[2019-05-15 21:30] eingenito commented on #3181
Closing due to age and many changes to bitswap to allow for easier unit testing.

[2019-05-15 21:30] #3181 closed

[2019-05-15 21:32] hannahhoward commented on #5723
Just want to say this issue is still open, and the things that are not checked off need to be done.

[2019-05-15 21:39] hannahhoward commented on #4396
superseded by #5723

as well as issues in the Bitswap backlog

[2019-05-15 21:39] #4396 closed

[2019-05-15 21:50] hannahhoward commented on #5994
So, this is a sizable undertaking but potentially worth it. It would need to track sessions all the way down through DagService -> BlockService -> Bitswap to be useful. Marking it an open and valid feature request but not sure if/when we will get to it.

[2019-05-15 21:50] eingenito commented on #3020
I'm going to close this for age reasons. If it comes up again we can reopen or recreate

[2019-05-15 21:50] #3020 closed

[2019-05-15 22:01] hannahhoward commented on #5183
I feel like there is no specific actionable information on a current version of bitswap to work with here, given that it's been near rewritten completely since 0.4.15 and the only current potential problem referenced is peers not resending wantlists on a reconnect. My belief is that we've addressed this as best we can with the periodic wantlist rebroadcast. And beyond that really there's no furthe

[2019-05-15 22:01] #5183 closed

[2019-05-15 22:03] hannahhoward commented on #4771
Valid, and fixable, moving into Bitswap backlog.

[2019-05-15 22:13] Stebalien commented on #5994
This may be easier than you think. We already expose bitswap sessions all the way up to CoreAPI.

[2019-05-15 22:21] hannahhoward commented on #4690
I honestly can't tell if this is still considered an issue -- it seems like it was traced to FlatFS? If there is not actionable work here, I'd be inclined to close pending work on datastore. @magik6k -- leave final close decision to you?

[2019-05-15 22:21] #4690 closed

[2019-05-15 22:41] hannahhoward commented on #5994
so quick glance at the code showed me the following:
- coreAPI as implemented inside go-ipfs does have a getSession method, but it's private (only used by go-unixfs
   - said method does not actually create a session for the blockService, only the dag service (not sure if this is relevant for the use case abov)
- getSession is called internally to UnixFS CoreApi commands, and we probably would nee

[2019-05-15 22:54] hannahhoward commented on #4660
given that even regular Bitswap GetBlocks creates sessions these days, seems like this isn't relevant

[2019-05-15 22:55] hannahhoward commented on #4660
sorry rewind, i see we're talking about a situation where no calls to bitswap are made

[2019-05-15 23:04] meiqimichelle commented on #807
This would be something design guild members @ericronne (visual design) and @olizilla (front end design) would probs like to chat with you about @michaelavila 🎉

[2019-05-15 23:47] Stebalien commented on #6264
For active discovery, take a look at https://github.com/libp2p/go-libp2p-discovery/ and https://github.com/libp2p/specs/tree/master/rendezvous, https://github.com/libp2p/libp2p/issues/66.

Closing as a duplicate of https://github.com/libp2p/go-libp2p-kad-dht/issues/302.

[2019-05-15 23:47] #6264 closed

[2019-05-15 23:51] #6216 closed

[2019-05-16 00:00] Stebalien commented on #6130
If someone's interested in this feature, the best way to implement it would be to:

1. Listen for new connections using `host.Network().Notify(...)`.
2. Tag all connections to local peers.

[2019-05-16 04:25] djdv commented on #6042
:+1:

I don't think so, any output seems better than none in this context.

In addition, I encounter people asking "if it's working" often enough, that I wonder if we shouldn't also change the default output. Making it noisy by default, and adding `-Q` and `-q` in the same way they appear in `ipfs add --help`.
At the very least it would improve command consistency.
But this doesn't have to necessa

[2019-05-16 05:06] #4660 closed

[2019-05-16 05:14] Stebalien commented on #4690
This is really just yet another too many open files issue so keeping it open probably doesn't help. Also, your resend wantlist patch probably fixes this issue.

[2019-05-16 05:36] Stebalien commented on #6336
Could you provide some motivation? Specifying a project lead in the readme (or anywhere, really) is actually pretty unusual for open source projects. In general, nobody should be contacting a lead directly but should be filing an issue, sending an email to ipfs@ipfs.io, etc. (broadcast versus one-on-one communication).

Many of our repos have "lead maintainers" just to make it clear who's responsi

[2019-05-16 05:55] Stebalien commented on #5737
Closing in favor of https://github.com/libp2p/go-libp2p/issues/623 (which includes "allow multiple MDNS applications" as a requirement).

[2019-05-16 05:55] #5737 closed

[2019-05-16 06:12] DonaldTsang opened #6342 "Performace, or How IPFS will be better than BitTorrent"
Here are a list of issues that is plaguing IPFS: Performace. It has to beat existing system to gain a wider adoption. One factor is "the default should be semi-optimal", where once installed, without much parameter tweaking, it will perform better than BitTorrent.
- https://github.com/ipfs/go-ipfs/issues/2111 (transfer speed)
- https://github.com/ipfs/go-ipfs/issues/2828 (DHT management)
- https:/

[2019-05-16 06:13] Stebalien commented on #5734
We can actually do even better and just ignore any files whose paths are tracked by the filestore (as changing those files will break everything anyways). The tricky part is the interaction with the `add` command itself.

[2019-05-16 06:15] #5608 closed

[2019-05-16 06:20] Stebalien commented on #4279
@magik6k IMO, we _should_ be able to graduate badger from experimental even if we don't go ahead and make it the default. However, we may want to land https://github.com/ipfs/go-ds-badger/issues/51 first.

[2019-05-16 06:21] Stebalien commented on #5539
(haven't seen this in a while)

[2019-05-16 06:21] #5539 closed

[2019-05-16 06:26] #5400 closed

[2019-05-16 06:27] remmerw commented on #6091
@michaelavila My assumption is that the command
ipfs swarm connect QmHash
already keeps the connection. (Since it is added by the user and has therefore a
higher priority then other connections)
The case here is,  what if the connection is not existing anymore (e.g. one node has no network) .
How can the user of a node can check fast, if the connection is still valid
and existing to the other node

[2019-05-16 06:27] Stebalien commented on #5398
Closing as we've deprecated jenkins.

[2019-05-16 06:27] #5398 closed

[2019-05-16 06:30] #5351 closed

[2019-05-16 06:34] Stebalien commented on #3885
Many things have changed since this issue was reported, including flushing some intermediate datastructures in add.

[2019-05-16 06:34] #3885 closed

[2019-05-16 06:37] Stebalien commented on #6342
Yes we have performance issues and we're working on them. But this issue doesn't really add anything to the discussion.

[2019-05-16 06:37] #6342 closed

[2019-05-16 06:42] Stebalien commented on #387
That PR makes it possible to configure a go-ipfs _container_ using env variables but doesn't apply to go-ipfs itself. Personally, I'd kind of like to use environment variables for debugging and only debugging (except for containers). Current list: https://github.com/ipfs/go-ipfs/blob/master/docs/environment-variables.md

[2019-05-16 06:50] #3718 closed

[2019-05-16 06:55] Stebalien commented on #6303
If you _know_ the IP/port of the peer, you can specify it on connect `ipfs swarm connect /ip4/.../tcp/.../ipfs/Qm...`. It's probably taking a while to find them.

[2019-05-16 07:35] #4613 closed

[2019-05-16 08:13] markg85 commented on #6042
It turned out, in my case, that IPFS did absolutely nothing. Or rather, it did actually pin in 0.4.18 (the current when reporting this issue) and did nothing in 0.4.20 (today's current). Yeah, go figure that one out.

I wholeheartedly with @djdv. Whatever output is figured out, it's better then we have now.
This might be a good start imho:

The time would just show how long it took to pin the file

[2019-05-16 08:39] hsanjuan commented on #5994
Heads up that this is no longer high prio for Cluster since we decided to run the whole exchange internally and use cluster's DHT and swarm to exchange that data so we have access to sessions.

It might be useful in the future though, for getting pinned content block-by-block when that content is sharded across multiple ipfs peers.

[2019-05-16 08:44] vyzo commented on #6327
The `HOP_NO_CONN_TO_DST` errors you get mean that the target peer was not connected to the relay.

[2019-05-16 08:47] lidel commented on #1678
This issue is very old and should be closed:

- The `fs:/` was droped as an idea,  we switched to `ipfs://`, `ipns://` and `dweb:/`
- Discussion from 2015-2017 was summarized in https://github.com/ipfs/specs/pull/152
- We are working with browser vendors and standard bodies to whitelist mentioned protocols in HTML spec and other places
- Memo with **latest IPFS addressing standards can be found at

[2019-05-16 09:28] suutaku commented on #6327
Yes,it is.
Even peer connected to relay noting different and today, maybe I found another bug in dht. this my local device can not get object from peers either  in local work or bootstrap randomly. I mean A,B was connected to each other, A add a object and run
[code]
some times it's hanging, nothing return.
 it's some kind of dht delay?
I'm so sorry to make so many troubles to your guys everyday.

[2019-05-16 09:36] olizilla commented on #4276
There were 2 PRs to improve this #4306 and #4347 from @thisconnect back in 2017 so I'm gonna go ahead and close this. Thanks @thisconnect !

Also of note, @alanshaw and I made a tool to visualise how these options alter the dag that is created
- https://github.com/ipfs-shipyard/ipfs-dag-builder-vis

[2019-05-16 09:36] #4276 closed

[2019-05-16 10:01] olizilla commented on #3999
We had automated docker builds working for a good while, but since the data leak from docker hub back in April, the github api token has been invalidated, so all builds are failing

<img width="1149" alt="Screenshot 2019-05-16 at 10 52 58" src="https://user-images.githubusercontent.com/58871/57845109-39997180-77c9-11e9-840a-d62b7e636b68.png">

https://cloud.docker.com/u/ipfs/repository/docker/ipfs

[2019-05-16 11:51] AndreaCensi commented on #3320
On my Mac, IPFS kills (in addition to my router) also some applications in the Mac --- e.g., Chrome, which I suspect cannot do a DNS query, but I am not sure.

What is the workaround currently?
Can IPFS be set up so that the daemon on my PCs connect *only* to my server in the cloud, and through it to the entire network? (I do not mean making a private network with the swarm key, but using one know

[2019-05-16 11:52] hsanjuan opened #6343 "--raw-leaves leads to base32 and base58 mixed outputs"
#### Version information: master

#### Description:

Probably  `--raw-leaves` should not return base32 cids if the user did not select them. What I'm more worried about is that some outputs (adding with wrapping folders, refs -r...) may contain V0 cids with base58 and V1 cids with base32 all mixed regardless of user choice which is bad UI.

[code]

Feel free to close if this is not actionable (sho

[2019-05-16 14:48] andrew commented on #3320
This still regularly happens on my home network, killing both the router and the wifi extender.

[2019-05-16 14:48] DonaldTsang commented on #6342
@Stebalien I was expecting this to be a meta-issue on performance

[2019-05-16 14:53] victorb commented on #3320
Same here. Development is currently infeasible with anything involving go-ipfs (using ipfslite for [Bolivar](https://github.com/open-services/bolivar), but suffering from same problem).

Just running a node for about ~5 minutes (had time to connect to 30 peers) kills my router, which is standard issued router from my ISP.

[2019-05-16 18:08] Stebalien commented on #6343
I mean... I'm tempted to just say "CIDv1 on raw leaves FTW!". I'm not sure why we didn't go with that in the first place. Unfortunately, that would make a bunch of people _very_ unhappy (I think?).

Actually, @parkan, is what flags are the Internet Archive using? Are they using CIDv1 by default? `--raw-leaves` is experimental so I'm fine changing the defaults if it doesn't break any known users.

[2019-05-16 18:41] Stebalien commented on #6342
Ah, got it. My concern with this issue is that it's kind of a grab bag of different unrelated performance issues and we already have a `perf` label.

There appear to be four categories:

* IPNS is slow: https://github.com/ipfs/go-ipfs/issues/3860
* Adding files to go-ipfs is slow. Could probably use a good meta issue, want to make one?
* Bitswap transfer speed is slow: https://github.com/ipfs/go-i

[2019-05-16 19:26] #1678 closed

[2019-05-16 19:30] Stebalien commented on #3320
@victorb could you try running in DHT client mode? I want to see if that makes any difference (relates to #6283).

[2019-05-16 20:18] vgonkivs commented on #6091
Hello guys. I`m new to this project. May take this issue if no one start working on it?

[2019-05-16 20:23] eingenito commented on #783
Closing as duplicate of #6262 which has more context.

[2019-05-16 20:23] #783 closed

[2019-05-16 20:38] michaelavila commented on #6091
@remmerw apologies, I misunderstood. Do you have an interface proposal? You want to do more than just check that the peer is in your list, right? You want to do something to determine if the connection to that peer is still valid? Maybe by acknowledging some kind of message?

[2019-05-16 20:48] eingenito commented on #560
Closing - I think this behavior has changed since.

[2019-05-16 20:48] #560 closed

[2019-05-16 20:49] #6070 closed

[2019-05-16 20:51] michaelavila commented on #6042
@markg85 can you elaborate on what you mean by:

Are you saying that you can't `ipfs pin add <hash>` as of `0.4.20`?

[2019-05-16 20:51] #4176 closed

[2019-05-16 20:53] Stebalien commented on #4370
Closing due to age.

[2019-05-16 20:53] #4370 closed

[2019-05-16 20:54] #4412 closed

[2019-05-16 20:55] michaelavila commented on #807
@ericronne @olizilla

What is the process for coming up with these designs? Can we discuss and iterate in this issue as needed? Is there another process in place?

[2019-05-16 20:58] Stebalien commented on #4355
We now return all (or most) errors when we fail. However, we don't print dial _progress_. Ideally, we'd pass some kind of status channel through with the context. Alternatively, we could implement this once we have a proper event system in libp2p.

[2019-05-16 21:20] michaelavila commented on #5967
I'm going to close this issue as the bug mentioned appears to be fixed, here's my output when running the commands above:

[code]

[2019-05-16 21:20] #5967 closed

[2019-05-16 21:28] michaelavila commented on #5618
Confirmed, I still see this issue. The link referenced by @voidao has a lot of relevant information.

[2019-05-16 21:28] mateon1 commented on #6302
I noticed a few recent commits still using the old sign-off messages (fa479f7a8a0abbc35b7dcffbed2d8853e42b364f, 7340eb5e95d0bb9df5d9b04d6497576f02e21fab, ...), and some commits with no sign-off lines at all (f2d01f5201cd3a20130e20bcdba25b6b53300c63, 227da14e58307bc681bd91b49d61071280c4b937). What should be used for signing off commits from now on?

The current sign-off is:
[code]

Should this be c

[2019-05-16 21:29] Stebalien commented on #4352
Blocked on https://github.com/libp2p/go-libp2p/issues/467. At the moment, there's no good way to access the service manager.

[2019-05-16 21:35] #5991 closed

[2019-05-16 21:50] AndreaCensi commented on #3320
@Stebalien  FWIW, following the advice in other threads, I am using `--routing dhclient`, which makes the situation a bit better, but the problem persists.

Is there a previous version of `go-ipfs` where this problem is reduced? My problem like @victorb  is also that I would like to set up a stable development environment, with the basic ipfs functionality.

[2019-05-16 21:58] Stebalien commented on #5987
You may have already had that block, I'm not sure. However, while adding a file with an invalid path still works, trying to _get_ that block now fails.

The issue here is that we don't actually look at the specified file when adding content. Instead, we read the content from the HTTP request.

---

So, to solve this, someone needs to make https://github.com/ipfs/go-unixfs/blob/master/importer/help

[2019-05-16 22:06] markg85 commented on #6042
In general, that would be too bold of a statement.
In my specific case, the answer is currently and unfortunately yes.

I had reported it months ago here: https://github.com/ipfs/go-ipfs/issues/5977
And this comment specifically was from a newer IPFS version then the one i reported it with: https://github.com/ipfs/go-ipfs/issues/5977#issuecomment-480347589

It is know. The cause isn't. The fix isn

[2019-05-16 22:26] michaelavila commented on #6042
@markg85 understood, thanks for the follow up

[2019-05-16 22:31] Stebalien commented on #6302
Signoffs are no longer mandatory and contributions to a project automatically fall under that project's license per GitHub's terms of service (https://help.github.com/en/articles/github-terms-of-service#6-contributions-under-repository-license).

We've also killed off GitCop.

[2019-05-16 22:40] Stebalien commented on #5988
Revisiting this issue for triage:

That's probably not what you want to do. We wrap the blockstore with the filestore so that code will just cause us to think you don't have blocks that aren't in the filestore. I'm not sure if it'll break anything in practice (bitswap uses `GetSize` and most services use `Get`) but it's still a bad idea.

We can probably add a flag to the add command to handle thi

[2019-05-16 23:01] Stebalien commented on #3320
No. The problem is likely to be significantly worse in previous versions. This is a long standing issue we've been whittling away at, not a regression.

[2019-05-16 23:22] Stebalien commented on #5593
@magik6k is this a known issue with badger?

[2019-05-16 23:23] #5279 closed

[2019-05-16 23:31] magik6k commented on #5593
Cost of updating keys should be roughly the same as just writing new ones, so that's not really an issue. The issue is GCing old versions (afaik updates to keys just leave old versions behind to be GCed).

[2019-05-17 00:33] x5engine commented on #4190
I am still having this bug

[2019-05-17 00:48] Stebalien commented on #5593
Got it. That should be fine given that https://github.com/ipfs/go-ds-badger/issues/54 has been fixed.

[2019-05-17 00:48] Stebalien commented on #5593
Got it. That should be fine given that https://github.com/ipfs/go-ds-badger/issues/54 has been fixed.

[2019-05-17 00:48] #5593 closed

[2019-05-17 02:10] Stebalien commented on #4190
@x5engine unfortunately, there's nothing we can do about this issue other than:

1. Tell you to use a different shell.
2. Provide better feedback on the command line (I've filed two PRs for that).

[2019-05-17 06:44] verokarhu commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-17 06:45] DonaldTsang commented on #6342
@Stebalien In that case making a meta-issue for all four topics would be better, it would make reading easier.

[2019-05-17 07:41] remmerw commented on #6091
@michaelavila  Yes, that is true, just checking if the peer is in the list, might be not be the "best" solution.
When I have a wish, I would like to have a kink of event mechanism.
When deep down, a connection failure is detected, it will be broadcasted via this event mechanism.
The user can listen on such events and can react.
Maybe the "ipfs swarm connect" returns also a kind of event ID, the us

[2019-05-17 11:17] nk-the-crazy opened #6347 "How to create permanent connection (keep alive) with "IPFS swarm connect""
IPFS version: 0.4.20
-----
To speedup content discovery, creating connection to source peer
( via  "ipfs swarm connect /PEER_MULTI_ADDRESS". ).
Connection is succeeded but why it is disconnecting unexpectedly (connection is alive for max 10 - 40 secs). I assume,  this issue was solved in 0.4.20 (by marking it as "important").
Or Am I missing something ?

[2019-05-17 11:22] rafaelekol commented on #6303
We need it to be in decentralized way(via PeerId). Thus connecting directly by IP not suiting us.

[2019-05-17 12:20] victorb commented on #3320
Thanks @Stebalien. Did the following change: https://github.com/open-services/bolivar/pull/6/files

Seems to have stopped killing my router at home, at least after running the tests for a couple of times (without that change, it gets killed every time I run the tests).

While it's good that it's now working, the application does not work as wanted after that change, as it won't help local peers fi

[2019-05-17 14:58] obo20 commented on #6297
@dokterbob Out of curiosity, what machine specs are you running that allows you to connect to around 14400 peers at once?

[2019-05-17 18:04] Stebalien commented on #6303
Got it. Unfortunately, the issue here is simply that the DHT (the system we use to discover peers) is really slow at the moment. This is probably made worse by the fact that you're running on a mobile device.

[2019-05-17 18:04] #6303 closed

[2019-05-17 18:45] michaelavila commented on #6091
@remmerw understood. Polling the output of `ipfs swarm peers` is probably your best bet right now. Adding a flag to the command to filter down the list is an option, but if you're already filtering that list down then you're not going to get much from it.

[2019-05-17 19:13] Stebalien commented on #3320
Unfortunately, that won't work if any one of your local nodes is a member of the global DHT. That node will include you in their routing table and tell their peers about you.

So, bitswap should still work. Are you trying to get this to work in an offline/disconnected context where local peers can't search the global DHT?

Honestly, a local peer exchange seems like the best solution for issues lik

[2019-05-17 19:28] hsanjuan commented on #3999
@olizilla I have fixed the "magic". Dockerhub is a broken slow mess though, so it may take some retries until builds run and succeed.

[2019-05-17 19:42] Stebalien commented on #3424
I've tried this with the trickle-dag importer and can't reproduce. Both large chunks and small chunks take the same amount of time (~0.1 seconds).

Closing as we've made a bunch of changes to this code and don't have the original files anymore.

[2019-05-17 19:42] #3424 closed

[2019-05-17 19:50] Stebalien commented on #6203
Is there a peer providing this file that I could connect to?

[2019-05-17 22:16] lordfenixnc commented on #4224
im a little confused...     i am currently  --nocopy files on drive x  and my ipfs is on drive e.   seems to be working fine but if a open a 2nd CMD  i get  cannot add filestore refrences outside of ipfs root

[2019-05-18 03:54] djdv commented on #6324
Cool!
![more like bug bash](https://user-images.githubusercontent.com/13862850/57964185-ff31f080-78fe-11e9-86e5-24ebc6e4917c.png)

[2019-05-18 15:55] vanrein commented on #1678
I was reading this, hoping to find just that.  IPFS wants to get away from hosting locations for reasons of persistency, but IPNS is different.  I love the idea of using DNS (and DNSSEC) and getting very powerful bookmarks:

 1. Stored domain name, for human reference where it once originated from
 2. Stored IPNS key, so we can lookup the names from anyone who pins them, along with new versions fr

[2019-05-18 17:03] avatar-lavventura commented on #5826
I am sorry for the late response.

I am using `ipfs` on my research , where I am passing large data files in between users and clusters. My objective is to find out how much data transmitted between user and cluster node using `ipfs add` and how much total new data was added to the repo for that specific `ipfs add` invocation.

Based on the size of the transmitted data (communication usage) and si

[2019-05-18 19:02] Stebalien commented on #6324
Final stats: Starting with a total of 953 issues/PRs, we triaged 238 (25%) of these issues. Out of these, we validated 125 (~53%), iceboxed 3, and closed 110 (~46%).

We haven't finished by a long shot but, if we keep this up, we can make a pretty big dent.

[2019-05-18 19:02] #6324 closed

[2019-05-18 20:39] Stebalien commented on #6253
I'm sorry, none of us have any experience with gomobile. I'd ask on the golang IRC channel (or maybe Stack Overflow?).

[2019-05-19 20:15] ligi opened #6350 "ipfs swarm connect fails with: failure: dial attempt failed: no good addresses"
on one machine I have:

[code]

 I wanted to connect (also v0.4.20) from another host - but get:

[code]

but there is a node reachable on the other side:
[code]

[2019-05-20 02:12] suutaku opened #6351 "circuit relay not connect peers automatically"
go version: go1.12.5 darwin/amd64
OS:  Mac OS X 10.14
ipfs version: 0.4.21-dev

peer1: behind NAT 1
peer2: with public IP
peer3: behind NAT 2

`ipfs swarm peers`

peer1  ---> peer2 [OK]
peer3 ---> peer2 [OK]
peer1  ---> peer3 [NOT OK]

if ruing ipfs swarm connect by hand

At peer3
[code]
At peer1
[code]

problem is peer1 and peer3 can connect each other via p2p circuit but not going connect automa

[2019-05-20 15:51] Kubuxu commented on #4382
I will think about it.

First, before implementing it in go-ipfs I would like to run some tests on how different garbage management strategies compare.

Reference counting won't solve the "stop the world problems" as sweep running at any time will be inconsistent with for example an in-process `ipfs add`.

I've spent some time reading some literature and reference counting might be a good solution

[2019-05-20 16:06] magik6k commented on #4382
Assuming we keep the overhead mostly on disk (i.e. not in memory), 0.1% overhead for usable GC doesn't sound too bad to me.

[2019-05-20 16:24] Stebalien commented on #4382
It can if we make adding and pinning atomic and mark every pinned block. The important part for concurrency isn't really reference counting, it's atomically marking blocks to keep/delete.

[2019-05-20 16:34] victorb commented on #3320
Hm, I see... I guess what I'm trying to figure out is how to get local (as in same local network) peers to collaborate on sending data, while avoiding the issue of ipfs/libp2p killing peoples router.

Exactly. The use case is that there are two peers, they are locally connected but might or might not have internet connection. Even if they do/do not have a internet connection, they should still be

[2019-05-20 16:43] Stebalien commented on #3320
MDNS _should_ cause these peers to connect to eachother automatically. However, we may need to improve MDNS support.

We could _also_ try using the DHT for local rendezvous (i.e., who else has my same public IP?).

[2019-05-20 16:59] #4190 closed

[2019-05-20 17:05] Kubuxu commented on #4382
This would allow also for concurrent tracing garbage collection. So this benefit is the same for tracing GC and reference counting.

[2019-05-20 17:10] Stebalien commented on #4382
Sure, but the marks need to go on-disk so we don't run out of memory and, unless I'm mistaken, GC would need to re-make them every time it runs.

[2019-05-20 17:12] tmcw opened #6354 "ipfs swarm connect → press enter → panic"
#### Version information:

go-ipfs version: 0.4.20-
Repo version: 7
System version: amd64/darwin
Golang version: go1.12.4

#### Description:

Steps to replicate:

1. Run `ipfs swarm connect`
2. Press enter

This produces the following panic:

[code]

[2019-05-20 17:46] Kubuxu commented on #4382
If there were no pins removed then marked set can be re-used, and new pins can be added to it.
If some pins were removed then re-marking is necessary or we can continue sweeping with current set and not worry about it for some time (until we swept too little data to go bellow watermark or user forces full GC).

What I'm worried about with reference counting, is us nailing all possible data races t

[2019-05-20 18:08] Stebalien commented on #6351
Peer 1 doesn't know that peer 3 is behind peer 2. If you enable the autorelay service (https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#autorelay) on peer3, it will:

1. Automatically search for relays.
2. Advertise them.

However, you may need to enable AutoRelay on peer2 as well for peer3 to decide to use it. Unfortunately, if you enable both `AutoRelay` and `Relay.Hop`

[2019-05-20 18:13] Stebalien commented on #4382
The difference between marking and counting references seems pretty small. We could take it slow but migrations are always a pain anyways.

[2019-05-20 19:12] vyzo commented on #6351
yes, it is correct.

[2019-05-20 21:23] Stebalien commented on #4385
This would likely be useful for our public gateways. However, it significantly impacts the performance of a local gateway/API (like, 14x+ slowdown).

[2019-05-20 21:24] Stebalien commented on #4385
[code]

[2019-05-20 21:36] Stebalien opened #6356 ""failure on stop" error"
#### Version information:

[code]

#### Description:

I got:

[code]

Immediately after starting. Then I got:

[code]

On shotduwn.

[2019-05-20 22:47] #6354 closed

[2019-05-21 00:31] KrishnaPG commented on #3907
Would really appreciate if someone can point to how a client can establish webSocket connection to a node, and gateway. Any examples would be very helpful.

[2019-05-21 01:18] Stebalien commented on #3907
@KrishnaPG please ask on the forums (https://discuss.ipfs.io) and tag me. When you do, please expand on what you mean by "establish a webSocket connection" (connect to the API? gateway? libp2p?).

[2019-05-21 02:16] suutaku commented on #6351
Thanks. So what should I do is enable AutoRelay both 3 peers and also enable RelayHop on peers2?

As a really for the rest of the network is not a good thing for peer2?

[2019-05-21 02:43] KrishnaPG commented on #3907
Thank you @Stebalien

Posted the question there: https://discuss.ipfs.io/t/how-to-establish-a-websocket-connection-to-a-node/5455

While I, and many others like me, would love to use the forum, and as a matter of fact, found many questions on these lines there asked already, such as:
- https://discuss.ipfs.io/t/how-browser-nodes-to-fetch-content-from-a-go-or-nodejs-node/2091
- https://discuss.ipfs

[2019-05-21 03:28] Stebalien commented on #6351
Well, there are a _lot_ of nodes on the network. You'll get a _lot_ of connections and it will use a lot of bandwidth. My point is that there's no built-in support for _private_ relays at the moment.

[2019-05-21 03:28] Stebalien commented on #6351
(closing for tracking as this is a question)

[2019-05-21 03:28] #6351 closed

[2019-05-21 03:31] Stebalien commented on #6350
What's the output of `ipfs id` on the other host?

[2019-05-21 04:04] NatoBoram commented on #6323
There's an example here : https://github.com/ipfs/website/tree/master/static/docs/examples/init#systemd

[2019-05-21 04:04] tmcw opened #6357 "ipfs swarm2 got error on dial, etc"
#### Version information:

go-ipfs version: 0.4.20-
Repo version: 7
System version: arm/linux
Golang version: go1.12.4

#### Description:

Process:

1. Install ipfs on a Raspberry PI: run `ipfs init -p lowpower` to try and cater to the PI hardware. (Note that I've also tried running `ipfs init`, without the lowpower profile. The same thing happens.
2. Run `ipfs daemon` in one terminal.
3. Run `ipf

[2019-05-21 04:44] Stebalien commented on #6357
I believe the "no good addresses" error is coming from nodes that are only listening on localhost, port 4001. We say "no good addresses" because we know that _we're_ listening on that address so we refuse to dial it.

Looks like https://github.com/libp2p/go-libp2p-kad-dht/issues/330.

[2019-05-21 04:57] Stebalien commented on #6237
Fix still in progress, unfortunately. See the discussion on https://github.com/libp2p/go-libp2p-circuit/pull/76.

[2019-05-21 05:56] suutaku opened #6358 "Cannot download file from some peer even has connected to it"
go version: go1.12.5 darwin/amd64
OS: Mac OS X 10.14
ipfs version: 0.4.21-dev

peer1 and peer2 was in same local network.
peer3 was in other local network.

ipfs add Qmxxxxxxx from peer3 and peer3 maybe shutdown after add command executed successfully.

at peer1  `ipfs get Qmxxxxxxx`  working fine

at peer2 `ipfs get Qmxxxxxxx` not working

at peer1` ipfs add Qmxxxxxxx` working fine

at peer2 `ipf

[2019-05-21 10:23] lidel opened #6359 "mdns error: could not determine host IP addresses"
#### Version information:

[code]

#### Description:

Starting 0.4.20-rc1 (empty profile) produces mdns error which is not present in 0.4.20:

[code]

cc @olizilla as he reported the same issue on irc

[2019-05-21 13:26] marcinczenko opened #6360 "IPNS names do not resolve when published with different key than `self`"
#### Version information:
ipfs --version --all
go-ipfs version: 0.4.20-
Repo version: 7
System version: arm/linux
Golang version: go1.12.4

As requested by @aschmahmann this is continuation of our conversation from https://github.com/ipfs/integration-mini-projects/issues/4.

I was initially testing publishing and resolving of IPNS together with pubsub service but it looks like the problem is more

[2019-05-21 15:26] obo20 commented on #6347
The fix you're referring to unfortunately doesn't work. See: https://github.com/ipfs/go-ipfs/issues/6271

[2019-05-21 16:08] aschmahmann commented on #6360
@marcinczenko it looks like you're having DHT issues. Here's a couple things I've run on my machine with 0.4.20 that seem to work.

[code]

If it can't resolve the name initially it's almost always happened for me that running the resolve a second time results in the name resolving. Btw I think the main difference between "self" and other keys is that during the DHT search for "self" the peer is t

[2019-05-21 18:16] michaelavila commented on #6296
@dokterbob a few things:

1. Have you confirmed any versions prior to `0.4.19` behaved differently?
2. I know that the providing in IPFS can quickly get backed up. I don't know if that's the cause here, but I'm bringing it up to see if you've ruled it out? And if not, I think that's worth doing.
3. What's the behavior over time for providing during the 2 hours you are seeing those messages? Do you

[2019-05-21 19:50] #6320 closed

[2019-05-21 20:18] reinerRubin commented on #6042
I am going to try this one. I have checked how the current progress option works and think to add more info for pin/command to show.

[2019-05-21 23:06] michaelavila commented on #6042
@reinerRubin it is worth discussing your proposed solution here before taking the time to implement it. We can help avoid a lot of rework by getting you the feedback early.

[2019-05-22 00:28] lidel commented on #4240
@Stebalien thoughts on adding `import` / `export` to go-ipfs?
Would it be enough to exclude `self` and limit `export` to keys created via API (as suggested in https://github.com/ipfs/go-ipfs/issues/4240#issuecomment-345552901)? Maybe we could add an opt-in flag to `key gen` that marks newly created key key as "safe to export".

@satazor mentioned they will need them for IDM Wallet UI ([ipfs-shipya

[2019-05-22 03:30] #6347 closed

[2019-05-22 07:03] Stebalien commented on #6237
@dokterbob could you try building https://github.com/ipfs/go-ipfs/pull/6361? I've been running this for a while on one of our boot strappers and it appears to be pretty stable.

[2019-05-22 09:06] marcinczenko commented on #6360
@aschmahmann Thanks for checking it.

When you say `Shell 1` or `Shell 2` do you use different nodes (physically located in different networks - so not on the same LAN)? Because when I try to resolve from the same machine where I published then the name always resolves regardless of the key I am using. But when I am on a different machine, on different network (in different country to be precise),

[2019-05-22 10:16] reinerRubin commented on #6042
I think to expand "ipfs/go-merkledag.ProgressTracker" with events and populate it around "ipfs/go-merkledag/EnumerateChildrenAsyncDepth".

Events could be slice or channel of structs (probably slice could fit better because of buffer, but idk). And theses structs would consist of block, action, maybe some meta.

So the pin command would track these events and show some additional stat.

idk, if it

[2019-05-22 14:08] eminence commented on #6302
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.

[2019-05-22 17:04] ninkisa opened #6363 "Error: cannot acquire lock: Lock FcntlFlock of /export/repo.lock failed: resource temporarily unavailable"
#### Version information:
ipfs version --all
go-ipfs version: 0.4.21-rc1-
Repo version: 7
System version: amd64/linux
Golang version: go1.12.5

#### Description:
We are using ipfs in a docker container. After restart of the container it started failing with:
ipfs id
Error: cannot acquire lock: Lock FcntlFlock of /export/repo.lock failed: resource temporarily unavailable

I tried to clean the lock

[2019-05-22 17:29] Stebalien commented on #5810
Concern I just brought up in the meeting WRT stashing something in the context. I'm worried about introducing accidental dependencies between services where my service decides to wait for your service to stop.

However, thinking about it a bit, I don't think this'll actually be all that much of an issue given that any sub-processes using that context will be canceled anyways (i.e., if we use the w

[2019-05-22 18:24] koalalorenzo commented on #6323
Some points that are related to this
`go-ipfs` looks like it is not really built as a service for all the users. Once you run ipfs as a systemd service all the users that wants to use IPFS are forced to:

1. Use the API: this should be the default behaviour but requires `IPFS_PATH` to be set anyway or `--api`
2. Set up `IPFS_PATH` and have the permissions to run commands

Systemd does support user

[2019-05-22 19:37] eingenito commented on #6363
Hey @ninkisa. Is this problem occurring with the official docker image available at https://hub.docker.com/r/ipfs/go-ipfs/builds? Or are you making your own? And if you are can you point us to an image we can try?

Thanks.

[2019-05-22 20:03] Stebalien commented on #6237
Reopening waiting on confirmation. The latest master should now have all the required fixes.

[2019-05-22 21:33] marcinczenko commented on #6360
@aschmahmann I aligned the ports and did some more tests.

I am not sure if 4002 changes anything, but from my more recent tests across three different nodes, it looks like you may be right - the key seem to indeed have some influence on resolving.

So with some keys I really cannot get it resolved and with other key I got it resolved even after first attempt.

I am still puzzled why in some case

[2019-05-22 22:18] Stebalien commented on #6323
You can actually configure the ipfs client to use a remote server by running:

[code]

We should _probably_ have a nice command for this.

[2019-05-22 22:25] koalalorenzo commented on #6237
Will build & check it tomorrow! Thx for the update

[2019-05-22 22:41] koalalorenzo commented on #6323
My point is that it should not be required to do that if it was a service. Hashicorp's products are a good example.

[2019-05-23 00:26] Stebalien commented on #6323
Ah, yeah, I agree (but we need multitenent support for that to really happen).

[2019-05-23 00:33] Stebalien commented on #6305
New blocker: https://github.com/libp2p/go-libp2p/issues/644. Yay!

[2019-05-23 01:08] Stebalien commented on #6237
@koalalorenzo and @obo20, please use https://github.com/ipfs/go-ipfs/pull/6368 and not master till I get some reviews on the libp2p patches and merge it into master.

TL;DR: There was a bug in libp2p since time immortal. We fixed it this release cycle (https://github.com/ipfs/go-ipfs/pull/6368) but then introduced a feature that triggers this bug. The branch I linked to above removes this feature.

[2019-05-23 02:16] feilongfl opened #6369 "ipfs daemon crash"
#### Version information:

[code]

#### Description:

ipfs crash with
[code]

full log:

[log.zip](https://github.com/ipfs/go-ipfs/files/3210022/log.zip)

[2019-05-23 06:03] Stebalien commented on #6369
This _looks_ like an out of bounds write somewhere but there isn't enough here to debug it. Unfortunately, go-ipfs crashed inside the allocator when trying to make a slice which means the out of bounds write probably happened somewhere else and corrupted the state of the allocator.

Can you reproduce this reliably?

[2019-05-23 07:08] ninkisa commented on #6363
Hi, yes I'm using the official docker image ipfs/go-ipfs. Originaly was running with v0.4.20, but decided to try with the latest release candidate v0.4.21-rc1 to see if there is difference. Running the container with and emtpy folder is working fine, but with the official repository failes with the above error. Any idea what to check or how to fix it?

[2019-05-23 08:46] hazae41 opened #6371 "Rename "ipfs" command to "goipfs""
This would be useful for differentiate it from js-ipfs

[2019-05-23 09:45] feilongfl commented on #6369
After I raised this issue, `ipfs daemon` restarted 4 times.
3 error is `unexpected signal during runtime execution`,and 1 error is `panic: runtime error: growslice: cap out of range`
I used the following fish shell to keep the program crashed and restarted, I got the following log

[code]

log files(4 logs):
[ipfslog.tar.xz.zip](https://github.com/ipfs/go-ipfs/files/3211396/ipfslog.tar.xz.zip)

[2019-05-23 11:46] ninkisa commented on #6363
I'n attaching some output from the commands I tried
[error.txt](https://github.com/ipfs/go-ipfs/files/3211912/error.txt)

[2019-05-23 12:42] aschmahmann commented on #6360
@marcinczenko so our options for what's going on here are either:
1. There is a bug publishing with `--key`, or
2. Maybe it's just DHT issues manifesting in this example

There are some libp2p folks investigating DHT improvements that I can connect you to if that's up your alley of interest. Additionally, if you'd like to do some debugging to verify the `--key` issues that could also be helpful.

[2019-05-23 16:45] Stebalien commented on #6369
Yeah, there's definitely some memory corruption. I'm going to build a new RC for the next release and see if that helps. We've fixed a couple of (possible) memory corruption bugs this release cycle so we'll see.

What kind of hardware are you running on? `cat /proc/cpuinfo`? Seeing four crashes while nobody else has reported any is really weird (unless everyone else is just silent or stuck on 0.4.

[2019-05-23 16:58] Stebalien commented on #6371
Unfortunately, that would also break everything that depends on the ipfs command and assumes that it's called ipfs. Installing go-ipfs should continue to "just work" by default and the fallout here just isn't worth it.

However, package maintainers and users are free to call the binary whatever they want. For example, Debian could use it's [Alternatives System](https://wiki.debian.org/DebianAltern

[2019-05-23 16:58] #6371 closed

[2019-05-23 17:12] Stebalien commented on #6271
Reopening till we can confirm.

[2019-05-23 20:27] b5 commented on #5810
Do these stashed-monitoring processes need to work across golang-to-golang process boundaries?

I'm thinking of `go-core-http-api` calls to a `go-ipfs` process as an example.

If so, might be worth having `ourlibrary` be a superset of / interoperate with tools that encode context details to network metadata (HTTP headers, libp2p... something's) to cut down on the awful boilerplate of reconstructin

[2019-05-23 20:37] feilongfl commented on #6369
I run it on my old laptop

[code]

[2019-05-23 20:44] feilongfl commented on #6369
and here is my config

[code]

[2019-05-23 21:56] marcinczenko commented on #6360
Ok. Please give me a couple of day to process this - I am traveling at the moment but I will be back on Saturday.

I would like helping out as much as I can. Sometimes I may be struggling a bit with available time, but it is on my roadmap to grasp a more about internals of IPFS and the whole eco-system and potentially contribute. Let's then start with what you suggest. I do like idea on getting mo

[2019-05-23 23:55] Stebalien commented on #5810
I think you'd just wait for the HTTP request to finish on one side and block the HTTP request from finishing on the other. There isn't really any metadata here.

[2019-05-24 02:46] Stebalien opened #6376 "Double buffer get and cat"
We should double-buffer IPFS get and cat. That is, have one goroutine reading from the datastore and filling buffers to send back to the client and another goroutine actually writing these buffers.

From some basic testing with https://github.com/stebalien/go-dbuf, this gives a 10% speedup on an SSD with badger. However, I _think_ we can do better.

[2019-05-24 06:03] rathanu opened #6377 "ipfs not installing"
everytime i try to install "go-ipfs"
this happens
i dont understand
pls help

kabuli@Kabulis-MacBook-Pro:~/go-ipfs$ make install
dyld: Symbol not found: _unlinkat
  Referenced from: /usr/local/go/bin/go
  Expected in: flat namespace

dyld: Symbol not found: _unlinkat
  Referenced from: /usr/local/go/bin/go
  Expected in: flat namespace

dyld: Symbol not found: _unlinkat
  Referenced from: /usr/loc

[2019-05-24 07:55] marcinczenko commented on #6360
The links seem to be not valid. Do you mean: https://github.com/libp2p/go-libp2p-pubsub/pull/171 for "attempt 1" and https://github.com/libp2p/go-libp2p-pubsub/issues/175 for "some background info"?

[2019-05-24 10:18] lidel commented on #6359
Same in `0.4.21-rc3`

[2019-05-24 12:12] aschmahmann commented on #6360
Yep sorry, about the broken links, fixed them.

[2019-05-24 15:59] npatni0102 commented on #5767
I am not able to run this command. getting error : package github.com/Kubuxu/go-ipfs-swarm-key-gen/ipfs-swarm-key-gen: cannot download, $GOPATH not set. For more details see: go help gopath

Even I have set the GOPATH in .bashrc

export GOPATH=/usr/lib/go/
export PATH=$PATH:$GOPATH/bin

please help..

[2019-05-24 16:10] Stebalien commented on #5767
@npatni0102 please ask on https://discuss.ipfs.io.

[2019-05-24 17:12] Stebalien commented on #6359
You have autorelay enabled, don't you...

[2019-05-24 17:14] Stebalien commented on #6359
Hm. Nevermind, that _shouldn't_ break anything.

What's the output of:

* `ipfs config show`
* `ipfs id`
* `ipfs addrs local`
* `ipfs addrs listen`

?

[2019-05-24 19:09] Stebalien commented on #6377
This is the best answer I could find: https://trac.macports.org/ticket/58138. Unfortunately, this isn't an issue with go-ipfs so there isn't much we can do to help.

I recommend installing go from https://golang.org/dl/.

[2019-05-24 19:09] #6377 closed

[2019-05-24 20:15] Stebalien commented on #6358
@suutaku which exact commit were you using and were you using?

If you can replicate this, could you run `ipfs bitswap wantlist` on peer 2 and `ipfs bitswap --peer=peer1 on peer 2 and peer 3?

[2019-05-24 23:17] Stebalien commented on #6237
The RC3 (https://github.com/ipfs/go-ipfs/issues/6237) contains the fix. Any updates?

[2019-05-25 03:40] Stebalien commented on #6369
Could you try the latest RC (https://dist.ipfs.io/go-ipfs/v0.4.21-rc3)? If this persists, I'll have to start running the race detector on a bunch of things.

[2019-05-25 03:43] Stebalien commented on #6356
@magik6k I'm a bit concerned about this one. It looks like we built a mock repo for some reason.

[2019-05-25 04:10] rathanu commented on #6377
I did install GoLang. .but i dunno. I might have deleted some files in
/usr/local/go/bin .. And everytime that message is showing up

On Sat, May 25, 2019, 00:40 Steven Allen <notifications@github.com> wrote:

[2019-05-25 08:31] koalalorenzo commented on #6237
3 hours of running on 30% of the fleet. Still monitoring, nothing happened so far. I will wait for 24h to be sure :)

[2019-05-25 13:02] magik6k commented on #6356
Looking

[2019-05-25 13:35] magik6k commented on #6356
This one is coming from Closing MFS root - this hook: https://github.com/ipfs/go-ipfs/blob/master/core/node/core.go#L116 - more exactly from https://github.com/ipfs/go-mfs/blob/master/repub.go#L51

I'm quite confused by this. When we setup `BuildCfg`, and `Repo` is nil, we'll set it to a in-memory mock repo - https://github.com/ipfs/go-ipfs/blob/master/core/node/builder.go#L147 - https://github.co

[2019-05-25 15:21] obo20 commented on #6237
@Stebalien Running on a few of our nodes right now. Things seem to be working well so far.

[2019-05-25 17:39] Stebalien commented on #6377
Yes but _where_ did you install it from? It looks looks like you installed some stuff from macports (or elsewhere?) and go isn't happy about it.

[2019-05-25 17:42] Stebalien commented on #6237
Awesome! Let me know if anything changes. We'll probably ship a final release Monday.

[2019-05-25 17:46] Stebalien commented on #6356
Unfortunately, no. I'm thinking it may have something to do with the commands lib? The way we construct the node on start is really weird.

[2019-05-25 18:15] rathanu commented on #6377
😂😂 maybe. I'll send u as to where I downloaded it from..

On Sat, May 25, 2019, 23:09 Steven Allen <notifications@github.com> wrote:

[2019-05-25 22:21] Zolmeister commented on #5287
Please consider using Tor [rend spec v3](https://gitweb.torproject.org/torspec.git/tree/rend-spec-v3.txt) address encoding for PeerIDs
Ref. https://github.com/libp2p/specs/issues/139

[2019-05-26 01:16] lidel commented on #6359
No autorelay,  `ipfs config show` is the default config right after init:
[code]

`ipfs id`
[code]

`ipfs swarm addrs  local`
[code]

`ipfs swarm addrs listen`
[code]

[2019-05-26 02:46] graylan0 commented on #6237
Running for the past day as well as some friends who also set it up on their nodes, I average around 850 - 900 peers. They average around the same. And the Ram usage is much less (5x).

[2019-05-26 16:03] remmerw commented on #6091
Ok, after a quick evaluation of the source code.
One very simple approach would be, to add an additonal function to SwarmAPI interface

Interface :
https://github.com/ipfs/interface-go-ipfs-core/blob/master/swarm.go
type SwarmAPI interface {
	// Connect to a given peer
	Connect(context.Context, pstore.PeerInfo) error
        IsConnected(context.Context, pstore.PeerInfo) (bool, error)           ***

[2019-05-26 17:41] Stebalien commented on #6237
Ok. Considering this closed, let the release train roll...

[2019-05-26 17:41] #6237 closed

[2019-05-26 17:43] Stebalien commented on #6237
Also, a big thank you to everyone in this thread for helping debug this!

[2019-05-26 18:50] Stebalien commented on #6363
This _usually_ means that some other process still has the lock. Could you check `lsof /path/to/repo/repo.lock`?

Could you post your config? (`ipfs config show`).

[2019-05-26 19:59] sanderpick commented on #6237
Looking good here too! Thank you @Stebalien

[2019-05-27 00:36] tmcw commented on #6357
Is there anything in particular about my setup that might be triggering this bug? And is this likely to be the root cause behind IPFS being unable to add a pin? I'm trying to get this server set up to pin my website, and this is a blocker. If there's a different approach that would make IPFS work, I'd love to try it.

[2019-05-27 02:23] suutaku opened #6381 "GC basically useless for now"
[code]

ipfs gc takes too long and `StorageGCWatermark` looks like not working.
we use ipfs as a file transfer and temp file storage.
first we download files and pin it so other peers can get it immediately.
when process was done. we upload files and pin it. finally, if all process was done, we delete files we downloaded and unpin from ipfs. we cannot run `ipfs repo gc` because it will make our sy

[2019-05-27 10:41] ninkisa commented on #6363
Hello Sebastian,

here is the output from lsof /path/to/repo/repo.lock

/ $ lsof /export/repo.lock
1       /sbin/tini      /dev/null
1       /sbin/tini      pipe:[851888]
1       /sbin/tini      pipe:[851889]
6       /usr/local/bin/ipfs     /dev/null
6       /usr/local/bin/ipfs     pipe:[851888]
6       /usr/local/bin/ipfs     pipe:[851889]
6       /usr/local/bin/ipfs     /export/datastore/006076.

[2019-05-27 12:26] dokterbob commented on #6237
For future reference (I'm about to upgrade to the rc1 now).
![ssp_temp_capture](https://user-images.githubusercontent.com/22742/58419596-f7064d80-8082-11e9-84b2-08de7f1ea690.png)

Memory usage is just IPFS.

[2019-05-27 17:45] Stebalien commented on #6237
@dokterbob please upgrade to the C3, not the RC1.

[2019-05-27 17:50] Stebalien commented on #6363
According to that, IPFS is still running.

[2019-05-27 20:24] voxsoftware commented on #3318
0.4.20, using more than 3GB Ram, problem still

[2019-05-27 20:29] lordcirth commented on #3318
Under what load, and after running for how long? Does it cap at 3GB for you, or continue to grow?

[2019-05-27 20:40] voxsoftware commented on #3318
I am running about 2 days, but really i still not use too much. Continue growring, now is 3.7GB Ram. Under Ubuntu 18.04 package: go-ipfs.

[2019-05-27 20:55] whyrusleeping commented on #3318
I really wonder whats causing this. mars (our first bootstrapper node, and arguably the most connected to ipfs node) peaks at just over 4GB, but every time I check, that much memory is not actually in use, its just the go runtime refusing to return the memory to the OS.

@Stebalien can we try running that memory profile dumper thing on some machines? https://gist.github.com/whyrusleeping/b0431561b

[2019-05-27 21:13] voxsoftware commented on #3318
Just now was killed the daemon. This makes go-ipfs unusable. Have js-ipfs the same problem?

[2019-05-27 21:20] Stebalien commented on #3318
@voxsoftware try disabling the DHT by running the daemon with `ipfs daemon --routing=dhtclient`. Also, I'd consider upgrading to the latest RC (go-ipfs 0.4.21-rc3) or just wait for the release (likely tonight or tomorrow).

[2019-05-27 22:45] voxsoftware commented on #3318
I started with --routing=dhtclient. In about 1 hour, now is 850MB memory. I evaluated using ipfs on desktop app, but with this, I see really still unusable for that purpose

[2019-05-27 23:10] skorokithakis commented on #3318
Same here. I'm thinking of having systemd restart the daemon once a day, which is, unfortunately, the last thing I'm going to try before giving up on IPFS altogether...

[2019-05-27 23:42] lidel commented on #5287
@Zolmeister thank you for sharing. This issue is only about adding support for wrapping existing PeerIDs in CIDv1 to unlock web uses without huge refactoring (it does not change underlying way we construct PeerID). Discussion in https://github.com/libp2p/specs/issues/139  is not blocked by this, feel free to continue it there :+1:

[2019-05-27 23:44] lidel commented on #5287
- Adding IPLD codec for libp2p public keys  (https://github.com/multiformats/multicodec/pull/131) got merged
- I opened https://github.com/multiformats/js-multicodec/pull/45 and https://github.com/ipfs/go-cid/pull/86 to add support for it in GO and JS
  - I assumed `go-cid` is the right place, as [go-multicodec](https://github.com/multiformats/go-multicodec/) is deprecated

[2019-05-27 23:55] lordcirth commented on #3318
I set a memory cap in systemd. The memory pressure keeps it's usage down, and if it still goes over, it gets automatically killed and restarted. Works well enough.

[2019-05-27 23:56] voxsoftware commented on #3318
Can you give an example please? An this works ok for Linux backend, but, how about using in a desktop app for example in Windows?

[2019-05-28 00:02] lordcirth commented on #3318
Like so:
https://gist.github.com/lordcirth/378ae7c3a8d2786874d00867098cbad1

As for Windows, dunno. Haven't used it much in a long time.

[2019-05-28 00:32] skorokithakis commented on #3318
@lordcirth this is extremely helpful, thank you.

[2019-05-28 02:01] voxsoftware opened #6382 "What is the reason for very slow"
#### Version information:
go-ipfs 0.4.20

 * I go to a machine with go-ipfs 0.4.20 and execute ``` ipfs add xxxxx``` (a file with 20MB), i got the *hash*
 * I go to another machine, use the HTTP gateway with the hash, the request hangs, more than 36 minutes without still can access to uploaded file

What is the reason for this?

[2019-05-28 02:04] nampdn commented on #4242
@manishrjain Could you please help me where to change this parameter in the `config` file? I'm facing the same issue

[2019-05-28 02:53] voxsoftware commented on #6382
I tested the same happens with orbit-db if I try initiate database on nodejs app (using http client) hangs, but in browser not. What is the reason of this really really slow ?

[2019-05-28 06:55] jasonzhouu commented on #6382
https://github.com/ipfs/go-ipfs/issues/5226#issuecomment-408614576

[2019-05-28 07:05] voxsoftware commented on #6382
Just now 5 hours later, still cannot access to hash from other machine

[2019-05-28 07:08] Stebalien commented on #6382
@jasonzhouu that's a different issue. The issue _here_ is about finding content. The issue _there_ is about receiving the same block multiple times. While that's _still_ an issue, it no longer scales linearly with the number of peers that _have_ the block.

---

@voxsoftware

The gateway may not be able to reach your node. However, the issue is likely content routing (i.e., using the DHT to find w

[2019-05-28 07:10] Stebalien commented on #6382
Closing as this isn't directly actionable. Feel free to continue asking followup questions.

[2019-05-28 07:10] #6382 closed

[2019-05-28 07:17] jasonzhouu commented on #6382
There are 2 kinds of test in https://github.com/ipfs/go-ipfs/issues/5226#issuecomment-408614576 :
- latency test
- duplicate blocks test

[2019-05-28 07:17] Stebalien commented on #4242
@nampdn You can't yet change this through the config. Could you file a [feature request](https://github.com/ipfs/go-ipfs/issues/new?labels%5B%5D=feature&template=feature.md)?

[2019-05-28 07:30] voxsoftware commented on #6382
@Stebalien my node is online. I tested with other files, on node and works some times. But other times like this, hangs for many many time. Really the problem is not related to node because is my own node, in a machine with 0 latency from the other machine where I am testing get the hash.

So, if you close the node, you only are ignoring a big issue

[2019-05-28 07:33] voxsoftware commented on #6382
@jasonzhouu latency more than one hour?

[2019-05-28 07:34] voxsoftware commented on #6382
I consider acceptable 5 minutes, but more than 20 minutes, is unusable. If I need have some requirenments on nodes where I uploaded please say me, because I cannot believe that this happens

[2019-05-28 07:37] voxsoftware commented on #6382
Another aclaration, for this tests, I am using *vps*  on dedicated servers, with 100% internet all time and without firewalls, and really I don't understand, what is happening

[2019-05-28 07:38] jasonzhouu commented on #6382
yes

[2019-05-28 07:52] jasonzhouu commented on #6342
suggest a new item:
- https://github.com/ipfs/go-ipfs/issues/6382 (latency of DHT resolving)

[2019-05-28 08:03] Stebalien commented on #6382
@jasonzhouu IIRC, those tests are all about duplicate blocks in a closed test network. I can't find anything on that thread about finding content, latency, etc.

I'm sorry, I realize I wasn't clear on this. This issue is very much valid and we're working on it as fast as we can.

I closed this report simply for tracking purposes. This isn't something that can simply be fixed or implemented and lea

[2019-05-28 08:13] DonaldTsang commented on #6342
@jasonzhouu are you suggesting to combine those two issues?

[2019-05-28 08:17] jasonzhouu commented on #6382
@Stebalien
![](https://user-images.githubusercontent.com/32749078/43357895-d91e0074-9280-11e8-89ae-3381a7472176.png)

[2019-05-28 08:21] jasonzhouu commented on #6342
@DonaldTsang
I'm suggesting add the first one
And change the description of the second one, which already exist in your list.

[2019-05-28 08:28] Stebalien opened #6383 "Content Resolution And Gateway Performance"
Finding content on the IPFS network is often quite slow. This meta-issue tracks the issue, the reasons behind it, and the work being done to fix it.

There are two main causes for not being able to find content on the IPFS network:

1. There are either no IPFS peers providing the content or those peers are unreachable (e.g., they're behind a NAT).
2. The DHT is slow and unreliable.

The first issu

[2019-05-28 08:28] Stebalien commented on #6383
cc @vyzo, @raulk am I missing anything here?

[2019-05-28 08:36] Stebalien commented on #6382
@jasonzhouu The comment associated with that graph is:

_That_ issue has been (mostly) fixed. At the time, go-ipfs was asking every connected peer for every block of data instead of asking different peers for different blocks. If 10 peers had a single block, go-ipfs would fetch the block from all 10 peers and take 10x longer to do so as it was downloading 10x the amount of data.

The _delay_ there

[2019-05-28 08:37] Stebalien commented on #6342
I've created a meta issue for resolution delay #6383.

[2019-05-28 09:22] jasonzhouu commented on #6342
Awesome!

[2019-05-28 09:52] jasonzhouu commented on #6383
Maybe the suggestion in https://discuss.ipfs.io/t/proposal-peer-hint-uri-scheme/4649 is feasible.

[2019-05-28 13:46] ninkisa commented on #6363
Yes, it is running but is not responding
`
$ ipfs id
13:46:26.065 DEBUG   cmd/ipfs: config path is /export main.go:139
13:46:26.066 WARNI     fsrepo: NoSync is now deprecated in favor of datastore specific settings. If you want to disable fsync on flatfs set 'sync' to false. See https://github.com/ipfs/go-ipfs/blob/master/docs/datastores.md#flatfs. fsrepo.go:406
13:46:26.074 DEBUG blockservi: Bloc

[2019-05-28 15:43] cbluth commented on #6323
finally, some info on how to run ipfs for multiple users!

[2019-05-28 16:25] koalalorenzo commented on #6323
We are maintaining also a apt repository with deb packages (works both for ubuntu and deb) that includes the service for multiple user:
https://blog.siderus.io/how-to-get-ipfs-on-ubuntu-debian-linux-d7920c1a42b7

The builds are automated and we are using it on most of the gateways. `ipfs-gateway` is the name of the package for the global service but it requires are repo in `/var/ipfs`

[2019-05-28 16:37] michaelavila commented on #6042
@reinerRubin that sounds reasonable. If I were you, I would do a rough version and get it up in a PR for feedback before diving deep and spending a lot of time.

It looks like we currently report either [progress during the pin](https://github.com/ipfs/go-ipfs/blob/master/core/commands/pin.go#L128) or [the list of pins after completion](https://github.com/ipfs/go-ipfs/blob/master/core/commands/pin

[2019-05-28 20:04] aschmahmann commented on #6381
@suutaku Is this a new issue or a regression? Do you get the same behavior with earlier versions of go-ipfs like 0.4.20 or 0.4.19?

Is this issue a duplicate of ipfs/go-ipfs#6322, or is there something else? Any additional information you can give would be very helpful.

There are existing issues/enhancement requests in place for making GC a non-blocking operation and some thoughts on how this mig

[2019-05-28 21:36] AuHau commented on #826
While on my work on the #5947, which I am now porting to `js-ipfs` I saw that `js-ipfs` uses https://github.com/libp2p/js-libp2p-keychain

Is this desired way how to approach this? To my understanding, it does not use multikey/linked-data key, but it implements encrypted keys handling.

[2019-05-28 21:49] voxsoftware commented on #6382
If this is relevant, i want say that just now I tested, and I can access to file, almost one day later.

[2019-05-28 22:19] AuHau commented on #826
Hmmm it seems like they follow this spec: https://github.com/ipfs/specs/tree/master/keystore

[2019-05-28 23:20] Stebalien commented on #826
Eventually, yes. I have a PR that I never really finished to add pluggable keystore support to enable use-cases like this: https://github.com/ipfs/go-ipfs/pull/6069.

However, go-ipfs doesn't currently have a way to prompt the user for a passphrase.

[2019-05-28 23:23] Stebalien commented on #6382
I've heard this before and that is kind of odd. I wonder if the initial attempt to tell the network you have the content failed but a subsequent request succeeded.

[2019-05-28 23:30] AuHau commented on #826
Hmm. From what I see `js-ipfs` does not really prompt for a passphrase either, they require (for operations that uses keystore) to pass it using parameter `--pass`.

What do you think is currently the right way to approach this? Or should this be postponed for now?

[2019-05-28 23:42] Stebalien commented on #826
I'd rather not go that route. Any password passed with `--pass` will:

1. Get logged to some shell history somewhere.
2. Appear in `ps -eF`.

That just shuffles the problem around a bit.

[2019-05-29 00:07] Stebalien opened #6385 "Content can sometimes only be found after hours or days"
See: https://github.com/ipfs/go-ipfs/issues/6382#issuecomment-496703161

This isn't the first time I've seen this and it warrants investigation. There _used_ to be an issue where bitswap would time out too quickly sending out provider records for new blocks. However, we now provide in a background queue.

It could be that this background queue is getting backed up.

[2019-05-29 06:55] ryco117 commented on #5567
Hi @Stebalien , sorry if this is considered a dead thread but I've been developing an application using the docker image for go-ipfs version 0.4.18 and have been experiencing this issue. Both nodes on my network have several hundred peers in their `swarm peers` list, yet only if I manually `swarm connect` them do they actually see the other's messages. And even after being manually connected they

[2019-05-29 19:48] Stebalien opened #6386 "Stall when fetching locally available content"
#### Version information:

#### Description:

* `ipfs pin verify $HASH` works.
* `curl $LOCAL_GATEWAY/ipfs/$HASH` stalls.

Additionally, this dataset includes ~50e6 files, sharded up into multiple sub-directories.

See [logs.zip](https://github.com/ipfs/go-ipfs/files/3234173/logs.zip) for the stack traces and a CPU profile taken while reproducing the issue.

It looks like there's some kind of live

[2019-05-29 22:17] Stebalien commented on #6271
Confirmed fixed.

[2019-05-29 22:17] #6271 closed

[2019-05-30 07:05] ninkisa commented on #6363
Yesterday the same thing happened on another machine. First we removed the block folder to see if it will fix something, but no result. We had to delete the datastore folder and re-init the repository to make it work, but this is no solution as we have to add all files again to IPFS.
Any idea?

[2019-05-30 07:21] Stebalien opened #6389 "js/go interop tests failing"
#### Version information:

#### Description:

The interop tests are currently failing to exchange files. This appears to be due to changes in libp2p (reverting bitswap doesn't help).

To reproduce:

1. Download the latest RC.
2. Clone `github.com/ipfs/interop` and run `npm install`.
3. Run `PFS_GO_EXEC=/path/to/go-ipfs npm test -- -t node -f test/exchange-files.js -b`

[2019-05-30 07:24] Stebalien commented on #6389
One issue appears to be related to multistream. In https://github.com/multiformats/go-multistream/pull/32, go started pipelining protocol negotiation. Specifically, instead of:

1. Client sends server `/multistream/1.0.0`
2. Server sends client `/multistream/1.0.0`
3. Client sends server the first protocol.
4. Server sends client `na` or the protocol (if selected).

The protocol now looks like:

1

[2019-05-30 07:26] Stebalien commented on #6389
The other issue isn't related to multistream and I'm not sure what's causing it. If we revert the multistream change, the test proceeds past the setup step but still takes _ages_ in the file transfer step. It looks like it eventually makes progress but it's really slow.

I've tried:

* Reverting secio.
* Reverting mplex.
* Reverting multistream.

[2019-05-30 07:41] Stebalien commented on #6389
@dignifiedquire or @jacobheun, any idea what might be causing https://github.com/ipfs/go-ipfs/issues/6389#issuecomment-497233489?

[2019-05-30 10:26] jacobheun commented on #6389
I imagine js isn't handling the change in operations well. The multistream negotiation is likely erroring out the connection. We added some backoff logic to js if a connection fails the upgrade process, hence the blacklisting error message. I can look at adding a test to js-multiaddr to mimic this and see where it's falling down.

We should really start running libp2p rc releases against libp2p/in

[2019-05-30 11:47] magik6k commented on #6386
Mutex profile might be helpful here:
* `curl -X POST -v 'localhost:5001/debug/pprof-mutex/?fraction=10`
* `curl http://localhost:5001/debug/pprof/mutex > ipfs.mutex`

[2019-05-30 16:24] Kubuxu commented on #4382
@Stebalien something more, I'm not sure how to reference counting would work with weak pinks (`ipfs files`).

[2019-05-30 16:31] Kubuxu commented on #826
Same as with `ssh`, the password should be passed with stdin.

`ssh-add` goes even further and prohibits non-interactive input of a password.
The only way to automatically input password to `ssh` is using `expect`

[2019-05-30 16:57] AuHau commented on #826
Yeah, I figured that this might be a problem and I have guessed right that similar approach to `ssh` should be the way.

Only I am a bit worried about the UX implications of this. As for every invocation of a command that needs keystore access, there would have to be this prompt (eq. reentering passphrase all the time). What sort of commands require keystore access?
`daemon`, `key *`, `name *`?

W

[2019-05-30 17:05] Stebalien commented on #6389
@jacobheun I've filed https://github.com/multiformats/js-multistream-select/issues/48.

[2019-05-30 18:57] Stebalien commented on #4382
We can keep two counts, weak and strong. Actually, we can keep a different reference count per pin "type". This would allow us to, e.g., support pin types that only pin directories.

[2019-05-30 19:03] Kubuxu commented on #4382
But we won't know when to increment the weak count.

Situation:
1. QmAAA is moved to files api, it references QmBBB.
2. QmBBB is downloaded intependetly using `ipfs refs -r`, QmBBB weak refererence is not increased.

Possible solution is to walk the pinset before GC to update reference counts but then we are back to mark-and-sweep.

----

Another idea:
Implement concurrent mark and sweep, this wou

[2019-05-30 19:08] Kubuxu commented on #4382
I was also wondering if it is possible for us to implement a moving GC.
Moving GCs work by moving all non-garbage to separate memory segment and then freeing the memory segment where there is just garbage left.

Without special datastore implementation or level of indirection between block storage and keys, it isn't possible for us to write moving GC without moving massive amounts of data on disk

[2019-05-30 19:50] Stebalien commented on #4382
I really only have one constraint here: We can't touch every pinned node every time we GC, even if we're lock-free. As long as we can avoid that, I'll be happy.

...

My thinking is that we'd:

1. Keep these reference counts completely separate.
2. Only apply reference counts when we initially pin a node.

So, before `QmAAA` or `QmBBB` is pinned, it would have _no_ references. Then, once we move i

[2019-05-30 20:00] jacobheun commented on #6389
Okay, so this actually isn't due to multistream at all.

Good news, the compatibility layer we added for js to work with go MDNS is functioning. The problem is that we're somehow discovering and dialing go before connections are being accepted on that connection. The TCP dial fails causing the connection to get blacklisted for a period, ultimately failing the tests. Disabling MDNS discovery in the

[2019-05-30 20:13] Kubuxu commented on #4382
My scenario was that first (before we have QmBBB) we move QmAAA to files api and then we acquire QmBBB.

If we walk when we pin (move to files API), we would have no reference count for QmBBB.
As far as I can see, to solve that we would have to walk all nodes with unresolved links before GC.

[2019-05-30 20:16] jacobheun commented on #6389
Go is apparently just advertising port 4001 even though the daemon ends up running on a random port.

[2019-05-30 20:19] jacobheun commented on #6389
I'd recommend we disable MDNS in the tests for now and file an issue for fixing MDNS so this isn't blocking the release. In reality we should just move to the new MDNS spec for both implementations and not waste time on a fix for this. The default ipfs daemon runs on port 4001 so this shouldn't be an issue in most cases, and the interop fix was a recent update for js. I'll create a PR in interop t

[2019-05-30 20:34] Stebalien commented on #6389
Note: there _does_ appear to be a regression in go here as go-ipfs 0.4.20 works fine. I've filed an MDNS bug (https://github.com/libp2p/go-libp2p/issues/new) but yeah, we should just implement the new spec (https://github.com/libp2p/go-libp2p/issues/623).

[2019-05-30 20:46] Stebalien commented on #6389
@jacobheun thanks for debugging this! You're absolutely right, disabling MDNS has fixed this. I'm guessing the multistream issue was simply due to the perf improvements.

[2019-05-30 23:45] anderspitman commented on #2386
@whyrusleeping how has your experience using trailers been in general? They seem to be used very little, and maybe not well supported, and yet the use case is important.

[2019-05-31 00:57] Stebalien commented on #2386
I can't speak to why's experience but my experience has been: HTTP isn't a good choice for streaming APIs. The protocol itself technically works but:

* Up till the fetch API, browsers didn't allow scripts to read streaming responses.
* Go's HTTP server (and probably others) expect to receive the entire request body before the response is written.
* As you noted, the only way to send late errors i

[2019-05-31 04:35] anderspitman commented on #2386
Oh I'd be the last to disagree with you about HTTP streaming. However, I'm replacing a complicated backend, and having completely stateless endpoints would be a nice win over WebSockets. We don't need upload streaming. I've been playing with [XHR streaming](https://hpbn.co/xmlhttprequest/#streaming-data-with-xhr). Preliminary tests have it working pretty well. The big downsides are that it's text

[2019-05-31 05:50] blockchain182019 opened #6390 "ipfs get file from a non-bootstrap node hangs forever in ipfs private network"
**Version information:**
AgentVersion: go-ipfs/0.4.20/8efc82534
ProtocolVersion: ipfs/0.1.0
System: amd64/linux
GoLang Version: go version go1.12 linux/amd64

**Problem Description:**

I started three IPFS nodes A, B, C on AWS.  They are in three different regions, thus in three different VPCs.  I was trying to setup a IPFS network comprised of A, B,C,  connected via A, without using any public bo

[2019-05-31 13:32] obo20 commented on #6386
Here's a mutex profile as requested, along with another cpuprof / stacks

FYI for these, the problem resolved itself a few minutes after I ran these, so I can't be 100% positive these will help. Hopefully they do.

[ipfsLogs2.zip](https://github.com/ipfs/go-ipfs/files/3241409/ipfsLogs2.zip)

[2019-05-31 14:03] obo20 commented on #6386
Here's a new log set for a different, but similar dataset being retrieved that caused this error:

This hash was still bugging out at the time of posting this.

[ipfsLogs3.zip](https://github.com/ipfs/go-ipfs/files/3241519/ipfsLogs3.zip)

[2019-05-31 14:06] obo20 commented on #6386
It should be noted that restarting the node in question fixes this issue instantly

[2019-05-31 16:08] warlockdn commented on #6385
@Stebalien is this the same issue that you are facing ?

I am adding a file and then pinning the hash.

`
ipfs add -r <filename>
ipfs pin add <hash>
https://ipfs.io/ipfs/<hash>
`
File doesn't seem to be available.

If this is the case. Then please make a page of disclaimer like information where you guys tell about the process and when will it be available. Its beating the purpose of using the sys

[2019-05-31 18:59] magik6k opened #6393 "Run js interop tests in Circle"
To keep things like https://github.com/ipfs/go-ipfs/issues/6389 from happening

[2019-05-31 19:02] magik6k commented on #6315
https://github.com/ipfs/go-ipfs/pull/6331

[2019-05-31 21:00] znwulf commented on #5723
Would a possible workaround be to limit the Wants which contain each block request to a single node per block such that, initially, each node receives a Want containing a unique block which is not sent to other nodes unless in a given timeout period expires. Then when a node fails to provide the block requested the block is added to the Want list provided to a different node, with the previously f

[2019-05-31 22:31] michaelavila commented on #4863
I'll take a look at this with the rest of the provider work. Thanks for pointing it out.

[2019-05-31 22:46] lidel commented on #3999
@hsanjuan do you know why https://hub.docker.com/r/ipfs/go-ipfs/tags/ is missing `v0.4.21` tag? It looks like `release` tag got updated, but the one with explicit version was not created.

[2019-06-01 05:55] jaccarmac commented on #6113
Is there a way to work around this short of manually pinning everything added to the root of MFS?

[2019-06-02 00:04] Stebalien opened #6394 "Better Constructor Errors"

[2019-06-02 00:05] #6389 closed

[2019-06-02 13:34] lsji07 commented on #6381
Is this not a config issue?

This could be as GC is current set to 90GB limit on a standard config but the IPFS node is initially limited to 10GB. People know to change the node limit but not the GC limit

I would say that with the standard config the GC would never happen...

If you want the node to auto garbage collect i would have though you need to set the GC limit lower or to suit your storag

[2019-06-02 17:27] mkg20001 commented on #3532
Any updates on this?

[2019-06-02 17:29] mkg20001 commented on #3532
Btw, the command to disable bandwith metrics didn't work anymore, the new one is `ipfs config --bool Swarm.DisableBandwidthMetrics true`

Is it even needed, anymore?

[2019-06-02 17:32] kaysond commented on #3532
With the command `/usr/local/bin/ipfs daemon --enable-gc --routing=dhtclient`, after several weeks my node has settled at around 500MB RAM

[2019-06-02 18:14] mkg20001 commented on #3532
@kaysond Used that command. This + `Swarm.DisablebandwidthMetrics` works, thx

[2019-06-03 06:41] bytenaija commented on #6359
I have this same issue with ipfs on docker

[2019-06-03 13:03] Kubuxu commented on #6113
@jaccarmac after a file is in MFS it should be safe.
GC and MFS operations at the same time are not safe currently.

[2019-06-03 14:52] ivilata commented on #5613
@Stebalien: After some hours with 0.4.20, CPU usage went back to 15%-30% and it's stayed like that. I upgraded to 0.4.21 and CPU usage continued to stay in the same range (though IPv4 traffic doubled and IPv6 was cut to a quarter, but that's another story).

Thanks a lot again for taking care of this! :smile:

[2019-06-03 16:27] MichaelMure commented on #6204
So apparently, `go-ipfs` does the same thing for requests with a `Referer` header, even without any `Origin` or `Access-Control-*` header.

[2019-06-03 17:00] Stebalien commented on #5613
Thanks for the report! (although I'm not sure what would have caused the IP traffic changes)

[2019-06-03 17:23] lidel commented on #5287
I think what remains here is:

- [x] add libp2p-key support to  https://github.com/ipfs/go-cid/pull/86
- [ ] release new go-cid with https://github.com/ipfs/go-cid/pull/86
- [ ] update go-ipfs to use new go-cid
  - @Stebalien will this be enough for HTTP Gateway  support `/ipns/<cidv1>`?

[2019-06-03 18:04] michaelavila commented on #6091
@remmerw what are the next steps for this approach? Can you write the test that this code you've posted will pass? Have you attempted to use the change you're proposing yet?

[2019-06-03 18:55] remmerw commented on #6091
@michaelavila I have implemented it and it works (and also it is a little bit faster) but I have to admit
that this is still not the solution what I need. It still takes to much time till the network recoginizes
that a connection is not valid anymore (whatever reason that is). Still I am looking for a faster
solution, that when a connection is broken a notification will be send. (I am not sure whe

[2019-06-03 19:32] Stebalien commented on #6363
Did you use `ipfs repo fsck` on this other machine? If you run that on a machine that's _actually_ running IPFS, you'll corrupt your repo. That's why I asked you to run `lsof`.

Otherwise, is your IPFS repo on a networked drive?

[2019-06-03 20:19] michaelavila commented on #6091
@remmerw do you want to submit the changes you're using now as a PR? The notification-based change can be discussed further in this issue in the meantime.

[2019-06-04 01:46] monotone commented on #6359
me too.  it seems we all have docker installed on this host.

[2019-06-04 02:22] monotone opened #6398 "`swarm connect` timeout"
#### Version information:
[code]

[code]

#### Description:

I have two machine. let me call them A and B. After I daemon them like this:

[code]

I try to connect A from B, it always timeout:

[code]

so I check this network environment like this:

[code]

And then I try connect B from A, it timeout too.  Why?

[2019-06-04 02:44] Stebalien commented on #6398
That looks like a connection attempt from *B to A*. I assume that was a mistake?

The API isn't exposed on the public interface, are you sure you're not invoking these commands from machine A?

---

Note: I can connect to your machine A so it's definitely working.

[2019-06-04 02:56] monotone commented on #6398
Yes, All my test code is on machine B.

I have exposed 5001 on 0.0.0.0 on machine A, So I can invoke this commands from machin B.

[2019-06-04 03:43] #4721 closed

[2019-06-04 06:04] #6315 closed

[2019-06-04 07:50] davidalbela commented on #6305
Hi,

Have you planned to upload the official docker image with the tag name of this release `v0.4.21` to Dockerhub? Thanks.

[2019-06-04 09:31] olizilla commented on #3999
The dockerhub is wonky. We have an autobuild set up to build the image and relase when a new version tag is added, but it hasn't triggerd for v0.4.21, and there doesn't appear to be a way to trigger it manually... we may need to manually push the image for v0.4.21

[2019-06-04 09:31] olizilla commented on #6305
Dockerhub has failed to trgger the build for the v0.4.21 tag. We're looking into it. In the mean time the `release` tag can be used.

https://github.com/ipfs/go-ipfs/issues/3999

[2019-06-04 10:30] lidel commented on #3999
@olizilla good news is that `release` got created, so as long you got the right permissions you can tag it as `v0.4.21` without re-building

[2019-06-04 13:33] ligi opened #6400 "crash: sync.runtime_Semacquire"
this happened with 0.4.20 - so feel free to close if fixed with 0.4.21. I just did not find any matching report and did not want this crashlog to get lost. Perhaps it can be helpful - if not just close please.

[code]

[code]

[2019-06-04 13:36] ligi commented on #6359
seeing the same thing without docker:

[code]

[2019-06-04 15:01] Kubuxu commented on #6400
Do you have few lines before the start of that goroutine dump?

[2019-06-04 15:31] ligi commented on #6400
unfortunately not - copied the whole tmux buffer where this was running. Or is IPFS dumping it also somewhere apart from the console?

[2019-06-04 15:34] rathanu commented on #6377
heyy man ..can u help me out.. im running Flask for the first time.. and i
dont understand as to whats happening. whats goin on here and why is it not
working.. pls help me.. my Blockchain app is not working

.. [image: Screen Shot 2019-06-04 at 9.00.08 pm.png]

On Sat, 25 May 2019 at 23:44, Anuraag Rath <rathanuraag@gmail.com> wrote:

[2019-06-04 15:50] Stebalien commented on #6377
I can't see that screenshot but there's likely nothing I can do to help.

[2019-06-04 15:56] Stebalien commented on #6143
(closing due to age, please comment if this is still an issue with 0.4.21)

[2019-06-04 15:56] #6143 closed

[2019-06-04 16:08] Stebalien commented on #6400
No. I'm not sure if that's even possible with go (without redirecting all of stderr). I usually handle this by running go-ipfs with systemd so everything is logged to the journal.

Unfortunately, there isn't really enough here to debug this. The only thing I'm noticing is a bunch of lock contention closing connections.  My guess is that this is an OOM, likely caused by #6237 leading to a mass buil

[2019-06-04 16:09] #6400 closed

[2019-06-04 16:10] Stebalien commented on #6400
(although it would be helpful to know how many cores and how much memory you have)

[2019-06-04 16:22] Stebalien commented on #1152
Hashing tends to be pretty expensive but we'd have to do some profiling to be sure. Ideally, we'd be at a level of performance where re-hashing would kill performance but I'm pretty sure we aren't there yet.

Note: corrupting a local datastore isn't really a reasonable attack vector. The local disk _should_ be more trusted than the network because we already trust that the go-ipfs binary isn't cor

[2019-06-04 16:24] Kubuxu commented on #1152
I've evaluated the performance hit a long time ago. It was high enough that enabling it by default wasn't really an option but it is a good idea to reevaluate.

[2019-06-04 16:27] Stebalien commented on #1152
IMO, we should re-evaluate and, if it doesn't have a performance impact, figure out _why_ and fix the performance issue.

[2019-06-04 16:28] #6305 closed

[2019-06-04 16:32] Kubuxu commented on #1152
The performance impact was just the hashing itself. Native `sha256` on my laptop on a single core maxes out 300MiB/s, so reads will have proportional overhead to that.

If someone reads 100MiB/s then it will be 33% CPU spent on hashing.

[2019-06-04 16:36] obo20 commented on #6386
Some more information, when this bug is encountered, the node can lag / stall. We've had to resort to resetting our nodes when encountering this.

[2019-06-04 17:03] Stebalien commented on #6359
I wonder if we were just ignoring this error previously. That error message means go-ipfs can't resolve your hostname (ethdev) to an IP address. This _usually_ means a misconfigured system.

I'm just not sure why this is showing up now.

---

(relates to https://github.com/libp2p/go-libp2p/issues/623)

[2019-06-04 17:11] jakubgs opened #6402 "The progress=true option breaks upload via an Nginx reverse proxy"
#### Version

I'm using a docker container: `ipfs/go-ipfs:v0.4.20``
[code]

#### Description

When using the `progress=true` flag with the `/api/v0/add` API path the upload just stops midway for files larget than a few MB(the larger the more likely to stop).

#### Steps to reproduce

0. Configure an Nginx reverse proxy for port `5001`:
[code]

1. Create a 4MB file:
[code]

2. Attempt to upload it

[2019-06-04 18:11] ligi commented on #6400
16gb of ram and this is the cpuinfo:

[code]

[2019-06-04 18:20] ec1oud opened #6404 "pubsub takes too much memory"
#### Version information:
go-ipfs version: 0.4.20-
Repo version: 7
System version: amd64/linux
Golang version: go1.12.4

#### Description:
Here's output from top after a couple of days:
[code]
I didn't do anything out of the ordinary: not much is pinned, didn't get around to trying anything with pubsub actually.  I mainly wondered if it would make ipns perform better.

[2019-06-04 18:50] Stebalien commented on #6404
Before you try anything else, please upgrade to 0.4.21. We fixed a bunch of performance issues in 0.4.20 that are likely related.

Then:

1. How does this compare to not running pubsub?
2. Are you frequently resolving IPNS records?
3. Could you walk through https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md#beginning and attach the results to the issue?
4. What's the output of `ipfs s

[2019-06-04 18:51] Stebalien commented on #6400
Got it. So a nice, beefy machine. Do you have any idea how many peers you had when it crashed?

[2019-06-04 18:54] ligi commented on #6400
the machine is vegetarian but powerful *SCNR* ;-)
unfortunately my time-machine is borken so I cannot went back in time to see how many peers it had while crashing. Or do you have an idea how to find this out after the crash?

[2019-06-04 19:00] Stebalien opened #6405 "Patch Releases"
Currently, all go-ipfs releases are "patch" releases. IIRC, this was because we decided to bump to 0.5.0 when we hit beta. Unfortunately, this means we can't issue _actual_ patch releases and means that issues like https://github.com/ipfs/go-ipfs/issues/6254.

Proposal:

1. Start cutting 0.x.0 releases starting with 0.5.0.
2. Create patch releases as-needed that cherry-pick specific changes/commit

[2019-06-04 19:01] Stebalien commented on #6393
@magik6k how do we make this happen without blocking PRs. IIRC, interop tests can take >20 minutes. Is it possible to schedule nightly tests runs in Circle?

[2019-06-04 19:13] magik6k commented on #6393
Afaik Yes.

Also, wouldn't just marking the check as optional be enough?

[2019-06-04 19:15] Stebalien commented on #6402
When IPFS has been stopped for more than 10 minutes, could you run `curl 'localhost:5001/debug/pprof/goroutine?debug=2 > goroutines'` and post the output? That'll help us figure out what's stuck.

[2019-06-04 19:16] Stebalien commented on #6393
Yeah, actually, it should. Especially if we get emails on failure.

[2019-06-04 19:29] Stebalien commented on #6359
From @jbshirk https://github.com/libp2p/go-libp2p/issues/623#issuecomment-498805903

[2019-06-04 19:32] Stebalien commented on #6400
We don't record it anywhere. I was just hoping that you might have checked by some slim chance.

[2019-06-04 19:48] ligi commented on #6359
I could work around that name by changing /etc/hostname to a publicly resolvable hostname - things work much better now. But not sure if it is about this change or the switch to 0.4.21 - but looks good for now. Keep up the good work!

[2019-06-04 20:07] Stebalien commented on #6359
Ideally, you'd be able to use something like nss-myhostname (from systemd).

[2019-06-04 20:35] jakubgs commented on #6402
Here you go:
https://test-ipfs.status.im/ipfs/QmaX4duRtGxqVu8i7DV9gNbTkxeCUVETZYGZWKPeBucriF

[2019-06-04 20:51] ligi commented on #6271
I am still seeing this error with 0.4.21:

[code]

the daemon was alive the whole time - no errors there

[2019-06-04 20:54] obo20 commented on #6271
@ligi Did you run `ipfs swarm connect` on the second node as well? In order for this to work you need to run the command from both nodes.

[2019-06-04 20:57] ligi commented on #6271
no - why do I need to do so? I just want to keep this connection alive to not constantly having to do "ipfs swarm connect" - also from the other side it is not really possible as the other host is behind a NAT - only one (the "server") has a public IP

[2019-06-04 21:04] obo20 commented on #6271
@ligi This is a mechanism to protect nodes against connection abuse.

For example, think of a high profile node like the main ipfs.io gateway nodes. If possible, everybody would try and maintain a connection to it. But the ipfs.io node most likely doesn't want to stay connected to every node on the planet.

By requiring both nodes to run this command to connect to each other, high profile nodes ar

[2019-06-04 21:07] ligi commented on #6271
ah I see - that makes sense - thanks. But could another way to fight abuse not be that I whitelist my client nodes (that then can have a changing IP - but are identified by a signature with their private key?)

[2019-06-04 21:53] makeworld-the-better-one commented on #6271
@obo20 How large is the window between both nodes running it? If one connects, and then another runs the command an hour later, will it still work? 5 minutes later? A day?

[2019-06-04 21:55] obo20 commented on #6271
@makeworld-the-better-one I'm not entirely sure on that. That's probably more of a question for the libp2p team. We always run our connections on node startup, so I can't give you too much insight into how this behaves in non-ideal scenarios

[2019-06-04 23:10] Stebalien commented on #6402
IPFS is waiting for more data. Some HTTP implementations don't like it when the server responds before it reads the entire body. I know we had to work around this in go in https://github.com/ipfs/go-ipfs-cmds/pull/116.

When you say "The nginx proxy passes a chunk of data", is that _all_ the remaining data?

Trace:

[code]

[2019-06-05 00:32] ligi opened #6407 "ipfs get over one hop not working"
to reproduce this I need 3 machines - all run go-ipfs 0.4.21:

machine 1 (lets call 'server' here) has a public IP
machine 2 (lets call 'client' here) is behind a NAT

now I can connect from machine 2 to machine 1 via `ipfs swarm connect` and get content that is pinned on machine 1

now introducing machine 3 which is in the same network as machine 1 and connect them via `ipfs swarm connect` in bot

[2019-06-05 00:45] Stebalien commented on #6407
If I'm understanding this correctly, the issue is that machine 1 will not fetch content from machine 3 on behalf of machine 2. This was a planned feature in the original IPFS whitepaper but has a bunch of legal implications that need to be thought through before it's practical.

At the moment, machine 1 can make itself a public relay but then it'll relay traffic for _any_ peer on the network.

[2019-06-05 00:47] monotone commented on #6398
Yes, in order to ensure that the problem reappears, I use the latest release.

And, I found this problem mainly because of machine B, because I tried to connect C to A, which is fine.

 What should I do? This problem has been bothering me for several days.

[2019-06-05 00:49] Stebalien commented on #2386
The issue is specifically bidirectional streaming: https://github.com/golang/go/issues/15527

[2019-06-05 01:05] ligi commented on #6407
Can't machine 1 not just establish a encrypted communication between node 2 and 3 so it does not know the content it is transporting? Was already puzzled that I manually have to connect nodes to get content from A to B - if what you say is true that makes IPFS unusable for me.

[2019-06-05 01:45] monotone commented on #6359
sorry, I don't understand what you mean, is this going to debug my network environment?
Can you say more clearly?

[2019-06-05 01:49] monotone commented on #6359
`I could work around that name by changing /etc/hostname to a publicly resolvable hostname`
The hostname of machine B is `ubuntucloud185`,  and hostname of machine A is `VM-0-26-ubuntu`, They don't seem to make much difference。

[2019-06-05 01:51] ligi commented on #6359
both are not publicly resolvable - this was also the case I got this error - after using a publicly resolvable hostname it vanished

[2019-06-05 01:56] monotone commented on #6359
I do not know what hostname should to changed to.  But i checked my machine A,B,C. their host name is 'VM-0-26-ubuntu', 'ubuntucloud185', 'dannys-iMac.local'.   A and C can be connected to each other
, but could not connect to B.

[2019-06-05 04:06] remmerw commented on #6091
@michaelavila Nope no intension to submit it, The solution which I thought was a solution, should be called correctly "IsConnectedOrNot" instead of "IsConnected" [wich make no sense]

[2019-06-05 07:52] ligi opened #6408 "all dials failed"
happens with 0.4.21

c.a. 5sec between both commands - the daemon I want to connect to was open for a while before.

[code]

[2019-06-05 09:19] Joe0826 opened #6416 "Error: unknown datastore type: flatfs"
My computer is Windows 10 64bit, I have been rebuild a new IPFS.exe fellow the stop of https://github.com/ipfs/go-ipfs/blob/master/docs/windows.md#minimal. There are no problem during the process  and result can see:
![image](https://user-images.githubusercontent.com/32236734/58945029-9dee9600-87b5-11e9-8476-d9265fce3a2b.png)
But when I want run the .\ipfs.exe  in cmd, it show like this:
![image](

[2019-06-05 10:44] hugomrdias commented on #6262
I'll try to explain the needs on the js side.
Tests are super super slow!!
One of the reason for this is how `ipfsd-ctl` handles start and stop of different types of daemons (go, js, in-process js).

The start fase goes like this:
- we need to know the current/default config, so we run `ipfs config show` and we get JSON
- after we need to change the config according to the user input `ipfs config

[2019-06-05 12:26] jbshirk commented on #6359
My pc was disconnected from wifi overnight and I can report that this did not cause the error for me.

[2019-06-05 16:44] Stebalien commented on #6393
Tracking broken tests:

*  [ci failure](https://circleci.com/gh/ipfs/go-ipfs/16697?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)
  * [ ] IPNS pubsub issue: https://github.com/ipfs/interop/issues/71
  * [ ] Files issue: https://github.com/ipfs/interop/issues/75

[2019-06-05 17:11] michaelavila commented on #4863
Just an update:

After a brief discussion [here](https://github.com/ipfs/go-ipfs/pull/6396) it was decided to leave the `ipfs dht provide <hash>` command alone as its a useful debugging mechanism. We are also in the process of a building a more robust provider system that has facilities for responsibly providing many cids at once. The command you will likely want to use in the future is `ipfs prov

[2019-06-05 18:41] michaelavila commented on #4249
Closing as question was adequately answered with nothing to fix or follow up on.

[2019-06-05 18:41] #4249 closed

[2019-06-05 19:10] michaelavila commented on #3904
This is now possible in a number of ways, so I'm closing this issue.

1. `ipfs add --offline`
2. Use the new strategic provider system with a strategy of "none" (`Provider.Strategy`)

[2019-06-05 19:10] #3904 closed

[2019-06-05 19:16] michaelavila commented on #3480
You can use the [Strategic Provider](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#strategic-providing) to solve this problem. Closing this issue.

[2019-06-05 19:31] Stebalien commented on #4382
The missing component here is that we need to keep pinning information for "phantom" blocks. That is, if we pin a block that references a block we don't have, we still need to add a reference count for that block.

[2019-06-05 20:11] michaelavila commented on #3813
This work is being tracked here: https://github.com/ipfs/go-ipfs/issues/5774 and references this issue, so I'm going to close this issue.

[2019-06-05 20:11] #3813 closed

[2019-06-05 20:12] michaelavila commented on #4311
This work is being tracked here: #5774 and references this issue, so I'm going to close this issue.

[2019-06-05 20:12] #4311 closed

[2019-06-05 20:23] michaelavila commented on #6260
Noted :+1:. I'll look into this as I'm working on the remainder of the provider PRs. Thanks for bringing it up.

[2019-06-05 20:29] michaelavila commented on #5973
Tagging with `icebox` until we are able to reproduce or start to see other instances

[2019-06-05 20:43] b5 commented on #6405
as a project with go-ipfs as a dependency, this would be lovely. _Especially_ now that gomod.

[2019-06-05 20:49] michaelavila commented on #2992
Good note. I'll take a look at this after some of the other provider work is done.

[2019-06-05 20:50] michaelavila commented on #5774
Note that [there are some reasonable requests](https://github.com/ipfs/go-ipfs/issues/2992) for the `ipfs dht provide` command, which is tangentially related to this work. I'd like to look into it as well

[2019-06-05 21:56] hsanjuan commented on #3999
I have taken `:release` and tagged as `:v0.4.21`. I have no idea why this tag did not trigger (and the others did, maybe the build failed for some reason).

[2019-06-05 22:05] Stebalien commented on #6405
Note: We have no intention (yet) to _backport_ fixes to previous versions.

[2019-06-05 22:55] Stebalien commented on #5973
(I'm actually just going to close this per https://github.com/ipfs/go-ipfs/issues/5973#issuecomment-463009954)

[2019-06-05 22:55] #5973 closed

[2019-06-06 04:37] Stebalien commented on #6359
Could y'all try the latest master? This may be have been fixed by https://github.com/ipfs/go-ipfs/pull/6415.

[2019-06-06 06:07] Stebalien commented on #6416
What's the output of `git status`? It looks like you may have modified one of the the plugin/loader/preload.go source file.

[2019-06-06 13:42] lidel commented on #6359
I re-tested with `master` in docker and the `mdns error`  is gone:
[code]

Would be good if someone else confirmed.

[2019-06-06 16:53] hsanjuan opened #6417 "Extract the `provider` module"
I would like to use `provider` (in its current encarnation and in the future ones) separately from go-ipfs (just like I use everything else like bitswap or merkledag).

Therefore I would like to request permission to extract this submodule into its own repository.

[2019-06-06 17:14] Stebalien commented on #6417
Michael is currently working on the provider subsystem so he has volunteered to extract it.

[2019-06-06 17:16] michaelavila commented on #6417
@hsanjuan sounds good. I'll take care of this right away.

[2019-06-06 22:23] postables opened #6418 "fatal error: concurrent map iteration and map write"
#### Version information:
[code]

#### Description:
Regular operation of an IPFS node crashed due to what would appear to be a data race?

Output from the logs can be viewed on IPFS via [Qmb39D6U7YWx49kNSTVFb8iXpZ5zAT8qfdiF2bRraEo9eC](https://ipfs.io/ipfs/Qmb39D6U7YWx49kNSTVFb8iXpZ5zAT8qfdiF2bRraEo9eC)

[2019-06-06 22:50] #6418 closed

[2019-06-07 03:34] BelfordZ opened #6420 "JSON-RPC interface"
I would like to add ipfs to https://github.com/etclabscore/jade-service-runner and it would be much easier if there was a JSON-RPC interface, and EVEN more easy if it had an [OpenRPC document / service discovery implemented](https://open-rpc.org).

There are a lot of ways this could be implemented, I'm not familiar enough with this codebase to make the call on what may be the best way.

[2019-06-07 16:55] ssdubey commented on #4490
I had the similar issue in Ubuntu machine. I reinforced `\n` between the three lines of the swarm.key file by bringing them in same line and pressing `enter`. It worked fine after that.

[2019-06-07 18:27] Kubuxu commented on #4490
As a stopgap measure, consider using `dos2unix` utility to make sure that `swarm.key` is in Unix format:
[code]

[2019-06-08 05:26] warlockdn commented on #6385
any ideas ? how to make this work ???

[2019-06-08 08:33] richardschneider commented on #4600
If any one is still interested, the issue is that go is sending a [legacy unicast query](https://tools.ietf.org/html/rfc6762#section-6.7).  Which means that it is not sending the query to  port 5353.

I changed my [code](https://github.com/richardschneider/net-mdns/issues/61) to send the DNS answer to the specific port of the query and go-ipfs was happy.  It connected to my node!

[2019-06-08 16:38] radfish commented on #5988
Ok, then the consumer of the store API needs to be changed to simply call `store.Add` instead of `if store.Has then store.Add`. The already-present check should be inside the store implementation, because as this case here shows, this logic is not generic and is really within the scope of a particular store implementation. A store may be implemented from composite stores, like in Filestore case he

[2019-06-09 17:30] anarkrypto opened #6425 "I can not access my file through a public gateway or different node, only locally"
**$ hash=`echo "I <3 IPFS -$(whoami)" | ipfs add -**

**$ curl "http://127.0.0.1:8080/ipfs/$hash"**
_I <3 IPFS -anarkrypto_
###
**$ curl "https://ipfs.io/ipfs/$hash"**
...Loading Forever...

Ports 4001, 4002 and 5001 are already open.
The config seems okay.
No error log with ipfs daemon so far

ipfs version 0.4.21
Ubuntu 18.04

I opened a discussion in the community. But no one answered yet.
https

[2019-06-09 17:38] anarkrypto commented on #6425
If I try connect to my vps from my pc
**$ ipfs swarm connect "/ip4/104.211.48.196/tcp/4001/ipfs/Qmbv3mQrWzYXmqM3LdrUMnCysP9UAqSXnfn3yXoQdjrZFV"**
_Error: connect Qmbv3mQrWzYXmqM3LdrUMnCysP9UAqSXnfn3yXoQdjrZFV failure: failed to dial : all dials failed
  * [/ip4/104.211.48.196/tcp/4001] dial tcp4 0.0.0.0:4001->104.211.48.196:4001: i/o timeout_

**nc 104.211.48.196 4001**
Returns no response.

**sud

[2019-06-10 01:02] monotone commented on #6359
I re-tested with master in my host again.  There is no `mdns error` now.