[2015-07-09 13:57] jbenet commented on #1452
Yeah we should do that too

—
Sent from Mailbox

On Thu, Jul 9, 2015 at 6:40 AM, Michael D. <notifications@github.com>
wrote:

[2015-07-10 18:59] Luzifer commented on #1226
Starting test on Hetzner server… We'll see whether there is a netscan alert…

Rule-Set:
[code]

(Networks from iana list @aSmig posted above)

[2015-07-10 19:10] jbenet commented on #1226
@Luzifer can you confirm that the swarm has them on? `ipfs swarm filters` ?

[2015-07-10 19:16] Luzifer commented on #1226
[code]

[2015-07-10 19:19] jbenet commented on #1226
![](http://gateway.ipfs.io/ipfs/QmXocLkqYJPBQoAcfpzU2cAnExcbeUEhzNyjdo4g1zybxp/goggles.gif)

[2015-07-10 19:25] whyrusleeping commented on #1226
it would be really cool if my parsing for `ipfs swarm filters` ignored entries starting with a `#` that way you could comment your blocked addr list and still pipe it to the command

[2015-07-10 21:51] NodeGuy commented on #1421
Is there a non-simple way to do it today?

[2015-07-10 23:25] whyrusleeping commented on #1456
@spikebike yeah, this isnt the problem you were having. But it may be related, the reason that the open file issue caused the transfers to hang is because of a bug in bitswap, if your datastore was throwing an error (other than too many open files) then the same external behavior would manifest.

tldr, probably a datastore error thats not being logged, try doing: `ipfs log level bitswap debug` and

[2015-07-11 04:07] reit-c opened #1467 "Ability to pin ipns names"
It would be very nice to be able pin IPNS names, such that the daemon periodically polls the DHT to find if there are any new hashes published to the requested names, and then automatically pins them if so.

Depending on the structure of the code (I'm not familiar with Go), this may be a simple matter of creating a new thread to sit in a loop that does
[code]
This would make it very easy to use IP

[2015-07-11 18:12] whyrusleeping commented on #1467
I've been thinking a little bit about this recently, and what my current train of thought is, is that once we implement pub-sub, updating an ipns entry will be a 'publish' that people can subscribe to, so they can be notified of every time it gets updated and then update the pin.

[2015-07-12 03:28] zramsay commented on #590
this issue tripped me up...i'll look into the codebase over the next week. Noob perspective should help too

[2015-07-13 07:21] opn commented on #1048
Following the instructions here - https://github.com/ipfs/go-ipfs/blob/master/docs/fuse.md - I am having difficulty with "ipfs daemon --mount" on OSX. Latest Fuse is installed:
[code]
and my go version is go1.4.2 darwin/amd64.

Mounting seemed to work fine - all though the structure of the two Volumes could do with a little explanation.

I get permission denied when I try to add a file with nano a

[2015-07-13 08:32] kyrias commented on #1451
`.ipfsignore` would be useful indeed, though it feels like an `--exclude` flag would be a good complement. Sometimes you might only want to exclude something once, or just add something once, and don't want to have to add the exclude to an ignore file.

[2015-07-13 12:50] sbruce commented on #1436
I've been working on this. I should have a pull request, for review, soon.

[2015-07-13 20:36] #1416 closed

[2015-07-13 20:47] lgierth opened #1470 "Spikes in the number of goroutines"

[2015-07-13 20:51] lgierth commented on #1470
One clue I've been seeing is that the daemon takes minutes to terminate, during these goroutine spikes.

[2015-07-14 00:12] alexpmorris commented on #959
I believe the ImDisk API could be used to provide a fuse-like interface to ipfs on Windows systems via a DLL, which should be accessible in golang.

ImDisk Virtual Disk Driver API
     http://www.ltr-data.se/library/ImDiskNet/html/b172f3e5-9b16-6bf0-6b60-33666abb4aec.htm

Here is the overview from http://www.ltr-data.se/opencode.html :

API

[2015-07-14 00:30] jbenet commented on #959
@alexpmorris thanks sounds promising. want to take a stab at it?

[2015-07-14 00:34] voltagex commented on #959
The dokany fork is also worth a look.

[2015-07-14 01:04] jbenet commented on #1470
Interesting. we ought to get a goroutine dump during one of these

[2015-07-14 01:20] jbenet commented on #1451
@kyrias the `.ipfsignore` changeset was harder than expected, so we punted for a bit.

we did merge in hidden files -- so this is a (nasty) hack around for now:
[code]

yeah maybe.

or, what do you think of a staging area, like git?

[2015-07-14 01:41] jbenet commented on #1048
are you adding via `/ipns/local/...`? only that part is writable atm.

we considered allowing users to write in `/ipfs/...` but it would force us to change workdir for the user with any write. for example:

[code]
this is because things inside `/ipfs/...` are (by definition) immutable.

so the above simulates this:
[code]

[2015-07-14 04:27] jbenet commented on #590
@zramsay yes please!

[2015-07-14 06:38] rht commented on #740
@jbenet This is fixed.

[2015-07-14 06:39] rht commented on #555
@jbenet this is fixed.

[2015-07-14 09:03] jbenet commented on #740
@rht, that's right, thanks!

[2015-07-14 09:03] #740 closed

[2015-07-14 09:04] jbenet commented on #555
yep, thanks @rht

[2015-07-14 09:04] #555 closed

[2015-07-14 09:17] cryptix commented on #959
Ah, nice! thanks for digging that up.

I faintly remember a sshfs fork for windows, I think it used that API as well(?)

[2015-07-14 10:44] Luzifer commented on #1226
Until now neither feedback nor an alert from my hoster.

[2015-07-14 16:58] whyrusleeping commented on #1226
@Luzifer woot! lets keep it up

[2015-07-14 18:41] whyrusleeping commented on #1470
the other day i was really wanting for goprocess to have named children, so you could somehow see which child routines were taking a long time to complete.

[2015-07-14 18:43] whyrusleeping commented on #1470
idea: goprocess could catch `SIGQUIT` print out the process tree (names included) and *then* print out the full program stack dump. and then `os.Exit(1)` or something

[2015-07-14 19:21] whyrusleeping commented on #1446
should be addressed by https://github.com/ipfs/go-ipfs/pull/1475

[2015-07-14 19:27] whyrusleeping opened #1476 "test_kill_repeat_10_sec $IPFS_PID takes a long time"
when running sharness tests manually (with -v) i notice that the final 'kill the daemon' test case takes an unnecessarily long time. It would be great if someone could investigate this further.

[2015-07-14 19:32] jbenet commented on #1476
Yep.

i think it's the slow shutdown of the daemon in general

[2015-07-14 19:33] whyrusleeping commented on #1476
ah, i see, it sends a single kill and then waits ten seconds. hrm...

[2015-07-14 19:47] zramsay commented on #590
So it took me awhile to pin a file successfully - because I didn't realize that `add` would pin recursively. Why is that by default ...what if a user wants to add a file without pinning it? (seems like that could often be the case).

For the API, if there's an error, the unmarshalled response.Body fits nicely in the Error struct. Otherwise, it's decoded into a []byte. It works fine, but leads to m

[2015-07-14 20:11] jbenet commented on #590
Curious if you saw [the pinning example](http://gateway.ipfs.io/ipfs/QmTkzDwWqPbnAh5YiV5VwcTLnGdwSNsNTn2aDxdXBFca7D/example#/ipfs/QmThrNbvLj7afQZhxH72m5Nn1qiVn3eMKWFYV49Zp2mv9B/pinning/readme.md) in http://ipfs.io/docs/examples ?

The expectation at the moment is for the common case of a user who knows almost nothing about how ipfs works under the hood-- that if "user adds X to ipfs" then "user ex

[2015-07-14 20:15] wking commented on #1451
On Mon, Jul 13, 2015 at 06:20:50PM -0700, Juan Batiz-Benet wrote:

Having separate ‘add’ and ‘commit’ commands makes sense, but I don't
see the point of a separate pre-add staging command ;).  I'm agnostic
on whether we have an --exclude in addition to .ipfsignore.

[2015-07-14 20:23] jbenet commented on #1470
i think this would be a very useful thing to have. particularly if we have a way of outputing dot syntax and we can generate a dag vis that shows what we're wiring up and why its wrong.

[2015-07-14 20:42] MichaelMure opened #1477 "/api/v0/refs return invalid streamed JSON"
For instance, `http://127.0.0.1:5001/api/v0/refs?arg=QmS2HL9v5YeKgQkkWMvs1EMnFtUowTEdFfSSeMT4pos1e6` will return

[code]

To be valid JSON, this list need to be wrapped inside [] and comma separated.
[code]

Also note the `\n` in the end of each hash.

[2015-07-14 20:50] whyrusleeping commented on #1477
@MichaelMure its a stream of objects, so it doesnt need to be surrounded by brackets, but we do need the newlines to help delimit

[2015-07-14 21:45] lgierth opened #1479 "Facelift Docker image"
- [ ] Move it to https://registry.hub.docker.com/u/ipfs/go-ipfs (currently at /u/jbenet/go-ipfs)
- [ ] Strip down image size
  - Suggestion: Alpine Linux, and musl libc
- [ ] Tag existing and new images
- [ ] Figure out automatic tagging

[2015-07-14 21:52] zramsay commented on #590
Yeah when I finally came across it, everything made sense. Probably should've also spent more time playing with the cli beforehand.

Gotcha.

That's a perfect task for me to get more familiar with the codebase.

[https://github.com/eris-ltd/eris-cli/blob/91e2793708eae8f4917cb91fadc9241a40f6616d/util/writers.go#L23](
func is called at line 80.

[2015-07-14 22:02] voltagex commented on #959
Yep, sshfs is one of the dokan examples. I think dokany has an updated
version of that.

[2015-07-14 22:18] MichaelMure commented on #1477
Ok, so JSON streaming is actually a thing (https://en.wikipedia.org/wiki/JSON_Streaming), I didn't know.

To comply with the wikipedia description, I would say that:

- a new line is needed between each JSON object
- `\n` at the end of each hash need to be removed

What determine that a particular command is streamed or not ?

[2015-07-14 22:32] jbenet commented on #1477
I do prefer ndjson (newline-delimited), but "Concatenated JSON" is a thing (as wikipedia points out). so we can do either as long as we agree.

we'd also need to make sure the json stringifier does not pretty-print. no unescaped newlines. (this is why concatenated json is perhaps safer.

yeah i dont know why that's there.

[2015-07-14 23:22] alexpmorris commented on #959
I messed around with this a bunch.  ImDisk/DevIO turns out way too low-level for this as it's more geared towards block devices.  Dokan could definitely work, but it's tricky to convert the headers for use in go.  Perhaps I'm missing something simple, but I tried using cgo, swig, def2go, etc, and got nowhere.  I did come across a repo doing just this, but it's still a long way off from working ful

[2015-07-14 23:23] jbenet commented on #590
great! :+1:  (cc @whyrusleeping because this will need the lock stuff un the 0.4.0 branch)

[2015-07-15 00:18] whyrusleeping commented on #590
nothing should change with respect to the locking stuff. we already lock around the add command, extra flags shouldnt change anything

[2015-07-15 00:36] jbenet commented on #590
@whyrusleeping it may be added to the `object` command.

[2015-07-15 01:36] jbenet commented on #590
btw, @zramsay have you seen https://github.com/whyrusleeping/ipfs-shell ? we're creating an API wrapper slowly. see it used here: https://github.com/whyrusleeping/pinbot

[2015-07-15 01:36] jbenet commented on #590
@whyrusleeping  (and @wking) may be time to hammer our ipfs-shell. shall we do it in that repo? @whyrusleeping want to move whyrusleeping/ipfs-shell to ipfs/go-ipfs-shell ?

[2015-07-15 15:54] zramsay commented on #590
that wrapper is exactly what we need!

[2015-07-15 16:42] whyrusleeping commented on #590
i could move it to `ipfs/ipfs-shell`

[2015-07-15 16:44] whyrusleeping commented on #590
https://github.com/ipfs/ipfs-shell <- moved

[2015-07-15 16:53] whyrusleeping commented on #590
@zramsay if you need any help with the ipfs-shell package, just let me know, and/or stop by irc :)

[2015-07-15 16:53] jbenet commented on #590
Can you make it "go-ipfs-shell"? There will be other languages. These are basically bindings.

—
Sent from Mailbox

On Wed, Jul 15, 2015 at 9:44 AM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-07-15 19:28] jbenet opened #1482 "Resource Constraints + Limits"
We need a number of configurable resource limits. This issue will serve as a meta-issue to track them all and discuss a consistent way to configure/handle them.

I'm going to use a notation like `thingA.subthingB.subthingC`. we dont have to keep this at all, just helps us bind scoped names to things. (using `.` instead of `/` as the `.` _could_ reflect json hierarchy in the config, but it may not

[2015-07-15 19:28] jbenet commented on #1482
The most pressing are:
- `node.repo.storage_max`
- `node.network_bandwidth_max`

[2015-07-15 19:29] jbenet commented on #1482
@rht would this be an issue you could work on? it's needed sooner than later. particularly `node.repo.storage_max` (+ running GC if we get close to it) and  `node.network_bandwidth_max`.

@whyrusleeping your help will be needed no matter who implements this.

[2015-07-15 19:32] jbenet commented on #972
From #1482, i think we should have one global maximum storage, and trigger GC when we past a watermark (say max - 1/5MB close). ideally we could also configure the GC watermark to bring it lower.

[2015-07-15 19:36] whyrusleeping commented on #1482
@jbenet yeap. My concern is that before we even think about configurable limits and such, we need to determine how the system behaves when you are out of a certain resource, whether thats open connections, disk space, or memory. Once we determine how a limit will be manifest in the application, we can start setting those limits.

[2015-07-15 19:50] lgierth commented on #1479
#1481

[2015-07-15 19:50] #1479 closed

[2015-07-15 19:55] jbenet commented on #1482
We already know how some of those would behave, for example, disk. Trigger gc after a threshold, and stop accepting blocks after the limit.

—
Sent from Mailbox

On Wed, Jul 15, 2015 at 12:36 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-07-15 20:12] whyrusleeping commented on #1482
okay, when we stop accepting blocks, how does that affect the user? Do we just start returning 'error disk full' up the stack everywhere? (probably)

[2015-07-15 22:45] daviddias opened #1483 "protobufs as separate repo"
@whyrusleeping as we talked earlier, can we have the protobufs in a separate repo, so that we maintain only one version for both go-ipfs and node-ipfs? Avoiding the c&p dance :)

[2015-07-15 23:54] daviddias opened #1484 "Identify should not have to announce available protocols with the addition of `multistream-select` `ls`"
@whyrusleeping @jbenet Do still need this: https://github.com/ipfs/go-ipfs/blob/master/p2p/protocol/identify/pb/identify.proto#L26

[2015-07-16 00:02] jbenet commented on #1482
yeah, it's a write error. same would happen if the OS's disk got full.

On Wed, Jul 15, 2015 at 1:12 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-07-16 00:06] jbenet commented on #1484
as you mention, with multistream ls, we could get rid of it. (in that case, comment it out in the protobuf and mark as deprecated so we dont reuse that tag).

---

OTOH, if we keep it around it may help listing with `ipfs id` and the Home page in the webui:

![](http://gateway.ipfs.io/ipfs/QmdK5isFSDY96GQd4YcBtYFKu39RpgzfoSkBrbGcdgLwcd/cap.png)

[2015-07-16 00:27] lgierth opened #1485 "Use domain names instead of IPs for bootstrap"
The default config's bootstrap nodes should be specified as domain names such as `bootstrap1.ipfs.io`, `bootstrap2.ipfs.io` and so on.
- [ ] create domains bootstrap1 through bootstrap9
- [ ] change default config

[2015-07-16 00:42] jbenet commented on #1485
@lgierth SGTM. and this is fine because we have the peerIDs hardcoded. we incur no impersonation risk from DNS. (we DO incur DNS silencing risk. maybe we should keep one or two hardcoded IPs?).

[2015-07-16 01:39] jbenet opened #1486 "`ipfs repo state` cmd"
I'd want an `ipfs repo state` cmd that can output the local state of an ipfs repo, boiled down to one hash.

[code]
And to assist this, would like to get the pin root with
[code]

[2015-07-16 01:39] jbenet commented on #1486
@whyrusleeping @tv42 now we dont have logs, the repo only has {datastore, config, locks, version}. Ignoring locks for now (suppose it is an error to load same repo twice at the same time). for the config, could we maybe do the equivalent of `cat ~/.ipfs/config | ipfs add` when we need to? we could `read --> persist edits to repo`?

[2015-07-16 01:49] tv42 commented on #1486
I think the datastore itself has no state (it does have configuration, but that's in the config file). It stores a bunch of objects, but which ones matter etc are really up to all the other parts of the service, e.g. pins, ipns root, and so on. And yeah locks are very much a runtime concern -- not persistent state -- so you really need to persist just {version, config}, I think. The config can be

[2015-07-16 02:03] jbenet commented on #1483
:+1:

[2015-07-16 02:04] jbenet commented on #1459
@rht could you take care of this?

[2015-07-16 07:30] rht commented on #1459
I need more context. Those are go-specific template files, then why are they moved to a new repo?

[2015-07-16 08:08] jbenet commented on #1459
@rht i dont mean the go files necessarily, i mean the html. i want to be able to work on the html parts on that repo, and then just include it (with gx or with git?) here

[2015-07-16 08:09] rht commented on #972
`node.repo.datastore.storage_gc_watermark` ~ hard limit on pin size? Otherwise even GC after commands won't bring down the repo size.

[2015-07-16 11:53] rht commented on #972
How about swapping the hard limit role?
Instead of  `storage_gc_watermark` + `storage_max` (hard limit), use `pin_max` (hard limit) + `blurriness`? `blurriness`/`standard_dev` is like the amount of bluriness between local storage and peer storage. Default value is set the same as `pin_max`.

Also, where to put the trigger?
1. every 100 `GetBlocks` cycle
2. every 10 mins
3. every time a command is

[2015-07-17 02:19] jbenet commented on #1325
should support `--timeout=0` for no timeout.

[2015-07-17 02:20] jbenet commented on #1325
the way to implement is: cli passes it as an option to the API. the api (in the cmdslib) sets the timeout of the cmd's context based on this timeout.

[2015-07-17 04:04] voltagex commented on #959
Hey @alexpmorris, is there any way I can help you get on a later Windows version? Perhaps Win10 in a VM/VHD would do?

[2015-07-17 04:35] alexpmorris commented on #959
I have a basic working implementation of this.  However, it's in Delphi/FreePascal, not go.  The trickiest part was that Dokan needs the correct file size in GetFileInformation, so I step up the path until I find it.  Dokan uses that information to repeatedly call the ReadFile method with a 512 byte buffer until it has the total bytes it expects.

Just a few thoughts...  The file sizes are larger

[2015-07-17 10:52] Luzifer opened #1489 "Possible FD leak"
As a user of `v0.3.5` from homebrew I'm seeing an increase of errors after the daemon is running for some time (several days):

[code]

The error is repeating several hundred times and does only solve when restarting the daemon.

[2015-07-17 14:03] whyrusleeping commented on #959
@alexpmorris i've gotten a few requests for an API to get the exact size of a file, and as far as I know, we dont have that yet. I can write it up today and let you know when its done

[2015-07-17 18:19] whyrusleeping opened #1490 "random API failures"
I'm not really sure what causes it, but i will occasionally get random failures through the API such as:

[code]

This happens with pinbot as well, so its likely something to do with ipfs-shell. But ipfs shell just wraps the command libs http code.

[2015-07-17 18:30] jbenet commented on #1490
I see them on ipfs cli too. They're recent. Not sure what's up.

—
Sent from Mailbox

On Fri, Jul 17, 2015 at 11:19 AM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-07-17 18:35] jbenet commented on #1489
Interesting. Could you try latest? (Logs no longer written out). Also what's the ulimit?

—
Sent from Mailbox

On Fri, Jul 17, 2015 at 3:52 AM, Knut Ahlers <notifications@github.com>
wrote:

[2015-07-17 18:41] whyrusleeping commented on #1490
thats troubling... we should bump up the error logging in the commands lib

[2015-07-17 20:40] whyrusleeping opened #1491 "random swarm test failure"
[code]

[2015-07-17 22:33] Luzifer commented on #1489
Okay now things are starting to get strange:

[code]

Starting daemon from fresh master (8668f40) and keep watching whether it comes up again.

[2015-07-17 22:47] alexpmorris commented on #959
I tested dipfs on a 64-bit Windows7 system with the same version of Dokan included in the repo, and it worked perfectly!  So it should work on 32-bit and 64-bit Windows at least up to Windows7 (so far).  I also released a slight update.

[2015-07-17 23:00] jbenet commented on #1489
@Luzifer `brew`, right? so, macs have a bunch of ways to set FDs: http://superuser.com/a/303058

[2015-07-17 23:15] Luzifer commented on #1489
Yep but manually started from my shell it should have my limit, not the one from `launchd`… (Still found no way to get the stdout of processes in `launchd` like in Ubuntus `upstart`)

[2015-07-18 00:10] whyrusleeping opened #1492 "multiaddr net panic in dht tests"
see https://circleci.com/gh/ipfs/go-ipfs/680

[2015-07-18 00:28] whyrusleeping opened #1493 "ci testutil needs to detect circle CI"
we have tests that change their behaviour when they detect a CI environment, we should probably let this code know about circleCI.

https://github.com/ipfs/go-ipfs/tree/master/util/testutil/ci

[2015-07-18 20:22] rtlong commented on #1408
I think I may be seeing this as well. I've been noticing it with a build I've been using for about a month, but just the hang symptom, progress bar was still visible. When the daemon is running, it would hang, when I stop the daemon, I can add the whole directory without issue.

Today, I've built from master@8668f40915829d78916b94ed9bcfb1ff53fb0cb9 and I see this as described. I'm attempting to ad

[2015-07-18 23:11] jbenet commented on #1408
@whyrusleeping this is a really bad UX bug. we should fix this asap

[2015-07-19 11:26] slang800 commented on #1072
The same thing is happening for me with ipfs version `0.3.5` on Ubuntu. I'm trying to add 146.24GB of music (a mix of small MP3s, and some slightly larger FLAC files in a directory structure that's never more than 2 levels deep).

So far, it has broken at 1.29GB, 7.25GB, and 10.69GB. Each time it breaks, it doesn't output an error message... I just re-run the command and it quickly catches up to t

[2015-07-19 14:03] alexpmorris commented on #959
dipfs also works with the latest dokany release, which has been confirmed to work up to Windows 10.

[2015-07-19 21:10] whyrusleeping commented on #1072
@slang800 did you build from source? if so, could you provide us with the git commit sha? Are there any sorts of symlinks in the data youre adding?

[2015-07-19 21:31] bcomnes commented on #1425
@optimusbrine I'm running into the exact same thing.  Can you clarify what you did to help improve the situation?

[2015-07-19 23:22] whyrusleeping commented on #1493
closed by #1499, the generic `CI` variable wasnt being looked for.

[2015-07-19 23:26] jbenet commented on #1493
:+1:

[2015-07-19 23:28] #1493 closed

[2015-07-20 05:55] jbenet commented on #1489
@Luzifer i think you can ask launchd to log out to a file.

[code]

http://superuser.com/questions/726906/osx-mavericks-how-can-i-make-a-webserver-launch-at-boot-and-listen-to-port-80-w

[2015-07-20 14:47] slang800 commented on #1072
I just used `go get -u github.com/ipfs/go-ipfs/cmd/ipfs`. If there's a way to check the SHA that it got, then I'll do that, but I'm not familiar enough with go to know how.

Nope. You can actually see the finished data [here](http://gateway.ipfs.io/ipfs/QmTYdo9E59qWSuqesn4E8VfXxHCUx59hRhjkgaSbPPJRyo)

[2015-07-21 05:02] daviddias opened #1503 "`secio` => `multi{crypto handshake}-stream`"
We've talked today about the ideia to use some of the crypto libraries and wrap them around with a stream interface in order to enabled cypher stream muxer connections or per stream basis.

This would enable us (and other people that are interested) to pass a duplex stream with another peer, give the right arguments (depending on the type of cypher used) wait to return another duplex stream, which

[2015-07-21 06:31] optimusbrine commented on #1425
@bcomnes that should be all you need. Running `top`, then showing threads with `Shift+h` should not show any more than about 20 threads being spawned by the ipfs daemon. Before setting the IPFS_REUSEPORT=false it was spawning hundreds.

[2015-07-21 07:26] krl opened #1504 "Log no longer available in api"
/api/v0/log/tail no longer produces any output.

Should we move this back, or should we change the api somehow?

[2015-07-21 07:36] jbenet commented on #1504
@whyrusleeping i think the current `/logs` route should be back where `/api/v0/log/tail` was.

[2015-07-21 08:28] jbenet commented on #1503
Yeah, it already does this. `secio` is implemented on top of `net.Conn` which is the generic way to do this sort of stuff in Go. it is the _equivalent_ of:

[code]
but has more ceremony around how the params are chosen, and so on.

---

a more important thing to consider is to just use some other well-known transport encryption protocol instead of secio altogether

[2015-07-21 15:24] bcomnes commented on #1425
Worked great!  Thanks for the info.

[2015-07-21 19:31] whyrusleeping commented on #1503
without saying "tls", what options do we have?

[2015-07-21 19:42] whyrusleeping commented on #1485
can multiaddr even handle dns?

[2015-07-21 20:23] jbenet commented on #1485
not yet, but we can add it.

[2015-07-21 23:17] diasdavid commented on #1503
Adding @maxogden as he is interested in having this as well.

It would be good/interesting to have DH to set up the private channel as one thing, and then have the TLS handshake to guarantee authenticity as separate step.

A tested/proven example for the first part, is what happens inside WebRTC, but I'm not being able to find some nice implementations for that.

[2015-07-22 02:41] lgierth commented on #1503
SGTM!

Maybe that could be piggybacked on top of multihash -- i.e. have the public key representation include a hint about how to shake hands?

Caleb came up with a handshake and stream for cjdns: https://github.com/hyperboria/cjdns/blob/master/doc/Whitepaper.md#the-cryptoauth

[2015-07-22 12:10] MrChrisJ commented on #1214
I have had a similar issue attempting to load a file sent from a colleague running ipfs version 0.3.4, got the same error:

[code]

I did swarm peers and after about 30mins I tried it again and it seemed to work. Just wanted to report in case it was helpful.

[2015-07-22 12:14] opn commented on #1214
Would like to check that this is not an issue with recent builds. I’m on 0.3.2 - should I be good to upgrade :)

[2015-07-22 20:50] whyrusleeping opened #1508 "sharness pinning test failure"
https://travis-ci.org/ipfs/go-ipfs/jobs/72188471

[2015-07-22 22:03] harlantwood commented on #1322
@travisperson do you think you will continue work on this?  If not I'll see if I can convince @jbenet or someone else to work on it... :wink:

[2015-07-23 01:14] jbenet commented on #1345
this keeps bugging me + confusing people

![](http://gateway.ipfs.io/ipfs/QmZjMzrgbiBYs6K97iUsEmiW22kXM62wPnaRtvcSBYMy4Q/cap.png)

[2015-07-23 01:14] jbenet commented on #1345
@ipfsbot pin -r QmZjMzrgbiBYs6K97iUsEmiW22kXM62wPnaRtvcSBYMy4Q

I wish o/ worked

[2015-07-23 02:16] rht commented on #1345
I am confused with the issue with progressbar staying after exit (check curl/wget, they retain the progressbar). There could be extra line saying "data transport/transfer done!" to avoid misunderstanding with the total estimated size.

[2015-07-23 07:13] jbenet opened #1509 "api _sometimes_ screws up"
see asciinema
https://asciinema.org/a/azdydoafop175o9l1mzg2fs0w

[2015-07-23 13:57] whyrusleeping commented on #1509
that didnt really look like a sometimes to me... what did you do to that poor daemon?

[2015-07-23 17:41] whyrusleeping commented on #1214
@MrChrisJ Interesting, My guess is that you and your colleagues nodes failed to connect to eachother due to NAT traversal failing, or an otherwise restrictive firewall.

@opn you shouldnt run into any issues upgrading

[2015-07-23 23:28] whyrusleeping opened #1512 "0.3.6 changelog staging"
This patch improves the resource consumption of go-ipfs,
introduces a few new options on the CLI, and also
fixes (yet again) windows builds.

* Resource consumption:
  * fixed goprocess memory leak @rht
  * implement batching on datastore @whyrusleeping
  * Fix bitswap memory leak @whyrusleeping
  * let bitswap ignore temporary write errors @whyrusleeping
  * remove logging to disk in favor of api

[2015-07-23 23:29] whyrusleeping commented on #1512
I think i got most of the changes since 0.3.5, let me know what i've missed

[2015-07-24 01:22] jbenet commented on #1512
at least these, i think:

- Resource consumption:
  - fixed goprocess memory leak @rht

- Tool changes
  - improved `ipfs daemon` output with all addresses @jbenet
  - improved `ipfs id -f` output, added `<addrs>` and  `\n \t` support @jbenet
  - `ipfs swarm addrs local` now shows the local node's addrs @jbenet
  - improved config json parsing @rht
  - improved Dockerfile to use alpine linux @Luzi

[2015-07-24 01:58] multikatt opened #1513 "ipfs diag net throws error"
Using 633b66d8ec6b66a20bb8ffae8069e086bc486ecc i get the following
[code]
I checked https://github.com/ipfs/go-ipfs/commits/master/diagnostics/diag.go since I suspect the error comes from there and tried out commit ac7edddb94a70f5f76e23d87c3da085eb97cf34a. It works as expected in that commit.

[2015-07-24 04:32] rht commented on #1512
reduce logging libraries to 2: util/log and eventlog (final unification is still pending, so do quantum and gravity).

[2015-07-24 04:59] wking opened #1514 "Try to connect to the API instead of looking for a repo lock to determine daemon status"
With an IPFS daemon running in a local container (so not out of my host `~/.ipfs`), I can't run other IPFS commands from the host:

    $ ipfs swarm peers
    Error: This command must be run in online mode. Try running 'ipfs daemon' first.
    Use 'ipfs swarm peers --help' for information about this command

We shouldn't be checking the repo lock to determine if the daemon is up (it might even be

[2015-07-24 05:33] rht commented on #1345
i c, like `ipfs add`'s behavior.

[2015-07-24 08:38] rht opened #1515 "ipfs repo gc does not fully reverse ipfs add"
[code]

will fail with 4kB or 16 kB of residue.

[2015-07-24 16:41] whyrusleeping commented on #1513
whoops. thats my fault. thanks for reporting!

[2015-07-24 16:53] whyrusleeping commented on #1512
@jbenet @rht alright, got that updated!

[2015-07-24 22:10] whyrusleeping commented on #1503
@diasdavid @dominictarr did a writeup of our handshake: https://github.com/auditdrivencrypto/secure-channel/blob/master/prior-art.md#ipfss-secure-channel

[2015-07-25 00:58] rschulman opened #1517 "Add /ipns/local (or equivalent) for quick access to the local namespace"
It would be convenient to have a shortcut path to the local ipns namespace to avoid the extra steps of looking up the local ID then putting that into the path. It would make sense since the local namespace will likely be the most often used, I would think.

Thoughts, @jbenet ?

[2015-07-25 05:14] diasdavid opened #1518 "too many tabs open, opened a issue in the wrong place."

[2015-07-25 05:14] #1518 closed

[2015-07-26 07:12] daviddias opened #1520 "Standard config in a separate repo"
Following the idea proposed on https://github.com/ipfs/go-ipfs/issues/1483, it would be great that things like default port, bootstrap peer list and other values that are shared between different implementations of IPFS, e.g: https://github.com/ipfs/go-ipfs/blob/master/repo/config/bootstrap_peers.go#L16-L26, would be in its on repo so they are easily imported, preferably defined in JSON.

[2015-07-26 09:53] krl opened #1521 "Api returning 403 on wrong referer"
In the api browserify testsuite, i need to make api requests with referer set to localhost and some arbitrary port.

https://github.com/ipfs/go-ipfs/blob/master/commands/http/handler.go#L84

This however sends me a 403.

@jbenet i think this is the same issue you had with the federated wiki thing. I talked to @diasdavid and he suspected that this is outdated code since #1215 - could we simply remo

[2015-07-27 06:37] jbenet commented on #58
Update on uTP. anacrolix wrote to the go-nuts mailing list:

https://github.com/anacrolix/utp/

perhaps we should try it out :)

i would be more comfortable if we had a large cross-internet test case.

[2015-07-27 06:48] jbenet commented on #1521
Yeah, this is incorrect.

I have a fix in the works https://github.com/ipfs/go-ipfs/compare/cors-fix but it's not done yet. (anyone feel free to pick it up.)

I'd like to rebase this on top of #1519

[2015-07-27 06:52] jbenet commented on #1520
:+1: on doing this.

:+1:

we have to compile it into the binary, so should end up as a go file. a script can likely convert this:

[code]

into
[code]
or something.

[2015-07-27 07:12] jbenet commented on #1520
@diasdavid i just made https://github.com/ipfs/ipfs-node-defaults

[2015-07-27 08:02] jbenet commented on #1517
@rschulman we already use `/ipns/local` in the mounted filesystem, so yeah we could probably do this.

wonder about the implications of handling this correctly, etc. it's got similar security holes as using `localhost` in various places.

[2015-07-27 09:14] jbenet commented on #1515
Hmm seems like a bug to me. thoughts @whyrusleeping ?

[2015-07-27 15:00] whyrusleeping commented on #1515
odd. this is a really good test to have. we should run it against dev0.4.0 and see how well the mark and sweep GC fares.

[2015-07-27 15:52] rschulman opened #1522 "FUSE ipns mount is randomly buggy"
The FUSE mount, at least when using OSXFUSE is not reliably useful. As an example, see this gist: https://gist.github.com/rschulman/3ce8c45cb68a6dfd844c

In here we can see that a directory listing shows no files/directories, but trying to make a directory reports that one is already there and indeed we can cd into it.

We can echo lines into a new file, but editing the file in vim and adding a li

[2015-07-27 15:59] whyrusleeping commented on #1522
@rschulman I've had this exact same issue before a few times, and i thought i had fixed it. Although, the last time I fixed it, I dont think that I had a machine with OSX.

[2015-07-27 19:38] diasdavid commented on #1520
Thank you @jbenet , I'll start adding stuff!

[2015-07-28 01:38] jbenet commented on #1522
wow, that's lovely. super broken lovely. @whyrusleeping can you help @rschulman debug this?

[2015-07-28 01:39] #1345 closed

[2015-07-28 04:58] krl commented on #1521
@mappum could this be safely removed right now? given that #1215 is merged

[2015-07-28 07:05] jbenet commented on #1345
yeah if the progress bar stays, it should be drawn to 100% before exiting. the problem now is that  (as the picture shows) the bars disappeared midway because the program exited before the bar was redrawn.

i think i'm a bit happier with the bar disappearing, though i'd also be ok with it staying (at 100%). it's not critical output to keep in general, because non-ttys shouldn't see it either. prog

[2015-07-28 07:38] jbenet commented on #1514
@wking two things
-  the repo spec (which is a bit out date in other respects (pinning in 0.4.0)) calls for an `api` file  -- https://github.com/ipfs/specs/tree/master/repo/fs-repo#api -- which is to have the URL of the api.
- i dont think trying to access the API at the well known location is correct. could be a _different_ daemon -- which would conflict with the default value of `$IPFS_PATH`. so

[2015-07-28 12:25] jbenet commented on #1521
@mappum what was the problem with the referer? (does correct CORS take care of it?)

cc @diasdavid

[2015-07-28 13:21] jbenet opened #1528 "webui broken by get fix"
the get fix broke the webui

![](http://gateway.ipfs.io/ipfs/Qmagvgj5df3Mj2N2F7nU6c3JNc9mYtZ3TUhRS3zXxfHnY2/cap.png)

---

https://botbot.me/freenode/ipfs/2015-07-28/?msg=45757898&page=3

[code]

[2015-07-28 13:40] jbenet commented on #1513
@whyrusleeping we should fix this before cutting 0.3.6 i think

[2015-07-28 13:40] jbenet commented on #1528
@whyrusleeping very important to fix this before cutting 0.3.6

[2015-07-28 14:02] jbenet commented on #1521
i believe it's a CSRF that we were worried about: https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet#Checking_The_Referer_Header

o/ says checking referer isnt so great. i think proper CORS fixes things

[2015-07-28 14:42] whyrusleeping commented on #1528
why is the webui making requests to an updates check endpoint that doesnt exist?

[2015-07-28 14:52] whyrusleeping commented on #1528
@jbenet i'm having trouble figuring out whats causing the webui to 'fail' aside from the numerous bad calls its making:

- a few calls to `ipfs update check` which was removed in november
- a call to `getLocation` with a null value for multiaddrs (should that be checked? why is it null)
  - the value came from a call to `ipfs id` which i dont see failing in any way
- a call to `ipfs config Gateway

[2015-07-28 14:53] jbenet commented on #1521
addressed in https://github.com/ipfs/go-ipfs/pull/1529

[2015-07-28 14:55] whyrusleeping commented on #1528
also, the webfonts its looking for dont appear to exist

[2015-07-28 15:10] jbenet commented on #934
#1529

[2015-07-28 15:11] #1521 closed

[2015-07-28 15:12] whyrusleeping commented on #1528
alright, this looks like changing things to always use chunked encoding has broken the node-ipfs-api, @krl could you help me look at this?

[2015-07-28 15:19] jbenet commented on #1528
yeah we should add it back :)

we ended up never adding `Gateway.Enabled`.

not sure. @krl?

i think this was fixed in a new webui version, as of yet unreleased.

yep. i think that's it. i guess this is why the `flushCopy` was there :smile:

[2015-07-28 15:38] jbenet commented on #1513
should be fixed (with https://github.com/ipfs/go-ipfs/pull/1530)

[2015-07-28 15:38] #1513 closed

[2015-07-28 19:59] #1528 closed

[2015-07-29 02:13] jbenet opened #1532 "API Tokens"
(from discussion with @mappum and @diasdavid)
### Current State and Stopgaps

In the current state, the web API is protected by:
- API binding to `127.0.0.1`.
- CORS checks.
- a Referrer check.
#### CSRF attacks

For further explanations below, consider a CSRF attack where the user crafts any html page such as:

[code]

getting the user to click on the link attempt to load the "image", issuing a H

[2015-07-29 02:46] jbenet commented on #1445
@whyrusleeping can we rebind `-n`? maybe   `--only-hash, -y` and `--name, -n` ?

[2015-07-29 02:47] jbenet opened #1533 "ipfs add -r -w <dir> borked"
See: http://gateway.ipfs.io/ipfs/QmVoUkEGYLk4yFT8pUt7Lyz6VStE2GzzZp4EkF39CsEo6M/go1.4.2.src -- click AUTHORS. it _wrapped_ every single file in a dir. not what we want. we want the last dir to be wrapped itself.

[2015-07-29 03:04] whyrusleeping commented on #1445
:+1:

[2015-07-29 03:05] whyrusleeping commented on #1533
thats quite the bug, lol

[2015-07-29 05:45] krl commented on #1532
it's so cool what falls out of these schemas :+1:

[2015-07-29 06:11] krl commented on #1532
One thing though, how about revoking capabilites?

[2015-07-29 06:12] jbenet commented on #1532
@krl yeah, i thought the same thing. we can just make these records, like ipns, and reuse the record validity stuff from https://github.com/ipfs/specs/tree/master/records ;)

[2015-07-29 06:39] jbenet opened #1534 "make ipns "publishing!" println a log.Info and log.Event"
it should not be a println. can make it a warning if we want, for now.

[2015-07-29 07:05] #1534 closed

[2015-07-29 10:52] Luzifer opened #1537 "repo.lock prevents daemon restart"
[code]

**How?** The old container running IPFS was killed by whatever reason, the `repo.lock` was left behind, the new container is unable to start because of that file.

**Tempfix?** Remove `repo.lock`, start new container.

**Proposed fix?** See age of repo.lock, renew it periodically, if it's stale ignore it and override it.

[2015-07-29 11:17] jbenet commented on #1537
@Luzifer do you see this often?

[2015-07-29 12:12] jbenet commented on #1533
closed in #1536

[2015-07-29 12:12] #1533 closed

[2015-07-29 12:39] jbenet commented on #1512
since then:

- Tool changes:
  - `ipfs patch` learned to create intermediate nodes @whyrusleeping
  - `ipfs object stat` now shows Hash @whyrusleeping
  - `ipfs cat` now clears progressbar on exit @rht
  - `ipfs add -w -r <dir>` now wraps directories @jbenet
  - `ipfs add -w <file1> <file2>` now wraps with one dir @jbenet
  - API + Gateway now support arbitrary HTTP Headers from config @jbenet
  -

[2015-07-29 12:44] jbenet commented on #1504
@whyrusleeping maybe we should fix this regression now since it's very quick (just moving an http route), and it hasn't been externalized in a release

[2015-07-29 12:44] jbenet commented on #1491
@whyrusleeping fixed this

[2015-07-29 12:45] jbenet commented on #1491
ah different one

[2015-07-29 12:48] jbenet commented on #1509
i think this was the failures we've been seeing.

@whyrusleeping,

@zignig reports that the API failures are still there. or rather, there when he uses `http` package directly. it's not great that our API now fails with the standard library's http client. we should discuss whether to ship this, or try to fix it. (we could ask people to use ipfs-shell for now...)

@wking you recently mentioned a go

[2015-07-29 14:48] whyrusleeping commented on #1509
@jbenet go's http library is broken, I can get it to fail against any http server by making requests quickly enough and not closing response bodies.

[2015-07-29 14:54] jbenet commented on #1509
Can you get it to fail if you DO close response bodies?

[2015-07-29 14:57] jbenet commented on #1509
The http lib is clear on this. I don't think it's an error. to reuse the pool you need to close responses. why is that unacceptable?

[2015-07-29 14:58] whyrusleeping commented on #1509
@jbenet the pool reuse has a race condition.

[2015-07-29 15:03] whyrusleeping commented on #1512
@jbenet updated root comment.

[2015-07-29 15:24] whyrusleeping commented on #1504
@jbenet why dont we just move the code that depends on this to point to `/logs` since the log tail is no longer an api command. faking it would break our perfect 'api matches the cli' symmetry.

[2015-07-29 15:24] whyrusleeping commented on #1504
[code]

[2015-07-29 15:25] whyrusleeping commented on #1504
Thats all the diff thats required to move it, but i'm not sure we should.

[2015-07-29 15:38] jbenet commented on #1504
why isn't it a command? users should be able to `ipfs logs tail` still...

[2015-07-29 15:41] jbenet commented on #1504
- can easily mount the logs at the right location
- continue to support the cli command
- continue to support the existing code out there.

why did we break userland in the first place? is there a reason to?

[2015-07-29 15:47] whyrusleeping commented on #1504
man, its userland all the way down.

[2015-07-29 15:49] whyrusleeping commented on #1504
we 'broke' userland because the original motivation was to stop writing logs to disk, and instead change that to be output to an http endpoint, at no point did we think about the log command (which I admit, I forgot existed)

[2015-07-29 22:23] jbenet commented on #1504
Closed in #1539

[2015-07-29 22:23] #1504 closed

[2015-07-30 01:16] diasdavid opened #1541 "{dht, kad}.proto question"
Is it possible for a peer to have peers it can't connect in its k-bucket? AFAIU, k-buckets are filled and orded by 'last seen', and therefore a peer that we were never able to connected is not considered for the k-bucket, which means that the hypothesis of having peer replying to a kad-router query with a peer list of peers it can't connect, will never happen. Right? If so, why do we need this val

[2015-07-30 15:06] #1512 closed

[2015-07-30 20:33] whyrusleeping commented on #1541
yeah, any peer in our routing table will be a peer that we are connected to. we only put a peer in the routing table when we receive a message from them (or upon connection i beleive) and when they disconnect, they are removed from the routing table. as far as i can tell, you are right, that should never happen

[2015-07-31 05:57] zignig opened #1546 "Chunking and Content size"
The new chunking interface means that there is not Content-Length header in the file. After some discussions with whyrusleeping using a File-Size header seemed to be a good balance.

@whyrusleeping

[2015-07-31 12:05] zignig commented on #1546
http://stackoverflow.com/questions/17714494/golang-http-request-results-in-eof-errors-when-making-multiple-requests-successi

[2015-07-31 12:07] zignig commented on #1546
https://github.com/golang/go/issues/4677

[2015-07-31 14:05] whyrusleeping commented on #1546
@zignig yeah, i've seen 4677 before. I believe its related. (or one of the three other linked bugs on that bug).

[2015-08-02 09:27] Luzifer commented on #1537
Yep. I do.

Further analysis:

[code]

[code]

If you take a look at the timestamps:
- 08:33:00: Update is detected, stop command is executed
- 08:33:40: The killed container is removed
- 08:33:41: A new container is created
- 08:34:00: The new container is already crashed and gets removed (and recreated and again and again…)

Currently my dockermanager is waiting 20s from `stop` to `kill` ([fsouz

[2015-08-02 13:01] jbenet commented on #1537
@Luzifer that's really annoying. suggested fix here? is this a timestamping-on-the-file problem? (the file lock we're using is what bradfitz wrote for camlistore).

cc @whyrusleeping

[2015-08-02 16:48] Luzifer commented on #1537
One fix could be to ensure the daemon quits within `N` seconds and ensure the container is not killed before `stop`+`N`.

Another fix could be to see whether the daemon who wrote the lock is still active (for example the solution I initially suggested: Write a timestamp to that file as mtime or content every `M` seconds and if it was not written within `M*2` ignore the lock and start nevertheless)

[2015-08-03 10:55] Luzifer commented on #1226
Still running, no complaints… I think the filters are working… Praise @whyrusleeping for building it!

[2015-08-03 13:50] whyrusleeping commented on #1226
i'm glad we've fixed that finally!

[2015-08-03 17:38] whyrusleeping opened #1549 "Upgrade Protocol Handles to Follow the SPEC"
To get multistream interop between node and go, we need to agree on the official protocol names.

stream muxers:
- spdystream -> `/stream-muxer/spdy/3.1.0`
- yamux -> `/stream-muxer/yamux/1.0.0`
- multiplex -> `/stream-muxer/multiplex/1.0.0`

ipfs protocols:
- ping -> `/ipfs/ping/1.0.0`
- dht -> `/ipfs/dht/1.0.0`
  - maybe use 'kademlia' in there somewhere
- bitswap -> `/ipfs/bitswap/1.0.0`
- diag

[2015-08-04 06:13] Konubinix commented on #961
I am very interested in such a feature. I have exacly the same requirements as @MichaelMure.

In my mind, the most critical point to reach the "low friction" aspect is #875.

[2015-08-04 16:13] diasdavid commented on #1549
It would be good to avoid using the name DHT, to avoid the Peer VS Content routing. Right now I'm calling the routing part that uses kademlia, kad-router, as a module name. so maybe we can have: /ipfs/router/kad/1.0.0, so that in the future we might have `/ipfs/router/anotherP2POverlayRouting/1.0.0` too.

For the record store, I haven't cored it yet, but probably  `/ipfs/record-store/1.0.0` would

[2015-08-04 16:20] whyrusleeping commented on #1549
as far as I know the record store isnt a protocol.

[2015-08-05 10:30] jbenet commented on #875
since this is a highly requested feature, can we get some proposals of how it would work with the present `fsrepo` ?

[2015-08-05 10:59] cryptix commented on #875
My proposal would be a _shallow repo_ that acts like an index of torrent files. Where it thinks it can serve a block until it tries to open the file from the underlying file system.

I'm not sure how to manage chunking. Saving `(hash)->(file path, offset)` should be fine, I guess?

[2015-08-05 12:04] loadletter commented on #875
Something like ```(hash)->(file path, mtime, offset)``` would help checking if the file was changed.

[2015-08-05 14:07] whyrusleeping commented on #875
something like `(hash)->(path, offset, length)` is what we would need. and rehash the data upon read to ensure the hash matches.

[2015-08-05 17:45] whyrusleeping commented on #1476
I beleive ive fixed this

[2015-08-05 17:45] #1476 closed

[2015-08-05 20:51] jbenet commented on #875
piecing it together with the repo is trickier. maybe it can be a special datastore that stores this index info in the flatfs, but delegates looking up the blocks on disk. something like

[code]

[2015-08-05 20:53] whyrusleeping commented on #875
would be cool if linux supported symlinks to segments of a file...

[2015-08-05 21:24] Luzifer commented on #1537
Hmm maybe same issue as in #1476? Lets see if it continues…

[2015-08-06 17:48] MichaelMure commented on #1211
Just tested, this is fixed. I guess the good thing is to close the bug. Thanks !

[2015-08-06 17:48] #1211 closed

[2015-08-06 20:35] jbenet commented on #1211
:+1:

[2015-08-08 07:24] rht commented on #1515
Now this is down to ~O(6 bytes) of residue.

[2015-08-08 08:37] davidar commented on #875
Perhaps separating out the indexing operation (updating the hash->file-segment map) from actually adding files to the repo might work? The indexing could be done mostly separately from ipfs, and you'd be able to manually control what needs to be (re-)indexed. The blockstore then checks if the block has been indexed already (or passes through to the regular datastore otherwise).

[2015-08-08 10:08] jbenet commented on #1515
nice! that should be fine then.

also, do we know what improved?

[2015-08-08 11:09] diasdavid commented on #616
@whyrusleeping Can we make getting symlinks working a priority?

[2015-08-08 16:38] whyrusleeping commented on #616
@diasdavid sure thing.

[2015-08-08 16:41] MichaelMure opened #1554 "some local hash is not listed by ipfs refs local"
$ ipfs get QmUYndb1SkY49khYAg9Zn2yp9Z44cRFtqMnVAZP5qes8ce
$ ipfs refs local | wc -l
181
$ ipfs refs local | grep -i QmUYndb1SkY49khYAg9Zn2yp9Z44cRFtqMnVAZP5qes8ce
return nothing

It's a file part of the WebUI and is correctly written on my filesystem. Reproduced on different machine, and by @jbenet.

[2015-08-08 16:45] whyrusleeping commented on #1554
huh, query must be broken, or something.

[2015-08-08 17:15] whyrusleeping commented on #1522
@jbenet last night i tried and failed to reproduce to this on OSX yosemite. I was running latest master, the entire ipns test suite passed (which i didnt actually expect) and i was able to do a large amount of routine filesystem actions on the mountpoint. @rschulman could you update to latest master, try again, and maybe provide some more insight on getting things to break?

[2015-08-08 18:27] diasdavid opened #1555 "List the files uploaded through API and CLI on the WebUI as well"
This will save a lot of confusion for the electron-app users.

[2015-08-08 18:35] rschulman commented on #1522
I updated to latest master but am still seeing the same behavior.

My OSX version is 10.10.4 and my OSX FUSE version is 27.

[2015-08-08 18:42] diasdavid opened #1556 "go-ipfsd and go-ipfs-cli as separate projects"
We've been having some conversations about this and wanted to make sure it was written down/discussed

It starts to make more and more sense to separate go-ipfs into two separate repos: `go-ipfsd` and `go-ipfs-cli`.

The major benefit is being able to use the go-ipfs-cli with more than one IPFS peer that doesn't have to be necessarily installed with `go-ipfsd`, this IPFS node can be remote, instal

[2015-08-08 19:17] whyrusleeping commented on #1554
we're apparently getting some bad keys back from the datastore, or something... adding an error log to the `if err != nil {` case after the multihash cast shows a bunch of odd failures:

[code]

[2015-08-08 20:05] whyrusleeping commented on #1554
It appears that some of the 'keys' coming up from the datatstore query are one character short, for example, a good key: (bytes)
[code]

And a bad key (from the datastore):
[code]

[2015-08-08 20:16] whyrusleeping commented on #1554
There is a bug in the encode/decode code here: https://github.com/jbenet/go-datastore/blob/master/flatfs/flatfs.go#L50

some of the filenames are shorter than the others, a byte is being left off somewhere in the process.

[2015-08-08 21:01] jbenet commented on #1555
this is related to the "local storage" problem. and the "listing roots" problem.

cc @whyrusleeping

[2015-08-08 22:18] whyrusleeping commented on #1555
i just want a log file in `$IPFS_PATH` that lists every 'block create' operation. such as adds, block puts, object puts, and object patches along with the time it happened.

[2015-08-08 22:58] jbenet commented on #1554
@whyrusleeping good work.
- could it be the `1:` in encode: https://github.com/jbenet/go-datastore/blob/master/flatfs/flatfs.go#L51
- there's no equivalent in decode: https://github.com/jbenet/go-datastore/blob/master/flatfs/flatfs.go#L67

[2015-08-08 22:58] jbenet commented on #1554
before merging a fix for this, we should try to make a test that repros it.

[2015-08-09 01:06] rht commented on #1515
Hmm...Need tests to see more changes.

The 6 bytes could be due to the irreversible hash key size errs? https://github.com/ipfs/go-ipfs/issues/1554

[2015-08-09 01:09] jbenet commented on #1515
maybe but not sure

[2015-08-09 01:14] whyrusleeping commented on #1554
found it: any key that ends in the byte 47, aka `/` will be stripped off by this: https://github.com/jbenet/go-datastore/blob/master/key.go#L50

[2015-08-09 01:21] jbenet commented on #1554
@whyrusleeping yep. makes sense. we need our own clean (+test). silly not to have considered it before.

[2015-08-10 14:28] leni536 opened #1559 "Add --empty option for init"
Suggestion:

Add --empty (or similar) option for init. Right now init adds and pins the help files to the local storage (I think it's reasonable). It could be useful to create empty repos right away instead of writing a script that unpins then garbage collects all these help files.

[2015-08-10 14:45] whyrusleeping commented on #1559
Seems like a good idea to me.

[2015-08-10 15:16] whyrusleeping opened #1560 "peer ID missing in swarm peers output"
mars has been running for 11 days now, and I logged in this morning and ran `ipfs swarm peers` and it took a while before returning, and when it did, one of the peers had a missing ID.

output: https://gist.github.com/whyrusleeping/2319d244e93219b4100a

[2015-08-10 18:04] joamaki commented on #612
As a +1, I would be interested in seeing symbolic links and file permissions supported. This would allow using IPFS as a root filesystem and would be quite neat, for example for mounting a snapshot /nix/store in NixOS for doing immutable deployments. If it makes sense running root filesystem off of a FUSE mount is another subject...

[2015-08-10 18:12] whyrusleeping commented on #612
@joamaki i'd be interested in finding someone with experience using fuse in a 'mission critical' scenario (such as using it for a rootfs).

Permissions and symlinks are definitely one the TODO list. permissions just waiting on implementation, and symlinks waiting on a bit of discussion for *how* to implement them.

[2015-08-10 19:36] leni536 commented on #1425
I had the same problem on the following system:
[code]

Using IPFS_REUSEPORT=false worked fine for me too.

[2015-08-10 19:39] whyrusleeping commented on #1425
@leni536 thanks for the info. what kind of machine was that? and what is your normal file descriptor limit?

I'm glad disabling reuseport allows you to use ipfs, but it also limits the effectiveness of NAT traversal. We should look at fixing our implementation (if anyone knows about epoll stuff, we want your help!)

[2015-08-10 19:53] leni536 commented on #1425
Asus Eee PC 2G Surf, I don't know what exact spec you are interested about. It didn't run low on RAM or HDD space.

As for the fd limit:
[code]

Could the full stack trace be useful? It's kind of large.

[2015-08-10 19:55] whyrusleeping commented on #1425
@leni536 if you dont mind putting it in a gist for me, that would be useful. Its strange that you would run into those issues on something with moderately decent specs. perhaps it has to do with the fact that its 32 bit? (the common denominator between the pi and your machine)

[2015-08-10 20:06] leni536 commented on #1425
https://leni536.github.com/ipfs.log

[2015-08-10 22:47] ehd opened #1561 "Setting "deep" config options doesn't work"
I consulted the new CORS documentation in `ipfs daemon --help` and found this

[code]

However, when I tried it I got an error at first.

Using `ipfs config show` I saw that `API.HTTPHeaders` is set to `null`, so I set it to an empty object like this:

[code]

Afterwards I was also able set properties within the `API.HTTPHeaders` object.

I would have expected the `ipfs config --json` command to a

[2015-08-11 00:00] jbenet opened #1562 "Dockerfile local arch"
The dockerfile uses 386 instead of grabbing the art from the host machine. It should grab the arch.

HT https://twitter.com/j32804/status/630732391632515073

[2015-08-11 01:25] jbenet commented on #1561
@ehd yeah, it should. interesting... can you repro with a test case? we should add it to test suite if so

[2015-08-11 01:31] jbenet commented on #1425
For reuseport, I wonder if:
- we should fix it in Go
- contribute a patch and try to land it for 1.5/1.6
- build go-ipfs with a patched golang for now until it gets merged.

@Luzifer would you be willing to build in gobuilder with a golang dist of our choosing? we would keep it in a git repo.

[2015-08-11 01:45] jbenet commented on #612
I have wanted this for so long!!! yes, let's get these supported asap. @whyrusleeping let's talk about this tomorrow.

[2015-08-11 02:02] jbenet commented on #1559
:+1: let's name it `--empty-repo`.

[2015-08-11 08:48] ehd commented on #1561
@jbenet Yeah, gladly. Should I add it in [this test](https://github.com/ipfs/go-ipfs/blob/d1366cde1b1ae8d5a6557546c26eef134bacb4bc/test/sharness/t0021-config.sh)?

I also found [this test in user-config](https://github.com/ipfs/go-ipfs/blob/d1366cde1b1ae8d5a6557546c26eef134bacb4bc/test/sharness/t0070-user-config.sh#L14) which sets a deep property successfully. Lo and behold, maybe a difference bet

[2015-08-11 13:07] jbenet commented on #1561
@ehd yeah that test works.

just run `make`. it should build its own version and place it in `test/bin/ipfs`

[2015-08-11 14:12] whyrusleeping commented on #1425
gonna have to say no to this part. We can patch it, but i dont think we should depend on it until it merges. Users already have issues getting the right version of go (package managers shipping old or damaged versions IM LOOKING AT YOU REDHAT. YOU SHOULD FEEL BAD). Adding to that will hurt us I feel.

[2015-08-11 14:47] whyrusleeping opened #1564 "thirdparty.Waitable seems redundant"
Instead of doing this pattern than burns an extra goroutine for seemingly no reason, couldnt we just have goprocess have a method that returns an object implementing context.Context whose `Done` call returns the closing chan of the process?

[2015-08-11 14:50] whyrusleeping commented on #1564
https://travis-ci.org/ipfs/go-ipfs/jobs/74993590

This stack dump is full of them too. I cant help but think its somehow related.

[2015-08-11 16:07] jbenet commented on #1425
I think it's possible to do it with not too much trouble with a build tag. would drop fd usage lots :smile:

[2015-08-12 08:23] ehd commented on #1561
@jbenet https://github.com/ehd/go-ipfs/commit/c6d1413594b3aa73cc45fb28751f6ac41882195d adds test cases for:

- config set a path with a parent that is not defined: Passes
- config set a path with a parent that is null (like setting a property inside API.HTTPHeaders & Gateway.HTTPHeaders): Fails

[2015-08-12 18:34] krl opened #1566 "IPNS pointer was not unixfs node"
ERRO[20:33:15:000] IPNS pointer was not unixfs node              module=ipnsfs
ERRO[20:33:15:000] error from node construction: unexpected EOF  module=cmd/ipfs
Error: unexpected EOF

@whyrusleeping Could this error be moved into to ipfs mount command instead of blocking the daemon completely?

[2015-08-12 19:21] whyrusleeping commented on #1566
yeah probably. Got a repro?

[2015-08-12 19:40] krl commented on #1566
ipfs name publish /ipfs/QmZFmR9oSwy42skdwT4mTWEiRY2Cky6N2vcVb5x5ZhrWmS

ipfs daemon

[2015-08-13 03:57] jbenet commented on #1561
thanks @ehd!

[2015-08-13 03:58] jbenet commented on #1561
@rht, @whyrusleeping, @heems can one of you pick this up this week?

[2015-08-13 07:24] rht commented on #1561
Waiting for merge on @ehd's commit before this is rebased and merged: https://github.com/ipfs/go-ipfs/pull/1570

[2015-08-13 07:59] ehd commented on #1561
thanks! should i open a PR or something to get the above commit merged?

[2015-08-13 09:52] rht commented on #1561
@ehd uh huh

[2015-08-13 10:15] rht commented on #505
Does this refer to https://github.com/ipfs/go-ipfs/blob/master/core/commands/refs.go#L105?
Which commands don't have request context?

[2015-08-13 11:02] ehd commented on #1561
@rht I opened a PR pulling my commit into your fork so master doesn't get a failing test merged in. Please let me know if you want me to do something else instead.

[2015-08-13 11:35] leni536 commented on #1353
(I'm new to IPFS and unfimiliar with golang). Isn't adding is basically building the ipfs objects then pinning the root? I think a pin log would be more useful in the future, maybe logging if the pinning was initiated from an add, a get or an explicit pin command too. Then of course the add log could be simply implemented by filtering the pin log.

[2015-08-13 13:24] rht commented on #1353
@leni536 want to make this?

What about https://github.com/rht/go-ipfs/commit/0fed0453fe14db5332f61fec8d8f935de851a590
(`ipfs get` shouldn't have been there because it doesn't pin).
The remaining things to do are to put the logger in the necessary places and to write the filter command itself.

[2015-08-13 15:29] #1226 closed

[2015-08-13 17:00] leni536 commented on #1353
Yeah, seems easy enouigh, it will be my first interaction with go though. I think I will start with 1. and 2., I know nothing about how the pin state is stored or if it could be a subject to change later.

Some random thoughts:
I see efforts to push many things to the dag anyway. Maybe logs shouldn't be exception. What about having a log node definition, containing the date (maybe in unix epoch fo

[2015-08-13 17:04] whyrusleeping commented on #1353
I think we will want it to be a dag eventually, but I also think that doing so will require a lot more design work to figure out how to do that correctly. For now, if we just do a text log i think it would be good.

[2015-08-13 17:05] whyrusleeping commented on #1566
I think that this will change once the mfs PR lands. I will verify over there to make sure.

[2015-08-13 17:18] whyrusleeping commented on #1537
@Luzifer I beleive this happens when the daemon is killed in an incorrect way (i.e. `SIGKILL` and friends) and the lockfile doesnt get released. This also *may* be a bug in our file locking code.

[2015-08-13 17:21] whyrusleeping commented on #1517
I've wanted an 'ipfs hosts' file, or an 'alias set' for a while now. Would be a good thing to figure out.

[2015-08-13 17:22] whyrusleeping commented on #1509
I *think* this can be closed? cc @jbenet

[2015-08-13 17:24] whyrusleeping commented on #1508
I havent seen this for a while. Closing, assumed solved.

[2015-08-13 17:24] #1508 closed

[2015-08-13 17:28] whyrusleeping commented on #1490
Fixed in api refactor

[2015-08-13 17:28] #1490 closed

[2015-08-13 17:28] whyrusleeping commented on #1489
@Luzifer has this been resolved?

[2015-08-13 22:23] jbenet commented on #1509
looks ok to me

On Thu, Aug 13, 2015 at 7:22 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-08-13 22:26] #1509 closed

[2015-08-14 02:08] #1561 closed

[2015-08-14 12:42] ehd commented on #1561
high 🙏🏻 five. Thank you.

[2015-08-14 14:44] krl commented on #1566
@whyrusleeping sweet thx for the quick fix!

[2015-08-14 23:07] MichaelMure opened #1574 "graphmd does not show "grouping" blocks"
When a file is big enough, child blocks are organized in a subtree. `graphmd` does not show this subtree, and instead show all the blocks as direct child of the file block.

At least in my machine, @whyrusleeping seems to not have the problem. I have go-ipfs from august 5.

[2015-08-14 23:08] MichaelMure commented on #1574
This is what I get for a 102Mo file. The WebUI list only 3 direct child for this file (ie, a subtree).

![random](https://cloud.githubusercontent.com/assets/294669/9285798/0b99bf32-42ea-11e5-99eb-efcc5f43cc60.png)

[2015-08-14 23:37] whyrusleeping opened #1576 "goprocess panic in provide worker"
This started popping up in the tests. Looks like our favorite sort of goprocess race.

https://travis-ci.org/ipfs/go-ipfs/jobs/75684436

[2015-08-15 01:59] jbenet commented on #1574
can you post the hash in a copy-pastable way? would like to inspect

On Sat, Aug 15, 2015 at 1:08 AM, Michael Muré <notifications@github.com>
wrote:

[2015-08-15 03:33] jbenet opened #1580 "pin path ancestors?"
when:
[code]
foo is not pinned today. but it should be-- otherwise cannot access things

[2015-08-15 04:05] jbenet commented on #505
@rht not sure, we should go through all of them and make sure all the ctx related thing derive from `req.Context()`

[2015-08-15 06:11] davidar opened #1582 "JSON encoding corrupts non-UTF-8 binary data"
The `Data` field of `ipfs object get --enc=json` tries to decode UTF-8 binary data into a unicode string (rather than a base64 encoded blob). This causes problems with binary data that isn't valid UTF-8:

[code]

Note that the hashes don't match, as the json encoding has corrupted the data.

The problem seems to be line `core/commands/object.go:202`. I've tried fixing it myself, but I don't speak

[2015-08-15 06:33] MichaelMure commented on #1574
Hrmmmm, trying to reproduce again, I totally may have mixed up hashes. The graph I posted is actually for a 39Mo file which does not have a subtree. Subtree does show correctly for a 102Mo file.
Sorry !

[2015-08-15 06:33] #1574 closed

[2015-08-15 18:06] whyrusleeping commented on #505
yeah, i recently refactored and made the `req.Context()` more reliable, and also made it respect the global timeout flag. We should go through and make sure that it is used correctly all over the codebase.

[2015-08-15 18:09] whyrusleeping commented on #1582
@davidar I'll take a look at this. Thanks for reporting!

[2015-08-16 04:47] jbenet opened #1584 "memory fail when adding >200GB"
I'm adding all of downloads.openwrt.org to ipfs. and it fails at around ~15/16GB. I'm doing it with the daemon off (for better perf). I think it's memory consumption-- maybe leaking stuff (or rather, holding on to it while adding and not letting gc do its work.)

[2015-08-16 05:01] jbenet commented on #1584
yeah, it's memory. it climbs steadily, still. @whyrusleeping best way to make a profile?

[2015-08-16 17:58] whyrusleeping commented on #1584
run with `IPFS_PROF` set to true.

[2015-08-16 18:05] whyrusleeping commented on #1584
I can take a look when i'm done with all this moving stuff.

[2015-08-16 19:08] krl opened #1586 "gateway api doesn't resolve ipns entries"
@rht

[code]

[2015-08-16 19:46] rht commented on #1586
can't reproduce. likely due to caching

[2015-08-18 11:01] davidar commented on #1222
This bug is particularly bad on a smaller VPS, where `ipfs add` tends to trigger the OOM killer almost immediately.

[2015-08-18 23:28] whyrusleeping opened #1589 "panic killing daemon during startup"
I went to start up my daemon, but forgot to rebuild, so i ctrl+c'ed it, and got this lovely bit:

[code]

More stack here: https://gist.github.com/whyrusleeping/a1c2ed966b2736708157

[2015-08-19 09:52] davidar opened #1591 "Add abruptly dies when daemon running"
When the daemon is running, `ipfs add -r` on a directory like [this](http://ipfs.davidar.io/ipfs/QmdKjhpvnWYbqps2hFJJNSBSwDv4NKQyPnxkAFWmAuHiuD/) (on the order of 1000 1MB files) will just abruptly stop partway through, no errors or anything. The daemon doesn't die, and it doesn't appear to be consuming significant amounts of memory (so I don't think it's #1222).

After stopping the daemon, add ru

[2015-08-19 21:14] whyrusleeping commented on #1580
should foo be pinned directly? what would the UX be for removing these pins?

[2015-08-20 00:46] krl opened #1593 "IPNS publish fails in offline mode"
At the moment, the ipfs name publish assumes that you are online, and also takes several seconds to return. I think a better approach would be to return immediately, and begin broadcasting the new name as soon as you have peers.

Making apps wait 5 seconds for publishing a name also creates some unnecessary UI problems.

@whyrusleeping @jbenet

[2015-08-20 00:52] jbenet commented on #1593
Makes sense there's a usecase for fast return. but default action should be able to wait until name is resolvable (readable) by others. standard semantics writer. there may also be an error or failure to publish. Waiting is the safe bet from a UX-correctness standpoint.

i think `--no-wait` is perhaps a flag that can satisfy the requested "fire and forget" semantics. do note though that you must t

[2015-08-20 00:54] jbenet commented on #1593
Although, `--no-wait` is fine as well as it has same semantics as `ipfs add` in that the content will only be resolvable by the rest of the world after some time. (hmmm maybe it should be `--wait`, and default to false... @whyrusleeping  ?)

[2015-08-20 00:59] krl commented on #1593
If the default should be to wait for resolvable, what is the intended behaviour in offline or small (say three node) networks? I'm not sure that waiting belongs in this command at all.

[2015-08-20 06:20] whyrusleeping commented on #1593
I dont think the ipfs add stuff and the publish issue are related. unless the provides code in bitswap changed recently to block on `Provide` (it didnt use to). The long wait you might be seeing in add is likely filesystem flushing happening at the end since we do adds in batches now.

The waiting in publish is rather strange though, when offline we should see that we have no peers to send to and

[2015-08-20 06:23] whyrusleeping commented on #1593
@krl could you provide a repro? running:
[code]
returns immediately with:
[code]

Running it with an object that doesnt exist locally returns:
[code]
Immediately.

[2015-08-20 16:16] krl opened #1594 "Gateway response is unverifialbe by clients"
In some discussions i realized that the response we get from the gateways are not verifiable to the hash requested. This is because gateways only transmit the concatenated data portions of the tree.

A solution to this could be having an extra header in the response, that is a description of the tree-structure of the file, including all the bytes that did not make it into the response body, and th

[2015-08-20 16:25] krl commented on #1593
@whyrusleeping
[code]

can anyone else check? @jbenet @mappum ?

[2015-08-20 16:39] jbenet commented on #1594
i think just providing the hash root, the plugins could use `object api` to check

[2015-08-21 14:39] krl commented on #1586
@rht, @lgierth - i made this test script to show what i want to work:

http://gateway.ipfs.io/ipfs/QmZmgC5Cw1scmQwUZp9X7QZBPFyPrXt1Uz1hXYSTeV1tL1/

it works fine on localhost, but fails on gateway. Probably something to do with the Referer. Thoughts?

[2015-08-21 14:56] lgierth commented on #1586
This is probably the line: https://github.com/ipfs/go-ipfs/blob/4cef86298e8bbb4c0b8e10ac77ad71999e7964aa/commands/http/handler.go#L106-L111

[2015-08-21 15:01] rht commented on #1586
Most likely.

Because it works if directly from the gateway http://gateway.ipfs.io/api/v0/cat?arg=/ipfs/QmZTR5bcpQD7cFgTorqxZDYaew1Wqgfbd2ud9QqGPAkK2V

The script doesn't tell if the err is 403 or 404, however.

[2015-08-21 15:02] lgierth commented on #1586
And the related tokens/CORS discussion: https://github.com/ipfs/go-ipfs/issues/1532

[2015-08-21 15:04] lgierth commented on #1586
It does in the network console, it's all 403 with a "403 - Forbidden" body

[2015-08-21 22:56] jbenet commented on #1586
@lgierth does the gateway have the CORS headers setup?

- do we want to allow `"*"`? (i'd say lets wait until we know we have to)
- let's allow `"gateway.ipfs.io"` and `"ipfs.io"` for now?

[2015-08-21 23:16] jbenet opened #1597 "progress bars for more commands"
would be nice if these had progress bars when there is a tty:

[code]

[2015-08-21 23:16] jbenet commented on #1597
cc @rht possible to take this on, since you know the progress bar stuff very well now?

[2015-08-21 23:43] jbenet commented on #1580
idk, this is weird.

maybe instead of pinning a _node_, we should be pinning a _path_?

[2015-08-21 23:44] jbenet commented on #1580
(like instead of pinning `.../bar` recursively and `foo` directly, pin `foo/bar` recursively, which means:

- pin node `foo`
- pin node `.../bar`
- pin all children of `.../bar` and their children

?

[2015-08-22 00:42] krl commented on #1586
Setting the gateway CORS to its own domain should be enough, other gateways will choose their own CORS.

Assuming most people would not need to send cookies with their gateways, we could just warn them that it's not an opaque thing no?

[2015-08-22 02:38] rht commented on #1597
This depends on how '-r' is done in each of the case. Will update.

[2015-08-22 15:29] krl commented on #1593
It seems like it returns immediately if daemon is not running, otherwise it blocks for several seconds.

[2015-08-22 23:21] chriscool commented on #1582
I will try to provide a test for this, but according to [this page](https://www.cl.cam.ac.uk/~mgk25/unicode.html) it looks like the UTF-8-test.txt file might have the following license:

https://creativecommons.org/licenses/by/4.0/

I will contact the author about this, but maybe it's acceptable to put it anyway into "test/sharness/t0051-object-data".

[2015-08-23 00:09] chriscool commented on #1582
The test in #1599 should help fix the issue even if we cannot merge it now.

[2015-08-23 03:11] #752 closed

[2015-08-23 15:32] rht commented on #1591
Discovered the bug independently when tried adding go-ipfs's Godeps directory.

[2015-08-24 02:47] rht commented on #1591
To reproduce:
1. run `ipfs daemon`
2. go to go-ipfs repo, run `ipfs add -r Godeps`

Notice it will always stop at
`added QmcgpsyWgH8Y8ajJz1Cu72KnS5uo2Aa2LpzU7kinSupNKC Godeps/_workspace/src/github.com/jbenet/go-multihash/multihash/LICENSE`

[2015-08-24 08:33] #505 closed

[2015-08-24 10:44] davidar commented on #1591
Oops, this seems to be a dupe of #1072

[2015-08-24 11:01] slothbag opened #1606 "WSASend error on Windows makes WebUI stop working"
I get this error on windows after only a few minutes..

error while writing stream WSASend tcp4 127.0.0.1:5001: An established connection was aborted by the software in your host machine.  module=commands/http

After this the webui no longer works and I have to restart the daemon

[2015-08-24 11:08] slothbag commented on #1606
Just click around the webui a few times and the error should appear.  I have been keeping in sync with ipfs master branch every week and this problem has only just started happening recently.. i.e. a week or two.

[2015-08-24 12:18] jbenet commented on #1606
cc @gatesvp

[2015-08-24 13:00] krl commented on #1594
that would make it a roundtrip hell though, probably not a good thing something we'd want widely installed constantly hammering requests.

[2015-08-24 13:01] krl commented on #1586
@lgierth any progress/ETA on this?

[2015-08-24 13:30] lgierth commented on #1586
on it right now

[2015-08-24 14:25] jbenet commented on #1586
[code]

so at the very least, it _looks like_
- the "API" part of the "external" server needs to adopt different CORS set than regular "internal" API, else problems will emerge
- the "API" part of the "external" server should be currently pulling the same CORS as `API.HTTPHeaders` (but i'm not sure if im reading code correctly)

maybe:
- rename the "8080" server to "External Gateway" or "External

[2015-08-24 16:34] whyrusleeping opened #1607 "MFS API Feedback"
If you have any feedback, comments, questions, or concerns about the mfs api. This is the place for it.

[2015-08-24 17:10] #1591 closed

[2015-08-25 06:42] harlantwood commented on #1322
Closed with #1581, thanks all for your efforts.

[2015-08-25 06:42] #1322 closed

[2015-08-25 21:06] MichaelMure commented on #1560
For what it's worth, reproduced through the API:
[code]

[2015-08-25 21:33] MichaelMure commented on #1560
I hammered the API to gather more data.

Apparently it's not related to a particular peer, and a call with an erroneous peer entry was preceded 0.5s before by a call with the peer just fine.

[2015-08-25 21:51] MichaelMure commented on #1560
And for some stats, it happened 2 times with two different peer over 2280 API call (96 peers connected currently).

[2015-08-26 00:59] jdmaresco opened #1610 "OSXFUSE version 3.0.4 is not supported"
IPFS Daemon is running, just issued `ipfs mount`, received the following error:

[code]

For context, I just installed Fuse through Homebrew.  I used `brew install Caskroom/cask/osxfuse`, after trying `brew install osxfuse` and receiving the following error

[code]

[2015-08-26 01:08] whyrusleeping commented on #1610
this appears to be a bug in our fuse version check code. For now, you can set `DontCheckOSXFUSE` to `true` in your `.ipfs/config` and it should ignore the check.

[2015-08-26 01:09] whyrusleeping commented on #1610
It would actually appear that the check failed here: https://github.com/ipfs/go-ipfs/blob/master/core/commands/mount_darwin.go#L141

I'm going to assume we havent tested on osxfuse 3.0.4 yet, so if that config setting works for you, let us know please!

[2015-08-26 03:53] jbenet commented on #1610
yeah looks like a silly bug on our end

[2015-08-26 12:42] jdmaresco commented on #1610
@whyrusleeping The config setting didn't work for me. I tried setting `"DontCheckOSXFUSE": true` in both the root node and the `Mounts` object of the JSON with no success. I restarted the daemon and my Terminal window as well, just to double-check environment settings, etc.

[2015-08-26 14:24] jbenet commented on #1610
@jdmaresco can you try:
[code]
?

[2015-08-26 16:43] krl commented on #1586
All good!

[2015-08-26 16:43] #1586 closed

[2015-08-26 16:44] krl commented on #1566
There seems to have been a regression on this issue

[2015-08-26 17:35] whyrusleeping commented on #1566
@krl thanks for the heads up. Ill take a look.

[2015-08-26 20:59] whyrusleeping commented on #1566
@krl what the heck? my changes are gone.

[2015-08-26 22:04] martingms opened #1612 "ipfs object put does not accept xml as input encoding"
`$ ipfs object put --inputenc=xml <some_xml_file` returns

    Error: unknown object encoding

The error comes from the default case of the `switch` statement at core/commands/object.go:664

[2015-08-27 00:58] jdmaresco commented on #1610
`ipfs config DontCheckOSXFUSE "true"` didn't work until I added `--json`

Still didn't allow me to mount, though. Same error.

[2015-08-27 01:02] jbenet commented on #1610
@jdmaresco it needs to end up as a string in the config. if it's not letting you, it may be a bug (i.e. expects a value of type equal to the one already there).

1. confirm that the value is a _string_ in the config, not a json bool. (i.e. `"DontCheckOSXFUSE": "true")
2. try again.

sorry, this is very useful to find bugs. so far, i think we've found three:

1. fuse version check is broken.
2. con

[2015-08-27 01:46] martingms commented on #1582
Looked into this a bit, and it seems to me the problem is not with the JSON marshaller/unmarshaller. I found that the data of the object returned from the call to `core.Resolve()` ([here](https://github.com/ipfs/go-ipfs/blob/master/core/commands/object.go#L192)) has extraneous data wrapping it.

It seems like the only reason `ipfs get` is not affected by this is because it is run through the archi

[2015-08-27 01:48] jdmaresco commented on #1610
@jbenet I've tried again, no luck. Sorry I can't help solve the bug. Limited experience with Go, but learning gradually. Not an urgent issue, just want to be able to understand, use, and contribute to the project over time.

[2015-08-27 01:58] jbenet commented on #1582
@martingms i think what you're seeing is the unixfs protobuf: https://github.com/ipfs/go-ipfs/blob/master/unixfs/pb/unixfs.proto which currently is stored in the data field of the ipfs object.

so, more clearly, we basically have something like:

[code]

[2015-08-27 02:14] martingms commented on #1582
Aha, I see. So the core issue then is that the data is not being umarshalled from protobuf before being put into the Data field of the output json.

[2015-08-27 02:56] davidar commented on #1582
The problem is that the json encoder is interpreting the data field as a
utf8 string, but it should be base64ing it instead. I don't think protobuf
has anything to do with it

On Thu, 27 Aug 2015 12:14 Martin Gammelsæter <notifications@github.com>
wrote:

--
David A Roberts
https://davidar.io

[2015-08-27 11:33] slothbag commented on #1606
Update: Looks like clicking on the "Logs" tab in the WebUI triggers the bug.

[2015-08-27 12:19] martingms commented on #1582
Hm okay. Looks like there are similar issues with the XML encoder if that's the case...

[code]

but `object put`ting with `--inputenc=xml` is not yet supported, so cannot verify.

[2015-08-27 14:12] krl commented on #1566
Thx, works again!

[2015-08-27 14:12] #1566 closed

[2015-08-27 21:14] whyrusleeping commented on #1606
@slothbag it appears that the logs tab is just broken in general. cc @diasdavid @krl

[2015-08-27 21:32] whyrusleeping opened #1614 "Failures in mock_notif_test.go reappeared"
The notifications test started failing again, and its hanging on this line: https://github.com/ipfs/go-ipfs/blob/master/p2p/net/mock/mock_notif_test.go#L136

[2015-08-28 04:35] chriscool commented on #1582
Just to clarify things.

@jbenet wrote:

Do you mean that it should be expected that the hash from `ipfs add` and from `ipfs object put --inputenc=json` are not the same?

Or do you just mean that it is fine that `ipfs object data` is displaying protobuf encoded data?

[2015-08-28 04:38] jbenet commented on #1582
this o/

[2015-08-28 07:02] davidar commented on #1582
@martingms @chriscool [This](https://github.com/davidar/go-ipfs/commit/f034b6bed59833664ff370fdfe34133efd89ba00) might fix it, but I haven't tested.

[2015-08-28 07:13] davidar opened #1616 "Add 'nosync' option"
From #1324:

[2015-08-28 09:09] chriscool commented on #1582
@davidar I get the following test failure with your change:

[code]

[2015-08-28 09:25] davidar commented on #1582
@chriscool Then the test is broken, "CAISCkhlbGxvIE1hcnMYCg==" is the correct output

[2015-08-28 10:39] chriscool commented on #1582
If I 'fix' the above test, then there is the following error:

[code]

[2015-08-28 10:45] davidar commented on #1582
@chriscool That test is also broken. The old behaviour was that Data was interpreted as a utf8-encoded unicode string. However, that doesn't match the protobuf schema, so it breaks on binary data that isn't valid utf8. So, any tests that that assume "Data":"some unicode string" need to be changed to "Data":"SomeBase64String=="

@jbenet @whyrusleeping jump in if I'm saying anything incorrect

[2015-08-28 11:02] jbenet commented on #1582
could swear we had it that way, not sure why it's not... oh i think @whyrusleeping removed it so it would look pretty and be easy to edit. (which is true, is nicer to edit in plain text). just dont think we can do that in json land

[2015-08-28 12:36] jbenet commented on #1616
yeah this option would be nice.

[2015-08-28 12:40] Luzifer commented on #1537
[code]

In 0.3.8-dev still present.

[2015-08-28 12:49] jbenet commented on #1559
thanks to @prusnak -- merged

[2015-08-28 12:49] #1559 closed

[2015-08-28 17:23] whyrusleeping commented on #1616
I can add it pretty easily by patching flatfs in dev0.4.0 (where we actually respect the config for datastores)

[2015-08-28 17:28] whyrusleeping commented on #1584
tried debugging this last night. added a 300GB directory of smaller ~4MB files. memory did slowly climb, but veeeeery slowly, ~600MB over an hour and a half. The main issue i noticed was how absurdly slow it was, i'm going to try again later after temporarily disabling sync on my datastore

[2015-08-28 17:46] whyrusleeping opened #1620 "strange api failure"
something strange appears to have regressed:
[code]

bigfile2 is exactly 100MB, random data from /dev/urandom

[2015-08-28 18:14] whyrusleeping commented on #1620
failing commit:
[code]

[2015-08-28 18:22] whyrusleeping commented on #1620
The issue is that the final `Read` call on the client gets valid data *and* returns an error from the other side closing the connection.

[2015-08-28 18:32] whyrusleeping commented on #1620
i suspect this is a go1.5 issue.

[2015-08-28 20:14] whyrusleeping commented on #1620
fixed in #1621

[2015-08-28 23:29] whyrusleeping commented on #1593
@krl if the daemon is running, then the 'delay' is publishing to the dht. perfectly normal.

Good to close?

[2015-08-29 04:08] jbenet commented on #1593
@whyrusleeping no, the point is that @krl wants to be able to return immediately, which is a valid UX use case.

and, publish is slow for me, always. (>5s)

I think we should add `--wait=false` as an option. i.e. default to `--wait=true`

[2015-08-29 17:56] david415 commented on #1118
We've moved the tracking of this important development effort to the following issue ticket:
https://github.com/ipfs/notes/issues/37

[2015-08-30 02:52] rht opened #1624 "Fix notifier test"
Make the err happen less frequent.
https://github.com/ipfs/go-ipfs/pull/1498

[2015-08-30 06:37] rht commented on #1624
Dup of #1614

[2015-08-30 06:37] #1624 closed

[2015-08-30 18:26] krl commented on #1593
Yep, and for my usecase it would also be enough that the command updates the internal ipns entry first, before publishing.

[2015-08-30 19:00] whyrusleeping commented on #1593
@krl what is your usecase? perhaps you would want to use ipns through the mfs api? it does what you want with the 'returning as soon as the internal ref is updated'

[2015-08-31 07:31] davidar opened #1630 "Error: pin: context deadline exceeded"
Pinning seems to time out on large (10GB) directories:

[code]

Affects: ipfs/archives#2

Edit: Actually, it would also be nice if you didn't have to do the caching step separately (i.e. make pin act like get, but without actually creating files in the current directory).

[2015-08-31 09:51] davidar commented on #1616
Thanks. Performance of `ipfs add` is a major issue for ipfs/archives

[2015-09-01 11:39] mildred commented on #970
Most GNOME, XFCE, Qt and KDE apps, and many others :

* fontconfig
* epiphany
* FreeCAD
* libvirt
* libreoffice
* LyX
* gtk
 ImageMagick
* XFCE
* VLC
* gconf
* gajim
* chromium
* 0install
* GnuNet
* VirtualBox
* Inkscape
* *and many more*

I don't know how you managed to have an empty `~/.config` and `~/.local/share` directory, but mine is far from empty:

    $ ls ~/.config | wc -l
    203
    $

[2015-09-01 15:29] whyrusleeping commented on #970
[code]

There are a few things there, but...

[code]

People can set `IPFS_PATH` to `$XDG_HOME/.ipfs` if they want, but it primarily looks like a gtk thing.

[2015-09-01 15:53] mildred commented on #970
I don't want to repeat myself too much, but the XDG spec separate three kind of files:

* configuration files: small text files generally. What you want to use to configure applications: `~/.config`
* cache files: you can safely delete these because they can either be computed again or found fron the network. In `~/.cache`. This include thumbnails and web cache files
* data files: the current appl

[2015-09-01 15:58] mildred commented on #970
Linux celebdil 3.13.0-36-generic #63-Ubuntu SMP Wed Sep 3 21:30:07 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

This is normal: this environment variable is empty by default. If it is empty, it has a default value of `~/.config`

[2015-09-01 16:02] whyrusleeping commented on #970
@mildred so how would you recommend splitting up the repo?

[2015-09-01 18:16] mildred commented on #970
I don't really know what's in .ipfs currently, but

* config: in XDG_CONFIG_HOME or XDG_DATA_HOME as this is a little more than configuration (servers and private key)
* logs: in XDG_DATA_HOME
* lock file, right next to the files it is locking (or perhaps XDG_RUNTIME_DIR)
* IPFS blocks unpinned, as in a web cache, in XDG_CACHE_HOME
* IPFS blocks, pinned, in XDG_DATA_HOME
* What's in datastore, I a

[2015-09-01 22:56] jbenet commented on #970
Someone can make an `xdgfsrepo` that splits up fsrepo to work that way, but it will _not_ be the default, and it will _not_ be supported with our standard migrations. we already have a hard time as it is with migrations, and we control the directory entirely. sorry @mildred -- very strong reasons for this one. we must have the entire fs-repo be virtualizable in one location on the system, so it ca

[2015-09-02 03:35] whyrusleeping commented on #1630
@davidar thats interesting. how long did the `pin` call take?

[2015-09-02 03:36] whyrusleeping commented on #1616
@davidar i'll set up a branch for you with nosync hardcoded so you can work faster.

[2015-09-02 05:01] whyrusleeping opened #1633 "private networks -- shared key or with a PKI"

[2015-09-02 05:41] davidar commented on #1630
@whyrusleeping A minute or two before error, I guess (refs -r also takes a while just to list blocks from the cache). I can time it exactly later today if that would help.

[2015-09-02 12:14] jamescarlyle opened #1634 "Mac ipfs daemon --mount and OSXFUSE"
Hi

I'm having problems mounting /ipfs - I've installed ipfs and OSXFUSE (2.8.0, via a .dmg package), but get the following error.

Jamess-MacBook:~ jamescarlyle$ ipfs version
ipfs version 0.3.8-dev

Jamess-MacBook:~ jamescarlyle$ ipfs daemon --mount
Initializing daemon...
Swarm listening on /ip4/127.0.0.1/tcp/4001
Swarm listening on /ip4/172.16.51.60/tcp/4001
API server listening on /ip4/127.0.0.

[2015-09-02 12:27] davidar commented on #1616
@whyrusleeping much appreciated :)

[2015-09-02 16:43] whyrusleeping opened #1635 "panics in api command calls get ignored over API"
when a panic happens inside the handler for an api call, it is silently ignored. nothing is printed or logged by the daemon.

[2015-09-02 17:01] jbenet commented on #1635
Not so good. They should get logged as errors. 

It is typical in http servers to catch exceptions/errors which are fatal to the request but not to the whole service. Ideally we should be able to distinguish them-- as some panics may merit crashing the process.

—
Sent from Mailbox

On Wed, Sep 2, 2015 at 6:43 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-09-02 17:13] whyrusleeping commented on #1635
@jbenet agreed. I'll fix that up

[2015-09-02 17:35] whyrusleeping commented on #1616
@davidar try this out

https://github.com/ipfs/go-ipfs/compare/temp-nosync

[2015-09-02 18:50] #1635 closed

[2015-09-02 20:31] jbenet opened #1637 "panic on kill during ipfs daemon init"
[code]

[2015-09-02 20:32] whyrusleeping commented on #1637
duplicate of https://github.com/ipfs/go-ipfs/issues/1589

[2015-09-02 20:39] jbenet commented on #1637
ah.

[2015-09-02 20:39] #1637 closed

[2015-09-03 00:28] whyrusleeping opened #1639 "panic in DHT tests"
https://gist.github.com/whyrusleeping/1be3547b5d2fd0c243f3

Got this panic somewhere, either in `TestConnectCollision` or `TestPeriodicBootstrap`

[2015-09-03 02:01] whyrusleeping commented on #979
closed by #1627

[2015-09-03 02:01] #979 closed

[2015-09-03 02:02] rht commented on #1630
Related #875

[2015-09-03 02:49] whyrusleeping commented on #616
Kachow!

[2015-09-03 02:49] #616 closed

[2015-09-03 02:56] whyrusleeping commented on #1630
I've got to be honest, i cant tell where that timeout in pin is coming from... @rht can you see  where?

[2015-09-03 03:00] whyrusleeping commented on #1614
@jbenet can you take a look at this? I'm not super familiar with this test, or what the line i linked is for

[2015-09-03 03:30] davidar commented on #1630
@rht not exactly, what I mean is download to the block store and pin it simultaneously (without timing out). A progress bar too would be nice

[2015-09-03 03:36] rht commented on #1630
@whyrusleeping  In corerepo.Pin, it comes from core.Resolve(ctx,...), which either 1. n.Resolver(ctx,...) (which timeout happens only in path.Resolver.ResolveLinks), or 2. blockservice.GetBlock (which timeout happens somewhere in bitswap).

[2015-09-03 03:59] rht commented on #1630
@davidar I ref-ed the issue because this is another view of not wanting to "duplicate" files (you only want the cache).

[2015-09-03 04:03] rht commented on #1630
Actually, since `ipfs refs -r` uses core.Resolve and it works just fine, the err is constrained to come from the 2nd one (n.Pinning.Pin). @davidar sorry no need to run the test.

[2015-09-03 04:23] whyrusleeping commented on #1408
marking as fixed. Reopen if you can reproduce (this may not be entirely caused by the symlink issue, but its likely)

[2015-09-03 04:23] #1408 closed

[2015-09-03 04:54] rht commented on #653
Can be closed because it's a duplicate of #1451

[2015-09-03 04:54] whyrusleeping commented on #1614
[These calls](https://github.com/ipfs/go-ipfs/blob/master/p2p/net/mock/mock_notif_test.go#L124-L130) appear to be required due to the IDService's `IdentifyConn` being called.

[2015-09-03 05:04] whyrusleeping commented on #1614
@jbenet I might not understand the net code well enough, but what happens if the `IdentifyConn` call fails? theres no error returned, and as far as i can tell, the offending connection does not get closed.

[2015-09-03 05:30] whyrusleeping commented on #1614
looks like the issue is that `IdentifyConn` is hanging on write (line 90, `protocol.WriteHeader`)

[2015-09-03 05:52] whyrusleeping commented on #1630
@rht it has to be the one in `ResolveLinks`, i'm fairly certain that bitswap wont ever timeout a request.

[2015-09-03 06:06] rht commented on #1630
`ipfs refs` uses https://github.com/ipfs/go-ipfs/blob/master/core/commands/refs.go#L192-L201 which uses `ResolveLinks`, which is identical to the first part of pin https://github.com/ipfs/go-ipfs/blob/master/core/corerepo/pinning.go#L28-L35

[2015-09-03 07:04] rht commented on #1630
Wish this could return an interator https://github.com/rht/go-ipfs/commit/6d55bc90747d869dd62fa85d1f6b819e755d6119

[2015-09-03 08:08] jbenet commented on #1408
I believe @davidar or @rht reproed it without symlinks.

—
Sent from Mailbox

On Thu, Sep 3, 2015 at 6:23 AM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-09-03 08:16] rht commented on #1408
@davidar https://github.com/ipfs/pm/issues/29#issuecomment-135658141
(Also I was able to simulate an err in httpclient that makes `ipfs add` hangs like in the pre-symlink era where it should have returned err)

The non-symlink part of this issue is a duplicate of  #1072

[2015-09-03 08:43] rht commented on #1408
To clarify, there are 2 types of bugs here:
1. ipfs add breaks #1072. To reproduce https://github.com/ipfs/pm/issues/29#issuecomment-135658141
2. ipfs add hangs (previously symlink&namedpipe but now namedpipe) #1409. To reproduce, just `ipfs add` a namedpipe, or it is like adding `return 0, nil` here https://github.com/ipfs/go-ipfs/blob/master/commands/http/multifilereader.go#L103

[2015-09-03 10:49] jbenet commented on #1614
You're right. ideally, Identify should run _before_ everything else, but it makes it very expensive to do so (many-RTT hit as a handshake...). We could close the conn if Identify fails and hope the other side retries?

[2015-09-03 10:49] #653 closed

[2015-09-03 12:19] jbenet opened #1642 "Properly Handling Filesystems"
So far, we've only been handling "regular files" and "directories". We've recently added symlink support (#1627, thanks @whyrusleeping). Named pipes and other special files are still not supported and continue to hang (#1072).
- ipfs shouldn't hang
- we should decide how to handle them.

i think git ignores everything else. But since ipfs is more general than git (i.e. we may store filesystems rep

[2015-09-03 13:42] jbenet commented on #1409
#1642

[2015-09-03 13:45] jbenet commented on #1630
@rht can use channels as iterators

i like iterators in python. probably the best support i've seen in a language for them. (without going c++ operator overloading crazy).

[2015-09-03 16:27] whyrusleeping commented on #1639
@jbenet ran into this again.  It also appears that a good number of our tests leak goroutines, which exacerbates problems for subsequent tests.

[2015-09-03 19:25] mildred commented on #1642
You can add to the list [resource forks](https://en.wikipedia.org/wiki/Resource_fork)

[2015-09-04 02:01] #1589 closed

[2015-09-04 02:28] diasdavid commented on #616
:boom: :D

[2015-09-04 09:40] davidar commented on #1616
@whyrusleeping I'm getting the following error when trying to build (on both temp-nosync and dev0.4.0 branches):
[code]

[2015-09-04 10:46] rht commented on #1616
@davidar for now https://github.com/rht/go-ipfs/tree/dev0.4.0 and https://github.com/rht/go-ipfs/tree/temp-nosync, rebased on current master.

[2015-09-04 10:59] davidar commented on #1616
Thanks @rht

[2015-09-04 11:39] davidar commented on #1616
@whyrusleeping @rht Hmm, no dice. The temp-nosync branch is still painfully slow trying to add a directory with lots of small files (eta approaching 400h).

[2015-09-04 15:29] BrendanBenshoof opened #1649 "Bind multiple addresses/interfaces to API and Gateway"
Currently I cannot bind the gateway and api to multiple addresses  and I am forced to use ipv4/0.0.0.0 OR ipv6/:: which means I can only bind them to one protocol or the other.

Suggested fix:
Allow a list of bind addresses for both API and Gateway

[2015-09-04 19:05] whyrusleeping opened #1651 "res.SetError cannot be called in a goroutine"
The reason for the random add failures is that we try to set the error after the `Run` method returns here: https://github.com/ipfs/go-ipfs/blob/master/core/commands/add.go#L180

I'm getting a 'too many open files' error when i print out the error there.

[2015-09-04 19:10] whyrusleeping opened #1652 "logs no longer show filename/number"
@rht do you think you could put filename:linenumber back into the logger format? Its really useful to have

[2015-09-04 19:29] rht commented on #1652
The pin error line number could have been known. Here is the state: https://github.com/Sirupsen/logrus/issues/63

[2015-09-04 21:21] whyrusleeping commented on #1652
Ah, this must be why I used go-logging in the first place.

[2015-09-04 23:20] whyrusleeping opened #1654 "massive amounts of weird open network file descriptors during ipfs add"
The add issue we've been seeing is a [double hidden](https://github.com/ipfs/go-ipfs/pull/1653/commits) 'too many open file descriptors' error. I have no idea whats causing the open file descriptors, they arent the files we're adding.

http://gateway.ipfs.io/ipfs/QmTK3eArBLsxuLTgadUbFWxuShFdKa2BwwwFMLQXbVRQoU

[2015-09-04 23:41] whyrusleeping commented on #1654
Its dialing my router... http://gateway.ipfs.io/ipfs/QmPqYwYEyzuJdvegPHZmbPqyHJUbjcrUUhsEpuFLvcXxJN

Not sure why i'm dialing my router a fuckload on port 5555

[2015-09-05 01:22] jbenet commented on #1649
:+1: to making these lists. need to:

- add support for list
- add to a migration  (dev0.4.0 or later, i say)

[2015-09-05 02:03] rht commented on #1654
After https://github.com/ipfs/go-ipfs/blob/master/commands/http/client.go#L124, add `httpRes.Close = true` seems to fix the random add locally.

[2015-09-05 03:44] whyrusleeping opened #1656 "external port mappings should be cached for some time"
currently we call out to ExternalAddrs on the nat manager way too often, we need to find a way to cache this intelligently.

@jbenet this might also explain why some nodes still have sooooo many addresses that they advertise.

[2015-09-05 16:44] whyrusleeping commented on #1654
this is because of #1656

[2015-09-05 16:45] whyrusleeping commented on #1651
fixed in #1653

[2015-09-05 16:45] #1651 closed

[2015-09-05 16:50] whyrusleeping commented on #1634
@jamescarlyle try setting the config line to be `"true"` (a string). and see if that works.

[2015-09-05 16:52] whyrusleeping commented on #1612
Looks like we havent written a decoder for xml yet. If you'd like to get your hands a little dirty, it shouldnt be too much work to code that up. If not, we can get to it

[2015-09-05 16:53] whyrusleeping commented on #1576
@jbenet would you say that this was fixed by your recent PR?

[2015-09-05 16:55] whyrusleeping commented on #1514
@jbenet you PR'ed something recently like a `--api` flag, right? does that address this issue?

[2015-09-05 19:57] jamescarlyle commented on #1634
Many thanks - that worked - but then the config is not being parsed as JSON, counter to this  statement "ipfs is configured through a json formatted text file, located by default at ~/.ipfs/config."

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON#JavaScript_Object_Notation

So (strictly speaking) this issue is not resolved. I should fix and PR but have never

[2015-09-05 22:07] whyrusleeping commented on #1634
@jamescarlyle it is being parsed as json, our code is apparently just expecting a string for some reason.

[2015-09-06 03:47] jbenet opened #1659 "CORS returning all, instead of just one"
I'm seeing the CORS:

[code]

On chrome i get

See Also https://github.com/ipfs/infrastructure/issues/77

[2015-09-06 04:04] jbenet commented on #1656
- easy: time based caching. (maybe every 30 or 60s? packets to the nat are not very expensive)
- harder: figure out how to ask the nat to tell us if it changes. seems hard.

[2015-09-06 04:08] jbenet opened #1660 "Gobuilder building is broken"
We need to fix this. i want to pull prebuilt binaries with new things, like `--api` and cannot.

[2015-09-06 04:11] jbenet commented on #1634
yeah the code needs to change to expect a bool. though now, it should allow both to avoid breaking userspace:

[code]
or something.

[2015-09-06 04:13] whyrusleeping commented on #1660
link to problems? anything else wrong?

[2015-09-06 04:17] jbenet commented on #1514
Yep, #1598

[2015-09-06 04:17] #1514 closed

[2015-09-06 04:18] jbenet commented on #1576
I think so, yes.

[2015-09-06 04:18] #1576 closed

[2015-09-06 04:22] jbenet commented on #1660
it's the vendoring with godeps we discussed with @Luzifer and @cryptix. Didn't see an issue filed to fix it. Anyway, super annoying.

[2015-09-06 04:27] whyrusleeping commented on #1656
I think time based caching will be a good quick short term solution. This is a fairly major issue, since it crashes our most used command.

[2015-09-06 04:39] jbenet commented on #1656
Indeed

[2015-09-06 07:15] Luzifer commented on #1660
https://github.com/Luzifer/gobuilder/issues/62

[2015-09-06 11:41] slothbag opened #1661 "IPFS crashes on second run on windows"
I just compiled latest master and I could not start IPFS with this error:

Error: Post http://127.0.0.1:5001/api/v0/version?enc=json&stream-channels=true: dial tcp 127.0.0.1:5001: ConnectEx tcp: No connection could be made because the target machine actively refused it.

I issued a ipfs init and then I was able to start the daemon successfully.  But after ctrl-c quiting the daemon I tried running

[2015-09-07 16:41] reit-c opened #1663 "wrap permanence"
I've been thinking a bit about the add -w wrapper functionality, which helpfully permits users to add single files to IPFS and give them a proper filename (for browsers/applications to know what type of file it is and so on), which is great, but it unfortunately damages the long-term permanence factor of IPFS. The problem being, one of the stated goals of IPFS was content-addressed objects with li

[2015-09-07 17:23] jbenet commented on #1663
Hey @reit-c, thanks for bringing up the concern, but i think there's a misunderstanding in your model.

Both the file and the wrapping directory have their own hash. the directory _links_ to the file via it's hash. e.g.:

[code]

a _recursive_ pin pins both:
[code]

I think this addresses your concern. If this continues not to be clear, reopen.

incorrect. big files are chunked and do have childre

[2015-09-07 17:52] reit-c commented on #1663
Ah, no I fully understand that, I'm suggesting doing away with the directory, in this use case it isn't actually necessary. That is, the network doesn't need knowledge of the file name at all, that information can be carried by the link itself. I'm not 100% on how chunked files work, but there should be a level in there where a file node (with child chunks) and a directory node (with a listing of

[2015-09-08 09:51] reit-c opened #1664 "RE: wrap permanence #1663"
(from https://github.com/ipfs/go-ipfs/issues/1663 - opening new issue because third parties lack appropriate permissions to reopen issues closed by project maintainers)

Ah, no I fully understand that, I'm suggesting doing away with the directory, in this use case it isn't actually necessary. That is, the network doesn't need knowledge of the file name at all, that information can be carried by th

[2015-09-08 10:43] mildred opened #1665 "Authenticate access to IPFS objects"
I was thinking last night how it would work if we used IPFS for a private filesystem on a computer, possibly containing private data. The problem I wanted to solve is how to keep a file private when the IPFS protocol implies sharing the file hash with the world in a DHT.

Anyone looking at the DHT would be able to see file hash going around, and they might want to look at them. For example, search

[2015-09-08 22:16] rodri opened #1666 "running 'du' in a subdirectory of the mounted /ipfs/ gives error."
Using ipfs compiled a week ago with Go 1.3.3

to reproduce, e.g.:

...:~$ cd /ipfs/QmNhFJjGcMPqpuYfxL62VVB9528NXqDNMFXiqN5bgFYiZ1/
...:/ipfs/QmNhFJjGcMPqpuYfxL62VVB9528NXqDNMFXiqN5bgFYiZ1$ du
Aborted
...:/ipfs/QmNhFJjGcMPqpuYfxL62VVB9528NXqDNMFXiqN5bgFYiZ1$

[2015-09-08 22:17] rodri commented on #1666
well, I really ran 'ls -l' before 'du', if that matters.

[2015-09-08 22:19] whyrusleeping commented on #1666
thanks for filing! i'll take a look.

[2015-09-08 22:46] whyrusleeping commented on #1554
this is needed before dev0.4.0 to ensure a correct migration

[2015-09-09 04:27] whyrusleeping commented on #1639
again:
[code]

[2015-09-09 04:57] whyrusleeping commented on #1564
and its gone!

[2015-09-09 04:57] #1564 closed

[2015-09-09 12:57] sauloal opened #1668 "WEBUI: Failed to load resource: fontawesome"
http://XXX:5001/ipfs/HHH/static/fonts/fontawesome-webfont.woff2?v=4.3.0
Failed to load resource: the server responded with a status of 404 (Not Found)

[2015-09-09 12:58] sauloal opened #1669 "WEBUI: Failed to load resource: Bad Request : api/v0/update/check?stream-channels=true"
Failed to load resource: the server responded with a status of 400 (Bad Request) http://XXX:5001/api/v0/update/check?stream-channels=true Failed to load resource: the server responded with a status of 400 (Bad Request)

[2015-09-09 13:00] sauloal opened #1670 "WEBUI: Cant choose port for webui"
Hello,

I can't choose the transport port for the webui. My port 8080 is already taken and if I forward to another port, the webui breaks because it only send requests for 8080

[2015-09-09 13:05] davidar commented on #1669
I'm also seeing lots of 40x errors on a somewhat recent build (within the past couple of weeks). As a result the webui is broken.

[2015-09-09 13:07] sauloal opened #1671 "WEBUI: 404 on viewing object DAG"
in the 'files' tab, when asking to view the file I can access it but when asking for DAG I get 404.

e.g.: http://XXX:5001/ipfs/HASH/#/objects/HASH2

[2015-09-09 13:27] vardars commented on #957
+1 on this
+1 on that (md5)

[2015-09-09 13:47] lgierth commented on #1670
You can change the ports by editing `~/.ipfs/config` or using the `ipfs config` command.

Please reopen if you have problems with either of the two options.

[2015-09-09 13:47] #1670 closed

[2015-09-09 15:34] whyrusleeping commented on #1671
are you sure the hash you give the DAG viewer exists? I just tried on latest master, and got a url like: `http://localhost:5001/ipfs/QmS2HL9v5YeKgQkkWMvs1EMnFtUowTEdFfSSeMT4pos1e6/#/objects/object/\ipfs\<hash>`

and it worked fine

[2015-09-09 15:45] sauloal commented on #1671
I'm using the UI, so, I didn't do it by hand

[2015-09-09 15:56] whyrusleeping commented on #1669
`http://XXX:5001/api/v0/update/check?stream-channels=true` is expected, we've disabled the update command for now. It shouldnt cause any issues for the webui though.

@davidar the webui is broken for you? what build of ipfs?

[2015-09-09 15:57] whyrusleeping commented on #1671
Yeah, i'm using the UI as well, but you pasted a hash in the box, right?

[2015-09-09 16:01] sauloal commented on #1671
no. i've clicked in the link in we ui itself

[2015-09-09 16:14] whyrusleeping commented on #1671
okay, so you click the 'DAG' tab on the left side, and it brings up a text box and a 'Go' button. Did you not paste a hash in that text box and click go?

[2015-09-09 16:26] sauloal commented on #1671
no. i uploaded a file, listed my files. clicked in DAG of one of my files

[2015-09-09 16:28] whyrusleeping commented on #1671
Ah! okay, i was able to repro that. Thanks

[2015-09-09 18:44] 5paceManSpiff opened #1673 "WEBUI: 404 error doesn't link back to webui"
I'm not quite sure if this is intentional or not, but when I enter a hash in the search bar of the webui that doesn't exist, the link to that let's you "Go to console home" sends you to `http://localhost:5001` rather than `http://localhost:5001/webui` resulting in another 404 error.

[2015-09-09 18:51] Stebalien commented on #1666
This only happens in the top level directory. There's an old fedora bug report: https://bugzilla.redhat.com/show_bug.cgi?id=890223

[2015-09-10 01:12] larsks opened #1674 "Provide order: should provide roots asap"
I'm running 0.3.8-dev locally under OS X and on a remote server under Linux (x86_64).

I've `ipfs add -r`'d a local directory.  While I can access the resulting objects locally, they are not visible from either my remote ipvs instance or using gateway.ipfs.io.

Locally, I appear to have 59 available peers in the output of `ipvs swarm peers`, which would suggest to me adequate connectivity but I'm

[2015-09-10 01:35] larsks commented on #1674
I see, there's just a looooong delay for new objects to seed across the network, I guess.

[2015-09-10 04:01] jasonkgreen opened #1675 "IPv6 error on daemon startup"
0.3.8-dev on Raspberry pi B+
ipfs daemon gives:

Initializing daemon...
ERRO[22:54:27:000] error from node construction: 1: listen tcp6 [::]:4001: socket: address family not supported by protocol
  module=cmd/ipfs
Error: 1: listen tcp6 [::]:4001: socket: address family not supported by protocol

workaround:  delete ipv6  line from swarm section of config file

[2015-09-10 04:05] jbenet commented on #1674
@larsks actually this is a design bug, so i'll reopen this issue. the problem is that currently, we start "providing" as we add content, which means that the last object to be provided is the root. and for huge directories, it's the first object you want seeded.

what we should do is:

- continue providing asap
- prioritize providing "non-leaf" nodes, starting from the root.

desired action: as so

[2015-09-10 04:11] jbenet commented on #1675
ideally this would not happen. ipfs init could check the OS stack and avoid adding the `ip6` addr in that case.

[2015-09-10 07:21] davidar commented on #1669
@whyrusleeping 0.3.8-dev (master as of last Friday)

[2015-09-10 08:05] jbenet commented on #1673
Thanks, sounds like a bug. @5paceManSpiff mind putting this over in https://github.com/ipfs/webui ? thanks

[2015-09-10 08:16] Quiark opened #1676 "ipfs add -r directory on Windows uses backslash"
[code]

I suppose all folders in ipfs should be named using /

This behaviour is a problem because for example git-remote-ipfs cannot find `overlog.git/refs` but `overlog.git\refs` exists.

[2015-09-10 09:50] Quiark commented on #1676
digging into the code now...

[2015-09-10 13:41] solarisfire opened #1677 "IPFS on a remote node."
I run windows, kind of have no choice...

So I envisioned being able to have an IPFS node elsewhere on my network, on a nice Ubuntu box, that would have 24hr uptime.

But trying to access the webui remotely just throws an absolute ton of errors...

Looks like even though it's accessing the webui over the network, it's still trying to access a gateway at 127.0.0.1:8080 even though that obviously do

[2015-09-10 14:40] larsks opened #1678 "Standard URI for ipfs and ipns protocols (Discussion)"
I would like to add ipfs support to a tool that expects a URL-format specification.  Hypothetically, let's say I wanted to add ipfs suport to `curl`.  I would need a `scheme:data` format specification that follows [the standard url format](http://www.w3.org/Addressing/URL/url-spec.txt).

I asked about this on irc and immediately folks started trying to direct me _away_ from URLs to the [multiaddr]

[2015-09-10 15:23] #1677 closed

[2015-09-10 16:54] drathir commented on #874
I guess is also needed a change of the default port 5001, because port is used by iperf program by default...

[2015-09-10 17:26] willglynn commented on #1678
I strongly agree that IPFS objects should be identifiable by URI, mostly because of [uniformity as described by RFC 3986](https://tools.ietf.org/html/rfc3986#section-1.1):

      Uniformity provides several benefits.  It allows different types
      of resource identifiers to be used in the same context, even when
      the mechanisms used to access those resources may differ.  It
      allows uni

[2015-09-10 17:33] larsks commented on #1678
@willglynn, thanks for your comments.

While working with this in practice, I realized that one may want to provide IPFS gateway information as part of the URL.  Again, using the hypothetical example of adding IPFS support to something like `curl`, I need a way to tell the utility which IPFS endpoint to use.  If I'm not running one locally, the utility needs to know where to find an API to fetch `

[2015-09-10 17:38] willglynn commented on #1678
In my view, IPFS gateway information is external to the URI. I think it's analogous to HTTP/FTP/SOCKS proxy information for which tools like `curl` are configured for using separate parameters or environment variables. An IPFS objects should always have the same identifier regardless of how it is accessed, and especially in the case of IPFS, I think identity is more fundamental than location.

[2015-09-10 17:39] larsks commented on #1678
Yeah, that was mostly my inclination as well.  Externally configured it is, then.

[2015-09-10 17:50] willglynn commented on #1678
The more I think about it, the more I favor treating IPNS names as a URI authority. Consider:

    ip[nf]s://multihash/object

Retrieval would be processed as "resolve IPNS `multihash`, retrieve `object`".

    http://domain.name/object

Retrieval would be processed as "DNS look up `domain.name IN A`, connect to resulting IP, HTTP `GET /object`".

    ip[nf]s://<domain.name>/object

Retrieval woul

[2015-09-10 18:03] vegberg opened #1681 "Error when trying to start the daemon on Windows 10 (Fixed! see bottom)"
When trying to run `ipfs daemon` through command prompt, this error appears.

    C:\Users\Vegard Berg>ipfs daemon
    Error: Post http://127.0.0.1:5001/api/v0/version?enc=json&stream-channels=true: dial tcp 127.0.0.1:5001: connectex: No connection could be made because the target machine actively refused it.

I'm running on Windows 10, which was upgraded from Windows 8.1

**EDIT**: Removing .ipfs

[2015-09-10 18:43] lidel commented on #1678
I feel this quote belongs here :-)

So the canonical way of representing IPFS address is `/ipfs/<hash>/<path>` (at least that was the consensus in April, maybe it changed since then? :).

That being said, IMHO it would not hurt to additionally provide a *silent* support of URLs like  `ipfs://<hash>/<path>` for interoperability with legacy software that can't use `/ipfs/<hash>/<path>` natively.

[2015-09-10 18:45] whyrusleeping commented on #1678
@lidel nothing has changed since that quote :)

[2015-09-10 18:57] willglynn commented on #1678
Indeed; IPFS can choose whatever syntax it wants for canonical use. I'm suggesting that there be an official, standardized way of encoding IPFS identifiers into URIs, since it is better to interoperate with URI-centric tools than not, and since it's better to have one way of encoding IPFS identifiers into URIs than multiple incompatible methods.

I would favor `ipfs:/ipfs/<hash>/<path>` over `ipfs

[2015-09-10 19:36] 5paceManSpiff commented on #1673
Not at all.  Here is the new issue.

https://github.com/ipfs/webui/issues/79

[2015-09-10 19:36] #1673 closed

[2015-09-10 21:39] hjoest opened #5891 "HTTP API responses should always provide a Content-Type"
All API responses should provide a _Content-Type_ header. Actually, this seems mostly to be the case, particularly if the response is JSON. However, the _get_ command, e.g. `POST /api/v0/get?arg=QmedYJNEKn656faSHaMv5UFVkgfSzwYf9u4zsYoXqgvnch`, returns a [TAR](https://en.wikipedia.org/wiki/Tar_%28computing%29) stream without setting the Content-Type header accordingly. In this case, its value shoul

[2015-09-10 21:39] lidel commented on #1678
Ok, so as long as this discussion is about interoperability layer,
I like the idea of going with a single prefix for all IPFS resources (dropping `ipns://`).

Starting with `<hash>` IPFS is hierarchical, so perhaps we should go with
- `ipfs://ipfs/<hash>/<path>` (explicit `/ipfs/`)
- `ipfs://ipns/<hash>/<path>`

Additionally we could agree to default to  `ipfs` resource if the first segment does n

[2015-09-10 21:59] sunny-g opened #1684 "[question] IPNS publishing to non-default names"
Has this feature been built out yet? I'm currently getting the error `Error: keychains not yet implemented` when trying to (locally) publish a document to name other than my own, but that error tells me that this command may only work to publish messages to other names whose keypairs are installed on the machine's Keychain.

I'm trying to build a service that allows users to publish JSON-LD Identi

[2015-09-10 22:11] lgierth commented on #1684
Yes, being able to use multiple keypairs is a TODO: https://github.com/ipfs/specs/tree/master/keystore

[2015-09-10 22:16] sunny-g commented on #1684
Thanks @lgierth for chiming in! It seems then that `ipfs` will only be extended to publish docs signed by locally-saved keypairs, correct?

That kind of makes my idea DOA if I can't sign and send them out to be published from the browser :(

[2015-09-10 22:41] lgierth commented on #1684
It'd bring us close to being able to publish to arbitrary IPNS namespaces that you own a key for, though.

@whyrusleeping and @diasdavid might be able to tell you more.

[2015-09-10 22:48] willglynn commented on #1678
A goal from @jbenet's post:

If this is the objective, then the corresponding URIs should be `ipfs:/ipfs/…` and `ipfs:/ipns/…`. URI-centric tools would behave properly with both absolute and relative paths of the above canonical (scheme-less) IPFS form. A resource retrieved from the URI `ipfs:/ipfs/hash/A` referring to an absolute `/ipfs/hash/B` would be understood as `ipfs:/ipfs/hash/B`, which is

[2015-09-11 00:27] sunny-g commented on #1684
@lgierth true, though I assumed that that functionality would be less useful if your IPNS namespace could map to more than just one IPFS hash. Is there a roadmap or spec proposal for that particular feature?

[2015-09-11 01:38] whyrusleeping commented on #1684
@sunny-g your ipns namespace can map to a directory containing multiple hashes as children. We also are going to have a 'keystore' which will allow you to own, generate and securely share keypairs and have ipns entries for each.

[2015-09-11 01:44] sunny-g commented on #1684
@whyrusleeping I forgot that you could map a directory, sorry about that!

However, I think I'm misunderstanding your point of the 'keystore', or at least its relevance to my use case: I don't want users to share their keypairs with the server, only their signed docs/directories (and if they can't be obtained in another way, their public keys) to be pushed to the network by the server.

[2015-09-11 02:02] willglynn opened #1687 "`ipfs pin add -r` times out, but `ipfs refs -r` does not"
$ dig txt ipfs.io +short
    "dnslink=/ipfs/QmZfSNpHVzTNi9gezLcgq64Wbj1xhwi9wk4AxYyxMZgtCG"
    $ time ipfs pin add -r /ipfs/QmZfSNpHVzTNi9gezLcgq64Wbj1xhwi9wk4AxYyxMZgtCG
    Error: pin: context deadline exceeded

    real	1m0.031s
    user	0m0.011s
    sys	0m0.014s

    $ ipfs swarm peers | wc -l
          89
    $ ipfs refs -r /ipfs/QmZfSNpHVzTNi9gezLcgq64Wbj1xhwi9wk4AxYyxMZgtCG
    QmTkQCrspeQ

[2015-09-11 06:45] lidel commented on #1678
Makes sense. This way a rule for legacy layer would be super simple: always add `ipfs:` as a prefix to the canonical name. That is all.

[2015-09-11 07:32] rht commented on #1687
Already in #1630

[2015-09-11 12:00] vegberg commented on #1661
I have the same issue with 0.3.8 on Windows 10.

[2015-09-11 13:56] willglynn commented on #1678
Great! Sounds like a workable direction.

There are a couple other possible pain points I can think of when mapping IPFS paths <-> URIs. Mostly, URIs are particular specified to be a subset of US-ASCII and certain characters have specific meanings, so unless IPFS conventions happen to be compatible, we'll need to use percent-encoding to bridge the gap. The specifics depend on some gory details:

*

[2015-09-11 15:11] bussiere opened #1688 "unexpected line in Next():"
I'am currently manipulating pictures and gallery of pictures :
Seems kind of backslash plague with \\n\
[code]

[2015-09-11 15:28] whyrusleeping commented on #1688
@bussiere what version of ipfs (git sha if you can), OS and archictecture?

[2015-09-11 15:30] whyrusleeping commented on #1688
Also, is there anything weird about the gallery? such as uf8 file names or strange file types

[2015-09-11 15:40] bussiere commented on #1688
Ubuntu 14.04 go 1.5 amd64
~/Lib/Go/src/github.com/jbenet/go-ipfs$ git rev-parse HEAD
a0e5fc8294c2551f3a8c599f2a78ed5ba4167534

And yes in the gallerie it may have some french character as ç or japanese one.

Thanks

[2015-09-11 15:57] whyrusleeping opened #1689 "need to be smarter about dialing (again)"
We now have well over 200 nodes in the network. When adding large files (or lots of files) we frequently try to dial a lot of them, our dial limit is 10 addresses per peer, concurrently. Doing the math, thats 2000 sockets in the 'best' case, but since we have our own dial implementation, we have extra epoll fds sitting around. So its quite easy to hit that tiny little 1024 fd limit.

We should do

[2015-09-11 16:58] bussiere commented on #1688
That's strange because if i try to add it folder by folder it seems to works :

[2015-09-11 17:13] whyrusleeping commented on #1688
@bussiere do you mind zipping up a set of files that can repro the issue?

[2015-09-11 17:32] bussiere commented on #1688
yep the zip is here : QmfYQRPWworETuBudtayhkmCAMxmz8LV3YXm3KXwytyrfM

and i've isolated the error ::

bussiere@kusanagi:/media/bussiere/ext_kus111/101APPLE$ ipfs add -r .
added QmV6BSMWFohrBXVHBEP21asUr8LFJZyz157BtPyNLmwzzs 101APPLE/IMG_1750.JPG/5003.JPG
added QmVtC61fyphzwbBDQ5zGoZVddg4H6D2hRvdewHim2j9ou4 101APPLE/IMG_1750.JPG/index.html
added Qmdp2JAxw7s6mAAsJYdoa8DTjqtkBU2jgWQSRwthGkKx7y 101APP

[2015-09-11 17:37] jpolterock opened #1690 "ipfs ls on Mac OS X 10.9.5 returns nothing"
Both the precompiled binary and the binary compiled from source on Mac OS X 10.9.5 return no output for an 'ipfs ls' on any object. Where 'ipfs cat <hash> > new file' works. So, the file exists, but 'ipfs ls' returns nothing.

[2015-09-11 21:40] whyrusleeping commented on #1690
`ipfs ls` on files wont print anything because it only lists directories. (its not quite like standard unix ls in that manner). Perhaps we should print an error message or something.

[2015-09-11 22:02] jpolterock commented on #1690
I guess I'm struggling with how to discover what files are in my /ipfs. I
can see I have a [gif] file in there but I thought the ls of that files
hash would show me the blocks.

If I happen to lose all the information I get from the initial ipfs init,
how do I boostrap myself again to find the readme, quick-start, etc.

I'm struggling with how to do discovery at the lowest level presented with
the

[2015-09-11 22:50] whyrusleeping commented on #1690
@jpolterock having an 'add log' that shows all the things youve added is on our todo list. Its a highly requested feature, it just really needs to be implemented. In the meantime, you can use 'ipfs refs local' to print out all the hashes that are on your computer, this isnt *super* helpful as it includes indirect blocks and sub-chunks.

[2015-09-11 23:04] jpolterock commented on #1690
I can precede each of those refs with an 'ipfs ls' and at least find what
I'm looking for.

Thanks.

Have a great weekend!

On Fri, Sep 11, 2015 at 3:50 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-09-12 14:38] bussiere opened #1691 "Ipfs add -r . not finishing on windows 7"
When i make ipfs add -r . on a small directory it does the first files but after it blocks and does not seem to continue anymore

Here is a screen : http://gateway.ipfs.io/ipfs/QmWY6eCPpmXFAGG2fpSNeXUB8R2yx5nJp1eVEwPgR3m8YS

Regards

[2015-09-12 16:48] Quiark commented on #1676
Oh neat, it includes my commit. It doesn't work though. `ipfs ls $HASH` does list files with normal slash but they aren't actually accessible.

[2015-09-12 18:42] whyrusleeping commented on #1676
Where do the backslashes come from? are you on windows?

[2015-09-12 18:47] whyrusleeping commented on #1691
On linux and OSX, we can kill the program and dump all the stack traces by sending it a `SIGQUIT`, which can be done by pressing ctrl+\   I don't know if that works on windows too.

If it does, it would be great to take a look at the stack dumps of the hung add

[2015-09-12 18:53] Quiark commented on #1676
Yes, Windows, that's the point :)

On Sun, 13 Sep 2015 02:42 Jeromy Johnson <notifications@github.com> wrote:

[2015-09-13 01:36] btrask commented on #1678
I have a proposal for a content addressing URI scheme here: https://bentrask.com/notes/content-addressing.html. I traded emails with Juan Benet about it a year ago when I first wrote it. Obviously I couldn't convince him.

[RFC 6920](http://tools.ietf.org/html/rfc6920) proposes a different but similar scheme.

It would be nice if the URI scheme was common between different projects (IPFS, Camlisto

[2015-09-13 03:45] jbenet commented on #1678
Sorry, I'm late to the party.

Thanks very much @lidel for representing my viewpoint :)

I'm going to try responding only to things i think are unresolved. ask again if i missed something

I think @lidel elucidated my viewpoint excellently, and i do not need to express again that this is _not desired_ becuase it complicates things, and forces us to add a 2+ protocol identifiers.

Exactly right. UR

[2015-09-13 04:11] btrask commented on #1678
I understand Juan. Sorry for the misleading comparison.

If IPFS addresses are paths, what would you think about simply using `file://` URLs?

[code]

[2015-09-13 04:23] jbenet commented on #1676
things need to be using `filepath`, not `path` when touching the OS i think?

[2015-09-13 04:24] jbenet commented on #1691
@bussiere do you have master? @whyrusleeping and @rht fixed some things recently. (not sure if @rht's PR is merged yet)

[2015-09-13 09:58] bussiere commented on #1691
Yeah i ve installed it from go get from a week ago max.

Sadly i will be without windows computer for one week. I will give you more
feedback when i come back.

Regards and thanks for ipfs
Le 13 sept. 2015 06:24, "Juan Benet" <notifications@github.com> a écrit :

[2015-09-13 12:03] lidel commented on #1678
From my experience `file://` proved to be problematic:

:+1:   Yes,  it makes IPFS work out-of-the box with legacy software (as long as you have IPFS filesystem mounted via FUSE driver provided by go-ipfs).

:-1:  ..but if you don't have root access and/or can't set up FUSE -- **bad luck**
:-1: if you use MS Windows or other non-unix system -- **bad luck**
:-1:  **a lot of confusion** due to "File

[2015-09-13 16:53] bussiere opened #1693 "Gateway problem"
I am 90% sure that there is a problem with gateway.ipfs.io

http://gateway.ipfs.io/ipfs/QmVAebMg1mQRyJ8KiW6bUN3rYyn8oPgELiWmZuPPsByjY9
Doesn't work

It works on my local gateway,
http://gateway.ipfs.io/ipfs/QmNYYQHKtvXRag1zZ1JHA6noRbkZbH2fP36YmNn9U6tAdP

And my ipfs daemon is On, and i'am sure it must have been uploaded in the network , i've waited enough time ...

Strange

[2015-09-13 17:31] BrendanBenshoof commented on #1693
It looks like they just took a while to load.
I threw your images into http://cachewarmer.blamestross.com, so they should load faster now (for now).

If there was an issue, it appears to have resolved itself (which is annoying from the point of view of fixing it).

It might just be that your local gateway has limited bandwidth or connectivity into the network (how soon after starting the node did

[2015-09-13 17:37] bussiere commented on #1693
I have one of the fastest connection for personnal use here (fiber)
http://www.speedtest.net/my-result/4660627367

And my daemon is still up ....
That's strange ...

[2015-09-13 18:48] longears commented on #1678
The `x:/ipfs/...` scheme might be similar enough to a Windows file path (e.g. "drive X", which many people have) that it would be misinterpreted by browsers and auto-converted to a `file:///` address.  Can someone on Windows check the behavior of browsers when you type that into the URL bar or use it as a link href?

Windows is supposed to use backslashes but forward slashes are often accepted and

[2015-09-13 22:45] jbenet commented on #1693
i think this is a resolution problem. we're working on fixing this stuff.

@bussiere to troubleshoot, are you behind NAT?

[2015-09-13 23:02] bussiere commented on #1693
Yes i'am behind a NAT

[2015-09-13 23:04] jbenet commented on #1693
@bussiere can you show me your `ipfs id` ?? want to see the local addrs.

[2015-09-13 23:11] bussiere commented on #1693
ipfs id
{
    "ID": "Qmf5ZET7LNr84wDHnZpfVdhVqBcPvTKX8CtbdmqiZAqe8K",
    "PublicKey":
"CAASpgIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC2Ia4e0flENp92So9+JnKzIoGj1gWbYXF7LOB2KiScp1PMA18z3HDjxnIo+I1VnX6vIWUUwz7uDxtKCtJrSVAYHKGJUQKaGqQNmuC2qZGg1KM3CCPunj3IGMqrCGfzQ9Rvn0ljFVeNwZjc0bPCQ8SkiSeVCznGvVBYy4VpW0vCgUckTRpyy37fZP2PrkeiUoZntoBknWKJZusn7Kpuh0DwhNWUhbaYC7KgFbUjO6eJMTSt7g6AUh3Tm/UaCV8IjkJpMV91

[2015-09-13 23:16] jbenet commented on #1693
hmmm, looks like it did bust through the nat (the `89...` addrs), but may be a symmetric nat, anything interesting about your network?

(our nat holepunching isnt perfect yet, long way to go)

[2015-09-13 23:24] bussiere commented on #1693
Nope it's a classical french "box" for personnal usage.
It seems weird because i'ave already uploaded other albums and images to
ipfs and everything was fine. Just this time it didn't worked as planned
....

- Были бы кости, а мясо нарастет

On Mon, Sep 14, 2015 at 1:16 AM, Juan Benet <notifications@github.com>
wrote:

[2015-09-14 03:42] jbenet commented on #1693
@bussiere hmm. try rebooting ipfs?

[2015-09-14 03:44] jbenet commented on #1690
sounds like this is resolved (as the issue about the add log is different)

[2015-09-14 03:44] #1690 closed

[2015-09-14 04:00] jbenet commented on #1688
multipart blowing up?

[2015-09-14 04:14] davidar commented on #1482
:+1: the daemon keeps consuming my meager ADSL upload bandwidth

[2015-09-14 04:53] jbenet commented on #1689
All of those +1.

I think the best solution is UDP.

TODO:
- [ ] make bindings for libutp.
- [ ] try quic bindings: https://github.com/devsisters/goquic

[2015-09-14 05:05] jbenet commented on #1661
Bizarre. @gatesvp ?

[2015-09-14 05:10] jbenet commented on #1678
@gatesvp or someone else using windows, could you please check what happens with `x://` above?

[2015-09-14 05:12] jbenet commented on #1482
These are a big deal, we should get back on these.

[2015-09-14 05:26] jbenet commented on #1681
dupe of #1661?

for the record, windows is not fully supported yet. if anyone here can help us more, that would be great.

i suspect it's some `filepath` lack of use

[2015-09-14 05:31] jbenet commented on #1677
This should be no problem, i do it all the time. Did this work for you in the end?

[2015-09-14 05:56] mappum commented on #1678
Just tested on Windows, `x:/` becomes `file:///x:/` (I tried it in the URL bar and as a link href in Chrome). However, strings longer than one character (`xx:/`) are kept as a protocol.

[2015-09-14 05:59] jbenet commented on #1678
@mappum is that the case even if you install a protocol handler for `x://` ?

[2015-09-14 06:07] mappum commented on #1678
Yes, just tried adding a protocol handler to the registry for `x:`, the URL was still transformed.

[2015-09-14 06:26] jbenet commented on #1671
I think this should be filed in https://github.com/ipfs/webui no?

[2015-09-14 06:46] davidar commented on #1678
I'm using both ?foo#bar for the ia book reader, so think they should both be supported :)

also :+1: for minimalism

[2015-09-14 06:48] lidel commented on #1678
Hm.. `xx:` is not bad, but how about `xn:` ? (uniXNamespace)

[2015-09-14 07:12] jbenet commented on #1678
may be worth doing:
[code]
wish `unix://` wasn't taken by unix sockets.

[2015-09-14 08:19] sauloal commented on #1671
@jbenet . I agree but I was directed here in the IRC chat...

[2015-09-14 10:12] davidkwast commented on #1678
I'd go with
<code>nix://</code>

[2015-09-14 14:04] willglynn commented on #1678
`nix:/ipfs/base58/resource` parses as `{ scheme: "nix", authority: null, path: "/ipfs/base58/resource" }`. A single slash denotes an absent authority followed by an absolute path. I think this matches the intent of IPFS (a single global namespace using absolute paths assigned by no central authority), which is why I suggest it as the canonical form.

`nix://ipfs/base58/resource ` parses `{ scheme:

[2015-09-14 14:23] jbenet commented on #1678
Yesterday we had thought of using `get://`, but that's not good for non-read functionality. writes, etc.

some more:
[code]

I dont think it does, the browser tools could undo that change for the user.

my problem with `:, :/, and :///` is that it's _not_ what 90% of users will expect to see. regular users have no idea what the hell all of these are for, but hey do know `http://` and that's what t

[2015-09-14 14:30] jbenet commented on #1678
a worry with `nix://` is that it means

which is not ideal.

[2015-09-14 15:13] willglynn commented on #1678
Attaching IPFS `/` to `://` **does** break references.

Picture a `/ipfs/base58/document` referring to `related-resource`, `/ipfs/otherbase58/linked-document`, and `/ipns/domain.name/`. If IPFS were mounted to a UNIX filesystem, these resolve as:

* `related-resource` => `/ipfs/base58/document`
* `/ipfs/otherbase58/linked-document` => `/ipfs/otherbase58/linked-document`
* `/ipns/domain.name/` => `

[2015-09-14 15:51] jbenet commented on #1678
we _have to_ make this work. it's not an option. 99% of people on the internet will try it. I believe that we can teach the browser's `nix` protocol resolver how to make it work. it may be hacky, but it will prevent massive confusion. (try explaining to your grandmother why `foo:` and `foo:/` and `foo:///` work but not `foo://`, which is, coincidentally, everything she may be used to).

[2015-09-14 15:53] jbenet commented on #1678
None of this know what to do with an ipfs path at all. they will have to be modified, or delegate to the OS protocol handler, which is precisely where we can put a workaround.

[2015-09-14 16:35] willglynn commented on #1678
I'm in favor of modifying those tools to be aware of IPFS as a URI scheme. I'm against making tools aware that `foo://ipfs/ipns/domain.name` needs to be understood as `foo://ipns/domain.name` – along with every other special case that needs to be introduced if IPFS `/` is `foo://` – and I'm against defining a URI scheme that requires second-guessing.

Are users really going to enter IPFS URIs by h

[2015-09-14 16:57] jbenet commented on #1665
(this is more a discussion for ipfs/notes)

look into capabilities, and how its done in other FSes. notably, E-rights, Tahoe-LAFS have done tons of work on this. we'll want to follow a similar model.

also worth looking at information flow control generally. i should ask dm what he thinks these days.

In any case, ACLs are _a mess_ to deal with, update, manage, etc, whereas capabilities have been

[2015-09-14 17:08] jbenet commented on #1678
people may copy paste `"/ipfs/<hash>/..."` and add `nix://` beforehand.

and yes, `nix://ipns/domain.name`

[2015-09-14 17:11] jbenet commented on #1664
the point is that "the link" is embedded in another object, hence the directory. please dont open new issues. just comment in the old one. you can comment, even if it's closed, no?

[2015-09-14 17:12] jbenet commented on #1664
actually, this doesnt belong in go-ipfs. put it in ipfs/faq if you want to keep discussing this, or ask in IRC.

[2015-09-14 17:12] #1664 closed

[2015-09-14 17:12] #1663 closed

[2015-09-14 17:13] jbenet commented on #1664
the premise of your suggestion:

is incorrect. recursive pinning! pins the directory as well and keeps it with the file.

[2015-09-14 17:27] reit-c commented on #1664
That's not what I'm referring to. Lets say there's a popular image x.jpg, and has been added to IPFS by someone directly to give \<hash1\>. Someone has a local copy which they've renamed to y.jpg, and decides to use the wrap function on it, resulting in \<hash2\>/y.jpg. This user posts this link on some forum somewhere and forgets about it. After a while, this user goes offline/reinits their node

[2015-09-14 17:32] Mithgol commented on #1678
**Suggestion 1: scheme separation.** Make a separate URL scheme for IPNS: `ipns://domain.name/` (with optional slashes, so that even `ipns:domain.name` is also supported). It simplifies the form of the following suggestions.

**Suggestion 2: the shortest default.** Drop the (now) reduntant part from `ipfs://ipfs/…` and thus make `ipfs:hash` or `ipfs:hash/somePath` the default URL scheme for IPFS f

[2015-09-14 17:50] Mithgol commented on #1678
You may introduce `nix:` later to get the following:

| URL's medium | base URL | relative URL | resulting absolute URL
|:-:|:-:|:-:|:-:
| lame browser | nix://nix/ipfs/hash/dir/doc | aFile | nix://nix/ipfs/hash/dir/aFile
| lame browser | nix://nix/ipfs/hash/dir/doc | /ipfs/otherHash/img | nix://nix/ipfs/otherHash/img
| lame browser | nix://nix/ipfs/hash/dir/doc | /ipns/domain.name | nix://nix/ipn

[2015-09-14 19:52] Stebalien commented on #1537
@whyrusleeping  when the daemon dies, the lock file should be released (may be not deleted but released). Most operating systems guarantee this. The file locking code may be buggy but I've looked it over and it looks reasonably correct.
@Luzifer Is the daemon actually dead? Have you tried running fuser on the lock file (assuming Linux)?

[2015-09-14 19:57] akaihola opened #1700 "Two ports opened"
I have a laptop and a Raspberry Pi 2 behind a NAT router, with ipfs 0.3.8-dev installed on both. When I run the daemon on the laptop, it opens two ports on the public net, for example:

    laptop$ ipfs id
    {
        ...
        "Addresses": [
            "/ip4/127.0.0.1/tcp/4001/ipfs/Qm...",
            "/ip4/192.168.1.100/tcp/4001/ipfs/Qm...",
            "/ip4/172.17.42.1/tcp/4001/ipfs/Qm...

[2015-09-14 20:24] whyrusleeping commented on #1700
is it always 1137? or does it change?

[2015-09-14 20:30] Luzifer commented on #1537
@Stebalien Yep. The Container is definitely dead.

I have a dir mounted into the container, the container gets replaced (stop + 20s + kill) and then the lock is still present and the new container doesn't start…

[2015-09-14 21:22] longears commented on #1678
Be aware of the OS and package manager already named "Nix" which has been growing in popularity lately.  Might not matter.  http://nixos.org/

[2015-09-14 21:51] Stebalien commented on #1537
What does `flock  -n /path/to/repo.lock echo "not locked" || echo "really locked"` output? And `fuser /path/to/repo.lock`?

[2015-09-14 22:27] davidar commented on #1678
@jbenet I didn't realise the (legacy) URI format needed to support writes? How would that work? I thought the main purpose was to allow people to view files in current browsers, and writes would require a proper library like ipfs.js, which would presumably use paths rather than URIs?

[2015-09-14 22:55] jbenet commented on #1678
@davidar imagine an HTTP POST to an IPNS name, or something. it may be able to work. and this muxing handler is meant to be more general than IPFS, so it may include other protocols with write, etc.

@Mithgol the one thing you're missing in your sugesstions is that the whole point is to _always_ include the full _**canonical ipfs path**_. Always include all of

[code]
including starting `/` and pr

[2015-09-14 23:02] davidar commented on #1678
@jbenet How about `at://`?

[2015-09-15 04:44] Mithgol commented on #1678
@jbenet Then, with prefix additions being the only allowable crutch (and unix compatibility being more preferred than shorter URLs), I agree with @davidar that the two-letter URL scheme names are the best.

However, instead of `at://` or `to://` (which are good, but too general), I suggest `fs:` to indicate that a new filesystem type is accessed. (Double-slashed `fs://` should also be supported, b

[2015-09-15 04:56] jbenet commented on #1678
Great work! i really like all of these:

[code]

i think they're all great. form a cs standpoint, i like `fs://` most, but from watching humans dictate urls, i like `at:// ref:// to://`. (at and to, have pronunciation confusion with `@` and `2`, but it may be ok).

[2015-09-15 06:58] davidar commented on #1678
That was my thought too. HTTP is an awful scheme name, something that can actually be pronounced easily (and conjures roughly the right idea in nontechnical people) would be much better.

[2015-09-15 07:27] CJentzsch opened #1702 "con't mount ipfs"
`ERRO[09:17:08:000] error mounting: fusermount: exit status 1 fusermount: exit status 1  module=core/commands`

even with `sudo ipfs mount -f <existingPath>`

[2015-09-15 09:17] Luzifer commented on #1537
[code]

[2015-09-15 10:10] Stebalien commented on #1537
You appear to be using the fallback locking mechanism. What CPU architecture (and OS) are you running ipfs on?

[2015-09-15 10:11] wscott commented on #1678
BTW, to me nix:// looks like it refers to https://nixos.org/
Which uses a special /nix filesystem to save packages, and would combine
with ipfs very nicely.

On Tue, Sep 15, 2015 at 2:58 AM, David A Roberts <notifications@github.com>
wrote:

[2015-09-15 10:59] diasdavid opened #1706 "Document the HTTP API"
We've been getting several questions about how the HTTP API works, it would be good to have a way to auto generate some docs for it.

@whyrusleeping @jbenet can you add the 'help wanted' label plz? @RichardLitt was interested in helping with this

[2015-09-15 11:03] Luzifer commented on #1537
[code]

[2015-09-15 11:04] Luzifer commented on #1537
But maybe it's indeed the reason in #1703 - The stop signals are going to the shell script and maybe ipfs is not able to clean up properly…

[2015-09-15 11:08] davidar commented on #1678
@wscott agreed, `nix://` would likely be confusing

[2015-09-15 11:47] Stebalien commented on #1537
IPFS shouldn't have to clean up; it's just using the wrong lock. Basically, there are two types of locks:

1. fcntl (flock) locks. These locks are closed by the kernel when the process closes the file (automatically happens on exit). Even if the process crashes, the kernel should still free these.

2. PID locks. IPFS writes the daemon's PID to the lock file. To check if the lock is held, IPFS chec

[2015-09-15 11:48] Luzifer commented on #1537
Hmm in that case: Don't know why this is the case… I'm just using the [official container](https://hub.docker.com/r/jbenet/go-ipfs/)… :disappointed:

[2015-09-15 12:03] Stebalien commented on #1537
Found it. You're running a 64bit kernel but the docker image uses the 32bit ipfs build. https://github.com/camlistore/lock doesn't support 32bit linux (https://github.com/camlistore/lock/issues/7).

[2015-09-15 13:35] larsks commented on #1678
I would suggest that any URL scheme other than `ipfs:` would be extremely confusing and more likely to lead to conflicts down the road.  Why are we resisting using the protocol name as the url prefix, which is the bog standard behavior for just about everything else (like `http:` and `ftp:` and `rtsp:` and `imap:`...)?

[2015-09-15 14:36] Luzifer commented on #1537
Yeah… That arch thing is a huge mystery to me… Whenever I'm trying to run containers with `amd64` binaries the containers just crashes because they are not able to run them even when the machines are running on amd64 themselves…

[2015-09-15 14:52] whyrusleeping commented on #1537
@Stebalien good catch. We should do one or both of:

1) print a warning message when on an unsupported arch
2) patch camlistore/lock to support the platform

[2015-09-15 14:54] Luzifer commented on #1537
@whyrusleeping We're using the 386 binary in our official Docker container.

[2015-09-15 15:08] BrendanBenshoof commented on #1678
If we are going to defy the standard, lets do it elegantly:

I propose
[code]

[2015-09-15 15:30] edrex commented on #7
The package should probably include an `ipfs.service` file. It might also make sense to create a dedicated `ipfs` system user to run the service as (that's how I have it setup). It seems like there's no benefit to running per-user ipfs nodes, if you have root access, but if that was wanted a secondary `ipfs@.service` could be included. Also an `ipfs.socket` could be included, to support socket act

[2015-09-15 15:39] jbenet commented on #1678
Lars, we have multiple protocols, and we want to support more. Read the full thread for more. 

—
Sent from Mailbox

On Tue, Sep 15, 2015 at 11:08 AM, BrendanBenshoof
<notifications@github.com> wrote:

[2015-09-15 15:57] larsks commented on #1678
@jbenet I saw your post above on that topic, but I don't see any examples of what you mean.  What do you mean by  "multiple protocols"?  The suggestions I've seen so far (`nix:`, `x:`, etc) seem destined to sew confusion.

[2015-09-15 17:02] jbenet commented on #1678
i dont have time to keep repeating myself. my goal is clear enough: https://github.com/ipfs/go-ipfs/issues/1678#issuecomment-139339562 i don't want to be rude and not answer you, so if i ask to read up, please try once more, or look elsewhere for the same information. if i keep answering the same questions over and over, i can't push forward in other pressing things.

the w3c-recommended protocol

[2015-09-15 17:25] Stebalien commented on #1537
I've created a pull request on camlistore/lock to fix 32bit linux but I don't know how active the project is.

[2015-09-15 17:38] jbenet commented on #1537
thanks @Stebalien

[2015-09-15 17:46] willglynn commented on #1678
I agree with @larsks; it would be surprising to call the scheme anything besides `ipfs` if the only meaningful paths are defined in the IPFS spec.

[RFC 7595](http://tools.ietf.org/html/rfc7595#section-3.8) offers some guidance, including:

    3.8.  Scheme Name Considerations
    …
    Schemes SHOULD NOT use names that are either very general purpose or
    associated in the community with some o

[2015-09-15 19:05] akaihola commented on #1700
It changes. Although when I now restarted three times, the port is still always 1137. But yesterday it definitely was 1092 when I initially ran ipfs.

[2015-09-15 19:11] whyrusleeping commented on #1700
okay, thats fairly normal. Thats just the port that the remote side sees your dial originating from. As far as i know, raspberry pi's dont support `SO_REUSEPORT` so the remote wont see the 'correct' port.

[2015-09-15 19:51] jbenet commented on #1678
@willglynn sorry to disappoint. We're doing it. I'm don't mean to be a jerk, this has been the plan for a year or more (we just hadn't settled on a meta-protocol prefix). This has gotten lots of discussion. you're welcome to read up on it on the various fora (irc logs, mails, github, etc), but we're following this path. If you want to help us with defining the "unixweb" spec, you're very welcome t

[2015-09-15 20:02] jbenet commented on #7
@ianonavy  ipfs is useful now!

[2015-09-15 20:02] Mithgol opened #1707 "make IPFS application more portable: change the search order for application's data directory"
Here “**portable application**” means (as Wikipedia [defines it](https://en.wikipedia.org/wiki/Portable_application)) an application that is designed to run on any compatible computer without being installed (or at least its installation does not modify the computer's global configuration information). Such application can be stored on any storage device (including internal mass storage and extern

[2015-09-15 20:09] willglynn commented on #1678
@jbenet I'm not meaning to be a jerk either, but neither am I sufficiently interested in the `unixweb` concept that I'll dig through a year of transcripts to learn more, and you haven't pointed me to anything more concrete, so I'm left asking questions.

Why does the potential future development of `unixweb` mean we can't have a URI scheme specifically for IPFS? The [examples](https://github.com/i

[2015-09-15 20:17] jbenet commented on #1678
I understand but also know that if i just answer to every person that doesn't want to search, the one stuck spending extra time repeating himself is me. I don't need to explain anything to move forward, so in practice I won't.

Here's one important reason: because we would otherwise be asking users to install N protocol scheme handlers. we're asking apps to support N protocol scheme handlers. it's

[2015-09-15 21:19] jbenet commented on #1707
Thanks @Mithgol for the well thought out and clean feature request. what you say makes sense. I've some things to discuss still.

- I understand the value of `$bindir/.ipfs`. i haven't seen it as much-- do you have good examples of other tools that do it? I'm not sure what sort of complexities emerge from this use.

- I think that `.ipfs` in the local directory should take precedence over `$bindir

[2015-09-15 21:24] willglynn commented on #1678
I'm happy to search *documents*, not discussions. Link me to a document and I'll read it, even if it's just a napkin sketch on a wiki filled with spelling errors, so long as it captures the current thinking on a topic. Point me to "over a year" of "irc logs, mails, github, etc" and I'll ask questions.

…questions which you are free to disregard. My intent isn't to bother anyone, it's to understand

[2015-09-15 21:48] raedok opened #1708 "Cannot 'ipfs ls' my own ipfs ref"
doing ipfs ls /ipfs/myhash gets stuck.
actually almost any hash I try gets stuck... the one for fonts and well the webui looks like are working

[2015-09-15 22:20] #1537 closed

[2015-09-15 23:17] jbenet commented on #1706
@RichardLitt see https://github.com/ipfs/go-ipfs/issues/785

take a look at:
- https://stripe.com/docs/api
- https://www.dropbox.com/developers/core/start/python
- http://readme.io/ <-- could use this, too
- https://www.quora.com/Which-companies-have-the-best-developers-website-and-API-documentation

This would document both the HTTP API and the CLI API.

- the cli api is available with `ipfs --he

[2015-09-15 23:18] jbenet commented on #1706
maybe we should move this discussion to another repo, called `ipfs/ipfs-node-api` or `ipfs/node-api` ? (we could put tests there, too)

[2015-09-15 23:35] jbenet commented on #1702
will have to give more data than this to debug. maybe stop by #ipfs on freenode.

[2015-09-16 00:02] davidar commented on #1678
It seems like people are missing the point that ipfs URIs are **legacy
support only**, they aren't supposed to be first class citizens, the paths
are.

On Wed, 16 Sep 2015 07:24 Will Glynn <notifications@github.com> wrote:

--
David A Roberts
https://davidar.io

[2015-09-16 00:24] jbenet commented on #1664
Yes, that's fine and as designed. this is a small edge case. and in practice, files will be nested in deep directory hierarchies and data will be nested in deep data structure hierarchies, once you go 6 links deep even with a small fanout (4) you have thousands of objects to keep. This is all fine-- and intended. git works this way too. Stuff is seldom lost from git.

[2015-09-16 01:36] fazo96 commented on #970
@jbenet maybe a simpler yet efficient solution would be to use XDG_CONFIG_HOME/ipfs if XDG_CONFIG_HOME is set, else just use ~/.ipfs

Having some other way (like a command line argument) to set the path to the ipfs folder would be a nice and appreciated alternative though :+1:

[2015-09-16 01:39] jbenet commented on #970
You can use $IPFS_PATH already.

XDG_CONFIG_HOME may be ok, as well, as we keep the repo the same. @Mildred would that be acceptable for you?

—
Sent from Mailbox

On Tue, Sep 15, 2015 at 9:36 PM, Enrico Fasoli <notifications@github.com>
wrote:

[2015-09-16 01:49] willglynn opened #1710 "IPFS permits undesirable paths"
IPFS path components (that is, IPFS merkledag node link names) can contain undesirable things:

* C string terminators (`0x00`, ASCII `NUL`)
* UNIX newlines (`0x0A`, `"\n"`, ASCII `LF`)
* Tabs (`0x09`, `"\t"`)
* Escape sequences (`0x1B`, ASCII `ESC`)
* Every other control character (`0x00`…`0x1F`, `0x7F`)
* Slashes (`0x2f`, `"/"`)
* Bytes which are illegal in UTF-8 (`0xFE`, `0xFF`)
* Byte sequence

[2015-09-16 02:15] sroerick opened #1711 "Pinning Interface"
Hi. I've had some trouble pinning a large number of items, so Juan asked me to open a ticket here detailing my ideal UI.

1. It would be neat if "ipfs pin -r" could support multiple files, and/or text input. so i can use "ipfs pin -r [listofhashes]" or "ipfs pin -r [hashlist.txt]". Ideally, IPFS would run "ipfs refs" and retrieve a list of all the sub-hashes that are also to be pinned. Then, it wo

[2015-09-16 02:54] sroerick opened #1712 "'ipfs get [hash]' completes before file is fully downloaded"
I have run into an issue where 'ipfs get' believes the file is complete long before it actually is.

I am not sure what causes this problem, but ran into it perhaps a dozen or so times while pinning a long list of files.

I ran into this issue on multiple computers, and it should be reproducible, though it does appear to happen at random.

Presently, to accurately 'get' hashes, I am running ipfs g

[2015-09-16 03:09] interfect commented on #1681
I had the same problem on Windows 7, and deleting the .ipfs directory worked for me as well.

FWIW I shut down the daemon last time by just shutting down the computer. Maybe it corrupted something.

[2015-09-16 05:30] Mithgol opened #1713 "cannot restart daemon on Windows after the daemon is stopped"
Steps that might reproduce the problem:

1. Download https://gobuilder.me/get/github.com/ipfs/go-ipfs/cmd/ipfs/ipfs_master_windows-amd64.zip to `U:\IPFS`.

1. Set `IPFS_PATH=U:\IPFS\.ipfs` in environment.

1. Run `ipfs init`.

1. Run some `ipfs cat` as `ipfs init` recommends. Also run some `ipfs add` to test what quick start says.

1. Finally run `start "" ipfs daemon` to start the daemon in anoth

[2015-09-16 05:48] lgandersen commented on #1226
Had the same problem.

I'm not sure if this is a problem that pops up over and over. If it is, you could perhaps make a little note in the installation guide or disable local dialing in the default configuration. Afaik. there are approx. 250 nodes so I don't think it is that important at this stage.

Anyways, interesting and awesome project. Keep up the good work!

[2015-09-16 05:50] jbenet commented on #1713
dupe of #1661 ?

[2015-09-16 05:52] jbenet commented on #1712
odd-- and bad. we should try and get to repro this, so we can test for it.

[2015-09-16 05:55] jbenet commented on #1710
Agreed. perhaps we should follow what linux/bsd do.

Agreed.

[2015-09-16 06:05] whyrusleeping commented on #1711
`ipfs pin add -r` can indeed take multiple arguments! even from a list of hashes in a file like `ipfs pin add -r < hashlist`. the pin code actually does run the same fetching code as `ipfs refs` except that pin sets a timeout on the retreival. This timeout is a tenative decision that we're still kinda up in the air about. As for printing the number of subhashes, we cant really do that until we hav

[2015-09-16 06:27] whyrusleeping commented on #1711
pin and refs can both support multiple arguments, but for get its unclear what the meaning of the `-o` option would be.  I think more docs on the role of each command would be good.

[2015-09-16 06:39] whyrusleeping commented on #1710
I'm not so sure how sold i am on limiting what we can put in links. Applications (like unixfs) can and should restrict them, but it seems like we may lose out on some flexibility by doing so globally

[2015-09-16 06:40] whyrusleeping commented on #1712
@sroerick a quicker way to 'validate' a file from get would be to add it bad with 'ipfs add' and make sure it hashes the same

[2015-09-16 06:43] Mithgol commented on #1713
Dupe of #1661 and #1681, closed as dupe.

[2015-09-16 06:43] #1713 closed

[2015-09-16 06:47] Mithgol commented on #1661
I have the same problem with https://gobuilder.me/get/github.com/ipfs/go-ipfs/cmd/ipfs/ipfs_master_windows-amd64.zip on Windows 7, see #1713 for a screenshot.

Not only `ipfs daemon` is affected but `ipfs id` as well.

[2015-09-16 06:55] sroerick commented on #1712
@whyrusleeping I will do this in the future.

@jbenet if it helps, I was working with the AlexandriaP2P library, trying to pin all content from the library.
This is my list of pins: https://github.com/sroerick/infrastructure/blob/master/seeding/refs-to-seed
Many containers have many files within them, and some of the files are very large. I would assume the problem lies somewhere in there.

Some o

[2015-09-16 11:03] stadja commented on #1706
Hello :)
I am interested too on how does the http-api work !

How can I help ?

[2015-09-16 11:05] Mithgol commented on #1707
Two counterarguments:

* It's annoying to type `IPFS_PATH="" ` on the keyboard before any `ipfs ...` command (such commands are typed a lot) and thus eventually someone might forget about it (and accidentally call another instance of `ipfs`).

* There's no such convenient `IPFS_PATH="" ipfs ...` on Windows.

The idea of a `--repo <repoDirname>` flag seems useful. But it needs more convenient short

[2015-09-16 14:27] jbenet commented on #1661
:/ we need to fix this. Any ideas what's going on here? @whyrusleeping @gatesvp?

—
Sent from Mailbox

On Wed, Sep 16, 2015 at 2:47 AM, Mithgol <notifications@github.com> wrote:

[2015-09-16 14:33] willglynn commented on #1710
[POSIX filenames](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_170) can contain everything except `NUL` and `/`, noting that `.` and `..` have special meaning. POSIX also defines a [portable filename character set](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_278), matching only `[A-Za-z0-9_\.\-]`, which is obviously far more rest

[2015-09-16 14:38] larsks opened #1714 "ipfs api ignores content-transfer-encoding header"
I tried `POST`ing a `multipart/form-data` request to the ipfs http api which contained a part with base64 encoded content:

    --=====8252e0e51c6346e395185d392e7a7502=====
    Content-Type: image/png
    MIME-Version: 1.0
    Content-Transfer-Encoding: base64
    Content-disposition: file; filename="sample/screenshot.png"

    iVBORw0KGgoAAAANSUhEUgAAAGQAAAA8CAIAAAAfXYiZAAAABGdBTUEAALGPC/xhBQAAAC

[2015-09-16 16:13] whyrusleeping commented on #1661
probably the locking library failing to properly clean up on exit. I'm not super knowledgeable on how windows file locking works, but we might have to special case some things if the syscalls arent reliable like they are on osx, linux and the bsd's

[2015-09-16 16:56] gatesvp commented on #1661
Was actually trying to look at this last night, but had a different problem
just trying to build the Windows version because of Symlinks in the main
repo.

Don't know if the problem is file locking or ports. Hope to spend some time
tonight debugging.

On Wed, Sep 16, 2015 at 9:13 AM, Jeromy Johnson <notifications@github.com>
wrote:

[2015-09-16 19:22] giodamelio commented on #171
I am pretty new and would love to help!

[2015-09-16 19:35] mildred commented on #970
@fazo96 @jbenet What about `XDG_DATA_HOME/ipfs` because `XDG_CONFIG_HOME` is for configuration files (small text files) and we have much more in the IPFS dir.

There is another aspect to this whole "where do we put our data?" thing. If IPFS is to be run as a system daemon, I would expect configuration to be in /etc and most of everything in /var. I think having a way to separate config and data wo

[2015-09-16 20:27] jbenet commented on #970
:+1:  to `XDG_DATA_HOME/ipfs`

[2015-09-16 22:19] jbenet commented on #1714
This makes sense. I'm wary of having to add error responses for a ton of headers, but we should probably support this.

breaking out the gateway into its own repo would probably help speed up its development. we should do that right after 0.4.0 lands

[2015-09-16 22:27] jbenet commented on #1710
- previously, some users wanted arbitrary data in link names was that we didnt have other room for arbitrary data. but we will now, with the growing IPLD spec. https://github.com/ipfs/go-ipld/ so we can ensure that paths are human readable now.
- I support defining a very concrete set of supported paths, and making sure our implementations abide by them (erroring otherwise).
- I'm not yet sure the

[2015-09-16 22:33] jbenet commented on #1710
(thanks @willglynn for bringing this up, making the case, and links, etc)

[2015-09-16 23:30] jbenet commented on #1712
ah interesting. hmmm can you maybe repro with a script like this:

[code]

[2015-09-16 23:38] jbenet commented on #1707
- `$IPFS_PATH` should always take higher precedence than "defaults". it is _the only way_ to override it completely, from an ENV standpoint, and it is _an explicit_ override. this is very important for production deployments. (note that `--options` take higher precedence than env flags).

No, I do not want this. We already have _way too many_ ways to change this one thing. Adding more will create

[2015-09-16 23:42] jbenet commented on #1711
like what i'm hearing here. particularly progress bars per pin, that would be very nice indeed.

it may be easier to do a lot of these upgrades once we separate out ipfs-core and the commands.

also yeah, @whyrusleeping has been pushing to make `pin add -r` the default (i.e. `ipfs pin add <foo>` is recursive by default). this would mean adding `-d` or something, for direct. (am still ambivalent bu

[2015-09-17 00:05] willglynn commented on #1710
This is exactly the discussion I was hoping to have. If link names need to be binary-friendly, then let's make them so; catch is every component would need to treat paths as `[][]byte`s. If not, then we've decided that paths are for *humans*, and machines wishing to use them to contain binary data must encode things. If paths are for humans, let's come up with rules that make it easy for humans to

[2015-09-17 05:04] whyrusleeping opened #1716 "IPNS"
This issue will be used as a central place to track progress of a complete and reliable ipns implementation.

[2015-09-17 07:13] rht opened #1717 "Replace parts of the parser in commands/cli/parse.go with builtin golang.org/pkg/flag"

[2015-09-17 10:31] Mithgol opened #1718 "feature request: time limit (timeout) for pinned files and directories"
Two additions are suggested:

* a flag `--timeout=...` for the command `ipfs pin add` (for example, `ipfs pin add -r someDir --timeout=3y5mo2w8d13h23mi05s` sets the timeout that consists of 3 years, 5 months, 2 weeks, 8 days, 13 hours, 23 minutes and five seconds);

* an additional command (such as `ipfs pin purge`) that acts like `ipfs pin rm` for items with expired timeouts.

Pros:

* A web site

[2015-09-17 10:46] lgierth commented on #1718
Could you add that to this notes issue instead? https://github.com/ipfs/notes/issues/49

Just trying to not spread the same discussions over N issues ;)

[2015-09-17 10:50] Mithgol commented on #1718
Copied the suggestion to a comment in that issue.

This issue can now be closed.

[2015-09-17 10:52] Mithgol commented on #1718
…until someone decides to reopen and actually implement it.

[2015-09-17 11:57] BrendanBenshoof commented on #1716
What is the current state of IPNS?

[2015-09-17 13:22] eminence opened #1719 "high memory usage for ipfs daemon"
duplicate of #1584  ?

After adding a fairly small directory (7700 files, about 300MB total), ipfs memory usage shot up dramatically.  After letting things settle for about 20 minutes, there has been no change.  Here is a snapshot from `top`:

[code]

I've captured all of the debugging data from `http://localhost:5001/debug/pprof/` and saved it here:

[QmXD4RzFuHBtteB43dmgZeaNFeFC1rGECukRYGXWSZRtK

[2015-09-17 14:57] chriscool commented on #1661
If we want to properly support Windows, we might want to have automated builds and tests for this platform. Is there an issue somewhere for that or should I create one?

[2015-09-17 15:52] willglynn opened #1720 "unixfs support for large directories"
This might be an extreme case, but consider someone wishing to make Wikipedia available on IPFS:

    $ zcat dumps.wikimedia.org/enwiki/20150901/enwiki-20150901-all-titles-in-ns0.gz | wc -l
     11944438

It seems like a bad idea to have a merkledag node with 12M links, but that would be the representation using unixfs `Data_Directory`. It seems like a similarly bad idea to have a merkledag node p

[2015-09-17 16:22] whyrusleeping commented on #1720
We've been thinking about doing fanout on unixfs directories for some time now. But the 'best' way to do it isnt immediately apparent. There are a few different strategies,

the first is to just add all entries past the first N to a specially named link. And go down that way until we have stored all the entries. This is really convenient for listing directories, as you can just keep loading more u

[2015-09-17 16:29] whyrusleeping commented on #1716
The current state of ipns is that you can publish a single entry with `ipfs name publish <hash>`. This entry is broadcast to the network in a suboptimal way (not sent to as many peers as we would like, but enough that it still works). After 24 hours, the entry will drop from the network unless you run publish again.

When a newer record is published, the old record may still exist in the system, a

[2015-09-17 17:51] gatesvp commented on #1661
I feel like there was a ticket somewhere. One of the challenges with such a
ticket is effectively re-creating the `sharness` tests in say Windows
PowerShell.

Also, I managed to repro the problem locally last night, but still trying
to debug my way through the actual issue.

On Thu, Sep 17, 2015 at 7:58 AM, Christian Couder <notifications@github.com>
wrote:

[2015-09-17 18:24] willglynn commented on #1720
COW filesystems are also worth exploring.

ZFS implements POSIX directories on top of "ZAP", the ZFS Attribute Processor, which provides a generalized key-value data structure on top of the underlying COW storage layer. ZAP objects, and thus POSIX directories, are encoded into COW objects for storage using two distinct formats.

The smaller format ("microzap") lumps an entire directory together in

[2015-09-17 18:37] WeMeetAgain opened #1721 "HTTP API - incorrect Content-Type - streaming output from a channel not always JSON"
Code says:

https://github.com/ipfs/go-ipfs/blob/master/commands/http/handler.go#L231

This isn't the case when `encoding=text` is specified,
response returns `Content-Type: application/json` where it should return `Content-Type: text/plain`

proof:
[code]

[2015-09-17 20:38] ion1 opened #1722 "MIME boundary and headers from an API call leak to file contents"
Whenever you add a file of 0x2f3ff bytes via the daemon API, the file that happens to be added after it gets merged to it with a MIME multipart boundary and headers belonging to the API request in between.

@eminence reported that this only happens with the binary from gobuilder.me but not with one he built, and the binary for the daemon is relevant, the binary for the client is not.

[code]

[cod

[2015-09-17 20:42] BrendanBenshoof commented on #1716
What is your "quick patch" solution?

The easy one seems to be ensuring that old records are overwritten. Keep a list of the servers that you stored to last time and attempt to update their record if they are still around then also preform a default kademlia store procedure.

This is one of the places that the "fuzziness" of kademlia gets in the way.

[2015-09-17 21:07] ion1 commented on #1688
Just like #1722, @eminence reported that this only happens with the binary from gobuilder.me but not with one he built.

[2015-09-17 21:07] spikebike commented on #1722
Pretty sure I'm using the ipfs ubuntu binaries on a currently patched ubuntu-14.04 system.

$ sha256sum ~/pkg/go/bin/ipfs
b32bd6fb80898c65eba93d19062cedcaad045e582aee75541891ae25e5a7bd91
$ ls -al ~/pkg/go/bin/ipfs
24589104 Sep  8 17:51 ~/pkg/go/bin/ipfs

I see the same problem. Note the different object IDs:
$ ipfs add -r test | head -1
added QmdvsA1eYRxaoiASqZq41XD5D2h1jEawrKUix1H21z1JA8 test/a
$

[2015-09-17 21:10] jbenet commented on #1688
Which version is the gobuilder one? 0.3.7 or 0.3.8-dev?

—
Sent from Mailbox

On Thu, Sep 17, 2015 at 5:07 PM, Johan Kiviniemi <notifications@github.com>
wrote:

[2015-09-17 21:12] jbenet commented on #1722
Versions? 

—
Sent from Mailbox

On Thu, Sep 17, 2015 at 5:07 PM, Bill Broadley <notifications@github.com>
wrote:

[2015-09-17 21:14] eminence commented on #1688
The gobuilder version I downloaded came from the URL below and was downloaded approximately at 5:00 PM EST today.   THe .zip archive has a timestamp of "Sept 16 02:41", and it identifies itself as `ipfs version 0.3.8-dev`.

This version string is identical to the string produced by the working version of IPFS that doesn't reproduce this issue

https://gobuilder.me/get/github.com/ipfs/go-ipfs/cmd/i

[2015-09-17 21:17] eminence commented on #1722
The working version of IPFS identifies itself as `ipfs version 0.3.8-dev` and was built using the following command: `go get -u github.com/ipfs/go-ipfs/cmd/ipfs`

The non-working version of IPFS identifies itself as `ipfs version 0.3.8-dev` and was downloaded from `https://gobuilder.me/get/github.com/ipfs/go-ipfs/cmd/ipfs/ipfs_master_linux-amd64.zip`

[2015-09-17 21:24] spikebike commented on #1722
$ ipfs version
ipfs version 0.3.8-dev

[2015-09-17 21:55] whyrusleeping commented on #1716
my quick fix has three-ish parts, part one is to add a 'sequence number' to the ipns record fields, which allows us to deterministically choose the 'most up to date' from a set of records, then i'm going to break the dhts `GetValue` into a `GetValue` with the current functionality, and `GetValues` that returns a set of records that were retrieved. `GetValue` will use the sequence number in the ipn

[2015-09-17 22:49] jbenet commented on #1688
SIgh, ok. i worried we'd run into a case like this soon enough. we need to start putting git commit short hashes into the version string (`0.3.8-dev-a1b2c3`) or something.

@whyrusleeping thoughts here?

[2015-09-17 22:51] jbenet commented on #1721
you're right. not sure what's up. it should be in the commands lib i think

[2015-09-17 22:57] jbenet commented on #1720
Thanks @willglynn these are great suggestions!

Maybe we should probably move this discussion into the https://github.com/ipfs/specs repo? it may be good to move discussion about general system changes to that repo. I'm sorry, i know it's very far from complete, but maybe with some help we can get it there!

there's one tricky thing to solve around this: how to discern whether a request should acc

[2015-09-17 23:21] whyrusleeping commented on #1721
if you set encoding to text, its gonna send you text, the fact that it sets `Content-Type` to json is a bug.

[2015-09-17 23:31] willglynn commented on #1720
Closing in favor of ipfs/specs#32.

[2015-09-17 23:31] #1720 closed

[2015-09-17 23:48] jbenet commented on #1710
@willglynn agreed throughout.

- maybe this should be moved over to specs as well.
- if we know 2-3 other people who would have strong opinions here, who understand unix, the web, git, and so on deeply, we might want to summon them to help us figure this out.
- otherwise, we could go with the restrictions you propose (and the additional ones). it's easier to relax restrictions than to add them.

[2015-09-17 23:49] jbenet commented on #1246
- [ ] implement https://github.com/ipfs/go-ipfs/issues/1246
- [ ] implement https://github.com/ipfs/go-ipfs/issues/1247

[2015-09-17 23:50] jbenet commented on #1689
- [ ] implement https://github.com/ipfs/go-ipfs/issues/1246
- [ ] implement https://github.com/ipfs/go-ipfs/issues/1247

[2015-09-17 23:53] jbenet commented on #1226
the path to improvement:
- [ ] implement https://github.com/ipfs/go-ipfs/issues/1246
- [ ] implement https://github.com/ipfs/go-ipfs/issues/1247
- [ ] some of https://github.com/ipfs/go-ipfs/issues/1689

we could also add a warning to `ipfs daemon`.

I've also been wanting an `ipfs init --interactive` that asks users questions like:
- `enter peer ID keysize (2048): `
- `bootstrap to public network

[2015-09-18 00:58] whyrusleeping commented on #1226
#1247 should be already implemented.

[2015-09-18 01:00] #1247 closed

[2015-09-18 01:00] jbenet commented on #1226
ah indeed. i didn't re read it closely enough

[2015-09-18 07:22] jbenet commented on #1584
@whyrusleeping did you try this o/ ?

[2015-09-18 07:25] whyrusleeping commented on #1584
I beleive that I did, and am running into the open file descriptor bug now.

[2015-09-18 07:26] jbenet commented on #1452
still needs to happen.
- [ ] disable the progress bar when stdout is not a TTY
- [ ] maybe add `--no-progressbar` flag.

[2015-09-18 08:30] 0x8890 commented on #1706
+1, I wasn't aware that there was an HTTP API until I found this issue :)

[2015-09-18 10:49] Mithgol commented on #1718
On the other hand, that was not a good idea. No one is going to answer a feature request if it looks closed.

Reopening.

[2015-09-18 17:44] hackergrrl opened #1724 "Piping the output of `ipfs object get` into `ipfs object put` yields different hashes"
But not always? For the string 'hello warld!' I get the same hashes, but not for this other arbitrary file I chose.

[code]

Maybe there are some special characters causing this? No time to investigate yet. :)

[2015-09-18 18:35] ion1 commented on #1724
Changing the encoding doesn’t affect it:

[code]

`object get` outputs the same data for both regardless of the encoding:

[code]

The on-disk blocks are indeed different:

[code]

[2015-09-18 18:50] MichaelMure opened #1725 "requesting a big file block the terminal/http request"
Requesting a big file or group of files through the command line or the API is currently blocking. Pinning something big mean having a terminal running somewhere.

My personal use case is for a software build on top of IPFS that can request file or group of files that can be any size. Currently there is no other way than to have multiple HTTP request running indefinitely.

It would be nice, both f

[2015-09-18 19:00] lgierth commented on #1725
Yes, totally with you! We're discussing an overhaul of the pinning interface here: https://github.com/ipfs/go-ipfs/issues/1711

[2015-09-18 19:00] #1725 closed

[2015-09-18 19:30] aunk opened #1726 "IPFS(?) Solution for data compression."
[code]

[2015-09-18 20:06] MichaelMure commented on #1711
The gist of the linked bug above is that data requesting command are blocking for both the API (you have to keep a http request running) and the CLI (you have to keep a terminal running) to get something, which is IMHO bad for a ipfs user as well as app builder like me.

[2015-09-18 23:28] ion1 opened #1727 "FUSE /ipns/local writes should only pin a top-level directory object"
FUSE /ipfs/local writes seem to add a recursive pin for each file object being written. It would be nice if the only recursively pinned object was the top-level directory to be published.

[2015-09-19 00:46] eminence commented on #1726
Hi.  Can you please explain what this code is trying to do

[2015-09-19 01:02] aunk commented on #1726
Hi, it's doing a stack method of upto 4096 bits, wherein the program, 'press, counts out 1s to a point where it leaves a 0. The zeroes, at each length are bits occurring because it is the correct bit. So if the hex were 0x00000000, we would have 4096 0bits, and if we had 0xffffffff we would ave no bytes. So when we spice it up by mingling the two, as I hope you perceive, a 11101100010000 would mea

[2015-09-19 01:15] lgierth commented on #1726
Hey @aunk, please create your own repository for this compression project, it's going to be a better place for collaborating on this with others -- we're trying to keep this repository focused on IPFS, and specifically go-ipfs.

Please feel free to reopen this issue once there is something you want to propose for integration into go-ipfs, or if you want to discuss the usage of compression techniqu

[2015-09-19 01:15] #1726 closed

[2015-09-19 01:29] aunk commented on #1726
This is not actually a plant for self promotion, sorry if it seemed so. I
was saying that i'd like to give it to the ipfs team. As my knowledge goes,
directories are file systems with their own handles. Aka, we can use
bookmarks if needed between files, if it were i was wrong of the fs
thought. This is the smallest compression possible afaik. So downloading
the sites will be instantaneous. And its

[2015-09-19 01:37] jbenet commented on #1126
@seclorum
- any progress on this? Ipfs should be much better now, and go mobile should make this process way easier
- want to move it over to ipfs/ ?
- we can write an altered DHT to be merely a client
- we can get the resource limits (mem, net, disk) into 0.5.0

[2015-09-19 01:43] aunk opened #1728 "IPFS Sharing needs throttling compression to keep up w/ demand"
This is not actually a plant for self promotion, sorry if it seemed so. I
was saying that i'd like to give it to the ipfs team. As my knowledge goes,
directories are file systems with their own handles. Aka, we can use
bookmarks if needed between files, if it were i was wrong of the fs
thought. This is the smallest compression possible afaik. So downloading
the sites will be instantaneous. And its

[2015-09-19 02:39] aunk opened #1729 "Req: Android support"
I'dlike to use ipfs, but my current os is android. Am i screwed?

[2015-09-19 02:44] whyrusleeping commented on #1126
The link to his repo changed: https://github.com/seclorum/ios-go-ipfs

[2015-09-19 03:23] aunk commented on #1726
@eminence would you be able to help with this? There might be a reward in it for you. (GitHub repo)[http://www.github.com/aunk/press]

[2015-09-19 07:58] seclorum commented on #1126
@whyrusleeping thanks for correcting the link to the repo.

@jbenet no progress on this since i left it in the last state - primarily because this was just prior to go mobile being made available/released, and also because i wanted to pause while ipfs made further progress.  Now that go  mobile is up and running and seems pretty smooth, I'll come back to this project and improve things.

If you li

[2015-09-19 11:21] SCBuergel opened #1730 "cross platform paths need to get fixed"
When adding a folder to IPFS in Windows via

    ipfs add -r ameisng

the sub-folders are added with a backslash instead of a forward slash. This breaks e.g. websites published via IPFS as /index.html and /css/main.css are not loaded since they are in \index.html and \css\main.css.

Example:
I got the following hash of the main directory (containing an index.html) by running the command above:
htt

[2015-09-20 01:37] aunk commented on #1728
I've got a release candidate up at my repository,. It's very efficient, sized on the nanoscale, and deliberately is squeaky clean. Any questions can be commented there, or issues. I believe this project, ipfs/go-ipfs needs it to be as fast in unhashing the sites as it is downloading the hashes. It is capable of 450megs/hr decompression on a modern computer. Anyone whom looks to go over that is cer

[2015-09-20 10:43] jamescarlyle commented on #1706
Interested in helping

I can't get the API to work in a way that I expect, i.e. this CLI command

echo '{ "Links": [],"Data": "\u0008\u0002\u0012\u000chello world\n\u0018\u000c"}' | ipfs object put

should map to http POST to
http://localhost:5001/api/v0/object/put with the payload as the {Links, Data} block above

but I get back a 400 with "File argument 'data' is required"

[2015-09-20 13:28] cryptix commented on #1719
Hey, thanks for looking into this! I'm not sure if it is a duplicate or not, just a small FYI:

The pprof data dumps are nearly useless without the binary they came from,, Can you add binary next time? (BTW ziping go binaries usually leads to 40-60% size reduction:)

[2015-09-20 13:45] cryptix commented on #1728
Thanks for the effort and sharing but I'm not sure why you would want to pick an expensive compression over something that compresses much faster[1](http://google.github.io/snappy/) and introducing bandwidth/request thresholds to protect your node from request ddos or encapsulation overhead?

[2015-09-20 13:56] aunk commented on #1728
Actually mine's very neat clean. It doesnt take up much memory, the files it outputs are very compressed, and the whole exe is less than 40k. It only needs a megabyte of memory. It has no overflows, to my knowledge. Did you even see my repo? Github.com/aunk/press ?

Sent from my ASUS Pad

Henry <notifications@github.com> wrote:

[2015-09-20 14:27] cryptix commented on #1728
Yes, I have seen the your repo but it lacks documentation. How memory/speed trade-offs are chosen and why for instance. There are a lot of standardized compression standards out there. Personally, I want to know how it compares to LZMA, gzip or snappy for example before I start porting code.

[2015-09-20 14:37] aunk commented on #1728
All i have is a android tablet.

This is the program though:

111101110101010 means 4,3,1,1,1

This is stored in a hexadecimal. I found they can ultimately hold 4096bits.
Also found not much info that would lead one to knowing that. So i stack
the 1s and 0s and do a cout to file each time i found a zero. N-1. This has
no real options. It kind came bursting out of the original formula, that
didnt w

[2015-09-20 15:06] aunk commented on #1728
The exe is less than most others i believe, bjt i havent seen it compiled.
In my adventures using an array of integers 0-254 i was able to get 30:1
compression. It would all come out in a hexadecimal when i passed showed it
on screen. Then id pass that hex as an array which came back as binary into
the function. So when i used a counter to lapse to the last byte/(bit) 0,
it would start on the next

[2015-09-20 15:18] cryptix commented on #1728
I'm sorry to say this but another redditor [confirmed](https://www.reddit.com/r/AskComputerScience/comments/3lo9yv/does_this_compression_scheme_look_fishy_to_you) a bad feeling I had about your approach.

Compression needs to be reversible and while you algorithm can reconstruct the input it is more like hash breaking than efficient reconstruction. If you advertise this as lossless compression, yo

[2015-09-20 15:24] aunk commented on #1728
I actually said 30bytes into 2 bytes. 512 would be voodoo. It actually just matters what 30 - ?? Bytes you put in, in a 4096 register (the hexadecimal) how many hashmarks can you put in, well, you could fit 8 254 byte values, or 4096 0 value bytes. So you've got 8:2 or 4096:2 it just matters what youre compressing. But it is completely reversible. This is nothing like old school compression. This

[2015-09-20 15:24] lgierth commented on #1728
Hey @aunk, as I said in the other issue, your decryption project is at the moment not in a state where we can discuss benefits for IPFS.

In particular, it's unclear:

- what the problem is with IPFS, and why your code is a reasonable solution to it
- what the novelty of your code is -- data compression has been researched for decades
- how your algorithm behaves -- in addition to @cryptix notes a

[2015-09-20 15:36] aunk commented on #1728
@lgierth hey, i just figured youre using an old method for compression. This is the newest. Huge files and backups I created it for downloading irrational files. It does random data, which means it can press video..imgs..sound. it's new because there's no pattern matching. No dictionary file included. It just sort of uses the worst kind of binary, which is alarming to some reading this. Its like i

[2015-09-20 15:43] #1728 closed

[2015-09-20 15:58] aunk commented on #1728
@cryptix goto my repo and open an issue. We'll talk about it there. Btw the reddit has just stated it is possible.

[2015-09-20 16:46] RichardLitt opened #1735 "gencmdref script ending in runtime error"
I am trying to move `bin/gencmdref` to the ipfs/website directly, because the Makefile there uses it, it has a hardcoded to path to where it is stored on @jbenet's machine, and there's now been two PRs to the script in this repository to fix an issue in ipfs/website (#1733 and #1723).

Running `ipfs commands | gencmdref` breaks, however, and I'm not sure why. Here is my exit code:

[code]

[2015-09-20 17:36] whyrusleeping commented on #1735
does piping `ipfs commands` to anything else also break?

[2015-09-20 20:56] RichardLitt commented on #1735
Nope. `ipfs commands | grep 'ipfs'` runs perfect.

[2015-09-20 21:07] RichardLitt commented on #1710
Another option would be to just disallow anything in [the big list of naughty strings](https://github.com/minimaxir/big-list-of-naughty-strings). I'm not sure that's right, but it hasn't been mentioned yet and we don't know what people will want to do with IPFS paths. If we allow a subset of this list, we should have a public sanitizer module that allows people to check their proposed strings easi

[2015-09-20 21:30] willglynn commented on #1710
That list appears to be intended to stress test input validation, and is suitable for e.g. testing tools to automatically enter data that might cause undesirable behavior, and incorporating it into an IPFS test suite somewhere might have value. However, using it as a blacklist would prohibit things like `0`, `1`, `true`, `--help`, `mocha`, `_`, `"`, `'`, and ` ` (space), while allowing e.g. illega

[2015-09-20 21:35] RichardLitt commented on #1710
Cool. Yeah, yours is simpler. Let's go with that.

[2015-09-21 00:42] davidkwast commented on #1678
Other day I had a small insight about a name.

How about just "ion:" (ION) ?

If you like the name, I can come with an analogy relating to physics. You cant think of a plasma ball representing the internet today, and a plasma NEON light (with a bunch of IONs inside) representing IPFS network.

And we can play with some marketing terms, like "Internet of Nodes", "Internet of Networks"...

[2015-09-21 02:10] willglynn commented on #1710
The experience of writing some path validation code and corresponding tests prompts me to raise three new topics:

### Length limits

POSIX limitations (`NAME_MAX`/`PATH_MAX`) are byte-centric, matching the byte-centric nature of the rest of the filesystem API. I'm inclined to make IPFS path segment length limitation *character*-centric instead, because that seems less surprising to me from a user

[2015-09-21 07:41] Mithgol commented on #1678
A couple of counterarguments:

* As it was said above, the IPFS URLs are designed for the comfort of users of Unix filesystems. If `fs:` is used, such users have to delete that 3-letter prefix to get a Unix path. If `ion:` is used, they have to delete 4 characters, that's 33⅓% less comfortable for them.

* We should use `fs:` instead of `ion:` because such basic and ubiquitous thing (an URL scheme

[2015-09-21 09:03] chriscool commented on #1716
Arrgh! There were plans, patches and discussions at some points to add "generation numbers" to Git but it was not implemented as there are ways to get around that (it was mostly to speed up things) and it might introduce some complexity. (And yeah I contributed to shooting down this idea.)

Here are some pages about it:

http://git.661346.n2.nabble.com/RFC-PATCH-0-5-generation-numbers-for-faster-t

[2015-09-21 14:27] chriscool commented on #1724
This look similar as: https://github.com/ipfs/go-ipfs/issues/1582

[2015-09-21 16:26] fazo96 commented on #1729
It depends on what you need to do, you can still read ipfs and ipns links using http://gateway.ipfs.io/ipfs/<hash>

There is a js implementation in development which will allow ipfs to be used pretty much anywhere, but it's not working yet.

[2015-09-21 19:49] mildred commented on #1710
I think going to force a Unicode semantic on IPFS paths is not a good idea. The reason is:

- Unix paths are byte streams, not unicode strings
- HTTP URL are byte streams, not unicode
- Unicode is interesting in places close to the user (user interfaces, ...) but using it in IPFS provides no benefit but only add more complexity (we have to validate/parse Unicode in places it isn't interesting).

B

[2015-09-21 21:05] willglynn commented on #1710
UNIX paths are arbitrary byte sequences, and that's confusing, because programs – and programmers – usually treat them as if they're encoded strings.

Byte sequences are simple to handle until you need to *do something* with them, like display them in a user interface or print them to a log file, since essentially every context where text occurs outside a UNIX filesystem itself has a defined encod

[2015-09-21 21:51] jbenet commented on #1710
Yes, I agree with UTF-8. I think it's time for the Path System to be native UTF-8. After all, the focus of paths is print (screens, humans, paper, etc), including societies which have different alphabets, and would want different characters in their paths.

—
Sent from Mailbox

On Mon, Sep 21, 2015 at 2:05 PM, Will Glynn <notifications@github.com>
wrote:

[2015-09-21 22:19] alco opened #1737 "Unable to verify `ipfs daemon` is working on OS X"
I have a problem where I can start the daemon but cannot access `webui` nor see any node connections.

My setup:

[code]

It appears to be caught in a redirect loop and times out with a 500 after one minute,

I also don't see any output from `ipfs swarm peers`. Is there a public node to which I could connect manually to check that I can at least establish a connection to another node from my machi

[2015-09-21 23:31] whyrusleeping opened #1738 "UDT Transition path"
Once we get UDT into go-ipfs, we need to have a plan for how to transition the network to use it. My thoughts are as follows:

1. Change default config to include a UDT listener address, and provide instructions in release notes for users with prexisting configs to add it manually.
2. Update all bootstrap nodes to have both TCP and UDT listeners.
3. Somehow make go-ipfs prefer UDT addresses when g

[2015-09-22 02:04] spikebike opened #1741 "Fuse problems."
I'm running ubuntu 14.04 LTS with "AgentVersion": "go-ipfs/0.3.8-dev".

Someone on #ipfs posted an xkcd archive and:

[code]

[2015-09-22 02:12] zignig commented on #1738
:+1: :100:

[2015-09-22 06:50] Mithgol commented on #1729
There are probably some hardhips ahead because an initial port of IPFS to Android is expected to eat your mobile traffic and your battery's electrical energy like crazy.

Such port would also need to be improved eventually and told to slow down its file exchange when the device is not charging or not on Wi-Fi.

[2015-09-22 08:08] NeoTeo commented on #1489
Possibly related, my ipfs daemon window is flooded with similar messages:
ERRO[09:09:10:000] too many open files, retrying in %dms200      module=flatfs

[2015-09-22 10:11] chriscool commented on #1710
If paths are UTF-8, I think there might be issues with normalizing or not the paths. If we normalize before hashing, people might not understand that what they will get out will not be binary identical with what they put in. If we don't normalize, people might not understand that UFT-8 identical paths produce different hashes.

[2015-09-22 10:26] mildred commented on #1710
I agree that we should consider the paths to be UTF-8 if to be interpreted as unicode, or even require that the string be valid UTF-8, but the primary representation of the path should be a byte string and not a unicode string. Else we have all the normalisation problems to deal with as @chriscool points out.

As such, IPFS should **require** path names to be valid UTF-8 but should also **ensure**

[2015-09-22 14:04] willglynn commented on #1710
Yep – damned if you do, damned if you don't.

Normalizing means the "same" path gets the same hash even if it's different, but yep, it has the disadvantage of making the path you put in different than the path you get out. This [can cause problems](http://article.gmane.org/gmane.linux.kernel/1853266) which seem more serious than the gains from normalizing.

Not normalizing means that the same char

[2015-09-22 14:09] lgierth commented on #1729
@mschneider anything you could share regarding your android port a few months ago?

[2015-09-22 16:11] whyrusleeping commented on #1738
@zignig me too... but none such libraries exist with any sort of reasonable performance.

[2015-09-22 17:14] whyrusleeping commented on #1741
It appears that the issue here is that the fuse interface doesnt handle timeouts very well. I'm not really sure what the best way to go about this is... @tv42 any advice?

[2015-09-22 17:47] tv42 commented on #1741
@whyrusleeping What do you mean by timeouts; what do you *do* when you see a timeout?

You have two choices:

1. Only time out when the file system client asks for it (e.g. user hits control-C); you'll see the fuse request context be cancelled.

2. Pick an error, return it, and live with it. `ESTALE` comes to mind.

Option 1 is better, because it doesn't cause spurious errors.

[2015-09-22 18:34] mildred commented on #1710
For unixfs paths, I understand fully why we want them human readable, but there are many applications that could use ipfs beside unixfs.

I'm in favor for only allowing UTF-8 paths for unixfs, but not restrict paths for other data models, unless there is a good reason to.

[2015-09-22 19:01] whyrusleeping commented on #1656
issue has been addressed, but the symptoms still occur for other reasons. closing.

[2015-09-22 19:01] #1656 closed

[2015-09-22 22:19] whyrusleeping commented on #1710
:+1:

[2015-09-22 23:58] jbenet commented on #1710
@mildred the _path name space_ is already limited, and not arbitrary-byte: `/` is disallowed -- or at best, has a specific meaning of drilling down a hierarchical structure. Once IPLD lands, you don't need to use the standard paths to traverse the graph, you could have merkle links there without the standard pathing, and with arbitrary byte keys. However, to the native ipfs _path_ system has the r

[2015-09-23 00:03] jbenet commented on #1710
On normalizing, yeah this is a difficult decision. I'm not yet sure what to do. changing the user's data is -- to me, in general -- a source of problems. But as @willglynn mentions, damned if you do, damned if you don't.

It may be that in some implementation or mode, objects which are not normalized -- i.e. normalizing them _changes_ the bytes -- are not silently changed but instead rejected with

[2015-09-23 05:17] pims commented on #1729
@aunk could this be helpful https://github.com/ipfs/java-ipfs-api ?

[2015-09-23 10:14] jbenet commented on #1729
@Mithgol it will be ok with a DHT client instead. the DHT is the biggest constant-traffic thing.

[2015-09-23 10:52] jbenet commented on #1738
above sgtm for the most part.

tons of networks block _ALL_ udp traffic. See https://www.google.com/search?q=udp+blocked
- nodes should continue to expose a TCP listener by default.
- all bootstrap nodes should continue to support tcp.

The benefits you're looking for can be achieved by getting "Somehow make go-ipfs prefer UDT addresses" right.

[2015-09-23 11:12] jbenet opened #1744 "command: `ipfs repo stat`"
we need an `ipfs repo stat` command that can display stats like:

- Number of objects in local repo
- Total storage taken up (`du $IPFS_PATH`)
- local path to repo ??

https://github.com/ipfs/node-ipfsd-ctl/issues/18

[2015-09-23 11:45] jbenet commented on #1737
I also don't see any output from `ipfs swarm peers` this is the problem. Sounds like you're not reaching the bootstrap nodes. make sure the bootstrap list is correct-- you should see:

[code]

[2015-09-23 12:15] alco commented on #1737
Here's my output, it looks identical to yours. I have also tried disabling the system firewall with no luck.

[code]

[2015-09-23 12:17] jbenet commented on #1724
Yes, i suspect #1582 as well.

[2015-09-23 12:18] jbenet commented on #1737
@alco anything odd about your network? can you try this is another machine, like a VPS somewhere?

[2015-09-23 12:34] jbenet commented on #1716
@chriscool interesting discussion on generation numbers.

this is different though. IPNS records need to be totally ordered (and they may not be chains or may not have an ancestry relation at all -- i.e. they may be "peers" in height/generation/etc). see https://github.com/ipfs/specs/tree/master/records

[2015-09-23 12:36] jbenet commented on #1678
agreed

[2015-09-23 13:21] jbenet commented on #1730
yeah this is an annoying problem. we need to fix this. it shouldn't be hard to do-- someone need to make sure we use `filepath` in all the right places.

[2015-09-23 13:29] lidel commented on #1678
Ok, so is my understanding correct that for legacy purposes a consensus is to support both notations:
[code]

Y/n:question:

[2015-09-23 13:56] jbenet commented on #1678
I believe so, yes. (maybe `fs:///...` too?)

[2015-09-23 15:23] lidel commented on #1678
Yeah, better safe than sorry :)

[2015-09-23 16:59] Mithgol commented on #1678
It makes sense to accept (but not endorse) even `fs:ipfs/hash/dir/doc`. Just to be safe.