[2016-02-12 22:08] #2287 closed

[2016-02-12 22:50] palkeo commented on #2234
Hi !

I have the same problem. With a technicolor modem from my ISP : http://wwwch.upc-cablecom.ch/fr/tc7200.u_user_manual_eng_v17.pdf

It never crashed before, but each time I start ipfs it will hang (the wifi AP disappear, ethernet links too) after a while (between 5 and 30 minutes).
If I stop IPFS the router come back up by itself after ~5 minutes.

If you want, I can do further analysis of tha

[2016-02-12 22:55] Kubuxu commented on #2234
I also had issues with similar Technicolor modem, also from ISP. Similar symptoms but it isn't 100% reproducible.

[2016-02-12 23:01] whyrusleeping commented on #2234
@palkeo @Kubuxu help debugging this would be great. I'm not really sure where to start yet other than looking at what upnp requests cause it to fail. and maybe even trying to break the modems outside of ipfs? (using some sort of upnp tool by hand maybe)

[2016-02-12 23:02] whyrusleeping commented on #2234
you might have some luck using [this](http://miniupnp.free.fr/) to send upnp requests to your modem manually

[2016-02-13 03:55] eminence opened #2338 "error when starting daemon -- swarm listener accept error"
[code]

[code]

[2016-02-13 04:19] eminence commented on #2338
Ah, nevermind.  In my config, I was trying to listen on an invalid address for the gateway.   The `swarm2` errors distracted me from the real error (the `serveHTTPGateway` error).

Sorry for the noise.

[2016-02-13 04:19] #2338 closed

[2016-02-14 16:25] boergsen commented on #2320
Same here on Debian testing (4.3.0-1-amd64 #1 SMP Debian 4.3.3-7 (2016-01-19) x86_64 GNU/Linux):
[code]

[2016-02-14 16:59] Mithgol commented on #2334
https://github.com/notifications → https://github.com/notifications/participating

[2016-02-14 17:58] Kubuxu opened #2339 "Travis can't fetch deps using gx"
https://travis-ci.org/ipfs/go-ipfs/jobs/109191119

It seems random as other builds fail earlier, other succeed.

[2016-02-14 20:35] whyrusleeping commented on #2339
thanks for reporting, it looks like the gateways are flaking out (probably just one host, cant tell yet). I added a delayed retry to gx's fetching mechanism so it looks like everythings happy now...

[2016-02-14 21:31] Kubuxu commented on #2339
Unfortunately it didn't help: https://travis-ci.org/ipfs/go-ipfs/jobs/109224776

[2016-02-14 23:06] Kubuxu commented on #2339
And here it just hanged: https://travis-ci.org/ipfs/go-ipfs/jobs/109237716

[2016-02-15 20:04] jbenet opened #2343 "major stress tests to run prior to releases"
(this summarizes some prior discussions)

Concretely, we need large workload tests:
- that exercise an ipfs node to a _major_ extent
- that interleave sequences of operations and full integrity checks (pin set, content is correct, through a gc)
- that involve adding lots of content -- from all possible entry points, {add, files, object}
- that add and remove pins, and run gc
- that should stress w

[2016-02-16 03:31] whyrusleeping opened #2347 "odd failure in t0060"
https://travis-ci.org/ipfs/go-ipfs/jobs/109512700

[2016-02-16 16:22] diasdavid opened #2348 "weird behaviour when adding nested dirs"
I noticed a weird behaviour when adding nested dirs with go-ipfs, it seems that `ipfs add -r` freaks out if a dir is empty and exits prematurely

[code]

[code]

[code]

[code]

[code]

[2016-02-16 21:03] noffle commented on #2320
I don't have any leads on the `atime` problem, but for the others you'll need to follow the [updated installation instructions](https://github.com/ipfs/go-ipfs/#build-from-source) to build from source -- we're in the process of introducing a new distributed package manager and we're ironing out the process of making `go get` work again. Sorry about this!

[2016-02-16 21:07] whyrusleeping commented on #2348
@diasdavid can you write a small test script to reproduce? i.e. `mkdir -p a/b/c && ipfs add -r a`

[2016-02-16 22:12] diasdavid commented on #2348
While I was preparing the script for you, I saw it failing again several times, but now, after I tar'ed it and added to IPFS, and finished the script that would download from ipfs, untar and ipfs add -r, it started working!! Then I went back to the original dir-nested where I was seeing the error and it doesn't happen anymore and I seem unable to make it fail again 😧

[2016-02-16 22:12] #2348 closed

[2016-02-16 22:28] codeburd opened #2349 "daemon crashes during pin of a certain key."
I've a certain key that, when I attempt to pin it, causes a crash. Of both the IPFS process given the 'ipfs pin add' command, and of the daemon itsself. I know it isn't adding a key in general that does it, because I can add others. I can even add those which the dubious one refers to. But add the Cursed Key and... crash.

The cursed key is unusual in one respect: It's huge. Cumulative size is ove

[2016-02-17 13:39] pietsch opened #2350 "`ipfs tar add` does not work for large files"
When I try to do `ipfs tar add` with a 20 GB file, this is what happens after a few seconds:

I tried this with both the stable and the current master version (as of yesterday) on AMD64 Linux with 4 GB RAM:

Workaround: Unpacking the TAR file and doing `ipfs add --recursive` on the resulting directory seems to work.

[2016-02-17 19:16] RichardLitt commented on #1735
So, this is still breaking. And we can't update the website with that being broken.

@whyrusleeping can you help? or @noffle or @lgierth, maybe?

[2016-02-17 19:20] whyrusleeping commented on #1735
looks like this is an issue with ipfs dht put, repro with:
[code]

[2016-02-17 19:29] whyrusleeping commented on #1735
more concretely:
[code]

[2016-02-17 19:53] whyrusleeping commented on #1735
it seems to be because we give it a stdin argument, and it counts that as an 'available argument' even though we don't have anything. Then, since the first argument isnt one that can be satisfied by stdin, attempts to grab the first input (that doesnt exist), and panics because of array boundary breaking

[2016-02-17 20:48] Kubuxu opened #2355 "Randomised swarm port"
In cases where there are mutliple daemons running one default swarm port is just bad.

It means that in a network only one instance of IPFS will be 0conf rest will have to change port. I think we should randomise swarm ports while initalising config, at least from some range.

[2016-02-17 23:25] RichardLitt commented on #1735
Thanks @whyrusleeping.

[2016-02-17 23:32] palkeo commented on #2234
I have a wireshark capture of the moment when a cut happens.

There is an unusual burst of IPv6 communication from/to port 4001.
Then, a MDNS query (which is not so unusual, it's every 10 seconds, from what I have seen) :
    MDNS	83	Standard query 0x7aa0 PTR discovery.ipfs.io.local, "QM" question

And less than 3 seconds later the modem is dead. Interestingly, it is back after ~5 minutes, by itse

[2016-02-18 00:16] lgierth commented on #2234
MDNS is only used for local discovery, I'd be surprised if that's an issue, but you can still try disabling it in the config: `Discovery.MDNS.Enabled = false`

[2016-02-18 04:58] #1735 closed

[2016-02-18 05:21] whyrusleeping commented on #2339
I'm thinking this one is resolved now... i'll close it in a couple days if its better

[2016-02-18 08:39] bussiere opened #2357 "installing problem"
I was trying to muse again with ipfs but i have problem to install it on a new computer :

[code]

[2016-02-18 09:12] Kubuxu commented on #2357
Please read `README.md` as it holds updated informations about installing go-ipfs from sources.

[2016-02-18 09:23] bussiere commented on #2357
done thanks sorry

[2016-02-18 09:23] #2357 closed

[2016-02-18 09:38] bussiere opened #2358 "connection error at installation"
[code]
regards and thanks

[2016-02-18 09:43] yangwao commented on #1018
is documentation somewhere?

[2016-02-18 17:29] codeburd commented on #2349
Possible insight!

Error: mkdir /home/user/.ipfs/blocks/12207b4b/: too many links
ls .ipfs/blocks/ -1|wc -l
31998

I'm using a VM with some shared-space virtual filesystem, and I'm guessing it has a maximum of 32000 subfolders per folder (including . and ..). This might explain some of the erratic behaviour, but I don't know if it's related to the issue already described above. Still, it's certain

[2016-02-18 17:41] whyrusleeping opened #2361 "panic in go tests (mfs_test.go)"
https://travis-ci.org/ipfs/go-ipfs/jobs/109692258

[2016-02-18 17:46] whyrusleeping commented on #2325
I think i've got this one fixed.

[2016-02-18 17:46] #2325 closed

[2016-02-18 17:53] whyrusleeping commented on #1491
pretty sure i did fix this at some point

[2016-02-18 17:53] #1491 closed

[2016-02-18 17:53] whyrusleeping commented on #1492
this has been resolved

[2016-02-18 17:53] #1492 closed

[2016-02-18 17:54] whyrusleeping commented on #1614
I beleive this has also been resolved

[2016-02-18 17:54] #1614 closed

[2016-02-18 17:54] whyrusleeping commented on #1639
this one has been resolved

[2016-02-18 17:54] #1639 closed

[2016-02-18 17:55] whyrusleeping commented on #1888
this has been resolved

[2016-02-18 17:55] #1888 closed

[2016-02-18 18:06] whyrusleeping commented on #2358
looks like it tried to use your local daemon, but your local daemon wasnt online... a quick fix is to make sure your daemon isnt running and then `rm ~/.ipfs/api`, then try again

[2016-02-18 20:31] RichardLitt commented on #1018
Not that I know of.

[2016-02-18 21:11] lgierth commented on #2358
Yeah if you kill the daemon, the `~/.ipfs/api` file is left behind and gx will see it and use the API specified within. Remove it and it should work.

[2016-02-19 00:14] noffle commented on #1873
I've been unable to reproduce locally, even with a much smaller timeout. :(

What OS are you running? What commit HEAD?

Can you reliably reproduce if you rerun the test enough times? If so, consider adding
[code]
before each timeout message in the test (you'll need to import `runtime/pprof` and `os`). This'll give a goroutine stack trace that might help us deduce where it's getting stuck.

[2016-02-19 00:51] whyrusleeping commented on #1873
this was a much older bug, if we havent seen it in a while, its likely been resolved inadvertently

[2016-02-19 00:59] noffle commented on #1873
All right -- closing then. @chriscool: please re-open if you see it again!

[2016-02-19 00:59] #1873 closed

[2016-02-19 01:20] whyrusleeping commented on #2274
the xt0130 test is already in as t0130, it can be removed. I think x0045 can also be removed since we do the same stuff in other tests

[2016-02-19 01:23] whyrusleeping commented on #2361
again: https://travis-ci.org/ipfs/go-ipfs/jobs/110250431

[2016-02-19 01:29] whyrusleeping opened #2371 "failure in t0040 sharness"
This ones a tad strange:

https://circleci.com/gh/ipfs/go-ipfs/3039

[2016-02-19 02:28] chriscool commented on #2274
Ok I will do that. Thanks!

[2016-02-19 02:34] chriscool commented on #1873
Ok, thanks!

[2016-02-19 02:37] chriscool commented on #2371
The first error is:

[code]

[2016-02-19 02:46] chriscool commented on #2347
@whyrusleeping there is no failure in the Travis run you link above.
It ends with:

[code]

[2016-02-19 03:26] chriscool commented on #2358
Could it be possible to configure gx so that it tries another daemon if it fails with the first one?
Also maybe gx could fail faster in case of "connection refused" instead of retrying the same address and port.

[2016-02-19 04:20] whyrusleeping commented on #1874
i think this has been fixed, we don't use logrus anymore

[2016-02-19 04:20] #1874 closed

[2016-02-19 04:22] whyrusleeping commented on #2347
I definitely posted a failed set of tests... unless it got rerun or something, or my comment got changed...

[2016-02-19 06:01] chriscool commented on #2361
@whyrusleeping the commit that is tested in the build that failed again is https://github.com/ipfs/go-ipfs/commit/edfac549e84a3fd0cb71efc73abcdda6d49ee199 which merges https://github.com/ipfs/go-ipfs/commit/ac42bb793207597b87bea499aa21762617679ea7 into https://github.com/ipfs/go-ipfs/commit/f8eefba0a3bbd2df4908910543ff141e38e50df4

@noffle's commit that fixes the problem is https://github.com/noff

[2016-02-19 06:06] whyrusleeping commented on #2347
https://travis-ci.org/ipfs/go-ipfs/jobs/110288218

Heres a failure.

[2016-02-19 06:07] whyrusleeping opened #2375 "gateways hanging for gx in CI"
https://travis-ci.org/ipfs/go-ipfs/jobs/110288219

@lgierth to me, this implies that the gateways are hanging. They all have the packages cached, this shouldnt be an issue...

[2016-02-19 06:09] noffle commented on #2375
I've been experiencing lengthy gateway hangs as well in my `go get` experiments, but can't repro on localhost with `multireq`+`go-ipfs`.

[2016-02-19 06:25] whyrusleeping commented on #2375
yeah, everything i try locally works quickly... but the gateways (on OSX in particular) seem to timeout and die

[2016-02-19 06:28] noffle commented on #2375
I see ~50% success rate, 50% hang rate. Possibly just one of the `multireq` hosts is hanging? </speculating>

[2016-02-19 06:28] whyrusleeping commented on #2375
potentially, i'll take a look at them...

[2016-02-19 09:42] hutenosa commented on #2350
In current implementation IPFS loads the entire tar file into the memory. If you don't have enough RAM, it obviously fails.  Also, `ipfs tar` uses its own serialization machinery, incompatible with `unixfs`. In other words, adding via `ipfs tar add` and adding recursively unpacked data is not the same. For instance, you cannot do `ipfs ls` on tar's root key. So if you want to add tars as folders,

[2016-02-19 13:35] RichardLitt opened #2376 "`ipfs get --compress` gives incorrect Header"
The headers for `curl -i "http://localhost:5001/api/v0/get?arg=QmT78zSuBmuS4z925WZfrqQ1qHaJ56DQaTfyMUF7F8ff5o&compress=true&compression-level=1"` are:

[code]

The Content-Type should be `application/x-gzip; charset=binary`, not `text/plain`.

[2016-02-19 15:05] hutenosa commented on #2304
Isn't the same as `ipfs version --commit` ? Or commit tag should be returned anyway whether `--commit` flag is given or not?

[2016-02-19 15:44] RichardLitt opened #2378 "`ipfs files rm` recursive flag doesn't affect output"
Using the recursive flag doesn't seem to change anything. I can remove a directory from the files API without needing to call it, and setting it as false doesn't mean I can't remove a directory.

#### Commands I ran
[code]

[2016-02-19 16:05] lgierth commented on #2304
@hutenosa no it isn't, `ipfs version --commit` prints only the abbreviated commit hash as I said above, e.g. `gce0d62d`.

[2016-02-19 16:28] RichardLitt opened #2379 "`ipfs files ls` should default to '/' if path is not given"
I think.

[2016-02-19 17:20] Kubuxu commented on #2304
We could make it SemVer (not enforcing API compatibility, even though 0.x.x. means do what you want with versions, rules but equality and ordering) compliant by making it `0.4.0-rc1+c25+gce0d62d`, release candidate 1 of version 0.4.0, non comparative data, 25 commits since last tag (rc1) current  commit `ce0d62d`.  Some project also embed truncated hash in version string.

[2016-02-19 17:50] RichardLitt opened #2380 "`ipfs files write` offset command appears faulty"
I'm not sure I am doing this right, but I am having issues making the offset command work. It does not seem to work simultaneously with `create`, and any subsequent usage doesn't seem to follow the offset I specify.

What I've run, so far:

[code]

[2016-02-19 17:51] whyrusleeping opened #2381 "t0020 fails on appveyor"
This one hasnt ever actually passed, but its the next in line for getting appveyor green:
https://ci.appveyor.com/project/ipfsbot/test/build/1228

[2016-02-19 18:06] RichardLitt commented on #2380
I am also confused by truncate, which appears to only work with `offset`.

[2016-02-19 18:12] diasdavid commented on #2380
Can you illustrate with your expectations? Seems from your example that create is working fine. Were you expecting for there to be an 'offset' on the first hello world? On the second example it looks it performed well (started writing 4 bytes from the left, note: offset is not number of chars, but number of bytes)

[2016-02-19 18:16] diasdavid commented on #2380
re: truncate

imagine a file being an array: [a,b,c,d,e,f] and each position is a character encoded in just one byte (like ASCII)
with offset 0 (default)
  - writing any number of 6 bytes or more would wipe out the existing data
  - writing any number of 5 bytes or less would still keep the bytes unchanged
with offset 2
  - any write would preserve the first 2 bytes
with offset 2 and truncate
  -

[2016-02-19 18:23] RichardLitt commented on #2380
This may have been what threw me. I did not expect that. I expected the first 'hello world' (second command) to be offset, too.

[2016-02-19 18:36] diasdavid commented on #2380
See it like a computer 💻👀

`echo 'hello world' | ipfs files write /test --offset=2 --create`

says that it has 1) create a file if it doesn't exist; 2) move the writing pointer to byte 2; 3) write the incoming bytes, in this case it is a string 'hello world'

1) check if the file exists
2) it doesn't, create
3) move the writing pointer to byte number 2, but here lies the trick, the file is empty,

[2016-02-19 18:57] whyrusleeping commented on #2380
the truncate flag truncates the file before writing. the offset flag, if specified past the bounds of a file, will sparsely expand the file to the given offset, and begin the write from there.

[2016-02-19 18:58] whyrusleeping commented on #2380
although, it does seem strange that you ended up with 'hehello world' instead of 'hellhello world' ill take a look at that

[2016-02-19 19:46] diasdavid commented on #2378
You are adding and removing a file called `test`, and `ipfs files ls /` is showing you one called 'here', which I'm guessing it is another file you add copied earlier

[2016-02-19 20:49] dignifiedquire commented on #2379
I think so too :)

[2016-02-19 21:36] RichardLitt commented on #2378
Sorry, I should have clarified. `test` is a directory. That it is not there when I `ls /` shows that it has been removed, regardless of the recursive flag.

[2016-02-20 06:22] whyrusleeping commented on #2379
file a PR ;)

[2016-02-20 06:24] whyrusleeping commented on #2378
[code]

I failed to repro

[2016-02-20 06:46] lovelaced commented on #2320
+1 same `atime` "undefined" error on SmartOS:
`SunOS [hostname] 5.11 joyent_20160204T173339Z i86pc i386 i86pc Solaris`

[2016-02-20 08:50] Kubuxu commented on #2375
How about setting up local IPFS node and adding `.ipfs` to Travis cache? This would greatly improve setup time. Or other solution would be adding `go/src/gx` into Travis cache.

[2016-02-20 09:11] Kubuxu commented on #1793
HOCON as a superset of JSON designed to be configuration language would be awesome.

[2016-02-20 12:55] bussiere commented on #2358
i had to clean up .ipfs from a past installation my bad and thanks

[2016-02-20 12:55] #2358 closed

[2016-02-20 13:50] palkeo opened #2383 "IPFS mount & "could not resolve name""
Hi !

I encountered an issue with « ipfs mount » : trying to access an invalid multihash (I forgot the last character) made « ipfs mount » display « could no resolve name » and quit, removing the mount point. Can you just display an error (with the name you could not resolve, BTW), but leave it running ?

Also, I'd like to see a message when running « ipfs mount », telling me that IPFS/IPNS are no

[2016-02-20 14:02] palkeo commented on #1467
Hey. I'm also interested by that.

But do you think that pub-sub would be able to solve all the problem by itself ? If I pin an IPNS name, turn my node off and go back 10 days later, my node should do polling to poll for the last version of the content too as it may have missed pub/sub updates.
Maybe something hybrid, where I could do either polling, pubsub, or both ?

[2016-02-20 14:16] palkeo commented on #2234
I have disabled IPv6 and still encountered the issue. I disabled MDNS like you said, and my router seems to be no longer crashing. Strange…
I will try to send a MDNS packet every second and see if that makes it crash more often.

[2016-02-20 14:18] palkeo commented on #1086
I think you can close it now :)

[2016-02-20 17:21] whyrusleeping commented on #1086
@palkeo thanks!

[2016-02-20 17:21] #1086 closed

[2016-02-20 17:24] whyrusleeping commented on #2358
@chriscool good idea, i'll have it run a check to make sure the endpoint it selects is actually up

[2016-02-20 17:32] whyrusleeping commented on #2383
ping @noffle

[2016-02-20 17:43] whyrusleeping commented on #2320
hoping to fix the atime issue here: https://github.com/anacrolix/utp/pull/6

[2016-02-20 19:38] johncant commented on #957
Yes please!

[2016-02-20 22:56] palkeo commented on #2234
It is indeed the case, when I do one MDNS query per second, my router is slower and crash after a few minutes. I don't really know what to do now.

[2016-02-21 00:13] whyrusleeping commented on #2234
hrm... i'm guessing your router has buggy support for mdns then... We should start a list for modem/router issues like this

[2016-02-21 00:24] whyrusleeping commented on #665
okay,  this would be very weird to rig up through the network layer to allow connections to yourself. I'm gonna close this

[2016-02-21 00:24] #665 closed

[2016-02-21 01:30] diasdavid opened #2385 "double "Transfer-Encoding" headers"
caught by @RichardLitt documentation efforts:

https://github.com/ipfs/http-api-spec/blob/master/apiary.apib#L2938-L2942

[2016-02-21 01:32] daviddias opened #2386 "What does "X-Stream-Error" in a 200 Ok Response from the API?"
Example shown by the http-api-spec https://github.com/ipfs/http-api-spec/blob/master/apiary.apib#L2939

[2016-02-21 02:30] lgierth commented on #2234
@palkeo in the meantime you could disable MDNS, or give OpenWrt a try: https://wiki.openwrt.org/toh/start

The wiki doesn't list it as supported yet though.

[2016-02-21 17:22] hutenosa commented on #2304
I'd suggest to use dot as field separator in build part of SemVer string. With the following command `git describe` output can be transformed into SemVer-compatible string:

[code]

[code]

[2016-02-21 18:45] j4nu5 commented on #957
+1

[2016-02-22 03:42] anacrolix commented on #2320
Does Go even work on solaris/386? Is that what is referred to above?

[2016-02-22 03:43] anacrolix commented on #2320
{solaris,dragonfly}/amd64 are fixed with https://github.com/anacrolix/missinggo/commit/e3f454a2c932de08b34a6b1dde721e5e81faf1cc.

[2016-02-22 11:42] sivachandran opened #2387 "Can I use IPFS DHT to store arbitrary key-value pairs?"
I basically want to store key-value pairs in the distributed network and later retrieve value for a specific key. A related topic is already discussed here #4 but I am not sure about the current implementation status of it.

I understand IPFS stores the hash to object/block mapping in DHT using this package https://github.com/ipfs/go-ipfs/blob/master/routing/dht/dht.go. So I am wondering whether I

[2016-02-22 12:35] yangwao opened #2388 "Can't pin but I can see object"
Idk if it's 0.4.0 upcoming release related, but here is pastebin
https://ipfs.io/ipfs/QmREhQoprhJwSM2gtgMMbDDn1k5yq1a3oYCfqWeBqzJH1k/paste

I can do

root@markone:~# ipfs object stat Qme1cJCtfWN2m4ZRvRqe6bnD7unrjFznpVYbYvLwTDoXUF
NumLinks: 6
BlockSize: 322
LinksSize: 320
DataSize: 2
CumulativeSize: 16603890

but I could not
root@markone:~# ipfs pin add Qme1cJCtfWN2m4ZRvRqe6bnD7unrjFznpVYbYvLwTDoXU

[2016-02-22 12:36] jbenet commented on #2388
@yangwao if you can repro a test with sharness, that's even better.

[2016-02-22 14:02] tidux commented on #2320
Illumos `uname` reports architectures a bit differently.  "i86pc" is amd64.

When can we expect to see the new missinggo used to build gx?  That's where it's failing right now on Illumos.

[2016-02-22 16:25] Stebalien opened #2389 "Secure/Authenticated API access"
Currently,
1. Anyone on a machine running IPFS can access the IPFS API over the HTTP interface. This means any user can, e.g., read any running daemon's private keys.
2. Anyone on a machine can run an IPFS server on the standard IPFS port and the IPFS client will blindly use it. This means that a malicious user could impersonate the IPFS server.

Solutions:
1. Use unix domain sockets. The daemon c

[2016-02-22 16:25] yangwao opened #2390 "How to compile go-ipfs on ARMv7"
Well, I've tried
[code]
nor go build ., go build -x . worked :)

I've readed tutors like https://medium.com/@rakyll/go-1-5-cross-compilation-488092ba44ec#.493fbiyo7
some kb https://github.com/golang/go/wiki/GoArm
http://dave.cheney.net/2015/08/22/cross-compilation-with-go-1-5

bash-3.2$ go version
go version go1.5.3 darwin/amd64

destination target is
[code]

I'd like to learn, but it didn't ring

[2016-02-22 16:46] chriscool commented on #2390
Could you show the error messages you get with the different build commands?

[2016-02-22 16:48] yangwao commented on #2390
[code]

[2016-02-22 16:54] yangwao commented on #2390
[code]

[2016-02-22 16:56] whyrusleeping commented on #2390
@yangwao it looks like one of our dependencies didnt get properly path rewritten for some reason, i'll take a look at this

[2016-02-22 19:11] RichardLitt commented on #2379
Thanks @chriscool

[2016-02-22 19:42] Kubuxu opened #2393 "Offline mode"
Sometimes I wish to be using local IPFS resources but I don't want IPFS to communicate with internet. Reasons for that are metered bandwidth, very weak connection etc..

Idea would be a flag which can be passed daemon for example `ipfs daemon --offline`.

[2016-02-22 19:54] whyrusleeping commented on #2361
ah, okay. sounds good to me

[2016-02-22 19:54] #2361 closed

[2016-02-22 19:55] chriscool commented on #2361
Thanks!

[2016-02-22 20:14] noffle commented on #2393
You can do this today with an empty bootstrap list, though I agree this is tedious for one-off use. An `--offline` daemon flag sounds reasonable to me.

[2016-02-22 20:53] jbenet commented on #2343
we need:
- operation specification
- a thing that generates a sequence of N ops randomly based on an input randomness seed
- a thing that -- given the sequence -- issues all ops to ipfs (using ipfs cli or api endpoint)
- a thing that -- given the sequence -- can then check the ipfs node state (using the api)
- a thing that -- given the sequence -- can then check the ipfs repo state (directly in th

[2016-02-22 21:59] dignifiedquire commented on #2343
Rough prototype in JS using the api: )

[2016-02-22 22:42] lgierth commented on #2390
@noffle saw this too right now

[2016-02-22 23:16] noffle commented on #2390
Yes, it looks like no rewrites happened in `/ipfs/QmZy2y8t9zQH2a1b8q2ZSLKp17ATuJoCNxxyMFG5qFExpt/go-net`.

[2016-02-22 23:40] whyrusleeping commented on #2390
rewrites happen in the `post-install` hook, its likely either the files are ignored for some reason (go's import tag stuff is really weird) or the process was killed mid-install (less likely since i think this has popped up elsewhere too)

[2016-02-23 02:05] whyrusleeping opened #2395 "api file doesnt get cleaned up"
the `api` file in the repo lingers around, we should clean this up when the daemon shuts down.

[2016-02-23 03:16] whyrusleeping opened #2397 "makefile should check installed version of go"
@chriscool could you put this together? You already did it nicely for gx versions, and reusing that code would be great.

[2016-02-23 03:17] whyrusleeping commented on #2393
I've wanted this for a while too. Lets put it on the TODO list

[2016-02-23 07:44] chriscool commented on #2397
Ok, I will take a look soon.

[2016-02-23 07:46] chriscool commented on #2397
By the way should we just test that go version is >= 1.5 or are there other things to test, like go version < 1.6?

[2016-02-23 09:17] yangwao commented on #2390
ok, college of mine find out, there was just problem with permission,
this worked for us, under root :/
[code]

[2016-02-23 15:40] lgierth commented on #2397
not sure anyone has tested with 1.6 yet

[2016-02-23 17:13] whyrusleeping commented on #2390
it shouldnt be a permissions issue... i noticed that you left off `GOARM=7` on that last invocation.
I also pushed an update to `gx-go` yesterday that should have also fixed the problem, if you did a fresh install of that then that would explain it.

[2016-02-23 18:53] Stebalien commented on #2397
I'm running IPFS with go 1.6 and haven't noticed any issues.

[2016-02-23 18:56] whyrusleeping commented on #2397
yeah, we fixed the couple issues that 1.6 brought up, so it should work. but i won't recommend it as an official supported version until we get CI running it.

For now, just saying greater than 1.5.2 should be good

[2016-02-23 19:43] noffle commented on #2383
Thanks for taking the time to comment, @palkeo!

This is a somewhat common problem: in order to mount `/ipns`, `ipfs mount` tries to get the latest published value for your node's public key on the network. In the case that you haven't published anything ever or a long time and it vanishes from the network, IPFS will fail to resolve your own public key and mounting will fail. [We're working on thi

[2016-02-23 20:04] chriscool commented on #2397
Ok, thanks all!

[2016-02-24 01:23] yangwao commented on #2390
[code]

[2016-02-24 01:24] whyrusleeping commented on #2247
# Captains Log Update, Feb 23rd

Inspired by @diasdavid, I think its a good time to write up an update here.

We're well on our way towards shipping an official release for 0.4.0, the features are all ready, the obvious bugs have been stomped on, and all thats left now is to convince ourselves that it works as intended. Towards that end, @dignifiedquire and I (mostly @dignifiedquire so far) have b

[2016-02-24 01:26] whyrusleeping commented on #2390
@yangwao you'll need to update gx and gx-go:
[code]

[2016-02-24 01:40] yangwao commented on #2390
looks like helped too rm -rf $GOPATH/src/gx
And I found out with @whyrusleeping that I've missed GOROOT env and I had to do
```chown wao: /usr/local/go/pkg/linux_arm/```
but!

[code]
ok it working. But still dont have external ip :/

[code]

[2016-02-24 01:40] #2390 closed

[2016-02-24 01:50] #2397 closed

[2016-02-24 01:56] whyrusleeping opened #2400 "t0060 fails on connected pipe test"
https://circleci.com/gh/ipfs/go-ipfs/3082

This might just be a port reuse issue.

[2016-02-24 13:11] faebser commented on #957
+1

[2016-02-24 17:02] Stebalien commented on #1532
Instead of having a permission allowing applications to pin/unpin globally, it would be nice to make pins per-application and have quotas. That is, the permission would be:

[code]

And each pin would list the applications that have requested that the object be pinned. When this list is empty, the object would be eligible for garbage collection.

Rational:

1. Users don't really care about what ap

[2016-02-24 18:30] RichardLitt commented on #2380
@whyrusleeping That's because it uses bytes instead of characters, which to me seems wrong. Or, at least, we should document that.

@diasdavid Got it. Thanks for the explanation. I think this can be closed when we document that it is bytes and not chars.

[2016-02-24 20:23] Zogg opened #2401 "'Making your own ipfs service' example does not work"
When I run `go get` to download all the libraries of the example application, error is thrown:

[code]

[2016-02-24 20:23] noffle opened #2402 "ipfs cli output consistency"
Notes & discussion fodder on two `ipfs` usage points.

# subcommand discoverability

Some commands have subcommands. Some will output those subcommands when invoked without arguments. However, others will not, and must have `--help` provided:

[code]
(shows all subcommands)

[code]
(shows all subcommands)

[code]
(no subcommands, just a terse summary)

Worse, some commands hide their subcommands!

[2016-02-24 20:32] noffle commented on #2380
@diasdavid: are we not using UTF-8? Why wouldn't two english chars like "he" be two bytes?

[2016-02-24 20:34] noffle commented on #2380
The only documentation in `ipfs files write --help` for `truncate` is "Truncate the file before writing", which is woefully vague -- I'm still not entirely clear on its function.

[2016-02-24 20:38] noffle commented on #2401
We've added another step in getting go-ipfs set up from source -- please see https://github.com/ipfs/go-ipfs/#build-from-source

Sorry about the hassle and thanks for commenting! We're working on making `go get` work seamlessly again!

[2016-02-24 21:15] RichardLitt commented on #2380
Succinct: "Truncate the rest of the file from the offset, before appending input."

[2016-02-24 23:31] palkeo commented on #2383
The issue you mentionned seems different : it's about DNS-like caching & TTL, right ?

For this one, maybe you could just gracefuly fail if you are not able to resolve the public key on the node, and consider that nothing was published before, right ?

If you want, I can try to work on that one :)

[2016-02-25 00:13] noffle commented on #2383
There's been much discussion on this before. I don't have a quick 'n easy summary of where it's at, but here's some reading to get you started:

https://github.com/ipfs/go-ipfs/issues/2078
https://github.com/ipfs/go-ipfs/issues/2178
https://github.com/ipfs/go-ipfs/issues/2278
https://github.com/ipfs/notes/issues/109

[2016-02-25 07:32] prusnak opened #2404 "idea: add dynamic loader to gateway http frontend"
When I use gateway there is no indication for the user what is currently going on. I keep staring at the screen for several minutes, but have no idea whether the gateway is down, or it is still downloading the resource, or resource is not available or something else.

The idea is to add a dynamic loader, which gets sent to the browser first and would show progress and other useful info to the user

[2016-02-25 08:07] tinybike commented on #2109
I'm still experiencing this issue; js-ipfs-api is unusable for me at the moment in Nodejs.  (Whatever is causing this bug doesn't affect the distributable.)

[2016-02-25 09:23] diasdavid commented on #2380
`!!(!(===)!==)` I got lost in which was the direction of your question 😁

In utf8, 'he' is in fact two bytes. utf8 uses varints

[2016-02-25 11:36] ingokeck commented on #1817
That is actually a big issue. As the header is not set, the http/1.1 standard defines it to be the default ISO-8859-1, while JSON is utf8. So standard compliant clients will treat the response as ISO-8859-1 and may convert it to utf8 to decode the JSON content and then fail. Which now seems to happen to the python api?

[2016-02-25 18:21] RichardLitt commented on #2402
Also cc me. I think that `ipfs bootstrap` should show subcommands. Also agree about showing help directly without saying use help flag.

[2016-02-25 18:25] Kubuxu opened #2405 "Hash from Files API hangs during 'ls' and other"
I can't `ls` a hash from files API, nor `name publish` it, although I can get object for it.

See: https://ipfs.io/ipns/bin.ipfs.ovh/#QmbXUsz2aYebJvF2GE5i8j3WEP9NhWpQ1p6F6QWRosEyE8.txt

[2016-02-25 23:00] palkeo commented on #2383
Thanks for the links !
Still, I feel that there is a fundamental difference between caching of general IPNS links, and that specific case of the node's own public key.
For the public key, can't we just try to resolve it in the background (for the unlikely case of another node with the same private key as us that would have published stuff), and if that fails we just fallback to the local value.
An

[2016-02-26 00:12] noffle commented on #2383
I agree 100%. Assuming Juan (cc @jbenet) has no qualms either -- I think he may have in the past? -- I think you should absolutely make this happen. +:100:

[2016-02-26 12:57] NightRa opened #2407 "Extreme resource usage & hanging"
Using IPFS master, d48cd56
Context: I have about 7 GB of pinned files, about ~100kb each. (The ipfs blocks directory is 18GB in size), migrated from IPFS 0.3 to 0.4.

`ipfs cat` of a short text file I added just before doesn't seem to terminate after a few minutes of continuously reading ~400MB/s from an SSD where the IPFS blocks are stored.

I also noticed, that with smaller sized local ipfs bloc

[2016-02-26 13:43] Kubuxu commented on #2407
Looks like I have the same problem with #2405.

I can confirm that `ipfs cat [some hash]` also hangs using massive amount of disk bandwidth.

[2016-02-26 13:43] Kubuxu commented on #2405
Seems connected with #2407.
`ipfs cat [some hash]` also hangs using massive amount of disk bandwidth.

[2016-02-26 16:44] dignifiedquire opened #2408 "Make -h an alias for --help"
At the moment `-h` and `--help` do different things, which is confusing me all the time as `-h` does print some help but not all of it.

cc @RichardLitt

[2016-02-26 17:04] noffle commented on #2402
also https://github.com/ipfs/go-ipfs/issues/2408

[2016-02-26 17:14] RichardLitt commented on #2408
This is actually pretty standard for man pages: long help and short help. Not sure about fixing this. I always use --help.

[2016-02-26 17:42] RichardLitt opened #2411 "Test case for resolving IPNS hash"
While writing the docs for `ipfs resolve`, [here](https://github.com/ipfs/http-api-spec/pull/51), I wondered if we could set up a test case where an IPNS path nests an IPNS path pointing to an IPFS path. According to the code [here](https://github.com/ipfs/go-ipfs/blob/master/core/commands/resolve.go#L82-L98), this shouldn't resolve without the `recursive` flag. Maybe I misunderstand, but I think

[2016-02-26 18:29] yangwao opened #2413 "Discovery of external IPv4"
Hello. So I increased my level of IPFS knowledge a lot in last days. But I still have problem about external ip discovery. I know it's working like asking peers where I dial from. But this IPFS daemon is running for few hours & days and I still dont get external address, however, when I ran at same LAN segment on my mac, I get external IP. In resulting this, I'm having problem to pin anything from

[2016-02-26 18:48] noffle commented on #2408
I think the `-h` vs `--help` for short vs long help is reasonably established nomenclature. However, the difference between our short help and long help on some commands seems unreasonable (read: you'd almost never want the short help):

[code]

[code]

"Long" help is still very short. I think making the differentiation between short and long might make more sense once "long help" is longer. (Bonu

[2016-02-26 18:51] dignifiedquire commented on #2408
Where? `curl -h` is the same as `curl --help`, same for `git -h` and `git --help` and pretty much every single cli application I use.

[2016-02-26 20:08] RichardLitt commented on #2009
They should also conform. For instance:

[code]

This should have the same error message as `ipfs get` and `ipfs cat`, which both return `Error: merkledag: not found`.

[2016-02-26 21:17] RichardLitt opened #2414 "Append Data doesn't append data."
[code]

Emphasis: **Note: This does not append data**.

Why is this called append-data?

[2016-02-27 09:23] yangwao commented on #2393
:+1:

[2016-02-28 01:54] chris-martin commented on #1014
I'm a bit confused about the present state of the architecture. If an ipfs daemon belongs to each user, why isn't the default mount point within the user's home directory?

[2016-02-28 07:28] Kubuxu commented on #1014
@chris-martin It is so paths are same as in other URL approaches, `fs:/ipfs/Qm....AAA`.
If you have fuse mount running you can just skip the `fs:/`.

My thoughts about system vs user daemons:
It is totally feasible to have full system daemon and small user daemons on Unix based systems using Unix Domain Sockets.
System daemons would be responsible for communication, storage and fuse, user daemons

[2016-02-28 08:05] yangwao commented on #2388
@jbenet what is sharness?

[2016-02-28 11:19] dignifiedquire commented on #2414
Because it literally appenda data to the object. The note is just a warning that it operates not on the file level but on the object data directly.

example.

object before:
[code]

operation

[code]

object after
[code]

[2016-02-28 11:23] dignifiedquire commented on #2388
@yangwao he means a test that can be added to the repo reproducing this issue

[2016-02-28 11:27] yangwao commented on #2388
No idea how to do it, where I can see some manual?
I think I found some network glitch, can't reproduce now. And very likely can be related to #2413 :)

[2016-02-28 18:25] RichardLitt commented on #2414
Makes more sense. Thanks!

[2016-02-28 18:25] #2414 closed

[2016-02-28 19:51] mnp commented on #2413
Have a look at issue #57, where they're talking NAT traversal.  I'd be interested to hear what the final transport resolution was, if it got lost in the issue threads.

[2016-02-28 20:44] yangwao commented on #2413
Also I plan to upgrade my Odroid X2 to latest archlinux soon, may that helps somehow.
Kernel 3.8. could be really old and something doesnt play there good.
@mnp thanks for reference! This tunneling is always hassle.

[2016-02-28 21:11] Kubuxu commented on #2413
For me the problem is that NAT traversal and IP discovery runs only during startup. This means if I switch interface I am using and my external IP changes, the ipfs silently stops resolving most hashes.

[2016-02-29 02:17] mnp commented on #2413
@Kubuxu, sounds like an issue?  Is there one open for that?

[2016-02-29 14:05] RichardLitt commented on #2388
Subscribing. I also would like to know more about sharness testing.

[2016-02-29 16:01] yangwao commented on #2388
Another case. Same scenario. I've canceled pinning after half-hour.
[code]

[2016-02-29 18:10] Zogg commented on #2401
Compiled from source, but upon launching `host.go` I receive this error:

[code]

[2016-02-29 18:42] whyrusleeping commented on #2401
@Zogg that ones normal, and will be downgraded to a warning in the next update of our libp2p dependency. The program shouldnt exit after printing that, it should continue functioning just fine

[2016-02-29 19:19] Zogg commented on #2401
I have host/client running in docker containers, on the same machine, yet client is unable to reach the host.

Host container:
[code]

Client container:
[code]

[2016-02-29 19:25] whyrusleeping commented on #2401
I'm not sure about how that example works on containers. the docker networking setup does really weird things to NAT traversal, and might screw things up a bit. Could you confirm whether or not it works when run on two separate machines on the same LAN? I havent looked at that code pretty much since writing it a year ago.

[2016-03-01 15:32] diasdavid commented on #1546
What is exactly the action item we are looking here?

[2016-03-01 17:53] whyrusleeping opened #2420 "ipfs commands is a weird command"
`ipfs commands` run from the cli doesnt make an http request. Making an http request manually to the proper endpoint still works though, with the exception of the `-f` flag not actually doing anything useful, all that passing `-f` does is making the output contain `"ShowOptions":true` instead of `false`.

cc @RichardLitt

[2016-03-01 18:49] RichardLitt commented on #2420
Related to https://github.com/ipfs/go-ipfs/issues/2301

[2016-03-01 18:52] dignifiedquire commented on #2420
Also it's pretty useless on the http api as it documents everything according to the cli and not the http api

[2016-03-01 20:58] whyrusleeping opened #2425 "t0300 hung on travis"
random failure here. not sure what is actually holding things up.

https://s3.amazonaws.com/archive.travis-ci.org/jobs/112937044/log.txt

[2016-03-01 21:00] whyrusleeping opened #2426 "t0060 fails randomly"
https://travis-ci.org/ipfs/go-ipfs/jobs/112937046

This one looks like a port collision, lets just use port zero for this one

cc @noffle

[2016-03-01 21:01] hmeine commented on #875
I agree with @striepan; I even believe that copy-on-write filesystems are *the* solution to this problem. What needs to be done in ipfs, though, is to make sure that the right modern API (kernel ioctl) is used for the copy to be efficient.  Probably, go-ipfs just uses native go API for copying, so we should eventually benefit from go supporting recent Linux kernels, right?  Can anybody here give a

[2016-03-01 22:21] RichardLitt commented on #1824
Same for `tar cat`.

[2016-03-02 03:50] peteygao opened #2428 "ipfs swarm connect /<peer_id>/ fails with "failure: dial backoff" and requires a restart"
I'm attempting to connect from a local home machine that's been running ipfs daemon that's been up for weeks (no exaggeration) to an ipfs daemon that I just booted up on a Digital Ocean droplet.

I wait a while until `ipfs swarm peers | wc -l` shows a sizeable peer list (73 peers at the time of attempt), and I was still getting `failure: dial backoff`.

Next I restarted my local home ipfs daemon (

[2016-03-02 07:14] chriscool commented on #2214
@thelinuxkid has something be done about this?

[2016-03-02 07:32] whyrusleeping commented on #2428
This is likely a combination of NAT traversal issues and address selection problems. One node is trying to dial the other at bad addresses (127.0.0.1, 192.168.* and friends) until it trips the exponential backoff. Once that gets high enough with failures you will see the issue you describe.

I think a good interim solution here will be to add commands that clear the dial backoff for a given peer,

[2016-03-02 14:21] mnp commented on #2402
I'd like to work on this.

[2016-03-02 16:42] whyrusleeping commented on #2402
Behaviour is as intended. Some commands have no need of arguments, if you wish to view the subcommands or helptext of a command use `--help`.

Example, `ipfs swarm peers`. How would i invoke this command if just running it as is prints helptext? What argument would i pass it? `ipfs swarm peers list` is silly, might as well just rename the command to `ipfs swarm list-peers` at that point.

I also d

[2016-03-02 16:50] thelinuxkid commented on #2214
This issue is no longer showing up.

[2016-03-02 17:27] chriscool commented on #2214
Closing following @thelinuxkid's comment above.

[2016-03-02 17:27] chriscool commented on #2214
Really closing now :-)

[2016-03-02 17:27] #2214 closed

[2016-03-02 18:05] whyrusleeping commented on #2425
another one here: https://s3.amazonaws.com/archive.travis-ci.org/jobs/112940506/log.txt

cc @chriscool

[2016-03-02 20:08] chriscool commented on #2425
The `docker_build()` function that fails does something like `docker build --rm -f "$TEST_TESTS_DIR/Dockerfile" "$APP_ROOT_DIR"`. Maybe fetching the Docker image hangs or something.

[2016-03-02 20:42] whyrusleeping commented on #2425
is the fetch happening through the official docker registries? does this seem like a problem with their infrastructure? or travis?

[2016-03-02 21:13] whyrusleeping opened #2431 "ipfs should adjust its open file descriptor limit if its too low (OSX)"
On daemon startup, we should check the open file descriptor limit and raise it ourselves if its below 1024.

[2016-03-02 21:15] whyrusleeping commented on #2408
@dignifiedquire not sure what youre talking about, try `git push -h` and `git push --help`

[2016-03-02 21:45] whyrusleeping commented on #2426
this one again: https://travis-ci.org/ipfs/go-ipfs/jobs/113189164

[2016-03-03 00:23] whyrusleeping opened #2434 "ipfs log ls command"
we should have a command that prints out all logger subsystems so that we can easily target them in the other log commands

[2016-03-03 05:37] Beligertint opened #2436 "Won't run whatsoever under Sandboxie"
On Windows, trying to run this under Sandboxie does nothing. From the command line, the ipfs command in the folder containing ipfs does nothing. It seems to run for a split second then quietly fails. It runs fine outside of the Sandbox, but instead, it doesn't even list commands when run with no options.

[2016-03-03 07:43] chriscool commented on #2425
I don't know. On the command line "docker build" is very verbose, but it looks like it is not so verbose on Travis. I will see if I can make it more verbose, so it will be hopefully easier to see what goes wrong.

[2016-03-03 12:49] dignifiedquire commented on #2408
@whyrusleeping okay for subcommands it is different, but still git lists all options on `-h` which a lot of the `ipfs <cmd> -h` do not do, and has actually the full man pages which are real text based docs `--help`. At the current state of ipfs help I would say what we have under `--help` is about the amount of details of `-h`that we need and the text for `--help` does not exist currently for most

[2016-03-03 12:54] dignifiedquire commented on #2431
Wouldn't that require sudo privileges?

[2016-03-03 15:15] RichardLitt commented on #2203
The HTTP Api seems to arbitrarily include charsets in the headers, at times, and not, at other times. Should it be included all of the time, @Kubuxu?

[2016-03-03 15:30] Kubuxu commented on #2203
It shouldn't be included always as it overrides setting in HTML \<meta\> tags and also default HTML charset is different.

[2016-03-03 15:33] RichardLitt commented on #2203
I guess I am confused: how would a Header response from the API override HTML <meta> tags? Does the go HTTP API ever return HTML?

[2016-03-03 15:38] Kubuxu commented on #2203
Ahh, this issue is about charset in Gateway sorry for confusing you. About API: it should be included almost always AFIAK, (json implicitly defines utf-8 but there are some edge cases in both directions including it or not but as it is included in some places is should probably be included all the time).

[2016-03-03 15:41] RichardLitt commented on #2203
Makes sense. Thanks! Sorry for redirecting the flow of this issue.

[2016-03-03 15:42] RichardLitt commented on #1817
There are also cases where the content-type should be different: x-gzip, x-tar, etc. https://github.com/ipfs/http-api-spec/pull/46 https://github.com/ipfs/go-ipfs/pull/2427 https://github.com/ipfs/go-ipfs/issues/2376

[2016-03-03 15:45] RichardLitt commented on #2378
@whyrusleeping Thanks. Me too. Will try like this.

[2016-03-03 15:45] #2378 closed

[2016-03-03 17:18] whyrusleeping opened #2439 "random bitswap test hang"
https://travis-ci.org/ipfs/go-ipfs/jobs/113328104

I see this one pop up maybe once every hundred test runs

[2016-03-03 17:20] whyrusleeping opened #2440 "connectivity issue on travis caused test failure"
Or at least I think thats whats happening here:

https://travis-ci.org/ipfs/go-ipfs/jobs/113265442

[2016-03-03 17:21] whyrusleeping commented on #2431
no, you can run `ulimit -n 1024` as a normal user on most systems

[2016-03-03 19:47] sbuss commented on #1791
I'm not sure if this has been resolved, in part, by any other tickets, so forgive me if my comment isn't relevant.

I think Option 2 will result in a better user experience, but I'd extend it to filetype plugins that do it automatically for a small subset of base filetypes. So `ipfs add foo.tar` detects the file is a tar file, runs the smart chunking, and only syncs the blocks the network hasn't s

[2016-03-03 22:45] whyrusleeping commented on #2413
Yeah, this definitely needs to be better. If anyone can make a good reproducible test script for this, that would help out tremendously.

I'm bumping this issues priority up a bit on my todo list

[2016-03-04 07:08] fnkr commented on #1226
+1. Got an abuse message from Hetzner today. Please add ability to disable local peer-discovery!

[2016-03-04 07:14] whyrusleeping commented on #1226
Please see https://github.com/ipfs/go-ipfs/issues/1226#issuecomment-120494604 and preceeding comments for a solution to this issue.

[2016-03-04 11:56] jonnor commented on #2334
What is the status? Last release seems to be `0.4.0-rc2` 20 days ago. And seemingly there are features going into master since then?

[2016-03-04 14:39] mnp commented on #2413
Such a script should be pretty easy with a docker container.  Docker engine around v1.10 supports attaching and detaching from multiple networks.  You can make a new network, attach your container running a test article to it, and then detach from the old network.  The interfaces will get changed out from under the test article.  Approx like this:

`$ docker network create extranet
56b1a95f5afa81d

[2016-03-04 15:09] RichardLitt commented on #2334
Ping @whyrusleeping

[2016-03-04 18:37] whyrusleeping commented on #2334
we're just waiting on our new integration test suites to run for a little bit to ensure things are all working smoothly before shipping.

[2016-03-04 19:18] whyrusleeping opened #2444 "bitswap tests fail when run with race detector"
It doesnt report a race condition, just that its using too many goroutines

[2016-03-04 19:31] mnp commented on #2425
I was having trouble with the Dockerfile as it stands.  First, the comments were breaking the multi-line RUN command.  Second, the "apk" get's were running way too slowly.  So I made a quick test dockerfile, https://gist.github.com/mnp/620641be76df385075c2 which uses the official golang docker image (based on debian, not alpine) and cuts out the comments.  This works okay.

Let me know if we want

[2016-03-04 23:12] lgierth commented on #2425
Doesn't travis have something like a docker image cache? I vaguely remember something like that. Otherwise we can certainly optimize it a little more to avoid apk running every time.

@mnp I'm *very* surprised that the comments made problems -- could you file another issue here for that, with output and docker version?

[2016-03-05 06:03] Kubuxu commented on #2425
Docker has cache but only for sudoless builds.

[2016-03-05 18:07] chpio commented on #2167
also:
[code]

[2016-03-05 19:09] noffle commented on #2167
@chpio: I think your problem is that the directory `/ipfs` does not exist. If you want to use the default mount locations you'll need ensure `/ipfs` and `/ipns` exist.

[2016-03-05 19:16] chpio commented on #2167
@noffle why do you think they do not exist?
[code]

[2016-03-06 14:25] MichaelMure commented on #1883
I think someone can close this one as https://github.com/ipfs/go-ipfs/pull/2021 got merged.

[2016-03-06 17:24] #1883 closed

[2016-03-06 18:26] mattseh commented on #2431
Please do this, I was caught by this today. It shouldn't be a manual step IMO.

[2016-03-06 18:34] matthewrobertbell opened #2448 "Transfer speed on local network is poor"
Hi,
I tested two laptops on a local wifi network, and attempted transferring a 1GB file between them, using IPFS. The speed tended to vary between 5 - 10mbit, usually closer to the former.

I get much better speeds between the laptops using other protocols, and torrents over wifi from the internet give me the full internet connection line speed of ~40 mbit.

If IPFS not being aggressive enough in

[2016-03-06 19:13] chriscool opened #2449 "t0300 failure due to "Error response from daemon: 404 page not found""
When I run t0300 on my machine I get:

[code]

[2016-03-06 21:25] ianopolous commented on #2387
You could use a content-addressed btree. I implemented one at: https://github.com/ianopolous/merkle-btree
Or there's a version specifically adapted to IPFS (using the Java HTTP API) at: https://github.com/ianopolous/Peergos/tree/master/src/peergos/server/merklebtree

Then you just need to pin the root of the btree.

[2016-03-07 09:38] chriscool commented on #2449
Sorry I had problems with the docker I had installed but they are now fixed. (I upgraded to version 1.10.2.)

[2016-03-07 09:38] #2449 closed

[2016-03-07 09:49] chriscool commented on #2425
@whyrusleeping PR #2451 should help debug this.

[2016-03-07 13:10] mnp commented on #2425
@lgierth cannot reproduce either issue :-(   Pls ignore my gist and my remark.

The questionable platform was OSX go1.6 darwin/amd64 and docker 1.10.2, but it was behind a corp firewall at the time, and docker-machine is notoriously picky about switching network interfaces.  I tried today on same box, same network, fresh pull, and it ran clean.

Also runs clean for me on current ubuntu.

[2016-03-07 18:54] whyrusleeping commented on #2448
@mattseh i've noticed this myself too. I plan on investigating overall transfer speed soon, and putting up a test in CI that will let us monitor transfer speed over the course of different commits (so we can make sure nothing slows down)

[2016-03-07 18:57] mattseh commented on #2448
An additional observation: I didn't notice CPU hitting 100%+ on either (dual core) laptop.

[2016-03-07 18:58] whyrusleeping commented on #2448
It used to at some point, this is likely a regression. getting a test to verify transfer speed should be the next step here.

[2016-03-07 19:58] whyrusleeping commented on #1197
this has been completed

[2016-03-07 19:58] #1197 closed

[2016-03-07 20:03] hutenosa commented on #2304
I'm wondering how git tag version can be forwarded through Dockerfile. I see @lgierth did a smart hack by putting only `HEAD` and `refs/` into the image, ignoring the rest. Unfortunately `git describe` wouldn't consider it as a full-featured repository. Here are the possible workarounds:

0. Remove `.git/` from `.gitignore`. This would bloat the image size but `git describe` would work perfectly.

[2016-03-07 20:04] lgierth commented on #2304
@hutenosa you forgot option 3, figure out what git-describe needs :)

[2016-03-07 20:17] whyrusleeping commented on #964
@noffle is this done?

[2016-03-07 20:40] hutenosa commented on #2304
I guess `git describe` needs the DAG of commit objects since it traverses the graph and searches for the closest path from the HEAD. It'd be an overkill to reimplement such logic inside docker RUN command ;)

[2016-03-07 20:42] lgierth commented on #2304
Mmmh yeah -- not sure. I really don't like bloating the automated images over at Docker Hub with the git repo.

[2016-03-07 20:56] Kubuxu opened #2452 "Diagram of modules"
go-ipfs is big project. My biggest struggle while getting into it was finding my way through it.

A diagram of modules, how they communicate, in which directories they are contained and they functionalities, possibly with data flow paths would be great "getting into" helper.

cjdns has very basic version of that but it lacks a lot (also its codebase is much smaller and more consistent, it is C aft

[2016-03-07 21:38] noffle commented on #964
Yup! https://github.com/ipfs/go-ipfs/pull/2323/files#diff-5ee6d6df05b05dae1b72d8f5289f63f3R78

[2016-03-07 21:38] #964 closed

[2016-03-07 21:38] noffle commented on #1186
Done: https://github.com/ipfs/go-ipfs/pull/2323/files#diff-5ee6d6df05b05dae1b72d8f5289f63f3R78

[2016-03-07 21:38] #1186 closed

[2016-03-07 21:42] whyrusleeping commented on #2452
@Kubuxu do you know of any software that could be used to generate these graphs nicely? I can definitely lay down the groundwork of building things out

[2016-03-07 21:43] Kubuxu commented on #2452
Unfortunately not, nothing I ever used/tired to use was good.

[2016-03-07 21:45] whyrusleeping commented on #2452
hrm... microsoft visio is nice, but very much not free. Might be worth us trying something from this list: https://www.maketecheasier.com/5-best-free-alternatives-to-microsoft-visio/

[2016-03-07 21:58] dignifiedquire commented on #2452
http://melp.nl/2013/08/flow-charts-in-code-enter-graphviz-and-the-dot-language/

[2016-03-07 22:00] whyrusleeping commented on #2452
hrm... i do really love dot... it just doesnt have a nice GUI

[2016-03-07 22:01] dignifiedquire commented on #2452
GUI??? who needs a gui when you can write it in nice code, check that code into git and generate awesome graphs from it :P

[2016-03-07 23:43] whyrusleeping commented on #2448
@mattseh one really random thing you could try for me: could you run both daemons with `IPFS_REUSEPORT` set to `false` ?

[2016-03-08 00:13] MichaelMure commented on #2452
Maybe PlantUML ? http://plantuml.com/state.html

[2016-03-08 08:06] mildred opened #2454 "JSON in `ipfs object get` transform bytes > 127 into U+FFFD (replacement character �)"
I'm trying to decode a unixfs node I got from the Gateway API on the browser. I have problems because I can't figure out how the data is encoded:

    $ ipfs object data /ipfs/QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG/readme | hexdump -C | head -n 5
    00000000  08 02 12 c3 08 48 65 6c  6c 6f 20 61 6e 64 20 57  |.....Hello and W|
    00000010  65 6c 63 6f 6d 65 20 74  6f 20 49 50 46 53 21 0a

[2016-03-08 08:10] mildred commented on #2454
Another solution is to use an encoding scheme like base64, or anything else that would work well with a low overhead for utf-8.

[2016-03-08 08:28] mildred commented on #2454
A solution could be UTF-8B: http://bsittler.livejournal.com/10381.html

This might not work in a browser where the strings are converted internally into UTF-16 though.

[2016-03-08 09:15] mattseh commented on #2448
As an environment variable?

Sent from my iPhone

[2016-03-08 14:01] Kubuxu commented on #2179
Same thing on Linux while adding 21GB of cdn-js.

[2016-03-08 14:02] lgierth commented on #2448
Yes as an env variable: `IPFS_REUSEPORT=false ipfs daemon`

[2016-03-08 22:04] whyrusleeping commented on #2405
could you post a stack dump from the daemon while this hang is happening?

[2016-03-09 02:22] lgierth commented on #2452
I think we're looking for something like the diagrams in https://github.com/ipfs/js-ipfs, and maybe highlighting the used components for a few use cases -- the diagram tooling is secondary.

[2016-03-09 05:53] Kubuxu commented on #2405
Here is stack trace: https://gist.github.com/Kubuxu/7746e2770650796ab043

Also this is quite interesting:
[code]

[2016-03-09 12:59] dignifiedquire commented on #2452
I agree on the tooling being secondary, if you post photos of handdrawn stuff or ascii art that's totally fine, and someone else can then turn them into a nicer format

[2016-03-09 21:29] whyrusleeping opened #2456 "command to clear swarm dial backoff"
while diagnosing some network issues, i often hit the 'dial backoff', where our node decides we've tried to dial that other node enough times, its probably dead, and we wait a little while to try again.

This sucks when i'm manually trying to dial things. We should have a command to clear this, or to ignore the backoff somehow if we are manually running swarm connect commands.

This will likely in

[2016-03-10 10:40] dignifiedquire commented on #2385
So I found out a bit more about this. According to the `http` spec these are equivalent:

[code]
should be the same as

[code]

So the question is, are we actually double chunking our responses, and if so why?

This is also making some problems for me as I'm trying to use rust http libraries which are not yet able to handle this:

* https://github.com/tailhook/rotor-http/issues/34
* https://github

[2016-03-10 17:04] whyrusleeping commented on #2440
probably okay to close this

[2016-03-10 17:04] #2440 closed

[2016-03-10 18:29] RichardLitt opened #2457 "Add command to remove lock files"
We should have a command - `ipfs repo repair` or `ipfs repo fsck` - which removes lockfiles. See bug issue [here](https://github.com/ipfs/support/issues/12).

[2016-03-10 19:43] Stebalien commented on #1532
Some Notes:

* IMO, some security critical parts of the API (upgrading, mounting, changing the config, etc) should only be exposed over a unix domain socket when possible. This splits the API but makes some attacks harder.

* It may be convenient to allow capability delegation.

* I'm not so sure about the proposed permissions signing design. For one, it doesn't provide a way to revoke permissions

[2016-03-10 21:00] whyrusleeping commented on #2334
Alright, heres my checklist for shipping 0.4.0:

- [ ] finish blog post (@RichardLitt)
- [ ] write changelog (@whyrusleeping @lgierth @RichardLitt)
- [ ] add final 0.4.0 build to dist.ipfs.io and adjust 'latest' version ( @whyrusleeping or @dignifiedquire )
  - [ ] test that ipfs update shows the 0.4.0 update and can pull/install correctly ( @chriscool @whyrusleeping)
- [ ] ????? ( @jbenet)
- [ ]

[2016-03-10 21:31] whyrusleeping commented on #2405
In the debug/vars log you sent me, there were a lot of calls to `HasBlock`, only 5 actual `Get` calls, and one call to Get that errored. I just got my raid box back and set up so I can start trying out larger tests like this. I would run this with the log levels raised to info ( `ipfs log level all info` ) and see if anything interesting shows up there.

[2016-03-10 21:39] dignifiedquire commented on #2334
- [ ] Prepare new webui release
  - [ ] Merge `feat/files-api` on js-ipfs-api
  - [ ] Update dependencies on webui#master
  - [ ] Ensure geoip works on webui
  - [ ] Make release and upload it
  - [ ] Get at least three people to test it

[2016-03-10 23:59] Mithgol commented on #875
What would happen on Windows? (Are there any copy-on-write filesystems on Windows?)

[2016-03-11 06:29] Kubuxu commented on #875
I think Windows would be working as it is now.

[2016-03-11 11:49] dignifiedquire commented on #2334
First webui version to test: http://localhost:5001/ipfs/QmWCJFK5VYXBZqS3LbiRHt8aC3aLSVXU7wNFX9vpckSYun

For testing this run your daemon with `ipfs daemon --unrestricted-api`

[2016-03-11 12:00] diasdavid commented on #2334
#### Webui testing

- some errors:
![image](https://cloud.githubusercontent.com/assets/1211152/13701518/4fc7694e-e780-11e5-877d-d64182421459.png)
- my browser froze on the logs tab
- shows type as `?` but I'm pretty sure that the second is a dir and the first one is a file (but empty one)
![image](https://cloud.githubusercontent.com/assets/1211152/13701543/891831ce-e780-11e5-966b-d45c82460281.png)

[2016-03-11 12:08] dignifiedquire commented on #2334
This hasn't work for some time now (0.3.11, 0.3.10) and this view is going to be removed soon, so I'm not very concerned about fixing this.

This release is about making it work with 0.4, I know there are things we want to improve, but that's what the other work we are doing is for.

Logs are simply too much at the moment, we could remove them for now until we have a better solution, thoughts?

[2016-03-11 12:22] dignifiedquire commented on #2334
Fixed locales and minification: `QmdmpbMUS1gJ3HppHxFjkUWbV5jpartSi88uUXzBVLBQkU`

[2016-03-11 12:32] chpio commented on #2334
`pinned files` froze my browser (but that's another issue... again)

[2016-03-11 12:47] dignifiedquire commented on #2334
Fixing, that is a real issue

[2016-03-11 12:48] chpio commented on #2334
nah, it's because of the number of entries... pagination would maybe fix this

[2016-03-11 13:04] dignifiedquire commented on #2334
No more freezing `QmU3o9bvfenhTKhxUakbYrLDnZU7HezAVxPM6Ehjw9Xjqy`

[2016-03-11 13:05] chpio commented on #2334
lol :D nice fix

[2016-03-11 21:19] whyrusleeping commented on #2385
Okay, so we're sending the transfer encoding twice... which is wrong. but we arent doing double chunked encoding. I'll take a look

[2016-03-11 22:05] nginnever commented on #2334
Aside from ```Error: Unmapped range(…)``` and a random ```Error: Failed to lookup node(…)``` everything looks 👍

[2016-03-11 23:08] whyrusleeping commented on #2457
`ipfs repo fsck` has been planned. We should do that soon.

[2016-03-12 15:24] sexybiggetje opened #2460 "ipfs update not working"
I used the installer as linked on the ipfs.io install page. This is the OS X v0.3.11 package (http://dist.ipfs.io/go-ipfs/v0.3.11/go-ipfs_v0.3.11_darwin-amd64.tar.gz).

After install I like to check if I'm up to date, so we issue ipfs update:
[code]

I'm now left curious as to what wasn't installed, and how to properly fix this. I do have go 1.6 installed and not 1.5, but that shouldn't be too muc

[2016-03-13 01:27] tomgg commented on #2460
That error message is fixed in an updated version of go-ipfs; it directs the user to [ipfs-update](https://github.com/ipfs/ipfs-update).

(Is this a catch 22?---unable to update because an update is required to know how to update.)

[2016-03-13 09:37] Kubuxu opened #2461 "Hash only option for `ipfs files stat`"
Now one have to use `head -1` to achieve that which isn't much of a problem in most cases but hash of a files/directory is the most useful stat.

[2016-03-13 09:44] sexybiggetje commented on #2460
Sadly that requires me to manually install ipfs-update, but no problem. However, I tried to install v0.4.0-dev, which yails then with the following mesage:

[code]

[2016-03-13 11:22] Mithgol commented on #875
What are BitTorrent clients doing in these situations? Do they check modification time and filesize?

[2016-03-13 14:04] lamarpavel commented on #875
@Mithgol Depending on the client, but most of them have a session-db with binary files describing active torrents and their state. These are just descriptors and much smaller, so there is no duplication. Some torrent clients take a while to start up if you have many torrent files active, suggesting a quick check of meta data for every file, but no complete hashing.

[2016-03-13 14:56] anarcat commented on #875
On 2016-03-13 10:04:31, lamarpavel wrote:

I can't speak for all clients, but i believe transmission does a "quick"
check (lstat, so size, mtime...) and rehashes if inconsistencies are
found. the user can also re-trigger a rehash.

it is something like this i had in mind here, originally.

in my humble opinion, delegating this to a deduplicating filesystem just
avoids the problem altogher: it does

[2016-03-13 19:03] myleshorton commented on #57
Hey @whyrusleeping and @jbenet can you describe the NAT traversal implementation in 0.4.0 or link to more details? Exciting stuff.

[2016-03-13 21:59] ianopolous opened #2462 "ipfs ls failing, but only over http api"
Running the follows returns fine with no errors:
ipfs ls QmNNFsQsZu7SZBRGeDHWjcEuFeSc8TEcRLi8qyUP6HYAtv

But trying using the java http api returns a 500 error. (The call works fine for other hashes).

[2016-03-13 22:26] djdv commented on #875
I feel like this is important given that IPFS may be run on platforms that do not have de-duplication file systems or on hardware that can't maintain a de-duplication feature due to hardware constraints (low memory, etc.). I feel that it's likely that a system that has storage constraints (one that would benefit from this feature) would probably also have memory limits but that's just a broad assu

[2016-03-13 23:21] dignifiedquire commented on #2462
What's the result when using curl?

[2016-03-13 23:23] ianopolous commented on #2462
Using curl gives: {"Message":"proto: unixfs_pb.Data: wiretype end group for non-group","Code":0}

[2016-03-14 00:44] RichardLitt commented on #2462
I wasn't able to replicate this.

[code]

[2016-03-14 00:53] ianopolous commented on #2462
Funnily enough using your command, I get the same result. To get the error I have to run:
curl http://127.0.0.1:5001/api/v0/file/ls?arg=QmNNFsQsZu7SZBRGeDHWjcEuFeSc8TEcRLi8qyUP6HYAtv

[2016-03-14 01:16] RichardLitt commented on #2462
`ipfs file ls` is a different command from `ipfs ls`. Which do you mean to use?

[2016-03-14 07:54] ianopolous commented on #2462
My bad. I didn't even realise I was using the file version. Sorry.

[2016-03-14 07:55] #2462 closed

[2016-03-14 14:56] RichardLitt commented on #2462
No worries! Glad we got this sorted. :)

[2016-03-14 16:50] whyrusleeping commented on #2334
If everyone could test this webui version out asap that would be great.

Run your ipfs daemon with: `ipfs daemon --unrestricted-api`

and then access http://localhost:5001/ipfs/QmU3o9bvfenhTKhxUakbYrLDnZU7HezAVxPM6Ehjw9Xjqy
in your browser to try it out.

[2016-03-14 17:27] noffle commented on #2334
Lots of `Failed to load resource: the server responded with a status of 403 (Forbidden)`. I'm running with `--unrestricted-api` on `0.4.0-dev`. UI doesn't appear to be being populated with content.

[2016-03-14 17:37] dignifiedquire commented on #2334
@noffle does the regular webui work for you? sounds like CORS settings not being correct

[2016-03-14 18:47] noffle commented on #2334
@dignifiedquire It doesn't. My config:

[code]

[2016-03-14 18:58] dignifiedquire commented on #2334
@noffle add `http://localhost:5001` to the allowed origins restart the daemon, and then navigate to http://localhost:5001/ipfs/QmU3o9bvfenhTKhxUakbYrLDnZU7HezAVxPM6Ehjw9Xjqy

[2016-03-14 19:13] noffle commented on #2334
@dignifiedquire: thanks, that did the trick.

It's working well for me. I played with all of the affordances and nothing is exploding (violently or otherwise).

[2016-03-14 19:50] whyrusleeping opened #2464 "panic from utp"
@dignifiedquire reported this panic which appears to be solely the fault of our utp library (not influenced by any ipfs code that i can tell)

https://gist.githubusercontent.com/dignifiedquire/33c5e9b5af4305491e37/raw/7c0c8731916bf8b21f723a8c1a32c2e1276bb993/fail.log

[2016-03-15 00:20] whyrusleeping commented on #2460
@sexybiggetje I couldnt reproduce the issue youre having. It appears from the log output that your source tree for fs-repo-migrations might be dirty. Could you try removing `$GOPATH/src/github.com/ipfs/fs-repo-migrations`  and rerunning `ipfs-update` command?

[2016-03-15 04:58] slothbag opened #2467 "IPFS resource usage"
One of the biggest problems I have with IPFS is resource usage, both Memory and Bandwidth.

Memory:
I run IPFS on a VPS server with 512Mb RAM, it consistently uses 50% of the available memory even though other well known daemons like apache, smtpd, postgres never consume more than 5-10% each.

I tried the new LOW_MEM flag but it made little difference in memory usage for me.

Bandwidth:
I find the

[2016-03-15 05:19] sexybiggetje commented on #2460
Well that got me a step further, but I now get the strangest error :).

[code]
But I think that's a message from go itself?

[2016-03-15 17:09] RichardLitt opened #2468 "`ipfs object get` with protobuf encoding never errors in HTTP API"
`ipfs object get --encoding=protobuf` works using the normal CLI:

[code]

However, when put through the HTTP API, it will not return an error if the key is invalid or missing.

[code]

This should be solved before merging https://github.com/ipfs/http-api-spec/pull/32.

[2016-03-15 17:12] RichardLitt opened #2469 "`ipfs object get --encoding=protobuf`HTTP response returns wrong content type"
[code]

The `Content-Type` should be `application/protobuf`, not `application/json`.

[2016-03-15 17:12] RichardLitt commented on #2469
This should be fixed before merging https://github.com/ipfs/http-api-spec/pull/32.

[2016-03-15 17:16] RichardLitt opened #2470 "`ipfs object links --encoding=protobuf` has no marshaller"
[code]

Should it? Why not?

Discovered while documenting https://github.com/ipfs/http-api-spec/pull/32.

[2016-03-15 17:37] whyrusleeping commented on #2395
caused a test failure here: http://ci.i.ipfs.io:8111/viewLog.html?buildId=108&buildTypeId=GoIpfs_CiTests&tab=buildLog#_focus=5301

[2016-03-15 17:39] whyrusleeping commented on #2460
Yeah, thats kinda really weird. I'll look into that...

[2016-03-15 17:42] whyrusleeping commented on #2460
what happens if you run `go get -u github.com/ipfs/fs-repo-migrations` on your command line?

[2016-03-15 17:50] RichardLitt opened #2472 "`ipfs object put` with inputenc option fails for HTTP API"
[code]

This should work, or it should at least display an error specified in `ipfs object put`, not the default error as if I was using `ipfs object` alone in the API. What's happening here?

Discovered during documenting in https://github.com/ipfs/http-api-spec/pull/32.

[2016-03-15 18:21] sexybiggetje commented on #2460
It gives a similar result.
[code]

I think I should figure this one out seperately from this issue, it should be go related. I'm able to do a simple hello world with go, but somehow the paths are not playing nice. I'll completely remove go and try again on a fresh installation.

[2016-03-15 18:41] RichardLitt opened #2473 "`ipfs object patch add-link` doesn't throw error for invalid ref argument"
[code]

The firs response makes sense. I'm not sure the second does - an empty argument shouldn't be allowed, I don't think. The third hangs in the HTTP API, but returns this strange inscrutable error in the CLI.

Not sure what is going on here. Discovered as part of https://github.com/ipfs/http-api-spec/pull/32.

[2016-03-15 18:59] RichardLitt opened #2474 "`ipfs object patch rm-link` help description is vague"
[code]

I have no idea what that description means, and it seems to contradict 'Remove a link from an object'. Can someone explain what root is, and what this means?

[2016-03-15 19:10] whyrusleeping commented on #2464
reported fixed: https://github.com/anacrolix/utp/issues/7

Need to update utp dep now

[2016-03-15 19:23] dignifiedquire commented on #2464
cool :)

[2016-03-15 20:05] palkeo opened #2476 "Repository linking to files."
Hi,

I suppose that a very common use case for IPFS would be to share huge files/directories.
At the moment, if you want to do that IPFS will copy all your data to its own repository.

Would it be possible to optionally have IPFS link to the actual data on disk instead of copying it ? For the tree representing the directory it would have the leaf nodes link to a filename:offset:length, and only st

[2016-03-15 20:21] whyrusleeping commented on #2476
see #875

[2016-03-15 20:28] palkeo commented on #2476
Cool, thanks !

[2016-03-15 20:28] #2476 closed

[2016-03-15 20:29] whyrusleeping commented on #2460
@sexybiggetje cool, let me know how it goes.

[2016-03-17 06:01] Kubuxu commented on #525
I don't think it should be closed as it concerns whole DHT not only IPNS/RS.
See https://github.com/ipfs/specs/issues/73

[2016-03-17 20:38] jbenet commented on #2334
@dignifiedquire we should not have to add any CORS stuff to have the webui work by default. it should work out of the box for users. if it doesn't then it needs to be fixed.

[2016-03-17 20:40] whyrusleeping commented on #2334
@jbenet i think that @noffle had his config changed before testing the new webui leading to the CORS issues he had

[2016-03-17 20:41] dignifiedquire commented on #2334
@jbenet yes it works out of the box, but @noffle had a non default config, so it didn't work.

[2016-03-17 20:42] jbenet commented on #2334
@dignifiedquire ah ok makes sense. we should probably warn users that setting an origin like that will mess with the default expectations (or maybe we should just make the default config show the expectations)

[2016-03-17 21:09] noffle opened #2478 "ipfs init nukes everything in the directory"
Unexpected behaviour: `ipfs init --force` will destroy everything in `$IPFS_PATH`, not just the files IPFS created. I learned this the hard way by setting `IPFS_PATH=/tmp` and then having my whole `/tmp` dir nuked when I init'd again.

[2016-03-17 21:09] noffle commented on #2334
@dignifiedquire Are you sure? I did a fresh `ipfs init` and see this `"API"` entry in the config:

[code]

[2016-03-17 21:27] dignifiedquire commented on #2334
@noffle works fine for me on `master` on a fresh init. Even though headers is empty, the default is set internally I think.

[2016-03-17 23:58] noffle commented on #2478
A good analogy of why this is disasterous is imagining if `git init --force` wiped everything in the current directory.

[2016-03-18 01:13] kevina commented on #875
I might take a stab at create at this.  To me this seams an important step to getting a large amount of data into IPFS.  Disk space is cheap but not free.

The best docs I can find are here https://github.com/ipfs/specs/tree/master/repo, if there is anything better please let me know.

Is there a way at having multiple repo or datastores with a single IPFS daemon?  I am thinking one could be desig

[2016-03-18 11:20] chpio opened #2482 "Automatic updates of jbenet/go-ipfs on dockerhub"
it seams (?!) [ipfs/go-ipfs](https://hub.docker.com/r/ipfs/go-ipfs) is _the_ docker repo. so it would be nice if jbenet/go-ipfs would go away (i was using it until now and was wondering why it's never updating)

[2016-03-18 13:58] chpio opened #2483 "recursive add [ipfs-api/http-api]"
Hi,
adding recursive dir structures result in corrupt files. im using the latest docker build.

added file: https://ipfs.io/ipfs/QmRw9Q2P1HTXT8eCcigVHupJyrVbMC3PCxuhecyMBNPDGW

my code using the ipfs-api: https://github.com/ippm/ippm/blob/a7f1589198c6e9a6de3cc83e4e91c4aa12928a6a/src/ippm-adder.js#L151

https://github.com/ipfs/js-ipfs-api/pull/74

[2016-03-18 18:26] jwsher opened #2485 "IPFS get hangs unless peers are connected"
On computer A  behind a NAT firewall I run the following command:

` ./ipfs add very-small-file
`
Then on computer B, which is a VPS server on another network, I run the command:

`./ipfs get <multihash from very-small-file>
`

The ipfs get hangs for an indefinite amount of time.  If I directly connect from computer A to computer B using the following command on computer A:

`ipfs connect <Compute

[2016-03-18 21:59] whyrusleeping commented on #2485
What sort of NAT is it? If it supports upnp or nat-pmp, they should be able to connect just fine. Otherwise, theres no way to dial into your 'computer A'. And you just have to hope that computer A decides to connect to computer B as part of its dht maintenance.

This connectivity is something we're working on improving, but its very difficult stuff.

[2016-03-19 10:57] chpio commented on #2483
https://github.com/ippm/ippm/commit/8b1b10f68e81dae4699a2342765a57ef4204fc06 fixed it

[2016-03-19 10:57] #2483 closed

[2016-03-19 21:20] lgierth commented on #2482
Oh man that's my bad, sorry -- when I created the ipfs/go-ipfs automated image I wanted to make the old jbenet/go-ipfs image update too. Taking care of it today.

We won't be deleting jbenet/go-ipfs for a good while because many people are using it still (like you).

[2016-03-19 23:29] jbenet commented on #2482
Wonder if we can symlink it
On Sat, Mar 19, 2016 at 17:20 Lars Gierth <notifications@github.com> wrote:

[2016-03-20 06:59] Cleric-K commented on #994
@whyrusleeping @jbenet @chriscool
Is this issue being addressed?

To sum up - problems arise when the binary hash contains ascii symbols `/`, `.` which are interpreted by `path.Clean()`. This malforms the key. Here are few examples:
1. Slash at the end. Test with `$ echo 10 | ipfs add`
2. Two or more slashes (get converted to one slash). `$ echo 00000259 | ipfs add`
3. `/../` - removes the part be

[2016-03-20 19:58] lgierth opened #2488 "`pin add` doesn't return"
Following scenario:

1. `ipfs add -r` something locally
2. have Pinbot pin it, or pin it on the gateways by hand
3. the `pin add` command won't return indefinitely
4. restart IPFS on the gateways
5. `pin add` returns immediately because apparantly pinning already finished before restarting IPFS

Will fetch a goroutine dump when this happens the next time.

[2016-03-20 23:30] RichardLitt commented on #2472
Not a bug - badly formulated URL. My bad.

[2016-03-20 23:30] #2472 closed

[2016-03-20 23:35] RichardLitt commented on #2473
Blocking https://github.com/ipfs/http-api-spec/pull/68.

[2016-03-20 23:35] RichardLitt commented on #2474
Blocking https://github.com/ipfs/http-api-spec/pull/68.

[2016-03-20 23:36] RichardLitt commented on #2468
Blocking https://github.com/ipfs/http-api-spec/pull/67.

[2016-03-20 23:36] RichardLitt commented on #2469
Blocking https://github.com/ipfs/http-api-spec/pull/67.

[2016-03-20 23:36] RichardLitt commented on #2470
Blocking https://github.com/ipfs/http-api-spec/pull/67.

[2016-03-21 00:28] slothbag opened #2489 "Implement ratelimiting"
I have an urgent need to have a rate limited ipfs node.. perhaps implementing something like this:  https://github.com/juju/ratelimit

Would it be possible to have a user configurable option in ipfs to enact this rate limit logic, if not activated carry on as it currently does?

Can one of the devs provide an estimate on how hard this would be to implement? Perhaps I can organise a bounty for it t

[2016-03-21 00:29] slothbag commented on #2467
Will create separate issues for these.

[2016-03-21 00:29] #2467 closed

[2016-03-21 04:10] slothbag commented on #2489
Just thinking out loud, to implement rate limiting you'd also have to manage the peer count.. if you restrict the bandwidth to say 10KB/sec you'd probably have to limit your peers to say 10 to give them at least 1KB/sec each.

[2016-03-21 16:11] whyrusleeping commented on #2489
rate limiting wouldnt be too difficult to do, but i'm not sure the effect it would have on overall performance yet. My thoughts are that things will become verrrrry slow if we start rate limiting things..

If you still want to go ahead and try it, take a look at the metrics stuff in libp2p https://github.com/ipfs/go-libp2p/blob/master/p2p/metrics/conn/conn.go

Every connection in ipfs gets wrapped

[2016-03-21 21:50] whyrusleeping opened #2491 "add config validations"
We should set up hooks for certain config keys to validate that can be run when the user modifies them.

The validations should also be run during init to make sure that any modifications the user makes directly to the file get validated as well

[2016-03-21 22:01] dignifiedquire commented on #2491
This issue was brought to you by @dignifiedquire's hammer comments

[2016-03-21 22:18] lgierth commented on #2491
I guess something similar to e.g. nginx's configtest? Other server software has similar functionality, I know apache and mysql do.

[2016-03-21 22:33] slothbag commented on #2489
Thanks for the tips.  I guess one defence of rate limiting is just about every bittorrent client supports rate limiting, but the network still performs downloads at peak speeds with enough nodes.

You mentioned the bandwidth stats are seemingly wrong, how do you view those stats?

[2016-03-21 22:45] whyrusleeping commented on #2489
you can run `ipfs stats bw` to see them. The command has a few options for polling and filtering by peer/protocol

[2016-03-21 23:22] slothbag commented on #2489
Thanks, yeah it looks like the accounting is under stating the bandwidth per/sec by at least 50%

[2016-03-21 23:37] slothbag commented on #1972
In my desperation to cut down on bandwidth usage (see https://github.com/ipfs/go-ipfs/issues/2489) I have started blacklisting (swarm filters) ipfs nodes which seem to send/recv more than the average with my node.

A whitelist would probably be better, that way I can block everyone except for a handful of trusted nodes.

[2016-03-21 23:55] whyrusleeping commented on #2489
Yeah, i'm not sure what the discrepancy is... If you want to take a look at it, please do. I'd love a second pair of eyes on it all

[2016-03-22 00:27] whyrusleeping opened #2492 "default files api to contain welcome docs"
It would be pretty nice if the files api upon init contained the welcome docs, so `ipfs files ls` right after init would show some stock files.

[2016-03-22 12:42] MichaelMure commented on #875
I'd like to work on that too.

You can see [here](https://github.com/ipfs/go-ipfs/blob/master/core/builder.go#L132) how is it currently organized. There is:
- a Datastore that store arbitrary key/value pair
- a Blockstore that create a content addressed storage on top of this Datastore
- a WriteCached that cache blocks for highly accessed data and bulk write

On top of that Blockstore, a DagServic

[2016-03-22 15:18] RichardLitt commented on #2492
Agreed! Which docs?

[2016-03-22 16:11] dignifiedquire commented on #2492
I suggest having a folder like `welcome` rather than all having them in the root.

[2016-03-22 20:03] basile-henry commented on #1939
@whyrusleeping I know this issue is closed, but I'm having the same problem on the IPFS node I run on my VPS.

The error message (which is repeating every second) is the following:
[code]
I leave the ipfs daemon running in screen and it works for a while but breaks after a few hours. The server I'm running this on has only 1 core and 512MB of RAM, could this be the issue?

A bit more information a

[2016-03-22 21:04] cryptix commented on #1939
On 22.03.2016 21:03, Basile Henry wrote:

this is actually pretty low for IPFS, as you have to use that amount for
open files (chunks, lot's of them) and sockets. Try setting it to 4- or
10000.

[2016-03-22 21:43] basile-henry commented on #1939
I didn't know what ulimit was, after a quick lookup it makes sense that I would want a higher value. I'll try that as soon as I can. Thanks for your help :-)

[2016-03-23 07:02] jwsher commented on #2485
This is my ISP's NAT which I have no control over and which doesn't support uPnP.  I ended up using OpenVpn to a VPS using this guide:

https://www.digitalocean.com/community/tutorials/how-to-set-up-an-openvpn-server-on-ubuntu-14-04

I then set up port forwarding with UFW (Uncomplicated FIrewall) to my server on the VPN network with the VPS:

https://gist.github.com/kimus/9315140

Believe it or no

[2016-03-23 07:09] whyrusleeping commented on #2485
@jwsher whoa, thanks for those tips. I hadnt actually figured out how to get things working from behind a vpn yet

[2016-03-23 19:56] noffle opened #2494 "script-friendly output for 'ipfs dht' commands"
Today:

[code]

Imagined output:

[code]

Important properties:

1. no errors inlined into output (or, use stderr at least)
2. simple, newline-delimited output that is immediately usable for unix programs

This makes the commands much friendlier to unix scripts -- IDs can be grabbed and fed into e.g. `ipfs dht findpeer` more or less directly! We could still retain a `-s|--simple` option that gives

[2016-03-24 02:41] mitar opened #2495 "Getting "no addresses on peer being sent!" error"
Just installed the go binary 0.3.11 on my Mac OS X, running daemon like explained in the "getting started" guide, and I see errors in the console:

[code]

Not sure what is this. Is it because I ran `ipfs diag net`?

It seems I am connected well:

[code]

[2016-03-24 07:26] mildred opened #2496 "Build failure (gx dependencies)"
Since commit 97d583dd8f56aabc2eb1c4ae816d4d1f8360972c I get the following build error:

[code]

The problem is similar to another issue I reported in ipfs/go-libp2p#29

[2016-03-24 17:38] guruvan commented on #2401
I'm having a similar issue. (same error messages, just trying to get or pin files, though)
Using go-ipfs 0.4.0-dev, my own guruvan/go-ipfs image
Running on AWS on RancherOS, I've started 3 nodes via docker.
I put a few large files with a directory/wrap into ipfs from node1 and then tried to pin or get them from the other 2 nodes. All attempts would fail after a certain amount of data transferred.

[2016-03-24 20:19] whyrusleeping opened #2498 "need tests for dns failures and multiple TXT records"
namesys tests should test against dns server failures and also test multiple TXT records per name

[2016-03-24 20:23] whyrusleeping opened #2499 "dht bootstrap test fails randomly on travis"
https://travis-ci.org/ipfs/go-ipfs/jobs/118307290

[2016-03-24 20:25] whyrusleeping opened #2500 "docker tests randomly fail on travis"
https://s3.amazonaws.com/archive.travis-ci.org/jobs/118307291/log.txt

[2016-03-24 20:27] whyrusleeping commented on #2496
did you run `make install` ?

[2016-03-24 20:46] guruvan commented on #2401
OK - so to add some help to the above

node2 & node3 are on the same subnet - node3 failed to transfer the data, while node2 succeeded.

I changed node3 to have a config that uses only the explicitly desired interface, I used the PrivateIPv4, restarted the daemon. This ALSO was not successful, so I explicitly added node2 via `ipfs swarm connect` with the node2 private ipv4 as well. This ALSO stall

[2016-03-24 21:08] whyrusleeping commented on #2401
@guruvan we've had a couple issues with docker NAT stuff. I will have more time to help you debug this weekend, but for now heres some tips and things i would try, some of this you might already know (and should serve as help for others with similar issues)

first, note down the peer IDs of all your involved nodes (run `ipfs id`)

To check what peers a given node is connected to, run `ipfs swarm p

[2016-03-25 02:42] guruvan commented on #2401
thank you  - definitely helps in debugging this -
 - a definite issue is that I'm seeing the NAT(gateway) instance's private ipv4 address in my logs. none of the nodes are running on that host. I have forwarded port 4001 to the one NATted host through it.
 - all my nodes have no trouble connecting to either public of private ipv4 addresses. In the case of connecting to the node behind my NAT gatew

[2016-03-25 07:51] jbenet opened #2501 "unknown commands not erroring right"
[code]
wat.

looks like it's feeding `local` into `ipfs refs` somehow?

[2016-03-25 16:47] whyrusleeping commented on #2501
huh... strange. looks like i'll have to go diving into that cli parsing code again... yay :(

[2016-03-25 16:49] rht commented on #2501
If `ipfs local` were an existing command, what would it refer to?

[2016-03-25 22:10] whyrusleeping commented on #2500
Another one; https://s3.amazonaws.com/archive.travis-ci.org/jobs/118335564/log.txt

[2016-03-26 05:54] thomas-gardner commented on #2501
Juan Benet <reply@reply.github.com> / 2016-03-25 00:51:12-0700

The above commit fixes this hole (RFC).

Presently the root options flags can be specified _anywhere_ in the input line,
which is not standard practice (e.g.:

	`git -C <path> status` vs. `git status -C <path>`

) and makes error reporting somewhat unpredictable, (e.g.: Should

	ipfs --bool foo

identify that `--bool` isn't an option

[2016-03-26 08:43] slothbag opened #2507 "DHT issues right now"
There appears to be some sort of problems with the DHT part of IPFS. I add some content to one node and another external node cannot get the content. I had to manually issue a ipfs swarm connect command, once connected the remote node could get the content.

I have tried with two peers on a LAN, two peers on port forwarded internet addresses.. same problem.

Either a problem exists with the DHT pe

[2016-03-26 08:58] slothbag commented on #2507
I'm getting this error after a long wait..

[code]

[2016-03-26 11:39] lamarpavel commented on #2507
I recently had the same issue but blamed it on my university network. I was trying to get things working with a few friends at university - two of us added different text files to IPFS and one of the others could get one of those text files but not the other, while no one else could get either. We also got the same Error as you.

Back at home I tried the same thing in my LAN with two laptops and i

[2016-03-26 14:29] thomas-gardner commented on #2501
(Re-posted since email reply is butchered by Github parsing.)

=0= The above commit fixes this hole (RFC).

=1= Presently the root options flags can be specified _anywhere_ in the input line,
which is not standard practice (e.g.:

	`git -C <path> status` vs. `git status -C <path>`

) and makes error reporting somewhat unpredictable (e.g.: Should

    ipfs --bool foo

identify that `--bool` isn't a

[2016-03-27 02:33] iav opened #2508 "ipfs need to allow sharing of filles already on filesystem without moving them into own storage"
ipfs need to allow sharing of filles already on filesystem without moving them into own storage.
Like older filesharing system, like eMule or DirectConnect.

Use-case: a big three with files located on server. Files accessible via http server and possible kind of other services, like ftp etc. What means - that file collection want to be accessible via ipfs, but should still be placed on filesystem

[2016-03-27 03:18] whyrusleeping commented on #2508
take a look at #875

[2016-03-27 03:20] iav commented on #2508
Sure. Sorry.

[2016-03-27 03:20] #2508 closed

[2016-03-28 00:27] whyrusleeping commented on #2507
I've also noticed issues with discovery and NAT traversal lately. I've been trying to find time to narrow down the issue. I wrote up some debugging tips here: https://github.com/ipfs/go-ipfs/issues/2401#issuecomment-201021451

If anyone wants to help out and try to reproduce the issue, maybe write up different scenarios things work in vs things not working, that would be amazingly helpful.

[2016-03-28 00:31] whyrusleeping opened #2509 "NAT Connectivity and Discoverability Issues"
People have been noticing issues with connectivity through NATs lately. Lets use this issue to track those issues, and provide debugging information/tips/tricks.

[2016-03-28 00:32] whyrusleeping commented on #2509
Some tips i've posted in a different issue before:

first, note down the peer IDs of all your involved nodes (run `ipfs id`)

To check what peers a given node is connected to, run `ipfs swarm peers` and search for the peer IDs at the end of addresses for the ones youre interested in.

To check connectivity to a given node, i normally start at an ipfs node that i know has good connectivity (my vps

[2016-03-28 00:33] whyrusleeping commented on #2401
@guruvan thanks for the testing! I started an issue to help track these issues and debugging efforts, if you have any other feedback, post it for us there (your help is very much appreciated!)

#2509

[2016-03-28 00:33] whyrusleeping commented on #2507
Tracking these issues in #2509

[2016-03-28 01:26] whyrusleeping commented on #2509
i have thought about designing a NAT test lab, notes here: https://gist.github.com/whyrusleeping/a0ab8df68d1020df32c6

[2016-03-28 06:32] mitar commented on #2401
I was doing `ipfs dht findpeer` and I got at the end:

[code]

Not sure if helpful.

[2016-03-28 09:48] chriscool commented on #2500
This is a Docker image build failure:

[code]

[2016-03-28 09:59] chriscool opened #2510 "'make install' fails with 'dial tcp 127.0.0.1:5001: getsockopt: connection refused'"
I get this error now:

[code]

[2016-03-28 17:47] Stebalien commented on #2510
Assuming you're building from git, what commit are you trying to build (`git rev-parse HEAD`)? `gx` should be using `v04x.ipfs.io`, not `localhost:5001`.

The underlying issue is that, at some time in the past, you ran an IPFS daemon which created `~/.ipfs/api` (indicating that there is an IPFS API running at `localhost:5001`) but the IPFS daemon didn't delete this file when it exited. See #2395.

[2016-03-28 18:24] chriscool commented on #2510
[code]

but I also tried v0.4.0-rc3 and I get the same error.

[2016-03-28 19:40] whyrusleeping commented on #2510
thats bizarre... @chriscool could you try deleting ~/.ipfs/api and try again?

[2016-03-28 19:58] chriscool commented on #2510
Yeah, it works better after deleting ~/.ipfs/api.
It blocked twice, but after killing and restarted it completed.
Thanks!

[2016-03-28 19:59] whyrusleeping commented on #2510
i'm gonna go ahead and blame the gateways for that...

[2016-03-28 19:59] #2510 closed

[2016-03-28 20:06] whyrusleeping opened #2512 "dht TestGetFailure fails randomly"
https://travis-ci.org/ipfs/go-ipfs/jobs/119018106

[2016-03-28 20:31] mitar opened #2513 "UTF8 normalization of name in IPFSLink"
I do not see any mention of names inside IPFSLink being normalized. It [seems this is not done automatically by Go](https://blog.golang.org/normalization). But this is pretty tricky in file-systems. For example, Mac OS X filesystem has different default UTF8 normalization than Linux. I had issues in the past with this when mounting network file-systems. That I could end up with two files with visu

[2016-03-28 20:33] mitar commented on #288
hfs is case insensitive, but case preserving. You can still store files with different case, you just cannot have two files which have name different only in case.

[2016-03-28 20:34] mitar commented on #2013
What about if IPFSLink would have name be an array of strings? And not a string? So a path? You can then concat that based on the local path separator for display.

[2016-03-28 20:35] mitar commented on #2013
(You can see this is as a linearization of a path tree.)

[2016-03-28 20:56] lgierth commented on #2510
This is being left behind by double-ctrl-c'ing I think. We should maybe decouple non-daemon tools from IPFS_PATH.

[2016-03-28 21:41] Anthonyzou opened #2514 "Integrity checks and recovery"
If I were to pin a file/directory e.g. `ipfs pin add /ipfs/QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG` and the `~/.ipfs` directory were to get **corrupted or edited** for whatever reason. Trying to access these files would lead to the error
`Error: incorrectly formatted merkledag node: Unmarshal failed. unexpected EOF`

I cant even run an `ipfs pin rm /ipfs/QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz

[2016-03-28 22:11] slothbag commented on #2509
I keep getting too many files open errors on my ipfs daemon.. not sure if this is related.

[2016-03-29 02:47] VictorBjelkholm commented on #2071
Yeah, would be good to have. Currently, you cannot get the real size in anyway, without first downloading the file, which kind of defeats the purpose to be able to see the size.

[2016-03-29 05:24] whyrusleeping commented on #2514
:+1: to this, we've wanted an `ipfs repo fsck` for a while. I'll see about prioritizing that.

[2016-03-29 05:26] whyrusleeping commented on #2071
@VictorBjelkholm you should be able to see the real size of a file by grabbing just the root block of it. The merkledag protobuf gives you the cumulative size, and if you decode its data segment as a [unixfs protobuf](https://github.com/ipfs/go-ipfs/blob/master/unixfs/pb/unixfs.proto) then the filesize field there will give you the info you need.

[2016-03-29 05:39] VictorBjelkholm commented on #2071
@whyrusleeping ah, sorry, meant directory. It's related to the deduped size vs the real size I'm betting on.

How these sizes are related?

[code]

672729 (672 KB, no?) vs 770.00 KB vs 1.1M

[2016-03-29 05:51] whyrusleeping commented on #2509
@slothbag hrm... getting the too many open files error will definitely cause issues with dht connectivity.

[2016-03-29 05:56] whyrusleeping commented on #2071
@VictorBjelkholm interesting. What is in that hash? When i do a similar thing, I get a valid looking result:
[code]

[2016-03-29 05:59] whyrusleeping commented on #2509
An irc user noted issues after seeing the mdns 'failed to bind unicast' error. Theres likely some correlation here.

[2016-03-29 06:00] VictorBjelkholm commented on #2071
@whyrusleeping it's the package `async`, built from source here: https://github.com/caolan/async

If you're interested in the contents of the hash: https://ipfs.io/ipfs/QmUV6jhcUWK8ghvUq7wU9q7sWajXu3UzJfBwKpx2Qm9PJF

I did try again with a different directory and got much closer results (ipfs object stat and ipfs add being identical but du showing different size)

[code]

[2016-03-29 06:00] VictorBjelkholm commented on #2071
@whyrusleeping it's the package `async`, built from source here: https://github.com/caolan/async

If you're interested in the contents of the hash: https://ipfs.io/ipfs/QmUV6jhcUWK8ghvUq7wU9q7sWajXu3UzJfBwKpx2Qm9PJF

I did try again with a different directory and got much closer results (ipfs object stat and ipfs add being identical but du showing different size)

[code]

[2016-03-29 16:26] whyrusleeping commented on #2509
The issue appears to be a file descriptor leak in the utp codebase (thanks for the tip @slothbag it really helped!)

A temporary workaround (while i'm working on an official fix) is to add a utp swarm addr to your swarm address config.

In `~/.ipfs/config` (or `$IPFS_PATH/config`) locate the `Addresses.Swarm` list and add something like `"/ip4/0.0.0.0/udp/4002/utp"` to it.

After that value is set

[2016-03-29 20:50] guruvan commented on #2401
@whyrusleeping - Thanks - I think I have it sorta working, but it's not clear what's going on.

I will put more notes in 2509

[2016-03-29 20:56] whyrusleeping commented on #2401
@guruvan take a look at #2509 I think I have a solution

[2016-03-29 21:04] guruvan commented on #2509
so from our other beginning to this issue - a couple quick notes:
 - definitely a "for sure" is go-ipfs is having difficulty with determining correct interface addresses on my AWS machines - it's very very inconsistent how it's pulling in the AWS "public" ipv4 addresses when using this interface.

dht:
  - so far it looks like it's a problem with finding the correct route to the data from the "cli

[2016-03-29 21:06] guruvan commented on #2401
I will test the solution in there later tonight :))

[2016-03-29 21:29] mitar commented on #2509
Is this a regression? Maybe going back in versions to see when it is starting?

[2016-03-30 08:15] slothbag commented on #2509
I did the utp config change and it appears to have fixed the issue.. nice find!

[2016-03-30 09:42] jefft0 commented on #875
In issue #2053, jbenet said "by extending IPLD to allow just raw data edge nodes, we can make #875 easy to implement". What is the status of using raw data edge nodes?

[2016-03-30 15:20] Stebalien commented on #2468
Would it be acceptable to return a JSON error?

[2016-03-30 15:57] RichardLitt commented on #2468
Sure. But that needs to be returned.

[2016-03-30 19:37] Mithgol commented on #875
To avoid duplicating files, two features are necessary:

* **publishing files to IPFS without duplicating** (i.e. such files are shared from their original locations, without any duplicates in the special IPFS storage),

* **saving files from IPFS without duplicating** (i.e. such files are shared from the locations chosen for their saving, their original versions in the special IPFS storage are de

[2016-03-30 19:51] Kubuxu commented on #875
Second one of those features will be hard to achieve as files might be sharded in many different ways which mean that some smart system of storing the wrapping data and pointer to raw data would have to be created.

Also I don't see those features being feasible on non CoW filesystems.

[2016-03-30 23:07] slothbag commented on #2507
Will track other issue. thanks.

[2016-03-30 23:07] #2507 closed

[2016-03-30 23:31] jefft0 commented on #875
Is there an issue to discuss extending IPLD to allow just raw data edge nodes? This would be a basic part of the implementation.

[2016-03-30 23:54] whyrusleeping commented on #2509
fixes to the utp lib have been merged into master, so pull the latest down and run `make install` (new gx deps).

Please let me know how things go.

[2016-03-31 00:56] guruvan commented on #2509
Added the utp change, added the port to my security groups.
With a node set with a single known peer of my own (didn't notice this or I'd have reset to default)
- running in docker with `--net host` (on AWS)
- hosts are rancheros - 2 docker daemons present
- these examples  are hosts in an AWS VPC, on a publicly exposed network, not subject to my NAT

- curling a file the node doesn't have yet (of

[2016-03-31 11:43] who-am-1 opened #2518 "swarm 0"
"AgentVersion": "go-ipfs/0.3.11"
I do ipfs init, ipfs daemon
I can open readme, locally added files, but I can't open links on browser from quick-start.
ipfs swarm peers is empty
I have openwrt router

[2016-03-31 17:39] atommixz commented on #2518
looks like upnp work's properly https://ipfs.pics/QmZmQ5vjaRPwv6eSVXEZ8jrkX5iazV3t7V87Woe78Gr4hC
192.168.1.200 it's my pc with empty swarm

[2016-03-31 17:56] whyrusleeping commented on #2518
are you behind a vpn?

[2016-03-31 17:58] atommixz commented on #2518
no, I behind openwrt router, he connected to provider with ipoe and dhcp

[2016-03-31 17:59] whyrusleeping commented on #2518
could you try running:
[code]

And let me know if any of them error?

[2016-03-31 18:01] atommixz commented on #2518
[code]

[2016-03-31 18:02] whyrusleeping commented on #2518
interesting... could you restart your daemon and try things again?

[2016-03-31 18:04] atommixz commented on #2518
[code]

[2016-03-31 18:05] atommixz commented on #2518
i can try update openwrt 15.05 to 15.05.1

[2016-03-31 18:05] whyrusleeping commented on #2518
wow. those are some super helpful error messages...

Its not going to be an issue with openwrt

[2016-03-31 18:05] atommixz commented on #2518
or install ipfs from git

[2016-03-31 18:07] whyrusleeping commented on #2518
alright, one more thing to try, a bit more involved debugging:

kill your ipfs daemon, and then in the terminal youre running it from, set `IPFS_LOGGING` to `debug`, and run the daemon with `ipfs daemon 2> ipfs.log`.

then try the connections again, if they fail, kill the daemon and send me that logfile in a pastebin

[2016-03-31 18:15] atommixz commented on #2518
http://ix.io/vqO

[2016-03-31 18:20] whyrusleeping commented on #2518
thats bizarre. zero indication of why the dial fails...

Could you try using an ipfs binary from http://dist.ipfs.io ?

[2016-03-31 20:16] RichardLitt commented on #2508
@iav No worries! There are a ton of issues, it's easy to get lost. :)

[2016-03-31 22:46] atommixz commented on #2518
I used go-ipfs_v0.3.11_linux-amd64.tar.gz
http://ix.io/vrf/

[2016-04-01 02:29] slothbag commented on #2509
Updated local and remote IPFS node with latest UTP fixes.  Local node is behind NAT but has port forwarding for IPFS.

I dont seem to get the "too many files in use" error anymore, however the discover-ability is still not working.  I have been trying to pin a object for an hour and it cant find it.

Problem still exists.

[2016-04-01 04:42] slothbag commented on #2509
ipfs dht findpeer returns a list if ip addresses... a mixture of my LAN ip and my external IP, but the correct incoming port is on the LAN ip and all the external IPs have incorrect ports.

[2016-04-01 04:51] whyrusleeping commented on #2509
@slothbag thats awesome information for me to have, thank you!

[2016-04-01 11:20] atommixz commented on #2518
also I can't open webui with FF and chromium, just infinite loading blank page
git version (same with v0.3.11) ix.io/vrW

[2016-04-01 12:10] slothbag commented on #1582
Hey guys, me and TrekDev have been discussing this issue.. whats the consensus here?  Is `ipfs object put` suppose to just accept base64 and decode it internally on receive? Or will it continue to accept plain text?

[2016-04-01 14:41] whyrusleeping commented on #1582
I think the solution here might be to have different encoding types for these workflows. the `json` encoding should have base64 encoded `Data` field all the time, and then we might want to have another type (not sure on naming) that does json, but doesnt base64 encode the data for ease of use.

While we're on this topic, we should think about how ipld will handle this sort of thing...

[2016-04-01 15:20] whyrusleeping commented on #2496
assuming this has been resolved.

[2016-04-01 15:20] #2496 closed

[2016-04-01 20:16] atommixz commented on #2518
I try connect to ipv6 peers (I get it from ipfs on vps), also I try connect to ipv6 in fc00::/8 - I have 4 peers from ipfs on vps
ipfs version 0.4.0-dev http://ix.io/vsF
still empty ipfs swarm peers

[2016-04-01 20:43] atommixz commented on #2518
tomorrow I'll try direct connect (without router), if it will be useless, then my pc is broken. Maybe iommu and eth card

[2016-04-02 09:49] davidar commented on #1582
CBOR distinguishes between bytestrings and unicode (text) strings, so only the former would need to be base64'd when displayed as JSON.

[2016-04-02 11:07] admiral-Guck opened #2521 "CloseNotify called after ServeHTTP finished"
I am encountering a panic when running the daemon and doing certain ipfs operations:

[code]

Using curl to connect to the webui yields this (any url will result in similar weirdness):
[code]

I can `ipfs swarm connect /ipfs/Qm...`, it exits successfully. The daemon crashes immediately after that, though.

At one time, running `ipfs swarm peers` printed these two addresses, then the daemon crashed

[2016-04-02 18:36] palkeo opened #2522 "Literal hash scheme ?"
Hi !

For some data structures that can be stored in IPFS, you will point to other structures and sometimes they can be very small.

Say, you have a filesystem where you point to a hash of the content of the file, but the file can be so small that the hash will be smaller than its content, and you still have to retrieve the block with the content… That's a waste of time and space.

Given that IPFS

[2016-04-02 18:38] lgierth commented on #2522
Yes, we want this and are tracking the discussion in jbenet/multihash#13

[2016-04-02 18:38] #2522 closed

[2016-04-03 14:08] KrishnaPG opened #2524 "FAQ?"
Couldn't find any FAQ section on the IPFS.io website- anyone know the location where FAQ are documented for IPFS?

For example,
- Does IPFS support ACLs or all the files put on IPFS are accessible by all without restriction? What is the recommended way to achieve secure / privacy in the later case?
- Where can we find more info on the Gateway? We would like to support the existing [gateway.ipfs.io

[2016-04-03 14:46] iav commented on #1974
So, now I have the same as topicstarter.
ipfs version 0.3.11
Running  on Raspberry Pi 1GB ram, raspbian.
Funny:
[code]
How can I recover without lost of my pins?

[2016-04-03 17:27] Kubuxu commented on #2524
hee is FAQ section https://github.com/ipfs/faq/issues/

[2016-04-03 20:39] RichardLitt commented on #2524
Thanks for pointing this out @KrishnaPG - we need to work on that. The FAQ is indeed at ipfs/faq. I would suggest reopening these questions there, because they aren't go-ipfs specific.

[2016-04-03 20:39] #2524 closed

[2016-04-03 21:46] lgierth commented on #1974
@lav this happens if you double-ctrl-c or kill the daemon -- it'll leave behind the `~/.ipfs/api` file, you can simply delete that one and it'll continue to work.

[2016-04-03 22:14] Kubuxu commented on #2239
Config should include following as defaults for CORS to be supported:
[code]

Prefferably before 0.4.0 is released.

[2016-04-03 23:20] chriscool opened #2525 "iptb dependency"
It looks like iptb code is both in https://github.com/ipfs/go-ipfs/tree/master/test/dependencies/iptb and in https://github.com/ipfs/go-ipfs/tree/master/Godeps/_workspace/src/github.com/whyrusleeping/iptb/util

I wonder if it would be possible to have everything in one place.

[2016-04-03 23:22] chriscool commented on #2525
By the way once all my recent iptb PRs are merged I'd like to upgrade the iptb dependency to the latest version, and it would help if I could do it simply in one place.

cc @whyrusleeping

[2016-04-03 23:35] iav commented on #1974
ok, now I delete  `~/.ipfs/api` and run
[code]
Then I remove `LOCK` file in `~/.ipfs/datastore`. Nothing changed.
What's next?

[2016-04-04 03:51] whyrusleeping commented on #2525
The 'main' code is in test/dependencies, the 'lib' is in Godeps. I agree its not ideal... We could probably move the lib back to test/dependencies and rewrite the paths in the 'main' code to point there instead.

[2016-04-04 12:38] atommixz commented on #2518
So, I do direct-connect internet to my pc, just do 'sudo dhcpcd -n <interface> and I got internet. I try to use binary from http://dist.ipfs.io, but all the same. I try to use peers as u say, over ipfs swarm connect. It's not work for my pc. Also I try disable iommu in BIOS and use iommu=soft, it's just not work for me.

I can telnet from vps to my pc on 4001 port, and looks like it works http://i

[2016-04-04 14:04] atommixz commented on #2518
good news everyone! I can connect on my PC to some peers from my vps (not all), over openwrt router and upnp, also i can connect to my VPS over cjdns. After I connect to 1 peer, I get many peers. No idea why I can connect to one, but I can not connect to another.
What do you think about it?
U can close this issue.

[2016-04-04 14:09] atommixz commented on #2518
The question is, why my ipfs on desktop can not connect to peers of the bootstrap list

[2016-04-04 14:12] atommixz commented on #2518
peer list on my PC http://ix.io/vxn

[2016-04-04 15:19] dignifiedquire commented on #1744
@jbenet @whyrusleeping the PR from @diasdavid was merged, can we close this?

[2016-04-04 17:45] area opened #2527 "ipfs name resolve --local errors with 'multihash too short'"
I'm trying to use the feature documented https://github.com/ipfs/go-ipfs/pull/1834

`ipfs name resolve <id>` resolves (eventually) as normal, but `ipfs name resolve --local <id>` gives `Error: multihash too short. must be > 3 bytes`. Do I need some further setup to be able to use `--local`?

[2016-04-04 17:53] diasdavid commented on #1744
sure :) (https://github.com/ipfs/js-ipfsd-ctl/issues/18 is unblocked ;))

[2016-04-04 17:53] #1744 closed

[2016-04-04 20:44] whyrusleeping commented on #2464
fixed in latest update of utp

[2016-04-04 20:44] #2464 closed

[2016-04-04 21:46] lgierth opened #2528 "sharness: t0235-cli-request failure"
Passed on TeamCity, failed on CircleCI: https://circleci.com/gh/ipfs/go-ipfs/3348

[code]

[2016-04-05 10:25] area commented on #2521
I'm seeing similar behaviour with go 1.5.3, ipfs 0.3.11 from homebrew on 10.11.3

[2016-04-05 12:57] admiral-Guck commented on #2521
Should have noted everything was running smoothly not long ago. Can't recall exactly when this started, though it was around the time I first installed the firefox plugin.

[2016-04-05 14:21] whyrusleeping commented on #2521
The close notify issues have been fixed in master. We will be shipping a new version soon which shouldn't have the mentioned bug. If you could try out latest master for me and report back, that would be super helpful

[2016-04-05 14:22] whyrusleeping commented on #2528
This look like netcat got into a port conflict.

[2016-04-05 14:24] whyrusleeping commented on #2527
huh. That does look like a bug... thanks for reporting!

[2016-04-05 14:25] admiral-Guck commented on #2521
I've just tried 0.4.0-dev, all good!

Thanks

Jeromy Johnson:

[2016-04-05 23:24] whyrusleeping commented on #2434
This will require work in github.com/ipfs/go-log to expose the list of existing logger subsystems

[2016-04-05 23:25] whyrusleeping commented on #2426
fixed

[2016-04-05 23:25] #2426 closed

[2016-04-06 00:15] whyrusleeping commented on #2393
`ipfs daemon --offline` could construct an 'offline' node (the same way we do when running a command without the daemon) but still run the http api. This should happen soon!

[2016-04-06 00:16] whyrusleeping commented on #2379
This has been fixed :)

[2016-04-06 00:16] #2379 closed

[2016-04-06 00:16] whyrusleeping commented on #2375
this has been mostly fixed

[2016-04-06 00:17] whyrusleeping commented on #2355
you can use port zero and it will randomly select one on daemon start

[2016-04-06 00:17] #2339 closed

[2016-04-06 00:19] whyrusleeping commented on #2317
yes, you need to multistream into bitswap or the dht or any other protocol

[2016-04-06 00:20] whyrusleeping commented on #2264
we do this now

[2016-04-06 00:20] #2264 closed

[2016-04-06 00:21] #2263 closed

[2016-04-06 00:21] whyrusleeping commented on #2262
these methods have been removed

[2016-04-06 00:21] #2262 closed

[2016-04-06 00:21] whyrusleeping commented on #2252
this has been resolved

[2016-04-06 00:21] #2252 closed

[2016-04-06 00:22] whyrusleeping commented on #2250
I beleive this has been resolved

[2016-04-06 00:22] #2250 closed

[2016-04-06 00:23] #2227 closed

[2016-04-06 01:22] diasdavid commented on #2317
❤️

[2016-04-06 01:22] #2317 closed

[2016-04-06 16:15] RichardLitt commented on #2375
@whyrusleeping That's not useful. What hasn't been fixed?

[2016-04-06 16:16] whyrusleeping commented on #2375
its like good and okay now for the most part. the new hang issues are gateway related and not gx related

[2016-04-06 16:17] #2375 closed

[2016-04-06 17:12] vitzli opened #2530 "ipfs add -r -n does not output top/sub directories"
Current version of ipfs (0.4.0-dev) built from source, go 1.6, built on Debian Stretch amd64, running on Debian Jessie amd64

`ipfs add -r -n` does not output either top or subdirectories when the command is executed on directory, while `ipfs add -r` works.

script:
[code]

output:
[code]

[2016-04-06 19:01] noffle commented on #2530
Nice catch -- you're right! It looks like we [bail before finalizing the FileAdder](https://github.com/ipfs/go-ipfs/blob/master/core/commands/add.go#L166), which is where we [output the directories](https://github.com/ipfs/go-ipfs/blob/master/core/coreunix/add.go#L193).

[2016-04-07 17:23] whyrusleeping opened #2533 "bitswap test hang"
https://travis-ci.org/ipfs/go-ipfs/jobs/121346222

[2016-04-08 05:16] jbenet commented on #2334
# Yes. 0.4.0 shipped.

http://blog.ipfs.io/14-ipfs-0-4-0-released/

![](https://ipfs.io/ipfs/QmXG2LtKSWaRBw2yEbN1H7aZGC5f57ZmJFJmLSkFAL5LWo/0.4.0-shipped.jpg)

[2016-04-08 05:16] #2334 closed

[2016-04-08 05:17] jbenet commented on #2334
# Thanks to everyone who contributed to this huge release

[2016-04-08 05:50] sterpe opened #2534 "v0.4.0 fresh install fails."
`go get -d github.com/ipfs/go-ipfs`
`cd `
`make toolkit_upgrade`
`make install`

Terminates like this:

[code]

[2016-04-08 05:52] sterpe commented on #2534
v0.4.0-rc3 seems to install ok.

[2016-04-08 06:22] whyrusleeping commented on #2534
odd... looks like some gx related thing failed.. could you try `rm -rf $GOPATH/src/gx/` and rerun `make install` ?

[2016-04-08 08:24] sterpe commented on #2534
Yes.  That seemed to fix it.

[2016-04-08 08:24] #2534 closed

[2016-04-08 15:12] cpacia opened #2535 "ipns resolve locally"
Question, does the IPNS query resolve locally if you query for your own peer ID? Specially I care about on the gateway, but it could be in the api as well. Or does it always do a DHT crawl?

If it does a DHT crawl can it be made to just resolve it locally to save some time?

[2016-04-08 18:20] noffle commented on #2402
Agreed: commands /wo subcommands should just run. *But*, ones that have subcommands should show them.

Also agreed: we should show short-help instead of long-help here.

[2016-04-08 18:24] noffle commented on #2420
What is the motivation behind `ipfs commands`? Is this for other unix tools to consume, or is it intended for humans?

[2016-04-08 18:28] noffle commented on #2408
@dignifiedquire Agreed! Subcommand discoverability and short-help where ever possible! I think this notion is captured by #2402.

[2016-04-08 21:08] whyrusleeping opened #2539 "TestKeyTranslation failed"
This is an awfully strange failure: https://circleci.com/gh/ipfs/go-ipfs/3417

I've never seen it before.

[2016-04-08 22:56] kevinmartinmauro opened #2540 "IPFS swam peers no response"
-- IPFS daemon is running another window. Firewall has unblocked ipfs.exe
-- "ipfs swarm peers" returns no response
-- set-up was followed as described in http://ipfs.io/docs/getting-started/
-- Files are able to be hosted locally, it's just the connection part

This is using Windows 64-bit binary. About to try it with 32-bit.

Contrarily to the issue below, "ipfs swarm peers" returns no response,

[2016-04-08 23:59] mitzip commented on #2540
Same here after upgrade to 0.4

[2016-04-09 00:02] kevinmartinmauro commented on #2540
I switched to 32-bit binary, and also waited about 10minutes starting the Daemon, and I ended up connecting. Not sure which of these was the trick

[2016-04-09 00:11] sterpe commented on #2540
I have same
[code]
Building from source on OS X El Capitan

[2016-04-09 00:40] mitzip commented on #2540
$ lsof -i -n -P | grep ipfs

The above command shows lots of established connections for ipfs, but

$ ipfs swarm peers

Shows nothing

I got mine as a pre-built binary.

[2016-04-09 01:46] sterpe commented on #2540
I am seeing some peers now with (0.4.1-dev)

[2016-04-09 02:28] kevinmartinmauro commented on #2540
^  Yea I think it just takes a while to connect. I will close this issue later this weekend after being sure

[2016-04-09 02:34] sterpe commented on #2540
If I kill the daemon then restart it -- Same thing...30/40 minutes or longer before swarm peers reports anything.

[2016-04-09 04:12] interfect commented on #2540
It shouldn't take this long to connect, though. 0.3 didn't. I would class this as a regression, though whether it's really a code thing or caused by the bootstrappers (or just what happens when you don't have many compatible peers) remains to be determined.

[2016-04-09 04:28] interfect opened #2543 "ipfs swarm connect fails immediately with "dial back off""
I'm trying to debug/work around #2540, by manually convincing my IPFS to try connecting to some peers. I have the Windows x64 binary for 0.4.0.

When I try to use `ipfs swarm connect` to force a connection to a peer, it will sometimes fail immediately with a `dial back off` message:
[code]

A few more tries of the command gets it to actually do something:
[code]
(I think in this case it isn't work

[2016-04-09 04:47] interfect commented on #2540
OK, I think what's happening is that all the bootstrap peers are still running v0.3 on the default ports, and v0.4 on the alternate ports. I did this and managed to get connected immediately:

First start the daemon:
[code]

In another terminal, remove all the bootstrap peers:
[code]

Then kill the daemon (ctrl+c). Then re-start it:
[code]

Then (while IPFS is not stuck constantly dialing the wron

[2016-04-09 05:44] sterpe commented on #2540
Perfect.  Thanks.

`ipfs bootstrap | sed 's/.*/ipfs bootstrap rm &/' | bash`

[2016-04-09 07:57] jbenet commented on #2540
Thanks for reporting, everyone. Cc @lgierth @whyrusleeping

[2016-04-09 10:00] TheNain38 commented on #2457
I think that when starting IPFS should try to remove stale lock file, by searching if the a proccessus with the owner's PID exists, if it doesn't, then it should remove the `repo.lock` file and start normally

[2016-04-09 11:58] Kubuxu opened #2544 "Build-in notes for pins."
It might be out of the scope but it would be great if pins could have notes with them.

Countless times I wondered what the file is, and what it does in IPFS, it is even worst if it is only plain file and not directory, so here is my proposal.

Optional notes that can be added while pinning (in similar fashion pin-bot has it), if file is being added also allow to specify note for the pin and if no

[2016-04-09 17:06] kbtombul commented on #2540
I think I found the offending peers, all the others can be connected with ipfs swarm connect but these two, they either time-out or give connection refused error:
/ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ
/ip4/104.236.176.52/tcp/4001/ipfs/QmSoLnSGccFuZQJzRadHn95W2CrSFmZuTdDWP8HXaHca9z

Once I removed those two everything went back to normal.

[2016-04-09 18:45] kbtombul commented on #2543
I don't think that's the case, I was able to connect to that peer right after getting that error.

[2016-04-09 20:06] whyrusleeping commented on #2540
what operating systems is everyone running with the delayed connection issue?

[2016-04-09 20:26] sterpe commented on #2540
El capitan, building from src, but same when using either 32 or 64 bit binaries

[2016-04-09 21:08] mitzip commented on #2540
pre-built 64bit linux

[2016-04-10 06:17] whyrusleeping commented on #2540
Thanks for reporting, found the issue. the old 0.4.0-dev nodes are dialing to the new 0.4.0 release and hanging (since they don't understand eachother). This causes further accepts to block.

I've pushed a patch to libp2p here: https://github.com/ipfs/go-libp2p/pull/35 and will merge that into ipfs once its reviewed (hopefully tomorrow)

[2016-04-10 20:34] EliasGabrielsson commented on #2543
I have similar experience. First time I run `ipfs daemon`everything worked but next time it failed to get any peers and `ipfs connect` throw dial backoff.

`ipfs-update install v0.4.0` - Success
`ipfs init` - New repo, success
`ipfs daemon` - Connected to 30 peers, success
`Ctrl + c` - Closed daemon, success.
`ipfs daemon` - **Failed**, no peers

[code]

[2016-04-10 20:40] whyrusleeping commented on #2543
mars has a patch currently that should help, you can `ipfs swarm connect /ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ` and things should work as expected.

[2016-04-11 02:14] lgierth commented on #2329
Yep I can confirm this is an issue, looking into it

[2016-04-11 08:36] EliasGabrielsson commented on #2543
I tried above command with this error:
[code]

How could I see a more verbose error log?

[2016-04-11 17:38] EliasGabrielsson opened #2546 "ipsf cat - Strange output"
Input:
[code]

Expected output same as:
[code]

Got this output:
[code]

Is it me how misunderstand the documentation or is it bug?

[2016-04-11 17:58] noffle commented on #2546
You're close!

`QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG/security-notes` is equivalent to `QmZTR5bcpQD7cFgTorqxZDYaew1Wqgfbd2ud9QqGPAkK2V`, which means you get see the security notes with either

[code]
or
[code]

The `/` delimeter here refers to a link by name, so `QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG/QmZTR5bcpQD7cFgTorqxZDYaew1Wqgfbd2ud9QqGPAkK2V` would only work of the object `Q

[2016-04-11 18:34] neko259 opened #2547 "Memory leak while adding files"
I added 14403 image files (exactly half of them are small thumbnails about 8K size, other vary from 100K to 10M. The overall size is 4.7G. While performing add, ipfs process took RAM and the most was 6G (that is at the completion point). After completion the memory was not freed completely, 2G were still taken by the process. When trying to break the process, the memory was not freed at all and fr

[2016-04-11 20:51] EliasGabrielsson commented on #2546
Ok, is IPLD the right place to get all information how it works:
https://github.com/ipfs/specs/tree/master/ipld?

[2016-04-11 20:51] #2546 closed

[2016-04-11 21:32] noffle commented on #2546
IPLD isn't deployed yet -- we're using a unixfs-like pathing system (using protobufs underneath). The [whitepaper](https://github.com/ipfs/papers/raw/master/ipfs-cap2pfs/ipfs-p2p-file-system.pdf) is one place you might read about this.

[2016-04-11 23:38] lgierth commented on #2533
https://travis-ci.org/ipfs/go-ipfs/jobs/122387768

[2016-04-12 07:45] fzzr- opened #2551 "outdated helptext for ipfs log level"
ipfs version 0.4.0

[code]

But help says:
[code]

[2016-04-12 07:55] fzzr- commented on #2551
And one question: How can I check if daemon is alive?

[2016-04-12 10:26] SCBuergel opened #2552 "`ipfs get` stalling at 1024KB (Windows)"
I am trying to `ipfs get QmaYFLojf84ZqmMR9SMZuwc4X4vL4oKoutjeScHxmeocHM`. It starts downloading but then stalls (I have to kill it via Ctrl+c):

[code]

The complete size of the object is however bigger than that:

[code]

Accessing it via gateway works: https://gateway.ipfs.io/ipfs/QmaYFLojf84ZqmMR9SMZuwc4X4vL4oKoutjeScHxmeocHM

I am running the latest ipfs release (0.4.0) installed from binary d

[2016-04-12 10:32] SCBuergel commented on #2547
Which version of ipfs (check with `ipfs version`) are you running and on which platform? I had that issue [previously](https://github.com/ipfs/go-ipfs/issues/2173) but it should be resolved in the latest version.

[2016-04-12 11:59] neko259 commented on #2547
I tried on 0.3.11 and 0.4-dev from dist on the moment of about a week
ago. If something changed from that point, I can try again.

On 12.04.2016 13:32, Sebastian C. Bürgel wrote:

[2016-04-12 13:23] Kubuxu commented on #2547
There was release of `0.4.0` few days ago so it might have changed.

[2016-04-12 14:46] whyrusleeping commented on #2552
There is a lot that we havent tested on windows, I'm not sure why this would happen but I'm working on getting an azure box so we can run windows CI and test these things

[2016-04-12 14:48] whyrusleeping commented on #2551
It looks like that help text is out of date, there arent fatal and panic levels anymore.

As for best way of checking daemon liveness, i normally run `ipfs id` and make sure that the addresses field isnt null. Having addresses there means your node is online.

[2016-04-12 16:47] cpacia opened #2553 "uTP on IPv4"
Don't know if this is a problem with my machine, but I can't seem to get it to listen on external uTP IPv4.  /ip4/73.89.130.237/udp/4001/utp is never listed in the swarm addrs.

Config:
"Swarm": [
      "/ip4/0.0.0.0/tcp/4001",
      "/ip6/::/tcp/4001",
      "/ip4/0.0.0.0/udp/4001/utp",
      "/ip6/::/udp/4001/utp"
 ]

Addrs:
Swarm listening on /ip4/127.0.0.1/tcp/4001
Swarm listening on /ip4/127.

[2016-04-12 17:36] fzzr- commented on #2551
@whyrusleeping Thank you. I now do it that way.

[2016-04-12 17:39] fzzr- commented on #2551
https://github.com/ipfs/go-ipfs/blob/2b6da0c024f28abeb16947fb452787196a6b56a2/core/commands/log.go#L45-L47

[2016-04-12 18:55] neko259 commented on #2547
Seems working indeed.

[2016-04-12 18:55] #2547 closed

[2016-04-13 00:27] whyrusleeping opened #2556 "t0130 hangs occasionally on utp tests"
https://travis-ci.org/ipfs/go-ipfs/jobs/122655102

Since the exact same test using tcp works fine, i'm going to lean towards blaming utp for this.

[2016-04-13 00:28] whyrusleeping commented on #2553
interesting... good catch. This might be part of an underlying NAT issue.

[2016-04-13 00:29] whyrusleeping commented on #2544
I would love to have something like this. The only real question is where/how to store the information. Any thoughts on that?

[2016-04-13 04:03] kevina commented on #875
I am still trying to understand IPFS internals.  However, I believe that by using hard links it should be possible to both add and retrieve files stored on the same file system without duplication.  It will require a new datastore implementation that stores the Data component of the unixfs_pb.Data object separately.

The idea is that when adding a file the path of the file is passed down to the Da

[2016-04-13 07:36] jefft0 commented on #875
In my case, hard links to files on the same volume won't work. I need the option to not duplicate files added to IPFS precisely because I have a lot of large files across many connected volumes. In any case, I don't understand your idea to use either Unix symbolic or hard links. How can it link to just a 250KB slice of another file? I think you need to put a stub for the 250K block in the repo tha

[2016-04-13 07:40] kevina commented on #875
@jefft0

That is basically what I intend to do.  Sorry if that was not clear.

[2016-04-13 07:54] atommixz commented on #875
You just do not have anything to duplicate the data in the database, it's that simple. You have to work with real data, without the duplication of data in database. Use hardlink is a bad idea.

[2016-04-13 08:15] jefft0 commented on #875
What do you think of jbenet's issue #2053 suggestion to use "raw data edge nodes" so that the 250K block is just the slice? Otherwise, when serving the block you would have to prepend and append CBOR bytes to make it an IPLD object. (I made a [pull request](https://github.com/ipfs/specs/pull/93).)

[2016-04-13 10:37] vitzli commented on #875
In my opinion, 'write' requirement for the large file filesystem violates principle of least authority, be it a hardlink/reflink or git-annex-style symlinks. Also, there is absolutely no guarantee that .ipfs directory and file storage are going to be on the same filesystem. And more likely than not it's going to be a remote (Samba, NFS, Ceph, GlusterFS, Lustre, what else?), read-only filesystem (n

[2016-04-13 14:33] jefft0 commented on #875
I agree it is difficult and a security concern to write files fetched from IPFS without duplicating. My only use case is to publish: Some option like `ipfs add --no-copy BigFile.mp4`. When someone else gets the file, it's OK with me if IPFS stores it in chunks in their repo.

[2016-04-13 15:00] RichardLitt commented on #2540
Is this fixed, now that that was merged?

[2016-04-13 15:02] RichardLitt commented on #2420
@noffle We use it to build the website, IIRC.

[2016-04-13 15:57] whyrusleeping commented on #2535
It by default will always crawl the dht, unless the value is cached (given the caching rules and TTL set on the record). But there is a `--local` flag you can pass to `ipfs name resolve` to have it only use information you have locally.

[2016-04-13 16:11] whyrusleeping commented on #875
@kevina Go ahead and give it a shot, if you need any help or have any questions definitely let me  know (can always message me in irc).

Some things that might help out:

- flatfs code: https://github.com/jbenet/go-datastore/tree/master/flatfs
  - this is our current on disk storage engine where data blocks are written
- datastore creation: https://github.com/ipfs/go-ipfs/blob/master/repo/fsrepo/d

[2016-04-13 16:23] RichardLitt commented on #2420
Specifically, [here](https://github.com/ipfs/website/blob/master/src/ipfs.io/docs/commands/Makefile).

[2016-04-13 16:29] noffle commented on #2420
Ah ha! So that we can get https://ipfs.io/docs/commands/ -- got it.

[2016-04-13 17:02] cpacia commented on #2535
What are the caching rules? For example, when does it stop pulling from cache and make another dht crawl?

Also, the use case I'm thinking of is in openbazaar the UI can query: /ipns/<peerid>/ to view a store, but it would make it easier from an implementation standpoint if viewing your own store used the same api call: /ipns/<ownpeerid>

But that looks like it hits the dht every time. I was able

[2016-04-13 17:52] whyrusleeping commented on #2494
Heres what I would like to see as output for the various subcommands of `ipfs dht`

- ipfs dht findprovs
  - defaults to listing full peerIDs of providers, one per line
- ipfs dht findpeer
  - defaults to just listing multiaddrs discovered for the given peer, one per line
- ipfs dht get <val>
  - defaults to just outputting the single best value selected for that key
  - an option to output every

[2016-04-13 18:28] noffle commented on #2494
What format would you like to see for a `PeerID`?

 - `QmRc5iJERYKMjFsJ57jsxJhUjf86HL1WyqrQBTJrCCAnKN`
 - `/ipfs/QmRc5iJERYKMjFsJ57jsxJhUjf86HL1WyqrQBTJrCCAnKN`
 - `/ip6/2601:646:8500:1f00:7256:81ff:feb1:c7bd/tcp/4001/ipfs/QmRc5iJERYKMjFsJ57jsxJhUjf86HL1WyqrQBTJrCCAnKN`

[2016-04-13 18:30] whyrusleeping commented on #2494
peer IDs are just the Qm... hash

[2016-04-13 18:32] noffle commented on #2494
One more: how about `ipfs dht put`?

[2016-04-13 18:36] whyrusleeping commented on #2494
ehm... i guess it should take input from a file or standard in, and print out the peer IDs of peers that it stored a record with

[2016-04-13 19:06] cpacia opened #2558 "corenet wrong import"
I believe the peer import in core/corenet/net/ should be from go-libp2p-peer. The repo it's pointing to currently doesn't exist.

[2016-04-13 19:13] whyrusleeping commented on #2558
yeah, I just changed that in go-libp2p yesterday. That change hasnt yet been propogated up into go-ipfs, i think @lgierth was planning on doing that today.

[2016-04-13 19:14] cpacia commented on #2558
Ah ok cool. Yeah I was going to say. It looks like there's a log of places where it's using the wrong peer.

[2016-04-13 22:48] noffle commented on #2494
I've tackled most of these with https://github.com/ipfs/go-ipfs/pull/2560, but two trickier pieces remain:

### verbose output to stderr

Since all output comes from the daemon over a single channel, we'll need to wrap its output in a struct or similar so it can be multiplexed to (stdout, stderr) on the receiving end.

### flag to list all records on `ipfs dht get`

Records are generally binary, s

[2016-04-14 02:15] Mithgol commented on #875
@Kubuxu

Let's elaborate it further.

Imagine that the first of these features (**publishing files to IPFS without duplicating**) is implemented in the form `ipfs add --no-copy filename.ext`.

Then the second of these features (**saving files from IPFS without duplicating**) could probably be based on the first. It would be basically the same as running three commands in the following order:

* ip

[2016-04-14 06:53] kevina commented on #875
@whyrusleeping can you elaborate some on this:

I am having a hard time seeing how this will simply things.

[2016-04-14 07:17] Kubuxu commented on #875
@Mithgol not really, the `ipfs cat  $HASH | ipfs add` can give you different result hash than the input. It is due to changes in encoding, sharding and so on.

This will be especially visible when IPLD is implemented as there will be two encodings active in the network.

[2016-04-14 17:42] insanity54 commented on #1718
I'm messing around with creating some software that helps manage a fleet of IPFS nodes. Shipped with the software is some YAML that has a bunch of suggested IPFS multihashes to pin. Static websites with useful information, funny pictures, interesting audio clips, and unique video. There's a chance that some of the multihashes no longer exist on the network, so the command `ipfs pin add -r xxxxxxxx

[2016-04-14 17:54] whyrusleeping commented on #1718
For the record, every ipfs command respects a `--timeout` flag. (feature added july 20th, 2015).
It doesnt show up in any documentation for some reason, we should probably fix that...

[2016-04-14 17:58] whyrusleeping opened #2561 "strange connectivity error"
Trying to ping mars from my desktop (which has a prexisting connection to mars):

[code]

The error appears to come from yamux. Will need to investigate further.

[2016-04-14 23:09] pfista opened #2564 "ipfs name resolve --local missing from commands --flags command"
`local` option was never added to the cmds options for `commands` in  #1834

[2016-04-15 00:48] Mithgol commented on #1718
Okay, then let's the final name for the feature that I've proposed be somewhat different (`--agelimit=…`, for example).

[2016-04-15 08:05] Mithgol commented on #875
This should be seen (and treated) **literally** as a part of the issue currently titled “**avoid duplicating** files added to ipfs”.

If two files are the same (content-wise), then their distribution and storage should be united in IPFS.

Otherwise storage efforts and distribution efforts are doubled and wasted. Also elements of the (so called) Permanent Web are suddenly not really permanent: when

[2016-04-15 09:24] EliasGabrielsson opened #2566 "High CPU usage after sleep, os x"
* `ipfs daemon`, running 5 hours.
* Computer sleep ~ 10h
* Wakeup - High usage for the ipfs service, `ipfs; 220 % cpu; threads: 86; idle wake ups: 356`

[code]

[2016-04-15 11:45] sahib opened #2567 "Weird behaviour of DagReader.Seek() when using with SEEK_END"
`Seek(0, SEEK_END)` might sometimes return either the size of the stream in bytes (correct) or
0 (and `io.EOF`) on other occasions. I put together a minimal working example here:

https://gist.github.com/sahib/4363c36dc2352d1fba7634fd46eb7978

Steps to reproduce:

[code]

Another oddity: `ipfs` [seems to use a positive offset](https://github.com/ipfs/go-ipfs/blob/master/unixfs/io/dagreader.go#L277

[2016-04-15 12:03] Mithgol commented on #875
However, while this problem should be seen (and treated) **literally** as a part of the issue currently titled “**avoid duplicating** files added to ipfs”, this issue is still about deduplicating on disk. It probably is not wise to broaden its discussion here.

I've decided to open yet another issue (ipfs/notes#126) to discuss the advantages (or maybe the necessity) of each file having only one ad

[2016-04-15 16:27] whyrusleeping commented on #2567
@sahib good catch there. I definitely had a misunderstanding as to the argument to `SEEK_END`

[2016-04-15 18:12] whyrusleeping commented on #875
@kevina you will need to perform the adds without the daemon running because the daemon and the client arent necessarily on the same machine. If I try to 'zero-copy add' a file clientside, and i'm telling the daemon about this, The daemon has no idea what file i'm talking about, and has no reasonable way to reference that file.

[2016-04-15 22:03] whyrusleeping opened #2570 "build system changes"
I'm going to add a rule to the makefile for downloading gx and gx-go from the dist.ipfs.io page (via https) into bin/{gx/gx-go} and then using those two for the `gx install` part of the build process.

[2016-04-15 22:08] jbenet commented on #2570
@whyrusleeping what's needed is a description of:
- the constraints
- accounting the edge cases (the compiler crap)
- the possible solutions

look at https://github.com/ipfs/go-ipfs/issues/1841 for inspiration

[2016-04-15 22:52] whyrusleeping commented on #2570
## Constraints:
  - must work cross platform
  - must fail gracefully, and with error messages that allow the user to understand what the problem is.
  - repeated installs must be reproducible. (ideally a checksum over the directory after repeated installs of the same commit should yield the same output)

## Edge Cases:
  - the correct version of go might not be installed.
  - the version of go th

[2016-04-15 23:00] jbenet opened #2571 "`ipfs repo version` command"
It would be really useful to have this work:

[code]
because that way tools and applications can easily check the version of repos without making nasty assumptions.

---

may also be relevant to include this in the `ipfs repo stat` output:

[code]

[2016-04-15 23:03] whyrusleeping commented on #2571
`ipfs version --repo` accomplishes this. Although we could add an alias to this under the repo subcommand as you propose.

[2016-04-15 23:51] jbenet commented on #2570
thanks @whyrusleeping this helps [alot](http://3.bp.blogspot.com/_D_Z-D2tzi14/S8TTPQCPA6I/AAAAAAAACwA/ZHZH-Bi8OmI/s400/ALOT2.png).

- should make sure that "bad states" are rolled back in case of problems. thankfully immutable objects are fine to leave lying around, it's how we use them (rewrites?) that gets tricky.
  - consider having a "clean" command that removes any possible bad state stuff. (

[2016-04-16 00:04] whyrusleeping commented on #2570
@jbenet thoughts on having a shell script to do the fetching from dist vs having a small go program? In go it will be much easier to handle all the different cross platform issues, and we require go to build ipfs anyways.

[2016-04-16 00:37] jbenet commented on #2570
@whyrusleeping we'll need a script like that in sh to handle cross platform issues to install other things in the project. (like install go-ipfs or gx bins in various settings, that do not involve go compilation) a go tool would land us in the same spot: having to select the right arch bin to download. i think there's no way around sh (or `make`? but `make` is less portable) as the entry point.

[2016-04-16 06:21] kevina opened #2573 ""make test" fails for me"
`make test` fails for me on 72e0781277eac74eac364b2851a2d24e7f67e3c0:
[code]
`make TEST_NO_FUSE=1 test` seams okay

I think this relates to commit e79e1d31e9e0f318542746e81b9509673c20e433

Sorry if I am missing something obvious.

[2016-04-16 06:49] whyrusleeping commented on #2573
@kevina good catch. I somehow missed that while cleaning things up the other day. We don't run the fuse tests in CI currently.

[2016-04-16 06:51] whyrusleeping commented on #2570
@jbenet for the go tool i was thinking of just putting the source for it in the repo. Since we already require they have go installed before this step, we can use that to build the http downloading and extracting tool

[2016-04-16 14:25] icf20 opened #2575 "large files question"
I have a question about the block part, if i take a 100MB video and add it into IPFS, then a person take that video and cut the file in half and add the file again, will duplicate the 50% of the blocks or will share the blocks ?

[2016-04-16 16:07] Kubuxu commented on #2575
Depends on encoding of video, there is good chance that some data might be deduped if underlaying binary format will be the same (no reencoding/recopression).

It also depends on chunker but there is room for improvment.

In future please place general questions about IPFS on https://github.com/ipfs/faq/issues

[2016-04-16 17:56] #2573 closed

[2016-04-16 22:51] OlegGirko commented on #1953
Recently I've found this thread, and I'm very disappointed that IPFS, that was advertised as content-addressed network, can not be used for addressing files by their content.

It's a very basic and obvious use case: find a file by its SHA-1 or SHA256 hash. There are many existing centralised systems that use their own Merkle DAG (with objects addressed by their standard hashes) that could benefit

[2016-04-17 02:10] tidux commented on #2320
This bug is also present on OpenBSD 5.9 with Golang 1.5.3.

[2016-04-17 02:53] lgierth commented on #2320
hey @tidux I took the liberty to update the issue title

[2016-04-17 08:12] icf20 commented on #2575
there are so many places where to post issues that is impossible to guess where, ipfs have 50 repos https://github.com/ipfs maybe you should pin one repo on top and name it "start here if you dont know what you want "

[2016-04-17 08:12] #2575 closed

[2016-04-18 08:03] kevina commented on #875
Just FYI: I am making good progress on this.  The first implementation will basically implement the @jefft0 `--no-copy` option.

You can find my code at https://github.com/kevina/go-ipfs/tree/issue-875. Expect lots of forced updates on this branch.

[2016-04-18 12:01] anacrolix commented on #2320
This has been fixed upstream.

[2016-04-18 15:49] tidux commented on #2320
Confirmed fixed upstream: `go get -u github.com/anacrolix/missinggo` completes with built missinggo.a in `$GOPATH/pkg/$(uname)_amd64/github.com/anacrolix/missinggo.a` on DragonFly BSD and OpenBSD.

[2016-04-18 15:51] whyrusleeping commented on #2247
# go-ipfs Q2 roadmap

I wrote up a roadmap for go-ipfs in Q2 2016. If you see something on this list you want to do, if it has an issue, claim the issue there. If there isnt an issue for it, go ahead and open one.

## Attention New Contributors
If you're looking for something fairly easy to do, check out the Misc Issues section at the bottom of this list, most of those tasks are isolated easier th

[2016-04-18 16:18] whyrusleeping commented on #2533
another: https://travis-ci.org/ipfs/go-ipfs/jobs/123474658

[2016-04-18 16:43] #2551 closed

[2016-04-18 16:47] whyrusleeping commented on #2320
actionables here:

- [ ] update dep of utp in go-multiaddr-net
- [ ] bubble those changes up through go-libp2p and into go-ipfs

[2016-04-18 19:46] diasdavid commented on #2247
As discussed on the hangout of April 18, I'm listing the items I'm interested the most and that will unblock things in this quarter, ordered by priority:

- multistream - listen in protocols with semver too (js-ipfs)
- WebSockets Transport (js-ipfs)
- unixfs Sharding (npm on IPFS)
- no more memory leaks (npm on IPFS)

[2016-04-19 07:53] Zaijo opened #2578 "IPFS "disconnecting""
From time to time, my list of peers turns empty. When I look into `ipfs daemon` log it says:

[code]

This error occurs then roughly every 4 hours in my ipfs daemon. No peers appear in my `ipfs swarm peers`

Starting cause may be one of:
- moving to other network
- waking up from hibernation
  I don't know why it happens.

`ipfs version 0.4.0` On Mac 10.11.3

[2016-04-19 14:03] #785 closed

[2016-04-19 14:44] RichardLitt opened #2583 "Document global options"
`timeout` is a global option that can be passed to the CLI and to the HTTP API. It is referenced in a few places, like in `ipfs diag net --help`, but it isn't clear there that it is global, and it may seem that it is only relevant for those subcommands (like `diag net`). There should be a mention of global options, somewhere in the CLI man (and in the HTTP API docs, but we can get to that later).

[2016-04-19 15:03] whyrusleeping commented on #2583
I think that global options should probably be printed for every commands `--help` output. Since they affect every command.

[2016-04-19 15:35] vitzli commented on #2530
Seems to be working in `add -n` mode, traversing directories and outputs directories hashes up to the top dir in the end, thanks!

[2016-04-19 15:35] #2530 closed

[2016-04-19 15:38] noffle commented on #2530
Thanks for verifying!

[2016-04-19 15:44] Faleidel commented on #2566
I get the same problem some times.

[2016-04-19 15:53] RichardLitt commented on #2583
This should also apply for `proto`. CF https://github.com/ipfs/http-api-spec/pull/52/files#r55575516.

Also, I think 'encoding'?

[2016-04-19 16:01] whyrusleeping commented on #2566
If this happens again, could I get the following information:
- a copy of the ipfs binary you are running
- the entire output of `curl localhost:5001/debug/pprof/profile` (redirect it out to a file)
  - Note: this will hang for 30 seconds as it collects a cpu profile.

[2016-04-19 16:16] whyrusleeping commented on #2558
this has been resolved, we use the right imports across the board now

[2016-04-19 16:16] #2558 closed

[2016-04-19 16:38] EliasGabrielsson commented on #2566
@whyrusleeping Sounds like a plan.
I will try to reproduce the bug tonight.

[2016-04-19 19:18] RichardLitt commented on #2468
It should at least return a status code of `500`.

[2016-04-19 19:31] RichardLitt opened #2589 "ipfs object patch append-data shouldn't return links in the HTTP Api"
[code]

[2016-04-19 19:31] RichardLitt commented on #2589
Please remove the Links field, basically.

[2016-04-19 19:33] RichardLitt commented on #2589
Same for `add-link`.

[2016-04-19 19:35] kevinmartinmauro opened #2590 "Possible to only accept connections from a particular IPFS nodes?"
Is it, or will it ever be, possible to only accept connections from a particular IPFS node? Could this be used as a DDOS/anti-spam feature?

[2016-04-19 19:36] RichardLitt commented on #2589
Same for `rm-link`.

[2016-04-19 19:41] Stebalien commented on #2468
We really shouldn't ever be returning 500 (500 means the application had some internal error it couldn't handle). Cases:

* Bad Multihash: 400 (it's a malformed request).
* IPFS object couldn't be found (but may exist somewhere): 504.
* IPFS path is impossible (e.g., `/ipfs/$hash/a/b` where `a/b` doesn't resolve relative to the object named by `$hash`): 410 (gone).
* IPNS path doesn't currently re

[2016-04-19 20:30] Stebalien commented on #2590
Yes but that would severely limit the usefulness of IPFS. Eventually, the bitswap protocol is supposed to have some sort of reputation system that should fix this. Basically, you'd prioritize nodes with good reputation over nodes with bad/unknown reputation.

[2016-04-19 21:34] pfista commented on #2564
This isn't necessary to add because the --local flag is a global option. Instead, this is actually problem with global flags not being printed in the help text.

[2016-04-19 21:34] #2564 closed

[2016-04-19 21:36] EliasGabrielsson commented on #2566
@whyrusleeping Error is reproduced.
binary, profiledump and log is zipped and uploaded to:
https://drive.google.com/open?id=0BzWfO7CwZ2RoRzlVdXBPSGotSTQ

[2016-04-19 22:19] thomas-gardner commented on #2583
Jeromy Johnson <reply@reply.github.com> / 2016-04-19 08:03:33-0700

But aren't they "supposed" to be specified before the subcommands?

e.g.:

	ipfs -L name resolve Qmfoo

or

	ipfs -C /foo/bar add -w baz

[2016-04-19 22:30] #2527 closed

[2016-04-19 23:39] #2589 closed

[2016-04-20 10:56] sivachandran commented on #2016
I am trying to bring S3 as datastore for IPFS. As POC I changed the `openDefaultDatastore` function of `defaultds.go` to initialize the repo with S3 backed datastore for blocks and leveldb for everything else. The S3 datastore uses s3gof3r library to access S3 bucket. I've implemented the Put, Get, Has, Batch functions of S3 datastore. I didn't implement the Query function as s3gof3r library doesn

[2016-04-20 16:14] whyrusleeping commented on #2590
In the next couple months i'm going to be working on 'private networks' where you only accept connections from people who have a certain passcode. Would this suit your usecase?

[2016-04-20 16:21] whyrusleeping opened #2594 "Large number of context switches"
Irc user A124 reported a large amount of lag caused by an excess of context switches in the ipfs daemon.

[code]

He also built some graphs of the issue: https://imgur.com/uN0yF9d&wMp6t3y

This issue is to track this problem.

[2016-04-20 16:40] whyrusleeping commented on #2594
## whys general perf debugging guidelines for go-ipfs:

When you see ipfs doing something (using lots of cpu, memory, or otherwise
being weird), the first thing you want to do is gather all the  relevant
profiling information.

- goroutine dump
  - `curl localhost:5001/debug/pprof/goroutine\?debug=2 > ipfs.stacks`
- 30 second cpu profile
  - `curl localhost:5001/debug/pprof/profile > ipfs.cpuprof`

[2016-04-20 16:45] whyrusleeping commented on #2566
@EliasGabrielsson Thanks! looking at it now.

If anyone feels like doing any investigation on their own, I wrote a short guide to debugging perf in go-ipfs here: https://github.com/ipfs/go-ipfs/issues/2594#issuecomment-212506980

[2016-04-20 16:51] whyrusleeping commented on #2566
@EliasGabrielsson after a cursory look over that information, It looks like you ran out of file descriptors. The cpu profile appears to by lying to me though, its telling me its spending most of its time in usleep, which is definitely incorrect. Could you try running `ulimit -n 4096` in your terminal before running `ipfs daemon` and see if the problem persists?

I also noticed from the system diag

[2016-04-20 18:49] RichardLitt commented on #2564
Note: related to https://github.com/ipfs/go-ipfs/issues/2583.

[2016-04-20 18:52] RichardLitt commented on #2594
@whyrusleeping This would be great to have in a doc! That way you can just point to it. Want me to do that?

[2016-04-20 19:46] RichardLitt commented on #1718
`timeout` docs in this issue: https://github.com/ipfs/go-ipfs/issues/2583

[2016-04-20 19:47] RichardLitt commented on #2571
Agreed adding it to `stat` would be good, and an alias.

[2016-04-20 22:01] whyrusleeping commented on #2594
I remember now what happened the last time we ran into this, last time it was reuseport. To test this, set `IPFS_REUSEPORT` to `false` and run the daemon. If that solves the problem, then we really should pay attention to the reuseport impl. There were some updates here: https://github.com/golang/go/issues/9661

[2016-04-20 22:01] whyrusleeping commented on #2594
@RichardLitt if you want to make that into a doc then by all means please do :)

[2016-04-22 00:01] noffle commented on #2387
Here are some summarized items from @jbenet when I chatted with him recently about arbitrary kvpairs on the IPFS DHT:

1. The point of records is that they will be validated in the future: you can store arbitrary value within a record. (eg signed or with some other validity function)
2. This is critical to avoid DHT spam. We're in a safe DHT right now (read: not under attack).

In comparison to Ma

[2016-04-22 00:55] whyrusleeping commented on #2329
@lgierth is this fixed?

[2016-04-22 22:51] mythmon commented on #2566
I think I'm having a similar problem. I get a very high amount of CPU usage sometimes. It might be related to putting my laptop to sleep.

Here is a copy of my `ipfs` binary, as well as the output of `curl localhost:5001/debug/pprof/profile`: https://ipfs.io/ipfs/QmW9CWvLse1puV4R8tXxMYVqUxhyyyFnHzXrq8KRDCv5JV/ipfs-debug.tar.gz

`ulimit` and `ulimit -f` both report "unlimited".

[2016-04-22 23:04] whyrusleeping commented on #2566
@mythmon `ulimit -n` is the important one. I'll take a look at your output too

[2016-04-22 23:11] mythmon commented on #2566
Ah. `ulimit -n` isn't mentioned in `man ulimit`. For me `ulimit -n` is 1024. I'll bump that up.

[2016-04-23 01:15] mythmon commented on #2566
I still run into this issue with `ulimit -n 4096` (well, technically setting that through Systemd, but it has the same effect).

[2016-04-23 07:12] Kubuxu commented on #2329
This is fixed in new libp2p. https://github.com/ipfs/go-libp2p/pull/36

[2016-04-23 10:27] EliasGabrielsson commented on #2566
@whyrusleeping
a) New error report with `uname -n 4096`: http://ipfs.io/ipfs/QmVonCyUvnr4tfwKWs3YsBGmSfNUDJWnzYKkkxBoETPbJU
b) I where checking my commit log and could not find any patches on top of master. Anyway this new report is checked out from master and compiled directly.

[2016-04-23 16:31] whyrusleeping commented on #2566
@anacrolix you should take a look at this one. The latest profile from @EliasGabrielsson shows a large amount of activity and memory allocation from utp

[2016-04-23 16:58] whyrusleeping commented on #2566
it looks to me like this send call is failing: https://github.com/anacrolix/utp/blob/master/utp.go#L871

and then returning back up to `Write`, and `Write` appears to not check errors that `write` returns, so it loops infinitely creating a printing errors. Thats just a guess though, i'd have to repro locally to know for sure

[2016-04-23 17:00] EliasGabrielsson commented on #2566
I use to get error msg like these: `22:26:50.360 ERROR       mdns: mdns lookup error: failed to bind to any unicast udp port mdns.go:130` as well.

[2016-04-23 19:00] anacrolix commented on #2566
I'll take a look.

[2016-04-23 20:46] whyrusleeping commented on #2329
Cool

[2016-04-23 20:46] #2329 closed

[2016-04-24 09:53] anacrolix commented on #2566
The ipfs-debug profile is very useful. Errors in the net.PacketConn that utp.Socket wraps are not propagated correctly. I'm adding tests for this. Presumably this occurs during wakeup after long sleeps, the connection is abandoned by the kernel, rather than the close being initiated by utp.Socket as I expected.

Regards file descriptor counts, if you're using utp with a single Socket, you should o

[2016-04-24 10:22] anacrolix commented on #2566
It looks like the other profile provided is the same error. I've just pushed this fix on top of a huge cleanup on uTP, hopefully it's more approachable for others now. Thanks.

[2016-04-25 00:48] kevina opened #2601 "In datastote.NewKey calling path.Clean is dangerous"
[I am not sure the best place to post this as this issue is related to both go-ipfs and go-datastore, I can move this to this to go-datastore if necessary.]

I may be completely missing something here but it seams datastore keys are represented via binary `[]byte` strings, possible prefixed with a "/" and are converted to a `datastore.Key` by calling `datastore.NewKey()`.

However, `datastore.NewK

[2016-04-25 16:03] atommixz commented on #2518
I still not connect with anyone if i'm not connected to my vps ipfs (but i can't use it, cause it eat my small vps memory)

[2016-04-25 16:24] whyrusleeping commented on #2601
@kevina yeah, this is a known issue: https://github.com/ipfs/go-ipfs/issues/994

Its the cause of the following failure (and a few others i'm not finding right now).
https://github.com/ipfs/go-ipfs/blob/master/test/sharness/t0080-repo.sh#L112

I'd say we can keep this issue open as it will add more pressure towards us getting this fixed.

[2016-04-25 17:02] whyrusleeping commented on #2601
I should also note that currently this is much less of an issue than you would think. Since the mangling of keys is consistent, we can always access the keys we like we expect. The only noticeable issue this causes is that when running a gc, any key affected by this bug won't be removed. (also you won't be able to see keys affected by this in an `ipfs refs local`)

[2016-04-25 19:20] whyrusleeping opened #2603 "strange failure on iptb tests"
http://ci.i.ipfs.io:8111/viewLog.html?buildId=990&buildTypeId=GoIpfs_CiTests&tab=buildLog

It fails while running the iptb re-init. Not sure what would cause this... I will need to investigate.

[2016-04-25 22:42] lgierth commented on #188
Another TestBootstrap failure: http://ci.i.ipfs.io:8111/viewLog.html?buildId=1000&buildTypeId=GoIpfs_CiTests&tab=buildLog

[2016-04-26 08:20] doesntgolf commented on #1716
Or are we still limited to only one IPNS hash per computer at the moment?

Did publishing multiple IPNS hashes from one node end up being part of the 0.4.0 release?

[2016-04-26 12:52] diasdavid opened #2605 "Add the PeerId of the wantList owner to the protobuf message"
Currently, `bitswap` leverages the information that swarm has about a connection in order to understand where the incoming wantList are coming from. This creates a dependency that in order for the protocol to work properly, Stream Multiplexing and Identify (a.k.a Id protocol) need to be in place, otherwise, the listener won't be aware of who is sending the want list.

Since IPFS is designed to wor

[2016-04-26 22:13] kevina commented on #2601
There is also the small possibility that this bug will create a collision when there normally would not be one, although the probability will be low.  For example lets's assume we have these two (8-byte) keys:
[code]
Both keys will get mangled to `0x34 0x7b '/' 0x7e 0xf3 '/' 0x23` and thus create a collusion even though the keys are different.  I am not sure how IPFS will behave in this situation.

[2016-04-26 23:06] whyrusleeping commented on #2605
i'm hestitant to do this as in many cases it will significantly increase the bandwidth consumed by bitswap. Very often we send small one or two key messages to cancel a received block, or to notify that we want another block.

[2016-04-27 00:10] whyrusleeping opened #2607 "t0300 fails due to build constraint changes"
https://s3.amazonaws.com/archive.travis-ci.org/jobs/125978038/log.txt

Looks like something upstream broke our dockerfile :(

[2016-04-27 00:19] whyrusleeping commented on #2607
@chriscool or @lgierth could you take a look at this?

[2016-04-27 00:20] #2501 closed

[2016-04-27 08:32] diasdavid commented on #2605
I see, it is an extra 32 Bytes. It might be inevitable though, for non multiplex connections or some packet switching schemes.

[2016-04-27 09:09] leochan007 opened #2609 "webui issue"
when access via 5001/webui got this output:
 ERROR core/serve: Path Resolve error: no link named "webui-zh.json" under QmcnV8mXz9B4kuNEUymZ2mhqDLy2e76iMMk8SnmPDnxp6H gateway_handler.go:510

[2016-04-27 11:43] RichardLitt commented on #2609
@dignifiedquire, actually, is this the webui at fault here?

[2016-04-27 12:37] dignifiedquire commented on #2609
sounds like the package doesn't server/contain `webui-zh.json`

[2016-04-27 13:52] TheNain38 commented on #2609
@dignifiedquire Same for french (e.g. "webui-fr.json")

[2016-04-27 14:53] dignifiedquire commented on #2609
You can see the list of supported locales here: https://github.com/ipfs/webui/tree/master/dist/locale if it's not in there it will fail (it will try for every locale and if it does not find it use the default english one)

[2016-04-27 15:25] matthewrobertbell opened #2610 "Files API File Creation return value?"
In my opinion, it'd be very useful for the file creation API call to return the multihash of the file that's been created. Why is this not the case?

Cheers

[2016-04-27 15:52] whyrusleeping commented on #2610
which api call are you talking about?

[2016-04-27 15:55] mattseh commented on #2610
"ipfs files write --create" equivalent, accessed over the HTTP interface.

[2016-04-27 20:28] #2457 closed

[2016-04-27 23:58] gavinmcdermott commented on #2540
Also building from source today (OS X El Capitan as well); having the same issue with no peer response.
[code]

[2016-04-28 00:12] whyrusleeping commented on #2540
@gavinmcdermott what commit are you building from?

[2016-04-28 01:05] gavinmcdermott commented on #2540
@whyrusleeping thanks for the quick reply. I was building from the latest version. Interim update: uninstalled and reinstalled from the [distribution site](https://ipfs.io/ipns/dist.ipfs.io/#go-ipfs); peers connected now and able to retrieve.

[code]

Will attempt to reproduce the issue at home tonight and let you know if the same thing arises.

[2016-04-28 03:28] whyrusleeping commented on #1765
fixed in #2465

[2016-04-28 03:28] #1765 closed

[2016-04-28 07:46] mattseh opened #2615 "Persistent high memory usage after using the new files API"
Hi,

I'm running the 64 bit linux 0.4 from the releases page ona 1GB digital ocean server. I added a bunch of small files using the files API (files/mkdir and files/write). After each batch, the memory usage of IPFS increases, and doesn't drop (I waited over 8 hours and it's stable). It's currently at 800MB, which seems excessive. I've stopped adding files, for fear of running out of memory.

I tr

[2016-04-28 11:14] mattseh commented on #2615
![screenshot 2016-04-28 12 13 34](https://cloud.githubusercontent.com/assets/241705/14884130/a7ed7052-0d3a-11e6-8bd3-fa26cfb0084b.png)

No files were added after around 11PM. Maybe the high CPU and high memory are related?

[2016-04-28 17:07] RichardLitt opened #2616 "`ipfs config id <arg>` accepts invalid parameter"
[code]

I don't think this should be the case. It used to show an error: `"Message": "routing: not found"`. What changed?

[2016-04-28 17:18] RichardLitt opened #2617 "`ipfs name resolve <arg>` example doesn't resolve"
[code]

The first hash is different, when run, which is expected - it is my key. The second, though, doesn't resolve. Can we use a persistent hash that will always resolve in the help docs?

[2016-04-28 17:27] whyrusleeping commented on #2616
`ipfs config` would never return a routing not found. although `ipfs id` might.

[2016-04-28 17:34] whyrusleeping commented on #2393
@pfista I think of the two you posted in IRC, this would be the better one to work on.

[2016-04-28 17:59] RichardLitt commented on #2616
A-ha! Was a bug in my HTTP request - `config` snuck in where it shouldn't've. Thanks.

[2016-04-28 17:59] #2616 closed

[2016-04-28 20:24] RichardLitt opened #2619 "Unable to make or build without running `ulimit -n 1024`"
Not sure why.

Bug and fix below:

[code]

[2016-04-28 20:27] whyrusleeping opened #2620 "t0170 fails randomly"
https://s3.amazonaws.com/archive.travis-ci.org/jobs/126450891/log.txt

@noffle could you take a look at this?

[2016-04-28 20:27] #2607 closed

[2016-04-28 20:34] whyrusleeping commented on #2578
This could be caused by a few different issues. I know we've had trouble with resuming (switching networks and waking from sleep as you mention) lately, Try out the latest master (if youre comfortable building from source) or at least give 0.4.1 a try, it doesnt have some of the fixes i'm thinking of, but it should do better than 0.4.0 in that regard

[2016-04-28 20:35] Kubuxu commented on #2619
Is it possible that `gx` or `gx-go` is not closing files/closing them too late?

[2016-04-28 20:35] whyrusleeping commented on #2561
I think this is an issue with yamux, where the underlying connection breaks but yamux doesnt notice until we try to use it, resulting in this error.

[2016-04-28 20:36] whyrusleeping commented on #2566
@EliasGabrielsson @mythmon if you guys could try out latest master, i've pushed the utp lib changes up into go-ipfs

[2016-04-28 20:37] whyrusleeping commented on #2619
@Kubuxu its possible, i'm just not sure where that would be happening. I'm fairly certain i close things immediately after i'm done using them.

[2016-04-28 20:40] whyrusleeping commented on #2543
More verbose information about dials can be found in `ipfs log tail`. The command needs better filtering stuff to be built in, but its a good flow of 'everything thats happening'.

That said, I think this issue has been resolved.

[2016-04-28 20:40] #2543 closed

[2016-04-28 20:42] whyrusleeping commented on #2540
I'm quite certain this issue has been fixed in the 0.4.1 release.

@gavinmcdermott if you continue to experience this after updating to 0.4.1, please feel free to open a new issue and reference this one in it.

[2016-04-28 20:42] #2540 closed

[2016-04-28 20:45] whyrusleeping commented on #2514
We now have an `ipfs repo fsck` command. The next step is to give it an option to check the integrity of every object in the repo.

[2016-04-28 20:46] whyrusleeping commented on #2500
I havent seen this one in a while, gonna call it closed.

[2016-04-28 20:46] #2500 closed

[2016-04-28 20:51] whyrusleeping commented on #2478
ipfs init -f has been removed

[2016-04-28 20:51] #2478 closed

[2016-04-28 21:06] whyrusleeping opened #2621 "NewMultiaddrBytes is inefficient"
ref: https://github.com/jbenet/go-multiaddr/issues/24

[2016-04-28 21:07] interfect commented on #2543
The underlying issue causing the connects to fail has I think been
resolved, but I would still prefer my manual connection directives not to
be subject to back-off, if that is architecturally feasible.

On Thu, Apr 28, 2016 at 1:48 PM, Jeromy Johnson <notifications@github.com>
wrote:

[2016-04-28 21:11] whyrusleeping commented on #2543
@interfect very much agreed. I opened #2456 as a way to get closer to that. Its not super easy due to how the dialing process currently works, but its something to move towards.

[2016-04-28 21:22] EliasGabrielsson commented on #2566
@whyrusleeping sure thing. I will start a daemon and have my computer sleep at night and we see whats happening. I allmost reproduced the bug everytime so if its work I think we are green. Let's see the result in ~12h.

[2016-04-29 00:55] leochan007 opened #2623 "vm running issue"
when i run ipfs daemon in a vm (linux)  i  add port forward 4001 5001 8080

i can only access webui's webpage but there was no content(node info etc.) showed.

[2016-04-29 01:03] leochan007 commented on #2623
if i access ipfs webui via vm ipaddr it won't show anything.but if i access ipfs webui via 127.0.0.1 from host with port forward . it would be ok.

[2016-04-29 05:31] anacrolix commented on #2566
Damn, 4 hours to go.

[2016-04-29 05:35] thomas-gardner commented on #2617
Here are a couple candidates (ordered by preference):

	$ ipfs name resolve ipfs.git.sexy
	/ipfs/QmVyS3iAy7mvDA2HqQWm2aqZDcGDH3bCRLFkEutfBWNBqN

	$ ipfs name resolve ipfs.io
	/ipfs/QmaBvfZooxWkrv7D3r8LS9moNjzD2o525XMZze69hhoxf5

[2016-04-29 09:23] EliasGabrielsson commented on #2566
@whyrusleeping @anacrolix
Initial testing looks good.
* Running  `ipfs daemon`
* Computer sleep ~ 8h
* Working ~1.5h - **No problem**, use to "trigger" within 30 min ish
* Computer sleep ~ 1. 5h
* Working ~0.5h - **No problem**

### Summary
I think this is fixed. I have the daemon running and come back in a few days for final results.

[2016-04-29 14:55] RichardLitt commented on #2617
Should we be using a non-hash in the example? I feel like that should be a second example, here.

[2016-04-29 17:12] whyrusleeping commented on #2566
thats really great to hear! Thanks @EliasGabrielsson for testing and @anacrolix for fixing :)

[2016-04-29 22:26] djdv commented on #2436
I tried this out with Sandboxie 5.11.3, I launched a shell from it and then issued commands to ipfs. Everything seemed to work fine and remain isolated as well.
![screenshot](https://ipfs.pics/ipfs/QmPEvw6zAH9iMRZykJno9hUv5zikckjedZQr9SxdLGgzeR)

[2016-04-29 22:29] whyrusleeping commented on #2436
whoa. thats a lot of addresses that ipfs is listening on...

[2016-04-29 22:30] whyrusleeping opened #2629 "'ipfs swarm peers' should print more info"
I think it would be pretty helpful to have ipfs swarm peers have a verbose option that allows it to print out latency to each peer and also potentially 'last contact' with each peer.

[2016-04-29 22:49] djdv commented on #2436
@whyrusleeping
Most of those are virtual interfaces, there's only 2 physical and only one of those is active. Some of the addresses ipfs is listening on seem invalid.
I don't have anything assigned to 169.* to my knowledge, only these should be assigned. Physical and virtual interfaces grouped here.
[code]

If I recall correctly it wasn't always listening on those but I'm unsure of when that start

[2016-05-01 12:22] EliasGabrielsson commented on #2566
Solved.

[2016-05-01 12:22] #2566 closed

[2016-05-02 10:00] sivachandran commented on #1485
@jbenet/@whyrusleeping can you tell what is required to support dns in bootstrap?

[2016-05-02 10:01] Kubuxu commented on #1485
I would be for keeping at least one bootstrap node in the list as plain IP just in case something goes wild (like DNS failure).

[2016-05-02 10:02] lgierth commented on #1485
@sivachandran mainly we need DNS support in multiaddr: jbenet/go-multiaddr#7

Once that is available, we'll probably have to make a few amendments to go-ipfs to also support multiaddrs starting in /dns instead of just /ip4 and /ip6.

[2016-05-02 10:02] lgierth commented on #1485
And yes we should still keep at least a few IP addresses in there -- there was a DNS outage just a few weeks ago and having IPs in there saved the network.

[2016-05-02 15:05] whyrusleeping commented on #1485
also using dns gets tricky, the record must only point to a single address otherwise the keys won't match

[2016-05-02 15:21] Kubuxu commented on #1485
What about something like dnslink but for multiaddr? You would specify whole multiaddr in DNS record.

[2016-05-02 16:55] Anthonyzou commented on #2514
That's cool. This makes it a lot more like torrent clients that allow for integrity checks.

[2016-05-02 23:43] lgierth commented on #1485
@Kubuxu yes, dnsaddr \o/ I've had this laying around in my notes for a few weeks:

[code]

[2016-05-04 02:21] slothbag commented on #2125
Other higher priority issues than this

[2016-05-04 02:21] #2125 closed

[2016-05-04 02:28] slothbag opened #2630 "Windows builds no longer working"
So I have tried deleting all go dependencies and rebuilding from scratch, I do a `gx i` which fetches all the deps.

Then following the Windows manual build steps in the doco I get these errors:

[code]

and other similar errors

Before v0.4.1 it was building fine.

[2016-05-04 15:51] Beligertint commented on #2436
Found the issue: Was attempting to run the x64 version under Sandboxie and it wouldn't even spit any log messages. Tried the 32 bit version, working fine.

[2016-05-04 17:00] djdv commented on #2630
What commit are you trying to build? On Windows I can build the latest master f1df72b1deefb6321df4bdccc8fe04a549c9bf17 without any problems.  Make sure to follow these instructions: https://github.com/ipfs/go-ipfs/blob/master/docs/windows.md
I personally am using Windows 10 with Go 1.6 as well as `git` and `make` from msys2 so the full process for me is
[code]
Doing so results in a working ipfs bi

[2016-05-04 17:59] whyrusleeping commented on #2544
I'd love to help someone get the ball rolling with this. It would be a great feature to have

[2016-05-05 01:39] slothbag commented on #2630
I'm using Go1.5, is IPFS no longer compatible with 1.5?

I have been trying to build from v0.4.1 tag all the way till now.  I'm not using make but doing the manual method as explained in the doc which had been working for me.

[2016-05-05 06:14] chriscool commented on #2630
Go version should be at least 1.5.2. The minimum versions of Go, gx and gx-go that are needed are now at the top of the Makefile in the root directory.

[2016-05-05 06:25] slothbag commented on #2630
Thanks, I am now using Go1.6.2.  Did a `git pull`, then a `gx i`, and followed manual build steps as per doco..

Same bunch of errors..

[code]

[2016-05-05 14:09] skmgoldin commented on #2615
I observe similar memory and CPU usage running go-ipfs v0.4.1 on Ubuntu 14.04. It does seem excessive, v0.3.* ran lighter.

[2016-05-05 17:00] whyrusleeping commented on #2630
@slothbag could you try deleting `$GOPATH/src/gx` and try installing again?

[2016-05-05 18:05] whyrusleeping commented on #2615
@mattseh I think youre right, the files api isnt cleaning up after itself as it should.

@skmgoldin If youre not using the files API and seeing excessive CPU and memory usage, please gather the debug information discussed here: https://github.com/ipfs/go-ipfs/blob/master/debug-guide.md and send it to me, It will help me find the source of any leaks and memory/cpu hogs

[2016-05-06 00:58] slothbag commented on #2630
Yup, that fixed it @whyrusleeping

So what happened there? Was the immutable content wrong or did it simply need to perform a gx hook step?

[2016-05-06 02:23] whyrusleeping commented on #2630
What generally has happened when i see this is that a download hung or broke midway through and didnt get to finish downloading all the code and run the post-install hook. I pushed a commit to gx that makes the downloads more 'all or none':  https://github.com/whyrusleeping/gx/commit/0d77383b0c966a122134249fed5adbe24b1e6e7a

This should be less likely to happen in the future

[2016-05-06 02:28] slothbag commented on #2630
I had experienced in the past if cancelling a download half way through it would leave stale half completed downloads in the folder. Which I presume gx was then assuming on subsequent runs that the content was complete and valid.

What about a -rescan flag that would force gx to recalculate the hash of the package instead of just the existence of the directory?

This issue is resolved.

[2016-05-06 02:28] #2630 closed

[2016-05-06 05:49] kevina commented on #875
Sorry for all this noise.  It seams GitHub keeps commits around forever even after doing a forced update.  I will avoid using issue mentions in most of the commits to avoid this problem. :)

[2016-05-06 05:50] kevina commented on #875
The code is now available at https://github.com/ipfs-filestore/go-ipfs/tree/kevina/filestore and is being discussed in pull request #2634,

[2016-05-06 21:04] RichardLitt commented on #2544
We could make it like wrapped directories with `-w`; except additionally, in the wrapped dir, we have a textfile that stores some information. We could enter the text manually in an option, or point to it in another file, or read it from stdin.

[2016-05-06 21:12] RichardLitt opened #2635 "Check for gx and gxgo versions automatically"
I just tried to update `go-ipfs`.

[code]

`gx_upgrade` and `gxgo_upgrade` should have happened automatically, I think.

[2016-05-06 21:19] chriscool commented on #2635
What if the user doesn't want to upgrade because some other stuff depends on old versions?

[2016-05-06 21:23] chriscool commented on #2635
Before we came up with the current solution there was an automatic upgrade and some people complained about that.

What we could do though is ask "Do you want to upgrade [y/N]?:", but this must be done carefully because `make build` could be run non interactively...

[2016-05-06 23:17] RichardLitt opened #2636 "`ipfs log ls` HTTP Response is poorly formatted"
[code]

It should be:

[code]

I spent 1.5 hours trying to figure out how to do this and gave up. :(

[2016-05-06 23:18] RichardLitt commented on #2635
That's a fair point. It just confused me why this came up, it's something I would expect to work.

[2016-05-07 02:42] #2636 closed

[2016-05-07 06:12] chriscool commented on #2635
Downloading our own versions of the tools might be a bit wasteful when many programs are doing that.
If iptb needs gx and gx-go too, will it have to also download its own version, and what about fs-repo-migrations, ipif-update, and so on?

[2016-05-08 18:31] lgierth commented on #1716
@doesntgolf there hasn't been progress yet -- in the meantime, give ipns-pub a try: https://github.com/whyrusleeping/ipns-pub

[2016-05-09 08:01] Kubuxu opened #2640 "Go 1.6 support"
Arch uses Go in version 1.6 it would be nice to be able to compile on it.

[2016-05-09 08:04] Kubuxu opened #2641 "Crash"
Version: `ipfs version 0.4.1-dev-daaa69e`
This could be fixed but I am unable to upgrade as for #2640

https://gist.github.com/Kubuxu/25ea85b995c3f39d4f277bd3c426ef1a

I have NTP enabled.

[2016-05-09 08:55] Mithgol opened #2642 "processing power"
I've noticed that the Windows build of IPFS version 0.4.1 (or also the previous 0.4.0) that runs on my computer as `ipfs daemon` eventually takes 25% of its full processing power (one of four i7-3770 cores). After shutdown and restart of the daemon everything's fine for an hour (or a half) but then it gradually returns to those 25%. That never happened before May 2016.

Either something's wrong wi

[2016-05-09 09:43] dignifiedquire commented on #2640
What issues are you seeing? I've been compiling and running with 1.6 for weeks now (not on arch though)

[2016-05-09 10:36] Kubuxu commented on #2640
It is just locked by Makefile, isn't it?

[2016-05-09 10:38] #2640 closed

[2016-05-09 10:58] Kubuxu commented on #2641
I've upgraded to newest version, will report back if crashes still happen.

[2016-05-09 14:09] RichardLitt commented on #2635
I also think that the copy should be changed. I've just tried to update IPFS on a second machine, and I got the comments above. However, I don't know how to install gx, or how to install gx-go. `go get gx` doesn't work, and I'm not sure how to find out where `gx` is without googling.

Should we point the user to the install docs?

[2016-05-09 14:59] chriscool commented on #2635
The current error message contains the following:

=> Upgrade or install gx using your package manager or run `make gx_upgrade`
=> Upgrade or install gx-go using your package manager or run `make gxgo_upgrade`

@RichardLitt did you try `make gx_upgrade` and `make gxgo_upgrade`?

Maybe it would be more straightforward if we suggested using make first.

[2016-05-09 15:00] RichardLitt commented on #2635
I tried both of those; I had issues with a conflict in gxgo_upgrade which meant i had to go manually run `git reset --hard` to make it work.

[2016-05-09 15:56] whyrusleeping commented on #2641
Thats bizarre... i've never seen that sort of panic before. What system are you running on?

[2016-05-09 16:06] Kubuxu commented on #2641
Arch Linux
[code]

[2016-05-09 16:08] Kubuxu commented on #2641
Still happens on the newest version from git.

[2016-05-09 17:25] whyrusleeping commented on #2640
@Kubuxu we had some issues in the past, but they have since been resolved

[2016-05-09 17:25] whyrusleeping commented on #2521
This has been resolved

[2016-05-09 17:25] #2521 closed

[2016-05-09 17:26] whyrusleeping commented on #2460
@sexybiggetje can this be closed?

[2016-05-09 17:31] whyrusleeping commented on #2641
@Kubuxu could you set `GOTRACEBACK` to `crash` and try to repro?

[2016-05-09 17:32] whyrusleeping commented on #2641
I'm thinking it might be an issue with the bfs scheduler youre using... but i'm not too certain. (its the only difference in our machines)

[2016-05-09 17:40] Kubuxu commented on #2641
It is possible as `ck` patchset is not that popular among people.

[2016-05-09 17:48] whyrusleeping commented on #245
Revision:

- remove all pins on all data
- iterate all blocks and remove them

[2016-05-09 17:49] whyrusleeping commented on #506
this is much better now

[2016-05-09 17:49] #506 closed

[2016-05-09 17:53] cchrysostom opened #2645 "ipfs daemon Crash Out of Memory Error"
This morning a node running 0.4.1 crashed with the following log output. I need help diagnosing what happened. It may also be useful to you.

https://gist.github.com/cchrysostom/311d372a3d843947ad560bbbc4cef788

Thanks.

[2016-05-09 17:57] whyrusleeping commented on #2645
looks like a plain and simple out of memory issue. Are you running the binary from the dists.ipfs.io page? also what OS and how much RAM does your machine have?

[2016-05-09 18:04] cchrysostom commented on #2645
It is a Digital Ocean droplet. Memory looks like:

MemTotal:        1017872 kB

[2016-05-09 19:02] falsechicken commented on #2642
I have noticed a leap in performance requirements too. After not using IPFS for a while (0.3.x) I decided to give 0.4 a shot last night. Got the latest release build and initialized a new repo. When trying to use the node to view pictures on ipfs.pics it seemed to trash my CPU and never load the image (About 7 minutes of waiting). Now this was tested on my low power atom (hyperthreaded) netbook so

[2016-05-09 19:49] whyrusleeping commented on #2642
Most of the CPU consumption i've noticed since 0.4.0 has been from utp. A patch for utp to help address those issues was merged after 0.4.1, if you guys want to try out latest master and see if the cpu usage is better that would be very helpful

[2016-05-09 20:29] #2460 closed

[2016-05-09 20:41] falsechicken commented on #2642
Roger that. I'll try it out if I get some time in a few hours.

[2016-05-09 20:48] whyrusleeping commented on #2635
this should be resolved now. the build process grabs its own specific versions of gx and gx-go

[2016-05-09 20:48] #2635 closed

[2016-05-10 00:06] whyrusleeping opened #2647 "helptext for all commands"
I would love to add a test like this to the codebase:

[code]

But right now it would just fail, lots of commands are missing various pieces of the helptext. Enforcing this would make our docs muuuuuch better i think. We would also be able to generate manpages easily from them.

[2016-05-10 05:08] kevina commented on #875
Because this is a major change that might be too big for a single pull request I decided to maintain this as a separate fork while I work through the API issues with whyrusleeping.

I have created a README for the new filestore available here https://github.com/ipfs-filestore/go-ipfs/blob/kevina/filestore/filestore/README.md some notes on my fork are available here https://github.com/ipfs-filestor

[2016-05-10 07:34] diasdavid commented on #2619
@RichardLitt is this still the case? IPFS should increase it automatically now.

[2016-05-10 07:36] diasdavid commented on #1549
@whyrusleeping here is a `ping` to remind you to support the protocol multicodecs by spec, as described on:
https://github.com/ipfs/specs/blob/master/libp2p/7-properties.md#757-protocol-multicodecs

[2016-05-10 14:15] RichardLitt commented on #2619
Failed to reproduce.

[2016-05-10 14:15] #2619 closed

[2016-05-10 15:14] falsechicken commented on #2642
Latest master seems to work fine for me.

[2016-05-10 15:52] whyrusleeping commented on #2642
@falsechicken awesome to hear. It must have been the utp issue.

[2016-05-10 15:53] RichardLitt commented on #2647
@whyrusleeping Can you add it in a branch, and I can go through the CI and fix them all?

[2016-05-10 15:58] whyrusleeping commented on #2647
sure thing, but instead of going through ci, just pull the branch down and run `go test ./core/commands`

[2016-05-10 16:01] whyrusleeping commented on #2647
https://github.com/ipfs/go-ipfs/pull/2648

[2016-05-10 16:02] RichardLitt commented on #2647
Works for me! I think this is a great move, happy to do this.

[2016-05-10 16:06] whyrusleeping commented on #2647
@RichardLitt Yeah, i started working on some code to generate man pages yesterday but most of the commands didnt have everything filled out so they were pretty underwhelming

[2016-05-10 18:43] scriptjs opened #2649 "ipfs config edit `ENV variable $EDITOR not set` when set"
ipfs config edit cannot find $EDITOR on OSX

[code]

[2016-05-10 18:55] lgierth commented on #2649
Ugh how annoying -- could you try `export EDITOR=$EDITOR` before running ipfs config edit?

[2016-05-10 19:00] scriptjs opened #2650 "Upgraded Fuse emits CLI warning OSX, fails to mount with error"
Installed stable fuse 2.8.3. CLI warns:
[code]
I don't believe an installation of go should be a prerequisite for the check since I have installed an ipfs binary.

The key and value appear to have been added regardless (excerpt of `~/.ipfs/config` below):

[code]

Regardless, this results in an invalid key:
[code]

[2016-05-10 19:06] scriptjs commented on #2649
@lgierth Hi there. Result is same

[2016-05-10 20:44] alexander255 opened #2654 "`ipfs files` (MFS) mixes up files and directories on `ipfs files mv`"
Try running this:

[code]

# Expected result

[code]

# Actual result

[code]

# Additional Notes

Doing `ipfs cat` on the hash produced by `ipfs files stat` works:

[code]

[2016-05-10 21:37] whyrusleeping commented on #2654
Thanks for reporting! I'll get this fixed ASAP

[2016-05-11 13:20] Mithgol commented on #2642
Are there any pre-built `ipfs.exe` of the latest master for Windows? (Because I'm not sure if I'm ready to build one for myself. And because [https://ipfs.io/ipns/dist.ipfs.io#go-ipfs](https://ipfs.io/ipns/dist.ipfs.io#go-ipfs) seems to provide only versioned distributions, not master.)

[2016-05-11 13:48] falsechicken commented on #2642
@Mithgol If not I can build you some periodically. Not an ideal solution for anyone but I am willing to cross build you one sometimes. My email is on my Github profile.

[2016-05-11 22:12] Mithgol commented on #2642
Thanks.

I've thought a bit more about it and decided to wait until 0.4.2 (or 0.5.0, if the next version is a new minor). It would probably be more stable than a master build.

[2016-05-12 16:22] scriptjs commented on #1633
Hi. You mentioned the end of Sept last year that this was coming soon. Can you provide an update of where we are and how it fits with priorities. Am interested in this and want it to be compatible if possible or contribute. Do you have a blueprint?

[2016-05-12 16:33] RichardLitt opened #2680 "Move `ipfs repo stat` to `ipfs stats repo`"
I think that `ipfs repo stat` would be more appropriate under the `ipfs stats` header.

[2016-05-12 16:41] RichardLitt commented on #2647
Is Synopsis ever really helpful?

[2016-05-12 17:11] Kubuxu commented on #2641
Seems like upgrade to newest version fixed it. I will reopen it if it shows up again.

[2016-05-12 17:11] #2641 closed

[2016-05-12 17:52] Kubuxu opened #2684 "t0060-daemon.sh fails"
on not ok 21 - output from streaming commands works

Probably `curl` timeout is too short and daemon was not up and running

[2016-05-12 20:02] badb commented on #2068
Are there any chances to put connection limits higher on priority list? Starting from 0.4.0, IPFS has started to create thousands of connections per daemon. Just two instances overflow our router's NAT table, effectively cutting down internet access for everyone in the company. We downgraded to 0.3.11, which keeps a reasonable number of connections. Changing Swarm address transport protocol to UDP

[2016-05-13 02:01] whyrusleeping commented on #2068
@badb hrm... the outgoing connections shouldnt overflow your routers NAT table if our TCP reuseport and NAT traversal code is working properly. Now that i re-read this issue I think its more of a problem than I originally assumed, its likely we've got something going haywire with the upnp reuqests, or that reuseport is tripping over itself.

[2016-05-13 05:13] the8472 commented on #2068
That depends on the NAT implementation.

Not all stateful NAT engines assign only one table entry per EIM (endpoint independent mapping). For example iptable's `conntrack` always tracks individual *pairs of socket addresses* even if the abstract mapping is only based on the local socket address. This even applies when you use fixed snat/dnat rules and even to UDP.

That means the the number of tab

[2016-05-13 06:27] whyrusleeping commented on #2068
@the8472 awesome information, thanks! In that case, the only real solution is "stop opening so many connections" right?

[2016-05-13 06:48] the8472 commented on #2068
In first approximation: Yes

If you look more closely it's more complicated. The number of currently open connections only gives you a lower bound of possibly present nat table entries because those entries can linger after a connection has been closed or a connection attempt has failed.
Additionally incoming connections or connection attempts from other nodes can also spawn nat table entries.

So

[2016-05-13 08:50] Kubuxu commented on #2068
There is no real NAT66 (only NPT66 which is stateless) so it shouldn't be a problem for IPv6.

[2016-05-13 09:07] the8472 commented on #2068
I have focused on NAT, but state table overflows exist in stateful firewalls and thus IPv6 too.

It's just a lesser issue with v6 because stateful firewalls can be turned off. Stateful nats on the other hand usually can not.

[2016-05-13 17:18] whyrusleeping opened #2686 "killing CLI commands prints ugly error message"
Killing a cli command cancels the context which throws us an error for that clientside:

[code]

We should avoid doing that, the user cancelled it, they know its being cancelled

[2016-05-13 17:31] whyrusleeping commented on #2680
i think the case could be made to have it be both place, as an alias for the same command

[2016-05-13 17:35] whyrusleeping commented on #2617
you can use mars: QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ

[2016-05-13 18:55] RichardLitt commented on #2680
Agreed. Are there other aliases I could look at in the code, to see how to implement a PR myself?

[2016-05-13 18:55] RichardLitt commented on #2680
Same goes for:

[code]

[2016-05-13 20:43] keorn commented on #2420
Could be used for auto generating API wrappers.

[2016-05-13 21:28] #2617 closed

[2016-05-13 21:31] whyrusleeping commented on #2620
https://s3.amazonaws.com/archive.travis-ci.org/jobs/129801262/log.txt

[2016-05-13 21:49] whyrusleeping commented on #2620
https://s3.amazonaws.com/archive.travis-ci.org/jobs/129545003/log.txt

[2016-05-13 21:50] whyrusleeping commented on #2620
https://s3.amazonaws.com/archive.travis-ci.org/jobs/129544938/log.txt

[2016-05-13 21:57] RichardLitt commented on #2420
I think we've justified `ipfs commands`. I used it today. Can we close this now?

[2016-05-13 22:14] whyrusleeping commented on #2620
https://s3.amazonaws.com/archive.travis-ci.org/jobs/129527732/log.txt

[2016-05-13 22:25] #2684 closed

[2016-05-14 00:40] RichardLitt opened #2691 "Set LongDescription to ShortDescription if no LongDescription"
This came up here: https://github.com/ipfs/go-ipfs/pull/2681#discussion_r63260096. Right now, if there is no long description, we just copy the short one. This is redundant. We should set it so that if there is no extra information for long description, just copy the short one and use that.

[2016-05-14 01:33] whyrusleeping commented on #2620
http://ci.ipfs.team:8111/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=1710#_focus=19936

[2016-05-14 02:17] csasarak commented on #2629
I am interested in getting involved with this project, if you think this is a good place for a new person to get involved I could help.

[2016-05-14 05:55] kevina opened #2692 "Documentaion for logging?"
Is the IPFS_LOGGING and IPFS_LOGGING_FMT variables documented anywhere?  It took me a while to discover how they work.  It doesn't help that the code for this is in a external module.

[2016-05-14 08:48] Kubuxu commented on #2629
It should be quite easy to do. I would encourage you to try.

A lot of issues are tagged with difficulty.

[2016-05-14 09:40] Kubuxu commented on #2691
I will take it.

[2016-05-14 10:09] Kubuxu opened #2693 "Standardising verbose flag description"
Currently we are using many different ones:
* Print more verbose output.
* Write extra information.
* Write debug information.
* verbose output

It would be much nicer to use just one and the same description (when it makes sense, there might be some special cases).

If we standardise, what should be the description?

[2016-05-14 14:32] csasarak commented on #2629
Sounds good, I'll have a go.

[2016-05-14 14:41] RichardLitt commented on #2693
I think 'Print extra information' is the most accurate and non-redundant.

[2016-05-14 21:54] #2691 closed

[2016-05-14 22:18] whyrusleeping commented on #2620
http://ci.ipfs.team:8111/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=1735#_focus=19961

[2016-05-15 11:43] Kubuxu commented on #2686
I can't reproduce it. Which command you've used.

[2016-05-15 12:20] chriscool opened #2695 "go test failure"
When running go tests I get a strange failure, for example with `make test`:

[code]

[2016-05-15 12:23] chriscool commented on #2695
Note that I get the  same error with `make test_go_short`, `make test_go_expensive` or just `go test ./...`.

[2016-05-15 14:14] kevina opened #2697 "Files added via files API get garbage collected"
It seams that there is nothing protecting files added via the files API from being garbage collected:
[code]
And I can't even remove the file:
[code]
(but for some reason `ipfs files rm -r /hello.txt` works as a workaround).

Am I missing something?

[2016-05-15 14:43] kevina opened #2698 "Cannot restart daemon after files API ops and `repo gc`"
[code]
The final command `ipfs daemon` will hang.  When I press Ctrl-c I get:
[code]
This is very likely related to #2697

[2016-05-15 15:00] RichardLitt commented on #2691
Thanks, @Kubuxu!

[2016-05-15 15:07] kevina commented on #2698
Note after the steps above, nothing will work even when offline:
[code]
To fix this I need to somehow remove the key "/local/filesroot" from ".ipfs/datastore/". Or just start over by killing the ".ipfs/datastore" directory or if I don't care about the cache or my node id just kill ".ipfs" and do an `ipfs init`.