[2017-02-17 19:44] kevina commented on #3681
@Kubuxu yes, sorry I missed the message, part of of been my fought for misunderstanding how defer works in go (I assumed it would execute at the end of the scope (like C++ would) not the end of the function).

Expect something in a few hours.

[2017-02-17 20:48] kevina commented on #3681
@Kubuxu okay, I just created a p.r. that should help.  https://github.com/ipfs/go-ds-flatfs/pull/18.

This will need to be bubbled up once merged.

[2017-02-17 20:59] Kubuxu commented on #3531
It becomes a bit more relevant now as all branches are visible in Jenkins.
Would you agree to create a `go-ipfs-archive` repo and move old unused branches to it?

[2017-02-17 20:59] Kubuxu commented on #3531
cc @lgierth @whyrusleeping

[2017-02-17 21:28] lgierth commented on #3531
Yes SGTM :+1: something like, older than a month, and not bound to an open PR.

[2017-02-17 21:28] lgierth commented on #3531
Ah yeah you suggested the exact same :P

[2017-02-17 22:03] kevina commented on #3553
Okay, since I don't have anything else pressing to do I am going to start to work on this.  I will basically work to make the garbage collector as resilient as it is safe to do so, and to report any errors in as clear and helpful manor as possible to make fixing any problems easy.

[2017-02-18 03:04] whyrusleeping commented on #3553
@kevina sounds good to me, make sure to do so in small testable changesets :)

[2017-02-18 15:49] NeoTeo commented on #3681
Getting a lot of these. Related?
[code]

[2017-02-18 16:54] Kubuxu commented on #3681
No

[2017-02-18 19:55] NeoTeo opened #3706 "0.4.5 daemon "too many open files" errors."
#### Version information:
go-ipfs version: 0.4.5-
Repo version: 5
System version: amd64/darwin
Golang version: go1.7.4

#### Type:
Bug

#### Priority:
P2

#### Description:
Running the daemon using an older converted datastore gives the errors (after a while, not upon startup) as logged below. Also note the final error has been seen for quite a few versions and is related to the host machine sleep

[2017-02-18 19:56] NeoTeo commented on #3681
Opened as issue #3706

[2017-02-19 18:35] Mithgol opened #3707 "changes in the default configuration do not propagate to the upgrades of earlier go-ipfs versions"
#### Version information
[code]

#### Type: bug (misconfiguration)
#### Priority: ?
#### Description

The chat log from fedwiki/wiki-client#173 says that changes in the default configuration of go-ipfs do not automatically apply to users of earlier versions when they upgrade:

![(the chat log)](https://cloud.githubusercontent.com/assets/12127/18616133/49880a30-7d6b-11e6-937a-f22db20dbef8.png)

It 

[2017-02-19 21:25] Kubuxu commented on #3707
Thanks for rising it. I think this will be becoming more and more of an issue as we expand and want to move config forward.

I agree that user config and separate default config might be a solution for that.
This would mean refactor of configuration system and possible migrations code.

I would also like to raise the issue of modifying config using the ipfs tool itself. It is problematic, not real

[2017-02-20 02:23] djdv commented on #3707
I was wondering about this too with the recent ipv6 additions (https://github.com/ipfs/go-ipfs/pull/3523), I wouldn't have added them to my config if I didn't notice it.
Adding my 2 cents, I've always been a fan of a magic default value (such as "default") with accompanying [documentation on what that expands into](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md) and maybe notes for ver

[2017-02-20 19:45] whyrusleeping opened #3710 "Very weird panic during linux CI run"
Scroll to the bottom of this travis CI log: https://s3.amazonaws.com/archive.travis-ci.org/jobs/202531197/log.txt

[2017-02-20 19:46] whyrusleeping commented on #3706
@NeoTeo Thanks for reporting, I think this is the flatfs issue we just resolved. Will post back in a bit with something to try

[2017-02-20 19:59] whyrusleeping commented on #3706
@NeoTeo If you don't mind building from source, could you try running this PR https://github.com/ipfs/go-ipfs/pull/3711 ?

[2017-02-20 20:49] NeoTeo commented on #3706
@whyrusleeping Absolutely. I just need something to trigger it consistently. Any ideas?

[2017-02-20 21:02] Kubuxu commented on #3710
I've seen it once before, it seems that during exiting due to wrong CLI args some other goroutine in background tries to attach process and it panics.

[2017-02-20 21:11] whyrusleeping commented on #3706
@NeoTeo Try doing `ipfs refs local` a few times with a bunch of connected peers.

[2017-02-20 21:28] whyrusleeping commented on #3710
Ah, looks like we need to move the http gateway creation stuff to start after *everything* else has begun

[2017-02-20 21:32] whyrusleeping commented on #3699
@kevina I think this is a little bit more tricky than just adding a simple switch to ipfs add. I think the easiest way to accomplish this would be to add a flag to ipfs daemon like: `--enable-cidv1-experiment` or something (Used 'experiment' there to fit in with the current convention we have for daemon enabled new feature flags). And have it modify the `defaultCidPrefix` variable in `merkledag/no

[2017-02-20 21:43] whyrusleeping commented on #3686
@iain17 Using my service example is rather limited, All peers you talk to with that will have to be running code with that protocol code in it. This means you can't easily just dial up a given peer at a random new protocol.

If you're just looking for a method to find random new peers, you can query random dht keys (as you're doing in your dht example). If you want to find *specific* peers, one wa

[2017-02-20 21:54] whyrusleeping commented on #3696
@mib-kd743naq Hrm... I think the most direct way would be to get a list of pins from the source node, and pin those on the new node. If you care about temporarily cached content, then you could get the output of `ipfs refs local` and fetch each of those blocks on the new node.

[2017-02-20 21:56] whyrusleeping commented on #3647
@photonxp Thanks for reporting, This is a somewhat known issue, but i'm unsure if an issue was ever actually opened for it. The fix isnt trivial due to some assumptions we're making (and some we're not making) about the ordering of files as input to the `ipfs add` call.

As you said, the current workaround is to add each item separately.

[2017-02-20 21:57] whyrusleeping commented on #3614
@Kubuxu did you fix this recently? I remember merging a dockerfile PR that touched `.git/objects`

[2017-02-20 21:59] whyrusleeping commented on #3588
I believe this is now done, thanks @Voker57 :)

[2017-02-20 21:59] #3588 closed

[2017-02-20 22:07] Kubuxu commented on #3614
This is something different, I added the same mkdir to dockerfile used by Jenkins. I have no idea why it fails in dokku.

[2017-02-20 22:10] lgierth commented on #3614
It probably just needs to be `mkdir -p` instead of `mkdir`

[2017-02-20 22:11] Kubuxu commented on #3614
But this would mean that there is no `.git` directory over there.

[2017-02-20 22:41] NeoTeo commented on #3706
Looks good. Not a peep from the daemon.

[2017-02-20 22:50] Kubuxu commented on #3706
Reopening, and linking it to #3711

[2017-02-21 01:46] kevina commented on #3553
#3712 should help with this, it still needs testing though

[2017-02-21 04:04] #3706 closed

[2017-02-21 06:24] whyrusleeping commented on #3677
Found the issue. iptb kill was using `wait`to wait on the daemons to be killed, but wait only works on child process. The daemons spawned by iptb are set to not be children of iptb so they can run after the `iptb start` command finishes. The wait call was erroring and we werent checking the error. I switched it to use a kill(0) loop. Will update in ipfs soon.

[2017-02-21 07:15] whyrusleeping commented on #3696
@mib-kd743naq i made this, hopefully it helps: http://ipfs.git.sexy/sketches/replicate_node.html

Any feedback and/or additional clarifications you think i should make or discuss would be great.

[2017-02-21 07:49] whyrusleeping commented on #3706
@NeoTeo Thanks for verifying!

[2017-02-21 07:50] NeoTeo commented on #3706
@whyrusleeping Happy to help :)

[2017-02-21 08:01] whyrusleeping commented on #3707
I think one thing we can do pretty easily is add an `ipfs config upgrade` command that handles doing these changes. I'm not certain that having a magic keyword of `default` is the right thing to do, but i'm open to discussing it further.

the config upgrade command could work at least two different ways, the first would be for us to manually add in changes we make to the command. This becomes cumb

[2017-02-21 08:02] whyrusleeping commented on #3681
This should be resolved now (as well as #3706 )

[2017-02-21 08:14] whyrusleeping commented on #3372
Could be something like `ipfs swarm down` and `ipfs swarm up`.  Would probably shut down the 'host' in the `core.IpfsNode` and set the daemons mode to 'offline' (so commands that only work online will fail with appropriate messages)

[2017-02-21 08:26] whyrusleeping commented on #3644
This issue probably comes from go-libp2p/p2p/host/basic/basic_host.go where we add addresses that we've been observed to have to the ipfs id output. This touches on another issue where if someone tells us they see us coming from a port above 32000 or so, its definitely not something we're dialable on.

Found the info, we shouldnt ever claim to be listening on ephemeral ports: https://en.wikipedia.

[2017-02-21 08:36] whyrusleeping commented on #3710
Should be as simple as moving the gateway setup stuff here https://github.com/ipfs/go-ipfs/blob/master/cmd/ipfs/daemon.go#L379 down to right before the "Daemon is ready" message. This shouldnt mess with any of the printed output AFAIK.

[2017-02-21 08:40] whyrusleeping commented on #3593
Sorry we havent responded to this one. Definitely looked at it and said "huh, thats weird".

My first bet on things to try for debugging would be to run this without the daemon, and to enable all debug logs: `export IPFS_LOGGING=debug`.

Just need to coax out a more descriptive error message to figure out what the actual issue is.

[2017-02-21 08:42] whyrusleeping commented on #3544
First one to start with here would be `ipfs dag put`. I think that makes the most sense.

`echo "{}" | ipfs dag put --pin`

[2017-02-21 08:44] whyrusleeping commented on #3433
This should be resolved now. Was unbounded concurrency in the enumerate children methods

[2017-02-21 08:44] #3433 closed

[2017-02-21 08:46] whyrusleeping commented on #3289
@Kubuxu has this been resolved?

[2017-02-21 08:46] whyrusleeping commented on #3280
This is done now

[2017-02-21 08:46] #3280 closed

[2017-02-21 08:46] whyrusleeping commented on #3279
This has been resolved

[2017-02-21 08:46] #3279 closed

[2017-02-21 08:47] whyrusleeping commented on #3699
This is also a dupe of #3243

[2017-02-21 10:19] wigy-opensource-developer commented on #3372
How is this different from stopping the daemon and restarting it again? Gateway ports on localhost will be still available? BTW, is `killall -INT ipfs` the most elegant way to stop the daemon right now?

[2017-02-21 11:58] Kubuxu commented on #3289
I think yes.

[2017-02-21 11:58] #3289 closed

[2017-02-21 12:01] Kubuxu commented on #3681
@lgierth can you test migrations on our gateways?

[2017-02-21 13:47] Kubuxu commented on #3696
`for ref in `cat all_the_refs`; ....` won't work if the list is too long

better way would be: `< all_the_refs xargs -L 1 ipfs block get > /dev/null`

[2017-02-21 21:20] iain17 commented on #3686
@whyrusleeping Thanks. Yeah this issue is probably a dup of https://github.com/ipfs/notes/issues/15

Thanks for your reply.

[2017-02-21 21:20] #3686 closed

[2017-02-22 17:11] ewooonk opened #3718 "Swarm peers no response"
#### Version information:
go-ipfs version: 0.4.5-
Repo version: 5
System version: amd64/linux
Golang version: go1.7.4

#### Type: Bug

#### Priority: P4

#### Description:

ipfs swarm peers is not responding. The situation occurs when my PC connected to via an router and when my PC is directly connected to the LAN network. IPFS runs fine on Windows 10 using the same network (by wifi). I also canno

[2017-02-22 23:24] whyrusleeping commented on #3651
One more update, noticed again after:

- starting my node
- having mars pin a thing from it
- killing my node
- starting my node up again a short time later
- trying to pin something on mars from my node

[2017-02-23 03:59] jbenet commented on #3651
would be amazing to get this figured out. can anyone in our community help with this?

[2017-02-23 04:32] whyrusleeping commented on #3718
@ewooonk can you set the environment variable `IPFS_LOGGING` to `debug` before starting the daemon?

[2017-02-23 12:12] ewooonk commented on #3718
@whyrusleeping  Thank you for reaching out. It seems to be a NAT issue.
Full log: https://gist.github.com/ewooonk/8f760e51e97cd1974e6cd340de03b4fb

[2017-02-23 14:51] jad-darrous commented on #3593
Hello @whyrusleeping,
Thank you for the comment. Actually, it seems that the problem is not related to IPFS. I got the problem only when I use Vagrant. I tried on my machine and it works.

`IPFS_LOGGING=debug` and the IPFS daemon is not running. I got this:

[code]

[2017-02-23 18:59] kevina opened #3721 "Consider 'set -e' in lib/test-lib.sh"
Without it simple typos may be hard to catch.  For example, this trivial test script should fail:
[code]
But it doesn't because I misspelled `successs`.  Instead here is the output:
[code]
It shows the error, but in a large script with lots of tests it may be very easy to miss.

If the `set -e` in uncommented than the script will abort and make the typo more obvious:
[code]
I am not sure what cons

[2017-02-23 19:04] kevina commented on #3721
Note that `set -e` does not cause the script to abort if a test fails.  For example if the script was (with both `set -e` and the typo fixed)
[code]
the output will be:
[code]

[2017-02-23 19:32] whyrusleeping commented on #3721
mmm, i see. `set -e` doesnt apply like i thought it would because the test_expect_success commands are essentially running a subshell by calling eval and actually not returning a non-zero value even on test failure

[2017-02-23 20:30] Kubuxu commented on #3718
It seems like a NAT issue, for some reason it repeats the NAT query over and over. I can add more logs but there isn't much we can do.

Maybe if you could use Wireshark to capture the UPNP traffic, but I won't be giving tutorial here.

[2017-02-23 20:32] whyrusleeping commented on #3718
@Kubuxu but why would that cause a peer to have no connections?

[2017-02-23 20:33] Kubuxu commented on #3718
I just checked the NAT code, it isn't the case, the logs out there are right, it should recheck the mapping every 20s.

I have no idea, I have similar problem at my house, ipfs is not able to even dial out cleanly.

[2017-02-23 20:35] whyrusleeping commented on #3718
@Kubuxu not able to dial OUT cleanly? what are the symptoms? Can you make outbound connections with netcat?

[2017-02-23 20:37] Kubuxu commented on #3718
I can use nc and any other systems but ipfs doesn't seem to function great.

I am not there right now but what happens is I get a peer or two, and then it can't dial to other peers cleanly (for example my server).

I can try diagnosing it when I get there.

[2017-02-24 15:04] jonmyates opened #3724 "Empty 200 status response when using certain type of txt file"
#### Version information:
https://ipfs.infura.io:5001/api/v0/add

#### Type: Bug

#### Priority: P4

#### Description:
When trying to add a file named readme.txt with the following content:

[code]

a 200 HTTP status is returned but is empty.

http://i.imgur.com/lu5PgFB.png
http://i.imgur.com/E1BqqSe.png

[2017-02-24 15:28] Kubuxu commented on #3724
It is probably due to origin protection but I am not sure why it returns 200. Can you try the same with local node?

[2017-02-24 17:31] jonmyates commented on #3724
Sure,

Returns a 403 - Forbidden.

[2017-02-24 17:59] Kubuxu commented on #3724
So it on whoever hosts ipfs.infura.io, sorry, can't help with that.

[2017-02-24 17:59] #3724 closed

[2017-02-24 18:08] whyrusleeping commented on #3724
cc @hermanjunge

[2017-02-24 18:47] hermanjunge commented on #3724
Thanks for the heads-on @whyrusleeping

Hi @jonmyates

Here is the file uploaded into INFURA. It can be seen both in INFURA, as in the IPFS gateway

https://ipfs.infura.io/ipfs/QmXmnwtefGNgeeSMMySjSrm3hTXYDtaqGszqRvii4NQeg9

https://ipfs.io/ipfs/QmXmnwtefGNgeeSMMySjSrm3hTXYDtaqGszqRvii4NQeg9

Used

[code]

*NOTE* You can tell us on any INFURA issue [here in our repo](https://github.com/infura/infu

[2017-02-24 22:20] mariokamenjak commented on #2383
I got the same bug, luckily it worked after I did what @noffle posted in his first comment.

[2017-02-24 22:23] whyrusleeping commented on #2383
We should work on failing more gracefully here. I think this is worth bumping to a development milestone

[2017-02-24 23:39] whyrusleeping commented on #3721
cc @chriscool

[2017-02-24 23:45] whyrusleeping commented on #3704
without having looked at the code, my guess is this is a timing issue. We probably expect the thing to take a certain amount of time and check it 'before that time', when in reality, due to the scheduler, can actually be after that time

[2017-02-24 23:46] whyrusleeping commented on #3704
solution: probably check the current time before and after, and if we trip this failure, check to make sure the correct amount of time has actually elapsed

[2017-02-26 13:26] Kubuxu commented on #3654
It was a bug in Go 1.7 which is the Go version that gx 0.10.0 was compiled with. Current master will use g 0.11.0 which will not have this problem.

[2017-02-26 13:26] Kubuxu commented on #3654
It was a bug in Go 1.7 which is the Go version that gx 0.10.0 was compiled with. Current master will use g 0.11.0 which will not have this problem.

[2017-02-26 13:26] #3654 closed

[2017-02-27 10:26] Kubuxu commented on #3641
Seems like it isn't possible to reproduce. Please reopen with steps to reproduce if it is still an issue.

[2017-02-27 10:26] #3641 closed

[2017-02-27 10:35] Kubuxu opened #3729 "ipfs get /ipns/example.com fails with unexpected error"
Version: 0.4.6-rc1

Reproduction:
[code]

[2017-02-27 18:27] kevina commented on #3679
Another disk based alternative is to use two sorted lists.  First write out a list of the colored set, then sort it (duplicates can be removed during the sorting phase).  Then create another list of all keys that are candidates to be removed and sort it.  Then simply compare the two lists.  The second list is not strictly needed as a binary search can be performed on the colored-set list, but will

[2017-02-27 18:35] kevina commented on #3699
@whyrusleeping so you are saying you do not want to allow the user to select the form of the Cid returned on a per-instance bases.

If we go with the daemon flag how will the case when the daemon is not running be handled.  If you want to go that route a config option seams a better route.

[2017-02-27 18:39] Kubuxu commented on #3699
Just as a note, this will break a lot of our sharness testing infrastructure. When we start working with it (and preparing for it to be default), we should do something that would make future changes like that less painful. For example: have file with generated hash and steps to reproduce it, then when change like that is done, the reproduction steps can be executed and new target hash can be gene

[2017-02-27 18:44] kevina commented on #3699
@Kubuxu in some cases that is a lot easier said then done.  Can we create a separate issue for that (sharness testing infrastructure).

[2017-02-27 19:12] whyrusleeping commented on #3699
@kevina Yeah, a config option would probably be a better solution here

[2017-02-27 19:13] kevina commented on #3699
@whyrusleeping also, unless I am missing something, I don't think it should be too hard to reformat a Cid in one format to another based on a flag.  Is there a reason you don't want to do this?

[2017-02-27 19:24] whyrusleeping commented on #3699
@kevina because just switching the output format of the root cid won't actually accomplish what we want. The cids written in the links to child objects would still be version 0

[2017-02-27 19:26] whyrusleeping commented on #3699
@kevina we could still do it on a per add basis, but it will be more tricky as it will require modifying a lot of wiring down into the adder/importer code and also touching the merkledag package to change how specifying a CID version on creation of a `merkledag.ProtoNode`

[2017-02-27 19:32] whyrusleeping commented on #3679
In practice, this is a huge cost. Very frequently we have situations where there are 100 or so nodes that point to the same large graphs (example, the go-ipfs source directory in my repo that i add to ipfs very frequently)

[2017-02-27 19:33] whyrusleeping commented on #3679
Though I do like the idea of pushing the colored set to disk as a sorted list (alternatively, a binary search tree, if you want to do heap style indexing)

[2017-02-27 20:47] kevina commented on #3699
@whyrusleeping it might be more tricky but a global option to always use CidV1 could break a lot of things and will be difficult to test.  I per add flag on the other hand will be fairly easy to test.

[2017-02-27 21:45] whyrusleeping commented on #3593
@jad-darrous Interesting, a too many open files issue. What OS is the vagrant machine running, linux? I think i have an idea how this could happen, its likely a result of our auto-batching code trying to do too many things at once, with smaller chunk sizes its probably batching more writes into a single operation.

Could you try raising the file descriptor limit to something like 4096 (or higher?)

[2017-02-28 00:55] kevina commented on #3699
It should not be required to modify the merkledag package.  Just set the Prefix field in ProtoNode immensely after the creation.  For the rest we can start with a similar path used to enable RawLeaves that is add an option to `add` maybe call it `--cid-version` with valid values of 0 or 1 and a default of 0; then push the option down into DagBuilderHelper.

After that is done add two new methods:

[2017-02-28 08:25] vivekar1234 commented on #3313
When can we get the latest one...please can you help as we have POC pending

[2017-02-28 08:32] Kubuxu commented on #3313
https://github.com/ipfs/go-ipfs/pull/3697 build available at

To generate swarm key use: https://github.com/Kubuxu/go-ipfs-swarm-key-gen

[2017-02-28 08:43] Kubuxu opened #3731 "namesys concurrent map write test failure"
[code]

[2017-02-28 08:44] Kubuxu commented on #3731
It is probably because MapDatastore is not thread safe. Wrapping it in `go-datastore/sync.MutexWrap` should solve the issue.

[2017-02-28 11:16] JustinDrake opened #3732 "Carve out namesys into a separate repo"
I am finding myself `go get`ting all of `go-ipfs` just to import `"github.com/ipfs/go-ipfs/namesys/pb"`. Would it make sense to carve out namesys into a separate repo?

[2017-02-28 12:52] jad-darrous commented on #3593
The OS is ubuntu 15.10 (Vagrant box is "ubuntu/wily64"). The initial limit was
[code]
I raised it to 65536 and now it works fine !

With this limit, IPFS could handle chunk sizes as small as 128 bytes.

Thanks for the help !

[2017-02-28 14:49] Kubuxu commented on #3593
@whyrusleeping do we want to do something with it or is it good to close?

[2017-02-28 17:22] Kubuxu opened #3735 "test failure in namesys/republisher"
[code]

[2017-02-28 23:51] mateon1 commented on #3735
Duplicate of #3197

[2017-03-01 09:03] #3735 closed

[2017-03-01 10:23] mitar opened #3737 "pubsub sub HTTP command should use text/plain content type"
#### Version information:

[code]

#### Type: Bug

#### Priority: P2

#### Description:

Compare:

[code]

[code]

Because `pubsub/sub` is content type set to `application/json` code tries to parse it into a JSON. But it is not JSON, but a series of JSON. In fact, trying to use ndjson to parse it fails.

[2017-03-01 10:29] mitar commented on #3737
Hm, it seems [this is handled specially](https://github.com/ipfs/js-ipfs-api/blob/master/src/request-api.js#L46). In contrast then with log, where [it is parsed here instead](https://github.com/ipfs/js-ipfs-api/blob/master/src/api/log.js#L16).

[2017-03-01 11:02] Kubuxu commented on #3737
Is the `curl -D - "http://localhost:5001/api/v0/pubsub/sub?arg=<topic>&discover=false"` returning valid ndjson?

[2017-03-01 11:05] mitar commented on #3737
It is returning valid JSONs per newline. It is just confusing that log returns a different content type than pubsub.

[2017-03-01 11:06] Kubuxu commented on #3737
We should probably do the reverse then, change the response type of the log tail to json.

[2017-03-01 11:07] Kubuxu commented on #3737
Really the content type should be `application/x-ndjson`.

[2017-03-01 11:14] mitar commented on #3737
Yea. Then also [this could be simplified](https://github.com/ipfs/js-ipfs-api/blob/master/src/api/log.js#L16) to simply passing callback to `send`.

[2017-03-01 11:15] mitar commented on #3737
True, because my browser extension complains now when it tries to parse `application/json`.

[2017-03-01 11:23] Kubuxu commented on #3737
But it is breaking change to the API, so we have to be really careful with it.

[2017-03-01 11:26] Kubuxu commented on #3737
@mitar I've edited the title and the main post. Please see if it is correct.

[2017-03-01 11:30] mitar commented on #3737
Looks good. Thanks!

[2017-03-01 12:04] Kubuxu commented on #3737
@whyrusleeping @diasdavid @dignifiedquire please take a look at this issue. More we wait for this to happen the harder it will to migrate. I am open to various resolutions. It again reopens problem of API versioning. We claim to be v0 but we treat it as v1.

[2017-03-01 12:10] dignifiedquire commented on #3737
I'm all for valid content headers.

[2017-03-01 17:54] hsanjuan commented on #3737
Yeah put valid content headers. This is broken for people that look at that header so I don't think they will complain. And for those that don't look at it it should be harmless. Do we need to update any spec?

[2017-03-01 18:02] whyrusleeping commented on #3737
Yeah, i'm fine putting in valid content types here.

[2017-03-01 18:30] Kubuxu commented on #3737
It will break js-ipfs-api, afaik.

[2017-03-01 18:52] mitar commented on #3737
But a change is simple and mentioned above. Just remove extra ndjson parse.

[2017-03-01 19:36] whyrusleeping commented on #3699
@kevina sounds good to me, thanks for the writeup!

[2017-03-01 19:41] whyrusleeping commented on #3737
@Kubuxu eh, unsure. I think they can fix those things to not rely on the content type before we make this change so that it doesnt break when we fix it.

cc @diasdavid @dignifiedquire

[2017-03-01 19:49] dignifiedquire commented on #3737
Just make the PR, I can fix the api before a release happens.

[2017-03-01 19:50] kevina commented on #3699
Should have it implemented by the end of the day.

[2017-03-01 19:54] whyrusleeping commented on #3737
@dignifiedquire You should be able to fix it so that it works for current behaviour and with the changed content type (making this change on the go side requires no changes to our api client)

[2017-03-01 23:41] whyrusleeping commented on #3651
yamux logs from recent reproduction of issue:
[code]

Not sure which are actually related, but figured i'd leave it here as a reference

[2017-03-02 00:39] #3624 closed

[2017-03-02 00:45] #3710 closed

[2017-03-02 00:46] #3313 closed

[2017-03-02 01:32] whyrusleeping opened #3740 "Travis CI test failure in bitswap"
https://s3.amazonaws.com/archive.travis-ci.org/jobs/205948315/log.txt

Quite odd, havent seen one of these in a good long time.

[2017-03-02 01:46] mitar opened #3741 "A way to prevent pubsub from forwarding messages"
#### Version information:

[code]

#### Type: Enhancement

#### Priority: P3

#### Description:

So I am maintaining a set of pending transactions (for a new block in a blockchain). One property I have is that transactions are unique per block, a set. I use pubsub to broadcast information about new transactions to others. But now, if somebody transmits a transaction others already have, one optimi

[2017-03-02 05:31] #3471 closed

[2017-03-02 07:07] whyrusleeping commented on #3741
@mitar hrm... I would like to make pubsub more pluggable for sure. If you have any ideas on how the UX for this should look, i would love to hear it.

cc @diasdavid for thoughts on this

[2017-03-02 07:26] #3566 closed

[2017-03-02 08:11] mitar commented on #3741
So my current idea is that we extend API in the following way:
* `/api/v0/pubsub/sub`, argument `capture`, which, if set, makes pubsub behave so that when a message for a topic is received, it is not automatically propagated further, but just provided through the API to the subscriber
* if the subscriber wants to propagate this message further, they call `/api/v0/pubsub/pub` with the same message

[2017-03-02 17:14] #3607 closed

[2017-03-02 17:18] #3013 closed

[2017-03-02 23:24] kevina commented on #3699
FYI: As I was afraid my outline above was incomplete.  It only handled the case when adding a single file.  Handling directories will require a few additional changes.  I will describe the additional changes in the p.r., which should be ready by the end of today.

[2017-03-03 18:07] whyrusleeping commented on #3732
Yeah, definitely, but it will take some work.

Currently, the namesys package imports the following other subpackages of the go-ipfs codebase:

[code]

Many of these will be easy to extract (things in thirdparty, the routing/* deps) but i think the hard ones will be merkledag and pin (unclear if we 100% need those imported?)

[2017-03-04 07:34] whyrusleeping commented on #3656
Found the issue: https://github.com/libp2p/go-libp2p-kad-dht/pull/52

[2017-03-05 11:48] mitar opened #3745 "pubsub does not always find other peers"
#### Version information:
[code]
[code]

#### Type: Bug

#### Priority: P3

#### Description:

I am using pubsub feature and testing it between two nodes (one on public IP, another not, the first running Linux, the second Mac OS X) and I am noticing that not always peers discover each other and as a consequence messages do not get broadcasted. It is like each node would be on its own.

[2017-03-05 17:52] whyrusleeping commented on #3745
@mitar Could you try the `--discover` option on `ipfs pubsub sub` ?

[2017-03-05 18:04] mitar commented on #3745
I am running with that option all the time, using JS API:

[code]

Is there any blacklisting/penalty or something? Because I tried to find a reproduction and was stoping and starting daemons often and subscribing and stopping subscriptions often, and more and more I was doing that, more and more peers didn't find each other?

[2017-03-06 01:45] whyrusleeping commented on #3651
Encountered this again with multiplex. I was still able to ping mars during the bug (this goes against what i was saying earlier where pinging mars hung while the bug was in effect under multiplex)

[2017-03-06 02:19] whyrusleeping opened #3746 "Add verbose mode to ipfs swarm connect"
It would be nice to get a log of what the dialer is trying and how each thing succeeds or fails:

[code]

[2017-03-06 05:43] whyrusleeping commented on #3604
Might be cool to start an ipfs/importers repo where we can collect ideas like this

[2017-03-06 05:57] whyrusleeping commented on #3603
Note to self: move to ipfs/importers repo when we make that

[2017-03-06 06:00] whyrusleeping commented on #3525
@Kubuxu Has this been resolved? I seem to remember you PRing something like this in

[2017-03-06 06:03] whyrusleeping commented on #3651
Wow. this issue crops up *a lot* on shitty comcast internet. Definitely a corelation with tcp connection timeouts here

[2017-03-06 06:07] whyrusleeping commented on #3536
The s3 code isnt quite there yet (its high on my todo list actually). Once thats in we can look at figuring out google drive

[2017-03-06 06:07] whyrusleeping commented on #3579
This has been added `make install_unsupported`

[2017-03-06 06:07] #3579 closed

[2017-03-06 07:05] whyrusleeping opened #3747 "TestMultipartFiles fails under go1.8"
It seems to fail because a full read will also return an EOF.

[2017-03-06 07:19] wigy-opensource-developer commented on #3741
This is a great idea. It brings consensus based domains into IPFS and libp2p. The generic network layer has no idea about the protocol implemented on it, therefore it needs to ask upper, more concrete layers.

[2017-03-06 07:23] Kubuxu commented on #3525
Yes, duplicate was marked as resolved.

[2017-03-06 07:23] #3525 closed

[2017-03-06 07:37] whyrusleeping commented on #3468
This should be pretty easy to fix actually. Though is your example accurate? I don't think we ever return an object with code == 500 (or any http status codes for that matter)

[2017-03-06 07:37] whyrusleeping commented on #3457
Thanks for reporting, This may have been fixed. Needs to be verified

[2017-03-06 07:38] whyrusleeping commented on #3415
:+1: Youre absolutely right, this should print a better error message

[2017-03-06 07:39] whyrusleeping commented on #3387
Hrm... unsure about this. We often put example cli command invocations in the helptext, thats hard to have apply to both HTTP and CLI

[2017-03-06 07:41] whyrusleeping commented on #3295
Hrm... This is interesting. I wonder if we can generalize this to some sort of CRDT op-log type of ipns mode

[2017-03-06 07:43] whyrusleeping commented on #3322
Hrm... is there a compelling reason to use form-data? at the end of the day its just a string constant, right?

[2017-03-06 07:43] whyrusleeping commented on #3341
@lgierth I think this was a panic of some sort we have since fixed. I'm gonna go ahead and close this

[2017-03-06 07:43] #3341 closed

[2017-03-06 07:44] whyrusleeping commented on #3370
I support working towards making ipfs build while its deps are in dvcs form, but i'm not on board with actually committing it that way

[2017-03-06 07:48] whyrusleeping commented on #3292
cc @lgierth

[2017-03-06 07:49] whyrusleeping commented on #3176
@lgierth update here?

[2017-03-06 07:50] whyrusleeping commented on #3089
We're releasing on a much faster timeline, I think we can close this now that we're pushing a release every 2-3 weeks

[2017-03-06 07:50] #3089 closed

[2017-03-06 07:51] whyrusleeping commented on #3082
@lgierth wanna see if you can figure this one out?

[2017-03-06 07:52] whyrusleeping commented on #3014
We've recently updated the fuse package we import. Mind trying this out again with the latest master?

[2017-03-06 07:53] whyrusleeping commented on #2843
@Kubuxu Anything actionable here? Unsure if we want to keep this open or what

[2017-03-06 07:54] whyrusleeping commented on #2783
We should have a test that we can manually run to verify all our helptext fits within this limit. I think its a good idea to try and keep the 78 (but really 80) character limit

[2017-03-06 07:56] Kubuxu commented on #2843
This is something we will have to do sooner or later. You can close it, or leave open as a reminder.

Hmm, let's keep things actionable. CLOSED

[2017-03-06 07:56] #2843 closed

[2017-03-06 07:57] whyrusleeping commented on #2776
We've recently upgraded our fuse dependency. Do you mind trying out lastest master? (post 0.4.6)

[2017-03-06 07:58] whyrusleeping commented on #2759
Hrm... adding some more gateway config to set an upper limit on request sizes might be useful. Could also throw in other options at the same time like timeouts, rate limits, etc

[2017-03-06 07:59] whyrusleeping commented on #2709
We've recently updated our fuse dependency, do you mind trying out latest master (post 0.4.6) and seeing how it goes?

[2017-03-06 08:00] whyrusleeping commented on #2700
This should be resolved now

[2017-03-06 08:00] #2700 closed

[2017-03-06 08:02] vasild commented on #3322
A reason could be to comply to the HTTP specification. From https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition : "Only the value form-data, as well as the optional directive name and filename, can be used in the HTTP context".

I could have misread the specs. Feel free to close this issue if sending "Content-Disposition: file;" is not a violation.

[2017-03-06 08:03] whyrusleeping commented on #2404
Interesting idea. Would need to figure out how it should actually work.

cc web people: @dignifiedquire @diasdavid @lgierth

[2017-03-06 08:04] whyrusleeping commented on #2376
This one is probably going to wait until @keks finishes his refactor

[2017-03-06 08:05] whyrusleeping commented on #2286
@lidel is this still an issue?

[2017-03-06 08:06] whyrusleeping commented on #2258
We should probably unify the removal semantics of the ProtoNode link modifications

[2017-03-06 08:07] whyrusleeping commented on #2168
@Kubuxu is this still an issue?

[2017-03-06 08:09] whyrusleeping commented on #2099
We now have a `--raw-blocks` flag to add that should help with this, as well as rabin fingerprinting.

Other than those, there isnt anything else actionable here so i'm going to close this (If theres anything actionable, please go ahead and open a new issue)

[2017-03-06 08:09] #2099 closed

[2017-03-06 08:10] whyrusleeping commented on #2076
@jbenet Any idea how we would do this? When starting a refs traversal like this we have no idea how big the graph actually is, nor even how many nodes it contains.

We have a rudimentary progress indicator on `ipfs pin add`, but the UX isnt great (it only shows how many things we've fetched so far).

[2017-03-06 08:11] whyrusleeping commented on #2030
@lgierth update here?

[2017-03-06 08:12] whyrusleeping commented on #1798
I think this has been resolved. Please open a new issue if you see this again

[2017-03-06 08:12] #1798 closed

[2017-03-06 08:14] whyrusleeping commented on #1562
This should be resolved

[2017-03-06 08:14] #1562 closed

[2017-03-06 08:15] whyrusleeping commented on #1556
I think we can achieve the benefits you bring up without making separate binaries. For now, i'm going to close this and say we should keep a single binary.

[2017-03-06 08:15] #1556 closed

[2017-03-06 08:16] whyrusleeping commented on #1384
Going to close this issue. If specific goroutines are causing daemon exit to hang, lets open issues for those specifically ('actionable' being the keyword here)

[2017-03-06 08:16] #1384 closed

[2017-03-06 08:18] whyrusleeping commented on #973
This is difficult as some things will fail if run too early (before any peer connections have been established).

We should probably pick out things that fail in those cases and address them, then move the bootstrapping process to be async

[2017-03-06 08:18] #971 closed

[2017-03-06 08:20] lidel commented on #2286
Yes, I use v0.4.6 and still get `HTTP/1.1 500 Internal Server Error` for example above

[2017-03-06 08:21] whyrusleeping commented on #3745
@mitar hrm... theres no such penalty.

If the nodes get connected they should start pubsubbing to eachother. The next time you see this issue, can you try verifying whether or not the nodes in question have a connection between them? (shows up in `ipfs swarm peers`)

[2017-03-06 08:22] mitar commented on #3745
I mean, I can pretty easy reproduce this. So I can check. :-)

[2017-03-06 08:25] whyrusleeping commented on #2286
@lidel Thanks! I'll prioritize getting this fixed

[2017-03-06 08:25] whyrusleeping commented on #3322
@dignifiedquire what do you think?

[2017-03-06 08:28] whyrusleeping commented on #3741
I think a first step here will be to make the go-floodsub code more pluggable, and enable this sort of functionality at a go-api layer (meaning you would have to recompile to have these changes take effect).

Once that bit exists and works, we can look at exposing this to the http api somehow

[2017-03-06 08:37] mitar commented on #3741
Is there a list of some other things which would be implemented through this pluggable system? It would be interesting to see if they could be instead implemented through a different pubsub API and without really a plugin system.

[2017-03-06 08:55] Kubuxu commented on #1384
Also most daemon controllers now a days will kill target multiple times if it doesn't close.

[2017-03-06 08:57] whyrusleeping commented on #3397
## Ipfs Filestore
Allows files to be added without duplicating the space they take up on disk.

### State
experimental.

### In Version
master, (0.4.7).

### How to enable
Modify your ipfs config:
[code]

And then pass the `--nocopy` flag when running `ipfs add`

### Road to being a real feature
- [ ] Needs more people to use and report on how well it works.
- [ ] Need to address error states and

[2017-03-06 09:15] Kubuxu commented on #3397
## Private Networks
------
Allows to limit peerset and secure the connections to limited set of nodes that share the same pre-shared key.

### State
Experimental

### In Version
master, 0.4.7

### How to enable
Generate PSK (use [ipfs-swarm-key-gen](https://github.com/Kubuxu/go-ipfs-swarm-key-gen)) and save it. To join given private network copy it to `swarm.key` file in IPFS Repo.
Then share it w

[2017-03-06 10:01] dignifiedquire commented on #3322
Reading the spec the `file` value is actually correct in most cases, just in the single file case. Often times `add` is used to send multiple files and then `content-disposition: file"` is the right value.

   "filename" parameter either of the "content-disposition: form-data"
   header or, in the case of multiple files, in a "content-disposition:
   file" header of the subpart.

We could change t

[2017-03-06 10:45] wigy-opensource-developer commented on #3295
I doubt that CRDT is possible with the current sequence-based conflict-resolution. Adding a full history of all previous hashes is a way to go, but that might hurt the privacy of some use-cases (obliterating history is sometimes a useful feature)

[2017-03-06 10:59] Kubuxu commented on #3295
CRDT type log should IMO be a third party component, but I would love to have one.

CID + cbor allows us to have transparent link with metadata that is history.

[2017-03-06 11:28] diasdavid commented on #3741
Having a silent/leech mode sounds like a good idea to me, it will be important though to keep the integrity of the message, currently the seqNo is added inside the floodsub protobuf and stripped out when the message is received, if we want to avoid having the same message passing with two different seqNo, then the API needs to be able to receive all the whole message that is passed in the wire.

[2017-03-06 14:08] lgierth commented on #2404
I think this one would cover it: https://github.com/ipfs/go-ipfs-gateway/issues/5

[2017-03-06 18:22] whyrusleeping commented on #3295
@wigy-opensource-developer on the contrary, our validity system for ipns is pluggable.

Though its not fully implemented yet, take a read over the records spec: https://github.com/ipfs/specs/tree/master/iprs

[2017-03-06 19:33] kevina commented on #3344
No longer relevant.  Closing.

[2017-03-06 19:33] #3344 closed

[2017-03-06 19:42] whyrusleeping commented on #2976
This has already been done apparently

[2017-03-06 19:42] #2976 closed

[2017-03-06 19:58] whyrusleeping commented on #1941
These issues should be mitigated by using iptb for tests. You should be able to spin up an iptb cluster (as in t0130-multinode.sh) and do ipns publishes just fine

[2017-03-06 21:09] whyrusleeping opened #3752 "Too many open files during gc"
While running a gc i got this error message:
[code]

[2017-03-06 23:27] mitar commented on #3745
Yes, there is no connection between them. They do not appear in each others' `ipfs swarm address`.

So I tested this now on two machines both on public IPs (A and B). One machine (A) has a firewall preventing inbound connections though.

So trying to call `ipfs swarm connect A` from B, it cannot connect (because of the firewall). But after I did `ipfs swarm connect B` from A, it connected and then

[2017-03-06 23:55] ianopolous opened #3753 "Pin (add / rm) over http breaks backwards compatibility in 0.4.6"
#### Version information:
0.4.6

#### Type: Bug

#### Priority: P1

#### Description:
The json response from pin add/rm is not backwards compatible from 0.4.5 to 0.4.6
In 0.4.5 I get a response like:
{"Pins":["QmVv4Wz46JaZJeH5PMV4LGbRiiMKEmszPYY3g6fjGnVXBS"]}

and in 0.4.6 I get:
{"Pins":[{"/":"QmVv4Wz46JaZJeH5PMV4LGbRiiMKEmszPYY3g6fjGnVXBS"}]}

Which is a schema change and thus breaks our existin

[2017-03-06 23:59] lgierth commented on #3753
Ugh yeah that needs to change back

[2017-03-07 00:03] Kubuxu commented on #3753
@whyrusleeping I think it is due to CID changes.

[2017-03-07 00:03] whyrusleeping commented on #3753
@Kubuxu Yeah, we just need to change the type in the pin output struct to be a string instead of a cid

[2017-03-07 00:21] mitar commented on #3745
If there is anything else I can do to help debug this, please tell. But it is pretty regular to me that it happens.

[2017-03-07 00:26] whyrusleeping opened #3754 "Add 'ipfs pin update' command"
Usecase: I have a large graph pinned. I make a change to this graph, and now i want to pin the new root, and unpin the old root.

You can accomplish this today by just `ipfs pin add <NEW>` and `ipfs pin rm <OLD>` but this has a couple drawbacks. First, it has to rescan the *entire* new graph. If we had the context of the old pin around, we could skip traversing subtrees that are in the old graph s

[2017-03-07 00:27] whyrusleeping commented on #3754
cc @ianopolous for further usecase discussion

[2017-03-07 00:32] lgierth commented on #2759
And a completely readonly mode would be nice too.

[2017-03-07 00:53] whyrusleeping opened #3755 "ipfs get does not work with raw leaves"
To Reproduce:
[code]

[2017-03-07 00:59] whyrusleeping commented on #2759
Yeah, purely readonly would be nice.

[2017-03-07 00:59] whyrusleeping commented on #3745
@mitar You should allow A's firewall to accept connections from ipfs

[2017-03-07 01:17] mitar commented on #3745
I thought IPFS magically get through this NATs and firewalls. :-) It works sometimes.

[2017-03-07 01:18] mitar commented on #3745
If I have 4 nodes which are not behind a firewall, and I add another node which it is to the same publication, will that one has easier time joining?

[2017-03-07 01:28] whyrusleeping commented on #3745
Heh, sometimes.

Yes, if those nodes are not partitioned, then connecting to *any* of them will get you in the pubsub swarm

[2017-03-07 01:37] mitar commented on #3745
And they should not be partitioned because they have public IPs?

So this is the problem only because the current broadcast domain for my topic is small. When there will be more peers in it with more public IPs, it should be easier for everyone to join?

OK, then this should probably be closed because it is an edge case.

[2017-03-07 01:49] whyrusleeping commented on #3745
@mitar cool. Let me know if you have any other issues :)

[2017-03-07 01:49] #3745 closed

[2017-03-07 05:06] whyrusleeping commented on #863
Providers get garbage collected periodically now :)

[2017-03-07 05:06] #863 closed

[2017-03-07 05:08] whyrusleeping commented on #736
'get' has a progress bar, 'add' does as well. There is another issue open to add one to refs

[2017-03-07 05:08] #736 closed

[2017-03-07 05:51] whyrusleeping commented on #590
Closing this, initial concerns have been addressed

[2017-03-07 05:51] #590 closed

[2017-03-07 05:51] whyrusleeping commented on #561
closing, continuation of this work may be tracked in the ipfs/test-lab repo

[2017-03-07 05:51] #561 closed

[2017-03-07 05:53] whyrusleeping commented on #1044
this has been resolved

[2017-03-07 05:53] #1044 closed

[2017-03-07 05:53] whyrusleeping commented on #1039
This has been implemented, closing

[2017-03-07 05:53] #1039 closed

[2017-03-07 05:54] whyrusleeping commented on #1033
Closing. We're actually moving back to jenkins.

![image](https://cloud.githubusercontent.com/assets/1243164/23643554/66253b46-02b7-11e7-8ebd-7be5c3065526.png)

[2017-03-07 05:55] lgierth commented on #1033
:D

[2017-03-07 05:55] whyrusleeping commented on #984
This has since been resolved

[2017-03-07 05:55] #984 closed

[2017-03-07 05:56] whyrusleeping commented on #974
this has been fixed

[2017-03-07 05:56] #974 closed

[2017-03-07 05:58] #1289 closed

[2017-03-07 06:03] #1125 closed

[2017-03-07 06:06] whyrusleeping commented on #1712
A few bugs in `ipfs get` have since been fixed, if this is still a problem please open a new issue

[2017-03-07 06:06] #1712 closed

[2017-03-07 06:08] whyrusleeping commented on #1554
This has been resolved, it was the flatfs path.Clean bug

[2017-03-07 06:08] #1554 closed

[2017-03-07 06:11] whyrusleeping commented on #1803
This was a go bug (the ipfs daemon in question was built with a development version)

[2017-03-07 06:11] #1803 closed

[2017-03-07 06:13] whyrusleeping commented on #1770
We're using our own reuseport lib now. Closing

(thanks @Kubuxu for going through that hell pit of code)

[2017-03-07 06:13] #1770 closed

[2017-03-07 06:15] #3594 closed

[2017-03-07 06:17] whyrusleeping commented on #3593
This is probably fixed for the most part, but its also improved by #3756

[2017-03-07 06:17] #3593 closed

[2017-03-07 06:25] lgierth commented on #2280
I'm gonna close this -- haven't ever seen it again

[2017-03-07 06:25] #2280 closed

[2017-03-07 06:31] lgierth commented on #1485
I've made a tool called `madns` as part of [go-multiaddr-dns](https://github.com/multiformats/go-multiaddr-net) which resolves /dnsaddr multiaddrs.

The next step is integrating this into ipfs and libp2p.

[2017-03-07 06:51] whyrusleeping commented on #1485
This is madness!

[2017-03-07 07:04] lgierth commented on #2988
Resource usage is bounded now: ![stable goroutines graph](https://gateway.ipfs.io/ipfs/Qma6HE2c3FQQ4nwrmg1raVKYAVLE4mShtuE7etqSUgJZH5/screencap.2017-03-07T08:01:08Z.png)

[2017-03-07 07:04] #2988 closed

[2017-03-07 07:15] wigy-opensource-developer commented on #3295
@whyrusleeping Sorry, I always thought that IPNS is a kind of record, where we have a given validation rule and a given conflict resolution rule (selector). So IPNS is an IPRS.

So how would you change the way IPNS records are validated, now that there are old versions of the client around without changing the namespace used in the DHT?

Back to topic, @apiarian needs transactions, because the pri

[2017-03-07 07:43] whyrusleeping commented on #3295
upgrading should be fairly easy, we can switch to using CIDs to refer to new records, and the old QmWhatever hashes can be assumed to be legacy style records.

As for the problem at hand, Heres how i see a crdt style IPNS record working, When publishing you would ideally have the latest record, but thats not a big issue, simply craft your new record as a CRDT update that points to the best known r

[2017-03-07 07:51] whyrusleeping commented on #3215
I think this has been resolved

[2017-03-07 07:51] #3215 closed

[2017-03-07 07:52] whyrusleeping commented on #2322
This has since been resolved (or at least, i havent seen it in a while)

[2017-03-07 07:52] #2322 closed

[2017-03-07 07:52] whyrusleeping commented on #2347
This has been resolved

[2017-03-07 07:52] #2347 closed

[2017-03-07 07:53] whyrusleeping commented on #2371
daemon startup failure, this has been resolved

[2017-03-07 07:53] #2371 closed

[2017-03-07 07:53] whyrusleeping commented on #2499
this has been resolved

[2017-03-07 07:53] #2499 closed

[2017-03-07 07:53] wigy-opensource-developer commented on #3295
That seems to be a good solution for the given problem. The data in the CRDT event and the way conflicts are resolved still needs to be defined to get a solution that can be implemented, BUT:

I doubt the problem itself is valid. A single private key should be "owned" for a purpose. Sharing this key is just a workaround for a limitation that was already removed from IPFS, namely a single node coul

[2017-03-07 07:54] whyrusleeping commented on #2528
I remember this being an issue with netcat. We havent seen it in a while, assuming it was fixed because we kill netcat better

[2017-03-07 07:54] #2528 closed

[2017-03-07 07:54] #2533 closed

[2017-03-07 07:55] whyrusleeping commented on #2539
going to assume this one was an issue with circleCI caching (there are other bits failing in that run for that issue)

[2017-03-07 07:55] #2539 closed

[2017-03-07 07:56] whyrusleeping commented on #2603
Figured it out, iptb was calling kill and wait on the child processes, but the child processes went setsid meaning they were no longer the children of iptb, meaning 'wait' won't work as expected

[2017-03-07 07:56] #2603 closed

[2017-03-07 07:57] whyrusleeping commented on #3295
Man, i just love CRDTs.

[2017-03-07 08:11] mitar opened #3759 "Expose /api/v0/id on the gateway"
It seems it is not exposed: https://gateway.ipfs.io/api/v0/id?arg=QmULgY72aAJ4W7Nxb2qpxAGQXsFCFfaQc9qgAsmkvx8YPS

[2017-03-07 08:41] whyrusleeping commented on #3759
Hrm... this seems fine.

@lgierth thoughts?

[2017-03-07 10:53] Kubuxu opened #3761 "Disable Linux on Travis"
Currently we run Linux and OSX on travis, and it just love to fail randomly. I suggest we run just OSX on travis so when we see a failure it is OSX and we should investigate.

[2017-03-07 11:00] #1033 closed

[2017-03-07 17:34] mitar opened #3762 "go-reuseport needs to start using singlepoll on OSX"
#### Version information:

[code]

#### Type: Bug

#### Priority: P3

#### Description:

It seems there are still issues with too many open files on Mac OS X. It increases the limit initially to 1024, but after a day of running my console looks like:

[code]

I ran `ipfs repo stat` and I got strange results:

[code]

[2017-03-07 19:51] jefft0 opened #3763 "add --nocopy error: too many open files"
#### Version information:

    go-ipfs version: 0.4.6-
    Repo version: 5
    System version: amd64/linux
    Golang version: go1.8

#### Type: bug

#### Priority: P1

#### Description:

With a script, I used `ipfs add --nocopy --raw-leaves` to individually add 9110 webcam video files, each about 200 MB. (I did not use recursive add.) This is a fresh installation of the latest code in master. I d

[2017-03-07 20:00] whyrusleeping commented on #3763
Hey @jefft0 could you try out #3756 and see if it solved the problem?

[2017-03-07 20:01] whyrusleeping commented on #3762
@mitar What is your ipfs nodes workload like? Are you running lots of ipfs adds?

[2017-03-07 21:57] mitar commented on #3762
[Mostly object puts and gets, yes](https://github.com/luckychain/lucky/blob/master/src/js/blockchain.js). I would say many more gets than puts.

Also the storage is growing like crazy.

[code]

No way I am creating so many objects? My current test blockchain has only 1000 blocks or so:

[code]

[2017-03-07 22:22] mitar opened #3764 "A way to list all objects stored in the repo"
#### Version information:

[code]

#### Type: Feature

#### Priority: P2

#### Description:

It would be great to be able to list all the objects in the repo.

I can use:

[code]

To see that I have 996591 objects. But how can I know which ones are that so that I could understand where is this number coming from.

I tried using [ipfs-see-all](https://github.com/whyrusleeping/ipfs-see-all) but it d

[2017-03-07 22:28] Kubuxu commented on #3764
`ipfs refs local` should give you want you want.

[2017-03-07 22:28] #3764 closed

[2017-03-07 22:47] mitar commented on #3764
Oh. I was reading `ipfs refs` help output but I didn't so the thing at the end.

This is completely different from other commands and subcommands where you have `ipfs command subcommand` structure. I didn't know that `command` can take arguments in such case, or that even command which takes arguments can also have subcommands. This is confusing.

[2017-03-08 00:18] jefft0 commented on #3763
I see you merged the pull request. I pulled and re-built from master, but still get the same error.

[2017-03-08 00:38] whyrusleeping commented on #3763
@jefft0 interesting... can you help debug this for us?

Theres a program i use for this called `lsof` (it should be in most linuxes package repos).

Start up your daemon and get its pid. Then do whatever it is that you do to reproduce this problem, and when its about to happen, grab the output of `lsof -p $IPFS_PID`.

It might help to grab it a few times, before, during (as close as you can get to

[2017-03-08 02:58] whyrusleeping commented on #3764
@mitar its technically implemented as a subcommand, but the way to look at it is that 'local' is just a special argument for `ipfs refs`. 'local' could be an alias to a node with links to every object in your local repo

[2017-03-08 05:33] mitar commented on #3762
I checked. I am getting such errors when I am doing mostly many many object gets through the HTTP API:

[code]

[2017-03-08 06:04] whyrusleeping commented on #3762
hey @mitar, could you try getting the debug info i mention here: https://github.com/ipfs/go-ipfs/issues/3763#issuecomment-284908145 ?

[2017-03-08 06:10] mitar commented on #3762
Attached.

Also, it seems not all "too many open files" are detected by IPFS. I also get `ECONNRESET` errors on my node (HTTP JS API) side when it reaches the maximum.

[files.txt](https://github.com/ipfs/go-ipfs/files/826764/files.txt)

[2017-03-08 08:49] jefft0 commented on #3763
See the attached output files from `lsof` .
[lsof-before.txt](https://github.com/ipfs/go-ipfs/files/827068/lsof-before.txt)
[lsof-during.txt](https://github.com/ipfs/go-ipfs/files/827070/lsof-during.txt)
[lsof-after.txt](https://github.com/ipfs/go-ipfs/files/827071/lsof-after.txt)

[2017-03-08 09:48] mitar commented on #3764
I mean how this is internally. But it was really impossible to find. I checked `refs`, looked at the first line description, and moved on. No idea that I should also check at the end of the help page.

Also, thing like `ipfs refs local --format '<src> <dst> <linkname>'` does not really change any output. So the rest of the help page and arguments to `refs` do not really apply?

I think it would be

[2017-03-08 10:34] Kubuxu commented on #3763
LevelDB is using 500 FDs, this shouldn't happen.

[2017-03-08 11:01] NeoTeo opened #3767 "Connection reuse failure when go-ipfs node called from Swift API client."
#### Version information:
go-ipfs version: 0.4.6-dev-
Repo version: 5
System version: amd64/darwin
Golang version: go1.7

#### Type:
Bug

#### Priority:
P4

#### Description:
On @whyrusleeping’s suggestion I’m opening this issue which may involve the go-ipfs node not dealing properly with connection reuse.

The problem manifests as an `X-Stream-Error` response and a trailer with the error `X-Strea

[2017-03-08 11:05] whyrusleeping commented on #3763
what the hell...

[2017-03-08 11:36] whyrusleeping commented on #3762
@Kubuxu hrm... seems we need to fix reuseport on OSX finally (or bump the default fd limit to buy us time)

[2017-03-08 11:40] whyrusleeping commented on #3764
We can rework the local subcommand to actually just be a special cased argument of `ipfs refs`

[2017-03-08 11:43] whyrusleeping commented on #3762
@mitar As a workaround until we get this addressed better, you can set the env var `IPFS_FD_MAX` to something like `4096`.

[2017-03-08 12:32] Kubuxu commented on #3764
This will change HTTP API sematic.

[2017-03-08 19:34] mitar commented on #3764
I just worry that it will be hard to find this if it is somewhere hidden under `refs`.

Or maybe we should just change the description so that `refs` can return lists for addresses and special groups of addresses. Or something.

[2017-03-08 20:22] whyrusleeping commented on #3764
@mitar its in the `ipfs refs` helptext. What do you mean by hard to find?

[2017-03-08 21:05] mitar commented on #3764
I mean, if I do:

[code]

I see that this is not a command to list all objects in my current repo.

[code]

OK, no command to list everything in my current repo.

And `ipfs --help` also does not list it.

So, it is hard to find. It is just surprising that a command has both subcommands and also works on its own. Most other commands I have looked at (like `repo` above) does not have that. So one do

[2017-03-08 22:28] whyrusleeping commented on #3764
We could probably add `ipfs repo ls`, that should make things more discoverable maybe?

[2017-03-08 22:34] mitar commented on #3764
That would also be good, yes.

[2017-03-09 00:30] flyingzumwalt commented on #807
👍 Please do this. Currently the base url doesn't return anything. It confuses the heck out of people who are trying IPFS for the first (or second or tenth) time.

[2017-03-09 01:20] whyrusleeping commented on #807
@flyingzumwalt do we want any special design for this page? Or would you be happy with a \<ul\> of links?

[2017-03-09 02:09] flyingzumwalt commented on #807
If it hadn't been for @jbenet's comments in this thread I would have said
it should redirect to web UI. A list of links will be better than nothing,
but really this page should get a proper design ASAP, since it's a main way
that many people will encounter IPFS for the first time.

I've always hated the default landing page on tomcat and it would be
embarrassing if we repeated that flub.
On Wed, M

[2017-03-09 02:32] whyrusleeping commented on #807
Alright, well lets get that designed. Its trivial from my end to throw a given page up there.

[2017-03-09 13:12] Kubuxu opened #3769 "Race in commands lib when setting an error"
[code]

[2017-03-09 13:15] keks commented on #3769
I am currently trying to get go-ipfs-cmds pass all the sharness tests with the race detector on, so once I get that done we should be fine

[2017-03-09 15:20] daviddias opened #3771 "DAG API"
Ref: https://github.com/ipfs/interface-ipfs-core/pull/123

[code]

As discussed previously:

- `format` should take in the names of the formats (dag-cbor, dag-pb, eth-block, etc)
- There should be an option for `hashAlg`
- The endpoint needs to reply with a header that specifies the encoding of the output. A sane default would be `cbor` all the way and/or have an option for `--output-enc` too.

Re

[2017-03-09 16:05] diasdavid commented on #3771
Getting an error when sending a protobuf (serialized in protobuf and sent with --input-enc=protobuf)

[code]

[2017-03-09 20:34] whyrusleeping commented on #3771
re: your comment, that one seems pretty obvious. We havent implemented protobuf support in the dag put
api yet

[2017-03-09 20:43] whyrusleeping commented on #3755
this has been resolved

[2017-03-09 20:43] #3755 closed

[2017-03-09 20:43] whyrusleeping commented on #3753
this has been resolved

[2017-03-09 20:43] #3753 closed

[2017-03-09 20:49] whyrusleeping commented on #2964
This should be pretty easy to do, should probably go under the `Swarm` config group and be called `NatPortMap`, default value true (if not present in the config, set it to true).

It needs to pass an option to the host construction method so that it can pass or not pass an option to the basichost.New here: https://github.com/ipfs/go-ipfs/blob/master/core/core.go#L731

Instead of passing a bool for

[2017-03-09 21:30] kevina commented on #2964
@whyrusleeping

where would be a good place to do this?  at the moment is is non obvious.

[2017-03-09 21:36] whyrusleeping commented on #2964
in repo/fsrepo/serialize/serialize.go, at the bottom in the  `Load` function, we just create an empty config before passing it to `ReadConfigFile`. If you set values in that, they will remain set to that value if the field is missing from the json.

Youre right, this is non-obvious, we should document it a bit while we're at it

[2017-03-09 21:39] kevina commented on #2964
Okay will do, It looks like this will be the first time we used a default value other than the go default of False, 0, or the empty string.

[2017-03-09 21:41] whyrusleeping commented on #2964
Yeah, i don't think we knew how to do this before, otherwise the `NoSync` option would have been just `Sync`

[2017-03-09 21:55] Powersource opened #3772 "Improve fuse error reason in case of mount failure"
#### Version information:
[code]
[code]
[code]

#### Type:
Bug

#### Description:
When I try to `ipfs mount` fuse complains and mounting fails.
[code]
The [relevant file](https://github.com/ipfs/go-ipfs/blob/master/fuse/node/mount_unix.go#L96-L102).
[code]
`sshfs` uses the same fuse version and mounting, reading and unmounting works normally there.
[code]

[2017-03-09 21:57] whyrusleeping commented on #3772
We should try and get more information out of fuse here. calling the fusermount binary is failing for some reason and we have no idea why

[2017-03-09 22:13] Kubuxu commented on #3772
Few things: do mount points exist, does your user own them?

[2017-03-09 22:16] Powersource commented on #3772
@Kubuxu
[code]

[2017-03-09 22:49] #3527 closed

[2017-03-09 23:41] Fladirmacht commented on #3318
node js ipfs can kill my 64GB ram server in 2hrs when streaming :(

[2017-03-09 23:50] Kubuxu commented on #3318
Node js implementation is separate, please report that on js-ipfs repo.

This repo is about go-ipfs implementation.

[2017-03-09 23:59] Fladirmacht commented on #3318
i try booth, go-ipfs do this the same for me - running fine till out of memory - 0.4.6 ver - is there some way how to solve it, pls?

[2017-03-10 02:50] kevina commented on #2964
So it turned out is was not sufficient to set the defaults in _just_ the `Load` function, they also needed to be set in `initConfig` in `fsrepo.go` so I created a `SetDefaults()` method on the config structure.  P.R. coming soon with some test to make sure the NoSync option really defaults to true.

[2017-03-10 09:19] mitar opened #3773 "ipfs daemon --init does not work"
#### Version information:

[code]

#### Type: Bug

#### Priority: P4

#### Description:

I am passing `--init`, but it does not do what is saying it will do, which is, initialize the repo:

[code]

[2017-03-10 10:16] diasdavid commented on #3771
@whyrusleeping understood. The message that I was trying to convey is that I was expecting it to be there and that I'm interested for it to be there :)

[2017-03-10 14:19] Kubuxu commented on #2383
Resolved in #3728

[2017-03-10 14:19] #2383 closed

[2017-03-10 20:18] jefft0 commented on #3763
Any ideas on why so many file descriptors?

[2017-03-10 20:37] adamalawrence commented on #3054
@whyrusleeping Is this still of interest?

[2017-03-10 21:39] whyrusleeping commented on #3054
@adamalawrence Yeah, it is.

We've made a small bit of progress on this since i posted this. In the `ipfs pin add` code, we put a 'progress tracker' in a context and pass it down through the calls to help us get a small amount of progress information.

see: https://github.com/ipfs/go-ipfs/blob/master/core/commands/pin.go#L84
and: https://github.com/ipfs/go-ipfs/blob/master/merkledag/merkledag.go#L

[2017-03-10 22:41] #3371 closed

[2017-03-10 22:46] whyrusleeping commented on #3486
Lets try to do this in 0.4.8

[2017-03-10 22:47] whyrusleeping commented on #1952
This would definitely be good docs to have. I'll add a todo for this on our documentation sprint repo

[2017-03-10 22:49] whyrusleeping commented on #2286
@lgierth do you think you could handle fixing this one?

[2017-03-10 22:50] whyrusleeping commented on #2783
We've got a test for this now. Next up is trying to make it pass.

To run the test:
[code]

[2017-03-10 22:52] whyrusleeping commented on #3468
I think for this one, we will want to wait for @keks refactor of the commands lib. It should make unification of everything a tad simpler

[2017-03-10 22:53] whyrusleeping commented on #2934
I noticed this being really slow when playing with a browser extension. Would be really cool to have this done soon

[2017-03-10 22:54] whyrusleeping commented on #3729
Hrm... maybe the problem here is the trailing slash?
I'm betting we take the last item in a strings.Split(path, "/"). which in this case would give us nothing.

[2017-03-10 23:04] whyrusleeping commented on #3372
Yeah, the idea is that the API will still be accessible while the daemon is offline (allowing apps that are using the api to continue working as expected).

And yes, sending an interrupt is currently the best way of stopping the daemon.

[2017-03-11 00:06] Kubuxu commented on #2934
I can try doing it soon (TM), the solution is to revive solution which we had some time ago that is using TTL wherever we can in combination with browser caches and etags.

[2017-03-11 00:08] Kubuxu commented on #3729
Yes it is, do we want to do something with it? Or just improve the error message?

I think it currently tries to save the content directly in current directory when it happens but errors out as current directory already exists.

[2017-03-11 01:09] whyrusleeping commented on #3537
Lets definitely try and get this done in 0.4.8, Don't want the keystore feature to remain semi-gimped for long

[2017-03-11 01:10] whyrusleeping commented on #3490
@lgierth When do you think we can prioritize this? I've moved it to 0.4.8, but if we arent going to do it then i'd like to drop it from the 'next' milestone

[2017-03-11 01:11] whyrusleeping commented on #3453
I think this was an issue with gc not handling new types correctly (ipld, zcash, etc). This should be resolved now.

[2017-03-11 01:11] #3453 closed

[2017-03-11 01:12] lgierth commented on #3490
committed for docs sprint as part of the general core-api theme

[2017-03-11 01:12] whyrusleeping commented on #3552
Lets revisit the items in the grid, Its definitely worth trying to make progress here.

[2017-03-11 01:18] whyrusleeping commented on #3053
Since the 0.4.6 we've seen a very small increase in overall code coverage

https://codecov.io/gh/ipfs/go-ipfs/compare/release...master

Lets aim for a higher target next release

[2017-03-11 01:21] whyrusleeping commented on #2185
Alright, having two releases in the wild that can understand this hash function is sufficient for deploying the change to master.

Lets go ahead and do this for 0.4.8 :) (it should be very simple)

[2017-03-11 02:22] Powersource commented on #3772
I don't know exactly why, but suddenly it works. I tried updating and restarting my computer yesterday but that didn't help. What's likely to have made a difference is that today I updated to linux 4.10 (and restarted).

[2017-03-11 06:36] whyrusleeping commented on #3773
@mitar Thats odd... it works for me.
I was going to ask if it could be a permissions issue, but that prints out permission denied for me.

Does the /ifps folder contain anything?

[2017-03-11 10:14] mitar commented on #3773
It does not. You can do full reproduction using a Docker image:

[code]

[2017-03-11 18:08] Powersource commented on #3772
Aaaaand it's broken again, amazing.

[2017-03-11 18:34] Powersource commented on #3772
Installed the latest git version and it works now. If it stays working for a few days I'll close again.

[2017-03-11 20:19] whyrusleeping commented on #3772
@Powersource Lets keep this issue open even if it keeps working for you.

The main problem i see here is that *when* it fails, we have no indication as to why. In whatever case, we need to address that

[2017-03-11 20:29] lgierth commented on #2286
404 will likely not work out. This API is full craze RPC, and 404 simply means "command not found". I gave it a try in #3777 and the result is that the CLI reports "command not found", and it's really tricky to make it work.

You're right that 500 is too vague to make sense of, but we'll likely have to convey additional info not via HTTP statuses, but via the `Code` field of the response.

[2017-03-12 01:50] whyrusleeping commented on #3529
This has been fixed

[2017-03-12 01:50] #3529 closed

[2017-03-12 03:16] diasdavid commented on #3771
@whyrusleeping I'm blocked on this one, do you have a time estimate for when you will be able to look into this?

[2017-03-12 09:02] whyrusleeping commented on #3771
@diasdavid Outline exactly the features you need, and the acceptance cases for it being 'correct'.

I've been really pressed for time lately so if you can do some of that footwork for me, it will help me out a lot

[2017-03-12 11:03] Kubuxu commented on #3772
I am very glad that the update resolved issues. It was long overdue.

[2017-03-12 14:35] gediminaspetrikas opened #3779 "bug: cannot run ipfs daemon on Windows 10 Linux subsystem"
#### Version information:
[code]

#### Type:
Cannot run `ipfs daemon` on Windows 10 Linux subsystem.
Works as expected in Windows 10.

#### Priority:
P3
#### Description:
Cannot run `ipfs daemon` on Windows 10 Linux subsystem.
To reproduce:

- `ipfs init`
- `ipfs daemon`
[code]

Works as expected with plain Windows 10.
[code]

Area: "daemon + init"

[2017-03-12 15:42] Kubuxu commented on #3779
It is bug in Window's Linux subsystem implementation not sure if we can help with anything here.

[2017-03-12 15:46] gediminaspetrikas commented on #3779
Well, that is sad to hear. @Kubuxu, can this bug prevent me from using JS implementation of IPFS as well on the Linux subsystem?

[2017-03-12 15:50] Kubuxu commented on #3779
Not sure, it is completely separate, so this exact bug shouldn't.

[2017-03-12 15:51] gediminaspetrikas commented on #3779
Alright, thanks!

[2017-03-12 16:52] satra commented on #3530
i have a similar issue:

a command like this takes forever on my local osx machine (ipfs 0.4.6)
`ipfs ls /ipfs/QmWvQ8fz9XMJoxQHV5BHKmVqYoVNWkckUxQ8LNSgEkdBgD/bin/`
(i don't know if it is actually doing something as it doesn't return for a long time - minutes to hours)

but i can see it instantly at:

https://ipfs.io/ipfs/QmWvQ8fz9XMJoxQHV5BHKmVqYoVNWkckUxQ8LNSgEkdBgD/bin

further if i do:

`ipfs c

[2017-03-12 19:30] satra commented on #3530
ok in my case - i just learned that incoming port 4001 may be blocked. but in that case how does any data get out? since i am able to retrieve things via ipfs.io

[2017-03-12 22:11] whyrusleeping commented on #3530
@satra Data can get out via connections your node makes outwards. In NATed networks, you can always dial out, but dialing in is the tricky part. In this case, your node behind the firewall had made a connection out to the ipfs.io gateway nodes, but not to your other node outside the network.

[2017-03-12 22:12] whyrusleeping commented on #3779
@gediminaspetrikas Could you try using the linux binary in the windows subsystem?

[2017-03-12 22:14] whyrusleeping commented on #3779
And if you are already running the linux bin, could you try out setting `IPFS_REUSEPORT` to false and running the daemon?

[2017-03-13 05:27] whyrusleeping commented on #875
The filestore code has been merged, and will be shipped in 0.4.7 (try out the release candidate here: https://dist.ipfs.io/go-ipfs/v0.4.7-rc1)

For some notes and usage instructions, see this comment: https://github.com/ipfs/go-ipfs/issues/3397#issuecomment-284337564

This issue can finally be closed :)

[2017-03-13 05:27] #875 closed

[2017-03-13 05:29] whyrusleeping commented on #3763
@jefft0 I've tried to reproduce the issue several times now with no luck. What sort of disks do you have? and is there anything weird about your setup? (like, different weird filesystems, mountpoints, OS tweaks that might affect this)

[2017-03-13 16:03] Mithgol commented on #3707
Having two separate configuration files (one for the default config and the other for the overrides of the defaults; the former might be internal to the executable) seems to require less knowledge and less efforts from end users than that `ipfs config upgrade` requires.

[2017-03-13 16:08] jefft0 commented on #3763
My files are in an 8-drive JBOD housing over USB. I'm using the default mount point for Ubuntu, but through symbolic links in the `.ipfs` folder (as I described elsewhere to meet the security requirement).

[2017-03-13 16:29] whyrusleeping commented on #3763
@jefft0 and your .ipfs directory (the datastore and blocks directories) are stored on a normal disk? (ssd or spinner?)

[2017-03-13 16:31] jefft0 commented on #3763
Yes, they're on my SSD system drive.

[2017-03-13 16:31] jefft0 commented on #3763
(My default home directory)

[2017-03-13 16:34] whyrusleeping commented on #3763
@jefft0 Okay, i'll run some experiments with the data being on a mounted drive.

In the meantime, if you don't mind, could you grab a stack dump from your daemon while the file descriptor usage is really high?

[code]

I'm curious to see if there are tons of concurrent processes hitting leveldb for some reason

[2017-03-13 16:36] gediminaspetrikas commented on #3779
@whyrusleeping
[code]
didn't help unfortunately. Ran in linux subsystem

[2017-03-13 16:38] diasdavid commented on #3771
Ok :)

So I need:

- [ ] The format flag needs to expect the multicodec name for the format (dag-cbor, dag-pb, and so on)
- [ ] There should be a flag for `--hash-alg`, so that we can specify the hash function to be used
- [ ] --input-enc needs to also have as options: 'protobuf' and 'cbor' (for now)
- [ ] The answer through the http-api should provide information (as we talked, better be through

[2017-03-13 18:16] Kubuxu commented on #3779
I think it is code discovering interfaces. You might get somewhere by hanging the `0.0.0.0` and `::` swarm addresses in config to your interface addresses.

[2017-03-13 21:04] mitar opened #3780 "ipfs daemon lists many ports for its address"
#### Version information:

[code]

#### Type: Bug

#### Priority: P3

#### Description:

I am running IPFS inside a Docker container. I mapped `xxx:4002->4002/udp` and `xxx:4001->4001/tcp` ports to the outside IP. But when I use `id` API to get addresses of those IPFS daemons, I get a long list of ports, which are not really mapped from outside.

Like:

[code]

You can maybe see yourself what is b

[2017-03-13 21:34] Kubuxu commented on #3780
This is again listing temporary ports issue. cc @whyrusleeping
Any idea for resolution?

[2017-03-13 22:26] janicez opened #3781 "FreeBSD: Specify that "make install" will not work in the text of README - must use "gmake install""
#### Version information:
None
System: FreeBSD 11-Stable

#### Type:
Build system bug

#### Priority:
P2 - slows down FreeBSDers

#### Description:
Simple text fix, which is why I have set this at a fairly high priority - because it can be done so easily (just add two lines after the "make install" stuff explaining that on non-GNU/Linux systems, you need to use "gmake" rather than "make")

[2017-03-14 16:30] hsanjuan opened #3783 "ipfs pin ls <not-pinned-hash> takes very long and uses lots of CPU"
#### Version information: 0.4.7-rc1

#### Type: Bug

#### Priority: P3

#### Description:

While `ipfs pin ls <pinned hash>` works fast. `ipfs pin ls <unpinned hash>` takes forever to inform the user that the hash is not pinned. I also observe around 5 secs 200% CPU usage until the request comes back. Tested with 0.4.5 and happens at least since then.

[2017-03-14 16:30] hsanjuan commented on #3783
I'll dig this up

[2017-03-14 17:35] Kubuxu commented on #3783
If you have 5s there, you can capture CPU profile and it will give you some data.

[2017-03-14 17:45] whyrusleeping commented on #3783
@hsanjuan its probably enumerating the entire pinset and making sure that the hash youre giving it isnt anywhere in any of the indirect pins

[2017-03-14 17:48] hsanjuan commented on #3783
@whyrusleeping `ipfs pin ls` takes shorter. Isn't that enumerating the whole pin set too? (btw, my pinset is rather small)

[2017-03-14 18:01] whyrusleeping commented on #3783
@hsanjuan If youre listing on a recursive or direct pin, it will see that its in the immediate pinset and short circuit. When its not in the top level set, it has to check whether or not its referenced indirectly. You might try just checking if your pin is `--type=recursive`

[2017-03-14 18:06] jefft0 commented on #3763
Attached.
[ipfs.stacks.txt](https://github.com/ipfs/go-ipfs/files/842255/ipfs.stacks.txt)

[2017-03-14 21:55] satra commented on #3530
@whyrusleeping - i have since changed the firewall to open port 4001, and i can telnet to this port from a remote machine. on this remote machine i start a daemon and do `ipfs ls` and it hangs forever.

i remove everything from bootstrap and add only the id of the remote node, i.e. hoping that this effectively creates a two node network.

and then redo `ipfs ls` and it hangs forever.

is there a w

[2017-03-15 01:42] janicez opened #3784 "panic, build system: ERROR: install-path hook failed: exit status 1"
#### Version information:
None
FreeBSD 11-Stable

#### Type:
Build system panic in gx install --global

#### Priority:
P0 on freebsd, P5 on unaffected platforms

#### Description:
[code]

[2017-03-15 02:02] Kubuxu commented on #3784
It looks like gx-go isn't installed, IDK why this would happen.

`gmake install_unsupported` should still work.

[2017-03-15 02:08] whyrusleeping commented on #3784
Could be that GOPATH isnt set

[2017-03-15 02:17] Kubuxu commented on #3784
Ghhr, looks like I have missed it when I've done the refactor. I must have lost it in my initial feature list as latter I was comparing everything with it.

I will fix it tomorrow.

[2017-03-15 02:28] janicez commented on #3784
Guys, it's gotten even worse

[code]

[2017-03-15 02:39] whyrusleeping commented on #3784
@janicez what is the output of `./bin/gx-go hook install-path` ?

[2017-03-15 02:50] whyrusleeping commented on #3780
We really need to filter out ephemeral ports... at least on linux, anything on linux should be considered undialable unless we are explicitly listening on it

[2017-03-15 02:53] whyrusleeping commented on #3780
https://en.wikipedia.org/wiki/Ephemeral_port

If someone wants to tackle this that would be great. I won't be able to get to it until *maybe* later this week.

It should be fairly simple, Just have to add checks into `go-libp2p/p2p/protocol/identify/obsaddr.go` and filter out things within ephemeral port ranges per OS (Since different OSes have different ephemeral ranges)

[2017-03-15 02:55] mitar commented on #3780
Is ipfs port fixed? Because one can in theory bind the port into that range. So blindly filtering them out might not be the best.

[2017-03-15 02:58] aspell-helper commented on #3754
This sounds fairly easy and self contained.  Is this what you had in mind for the syntax?
[code]

[2017-03-15 02:59] kevina commented on #3754
This sounds fairly easy and self-contained.  @whyrusleeping is this what you had in mind for the syntax?
[code]

[2017-03-15 03:45] whyrusleeping commented on #3754
@kevina Yeap! That is indeed

[2017-03-15 03:55] whyrusleeping commented on #3780
@mitar We wouldnt be blindly filtering them out. The Ephemeral port metric for observed addresses is a good one i think, If someone we're connected to says the address they see us connecting from is in the ephemeral range, we shouldnt use that port as something we advertise we're listening on. If however, we *do* happen to be listening on that by manually specifying the port, we will announce the

[2017-03-15 03:59] whyrusleeping commented on #3530
@satra when you telnet to that port does it print something like `/multistream/1.0.0` back? If you see that then you can be sure that the ipfs node on the other side is accessible.

I would verify connectivity between the peers by doing `ipfs ping $OTHER_PEER_ID`.

[2017-03-15 04:05] satra commented on #3530
@whyrusleeping - thank you.

[code]

[2017-03-15 04:05] whyrusleeping commented on #3530
@satra and that `ipfs ls` command works on the other node? Seem really odd to me, If thats the case then this is likely not a connectivity problem

[2017-03-15 04:09] satra commented on #3530
@whyrusleeping - yes it does work on the other node. it seems it's related to size of the folder (which doesn't make much sense, because the peer should have been able to pass on all the info).

`ipfs ls /ipfs/QmWvQ8fz9XMJoxQHV5BHKmVqYoVNWkckUxQ8LNSgEkdBgD/`

should return instantly since it's on the ipfs gateway now.

that will show you the folders by size. try ls with /docs vs /bin.

[2017-03-15 04:12] satra commented on #3530
also `ipfs refs` is instantaneous on any of those folders, but `ipfs ls` isn't.

[2017-03-15 04:15] whyrusleeping commented on #3530
@satra Hrm... fetching is realllly slow for me, which may explain why it appears to hang. I was able to fetch all the directory entries in 2m45s.

The `ipfs ls` that hangs should finish instantly if you pass the flag `--resolve-type=false`.
It should also work much more quickly now that I've been playing with it on a server of mine

[2017-03-15 04:19] whyrusleeping opened #3785 "Fix ugly output when killing a command"
Killing an ipfs command with ctrl+c prints this ugly error message:
[code]

I know that the request was canceled. I canceled it..

[2017-03-15 04:20] whyrusleeping commented on #3530
@satra The issue here is that `ipfs ls` by default will fetch the first block of every item in a given directory to check its type. This can be rather expensive on large directories, so the `--resolve-type=false` flag tells ipfs to not care about the type information.

[2017-03-15 04:24] satra commented on #3530
thanks for the explanations.

is the type information not cached on the peer with the refs? especially since i've pinned this directory on that peer. does it have to fetch the block?

[2017-03-15 04:27] whyrusleeping commented on #3530
The type information is cached on that peer if it has all the blocks already, yes. But your laptop (the one where `ipfs ls` was hanging, didnt have all the required blocks).

This really makes me think that `ipfs ls` should default to not getting type info. It makes for a poor UX in times like this.

[2017-03-15 04:30] satra commented on #3530
@whyrusleeping - thank you for walking me through this. now i can move onto one of my actual use cases and see if that works.

[2017-03-15 04:34] whyrusleeping commented on #3530
@satra no problem! Definitely let us know if you have any other issues

[2017-03-15 04:37] whyrusleeping opened #3786 "Bitswap Sessions"
Bitswap is pretty inefficient right now. There is a *lot* we can do to make it better (i would say it would be hard to make it worse, but i know for a fact that statement is false). I've spent a lot of time thinking of ways forward, and have come to a decent (in my opinion) 'next step'.

This proposal is to add the concept of sessions to bitswap. The idea expands on an existing optimization we do,

[2017-03-15 04:55] lgierth commented on #3786
If we already assume that the "active set" peers likely have all children of the wanted root, couldn't we tell them to "consider all children of $hash wanted by me"? This would be a super light wantlist update :)

And in case they don't have all children of the wanted root, we can adjust reactively just like you're saying. If we don't receive any more wanted blocks from the session (all children c

[2017-03-15 04:58] whyrusleeping commented on #3786
@lgierth That should be possible later with ipld selectors, but for now it would be a breaking change to the protocol (and would make the duplicate blocks problem likely worse)

[2017-03-15 05:17] janicez commented on #3784
Never mind. I got it installed.

[2017-03-15 05:17] #3784 closed

[2017-03-15 10:09] mitar commented on #3762
I created this repository for one other reproduction, but if I start `ipfs daemon` and soon afterwards run the script, it often disconnects the script during run because daemon reaches file descriptor limit.

[2017-03-15 10:29] Kubuxu commented on #3780
We might want to wait for multiple confirmations or the same outgoing port.

[2017-03-15 12:52] Kubuxu commented on #2168
Just tired it again, it is still an issue.

I also got following log during ipfs daemon close:
[code]

[2017-03-15 12:58] mattseh opened #3788 "ipfs mount fails when installed via snap"
#### Version information:

root@snap:~# ipfs version --all
go-ipfs version: 0.4.6-
Repo version: 5
System version: amd64/linux
Golang version: go1.7.5

#### Type: Bug

#### Priority: P3

#### Description:

On a fresh Ubuntu 16.04 VM, I installed go-ipfs:

    root@snap:~# snap install ipfs
    ipfs v0.4.6 from 'elopio' installed

With the daemon running, and /ipfs and /ipns created, I get this err

[2017-03-15 13:05] Kubuxu commented on #3788
Yes, you need to have fuse installed for it to work.

[2017-03-15 14:01] mattseh commented on #3788
Right, fuse is installed via apt-get, but the snap doesn't seem to recognise that, so shouldn't the snap config make sure fuse is installed within the snap?

[2017-03-15 14:42] Kubuxu commented on #3788
No idea, @elopio mind helping out?

[2017-03-15 15:15] elopio commented on #3788
Yes, thanks for the report!

I haven't added support for mount on the snap yet, so it was an expected failure. In snaps you bundle all your dependencies, so installing fuse is simple, just add `stage-packages: [fuse]`. What might not be so simple is to give permission to the snap to mount. I need to give it a try, and if it's blocked by the strict confinement of the snap, talk to the security team

[2017-03-15 15:30] Kubuxu commented on #3788
If you can, move it there. It will be borrowed among other issues.

[2017-03-15 15:36] elopio commented on #3788
Well, there's no way to move bugs in github, but I copied it here: https://github.com/elopio/ipfs-snap/issues/6

You can close this one @Kubuxu.

[2017-03-15 15:41] #3788 closed

[2017-03-15 15:52] Kubuxu commented on #3752
The Query method has to be handle the FD problems

[2017-03-15 16:11] Kubuxu commented on #3681
I think it was fixed.

[2017-03-15 16:11] #3681 closed

[2017-03-15 16:11] Kubuxu commented on #3677
Fixed.

[2017-03-15 16:11] #3677 closed

[2017-03-15 16:12] #3662 closed

[2017-03-15 16:19] Kubuxu commented on #3572
Closing as it it is not actionable from go-ipfs side. If you have more questions about that use http://ipfs.trydiscourse.com/.

[2017-03-15 18:48] mitar opened #3789 "Repo is growing and growing"
#### Version information:

[code]

#### Type: Bug

#### Priority: P3

#### Description:

When creating a hashchain of objects (so each object links to a previous object), it seems repository gets much larger than expected. And it also just continues to grow and grow.

Reproduction: https://github.com/mitar/ipfs-create-chain

I started with empty repository (not sure why it is not completely empty,

[2017-03-15 19:25] mitar commented on #3789
I also tested in on 0.4.6 and it looks the same.

[2017-03-15 20:22] Kubuxu commented on #3789
We are probably doing pins incrementally even if they are provided as one they will be pinned one by one. This means that there will be a lot of left over pin blocks, can you try running GC?

[2017-03-15 20:37] mitar commented on #3789
But it is also growing when I am not doing anything anymore.

GC removed 4 objects, it made it a bit smaller, but it is continuing growing.

[2017-03-15 20:38] mitar commented on #3789
Also, in my real project I am pinning one by one through time. So when a block is mined I add it to objects. And if it wins, I pin it (all peers pin the winning block).

[2017-03-16 00:09] aspell-helper commented on #3754
Okay I will work on implementing it this week.

[2017-03-16 00:11] kevina commented on #3754
Okay I will work on implementing it this week.

[2017-03-16 00:23] ianopolous commented on #3754
Let me give some more details around our use case:
Currently when a user commits a write to their file system in Peergos we have a 3 step process:
1) pin the new file system root
2) CAS in the new root into our IPNS equivalent
3) unpin the old root

This allows us to guarantee to not be in an inconsistent state if the process aborts at any stage, including relative to arbitrary concurrent GCs. If

[2017-03-16 01:07] whyrusleeping commented on #3754
Yeah, we can definitely have a `--unpin-old` option that defaults to true.

[2017-03-16 14:09] nezzard opened #3791 "Cant access to ipns"
Hi, pls tell me, what i'm doing wrong?

I'm add to ipfs
https://gateway.ipfs.io/ipfs/QmQNR7wcR8eTxHExSq9RDihovVGqPTNyYny5SvwuLY62Qz/
Than i made ipfs name publish QmQNR7wcR8eTxHExSq9RDihovVGqPTNyYny5SvwuLY62Qz
After that i tried to open https://ipfs.io/ipns/QmUv4itVoY3kTLuZ5GfHPKQnwz6qsvACTicQg1b3ZDTyeo/
but nothing happened

[2017-03-16 14:24] Kubuxu commented on #3791
Has the name publish finished? Also can you post result of: `ipfs swarm peers`.

[2017-03-16 14:26] Kubuxu commented on #3791
Are you sure it is your peerID? I can't find your node announcing your presence. Can you confirm it with `ipfs id`.

[2017-03-16 14:45] nezzard commented on #3791
`[root@hmil ~]# ipfs id
{
	"ID": "QmUv4itVoY3kTLuZ5GfHPKQnwz6qsvACTicQg1b3ZDTyeo",
	"PublicKey": "CAASpgIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDDa8HsSjYZwz7LyejUrj63Xs18wOtzHQNtRZtk8Q1MX9LEcA5HAHew3qNNvPyGeJlZnd7xMUy9eq/zp6q0QsrO4FmJwjtgzK1gfVMi1XrlQRyUsT96cVOnJIdHSePYiArRkx7wQWwgY5l6HLmAqkZQNh/sqIFLfpSZXxKJedAra0GYioDTmRqeHywU06g8skHn89j3dDcso/3jIeC2brMf1gie0TQ5bOzTZ+u1kQMMmTdwux+0PcmfXR/k/N

[2017-03-16 14:47] nezzard commented on #3791
Swarm peers
`/ip4/104.236.151.122/tcp/4001/ipfs/QmSoLju6m7xTh3DuokvT3886QRYqxAzb1kShaanJgW36yx
/ip4/104.236.176.52/tcp/4001/ipfs/QmSoLnSGccFuZQJzRadHn95W2CrSFmZuTdDWP8HXaHca9z
/ip4/104.236.76.40/tcp/4001/ipfs/QmSoLV4Bbm51jM9C4gDYZQ9Cy3U6aXMJDAbzgu2fzaDs64
/ip4/107.170.240.199/tcp/1024/ipfs/QmeU8f1sySSqNABN8PN5R5e3Y6DxjHw4yRiETNWZ1kswi8
/ip4/162.243.248.213/tcp/4001/ipfs/QmSoLueR4xBeUbY9WZ9xGUUxunb

[2017-03-16 18:01] kevina commented on #3754
Based on my understand how `pin add` and `pin rm` work currently the potential for saving is limited.  In order to "skip traversing subtrees that are in the old graph since they are already pinned" we would have to know what those subtrees are, which will mean traversing the old graph.  Currently as far as I know `pin rm` does not do that for recursive pins, so just to discover the pinned nodes we

[2017-03-16 18:45] nezzard commented on #3791
It's can be because i changed gateway port ?
"Gateway": "/ip4/127.0.0.1/tcp/8877"

[2017-03-16 19:57] Kubuxu commented on #3791
No it shouldn't.

[2017-03-16 19:58] Kubuxu commented on #3791
@whyrusleeping this issue is interesting.

`ipfs dht findpeer QmUv4itVoY3kTLuZ5GfHPKQnwz6qsvACTicQg1b3ZDTyeo` doesn't give me anything.

[2017-03-16 21:29] whyrusleeping commented on #3791
@Kubuxu odd... same here. For other random addresses too

[2017-03-16 21:34] Kubuxu commented on #3791
maybe the new search is not full compatible? It might be hitting other peers that don't have the data.

[2017-03-16 21:36] whyrusleeping commented on #3791
@Kubuxu I think i ran that from an 0.4.6 daemon

[2017-03-16 21:37] nezzard commented on #3791
The probles was is a firewall, i add to iptables port, and all works

I have one question, can you explain me, how does it work?
For example, i added txt file, than i start daemon, and delete this txt file.
Will ipfs always keep this txt file?

[2017-03-16 22:18] Kubuxu commented on #3791
Yes

[2017-03-16 22:36] whyrusleeping commented on #3791
@nezzard If you add a file, and start your daemon, then remove the file before anyone else accesses it, the file will be gone from the network.

Take a look at: https://github.com/ipfs/faq/issues/8 and https://github.com/ipfs/faq/issues/9

[2017-03-16 22:39] Kubuxu commented on #3791
As the issue is resolved. I am closing.

[2017-03-16 22:39] #3791 closed

[2017-03-17 11:01] Kubuxu opened #3792 "Too many open files on add with daemon"
Version: 0.4.7

Just running: `dd bs=128M if=/dev/urandom count=1 | pv -a | ipfs add` causes too many files error in 80% of cases.

[code]

[2017-03-17 14:46] nezzard opened #3793 "Is there something like a keychain?"
Hi, i have 2 questions, i want to implement something like a comment system for users outside ipfs network
1. How i can give access for users, to add data?
2. Can i generate for them repo?

I looking for a something like a ZeroID in a zeronet

[2017-03-17 15:03] wigy-opensource-developer commented on #3793
If each user runs its own node, there is no need to authenticate/authorize them. You only need those concepts if your users cannot run their own nodes and they need a "proxy". Some pieces are missing from IPFS to implement that set of features I have dubbed "[light client](https://github.com/Fermat-ORG/iop-content-address-network/issues/1)".

Do you have something like those in mind? If yes, feel

[2017-03-17 17:06] nezzard commented on #3793
No, user have not node, they are just visitors wich dont know about ipfs.
I need something like login system. user create account with login and password, and than i need to give access for users.
Like in zeronet, when you register, they generated for me bitcoin adress, with a piblic and privete keys wich i thnk store in network ( but i cant understand how it's work)
So i need to make something li

[2017-03-17 17:40] cpacia opened #3794 "Make install 0.4.7 - linux"
Looks like make install is failing for me with a bunch of missing packages. Is there any step I'm missing?

[code]

[2017-03-17 17:51] Kubuxu commented on #3794
That is very interesting, mind running `make install` again, if it fails, `make deps`?

[2017-03-17 18:49] cpacia commented on #3794
I think I was just borking it somehow trying to upgrade. I deleted everything and started fresh and it went right through. Thanks

[2017-03-17 18:49] #3794 closed

[2017-03-18 04:30] djdv commented on #3781
I don't have the time now to experiment with it but I was curious if it was worth using the `GNUmakefile` name if it relies on GNU make, gmake and bmake should recognize these and act appropriately. Maybe eventually create a separate `BSDmakefile` that is bmake/pmake compliant.

https://wiki.freebsd.org/build  (section 1.2 subsection 7)
https://www.gnu.org/software/make/manual/make.html#Makefile-N

[2017-03-18 04:52] whyrusleeping commented on #3793
@nezzard you can generate an arbitrary number of keys through the `ipfs key` subcommand. Though I'm not sure exactly what youre trying to accomplish here.

When you 'register' with zeronet, who are you registering with?

[2017-03-18 06:15] kevina opened #3796 "'pin rm' in the context of broken pins"
From IRC (Starting around 16:00 EDT on Mar 17, 2017):

**kevina:** whyrusleeping: would you mind if I take a pass on the pinning code and try to make pinning operations more more robust in general?
**kevina:** I will do it in small steps and explain what I did to make reviewing easier.
**kevina:** The GC should fail if there are pinned objects can't be retrieved, but other operations don't need to

[2017-03-18 07:12] wigy-opensource-developer commented on #3793
@nezzard In ZeroNet the default is also to run your own node on your own desktop/laptop. ZeroNet also supports "proxies" where any user can create a new identity with their browsers. In that case the proxy generates the private key for you and asks you to save it somewhere if you want to get back to the same identity (see it in action: https://bit.surf:43110/zeroproxies.bit )

In IPFS there is als

[2017-03-18 09:48] substack opened #3797 "CORS headers not sent"
#### Version information:

[code]

#### Type: bug

#### Description:

I set the http configuration for CORS as the help page for `ipfs daemon` recommends:

[code]

but after restarting the daemon the headers aren't present:

[code]

[2017-03-18 11:18] NeoTeo commented on #3792
Also on
go-ipfs version: 0.4.7-
Repo version: 5
System version: amd64/darwin
Golang version: go1.8

I'm also getting a bunch (133 in a row last time) of
`flatfs: too many open files, retrying in 500ms flatfs.go:180`

It seemed to be caused by loading some new hash into my browser from outside (not already in my node) but cannot reproduce.

[2017-03-18 11:45] nezzard commented on #3793
@wigy-opensource-developer
So as i see i have only two ways?
1. Make some registration without gen a new key, and store data to json or db like a orbit db
2. Gen key with node js or something else, and do some stuff like in a first question

Which way is more correctly?

I planing ipfs base site, but without nodes to other visitors, just like usual site wordpress or other cms

[2017-03-18 13:06] Kubuxu commented on #3792
The flatfs warning is not a problem (it is working) but in this case it fails the add process.

[2017-03-18 20:54] whyrusleeping commented on #3792
Lets go ahead and raise the default fd limit to 2048 for now. The number of nodes on the network is getting larger.

Longer term solutions will be adding QUIC support, and implementing connection closing and limiting strategies

[2017-03-18 20:55] whyrusleeping commented on #3333
I think @kevina has improved the perf of both of these routines pretty decently. Well enough for me to feel okay closing this issue (for now).

[2017-03-18 20:55] #3333 closed

[2017-03-18 20:56] whyrusleeping commented on #2067
We can now add 'raw blocks' to ipfs that can be pinned as normal

[2017-03-18 20:56] #2067 closed

[2017-03-18 21:24] whyrusleeping commented on #3797
Hrm... thats pretty annoying. Let me look into this.

[2017-03-18 21:27] whyrusleeping commented on #3797
odd that the `Vary: Origin` header is there...

[2017-03-18 21:35] whyrusleeping commented on #3797
For some unknown reason we skip adding these headers here: https://github.com/ipfs/go-ipfs/blob/master/commands/http/handler.go#L85

My understanding of http security semantics isnt where it should be. I'll need to figure out why we do this...

[2017-03-18 22:01] substack commented on #3797
I get the same headers set on 0.4.7:

[code]

[code]

[2017-03-18 22:34] whyrusleeping commented on #3797
To get the header to be returned, i also had to set the allowed methods:
[code]
whyrusleeping@rumil ~/g/s/g/i/go-ipfs> curl -I -H "Origin: http://localhost:9966" http://localhost:5001/api/v0/id
HTTP/1.1 200 OK
Access-Control-Allow-Headers: X-Stream-Output, X-Chunked-Output, X-Content-Length
Access-Control-Allow-Origin: http://localhost:9966
Access-Control-Expose-Headers: X-Stream-Output, X-Chunked

[2017-03-18 22:47] Kubuxu commented on #3797
If you compare it with gateway the `Access-Control-Allow-Methods: GET` header is missing.

[2017-03-18 22:58] Kubuxu commented on #3797
If you compare it with gateway the `Access-Control-Allow-Methods: GET` header is missing.

[2017-03-18 23:00] substack commented on #3797
Everything is working for me now. I think the 0.4.7 upgrade fixed the issue in the browser and the issue with curl was related to other configuration settings. Thanks.

[2017-03-18 23:00] #3797 closed

[2017-03-18 23:48] kevina commented on #3796
@whyrusleeping okay, then we can use a `--force` option that basically says try to remove the pin if possible, don't scan for indirect pins.

Although I am still unsure what to think of "the recursive pin we force remove might be a block that is referenced by a pinned block that is missing".  Offhand I don't necessary see this as a problem although I can't articulate exactly why at this time.  @Ku

[2017-03-19 09:00] jefft0 commented on #3789
Can you check if it is the blocks or the datastore that is growing while the daemon is "just running"?

    du -d 0 /Users/user/.ipfs/blocks
    du -d 0 /Users/user/.ipfs/datastore

[2017-03-19 09:40] jefft0 commented on #3763
@whyrusleeping Here's another data point. I tried the same setup on macOS 10.12 . I'm not running the daemon as I `add --nocopy` each file. It's easy to get the PID and run `lsof` because it's getting slower and slower as I add each file. It now takes over a minute to add one 200MB file.

Anyway, attached is the `lsof` output when adding a file. Why is is necessary to open 363 LDB files at the sam

[2017-03-19 10:11] mitar commented on #3789
It is datastore growing:

[code]

After few minutes:

[code]

[2017-03-19 11:09] Kubuxu commented on #3789
The datastore directory is expected to grow as it contains cached providers and peer records.
Those are not cleaned up as of now. On my node that is almost a year old they take only about 30MB.

[2017-03-19 20:00] whyrusleeping commented on #3789
My bootstrapper node mars has 110MB in its datastore. Its storing dht information, provider records, and peer address info. This gets gabrage collected periodically so it doesnt grow unboundedly.

If we fix the ephemeral address issue this will get a good deal smaller

[2017-03-19 20:01] whyrusleeping commented on #3796
Yeah, would love to get thoughts from @Kubuxu and @lgierth and @hsanjuan here. This is tricky failure case UX we need to make sure to get right

[2017-03-19 20:59] whyrusleeping commented on #3773
@mitar ah, ipfs init assumes that the directory youre giving it does not already exist.

[2017-03-19 21:01] starrychloe opened #3799 "ERROR bitswap: Error writing block to datastore: sync /ipfs/blocks: invalid argument bitswap.go:303"
[code]
and it just repeats...

#### Version information:
[code]

#### Type:
Error during running. Must be a bug somewhere.

#### Priority:
P4

#### Description:
IPFS daemon leaves errors in the console as it runs. I don't know what causes it, but clicking on big, old IPFS links seems to cause it. I can view `/ipfs/datastore/` and `/ipfs/blocks` fine. I can access the cat pic http://127.0.0.1:8080/

[2017-03-19 21:19] mitar commented on #3773
Oh, but for `ipfs init` there is no such assumption. It just checks that the directory is empty. So [this works](https://github.com/luckychain/lucky/blob/master/etc/service/ipfs/run):

[code]

But this does not:

[code]

It is not really possible inside Docker for a directory to not exist, because in practice I am mounting external volume to `/ipfs`. So it exists because Docker puts a volume there

[2017-03-19 21:25] udatny opened #3800 "identical content, different hash"
#### Version information:
go-ipfs_v0.4.6_windows-amd64 prepackaged

#### Type:
Bug

#### Priority:
P2

#### Description:
I am working on an offline hashing solution for ipfs in java. for beeing able to do so i took the protobuffer definitions from the repo.

https://github.com/ipfs/go-ipfs/blob/master/merkledag/pb/merkledag.proto

from this file i generate the protocol definitions.

when i am seri

[2017-03-19 21:29] whyrusleeping commented on #3773
Ah interesting. Thats a weird discrepancy. Lets make sure the `--init` flag on the daemon has the same exact behaviour as `ipfs init`

[2017-03-19 21:31] mitar commented on #3789
So in production, where I run `ipfs daemon` with `--enable-gc`, my stats are after a week or so of running it:

[code]
[code]

As you see, there is many many more objects (255220) than they are pinned (27481).

Size of all pinned objects:

[code]

Again, as you see, there is huge difference between 10702297 and 1680016676.

[2017-03-19 21:44] whyrusleeping commented on #3789
@mitar does manually running a gc clear up the excess objects? If so, then its likely that the automatic garbage collection code is hitting a snag for some reason. We should look into that

[2017-03-19 21:46] mitar commented on #3789
How often should the automatic gc run?

[2017-03-19 21:47] whyrusleeping commented on #3789
Its set in the config file, by default its once per hour, and only runs if your repo is over 10GB

[2017-03-19 21:48] mitar commented on #3789
Aha. My repo is not yet over 10 GB.

[2017-03-19 21:51] mitar commented on #3789
Before `gc`:

[code]

After:

[code]

This is much better. Still 122,828,928 >> 10,702,297.

And still:

[code]

Real size is larger than what `repo stat` returns.

[2017-03-19 22:50] udatny commented on #3800
i checked the reading aspect. the binary representation in ipfs is different - and therefore the different hash, but i can read it back in any order with protobuffers. so no issues with reading.

[2017-03-19 23:04] Kubuxu commented on #3800
Yeah, there shouldn't be any problems with reading. Just the output format will be different.

[2017-03-20 15:04] hsanjuan commented on #3783
The problem is that when checking if a single pin exists, the code takes every recursive pin and does a `hasChild(cid)`, where `hasChild` calls recursively to the links from every child.

This means that branches will be recursively explored over and over even when they are shared by different parents. On the other side `ipfs pin ls` is faster because when doing `pinLsAll()`, previously visited br

[2017-03-20 15:12] jad-darrous opened #3802 "IPFS multi-sources pull issue / scaling issue"
#### Version information:
go-ipfs version: 0.4.6-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

#### Type:
Probably Bug

#### Priority:
P2

#### Description:

I was playing with IPFS and I feel that I discovered a strange behavior! I have multiple machines, let's says 4, on the first one, I generated a random binary file and I added it to IPFS. On the second node, I pulled thi

[2017-03-20 17:05] whyrusleeping commented on #3799
Invalid argument is a new one.

After a small amount of research i see that some filesystems (particularly on virtualbox for some reason?) do not support calling fsync on directories. This *might* be a lead here.

What filesystem are you using?

[2017-03-20 17:09] whyrusleeping commented on #3802
I've observed this in scenarios where the bandwidth between machines is high, and the latency above 50ms, the wantlist updates end up not being able to propogate before blocks get sent around.

This is a flaw in the current implementation of bitswap, and should be greatly improved by: https://github.com/ipfs/go-ipfs/issues/3786

[2017-03-20 17:10] whyrusleeping commented on #3800
This problem feels like our version of ethereums sha3 choice...

[2017-03-20 17:11] whyrusleeping commented on #3800
"Cant change it now, everything would break"

[2017-03-20 18:18] lgierth commented on #3800
We can "change" it with unixfs v2 based on IPLD instead of merkledag/protobuf.

[2017-03-20 19:53] flussence commented on #3792
Running the daemon with `--offline` should avoid this, since it's the same root cause as many other open bugs (flood of outgoing network traffic overloading something or other).

[2017-03-20 21:01] kevina commented on #2185
@Kubuxu this is assigned to you.  Do you want me to take it.  Should be easy after https://github.com/ipfs/go-ipfs/pull/3743 is merged.

[2017-03-20 21:03] kevina commented on #3746
This should be easy.  @whyrusleeping do you want me to do this?

[2017-03-20 21:05] kevina commented on #3773
I will look into this today.

[2017-03-20 21:07] kevina commented on #3780
I am not familiar with Ephemeral port but with a little guidance I might be able to do this.  @whyrusleeping let me know if this will be helpful.

[2017-03-20 21:41] Kubuxu commented on #2185
It requires dependency propagation of go-multihash. So if you ware up to it, go for it.

[2017-03-20 21:56] kevina commented on #2185
@whyrusleeping the `go-multihash` dep is used nearly every where so it will be a difficult dependency to update and there are several outstanding P.R. for additional hashes.  Do you still want to target this for  Ipfs 0.4.8 or bump it?

[2017-03-20 22:31] lgierth opened #3803 "Pin lock UI feedback"
#### Version information: 0.4.7

#### Type: enhancement

#### Priority: P2

#### Description:

Pinning operations take the pin lock, so that only one pinning operation can run at a time. When running `ipfs pin add` and another operation is currently running, it'll sit and wait until it acquires the lock and only then start to run. During this time there's no UI feedback.

Instead it should show so

[2017-03-20 23:41] kevina commented on #3773
#3805 should fix it.

[2017-03-21 00:41] ianopolous commented on #3754
Our use case involves a btree. If our btree is depth n it has O(16^n) nodes. During a write, we only have to modify O(n) elements, from the new/modified element down to the root. So if you lazily traverse the old graph to discover already pinned sub-trees as you pin the new one, you will get reduction from O(16^n) to O(n) for the pin add component.

[2017-03-21 01:04] starrychloe commented on #3799
I'm using vboxsf.

[code]
The host (Windows 8.1) is using NTFS.

[2017-03-21 01:16] Kubuxu commented on #3799
You should be able to work it around by switching `NoSync` in config to `true`.

[2017-03-21 02:26] lgierth opened #3807 "PeerID in IPNS key workflow"
#### Version information: 0.4.7

#### Type: enhancement

#### Priority: P3

#### Description:

- `ipfs name publish --key` should accept a PeerID in addition to the key name.
- `ipfs key list` should list the PeerID alongside the key name (`-l` arg should be default true).

[2017-03-21 04:08] whyrusleeping commented on #3799
@Kubuxu `NoSync` still does a minimal amount of sync calls IIRC. Maybe youre right though?

[2017-03-21 04:09] lgierth opened #3808 "Non-self IPNS names need republishing"
#### Version information: 0.4.7

#### Type:

#### Priority: P2

#### Description:

It doesn't look like names added by `ipfs key gen` ever get republished. I didn't actually *test* it, but I'm fairly certain there's no code for it.

It should:

- at startup, call `Republisher.AddName()` for each key in the keystore.
- same for every run of `ipfs key gen`, add the name to the republisher.

cc @edsi

[2017-03-21 05:34] whyrusleeping commented on #3803
@lgierth Yeah, that would be nice. Currently we have no way of knowing that the lock is already taken, it just hangs as we try to acquire it. We should change that up a bit so we can do this

[2017-03-21 05:35] whyrusleeping commented on #3808
@lgierth correct. There is another issue open for this.

We were waiting on figuring out proper UX for this

[2017-03-21 11:34] Kubuxu commented on #3799
not sure, but it might help

[2017-03-21 14:43] hsanjuan commented on #3796
Thoughts:

* If a pin is missing, all its parents should show "error" state. (prob "error_indirect", "error_recursive" etc.) because that whole tree (the whole pin set) is compromised. GC cannot proceed then.
* It should never be possible to remove a pin who has a pinned parent (force or not, errored or not). All parents must be unpinned before.
* Indirect pins without parents (orphans - both in e

[2017-03-21 17:00] hoenirvili commented on #3498
This project needs to stop using the testing pkg from std and move to a more mature and serious one like  https://labix.org/gocheck.
I'm also a serious contributor on another big open source project [Juju](https://github.com/juju/juju/), which is much bigger than the go-ipfs so it uses this library I mentioned and also this custome one https://github.com/juju/testing.

Take a look on how cleaner a

[2017-03-21 17:45] whyrusleeping commented on #3498
@Kubuxu @hsanjuan @lgierth want to weigh in here?

Like i said, I could be convinced to change my position, but it needs to be a better argument than "Look, we can save a few lines of code by using this fancy function"

@hoenirvili I'd be interested for you to give an example or two of what you consider "more complex logic code"

That said, Given interactions i've had with both testing libs being

[2017-03-21 19:20] Kubuxu commented on #3498
My main requirement for testing lib is for it to have value added. If something stops us from writing descriptive test failure messages it is value reduced.

[2017-03-21 19:33] whyrusleeping opened #3810 "Remove go-ipfs-util package"
The go-ipfs-util package has outlived its usefulness: https://github.com/ipfs/go-ipfs-util

@kevina recently removed a usage of it which led me to investigate what its actually doing. The answer is not much.

At the very least, we can remove the file functionality, the time stuff (which isnt any simpler than using go's time package directly), and remove the packages dependence on multihash since i

[2017-03-21 20:34] d10r commented on #3681
I can confirm the fix. Had the same issue as OP with 0.4.5 and was fixed after updating to 0.4.7.

[2017-03-21 22:46] udatny opened #3811 "closing the connection on the client side may cause the server to crash"
#### Version information:
go-ipfs_v0.4.6_windows-amd64 prepackaged

#### Type:
Bug

#### Priority:
P3
#### Description:
using the api, when the client closes the connection, may crash the server. seen on /v0/dht/findprovs?arg=

some traces, if this helps.

[code]

[code]
[code]

[2017-03-21 22:59] whyrusleeping commented on #3811
@udatny Thanks! How exactly where you able to reproduce this? Just opening an http connection to that endpoint and then closing it?

[2017-03-21 23:07] udatny commented on #3811
you're very welcome. i had several connections open... and since the  /v0/dht/findprovs behaves strangely (for my taste) - and takes long, probably querying all the peers, i tweaked the call - i read 100 lines and close the connection - usually this is enough to know if there are some providers.

once i did that i was able (ok, wasnt my intent) to crash the server multiple times.  but yes, it take

[2017-03-22 01:57] #3490 closed

[2017-03-22 03:33] whyrusleeping opened #3813 "Add options to select provider preferences"
Sending out dht provider messages is the biggest pain point in ipfs right now. I have tried brainstorming solutions: https://github.com/ipfs/notes/issues/162, but that hasnt produced anything yet that i feel actually solves the problems.

So to help with the issue for now, i propose we implement four provider options as follows:

#### none
Provide nothing, this should do roughly what the `--routin

[2017-03-22 06:43] udatny commented on #3811
something like

[code]

[2017-03-22 19:27] whyrusleeping commented on #3800
@lgierth yeah, I think thats the best plan moving forward we have here

[2017-03-22 23:39] whyrusleeping opened #3814 "Odd bitswap test failure in travis CI"
[code]

Really not sure where this could come from. Needs investigating.

Was on tests for commit 0325888

[2017-03-23 02:00] kevina opened #3816 "add a flag for different ports on the daemon"
From: https://github.com/ipfs/go-ipfs/pull/3805#discussion_r107557455

"I wouldnt worry about it, lets just make a note to do proper port selection for this later."

[2017-03-23 03:54] #3783 closed

[2017-03-23 03:55] #3773 closed

[2017-03-23 04:26] whyrusleeping commented on #3814
Got this again on a different PR:
[code]

This time on bc4d951

[2017-03-23 04:29] whyrusleeping commented on #3814
I think the error message saying `nil cid` is just TestEmptyKey.

There appear to be two separate test failures here. (both on travis CI)

I'll set up a script to run these with the race detector on for a while

[2017-03-23 04:46] whyrusleeping commented on #3814
@Kubuxu the first one seems like it could be related to the iptb issues we're seeing

[2017-03-23 04:50] whyrusleeping commented on #3814
Though it is also timing related and could have just been that the machine was so overloaded that it took over 500ms to form the right connections

[2017-03-23 05:23] whyrusleeping opened #3817 "Weird `make install` failure on travis CI"
travis CI is the gift that keeps on giving.

https://ipfs.io/ipfs/QmWz5BzBf2oJ7XXk5YeQQLoh5MYz6QDmH3n8KfWezMFdeM

This one looks a bit weird. It seems like the download tool fails to fetch things for some reason (thoughts @lgierth ?) And then the makefile continues trying to install things afterwards (@Kubuxu from the recent makefile refactor?)

I would normally chock this one up to travis being w

[2017-03-23 05:31] #2286 closed

[2017-03-23 05:33] whyrusleeping commented on #3816
I think the simplest solution here would be a `--random-ports` option for the daemon. Otherwise we get into something like `--api-maddr=X --gateway-maddr=Y --swarm-maddr=Z`. Though maybe thats not a bad idea...

[2017-03-23 05:38] whyrusleeping commented on #1243
We've updated our fuse libs. Can someone re-verify that this is an issue?

[2017-03-23 11:09] hsanjuan commented on #3813
Wondering, what are the use cases for pinroots/noleaves ?

[2017-03-23 11:23] hsanjuan commented on #3498
Is that an argument against testify/gocheck @Kubuxu ?

If having a helper testlib is going to prevent re-opening this discussion from time to time when a contributor wants to add extra tests using one, then let's pick one (but only one). Hopefully this translates into making contributor's lives easier and becomes positive for the project.

A weak argument in favour of gocheck is that it does not s

[2017-03-23 12:16] Kubuxu commented on #3498
It was argument from other PR CR where switch to testing lib caused a descriptive error (`setting something something failed`) to be replaced with `assertion failed: expected "true", got "false"`

[2017-03-23 13:11] hsanjuan commented on #2009
`merkledag: not found` message is very cryptic to everyone that encounters it the first time. I think the error should hint that the daemon is not running, or at the very least `cid not found locally`.

[2017-03-23 13:27] hsanjuan commented on #3320
Running 5 daemons on local network with a well-known hash (they were pinning dist) kills my Fritzbox.

AFAIK everyone has high esteem for Fritzboxes as very good routers, and not some shitty hardware. Internet reports a NAT table size of around 7000. I find the problem is exacerbated when my nodes are pinning popular content (I suspect this not only consumes all the bandwidth but also increases th

[2017-03-23 13:55] Kubuxu commented on #3320
So my idea of what happens is that conntracker table fills up (it is small in cheapo routers, bigger is good ones) and it starts trowing out other connections. @hsanjuan can you repeat the test, kill ipfs daemons and check if it comes back up online?

[2017-03-23 14:15] hsanjuan commented on #3320
@Kubuxu yeah yeah things are back up immediately when I kill them. Only once I had the router reboot itself, which worried me more.

[2017-03-23 14:21] Kubuxu commented on #3320
So other possibility is that cheapo routers have bigger conntracker limit than their RAM can handle and they kernel panics or lockups. Not sure how to check it.

[2017-03-23 14:48] inetic commented on #2401
I'm trying the example right now ([link for reference](https://ipfs.io/ipfs/QmNZiPk974vDsPmQii3YbrMKfi12KTSNM7XMiYyiea4VYZ/example#/ipfs/QmRFTtbyEp3UaT67ByYW299Suw7HKKnWK6NJMdNFzDjYdX/api/service/readme.md)) but having troubles with compilation as it seems two of the dependencies have changed.

Changing
"code.google.com/p/go.net/context" to "context"

and

"github.com/ipfs/go-ipfs/p2p/peer" to "gx

[2017-03-23 15:19] hsanjuan commented on #2401
For reference, the source for that example seems to be https://github.com/ipfs/examples/tree/master/examples/api/service. I'll give it a quick try too.

[2017-03-23 15:35] hsanjuan commented on #2401
@inetic after getting it to build, the example works for me among two computers on the local network (taking the code from the repo above).

[2017-03-23 15:37] hsanjuan commented on #2401
@inetic when running locally, are you using different configurations for ipfs so listening ports don't conflict? when running on two different PCs, it may be the case that the two peers don't manage to discover each other but I'm not sure. Discovery on local networks takes advantange of mDNS so should be faster.

[2017-03-23 16:38] whyrusleeping commented on #3320
Does UDP eat up conntracker entries? We're moving quickly towards having support for QUIC.

[2017-03-23 16:50] Kubuxu commented on #3320
AFAIK, yes. At least from the time my services were DDoSed with UDP packets and they were much more destructive because of low conntracker limits.

[2017-03-23 16:59] Kubuxu commented on #3817
I have fixed `dist_get` failing without failing with https://github.com/ipfs/go-ipfs/pull/3818. No idea why the un-tag.gz failed.

[2017-03-23 17:17] whyrusleeping opened #3819 "[Meta] Add nettest tests to all conn implementations"
The go semi-standard library has recently added a set of tests to automatically run on anything that implements net.Conn. We should run these over all of our streams and conns to make sure everything is up to snuff. Some initial things I want to test:

- [ ] yamux
- [ ] spdy
- [ ] multiplex
- [ ] secio
- [ ] swarm stream

[2017-03-23 17:57] kevina commented on #3796
I may be seriously misunderstanding how pins are designed to work but @hsanjuan and to some extent @whyrusleeping concern strike me as odd.  For clarity lets assume we have this:
[code]
where nodes in uppercase are recursive pins.   I don't see any problem with deleting the recursive pin for `D` or `C`.  The user may not even be aware that `D is also indirectly pinned.  If there where not aware wh

[2017-03-23 18:20] whyrusleeping commented on #3796
@kevina my concern is in the case where `b` is missing and unpinning `D` causes us to unnecessarily lose `g`.

Really, when data is borked like this bad things are going to happen. This is about making it as clear as possible to the user what the consequences of this are.

In response to @hsanjuan:

Agreed, any pin with missing children should should show an error. Though we need to consider what

[2017-03-23 18:33] hsanjuan commented on #3796
Ah ok! I assumed that indirect pins were tracked as such somewhere (as in a shallow dag or something). If this is not true, there is nothing stopping `e` from being GC'ed.

So yeah, I agree with both of you then.

Well, if you don't stop GC data loss may be worse and repair (i.e. running pin add on errored pins) might be slower (and has more chances of not working if a larger part of the pinset ha

[2017-03-23 18:38] kevina commented on #3796
With the way pins are currently stored I see disabling GC as the only option to prevent data lose.  A user needs to get involved and manually remove the broken pins before GC can be safe again. (@hsanjuan our messages crossed but I thing we agree)

I personally think that indirect pins should somehow be marked directly to prevent these sort of problems.  I believe the datastore should be expanded

[2017-03-23 18:48] kevina commented on #3796
Okay.  I think a non-controversial first step would be to create a command that will simply find all broken pins and present the output in as clear a manor as possible.  @whyrusleeping agree.

[2017-03-23 23:43] whyrusleeping commented on #3796
Marking indirect pins is what we used to do. The construction we had then was really inefficient and had a fairly significant disk space overhead.

Just thinking out loud, not proposing anything:
We could have a better notion of pin security if we had a link caching database as @Voker57 proposed. But the obvious downside there is a very significant disk overhead on every single object in the repo.

[2017-03-23 23:50] Kubuxu commented on #3796
In my opinion (with force) flag it should be possible to remove any pin, as lone as user is notified about possible data loss. User might want to even remove the pin that is causing the pin tree to be broken (imagine scenario where lost block can't be recovered and the only option is to remove recursive pin that references lost block).

[2017-03-24 01:44] satra opened #3825 "network transfer between two nodes very slow"
#### Version information:
server:
go-ipfs version: 0.4.6-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

client:
go-ipfs version: 0.4.6-
Repo version: 5
System version: amd64/darwin
Golang version: go1.8

#### Type: bug

#### Priority: P3

#### Description:

on the client:
[code]
and this transfer is very slow.

the server sits on a large bandwidth connection and if i simply us

[2017-03-24 01:45] wigy-opensource-developer commented on #3498
Thank you for asking. The only project I use golang for is the IPFS, so I do not have a strong opinion in favor of any test libraries. I just had the general feeling that when refactoring test code to reduce duplication, this project would extract the same kind of helper methods like any other projects would do in golang.

[2017-03-24 03:40] whyrusleeping commented on #3498
Alright, I think I will concede to using testify with the following stipulations:

- Refactored tests have strictly *more* descriptive output, and the readability is improved. I will push back on rewriting tests if i feel that switching to a new test framework is not actually improving things.
- If we make an extra package of 'test helper utilities' (like @hoenirvili pointed out in juju). We shoul

[2017-03-24 03:59] kevina commented on #3796
@whyrusleeping I am thinking a separate command the command will also be able to point out if there are redundant recursive pins.  For example giving my example the output if `b` is missing could be:
[code]
there is no way to tell that D is also indirectly pinned by A since b is missing.

This should be fairly self contained and easy to do so I I will have something tomorrow if you want.

[2017-03-24 05:00] whyrusleeping commented on #3825
@satra Hrm... This is a bit of a known problem. The dht overhead here is pretty annoying (something i'm planning on improving with: https://github.com/ipfs/go-ipfs/issues/3786).

What is the normal transfer speed between the two machines in question?

What is the latency between the two machines?

What is the actual bandwidth utilization of each machine vs how fast the transfer appears to be going

[2017-03-24 05:47] whyrusleeping commented on #2185
@kevina we can probably bump this one to 0.4.9

I'm working right now on bubbling a dependency update, but it shouldnt be needed for blake2. I beleive that code is already merged into master here

[2017-03-24 10:27] larsla opened #3826 "Issue with transfer between two nodes behind NAT"
#### Version information: 0.4.8-dev

#### Type: Bug

#### Priority: P1 (?)

#### Description:
Two nodes that are behind NAT can not transfer data between each other.
A node that is exposed to the internet can get data from nodes behind NAT.

I wrote a script to test and describe the issue:
[code]

[2017-03-24 10:33] hsanjuan commented on #3826
what if you increase the killcat delay to... say 120 seconds?

[2017-03-24 10:38] larsla commented on #3826
It does not make any difference. It seems like it will never work if both nodes are behind NAT.

[2017-03-24 11:15] inetic commented on #2401
@hsanjuan

Good point, I wasn't. Once I changed the ports in `<repo>/config/Addresses/Swarm` I got it working locally.

We also managed to connect two distant PCs, in my latest comment we failed at this because one PC was behind a proxy and was running Tor.

[2017-03-24 12:53] edsilv commented on #3808
@lgierth I can confirm that republishing approx every 12 hours is necessary.

[2017-03-24 16:27] Kubuxu commented on #3197
Just got it again:?
[code]

[2017-03-24 17:03] whyrusleeping commented on #3826
@larsla What sort of NAT are you behind?

Could you run [this tool](https://github.com/whyrusleeping/natest) on each machine and paste the output here?

We are able to traverse across some NATs if they support certain features

[2017-03-24 17:08] whyrusleeping commented on #3808
@edsilv I'm trying to figure out a good UX for the automatic republishing. I don't want to automatically republish values for every single key in the keystore (I have over 1000 in my local keystore, for testing) but i want it to be easy for users to opt into republishing.

Would starting republishing on a key after you've published anything with it once feel like a good solution to you?

cc @Kubux

[2017-03-24 17:37] edsilv commented on #3808
@whyrusleeping I think it feels like an opt-out thing where I would have assumed that the content would be permanently available at that key. Perhaps you could pass `--republish=false` if you want to opt out, and it defaults to `true`?

[2017-03-24 17:41] whyrusleeping commented on #3808
@edsilv Hrm... maybe i should provide an example of what i mean:

[code]

[2017-03-24 17:44] edsilv commented on #3808
That's what I did, except I used `--type rsa --size 2048`

https://gist.github.com/edsilv/2c80b0d565352e5cd6b7ceba5fbc156a

[2017-03-24 17:53] whyrusleeping commented on #3808
@edsilv My above comment was proposing a UX, not describing what is now. Would what i posted feel like 'correct' behaviour? (I think so )

[2017-03-24 17:54] edsilv commented on #3808
@whyrusleeping Yep, looks right. Potentially with an extra option to opt-out of republishing. Sorry for the misunderstanding...

[2017-03-24 18:00] whyrusleeping commented on #3811
Bumping to 0.4.9, Will investigate and fix the issue soon (no time to get it in this release)

[2017-03-24 18:02] whyrusleeping commented on #3792
This should be temporarily resolved by #3828

We're working on several different solutions that will all help with this:
- QUIC, a udp based transport, will use only a single file descriptor for all connections
- sbs, a new block storage engine, will keep and use only a single file descriptor for all put operations
- connection closing, in the next few months we will be working on strategies for s

[2017-03-24 18:03] whyrusleeping commented on #3747
This was resolved, Thanks @hoenirvili!

[2017-03-24 18:03] #3747 closed

[2017-03-24 18:07] whyrusleeping commented on #3754
@kevina This is the optimization, lets say we have a pin on node `a` here.
[code]
And lets say 'a' is a directory that we patch a new file into:
[code]

Now, with `ipfs pin update X Y` we can start a traversal from both roots simultaneously. Since both roots have a child named 'b' with the same hash, we can skip going down that route. Now both roots also share c and d, so we can skip those as well

[2017-03-24 18:10] whyrusleeping commented on #3780
@Kubuxu that is with two confirmations of the same port. The problem is we only have about 32,000 ports, and over the course of a week, we're definitely going to overlap on some of those. Just by making around 250 outbound dials, we have a 50% chance of overlapping on an ephemeral port. At 500 outbound dials, we have a nearly 100% chance of an overlap. Given thousands of outbound dials over the co

[2017-03-24 18:11] whyrusleeping commented on #3780
Lets definitely try and get this fixed in 0.4.9, it will help a lot with resource consumption and connectivity

[2017-03-24 18:12] whyrusleeping commented on #3767
I tried a small experiment with a bunch of `block get` calls with connection reuse on and it appeared to work.

I will have to run some experiments with running `add` calls and see how that goes.

[2017-03-24 18:16] whyrusleeping commented on #3553
#3712 was merged. It doesnt solve these errors, but it makes them a lot less cryptic and easy to deal with

[2017-03-24 18:16] #3553 closed

[2017-03-24 18:24] whyrusleeping commented on #3053
Since 0.4.7, we've seen a 0.5% increase in overall code coverage:

https://codecov.io/gh/ipfs/go-ipfs/compare/c21c85f...1d59331

Thats better than the previous increase, but still pretty small. I'd love to see a 5% increase on the next release.

[2017-03-24 18:27] whyrusleeping commented on #3552
I think with some of the changes we've been making for cidv1 support in `ipfs add` that these will be a lot better.

Lets try and make a script that permutes all of these and outputs success/failures

[2017-03-24 18:30] whyrusleeping commented on #3537
more discussion in https://github.com/ipfs/go-ipfs/issues/3808

[2017-03-24 19:25] whyrusleeping commented on #3808
No worries, We will try and have this done for the 0.4.9 relelase :)

[2017-03-24 19:31] whyrusleeping commented on #3792
We can either keep this open until other solutions are implemented, or close this once #3828 gets in.

Thoughts @Kubuxu ?

[2017-03-24 19:36] whyrusleeping commented on #3729
@Kubuxu in the above example, we should trim the trailing slash, and save it into a folder named 'multiformats.io'

[2017-03-24 19:44] whyrusleeping commented on #2783
I'm assuming that since the test is merged to master, and things are passing, that this has been resolved

[2017-03-24 19:45] whyrusleeping commented on #2964
We have this now, #3798 was merged

The config option is `Swarm.DisableNatPortMap`

[2017-03-24 19:45] #2964 closed

[2017-03-24 19:46] whyrusleeping commented on #3468
@lgierth did you latest PR solve this?

[2017-03-24 19:48] whyrusleeping commented on #807
@flyingzumwalt how should we proceed with designing this?

[2017-03-24 19:49] whyrusleeping commented on #3746
@kevina Sure, go ahead. It may require digging into some libp2p stuff, but it shouldnt be too difficult

[2017-03-24 20:02] Kubuxu commented on #3792
I would keep it.

[2017-03-24 20:21] Kubuxu commented on #2783
Tests are not passing, they are marked as failed.

[2017-03-24 20:29] NeoTeo commented on #3767
On 0.4.6?

[2017-03-24 23:25] LRonHubs commented on #2590
@alikic  I would love to see working code if you have it. Has the IPFS team integrated any feature like this yet?

[2017-03-25 00:28] lgierth commented on #2964
Awesome, thanks so much :D

[2017-03-25 00:30] lgierth commented on #3468
Nope

[2017-03-25 02:19] whyrusleeping commented on #3813
@hsanjuan the idea is to still provide some information to the network, but to do much less of it. pinroots would still allow peers on the network to find your pinned content, but not find random access items below pinned things. noleaves would still allow random access of all files and directories, but wouldnt allow peers to find data blocks under a file (though if they are connected to you and a

[2017-03-25 03:04] whyrusleeping commented on #2590
Hey everyone, experimental private networks support was merged for ipfs 0.4.7. Instructions on setting it up are here: https://github.com/ipfs/go-ipfs/issues/3397#issuecomment-284341649

Please try it out and let us know how it goes.

[2017-03-26 16:18] mattseh commented on #3808
If I am regularly resolving the value of an IPNS key, and the publishing node goes down for more than 12? hours, does that mean that resolving will fail, or are names I've looked up recently automatically republished?

If not, I think this would be great functionality, and it seems related to this issue. I feel this is especially important for being able to reliably get content on non-internet con

[2017-03-26 16:43] lgierth commented on #3808
LGTM :+1:

[2017-03-27 08:52] larsla commented on #3826
uPNP/NAT-PMP will never be allowed on corporate (or networks other than in the home) networks because they are a huge security risk.
The NAT traversal I'm thinking of is more like ICE (https://tools.ietf.org/html/rfc5245) that is part of WebRTC.

The IPFS Javascript implementation naturally leads to having in-browser IPFS nodes that would need to communicate with each other, and then opening ports

[2017-03-27 09:20] #2401 closed

[2017-03-27 12:24] hsanjuan opened #3836 "Let "ipfs repo stat" include StorageMax as set in the configuration (in bytes)"
#### Version information: master

#### Type: Feature

#### Priority: P5

#### Description:

I'm not sure this is a good idea but maybe I'm wrong or there's a better approach.

The underlying problem is to know how many more bytes an ipfs node can store.

`ipfs repo stat` provides RepoSize and `ipfs config show` provides `StorageMax`, so it's just matter of doing the math.If StorageMax came include

[2017-03-27 12:41] eminence opened #3837 "ipfs version --commit no longer shows githash"
#### Version information:
[code]

#### Type: Bug

#### Priority: P3

#### Description:
Running `ipfs version --commit` or `ipfs version --all` no longer shows the git hash.  In my case, I am building ipfs from source by running "make install" from my `$GOPATH/src/github.com/ipfs/go-ipfs` directory.  See above for an example.  I bisected this, and this problem was introduced by f630222580ffaa9e5c62

[2017-03-27 12:44] Kubuxu commented on #3837
Works here.
[code]

f630222 introduced it but it was latter resolved in same PR  (iirc). As a note, builds from dist.ipfs.io don't have the hash.

[2017-03-27 12:52] lgierth commented on #3837
Why? They used to

[2017-03-27 12:53] Kubuxu commented on #3837
I don't think they ever had a hash.

[2017-03-27 13:08] eminence commented on #3837
Here's a more complete transcript on my build session:

[code]

[2017-03-27 13:12] Kubuxu commented on #3837
Aaah, `make install`. Fixing as we speak.

[2017-03-27 16:35] whyrusleeping commented on #3837
This is because of the dists build process. I can probably fix it, but i've purposfully kept it this way because it makes release builds much more easily recognizeable.

If we're wanting to fix this, i can do so

[2017-03-27 17:49] whyrusleeping commented on #3826
@larsla we do our own form of ICE, as well as a few other mechanisms. Thats why i asked what sort of NAT you have, and asked you to try out the diagnostics tool

[2017-03-28 04:12] kevina commented on #3796
@whyrusleeping please note, that this may not be intentional, but right now you can remove a pin even if some of the blocks to that (or another pin) is bad, this is because if the recursive pin exists "pin rm" won't scan and try to explain why, if something like #3600 goes through `pin rm` should never error due to broken pins.

I tested this by hacking t0087-repo-robust-gc.sh.

[2017-03-28 11:08] hsanjuan commented on #3320
Is it possible that this problem got much worse in the last releases (ie >=0.4.5). I used to be able to run 4 nodes without problems and now it seems I'm not, even after cleaning their contents.

[2017-03-28 14:30] VictorBjelkholm opened #3839 "Let 'ipfs dht findprovs' return more than 20 peers"
#### Version information:
[code]

#### Type:
Enhancement

#### Priority:
P5

#### Description:
Currently when running `ipfs dht findprovs` it'll continue until a timeout or finding 20 peers. It would be helpful if we could configure the command not return just because it found 20 peers. In addition, would be helpful to be able to configure the amount of time it'll search as well.

Relevant line: h

[2017-03-28 14:36] Kubuxu commented on #3839
There is global ipfs option, `timeout` that causes the command to timeout after some time.

Example: `ipfs --timeout=1s dht findprovs /ipfs/QmVZxZgdnZ8h2L7V5bhLsE4CvAmAaGyLjBhFJHYigPE9X1`

[2017-03-29 02:53] lgierth commented on #3839
Needs to be documented -- it's not in `ipfs --help`

[2017-03-29 19:09] hsanjuan opened #3842 "/api/v0/add fails to report created objects for added files"
#### Version information:

go-ipfs version: 0.4.8-rc1-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

#### Type: Bug

#### Priority: P4

#### Description:

[code]

So QmfNiRzgSER1p6aFPCocuUNhfxsnVS2siUeQxmnqrQsFM6 is created, and pinned recursively but the user is not informed and it is somehow unexpected because why does it wrap "a/" and "myfile2"?. Also, QmeWD26mRZZnJNCtzkkvp

[2017-03-29 19:15] hsanjuan commented on #3842
This is reproducable with the cli, doing `ipfs add -r folder1 folder2` is very confusing

[2017-03-29 19:20] Kubuxu commented on #3842
Connected with: https://github.com/ipfs/go-ipfs/issues/2811

[2017-03-29 19:23] hsanjuan commented on #3842
hmm maybe close this @Kubuxu . I should have searched for dups before.

[2017-03-29 19:28] Kubuxu commented on #3842
I will close this, but if you could try to improve the title of #2811 .

[2017-03-29 19:28] #3842 closed

[2017-03-29 20:56] hsanjuan commented on #3842
@Kubuxu I don't dare because @kevina is describing the same problem from a different perspective (i think)

@kevina mind improving that title for us?

[2017-03-30 00:57] baimurzin opened #3844 "Can I manually add address?"
Is it possible to add manually peers before starting **ipfs daemon**
And how I can get value from second machine to add it on first machine?

And for example I have run a daemon in local network on several devices, and then I give access to global network would files accessible to others people. If yes, how can I prevent it?

[2017-03-30 11:12] hsanjuan commented on #3844
Use the `Bootstrap` list to add peers before starting in the configuration.

Use `ipfs id` to find the second machine's peer addresses.

network would files accessible to others people. If yes, how can I prevent it?

Files are accessible to other people as soon as a node bootstrap to one of the default nodes or finds a node which is connected to the outside.

Enable private networks. See https://g

[2017-03-30 22:59] #3837 closed

[2017-03-31 04:17] robinpaulson opened #3847 "include optional init scripts in install package/ipfs-update"
#### Version information:
go-ipfs version: 0.4.8-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

#### Type: Enhancement

#### Severity: Low

#### Description:
Include various init scripts which may optionally be installed with ipfs, to start ipfs at system boot: Sys V init, upstart, systemd, etc.

[2017-03-31 19:58] baimurzin commented on #3844
@hsanjuan Thanks, it useful enough!

[2017-03-31 19:58] #3844 closed

[2017-03-31 20:05] baimurzin opened #3849 "Possibility to restrict file access for users in network"
Now is it possible to set permission on any file for some users in network?
For example, I have a file with secret information and want to share it with some users. Is it possible to restrict from others and share somewhen you want.
May there is such opportunity using blockchain/ethereum?

[2017-03-31 20:31] whyrusleeping commented on #3849
@baimurzin Could you ask this question on our discourse forum? http://ipfs.trydiscourse.com/

We're trying to keep issues on this repo as actionable issues on the go-ipfs implementation

[2017-03-31 21:36] jefft0 commented on #3763
Is `add --nocopy` supported in js-ipfs on Ubuntu? Do you think it's worth trying to add lots of files with js-ipfs to see if its use of LevelDB doesn't run out of file descriptors?

[2017-03-31 22:54] Kubuxu commented on #3763
I don't think it is.

[2017-03-31 23:19] whyrusleeping commented on #3763
@jefft0 i have no idea why leveldb is behaving that way, it doesnt do so on my machines.

Just seeing your lsof output now

[2017-04-01 00:22] #3849 closed

[2017-04-01 10:16] jefft0 commented on #3763
@whyrusleeping On the Ubuntu machine you tested, what version of LevelDB? How was it installed?

[2017-04-02 12:20] faddat commented on #3839
is this what one would use to identify the peers serving a given file?

[2017-04-02 20:19] whyrusleeping opened #3851 "Note: check allocations"
I've been curious about ipfs's allocation patterns and just had an idea how to get better insight into this. I'm writing this note so I don't forget.

to see a sum total of allocations that happen, turn off golang gc by setting the environment variable `GOGC=off` and then run ipfs, then after a bit (before you run out of memory) take a heap profile. If a certain routine is allocating memory very f

[2017-04-02 23:10] whyrusleeping commented on #3851
This is really useful, heres one sample cap:
[code]

This shows some interesting things, secio allocates a lot. We call `go-peerstream.Conns` a *lot* and it allocates memory. We call `go-addr-util.ResolveUnspecifiedAddresses` a lot, and this allocates significant memory. and so on, These are all candidates for fixing

[2017-04-03 11:39] nannal opened #3852 "Hardcoded /home/whyrusleeping path on crash."
#### Version information:
go-ipfs version: 0.4.8-
Repo version: 5
System version: amd64/darwin
Golang version: go1.8

#### Type:Bug

#### Severity: Low

#### Description:

Tor wasn't running & I tried to torify IPFS (due to ISP issues with DHT) saw some interesting output with hardcoded /home/whyrusleeping/ (why rus lee ping?) paths

torify ipfs daemon &
[1] 80545
Mac:IIS dabbott$ which: no getcap

[2017-04-03 11:43] nannal commented on #3852
Actually torify ipfs daemon doesn't seem to work on osx but does appear to work fine on linux

 "which: no getcap in (/Users/dabbott/.rvm/gems..." is a torify related error.

[2017-04-03 12:20] whyrusleeping commented on #3852
Huh, interesting. I should change the build box's go installation to use something in /usr/bin.

[2017-04-03 13:36] Kubuxu commented on #3852
This is only a build path so it doesn't make much difference. We should just build as `ipfs` user or something.

[2017-04-03 14:03] whyrusleeping commented on #3852
Yeah, building as my user is sloppy. Will fix next time

[2017-04-03 14:07] whyrusleeping opened #3853 "Add ability to add new functionality via plugins"
With go1.8 we can now load plugins at runtime: https://golang.org/pkg/plugin/

I think we can do some really cool things with this. The main examples that stand out in my mind are:

- Add support for new ipld types
  - i've been struggling to decide how i want to ship the blockchain and git integrations, this solves the problem nicely
- Add support for new libp2p transports
  - I don't necessarily

[2017-04-03 14:24] Kubuxu commented on #3853
As a note it will work only on LInux right now.

[2017-04-04 01:56] robinpaulson commented on #3847
I found them in a different repo. Closing

[2017-04-04 01:56] #3847 closed

[2017-04-05 12:48] ligi commented on #3792
also stumbling into this right now with a ci-server I wrote that writes reports to IPFS:

[code]

unfortunately "--offline" is not an option as far as I see - is there another workaround?

[2017-04-05 13:20] whyrusleeping commented on #3792
@ligi when trying 0.4.8, does the daemon output the message saying its raising the file descriptor limit to 2048 ?

[2017-04-05 13:43] ligi commented on #3792
yes - here the full output:

[code]

--
friendly greetings,
ligi
http://ligi.de

[2017-04-05 13:51] timthelion opened #3855 "Reproducable connection closure"
#### Version information:

[code]

#### Type:
    High - The main functionality of the application does not work, API breakage, repo format breakage, etc.

#### Description:

When I try to do

[code]

I eventually get

[code]

After adding a ton of files.

Server side it looks like

[code]

I origionally encountered this on `0.4.5` and then upgraded to see if the bug was fixed yet. But I didn't de

[2017-04-05 13:51] timthelion commented on #3855
You know, I'd send you the file tree, if ipfs would eat it :P

[2017-04-05 15:43] whyrusleeping commented on #3855
@timthelion

Heh, mind zipping it then sending it? Can you add things without the daemon running?

[2017-04-05 16:06] timthelion commented on #3855
I feel like we're going to have a bug inception here, because I was trying to send someone a bug report via IPFS and IPFS crashed and now I'm sending you the file tree that crashed a program that crashed a program.

I have a feeling, that the output of tar is going to be helpfull in debugging this:

[code]

I'm 20% sure that ipfs is choking on those same permissions errors, but then, why does it c

[2017-04-05 16:15] timthelion commented on #3855
OK, my certainty level just raised to %97. Running the command without the daemon running gives me:

[code]

[2017-04-05 23:08] timthelion commented on #3855
Not much changes. Still stops at a random file:

oph65IaWxOy-Yl0MZXtXEDKcxodzY0_-inUDq7rPVTEDvqugYpJAH/go/src/syscall/zerrors_freebsd_386.go
01:04:50.141 ERROR commands/h: read tcp 127.0.0.1:41746->127.0.0.1:5001:
use of closed network connection client.go:247
Error: read tcp 127.0.0.1:41746->127.0.0.1:5001: use of closed network
connection

oph65IaWxOy-Yl0MZXtXEDKcxodzY0_-inUDq7rPVTEDvqugYpJAH/go

[2017-04-07 16:35] jefft0 commented on #3763
I am able to reproduce the error in a fresh Ubuntu virtual machine (both VirtualBox and Parallels) with a fresh installation of the latest go-ipfs. I transfer a 700MB gzip file and expand it as the new installation's `~/.ipfs` . Then, using `ipfs add --nocopy --raw-leaves` gives the error "too many open files".

So, if someone wants to reproduce and debug this issue, I can get you the 700MB gzip f

[2017-04-07 16:41] jefft0 commented on #3763
... or better yet, make a virtual machine for you to log into?

[2017-04-07 16:43] whyrusleeping commented on #3763
@jefft0 Yeah, getting that gzip file would be great!

[2017-04-07 17:20] jefft0 commented on #3763
See http://data.thefirst.org/ipfs-too-many-fds.tar.gz .

[2017-04-08 15:59] noxonsu commented on #3061
same problem

[2017-04-09 17:46] whyrusleeping commented on #3763
@jefft0 the archive you sent was an ipfs repo. Was your issue with adding an ipfs repo into ipfs? Or did you mean to zip up something else?

[2017-04-10 15:14] jefft0 commented on #3763
That's what I meant to send. (Don't worry about the private key. It was generated just for this test.) Steps to reproduce

* An installation of Ubuntu 16.04. (Haven't tested with other Ubuntu versions.)
* Install the latest IPFS, but don't do `ipfs init`.
* Extract the gzip file as your `~/.ipfs`
* Put a big file in ~ (for example, the ipfs executable).
* Do `ipfs add --nocopy --raw-leaves <file>`

[2017-04-10 15:17] whyrusleeping commented on #3763
Ah, thanks! Will try that soon

On Mon, Apr 10, 2017, 11:15 Jeff Thompson <notifications@github.com> wrote:

[2017-04-10 21:24] timthelion opened #3858 "go-ipld-node has been renamed go-ipld-format"
The repo go-ipld-node no longer exists https://github.com/ipfs/go-ipfs/blob/master/package.json#L259

It seems to have been renamed to go-ipld-format https://github.com/ipfs/go-ipld-format/blob/master/format.go

I came across this while reading the source code.

[2017-04-11 03:00] lgierth opened #3859 "Add node's public keys to ipfs"
#### Version information: 0.4.9-dev

#### Type: enhancement

#### Severity: Low

#### Description:

A node should maybe ipfs-add its own public key during init, so that fetching /ipfs/Qmfoo works, where Qmfoo is the node's peerid.

And maybe the same for keys from `ipfs key`.

[2017-04-11 12:57] nezzard opened #3860 "IPNS very slow (Kubo <0.20)"
Hi, is it normal, that ipns loading very slow?
I tried to make something like cms with dynamic content, but ipns to slow, when i load site via ipns, first loading is very slow, if after that i reload page it's load quickly. But if i reload after few minutes, it's again load slow.

[2017-04-11 19:22] whyrusleeping commented on #3860
@nezzard This is generally a known issue, but providing more information is helpful. Are you resolving from your local node? Or are you resolving through the gateway?

[2017-04-11 23:24] nezzard commented on #3860
@whyrusleeping throw local, but sometimes gateway faster, sometimes local faster
So, for now I can't use ipns normally?

[2017-04-12 02:11] whyrusleeping commented on #3860
@nezzard when using locally, how many peers do you have connected? (`ipfs swarm peers`) The primary slowdown of ipns is connecting to enough of the right peers on the dht, once thats warmed up it should be faster.

DHT based ipns isnt as fast as something more centralized, but you can generally cache the results for longer than ipfs caches them. We should take a look at making these caches more co

[2017-04-12 12:13] nezzard commented on #3860
@whyrusleeping Sometimes it's really fast, sometimes i have
[https://yadi.sk/i/mL6Q4OFX3Gu2nk](url)

Ipfs swarm
`/ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ
/ip4/104.131.180.155/tcp/4001/ipfs/QmeXAm1zdLbPaA9wVemaCjbeJgWsCrH4oSCrK2F92yWnbm
/ip4/104.133.2.68/tcp/53366/ipfs/QmTAmvzNBsicnajpLTUnVqcPankP3pNDoqHpAtUNkK2rU7
/ip4/104.155.150.120/tcp/4001/ipfs/Qmep8Ltip

[2017-04-13 08:40] recmo opened #3861 "/ipns/ should redirect to /ipfs/ and/or cache"
#### Version information:
[code]

#### Type: Feature

#### Severity: Medium (performance issue)

#### Description:

Currently, `/ipfs/` request have maximal caching implemented, which is great for performance as it allows offloading load to caches (reverse proxies, Cloudflare, browser, etc). The `/ipns/` are mutable, so the same treatment would not work. Currently, they don't provide any form of c

[2017-04-13 11:05] faddat commented on #3060
I'd also love to use ipfs as a library in my app.

Is there a standard way of doing this?

[2017-04-13 11:09] JustinDrake commented on #3060
I think the [Core API](https://github.com/ipfs/go-ipfs/milestone/19) is ultimately intended to become the "standard way". At the moment you can interact with IPFS in a number of ways:

- Invoking the command line tool
- Using HTTP requests to a gateway
- Programmatically calling internal go-ipfs functions
- Directly instantiating standalone libraries such as go-libp2p

[2017-04-13 11:34] aniket-kumar commented on #2112
@whyrusleeping facing same issue in go-ipfs_v0.4.3_linux-amd64. Any help will be appreciated.

[2017-04-13 19:13] Kubuxu commented on #2112
Please update to newer version, 0.4.3 is ancient.

[2017-04-14 14:31] daviddias opened #3862 "What is the exact state of DHT commands?"
I know that internally they work, but I'm having some troubles achieving what I intend with them using the CLI and js-ipfs-api. Example, trying to do a `dht get` on a multihash of a just added file yields 0 results through the CLI or an error through js-ipfs-api:

[code]

[code]

I'll keep updating this thread as I implement the remaining DHT commands for js-ipfs-api (only supported get and put ti

[2017-04-14 14:56] diasdavid commented on #3862
on findpeer, doc says: `Query the DHT for all of the multiaddresses associated with a Peer ID.`

result from a findpeer for a non existent peer:

[code]

I guess this is just how 'close' it managed to get to that peer without success?

[2017-04-14 17:25] Kubuxu commented on #3862
Yes, it is notification stream from the DHT, most important is the response field Type. See: https://github.com/libp2p/go-libp2p-routing/blob/master/notifications/query.go#L16-L23 where it starts from 0 and increases.

[2017-04-16 10:16] ianopolous commented on #3754
The relevant PR is https://github.com/ipfs/go-ipfs/pull/3846

[2017-04-16 11:26] bjornl opened #3865 "Version mismatch between Docker image and pre-built client"
#### Version information:

go-ipfs version: 0.4.8-dev-c21c85f
Repo version: 5
System version: amd64/linux
Golang version: go1.7.4

#### Type:
Bug

#### Severity:
Very Low

#### Description:

Official Docker image[1] uses version string "0.4.8-dev" while the pre-built binary uses version string "0.4.8" so the pre-built binary can not be used to interact with IPFS Docker container.

ipfs --api /ip4/

[2017-04-16 11:39] Kubuxu commented on #3865
Pushed 0.4.8 tag into release branch. When docker hub rebuilds it should be solved.

[2017-04-16 11:39] #3865 closed

[2017-04-16 17:16] kevina commented on #3754
Removing my assignment.  @whyrusleeping decided to do the p.r.

[2017-04-17 06:04] MichaelMure opened #3866 "Keystore/encryption/ipfs usecase for a file-sharing application"
As asked by @whyrusleeping, here is my usecase for ipfs and in particular for the keystore/encryption feature.

I'm building a file sharing application presented as a social network. The main target is friend to friend sharing (think holiday pictures) with a control on who has access to the data by using encryption. The underlying goal is to reduce the need to use solution like Facebook, Dropbox,

[2017-04-17 06:14] whyrusleeping commented on #3866
I'll need some time to dissect this more thoroughly, but on a first readthrough sounds very interesting.
With regards to relaxing the online constraint, the open bazaar guys have been doing a bit of similar work (cc @cpacia)

As for tracking download progress, we recently added a --progress option to `ipfs pin add` that might help towards this end.

I'll try and get the keystore encryption apis wo

[2017-04-17 06:49] whyrusleeping commented on #3866
The first steps towards signed and encrypted ipfs objects will be deciding on the format. Now that we have ipld we can do better than the weird protobuf things i sketched in the original keystore spec

[2017-04-17 18:04] Kubuxu commented on #3861
IPNS system is up for major rewrite (introduction of Inter Planetary Record System), this would be a place where cache duration configuration would probably be implemented. Time of this rewrite isn't specified.

#132 was just a proposal how this feature could be implemented, it was implemented otherwise. Plain redirecting isn't great idea IMO as it will prevent the site from updating.

There is a

[2017-04-17 18:05] Kubuxu commented on #3860
Which ipfs version are you running?

[2017-04-17 18:06] Kubuxu commented on #3859
This isn't that easy as our key isn't valid CIDv0 object. We could go with CIDv1 and multikey if we had multikey.

[2017-04-17 18:07] Kubuxu commented on #3858
Actionable here:
 - update gx package
 - update and rename imports

[2017-04-17 18:08] Kubuxu commented on #3855
Can you take a look at daemon log. The command code might be crashing or something.

[2017-04-17 18:11] Kubuxu commented on #3852
Closing it as non-actionable right now, it also isn't much of an issues. It is just where the daemon was built. It is up to one building it to keep it out of there.

[2017-04-17 18:11] #3852 closed

[2017-04-17 18:12] Kubuxu commented on #3839
Yes `findprovs` can be used for that.

[2017-04-17 18:14] Kubuxu commented on #3839
It should be very easy to do, just making https://github.com/ipfs/go-ipfs/blob/master/core/commands/dht.go#L162 a CLI parameter and adding some tests for it.

[2017-04-17 18:16] Kubuxu commented on #3817
It might have been gateway or connection problem. Closing.

[2017-04-17 18:16] #3817 closed

[2017-04-17 18:19] Kubuxu commented on #3793
Closing as non-actionable regarding go-ipfs. Please move the discussion to discuss.ipfs.io.

[2017-04-17 18:19] #3793 closed

[2017-04-17 18:20] Kubuxu commented on #3779
@gediminaspetrikas have you tried doing above  ^^

[2017-04-17 18:22] Kubuxu commented on #3769
Closing it here, letting you handle it on your side.

[2017-04-17 18:22] #3769 closed

[2017-04-17 18:22] Kubuxu commented on #3767
@NeoTeo any update on this?

[2017-04-17 18:22] #3761 closed

[2017-04-17 20:13] NeoTeo commented on #3767
@Kubuxu Not from me. I got the impression @whyrusleeping was going to run some `add` experiments and that the fix, if any, would be in 0.4.9. It wasn't completely clear which ipfs version the `block get` calls seemed to work ok with.

[2017-04-18 05:57] whyrusleeping commented on #3767
Yeah, i still havent done that :/

[2017-04-18 06:23] wigy-opensource-developer commented on #3859
@lgierth As I understand you were thinking "Hey, the whole IPFS is about getting back from hash to a content that was hashed. Peer IDs and `ipfs key` IDs are just a hash of their public key. Why not resolve those IDs to the content that was hashed?"

And you are right. But the /ipfs namespace is hashing content differently than how the /pk namespace does. This /pk namespace is used internally by /

[2017-04-18 07:14] wigy-opensource-developer commented on #3861
@Kubuxu As I understand, the 307 HTTP status should keep the /ipns URI in the browser window, therefore bookmarking the mutable URI is still possible. Did I miss something?

[2017-04-18 08:54] Recmo commented on #3861
@wigy-opensource-developer None of the redirects keep the address bar. You can try here: https://jigsaw.w3.org/HTTP/300/307.html The only way to maintain address bar server-side is to proxy the content—like go-ipfs is currently doing. (Client side you can use an <iframe>.)

[2017-04-18 09:40] Recmo commented on #3861
@Kubuxu Thanks for the heads up on IPRS. Was not aware of this planned change, good to know! Looks like a solid improvement over IPNS.

Sorry, you lost me here. What is a downgrade attack and progress stop attack? I couldn't find a mention of them in the github repo's outside of this issue.

Thanks! This looks like an easy job, I might give it a try and submit a PR this week.

I don't fully unders

[2017-04-18 10:28] Kubuxu commented on #3861
The key here is that currently IPNS prefers no record over oldish or expired record. This is what was decided long time ago and possibility of changing it is a separate matter.

IPNS allows also for DNS resolution, `/ipns/ipfs.io` works like that. We unfortunately are not getting TTLs from those DNS requests but using just a plain ETag caching instead of always fetching assets should improve it gr

[2017-04-18 14:48] Recmo opened #3868 "ETag behaviour violates RFC7232 and related issues"
#### Version information:
[code]

#### Type: Bug

#### Severity: Medium

#### Description:

While working on #3861, I noticed a couple of major and minor issues with the current gateway ETag behaviour:

1. The ETag is incorrectly formatted: ETags need to be enclosed in double quotes. ([RFC7232](https://tools.ietf.org/html/rfc7232#section-2.3))
2. The ETag for a request like `/ipfs/QmYwAPJzv5CZsnA6

[2017-04-18 15:00] lgierth commented on #3868
Thanks, and agreed! :+1: Do you want to give it a try?

[2017-04-18 15:03] Kubuxu commented on #3868
:+1: for that

Same as @lgierth are you willing to handle it?

[2017-04-18 15:08] Recmo commented on #3868
I wrote the code before I wrote the issue. I'll format it into a PR now.

[2017-04-18 16:49] timthelion commented on #3855
The following commands will reproduce the bug:

[code]

Note: this works with any suitably large directory.

[2017-04-18 17:42] whyrusleeping commented on #3855
@timthelion thanks!
The issue here is that the process is erroring, and the error is likely getting overwritten or ignored due to how quickly messages are coming in

[2017-04-18 17:46] timthelion commented on #3855
I noticed that with smaller file trees, the permission denied error
shows correctly some of the time. And with very small trees, the error
shows correctly all of the time.

On 04/18/2017 07:42 PM, Jeromy Johnson wrote:

[2017-04-18 17:48] whyrusleeping commented on #3859
@wigy-opensource-developer We could still store the public keys in ipfs, if you extract the public key and add it as a block with sha256 hashing, it should all work out.

[code]

[2017-04-18 17:49] whyrusleeping commented on #3855
Ah, good data points there. I think that makes the issue pretty easy to track down now.

[2017-04-18 17:53] rcurrie commented on #3245
Tried transplanting ID and PrivateKey with ipfs version 0.4.8-dev and it seems to work just fine so closing.

[2017-04-18 17:53] #3245 closed

[2017-04-18 18:37] lgierth commented on #3613
@diasdavid @Kubuxu @whyrusleeping what do you think of this?

What I was thinking of is something like a `Addresses.Announce` array option. @diasdavid also brought up the inverse use case, excluding certain addresses from announcement (`Addresses.NoAnnounce`).

If `Addresses.Announce` is empty, we'll infer the addresses to announce as usual. If `Addresses.NoAnnounce` is non-empty, we'll exclude an

[2017-04-18 18:40] lgierth commented on #3613
The bootstrap nodes would announce their IP, and their dnsaddr.

[code]

[2017-04-18 18:50] whyrusleeping commented on #3613
This all looks good to me. :+1:

[2017-04-18 18:53] diasdavid commented on #3613
Thanks @lgierth, this pretty much covers my concerns.

While we are at it, can we piggy back a old proposed change of putting libp2p things under libp2p key?

[code]

[2017-04-18 18:55] whyrusleeping commented on #3613
@diasdavid We *can* do that, but it doesnt need to be coupled to the change @lgierth is proposing. This change doesnt require a migration, renaming those keys does.

That said, we have needed a config file migration to update defaults for a good while

[2017-04-18 19:44] lgierth commented on #3613
Yeah I can take care of it when patching the new bootstrap addrs into the config.

[2017-04-18 23:15] lgierth commented on #3613
I have a hunch this is gonna get ugly unless I refactor things a bit. Listened-on addresses and their announcement is currently pretty strongly coupled. Maybe it's worth introducing a broker-like object which would control the logic around our node's addresses.

[2017-04-19 03:40] LRonHubs opened #3871 "Is it possible to see which IPs are hosting a particular IPFS address?"
Sorry if this is a duplicate post. Is there a function to see which IP addresses are hosting a particular file?

[2017-04-19 09:57] Kubuxu commented on #3871
The go-ipfs issues tracker is meant for directly actionable items related to go-ipfs.

Checkout ipfs/faq for answer and if you don't find it there as it on https://discuss.ipfs.io .

[2017-04-19 09:57] #3871 closed

[2017-04-20 00:12] tjgillies opened #3872 "ipfs dns command acting odd"
#### Version information:
go-ipfs version: 0.4.8-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

#### Type:
Bug

#### Severity:
medium
#### Description:
[code]

Resolves fine when I have an /ipfs/ record. Complains when I have an /ipns/ record. Everything else works fine

[2017-04-20 13:57] cpacia commented on #3866
What's the plan public sharing? Pubsub with the 'followers' as subscribers?

We'd like to have similar functionality but I'm not sure how well it will work if someone follows a ton of people.

There's also an issue if they come back online from an absence then we want to load the objects that were shared while they were away (easy to do if you only follow a couple nodes but won't work well with la

[2017-04-20 14:27] MichaelMure commented on #3866
Well, that's the more "long term and not really figured out" part.

One of the solution may be to use https://github.com/orbitdb/orbit-db, especially if https://github.com/orbitdb/orbit-db/issues/57 is solved ( @whyrusleeping this needs the keystore/crypto too ;-) ).

This way, each user could have a namespaced space in this database to publish sharing metadata. Data would have a longer lifetime a

[2017-04-20 17:24] whyrusleeping commented on #3866
Also cc @ianopolous, he's doing similar things with peergos

[2017-04-20 18:12] #3868 closed

[2017-04-20 18:20] Kubuxu commented on #3868
@Recmo if something is not done from this issues, please extract it into separate one.

[2017-04-20 19:54] ianopolous commented on #3866
Yep you can check out what we're doing here:
https://github.com/Peergos/Peergos
or
https://peergos.gitlab.io/
and try it out here:
https://demo.peergos.net/

In summary, we are a decentralised file store (built on IPFS) with private sharing between users and we try to hide not only the file data and metadata, but also the social graph (You don't even see your friends' friends by default). Access i

[2017-04-21 01:16] mycripto11116 commented on #875
Why do i get "ERROR :merkledag node was not a directory or shard " while tryig to add a file to ipfs ? Can anyone help please??

[2017-04-21 01:29] whyrusleeping commented on #875
@mycripto11116 Could you open a new issue and describe what steps you take to reproduce the issue?

[2017-04-21 01:50] mycripto11116 commented on #875
@jeromy thanks I will do that. Just for a quick reply ...I am new to
experimenting with IPFS. While trying to add a 370k+ jpg file it does shows
the files hash but if I try to view the subblocks with IPFS ls <hash> .. it
shows the error mesg Error : merkledag node was not a directory or shard .

Regards
Jay

[2017-04-21 02:23] lgierth commented on #875
Blocks are not files, for blocks you'll have to use `ipfs block get <hash>`

[2017-04-23 11:47] kikoncuo opened #3874 "ipfs pin ls gets slower as the pinned objects increase"
#### Version information:
go-ipfs version: 0.4.8-
Repo version: 5
System version: amd64/windows
Golang version: go1.8

#### Type: bug

#### Severity: medium

#### Description:
ipfs pin ls is really fast when the repo size is small, but the bigger it gets the slower it is, this affects other operations, such as calling the gc after unpinning an object. My cpu usage during this process is not very h

[2017-04-24 00:59] whyrusleeping commented on #3874
@kikoncuo This is a good thing to bring up. Its a known problem, though youre the first to open an issue about it, This puts it clearly on our TODO list.

It definitely *should* be faster, so lets try and make it so.

[2017-04-24 10:32] kikoncuo commented on #3860
@nezzard What tool are you using in your screenshot? I've seen it many times in the forums but I can't find it anywhere.

[2017-04-24 10:34] nezzard commented on #3860
@kikoncuo it's a tool from cloud service like dropbox
https://disk.yandex.ua/

[2017-04-24 10:35] nezzard commented on #3860
@Kubuxu The last at the time

[2017-04-24 12:08] kikoncuo commented on #3860
@nezzard I meant the tool which you took the screenshot from, my bad

[2017-04-24 16:58] dgrisham opened #3875 "bug: Bitswap not recording 'Bytes sent'"
#### Version information:

go-ipfs version: 0.4.9-dev-9dc5883a
Repo version: 5
System version: amd64/linux
Golang version: go1.8.1

This bug was also observed in version 0.4.8-dev.

#### Type: Bug

#### Severity: Medium

#### Description:

When sending blocks to another user, the number of bytes sent to that user is not recorded in the corresponding Bitswap ledger (the receiving peer *does* record

[2017-04-24 18:27] Kubuxu commented on #3872
Should be resolved by: https://github.com/ipfs/go-ipfs/pull/3873

[2017-04-24 18:27] #3872 closed

[2017-04-24 21:34] dgrisham commented on #3875
It looks like the function `MessageSent`, which updates the ledger just like `MessageReceived` when a message is received, wasn't actually called anywhere. I was able to fix it by adding a call to `MessageSent` where it seemed to make the most sense and have verified that the update works as expected, I'm about to submit a pull request with the change. Let me know if there are any other checks or

[2017-04-24 21:35] whyrusleeping commented on #3875
@dgrisham make sure to add a test or two for this in exchange/bitswap/bitswap_test.go :)

[2017-04-24 21:38] dgrisham commented on #3875
@whyrusleeping Gotcha, will do :)

[2017-04-25 00:38] kevina commented on #3836
@hsanjuan any progress on this?

[2017-04-25 11:21] hsanjuan commented on #3836
@kevina I'm not working on this. I was waiting to hear if this sounded reasonable?

[2017-04-25 17:06] btc commented on #3429
Is this the primary challenge?

(Writing from an uninformed perspective and curious about the scalability challenges the system faces.)

[2017-04-25 17:08] btc commented on #3786
Is the duplicate blocks problem the primary issue? Are there other considerations to weigh?

(Writing from an uninformed perspective and curious about the scalability challenges.)

[2017-04-25 18:02] whyrusleeping commented on #3786
@btc It depends on the scenario, There are really two main scalability issues that i'm looking to address here. The first is duplicate blocks, which are a pretty bad problem when you are fetching content that multiple peers in the network have. The second problem is that of broadcasting every wantlist update to every connected peer, that bit gets pretty expensive when fetching large items, even fr

[2017-04-25 18:03] whyrusleeping commented on #3429
@btc Yeah, from the content routing (DHT) perspective, managing providers is the biggest issue in my opinion.

[2017-04-25 18:42] nezzard commented on #3860
@Kubuxu this tool inside the program **yandex disk**

[2017-04-25 22:11] kevina commented on #3836
@whyrusleeping thought it was reasonable when we talked.  I am going to try and implement something this week.

[2017-04-26 01:16] kevina commented on #3855
Okay I am on it.  I will see if I can track down what is going on and fix it in the next day or so.

[2017-04-26 19:25] #3875 closed

[2017-04-26 20:54] keremgocen commented on #3807
Hey @lgierth, could you please give a bit more detail for the expected behavior of these 2 items?

- It seems straightforward to change the default value of `ipfs key list` like [this](https://github.com/keremgocen/go-ipfs/commit/aa12416db52cb90b3a9c3e81195d8705650bf9fa#diff-97187cb5f6f28de4954c862a0f2d1308L158) but do you want to preserve the previous behavior by providing another option?

- `ipf

[2017-04-26 21:12] Kubuxu commented on #3807
@lgierth @keremgocen I think the current behaviour of `ipfs key list` should stay. It is already established API so we shouldn't change it. We might want to create list of API changes we want to do when we are able to provider two versions of API or we decide to make a non-compatible change to the API.

@keremgocen about the `ipfs name publish --key` currently you are able to use it with key name.

[2017-04-26 21:51] keremgocen commented on #3807
Then I shall skip the "-l arg should be default true" part.

@Kubuxu what would be a good way to lookup peerIDs? I see some potential ways of doing so (like this one)[https://github.com/ipfs/go-ipfs/blob/master/core/commands/id.go#L100] but not sure which one would be the best option with my current exposure level to the codebase.

[2017-04-26 21:58] Kubuxu commented on #3807
It should use keystore, as the `--key` parameters currently uses keyname (from keystore) as parameter. You can't use routing as you need private key. For now the simplest way would be to list all keys (in keystore), load them, check for matching peerID. If found use that key.

[2017-04-26 22:05] Kubuxu commented on #3807
So the actions here would be:
* Enable `ipfs name --key=Qm...AAA Qm...BBB` to work
* Write sharness tests for it

[2017-04-27 01:54] #3699 closed

[2017-04-27 15:28] kenshyx opened #3881 "ipfs config not working"
#### Version information:
[code]

#### Type: Bug
#### Severity: medium
#### Description:
I've noticed a weird behaviour of `ipfs config`. If the node running this command does not have "golang" installed it throws an error`Error: api not running` [test](https://travis-ci.org/AkashaProject/ipfs-connector/builds/226425114#L3127). After I installed golang everything worked as expected [test](https://

[2017-04-27 18:42] cpacia commented on #3866
@ianopolous yeah it uses OpenBazaar/go-onion-transport and if you look at openbazaard.go in the openbazaar-go repo you should be able to get an idea how to wire it in.

If not let me know.

[2017-04-27 18:47] cpacia commented on #3860
So let me tell you some tweaks I've made which has helped quite a bit.
1) I made the dht query size param accessible from the config. Setting it to like 5 or 6 speeds it up quite a bit.

2) I also added some caching into the resolve such that if it can't find a record on the network (such as it expiring) it loads it from local cache. Obviously each record that is fetched updates the cache. This is

[2017-04-27 23:07] whyrusleeping commented on #3881
the 'api not running' error comes from the node being improperly shut down and the `$IPFS_PATH/api` file still existing.

I spun up a fresh ubuntu docker image (without go installed), copied an ipfs binary into it, and everything seems to work properly:
[code]

[2017-04-28 01:12] SchroSct opened #3883 "IPFS needs an acd_cli option"
#### Version information: latest

#### Type: Feature Request

#### Severity: Medium

#### Description: IPFS should have an option to use acd_cli as a backend for storage for the repo.
This would allow for nodes to act as less efficient but longer term 'unlimited' storage repo.

[2017-04-28 02:09] whyrusleeping commented on #3883
This means creating a datastore implementation that can use the acd_cli to store blocks. To start with that, someone would need acd API documentation, and then would need to implement this interface: https://github.com/ipfs/go-datastore/blob/master/datastore.go

[2017-04-28 02:11] whyrusleeping commented on #3860
We can probably add flags to the ipfs name resolve api that allow selection (per resolve) of the query size parameter, and also to say "just give me whatever value you have cached".

Both of those would be simple enough to implement without actually having to change too much

[2017-04-28 02:13] whyrusleeping commented on #3860
Another thing we could do it have a command that returns ipns results as they come in, and then when enough comes in to make a decision, says "This is the best one". This way you could start working with the first one you receive, then when the right one comes in, switch to using that

[2017-04-28 05:16] kevina commented on #3855
So the problem is on the client side in MultiFileReader.Read.  As far as I can tell it is doing the correct thing and returning an error.  Here is a stack dump by using debug.PrintStack() right before it returns an error
[code]
Notice how there is only one line in the trace that is not standard go code, so these could be a problem with the go libraries themself.

I need to get to bed but will look

[2017-04-28 06:14] MichaelMure commented on #3881
Shouldn't go-ipfs cleanup the api file and try again in this case ?

[2017-04-28 06:50] whyrusleeping commented on #3881
@MichaelMure Thats a difficult one... I often manually write the api file to point to a remote server (so i don't have to pass a --api flag). Having that file get deleted if my internet goes down would be pretty annoying.

I guess a workaround here would be to have two files, `api` and another one whose existence denotes manual human intervention. The `api` file should get cleaned up as you sugges

[2017-04-28 07:39] MichaelMure commented on #3881
I agree, it sounds like two different use case to me. Otherwise, each apps that embed go-ipfs have to cleanup the api file in case of a crash or if the daemon got killed with the app.

[2017-04-28 08:04] Kubuxu commented on #3881
IPFS daemon cleans it up. In most cases. In some cases (when it is killed forcibly or crashes) it doesn't.

[2017-04-28 16:57] kenshyx commented on #3881
Thanks for clarifying :)

[2017-04-28 16:57] #3881 closed

[2017-04-28 18:34] whyrusleeping commented on #3855
I don't think its a problem with go, When that error gets returned, who does it get returned to? The stdlib? It should pass the error on to the http client, which i think is in commands/http/client.go

[2017-04-28 19:18] kevina commented on #3855
I pushed some code with some debug println in the branch [kevina/3855-debug](https://github.com/ipfs/go-ipfs/tree/kevina/3855-debug).

[2017-04-29 12:11] entr0p1 opened #3885 "ipfs add hangs and stalls with large folders"
#### Version information:
go-ipfs version: 0.4.8-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

#### Type:
Bug

#### Severity:
High

#### Description:
When adding files to the repository, it gets to a seemingly arbitrary point (around 8-10GB?) in to the file transfer, then the progress bar disappears and the job stalls. I usually pipe the output into a text file to get a file

[2017-04-29 12:11] SchroSct commented on #3883
https://github.com/yadayada/acd_cli/tree/master/acdcli/api
does this help at all?
I like the idea of having the amazon api directly in with go-ipfs, but maybe it's easier for the time being to simply have go-ipfs make calls to the acd_cli that may work better than the 'acd_cli mount' which seems to create issues with uploads and deletions.

[2017-04-29 12:22] Kubuxu commented on #3885
Try enabling sharding `ipfs config --json Experimental.ShardingEnabled true` which allows for adding big directories.

[2017-04-29 12:25] Kubuxu commented on #3885
Also see: https://github.com/ipfs/notes/issues/212

[2017-04-29 13:49] dojobel commented on #3885
Update: It failed at 99.6%

Thanks for the super fast response @Kubuxu, I will give that a crack now and let you know the results. Fingers crossed

[2017-04-29 14:23] dojobel commented on #3885
Got all the way through and failed with this error:
[code]

Tried a second time and it made it 1% in and threw the same error. I've restarted the IPFS daemon and get the same result still.

Stopped the daemon and it seems to be running now, will report back soon.

[2017-04-29 14:55] dojobel commented on #3885
It bombed out again, this time saying "Killed". Trying again.

I've noted since turning on the sharding it seems to really use the RAM; to the point where it's filling swap as well. Unsure if that's related but thought it might be worth mentioning. Will post the results of the second attempt.

[2017-04-29 15:05] Kubuxu commented on #3885
Interesting observation regarding sharding.

cc @whyrusleeping

[2017-04-29 15:07] dojobel commented on #3885
Yeah, no good I'm afraid

[code]

It seems that it fills the RAM, then swap (other processes on the system have crashed I noticed) and then finally bombs out itself.

Let me know if you guys need any info from me, I'll do my best to give logs and such

[2017-04-29 15:09] dojobel commented on #3885
![screenshot 2017-04-30 01 08 01](https://cloud.githubusercontent.com/assets/1475255/25556533/8e8b4c7e-2d41-11e7-8bcd-36b250c8874d.png)

Here's some visual data on the memory usage and how CPU looks around the time it peaks.

[2017-04-29 16:36] dojobel opened #3886 "ipfs cat /ipfs/<hash>: unrecognised node type"
#### Version information:
go-ipfs version: 0.4.8-
Repo version: 5
System version: amd64/linux
Golang version: go1.8

#### Type:
Bug

#### Severity:
Medium
#### Description:
I've added a file and folder to the IPFS repository and am getting this error when browsing to them using gateway.ipfs.io:

ipfs cat /ipfs/<HASH>: unrecognized node type

The two "root" hashes (don't know the term you guys use

[2017-04-29 17:45] whyrusleeping commented on #3885
Hrm... I'll take a look at this after breakfast...

[2017-04-29 19:14] whyrusleeping opened #3887 "Mismatched versions of daemon and client cause cast error"
I would really like to find out why you get a 'cast error' when using different versions of the daemon and client code. Especially when the output types for a command arent even changed... It seems i get an http.httpResponseReader type instead of a channel for ipfs add.

[2017-04-29 19:20] whyrusleeping commented on #3885
@dojobel If you don't mind, could you try running this branch: https://github.com/ipfs/go-ipfs/pull/3888 ?
I set it to flush the cached directories

[2017-04-29 19:45] whyrusleeping commented on #3886
It would appear that the gateways cant handle listing sharded directories. I'll fix this

[2017-04-29 21:25] #3886 closed

[2017-04-30 02:52] dojobel commented on #3885
Not at all, I've had a go (heh) but I must be noobing something up..

[code]

I've stashed my original executable with ```ipfs-update stash``` and what I've done to get the branch is:
[code]

I've tried a ```make install``` straight in that folder and it told me it needs to run from under the ```$GOPATH```.  I moved the cloned folder into /opt/go/src/github.com/go-ipfs and end up receiving the abo

[2017-04-30 03:12] flyingzumwalt commented on #1972
Please implement this. It's really important for gateways to be able to whitelist content.

Examples:
* I want to mirror wikipedia, but I'm not interested in being a general ipfs gateway for everyone's content
* I'm a university library that wants to be an ipfs gateway for any ipfs content that's in our collection but we explicitly don't want to serve anything else

In both cases, a blacklist does

[2017-04-30 05:08] dojobel commented on #3886
@whyrusleeping just tested this but I'm still getting the same result.. Do I need to re-add the files or do anything from my end? Is there a delay for the merge to take place on the gateways?

[2017-04-30 06:29] dojobel commented on #3885
Yep, it was me being a noob indeed - had to move the folder from "/opt/go/src/github.com/go-ipfs" to "/opt/go/src/github.com/ipfs/go-ipfs".

Have gotten it to ```make install``` successfully. I'm running an ```ipfs add``` now, will report back when it completes and let you know if that fix worked.

[2017-04-30 07:04] dojobel commented on #3885
It's stalled at 2.98%, 764.11MB / 24.91GB done.

The IPFS daemon is using a lot of memory since the import and is also using a fair bit of CPU (probably normal).

[code]
![capture](https://cloud.githubusercontent.com/assets/1475255/25562334/df5278f0-2dc6-11e7-8813-cf248c2d800a.PNG)

I've had to restart it as it was on the cusp of using all the RAM and crashing other processes. It's leveled out aft

[2017-04-30 08:20] dojobel commented on #3885
![image](https://cloud.githubusercontent.com/assets/1475255/25562744/873a3fa8-2dd1-11e7-9775-a6e4ab6fc9b2.png)
Doesn't look much better, it's currently 41.45% (10.33GB / 24.91GB) into the ```ipfs add```. Going to have to cancel again to protect other processes I'm afraid

[2017-04-30 09:21] Kubuxu commented on #1972
@flyingzumwalt this is not content filter but connection filter.

[2017-04-30 09:25] Kubuxu commented on #3886
Yeah, global gateways have to be deployed for the change to be observed on `ipfs.io`.

[2017-05-01 22:16] jefft0 commented on #3763
BTW, I tried ipfs-too-many-fds.tar.gz with the latest Ubuntu 17.04 (and the latest go-ipfs). Same result, "too many open files".

[2017-05-01 23:15] lgierth commented on #3807
SGTM :+1:

[2017-05-02 00:00] kevina commented on #3786
@whyrusleeping the idea sound solid, did you implement: "split up requests amongst peers"?

[2017-05-02 00:53] whyrusleeping commented on #3786
@kevina no, not in my live PR. That bits coming next

[2017-05-02 00:59] whyrusleeping opened #3893 "Swarm connect issue"
Found a weird bug.
I can swarm connect to a remote peer, but then no communications between us work:
[code]

[2017-05-02 03:57] torresashjian opened #3894 "Small typo in log warning message (ipfs add <path>)"
#### Version information:
go-ipfs version: 0.4.9-dev-e5529cd
Repo version: 5
System version: amd64/darwin
Golang version: go1.8.1

#### Type:
Bug

#### Severity:
Very Low - Just a small typo

#### Description:
Just a small typo in a warning log message when file size cannot be determined performing
(ipfs add <path>).
Typo: cannnot should be cannot

[2017-05-02 06:59] whyrusleeping commented on #3243
@kevina this is done, yeah?

[2017-05-02 06:59] whyrusleeping commented on #2783
If any contributor is looking for something easy to get started with this, one would be great

[2017-05-02 07:05] kevina commented on #3243
@whyrusleeping Depends on your definition of done.  The merged p.r., https://github.com/ipfs/go-ipfs/pull/3743, only adds CidV1 support to the add command, other commands might need it and I also think it should be a global option not one local to add.

[2017-05-02 08:12] JustinDrake opened #3896 "Changes for Ed25519 public key IPFS identities"
Below are the changes to support Ed25519 public key identity types. It was taken from https://github.com/ipfs/notes/issues/241 incorporating comments from @whyrusleeping and @Kubuxu.

- multiformats/multicodec (@JustinDrake)
  - [X] ~~table.csv: add Ed25519 codec (PR https://github.com/multiformats/multicodec/pull/46)~~
  - [X] table.csv: add identity multihash (PR https://github.com/multiformats/

[2017-05-02 08:52] mitar commented on #3789
One more example, after some time.

[code]

[code]

[code]

117,563,843 vs 5,447,712,568. ;-)

[2017-05-02 16:46] kalmi commented on #3451
I would like to push this forward (willing to contribute code) as having optional mtime metadata could enable novel use cases such as:
- faster, delta _ipfs add_ of a mtime-enabled directory structure that was _added_ in the past
- faster, delta _ipfs get_ of  a mtime-enabled directory structure that was _getted_ in the past to the same file system location
- file synchronization with rsync-like p

[2017-05-02 17:02] whyrusleeping commented on #3789
@mitar does running an ipfs repo gc help?

On Tue, May 2, 2017, 01:52 Mitar <notifications@github.com> wrote:

[2017-05-02 18:22] whyrusleeping commented on #3486
Has this been done? go-ipfs is using the latest version of go-log (1.2.0) but i'm not sure if that actually resolves this issue

[2017-05-02 18:54] kakra commented on #3320
I'm having issues, too. Maybe ipfs should take two connection pools and migrate peer connections from a bad quality pool to a good quality pool by applying some heuristics to the peers. Peers with higher delays, lower bandwidth and short lives would live in the "bad pool" and easily replaced by new peers if connection limits are hit. Better peers would migrate to the "good pool" and only be replac

[2017-05-02 19:08] mitar commented on #3789
Before:

[code]

After:

[code]

After gc is 340,919,726, much better, but still 3x. But I am OK with this.

So this is still just an issue of automatic gc not running until 10 GB. OK.

[2017-05-03 01:03] kevina commented on #3486
It doesn't look like it.  I looked at the code currently used by go-log "gx/ipfs/QmQvJiADDe7JR4m968MwXobTCCzUqQkP87aRHe29MEBGHV" and it does not include the fix.

[2017-05-03 03:30] keremgocen commented on #3807
fca98aea9d5a5d23240f9fc2e9895cfead74ab21 should conclude #3882, might need to rebase though

[2017-05-03 04:10] whyrusleeping commented on #3789
@mitar yeah, you could set up a cron job to run a gc every so often until we have better gc automation

[2017-05-03 10:05] mib-kd743naq commented on #3451
@kalmi thank you for pushing this further! Really glad someone else showed interest, as I myself got completely swamped at work and likely won't be able to get back to IPFS goodness for another 2 months :(

On the subject of where the metadata should live: I think I was misunderstood by pretty much everyone in this thread. I am still convinced that the mtime and other *content-unaffecting* metadat

[2017-05-03 10:30] kalmi commented on #3451
@mib-kd743naq, I totally get what you are saying, and yes, the performance implications also seem scary to me, but I also get the others who wish to keep PBLink lean and continue the existing path, the Metadata node. I am bound to accept that it can eventually be solved efficiently with bitswap selectors if @jbenet says so.

[2017-05-03 10:33] kalmi commented on #3451
I suggest adding a --save-mtime boolean flag to _ipfs add_ that would wrap all unixfs nodes in Metadata containing ModTime.
I suggest adding a --restore-mtime boolean flag to _ipfs get_ that woud set the mtime on the created files/directories/links based on the content of the Metadata wrappers.

The default behaviour wouldn't change one bit in either case.

After we have that, I will also suggest

[2017-05-03 13:24] dojobel commented on #3885
Hi guys,

Just a quick update - I managed to get these problem folders to import by turning off sharding again. Unsure if the patch you did had anything to do with it, but something is definitely improved. Will be trying with some much larger folders over the coming days/weeks.

[2017-05-03 16:56] kalmi commented on #3451
Moved timespec message format definition discussion to: https://github.com/ipfs/notes/issues/60

[2017-05-03 17:28] mib-kd743naq commented on #3451
Actually this was never explained. There was an unambiguous "we are not modifying UnixFS anymore, all new work is going into IPLD", but there was no reasoning nor timeline behind this.

I follow and am excited about many new developments: the OpenBazaar integration work, the Peergos stuff, and many other neat things build on top of IPFS. But as @mguentner [said back in November](https://github.com

[2017-05-04 19:26] jbenet commented on #3896
- multiformats/multicodec (@JustinDrake, @jackkleeman)
  - [ ] table.csv: add Ed25519 codec
- multiformats/go-multicodec-packed (@JustinDrake, @jackkleeman)
  - [ ] multicodec.go: add Ed25519 codec
- multiformats/go-multihash (@JustinDrake, @jackkleeman)
  - [ ] multihash.go: add support for the identity hash
- ipfs/go-ipfs-util (@whyrusleeping)
  - [ ] util.go: Remove dependence of `Hash` functio

[2017-05-04 19:26] jbenet commented on #3896
I made the allocations above ^ lmk if that makes sense or not, or edit as makes sense.

[2017-05-05 14:22] JustinDrake commented on #3896
The allocations make sense to me 👍  I've gone ahead and submitted three pull requests for the multiformats. Once this is merged in it will make sense to implement the rest.

[2017-05-05 17:18] whyrusleeping opened #3898 "ipfs name resolve helptext should mention publishing"
Its unclear from the helptext of this command that you cannot resolve a name (your own included) before publishing to that name. We should mention this

[2017-05-05 17:21] whyrusleeping opened #3899 "ipfs name resolve"
#### Version information:

#### Type:

#### Severity:

#### Description:

[2017-05-05 17:21] whyrusleeping opened #3900 "ipfs name resolve -k"
#### Version information:

#### Type:

#### Severity:

#### Description:

[2017-05-05 19:58] dustin opened #3902 "/ipfs/ and /ipns/ links don't work from a dnslink hosted web space"
#### Version information:
go-ipfs version: 0.4.9-rc1-
Repo version: 5
System version: amd64/darwin
Golang version: go1.8

#### Type: Bug

#### Severity: Medium

#### Description:

When accessing IPFS via a dnslink-serviced host (e.g. ipfs.sallings.org), `/ipfs/` and `/ipns/` links don't work.

e.g.,:

http://ipfs.sallings.org/ipns/QmP8uqUuowHdixyFASba87ABgVxfoKGj8NyrTH2VLLTFkZ

yields:

    ipfs r

[2017-05-05 20:07] whyrusleeping opened #3903 "Ipfs daemon doesnt shutdown quickly after ctrl+c"
Something is preventing it from closing quickly. I think its probably waiting on something network related, it shouldnt be.

To reproduce:
- start a daemon
- do a few things to get connections started up
- kill the daemon with a single ctrl+c
- notice how long it takes to actually exit

[2017-05-05 20:10] whyrusleeping opened #3904 "need option to fetch and not provide immediately"
i want to be able to run `ipfs pin add` but not have my node automatically send out provider messages. Purely a perf/resource consumption thing

[2017-05-06 03:31] Netherdrake opened #3905 "pin_add hangs indefinitely"
### Version:
[code]
*I also have the same issue on OSX, 0.4.8.*

#### Severity:
**Medium/Low**

#### Description:

When I try pinning content that has no nodes that have that content, ipfs will just hang forever.
[code]

[code]

[2017-05-06 07:06] Kubuxu commented on #3905
That is because before we pin we execute fetch on the graph so it is local. Only fully local content can currently be pinned. You can add timeout to ipfs command so it times out.

`ipfs --timeout=25m pin add QmPVGeoYekRKyb2iZ3gLa6h6ekEivBVeJZpayQfQrB1wL3`

[2017-05-06 09:32] Netherdrake commented on #3905
What I'd really like ideally is an async flag, so I can just do:
[code]

And then the API returns instantly, and ipfs daemon figures it out at its own pace. This would be very useful if a resource is temporarily unavailable, and ipfs can keep trying to fetch it over time.

@Kubuxu Do you happen to know if its possible to pass custom flags with Python `ipfsapi` wrapper?
Perhaps something like:
[cod

[2017-05-06 14:23] dojobel commented on #3885
Okay so I've managed to import things ranging between 20-40GB comfortably. It is a little slow, but I suspect that's just the nature of how IPFS works (dedupe has never been fast in my experience but that's not why you use it)

I have had to actually stop the IPFS daemon in order to get an ```ipfs add``` to actually work though, I'm unsure if that's due to turning sharding on and off or if somethi

[2017-05-08 01:28] whyrusleeping commented on #3243
@kevina fair enough, lets keep this one open.

[2017-05-08 01:32] whyrusleeping commented on #1952
For anyone who wants to write the docs for this, The way to check the latest version of ipfs  *with* ipfs is:
[code]
Then, to view available builds for a version:
[code]
Then, to download a given build of a version:
[code]

[2017-05-08 03:20] whyrusleeping commented on #2934
Update: We set up dns caching on the ipfs.io gateways, things are a bit faster. Given go's current APIs we cant easily get dns ttls back from a resolve call, so doing caching inside go-ipfs isnt yet feasible.

[2017-05-08 03:25] whyrusleeping commented on #3808
This one is pretty high priority, can someone help out and work on it?

[2017-05-08 03:27] whyrusleeping commented on #3053
Since 0.4.8, we actually dropped a little bit:
https://codecov.io/gh/ipfs/go-ipfs/compare/8e7484ed794d1aecb3e773e9003ae64c7b78bb87...a6e96e6c99c4240427af6c3bd9a9ca1b4cea99b4

:/

[2017-05-08 05:13] whyrusleeping commented on #2185
The dep is for sure in master now. Lets get this into 0.4.10 :)

[2017-05-08 05:13] whyrusleeping commented on #3780
@Kubuxu are those changes you made merged in?

[2017-05-08 05:14] whyrusleeping commented on #3754
PR is up, will likely merge in 0.4.10