[2018-08-30 22:36] djdv commented on #5221
I should mention that in working with pins, I've also come to the pattern of maintaining my own cache, to avoid delay on large nodes, even when only listing recursive pins,

In my specific case, I'm interested in both the listing being more performant, but also having some means of notification from the node. Like an event that I can subscribe to, which signals when the pinset has changed.
This wo

[2018-08-30 22:41] postables commented on #5221
Yes, absolutely. i've currently begun moving to a model where the *only* time I need to talk to my IPFS node to list anything is for crucial operations. Otherwise, everything else should be reading from my cache/database.

[2018-08-30 22:50] Stebalien commented on #5411
So, the `192.168.x.x:50119` is likely due to https://github.com/ipfs/go-ipfs/issues/5387. A fix *is* in the pipeline, it's just queued up with some other fixes.

Note: the `192.168.x.x:4001` is not a bug.

(closing as a duplicate)

[2018-08-30 23:02] leerspace commented on #4687
Sorry if it's implied in the first post, but I think this happens when trying to diff objects that were created with `--raw-leaves`. I'm guessing `ipfs object diff` doesn't have support for raw leaves.

[2018-08-31 00:17] cannium commented on #5411
I might miss something important. The network is NATed, the public address is NOT on my computer, so `/ip4/xx.xx.xx.xx/tcp/4001/ipfs/QmXXXXXX` does not exist.

[2018-08-31 00:35] schomatis commented on #4687
Yes, exactly:

https://github.com/ipfs/go-ipfs/blob/9a21a8cb1d2f1cda815e97502ba231731ed0785d/dagutils/diff.go#L135-L143

[2018-08-31 01:25] Stebalien commented on #5411
If it's NATed, you may have multiple addresses:

1. You'll *always* have the internal "private" address: `/ip4/192.168.1.12/tcp/4001/ipfs/QmXXX`.
2. You *may* also have an external, "public" address: `/ip4/64.12.42.111/tcp/5123/ipfs/QmXXX` (where `64.12.42.111` is your router's external IP address and 5123 is the port the router has assigned to IPFS; this may *also* just be 4001, depending on your

[2018-08-31 02:26] cannium commented on #5411
As I mentioned in my first post, I see 4 addresses with public IPs. Two of them are created because of NAT, the other two are the so-called "OwnObservedAddrs". They have right port numbers but wrong IP addresses, so I'm wondering if this is intended or a bug.

[2018-08-31 02:35] Stebalien commented on #5411
The wrong IPs? I see public `xxx.xxx.xxx.xxx` and private `192.168.xxx.xxx`. Can you the actual output of `ipfs id` and point out which IPs are real/fake/public/private? (you can mask them out or mung them as long as we can tell private/public etc.)

[2018-08-31 02:41] Stebalien commented on #5411
Note: You are correct, we *also* record addresses other peers see us using. One of those random ports is probably the bug I mentioned but the others are likely ports other peers have recently observed us using.

Basically, we *locally* pick a consistent source port (using reuseport) for all outbound connections. When this happens, some NATs (I've been told), will map this to a consistent external

[2018-08-31 02:53] cannium commented on #5411
I should have posted the original logs earlier :)

[code]
And `ipfs daemon --debug` NAT logs:
[code]

[2018-08-31 06:32] cannium opened #5412 "OOM in a 2G box"
#### Version information:
go-ipfs version: 0.4.18-dev-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.1

#### Type:

Bug
#### Description:

I reserved a droplet(VPS in digitalocean) with 1 core, 2G memory in digitalocean, and solely run IPFS. After about 12 hours, OOM occured. The commands I used to build and run IPFS are:
[code]
kernel OOM log:
[code]
monitor graph:
<img width

[2018-08-31 08:18] kjzz commented on #4986
Hello @schomatis ,i want fix the 2nd problem.
# Now wrap `stdin` inside a directory (`-w`).
echo "IPFS" | ipfs add -w
added QmdFyxZXsFiP4csgfM5uPu99AvFiKH62CSPDw5TP92nr7w QmdFyxZXsFiP4csgfM5uPu99AvFiKH62CSPDw5TP92nr7w
added QmTv9PEwAsEJefjVQwo1gCtfemcTTaDFfg9Wwq7eVs7Yxj

In my PR #5399 ，we can use command like this:
cat ./test1.txt | ../ipfs add -w --name myfile.txt
added Qmf3xdREx34pewgYZjyvHQsrZ

[2018-08-31 11:52] keks commented on #4986
@schomatis

I just looked into this and it looks like I was wrong and there is no straightforward way to do that, sorry. We could add a helper the `"cmdkit/files"` package - I'm just a bit weary that at some point we might have a lot of helpers in there.

[2018-08-31 12:59] schomatis commented on #4986
Hey @kjzz, I think we're still mixing two different issues. The [second problem](https://github.com/ipfs/go-ipfs/issues/4986#issuecomment-415398109) is about naming the anonymous *directory* included by the flag `-w`, but you seem to be interested in naming content from `stdin`, that's the first problem, and it's independent from the first one, it will happen whether or not you include the `-w` fl

[2018-08-31 13:13] kjzz commented on #4986
hello @schomatis , thanks for explain.My pr #5399 aimed at solving the second problem.And i think it is the simplest way to solve problem.if we add many files with `--name`,it will return error.And i think --name ,should only support one file add.WDYT?

[2018-08-31 13:50] haggins opened #5413 ""ERROR metrics-pr: Registering prometheus collector" when using --only-hash=true"
#### Version information:
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

#### Type:
Bug

#### Description:
When you add a file with the `--only-hash=true` option, you get the following two errors at the IPFS daemon terminal (independent from your daemon being `--offline` or not):
[code]
[code]
**The error doesn't appear if you omit the `--only-hash=t

[2018-08-31 13:53] pjz commented on #5221
While those are great workarounds, they're not really feasible for a general monitoring solution.  I guess they'll just have to wait until the IPFS server gets it together.  I think it's clear that whatever datastructure it's using needs to be re-evaluated or supplemented to make this kind of monitoring/usage not cause it to eat itself.

[2018-08-31 14:07] schomatis commented on #4986
Agreed.

The second problem is about the *directory* name, but you're PR is adding a name to the *file*, e.g.,

[code]

So, forgetting about the 1st/2nd terminology that may be confusing, there are two things without a name:

1. The file passed through `stdin`.
2. The directory wrapper created because of `-w`.

Which of those would you like to name? Your PR right now seems to be trying to name the

[2018-08-31 15:38] lidel commented on #5168
That is a good news for IPFS Companion!
It was [not possible to modify `Connection` header in webextension running in Chrome](https://github.com/ipfs-shipyard/ipfs-companion/issues/480#issuecomment-402437149), so I am switching to `Expect` workaround which [fixes the problem for uploads in both Firefox and Chrome](https://github.com/ipfs-shipyard/ipfs-companion/issues/480#issuecomment-417657758).

[2018-08-31 16:37] Stebalien commented on #5413
Thanks for reporting! This is a duplicate of https://github.com/ipfs/go-ipfs/issues/3913.

[2018-08-31 16:37] #5413 closed

[2018-08-31 20:43] #5343 closed

[2018-08-31 21:52] Stebalien opened #5416 "Enabling QUIC disables the other transports."
When we configure a set of transports, we disable the default ones (assuming that the user wants to override them).

[2018-08-31 23:55] Stebalien commented on #5221
So, *adding* pins should be faster. But *listing* every single object that has been pinned (directly or indirectly by some recursive pin) in your datastore will always be somewhat slower.

[2018-08-31 23:57] Stebalien commented on #5411
Ah, I see. Yeah, that's interesting.

[2018-09-01 01:53] cannium commented on #5412
Out of memory again. Run about 24 hours.
[code]
<img width="797" alt="digitalocean_-_ubuntu-usa" src="https://user-images.githubusercontent.com/1171383/44941274-b36d0480-adcc-11e8-84e7-d96a1c7094d9.png">

[2018-09-01 02:37] burdakovd opened #5418 "IPFS is doing port scanning, without indicating that in logs"
#### Version information:
go-ipfs version: 0.4.15-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.7

#### Type:
Bug

#### Description:
IPFS randomly connects to addresses in a way that resembles port scanning, without any indication of what is happening in the logs (level=debug).

A few days after installing IPFS daemon on my public server, I've got email from provider (AWS) wit

[2018-09-01 12:41] kjzz commented on #4986
hello,@schomatis,let us review the issue.as we all known,if we use the command
[code]
And now test.txt can only be accessed as
[code]
but if we did not use command `cat`，such as
[code]
and use this command,we can access text.txt by
[code]
so the difference between two command is the test.txt accessed path.
[code]
In my pr #5399 ,
we can use new command `--name`
[code]
the accessed  path is the sam

[2018-09-01 16:36] burdakovd commented on #5378
One option is to internally query content in CIDv0 always (assuming old nodes keep content in CIDv0, and new nodes can handle both types of queries).

Then some time later - when most of the nodes update their software and can handle both types of queries, start querying directly in CIDv1.

[2018-09-01 17:30] postables commented on #5418
enable the server profile during your init statement. `ipfs init --profile=server`

also I don't think it's doing port scanning I suspect the bitswap traffic might be detected as port scanning.

[2018-09-01 17:37] burdakovd commented on #5418
@postables , I did enable server profile.

I did it with `ipfs config profile apply server` though instead of `ipfs init --profile=server`, I don't think it should make difference. I've included the full resulting config in the issue description.

Is it expected that bitswap would attempt to connect to multiple ports of a peer (without indicating that in logs)?

To start with, I'd be surprised if

[2018-09-01 18:31] burdakovd commented on #5418
Another example:

![image](https://user-images.githubusercontent.com/5193161/44948652-7418d500-ae19-11e8-977b-c869526f9b68.png)

In this case we've had an incoming connection from `171.214.222.88`. After some period of exchange, it appears disconnect happened.

After that my node just started dialing random ports of `171.214.222.88`, until it finally reestablished connection at `171.214.222.88:595

[2018-09-01 19:03] postables commented on #5418
If you're node is advertising all locally connected interfaces then it doesn't appear that the server profile config change persisted as it is designed to stop this kind of advertisement

[2018-09-01 19:44] burdakovd commented on #5418
My node doesn't need anything, and nobody can need stuff from it, since I'm not using it yet, it is a fresh new node. So this is purely a DHT traffic. I don't mind that, but I want to make sure that it only attempts to connect peers in reasonable way, and not by spamming them on dozens of ports.

[2018-09-01 23:05] postables commented on #5418
You might be able to mitigate this routing the `dhtclient` routing mode. If that doesn't work then the only thing I can think of is to use iptables or something similar to block connecting to the offending node.

[2018-09-02 12:29] marcusnewton1 commented on #3065
@douglasmsi [Netlimiter](https://www.netlimiter.com/) seems to do the trick

[2018-09-02 18:36] schomatis commented on #4986
Yes, I think I get it now, thanks for taking the time to re-explain it to me.

My confusion was always related to the use of the `-w` flag which is not related to the unnamed file issue, but *I* know that from my understanding of the underlying MFS/UnixFS layers, but from the perspective of the user it makes perfect sense to associate the two. We (mostly I) need to work more on closing this knowle

[2018-09-02 23:14] postables opened #5420 "Goroutine count, Node Performance, and correlation with peer count"
#### Version information:
[code]
Note that I'm also running an IPFS Cluster daemon on the same node which is connected to one other peer:
[code]

#### Type:
Possible goroutine leak or other bug

#### Description:

The number of goroutines running on my IPFS nodes appears to be highly correlated with the number of peers my node is connected to. In the past I would normally have between 600 -> 1000

[2018-09-02 23:22] mitra42 opened #5421 "Recursive add, and symlinks"
#### Version information: ipfs version 0.4.17-rc1
#### Type: Bug ?
#### Description:
I'm trying to upload the distribution directory for the Archive.org interface to IPFS so it can be accessed via IPFS (or via IPNS).

Problem is that the add process is
`ipfs add -Qr dist`
which appears to work.
However, but if you look at `https://ipfs.io/ipfs/QmehDxtj8UjivCXFSV4XMXCh8zVxER4D57LguXogX8rsRD/`
you'l

[2018-09-03 03:09] kjzz commented on #4986
@schomatis thanks very much for giving some ipfs background,I also very interested MFS.And i have mofidy code by your advice. And i have understand why should drop wrap check.Thank you again.Please help me review my pr #5399 . And I also want to contribute more for ipfs,can you give some task to do？My email is 601172892@qq.com,if you can give some some advice or task,you can emal to me or tell me

[2018-09-03 06:08] NiKiZe commented on #5421
I fully agree that symlinks supports needs to be resolved. (causing issues for me as well, as you said there already are open issues about it)
Symlinks are stored as a special object
[code]
In this case it points outside the root.

Magically replacing all symlinks on add could be considered a bug (but also a nice feature if it is an optional argument)
Warning for when symlinks are added would be g

[2018-09-03 06:16] postables commented on #5148
@Stebalien I think this particular issue has been fixed but there is another similar one that has cropped up
[code]

I will open an issue for this

[2018-09-03 11:31] swedneck opened #5422 "gateway overrides /version with information about IPFS"
#### Version information:
0.4.17

#### Type:
Bug (probably)

#### Description:

When using a domain with a dnslink, any request to example.com/version will return information about the IPFS node running on the gateway, instead of potential information about the webapp's version.
Examples: https://riot.swedneck.xyz/version, https://https://docs.ipfs.io/version, http://explore.ipld.io/version

This

[2018-09-03 12:00] lidel commented on #5422
Thank you for reporting this @swedneck!

It sure looks like a bug: makes it impossible to expose asset named  `/version` when dnslink is used.
I suspect it is a legacy thing: these days version can be read via `/api/v0/version` call

Anyone familiar whats the story behind `/version`? Would it be ok to PR a fix removing it (at least when dnslink is in use)?

[2018-09-03 13:55] schomatis commented on #4986
That's great @kjzz! Why don't you take a look at https://github.com/ipfs/go-ipfs/issues/5388? It's kind of the entry point (WIP) for community contributions to how are files handled in IPFS. That may give you a general view of what can you do in that area, and we can take it from there.

[2018-09-03 15:19] Stebalien commented on #5422
Yes, this does look like a bug. *Having* the version endpoint on the gateway isn't but it shouldn't be available when we pivot to a dnslink-based website.

[2018-09-03 16:16] lgierth commented on #5422
:+1:

It's probably easy to fix by simply reordering the http handlers in https://github.com/ipfs/go-ipfs/blob/78a32f2e48db69a1d517da29121ef5a51b2a8015/cmd/ipfs/daemon.go#L543-L549 by moving `VersionOption` after `GatewayOption`.

[2018-09-04 01:40] schomatis commented on #5412
Hey @cannium, could you provide a few heap trace dumps (ideally at different uptimes, like every 3/4 hours), you can do this with:
[code]

[2018-09-04 02:31] cannium commented on #5412
Sure, I'll do.

[2018-09-04 05:39] NatoBoram opened #5423 "Update IPFS Snap"
#### Version information:

[code]

#### Type:

Update Request

#### Description:

Currently, the snap looks like this :

[code]

However, the latest version is `0.4.17`. Snaps are damn convenient because they auto-update themselves, they're isolated from the system, and they fit *most* distros at once. It's easier to install, it allows for auto-completion, and has different release channels.

I'd

[2018-09-04 12:44] swedneck commented on #5422
@lgierth I just tried compiling it with that change and it works!

[2018-09-04 13:40] schomatis commented on #4986
Sure! I mean, I don't know if I can give you permissions to push to that PR (if there is please let me know), but feel free to create your own PR based on that one (or just create a new PR from scratch), #5052 is rather stale at the moment.

[2018-09-04 14:05] ngetahun commented on #5366
Is this issue up for grabs? I see the it's referenced in a PR, is the PR for this issue as well? If not, I would like to get started with this.

[2018-09-04 21:13] kevina commented on #5378
@burdakovd Unfortunately old nodes may still have content in CIDv1, so we really need to try both CIDv0 and CIDv1 to be sure content doesn't become unavailable.

[2018-09-04 23:06] hsanjuan commented on #5420
@postables my first impression is that it is perfectly normal. The more peers you're connected to, the more communication streams need to be handled, and each of them will be a goroutine (or several).

Now perhaps you can ellaborate on "poor performance". Is go-ipfs causing abnormal load on your 12 cores? Is the disk IO super slow? or is it DHT query/resolving?

[2018-09-04 23:14] postables commented on #5420
@hsanjuan  Ah okay never mind about that then. The Disk IO isn't what's slow, but the DHT query/resolving

[2018-09-05 03:24] diwufeiwen opened #5425 "error: rabin chunker parameter [min]"
Version information:

0.4.17

Type:

Bug (probably)

Description:
// QmZooytqEoUwQjv7KzH4d3xyJnyvD3AWJaCDMYt5pbCtua\chunker\chunker.go
func (c *Chunker) reset() {
	...
	c.pre = c.MinSize - windowSize
}
windowSize = 16,c.pre data type is uint64,when first enters,c.MinSize=[min],if [min]<16, --->c.pre<0,cause the file will not be  blocked.

Suggest:check the command line arguments:rabin-[min]-[avg]-

[2018-09-05 05:37] kjzz commented on #4986
hey @schomatis ,so Should i  write some doc about file api following your template in #5052 ?

[2018-09-05 07:35] kjzz commented on #5401
hey @Stebalien,if anyone work for this issue?if not,can i do for this?

[2018-09-05 12:26] schomatis commented on #4986
Hey @kjzz, #5052 is not much of a useful template at the moment, I would start by opening an issue in the [Files API milestone](https://github.com/ipfs/go-ipfs/milestone/38) and start documenting there information you find interesting (from a new user perspective) and think that other users would benefit to know (or what part of the code should be better documented), so we can later discuss how to

[2018-09-05 13:03] kjzz commented on #4414
@Stebalien there are one goroutine leaks in filestore.go.So please help me review pr #5427 ,Thx a lot

[2018-09-05 17:10] Stebalien commented on #5425
Correct, this is a bug.

[2018-09-05 17:14] Stebalien commented on #5423
@lgierth any idea who maintains the snap?

[2018-09-05 17:43] magik6k commented on #5423
IIRC it's built from the release branch, so just pushing the release commit to it should do the trick (It seems to be as outdated as the snap - https://github.com/ipfs/go-ipfs/tree/release)

[2018-09-05 22:05] Stebalien commented on #5366
It's still up for grabs. That was a PR fixing an *issue* in the progress bar while lamenting the lack of tests.

[2018-09-05 22:28] Stebalien commented on #5420
How about the CPU usage? If it's high, could you try dumping a CPU profile (https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md#beginning)?

[2018-09-05 22:58] postables commented on #5420
Interesting, why shouldn't it be slower? Would it be because as hsan pointed out, the more communication streams there are, allowing for data to be fetched from multiple sources faster?  As for CPU usage, it's quite low in general I'm actually surprised as to how low it is.

I don't have much explanation for why my performance increased when I decreased my connection count range. The only change I

[2018-09-05 23:11] Stebalien commented on #5420
DHT lookups should be *faster* because we're already likely to be connected to DHT servers with the information we need. However, *bitswap* may be slower as bitswap currently asks all connected peers for the objects we're looking for.

But this is interesting. We should look into this more to make sure we aren't making any incorrect assumptions.

[2018-09-05 23:26] postables commented on #5420
Ah okay, perhaps it was bitswap then. Agreed! It's been very interesting and kind of fun to see what tricks work to increase node performance.

I should hopefully have time around the weekend to test this out. Are there any particular metrics which would help to resolve this? I've got Zabbix, Grafana, and Prometheus at my disposal for metric collection.

[2018-09-06 08:29] ngetahun commented on #5366
Okay, I will give it a shot.

[2018-09-06 10:18] cannium commented on #5412
In case you become impatient, I'll put some updates here.
I started another instance, with `LowWater 60, HighWater 90` config, ran for about 2 days, but OOM didn't happen. The only difference is that this instance is in region Toronto.
So I started another instance in US region today. Hopefully OOM would happen in 24 hours...

[2018-09-06 12:15] schomatis commented on #5412
No problem, take your time.

[2018-09-06 12:43] magik6k commented on #5405
cc @VictorBjelkholm

[2018-09-06 12:53] VictorBjelkholm commented on #5367
Seems this has been merged (https://github.com/dgraph-io/badger/commits/master) but maybe the dep hasn't been updated yet?

[2018-09-06 12:55] VictorBjelkholm commented on #5405
Opened this issue for it: https://github.com/ipfs/testing/issues/133

[2018-09-06 12:55] #5405 closed

[2018-09-06 13:53] overbool commented on #5401
@kjzz sorry, I'm fixing it.

[2018-09-06 14:13] overbool commented on #5401
@Stebalien this feature refers to go-ipfs-config, should modify it first?

[2018-09-06 14:14] #5014 closed

[2018-09-06 14:34] beenotung commented on #3860
As point out by MM at https://github.com/ipfs/go-ipfs/issues/3860#issuecomment-382832055
it seems a mismatch for p2p application (ipfs) to be built on hierarchical network (tcp/ip).
When some node addresses are exchanged, they may not be accessible due to the router configuration.
Would it be better if we're using NDN? It looks like a virtual package switching network.

[2018-09-06 16:16] raphaelsoul opened #5430 "Build from source fails: Any way to download from other public gateway?"
#### Version information:

latest commit on 44e52e255b8bd49efb13bdbf680d01bdba78db88

#### Type:

Enhancement

#### Description:

I have difficulty to connect with official gateway when downloading  build essentials. How can I change it to another public gateway for `make install`?

[2018-09-06 16:58] Stebalien opened #5431 "IPFS should fail when the port is already taken"
#### Version information:
0.4.18-dev

#### Type:
Bug

#### Description:

The issue here is reuseport. Because we're using reuseport, we don't detect multiple IPFS instances running as the same user on the same port.

[2018-09-06 17:08] Stebalien opened #5432 "Provide a way to start an IPFS node programmatically on a custom port."
#### Version information:
0.4.18-dev

#### Type:
feature

#### Description:
Currently, `core.NewNode` expects a repo. Technically, you can start a node with an in-memory repo but then there's no way (as far as I can tell) to *configure* the node as there's no editable config file. This makes it difficult to create a new, ephemeral, IPFS node on a custom port (simply using this constructor, that is

[2018-09-06 17:09] Stebalien commented on #5406
1. IPFS listens on port 4001 by default. Unfortunately, I'm not sure how to change this programmatically (without modifying a config, writing it to disk, and then loading it from disk). The issue here is that IPFS really hasn't been optimized for use as a library yet (it assumes a local "repo" with a config file): https://github.com/ipfs/go-ipfs/issues/5432
2. (1) means that all *three* of your no

[2018-09-06 17:10] Stebalien commented on #5406
Closing in favor of the two new bugs I filed. Feel free to ask followups, I just want to keep this tracker as clean as possible (heh...).

[2018-09-06 17:10] #5406 closed

[2018-09-06 17:42] magik6k commented on #5418
The problem is likely that the node is advertising too many ports, like in https://github.com/ipfs/go-ipfs/issues/3780.

[2018-09-06 17:48] #5422 closed

[2018-09-06 18:58] kisulken commented on #3860
if you just want to use the IPFS in a local network you might as well add all the used local addresses to the IPFS bootstrap list & make sure to clear the default list beforehand. If all the nodes are in each others bootstrap list then the process of publishing and loading will happen way faster

[2018-09-06 20:34] Stebalien commented on #5430
It does.

[2018-09-06 22:27] Stebalien commented on #5421
Related: https://github.com/ipfs/go-ipfs-cmds/pull/96

[2018-09-07 00:14] andrewheadricke opened #5436 "Include ability to download any content type via gateway port."
Enhancement request:

There are lots of public IPFS gateways for read-only access to content uploaded in `file` format.. But it is not possible to access any other content like DAGs, custom objects, blocks etc from public gateways.

This means there is an incentive NOT to adopt any other formats apart from standard the standard file object, as its the only data accessible from public gateways.

If

[2018-09-07 00:48] Stebalien commented on #5436
The gateway does, in fact, expose a read-only API (a subset of the normal API). I've just added some (very basic) documentation in #5437.

[2018-09-07 01:04] Stebalien commented on #4198
I'm not sure how this issue got so lost (well, >900 open issues probably had something to do with it) but, at this point, we've refactored the commands library (the likely culprit) twice so I'm going to close this as:

* A bug.
* A *likely* fixed bug that we won't be able to reproduce.

[2018-09-07 01:04] #4198 closed

[2018-09-07 01:11] Stebalien commented on #5078
I'm really skeptical this is an issue with go-ipfs and I'm having trouble understanding exactly *what* behavior you're seeing.

If you can give us a way to reproduce this, we can re-open the bug and try to fix this. As-is, there's not much we can do about this (I'm not even sure what's going wrong).

[2018-09-07 01:11] #5078 closed

[2018-09-07 01:50] kjzz commented on #5425
hey @schomatis @Stebalien , i want to fix this,because i want to know more about chuncker.WDYT?

[2018-09-07 02:32] Stebalien commented on #5425
Go ahead. It should be a relatively straight-forward fix.

[2018-09-07 02:35] schomatis commented on #5425
Thanks @kjzz! Let me know if you need any help.

[2018-09-07 04:03] cannium commented on #5411
Turns out the 4001 port mapping is created when my node tried to connect to an outside node, so is observed by peers. I add a patch to handle this situation better: https://github.com/libp2p/go-libp2p/pull/411.

[2018-09-07 04:43] daijiale opened #5438 "IPFS Repo Storage And Files Over A Huge Amount（30G+）, "ipfs add" action slow down in a high concurrency environment"
#### Version information:
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

#### Type:
Bug, Feature

#### Description:

I tested the "ipfs add" performance in a high concurrency scenario on my centOS node environment

When my IPFS repo storage and files over a huge amount（30G+）, "ipfs add" action slow down ,Surprisingly，I simulated 100 processes work on

[2018-09-07 08:36] kjzz commented on #5438
Hi @daijiale, I also interest in this problem. Maybe the reason casued this problem is the high disk io . I think that maybe you can provide the monitoring data of disk io.It maybe will help a lot.

[2018-09-07 09:34] magik6k commented on #5438
IPFS by default stores blocks as individual files, and some filesystems aren't great at dealing with large numbers of them. Can you try using experimental badger datastore - https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#badger-datastore - and see how that affects your test case?

[2018-09-07 13:05] tobowers commented on #5406
Thank you!

[2018-09-07 14:17] magik6k commented on #5398
This is a bug in jenkins itself - https://issues.jenkins-ci.org/browse/JENKINS-39203

We can't easily make sharness fail early because of a few reasons:
* We need to run sharness fully to get test results passed to jenkins
* Tests are executed in parallel (`make -j12`), console output is not exactly useful

IMO the setup where you see that the CI failed, clicking on jenkins status in PR and then t

[2018-09-07 14:28] kevina commented on #5398
Reopening and labeling as blocked.  Feel free to move the issue to `ipfs/testings` or a more appropriate place then close again, but I want _some_ issue open to track this until the bug is fixed upstream.

[2018-09-07 17:19] Stebalien commented on #5412
What commit did you build?

[2018-09-07 17:30] Stebalien commented on #5406
Hm. I noticed you have fixed that. And it still doesn't work? It works for me *locally* (after making ipfs listen on random ports).

[2018-09-07 17:34] Stebalien commented on #5406
Did the reader find a provider record for the writer? Can you try manually running two ipfs nodes and connecting them `ipfs swarm connect` just to make sure it isn't a firewall/network issue.

[2018-09-07 17:38] #5436 closed

[2018-09-07 17:40] Stebalien commented on #5438
The issue here is probably in *pinning* multiple small files. See: #5221.

[2018-09-07 23:05] Stebalien commented on #5425
Merged. We can keep this open till we update the dep here.

[2018-09-07 23:50] cannium commented on #5412
I believe it's 78a32f2e48db69a1d517da29121ef5a51b2a8015

[2018-09-08 07:27] kjzz commented on #5425
@Stebalien Thx a lot,maybe i can add some test after go-ipfs-chunker publish new version.

[2018-09-08 07:30] kjzz commented on #4576
Hey @Stebalien @lgierth , I am interested in this , can i help you do this?

[2018-09-08 09:04] andrewheadricke opened #5443 "Store connection direction for peers"
I would like to see in `ipfs swarm peers` or even `ipfs swarm peers -v` the direction of connection for each peer.  I basically want to know which peers connected to me, and which peers I have initiated a connection to.

I am trying to more closely manage my list of peers and this information would be very useful.

I'm guessing this would need to be implemented at the `libp2p` level?

[2018-09-08 13:35] schomatis commented on #5412
It would seem to be related to the number of active connections.

[code]

[2018-09-08 21:46] pjz commented on #5221
If everyone's solution is to maintain a parallel cache of what pins exist... why not have IPFS do that internally instead?  Keep a cache that's invalidated on add/remove of pins, but otherwise is untouched.  Then repeated calls to 'ipfs pin ls' would be trivial.  Maybe make 'ipfs pin verify' also serve as a way to manually invalidate the cache/force a rebuild of it.

[2018-09-08 23:33] djdv commented on #5221
@pjz
I think that could help in improving the performance.
I know that awareness of the node's state is a separate issue, but if we have to come up with a messaging system for invalidating some node-wide, pinset-cache, we may as well have a system to broadcast those same events as well.
For those that still want to be made aware of when the state has changed.
The practical reason for this, would s

[2018-09-09 03:31] pjz commented on #5221
What you describe sounds somewhat like a way to tap into the logging system.

[2018-09-09 14:45] overbool commented on #4352
Hey @whyrusleeping , does this work need to continue? I found the compiling error `undefined: swarm.NewNetwork` in `https://github.com/whyrusleeping/natest/blob/master/main.go`. Maybe it should use new `libp2p` method.

[2018-09-10 02:47] cannium commented on #5412
Could you give more instructions about the session - stream structure? I'd like to understand how could a session take 290M memory, cache the whole object in memory?

[2018-09-10 16:57] Stebalien commented on #4280
I take this back. Adding double buffering (with a small delay) helps reduce the *number* of packets quite  a bit (testing with wireshark). I believe the issues with my prior testing were:

1. I was testing bitswap, not stuff like the DHT (tons of small packets). Buffering should help background bandwidth.
2. Localhost is not the right environment to test on. Reducing the number of packets sent is

[2018-09-10 18:42] douglasmsi commented on #4174
Do you know if there is another way without changing the core? We are integrating ipfs into a solution for private networking. We are in a segregated network without access to the Internet and github to perform the build. Is there any webui tarball that would just work by adding it to ipfs?

[2018-09-10 20:00] Stebalien commented on #4174
Yes. `curl https://ipfs.io/api/v0/get/QmQLXHs7K98JNQdWrBB2cQLJahPhmupbDjRuH1b9ibmwVa | tar -xf -`. You can then add it with a normal `ipfs add -r ...`, that *should* give you the same hash back (as long as you use the default options).

[2018-09-10 20:46] Stebalien commented on #5412
It's not a single session, that's *all* your connections. However, that's still an absurd number.

I'm getting:

[code]

Really, those channels should be pretty small. I wonder if we're leaking connection objects somewhere. Looking at this, I'm pretty sure we are.

[2018-09-10 21:39] Stebalien commented on #5412
Yeah, there's *definitely* a slow leak. I've tried killing a bunch of connections but that memory doesn't move anywhere. However, this is *quite* a slow leak so it'll be tricky to track down where it's happening.

[2018-09-10 21:52] Stebalien commented on #5412
Historically, this has always been a race in stream management. That is, some service is holding onto an open stream but not actually *using* it. When services do that, they're *supposed* to detect that the client has disconnected and free the stream but I'm guessing that that isn't happening here.

[2018-09-10 22:30] Stebalien commented on #5412
Found it! If we abort the connection while the identify protocol is running, we'll keep a reference to the connection forever. This is an *ancient* bug.

[2018-09-10 22:55] Stebalien commented on #5412
fix: https://github.com/libp2p/go-libp2p/issues/419

[2018-09-10 23:26] Stebalien commented on #5302
@schomatis think you can figure out what's happening here? It looks MFS/dag related.

[2018-09-10 23:38] Stebalien commented on #5325
For context, the `object` API is for interacting with merkledag objects (it's not even generalized over all IPLD objects), which *may not* be unixfs nodes. Basically, all this API knows is that we have some "object" with a data field (raw bytes) and a links field (list of links).

 Unfortunately, we don't really have a good "unixfs" equivalent, as fr as I know.

[2018-09-11 00:59] Stebalien commented on #5333
So, the issue here is that your node *knows* that it's external IP is `54.227.142.187` because it dialed a few nodes and those nodes all told your node "you connected to us from `54.227.142.187:62719`". That's why it's announcing this to the network (at least that's what I think is happening).

Unfortunately, it looks like your NAT isn't mapping symmetrically. That is, it's mapping outgoing connec

[2018-09-11 01:00] Stebalien commented on #5333
I'm going to close this in favor of https://github.com/libp2p/go-libp2p/issues/383 to avoid partitioning the conversation.

[2018-09-11 01:00] #5333 closed

[2018-09-11 01:29] Stebalien commented on #5360
Closing in favor of https://github.com/ipfs/go-ipfs/issues/5183. It may not be the same issue, but it looks like it.

[2018-09-11 01:29] #5360 closed

[2018-09-11 02:08] Stebalien commented on #5168
Fix here: https://github.com/ipfs/go-ipfs-cmds/pull/116

It manages to *only* break the connection if there's a body to read (at least it should). I've tested it with @lidel's app and it *appears* to work.

Could test out that PR?

[2018-09-11 03:33] cannium commented on #5412
Awesome! I'll test with the latest version to see if fixed.

[2018-09-11 03:34] burdakovd opened #5447 "Sudden release? All tags for go-ipfs image have been updated, and "Found outdated fs-repo, migrations need to be run.""
I just found that my ipfs daemon is stuck in a crash loop with the following logs after recent update (I pull Docker image from https://hub.docker.com/r/jbenet/go-ipfs/):

[code]

It is asking a question, but since it is running in non-interactive environment, it can't get an answer and thus crashes.

Some questions:
1) Do we really have a major release right now that requires repo migration?
2) I

[2018-09-11 03:35] #5447 closed

[2018-09-11 09:06] overbool commented on #5443
Hey @Stebalien, can I try to solve this?

[2018-09-11 17:22] Stebalien commented on #5412
You'll have to wait for me to bubble the update to go-ipfs. I should get to that in a few days.

[2018-09-11 17:50] Stebalien commented on #5443
Go ahead.

[2018-09-11 19:19] Stebalien commented on #3900
@whyrusleeping can you remember the motivation here? Having resolve use the local keystore without the user asking for it seems a bit strange.

[2018-09-12 01:06] overbool commented on #4964
Hey @Stebalien, Could you help me review my pr in https://github.com/ipfs/go-ipfs-cmds/pull/118

[2018-09-12 02:27] cannium commented on #5412
I `gx-go link`ed it. The memory graph still grows slowly, but is far better than before.

[2018-09-12 09:11] peteryj commented on #3786
Hi guys, I just want to know if bitswap session cloud solve my problem?

From the git log I'm afraid not. But this issue is opened, so...

https://discuss.ipfs.io/t/big-file-transferring-problem/3819

Thanks!

[2018-09-12 14:01] rob-deutsch opened #5450 "Key renaming to same name causes key to be deleted"
### Version information:
[code]

### Type:
Bug

### Description:
Renaming a key to the same name causes an error and the key is deleted.

### Reproduction steps:
If you create a key called 'foo', and rename this key to 'foo', there is an error and it disappears:
[code]

^--- My 'foo' key has disappeared :( :(

### Suggested fix:
This is slightly more involved because I think that fixing this issue

[2018-09-12 15:58] Stebalien commented on #5450
Both of those suggestions sound reasonable, go for it.

I'm less sure about allowing this command to succeed *without* force but that's probably fine. Looking at prior art, the posix `rename` syscall *always* succeeds if two files are the same while the `mv` command (on linux) always fails.

[2018-09-12 16:02] schomatis commented on #4687
@overbool Yes please! Ping me if you have any questions.

[2018-09-12 16:06] schomatis commented on #5302
Yes, on it.

[2018-09-12 16:10] alanshaw commented on #5229
JS CID tool coming together here: https://github.com/ipfs-shipyard/cid-tool - it can and will be integrated with ipfs as `ipfs cid` but can also be used as a standalone CLI tool.

[2018-09-12 17:09] Stebalien commented on #5425
The dep has been updated. @kjzz has submitted tests in #5449; we can close this once that gets merged.

[2018-09-12 18:31] Stebalien commented on #5412
That's great to hear (I didn't want to have to trouble you with getting gx working but I'm glad you were able to).

The remaining growth is probably the peerstore (which we're working on). However, so we don't make assumptions, mind posting a heap profile (just one should be fine) along with the IPFS binary and commit used to build it?

[2018-09-12 21:18] djdv commented on #5003
Status update [4f078cc83a90bbee292736f80b31c3c5dc431a0d]
Since last time, I've equipped the filesystem index, to account for arbitrary record modifications.
If the state of a record has changed (either locally because of a fuse operation, or globally because of an IPFS operation), we need to be able to propagate that change, so that everyone who is currently accessing a record (via a handle), does

[2018-09-12 21:35] Stebalien commented on #4964
Done! The fix will be included in the next update of go-ipfs-cmds. Thanks @overbool!

[2018-09-12 21:39] Stebalien commented on #4352
It should.

[2018-09-12 21:42] Stebalien commented on #4687
Note: The `ipfs object` commands are designed to work on `ProtoNode` (protobuf) dag nodes *only*. We're eventually planning on killing off these commands (and adding a more general purpose `ipfs dag diff` command that operates on arbitrary IPLD data) but adding support for Raw nodes to this command sounds like a reasonable thing to do for now.

[2018-09-12 21:56] Stebalien commented on #5423
I tried that but I'm still not seeing a release.

[2018-09-12 22:03] Stebalien commented on #5400
So, the issue is probably that the `ls` command using the API tries to get the file *type* (to determine if the file is a *file* or a *directory*). Unfortunately, we currently have to fetch the root block of the file to do that and you may not have been able to find a node *with* the relevant blocks (the root blocks of all the files in the directory).

You can disable this by passing `--resolve-ty

[2018-09-12 22:56] magik6k commented on #5423
Oh, it's apparently packaged in https://github.com/elopio/ipfs-snap by @elopio

[2018-09-13 00:30] elopio commented on #5423
oh, sorry, the Travis builds died some time ago. I've just fixed it, basically updating to go1.11 and refreshing the apt repos. Now v0.4.17 is in the candidate channel.

I would apapreciate your help giving it a try. Maybe we can release to stable on Friday.

[2018-09-13 07:30] kjzz commented on #5432
Hi @Stebalien , Do you meaning that i can add a constructor to new node?

[2018-09-13 10:47] vyzo commented on #4352
We are planning to integrate services for NAT autodetection: see #4993.

[2018-09-13 10:48] vyzo commented on #4352
Implementation WIP: https://github.com/libp2p/go-libp2p-autonat/pull/1

[2018-09-13 15:17] rob-deutsch opened #5456 "Adding directory with ./ leads to unexpected results"
### Version information:
go-ipfs version: 0.4.17-dfd19c470
Repo version: 7
System version: amd64/darwin
Golang version: go1.10.3

### Type:
Bug

### Description:
Unexpected behaviour when adding a directory using `./`.

Expected behaviour when adding a directory is as follows:
[code]

Abnormal directory when adding the same directory with `./`:
[code]

The primary observable problem is that `ls` d

[2018-09-13 15:29] rob-deutsch opened #5458 "Object links command is broken on master branch"
### Version information:
[code]

### Type:
Bug

### Description:
My apologies, I don't know if I should be reporting bugs on the master branch, but I noticed that `ipfs object links` isn't working. See reproduction steps:

[code]

[2018-09-13 15:32] overbool commented on #5443
Hey @Stebalien, I add the direction of connection behind the multiaddr, when i use `ipfs swarm peers -v`. like the follow:

[code]

What do you think of it？

[2018-09-13 15:40] overbool commented on #5458
@rob-deutsch I can't reproduce your bug, did you do anything else

[2018-09-13 16:08] rob-deutsch commented on #5458
Weird! I can't replicate it either now!

Closing for now on the assumption that I did something silly without realising.

[2018-09-13 16:56] Stebalien commented on #5423
@ipfs/go-team anyone use Ubuntu?

[2018-09-13 17:08] elopio commented on #5423
Should work in other stuff too: https://docs.snapcraft.io/core/install

[2018-09-13 17:54] Stebalien commented on #5458
No, this is a bug that only happens when the daemon is in offline mode.

[2018-09-13 17:54] elopio commented on #5423
btw, you might find this interesting. It's the number of active devices with the snap installed.
![ekrankopio de 2018-09-13 11-11-30](https://user-images.githubusercontent.com/617831/45506206-ce843080-b74b-11e8-8640-ee07b7c24f81.png)

[2018-09-13 18:12] Stebalien commented on #5423
That explains the number of 0.4.15 users...

[2018-09-13 18:40] Stebalien commented on #5412
Thanks! Yeah, that looks like a known bug: https://github.com/ipfs/go-ipfs-blockstore/issues/3. Basically, we should be using a significantly more efficient "has" cache for our blockstore.

[2018-09-13 21:11] elopio commented on #5423
Not really. Travis broke before the final release of 0.4.15, so I never moved it to stable.
![screenshot from 2018-09-13 15-09-28](https://user-images.githubusercontent.com/617831/45516063-38f69a00-b767-11e8-94bb-abda704aa684.png)

[2018-09-13 21:12] Stebalien commented on #5423
Interesting...

[2018-09-13 21:13] #5458 closed

[2018-09-13 21:13] #2722 closed

[2018-09-13 21:44] #4986 closed

[2018-09-13 21:45] #5412 closed

[2018-09-13 21:59] whyrusleeping commented on #3900
@Stebalien mostly just to make the UX nicer here. Why does it seem strange?

[2018-09-13 22:56] Stebalien commented on #3900
Because it's mixing two different namespaces. `ipfs name resolve` is for resolving IPNS names but our local key names aren't real IPNS names.

This means you end up with stuff like:

Actually, we don't even *have* a `-k` option. Was that removed?

[2018-09-13 23:57] #4895 closed

[2018-09-14 00:03] Stebalien commented on #3994
The refactor has been merged (massive thanks to @magik6k for keeping with this). Go pull master and try it out.

[2018-09-14 00:05] Stebalien opened #5460 "Permanent p2p forwarding"
Now that we have the shiny refactored `ipfs p2p` command, it would be *awesome* if we could make forwards/listens *permanent*. That is, have a `--save` or a `--sticky` flag to save these mappings in either the config file or, possibly, the datastore (IMO, the config file actually makes the most sense here).

[2018-09-14 00:32] rob-deutsch commented on #5458
Thanks @Stebalien!

[2018-09-14 01:26] overbool commented on #5460
@Stebalien, I'm interested in this, could you explain it in more detail?

[2018-09-14 01:28] Stebalien commented on #4442
After thinking about this, I believe we actually want to error out but add a flag to bypass the offline check. That is, add a boolean `--allow-offline` flag such that:

1. If the flag isn't passed (or is false), return an error if the node is in "offline" mode. When I say "the daemon isn't running", I'm talking about offline mode. You can check this inside a command by checking `node.OnlineMode()`

[2018-09-14 01:31] Stebalien commented on #5432
This probably isn't a good issue to pick up at the moment, it likely needs some design work. There may be a clean way to implement this but I don't know of any; the current node construction logic has grown quite complex and could probably use a good refactor (but that requires a deep familiarity with the code).

[2018-09-14 01:32] Stebalien commented on #5432
(fixed the labels...)

[2018-09-14 01:33] Stebalien commented on #5425
Thanks @kjzz!

[2018-09-14 01:33] #5425 closed

[2018-09-14 02:09] Stebalien commented on #5460
Basically, I'd like to be able to run:

* `ipfs p2p listen --save /x/ssh /ip4/127.0.0.1/tcp/22`
* `ipfs p2p forward --save /x/ssh /ip4/127.0.0.1/tcp/1234 /ipfs/Qm....`

And have ipfs save these mappings in my config file. IPFS would then automatically restore them on start.

[2018-09-14 02:12] kjaylee commented on #1126
Also try, my repo. https://github.com/kjaylee/ios-ipfs-api  (swift ipfs http api wrapper)

[2018-09-14 02:16] dlnuwlx opened #5461 "Sometimes IPFS can't find the file"
Hi experts
I have two PCs with external ip （node A , B）
A: ipfs init  & ipfs daemon & ipfs add "file"
B: ipfs init  & ipfs daemon & ipfs get "hash of file"
Node B hungs  and can't download the file, but if run "ipfs swarm connect(A->B or B->A)" , B can download the file. why node B can't find the file by DHT net?  Is "ipfs swarm connect” a must?

Tips: if run "ipfs swarm peers" in A or B, I can se

[2018-09-14 02:37] kjzz commented on #5263
hey @schomatis , i am interested in this.Can i help u do for this?

[2018-09-14 02:42] dlnuwlx commented on #5461
update!
Even if run "ipfs swarm connect(A->B or B->A)", sometimes B download the file(about 1M) more than three minutes

[2018-09-14 02:43] overbool commented on #5460
@Stebalien I got it.

[2018-09-14 02:47] schomatis commented on #5263
Sure! This code has now been moved to https://github.com/ipfs/go-unixfs.

[2018-09-14 02:49] overbool commented on #4352
@vyzo I'm interested in it, is there anything I can do to help?

[2018-09-14 02:49] kjzz commented on #5263
Thanks.If i have any problem,i will ping you.

[2018-09-14 02:51] qipx0033 opened #5463 "a question about data transmittion"
Hi experts, I wonder that how could I get content in the node behind a Symmetric NAT. I get two ipfs nodes. One node A has public IP while the other node B is behind a symmetirc NAT. After I put a file in B, I could get the file from B. How it works? Thank you.

[2018-09-14 03:51] magik6k commented on #5461
Which version are you using? (`ipfs version --all`).

[2018-09-14 05:11] dlnuwlx commented on #5461
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

[2018-09-14 05:11] dlnuwlx commented on #5461
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

[2018-09-14 05:47] #5450 closed

[2018-09-14 05:56] Stebalien commented on #5463
Please ask questions like this on https://discuss.ipfs.io/ (helps us keep the issue tracker tidy).

[2018-09-14 05:56] #5463 closed

[2018-09-14 06:45] overbool commented on #5460
@Stebalien if save these mappings in the config file, can i save them as follow:

[code]
WDYT?

[2018-09-14 06:54] overbool commented on #5431
@Stebalien If two ipfs instances use the same `Addresses.API`, this will cause panic for `127.0.0.1:5001: bind: address already in use`.
Did you mean that they use the different `Addresses.API` but the same `Addresses.Swarm`?

[2018-09-14 10:58] johndpope commented on #1126
@kjaylee  - well done.

[2018-09-14 12:01] overbool commented on #4687
@schomatis I see the problem after you explained, but i don't know why it will print `Error: expected protobuf dag node`. Because it  doesn't handle the err in `object/diff.go`

https://github.com/ipfs/go-ipfs/blob/e4e35047bd338029fd2c4ff25c71bc6cccc35bf3/core/commands/object/diff.go#L76-L78

[2018-09-14 14:47] schomatis commented on #4687
Thanks @overbool you're right, we're not handling that error and we're silently failing, I'll submit another issue about it, feel free to take it.

[2018-09-14 14:55] schomatis opened #5468 "Handle `ipfs object diff` error"
https://github.com/ipfs/go-ipfs/blob/e4e35047bd338029fd2c4ff25c71bc6cccc35bf3/core/commands/object/diff.go#L76-L95

The error generated by the `Diff()` function is being ignored and we're silently failing here, e.g.,

[code]

[2018-09-14 14:57] schomatis commented on #5468
@overbool Wanna take this one?

[2018-09-14 14:59] schomatis commented on #5468
BTW, one thing I'm not understanding about Go: it doesn't complain about the unused `err` variable even though it is being redefined, so it is in fact (from my understanding) a new variable. If I rename it to `newErr` it *does* complain, but redefining a new variable with an already used name (`err`) seems fine even if it's not used. @Stebalien What am I missing?

[2018-09-14 15:01] overbool commented on #5468
@schomatis, Yeah, i will try my best to finish this task, Thx.

[2018-09-14 15:04] overbool commented on #5468
@schomatis I am willing to do it, thx.

[2018-09-14 15:07] schomatis commented on #4687
Submitted https://github.com/ipfs/go-ipfs/issues/5468 to fix the ignored error, and while `Diff` in fact does not support raw leaves I'm not sure that that is the problem of this issue, @ivan386 could you provide the content of

* `QmRqh1ckCLG6nXoE1aJQT2CHrByk5DWji8v3s4bHcmN975`
* `QmUeec6DpWz2CA9uZ7GgPAB5nc6QYDg8yax4Wapxs1LSQL`

(which I'm not being able to find) to try to reproduce this.

[2018-09-14 15:09] schomatis opened #5470 "Add support for raw leaves in `ipfs object diff`"
See https://github.com/ipfs/go-ipfs/issues/4687#issuecomment-417511872.

[2018-09-14 15:10] schomatis commented on #5470
/cc @overbool

[2018-09-14 15:12] overbool commented on #4687
@schomatis I also can't reproduce this issue

[2018-09-14 15:15] koalalorenzo commented on #1070
Any update on this feature? :)
At the moment I am solving this with NGINX but it would be nice to have it implemented directly into `go-ipfs`!

[2018-09-14 15:17] overbool commented on #5470
@schomatis I am fixing this issue

[2018-09-14 15:42] ivan386 commented on #4687
@overbool @schomatis I upload blocks to ipfs.io.
https://ipfs.io/ipfs/QmRqh1ckCLG6nXoE1aJQT2CHrByk5DWji8v3s4bHcmN975
https://ipfs.io/ipfs/QmUeec6DpWz2CA9uZ7GgPAB5nc6QYDg8yax4Wapxs1LSQL

[2018-09-14 15:58] Stebalien commented on #1070
As far as I know, nobody's working on this at the moment (we use nginx as a reverse-proxy as well).

[2018-09-14 16:02] #5468 closed

[2018-09-14 17:20] #4593 closed

[2018-09-14 18:44] magik6k commented on #5460
Not sure about the names, can think of anything better though, so I'd call this good enough.

[2018-09-14 18:51] schomatis commented on #4687
Thanks @ivan386 , I can now test this. It seems that the error check existed before the CoreAPI was used in this command but was lost in the changes, it has now been incorporated back again in https://github.com/ipfs/go-ipfs/pull/5469. The problem is indeed in the lack of support for raw leaves in the `Diff` function which will be tracked in https://github.com/ipfs/go-ipfs/issues/5470, so I'm clos

[2018-09-14 19:01] #4687 closed

[2018-09-14 19:04] Stebalien commented on #5460
Well, we could just say `Listen` and `Forward`. We could *also* consider using maps. That is:

[code]

However, I really don't have any strong opinions here so I'd just say, go with whatever makes sense to you.

[2018-09-14 19:05] Stebalien commented on #5431
Yes.

[2018-09-14 19:08] schomatis commented on #4687
@Stebalien Do you prefer to keep this one open and close #5470?

[2018-09-14 20:42] Stebalien commented on #4687
Either way, I just didn't notice that one so I reopened this one and then closed it when I noticed.

[2018-09-15 10:09] mkg20001 opened #5471 "Package as rpm/deb and add it to the offical repos?"
#### Version information: _hopefully next_

#### Type: feature

#### Description: Package go-ipfs as rpm/deb package

This would allow IPFS to be installed with a simple `sudo apt-get install go-ipfs -y` without having to worry about updating, etc.

[2018-09-15 16:50] overbool commented on #5460
@Stebalien I make a pr in https://github.com/ipfs/go-ipfs-config/pull/8 about this issue, could you help me review it?

[2018-09-15 17:11] kjzz commented on #4561
hey @schomatis , are you still doing for this?if you do not finish, maybe i can help.because i am learn more about the add/pin.So i think maybe i can have  a try.

[2018-09-15 19:15] lgierth commented on #5401
Yes, and there's an fs-repo migration required, to do the string-to-array conversion in existing config files: https://github.com/ipfs/fs-repo-migrations -- best to coordinate with @kevina here

[2018-09-15 19:18] lgierth commented on #5460
Not sure we should keep adding `p2p` things to go-ipfs when the libp2p daemon is already on its way.

[2018-09-15 19:40] raulk commented on #5460
I don’t necessarily see this as libp2p daemon material, but it does feel well motivated to make the libp2p `Host` accept a configuration file. Perhaps some kind of JSON binding that maps to a subtree of the Config strict? https://github.com/libp2p/go-libp2p/blob/master/config/config.go?

[2018-09-16 02:57] overbool commented on #5470
@schomatis could you help me review my pr in https://github.com/ipfs/go-ipfs/pull/5472?

[2018-09-16 04:39] rob-deutsch opened #5475 "TestExternalUnmount fails unmounting ipns"
### Version information:
go-ipfs version: 0.4.18-dev-
Repo version: 7
System version: amd64/darwin
Golang version: go1.10.3

### Type:
Bug

### Description:
Reproduction steps:

[code]

The reason it fails is the following process:
1. [mount_test.go#L45](https://github.com/ipfs/go-ipfs/blob/master/fuse/node/mount_test.go#L45) creates an offline node: `node, err := core.NewNode(context.Background()

[2018-09-16 17:55] lidel commented on #5168
@Stebalien what are the steps to rebuild go-ipfs with that dependency?

[2018-09-17 01:07] schomatis commented on #4561
Great! But we should first check with @Stebalien the status of this issue

[2018-09-17 01:15] schomatis commented on #5470
On it.

[2018-09-17 01:43] kjzz commented on #4561
Thx a lot @schomatis. If this issue is still pending,please ping me @Stebalien .

[2018-09-17 08:42] kjzz commented on #4442
Hey @Stebalien ， i has refactor some code and add `allow-offline` command in publish.Please help me review the pr #5477 ,Thx a lot.

[2018-09-17 09:11] StepOITD commented on #1807
Have anyone solved this problem yet ?

[2018-09-17 09:27] lidel commented on #1807
We are working on brand new version in `revamp` branch. It will support things like re-using API from IPFS Companion (which can be external one).

Stay tuned :)

[2018-09-17 09:47] hsanjuan commented on #5168
@lidel `gx-go uw; gx update go-ipfs-cmds <hash>; gx-go rw; make install` should do it.

[2018-09-17 10:48] overbool commented on #5470
@schomatis The `ipfs object` is not very uniform currently, because `ipfs object diff` support the `RawNode` but `ipfs object get` doesn't.

Is there any planning on refactoring these commands?

[2018-09-17 11:15] overbool commented on #3900
Maybe adding a `-k` option is a compromise.

[2018-09-17 11:31] overbool commented on #5456
@rob-deutsch Maybe `ipfs add`  regard the `./` as a special file, because I found the same result `added QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn ./`  after my several test. The `QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn` is a fixed value.

@Stebalien Can I try to solve him?

[2018-09-17 12:30] akshitababel opened #5478 "Run time error"
When I am running a program which is for a web response I am getting a run time error as follows :

http: panic serving 127.0.0.1:43802: runtime error: invalid memory address or nil pointer dereference
goroutine 6 [running]:
net/http.(*conn).serve.func1(0xc4200a4a00)
/usr/lib/go-1.10/src/net/http/server.go:1726 +0x11b
panic(0x9b5360, 0xd99230)
/usr/lib/go-1.10/src/runtime/panic.go:502 +0x24a
githu

[2018-09-17 12:37] overbool commented on #5456
@Stebalien
https://github.com/ipfs/go-ipfs-cmds/blob/master/cli/parse.go#L458-L460

Maybe this line should  add `fpath == "./"`

[2018-09-17 13:40] schomatis commented on #5456
Hey you two! Thanks @rob-deutsch for reporting this and @overbool for diagnosing it, the slash is definetly tripping the command up, I'm not sure if `./` should be added as a special case or if the path should be stripped off of the trailing slashes, @keks is the command specialist so he can take the lead on this one and help you fix it.

[2018-09-17 14:36] schomatis commented on #5470
Not really, they are going to be replaced by the `ipfs dag` commands, you could raise another issue to discuss adding support for raw nodes for the entire `ipfs object` command set, but I'm sure we could use your help with a lot of other more relevant issues. That being said, if you're interested in doing it as a way to learn more about how `go-ipfs` works under the hood go for it, just know that

[2018-09-17 14:43] keks commented on #5423
FWIW, snap still is at 0.4.14. @Stebalien did you try pushing another release after the snap was fixed?

[2018-09-17 14:47] keks commented on #5471
Hi @mkg20001,

if you want to install ipfs via your package manager, you will have to file this issue with your distribution. For example, Debian has a [list of prospective packages] that can be picked up for packaging by Debian maintainers. Apparently ipfs has been on that list for over three years now. Anyway, there is not much we can do about this, as this is a job for your distribution's maint

[2018-09-17 14:58] overbool opened #5482 "add support for raw nodes in the entire `ipfs object` commands"
Currently, the `ipfs object` command is not uniform, because `ipfs object diff` support the RawNode but` ipfs object get` doesn't.

Should we add support for raw nodes for the entire` ipfs object` command set or wait for the more perfect `ipfs dag` command?

[2018-09-17 14:58] keks commented on #5478
Hi @akshitababel , it seems like you are experiencing issues with go-ipfs-api. Please open an issue in that repo.
Also, the parts you pasted don't contain much valuable information for us. For example, the stack trace mentions go-ipfs-api, but no file name or line number. The main function does not does not even use go-ipfs-api. Based on this information, we can't really help you. Finally, please

[2018-09-17 14:58] #5478 closed

[2018-09-17 14:59] overbool commented on #5482
@Stebalien  @schomatis

[2018-09-17 15:00] keks commented on #5475
Thanks :) Feel free to ping me if you need help or guidance.

[2018-09-17 15:22] rob-deutsch commented on #5475
PR #5476 submitted :)

[2018-09-17 15:45] rob-deutsch commented on #5456
I just did some research, and I believe that QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn is the address of an empty directory.

I could be biased, because I just spent a few hours looking at it (for unrelated reasons), but I think the issue could be around...

[go-ipfs/core/coreunix/add.go#L380](https://github.com/ipfs/go-ipfs/blob/master/core/coreunix/add.go#L380)

I don't know if that code is

[2018-09-17 15:49] rob-deutsch commented on #5456
On second thought.... maybe my shell knowledge is incomplete! I just thought I'd try `ipfs add -r .` and I got the desired result:

[code]

So what's making a difference is whether I have `/` on the end of my path or not. I know that tar/cp/mv and friends can be picky when it comes to trailing `/`s.  Maybe go-ipfs is mirroring the same conventions?

[2018-09-17 15:51] keks commented on #5456
My approach would be to pull `fpath = filepath.Clean(fpath)` to the very beginning of the function, i.e. before the if branch. That strips any slashes and we have "." again.

[2018-09-17 15:55] mkg20001 commented on #5471
@keks Ok, I'll leave this issue open until those packages are ready.

[2018-09-17 16:02] Stebalien commented on #2649
You don't have `vim` installed. You'll need to either install `vim` or set a different editor.

[2018-09-17 16:03] overbool commented on #5456
@keks Is this what you mean?
[code]

https://github.com/ipfs/go-ipfs-cmds/pull/121/files#diff-3be2b56996dc8a3b09575e16f3cc9ef0L459

[2018-09-17 16:17] Stebalien commented on #5456
Really, we can just move https://github.com/ipfs/go-ipfs-cmds/blob/6aaaa76dfebaa3aea7030b9c505319235336da96/cli/parse.go#L471.

[2018-09-17 16:35] elopio commented on #5423
@keks, are you on the candidate channel? I don't want to push it to stable and trigger updates for everybody before a little more testing.

[2018-09-17 16:50] overbool commented on #5456
@Stebalien I had moved `fpath = filepath.ToSlash(filepath.Clean(fpath))` to the beginning, is it right?

[2018-09-17 17:32] VictorBjelkholm commented on #5270
I'm not sure where those hashes come from, don't remember. But here is another example from Cloudflares Stack Exchange archive:

https://ipfs.io/ipfs/QmVsEiBRsdiHMvmDVJTNtrXNqSKYdtoepcoZxUrQ8rU7qR/ham/A/index.html

There is supposed to be a directory called `/ham` under `QmVsEiBRsdiHMvmDVJTNtrXNqSKYdtoepcoZxUrQ8rU7qR` but the following happens instead:

[code]

[2018-09-17 17:38] magik6k commented on #5270
I'll look into this later today

[2018-09-17 17:59] VictorBjelkholm commented on #5270
Thanks @magik6k

IPLD explorer to the rescue! Loaded it up (https://explore.ipld.io/#/explore/QmVsEiBRsdiHMvmDVJTNtrXNqSKYdtoepcoZxUrQ8rU7qR) and found the "true" directory name `05ham` which actually resolves this time:

[code]

So it's not fully "not-working" :)

[2018-09-17 22:40] Stebalien commented on #5482
Let's wait (unless someone complains loudly). The `ipfs object diff` command made sense (kind of) as we don't actually *operate* on these nodes but `ipfs object get $NOT_AN_OBJECT` is a bit odd.

[2018-09-17 22:44] Stebalien commented on #5380
We'd probably want to *add* a type instead of replacing the existing one.

[2018-09-17 23:26] meteorplus commented on #2649
@Stebalien everyone hates VIM

[2018-09-18 00:09] schomatis commented on #5302
The problem happens when the file is being opened to be [flushed](https://github.com/ipfs/go-mfs/blob/master/file.go#L67) (after it has been [created](https://github.com/ipfs/go-ipfs/blob/996281702d9188ecd09901a7d33b960b259cae87/core/commands/files.go#L344-L350)).

We already need to rewrite the entire flush logic (https://github.com/ipfs/go-mfs/issues/3) but in the meanwhile I'll submit a PR wrap

[2018-09-18 00:29] tobowers commented on #5406
I'm travelling so moving slowly here. Thanks for all your help so far! I'm trying to figure out the peer id inside my app. it's giving me really short PeerIDs which don't look like IPFS ids: "0x1634ff0"

getting them from:

[code]

[2018-09-18 05:51] StepOITD commented on #1807
@lidel I know it's strange but, my ipfs docker just worked and I really don't know why.

[2018-09-18 05:57] StepOITD commented on #1807
@lidel Emmmm, I'm not sure if it's due to some network change, yesterday I set up a local webui and it's not working, neither can I visit `localhost:5001/webui`, and my code using js-ipfs-api to get id keep getting network no response error, but today it suddently worked. I can now access lots of peers via ipfs swarm peers, but there's only few peers yesterday, is this anyhow related?

[2018-09-18 05:59] StepOITD commented on #1807
And I tried to cut of my network, still working...

[2018-09-18 06:08] chenminjian commented on #3634
The issue should be closed, because the bug has been fixed. Test using ipfs daemon 0.4.18-dev and ipfs client 0.4.17.

[2018-09-18 09:51] lidel commented on #1807
@StepOITD really hard to tell without doing a deep dive into intricacies of your local setup, however usual suspects are:

- old webui won't work when loaded from hostname different than localhost (it is a hardcoded limitation)
- when you are running in docker it creates a private network (unless you pass ` --net=host`) and you need to create port redirect from localhost to ipfs' IP in this new do

[2018-09-18 16:50] whyrusleeping commented on #2649
Yeah, vim sucks. Use neovim.

[2018-09-18 20:04] schomatis commented on #5388
/cc @overbool (just checking if you may be interested in something here)

[2018-09-18 21:48] hannahhoward opened #5487 ""enhancement": Fast (parallel) Traversal For A DAG and That Stops At an Arbitrary Points"
Given a root CID, I would like to traverse that node's DAG quickly (making requests for children in parallel), and stop traversal of links on a per node basis using language I provide

[2018-09-19 00:02] overbool commented on #5388
@schomatis Yes, I would like to do it, thx

[2018-09-19 00:06] #3634 closed

[2018-09-19 03:01] Stebalien commented on #4978
Reopening as needs test.

[2018-09-19 03:08] kjzz commented on #5140
Hey @Stebalien , Did you have finished this issue?If not , I want to do for this. Because i want to learn more about gc through this issue.

[2018-09-19 03:47] rob-deutsch opened #5488 "coreunix, mfs, and unixfs are closely coupled to merkledag"
### Background

I have been hacking away on IPFS, trying to build an application on top of it, but I've found it quite challenging. In this issue I'd like to share my observations and get feedback from the devs.

I'm trying to build filesystem-like application, so I'm trying to utilise as much of `go-ipfs/core/coreunix`, `go-mfs`, `go-unixfs`, and `go-merkledag` as possible. Its desirable for all

[2018-09-19 05:10] zyhiang opened #5489 "'ipfs pin rm', 'ipfs block rm', 'ipfs repo gc' is not responding"
#### Version information:

go-ipfs version: 0.4.14
Repo version: 6
System version: amd64/debian
Golang version: go1.11

#### Type:

bug or intended?

#### Description:

My ./ipfs/block folder has a size of 1T and does not respond after executing the title command. The maximum time is twelve hours.

[2018-09-19 06:36] TonyGranato commented on #5191
Dear all,

any news on that issue. it still does not work, even manually...:

sh-3.2# ipfs-update install v0.4.17
fetching go-ipfs version v0.4.17
binary downloaded, verifying...
success! tests all passed.
stashing old binary
installing new binary to /usr/local/bin/ipfs
checking if repo migration is needed...
  check complete, migration required.
fetching fs-repo-migrations version v1.4.0
running

[2018-09-19 18:41] #5270 closed

[2018-09-19 18:46] Stebalien opened #5491 "Switch all path resolutions to the CoreAPI"
Currently, we tend to hard-code resolvers to use the unixfs resolver (or the IPLD resolver). Now that we have the CoreAPI, let's switch to using that. That will give us automatic support for *both* `/ipld/` and `/ipfs/` paths!

[2018-09-19 18:46] Stebalien commented on #5491
@magik6k want to take this?

[2018-09-19 20:21] Stebalien commented on #5456
Needs tests.

[2018-09-19 20:36] #5475 closed

[2018-09-19 21:28] swedneck opened #8809 "dir-index-html: feature request: image previews"

[2018-09-19 21:53] NiKiZe commented on #5302
So with this version when running
`ipfs files stat /builds/latest`
There will be no error?
Or at least running
`ipfs files stat --hash /builds/latest`
Would give the hash correctly?

[2018-09-19 22:34] magik6k commented on #5488
In hopefully near future `go-ipfs/core/coreunix` will get mostly replaced by `coreapi.Unixfs()` (from `core/coreapi`).

Can you tell a bit more about your use-case and why you need to dive to those lower-level layers? (just a lack of unified interface?)

[2018-09-19 23:40] ItalyPaleAle commented on #5037
I have the same issue. Freshly installed `go-ipfs` on macOS 10.13 (High Sierra). I tried it by requesting just a few pages (less than 10). 15 minutes with the daemon running, it was using 168% CPU and significant energy.

[2018-09-20 00:15] Stebalien commented on #5421
So, @djdv is adding a `--dereference-symlinks` option to follow symlinks on add. However, I'm not sure if that *entirely* fixes your issue as it will *erase* the symlinks entirely.

For relative symlinks that don't leave the root, we could probably follow them on `cat`. However, this isn't really something we can do otherwise (for obvious security reasons, we can't leave the `/ipfs/` namespace). W

[2018-09-20 02:39] kjzz commented on #4191
hey @whyrusleeping , Has this issue finished?If not , i am willing to do it.It maybe will help me learn more about swarm.

[2018-09-20 03:30] schomatis commented on #5487
Hey @hannahhoward, I'm currently working on a PR (https://github.com/ipfs/go-ipld-format/pull/39) that has many similarities with the requirements you're describing but it still has a long way to go to meet all of them. It's basically a structure to walk DAGs providing a `Visitor` function to let the user lay some logic on top of it, it was born out of some code extracted from the UnixFS DAG reade

[2018-09-20 03:32] schomatis commented on #5487
Also, welcomed to the team! :tada:

[2018-09-20 06:39] rob-deutsch commented on #5488
Thanks for the info on `coreapi.Unixfs()`. I just took a look at the code in master which is seeming like a work in progress. What's the best way to get up to speed on it? Is there a specific branch or issue to take a look at? (I searched but didn't come up with much)

The use-case is a tad tricky to explain concisely, because there's two ways it can be seen 1) the thing I'm trying to build, 2) th

[2018-09-20 06:41] rob-deutsch commented on #5488
Thanks for the info on `coreapi.Unixfs()`. I just took a look at the code in master which is seeming like a work in progress. What's the best way to get up to speed on it? Is there a specific branch or issue to take a look at? (I searched but didn't come up with much)

The use-case is a tad tricky to explain concisely, because there's two ways it can be seen 1) the thing I'm trying to build, 2) th

[2018-09-20 07:30] rob-deutsch opened #5495 "cmd/ipfs/util max fd tests don't work on MacOS"
### Version information:
go-ipfs version: 0.4.18-dev-
Repo version: 7
System version: amd64/darwin
Golang version: go1.10.3

### Type:
Bug

### Description:

[code]
This test can be found [here](https://github.com/ipfs/go-ipfs/blob/777d306f6e66e31a05f43a337bce272050407386/cmd/ipfs/util/ulimit_test.go#L24).

This test is trying to set the FD limit higher than your OS's maximum allowed. The problem

[2018-09-20 09:00] cannium commented on #4623
I happen to encounter the comments when reading related code. Some thoughts:
- `exchange.HasBlock` return error only if the write to datastore fails. If it fails, would peers know the new blocks?(haven't read about bitswap...) If not, then we should not simply ignore the error, at least make it optional for users to choose.
- Would some kind of batch processing be useful here, like `exchange.HasBl

[2018-09-20 09:46] magik6k opened #5497 "Merge 'file ls' and 'ls' commands"
`ipfs file ls` is this command which duplicates half of the normal `ls` functionality and missing the other half (plus seems to be a bit outdated).

IMO we should just remove it and merge it's functionality with the normal `ls`

(first commit which mentions it: https://github.com/ipfs/go-ipfs/commit/434871ba18662db366907e358654728a357f9c0e)

[2018-09-20 10:16] timthelion opened #5498 "Daemon should print version on startup"
The daemon should print its version on startup. It's already noisy enough, so why not add more ;)

[code]

[2018-09-20 10:19] magik6k commented on #5488
Have you tried setting custom `fileAdder.CidBuilder`? It seems to be what you want:

[code]

Example implementation: https://github.com/ipfs/go-cidutil/blob/master/inline.go

Integrating the read part will be likely much trickier, involving lots of poking in go-unixfs

[2018-09-20 10:20] timthelion opened #5499 "IPFS does not work after upgrade"
#### Version information:
[code]
#### Type: Bug
#### Description:
After upgrading to the latest version of IPFS, it does not work. If I go to any ifps or ipns link in the browser I see: `Cannot GET /ipns/Qme48wyZ7LaF9gC5693DZyJBtehgaFhaKycESroemD5fNX/post/putting_this_blog_on_ipfs/`.

Note: the hash changes based on the content ;)

Note 2: I did not test immediately before the upgrade. I test IPFS

[2018-09-20 10:33] VictorBjelkholm commented on #5270
Thanks @Stebalien and @magik6k, I can confirm that the `resolve` now works for sharded directories!

[2018-09-20 12:01] kjzz commented on #5497
@magik6k if you did't finish this work , i am willing to help you do for this?WDYT?

[2018-09-20 12:27] schomatis commented on #5488
Also, maybe this encryption layer can be of use: https://github.com/jbenet/ipfs-senc.

[2018-09-20 12:36] schomatis commented on #5302
No, that wasn't fixed, I got hanged with the first error.

[2018-09-20 12:39] schomatis commented on #5302
We could just add another case in the command itself, but I rather solve this in `go-unixfs` instead of hard-coding more attributes here
https://github.com/ipfs/go-ipfs/blob/987fef12668f58dfdc5ca115fe87f5255222f455/core/commands/files.go#L231-L239

[2018-09-20 12:42] rob-deutsch commented on #5488
I have considered this, but it doesn't work. Firstly, in addition to a custom `fileAdder.CidBuilder` I'll also need a custom BlockService/DAGService. No biggie, but the problem is that they both somehow need to know either:

a) A nonce that's added inside the encrypted block
b) An IV at the beginning of the block

The read part was actually easy to implement. I've already done it. It just required

[2018-09-20 12:46] schomatis commented on #5302
@overbool What do you think? This could be resolved in a similar way to the `IsDir` feature, but creating a more general function that would classify the types. Thinking about this it seems more a responsibility of the MFS layer than of UnixFS to make this type of classification. I'll need to give this some more thought. I need to finish the documentation of the UnixFS protobuf types (https://gith

[2018-09-20 12:46] overbool commented on #5217
@schomatis can i help you do for it?

[2018-09-20 12:49] schomatis commented on #5217
Yes, go ahead!

[2018-09-20 12:55] schomatis commented on #5488
I don't fully understand (but you don't need to answer this) why this needs to be implemented at the block level and not at the UnixFS/MFS layers adding some kind of encrypted file type. Proto/raw nodes (seems to me) are more about how we cut a file up for convenience of transport and storage but I would encrypt the source (file) instead of the bit streams generated from it.

[2018-09-20 13:00] rob-deutsch commented on #5488
It _could_ be done at that level, but I don't think its the right way to do it.

I'm not entirely sure what type of implementation you've got in mind, but the biggest issue I see is "how do you also encrypt the file names?"

[2018-09-20 13:06] overbool commented on #5302
@schomatis I think we could add a function like `TypeString()`:

[code]

[2018-09-20 13:09] VictorBjelkholm commented on #2590
One step towards this would be to have the opposite of what was implemented for https://github.com/ipfs/go-ipfs/issues/1226, basically have in the config `Swarm.AddrFilters` but it works the reverse way, only allow connections that matches the filters.

This way, you can have nodes in a network who only accepts connections from within the network. Would be great to have for Guifi deployments (and

[2018-09-20 13:12] overbool commented on #5302
just like you comment in https://github.com/ipfs/go-ipfs/issues/5217, we could replace `FromBytes ` with `FSNodeFromBytes `, and then:

[code]

[2018-09-20 13:17] rob-deutsch commented on #5499
Hey, could you jump over to the command line and try:

`ipfs get /ipns/Qme48wyZ7LaF9gC5693DZyJBtehgaFhaKycESroemD5fNX/post/putting_this_blog_on_ipfs/`

This ought to give more information about what's gone wrong.

[2018-09-20 13:32] timthelion commented on #5499
That works, which lead me to realize what the problem is, and it's not a bug in ipfs-go at all, but rather ipfs-companion in chromium. The companion is redirecting me to the port 8080 (where node.js runs), when my ipfs gateway is on port 9001.

[2018-09-20 13:32] #5499 closed

[2018-09-20 13:33] schomatis commented on #5488
Good point, that is stored at the DAG level, you'd also need to implement your own type of MFS directory that would store the name of its files as part of its content instead of relying in lower layers. But yes, your project sounds more like an encrypted volume ("vault" as you call it) and the current code is not prepared for it. I would be interested in taking a look at your encrypting implementa

[2018-09-20 14:45] overbool commented on #5497
@magik6k currently, some `go-unixfs` functions are refactoring: https://github.com/ipfs/go-ipfs/issues/5217 and https://github.com/ipfs/go-unixfs/issues/3.

so, I think this issue could wait until the issues mentioned above are fixed. However, it is also a good choice to solve this issue firstly.

WDYT?

[2018-09-20 14:53] overbool commented on #5497
@kjzz, I am fixing https://github.com/ipfs/go-unixfs/issues/3 and https://github.com/ipfs/go-ipfs/issues/5217, and noticed this issue at the beginning. But i forgot to ping u, sorry.

[2018-09-20 15:43] kjzz commented on #5497
The reason why i did not fix it immediately is this featuren may cause breanking.Also the issue should influence `js-ipfs`.So this issue need to be considered carefully by offical team,

[2018-09-20 15:44] TUSF commented on #4740
Currently, the only way I can think of that would let you measure the bandwidth of any particular CID, is to monitor `ipfs log tail`, and capture all bitswap events for when a particular peer asks for a block.

However, this is far from ideal, as you we can't know how much of a block was actually succeffuly downloaded; just how many times it was "hit". Which I suppose may be "good enough" for most

[2018-09-20 16:08] overbool commented on #5497
@kjzz I don't have any experience with `js-ipfs`. If this issue will influence `js-ipfs`, maybe it should be handled with care.

[2018-09-20 17:00] overbool opened #5502 "Maybe `ipfs ls` is not quite reasonable"
I have two type ipfs path `QmRi5n1jzAtqGWQKJbeV4Sv3kGPt3XDfzhWojxiCVpKVdv`(is a symlink) and `QmYuz8WeF7LbwmQB1enoMsEPgFoB2EYaxrEyxGXwceGsmZ` (just a regular file).

[code]
both of them will print nothing.

But

[code]

The first command will print a error and second one print itself.

I think `ipfs file ls ` is more reasonable than `ipfs ls ` at this point.

WDYT?

@schomatis @Stebalien @magik6k

[2018-09-20 17:22] hannahhoward commented on #5487
@schomatis thank you for the pointer -- I need to review it more in full and will give more feedback shortly. Have you also seen the code here: https://github.com/ipfs/go-merkledag/blob/master/merkledag.go#L363

This code specifically deals with (abstract? - can't tell) DAG traversal but seems to have good parallelism -- though I think without the level of control over how traversal is done in you

[2018-09-20 19:43] Stebalien commented on #5502
Ideally, these would use the same logic. But I'll defer to @schomatis on this one.

[2018-09-20 19:44] Stebalien commented on #5502
(or @kevina, I just know that schomatis has been working on MFS and unixfs relates stuff lately)

[2018-09-20 19:56] Stebalien commented on #5498
I agree. Anyone: feel free to pick this up, it should be fairly straight-forward.

[2018-09-20 20:41] lgierth commented on #5287
Let's switch to CIDs?

[2018-09-20 21:05] eingenito commented on #5461
Hey @dlnuwlx did you solve this problem? `ipfs swarm connect` shouldn't be required between two hosts sharing files. But it can speed up the time it takes ipfs to begin transferring data. If your nodes are already connected (like via `swarm connect`) the fetching host won't need to ask for records from the DHT to start retrieving the data; they can begin transferring data immediately.

Can you try

[2018-09-20 21:06] Stebalien commented on #5376
Test case:

[code]

The last two commands should block indefinitely.

[2018-09-20 22:36] eingenito commented on #4908
@ajbouh @hannahhoward has picked this back up. See the linked issue for more details.

[2018-09-20 22:37] overbool commented on #5498
@Stebalien I print version as follow:

[code]

WDYT?

[2018-09-20 23:09] Stebalien commented on #4191
This has not been fixed. The current thinking is that we'll add some option to the *context* saying "only dial these addresses when connecting to this peer".

[2018-09-20 23:10] overbool commented on #5502
@schomatis
https://github.com/ipfs/go-unixfs/issues/17 and https://github.com/ipfs/go-unixfs/issues/3 are being fixed.

Maybe this issue could wait until those issues mentioned above are fixed.

[2018-09-20 23:13] overbool commented on #5497
@magik6k it's better to fix https://github.com/ipfs/go-ipfs/issues/5502 firstly.

[2018-09-20 23:43] renne opened #5504 "IPFS mount write support"
#### Version information:
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

#### Type:
Enhancement

#### Description:
Using the `ipfs add -r` and `ipfs name publish` commands and copy and paste hashes around is quite inconvenient.

So I suggest to make IPFS mounts writable by allowing to directly create directories and files and update them in `/ipns/<h

[2018-09-20 23:53] overbool commented on #5504
@renne maybe you can try `ipfs add -r -q  <dir> | tail -n1 | ipfs name publish`

[2018-09-21 01:14] schomatis commented on #5502
Yes, `ipfs ls` has always been a mess.

The `ipfs ls` command works more on the DAG/UnixFS layers whereas the `ipfs files ls` operates strictly at the MFS layer,

[code]

But before jumping to any fix I would actually need that someone would clarify what's expected from those two commands, they don't seem the same to me (the plain "object" term is actually meaningless to me).

@Stebalien @kevina

[2018-09-21 01:28] schomatis commented on #5487
Yes, `EnumerateChildrenAsyncDepth` has the distinct advantage that it doesn't traverse in order, but that could be added to the DAG walker, actually I wanted to add something like this to replace the way `gx` traverses a dependency graph to [download the packages](https://github.com/whyrusleeping/gx/blob/855ebcf2e2e25d7d55f28f5c35044e8e75264c17/gxutil/pm.go#L754), since Gx dependencies are basical

[2018-09-21 02:03] kjzz commented on #4191
Thxs for replying. You mean that I shold add a option such as `--allow-others`(the option name must not the best one,anther will be better) . This option can determine whether to connect to other nodes when use command `ipfs swarm connect`.WDYT?

[2018-09-21 04:33] kevina commented on #5502
@schomatis there is a third command that I didn't even knew existed until a few days ago (while working on the `--cid-base` flag.  `ipfs file ls`.  This is different from `ipfs files ls`.

I agree `ipfs ls` needs to be cleaned up so that `ipfs file ls` is no longer necessary.

[2018-09-21 04:56] kevina commented on #5217
Offhand this sounds like a good idea. But I would need to see the P.R. before I am able to give any opinion.  Refactors like this are hard for me to visualize without just doing it.  Also a p.r. makes sure we don't miss any corner cases.

[2018-09-21 07:12] TUSF commented on #3942
I was about to make a feature request related to this, but instead I'll just revive this issue, and give my input.

I'm thinking that this sort of feature could be added as a [Plugin type](https://github.com/ipfs/go-ipfs/blob/master/docs/plugins.md). A "Resolver" type that takes a path/protocol, and returns a link to be resolved to the content. This could be handled in the way libp2p likes to hand

[2018-09-21 09:34] renne commented on #5504
@overbool
An uppercase `Q` saves the tail command: `ipfs add -r -Q <dir> | ipfs name publish`

It doesn't solve the additional manual operation when e.g. sharing the directory via Samba.

[2018-09-21 09:54] lidel commented on #4356
Somehow related update: Cloudflare added some DNSSEC hardening in their fork: https://github.com/ipfs/go-ipfs/compare/master...cloudflare:master

Did not dig into details, but relevant bit (for he title of this issue) seems to be "DNSSEC-validating resolver that's capable of exporting DNSSEC proofs." (with hardcoded digests for their domain):
https://github.com/cloudflare/go-ipfs/blob/dcfd65711ed6

[2018-09-21 13:01] rklaehn commented on #3786
So do I understand this correctly that at the moment, when some piece of data is available on a lot of peers, that actually makes things *worse* because the poor requester will be flooded with answers from *all* the providers? This would seem to be a *serious* problem. Any recent work on this?

[2018-09-21 14:46] overbool commented on #5502
Currently, some changes were made to the `ipfs ls`.

**1. file size**
Lists file sizes that match the content size, instead of old `ipfs ls` that will print size including fanout links and the typing information.
[code]

**2. symlink:**
It will print `Error: cannot list symlinks yet` just like `ipfs file ls`.
[code]

**3. list a regular file:**
It will print the regular file hash and size instead

[2018-09-21 15:47] kjzz commented on #3643
Hey @whyrusleeping , Has this issue been finished?If not,i am willing to di this.

[2018-09-21 15:53] kjzz commented on #4561
Hey @schomatis @Stebalien , i have create a pr #5506  about this issue . Could you help me review it?

[2018-09-21 16:30] djdv commented on #5504
I am working on an implementation of mount that should be more flexible.
https://github.com/ipfs/go-ipfs/issues/5003
The current implementation has read only support for IPFS, IPNS, and MFS.
But the goal is to have writable IPNS for keys you own, and writable MFS, at least.

[2018-09-21 17:47] Stebalien opened #5508 "Hang in refs -r"
https://api.travis-ci.org/v3/job/431418915/log.txt

[code]

And then it hangs.

[2018-09-21 17:53] ivan386 commented on #3786
@rklaehn  Yes. Work is here: https://github.com/ipfs/go-bitswap/pull/8

[2018-09-21 20:55] #5498 closed

[2018-09-21 22:58] lidel commented on #5168
@Stebalien  tested fix from https://github.com/ipfs/go-ipfs-cmds/pull/116 (disabled Companion's workarounds for the duration of the test) and it solves the issue for all samples that were known to me to trigger the error.

[2018-09-22 05:07] rob-deutsch commented on #5488
@schomatis, do you mean my decryption implementation (built into go-ipld-format) or how I plan to actually encrypt blocks?

Also, is the plan to keep IPFS using `ProtoNode` and `RawNode`, or is it planned to move everything to `cbor node`s?

[2018-09-22 05:39] h1z1 commented on #4990
Curious if anything further has happened with this?    I threw up a few nodes after cloudflare made their annoucement and I'm quite surprised at some of the traffic. There are a handful of hosts getting hit with several thousand connections per second.   The connections themselves were very short, sometimes not even a single data packet.    My hosts are on 10G but I have to wonder who else isn't s

[2018-09-22 09:39] klueq commented on #3318
0.4.17, 300 MB on a new ipfs init. That's not going to work and the reason is not the tiny VPSes, but Android and iOS phones that usually have 1 GB of RAM with much less available at runtime.

[2018-09-22 12:40] alexanderkjeldaas opened #5511 "IPFS should not default to doing port scanning"
Regarding issue #1226, #1173, #1433, #4343, #5418, #5473, and also helm/charts#7746 is relevant.

These issues relate to the port scanning / default profile used by ipfs.

This issue is about the current default when running:

[code]

issues port scanning traffic.  This means that it's highly dangerous for any business to use ipfs.  It can cost thousands of dollars in lost revenue to have access r

[2018-09-22 12:41] vext01 commented on #3429
I'm not sure if it's bandwidth of the sheer number of connections to peers, but running IPFS on my home network renders my internet connection unusable.

I've not tried trickle yet, but i'd prefer way to say "please only connect to 50 peers". The watermark settings don't seem to allow this...

[2018-09-22 12:46] vext01 commented on #3320
I'm using a crappy TalkTalk router provided by the ISP and I've been unable to find a configuration where IPFS doesn't drag my internet connection to it's knees.

Using ifstat I see usually between 200kb/s and 1MB up and down whilst ipfs is connected to a couple of hundred peers.

I'd like to try connecting to fewer peers, but even with:
[code]

ipfs still connects to hundreds.

[2018-09-22 12:47] alexanderkjeldaas commented on #5471
Make sure it's safe to run #5511

[2018-09-22 12:55] lgierth commented on #5511
It's legitimate attempts to connect to IPFS nodes, using addresses it has learned from the DHT. It's not port scanning, not by any definition. We have argued this with many hosters, some have fixed their monitoring, others are stubborn. A few even told us we're not smart enough to grasp their sophisticated "intrusion detection" systems.

Whether these local-network addresses should be published to

[2018-09-22 12:59] lgierth commented on #5471
Let's go with a PPA before attempting to add IPFS to the official Debian/Ubuntu repos. IPFS is far from stable software, and having it in the official repos is only going to lead to a ton of old IPFS nodes out there.

- Debian/Ubuntu packaging :+1:
- PPA :+1:
- Official repos :-1:

[2018-09-22 13:18] burdakovd commented on #5418
To be clear, this particular issue is _not_ about the following two things:
1) Why ipfs is not enabling server profiler by default
2) Why it is attempting to connect to local addresses (which has beend discussed in other issues before)

It is rather about why after enabling server profile, ipfs still attempts to connect to the same node (public IP) at dozens different ports, and how do we prevent

[2018-09-22 17:26] EternityForest commented on #3429
The trouble with limiting connections is that AFAIK the DHT doesn't seem to
keep track of peers you aren't connected to(Am I correct on this?).

What about adding a third state where a peer is registered but not
connected, where it's only pinged at exponentially increasing intervals up
to a day or so, to ensure that it's still there.

Wantlists wouldn't get broadcast to them, so you could have tho

[2018-09-22 19:06] alexanderkjeldaas commented on #5418
Does IPFS use STUN server?

[2018-09-23 07:17] bjzhang commented on #5135
When I read the codes in [go-unixfs/importer/helpers/helpers.go](https://github.com/ipfs/go-unixfs/blob/master/importer/helpers/helpers.go). I found that the [comments of roughLinkSize and DefaultLinksPerBlock](https://github.com/ipfs/go-unixfs/blob/master/importer/helpers/helpers.go#L31-L32) is difference from the value of [them](https://github.com/ipfs/go-unixfs/blob/90ca3d9c165afd58472f7597dc21

[2018-09-23 09:03] klueq commented on #3318
As it usually happens, we write software in assumption that a typical user has a 24 CPUs, 32 GB RAM Linux station :)

[2018-09-23 11:32] rob-deutsch commented on #5511
I totally concur. Publishing local-network addresses to the global DHT doesn't make sense to me.

If there is a strong desire to have seperate IPFS swarms within private networks, then there might be a desire to publish local-network addresses to the DHT but maybe this is better handled with a specific configuration operations?

[2018-09-23 11:47] rotemdan opened #5513 "Option to restrict gateway to only serve locally available / cluster content"
I'm investigating the suitability of IPFS as a server side file storage and distribution medium.

I can manage, upload and pin files through the HTTP REST API (:5001). I would like to have the stored files available both through the IPFS network and through HTTP. The gateway seems like an easy, simple solution to provide the files directly through HTTP with good latency to the user (and would poss

[2018-09-23 14:08] dlnuwlx commented on #5461
Hi eingenito
Thanks, Got it,
I found that "ipfs get HASH" was slower than "https://ipfs.io/ipfs/HASH" by browser,  "https://ipfs.io" is also a ipfs node as a gateway, right?

[2018-09-23 14:33] magik6k commented on #5513
So I don't think there is an easy way to tell if a block is pinned without loading the whole pinned tree to the memory (which seems to be what GC currently does).

For a simpler solution - we could ad an option which makes the gateway not look for blocks in the network and instead only use what already is in the blockstore (so only pinned data and cached content (which can be removed with `ipfs re

[2018-09-23 16:01] rotemdan commented on #5513
For the most part, given that the kind of node I'm describing would be dedicated to only storing content, and not retrieving it from the larger network (possibly aside from replicating other cluster nodes, which I'll describe next), almost all local content would be pinned anyway, so I guess simply checking for local availability, regardless of pin status, could work (if the performance would be s

[2018-09-23 16:18] schomatis commented on #5502
:fearful:

[2018-09-23 16:32] schomatis commented on #5488
both, I used the encrypt term to actually mean encrypt/decrypt.

I *think* those nodes won't be deprecated, but I can't say for sure.

[2018-09-23 16:38] schomatis commented on #5135
Instead of removing the comments I would like them to correctly reflect the current values, but yes, open an issue about it and tag kevina who might now how are those values estimated.

[2018-09-23 17:15] rob-deutsch commented on #5502
Can I suggest that some serious thought has to be given to what's trying to be achieved here - and maybe everyone needs to take a step back and consider the broad picture: what should be the structure of the commands for `ipfs`. If there isn't a master plan then we risk running in circles trying to make things logical and consistent.

For example, with respect to this bug report, it could be sugge

[2018-09-23 17:32] rob-deutsch commented on #5502
(You caught me pre-edit, but all did was soften my language a tad :P)

With regards to working towards a solution, I have a suggestion: Should we create a text representation of all ipfs commands in a tree like structure - and then hack away at it until we come up with something elegant and (relatively) future proof?

Maybe a gist would be a good way to to manage revisions and suggestions for it..

[2018-09-23 18:04] schomatis commented on #5487
Yes, agreed, actually @hsanjuan had already proposed something like this in https://github.com/ipfs/go-ipfs/pull/5257#issuecomment-414396172, I'll open an issue about it.

[2018-09-23 19:11] kevina commented on #5502
Unless something has changed recently, GitHub does not send notifications out for gist comments, which will make it difficult if not impossible to keep up with.  A better idea is to create a p.r. in the form of a documentation.  This repo may not be the best place, but I am not sure where a better place may be.  An other alternative is to create a new repo _just_ for this purpose, populate it with

[2018-09-24 00:34] rob-deutsch commented on #5488
My POC is available here: #[rob-deutsch/go-merkledag/tree/poc/decrypt](https://github.com/rob-deutsch/go-merkledag/tree/poc/decrypt).

It's not too much code, so its all in a single commit.

I can give the following summary:

1. Previously, `dagService.Get()` called `ipld.Decode()` directly to turn a block into into an `ipld.Node()`. I've modified `dagService.Get()` so that it first checks if its

[2018-09-24 01:36] rob-deutsch commented on #5502
For what its worth, I've written some very horrible code to output the entirety of the list of `go-ipfs` commands:

https://gist.github.com/rob-deutsch/6f051947ea535f490a6cf34b86231e0f

[2018-09-24 06:21] rotemdan opened #5515 "Option to prune instead of GC when StorageMax is reached"
Currently, the only available approach to deal with overgrowth of the repository is to basically delete everything that's not pinned.

If we equate with traditional notions from the HTTP world where basically `pinned = local` and `unpinned = cached proxied content` that approach might be considered extreme and inappropriate.

It would seem more natural to have a setting to only delete the least re

[2018-09-24 07:31] Stebalien commented on #5515
Ideally, we'd keep some form of frecency metric and prune things we don't use often. However, tracking this becomes really tricky. This will take quite a bit of design work.

[2018-09-24 07:36] #5217 closed

[2018-09-24 08:48] Stebalien commented on #4137
Note: Bitswap sessions (https://github.com/ipfs/go-ipfs/issues/3786) will help reduce background traffic significantly.

[2018-09-24 10:27] Stebalien commented on #4191
SGTM. The tricky part will be wiring this all the way down to the swarm/network.

As for naming, maybe `--routing=false` or something like that? Really, that's what we're doing. We're turning peer routing off. However, that may not be explicit enough so I'm open to suggestions :smile:.

[2018-09-24 11:27] Stebalien commented on #5140
Go ahead.

[2018-09-24 12:46] schomatis commented on #5157
This issue has been addressed in a couple of PRs now (the last one being https://github.com/ipfs/go-unixfs/pull/16) we can close it.

[2018-09-24 12:46] #5157 closed

[2018-09-24 12:48] schomatis commented on #5066
This will be continued in https://github.com/ipfs/go-mfs/issues/3.

[2018-09-24 12:48] #5066 closed

[2018-09-24 13:02] nadendlaprasad opened #5519 "Using ipfs dht to store key and value pair"
I would like to use **ipfs dht** to store {key,value pair}.
for example:   ipfs dht put "key1" "hello"
  Here **key1** is the key which stores the value **hello**
But, As per my understanding, to store {key,value} pair using **ipfs dht put**  key must have the valid key type. I see the only available keystype as **ipns** . Is it possible to create custom key type ? If yes could you please share th

[2018-09-24 13:13] dadittoz commented on #4343
I've had the similar problem with Hetzner. Looks like blocking these 3 network is not enough. Just got a message from them.
[code]

[2018-09-24 13:58] magik6k commented on #5513
For the cluster case - this would probably have to be implemented at bitswap level, where we'd filter from which peers we want to fetch content. We could do that at lower level, but:
* If we made this on the multiplexer level (allow bitswap to only connect to some allowed set of peers), we wouldn't be able to send blocks to peers outside the allowed group / cluster
* If we were to do this on the s

[2018-09-24 13:59] renne commented on #5504
I always prefer OS-independent implementations. A drawback I see with cgo-fuse is the lack of go-toolchains for embedded devices (e.g. OpenWRT).

[2018-09-24 14:02] Stebalien commented on #4964
Merged.

[2018-09-24 14:02] #4964 closed

[2018-09-24 14:04] nadendlaprasad commented on #5519
@overbool  Thanks for your reply. Is there anyway to create a custom keytype ? Like for example i want to create a keytype called **hello**

[2018-09-24 14:09] Stebalien commented on #5511
1. We could, and probably should, create one DHT per distinct private IP network. However, this will require some improvements to our DHT protocol.
2. For each peer, we should filter the addresses we advertise to them based on their IP address and the IP/netmask of the interface we're listening on. This is something we can do right now and it should solve the private network use-case.

Together, t

[2018-09-24 14:17] Stebalien commented on #4343
Please apply the server profile: `ipfs config profile apply server`. That will block all non-routable addresses.

[2018-09-24 14:45] dadittoz commented on #4343
@Stebalien thank you, this works fine. Just to explain how it happened to me as a regular user. The flow is this:

1. Learn about IPFS, be exited to try it out
2. Install Docker image
3. Get abuse triggered by Hetzner
4. Search Google for solution and come to this page
5. Find out --profile doesn't work for docker image and you have to use daemon --init-profile option
6. Find out --init-profile do

[2018-09-24 15:12] rotemdan commented on #5513
Thanks for looking at this. I've found an alternative approach to filter URLs using cryptography instead (for the cluster case mainly, since the local-only case is trivial to implement efficiently), though it requires additional intermediary filtering server (unless IPFS would support it as a part of the CID spec) and has various other limitations:

Instead of links, being, say:
[code]

Have them

[2018-09-24 21:31] eingenito commented on #5461
Yes - ipfs.io is a public ipfs gateway. If you can see unique content you've published there it probably means that your providing node (the node you invoked `ipfs add` on) successfully published a provider record and its peer information to the DHT. It also means that the gateway was able to receive that data from your node via bitswap. That would seem to indicate that there's an issue with your

[2018-09-24 21:31] #5461 closed

[2018-09-25 01:58] overbool commented on #5519
As far as i know, `ipfs dht put` only supports `/ipns` key type currently.

[2018-09-25 02:04] h1z1 commented on #4990
Indeed there are some nodes with many listteners but I've yet to find one with a thousand :)   To be clear, in the case with no data packets I simply see SYN,SYN/ACK,FIN.

 Perhaps the wrong place to ask (I'll edit this if so no worried), but may be related is there are a lot of 0 byte packets on established connections.    Not entirely sure why GO is defaulting to disabling nagle?  Results in tin

[2018-09-25 05:05] #5495 closed

[2018-09-25 07:35] kjzz commented on #4561
Hey @schomatis  @Stebalien  , i have create a pr #5506 about this issue . Could you help me review it?

[2018-09-25 12:29] overbool commented on #5460
@Stebalien Does this issue still need to be solved? It looks like `libp2p daemon` did the same thing.

[2018-09-25 13:01] nadendlaprasad commented on #5519
can we expect this feature in the coming versions?

I mean allowing the users to create a keytype of their own and using the DHT functionality to persist {key,value} pair across the nodes

[2018-09-25 17:05] eminence opened #5520 "better content-type for wasm"
#### Type: Enhancement

#### Description:
I'd like to use ipfs to host small applications written in web assembly.  Currently the public ipfs gateways are serving webassembly files (.wasm extension) with the `application/octet-stream` content-type.  However browsers require that web assembly files be served with the `application/wasm` content-type.

This enhancement request is for the IPFS gateway

[2018-09-25 18:55] douglasmsi commented on #5402
I deleted the files and just started again the daemon. It's work.

[2018-09-25 18:55] #5402 closed

[2018-09-25 19:16] Stebalien commented on #5520
Possibly related to https://github.com/ipfs/go-ipfs/issues/4025

[2018-09-25 19:29] Stebalien commented on #4990
Ideally, we'd handle this in userland.

Related: https://github.com/libp2p/libp2p/issues/47.

Is that a single *peer* or a single IP. If it's a single IP but multiple peers, it's probably a large NAT. Otherwise, it may be due to a bug we had where long-lived nodes never cleaned up old "observed" addresses (that likely never worked in the first place).

---

However, that wouldn't explain your *inb

[2018-09-25 19:46] Stebalien opened #5521 "Switch to the new iptb"
We have a new iptb version with a changed API. Somebody needs to go through and update all invocations of `iptb` in our test cases to use this new API.

[2018-09-25 19:46] Stebalien commented on #5521
@ipfs/go-team who wants this? It's not exactly a glorious task but we need to get it done.

[2018-09-25 19:52] burdakovd commented on #3318
Here is another datapoint. On a machine with 1.7 GB of RAM and 3G of swap, running only IPFS daemon in server mode and nginx, after 4 days we see 1.6 GB of RAM used and 550 MB of swap space used.

![image](https://user-images.githubusercontent.com/5193161/46039088-bbd30980-c104-11e8-9fdb-523865068614.png)

[2018-09-25 20:15] bigs commented on #5521
commenting to follow this issue, as i'll be doing similar stuff for libp2p

[2018-09-25 23:10] h1z1 commented on #4990
Is that something already being worked on ?  Was looking at how to set socket options in GO as a quick hack, couldn't find anything.

Both.  it' was a single peer with one IP.

Just the public IP address is being advertised.  Kinda surprised there are no default filters for private addresses but I added them.   Though they are blocked / unrouteable at the edge, IPFS keeps trying relentlessly..  It

[2018-09-26 00:27] schomatis commented on #5055
At this point I don't think we can rename the proto-buf names, so let's try to use the `unixfs` short alias as much as possible throughout the code base (and thus avoid direct reference to the `unixfs_pb` package -in`unixfs.pb.go`- as much as possible as we've been doing with https://github.com/ipfs/go-unixfs/issues/17).

/cc @overbool

[2018-09-26 00:41] schomatis commented on #5059
I think this has been clarified enough with the balanced builder [refactoring](https://github.com/ipfs/go-ipfs/pull/5118) (which should be used as the reference to understand the question of this issue, the trickle builder will follow a similar process in https://github.com/ipfs/go-unixfs/pull/10).

[2018-09-26 00:41] #5059 closed

[2018-09-26 01:41] schomatis commented on #5055
Yes exactly!

[2018-09-26 04:55] Stebalien commented on #4990
We could enable it but that's not necessarily the correct choice. In fact, we create our own sockets (we needed to set an option we couldn't) so we mimicked go's choice here.

When I said "in userspace", I meant "we should buffer up small writes before passing them to the kernel":

1. Syscalls are expensive.
2. We have our own "packet framing" in userspace. For example, our transport security prot

[2018-09-26 05:13] Stebalien commented on #5511
Proposed solution: https://github.com/libp2p/go-libp2p/issues/436

[2018-09-26 05:32] klueq commented on #3318
Can we have a flag to limit the number of peers and some smart logic to discard bad peers and get good ones? That seems to be the unavoidable reason for high memory footprint.

[2018-09-26 08:10] mitra42 commented on #5471
Yes - we are needing a way to do an automated install for IPFS in order to put it in docker so we can move IPFS into our production environment (at Internet Archive), and were hoping for apt-get as the docker instructions don't work for our situation for a couple of reasons.

[2018-09-26 08:18] mitra42 commented on #3595
is there a set of instructions for getting any of these to work in a semi-automated fashion, so for example it would work in a Dockerfile (the IPFS Dockerfile cant be integrated into other Dockerfiles easily, which is a topic of other issues).  We've been banging our heads on this as a prelude to pushing iPFS into our production environment at Internet Archive.

[code]
Or some set like that, which

[2018-09-26 08:37] dokterbob commented on #3318
@klueq Check out the connection manager. https://github.com/ipfs/go-ipfs/blob/419bfdc20fc68d70ba0ea5dc9d0bed8db16c1c11/docs/config.md#connmgr

[2018-09-26 09:31] basantashah commented on #4622
# you need to remove that folder and unzip again.
`thanks`

[2018-09-26 09:40] hsanjuan opened #5522 "Better support for /dnsaddr/ (i.e. in swarm connect)"
#### Version information:

master

#### Type:

Enhancement

#### Description:

It should be possible to do `ipfs swarm connect /dnsaddr/something`. Right now it doesn't attempt to resolve and throws `Error: invalid peer address: invalid IPFS address`

[2018-09-26 09:44] hsanjuan opened #5523 "ipfs p2p listen and foward should show actual port when listening on 0"
#### Version information:

 master
#### Type:

Enhancement

#### Description:

`ipfs p2p forward` and `ipfs p2p listen` commands take a listen-address or a target address. It works with `/ip4/127.0.0.1/tcp/0` but `ipfs p2p ls` does still show 0 instead of the actual port it bound to (which should be a random available one). This can only be discovered with `lsof` or similar (I think).

Ideally, `p

[2018-09-26 09:50] hsanjuan opened #5524 "`ipfs p2p forward` should accept full multiaddresses as target (not only /ipfs/<peerID>)"
#### Version information:

master

#### Type:

Feature

#### Description:

`ipfs p2p forward` takes an `*/ipfs/<peerID>` multi-address as target. ~~This assumes the given peer is routable.~~

However, sometimes it would be useful to do `ipfs p2p forward <proto> /dnsaddr/mypeer`  ~~or `ipfs p2p forward <proto> /ip4/1.2.4.5/tcp/23131/ipfs/<peerID>`~~. In these case, the command should ~~automaticall

[2018-09-26 10:11] h1z1 commented on #4990
Is that something I can add even as a test?

Not quite following.  You would still do the MAC in userspace.  A problem with doing push on everything is you can negate the kernels ability to buffer properly under high load.  A simple test is to block a peer with an open connection.   It will completely misbehave to the point it  times out entirely too early (~10 seconds?).    One interesting bug wi

[2018-09-26 10:55] overbool commented on #5522
It seems the same problem like https://github.com/ipfs/go-ipfs/issues/5249.

Maybe we should resolve the dns address before `swarm connect`.

[2018-09-26 12:12] overbool commented on #5522
@hsanjuan `Error: invalid peer address: invalid IPFS address` implies that the `addr` is invalid ipfs address, because it misses `tcp` and `ipfs` protocol. I try `ipfs swarm connect /dnsaddr/xxx/tcp/4001/ipfs/Qmxxx` in my bash, it print `connect Qmxxx success`.

[2018-09-26 12:28] hsanjuan commented on #5522
@overbool you are confusing `/dns4` or `/dns6` with `/dnsaddr` (common mistake), but they are different. `/dns4` resolves domain to `/ip4/<ip>`. `/dnsaddr` resolves multiaddress from `_dnsaddr` TXT field associated to the domain.

[2018-09-26 12:37] overbool commented on #5522
@hsanjuan You are right. I've confused `/dns4` with `/dnsaddr`.

[2018-09-26 12:40] overbool commented on #5522
It seems the same issue https://github.com/ipfs/go-ipfs/issues/5249.
Maybe we should resolve `addr` before connecting.

[2018-09-26 14:49] brandonwestcott commented on #5406
Hi all, also jumping in here trying to get this to work, I've tried a few different setups to no avail yet:

Running two ipfs daemons does work locally fine. I spun up an ipfs daemon on my local box and published a object and was able to retrieve it inside a docker container running ipfs.

Attempted to follow that same pattern with https://github.com/QuorumControl/ipfsplay. Ran `go run main.go -p`

[2018-09-26 17:12] Kubuxu commented on #5471
As we publish full source tarballs packaging it should be easier (see https://dist.ipfs.io/go-ipfs/v0.4.17).

[2018-09-26 17:41] klueq commented on #3318
Cool. Looks like it's already there.

Another suggestion is why not to use UDP? From my limited understanding, all those 800 TCP connections with peers are idle 99% of the time, but they have real memory buffers and other overhead on both sides. Instead, we could send a UDP ping from time to time to check if the peer is online and if we need to transfer some data reliably, we send another UDP mess

[2018-09-26 17:50] magik6k commented on #5524
If no one grabs this soon, I'll do that in a spare moment

[2018-09-26 17:53] Kubuxu commented on #3318
There is experimental QUIC transport that uses UDP.
Should roll out wider soon-ish.
 https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#quic

[2018-09-26 18:01] whyrusleeping commented on #3318
The TCP buffers arent the dominating consumer of memory here. Plus, re-establishing a new connection is very much non-trivial.

[2018-09-26 18:13] Stebalien commented on #5460
At the moment, it's unclear what the libp2p daemon will handle (it *doesn't* currently do much of anything). IMO, the libp2p daemon should actually be *extremely minimal* and services like *this* one should be provided by external applications.

Eventually, we may migrate this functionality to a different component (maybe the libp2p daemon, maybe some daemon that *uses* the libp2p daemon). However

[2018-09-26 18:14] Stebalien commented on #5460
One thing that came up: https://github.com/ipfs/go-ipfs/issues/5523

IMO, we should refuse to persist "ephemeral" addresses.

[2018-09-26 18:16] Stebalien commented on #5523
We could also just set `laddr` to that address (and/or not even store it?). However, we need to make sure we can tell which forwarders were created with dynamic ports and which weren't (see: https://github.com/ipfs/go-ipfs/issues/5460#issuecomment-424817513).

[2018-09-26 19:56] mkg20001 commented on #5471
Something quick and dirty to get debs would be:
[code]

For the future maybe using a proper `debian/` config directory would be better, although alien can be also used to generate rpms, etc

[2018-09-26 20:30] ochilan commented on #4260
Hello! I'm currently looking into using IPFS for publishing videos through DTube. Organizing my videos in the regular filesystem and adding them to IPFS using --nocopy seems to be a natural thing to me. Since it has been a year since plans to add functions like moving and removing files in filestore have popped up, I wanted to ask if there is any progress.

I also have two related questions:

1. A

[2018-09-26 20:53] Stebalien commented on #3318
The memory issue comes from our *internal* buffers/state. We're constantly working on improving this but it'll take time. (semi related: https://github.com/libp2p/go-libp2p/issues/438)

[2018-09-26 21:04] Stebalien commented on #5522
@overbool that one is for the `--api` flag (that's how we tell the IPFS client which daemon it should connect to).

@hsanjuan we'll have to think about a better way to do https://github.com/multiformats/go-multiaddr-dns/blob/78f39e8892d4f8c5c9f18679cc06d0b40ecab8cf/resolve.go#L167

Basically, when we resolve a dnsaddr, we match the *final* component to try to pull out the right ones. In theory, th

[2018-09-26 21:41] kevina opened #5528 "RFC: Switch to using Inode like datastructures in the blockstore"
This is a placeholder.  I will flush out the details later.  If this is not the place for this then please let me know where I should bring this up.

Our current infrastructure we use for storing blocks is very limited.  I think we can solve a lot of problems by switching to Inode like data structure.

[2018-09-26 23:44] #5055 closed

[2018-09-26 23:48] dbaarda commented on #5515
There are only two hard things in computer science; cache invalidation, naming things, and off-by-one errors. There is a good summary of cache invalidation algorithms here;

http://u.cs.biu.ac.il/~wiseman/2os/2os/os2.pdf

Note that it doesn't mention that LRFU is probably the best performing (in terms of hitrate) algorithm, and favors ARC because of it's O(1) implementation. However, for large cac

[2018-09-27 00:29] dbaarda commented on #5515
Just had a look at : ipfs/notes#130

Interesting. Its a way to keep even less metadata per entry by combining them into a bloom filter. It also uses an access count per bloom-filter-entry that could be improved by making it an exponentially decaying count so that it also takes into account recency. I see in that thread you proposed exactly that, and even the idea of increasing the increment instea

[2018-09-27 01:03] Stebalien commented on #5515
Some users will have a billion or more blocks (although I'm not sure if we support this yet). My *laptop* has ~400 thousand at the moment and I'm not storing any large datasets.

[2018-09-27 01:12] Kubuxu commented on #5515
As a rough estimate 10TB of data would be about 50 million objects in blockstore.

[2018-09-27 01:19] Stebalien commented on #5515
50 million objects assuming 256KiB chunks. In reality, large datasets often have a bunch of tiny files, unfortunately.

[2018-09-27 02:19] Stebalien commented on #5376
So, it turns out that we simply have a hidden requirement here: We need to take the GCLock before taking the pin lock.

Actually, after thinking about this, we can't even take this lock from within `pinner.Pin` as the caller may be holding it.

[2018-09-27 02:31] overbool commented on #5523
@Stebalien Should ` target address` in `ipfs p2p listen` accept `0` port?  I don't think it makes sense here.

[2018-09-27 02:42] Stebalien commented on #4990
Sure. See the calls to `setNoDelay` in https://github.com/libp2p/go-reuseport. You can then run the following in the go-ipfs source-code root to rebuild with your modified reuseport:

[code]

(we're hoping to kill this module off in the near future).

My point is that, by doing our buffering in userspace, we can send less data and make fewer syscalls. For example, if we buffer *before* our securit

[2018-09-27 05:42] hsanjuan commented on #5523
Ah yes, for `p2p listen`  it doesn't make sense. Only for `listener` local addresses.

[2018-09-27 06:10] hsanjuan commented on #5522
Ok, two problems here.

The first is the one triggering the issue. `connect` commands parses with https://github.com/ipfs/go-ipfs-addr/blob/master/ipfsaddr.go#L72 and this errors when the given address does not have an `/ipfs/` part, before resolving it.

The second is related domain resolution as mentioned. Thing works with empty trailers (no `/ipfs/peer` part in the original multiaddress, my use

[2018-09-27 07:27] rob-deutsch opened #5530 "Measuring memory usage"
I have a question about measuring and understanding go-ipfs' memory usage - because I'm getting conflicting signs.

I'm doing this because go-ipfs is using a lot of memory on my docker instance (~1GB) and I want to understand why.

I've been following the instructions in [debug-guide.md](https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md) but I'm getting different results to what my O

[2018-09-27 08:08] diwufeiwen opened #5531 "crash: exec command:ipfs repo gc"
Version information:

0.4.16

Type:

Bug (probably)

Description:
exec cmd:ipfs repo gc,the program will crash,detail:
[code]
---
Edit by Kubuxu - added codeblock

[2018-09-27 09:28] Kubuxu commented on #5530
pprof shows only space used on the allocated heap. `ps` tells you how much space go runtime grabbed from system for the heap, stacks and so on.

[2018-09-27 10:12] rob-deutsch commented on #5530
Thanks for the quick response. That makes sense.

What's the best way to get a feel for what's actually using all the memory?

I'm looking to run IPFS on systems that don't have 1GB available for IPFS, and I'm wondering if there's low hanging fruit for me to tackle.

[2018-09-27 10:47] kjzz commented on #5524
Hey @magik6k ,  can i help you do for this?i am interested in this.

[2018-09-27 13:35] overbool commented on #5522
@Stebalien Did you mean that we should append an addr with new pid(`ipfs/Qmnewpeerid`) when the trailer doesn't match the resolved dnsaddr?

https://github.com/multiformats/go-multiaddr-dns/blob/78f39e8892d4f8c5c9f18679cc06d0b40ecab8cf/resolve.go#L167

[2018-09-27 13:50] kjzz commented on #4191
hey @Stebalien ,  should i clear all peer in peerstore when i use command `--routing=false`?

[2018-09-27 17:09] mkg20001 opened #5534 "Improve performance on low bandwith / Reduce extra bandwidth usage"
#### Version information:

[code]

#### Type: question/feature

#### Description:

Currently I'm using IPFS on a connection that has about 400 kBit/s down and 100 kBit/s max, though values are usually much lower because it's a shared one.
Downloading files on IPFS is next to impossible, even after setting ConnMngr.HighWater/LowWater to 20/10 and adding the source node as bootstrap peer.
Would it b

[2018-09-27 18:41] Stebalien commented on #4191
Ideally not, that's the tricky part. My current thinking is that we'd add options to the context. We'd probably want one to disable routing and one to explicitly specify which addresses we want to dial. However, I don't have any concrete ideas of how to implement that.

[2018-09-27 19:36] eingenito commented on #5534
It's actually one of our most critical areas of active development. The prominent related issues are probably https://github.com/ipfs/go-ipfs/issues/3786, https://github.com/ipfs/go-ipfs/issues/5037, https://github.com/ipfs/go-ipfs/issues/4396 etc..

One thing you can try (if you're connected directly to the providing peer) is mentioned here: https://github.com/ipfs/go-ipfs/issues/5037#issuecommen

[2018-09-27 22:12] Stebalien commented on #5531
That shouldn't be possible... Mind retrying with the latest release from https://dist.ipfs.io/go-ipfs/v0.4.17?

[2018-09-28 02:04] postables opened #5536 "IPNS Publishing: crypto/rsa: message too long for RSA public key size"
#### Version information:
ipfs version 0.4.17

#### Type:
Bug

#### Description:
Attempting to publish IPNS Records with RSA Keys fails due to the following error:
[code]
This is not effecting any of my ED25519 keys, as can be seen by the succesful publishing of a record signed by an [ed key](https://cloudflare-ipfs.com/ipns/12D3KooWSev8mmycrPbCMs4Awe4AFGkUQKPh7CTuifh51U8iFEr8).

Initially I thoug

[2018-09-28 02:43] overbool commented on #5522
@Stebalien If we only solve this issue without considering `resolveDnsaddr`  improvement currently, I had made a pr https://github.com/ipfs/go-ipfs/pull/5535. Could u help me review it?

[2018-09-28 03:07] diwufeiwen commented on #5531
4.17 no problem,thanks!

[2018-09-28 04:02] h1z1 commented on #4990
Reuseport is a different thing though no?  I can't find any reference to setNoDelay though that could 100% be me not understanding GO :)

Indeed, curse of any vpn and SSH.  Such small packets however allow one to infer the type of data (timing attacks for example).  You can amortize the latency and gain more efficiency by bursting.  TCP_CORK defaults to a maximum 200ms window, certainly noticeable

[2018-09-28 11:35] kjzz commented on #5524
Hey @magik6k @Stebalien ,  can i help you do for this?I am interested in this issue.

   \<proto> /ip4/1.2.4.5/tcp/23131/ipfs/\<peerID>

Can you explain it for me?

And as i known, we can use command `ipfs p2p forward /x/_testing /ip4/127.0.0.1/tcp/4567 /ip4/127.0.0.1/tcp/23131/ipfs/<peer id>` and `ipfs p2p forward /x/_testing /ip4/127.0.0.1/tcp/4567 /dnsaddr/bootstrap.libp2p.io/ipfs/<peer id>` to

[2018-09-28 12:12] rohitkhatri opened #5537 "Hangs while fetching an non existing hash"
When I try to fetch any non existing hash with `ipfs get` command like the below:

[code]
It just hangs.

I'm using private network using own swarm key.

Here's how I have setup my network:

[code]

#### Version information: 0.4.17

#### Type: Bug

#### Description: Hangs while fetching an non existing hash

[2018-09-28 12:20] magik6k commented on #5537
It's not really possible to know that a chunk of data doesn't exist on the network, so ipfs just keeps looking for it indefinitely.

For a workaround, there is a `--timeout` flag on all commands, so you can specify that for example `get` should fail after some amount of time:
[code]

[2018-09-28 12:28] rohitkhatri commented on #5537
@magik6k Thanks for replying, and what If the file is longer and takes time to download, will that work without timeout option?

[2018-09-28 13:46] swedneck opened #8810 "dir-index-html: directories should be displayed differently from files"
Right now directories show up the same as generic files, they should instead have a folder icon and the name should end in a forward slash.

[2018-09-28 14:52] djdv opened #5538 "MFS: unable to remove malformed nodes"
I managed to add an invalid node to MFS and was unable to remove it.
I added it via something similar to this
[code]
trying to remove it via `ipfs files rm /bad-node` results in

and the file remains in the MFS listing.

I'm not sure if `PutNode` should check validity before put-ing, or if `rm` should account for these kinds of things.

[2018-09-28 15:44] magik6k commented on #5537
No, timeout applies since command start. I don't think there is any built-in way to do that, but you can try creating a utility which tracks `get` output and aborts it if it takes too long to process some item.

This could be implemented as `--read-timeout` flag on `ipfs get` command quite easily

[2018-09-28 16:56] eingenito commented on #5537
There is another command you can run to look up content in the DHT (as a distinct step from fetching the content) and that would be `ipfs dht findprovs hash --timeout=60s`.

If that command fails to return any hashes of peer records (which are subsequently used to lookup qne actually connect to providing peers), you've failed to find any mention of the content in the DHT. If it does successfully r

[2018-09-28 17:19] schomatis commented on #5538
It should.

I'm not sure why this corrupted node would cause the error during the remove operation (it might be related to the MFS directory caching mechanism), I would expect that the modification (unlink) happened only at the (valid) parent directory without caring for the integrity of the child. Could you post a simple example to reproduce the error please?

Also, stop corrupting MFS @djdv!! :r

[2018-09-28 17:25] Stebalien opened #5539 "TestDhtFindProviders is racy"
TestDhtFindProviders appears to be racy. Adding a file to IPFS doesn't *synchronously* provide so immediately searching for providers afterwards may not work. I'm not sure if there's a good solution other than to sleep.

[2018-09-28 17:42] Stebalien commented on #5536
That's not the issue. IPNS doesn't use the `Encrypt` method (really, it should be removed).

@postables Are you *sure* you're not using a really tiny key? This happens to me when I use a 64bit key.

[2018-09-28 17:48] hsanjuan commented on #5524
@kjzz you're right, it already takes a full multiaddress and adds it to the peerstore before forwarding so that should work. What doesn't work is resolving `/dns*/` first. Sorry for the confusion here.

[2018-09-28 17:50] hsanjuan commented on #5523
Also, launching two `forward` with a `/tcp/0` shows `listener already registered`.

[2018-09-28 17:56] #5376 closed

[2018-09-28 18:08] djdv commented on #5538
This should be all that's needed. If I start with a fresh repo `ipfs init`, and make that API call on an instance of it, then try to `rm` that path, it fails with that error.

Something like this should work (with proper imports and adding to commands root).
But I don't want to test it right now 👀

[code]

Y̨o̱ű h̡aͦv́e̽ m᷀ŷ͓ ẉo̝r̮d̈́ t͊h̩e̡r͉e̛ w̯i̗l̅l͡ b̢eͤ n͝o̮ m͜o͕rͯe͊ cͅo̅r͍ȑu͒p̮t͓i̕oͪnͪ

[2018-09-28 19:08] Stebalien commented on #5537
@magik6k can you file that suggestion as a new issue (trying to see if we can replace "I have a problem" issues with "Implement feature X" issues to make the issue tracker easier to track).

[2018-09-28 19:09] Stebalien commented on #5531
Are you saying it works in 0.4.17?

[2018-09-28 19:37] lidel opened #5540 "Support internationalization (i18n) and localization (l10n)"
#### Version information:
0.4.17

#### Type:
Feature

#### Description:

:wave: from  IPFS Translation Project (https://github.com/ipfs/i18n)

Our Chinese community is interested in translating go-ipfs, namely CLI UI.  I am sure if we set up go-ipfs project at  https://www.transifex.com/ipfs/public/ other locales will be contributed as well.

This does not have to be all-or-nothing, it can be incr

[2018-09-28 19:45] Stebalien commented on #5530
Some of it will be stacks (go routines). However, those should generally only use on the order of a few megabytes in total.

I have a sneaking suspicion that the rest is memory fragmentation. Basically:

1. We allocate something and go doesn't have space for it.
2. Go asks the kernel for a page to put this data in.
3. Go fills up this page with a bunch of random allocations.
4. We free a bunch of

[2018-09-28 20:27] magik6k opened #5541 "--read-timeout option for `ipfs get`"
It would be useful for `ipfs get` (and possibly other related commands like `ipfs cat`) to have a `--read-timeout` option which would interrupt the command if no new data was read for a set amount of time.

Mentioned in https://github.com/ipfs/go-ipfs/issues/5537#issuecomment-425478248

[2018-09-28 20:36] Stebalien commented on #5537
Closing for tracking in favor of #5541. @rohitkhatri feel free to ask followups (or ask for this to be reopened).

[2018-09-28 20:36] #5537 closed

[2018-09-28 20:54] overbool commented on #5541
@magik6k is there any difference between global option `--timeout` and `--read-timeout`

[2018-09-28 21:00] magik6k commented on #5541
Yes, the difference is that `--timeout` will not work well for large files (which take longer than the specified timeout to download). `--read-timeout` would count the time since last read byte (assuming that it's blocked on `Read`)

[2018-09-28 21:05] overbool commented on #5541
@magik6k Got it, can i help fix it?

[2018-09-28 21:13] Stebalien commented on #5541
Personally, I'd try to use the word `stall` somewhere to make it clear what this does.

---

@alanshaw does this flag sound reasonable? It seems like something js-ipfs should implement as well.

[2018-09-28 22:19] Stebalien commented on #3429
...

See discussion here: #3320. It's the number of connections.

Our current solution to this is QUIC (which go-ipfs now has experimental support for). It's a UDP based protocol so, at the protocol level, it has no connections. The hope is that this will convince routers to STOP TRYING TO DO SMART THINGS AND JUST ROUTE THE PACKETS DAMMIT!

[2018-09-28 22:51] postables commented on #5536
@Stebalien that's a very good question! the keys *should have* been generated with a bitsize between 2048-4096.

I'll double check and make sure I'm not accidentally generating keys that are too small

[2018-09-29 00:51] postables commented on #5536
@Stebalien You were correct! I tried with a fresh key:
[code]

And it worked, looks like the issue is with my key generation. Thank you.

[2018-09-29 00:51] #5536 closed

[2018-09-29 01:01] whyrusleeping commented on #3429
@vext01

Thats the whole point of the watermark settings. If you want a hard cap at 50, set the highWater value to 50.

[2018-09-29 03:01] Stebalien commented on #3429
@whyrusleeping that doesn't quite work as it doesn't prevent *new* connections. I think he just wants max 50 connections open at any given time.

[2018-09-29 03:02] rob-deutsch commented on #5530
Thanks for the insight! Maybe that actually makes it easier to fix, because no core logic has to be changed, just the creation/deletion of objects. However, investigating this issue seems to be tough.

What I've been looking into now is how I can confirm that suspicion, but I haven't come up with any reliable methods.

How do I find out how many bytes of pages Go is currently holding to support th

[2018-09-29 03:04] tanhaoGitHub opened #5542 "ipfs add --chunker=size-0"
#### Version information:

go-ipfs version: 0.4.18-dev-4bca53e
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

#### Type:
Bug

#### Description:
Doing "ipfs add --chunker=size-0" lead to cpu of ipfs overflow

Result of "top | grep ipfs":

7002 root      20   0  871652 107832  11976 S        **_2.0_**    2.8   0:20.50 ipfs
  7002 root      20   0  871652 107832  11976 S      *

[2018-09-29 03:05] kevina commented on #5542
A chunk size of 0 makes no sense.  We should return an error.

[2018-09-29 03:06] kjzz commented on #5524
Thx for replying @hsanjuan , so you mean that we should support command such as `ipfs p2p forward /x/_testing /ip4/127.0.0.1/tcp/4567 /dnsaddr/bootstrap.libp2p.io`?
And before forwarding , we should use resolve all multiaddrs?Then add it to peer store?

[2018-09-29 03:10] Stebalien opened #5543 "Forbid RSA keys smaller than 2048"
We should forbid generating RSA keys smaller than 2048. We can just generate ed25519 keys when testing.

@alanshaw: How will this affect the interoperability tests? Do we need to add a `--i-understand-i-am-generating-an-insecure-key=true` escape hatch?

See #5536.

[2018-09-29 03:27] rob-deutsch commented on #5038
Hey - I just had the same problem - and I realised what was happening.

The problem is that your local (MacOS) copy of the go-ipfs source code has some cached MacOS binaries in the bin directory. These binaries didn't come with the source code, as can be seen in `go-ipfs/.gitignore`:

[code]

The problem is that Docker is uploading these binaries to your Linux server, and then your Linux server ca

[2018-09-29 04:31] overbool commented on #5542
@kevina I think we should add the judgement in here https://github.com/ipfs/go-ipfs-chunker/blob/master/parse.go#L21-L28, is it right?

[2018-09-29 05:45] kevina commented on #5542
I would attempt to move the check all the way down into the constructor and have it return an error is the size <= 0.  This may be too much of a change, in which case where you are proposing is fine.

[2018-09-29 05:59] kjzz commented on #5542
@overbool @kevina sorry, i did not see your discussion. last time i hava add judgement on `rabin min size`, and i have create a pr about this.Can you help me reviwe it whether it is useful?

[2018-09-29 06:16] kjzz commented on #5543
Hey @Stebalien , i have a question about this.If someone generate a rsa key offline(i mean that they use other tools to generate rsa key) by themselves and add this in `.ipfs/config`,how can we forbid this situation?

[2018-09-29 06:35] rob-deutsch commented on #5530
Okay, I've been starting to make some progress on this. It turns out that [MemStats from the runtime package](https://beta.golang.org/pkg/runtime/#MemStats) might have the info we want, and that go-ipfs is kind enough to expose it (I'll submit a PR adding it to the documentation).

However, I'm slightly concerned that the numbers don't reconcile to ps aux. For example, I'm surprised that MemStats

[2018-09-29 09:44] georgyo commented on #5421
I just ran into this problem myself.

What I want to do is setup an archlinux mirror in ipfs. The problem is upstream mirrors heavily use symlinks to central pool directories. What I would like to happen is that safe-symlinks (like rsync) are a pointer to the other object.

Currently, ipfs stores the symlink just as a symlink. What I would like to happen is that safe-symlinks (like rsync) are a po

[2018-09-29 09:51] NiKiZe commented on #5421
@georgyo project to do arch mirroring: https://github.com/VictorBjelkholm/arch-mirror and has its own workaround for symlinks.
There is relevant discussions in that project and linked documentation as well.

I fully agree with your points.

[2018-09-29 12:09] rob-deutsch opened #5547 "Running a command locally (not on daemon)"
I'm experimenting with go-ipfs, and I want to add a command just for my experiments.

The thing is, that I want this command to run only on the client (NOT on the daemon, even if there is a daemon). A bit like how `ipfs version` operates.

How do I do this with the new `go-ipfs-cmds.Command` structure?

[2018-09-29 14:46] overbool commented on #5541
@magik6k I found the `Read` function about `ipfs get` in https://github.com/ipfs/go-ipfs-cmds/blob/master/http/responseemitter.go#L287, should we add global `--read-timeout` option and then we get the read timeout value by `req.Options["read-timeout"].(int)` in  https://github.com/ipfs/go-ipfs-cmds/blob/master/http/responseemitter.go#L287 ?

[2018-09-29 15:46] hsanjuan commented on #5524
@kjzz yes, in principle, but we have some discussion about how painful it is to manually resolve in several places etc. https://github.com/ipfs/go-ipfs/pull/5535#issuecomment-425597268 maybe hold off a bit, as ideally this should be taken care of directly at libp2p-level.

[2018-09-30 07:08] zhangyaocheng opened #5548 "In win7 start ipfs node error"
#### Version information: The version is 0.4.17

#### Type:

#### Description:

when i try to use command `ipfs daemon` in win7. It shows error as follow:
[code]
The ipfs version i use is 0.4.17, and i don't know if there have anything wrong. Anyone else can help me?

[2018-09-30 11:52] zhangyaocheng commented on #5548
@kjzz Yeah, when i change the port it works. Thanks you very much!

[2018-10-01 12:31] schomatis commented on #5538
@overbool Do you want to take a look here? We need to find the source of the error and understand which check is failing during the addition.

[2018-10-01 13:55] overbool commented on #5538
@schomatis ok, I'm interested at it.

[2018-10-01 15:46] eingenito commented on #5547
@rob-deutsch - there may well be a better way, but one trivial way of launching code exclusively on the client is to put your logic in the `PreRun` function (which executes in the command line process) rather than the `Run` function which executes (via http API) on the daemon. You can see the details here: https://github.com/ipfs/go-ipfs-cmds/blob/master/http/client.go#L93

[2018-10-01 16:27] Stebalien commented on #5543
In general, users are free to do what they want. The only limit I'd like to impose here is a UX limit: prevent users from *accidentally* generating insecure keys.

[2018-10-01 16:31] #5038 closed

[2018-10-01 16:46] Stebalien commented on #5530
So, that's the upper bound on memory that *can't* be reused (I think?). However, there may be some that can be reused but isn't and also can't be returned (maybe?). Unfortunately, the documentation isn't very clear on this point.

I really don't know what's going on with those numbers but I'm *guessing* it has to do with the fact that the OS is free to do whatever it wants and go can't accurately

[2018-10-01 17:36] barthr commented on #3533
Any updates so far, otherwise I could pick it up

[2018-10-02 01:40] rob-deutsch commented on #5530
Thanks for the response @Stebalien. I think there are currently a lot of unknowns. It's possible that OS ambiguity is a cause here, although I'm not 100% convinced yet, but even if that's the case it's not the only cause. pprof says the heap is using 80MB but MemStats reports that HeapInUse is 180MB.

In general my desire is to understand why actual memory usage is so much higher than the pprof he

[2018-10-02 02:56] rob-deutsch commented on #5547
Thanks for the response @eingenito, but it doesn't look like `PreRun` allows for any output to be sent to the console?

Should I just `fmt.Print` from within PreRun?

[2018-10-02 10:36] mkg20001 commented on #5471
Looks like there already is a PPA serving go-ipfs packages: http://get.siderus.io/
// cc @koalalorenzo

[2018-10-02 12:12] kjzz commented on #5543
Do you mean that we should add some flag when we use `ipfs key gen` such as `--i-understand-i-am-generating-an-insecure-key=true`(maybe another name will be better)?

[2018-10-02 12:53] tobowers commented on #5406
@Stebalien @brandonwestcott and I work together... could you show how you got it to work locally?

[2018-10-02 13:44] overbool commented on #5538
`proto.Unmarshal` causes the error `Error: proto: required field "Type" not set`, because the node is a empty `ProtoNode` that doesn't contain `data`. https://github.com/ipfs/go-mfs/blob/master/dir.go#L154.

I think we should check validity before `PutNode`, WDYT? @schomatis

[2018-10-02 14:58] Kubuxu commented on #5543
I've run a quick benchmark and `ipfs init` with 1024 and 2048. In an average of 100 runs, 1024 is 3.9 times faster than 2014 (0.0869 vs 0.335 seconds).

This might be useful in case of tests (where we are currently using it).

[2018-10-02 15:12] schomatis commented on #5538
So, it turns out there's a not-very-well-documented `-r` flag that works more like a `--force` flag,

https://github.com/ipfs/go-ipfs/blob/e93aa25e9746894700886ce4213d5ac423f85758/core/commands/files.go#L1053-L1055

removing the link without checking the integrity of the node it points to. It makes sense (following the Unix API) that the `rm` command needs to know *what* it is removing (thus the n

[2018-10-02 18:17] djdv commented on #5003
Brief status update, I implemented basic write support for MFS.
No commit yet as I have some issues to work out with it, but a lot of programs seem happy operating in that root.
https://www.youtube.com/watch?v=PytWEw9aFjk

[2018-10-02 18:45] #4561 closed

[2018-10-02 19:01] billziss-gh commented on #5003
@djdv this is progressing very nicely. Good work!

[2018-10-02 19:07] Stebalien commented on #5521
@travisperson I know you're busy, but could you make this happen? We have to cut an off-master point release of iptb every time we release because we're stuck on 1.0.

[2018-10-02 19:17] travisperson commented on #5521
@Stebalien Ya I can update this. I have a branch that has most of the sharness tests updated already from a while back. Let me rebase it, update anything new and I'll open a PR.

[2018-10-02 19:18] billziss-gh commented on #5003
BTW, if you need any help/pointers testing the beast rigorously using file system test suites ping me.

A good starting point are the test suites that cgofuse uses:

- [Windows](https://github.com/billziss-gh/cgofuse/blob/master/.appveyor.yml): winfsp-tests, fsx
- [macOS/Linux](https://github.com/billziss-gh/cgofuse/blob/master/.travis.yml): fstest, fsx

[Fsx](https://github.com/billziss-gh/secfs.

[2018-10-02 19:33] Stebalien commented on #5521
Awesome! Doesn't that depend on https://github.com/ipfs/iptb/pull/91?

[2018-10-02 19:41] michaelavila commented on #4321
Have any possible solutions been discussed anywhere? What's the relative difficulty of this issue?

[2018-10-02 20:02] eingenito commented on #5547
Yep, I think so. I've never written a command, but I think that's what the existing commands do. They basically marshall the data coming back from the http API request and then output the formatted results to stdout. No different from what you're proposing.

[2018-10-02 20:36] eingenito commented on #5369
@stebalien following #4543 and #4545 is this issue blocked on that work? Should I move it out of ready?

[2018-10-02 20:41] djdv commented on #5003
@billziss-gh
Thanks 😊

I almost have a basics implementation for each operation on each root-type, so I've been thinking about ways of checking their correctness recently. I'll for sure look into these.

I'm considering how best to handle systems like that. I would like to implement all operations where possible so that we can play nicely with things that expect them.

My current approach for fill

[2018-10-02 22:35] Stebalien commented on #4321
This hasn't been thoroughly discussed and I'm not sure of the right direction. One *simple* thing we can do is tag every peer we've ever received blocks from in `Engine.MessageReceived`.  That'll be a good start and should be trivial.

[2018-10-02 22:54] #5229 closed

[2018-10-02 22:54] #5357 closed

[2018-10-03 00:04] Stebalien commented on #5421
Yeah, that's a reasonable approach.

[2018-10-03 00:04] #4911 closed

[2018-10-03 00:10] Stebalien commented on #5543
@kjzz yes. Although I intentionally picked `--i-understand-i-am-generating-an-insecure-key=true` I want it to be unreasonably long.

@Kubuxu, reminds me that we *also* need to apply this to `ipfs init`.

---

Let's hold off on implementing this for now. I'd like to get feedback from JS land and I'm not sure I want that flag to actually show up in the help.

[2018-10-03 00:29] kevina commented on #5421
I actually really like @georgyo idea of storing both the link itself and the object it points to.

It will solve a long standing objection I have with resolving symbolic links in the gateway as mentioned in the unfinished p.r. here: https://github.com/ipfs/go-ipfs/pull/3508#issuecomment-267502271.

[2018-10-03 01:30] rob-deutsch commented on #5530
Is it okay if I use this issue for a log of my continuing investigation and experiments? I'm also happy to take any thoughts/suggestions that people have.

I hacked `go-ipfs` such that it would serve me `debug.WriteHeapDump()` files and it went a decent way to clearing up what is actually happening here. The total size of the objects on the heap, in the example above, is `HeapAlloc`'s 100MB (10052

[2018-10-03 03:12] rob-deutsch commented on #5530
So I've been playing with prometheus, and grafana, because `go-ipfs` is awesome and has prometheus built in!

I think that @Stebalien might've been right on the money in his first reply. `go-ipfs` is allocating bucketloads of short lived objects.

1. Green area is objects, both live and ready to be GC'd (`HeapAlloc`)
2. Yellow area is is fragmentation and sizeclass waste. (bringing it up to `HeapI

[2018-10-03 03:44] #5547 closed

[2018-10-03 04:05] kevina commented on #5547
@rob-deutsch there are better ways than just using PreRun. All it takes is an entry in the `cmdDetailsMap` in `cmd/ipfs/ipfs.go`, this will work for any command.  Or am I missing something?

[2018-10-03 12:58] schomatis opened #5554 "Add a `--force` flag for `ipfs files rm`"
At the moment the `-r` is acting also as `--force`: in the case the file (node) we're trying to remove is corrupt it will just unlink without caring what it is unlinking (file, directory, corrupted node, etc); see https://github.com/ipfs/go-ipfs/issues/5538#issuecomment-426312110. The `-r` should only allow to remove valid directories and the new `--force` flag should allow to remove anything else

[2018-10-03 12:59] schomatis commented on #5554
/cc @overbool In case you're interested in this one.

[2018-10-03 13:16] overbool commented on #5554
@schomatis OK

[2018-10-03 13:33] overbool commented on #5538
@schomatis You are right, `-r` can solve this issue.

[2018-10-03 13:46] djdv commented on #5538
Agreed.

It appears so.
I thought I had tried this, but I guess not. Since the target was a "file", I must not have considered recursive removal. Or assumed it would also error out.
Strange behaviour imo. Would much rather see an explicit `force`-like flag here.

[2018-10-03 14:08] overbool commented on #5538
According to your discussion, i have summarized the following four modifications:

1. add the `force` flag to remove anything else (including file, directory, corrupted node, etc).
2. add a check before inserting any node in MFS
3. `-r` flag doesn't allow removing invalid nodes(maybe we should add a check before removing recursively).
4. update our document about `-r` flag.

WDYT? @schomatis @djdv

[2018-10-03 14:16] schomatis commented on #5538
Agreed!

The check is done implicitly (and should be documented better) when the child is requested to check if it's a file or a directory,

https://github.com/ipfs/go-ipfs/blob/master/core/commands/files.go#L1069

because MFS will decode the node to classify it and add it to the cache.

[2018-10-03 14:49] djdv commented on #5538
Agreed.
Just to be clear

Are we saying that `force` should remove directories even when `-r` is not provided?
I'm fine with either, just want to make sure.

[2018-10-03 15:17] schomatis commented on #5538
Yes, I mean, it's kind of implied in the logic. Using `--force` would mean "I'm just removing the link, I'm not checking anything, I don't even care what it points to: file, directory, corrupted node, nothing". That should be clearly documented.

[2018-10-03 15:58] eingenito commented on #5547
Oh neat - that is way better @rob-deutsch. Please ignore my answer; as @kevina points out there's already a facility for marking a command as needing to run on the client. And it does some important setup work beforehand. You can see an example here: https://github.com/ipfs/go-ipfs/blob/78b8e6e0a402c560f1cf7c2246a24de0e2f86e98/cmd/ipfs/ipfs.go#L93.

Thanks @kevina.

[2018-10-03 16:51] djdv opened #5556 "`ipfs pin ls` should list recursive pins only by default"
Currently, `ipfs pin ls` will list all pins.
This is an expensive operation and it seems like most people want `ipfs pin ls --type=recursive` anyway.
I propose that we change this so that recursive pins are listed by default (`--type=recursive`), and `--type=all` should be explicitly required for listing all pins.

Even if we make listing all pins fast, @lgierth points out that `ipfs add` pins obj

[2018-10-03 16:53] lidel commented on #5556
cc https://github.com/ipfs/go-ipfs/issues/4891

[2018-10-03 16:59] djdv opened #5557 "should help support --help? / help can't help help"
This is a strange one, but I'm reporting it anyway.
`ipfs help --help`

This seems to be the only command that doesn't support the `--help` flag.
While it probably wouldn't do anything more than the bare `help` subcommand itself, I found the error odd.

[2018-10-03 17:09] eingenito commented on #5547
Yep - thanks for commenting @kevina.

[2018-10-03 18:10] georgyo commented on #5421
Ultimately, I think mimicking all the symlink flags rsync has is the best idea, but that is a lot of scope creep for getting something working.

@michaelavila Here is my opinions on the questions you asked. I think you flipped when we would store a pointer to the object and when we would not.

1. If the object is within the tree we are adding/syncing then storing just the symlink is not sufficient

[2018-10-03 18:11] michaelavila commented on #5421
@Stebalien after a little research, I better understand @georgyo's proposal, but I have some questions:

First, I think the pairing of path/hash for symlink is a nontrivial change as it has to either:

* modify `unixfs.pb.Data` (https://github.com/ipfs/go-unixfs/blob/master/pb/unixfs.pb.go#L69-L79), or
* stuff hash into `byte[]` on `unixfs.pb.Data` alongside path (https://github.com/ipfs/go-unixfs

[2018-10-03 18:16] michaelavila commented on #5421
@georgyo we commented at the same time it looks like, but I've read your comment and that makes a lot of sense, thank you. Also, good point about using the concept of maxdepth instead of cyclic as it covers both cases, thanks for that.

I think I understand the proposal and am willing to move forward with it if @Stebalien is OK with that and also weighs in on my question of what approach to take w

[2018-10-03 18:31] Stebalien commented on #5421
I also like @georgyo's solution.

@michaelavila I was worried about that and thought this might have a unixfs-v2 dependency but, on further consideration, I think this is pretty trivial: We can just add a "target" link to the links array in the DagPB node (we don't need to modify the unixfs protobuf at all). Older clients will simply *ignore* this link. The tricky part will be *updating* the link;

[2018-10-03 18:32] Stebalien commented on #5421
Note: while not *currently* on our OKRs for this quarter, I'd still consider this a priority because proper symlink support is necessary for a 1.0 release.

[2018-10-03 18:40] hatgit opened #5558 "Requirement (or not) to Accept Incoming Network Connections After Running IPFS Daemon"
After running the IPFS Daemon successfully at the command line with all swarms listening, and ```"Daemon is ready" ```showing in at the command line, there is a pop-up on my MacOS asking ```"Do you want the application “ipfs” to accept incoming network connections?"``` and I wasn't sure if denying is optional or if IPFS requires this feature. I've already checked the forum for a similar question p

[2018-10-03 22:27] eingenito commented on #5558
Hey @hatgit. The answer is 'it depends'. Under some use cases (like fetching data from the IPFS network) the daemon doesn't strictly require inbound network connectivity (that is other IPFS daemons being able to initiate a connection to the one running on your system).

If you want to _provide_ content, that is share content currently on your IPFS instance with other IPFS daemons it helps a lot to

[2018-10-04 01:58] #5470 closed

[2018-10-04 02:07] rob-deutsch commented on #5530
Progress:
1. **Confirmed that 'allocation velocity' is an issue.** I did this by setting GOGC=10 (i.e. asking Go to garbage collect when heap is 10% higher than the heap at last GC) down from 100 and instantly saved >100MB of RAM. The downside is that the GC is now responsible for ~3% of CPU time instead of 0.3%.

![screen shot 2018-10-04 at 11 41 37](https://user-images.githubusercontent.com/6296

[2018-10-04 03:47] eingenito commented on #5558
@hatgit I'm going to close this issue in the hopes that you got an adequate answer. Feel free to reopen it if you have follow-up questions.

[2018-10-04 03:47] #5558 closed

[2018-10-04 03:49] eingenito commented on #5534
Hey @mkg20001 - I'm going to close this issue, not because it's solved or anything but just because it's covered in a lot of other roll-up issues. It's also referenced from all the issues above now. Feel free to reopen if you have additional questions or information. Thanks.

[2018-10-04 03:49] #5534 closed

[2018-10-04 04:47] rob-deutsch commented on #3318
This is something I've been interested in recently (see #5530) and a reality that we have to contend with is that Go is memory hoggish, and it's getting worse (golang/go#23687).

Go is very reluctant to give any memory back to the OS unless the OS very much needs it.

The practical implications for `go-ipfs` are twofold:
1) **Multiprocessing environments:** Reported memory can include a large amou

[2018-10-04 15:47] da2x commented on #1817
This is a more generic issue than just having to do with content encoding.

E.g. `text/csv; header` means a comma-separated value file where the first line contains column headers.

[2018-10-04 16:04] Stebalien commented on #5530
With respect to https://github.com/libp2p/go-libp2p-peerstore/issues/15, I've just reverted that in https://github.com/libp2p/go-libp2p-peerstore/pull/39 and introduced naive garbage collection of stale peer addresses. I'm hoping that'll help significantly (and that the GC will offset the additional memory usage) but we'll see.

I've also been fixing some issues with our multiaddrs:

* https://git

[2018-10-04 16:04] Stebalien commented on #5530
Also, this is truly amazing progress!

[2018-10-04 17:16] #4378 closed

[2018-10-04 21:17] momack2 commented on #3544
ideal api for this from @ianopolous on Peergos in https://github.com/ipfs/notes/issues/106:

ipfs transaction close $tid

Then write commands (block put in our case) get an optional tid parameter so usage would look like:

ipfs block put .... tid=$tid
...
ipfs block put .... tid=$tid
ipfs pin add $hash
ipfs transaction close $tid

[2018-10-04 23:02] momack2 commented on #3544
Comment on timing/constraints (@eingenito for context) - Peergos would like to have a stable API defined that they can build some new features against in the next ~month or so, but actual implementation can lag that schedule as needed.

[2018-10-05 00:37] lgierth commented on #5401
Taken care of in #5532 and #5553

[2018-10-05 00:37] #5401 closed

[2018-10-05 02:14] #5524 closed

[2018-10-05 02:19] Stebalien commented on #5556
I agree we should do something like this but we'll need to improve the options. Really, we need `--not-type=indirect`. We *do* want to include *direct* pins.

---

However, this is a large, API-breaking change.

@whyrusleeping, @diasdavid, @alanshaw (js-land),

How do you all feel about making `ipfs pin ls` *not* list indirect blocks by default. For context, this is *really* slow for reasonable da

[2018-10-05 02:31] lgierth commented on #5213
This has been solved -- the underlying mdadm RAID got into a weird state and might have corrupted/lost data.

[2018-10-05 02:31] #5213 closed

[2018-10-05 02:32] #4429 closed

[2018-10-05 02:36] lgierth commented on #5556
How about `--type=recursive,direct` (there's precedent in go-ipfs)

[2018-10-05 02:56] kjzz commented on #5557
So you meani that we should delete `ipfs help`?

[2018-10-05 03:27] klueq opened #5567 "ipfs pubsub for not directly connected nodes"
Afaik, the current implementation of pubsub expects all the nodes interested in the topic to be directly connected with each other. This means that if two random nodes that haven't talked before subscribe to the same topic and one node publishes a message, the other node won't get it. It would be nice to enable this, though.

[2018-10-05 04:10] Stebalien commented on #5557
Unfortunately, we actually use it. I said "leftover" because it looks like it may be a leftover from before we had a commands library (not sure, it may not have been).

However, we should probably make it behave better. The solution here is probably to just remove the length check. That is, convert "help" to "--help", even if there are other flags. Thoughts?

[2018-10-05 04:14] djdv commented on #5557
Would it be better to formalize it as a command? With this kind of alias mapping:
`ipfs help add` -> `ipfs add --help`?

[2018-10-05 04:44] Stebalien commented on #5567
This should work, usually. We (go-ipfs) use the DHT to rendezvous. However, this happens in the background and may take a while. There's also a race: if both peers start at the same time, they may not find each other.

Have you actually run into this issue?

[2018-10-05 04:45] Stebalien commented on #5557
Maybe? I'm not sure it's worth the effort (that would probably require deep changes to the commands library).

[2018-10-05 04:51] klueq commented on #5567
I haven't been able to make `pubsub` working recently. `name publish` is very slow for me too. My statement was also based on reading sources of js-ipfs which checked if a peer is also interested in the topic before sending a message to it. However js-ipfs doesn't have DHT implemented (afaik), so this might explain why their `pubsub` is written this way.

[2018-10-05 05:00] kjzz commented on #5557
Agree,I think that ipfs <sub-command> --help maybe better,of course it will casue breanking?

Sorry, i have misunderstand your reply.

[2018-10-05 12:16] djdv commented on #5557
For now, we could probably use the same hack, but append to args.
i.e.
remove arg[1]/"help" as well when detected.
`if helpcmd; args = append(args, "--help")`
in phase: `ipfs help add` -> `ipfs add` -> `ipfs add --help`

Right now, we alias `ipfs help` to `ipfs -h` but `ipfs --help` works the same, so it shouldn't break that case either.
It seems to work with other flags too.
`ipfs add -w --help`

[2018-10-05 12:34] #5554 closed

[2018-10-05 16:29] travisperson commented on #5521
Yes. Down the road I want to move the plugins out of the main iptb project. At the moment thought that is a bit difficult due to packages conflicting due to gx. That should be fixed this quarter though so for now they will stay there.

[2018-10-05 19:08] Stebalien commented on #5567
So, I can't seem to connect to any nodes listening on `chat`. You may be behind a NAT.e We have some NAT traversal features but they're far from complete.

But yeah, I'll admit that pubsub rendezvous needs to be significantly more reliable.

[2018-10-05 20:07] AminArria commented on #3060
For anyone having issues using @karalabe fork and Go 1.11 modules set your `go-ipfs` dependency to use the latest commit in master because the latest tag `v0.4.17` is missing the `version.go` file in the root directory.

[2018-10-05 20:39] michaelavila commented on #3544
@momack2 @eingenito I just want to remind everyone that I'm out from 10/20-11/4. I'm happy to take on this task, but that should be taken into consideration if there are time constraints.

[2018-10-05 21:37] eingenito commented on #3544
He @momack2 - we (C5) can pick this up. I think Hannah is looking for the next feature and we all followed along with Michael's pinning work (which actually was pretty different). I'm sure whoever starts it will have more questions but mine are:

* @Stebalien does this seem like an appropriate priority for us to start on next?

* At a high level what is the scope of the desired feature? Are we add

[2018-10-05 22:00] eingenito commented on #3544
Michael just pointed me to #4004 which already added --pin to `dag put`. I guess we're not doing that. Are we doing the other thing?

[2018-10-05 22:22] #5154 closed

[2018-10-05 22:23] #4984 closed, assigned to nobody

[2018-10-05 22:28] #4862 closed

[2018-10-05 22:28] #4853 closed

[2018-10-05 22:35] eingenito commented on #4838
There's been some recent improvements in bitswap, including this one: ipfs/go-bitswap/pull/5 that should improve this situation. There's still plenty to do but most of the discussion and progress is going on in other issues/prs/repos. I'm going to close this issue, but of course you should feel free to reopen - or comment on the ongoing work. If you want to re benchmark with the latest changes tha

[2018-10-05 22:35] #4838 closed

[2018-10-05 23:29] eingenito commented on #177
@hatgit not at all. The go-ipfs implementation includes a command line interface that allows comprehensive use of IPFS features and is considered the "standard" way to add and get files (via the aptly named `add` and `get` commands). FUSE is an optional (neat) way of interacting with IPFS content.

[2018-10-06 04:08] klueq commented on #5567
Not sure if I'm behind a NAT. I've checked this on the WebRTC Trickle ICE test app, which sends a request to a STUN server, and it returned a single IPv4 address in the 50.x.x.x range. This must be a public address.

[2018-10-06 04:11] klueq opened #5569 "How does pubsub discover other subscribers?"
go-ipfs uses DHT to do that. But how exactly does it do that? And what's the most efficient way to make a well-connected sub-network (aka overlay network) where all the nodes hold the same unique 256 bit value. Would it be the pubsub mechanism?

[2018-10-06 06:40] miguelmota commented on #4475
Hangs for me too, using `ipfs version 0.4.16-rc3`

[2018-10-06 08:28] vyzo commented on #5569
It puts a block, which causes a call to `Provide`; the CID is the synthetic (`floodsub:+topic`).

In general, if you want to use the DHT for rendezvous, just make up a key from the topic name, hash it to get a CID and call `Provide` on the DHT.
To discover other peers, use the same synthetic key with `FindProviders`, at which point you can connect to some of them.

Note that we are working on a ne

[2018-10-06 10:15] hatgit commented on #177
Thanks @eingenito, I already have the daemon running and swarmed all peers (fully connected) and in the GUI http://localhost:5001/webui I see the files I uploaded but when I copy the hash of any of those files I still cannot view them online after appending to the end of this url: http://ipfs.io/ipfs/
nor using cloudflare's hosted url. I'm trying to troubleshoot why they aren't being served.

I've

[2018-10-06 11:08] VictorBjelkholm commented on #177
Detail but still important: the files don't "go to the gateways" but rather the gateway fetches the content when it's being requested. You still need to be running your own go-ipfs daemon when you try to access your content via the gateways.

If you can fetch content that you don't have locally (like the kitten image) but other peers can't fetch content, you might have a firewall or something runn

[2018-10-06 14:50] kjzz commented on #5557
Agree！@djdv , I am working for it right now.Thx a lot for advices.

[2018-10-06 23:15] eingenito commented on #3813
@magik6k have you started this work? I'd like to take it on if you haven't already.

[2018-10-07 03:27] magik6k commented on #3813
Yup, there is some work in on this in https://github.com/ipfs/go-ipfs/pull/4333, but since I last touched it, some modules were extracted (well, bitswap), so you'll probably need to apply this manually.

[2018-10-08 01:29] klueq commented on #5569
Is the DHT API in go-ipfs available for getting/setting arbitrary key/values? I remember notes about that it's restricted to only IPNS-related stuff.

Do I get it right that the peer discovery process consists of the two steps:

- The 1-st node uses `dht.set(topic)` and the `topic` key ends up physically stored on a few nodes chosen by the Kademlia algorithm.
- The 2-nd node uses `dht.get(topic)`

[2018-10-08 04:59] rob-deutsch commented on #5530
We need to be slightly careful when looking at the above numbers. I had a suspicion, which I think I've confirmed, that Prometheus itself also has a high allocation velocity (when hitting it once a second).

In particular, its generating a lot of garbage in its calls to flate.NewWriter and [MetricFamilyToText](https://github.com/prometheus/common/blob/master/expfmt/text_create.go#L35).

There are

[2018-10-08 20:24] nicolashomble opened #5572 "[Docker] Dockerfile says switch to a non-privileged user but actually dont."
#### Version information: ipfs/go-ipfs:latest (today)

#### Type: question about dockerfile

#### Description:

Hi,

In Dockerfile you say "# Create the fs-repo directory and switch to a non-privileged user." but actually, you dont switch to user ipfs(1000). Default user after starting the container stay root. Don't you miss a "USER ipfs" instructions after

ENV IPFS_PATH /data/ipfs
RUN mkdir -p $

[2018-10-08 21:14] michaelavila commented on #3544
Until I hear otherwise, I'm going to assume that the work here is to do something like the `transaction` command that was given as an example above.

[2018-10-08 22:17] ianopolous commented on #3544
@michaelavila Yep, that plus the tid option on block.put would be sufficient.

[2018-10-09 00:54] rob-deutsch commented on #5572
Hi Nicolas, I think that ipfs _is_ run as a non-privileged user. This is handled by the [`container_demon`](https://github.com/ipfs/go-ipfs/blob/c96373e80e10442bc4aa444181330223398edcc4/bin/container_daemon) script which is [renamed to `start_ipfs`](https://github.com/ipfs/go-ipfs/blob/c96373e80e10442bc4aa444181330223398edcc4/Dockerfile#L46) in the Docker container.

You can confirm this as follow

[2018-10-09 03:11] OlegKorchagin commented on #4786
I apologize if I get into a serious conversation with children's opinion, but  its easy to get the same error in the same **native golang code**,  if mixed up GOLANG and GOPATH

right:
[code]

fail:
[code]

[2018-10-09 04:42] klueq commented on #5569
Are those connectivity issues debuggable? Logs, etc.

[2018-10-09 08:08] kjzz commented on #5557
Hey @djdv  @Stebalien , i have create a pr #5573 about `ipfs help`.please help me review it.
If you think that it is the right way to fix it,i can continue to complete the test.Thx a lot.

[2018-10-09 09:43] vyzo commented on #5569
Sure, you can use the dht api (`ipfs dht ...`) to find providers and you an try connecting with `ipfs swarm connect`.
The only difficulty is that you'll have to compute the cid by hand (but you can write some code to do that).

[2018-10-09 18:01] Kubuxu commented on #4786
@OlegKorchagin thanks, I think this resolves the issue.

[2018-10-09 18:01] #4786 closed

[2018-10-09 19:57] nicolashomble commented on #5572
Hi Rob,
You are right, like i said, i'm new to docker and i didn't see the difference between daemon started as ipfs inside the container and the default user when i run a docker exec -it [container] /bin/sh command.

It's crystal clear now ;)

Thank you

[2018-10-09 19:57] #5572 closed

[2018-10-10 01:31] felixSchl opened #5576 "Adding files returns Size as String"
#### Version information:

[code]

#### Type:

Potential Bug

#### Description:

The `Object` and `AddedObject` types in `coreunix.add` keeps their size member as a string, but I can find no documentation anywhere as to why, since everywhere sizes are treated as uint64. I started typing this up on SO, but it felt too specific a question and could perhaps be considered a bug in that it's not docume

[2018-10-10 03:02] Kubuxu opened #5577 "Sharness directory_size function, weird error."
We had a weird error in sharness directory_sizefunction.
Jenkis results: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fgo-ipfs/detail/fix%2Fmaketareball%2Fosx/1/tests

Copy below in case Jenkins looses it:

<details>
 <summary>Click to expand</summary>

[code]

</details>

[2018-10-10 03:18] david1371 opened #5578 "Concern Regarding Code Quality of Badger"
My Posts will be deleted on badger repository. So posting it here, since you guys use badger.

Badger team did changes on May 9th to introduce move keys.
https://github.com/dgraph-io/badger/commit/7af00762e98cf59c2ca6a774b49487b8903257c6

There were many bugs, issues related to same thing which were fixed over months. The last fix was done a week back. The issues ranged from badger being stuck in

[2018-10-10 03:57] schomatis commented on #5578
Based on our [code of conduct](https://github.com/ipfs/community/blob/master/code-of-conduct.md) I'm closing this issue.

This is the same user that has been aggressively submitting issues on the Badger camp. Although some of the technical points raised may be valid this is certainly not the way to discuss them. Any integrity related problems found in the Badger code should be reported in a respon

[2018-10-10 03:57] #5578 closed

[2018-10-10 04:39] schomatis commented on #5576
Hey @felixSchl, thanks for your concern and for taking the time to report this. So, actually what you're seeing is one of our infinitely-many-pseudo-non-binding object (whatever that means) representations that I kind of stopped caring about. It is basically meaningless since it even reports the size of proto-nodes when actually talking about files/dirs that operate on another layer. If anything t

[2018-10-10 04:41] felixSchl commented on #5576
Hey, thank you for the reply, however I would argue that since the json rep of that struct is what gets sent back over HTTP for `api/v0/add` it is leaking and non-internal.

[2018-10-10 05:05] schomatis commented on #5576
Yes, good point! Re-opening.

I'm not sure we can change this now though, without breaking some kind of compatibility I mean, @keks WDTY? (tl;dr the size reported in the `ipfs add` command is encoded as a string instead of an integer).

[2018-10-10 07:39] bo-liu opened #5579 "private network: how to revoke/refuse an unauthorized node?"
The requirement is use IPFS setup a private network,  with a central authority center control which nodes can join or should quit after a period of time.

Current private work have the limitation:
1) Anyone can join the private network from a node(by copy the swarm.key) instead of a central authority center?
2) How to force some nodes quit the private network?

[2018-10-10 08:37] #5064 closed

[2018-10-10 09:44] Stebalien commented on #5579
Yes.

You'd have to:

1. Create a new swarm key.
2. Distribute it to the nodes you want to *keep* in the private network.

---

Basically, the current private network architecture is designed for centrally controlled private clusters and has very limited scope and functionality.

[2018-10-10 09:45] keks commented on #5576
I agree `int` would be better. Unfortunately, I don't see a reasonable upgrade path, because changing this would break our API stability contract.

The types `Object` and `AddedObject` were defined three years ago in [this commit](https://github.com/ipfs/go-ipfs/commit/86901aff3c309065285250b2007160f6685a5963) and if nothing else, it reminds us that decisions early in the project will stick around

[2018-10-10 10:04] bo-liu commented on #5579
Got it, thank you!

[2018-10-10 10:04] #5579 closed

[2018-10-10 12:41] magik6k opened #5581 "Filestore plugins"
It would be really nice to be able to extend filestore with custom storage mechanisms.

The use case I have in mind is referencing git objects in packed repositories. Currently the problem is that storing raw git objects is hugely inefficient in terms of storage, for example the linux-stable repo is about 1.5G, unpacked/added to ipfs it becomes 40G+

cc @kevina

[2018-10-10 15:08] Kubuxu commented on #5581
We could think about adding a fast compression layer as a part of datastore composition.

[2018-10-10 19:05] sneak commented on #1430
The examples are somewhat poor; this one is better:

[code]

[2018-10-11 01:38] who-am-1 commented on #2518
I changed the provider and can not reproduce it anymore

[2018-10-11 08:12] chunzhouyu opened #5584 "make build error"
here is the error log
[code]
go version: 1.11

[2018-10-11 08:13] magik6k commented on #5584
Did you install Go from a snap?

[2018-10-11 08:16] magik6k commented on #5584
Also, can you try running build without `-i`?
[code]

[2018-10-11 08:26] etam opened #5585 "http api/v0/dns says "not a valid domain name", anything else works fine"
#### Version information:
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

#### Type:
Bug

#### Description:
I set up my website, registered domain `etam-software.eu` and published dnslink TXT record. Accessing through http://127.0.0.1:8080/ipns/etam-software.eu/ works fine, but ipfs-companion firefox addon is not redirecting to my gateway. I found tha

[2018-10-11 08:34] Stebalien commented on #2518
This issue is old enough that it's probably not worth keeping open (either fixed or we'll have to start debugging from scratch).

[2018-10-11 08:34] #2518 closed

[2018-10-11 08:36] lidel commented on #5585
Looks like a bug in `dns` command:

[code]

[2018-10-11 08:36] Stebalien commented on #1430
I have an initial PR (https://github.com/ipfs/go-ipfs/pull/5514) to add systemd and socket activation support. I'd like to *avoid* making the example service file too opinionated unless we provide both a system and a user service file along with instructions.

[2018-10-11 09:11] hatgit commented on #177
Thanks @VictorBjelkholm, the config instructions listed here helped it finally work for me  https://webui.ipfs.io/#/welcome

[2018-10-11 11:30] overbool commented on #5585
@etam As the documentation and code explains: `ipfs dns` can't resolve `ipns/Qm....`.

`ipfs dns` can resolve `ipns/ipfs.io`

[2018-10-11 14:04] Baaleos opened #5587 "Case Sensitivity in IPFS Website??"
Hi guys,
More a question than anything else
Has IPFS changed over the last few days in such a way that websites pushed via the
ipfs.exe add directory -r   command, now need to be careful of case sensitive paths to images etc

A few days ago I downloaded the ipfs.exe and used that version to push a website to the ipfs network.
The html uses the following in an image:
images/icons/preloader.gif

Ima

[2018-10-11 19:15] obo20 opened #5588 "Swarm Connect failure when trying to connect two nodes I control"
#### Version information:
go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/darwin
Golang version: go1.10.3

#### Type:
Bug

#### Description:
I'm trying to manually connect two ipfs nodes together via IPFS swarm.

On the first node, I get:
Error: connect (my node ID) failure: dial attempt failed: <peer.ID XXXXXX> --> <peer.ID YYYYYY> dial attempt failed: context deadline exceeded

On

[2018-10-11 19:53] pataquets commented on #3397
I'm trying one of them without experiencing problems, so far. But when I want to provide feedback, no clear method is given.
Any feedback form? Any issue?
Also, a link to each feature's own issue would be helpful in reporting problems or giving feedback.

[2018-10-11 21:20] kevina commented on #5378
@Stebalien @diasdavid If I understood the discussion today the solution to this was to determine if the node we are talking supports retrieving the block regardless of the CID version.  If the node does not as a temporary measure we will simply request both the blocking using both CIDv0 and CIDv1.  This is dependent on the IPFS reporting the exact version.  I need to verify that is the case.

[2018-10-11 21:30] magik6k commented on #3397
If you have any feedback other than 'it works', you should open a new issue. ('it works' is also a valid feedback for these features, there is just no good place for it)

[2018-10-12 02:28] chenminjian commented on #4942
I am very interested in this. Can I help with this?

[2018-10-12 08:15] magik6k opened #5589 "Multibase PeerIDs"
Currently we can't encode ipns names with Base32, we should try finding a way to do that.

[2018-10-12 09:28] kevina commented on #5589
I think this is outside of the scope of the case32cid1 work.  Is there a pressing need for this outside of familiarity?

[2018-10-12 09:55] #5587 closed

[2018-10-12 09:56] kevina opened #5590 "Lock Free Pinning and (possible) GC."
We should try and move towards lock free pinning and possible GC.

I believe that this is possible but will require some very careful thought.  (In my original filestore implementation which never got merged I implemented something very similar to lock free gc in some of the utilities.) It is likely also to require some additional functionally from the block/data store.

My ideas for implementing

[2018-10-12 10:09] kevina opened #5591 "Use SQLite?"
@Stebalien has some ideas for pinning which required using a real database, the most likely (ant maybe only) candidate is using SQLite, but this is a C library and will require `cgo` which will complicate things and may cause problems for others.

[2018-10-12 10:20] kevina opened #5592 "Store Pinning in information in a Real Database?"
@Stebalien thinks we should store pinning information in a real database.

This could work, but one concern not discussed is the size.  I believe this is one of the original reasons we did not originally do something similar before.

Depends on #5591

[2018-10-12 10:51] kevina opened #5593 "Cost of updating many small keys in Badgedb?"
One of the arguments against storing pinning information as part of an inode () is the cost of largescale updates.

This issue is to get a handle on the cost.  If nothing us to document it.

@eingenito  idea of not having to update every block when a pin is updated may help make this less important,

[2018-10-12 11:48] keks commented on #5576
@felixSchl It's not entirely clear why we went for encoding numbers in strings, but a likely reason was future-proofness and [JS's limited precision when parsing integers](https://stackoverflow.com/questions/18755125/node-js-is-there-any-proper-way-to-parse-json-with-large-numbers-long-bigint). In future API protocols we will probably not use JSON so we will be able to use integer types there. I'm

[2018-10-12 11:48] #5576 closed

[2018-10-12 12:15] MichaelMure opened #5594 "`ipfs stats bw` doesn't support --enc json"
#### Version information:
go-ipfs 0.4.17 and git master

#### Type:

Bug

#### Description:

All commands should support the `--enc` options. It doesn't work for `ipfs stats bw` I suppose because the result of the command is formatted in a `PostRun` instead of an `Encoders`.

[2018-10-12 13:57] leerspace commented on #5588
For anyone else who comes across this, I think this is the same issue as what's being discussed in [this discourse thread](https://discuss.ipfs.io/t/ipfs-dht-cant-seem-to-find-anything-correctly/4037).

[2018-10-12 14:13] vyzo commented on #5588
Are your peers in different networks and behind NAT/firewalls?

[2018-10-12 14:18] Stebalien commented on #5577
Not quite fixed. We need to shut down the daemon before testing the repo size.

[2018-10-12 15:53] magik6k commented on #5589
Yep, it's outside the cid-b32 work, just wanted to start the discussion

[2018-10-13 01:16] overbool commented on #5594
@MichaelMure `ipfs stats bw` has a option `--poll` that supports uninterrupted output. Therefore, I think it's not easy to achieve this feature by using `Encoders ` instead of `PostRun`.

[2018-10-13 04:18] OhJerry opened #5597 "ipfs local network on AWS"
#### Version information:
ipfs version 0.4.18-dev

#### Type:
Weird performance

#### Description:
I am trying to measure the performance of ipfs on AWS. To do so, I built up one local network on my two local machines and one local network on two EC2 instances from AWS. I tried to comparing transfers speed of same file on different networks and also comparing with the speed using rsync ssh.

Here

[2018-10-13 19:33] Stebalien commented on #5594
This *looks* fixable, it's just a bit tricky. The encoder will be called once per item.

[2018-10-14 18:42] ivan386 commented on #5138
@bpierre Yes it possible but this setting must be set on all gateways by default.

Firefox block request by XMLHttpRequest to all public gateways without it.

[2018-10-15 01:58] sneak opened #5599 "badgerds segfault"
#### Version information:

go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/linux
Golang version: go1.10.3

#### Type:

Bug

#### Description:

Crash during `ipfs add`

[code]

[2018-10-15 13:43] hdriqi commented on #5599
I also got similar error. This happen when I add multiple big folders (about 10k files) at the same time.

[code]

[2018-10-15 13:56] Kubuxu commented on #5599
@hdriqi can you open separate issue?

[2018-10-15 14:32] obo20 commented on #5588
@vyzo the peers are both on digital ocean, and they're behind no NAT.

They are behind firewalls, but these two peers have all TCP ports open right now for testing purposes.

[2018-10-15 15:40] hannahhoward commented on #4908
@ajbouh I am not sure if we've cut a new release since https://github.com/ipfs/go-unixfs/pull/19 was merged but I'd be curious to hear how this affects your performance

[2018-10-15 15:53] hannahhoward opened #5600 "Add option to stream results of `ipfs ls`"
Even with many speed improvements, when LS'ing on a large sharded directory, it takes a while to see any results. Since directories are actually already being fetched, it would be nice to start streaming the results as soon as we get them.

Opening this for discussion on what changes should be made across:
Commands
CoreAPI
HTTP
go-unixfs/hamt

child of #5487

[2018-10-15 16:24] overbool opened #5601 "Add slash for dir in `ipfs files ls`"
We can get the follow result using `ipfs files ls`:

[code]

Is this a good advice that add the slash for directory to distinguish directory from file?

just like the follow:
[code]

[2018-10-15 17:59] schomatis commented on #5599
Duplicate of https://github.com/ipfs/go-ipfs/issues/4820. Closing this one (feel free to re-open if you think this is a different problem).

[2018-10-15 17:59] #5599 closed

[2018-10-15 18:49] abitrolly opened #5603 "Add templating to `ipfs config show`"
#### Version information:
Output From `ipfs version --all`:
[code]
#### Type: Feature

#### Description:

I'd like to get value of `Datastore.Path` from `ipfs config show` with a single command.  The best way would be using [JMESPath](http://jmespath.org/tutorial.html) for that:
[code]
Took it from here:
https://flyingzumwalt.gitbooks.io/decentralized-web-primer/install-ipfs/lessons/initialize-rep

[2018-10-16 08:39] magik6k commented on #5489
Did you try restarting the daemon (to make sore that nothing is holding the GC lock)?

[2018-10-16 09:42] Stebalien commented on #5275
@djdv or @schomatis can we try to move forward on this?

[2018-10-16 09:44] Stebalien commented on #5588
If you run `ipfs dht findpeer YYYYYY` on peer XXXXXX, what do you get?

[2018-10-16 10:01] Stebalien commented on #4942
I'd like to get someone (@magik6k? @schomatis?) to comment on the design first.

[2018-10-16 10:34] magik6k commented on #4942
Looks good to me

[2018-10-16 11:09] Stebalien commented on #4942
@chenminjian then go ahead.

[2018-10-16 11:48] schomatis commented on #5275
Yes, sorry, totally forgot about this one.

[2018-10-16 12:50] chenminjian commented on #4942
OK.

[2018-10-16 12:50] Stebalien commented on #5126
Unfortunately, fixing this would break too much. We'll have to reconsider in the next iteration of the API.

[2018-10-16 12:53] Stebalien commented on #5601
We can but, unfortunately, this will force us to fetch the first block of every file to resolve the type. However, I don't think this'll be that much of an issue in practice, especially for MFS. This is *also* what `ipfs ls` does so we should probably just mirror that.

Thoughts @schomatis?

[2018-10-16 13:01] MichaelMure opened #5604 "Add more Prometheus metrics"
#### Version information:

0.4.17

#### Type:

Enhancement

#### Description:

Infura is hosting a set of IPFS nodes to provide a public IPFS API. We would like to monitor more metrics not currently exposed by go-ipfs as far as I can tell:

- bandwidth in/out (as given by `ipfs stats bw`), potentially split for the various subsystem (DHT, bitswap ...)
- repository size and object count (as given b

[2018-10-16 13:20] schomatis commented on #4942
SGTM

[2018-10-16 13:31] schomatis commented on #5601
We could add the slash when using the `-l` flag which already fetches that information,

https://github.com/ipfs/go-ipfs/blob/9bf4e4145ea897ced2f9aa2087296b3beda6e941/core/commands/files.go#L456-L460

[2018-10-16 14:11] c3rv3au commented on #5489
Yes I did.

[2018-10-16 15:32] obo20 commented on #5588
It turns out while there was no firewall issues on Digital Ocean's networking side, there was an unintentional firewall that was set up on ubuntu. By running "sudo ufw allow 4001" on each of the nodes, the issue was fixed.

[2018-10-16 15:32] #5588 closed

[2018-10-16 17:42] kevina commented on #4942
This SGTM but I would need to see how the implementation works out.

[2018-10-17 01:06] ajbouh commented on #4908
Thanks for the ping, @hannahhoward

I am also curious about the performance but have not tried a recent build myself. Have you tried the operations I referenced in https://github.com/tesserai/iptf/issues/2

They were with the CID QmXNHWdf9qr7A67FZQTFVb6Nr1Vfp4Ct3HXLgthGG61qy1

[2018-10-17 03:09] lanzafame commented on #5591
@Stebalien I think it would be useful to iterate through the requirements that lead to the conclusion that SQLite is the most suitable solution, just so that it is clear what SQLite is solving in the near- and mid-term.

[2018-10-17 09:45] novusabeo commented on #3860
Same issue here. Resolve times are pretty consistent in a range though for me around 30 seconds - 1:30 minute.

And just throwing this out there, as I know it may be an echo but for what IPFS is and what it can do in general ------ a 30s -1min delay is still pretty impressive given the scope. Though I am curious what is causing this?

Would more peers in the network help resolve this -- where are

[2018-10-17 11:34] daveyarwood commented on #874
Is this still the case?

[2018-10-18 01:03] jurraca opened #5608 "Fixing leading k in variable names (via golint)"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type:
Enhancement

#### Description:
I've run `gometalinter` on the repo, and started fixing some linter errors such as having a leading k in variable names, for example https://github.com/ipfs/go-ipfs/blob/9bf4e4145ea897ced2f9aa2087296b3beda6e941/core/core.go#L334

Anyone o

[2018-10-18 10:29] Stebalien commented on #5608
Well, in this case, the leading `k` should be `key`. I'm guessing the lint was meant to catch something else. Unless they're glaring issues (missing documentation, bad code, etc.) I'd prefer *not* to make a ton of small changes all over the code as patches like that tend to introduce a bunch of merge conflicts.

However, feel free to *make* the PRs anyways, if they're not much work. We'll probably

[2018-10-18 11:54] funkyfuture opened #5610 "docs: Which ports serve which purpose?"
#### Type:

Documentation enhancement

#### Description:

There are at least five ports that `go-ipfs` is listening to (compare `Dockerfile`), but I can't find anything specific about their purposes as a complete overview in the docs. For example the [ipfs cluster docs](https://cluster.ipfs.io/documentation/security/) do that very well.

As I'm intending to setup a public gateway I'd like to be in

[2018-10-18 13:37] magik6k commented on #5610
TL;DR version before anyone writes this down properly:

* 4001 - default libp2p swarm port - should be open to public for all nodes if possible
* 5001 - API port - provides write/admin access to the node, shouldn't be exposed at all
* 8080 - Gateway + read only API subset - quite safe to expose, but operating public gateway may still be a risk in some ways (there are some proposals on how to make

[2018-10-18 13:47] funkyfuture commented on #5610
thanks so far. in the `Dockerfile` these are also exposed:

- `4002/udp`
- `8081`

i think regarding `8080` the wording can include something like

[2018-10-18 14:15] Stebalien commented on #874
Nothing has changed here, unfortunately.

[2018-10-18 14:18] eingenito commented on #5597
Hey @OhJerry. As far as I know your question doesn't have a simple answer. I would say first that there are definitely aspects of EC2 instances that might affect the performance of IPFS when compared to your local tests, and the configuration of EC2 instances is so variable it's hard to suggest which ones you might be encountering. The storage subsystem you are using (EBS, SSD, HDD, provisioned or

[2018-10-18 14:28] Stebalien commented on #5610
Those look out of date. They should be:

* 4002/udp is historical (was used for UTP which has been deprecated, for now at least).
* 8081 *can* be used for the websocket transfer. However ,this isn't enabled by default.

But yes, this should all be commented. Mind documenting it in the docker file?

[2018-10-18 14:50] magik6k commented on #5325
I haven't verified this, but `api.Unixfs().Get().(files.SizeFile).Size()` should be returning the right size - https://github.com/ipfs/go-ipfs/blob/master/core/coreapi/unixfile.go#L122

[2018-10-18 14:53] #5601 closed

[2018-10-18 16:02] lifeBCE opened #5613 "CPU Utilization Issues"
First, great job to all involved!

I am super excited about this project and am close to releasing a new project myself built on IPFS. My project will encourage users to operate an IPFS node but I have a current concern with a CPU utilization issue I am seeing which could seriously hamper the desire to run a node.

#### Version information:
go-ipfs version: 0.4.17-
Repo version: 7
System version:

[2018-10-18 17:44] Stebalien commented on #5597
If I had to hazard a guess, I'd say that the issue is likely the datastore (writing blocks to disk). As @eingenito says, try disabling sync.

[2018-10-18 18:12] Stebalien commented on #5613
Is *IPFS* jumping or the web browser? The fact that the webui has an extremely inefficient peers view is, unfortunately, known and fortunately, fixed, and, unfortunately, not yet merged/released. I've just submitted a PR to use the in-development version (https://github.com/ipfs/go-ipfs/pull/5614).

[2018-10-18 18:33] #5523 closed

[2018-10-18 21:15] lidel commented on #3543
I agree, we could provide significant optimization by adding `cache-control: immutable`   to responses with  immutable data from API endpoints at:
- `/api/v0/object/get/`
- `/api/v0/dag/get/`

_However_, it should be only added if:
- Response is successful (HTTP Status Code is `200`)
- The `arg` parameter pointed at immutable namespace (was a valid CID or an IPFS  path starting with `/ipfs/`).   W

[2018-10-18 22:34] redraw commented on #5502
Is there a way to list all files/folders added? i.e by `ipfs add` command

[2018-10-18 23:01] ianopolous commented on #3543
We no longer use the object api, but have replaced it with the block api, but the same thing applies there.

[2018-10-19 04:15] klueq commented on #5569
IIRC, `ipfs dht` doesn't allow arbitrary keys: only the `ipns` ones.

[2018-10-19 11:48] ivan386 opened #5616 "Panic when use api dht/provide."
#### Version information:

go-ipfs version: 0.4.17-
Repo version: 7
System version: amd64/windows
Golang version: go1.10.3
#### Type:
Bug

#### Description:

config changes:
[code]

I use fetch() in browser to send provide request to ipfs daemon. This error happen:
[code]

[2018-10-19 15:47] kyledrake commented on #4218
Not to add more work to everyone's plates, but unix socket support for go-ipfs would be great, and I would definitely use it in production.

[2018-10-19 17:37] richburdon opened #5618 "Error mounting on OSX"
#### Version information:
[code]

Initializing daemon...
Successfully raised file descriptor limit to 2048.
Swarm listening on /ip4/127.0.0.1/tcp/4001
Swarm listening on /ip4/192.168.52.134/tcp/4001
Swarm listening on /ip6/::1/tcp/4001
Swarm listening on /p2p-circuit/ipfs/QmRoTtgs4CUxKmfDBuRyZLt3YQDMhJiwfLS4RY5HG8WzoL
Swarm announcing /ip4/127.0.0.1/tcp/4001
Swarm announcing /ip4/192.168.52.134/tc

[2018-10-19 23:16] JazzTp commented on #3505
go-ipfs_v0.4.17_linux-amd64

`ipfs pin add` hangs, it only happened so far with three files, first time today

`ipfs add <hashcode> -t` seems to be working normally, `ipfs refs local` however doesn't show those hashcodes, and of course they are not in the output of `ipfs pin ls -t recursive` either.

(OFFTOPIC I haven't been using this node in a while but I had done quite some experimenting and a

[2018-10-20 12:44] vyzo commented on #4993
An update:
The autoNAT package has been split into two:
- client/ambient service: https://github.com/libp2p/go-libp2p-autonat
- and service implementation: https://github.com/libp2p/go-libp2p-autonat-svc/pull/1

The plan is to run the NAT service in the bootstrappers.
The ambient service uses passive discovery through connection events, all it takes is to open a connection to one of them to have f

[2018-10-20 12:47] vyzo commented on #4990
An update on recent progress:
We are almost ready to merge autorelay support in libp2p: https://github.com/libp2p/go-libp2p/pull/454

[2018-10-21 00:44] klueq opened #5619 "Overlay Networks: DHT vs PubSub"
What's the best way to build overlay networks?

For example, 1% of the nodes want to join a sub-network and have its network id (a GUID). How can a new node discover a few other nodes with the same network id the most efficient way?

[2018-10-21 17:05] Ambrevar opened #5621 "Packaging go-ipfs for Guix"
I'm trying to package IPFS for [Guix](https://guix.info).  It is similar to Nix in many aspects except that there is no network access at build time, so all dependencies must be fetched beforehand.
With other Go packages, it's perfectly fine because each "github.com/<user>/<package>" can be trivially packaged separately.  In the case of "gx"-paths however, it's not so trivial.

What would you peop

[2018-10-21 19:47] kisulken commented on #5616
In fact, this happens with any request to dht sent after /dht/query

Here is an example of the same error that happened with /dht/get after querying
![screen shot 2018-10-21 at 3 43 09 pm](https://user-images.githubusercontent.com/7709243/47271565-7f020300-d548-11e8-9a7f-41a9a5ef74a1.png)

[2018-10-21 22:58] xloem opened #5622 "ipfs pin ls fails on old repo"
#### Version information:

[code]

#### Type:

Bug / Support Issue

#### Description:

I booted up an old ipfs box, tried to check my pins using whatever old versio of ipfs it had:

[code]

It looked like a bug, since I didn't recall having any reason to think the data was corrupt.  So I upgraded ipfs to this current version and migrated the repo from 6 to 7.  Unfortunately I still get an error:

[2018-10-22 03:25] postables opened #5623 "Building with gx on different machines leads to different dependencies"
#### Version information:
[code]

#### Type:
Bug

#### Description:
Building `go-ipfs` with `gx install --local --nofancy` for go-ipfs 0.4.17 on different machines is pulling in different dependencies.

Attempting to vendor my project https://github.com/RTradeLtd/Temporal on my machine via `make vendor` will result in incorrect dependencies being pulled in. Attempting to run `go vet` after will re

[2018-10-22 04:28] lanzafame commented on #5623
I have experienced a similar phenomenon when attempting to gx a new third-party package, it ended up being an issue with how I had gxed some of it's dependencies, but I haven't experienced this ever with `go-ipfs`.

[2018-10-22 04:29] lanzafame commented on #5621
@warpfork thoughts?

[2018-10-22 07:19] magik6k commented on #5621
There is a make target to generate source tarball:
[code]

Does that work for you?

[2018-10-22 07:47] Ambrevar commented on #5621
It works from my user session but not for a Guix package declaration since there is no network access, unless all dependencies (the "gx/ipfs/Qm...") are already packaged in which case `go build` won't need network.

[2018-10-22 12:09] schomatis opened #5624 "Unify Badger docs"
https://github.com/ipfs/go-ipfs/blob/master/docs/datastores.md#badgerds

https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#badger-datastore

[2018-10-22 12:42] hsanjuan commented on #5623
@postables maybe it's github being broken since a few hours ago and returning different results when gx checks `lastpubver` ?

[2018-10-22 16:34] lanzafame commented on #5623
I think I had ended up with two versions of a transitive dependency. And
there was a bit of coin flip as to which gx choose the first time round and
then the second time it would be different/the one I wanted. Yeah I'm not
sure how having dep and gx vendoring of the same pkg but diff versions
would go...

On Mon., 22 Oct. 2018, 16:23 potsables, <notifications@github.com> wrote:

[2018-10-22 16:41] hsanjuan commented on #5623
`gx deps dupes` should be empty. Otherwise that might happen.

[2018-10-22 20:38] hsanjuan commented on #5623
you need to install gx packages first (`gx install --global`)

[2018-10-22 20:44] postables commented on #5623
After running my makefile which i modified to use `gx install --global` I then went into `vendor/github.com/ipfs/go-ipfs` and ran `gx deps dupes`

[code]

[2018-10-22 21:13] hsanjuan commented on #5623
did you run `gx install --global` in the vendor ? go-ipfs is complaining it cannot find it's own dependencies (which are already re-written).