[2016-07-31 20:38] Kubuxu commented on #3016
Ahh, you have to either `go get -d github.com/ipfs/go-ipfs` or `cd $GOPATH/src/github.com/ipfs/go-ipfs && git clone https://github.com/ipfs/go-ipfs.git`.

The `https://dist.ipfs.io` released contain only prebuilt binary.

[2016-08-01 11:39] Kubuxu commented on #3012
but I can't get `--encoding` to work on `ipfs add`.

[2016-08-01 11:45] #3001 closed

[2016-08-01 12:45] Kubuxu commented on #2987
This error shouldn't happen, there is if condition right before that checking if the variable isn't null.

Me and @whyrusleeping came up with explanation that it would have to be either Go or System level race condition, where caches didn't get flushed and re-fetched from RAM.

[2016-08-01 12:45] #2987 closed

[2016-08-01 13:21] whyrusleeping commented on #2987
That said, please let us know immediately if this happens again. I just cant see a cause for this, and the race detector doesnt show anything here.

[2016-08-01 15:39] whyrusleeping commented on #3019
@NightRa could you try building latest master from source and testing that it now works? I tested on a windows server 2012 box and the automatic migrations succeeded for me, but i'd like a bit more confirmation before shipping anything new

[2016-08-01 18:50] jbshirk commented on #3016
Thank you. That is a step forward. However, the result of make install still is unexpected:

`$ cd $GOPATH/src/github.com/ipfs/go-ipfs && git clone https://github.com/ipfs/go-ipfs.git`
_Cloning into 'go-ipfs'...
remote: Counting objects: 55676, done.
remote: Compressing objects: 100% (53/53), done.
remote: Total 55676 (delta 18), reused 0 (delta 0), pack-reused 55623
Receiving objects: 100% (55676

[2016-08-01 19:07] jbshirk commented on #3016
I see what happened... the output of the git clone was to put a child _go-ipfs_ inside ../go-ipfs/. Fixed that and `make install` runs.

`Install` did not copy the new binary (in ~/go/bin/ipfs) to the previous default location (/usr/local/bin/ipfs)

After copying:
`$ ipfs version`
_ipfs version 0.4.3-dev_

Success! I am up and running with my existing data converted to v.4.

I appreciate your pati

[2016-08-01 19:07] #3016 closed

[2016-08-02 11:12] whyrusleeping opened #3028 "Handle out of disk space failures better"
The gateways have now gotten into bad states from running out of disk space a few times. Fetching content from gateways that are out of space results in something like this: https://a.uguu.se/UnPPwtbEJHS1.png

We should:

- [ ] Catch and return these errors if we encounter them.
  - Randomly closing the connection on users isnt good behaviour
- [ ] Make sure that garbage collections are run freque

[2016-08-02 11:20] whyrusleeping commented on #3028
Another issue that just happened and is related:

Node ran out of disk space and seemed to crash, docker attempted to restart it and failed because it needed disk space on startup and that broke it.

[2016-08-02 15:43] fredead opened #3029 "Automation of ipfs init return Error: EOF"
Version/Platform/Processor information (from `ipfs version --all`):
ipfs version 0.4.2

Type (bug, feature, meta, test failure, question): bug / feature
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P0

Description:

When automating an install of ipfs as ipfs take config from STDIN this is return
Error: EOF

workaround
command: ipfs i

[2016-08-02 23:47] whyrusleeping opened #3030 "random test failure on travis CI"
This one looks suspiciously like a port reuse issue, but it also looks like its an issue with the api file not being cleaned up correctly.

https://travis-ci.org/ipfs/go-ipfs/jobs/148914115

[2016-08-03 01:59] #3000 closed

[2016-08-03 10:12] adrian-git-hub-user opened #3031 "Significance of key generated by 'ipfs init'"
Following doc https://ipfs.io/docs/getting-started/ what is the 'peer identity' hash key , this is required to store files on ipfs ?

From 'getting started' doc
peer identity: Qmcpo2iLBikrdf1d6QU6vXuNb6P7hwrbNPW9kLAH8eG67z
to get started, enter:
  ipfs cat /ipfs/QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG/readme
Should each of these keys contain same value ?

Once I 'ipfs init' and close termin

[2016-08-03 10:49] karlek opened #3032 "Segmentation fault `ipfs daemon --mount`"
Version/Platform/Processor information (from `ipfs version --all`):
[code]

Type (bug, feature, meta, test failure, question): `bug`
Area (api, commands, daemon, fuse, etc): `daemon`
Priority (from P0: functioning, to P4: operations on fire): `P2`

Description:
I ran a `ipfs get` over night on a 13~GiB large hash, and when I woke up it hade crashed with a segmentation fault after 20%.

The `ipfs g

[2016-08-03 11:40] whyrusleeping commented on #3029
@fredead this has been addressed since 0.4.2. Could you try out ipfs v0.4.3-rc1 and let me know if that solves the problem?

[2016-08-03 13:58] whyrusleeping commented on #3002
This should be addressed by: https://github.com/ipfs/go-ipfs/pull/3033

Mind testing and verifying?

[2016-08-03 14:07] whyrusleeping commented on #3032
@karlek thanks for reporting! After this happened, was the daemon still running? or did the process exit?

[2016-08-03 15:25] whyrusleeping opened #3034 "ipfs daemon shutdown command"
It would be useful to have a command to be able to halt the daemon programmatically, either `ipfs daemon stop` or `ipfs daemon shutdown`.

Related Issues:
- https://github.com/ipfs/go-ipfs/issues/3000
- https://github.com/ipfs/go-ipfs/issues/2991

[2016-08-03 17:31] whyrusleeping commented on #3019
marking as closed, please test and reopen if there are more issues or this one hasnt been resolved

[2016-08-03 17:31] #3019 closed

[2016-08-03 18:19] #3002 closed

[2016-08-03 18:21] #3012 closed

[2016-08-03 20:24] NightRa commented on #3019
@whyrusleeping It does succeed on master. Great!

[2016-08-03 23:21] karlek commented on #3032
The deamon didn't continue running, it crashed with the panic.

[2016-08-03 23:44] whyrusleeping commented on #3032
No worries, this one is tricky. Thanks for the info!

[2016-08-04 00:29] whyrusleeping commented on #3032
@karlek what version of go are you running? It doesnt appear to be a release version.

[2016-08-04 00:34] whyrusleeping commented on #3032
My first instinct is that the error is a 'hidden nil' where its a typed nil pointer returned through an interface.  This would make it past the `err != nil` check on routing.go:380 and panic on line 385, but the panic trace should look different...

Proof of concept of the mentioned 'hidden nil' bug:

[code]

Results in:

[code]

Where we can clearly see that the panic is a result of the error bei

[2016-08-04 01:20] whyrusleeping commented on #3032
Pushing a PR that tries to debug and diagnose my suspicions here, It will print an error message and *not* crash your daemon. :)

[2016-08-04 03:20] harlantwood opened #3038 "`ipfs log level` not working as expected (IPFS 0.4.2)"
Version/Platform/Processor information:
[code]

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P0

Description:

Even when I set the log level to critical, I seem to be getting non-error, non-critical logs.  Both with `ipfs log tail`:

[code]

and with `curl http://localhost:5001/l

[2016-08-04 03:31] harlantwood commented on #3038
BTW, `IPFS_LOGGING=<level> ipfs daemon` is working well for me, so this is not an issue for my workflow, just reporting FYI.

[2016-08-04 10:24] whyrusleeping commented on #3038
the `ipfs log level` commands only control the logs that are printed to stderr, logs output from `ipfs log tail` are event logs and are processed separately.

[2016-08-04 10:53] aronayne opened #3039 "How to set proxy in gx ?"
Version/Platform/Processor information (from `ipfs version --all`):0.4.2

Type (bug, feature, meta, test failure, question): feature
Area (api, commands, daemon, fuse, etc): gx
Priority (from P0: functioning, to P4: operations on fire): P4

Description:

Attempting to install go-ipfs from source (running 'make install') I receive :
QmVvJ27GcLaLSXvcB4auk3Gn3xuWK5ti5ENkZ2pCoJEYW4 not found locally,

[2016-08-04 10:58] whyrusleeping commented on #3020
i've not seen this before... This might have been an issue with the gateways. Could you retry this installation?

[2016-08-04 11:38] whyrusleeping commented on #3028
Another observation: It looks like if a node runs out of disk space and doesnt crash, it gets into a bad state where even if space is freed up, it thinks its out of space still.

[2016-08-04 14:36] whyrusleeping commented on #3013
@dokterbob thanks for reporting this!

Unfortunately, the fuse part of the codebase hasnt been prioritized for quite some time. It definitely needs some work. If you want to help dig into the code and try and help fix things, that would be very helpful. Otherwise, just keep reporting new issues as you encounter them so that we have a good idea of what to work on

[2016-08-04 14:39] whyrusleeping commented on #2848
@csasarak that would be very helpful! I'd love to have some help with this :)

[2016-08-04 14:50] whyrusleeping commented on #2917
@pchiusano Ideally, bandwidth usage would be quite low, but configurable depending on how helpful to the network you want your node to be. On average, i think hitting < 50kbps is a good 'low' goal. DHTs are very chatty, and the dht employed by ipfs is even more talkative than for example bittorrents mainline DHT due to the way we to content routing.

In the short term, we're looking into implement

[2016-08-04 15:07] csasarak commented on #2848
Cool, I'm actually traveling starting Saturday through to next Friday so unfortunately I won't be able to help until then. I've been thinking about this though and was thinking there might be some way to make some reified caching strategy object (if one doesn't exist already) or interface. That way things could get a bit smarter than simply writing entries to disk when the finger table gets larger

[2016-08-04 15:11] pchiusano commented on #2917
Thanks for detailed reply. Do you have a formal description of the DHT algorithm being used? And to what extent can that be changed while still being IPFS?

[2016-08-04 15:24] whyrusleeping commented on #2917
@pchiusano We don't have a formal writeup of the logic for our current DHT implementation, but it is an implementation of kademlia with peer routing, a direct value storage layer (for ipns records and public keys) as well as an indirect content storage layer (for storage records of who has which objects). Our K-Value as per kademlia is 20.

The majority of the bandwidth problem is the sheer number

[2016-08-04 15:28] whyrusleeping commented on #2848
The thought of storing the information in IPFS itself is very appealing, but it has a few challenges off the bat, the first of which is that the peerstore data is very mutable in nature, addresses change quickly, new peers come online and leave and our knowledge of things changes with nearly every RPC made (at an extreme). IPFS objects are immutable, so every change that gets made will end up crea

[2016-08-04 15:31] csasarak commented on #2848
I figured there'd be something wrong with it, and it's probably a spec question rather than an issue for go-ipfs anyways. Anyways, I will get back to you - have a good week!

[2016-08-04 15:54] Stebalien commented on #2917
(theoretically, not all nodes need to run a full DHT).

[2016-08-04 16:14] harlantwood commented on #3038
Got it, thanks.

[2016-08-04 16:30] karlek commented on #3032
@whyrusleeping I use an old development version golang; haven't downloaded the latest version in a while.

[2016-08-04 16:41] whyrusleeping commented on #3032
@karlek if you don't mind, could you update to a newer release version of go and rebuild ipfs? The possibility exists that your old version of go has a bug in it thats causing this issue (especially since its not a release build).

[2016-08-04 18:53] firemound commented on #2495
Hey @mitar, I am getting this same issue, not sure what it's complaining about. Did you ever figure out the issue? I'm running v0.4.2 on Ubuntu 16.04.1.

[2016-08-04 19:11] Kubuxu commented on #2495
It probably shouldn't be an error.
@firemound do you encounter any other problems apart from that log?

[2016-08-04 19:23] claudiobizzotto commented on #3020
I did it yesterday on a RPi 1 and, once more, [it worked](https://github.com/claudiobizzotto/ipfs-rpi). I've used a 64GB SD card, though, whereas my test on the RPi 3 was run on a 16GB one. So I'm starting to think the issue is related to storage and not the RPi model.

I'll try to repeat the same test (64GB SD card) on a RPi3 and see what happens.

Thanks.

[2016-08-04 20:01] karlek commented on #3032
Absolutely. Will write here if the bug reappear.

[2016-08-04 20:28] firemound commented on #2495
@Kubuxu no, I'm not experiencing any obvious service problems. It is not clear why that error is being logged.

[2016-08-04 20:36] whyrusleeping commented on #2495
This is not technically an error, but its something we need to fix so that we don't encounter the issue. The problem is that we might have information for a peer, but all the addresses we have for them have expired, leading to us  'knowing' about a peer, but sending an empty response because we don't know any addresses.

[2016-08-04 20:38] karlek commented on #3013
I had a similar problem. This comment helped me:
https://github.com/ipfs/go-ipfs/issues/2383#issuecomment-187867923

[2016-08-04 21:04] jbenet commented on #3038
Maybe we should move event logs to `ipfs log events`, deprecate but keep
tail as backward compat
On Thu, Aug 4, 2016 at 12:14 Harlan T Wood <notifications@github.com> wrote:

[2016-08-04 21:09] jbenet commented on #2917
- not all nodes need a dht
- resource constraints are much needed, and coming. please help us make
them!
- can even resource constrain per protocol (keeping dht serving low for
example)
- definitely want to spend way less bw.

We should experiment with some "client only" dht nodes relatively soon.
Will mean upgrading the protocol as some expectations would need to change
On Thu, Aug 4, 2016 at 11:

[2016-08-04 21:13] jbenet commented on #2848
- the peerstore data in IPFS makes sense, like the pinset records (private,
not distributed)
- with a lazy write (i.e. No need to flush on every write because it's not
consistency critical)
- would enable in memory peerstore to become an LRU cache
- step towards peerdiscovery protocol based on previously seen nodes
On Thu, Aug 4, 2016 at 11:31 Christopher Sasarak <notifications@github.com>
wrote:

[2016-08-04 21:26] Kubuxu commented on #3032
The crash should be solved but we added error log in place it would appear. We would love to know what is causing such an unusual behaviour, so if you could report back if the logs contain info about this bug, we would really appreciate it.

[2016-08-04 23:10] tidux commented on #2570
Why does this even exist?  The upstream versions of gx and gx-go work just fine with `go get` even on exotic platforms like DragonFly BSD now.  Unless you're willing to make kernel-specific tarballs for every platform, just use `go get` like everybody else.  This whole issue is dumb and wrong and should be reverted back to using `go get` now that the upstream issues have been resolved.

[2016-08-04 23:15] karlek opened #3040 "Index out of range `ipfs daemon`"
Version/Platform/Processor information (from `ipfs version --all`):
go-ipfs version: 0.4.3-rc2-1eb94e6
Repo version: 4
System version: amd64/linux
Golang version: devel +50edddb Tue Aug 2 21:31:58 2016 +0000

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): daemon
Priority (from P0: functioning, to P4: operations on fire): P1

Description:

Hi again;

[2016-08-04 23:16] karlek commented on #3032
I'm a new user of ipfs, and haven't figured out how to read the output the `ipfs log tail` yet.
How do I supply you the logs, i.e which commands should I run to extract the relevant information?

[2016-08-05 00:32] whyrusleeping commented on #3040
@karlek you are very adept at finding these... I have four nodes running on various computers under simulated load and i havent seen any of these things. So thank you for reporting!

Could you please try updating the version of go you are using to compile ipfs with? Thats the one outlier in your setup i'm seeing

[2016-08-05 00:57] jbenet commented on #2570
@martinvahi thank you for your comments and perspective.

Rest assured that we take project life cycle and deployment very seriously and a very large fraction of our time is making this nice, including having a standardized release cycle, lots of review and testing, hosting compiled binaries in https://dist.ipfs.io , building tools like https://github.com/ipfs/ipfs-update/ and others to ease deplo

[2016-08-05 00:57] jbenet commented on #2570
@tidux

- It is in general very useful to have binaries available for quick download and deployment without compilation.
- You may not have seen https://dist.ipfs.io, which is in wide use by LOTS of people and projects.
- There are also many contexts where compilation is simply unavailable.
- You can use `go get` to your heart's content, nothing prevents you from forking go-ipfs and doing whatever

[2016-08-05 00:57] karlek commented on #3040
No problem!

I'm currently running the latest commit of go and have re-installed `ipfs`.
`go version devel +da070be Thu Aug 4 21:42:44 2016 +0000 linux/amd64`

What version are you using? go1.6?

[2016-08-05 01:00] jbenet commented on #2570
I'm closing this issue because:

- This issue is old, and others discuss more recent state of the distributions process.
- Own issues and even different repos are more relevant places for discussion of some of the remaining points.
- It has veered off topic dramatically.
- Comments annoyed many people in unproductive ways.

[2016-08-05 01:00] #2570 closed

[2016-08-05 01:05] karlek commented on #2009
How about if the daemon isn't running locally the `ipfs cat` command could return a helpful reminder to start the daemon.

[2016-08-05 08:16] Kubuxu commented on #3032
It will be in output of `ipfs daemon`.

[2016-08-05 09:29] tari commented on #2518
I'm seeing what looks like a similar issue to @fiatjaf, on a system that is not behind a NAT. The daemon reports listening on TCP port 4001, which I have opened in my firewall. There are periodic bootstrap errors in the log:

[code]

`ipfs swarm connect` fails in the same way as described earlier in this thread. IPFS version is 0.3.11 on NixOS.

[2016-08-05 09:35] whyrusleeping commented on #2518
@tari ipfs version 0.3.11 and earlier no longer have official bootstrap nodes on the network. I would recommend updating to a newer version of ipfs

[2016-08-05 10:00] whyrusleeping commented on #2009
These are different issues. Running ipfs commands without a daemon is a perfectly valid usecase. In those instances, trying to access an object you don't have in your local repo should correctly respond with "not found".

@RichardLitt `ipfs bitswap wantlist` and `ipfs get/cat` are two very different types of commands. It doesnt make sense for them to have the same output.

@karlek imagine the scen

[2016-08-05 10:02] whyrusleeping commented on #3040
@karlek could you try with a tagged build? something like `go1.6.3` or `go1.7rc3`? development builds tend to be unstable.

[2016-08-05 10:40] karlek commented on #3040
Sure!

[2016-08-05 10:43] tari commented on #2518
Ah, so it is. I suspected the problem might be a protocol mismatch, but it would be nice if the documentation mentioned something to the effect of "using a sufficiently old version might not work". I only found mention of the dropped 0.3 support on the blog after I knew to look for it.

Nix hasn't yet packaged 0.4.x, but that's not your fault. Thanks!

[2016-08-05 16:10] johndpope commented on #1126
Thanks to anyone who has worked on these frameworks for others to consume. It may take more time for people to fully appreciate this master piece. but awesome job. Thank you.
I finally have a use case where I think this will really shine.  I want to design some sample code to allow a single device to seed to offline peers on a local wifi network with a large file. database that's been downloaded f

[2016-08-05 16:47] whyrusleeping opened #3043 "Add support for websockets"
In order to have good support for interop with js-ipfs, we need to implement websockets as a potential transport. I already have a PR open for this on libp2p: https://github.com/libp2p/go-libp2p/pull/53

It needs to be tested, reviewed and merged. Then we can integrate it into go-ipfs.

[2016-08-05 16:50] martinvahi commented on #2570
@jbenet Thank You and others for the answers.

What regards to the statement that I should help in stead of just complaining, then generally speaking, I agree, except that there's the issue of the course of action. If the Go language is so difficult to set up, then my conclusion is that I should write my code in something else. Currently I have my own projects to fix, so I can't really take on exh

[2016-08-05 16:51] whyrusleeping opened #3044 "Multistream Version Handling"
we need to change our multistream protocol id's to match what is expected by js-ipfs. In order to do that, we have proposed changing the multistream interface to expose the selected version on the stream object passed to the handler so that protocols will be able to detect which version they are communicating over and behave accordingly.

related:
- https://github.com/multiformats/go-multistream/i

[2016-08-05 18:20] johndpope commented on #1126
I think we collectively need to ipfs to jump on the cocopods bandwagon.
<img width="798" alt="screen shot 2016-08-05 at 2 20 06 pm" src="https://cloud.githubusercontent.com/assets/289994/17446527/bc8d444e-5b17-11e6-8017-a1b93019baee.png">

[2016-08-05 20:50] NeoTeo commented on #1126
As it turns out I have yet to press ahead (or any other direction) with this, partly because the x-compiled go-daemon for iOS hasn't happened, but mostly because of paid work "interfering".
There has also been (still ongoing?) a great refactoring of IPFS -> libp2p as well as an API and ABI breaking transition of Swift from 2 -> 3 both of which would be nice to have settled before embarking on a na

[2016-08-05 21:05] johndpope commented on #1126
fyi - http://p2pkit.io/
these look more polished for publishing / maybe able to cherry pick some of the samples.

https://github.com/ls1intum/sReto
![screen shot 2016-08-05 at 5 01 24 pm](https://cloud.githubusercontent.com/assets/289994/17450476/55670144-5b2e-11e6-947c-22750c920ff5.png)

https://twitter.com/p2pkitio

[2016-08-05 21:09] jbenet commented on #1126
yeah we should have support for p2pkit in libp2p.

note that the scope of libp2p is different and broader in other ways (including dhts, etc)

[2016-08-05 21:25] NeoTeo commented on #1126
@johndpope Note that my [iOS example project](https://github.com/NeoTeo/IpfsIosAppExample) that shows a simple use of the swift-ipfs api lib also finds nearby IPFS nodes using mdns and could trivially be expanded to list all nearby nodes.

[2016-08-06 04:58] jbenet commented on #2518
@tari good point. want to PR docs somewhere to make it easier to figure this out?

[2016-08-06 11:28] NeoTeo opened #3045 "Daemon 0.4.3-rc2 crash"
Version/Platform/Processor information (from `ipfs version --all`):
go-ipfs version: 0.4.3-rc2-
Repo version: 4
System version: amd64/darwin
Golang version: go1.6.2

Type (bug, feature, meta, test failure, question):
bug

Area (api, commands, daemon, fuse, etc):
daemon

Priority (from P0: functioning, to P4: operations on fire):
P3: frequent crashing

Description:
I can reproduce the following cra

[2016-08-06 13:46] davidak opened #3046 "change RateIn/RateOut to int"
ipfs version 0.4.2

Type: meta
Area: api
Priority: P0

Description:

[code]

i think we don't need the 12 digits behind the comma.

actually i want to use this values for monitoring and not store unnecessary information.

[2016-08-06 15:14] whyrusleeping commented on #3045
@NeoTeo this happens every time you restart the daemon?

[2016-08-06 15:52] NeoTeo commented on #3045
Hey @whyrusleeping :)
It happens every time I restart. The binary is downloaded from dists.

[2016-08-06 16:06] diasdavid commented on #2738
As per js-ipfs ms2, we need:

[![image](https://cloud.githubusercontent.com/assets/1211152/17457726/0021f62e-5bf8-11e6-9ce1-e86aeca77b99.png)](https://github.com/ipfs/js-ipfs/blob/master/ROADMAP.md#dependencies)
https://github.com/ipfs/js-ipfs/blob/master/ROADMAP.md#dependencies

@whyrusleeping do you have an ETA for these?

[2016-08-06 17:06] davidak commented on #1482
I want to report some resource usage stats:

I have an ipfs node version 0.4.2 running on a VM with 1 core and 1 GB RAM. No files added or pinned!

![bildschirmfoto 2016-08-06 um 18 00 41](https://cloud.githubusercontent.com/assets/91113/17458064/32b2b5c8-5c08-11e6-9cf7-e51aae16bb78.png)
![bildschirmfoto 2016-08-06 um 18 01 09](https://cloud.githubusercontent.com/assets/91113/17458066/3f3e1288-5c0

[2016-08-06 17:33] whyrusleeping commented on #2738
@diasdavid The first one you don't need. You guys are implementing secio anyways.

The second one is coming, I'm hoping to get it in within the next couple of weeks.

The third one is going to require refactoring multistream with the changes we talked about the other day (passing the selected protocol up on the stream object). I'm going to try and have that done by the end of august.

[2016-08-06 18:23] diasdavid opened #3047 "ctrl-d on `ipfs block stat` causes a panic"
Version/Platform/Processor information (from `ipfs version --all`):

[code]

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): cli
Priority (from P0: functioning, to P4: operations on fire): P1

Description:

[code]

[2016-08-06 18:35] diasdavid commented on #2738
1) Indeed, but it would make testing so much easier, because as we finish secio, knowing that everything works without it, would be perfect.

2) sweet!

3) Right, we didn't agree in making a network breaking change, but to support both. Would you mind rebasing master onto https://github.com/ipfs/go-ipfs/pull/2704, so that we use the latest ipfs for the tests and not that build from a month and hal

[2016-08-07 01:08] tidux opened #3049 "IPFS paths hard coded in build system make bootstrapping impossible without source hacking"
git master, DragonFly BSD, but applies to any system currently not supported

Type: bug
Area: build system
Priority: 4 for DragonFly BSD, 0 for currently supported systems

The build system currently relies on hard coded IPFS paths to precompiled tarballs of the dependencies instead of leveraging the Go language's built in system for fetching dependencies via `go get`.  This results in **694 separ

[2016-08-07 02:20] tidux commented on #3049
Well I feel like an idiot for not checking the `gx_bin` and `gx_go_bin` variables set in the top level Makefile.  Ignore the shell script mentioned earlier, this could be fixed with requiring "gx" and "gx-go" to be installed as dependencies when running `go get -d github.com/ipfs/go-ipfs`.  Those are the only binaries involved.

HOW TO COMPLETE PORT TO DRAGONFLY BSD:
------------------------------

[2016-08-07 04:46] tidux commented on #2879
IPFS also works over cjdns and I've got a public Hyperboria peer connected.  It's a bit harder to set up than Tor, but useful if you can get it working.

[2016-08-07 05:25] claudiobizzotto commented on #3020
No luck. I've used a larger SD card (64 GB) and the installation still failed on the Pi 3.

[2016-08-07 11:28] dokterbob commented on #3013
@karlek Thanks! This helped. :)

[2016-08-07 16:49] whyrusleeping commented on #3045
@NeoTeo what version of OSX are you running? I can't reproduce this issue...

Did you start with a new repo, or is this an older repo that has a bunch of stuff in it still?

[2016-08-07 16:51] whyrusleeping commented on #3020
@claudiobizzotto do the arm/linux binaries on https://dist.ipfs.io work for you?

[2016-08-07 16:51] whyrusleeping commented on #3020
I'll need to pick up a raspberry pi 3 to test this out.

[2016-08-07 17:14] NeoTeo commented on #3045
It first happened on El Capitan 10.11.6 (15G31) so I tried it on a different machine which runs Sierra 10.12 beta (16A270f). On the laptop I also deleted the .ipfs and did an ipfs init. Just tried the El Cap version (which has an existing v4 repo) again and now it doesn't crash but alternates between hanging and returning `Error: merkledag: not found`. I now worry it's just my machine having a fit

[2016-08-07 17:18] whyrusleeping commented on #3045
@NeoTeo alright, i'll look into it more. Do you have a repeatable way of reproducing the issue? Or is it just more or less random?

[2016-08-07 17:21] NeoTeo commented on #3045
On Sierra the crash is repeatable, on El Cap the alternating behaviour is consistent (and never actually cats the hash). I have just tried doing a
`http://localhost:8080/ipfs/QmPZ9gcCEpqKTo6aq61g2nXGUhM4iCL3ewB6LDXZCtioEB` from Safari on the El Cap machine and it comes up immediately so the node's able to get the hash ok.

[2016-08-07 17:41] NeoTeo commented on #3045
Let me know if you need me to try something.

[2016-08-07 18:01] whyrusleeping commented on #3045
@NeoTeo This is really bizarre, it feels like a bug in go to me.

[2016-08-07 18:09] whyrusleeping commented on #3045
@NeoTeo If its not too much trouble, on the system where the crash is reproducible, could you try installing the latest release candidate of go (1.7) and try building ipfs from source? I'm thinking that this might be an issue caused by changes in OSX syscalls

[2016-08-07 18:16] whyrusleeping commented on #3045
https://github.com/golang/go/issues/16272#issuecomment-231363289

[2016-08-07 18:31] whyrusleeping commented on #2738
The problem with 1 is that its really hard to do 'correctly'. I have it working on that test branch but its a gnarly hack.

[2016-08-07 18:51] NeoTeo commented on #3045
ok gonna try that.

[2016-08-07 18:59] NeoTeo commented on #3045
Good hunch! Not crashing on Sierra now. Gonna try on El Cap to see if it solves the hanging issue there as well.

[2016-08-07 19:09] whyrusleeping commented on #3045
If that fixes it, then i'll just have to make sure the release binaries for 0.4.3 get built with go1.7 (which i was hoping to do anyways)

[2016-08-07 19:09] NeoTeo commented on #3045
Alas, El Cap still gives the error: merkledag: not found.

[2016-08-07 19:11] NeoTeo commented on #3045
The Sierra binary wasn't rebuilt. Upgrading go was enough.

[2016-08-07 19:12] NeoTeo commented on #3045
Aaand, it crashed after successfully cat'ing the file. I'll try a build from source.

[2016-08-07 19:23] #3047 closed

[2016-08-07 19:27] Kubuxu commented on #1482
It means that it is directly in connection with 214 peers, it isn't all nodes for sure.

@davidak is that netdata collector for IPFS? Looks nice, have you published it somewhere?

[2016-08-07 19:29] diasdavid commented on #3047
Thank you @whyrusleeping ❤️

[2016-08-07 19:36] Kubuxu commented on #3049
Problem with native build system is that any breaking change in dependency chain will break the build, also it is entry point for some vulnerabilities. `gx` essentially performs version locking for Go dependencies. `gx` can be easily built on any architecture that supports Go.

Please also see #3051.

We are moving away from Godeps, but it isn't fast process (we have to version locks dependencies

[2016-08-07 19:40] Kubuxu commented on #3046
You can just trim them, double floating point is IMO good format for transfer rate.

[2016-08-07 19:46] whyrusleeping opened #3052 "Publish go-ipfs as a gx package"
In order for other applications to reliably depend on the go-ipfs source code, we should publish go-ipfs as a gx package, once per release (or maybe more frequently depending on the need).

[2016-08-07 19:51] whyrusleeping opened #3053 "Hit ~80% code coverage on all packages in this repo"
In order to make releases more painless, and the code more stable and dependable in general I would like to try and hit a goal of at least 80% coverage (line based) on all packages.

Here is a nice list of what all that entails:
- [ ] github.com/ipfs/go-ipfs/blocks
- [ ] github.com/ipfs/go-ipfs/blocks/blockstore
- [ ] github.com/ipfs/go-ipfs/blocks/blocksutil
- [ ] github.com/ipfs/go-ipfs/blocks/b

[2016-08-07 19:53] NeoTeo commented on #3045
Trouble with "make install". Overrode check_go_version to accept "1.7rc5 " version number but gx seems to not like it either as its strconv.ParseInt doesn't like the rc part...

[2016-08-07 20:10] whyrusleeping opened #3054 "API for transfer progress stats"
There has been a fair amount of demand for a way to check the 'transfer progress' of a given file, similarly to how torrent clients show.

This is not currently a very easy thing to track, but i think that we can abuse context values and the commands diagnostics api (`ipfs diag cmds`) codebase to get something working here.

We first should design what we want this api to look like, and what forma

[2016-08-07 20:19] whyrusleeping opened #3055 "Bitswap cant currently handle other types of hashes"
We recently in discussion about ipld discovered a bug in bitswap. When receiving a block, bitswap will check its hash and see if that hash is on its wantlist. This works right now because we only use one hash type, in the future when there are blocks with other types of identifiers floating around, we need to be able to check things with the correct function.

To do this, we need to assign a uniqu

[2016-08-07 21:03] #3046 closed

[2016-08-07 21:07] davidak commented on #1482
@Kubuxu the IPFS netdata plugin just got merged some minutes ago ;)

https://github.com/firehol/netdata/pull/761

[2016-08-07 23:37] claudiobizzotto commented on #3020
@whyrusleeping, I'm checking the 32 bit Linux binary right now. I didn't even know about dist.ipfs.io before - I'll definitely favour the binary over the build process, if it works.

[2016-08-08 09:37] dokterbob opened #3056 "Sort out listing commands"
Version/Platform/Processor information (from `ipfs version --all`): 16f857040fadf07d947c1b6fbcf90aec8994d1d2 / 0.4.2
Type (bug, feature, meta, test failure, question): feature
Area (api, commands, daemon, fuse, etc): api
Priority (from P0: functioning, to P4: operations on fire): P2

Currently, the `ipfs` command (and API) expose three different kinds of listing commands:
- `ipfs ls` - listing lin

[2016-08-08 09:40] dokterbob opened #3057 "Document listing commands better"
Version/Platform/Processor information (from `ipfs version --all`): 16f857040fadf07d947c1b6fbcf90aec8994d1d2 / 0.4.2
Type (bug, feature, meta, test failure, question): feature
Area (api, commands, daemon, fuse, etc): api
Priority (from P0: functioning, to P4: operations on fire): P3

Description:
Currently, the `ipfs` command (and API) expose three different kinds of listing commands:
* [x] `ipfs

[2016-08-08 11:54] daviddias opened #3058 "--unrestricted-api"
Now, CORS also requests the "Access-Control-Allow-Credentials" to be set to true.

Can we have the --unrestricted-api to add that flag as well? The full list is:

[code]

//cc @whyrusleeping

[2016-08-08 14:58] whyrusleeping commented on #3044
There is also the problem of knowing which protocol to dial to for a new peer. Trying both at the same time is wasteful, trying one and then the other increases latency. I propose that we start using the protocols field of the identify handshake to seed the peerstore with info on what protocols are supported by each peer we connect to.

[2016-08-08 15:02] whyrusleeping opened #3059 "Implement CIDv1"
Once the content ID v1 specification is finalized, we need to begin the work of implementing and integrating it into go-ipfs.

This will contain roughly the following tasks:

- [ ] Implement go-multibase
- [ ] implement binary multicodec
- [ ] Implement 'go-cid' (or whatever we choose to call it)
- [ ] integrate into go-ipfs packages:
  - [ ] `blocks` package. `NewBlock` should use CID to 'hash' c

[2016-08-08 15:20] jbenet commented on #3059
There should be a separate package -- go-cid -- that implements all the
parsing/coding.
On Mon, Aug 8, 2016 at 11:02 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-08 15:27] whyrusleeping commented on #3057
The commands don't print this out, but the API does provide the information, try:

[code]

If you want to have this information exposed as normal text output, we could add a flag (maybe `-l`). As always, pull requests accepted :)

To address your other point:

- `ipfs ls` lists unixfs directory contents.
- `ipfs object ls` isnt a command, you probably mean `ipfs object links`. This (and the other

[2016-08-08 15:49] whyrusleeping commented on #3056
see my comment at: https://github.com/ipfs/go-ipfs/issues/3057#issuecomment-238273468

[2016-08-08 16:01] whyrusleeping commented on #3045
@NeoTeo just do `make gx_check && go install ./cmd/ipfs`

I need to fix the go version parsing code there, its been biting me too

[2016-08-08 16:08] dokterbob commented on #3057
@whyrusleeping Thanks for the quick reply. I guess you're right in tagging it as a documentation issue. Would you appreciate concerete suggestions with regards to the descriptions of the commands?

[2016-08-08 16:14] dokterbob commented on #3057
In addition to my latter remark, it seems that the `ipfs ls` command also lists parts of files - with the same data type of a file. Is this intended behaviour?

Might it not preferable to have parts-of-files be labeled either as Raw or as some other type? The rationale for this being that parts of files should be treated differently (i.e. with regards to content type detection).

[2016-08-08 17:35] whyrusleeping commented on #3057
Yes! that would be great.

This is as intended. A larger file will be 'sharded', indirect blocks have no real difference from the actual root node of the file, they get processed exactly the same way, and you can even refer to a sub-section of a file by the hash of one of the indirect blocks. The leaf nodes that don't have any children are marked as `Raw`.

[2016-08-08 18:23] JustinDrake opened #3060 "Using IPFS as a library (not a as deamon)"
Over at OpenBazaar (see [here](https://github.com/OpenBazaar/openbazaar-go)) we're using IPFS as a library (not as a deamon). The main author of the current code is @cpacia. This is his `AddFile` function (taken from [here](https://github.com/OpenBazaar/openbazaar-go/blob/master/ipfs/add.go))

[code]

I was curious about what the functions `PreRun`, `Run`, and `PostRun` do, and this is what Chris

[2016-08-08 18:45] whyrusleeping commented on #3060
You can avoid using the commands lib entirely, For example, `AddFile` could be written as:

[code]

You can also get a little more integrated and use the `key.Key` instead of the string (which is base58 encoded). If you want, i can provide an example of that.

Also, let me know of any other commands you want to use, the more popular of the 'commands' will have parallel bits of code under `core`.

[2016-08-08 18:46] jbenet commented on #3060
Yeah, sorry, that part of the code is a bit of a quagmire. it's very complicated.

The `PreRun, Run, PostRun` parts happen at different moments of "executing the command" -- these command functions are what run through the API or cli.

As a library, you can do without much of the commands, and call the ipfs node library directly. But problems are:
- Lots of implementation details are still in `com

[2016-08-08 18:48] whyrusleeping commented on #3060
Note: for each command line command, the actual code it executes will be in the relevant run function. So for `ipfs cat`, the code being run is in `core/commands/cat.go` in the `Run` function on that command. The majority of it is 'user input' handling stuff and purely running that functionality in go is generally just a few lines of code.

[2016-08-08 18:49] Kubuxu commented on #3060
You are using it correctly as far as I can see but we are working on something that will make your life much easier.

It is ipfs-core-api (https://github.com/ipfs/go-ipfs/pull/2876) which defines simple and small interfacing go-ipfs directly, it would work perfectly for using go-ipfs as library, and we also plan to create bindings for it so it can be used when go-ipfs in different process.

We are

[2016-08-08 18:51] jbenet commented on #3060
It's still great to ask these questions here-- for others to find.

[2016-08-08 19:06] NeoTeo commented on #3045
Hm...odd. The first time it gave me this:
[code]

Ran it again straight after and it started up the node just fine and has been rock solid since. And cat'ing works as expected \o/

Is it worth trying this on the El Cap version too?

[2016-08-08 19:07] duosearch commented on #3060
Thanks all, that's very helpful.

@whyrusleeping Stupid question, what's the easiest way to properly initialise a working `core.IpfsNode`? One thing we'd like to do is create a testbench for stress testing with ~100 IPFS nodes in a private network. Any tips for doing that? Is there existing code we can borrow?

[2016-08-08 19:09] jbenet commented on #3060
@duosearch
- do you want to use full processes? or all in one process? the transports (extra-proc) will matter a lot. for that, there's iptb: https://github.com/whyrusleeping/iptb
- please be wary that _tonnnnns_ of optimizations still need to happen. we would _love_ any traces that you may find of things being slow or wonky.

[2016-08-08 20:33] duosearch commented on #3060
We probably want a mixture of full processes and a bunch in one single process. For example, three physical computers on three continents, each with 10 processes, and each process with 10 nodes.

[2016-08-08 20:56] mateon1 opened #3061 "bug: Unable to start daemon after unclean shutdown"
Version/Platform/Processor information: ipfs version 0.4.2; Windows 10 x64
(Unrecognized option 'all')

Type: bug
Area: daemon
Priority: P2

Description:
After an unclean daemon shutdown, the $IPFS_PATH/repo.lock can be left in an invalid state, preventing the daemon from launching without manual intervention (deleting the lock file).

Example, running `ipfs --debug daemon`:
[code]

[2016-08-08 21:08] mateon1 opened #3062 "Block flatdb has too many buckets."
Version/Platform/Processor information: 0.4.2/Windows 10 x64

Type: bug/enchancement
Area: blockstore
Priority: P0/P1

Description:
The current flatdb format for blocks has way too many buckets. Most filesystems slow down drastically as the number of objects in a directory increases.

Git uses 2 hexadecimal characters for buckets. I believe 2 or 3 is the most a filesystem like Windows's NTFS can h

[2016-08-08 21:21] mateon1 commented on #3062
Related: Repo GC doesn't clean up empty directories in the block database.

[2016-08-08 22:54] fiatjaf commented on #1482
What bothers me is the network usage:

![](https://cloud.githubusercontent.com/assets/1653275/17499081/885aa6d0-5da1-11e6-8b97-53433b446d81.png)

![](https://cloud.githubusercontent.com/assets/1653275/17499111/c59ca746-5da1-11e6-9ebe-f87de2e51463.png)

Makes even ssh'ing to my VPS horribly slow.

[2016-08-08 23:24] slothbag commented on #1482
I've had some luck using linux "tc" command to throttle IPFS down to about 10KB/s outbound.. this has the side-effect of dropping incoming down to about 15-20KB/s

I can see IPFS is using 100% of its allocated 10KB/s all day every day, but at least I can calculate how much bandwidth that is per month and ensure I don't go over my quotas.

And a nice bonus is it significantly reduces memory usage,

[2016-08-08 23:40] jbenet commented on #1482
@slothbag does it work in that condition?
On Mon, Aug 8, 2016 at 19:24 slothbag <notifications@github.com> wrote:

[2016-08-08 23:46] slothbag commented on #1482
Yup, it's very slow obviously, but i'm just seeding content (gx packages mainly).  It takes maybe a few minutes for a 500Kb-1Mb package to be sent out, which only has to happen once then its cached on my other nodes.

[2016-08-09 02:50] haiheipijuan opened #3063 "Code bug"
Version/Platform/Processor information (from `ipfs version --all`):
go-ipfs version: 0.4.3-rc2-3ba9b67
Repo version: 4
System version: amd64/darwin
Golang version: go1.6

Type (bug, feature, meta, test failure, question):bug
Area (api, commands, daemon, fuse, etc):code
Priority (from P0: functioning, to P4: operations on fire):p1

Description:
code is here: https://github.com/ipfs/go-ipfs/blob/mas

[2016-08-09 03:14] djdv commented on #3062
Adding an anecdote here, I've run into a "Too many links" issue on a FreeBSD system before when adding a lot of files to ipfs on UFS. For reference it was an old 32bit testing machine running I think fbsd 9 and ipfs 3.x at the time. It couldn't handle all the directories under blocks/.

[2016-08-09 06:23] NeoTeo commented on #3045
Just built 0.4.3-rc2 from source on El Cap with go 1.7rc5 but unfortunately it still hangs on cat. Different problem? At least the Sierra problem seems fixed :)

[2016-08-09 06:58] Kubuxu commented on #3062
Which version are you running?

There is difference in total prefix length and amount of entropy in that prefix, due to multihash prefix. In go-ipfs 0.4.3-X there are 512 buckets in the flatfs. Which is only bit more than git uses. This is also different from what was used in 0.4.2 and before.

[2016-08-09 07:02] Kubuxu commented on #3063
I disagree with your statement, we want to cache both positive and negative `Has` responses. This means: if `Has` call was successful, put it into cache, no matter if it is true or false.

[2016-08-09 13:24] mateon1 commented on #3062
@Kubuxu I'm using go-ipfs version 0.4.2 (`version --all` fails on this one), the prefix length in my database is 8 hex characters, with the first 4 of them being constant.
I'm not sure how to install and test the 0.4.3 version on Windows, but I'll look in the docs and ask on IRC.

[2016-08-09 13:30] NeoTeo commented on #3045
Hm, spoke a bit too soon. An `ipfs add` of a tiny text file causes the following crash:

https://gist.github.com/NeoTeo/fbaf0357ef5cf7ae1576f928d438d3e0

[2016-08-09 15:38] dokterbob commented on #3057
So the following descriptions would need updating:
* `ipfs ls` - https://github.com/ipfs/go-ipfs/blob/master/core/commands/ls.go#L35
* `ipfs object links` - https://github.com/ipfs/go-ipfs/blob/master/core/commands/object/object.go#L102
* `ipfs file ls` - https://github.com/ipfs/go-ipfs/blob/master/core/commands/unixfs/ls.go#L38
* `ipfs files ls` - https://github.com/ipfs/go-ipfs/blob/master/core/

[2016-08-09 15:59] whyrusleeping commented on #3061
@mateon1 thanks for the report! Our windows testing right now is definitely lacking, This issue looks like it would likely be addressed by upstream changes in the locking library we're using.

[2016-08-09 16:00] Kubuxu commented on #3061
@whyrusleeping I remember other issues where we were talking about changing the lock lib, did it happen?

[2016-08-09 16:02] whyrusleeping commented on #3060
@duosearch thats something I want too! My goal was to enable `iptb` to be able to orchestrate this sort of behaviour. development on it has gone slowly so far, but currently it can spin up either local processes, or docker nodes on the host. I'm hoping to find time soon to add an 'ssh' type node where iptb connects to a remote machine and manages one or more daemons there.

[2016-08-09 16:03] whyrusleeping commented on #3061
@Kubuxu i don't think we ever got around to updating that

[2016-08-09 16:05] Kubuxu commented on #3061
I think we did: https://github.com/ipfs/go-ipfs/pull/2887

This means that the issues might be resolved in 0.4.3

@mateon1 I think you already updated to 0.4.3-rc2, can you give this issues another shot?

[2016-08-09 16:06] whyrusleeping commented on #3045
Anytime you see 'unexpected fault address', it's 99% of the time a go compiler bug.

You've rebuilt go-ipfs with go1.7-rc5 (theres an rc6 now with a bunch of OSX sierra changes) and have restarted the daemon?

[2016-08-09 16:09] whyrusleeping commented on #3058
I think that makes sense to do. That flag should really mean "let me do whatever i want with the API now"

[2016-08-09 16:13] whyrusleeping opened #3064 "IPFS uses way too many threads"
On linux (and likely on BSDs and OSX) ipfs uses way too many threads. This is caused by an improperly implemented [reuseport library](https://github.com/jbenet/go-reuseport). We should prioritize fixing this as it results in excess memory usage and greatly increases the number of kernel context switching.

[2016-08-09 16:17] Kubuxu commented on #3064
Here is IPFS using over 800 system threads: fs:/ipfs/QmQH3uwcpp9AEnNXnGTBhQ4oUahQXCvE2jSdFzY33q8Fm7

[2016-08-09 16:25] whyrusleeping commented on #2405
@Kubuxu is this improved by the bloom filter code?

[2016-08-09 16:28] Kubuxu commented on #2405
I traced it to the GC code. Let me find it.

Bloom won't help as what happens we recalculate size of the repo on every call or something ridiculous like that.

[2016-08-09 16:29] whyrusleeping commented on #2489
@slothbag I just now saw this comment. Thats *very* interesting... thank you for pointing that out

[2016-08-09 16:30] Kubuxu commented on #2405
Here: https://github.com/ipfs/go-ipfs/issues/2174

It is slow in case of 250MiB, looks like hang in case of multiple GiB.

[2016-08-09 16:33] whyrusleeping opened #3065 "Implement bandwidth limiting"
We need to place limits on the bandwidth ipfs uses. We can do this a few different ways:

- per peer limiting on each actual connection object
  - pros:
    - low coordination cost (no shared objects between connections)
    - should have lower impact on performance than blindly rate limiting the whole process
  - cons:
    - no flow control between protocols, dht could drown out bitswap traffic
-

[2016-08-09 16:46] whyrusleeping opened #3066 "fix storage limits"
we currently have code that is supposed to limit the size of an fsrepo, but i'm fairly certain it doesnt actually work. We need to go through and fix (and test this).

This is also (I beleive) related to the auto-gc code which i'm not sure actually works either.

Code links:
- https://github.com/ipfs/go-ipfs/blob/master/repo/fsrepo/fsrepo.go#L548
- https://github.com/ipfs/go-ipfs/blob/master/repo/

[2016-08-09 17:20] NeoTeo commented on #3045
Yep. I'm updating Sierra right now to b5, so I'll try go1.7-rc5 just after.

[2016-08-09 17:26] whyrusleeping commented on #2434
This exists now

[2016-08-09 17:26] #2434 closed

[2016-08-09 18:40] kevina commented on #2174
Is there a reason `ipfs cat` needs to performs a conditional GC?  That seams like a rather odd thing to do for an (essentially) read-only command.

I am thinking a quick fix would be to just disable the Conditional GC.  A better fix would be to run the Conditional GC every now and then on commands that add blocks such as `ipfs add` rather then `ipfs cat`.

[2016-08-09 18:56] mateon1 commented on #3061
@Kubuxu Sure. If I force kill the daemon process on 0.4.3-rc2, the lock can't be acquired for about 10 seconds (1-2 failed daemon launches), after which the daemon starts correctly.
This issue was initially caused by a blackout, and I'd rather not just switch the power off to my PC to test this, but it seems fine so far.
I'll do some more simple testing for now.

[2016-08-09 19:07] mateon1 commented on #3061
I this issue seems to be fixed in 0.4.3; the lockfile is a JSON object, marking the owning process's PID. I believe if the PID exists, the lock considers itself claimed, otherwise invalid, fixing this issue.

[2016-08-09 19:07] #3061 closed

[2016-08-09 19:44] whyrusleeping commented on #3053
To check the code coverage on a given package, for example, `unixfs/mod`, run:

[code]

That will show you all the tests that run, and at the end, a percentage of coverage for that package. To get more detailed info, you can generate a coverage profile like so:

[code]

This will produce the same output as the last command, but it will also create a file called `cover.out` which you can use to gen

[2016-08-09 19:52] whyrusleeping commented on #2174
The reason its on ipfs cat (albeit, a poor reason) is that ipfs cat will fetch content from the network and store it on disk before sending it back to you. We wanted to make sure we always tried our hardest to have enough space to execute the command.

I think removing that call for now is okay until we find a better way to do the conditional gc stuff

[2016-08-09 19:55] whyrusleeping opened #3067 "ipfs object commands need to be re-thought for ipld"
the `ipfs object` command group assumes quite heavily that youre manipulating the current structure of protobuf merkledag nodes. We should think about how this command will work once we have ipld objects.

[2016-08-09 20:10] whyrusleeping commented on #2247
## IPFS 0.4.3 and IPLD

Welcome back to another thrilling installment of the go-ipfs captains log. This time around I've got some news about our short and mid-term goals for the next few months. But before I get to that, I want to thank all of our contributors who have contributed to this release. This is going to be the best release of ipfs yet, with performance and stability improvements across

[2016-08-09 20:16] kevina commented on #2174
Ahh, forgot that it could fetch from the network.

[2016-08-09 21:02] mateon1 opened #3068 "cli: Color on windows doesn't work"
Version/Platform/Processor information:
go-ipfs version: 0.4.3-rc2-
Repo version: 4
System version: amd64/windows
Golang version: go1.6.2

Type: bug
Area: commands/logging/cli
Priority: P1

Description:
The ipfs tool on windows doesn't display colors properly, even though the default cmd.exe supports ANSI escape codes with no problem.

Example daemon error message:
![](https://i.imgur.com/6LieDlA.

[2016-08-09 21:10] NeoTeo commented on #3045
Looking good so far. Using rc6 the daemon has survived both an add and a cat.

[2016-08-09 21:24] NeoTeo commented on #3045
Same setup on El Capitan still gives
`Error: merkledag: not found`
/me gently sobs

[2016-08-09 21:39] kevina opened #3069 "Handling "broken" pins."
In #2962 @whyrusleeping was uncomfortable with the idea of removing pinned blocks.  I am guessing that is because removing indirectly pinned blocks can break the repo.  This can be avoided in #2962 but the issue of broken pins will come up again in my filestore code ( #875 #2634) where parts of a recursive pin can just disappear if the backing file is changed or removed.

The question is what to d

[2016-08-09 21:39] whyrusleeping commented on #3068
thanks for reporting, The output in the colored.txt matches what i get from ipfs on a linux box. Could you try doing `ipfs daemon --debug 2> output.txt` and show the hexdump of that?

[2016-08-09 21:40] whyrusleeping commented on #3045
@NeoTeo on el capitan can you try with a freshly inited repo? Thats very odd that its still failing

[2016-08-09 21:43] NeoTeo commented on #3045
No, but I did run an ipfs repo verify (there a lot there I'd be sad to lose). Can I safely squirrel away the .ipfs directory, init and then hope to somehow restore the repo after?

[2016-08-09 21:44] kevina commented on #3069
Note: This is the result of an IRC converstation. See https://botbot.me/freenode/ipfs/msg/71044000/ for context.

[2016-08-09 21:47] whyrusleeping commented on #3045
@NeoTeo yeah, you can just move the directory somewhere safe and move it back once we figure out the problem

[2016-08-09 21:50] NeoTeo commented on #3045
:/ Seems it was the repo somehow. Weird it'd pass the repo verify though.

[2016-08-09 22:05] whyrusleeping commented on #3045
@NeoTeo thats no good! Is it just catting the one object that fails? Or do other things break?

Can you add a new file and cat it?

[2016-08-09 22:14] NeoTeo commented on #3045
@whyrusleeping with the fresh init it adds and cats as it should.
Moving the old repo back it hangs (or returns with the merkledag error) when cat'ing anything.

[2016-08-09 22:15] whyrusleeping commented on #3045
@NeoTeo on the old repo, when it hangs, can you give me the output of pressing `Ctrl + \` ?

[2016-08-09 22:18] NeoTeo commented on #3045
@whyrusleeping

^\SIGQUIT: quit
PC=0x6cc43 m=2

goroutine 0 [idle]:
runtime.mach_semaphore_timedwait(0x3c00002303, 0x0, 0x700000080cf4, 0x3c, 0x0, 0xc4200009c0, 0x700000080d28, 0x62cc3, 0xdf8475800, 0x0, ...)
	/usr/local/go/src/runtime/sys_darwin_amd64.s:428 +0x13
runtime.semasleep1(0xdf8475800, 0x0)
	/usr/local/go/src/runtime/os_darwin.go:424 +0xda
runtime.semasleep.func1()
	/usr/local/go/src/run

[2016-08-09 22:25] NeoTeo commented on #3045
No, wait. Maybe I misunderstood. On the daemon. Coming up...

[2016-08-09 22:31] NeoTeo commented on #3045
@whyrusleeping Wow, that was a big one:

https://gist.github.com/NeoTeo/752acc221e42889c3c3a8a9fc58b1585

[2016-08-10 01:28] slothbag commented on #3065
Here's two more related issues :)
https://github.com/ipfs/go-ipfs/issues/920
https://github.com/ipfs/go-ipfs/issues/1482

[2016-08-10 01:33] jbenet commented on #2489
Wow. That's certainly possible, given how the go net library works and how
we're using it. Our writes go all the way down. We probably want a
flushable stream behavior either manual or time aggregated.

For a lot of this network code, aggregating every 1ms would do well in most
networks (wherever the nic speed is slower than that), if the overhead of
time aggregation is <100us. That might be easie

[2016-08-10 01:35] jbenet commented on #3058
It probably should say --insecure-api to be super clear.

ipfs daemon --president-madagascar=false
On Tue, Aug 9, 2016 at 12:09 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-10 02:48] whyrusleeping commented on #3058
`ipfs daemon --world-domination=true --do-that-one-thing-with-the-giraffe=false --redisenable-discombobulated-inhibitors`

Yeah, lets make things do what they say

[2016-08-10 03:06] whyrusleeping opened #3071 "travis CI: failure of t0060-daemon.sh"
This has failed twice now that i've seen. I'm not sure what the cause is, but it looks like the daemon crashes for some reason before we make the curl call

https://travis-ci.org/ipfs/go-ipfs/jobs/151105345

[2016-08-10 06:30] haiheipijuan commented on #3063
OK, thanks.

[2016-08-10 07:25] #3063 closed

[2016-08-10 13:31] adrian-git-hub-user opened #3072 "How to create IPFS swarm ?"
Version/Platform/Processor information: 0.4.2
Type (bug, feature, meta, test failure, question): question
Area (api, commands, daemon, fuse, etc): swarm
Priority (from P0: functioning, to P4: operations on fire): P4

Description:

I initialize Initializing daemon on node1, IP of node1 is 10.131.28.5 :

Swarm listening on /ip4/10.131.28.5/tcp/4001
Swarm listening on /ip4/127.0.0.1/tcp/4001
Swarm li

[2016-08-10 15:19] diasdavid commented on #2927
Gonna bump the priority in this one to P4, because it is blocking me (Just spent almost an hour chasing a bug to learn that it was already a known issue :( )

[2016-08-10 15:55] mateon1 commented on #3068
Apparently, the windows terminal only accepts ANSI escape codes with a specific flag enabled:
"The following terminal sequences are intercepted by the console host when written into the output stream if the ENABLE_VIRTUAL_TERMINAL_PROCESSING flag is set on the screen buffer handle using the SetConsoleMode flag."
(https://msdn.microsoft.com/en-us/library/windows/desktop/mt638032(v=vs.85).aspx)
Exam

[2016-08-10 16:44] whyrusleeping commented on #3071
This is happening consistently now... I'm thinking its a travis issue.

[2016-08-10 17:02] whyrusleeping commented on #3072
@adrian-git-hub-user Are you sure thats the correct ip address and peer ID for your peer? The peer ID you listed just appears to be the peer ID of mars (a bootstrap node) with the final few characters changed.

If youre trying to connect to mars, try using: `ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ`

[2016-08-10 17:04] whyrusleeping commented on #3069
cc @jbenet @diasdavid @Kubuxu for input

[2016-08-10 19:47] adrian-git-hub-user commented on #3072
@whyrusleeping

ipfs swarm connect /ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ

returns :

Error: connect QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ failure: dial attempt failed: <peer.ID ViRv54> --> <peer.ID aCpDMG> dial attempt failed: i/o timeout

From reading your comment about bootstrap node I found this https://github.com/ipfs/examples/issues/3 which

[2016-08-10 22:42] whyrusleeping commented on #3045
@NeoTeo that is really strange... can you try deleting the following  from line 45 of `core/commands/cat.go` and recompiling?

[code]

For some reason your stack is telling me its hanging while running a garbage collection... but not actually getting to the GC part, just trying to take the lock?

[2016-08-10 22:59] whyrusleeping commented on #2489
I actually prefer go's method of doing things over how C does it. In C you're never really sure when you need to flush out your file descriptors, or when you need to manually buffer things up. Go *always* pushes writes through by default, there it no buffering on file descriptors (unlike the `*FILE` in C) and you're required to do it yourself. This means that we have to think about buffering and d

[2016-08-11 02:53] jbenet commented on #3067
Yep great point.
On Tue, Aug 9, 2016 at 15:55 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-11 02:54] jbenet commented on #3053
Would be nice to write a script to output code coverage of a package and
it's deps. Like the list you made but with the percentage next to it or
something.

I'm sure there's some CI service that does it. Does project-repos.ipfs.io
already incorporate go code coverage? cc @RichardLitt
On Tue, Aug 9, 2016 at 15:45 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-11 03:12] jbenet commented on #3062
Yeah I warned about this before. I think the verdict was "any filesystem
will do fine on this, you're worrying ove nothing".

We can implement a migration to make the fanout smaller and deeper. Though
if there's serious perf implications wonder if it should be a config
dependent thing. That May be error prone. Maybe just change fanout and gun
for arena storage.
On Mon, Aug 8, 2016 at 23:14 Dominic

[2016-08-11 03:13] RichardLitt commented on #3053
It doesn't, unless that is counted by CI. We should include it!

[2016-08-11 03:16] jbenet commented on #1482
@slothbag I'm glad it actually works :)
On Mon, Aug 8, 2016 at 19:46 slothbag <notifications@github.com> wrote:

[2016-08-11 04:23] whyrusleeping commented on #3053
We can use coveralls for the go projects

On Wed, Aug 10, 2016 at 8:13 PM Richard Littauer <notifications@github.com>
wrote:

[2016-08-11 05:58] NeoTeo commented on #3045
Yep, that works. But presumably you put that code there for a reason... some other part locking the GC?

[2016-08-11 05:59] NeoTeo commented on #3045
...and somehow related to dealing with a repo that has been migrated from the the pre 0.4 days.

[2016-08-11 07:53] Kubuxu commented on #3062
@jbenet it might not be an issue after all, we already migrated from 16bit fanout to 5bit limiting number of buckets from 65k to 512.

[2016-08-11 07:54] mateon1 commented on #3062
@jbenet Actually, in 0.4.2, this was a huge problem, with all the buckets causing massive slowdowns on the order of 8-10x slower than an empty repo. It's way less of a problem in 0.4.3, but it still doesn't scale to terabytes in the repo.

[2016-08-11 08:01] Kubuxu commented on #3062
Yes for that we would need to implement variable fanout depending on number of blocks stored in previous level. It will be complex as you need to both take into account expanding and contracting the fanout.

[2016-08-11 12:40] Kubuxu commented on #2489
I've ran a bit of statistical analysis on IPFS packets capture (only data packets, PUSH flag on, no ACK only).
The mean size of packet is 110 bytes, median 44 and most packets (40%) are 4 bytes long)
This results in high overhead of Eth/IP/TCP headers (and ACKs), the overhead is 66 bytes per packet (Eth 14, IPv4 20, TCP 32).

Histograms:

![sizes_full](https://cloud.githubusercontent.com/assets/22

[2016-08-11 12:50] Kubuxu commented on #2489
By default Go uses NoDelay on TCP connections, I think disabling it could result in major savings on number of packets (and thus overhead) we send.

[2016-08-11 14:53] adrian-git-hub-user commented on #3072
Here are steps I followed in order to setup a swarm on IPFS

HOST1 :
ipfs init
initializing ipfs node at /root/.ipfs
generating 2048-bit RSA keypair...done
peer identity: <PEER_IDENTITY_HASH_HOST1>

ipfs daemon
Initializing daemon...
Swarm listening on /ip4/<HOST1_IP_ADDRESS>/tcp/4001
...

HOST2 :
Initialise daemon also on HOST2
Initializing daemon...
Swarm listening on /ip4/<HOST2_IP_ADDRESS>/tcp

[2016-08-11 17:27] whyrusleeping commented on #3045
@NeoTeo how large is this repo? (the one that youre having troubles with)

I think this might be related to another issue where checking if we need a GC is too expensive

[2016-08-11 17:29] NeoTeo commented on #3045
~12 GB

[2016-08-11 19:38] whyrusleeping commented on #3045
@NeoTeo in your .ipfs config, can you change Datastore.StorageMax to something like 1000GB or something? and then try catting something with the normal binary (not with the removed GC code)

[2016-08-11 19:47] NeoTeo commented on #3045
Yep, that's it!

[2016-08-11 19:56] whyrusleeping commented on #2489
I really don't think NoDelay is a good solution. It will result it weird random hangs and slowdowns for us.

For instance, the final packet of a write the spans multiple packets will be held back until an ACK is received from the other side. This will incur hundreds of milliseconds of latency in simple RPCs. This will be especially painful in things like dht requests, where the responses can easil

[2016-08-11 20:01] Kubuxu commented on #3045
@whyrusleeping it might be the same issue. I had the default GC setting in my config, we might want to be more explicit about running GC because size limit was hit.

[2016-08-11 20:06] whyrusleeping commented on #3045
We should not have that 'feature' enabled by default. If you want to set a size limit, you should have to do it manually

[2016-08-11 21:32] louisbourque opened #3075 "'ipfs add' stack trace while daemon is running"
Version/Platform/Processor information:
[code]

Type: **bug**
Area: **commands**
Priority: **P1**

Description:

If I try to run `ipfs add file` **while `ipfs daemon` is running**, I get a stack trace. If I stop the daemon, and try again it works fine. 'file' is just a text file in the current directory.

While `ipfs daemon` is running:
[code]
While `ipfs daemon` is stopped:

[code]

[2016-08-11 22:09] whyrusleeping commented on #3075
@louisbourque are you sure that binary youre using for `ipfs daemon` and the binary youre using for `ipfs add` are the same? I'm able to reproduce the above issue by running `ipfs daemon` with code from 0.4.2, and the `ipfs add` with 0.4.3-rc

I havent tried on a raspberry pi yet because i don't have one handy at the moment, but i'm fairly certain that won't be an issue

[2016-08-11 22:12] Kubuxu commented on #3075
@whyrusleeping we have checks for that, cli won't execute commands at the daemon even if it is 0.4.3-rc1 vs 0.4.3-rc2.

[2016-08-11 22:19] whyrusleeping commented on #3075
@Kubuxu yes, it will. try it.

[2016-08-11 22:21] louisbourque commented on #3075
@whyrusleeping The binaries should be the same one. I never had 0.4.2 installed on this Raspberry Pi. The first one I got was go-ipfs_v0.4.3-rc1_linux-arm.tar.gz. I got this error with that version too, so I checked for an upgrade and found go-ipfs_v0.4.3-rc2_linux-arm.tar.gz.

Just to make sure, here is the flow I can use to reproduce the error, all in the same shell session, so it should always

[2016-08-12 06:37] jbenet commented on #3062
We could just expand for now. implement compaction when it is needed

[2016-08-12 06:41] jbenet commented on #3062
but yes, we really need it to be variable sized. [guess who implemented this years ago](https://github.com/datastore/datastore/blob/7ccf0cd4748001d3dbf5e6dda369b0f63e0269d3/datastore/core/basic.py#L591-L673).

[2016-08-12 11:10] xloem opened #3076 "--config not respected during migration"
Version/Platform/Processor information (from `ipfs version --all`):
go-ipfs version: 0.4.3-rc3-
Repo version: 4 (--config also not respected by ipfs version --all)
System version: amd64/linux
Golang version: go1.6.2

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P1

Description:
I

[2016-08-12 20:22] pfrazee opened #3080 "Object links command is not giving an answer for IPNS pubkeys"
Version/Platform/Processor information (from `ipfs version --all`): 0.4.1/darwin/64-bit

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P3

Description:

According to @diasdavid, I should be able to run `ipfs object links <ipns-pubkey>` and get the ipfs hash that it's currently map

[2016-08-12 20:33] Kubuxu commented on #3080
Are you using `ipfs object links /ipns/<pubkey>`?

[2016-08-12 20:37] pfrazee commented on #3080
@Kubuxu no, I just did `<pubkey>`. Adding the `/ipn/` prefix didnt solve it

[2016-08-12 20:38] pfrazee commented on #3080
Wait! I take it back. It took a while, but adding the prefix solved it

[2016-08-12 20:42] pfrazee commented on #3080
Thanks, yes that solved it. It's *very* slow, but it works

[2016-08-12 20:42] #3080 closed

[2016-08-13 05:45] jbenet commented on #3080
yeah we need to make this much faster!

[2016-08-13 08:07] dokterbob opened #3081 "Migrate full functionality of `ipfs file ls` to `ipfs ls`"
Version/Platform/Processor information (from `ipfs version --all`):
0.4.3-rc3

Type (bug, feature, meta, test failure, question): question
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P3

Description:
As explained in https://github.com/ipfs/go-ipfs/issues/3057#issuecomment-238273468, the `ipfs file ls` command is basically deprecated

[2016-08-13 08:26] dokterbob opened #3082 ""invalid peer address" with ipv6 in swarm peer connect"
Version/Platform/Processor information (from `ipfs version --all`): 0.4.2
Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P2

Description:
Explicitly connecting to peers works fine for ip4 addresses but with ip6 it yields the following result:

[code]

The error results from [/core/

[2016-08-13 08:35] dokterbob commented on #3057
Looking into this a little further, specifically considering #2837 (allowing files command to handle ipfs paths), what added or specific functionality is meant for `ipfs ls` to add over `ipfs files ls`?

Again, would'nt it make sense to make `ipfs ls` a mere alias for `ipfs files ls` given that, essentially, both list unixfs files?

[2016-08-13 08:53] dokterbob commented on #3056
Example output of different commands:

`$ ipfs ls --enc=json <hash>`
[code]

`$ ipfs file ls --enc=json <hash>`
[code]

`$ ipfs object links --enc=json <hash>`
[code]

`$ ipfs files ls --enc=json <path>`
[code]

[2016-08-13 08:57] dokterbob commented on #3081
From looking at the code, the main difference seems to be that `ipfs file ls` [lists the file size](https://github.com/ipfs/go-ipfs/blob/master/core/commands/unixfs/ls.go#L115) rather than the object size for File-objects whereas `ipfs ls` seems to always [list the link size](https://github.com/ipfs/go-ipfs/blob/master/core/commands/ls.go#L124).

[2016-08-14 20:33] diasdavid commented on #2927
@Kubuxu can you give an update here? I know you wrote a test, is this behaving properly now?

I also know that @whyrusleeping has mixed feelings about a 'replace' option, can I get a statement on https://github.com/ipfs/interface-ipfs-core/tree/master/API/config#configreplace and what your thoughts of what that call should do.

[2016-08-14 23:58] Kubuxu commented on #2927
I also have mixed feelings about config replace, I don't know what is the proper way for it to behave. It behaves correctly according to current spec/description as far as I know.

[2016-08-15 00:39] diasdavid commented on #2927
Thank you, I did some more experiments and not seeing my issue on the latest master. Do note that replacing by a random .json file still makes the config get 'washed'.

[2016-08-15 01:39] diasdavid commented on #2914
Any update on this one?  :)

[2016-08-15 03:56] kevina commented on #2914
@diasdavid please see #2962

[2016-08-15 20:06] louisbourque commented on #3075
After some debugging, it seems this issue is caused by a combination of my use of a proxy server and the Go HTTP request setting a content length of 0.

When the daemon is running, the command is executed via the API instead of locally. The HTTP request is made with a Content-Length of 0, which Squid proxy sees as invalid:
[code]

If I manually set the content length (`httpReq.ContentLength = 224`

[2016-08-15 20:06] #3075 closed

[2016-08-15 20:19] whyrusleeping commented on #3075
Are we explicitly setting a length of zero? Afaik we use chunked encoding
and don't touch content length.

On Mon, Aug 15, 2016, 13:06 Louis Bourque <notifications@github.com> wrote:

[2016-08-15 20:33] louisbourque commented on #3075
As far as I can see, IPFS isn't setting the content length at all. Looking at the documentation for [net/http](https://golang.org/pkg/net/http/), I would say the length should be determined by http.NewRequest. [This test](https://golang.org/src/net/http/request_test.go)(around line 400) even checks to make sure that it did.
The difference may be that they use String reader, and we're using File re

[2016-08-15 21:02] whyrusleeping commented on #3075
That sounds correct. The http spec allows you to either set content length, **or** use chunked encoding. I'm assuming that your proxy doesnt understand chunked-encoding and is failing to pass that header down to the daemon.

[2016-08-15 23:37] djdv commented on #3068
Referencing old duplicate:
https://github.com/ipfs/go-ipfs/issues/2124

[2016-08-16 08:25] diasdavid opened #3089 "branch dev builds for js-ipfs testing"
As discussed in Aug 15 call, we need a way to have binaries for some go-ipfs branches, so that we can test them with js-ipfs before release (or even release candidate)

[2016-08-16 16:38] #3057 closed

[2016-08-16 20:26] Kubuxu commented on #3053
I made a script for go-ipfs: https://gist.github.com/Kubuxu/989ab1b51a9f3a0b71479a71abe35427#file-makereprot-sh it should be easily modifiable for other packages, but we should use CoverAlls (or something similar either way).

Someone just needs to go through all go repos and set it up.

[2016-08-16 20:47] RichardLitt commented on #3053
I'm happy to help with that?

[2016-08-16 21:01] Kubuxu commented on #3053
Sure, let's try it first on go-ipfs and we will see how it goes.

[2016-08-17 01:46] jakobvarmose opened #3092 "More intelligent blockstore garbage collection"
Type: Feature
Area: Blockstore, Pin

Description:

The current garbage collector deletes all un-pinned blocks. This makes the system more fragile, as people don't usually pin a lot of objects. And if I have configured my node to keep up to 10GB of data I would also expect it to keep close to that limit at all times.

One solution is to delete blocks at random until the disk usage falls below the t

[2016-08-17 01:49] JesseWeinstein commented on #3092
It might also be good to have both a min and max threshold, and have a garbage collection that only removed things until the min threshold was reached. It could be automatically triggered at the max threashold, as is done now.

[2016-08-17 02:10] whyrusleeping commented on #3092
@jakobvarmose how would your reference counting idea work? would it count existing references to blocks? or would it simply increment some counter each time a block is referenced by another object?

I agree 100% that the current GC implementation is a bit... blunt. The issue is that the marking phase is relatively expensive, so doing smaller runs is not cheap. There has been some previous discussi

[2016-08-17 02:51] jakobvarmose commented on #3092
I would add two new variables associated with each block:

    directPin bool
    refCounter uint

When an object is pinned directly just set `b.directPin = true`. When recursively pinning an object increment `b.refCounter` for that block and for each of its descendent blocks.

To check if a block is pinned simply do `b.directPin || b.refCounter > 0`.

[2016-08-17 03:08] whyrusleeping commented on #3092
@jakobvarmose yeah, [we used to do that](https://github.com/ipfs/go-ipfs/blob/v0.3.11/pin/pin.go). It was *really* slow, and expensive. We have thousands to millions (or more) of blocks. Blocks may also be very small, and the overhead of that reference information would be significant. Every pin operation would need to iterate over every child block and update every entry for that child block.

[2016-08-17 03:44] whyrusleeping opened #3093 "Move to requiring go1.7"
go1.7 brings *many* awesome improvements that we benefit greatly from.

## Some highlights:
### at least 10% (up to 35%) performance improvement in crypto/sha256 and math/big
These are hard cpu bottlenecks in various aspects of ipfs. Improving these will make ipfs feel faster all over (especially during `ipfs add` on faster disks). It will also make ipfs use less cpu in general.

### `context` ado

[2016-08-17 06:38] marionzualo opened #3094 "Node construction fails on Docker Toolbox"
Version/Platform/Processor information (from `ipfs version --all`): ipfs version 0.4.4-dev

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): docker image
Priority (from P0: functioning, to P4: operations on fire): P2

Description:
I tried running the [docker image](https://hub.docker.com/r/jbenet/go-ipfs/) and I ran into issues. I could not find this

[2016-08-17 12:22] jakobvarmose commented on #3092
@whyrusleeping Oh, I didn't know. Yeah, it would use quite a bit of memory. But I can't see how it would be much slower, as the current implementation also needs to read each child block from disk, and this is probably the slowest part. Unpinning will of course be slower, but pinning should be about the same speed. Or what am I missing?

[2016-08-17 12:40] Kubuxu commented on #3092
@jakobvarmose no, currently when you pin and unpin we only update list of root hashes, reference counting would require to iterate whole hash tree and update the reference count.

[2016-08-17 15:00] csasarak commented on #2848
@whyrusleeping I've returned. @jbenet Are you saying that we should try to implement it this way? I'd assume that storing it in IPFS would achieve the goal of writing it to disk.
 Or should we open a discussion elsewhere about storing data in IPFS and go with the more naive implementation for now?

[2016-08-17 15:20] whyrusleeping commented on #3093
Also worth noting, in order to support macOS Sierra, we need to use go1.7

[2016-08-17 16:02] whyrusleeping commented on #2848
@csasarak for now lets not store the data in ipfs, we need to figure a lot of stuff out first.

Lets just put this data in leveldb for now, But before we get to that, we need to make the go-libp2p-peerstore support writing into a go-datastore. You should go open an issue there to start discussing the design/changes

[2016-08-17 16:15] Kubuxu commented on #3093
I am all for it, but we should then publish dev releases to dist page periodically, as some systems will take few weeks or months to adopt 1.7 compiler.

[2016-08-17 21:18] whyrusleeping commented on #3094
@marionzualo thanks for reporting! I'm definitely not very well versed in docker, but being on OSX makes me wonder... Does the `-v` option work properly on OSX? Last i recalled, docker on OSX works by running a docker daemon in a vm, i'm not sure how well filesystem mounts across OS's work.

[2016-08-18 01:31] kevina commented on #3092
@whyrusleeping I was wondering about why we won't use reference counting for indirect pins.  How is that worse than what we have to do now.  How is it worse to have to iterate over every child of a single recursive pin to update it worse than having to always iterate over every child of _every_ recursive pin just to check if a block is pinned.  The checking operation would seam to me to be more fr

[2016-08-18 01:44] whyrusleeping commented on #3092
@kevina we've been down this road before. The disk overhead is significant, the cost to pin large objects becomes relatively obscene. If you want to dig into it more, go check out the old code and PRs

[2016-08-18 02:15] kevina commented on #3092
Some references #1192 #1225 #1420

[2016-08-18 02:37] jakobvarmose commented on #3092
@Kubuxu When unpinning you are right that the current implementation runs very quickly. But when pinning all child blocks are read from the datastore.

[2016-08-18 02:43] jakobvarmose commented on #3092
Another related idea: To make GC faster instead of simply marking, count the number of references (you could call it count-and-sweep), and store this result to disk. Additionally store incremental updates of recursive pins. The next time the garbage collector is run it will read the results from last time, and update incrementally.

[2016-08-18 03:19] jbenet commented on #3093
- it's fine to bump our req to 1.7
- we should strongly consider using gx to install the version of Go we need
locally. Can use their prebuilts directly. That way we can upgrade without
waiting for people to upgrade their whole systems.
- most users SHOULD NOT be building from source anyway, nor expecting to
use edge dev, they SHOULD be using releases.
On Wed, Aug 17, 2016 at 12:15 Jakub Sztandera

[2016-08-18 03:20] jbenet commented on #3093
Also much ❤️❤️❤️❤️❤️❤️❤️❤️ to net with context :)
On Wed, Aug 17, 2016 at 23:16 Juan Benet <juan2@benet.ai> wrote:

[2016-08-18 03:51] jbenet commented on #3092
Maybe we should review proper gc algorithms and find something that matches
our perf needs (re algorithmic complexity)
On Wed, Aug 17, 2016 at 22:43 Jakob Varmose Bentzen <
notifications@github.com> wrote:

[2016-08-18 05:26] dannyid commented on #2650
I, too, am getting these errors on `ipfs mount` and `ipfs daemon --mount`.

Initially the error is:

`exec: "fuse-version": executable file not found in $PATH`

I ran `go get github.com/jbenet/go-fuse-version/fuse-version` and ensured it was in my `$PATH`. Running `fuse-version` from the command line produces:

    OSXFUSE.FuseVersion: 29
    OSXFUSE.AgentVersion: 3.4.2
    OSXFUSE.AgentName: OSXF

[2016-08-18 05:37] jakobvarmose commented on #3069
If the user has recursively pinned a block they clearly want to store this block and its children, so IPFS should try to keep as much of it stored, so deleting the pin seems like a bad idea. Adding new pins to compensate for the broken block may result in a lot of direct pins and would be very confusing for the user. So I guess the only option left is to simply keep the pin, but maybe mark it as b

[2016-08-18 08:59] hermanjunge commented on #3094
Tried to replicate. Got pulled this image `dfa55261af77`, with version `ipfs version 0.4.4-dev`. Didn't have any problems. Can you `docker pull` again @marionzualo ? Because my output at 0900 GMT is

[code]

[2016-08-18 13:07] dokterbob commented on #3029
Just ran into the same problem, the workaround of `< /dev/null` does it for me - and the problem *does* seem fixed in 0.4.3rc3.

[2016-08-18 13:34] marionzualo commented on #3094
@whyrusleeping Thanks for the pointer, I will look into the details of the `-v` option and see if it is something related to that. I will also try running the docker image using Linux as well.

@hermanjunge Thanks for the input I will try again then, and come back to you on an answer. Thanks.

[2016-08-18 13:36] Kubuxu commented on #3029
This was a bug introduced in 0.4.2 and fixed in 0.4.3-rc1.

[2016-08-18 15:40] paulsnar commented on #2650
Okay so I got kinda tired of this and looked into it.

According to [mount_darwin.go](https://github.com/ipfs/go-ipfs/blob/de6c65ba07c0e3fd8b2a94eb5dd982e440894cac/fuse/node/mount_darwin.go#L219L232), the config value expected to be attached to `DontCheckOSXFUSE` has to be a *string* containing the word "true". But somewhere within the config handling there is a check to make sure a string value "

[2016-08-18 19:32] whyrusleeping commented on #2650
Hey @dannyid and @paulsnar Thanks for looking into this, I pushed a patch here: https://github.com/ipfs/go-ipfs/pull/3098

If you guys could try it out and let me know if it solves the issue with the config stuff that would be very helpful

[2016-08-18 19:41] whyrusleeping commented on #3071
No longer occurring, closing as a 'random travis problem'

[2016-08-18 19:42] #3071 closed

[2016-08-18 19:54] whyrusleeping commented on #3040
@karlek have you seen any more issues like this since updating?

[2016-08-18 20:02] paulsnar commented on #2650
@whyrusleeping this should fix one part of the issue, which is the confusing config behavior, but the actual problem is that Go's `exec` seems to sometimes not detect `fuse-version` even if it exists in `$PATH` (see [this comment](https://github.com/ipfs/go-ipfs/issues/2650#issuecomment-234410472), for example).

I'll test your patch and look into this more tomorrow.

[2016-08-18 21:15] karlek commented on #3040
@whyrusleeping
No, I haven't used my computer for the past two weeks. Will reply if it reoccurs.

[2016-08-18 22:30] csawyerYumaed commented on #1634
ipfs version 0.4.2
I had to edit the config file by hand, this is the only way it worked for me.
 grep DontCheckOSXFUSE ~/.ipfs/config
  "DontCheckOSXFUSE": "true",

[2016-08-18 22:57] whyrusleeping commented on #1634
@csawyerYumaed this should be fixed in #3098. With that patch you should be able to use the command specified in the helptext

[2016-08-18 23:04] whyrusleeping commented on #2650
@paulsnar ah, in the comment you link to, there is an error printed rather sneakily at the end saying:

[code]

That looks to me like it tried to install fuse-version itself and failed on the go get for the stated reason, but it shouldnt have gotten that far anyways, i'm left wondering what the error returned by `exec.LookPath` at the top is. If you can reproduce this issue, do you mind changing t

[2016-08-18 23:13] whyrusleeping commented on #2556
no longer happening

[2016-08-18 23:13] #2556 closed

[2016-08-18 23:14] whyrusleeping commented on #2428
This should no longer happen. manual connects will clear the dial backoff. If this continues to occur, please open a new issue and reference this one.

[2016-08-18 23:14] #2428 closed

[2016-08-18 23:27] whyrusleeping commented on #2112
I can reproduce this on 0.4.1 and 0.4.2, but not on 0.4.3-rc3, so either:

- it was fixed in 0.4.3

or

- it was fixed in whatever go versions have been released since we built 0.4.2 for distributions

[2016-08-18 23:35] whyrusleeping commented on #2112
Alright, gonna assume we fixed it. Tried building 0.4.3-rc3 with go1.6 (which is what ipfs 0.4.2 was built with) and could not reproduce the issue.

[2016-08-18 23:35] #2112 closed

[2016-08-18 23:50] whyrusleeping commented on #3076
Thanks for reporting! the `--config` is a bit weird... the helptext claims that you pass it the path to your config file, but in the code (`cmd/ipfs/main.go:462`) it seems to use the value as the path to the repo instead... We definitely need to update the helptext and make sure the flag gets respected across all commands.

For now, you can set the `IPFS_PATH` environment variable to your repo loc

[2016-08-18 23:58] whyrusleeping commented on #3072
@adrian-git-hub-user glad you got it working!

[2016-08-18 23:58] #3072 closed

[2016-08-19 00:14] whyrusleeping commented on #3045
@NeoTeo gonna go ahead and close this as i *think* we solved all the problems :)

Please open a new issue if anything else comes up

[2016-08-19 00:14] #3045 closed

[2016-08-19 00:15] whyrusleeping commented on #3029
close when 0.4.3 is released

[2016-08-19 00:16] whyrusleeping commented on #3039
@adrian-git-hub-user do you use a proxy to access the internet normally?

[2016-08-19 00:17] whyrusleeping commented on #3015
issue is stale, closing. Please reopen as necessary

[2016-08-19 00:17] #3015 closed

[2016-08-19 00:19] whyrusleeping commented on #2981
this has been fixed! thanks @yuvallanger !

[2016-08-19 00:19] #2981 closed

[2016-08-19 00:22] whyrusleeping commented on #2944
closing, looks like a filesystem fluke

[2016-08-19 00:22] #2944 closed

[2016-08-19 02:07] jbenet commented on #3076
Maybe we should use --repo instead of --config. Could deprecate (warn and
not remove yet) --config.

--config could be used in ipfs init to provide a sample config to import
and use. Unless it clashes with old use of --config. Maybe --with-config
On Thu, Aug 18, 2016 at 19:50 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-19 02:07] jbenet commented on #2428
Good solution (clear on manual)
On Thu, Aug 18, 2016 at 19:15 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-19 06:36] dannyid commented on #2650
This may be out of scope of this particular issue but with regard to `fuse-version` not being found due to no or wrong `$GOPATH` being set, I attempted to fix this by adding my `go` folder to my `$GOPATH` (the one with `bin/`, `pkg/`, and `src/` in it, and it didn't help. I also tried adding the paths to each of the above folders and that didn't help either. I'm pretty new to Go so I have no idea

[2016-08-19 07:12] adrian-git-hub-user commented on #3039
@whyrusleeping yes I use proxy normally. I set http_proxy & https_proxy variables.

[2016-08-19 07:18] dokterbob commented on #3029
Ok, let's close it then. :)

[2016-08-19 07:25] Kubuxu commented on #2650
Can you show us an output of `go env`?

[2016-08-19 07:33] dannyid commented on #2650
@Kubuxu Actually, upon second check, my `fuse-version` issue has gone away. For the record, here's my `go env` though.

[code]

[2016-08-19 16:04] whyrusleeping commented on #3049
closing as #3051 merged

[2016-08-19 16:04] #3049 closed

[2016-08-19 16:11] whyrusleeping commented on #2695
This looks like a 'local' gx install was done. The solution here would be to delete the `vendor/gx` folder and re-run `make deps`

[2016-08-19 16:17] whyrusleeping commented on #2730
I believe this has been resolved in 0.4.3, i'm pretty sure it was the utp issue

[2016-08-19 16:23] whyrusleeping commented on #2623
You will have to change the listener address for the API in your ipfs config to not listen on just `127.0.0.1`, and then set up CORS headers as shown in `ipfs daemon --help`.

Let us know if you have any other issues or that doesn't work for you.

[2016-08-19 16:23] #2623 closed

[2016-08-19 16:24] parkan commented on #2823
We seem to be hitting this situation too, how can I pull a heatlist like in https://github.com/ipfs/go-ipfs/issues/2823#issuecomment-224904261 ?

[2016-08-19 16:25] whyrusleeping commented on #2645
Since then we have pushed a few other PRs improving memory usage. Its not perfect yet, but i think its good enough that we can close this one out.

[2016-08-19 16:25] #2645 closed

[2016-08-19 16:25] #2620 closed

[2016-08-19 16:28] whyrusleeping commented on #2610
A multihash isnt returned from that call because one isnt generated immediately on that write. You can call `ipfs files stat` on the path afterwards to get the hash, or use `ipfs add <file>` to get the hash, then `ipfs files cp <hash> <files api path>` to put it into place.

[2016-08-19 16:31] whyrusleeping commented on #2605
You should always know who you are receiving packets from, this is guaranteed at different layers, the overhead of adding roughly 40 (34 for multihash, a few for protobuf framing) bytes onto each message, many of which are only 40 bytes themselves is terrible. This sort of thing causes huge bandwidth bloat and waste.

[2016-08-19 16:33] whyrusleeping commented on #2407
This is caused by is checking to see if we should run a gc before each cat command. We should remove that call for now until we rethink how it should work.

[2016-08-19 16:35] whyrusleeping commented on #2439
havent seen this in a long while, gonna assume its been fixed

[2016-08-19 16:35] #2439 closed

[2016-08-19 16:36] whyrusleeping commented on #2431
we do this now!

[2016-08-19 16:36] #2431 closed

[2016-08-19 16:36] whyrusleeping commented on #2425
havent seen this in a long while, closing

[2016-08-19 16:36] #2425 closed

[2016-08-19 16:37] whyrusleeping commented on #2400
was a port reuse issue

[2016-08-19 16:37] #2400 closed

[2016-08-19 16:38] #2408 closed

[2016-08-19 16:38] #2381 closed

[2016-08-19 16:39] whyrusleeping commented on #2355
@Kubuxu can we close this?

[2016-08-19 16:41] whyrusleeping commented on #2386
the `X-Stream-Error` is a trailer we use to signify that a streaming output command has errored.

For example, during an `ipfs cat`, we get the first few blocks and want to start streaming back data, so we respond `200 OK` and start sending data. But halfway through fetching the information, we error out for some reason. How do you convey that to the user? Our solution was to use http trailers.

[2016-08-19 16:41] #2355 closed

[2016-08-19 16:42] whyrusleeping commented on #2272
This doesnt map to any unix command that i know of. `mv A B` will put `A` inside of `B` if `B` exists and is a directory.

[2016-08-19 16:43] whyrusleeping commented on #2220
This has been fixed, it was a bug in the walk function for the datastore enumeration.

[2016-08-19 16:43] #2220 closed

[2016-08-19 16:43] #2276 closed

[2016-08-19 16:44] whyrusleeping commented on #2211
Its now 'some time' after the 0.4.0 release, closing now :)

[2016-08-19 16:44] #2211 closed

[2016-08-19 16:45] Kubuxu commented on #2823
`grep -e '^goroutine' ipfs.stacks -A1 | grep -v '^goroutine' | grep -v -- '--' | sort| sed 's/[^\(]*$//' | uniq -c | sort -bg | tac` where ipfs.stacks is from: https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md#beginning

[2016-08-19 16:45] whyrusleeping commented on #2185
We should probably add support for this before ipfs 0.5.0

[2016-08-19 16:48] whyrusleeping commented on #2183
We're planning on having a separate binary for the fuse mounting code in the future.

If there are any more questions along this topic, please direct them over to the faq: https://github.com/ipfs/faq/issues

[2016-08-19 16:48] #2183 closed

[2016-08-19 16:49] whyrusleeping commented on #2273
go get is no longer supported as part of the ipfs build process, see the readme for details.

[2016-08-19 16:49] #2273 closed

[2016-08-19 16:53] whyrusleeping commented on #2260
This should be resolved now. The links field is normalized to be null if no links are present. The two bytes was caused by a non-null but zero length links array in the protobuf

[2016-08-19 16:53] #2260 closed

[2016-08-19 16:56] whyrusleeping commented on #2043
We should verify that all occurences of this have been resolved, then close the issue

[2016-08-19 16:57] whyrusleeping commented on #3092
reference: https://github.com/ipfs/go-ipfs/issues/2030

[2016-08-19 16:57] whyrusleeping commented on #2027
havent seen this in a while

[2016-08-19 16:57] #2027 closed

[2016-08-19 16:58] whyrusleeping commented on #2053
lets get this done alongside the ipld stuff. With the new CIDv1 stuff we will be able to address completely raw blocks!

[2016-08-19 16:59] #2038 closed

[2016-08-19 17:01] whyrusleeping commented on #2018
I think that the tiered datastore solves this issue, we should make the datastore code more configurable from the ipfs config.

[2016-08-19 17:03] whyrusleeping commented on #2016
@sivachandran where is your s3 datastore implementation at?

On the todo list is making configuring the local datastore nicer, i'll ping back here when thats complete.

[2016-08-19 17:04] parkan commented on #2828
Similar report, while adding ~70,000 objects (~100k ea) we were maxing out our instance's traffic (70MBit in, 160MBit out) for over 14 hours (!!!), at which point someone killed the IPFS daemon.

Back of the envelope, this is at least 1TB outgoing for ~10GB files.

One particular problem: because the daemon was killed before the process completed, it seems that *almost none of the files were pinne

[2016-08-19 17:04] whyrusleeping commented on #2067
Once CIDv1 lands, you will be able to address raw blocks. That should solve this issue

[2016-08-19 17:06] whyrusleeping commented on #2002
I think this effort was successful. Master is quite green lately

[2016-08-19 17:06] #2002 closed

[2016-08-19 17:08] whyrusleeping commented on #1903
this has since been changed to `Pins`, which is more agnostic to the action performed

[2016-08-19 17:08] #1903 closed

[2016-08-19 17:09] whyrusleeping commented on #1893
this has been fixed

[2016-08-19 17:09] #1893 closed

[2016-08-19 17:10] whyrusleeping commented on #1923
This has since been resolved

[2016-08-19 17:10] #1923 closed

[2016-08-19 17:10] #1942 closed

[2016-08-19 17:10] #1936 closed

[2016-08-19 17:12] whyrusleeping commented on #1906
For further reference, take a look at the captains log: https://github.com/ipfs/go-ipfs/issues/2247

[2016-08-19 17:12] #1906 closed

[2016-08-19 17:12] whyrusleeping commented on #1841
https://dist.ipfs.io is live!

[2016-08-19 17:12] #1841 closed

[2016-08-19 17:13] whyrusleeping commented on #1945
Further discussion towards this should be on the core ipfs interface: https://github.com/ipfs/interface-ipfs-core

[2016-08-19 17:13] #1945 closed

[2016-08-19 17:13] whyrusleeping commented on #1842
ipfs update is a thing and has shipped!

[2016-08-19 17:13] #1842 closed

[2016-08-19 17:14] whyrusleeping commented on #1877
havent seen this issue since, going to assume this was an OSX filesystem fluke. please reopen if it happens again.

[2016-08-19 17:14] #1877 closed

[2016-08-19 17:17] whyrusleeping commented on #1758
This should be resolved now, open a new issue if problems reoccur

[2016-08-19 17:17] #1758 closed

[2016-08-19 17:17] whyrusleeping commented on #1689
we have since implemented a much smarter dial limiter and scheduler, this isnt as much of an issue anymore

[2016-08-19 17:17] #1689 closed

[2016-08-19 17:18] #1738 closed

[2016-08-19 17:18] whyrusleeping commented on #1652
this has been resolved

[2016-08-19 17:18] #1652 closed

[2016-08-19 17:19] whyrusleeping commented on #1489
ipfs now by default raises the default file descriptor limit to 1024 if it is lower than 1024 on startup

[2016-08-19 17:19] #1489 closed

[2016-08-19 17:19] #1620 closed

[2016-08-19 17:21] whyrusleeping commented on #1630
This has since been improved, ipfs pin add is much better about timeouts and resource consumption

[2016-08-19 17:21] #1630 closed

[2016-08-19 17:22] whyrusleeping commented on #1456
we have improved this both in flatfs and libp2p

[2016-08-19 17:22] #1456 closed

[2016-08-19 17:22] #1454 closed

[2016-08-19 17:23] whyrusleeping commented on #2828
@parkan which version of ipfs are you using? This is definitely a known issue, but it has been improved slightly since 0.4.2

[2016-08-19 17:25] whyrusleeping commented on #2823
alternatively:
[code]

[2016-08-19 17:25] parkan commented on #2828
@whyrusleeping 0.4.3-rc3

[2016-08-19 17:26] parkan commented on #2828
@whyrusleeping my intuition is that there's some kind of context that's not being released before a queue is drained, which is supported by *none* of the files being pinned successfully after killing the client. Does this seem plausible?

[2016-08-19 17:27] whyrusleeping commented on #2828
@parkan are you killing the daemon before the add call is complete?

[2016-08-19 17:27] parkan commented on #2828
@whyrusleeping no, these are all individual add calls that complete reasonably quickly, load/network traffic happens w/o client interaction

[2016-08-19 17:29] parkan commented on #2823
@whyrusleeping

[code]

is my go too old?

[2016-08-19 17:41] jbenet commented on #2828
That's a very serious bug to figure out. consistency is paramout here and that's much more important to get right.

This is caused by providing random access to all content, as discussed via email. for the large use case, we should look at recompiling go-ipfs _without_ creating a provider record for each object, and leverage direct connections. (FWIW, orbit on js-ipfs works without the DHT entirel

[2016-08-19 17:41] whyrusleeping commented on #2828
You can check which objects are pinned after an add with: `ipfs pin ls --type=recursive`.

It also seems really weird that your repo size is listed as `20` for both of those calls...

[2016-08-19 17:42] whyrusleeping commented on #2828
@parkan also, what is the process for adding files? is it just a single call to `ipfs add` ? or many smaller calls broken up? Are you passing any other flags?

[2016-08-19 17:42] jbenet commented on #2828
@parkan on chunk size, i'd be interested (separately) how well Rabin Fingerprint based chunking (`ipfs add -s <file>`) does for your images. If they're similar it should reduce the storage, but this is experimental and not proved to help. it's also slower on add, as it's got to do math when chunking.

[2016-08-19 17:43] parkan commented on #2828
@whyrusleeping ipfs pin ls was showing <500 objects pinned successfully, I don't think any of them are from this add attempt

also, small correction to my previous statement: not *all* `ipfs add` calls had completed, basically it was like this:

1) we add ~10k files with relatively fast return from ipfs add
2) adds slow down, taking >30s per file
3) daemon is killed

[2016-08-19 17:45] parkan commented on #2828
@whyrusleeping these are many separate adds, we basically write a temporary file (incidentally, being able to pin from stdin would be great), `ipfs add` it (no options) and wait for return

[2016-08-19 17:46] whyrusleeping commented on #2828
@parkan Ah, yeah. The pins arent written until the add is complete. An ipfs add call will only pin the root hash of the result of any given call to `ipfs add`.

[2016-08-19 17:47] whyrusleeping commented on #2828
[code]

[2016-08-19 17:48] whyrusleeping commented on #2828
When the adds slow down that far could you get me some of the performance debugging info from https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md ?

[2016-08-19 17:51] parkan commented on #2828
@whyrusleeping sorry, maybe I was being unclear: for 10k+ files the "add" part **was** completed (i.e. the call to `ipfs add` returned) but pin did not land.

re: stdin, I meant `ipfs add`, not `ipfs pin add` :)  Can I just pipe binary data into `ipfs add -`?

[2016-08-19 17:56] whyrusleeping commented on #2828
So, you did:
[code]

Right?
Does that final hash from that add call show up in the output of `ipfs pin ls --type=recursive` ?

I'm also confused about what is meant by 'adds slow down' if the add call completed by that point. Was this a subsequent call to `ipfs add` with more files?

re: stdin: you can indeed just pipe binary data to ipfs add :)

[code]

[2016-08-19 17:56] parkan commented on #2828
here's the parsed dump:

<details>
[code]
</details>

[2016-08-19 17:56] parkan commented on #2828
@whyrusleeping no, we are calling `ipfs add` *on each individual file* because there's no actual tree to add from

[2016-08-19 18:00] whyrusleeping commented on #2828
Thanks for the stack dump, that just confirms for me that the problems are caused by the overproviding. The 2000 gorotuines stuck in runtime_Semacquire are somewhat odd though, could I get the full stack dump to investigate that one further?

As for the adds, after each `ipfs add` call completes (or some subset of them complete) are those hashes visible in the output of `ipfs pin ls --type=recursi

[2016-08-19 18:03] parkan commented on #2828
@whyrusleeping I'm trying to repro this behavior, but I am quite certain that we ended up with 10,000+ added but not pinned files in yesterday's run

Full stax: https://ipfs.io/ipfs/QmP344ugRiyZRKA2djLgE371MzW2FhwbghnJyH7hmbmAeQ

[2016-08-19 18:09] whyrusleeping commented on #2828
@parkan thank you! that stack dump is pretty gnarly, lots of lock contention trying to spew messages out to everyone on the dht, thats the providers problem alright. For that, as @jbenet says, we can make a separate build (for now, can merge in as an option later) that only provides the hashes you explicitly tell it to.

As for the pinning issue, thats a very serious issue if what you say is corre

[2016-08-19 18:11] parkan commented on #2828
@whyrusleeping I naively tried to do `ipfs add --local $file`, but this still seems to provide; I am guessing `--local` really means "no network reads", not "no touching network", right?

[2016-08-19 18:14] jbenet commented on #2828
@parkan
- are you doing `ipfs add` from the filesystem? possible for you to add offline?
(ie `ipfs add` without daemon running, then turn it on when you're done)
- are you doing this in own network or public network?
- possible for you do to it disconnected? not connected to the public dht while you do this huge add.
- if own network, the query should be exhausting quickly, odd if it's not.

[2016-08-19 18:14] whyrusleeping commented on #2828
Yeah, the `--local` flag doesn't work for all commands unfortunately. Its something we need to unify. It mostly means "don't read data from the network for this call"

[2016-08-19 18:15] diasdavid commented on #2605
Agreed, we made it work on js-ipfs in a way that is nice as well :) Thank you!

[2016-08-19 18:15] #2605 closed

[2016-08-19 18:16] parkan commented on #2828
@jbenet would love to have a chat about working around provider system ASAP. This dataset is <0.01% of our target scale so it doesn't sound like we can work with it.

[2016-08-19 18:17] diasdavid commented on #2272
Right. This reminds me how having that command to merge dirs ( and therefore merkle dag nodes) would be so sweet :)

[2016-08-19 18:30] whyrusleeping opened #3099 "add `ipfs dht provide` command"
It would be nice to have a provide command as part of the ipfs dht subcommands. I think its the only DHT rpc not currently exposed through the api

[2016-08-19 18:33] parkan commented on #2828
I will try to repro the pinning failure case -- fairly confident it happened as I suspect, because I don't see any other way for all those objects to have ended up in the store but not pinned.

Separately, running `ipfs add ...` w/no daemon running seems to complete in reasonable and non-increasing time, is the data just coped into the store w/o announce in this mode?

[2016-08-19 18:38] Kubuxu commented on #2828
Yes, it will be re-announced periodically.

You can also run daemon in offline mode, `ipfs daemon --offline`.

[2016-08-19 18:49] jbenet commented on #2828
@parkan

- yes, no announcements there until you turn on the daemon. When you turn it on, it will announce, but it's a periodic re-announce thing. It's still going to be a BW hog, but it will be less ridiculous. We still need to work around this.

- I strongly recommend doing this offline or in a separate, isolated network. Announcements there will be more reasonable and not bounded by the "dial l

[2016-08-19 19:28] Kubuxu commented on #2038
To explain why it is happening, when command like `ipfs add -r . > add_output` is executed following happens:
1. file `add_output` is opened with Write flag which means that it will be created and empty file is on filesystem
2. `ipfs add -r  .` is spawned with stdout redirected over buffered pipe to `add_output`.

This means that at he moment of execution of `ipfs add` there is empty `add_output`

[2016-08-19 20:13] Mithgol commented on #1758
Yes, resolved long ago.

I've just forgotten that the issue's been still open.

[2016-08-19 21:12] whyrusleeping commented on #2272
@diasdavid I could pretty easily add `ipfs object merge`. The underlying code for it is there, right alongside the code for diff (which is now a command). Do you want that?

[2016-08-19 21:39] parkan commented on #2828
Ok I can confirm that the number of pinned files has fallen to 1 despite having 299392 objects in repo. Should I open a new issue for this?

[2016-08-19 21:43] whyrusleeping commented on #2828
@parkan yes please, and if you could provide repro steps

[2016-08-19 21:46] jbenet commented on #2828
@parkan could you make a git repo that reproduces this exact problem? would love to have it as a test case.

[2016-08-19 21:55] parkan commented on #2828
@jbenet it's a bit hard to repro but I'll do my best -- seems like a serious issue

[2016-08-19 22:12] whyrusleeping commented on #2828
@parkan does the daemon output any errors when this happens?

[2016-08-20 00:28] robcat commented on #2067
@whyrusleeping

I don't see how the issue will solve itself.
Will the blockstore also store separately the `<mcodec>` mentioned in ipfs/specs#130?

[2016-08-20 01:01] robcat opened #3104 "Clarify maximum block size"
The [current implementation](https://github.com/ipfs/go-ipfs/blob/6912f47a446e61f6a4168fc859b0d9ade501a2ca/importer/helpers/helpers.go#L13) specifies a fixed maximum block size of 1MiB.

This is a pretty fundamental limitation, it should be explained better why this is the case (IPLD does not seem to be limited in the same way).
### Motivation

When ipfs/specs#130 will land, it will be straightfor

[2016-08-20 01:28] pjz commented on #1482
`node.network_bandwidth_max` is too coarse: how about `node.network_bandwidth_max.in` and `node.network_bandwidth_max.out` ?  VPSs often have asymmetric costs for bandwidth; also, things like http-gateways may want to rate-limit their outgoing bandwidth so their proxy performance isn't impacted by serving blocks via ipfs.

[2016-08-20 03:18] whyrusleeping commented on #2828
Alright, I made a few PRs to help out here with the providers problem, #3101 #3102 #3103 #3105 and #3106

[2016-08-20 06:26] kevina commented on #3069
@jakobvarmose that would be similar to a best effort pin.  There is some support for handling this in the garbage collector (see #2872), but currently there is no direct support for creating best effort pins.

[2016-08-20 06:31] kevina commented on #3092
A rather longest IRC discussion: https://botbot.me/freenode/ipfs/msg/71626736/ (Starting around 9 pm PDT on Aug 19).  No real consensus but lots of background info.

[2016-08-20 07:17] rht commented on #2260
As of https://github.com/ipfs/go-ipfs/commit/7276fd84b0c819ecc21d032eaad2281d58dfb37c,

[code]

[2016-08-20 07:54] diasdavid commented on #3069
Agreed, this is tricky. It seems that this belongs to mfs though, we should pin all of the mutations that happen on the virtual dir, but have a command to unpin all the 'debris' caused by mutating them (aka old nodes that we won't directly access anymore). This way, removing a file from a mfs dir that is pinned should work, the nodes will continue there and pinned, only with user request (i.e: ipf

[2016-08-20 07:57] diasdavid commented on #2260
So, just to be sure, do we put an empty array on the protobuf taking those couple of bytes?

[2016-08-20 11:39] marionzualo commented on #3094
@whyrusleeping @hermanjunge I did some digging and I think the issue is somehow related to mounting the volumes.
I'm using an older machine which only works with [Docker Toolbox (instead of Docker for Mac)](https://docs.docker.com/docker-for-mac/docker-toolbox/). When I tried running on a new Mac with Docker for Mac the image worked perfectly without issues.

I wanted to find and fix the issue so

[2016-08-20 17:07] Kubuxu commented on #2725
It might have been either random crash or go incompatibility with ck patchset, I haven't seen this crash in a while.

[2016-08-20 17:07] #2725 closed

[2016-08-21 01:37] pfrazee commented on #2730
@whyrusleeping what's the release timeline for 0.4.3?

[2016-08-21 02:22] whyrusleeping commented on #2730
@pfraze quite soon. We're investigating one final potential issue and
@jbenet is going to review a few things. Hopefully by the end of the week.

On Sat, Aug 20, 2016 at 6:37 PM Paul Frazee <notifications@github.com>
wrote:

[2016-08-21 03:20] pjz commented on #3064
Will this be helped by #3093 (Move to requiring go1.7) ?

[2016-08-21 04:33] whyrusleeping commented on #3064
@pjz It might help a little,  but the primary problem is our poor use of epoll in go-reuseport.

[2016-08-21 08:17] jbenet commented on #3104
Reasons for limitation:
- security - easy to DOS nodes without forcing small chunks
- deduplication - small chunks can dedup. big ones effectively dont.
- latency - can externalize small pieces already (think a stream)
- bandwidth - optimize the use of bandwidth across many peers
- performance - much better perf to hold small pieces in memory. hash along the dag to verify the whole thing.

the big

[2016-08-21 08:34] jbenet commented on #3099
@whyrusleeping the "providing" system is above the dht, it _uses_ the dht -- well it uses any `libp2p.ContentRouting` interface. in go-ipfs, this is implemented in the dht, but that's historical.

so i'd make an `ipfs provide` command instead.

[2016-08-21 08:44] jbenet commented on #2053
@whyrusleeping note this: https://github.com/ipfs/specs/issues/130#issuecomment-241157747

[2016-08-21 08:45] jbenet commented on #2185
would be nice

[2016-08-21 14:06] Kuurusch opened #3108 "How is the distribution of data finally organised?"
Hey,
It's not really a bug-report but it's a little difficult to find the right place to place my question.
How is it at the moment exactly solved to distribute data?
So when I place some data in ipfs, how is aqtually download my data or junks from it?
I ask this question because I intend to build a little platform like youtube, based on ipfs and I'm worried what happend, when someone publish a vi

[2016-08-21 14:59] claudiobizzotto commented on #3020
The ARM binaries seem to work on all RPi models. I still can't figure why the build process failed on the RPi 3, so I'll leave the issue open and let you guys decide whether you close it or not.

[2016-08-21 20:21] x870eaddd commented on #3052
Can I help with this? I have experience with go but not the gx package manager, but I'm happy to do some research to implement this. :smile:

[2016-08-22 01:51] sivachandran commented on #2016
@whyrusleeping https://github.com/RealImage/go-ipfs/pull/1/ is the S3 datastore implementation. It is designed and implemented mainly to satisfy my requirements. It might require some changes to merge into master.

[2016-08-22 14:35] Stebalien commented on #3108
Files are distributed on demand. That is, when you add a file to IPFS it just adds it to your local node (and may advertise it on the network). It isn't sent to any other machine until requested. To answer your question, yes, if everyone starts downloading the file at the same time, they'll all download it from your machine.

However, you can preemptively fetch the file from a public gateway to tr

[2016-08-22 16:34] #2650 closed

[2016-08-22 23:00] lgierth commented on #3059
- [ ] find a name
  - multiname
  - multid (mul-thai-dee -- maybe too smart?)
  - multiqual (qualifier -- might sound too much like equal)
  - multisym (symbol, which is a synonym of identifier)

[2016-08-23 03:15] whyrusleeping commented on #3059
multilarsgierth

On Mon, Aug 22, 2016 at 4:00 PM Lars Gierth <notifications@github.com>
wrote:

[2016-08-23 10:50] Kuurusch commented on #3108
Thanks a lot Stebalien!
Hm, so the behaviour is like I suspected. What you think out there, wouldn't it be nice to have somehow the possibility to define/join a group of nodes who holds the folder of particular data distributed?

[2016-08-23 10:54] Kubuxu commented on #3059
@lgierth for me it looks like it isn't really a part of multiformats suite, it is just bundle of them to be used as object identifiers in IPFS.

[2016-08-23 19:02] whyrusleeping opened #3112 "Code Coverage on subprojects"
go-ipfs has many dependencies, and just like in #3053 we want to have solid tests on all of them. The plan is to use coveralls.io to have this all automated for us.

[2016-08-23 20:05] whyrusleeping commented on #3108
@Kuurusch Take a look at https://github.com/ipfs/notes/issues/58 and https://github.com/ipfs/ipfs-cluster  That seems closer to what youre after.

And as @Stebalien mentions, try to keep issues on this repo focused on actionable items pertaining to the go-ipfs implementation.

We have https://github.com/ipfs/faq https://github.com/ipfs/support and https://github.com/ipfs/notes for more general dis

[2016-08-23 20:05] #3108 closed

[2016-08-23 20:05] whyrusleeping commented on #3104
Could this issue be moved to ipfs/notes please?

[2016-08-23 20:07] whyrusleeping commented on #3060
Can we try and transform some of this knowledge into a doc somewhere? either in the docs folder or in the faq?

cc @RichardLitt @flyingzumwalt

[2016-08-23 20:08] whyrusleeping commented on #3038
I think this can be closed. Please reopen if we still need to address something

[2016-08-23 20:08] #3038 closed

[2016-08-23 20:10] whyrusleeping commented on #3031
@adrian-git-hub-user could you move this question to https://github.com/ipfs/faq/issues ?

[2016-08-23 20:12] whyrusleeping commented on #2992
@csasarak somewhat. What i'm really after is much more fine grained control, for example:

- list all local provide entries (given to us by other peers)
- clear out local provider entries
- send provides entry X to peer Y directly
- manually add a local providers entry

And so on

[2016-08-23 20:14] whyrusleeping commented on #2994
I really don't know whats going on here. That looks like a stack dump from ios, I don't see anything actually ipfs related in it either. The closest thing i see is what looks like the golang garbage collector running. I would try filing this as a bug in the go-mobile project

[2016-08-23 20:15] whyrusleeping commented on #2996
If you could try and reproduce this with 0.4.3-rc3 that would be great. I think this is related to another issue that was fixed since 0.4.3-rc1, so i'm going to mark it as closed. *please* reopen this if you encounter the issue again

[2016-08-23 20:15] #2996 closed

[2016-08-23 20:18] whyrusleeping commented on #2965
ipfs is encountering some error while walking through the directory. It feels like this is coming from the mountpoint, its likely that curlftpfs is bugging out. If you can reproduce this issue on something like sshfs i'll take another look.

[2016-08-23 20:19] whyrusleeping commented on #2958
havent seen in a while. closing

[2016-08-23 20:19] #2958 closed

[2016-08-23 20:19] whyrusleeping commented on #2945
@japzone1 there are release candidate builds of 0.4.3 up on dist.ipfs.io, want to give that a shot and let me know how it goes?

[2016-08-23 20:21] whyrusleeping commented on #2932
cant replicate either, and havent seen it fail in CI. assuming this has been fixed (i've fixed something slightly related in mfs since)

[2016-08-23 20:21] #2932 closed

[2016-08-23 20:22] whyrusleeping commented on #2931
@lgierth yeah, this one unfortunately requires a start-over. Its since been fixed though.

[2016-08-23 20:22] #2931 closed

[2016-08-23 20:23] whyrusleeping commented on #2927
@diasdavid would you consider this issue resolved?

[2016-08-23 20:23] whyrusleeping commented on #2919
closed by #3106

[2016-08-23 20:24] whyrusleeping commented on #2918
@diasdavid would you consider this bug resolved?

[2016-08-23 20:25] whyrusleeping commented on #2916
This needs to be addressed in go-multihash

[2016-08-23 20:25] whyrusleeping commented on #2914
we have this now :)

[2016-08-23 20:25] #2914 closed

[2016-08-23 20:26] whyrusleeping commented on #2888
cc @lgierth

[2016-08-23 20:27] whyrusleeping commented on #2875
@tidux has this been resolved?

[2016-08-23 20:28] whyrusleeping commented on #2869
I think we've now agreed to use milestones for this, closing

[2016-08-23 20:28] #2869 closed

[2016-08-23 20:29] whyrusleeping commented on #2799
always prefer `--option` over `--no-option`, its much clearer and better UX

[2016-08-23 20:29] #2799 closed

[2016-08-23 20:30] whyrusleeping commented on #2793
This still might be occuring, need to verify

[2016-08-23 20:32] whyrusleeping commented on #2729
havent seen this one in a while, closing

[2016-08-23 20:32] #2729 closed

[2016-08-23 20:33] whyrusleeping commented on #2730
going to close this now, we have release candidate builds up and we're unable to reproduce the problem using them

[2016-08-23 20:33] #2730 closed

[2016-08-23 20:34] whyrusleeping commented on #2703
can someone verify if this is still a problem?

[2016-08-23 20:35] #2695 closed

[2016-08-23 20:36] whyrusleeping commented on #2512
havent seen this in quite a while

[2016-08-23 20:36] #2512 closed

[2016-08-23 20:36] whyrusleeping commented on #2495
TODO: decide what to do in libp2p when we no longer have any valid addresses for a peer. We should probably clear any other info we have about them from the peerstore to save memory.

[2016-08-23 20:37] whyrusleeping commented on #2488
@lgierth @davidak is this still an issue?

[2016-08-23 20:39] whyrusleeping commented on #2485
Just to recap, `ipfs get` will hang if it cannot find or connect to the peers with the data youre looking for. If both peers involved are confirmed to be online, this is generally an issue with NAT traversal.

I'm gonna close this issue out, if there are any other questions or problems along this line, please open another issue

[2016-08-23 20:39] #2485 closed

[2016-08-23 20:40] whyrusleeping commented on #2474
related to #2473

[2016-08-23 20:42] whyrusleeping commented on #2436
@Beligertint thanks for reporting back on the fix :)

[2016-08-23 20:42] #2436 closed

[2016-08-23 20:45] whyrusleeping commented on #2405
This should be partially resolved, `ipfs cat` no longer tries to run a gc

[2016-08-23 20:45] whyrusleeping commented on #2401
can someone verify if the example in question still works?

[2016-08-23 20:46] whyrusleeping commented on #2388
@yangwao is this still an issue? A lot has been improved since this was reported

[2016-08-23 20:47] whyrusleeping commented on #2150
The relay isnt currently functional. We will be working on that in the next few months. If you like, open up a tracking issue on https://github.com/libp2p/go-libp2p and we can use that to keep everyone updated.

[2016-08-23 20:47] #2150 closed

[2016-08-23 20:48] whyrusleeping commented on #2158
I think this has since been resolved

[2016-08-23 20:48] #2158 closed

[2016-08-23 20:49] whyrusleeping commented on #2153
I think we can close this as 'wont fix'. Or at least, not something we have a convincing use-case for at this time. The complexity of implementing this would be pretty high.

[2016-08-23 20:49] #2153 closed

[2016-08-23 20:49] whyrusleeping commented on #2149
I think this has since been resolved. If not, its very likely not a problem anymore.

[2016-08-23 20:49] #2149 closed

[2016-08-23 20:50] #2140 closed

[2016-08-23 20:51] whyrusleeping commented on #2133
@diasdavid are you referring to a path in mfs? This might have to be done as a command within mfs or similar. The overlap there is currently a little weird

[2016-08-23 20:52] whyrusleeping commented on #2126
This is fairly normal behaviour. It just means that your node hasnt completed bootstrapping yet. Adding a small sleep before the provide call should help

[2016-08-23 20:52] #2126 closed

[2016-08-23 20:52] japzone1 commented on #2945
@whyrusleeping There's still some pretty high CPU usage, but I'm not sure if that's normal or not. At the very least, my system no longer locks up when I'm trying to stream a video making it usable compared to before. Though that's me running IPFS on an i7.  Not sure how well it would be working if I was using an i3 or less.

[2016-08-23 20:53] whyrusleeping commented on #2122
This should be resolved when moving to ipld as it will allow us to reference raw blocks (without needed the extra framing)

[2016-08-23 20:54] whyrusleeping commented on #2110
I think this has been resolved.

[2016-08-23 20:54] #2110 closed

[2016-08-23 20:55] whyrusleeping commented on #2086
@NeoTeo this has been resolved, right?

[2016-08-23 20:56] whyrusleeping commented on #2097
with go1.7 binaries have started to shrink, go1.8 will bring even more size reduction here. I think we can mark this closed.

[2016-08-23 20:56] #2097 closed

[2016-08-23 20:56] #2095 closed

[2016-08-23 20:57] whyrusleeping commented on #2078
has this been resolved?

[2016-08-23 20:58] whyrusleeping commented on #2077
this has since been resolved (was a bitswap bug)

[2016-08-23 20:58] #2077 closed

[2016-08-23 20:58] whyrusleeping commented on #2075
@lgierth this is related to the core-ipfs-api work and gateway extraction you were doing

[2016-08-23 20:59] whyrusleeping commented on #2023
Note: we do want to extract the fuse mounting code into a separate binary, which should make this a bit easier

[2016-08-23 21:00] whyrusleeping commented on #2013
Can someone verify if this is still an issue?

[2016-08-23 21:01] whyrusleeping commented on #1996
This has been resolved.

[2016-08-23 21:01] #1996 closed

[2016-08-23 21:02] whyrusleeping commented on #1974
I believe that this is fixed with `ipfs repo fsck`. If someone can verify thats the case that would be very helpful

[2016-08-23 21:04] whyrusleeping commented on #1953
Closing, please move further discussion into the ipfs/notes repo

[2016-08-23 21:04] #1953 closed

[2016-08-23 21:04] whyrusleeping commented on #1969
This has been resolved

[2016-08-23 21:04] #1969 closed

[2016-08-23 21:06] #1924 closed

[2016-08-23 21:07] whyrusleeping commented on #1901
I think we're still technically using @cryptix's library. Lets re-evaluate.

[2016-08-23 21:07] #1896 closed

[2016-08-23 21:07] whyrusleeping commented on #1894
resolved

[2016-08-23 21:07] #1894 closed

[2016-08-23 21:08] whyrusleeping commented on #1839
This is generally a CORS problem, see `ipfs daemon --help` for more info there.

[2016-08-23 21:08] #1839 closed

[2016-08-23 21:09] whyrusleeping commented on #1925
This has been resolved

[2016-08-23 21:09] #1925 closed

[2016-08-23 21:09] whyrusleeping commented on #1763
metrics! cc @Kubuxu

[2016-08-23 21:10] whyrusleeping commented on #1762
This has been resolved. (updates to the flock lib)

[2016-08-23 21:10] #1762 closed

[2016-08-23 21:10] whyrusleeping commented on #1761
This has been resolved since 0.4.0

[2016-08-23 21:10] #1761 closed

[2016-08-23 21:11] whyrusleeping commented on #1746
ipfs-update works, is shipped. closing

[2016-08-23 21:11] #1746 closed

[2016-08-23 21:12] whyrusleeping commented on #1727
Can we verify if this is still an issue?

[2016-08-23 21:12] whyrusleeping commented on #1722
This has been resolved, it was a bug in the multipart handling in the go http lib.

[2016-08-23 21:12] #1722 closed

[2016-08-23 21:13] whyrusleeping commented on #1718
related: https://github.com/ipfs/notes/issues/49

[2016-08-23 21:14] #1717 closed

[2016-08-23 21:16] whyrusleeping commented on #1711
Primary deliverables here would be a progress bar, and improved error handling

[2016-08-23 21:17] #1700 closed

[2016-08-23 21:17] whyrusleeping commented on #1693
I'm pretty sure this has been resolved since.

[2016-08-23 21:17] #1693 closed

[2016-08-23 21:19] whyrusleeping commented on #1691
I have recently been able to run this command on a windows server 2012 machine. Marking as closed unless someone can repro the failure on latest master

[2016-08-23 21:19] #1691 closed

[2016-08-23 21:20] whyrusleeping commented on #1687
All commands respect a `--timeout` flag, example: `ipfs refs -r <hash> --timeout=10m`

[2016-08-23 21:20] #1687 closed

[2016-08-23 21:24] whyrusleeping opened #3114 "Add a `--wait` flag as global command"
It was discussed in irc that it would be very nice to be able to start a command but not wait for it to return.  If we implement `ipfs diag cmds cancel <job>` and `ipfs diag cmds wait <job>` we would have all the tools we need to deal with 'backgrounded' commands.

cc @pjz

[2016-08-23 21:25] whyrusleeping commented on #1593
related: https://github.com/ipfs/go-ipfs/issues/3114

[2016-08-23 21:25] whyrusleeping commented on #1560
I havent seen this lately, i'm going to assume the issue has been resolved

[2016-08-23 21:25] #1560 closed

[2016-08-23 21:26] whyrusleeping commented on #1555
closing as a duplicate of: https://github.com/ipfs/go-ipfs/issues/1353

[2016-08-23 21:26] #1555 closed

[2016-08-23 21:27] whyrusleeping commented on #1549
depends on #3110

[2016-08-23 21:27] whyrusleeping commented on #1522
closing for now as vague. Fuse definitely needs work and that is well documented in other issues.

[2016-08-23 21:27] #1522 closed

[2016-08-23 21:28] whyrusleeping commented on #1457
the bitswap code has been reworked to reuse a single stream per peer.

[2016-08-23 21:28] #1457 closed

[2016-08-23 21:29] whyrusleeping commented on #1452
you can now do `--progress=false` to omit the progress bar but retain filenames

[2016-08-23 21:29] #1452 closed

[2016-08-23 21:30] whyrusleeping commented on #1421
You can now write the remote multiaddr into the `$IPFS_PATH/api` file.

[2016-08-23 21:30] #1421 closed

[2016-08-23 21:30] whyrusleeping commented on #1415
we have this now

[2016-08-23 21:30] #1415 closed

[2016-08-23 21:30] whyrusleeping commented on #1409
we now have better handling of these types of issues.

[2016-08-23 21:30] #1409 closed

[2016-08-23 21:30] whyrusleeping commented on #1410
this has been resolved.

[2016-08-23 21:30] #1410 closed

[2016-08-23 21:32] Kubuxu commented on #1421
Here is a script that automates it: https://gist.github.com/Kubuxu/0cafd6dc71114349875827c2c379fa1f

[2016-08-23 21:32] whyrusleeping commented on #1309
we have a release branch and signed tags for releases. i think we can close this

[2016-08-23 21:32] #1309 closed

[2016-08-23 21:33] whyrusleeping commented on #1243
I havent seen this for a while, but its likely thats because we don't run fuse tests hardly ever. I'll leave this open for now.

[2016-08-23 21:35] whyrusleeping commented on #1289
we might have tests for this by now, need to verify

[2016-08-23 21:36] whyrusleeping commented on #1222
Add has been improved significantly since this. I'm gonna call it closed, open new issues for new add perf issues

[2016-08-23 21:36] #1222 closed

[2016-08-23 21:36] whyrusleeping commented on #1216
I think this has been resolved, ipfs add has gotten drastically faster since this issue was reported

[2016-08-23 21:36] #1216 closed

[2016-08-23 21:37] whyrusleeping commented on #1213
I beleive this has since been resolved (or is no longer an issue). Feel free to open a new issue if there are still problems.

[2016-08-23 21:37] #1213 closed

[2016-08-23 21:39] whyrusleeping commented on #1210
Lets verify if this is still an issue

[2016-08-23 21:40] whyrusleeping commented on #1201
We might be working on a couple improvements for secio in the near future. Lets consider this when doing so.

cc @Kubuxu

[2016-08-23 21:40] whyrusleeping commented on #1179
this has been done

[2016-08-23 21:40] #1179 closed

[2016-08-23 21:41] jbenet commented on #1243
We should be running those always. Travis CI has supported fuse for a long
time now.

Cc @chriscool thoughts?
On Tue, Aug 23, 2016 at 17:33 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-23 21:44] whyrusleeping commented on #1146
We now print out what addresses the swarm is listening on. Furthermore, `ipfs id` shows the full multiaddrs (including peer IDs) that are being listened on.

[2016-08-23 21:44] #1146 closed

[2016-08-23 21:45] Kubuxu commented on #3114
We would also have to return job number somehow.

[2016-08-23 21:45] whyrusleeping commented on #1152
Blocks received from the network are *always* checked. Blocks read from disk are not checked by default, but if you set `ipfs config Datastore.HashOnRead true` they will be.

[2016-08-23 21:46] whyrusleeping commented on #1125
Should be resolved by #3109

[2016-08-23 21:46] whyrusleeping commented on #1105
this has been fixed

[2016-08-23 21:46] #1105 closed

[2016-08-23 21:47] whyrusleeping commented on #1090
We might be using a really old version of @fd's package. Lets verify that, and update if we have an old version. This is related to: https://github.com/ipfs/go-ipfs/issues/2797

[2016-08-23 21:48] whyrusleeping commented on #1084
has been fixed since

[2016-08-23 21:48] #1084 closed

[2016-08-23 21:48] whyrusleeping commented on #1060
this has been resolved

[2016-08-23 21:48] #1060 closed

[2016-08-23 21:49] whyrusleeping commented on #919
The only other values stored in the dht are ipns entries and public keys, both are rebroadcast periodically now

[2016-08-23 21:49] #919 closed

[2016-08-23 21:50] whyrusleeping commented on #915
This isnt currently an issue, and will be different with ipld, closing.

[2016-08-23 21:50] #915 closed

[2016-08-23 21:51] whyrusleeping commented on #881
@RichardLitt could you go through this and close it if its been mostly addressed?

[2016-08-23 21:52] whyrusleeping commented on #863
Lets verify that this is still an issue

[2016-08-23 21:53] #842 closed

[2016-08-23 21:53] jbenet commented on #1309
We won't use gitflow. gitflow is unnecessarily complicated and wastes a lot
of time (I've used it many times in different teams and of different sizes
-- and every time it ends in arguments and painful removal after months of
wastig time). It would add 2-3 branches to our setup depending on how. We
saw how bad that hurt us already (having long running branches being merged
to separate from hotfixe

[2016-08-23 21:54] whyrusleeping commented on #826
This should be addressed once the keystore is implemented

[2016-08-23 21:54] whyrusleeping commented on #784
moving to libp2p

[2016-08-23 21:54] #784 closed

[2016-08-23 21:54] #759 closed

[2016-08-23 21:55] #656 closed

[2016-08-23 21:55] whyrusleeping commented on #651
Per page suborigins would be great. Are they implemented in major browsers yet?

[2016-08-23 21:55] #634 closed

[2016-08-23 21:57] jbenet commented on #651
Not yet and it looks like the spec is going in odd directions. We need to
participate in that discussion to make sure it goes well and supporting our
use cases
On Tue, Aug 23, 2016 at 17:55 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-23 21:57] whyrusleeping commented on #338
@jbenet this doesnt appear to be done yet. Do we still need to do this?

[2016-08-23 21:58] whyrusleeping commented on #337
We've gone through and removed the s3 lib, everything else is good to go

[2016-08-23 21:58] #337 closed

[2016-08-23 21:59] whyrusleeping commented on #230
This should be resolved by CIDv1

Ref #3059

[2016-08-23 22:11] lgierth commented on #651
@jbenet you were already saying in Lisbon that right now is the time to articulate our use case and feedback to the suborigins working group. I can go draft something next week-ish.

[2016-08-23 22:20] jbenet commented on #338
@whyrusleeping i think so, it can refer to `LICENSE` and the go style `PATENTS` (when it's added), and address dependencies. This could be moved to github.com/ipfs/community though as it should happen across repos.

[2016-08-23 22:23] jbenet commented on #1152
@whyrusleeping is that captured in documentation anywhere? it should also be captured in some security notes. Poisoning or corrupting repos could be an attack vector.

[2016-08-23 22:24] jbenet commented on #1152
- I'd also err on the side of turning it on by default and letting people turn it off for speed. there could be a list of "knobs to turn for perf" document.

cc @RichardLitt as he handled various documentation things for go-ipfs

[2016-08-23 22:25] whyrusleeping commented on #2247
## Update after a hard day at sea

I made a pass through all 500 of go-ipfs's open issues and tried to start getting a handle on them. I started by trying to make sure each issue was either marked 'help_wanted', meaning that its actionable. 'discussion' meaning that nothing is immediately actionable, but that people should read the issue and potentially weigh in. 'verify' meaning that the issue is

[2016-08-23 23:37] jbenet commented on #2945
@japzone1 and this is with 0.4.3-rc3, right?
https://dist.ipfs.io/go-ipfs/v0.4.3-rc3  (the download link in dist.ipfs.io
is the release, and doesn't show next release's RCs next to it yet)

On Tue, Aug 23, 2016 at 4:52 PM, japzone1 <notifications@github.com> wrote:

[2016-08-24 00:54] jbenet commented on #3059
I think it should be part of IPLD, it will be usable in other systems

[2016-08-24 01:02] japzone1 commented on #2945
Yes. I noticed the download button was still for .2 and managed to hunt
down .3-rc3.

On Aug 23, 2016 7:37 PM, "Juan Benet" <notifications@github.com> wrote:

[2016-08-24 01:08] whyrusleeping opened #3115 "Implement `ipfs diag cmds cancel`"
It would be great to have a way to cancel running commands, through the diag cmds interface will be the ideal way to do this.

Required for #3114

[2016-08-24 01:09] whyrusleeping opened #3116 "Implement `ipfs diag cmds wait`"
This command should block until a selected command finishes.

Required for #3114

[2016-08-24 01:29] djdv commented on #2013
Version: 0.4.4-dev-01ffc15
Still an issue on my Windows machine.
![screenshot](https://ipfs.io/ipfs/QmWMoL1JQ9L1AeemXoUkyDSfvpZJiCmArBoi8YAkKM35st)
Relevant hash for testing:
/ipfs/QmSiwAp7Cnb7YnG2kSBRiJzRVNyd7We2WPuhMKPavhSNQz

[2016-08-24 03:19] Tangent128 opened #3117 "Ability to republish third-party /ipns/ records"
The publishing node for an /ipns/ name might be offline for an extended period of time; it should be possible for other nodes interested in the node's content to republish the name so it doesn't expire.

This could be done by having nodes explicitly configured with names to keep alive (once automated republishing of your own name is in); or nodes might just refresh records when they resolve them.

[2016-08-24 04:04] travisperson commented on #3058
`ipfs --i-know-what-im-doing` because if you have to ask what it does, you probably shouldn't be using it.

[2016-08-24 04:24] jbenet commented on #3117
Yep agreed.
On Tue, Aug 23, 2016 at 23:19 Tangent128 <notifications@github.com> wrote:

[2016-08-24 05:27] whyrusleeping commented on #3117
@Tangent128 thanks for filing! Your own name currently gets republished automatically (as long as your node is online of course). We can expand that mechanism a bit and expose it through some api.

[2016-08-24 06:19] kevina opened #3119 "Discussion: Support for multiple blockstores."
The filestore is a datastore, but it is only designed to handle a subset of the blocks that can be used in IPFS, therefore the main datastore is still needed and some sort of support for multiple block or datastores is needed so both the filestore and datastore can coexist. **This is a required infrastructure change in order to land #2634.**

The following describes how it is currently implemented

[2016-08-24 06:20] kevina commented on #2747
Closing this in favor of #3119.

[2016-08-24 06:20] #2747 closed

[2016-08-24 07:08] cryptix commented on #1901
Oh wow.. I hoped you updated since this was a thing.

[2016-08-24 07:48] NeoTeo commented on #2086
Yes :)

[2016-08-24 07:54] #2086 closed

[2016-08-24 08:05] diasdavid commented on #2133
yep, so that it is easy to publish one of the paths through IPNS

[2016-08-24 08:05] diasdavid commented on #2914
woot!

[2016-08-24 08:06] diasdavid commented on #2918
Can't tell, need to update registry-mirror to the latest js-ipfs-api and test it exhaustively again.

[2016-08-24 08:06] diasdavid commented on #2927
yes :)

[2016-08-24 08:06] #2927 closed

[2016-08-24 08:28] dokterbob opened #3120 "`ipfs ls` API commands hang while `ipfs object ls` and gateway listing works"
Version/Platform/Processor information (from `ipfs version --all`):
0.4.3rc3 and 0.4.2

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P1

Description:
For a lot of hashes, executing `ipfs ls` (or `ipfs file ls`) gets stuck (or is at least tediously slow) while `ipfs files ls` (aft

[2016-08-24 08:57] Gaboose commented on #1901
Regarding the cryptix's request in first post. I think i can't add access for a team of an organisation which I'm not a part of.

[2016-08-24 11:48] Kubuxu commented on #826
My proposal for multikey was embedding key protection schema in to the multikey itself, I don't know if we want to go with it, but it would be nice thing to have.

[2016-08-24 15:47] kevina commented on #2865
@whyrusleeping I don't think this issue was ever resolved or properly discussed.  I am reopening.  I also changed the title to be more direct.

[2016-08-24 15:56] kevina opened #3121 "Provide direct support for Best-Effort pins?"
Should we provide direct support for creating best-effort pins?  In some ways it might not be necessary because users can just add stuff to the MFS root that they want to keep around but don't want a recursive pin for.

Related to #3069.

[2016-08-24 15:57] kevina commented on #3069
Since multiple people didn't like my idea of repairing pins.  More direct support for best-effort pins seams to be the way to go.  Closing in favor of #3069.

[2016-08-24 15:57] #3069 closed

[2016-08-24 15:58] kevina commented on #2963
This issue is no longer relevant.

[2016-08-24 15:58] #2963 closed

[2016-08-24 16:02] whyrusleeping commented on #3121
Yeah, i'm in support of having best effort pins. Although i think that in order to do that, we might want to first rethink how pins are stored. Take a look at #1580. That bit might be a really nice addition to have before best effort pins because then users would be able to `ipfs pin add --type=best /ipfs/<hash>/path/to/dataset` and be able to still resolve that full path after a gc run.

[2016-08-24 17:59] #3099 closed

[2016-08-24 18:22] timup opened #3122 "ipfs daemon repeatedly crashes macOS sierra go 1.7"
Version/Platform/Processor information (from `ipfs version --all`):

`ipfs version --all`
Error: unrecognized option 'all'
`ipfs version --commit`
ipfs version 0.4.2-
`ipfs version --repo`
3

macOS 10.12 sierra
go 1.7

Type (bug, feature, meta, test failure, question):

bug

Area (api, commands, daemon, fuse, etc):

daemon

Priority (from P0: functioning, to P4: operations on fire):

P3 - frequent

[2016-08-24 18:41] whyrusleeping commented on #3122
@timup just to confirm, you did rebuild ipfs after upgrading to go1.7, right? (and restart the daemon)

[2016-08-24 18:44] timup commented on #3122
@whyrusleeping after upgrading to go1.7 I removed the original ipfs binary and repo, and installed using: https://dist.ipfs.io/#go-ipfs

[2016-08-24 19:39] whyrusleeping commented on #2828
A bit of an update here, I've gotten a few of these PRs merged, only one remaining. I ran some tests to check bandwidth usage here, good results so far: https://github.com/ipfs/go-ipfs/pull/3105#issuecomment-242183017

[2016-08-24 19:43] whyrusleeping commented on #3122
@timup Ah, yeah. Theres the problem, the binaries on dist are still built with 1.6. You'll have to build from source until the official 0.4.3 release where we will be building with go1.7

[2016-08-24 19:45] timup commented on #3122
cool cool, thanks for looking into this!

[2016-08-24 19:45] #3122 closed

[2016-08-24 20:40] parkan commented on #2828
@whyrusleeping sorry missed your earlier question, no relevant errors that I could see. Improvements looking fantastic, though!

[2016-08-24 20:45] whyrusleeping commented on #2828
@parkan thanks! I've got a few more things up my sleeve that should help too, but theyre a bit farther out. In the meantime, you should now be able to do all your adds with the `--local` flag, and then manually do `ipfs dht provide` on the keys you want advertised to the dht. The provide command has a `-r` flag to recursively provide all child blocks too, but run without it will just provide the s

[2016-08-24 20:57] parkan commented on #2828
@whyrusleeping awesome! Great turnaround on this. Should we build from master to have these changes reflected?

[2016-08-24 21:38] whyrusleeping commented on #2828
@parkan yeah, you will have to build from master. I can also provide 'development' builds on the dists page if there is an interest in that

[2016-08-24 21:54] parkan commented on #2828
@whyrusleeping having unstable/dev/nightly binaries around would definitely be appreciated if it's not too much effort

[2016-08-24 22:00] whyrusleeping commented on #2828
@parkan sure thing! i'll push out some builds after #3105 merges, and start the discussion about automating some nightly releases

[2016-08-24 22:02] whyrusleeping commented on #3120
@dokterbob Yeah, thats because `ipfs ls` by default will resolve what type each directory entry is. You can use the `--resolve-type=false` option to disable that.

[2016-08-24 22:04] parkan commented on #2828
@whyrusleeping getting a nightly/CI build baked would be 👌

[2016-08-24 22:22] jbenet commented on #2828
Yeah, it would be great to have channels in distributions. filed it over at https://github.com/ipfs/distributions/issues/77

[2016-08-24 22:44] mitar commented on #651
Yes, it is really going into odd directions. :-)

I think only Chrome has implementation with a runtime command line switch.

[2016-08-25 17:45] chriscool commented on #1243
Yeah, we should have been doing that and we probably should have merged at least some parts of this PR that fixed fuse problems:

https://github.com/ipfs/go-ipfs/pull/2324

[2016-08-25 18:59] whyrusleeping opened #3124 "corrupted ipns entry in local cache"
I was able to break my local ipns publishing:

[code]

I did this by first publishing an entry normally, then:
[code]

Something must not be quite right here in the round tripping of the record.

This also appears to make it impossible for me to publish new ipns values for the time being.

[2016-08-25 21:29] adrian-git-hub-user commented on #3031
@whyrusleeping done : https://github.com/ipfs/faq/issues/166

[2016-08-25 22:35] hobofan commented on #2828
@whyrusleeping I'd also really appreciate a development build, especially because of this issue. :)

[2016-08-25 23:00] #3031 closed

[2016-08-25 23:59] lgierth commented on #2192
Since v0.4.3-rc1 you can enable automatic migrations: `ipfs daemon --migrate=true`

[2016-08-25 23:59] #2192 closed

[2016-08-26 00:02] #1446 closed

[2016-08-26 00:02] whyrusleeping commented on #1358
was likely utp or yamux

[2016-08-26 00:02] #1358 closed

[2016-08-26 00:03] #1352 closed

[2016-08-26 00:06] #1425 closed

[2016-08-26 00:12] whyrusleeping commented on #1708
Your peer ID is not an ipfs object. You can do `ipfs ls /ipns/<your peer ID>` if you want to see what is in your ipns record

[2016-08-26 00:12] #1708 closed

[2016-08-26 00:13] #1960 closed

[2016-08-26 00:14] whyrusleeping commented on #2054
`silent` does not do this yet... need to investigate

[2016-08-26 00:15] whyrusleeping commented on #2070
@ianopolous is this still an issue?

[2016-08-26 00:17] whyrusleeping commented on #2305
we have `ipfs log ls` now

[2016-08-26 00:17] #2305 closed

[2016-08-26 00:18] #2226 closed

[2016-08-26 00:19] #2222 closed

[2016-08-26 00:19] whyrusleeping commented on #2189
the api accepts aliases

[2016-08-26 00:19] #2189 closed

[2016-08-26 00:19] #2336 closed

[2016-08-26 00:20] whyrusleeping commented on #2525
iptb is now vendored with gx

[2016-08-26 00:20] #2525 closed

[2016-08-26 00:21] whyrusleeping commented on #2609
any further discussion on this should go into the webui repo: https://github.com/ipfs/webui

[2016-08-26 00:21] whyrusleeping commented on #2815
@cpacia i'm assuming we've resolved this. closing

[2016-08-26 00:21] #2815 closed

[2016-08-26 00:36] lgierth commented on #2888
Done, the images are being rebuilt right now: https://hub.docker.com/r/ipfs/go-ipfs/builds/

[2016-08-26 00:37] lgierth commented on #2888
This is now consistent with the original naming in jbenet/go-ipfs: latest=release-branch, release=release-branch, master=master-branch

[2016-08-26 00:51] lgierth commented on #2482
We had this working for a while in meantime, but then it looks like the linking to jbenet/go-ipfs from ipfs/go-ipfs broke some time after 7-Jul (5d1b28e233b37a8567bf444e9c3dd21aae5c14b7) -- Docker Hub doesn't have the linking feature anymore, instead it has webhooks and triggers now.

@jbenet do we still want to support the old jbenet/go-ipfs image?

[2016-08-26 01:47] jbenet commented on #2482
I think a lot of people are depending on it. I've seen over 200K pulls in
the last couple mo.
On Thu, Aug 25, 2016 at 20:51 Lars Gierth <notifications@github.com> wrote:

[2016-08-26 02:55] jbenet commented on #3124
That would be a great test case of you can get a repro
On Thu, Aug 25, 2016 at 14:59 Jeromy Johnson <notifications@github.com>
wrote:

[2016-08-26 03:09] jbenet commented on #826
@kubuxu can you explain more?
On Wed, Aug 24, 2016 at 07:48 Jakub Sztandera <notifications@github.com>
wrote:

[2016-08-26 03:09] jbenet commented on #3119
This is great! On my stack to review. I'm a bit behind (reviewing 0.4.3 to
ship and finishing ipld/cid)
On Wed, Aug 24, 2016 at 02:19 Kevin Atkinson <notifications@github.com>
wrote:

[2016-08-26 03:48] jbenet commented on #2864
Try rc3?
On Fri, Jul 15, 2016 at 03:43 Ian Preston <notifications@github.com> wrote:

[2016-08-26 04:09] metromoxie commented on #651
@jbenet, can you clarify what direction you think is odd about Suborigins? I would certainly prefer for that not to be the outcome :-) While we can't get every feature in v1, at the very least I want to make sure we know of developers needs so we don't build something that is unusable.

[2016-08-26 06:40] jbenet opened #3125 "`ipfs swarm peers -v` may output a 0 latency"
[code]

bug?

commands

P1

It seems that `ipfs swarm peers -v` prints 0 for peers whose latencies are unknown. I'm not sure this is the best output decision. I _think_ this happens because not enough latency info has been collected, but im not sure.

I dont know what other possible value we would show-- maybe `n/a` or `need more data` or don't print anything? I wouldn't want some tool to do stupi

[2016-08-26 06:44] Kubuxu commented on #826
https://github.com/ipfs/specs/issues/58
In short terms: first varint describes key protection schema which has to be applied to decrypt the key.

[2016-08-26 06:50] jbenet opened #3126 "`ipfs files cp` from local fs? confusing error?"
Version/Platform/Processor information (from `ipfs version --all`):

0.4.3-rc3

Type (bug, feature, meta, test failure, question): feature
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: functioning, to P4: operations on fire): P0
Description:

Would be nice if this worked:

[code]

The error is super confusing anyway.

[2016-08-26 06:54] jbenet commented on #3126
- Though I understand why this is hard-- _when_ do you copy from local fs or files api. the trees could be the same.
- Maybe this could be flags? `ipfs files cp --from=sysfs [--to=repo]`
- Maybe instead we want something like `ipfs files add <path-in-local-fs> [<path-in-files-api>]`, and if no second path is specified it defaults to `/added/$(basename)` this could go with the `ipfs add -> ipfs fil

[2016-08-26 06:57] jbenet commented on #3126
Ok this is confusing:

[code]
because the doc says:

[code]

I take `<data>` to mean raw data. not `<path>` or `<file>`.

[2016-08-26 06:58] jbenet commented on #3126
[code]
Not the most helpful error. maybe:

[code]

[2016-08-26 07:00] jbenet commented on #3126
For posterity, I succeeded with:

[code]

[2016-08-26 07:03] jbenet opened #3127 "`ipfs files stat` buggy format."
0.4.3-rc3

SHOULD BE

[code]

BUT IS

[code]

See here: https://github.com/ipfs/go-ipfs/pull/2706/files#r76372532

[2016-08-26 07:07] Kubuxu commented on #3127
My comment on that thread:

[2016-08-26 07:18] jbenet commented on #3127
Seems like it's been this way since 38fab91013d710db8a9cc4f26cf5a750f90dac29 -- Sep 2015.

Okay, this is relatively minor and only increases BP by a few points. To fix it though, i suggest:

- Add a format keyword (like `hash` and `size`) that shows it with `Hash: <hash>`. maybe `--kv-format`
- Add a keyword for current default version too (no `Hash: ` prefix, maybe `legacy`?). maybe `--legacy-for

[2016-08-26 08:38] kevina commented on #2839
I am reopening this issue because the fix causes problems for me in my filestore code.

`cp -r` (at least on unix) does _not_ resolve symbolic links unless the path end in a '/'.  For example
[code]

The original issue reported is due to a bug in how  the special case of `.` is handled and is easy to fix (and I will happy to do so).

Please also see my comments on the pull request #2897 as it is n

[2016-08-26 09:06] Kubuxu commented on #2839
You can add symbolic links inside directories.
We can revert it and think about it more.

Is there any usage pattern where user wants to add a symbolic link, instead of the file referenced by this link if he references the symbolic link directly?

Looks symlinks to files are always resolved.
[code]

[2016-08-26 10:00] davidak commented on #2488
No, it seams to be solved! 👍

(have you changed anything?)

I'm still not able to pin [this Video](https://pod.geraspora.de/posts/4458195). But i think no body is hosting it.

[code]
i stopped after 17h48m18s (also tried multiple times in the past)

[2016-08-26 10:51] mattseh commented on #3117
My 2 cents:

When I access normal IPFS data, I'm implicitly agreeing to host that data for a while, it should be the same when I access an IPNS record. Popular IPNS records are therefore automatically widely available.

If explicit action was required to host the record, it's unlikely many would do it, leaving IPNS de facto centralised.

[2016-08-26 14:27] RichardLitt commented on #2609
@dignifiedquire Want to open a new issue there?

[2016-08-26 14:29] #2609 closed

[2016-08-26 14:46] RichardLitt commented on #881
I think this is being tracked elsewhere.

[2016-08-26 14:46] #881 closed

[2016-08-26 14:47] RichardLitt commented on #2865
AFAIK, this has been discussed a lot off-GitHub. The resolution we came to is that, no, `.Default(false)` is an understood quality of booleans, and it doesn't mean to be made explicit. If you see this in the code, you can remove it, and there's no expectation going forward to include it.

[2016-08-26 14:48] RichardLitt commented on #2189
@whyrusleeping Can we use this as a tracking issue, then, for adding aliases, or should I open up a separate issue for that?

[2016-08-26 14:54] RichardLitt commented on #1152
Let's reopen this and assign it to me as a thing to add to the security docs.

[2016-08-26 16:51] Kubuxu commented on #1152
I disagree with rehashing on read being by default on, there is a big con for it that in my opinion outweigh possible benefits:
  increased read cost: in CPU time, latency and power usage

Possible pros are: disk error detection and attack prevention, but in both of those cases IPFS isn't primary risk factor. When disk is dying so badly that it reads bad block user would notice from other instabil

[2016-08-26 17:05] whyrusleeping commented on #3117
@mattseh good point, rehosting ipns records should have the same feel to it as other content on the network. I'm not yet sure how best to do that though, multiple people rebroadcasting the same ipns entry isnt super useful, you really just need at least one. More causes spam (and doesnt actually improve availablility any)

[2016-08-26 17:10] Kubuxu commented on #3117
Maybe we could measure availability of IPNS entry, IIRC we query for 20, 16 is accepted as done, otherwise we wait for some timeout. If we reach this timeout, but we have good number of entries (10+) we can rebroadcast the right one back to the network?

Also do we send the right IPNS entry to a peers that sent as a outdated ones?

[2016-08-26 17:28] mattseh commented on #3117
To add to my point: There is a nice use case for IPFS in general, where a group of computers that are networked together but not connected to the internet can do a lot of useful things, for example sharing files.

If they wish to share files that are updated from a feed that is powered by IPNS, this falls over unless the IPNS owner is part of that network, but this would often not be the case, for

[2016-08-26 18:50] alikic opened #3131 "Parformance test - Add/Cat on a single IPFS instance"
Version/Platform/Processor information (from `ipfs version --all`):
go-ipfs version: 0.4.3-rc3-685cd28
Repo version: 4
System version: amd64/linux
Golang version: go1.6.3

Type (bug, feature, meta, test failure, question): question
Area (api, commands, daemon, fuse, etc): performance
Priority (from P0: functioning, to P4: operations on fire): P3

Description:

I am running a small performance test

[2016-08-26 19:13] kevina commented on #1152
I agree with @Kubuxu on this one.

[2016-08-26 19:58] BrendanBenshoof commented on #1152
Reasoning A:
Like a lot of security measures, this is not actually about protecting the
user, it is about informing them. Jakub is right on all counts, but if IPFS
can detect an issue still should inform the user it thinks something is
wrong.

Reasoning B:
Part of the core idea of IPFS is abstraction of data sources. Why should
what appears to be the File System be more trusted than the network? I

[2016-08-26 20:22] whyrusleeping commented on #3131
A few different things to try that might affect performance:

- Try out latest master. There are a few changes there that should help fight the 'slowing down' over time of adds. The issue is that your node is buffering up all of these entries so it can announce them to the network, as that buffer gets larger, everything else starts to slow down.
- Try setting `ipfs config Datastore.NoSync --json t

[2016-08-26 21:23] alikic commented on #3131
Thanks, I'll try it out. What about 5.7GB of disk space taken by 18 thousand 1K items? Is this normal?

[2016-08-26 21:24] whyrusleeping commented on #3131
@alikic no, thats not normal (or at least, not expected). I'm curious to see how the `--pin=false` option affects that

[2016-08-26 22:33] pjz commented on #3116
It should also output the job id instead of normal stdout.  Then 'ipfs join <job id>' should show the stdout/street of the 'waited' job.

[2016-08-26 23:27] alikic commented on #3131
OK, I think ```--pin=false``` is not useful to us, as we always want to pin when adding, but I'll try it anyways if it can provide any clue.

I see that go-ipfs-api add() doesn't support this option. I modified shell.go in $GOPATH/src to hardcode this option for this test:
[code]
and then ```go install github.com/ipfs/go-ipfs-api```. Is this OK?

I got exactly the same behaviour: Adding to w1 1000

[2016-08-27 00:43] whyrusleeping commented on #3131
@alikic thank you for trying these out. If disabling pinning on 0.4.3 helped, i'm very interested to see how trying latest master works (with and without pinning if you have the time).

Also curious to see what sort of effect `ipfs config Datastore.NoSync --json true` has.

[2016-08-27 01:21] alikic commented on #3131
@whyrusleeping ```ipfs config Datastore.NoSync --json true``` might improve write performance, but it's already relatively fast and doesn't increase with the amount of data stored (at least with pinning disabled). Reading performance is more problematic as the time to read increases as data is added, and reaches unacceptable levels very quickly. Is there anything we can do to improve it?

[2016-08-27 07:39] Kubuxu commented on #3131
0.4.3-rc3 is still making a conditional GC on cat, it was disabled in reacent master. If you are able to built the master your self, it would be great to start from there. If you don't want to build it yourself, I can send you a binary, you have to just tell me which arch and system you are using.

[2016-08-27 10:24] hobofan commented on #2828
After adding 200MB of the Wikidata dataset with the current master version I have these stats:
[code]

Compared to the previous report in https://github.com/ipfs/apps/issues/27#issuecomment-242562201
thats an improvment of ~2.65x for inbound and ~3.2x for outbound traffic when using the current `master` compared to `0.4.2`.

The dataset consists of 24 million JSON files which are mostly 1-20KB big

[2016-08-27 10:58] jbenet commented on #2839
@Kubuxu

- Try `git add <symlink>`, it adds the symlink, and with good reason. The point is to be able to restore it into another file system, exactly as is.
- Imagine also usage in the mfs/files part, where i `ipfs add <symlink>` and then link in that has into the right location in my `ipfs files`.
- By default, add should store the symlinks NOT the files. you can add a flag to make the resolutio

[2016-08-27 10:58] jbenet commented on #2839
This needs to be reverted.

[2016-08-27 11:47] mateon1 opened #3133 "build: Unable to build with Go release candidates"
Version/Platform/Processor information: N/A;
commit 8ffab98d55 on Windows with MSYS2

Type: bug
Area: build system
Priority: P3 (release untested)

Description:
If using a Go release candidate (for example 1.7rc6) the 'check_go_version' utility fails to compare the version number to the minimal 1.5.2.
[code]
the first message means `line 69: test: 7rc6: expected natural expression`

PS: I'm updati

[2016-08-27 15:12] alikic commented on #3131
I took the latest from master:
go-ipfs version: 0.4.4-dev-28b01dd
Repo version: 4
System version: amd64/linux
Golang version: go1.7

A single node test is so much better that I had to debug to see if the previously added data is actually being retrieved. Add with pinning still "freezes" the node, but the read times are now around 600us, and they don't appear to go up:
[0.4.4-dev.txt](https://githu

[2016-08-27 16:54] mateon1 commented on #3133
Since this is just regex and Bash, I can take this issue.

[2016-08-27 17:23] ianopolous commented on #2864
I'm not in a position where I can upgrade it at the moment as we're half way through rewriting our front end. I'm happy to close it for now, as I don't notice it, after putting it in upstart. We've also moved from EC2 to Linode.

[2016-08-27 17:23] #2864 closed

[2016-08-27 17:59] ianopolous commented on #2070
@whyrusleeping Not sure why this is still open. You fixed it during that chat we had ages ago. All is good now. :-)

[2016-08-27 17:59] #2070 closed

[2016-08-27 18:21] kevina commented on #2839
@Kubuxu I am going to go ahead and create a pull request that reverts the fix for this and directly fixes the problem described in the description so adding the current directory works as expected.

[2016-08-27 18:33] Kubuxu commented on #2839
@kevina can you base it of the v0.4.3-rc3 tag and PR to `version/0.4.3-rc4`.

[2016-08-27 18:35] kevina commented on #2839
@Kubuxu will do

[2016-08-27 21:15] kevina commented on #2839
Okay have a look at #2839.

[2016-08-28 03:50] jbenet commented on #3131
Thanks this is very useful. Would be great to turn this into a test suite.
Want to create a new repo and make some scripts to repro this? Would be
awesome to have graphs of the relevant things to optimize (disk usage,
speed, op time, etc)
On Fri, Aug 26, 2016 at 14:50 alikic <notifications@github.com> wrote:

[2016-08-28 18:01] hobofan commented on #2823
If you need another one here is one after adding ~300k new files (+1million that it didn't have to publish to the network):
[code]

[2016-08-28 18:53] Kubuxu commented on #2823
Which version of IPFS are you using, it was a known bug in 0.4.3.

[2016-08-28 18:55] hobofan commented on #2823
master from about a day ago

[2016-08-28 19:14] Kubuxu commented on #2823
Ok, thanks, can you send the whole gorutine dump?

[2016-08-28 19:22] hobofan commented on #2823
https://ipfs.io/ipfs/QmdJwjmpWqVYfnBUsxzGv3LgYyefDzhmXrcE4ysihy4ET3

This is a different newer one, but it's still from the same process.

[2016-08-28 19:31] hobofan commented on #2823
Wait, that are the goroutines of the server, right? Shouldn't I dump the ones of the `add` process, since that's the one dying? How would I go about doing that?

[2016-08-28 19:32] Kubuxu commented on #2823
Is the daemon running after add died?

[2016-08-28 19:33] hobofan commented on #2823
Yes, and I was able to start another add after that without problem.

[2016-08-28 19:34] Kubuxu commented on #2823
Is there any message when the ipfs add dies?
You can create dump goroutine dump to the stdout using `ctrl-\`, it would be best to pipe the output to file as otherwise it will overflow the terminal buffer.

[2016-08-28 22:03] jbenet opened #3137 "Handling versions of fs-repo, and `fs-repo-migrations` mid release cycles"
The 0.4.3 release will include a migration. because there have been 3 RCs, there are many users out there with a migration already performed, and repos at version 4. This migration seems to be just fine, and version 4 as is seems final. It is not expected to have to change before final release, and any changes deemed necessary seem that they could come as a version 5. **So this issue is for the fu

[2016-08-28 22:04] jbenet commented on #3137
Also, the migrations should definitely be available in https://dist.ipfs.io by `-rc*` time.

[2016-08-28 23:34] jbenet opened #3138 "Code Review 0.4.2..0.4.3-rc3"
I went through and code reviewed all the PRs, commits, and merges from `0.4.2..0.4.3-rc3`.

![](https://cdn.stepfeed.com/uploads/2015/10/13151456/20151013-so-productive.gif)

First, a huge thanks to everyone. this is a huge release, with tremendous stuff. Huge shout out to everyone who worked on it, sp @whyrusleeping @Kubuxu @kevina @lgierth @RichardLitt @chriscool and all those listed here https:

[2016-08-29 04:12] knupfer opened #3139 "unstable modtimes"
Version/Platform/Processor information (from `ipfs version --all`):

go-ipfs version: 0.4.3-dev-b5fbc01
Repo version: 4
System version: amd64/linux
Golang version: go1.6.2

Type (bug, feature, meta, test failure, question):

bug

Area (api, commands, daemon, fuse, etc):

commands

Priority (from P0: functioning, to P4: operations on fire):

Description:

`ipfs get` and `ipfs get --archive` produce

[2016-08-29 04:49] jbenet opened #3140 "Code Review for blocks/blockstore/bloom_cache.go"
### Code Review for https://github.com/ipfs/go-ipfs/blob/master/blocks/blockstore/bloom_cache.go

Note: this is minor, because this cache is used correctly in go-ipfs. But the abstraction is one that has rough edges that may hurt people modifying the calling code. Hence worth fixing at some point.

- It took me a bit to understand why exiting during rebuilding is correct-- i thought the context ca

[2016-08-29 04:50] jbenet commented on #3140
cc @Kubuxu

[2016-08-29 07:10] jbenet commented on #1152
Well put, @BrendanBenshoof.

I'm on Reasoning B all the way through. If the user wants to _decrease security to increase performance_, that's their prerogative and we can give them a knob to turn. But we should not put the user in a weaker spot from the beginning.

The file system is definitely an attack vector. And it cannot be trusted as much as main memory, or the cpu registers. As @BrendanBens

[2016-08-29 07:28] jbenet commented on #3139
Not 100% sure modtime is put into unixfs atm.

What does git do in this regard?

[2016-08-29 07:30] Kubuxu commented on #3138
About rebasing PRs before merging, I can't do much in this manner, it is Jeromy who merges them, he can ping me to rebase them (he does in case of conflict) or rebase them himself (my signature won't match then).

[2016-08-29 12:42] knupfer commented on #3139
git does the same, it doesn't save modtimes, but the files in the working tree aren't immutable.

[2016-08-29 13:49] Kubuxu commented on #3140
Thank you for those remarks, they are very valuable.

I will limit the access and rework the logic a bit to make it more safe.
I didn't use lock on the `active` as it was introducing major performance hit when I was benchmarking it (about +50%, the bloom code is just fast), looking closer at the code I see a way to remove the possible edge case races without negatively influencing performance.

[2016-08-29 16:03] whyrusleeping commented on #3138
@jbenet thanks for all the review! The strategy will be to branch off of the 0.4.3-rc3 tag and merge everything to there. Then merge that into master once the release happens.

[2016-08-29 16:09] Kubuxu commented on #3138
I already created `version/0.4.3-rc4` which is based off the tag and there are two PRs created to it: https://github.com/ipfs/go-ipfs/pull/3134 https://github.com/ipfs/go-ipfs/pull/3135

[2016-08-29 16:38] alikic commented on #3131
@jbenet Yes, I can move the code from our internal repo. Should it be under "github.com/ipfs"? Not sure about prettifying reports just yet, as we have other priorities.

I have two questions:
1. I see the direct dependency between time to cat() and the amount of data in store, and the fact that it goes up relatively fast, as a critical issue. Could you backport the fix (removing a conditional GC o

[2016-08-29 17:28] lgierth commented on #3138
Another lesson from the 0.4.3 cycle is that we should only start releasing RC builds once we're absolutely positive that this is what we want to release. We're close to a 1.5 months RC cycle.

[2016-08-29 17:30] Kubuxu commented on #3138
@jbenet Is ` blockstore.{RuntimeHashing -> HashOnRead}` neccesary for 0.4.3, it would be best to keep the changeset minimal in the 0.4.3 branch to go into merge conflict hell.

As it is small refactor (and master has already some changes with it), it would be better to keep it on master. Sounds good?

@lgierth I don't know why having long RC cycles is bad thing, it only show that our QA game needs

[2016-08-29 17:33] jbenet commented on #3138
@Kubuxu it's an interface. our releases are not only binaries, they're also the code. It's pretty minimal, but okay.

[2016-08-29 17:36] lgierth commented on #3138
Sure -- I just mean that if we know that @jbenet is still to review it, and is likely going to have lots of feedback, it's IMO not yet a release candidate. A release candidate is "almost exactly this is going to be the release, unless there are bad bugs or regressions".

[2016-08-29 17:37] jbenet commented on #3138
Agree with @lgierth

[2016-08-29 17:44] kevina commented on #3138
@jbenet (also @whyrusleeping @Kubuxu) concerning "best effort" pins, let me know what I need to do.  At the moment this seams to be due to a misunderstanding, see #2698.

[2016-08-29 17:58] RichardLitt commented on #3138
Thanks, @jbenet. Good to see a lot of these comments!

[2016-08-29 22:31] RichardLitt commented on #3060
Yes. I'll work on this.

[2016-08-29 23:22] whyrusleeping commented on #3138
@lgierth You're generally more eloquent than I am, could you handle adding better 'error case help text' here? https://github.com/ipfs/go-ipfs/pull/2939/files

[2016-08-30 01:47] jbenet commented on #3131
@alikic any public repo will do fine. if we start depending on it a ton, then we may move it. thanks

[2016-08-30 02:00] jbenet commented on #3139
I'm not sure that

makes sense. it may have weird bad edge cases. can we think of any?

Well, when you `ipfs get`, it's like a `git clone` or `git checkout`, so you sort of get stuff dumped into a "working directory".

I hear you though, i want to make it nicer/easier. Let's just keep discussing options and pros/cons

[2016-08-30 14:30] Kubuxu commented on #3140
I rebenchmarked it and RWLock adds only about 10%, so I will go with that.

[2016-08-30 14:33] Kubuxu commented on #3140
It will be a bit harder but possible to do as I need the writes to go to the new bloom filter.

[2016-08-30 15:39] knupfer commented on #3139
- On nixos, they set the stuff in their store to unix time 0 without problems as far as I know
- A program which depends on the modtime would produce at the moment indeterminate results, even though the paths are deterministic
- Touching the files doesn't give any additional information and in fact isn't correct, because the files aren't modified
- Producing unstable tarballs makes it impossible t

[2016-08-30 15:45] knupfer opened #3153 "Allow adding directories via curl"
Version/Platform/Processor information (from `ipfs version --all`):

go-ipfs version: 0.4.3-dev-b5fbc01
Repo version: 4
System version: amd64/linux
Golang version: go1.6.2

Type (bug, feature, meta, test failure, question):

feature

Area (api, commands, daemon, fuse, etc):

api

Priority (from P0: functioning, to P4: operations on fire):

Description:

Provide a command, which takes a tarball, un

[2016-08-30 15:47] knupfer commented on #3153
Note: I'm aware of `ipfs tar add`, but it results in a non browsable path which can be only read with `ipfs cat` which isn't even part of the api under port 8080

[2016-08-30 19:05] Kubuxu commented on #2489
@whyrusleeping made awesome changes to our netstack libriaries that should reduce number of packets sent, I will repeat my tests.

Also I will open separate issue for just this metric as packet size it is something we should aim to max out in a long run to increase bandwidth usage efficiency.

[2016-08-30 19:14] Kubuxu opened #3155 "Increasing network packet size"
Small packets are wasteful, Eth+IP+TCP is 66 bytes so everything smaller than that has more than 50% transfer overhead.

This was greatly improved by recent changes (we used send length in separate packet on few levels, which caused the number of packets to grow geometrically).

I would like to use this issue to show improvements that were made and also to set higher and higher aim.

Version 0.4.2

[2016-08-30 19:21] dignifiedquire commented on #3155
could you reference those here?

[2016-08-30 19:26] Kubuxu commented on #3155
It was mostly: https://github.com/ipfs/go-libp2p-secio/commit/fa92b064e32717cf4c036c19ee11369cdf369afb

I think there was something more but it is deep in dependency tree. @whyrusleeping might remember more.

[2016-08-30 19:32] whyrusleeping commented on #3155
These multistream changes were pretty significant: https://github.com/multiformats/go-multistream/commit/d78b705e48ccaf817a4724c7216bb6be70b7534c

As well as the changes in bitswap and the dht that allow us to reuse streams to peers for multiple messages (avoiding the extra stream multiplexer framing for each message)

[2016-08-30 20:12] Kubuxu commented on #3155
0.4.4-dev as for August 30:
Median 48 bytes, Mean 112 bytes

![sizes-all](https://cloud.githubusercontent.com/assets/2259282/18104887/8aec5ffc-6efd-11e6-9e49-be8a937de0f7.png)
![sizes-sub200](https://cloud.githubusercontent.com/assets/2259282/18104956/ddf1d146-6efd-11e6-9e17-381df0ee5390.png)

One can see that 4 bytes packets were removed but there are a lot of 48 byte packets.

Can we try trackin

[2016-08-30 20:20] whyrusleeping commented on #3155
48 byte packets are dht provider rpcs

[2016-08-30 20:26] Kubuxu commented on #3155
Are DHT RPC calls just 12 bytes or did I do my math wrong about secio (SHA2 32bytes, length 4 bytes)?

[2016-08-30 20:41] Kubuxu commented on #3155
I think I found it: the 12 bytes frames we see are yamux frames: https://github.com/hashicorp/yamux/blob/master/spec.md . They are used for creation destruction of streams.

We already worked on decreasing their overhead by reusing DHT streams, but this change requires both sides to to support it, it was introduced in 0.4.3-rc1 and after official 0.4.3 release we might be seeing reduced number of

[2016-08-30 21:01] mateon1 opened #3156 "Tests fail on Windows"
Version/Platform/Processor information:
go-ipfs version: 0.4.4-dev-28b01dd
Repo version: 4
System version: amd64/windows
Golang version: go1.7

Type: bug
Area: testing
Priority: P2

Description:
When running `make test` on Windows, a lot of tests fail. While for some it's to be expected (FUSE), for others it's not.

full log: [`QmeZz6QCL4EQencqWiWTFkhqmxJLoPtwP7fGpH4C2UZEta`](https://ipfs.io/ipfs/

[2016-08-30 22:06] jbenet commented on #3153
You should be able to do this already. It's how the `add` command works in general. it may involve multipart. Maybe inspect the api call that `go-ipfs` does when an `ipfs add -r <dir>` command happens. or look at https://github.com/ipfs/js-ipfs-api.

I tried looking in docs.ipfs.apiary.io/#reference/add but i'm getting lost / didnt find a clear example with a directory + many files.

[2016-08-30 22:06] jbenet commented on #3153
you may have to untar yourself, then pipe it into an `ipfs add` (multipart, i think) stream

[2016-08-30 22:12] lgierth commented on #3153
I've successfully piped docker image tarballs into `ipfs tar add` in the
past

On Wed, Aug 31, 2016 at 12:06 AM, Juan Benet <notifications@github.com>
wrote:

[2016-08-30 22:19] lgierth commented on #3153
eh sorry disregard my other comment.

Another idea: the hash of an empty unixfs directory is currently QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn (it'll change with IPLD), you can use that to build your directory, iterating over all children, patching them into the directory.

What @jbenet said about untar'ing as multipart into /api/v0/add might be better.

[2016-08-30 22:55] knupfer commented on #3153
I'll give it a try, didn't think about that.

[2016-08-30 23:14] sapk commented on #3029
Bug present in docker image ipfs/go-ipfs:latest and works fine too in ipfs/go-ipfs:v0.4.3-rc3

[2016-08-30 23:29] lgierth commented on #3029
Yes, a couple of days ago I fixed our docker image versioning. That means `go-ipfs:latest` is v0.4.2.

- `go-ipfs:master` is built from the `master` branch
- `go-ipfs:latest` and `go-ipfs:release` are built from the `release` branch

[2016-08-31 00:37] ghost opened #3157 "Migrations prompt hides Ctrl+c for shutdown"
[code]

Another Ctrl-c does the job, but I think this needs a context. ScanContext? :)

[2016-08-31 00:54] lgierth commented on #3138
Sure, here: #3158

[2016-08-31 01:49] JesseWeinstein opened #3161 "Daemon log output subsystem names truncated"
Version: 0.4.3-rc3
Type: bug
Area: commands
Priority: P0

The log output printed by the daemon (not the event log output produced by `ipfs log tail`) truncates the subsystem names (e.g. core/commands gets turned into core/comma) which are not accepted by `ipfs log level`, making it hard to figure out how to filter them out, and generally confusing the user.

I see three possible fixes:
1. Expand t

[2016-08-31 04:39] jbenet commented on #3138
People have been checking boxes above without editing the post and adding:

[code]

see the "On this Code Review" rection

[2016-08-31 04:40] jbenet commented on #3138
Oh i see some RFCR things. i'll check those

[2016-08-31 05:15] whyrusleeping commented on #3153
It would be pretty nice to have an 'inverse' of `ipfs get --archive`. @knupfer what would an ideal API look like for you here?

[2016-08-31 05:34] whyrusleeping commented on #3161
I think adding support for matching on the prefixes would be a good idea. And if theres a collision we can print an error like "ambiguous reference, did you mean ABCX or ABCY?"

[2016-08-31 17:14] robcat commented on #3104
Just one tangential issue: when trying to add a big block, ipfs stops in the middle of the "add", like this:
[code]
From the it seems that there will be a universal size limit (i.e. all the ipfs nodes will reach a consensus on the limit).

Maybe `ipfs` should refuse altogether to use a chunking size greater than `BlockSizeLimit` and/or give a better error message?

[2016-08-31 21:35] lgierth commented on #3104
Yes agreed

[2016-08-31 23:26] lgierth commented on #3138
sorry that was sloppy -- I clarified that section about the gateway/blocking/reverting questions. Check the linked answers, I think these are resolved. (you're right, *I* shouldn't check them off, just provide you with enough info.)

[2016-09-01 04:31] knupfer commented on #3153
Perhaps `ipfs add --archive` ? I like symmetries a lot.

[2016-09-01 15:22] whyrusleeping opened #3165 "wantlist entries are never cleared from gateway nodes"
The gateways wantlists seem to just get bigger and bigger as time goes on. We need to be clearing out entries related to gateway requests when each request terminates.

[2016-09-01 15:35] Kubuxu opened #3166 "Revert policy"
When some change is introduced and we decide that it isn't beneficial and/or it causes problems we need to revert it.

To make later review process easier and the changes easier I propose that we always you git's `revert` command to revert some changes.

This suits few purposes. First, it is much easier to see if some change was reverted by just looking into history of the file. Imagine commit wit

[2016-09-01 15:36] lgierth commented on #3165
Can wantlist entries be tied to a context?

[2016-09-01 15:44] Kubuxu commented on #3165
I think we could, I don't know how far we are from passing the context to the bitswap.

Problem arises when there are two different requests wanting the same hash from bitswap.
Solution: reference counting in requests that were called only with context and periodic (?10min?) GC, if context is done, decrease the counter by one, if it is 0, remove the entry from wantlist.

Sounds good? I could get r

[2016-09-01 15:47] whyrusleeping commented on #3165
@Kubuxu each wantlist entry does have a context associated with it already. The issue is that if multiple requests reference the same block, you end up having to store multiple contexts, and respecting each of them.

[2016-09-01 21:11] kevina commented on #3166
I agree, `git gui` is very useful for doing interactive adds.

[2016-09-01 21:49] whyrusleeping commented on #3166
@Kubuxu can this issue be moved to ipfs/notes, or ipfs/support or somewhere else?

[2016-09-01 21:53] Kubuxu commented on #3166
I think it is quite meta to go-ipfs. I don't know if others want to apply it to their projects.
If we reach agreement it would be better to move it to go-ipfs contribution guidelines or something like that.

[2016-09-01 22:30] kevina commented on #3138
I went through and clarified referenced pull requests with `---resolved in #XXX` for merged commits.  I also added `---needs review #XXX` for unmerged commits pending review.

Github makes it way to easy to accidentally toggle a checkbox and does not provide the history of edited commits to verify what I did.  Sorry, if I did this and caused something to be wrong.

[2016-09-01 22:57] lgierth commented on #3060
Pointing to the [IPFS Core API milestone](https://github.com/ipfs/go-ipfs/milestone/19) because it's relevant here, and I'm filling it in right now.

[2016-09-01 23:02] ghost opened #3171 "Extract gateway code to go-ipfs-gateway"
The gateway code in the `core/corehttp` package should be moved out into its own repository, to ease further development, and specification of the gateway's semantics. The new repository is go-ipfs-gateway at https://github.com/ipfs/go-ipfs-gateway

If the gateway is to be separate, it _can't_ depend on go-ipfs internals as it does now, so it first needs to adopt the core-api interface.

Dependenc

[2016-09-01 23:07] lgierth opened #3172 "Basic commands use IPFS Core API"
Most of the "business logic" buried in the `core/commands` package should use the IPFS Core API. We'll start with the basic commands `add`, `cat`, `get`, `ls`, and `refs`. The rest will follow.

Dependencies:
- [ ] #2876 Gateway uses minimal IPFS Core API
  - for the basic Core API imeplementation

[2016-09-01 23:19] lgierth opened #3173 "go-ipfs-api implements IPFS Core API interface"
The origin of go-ipfs-api is a library called _ipfs-shell_, which didn't try to closely map to the IPFS API, let alone the Core API which didn't even exist back then.

We want go-ipfs-api to implement the Core API interface, so that the same code can be used with both an in-process node, as well as a remote node over HTTP. In the future we want to add more Core API functions to go-ipfs-api (featur

[2016-09-01 23:25] lgierth opened #3174 "All commands use IPFS Core API"
Most of the "business logic" buried in the core/commands package should use the IPFS Core API. Once the basic commands are implements as a trial balloon, we wanna continue with most of the rest:
- `block`
- `object`
- `files`
- `resolve`
- `name`
- `dns`
- `pin`
- `repo`
- `id`
- `bootstrap`
- `swarm`
- `dht`
- `ping`
- `config`
- `version`

A few of the commands might not make much sense within t

[2016-09-01 23:30] lgierth opened #3175 "Move gateway-related issues to go-ipfs-gateway repo"
Won't find no issue description here.

[2016-09-02 00:26] lgierth opened #3176 "core/coreapi package extracted to interface-ipfs-core repo"
See ipfs/interface-ipfs-core#66

Dependencies:
- [x] #2876 Gateway uses minimal IPFS Core API
  - for the basic Core API imeplementation

[2016-09-02 00:35] lgierth commented on #571
These two commands are part of the IPFS Core API now: https://github.com/ipfs/interface-ipfs-core, and help implementing this in go-ipfs is off course still welcome! :)

[2016-09-02 00:37] lgierth commented on #571
Sorry I might have been wrong about them being part of the Core API. Help still welcome!

[2016-09-02 00:41] lgierth commented on #2075
clarified the title of this issue and added it to the core-api milestone

[2016-09-02 00:43] lgierth commented on #2061
has been addressed long ago in ipfs/dir-index-html#9

[2016-09-02 00:43] #2061 closed

[2016-09-02 00:43] lgierth commented on #1947
duplicate of #2061, which has been resolved in ipfs/dir-index-html#9

[2016-09-02 00:43] #1947 closed

[2016-09-02 00:46] lgierth commented on #3175
Most of these issues, basically the ones which aren't attached to the Core API milestone: https://github.com/ipfs/go-ipfs/issues?q=is%3Aopen+is%3Aissue+label%3Agateway

I went and closed or re-labeled a few older ones.

[2016-09-02 08:10] kevina commented on #3172
Any rewrite of the `add` command is likely to cause me grief with the filestore code (#2634).  I would like to be involved in any rewrite efforts.  I might even be willing to just write the new code for `add` once I know the issues involved.

[2016-09-02 08:17] dokterbob commented on #3120
It's interesting - and potentially problematic - to find that resolving the type of a resource takes so long. As far as I know, the first block of the particular resource needs to be fetched in order to look at its protobuf to resolve the type.

However, it seems that in some cases where the linked-to resource is actually available, resolving the type *still* takes a very long time. I have yet to

[2016-09-02 13:41] jonnor opened #3177 "Missing documentation for seeing metrics (for debugging performance issues)"
At certain times in our production deployment, all go-ipfs backends hits 100% CPU usage and then is unable to serve requests in a timely manner. I wish to find out where the time is spent (if possible), or in general collect metrics to figure out what could make this scenario different from when it is operating without problem.

#2881 states that there exists a (nice) metrics lib. But from searchi

[2016-09-02 13:57] whyrusleeping commented on #3177
Take a look at: https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md

Beyond that, there are other metrics built in, but they arent super useful for debugging performance.

[2016-09-02 14:03] jonnor commented on #3177
Thanks, that looks like a great starting point! Should this be linked in the README.md?

Some information around expected performance (some exists in various bugreports but often closed with "it is better now"), and best practices around performance.

[2016-09-02 14:08] whyrusleeping commented on #3177
@jonnor Yeah, all that would be great to have in the readme. Linking to the debug guide is a quick change, but information about expected performance and best practices is something we need to compile

[2016-09-02 14:21] whyrusleeping commented on #3120
@dokterbob Yeah, thats definitely being considered when we move to ipld. We will be able to more easily keep extra information in the directory object to support this.

It definitely is kinda weird that `ipfs ls` is taking considerably longer than just accesing the block. although I have seen this quite commonly where someone adds a directory, and then views the directory through the gateways (cac

[2016-09-02 16:00] alikic commented on #3131
Here it is: https://github.com/securekey/ipfs-performance-test

[2016-09-02 17:07] djdv commented on #3156
Adding my bulk results as well.
`go test -tags=nofuse "./..." | tee test.log`

[code]

[2016-09-02 20:26] djdv opened #3179 "go test failure+panic: exchange/routing/dht"
Result of running `go test -tags=nofuse` in 3303fea on Windows/amd64 with Go 1.7
[code]

[2016-09-02 20:26] djdv opened #3180 "go test failure+panic: exchange/bitswap/decision"
Result of running `go test -tags=nofuse` in 3303fea on Windows/amd64 with Go 1.7

[code]

[2016-09-02 20:48] whyrusleeping opened #3181 "Improve bitswap testing interfaces"
Right now, its pretty annoying to write a new bitswap test. There is a lot of setup required to create a bitswap instance, this doesnt necessarily always have to be. We should rethink how a bitswap instance is created, instantiated and hooked up to a network.

[2016-09-02 21:03] Kubuxu commented on #3181
@whyrusleeping are labels correct here?

[2016-09-02 21:16] whyrusleeping commented on #3181
hush

[2016-09-03 17:30] wilkie commented on #2167
I've noticed that it will fail to mount if it cannot find another server running. So if I create a private cluster by adding two machines such that they are mutually bootstrapping, I cannot run "daemon --mount" on both. I have to go to one of them, run a normal "daemon"... go to the next one and run "daemon --mount" and then kill the daemon on the first and re-run with "daemon --mount"

Basically,

[2016-09-04 15:35] whyrusleeping commented on #3138
@jbenet alright, your 'must haves' are all addressed at this point. For the rest, we will make issues out of each of them and get them addressed for 0.4.4

[2016-09-04 17:23] whyrusleeping opened #3186 "Some handleAddProvider eventlogs have no key"
I ran :`ipfs log tail | jq '.event = "handleAddProvider" | .key'` to get a log of 'all provider messages my node receives', and it works well enough, but i see a bunch of entries that are `null`, looking at the json logs i notice that a bunch of the log entries don't have a `"key"` field. Not sure why this happens, but i'm pretty certain its a bug.

[2016-09-04 18:17] whyrusleeping commented on #3186
my mistake, this was a problem with my jq query

[2016-09-04 18:17] #3186 closed

[2016-09-04 22:30] lgierth commented on #3137
One way to ease this would be adding information to the repo about which release of go-ipfs did the last migration. A newer release can then revert and re-migrate if it really has to.

Of course it's best to make sure we don't trash a user's fs-repo in the first place :)

This is already supported -- the migrations code in go-ipfs expects the fs-repo-migration binary to be available under dist.ipf

[2016-09-05 13:26] SCBuergel commented on #2179
Still the same on 0.4.2 Win x64 for adding some 10 files of 17MB each.
![image](https://cloud.githubusercontent.com/assets/11379673/18249170/eb03fb42-737c-11e6-8bd4-45b10665fa0b.png)

[2016-09-05 14:37] zignig opened #3188 "Expose MFS onto the gateway"
Feature request,

Adding the /mfs/ directory onto the gateway http interface would be useful

as in http://localhost:8080/mfs/< path > , to serve the mutable files.

[2016-09-05 15:47] Kubuxu commented on #2179
@SCBuergel can you show output of `ipfs version --all` (or `ipfs version` if `--all` doesn't work).

[2016-09-05 21:39] andreiamatuni opened #3190 "API call to /diag/net?vis=d3 not returning anything"
go-ipfs version: 0.4.4-dev-0f0cf44
Repo version: 4
System version: amd64/darwin
Golang version: go1.7

Type: bug
Area: api
Priority: P3

Description:

The HTTP API isn't returning results for calls to /diag/net?vis=d3.

It returns the correct data for ?vis=text and ?vis=dot parameters though. Running this on the command line:

[code]

returns a correct response with the data represented in the d3

[2016-09-05 22:12] andreiamatuni commented on #3190
I changed the query to:

[code]

and it works now. I guess I needed the "encoding=json&stream-channels=true" part for the d3 data.

[2016-09-05 23:50] jbenet opened #3191 "bad error if $repodir/api file is bad/corrupted"
Version/Platform/Processor information (from `ipfs version --all`):

0.4.3-rc3

Type (bug, feature, meta, test failure, question): bug
Area (api, commands, daemon, fuse, etc): commands
Priority (from P0: operations on fire, to P4: functioning): P4

Description:

bad error if $repodir/api file is bad/corrupted

[code]

It should be something like

[code]

[2016-09-06 01:20] whyrusleeping commented on #3191
Thats kinda funny actually, It reads the api file, and tries to parse its contents as a multihash. The strange part here is that it succeeds, an empty string is a valid multihash (one with no protocols).

[2016-09-06 02:45] whyrusleeping commented on #3191
We should validate the address protocols on read instead of have it fail when we go to start up an http client (as i suspect we're now doing).

[2016-09-06 14:03] the-kenny opened #3195 "Provide tarballs for offline-builds"
Type: feature
Area: build

Many distributions try to switch to fully-reproducible builds for their packages. Fetching stuff from external sources (ipfs, http, git, etc.) is a no-go in such situations. Some package managers like [Nix](https://nixos.org/) even go as far as blocking all access to resources outside the specified bounds (including network access).

It would be helpful if `ipfs-go` coul

[2016-09-06 15:00] lgierth commented on #3195
Hey, thanks for bringing this up! We generally agree that reproducible builds are something that go-ipfs should be capable of.

It's usually just fine to include hashes with every external source you fetch. I'm wondering what the reasoning is to forbid fetching things from the network? Is it to allow fully offline builds? I think that's a different matter from reproducibility.

I disagree -- inste

[2016-09-06 15:06] the-kenny commented on #3195
That's fine for us, iff `ipfs` guarantees that the output will be byte-to-byte identical over time, even over releases of `gx` and `ipfs` (which it does I suppose).

Is it possible to use `gx` to fetch all dependencies prior starting the build, or do some of them depend for example on the version of `go` used?

[2016-09-06 15:13] lgierth commented on #3195
I'm not sure it is right now, and what the state of reproducible builds with Golang generally is at the moment, but yes it should. Only changes of package.json or Golang should result in different binaries.

The dependencies are specified in package.json and `gx install` fetches them. I'm not sure Gx currently has a command for verifying dependencies that have already been fetched and stored in th

[2016-09-06 15:55] the-kenny commented on #3195
Lars Gierth <notifications@github.com> writes:

That's nice to hear! We'll see if go causes problems. As far as I know
it hasn't caused any non-reproducible builds yet.

That's very good! The last time I tried to package a recent version of
ipfs (two months ago or so) I was afraid to touch gx. I'll give it
another try soon(ish).

Getting rid of downloads (or other network access) in the build goes

[2016-09-06 18:35] whyrusleeping commented on #3195
@the-kenny If you want, you can do a `gx install --local` and it will put all the source for all the dependencies inside the vendor folder. You could then tar up the whole directory and have your entire batch of source ready for reproducible offline builds.

In the future we want to add in the ability to select a specific compiler through gx, meaning that everyone who builds ipfs at a certain vers

[2016-09-06 18:51] Kubuxu commented on #3195
I recall issue with Golang where as the compilation and linking process are performed concurrently the order or symbols in binary wasn't stable but it might have changed.

Also there is problem with build paths: https://github.com/golang/go/issues/16860 but this could be solved by building in chroot, I think.

[2016-09-07 13:26] whyrusleeping commented on #3188
We should probably make this into a config option, so the user can enable this if they want.

It can be implemented as a read only gateway pretty easily, but it would be pretty cool to have RW access to it available.

On a slightly different point, it would be really cool to have an ftp server to access mfs with (but that one would definitely be a separate binary)

[2016-09-07 13:54] alikic commented on #3131
@jbenet Hi, have you been able to reproduce the issue with provided test code? Any plans to include some performance fixes (e.g. removing conditional GC on cat) in 0.4.3? Thanks.

[2016-09-07 14:09] Kubuxu commented on #3131
We removed conditional GC in 0.4.4-dev, 0.4.3 is already on an edge of release so we prefer to limit changes to minimum.

[2016-09-07 15:02] chevdor commented on #1634
Hello, just to confirm:
- ipfs version 0.4.2
- osxfuse installed using homebrew
Same issue than above, editing the config manually to replace true by "true" did the trick.

[2016-09-07 15:07] csawyerYumaed commented on #1634
@chevdor , it supposedly has been fixed, but the new version with this fix in place, has not yet been released, in fact, it doesn't look like it made it in time to get out on the 0.4.3 release (it's in release candidate 2), so probably it won't get fixed until they release 0.4.4, which sucks for all OSX users.

[2016-09-07 15:28] chevdor commented on #1634
that´s ok, this is no deal breaker and the documentation of the error makes it quite easy to land here and find a solution :)

[2016-09-07 22:19] #3133 closed

[2016-09-08 11:44] SCBuergel commented on #2179
@Kubuxu I am on 0.4.2 for Win x64 [I am the 90%^^]:
![image](https://cloud.githubusercontent.com/assets/11379673/18348174/20d3035e-75ca-11e6-8e49-57464c8518fe.png)

[2016-09-08 11:57] Kubuxu commented on #2179
Can you try updating to [0.4.3-rc3](https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/v0.4.3-rc3). I think we have fixed this bug but I am not 100% sure.

[2016-09-08 12:59] whyrusleeping opened #3197 "TestRepublish fails randomly"
in namesys/republisher, TestRepublish fails randomly with: 'failed to find any peer in table'

https://travis-ci.org/ipfs/go-ipfs/jobs/158430466

[code]

[2016-09-08 13:10] alikic commented on #3131
@Kubuxu Thanks. What about having to disable pinning for getting stable (non-freezing) and fast Add()? Do you think it can be be fixed soon? We currently rely on pinning to separate the node's "own" data from data cached from other peers. Is there any workaround to achieve this without pinning?

[2016-09-08 13:15] whyrusleeping commented on #3131
@alikic we will have to debug why pinning causes that 'freezing'. Once we have a better idea of why that happens we can probably figure out a workaround

[2016-09-08 14:21] NeoTheFox commented on #1014
This is my take with systemd on system-wide daemon using ipfs as it is right now:

**Add ipfs user**
useradd -d /var/ipfs -m  -G fuse -r ipfs

**Systemd service**

[Unit]
Description=IPFS daemon

[Service]
Environment=IPFS_PATH=/var/ipfs/.ipfs
User=ipfs
Group=ipfs
ExecStart=/usr/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=default.target

This can be enhanced to auto-start using socket m