[2018-01-11 19:39] Stebalien commented on #4556
Hm. The memory limit may have been the issue then. We should have a new release very soon and I think it'll likely fix this issue.

[2018-01-11 20:10] richardschneider commented on #4577
So what are the valid `$CODEC` values.  I tried `dag-pb` and `dag-cbor` with no luck.

[2018-01-11 20:14] lgierth commented on #4576
I think that's a reasonable thing to add

[2018-01-11 21:11] Stebalien commented on #4577
`pb`, `cbor`, `raw`.

[2018-01-11 21:19] magik6k commented on #4577
Fixed by https://github.com/ipfs/go-ipfs/pull/4563

[2018-01-12 03:28] ShifuKoi commented on #1007
Is this still open ?

[2018-01-12 17:35] Kubuxu commented on #4490
I think it might be an issue with line ends. I think multicodec parser only accepts `/n` and not `/r/n`. It can be fixed either in `go-multicodec` or by changing go-libp2p-pnet not to use it.

[2018-01-12 17:52] #4085 closed

[2018-01-13 14:41] k9ert commented on #4532
Would be cool to have some conceptual similiarities and differences to example-apps in libp2p in that new article. Thank you very much so far, really appreciating all of your work!

[2018-01-13 22:33] fbucci1 commented on #2540
$ ipfs swarm peers
-> No response
$ ipfs swarm connect /ip4/178.62.61.185/tcp/14001/ipfs/QmSoLMeWqB7YGVLJN3pNLQpmmEk35v6wYtsMGLzSr5QBU3
-> Error: connect QmSoLMeWqB7YGVLJN3pNLQpmmEk35v6wYtsMGLzSr5QBU3 failure: dial attempt failed: context deadline exceeded

[2018-01-14 08:45] TUSF opened #4579 "Enhancement: ipfs files ln, for linking "files" to each other."
#### Type: Enhancement

#### Description:

So most operating systems have functionality that allows you to link together locations, so that modifying one modifies the other. I'm hoping that using the `files` subcommand, we could link together two separate files to always point to the same blocks.

Usage would be something like:

* `ipfs files ln new <source> <dest>`, which will create a new file/f

[2018-01-14 16:38] dokterbob opened #4580 "Reported directory size always 0"
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type: Bug

#### Severity: Medium

#### Description:
The size of directories, returned from the API server, is always `0` - instead of the sum of the directory's contents.

Example:
[code]

Result:
[code]

Expected size: `18132`, plus actual directory data (i.e. filenames).

[2018-01-15 06:42] shishi614 opened #4581 "How visit private network of ipfs resource??"
for example:public network of ipfs  via http://ipfs.io/ipfs/QmZhNfGkkqgzmCbW4gZe5JUA4mRWzWGQPmejcBeiCcG6i2 can visit my resource by ipfs add command .
how can i visit private network of ipfs resource via web way??

Private Networks the way of create as follow :

Private Networks
Allows ipfs to only connect to other peers who have a shared secret key.

State
Experimental

In Version
master, 0.4.7

[2018-01-15 06:56] rnkn opened #4582 "Web UI loads blank page"
#### Version information:

go-ipfs version: 0.4.13-cc01b7f
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2
Safari Version 11.0.2 (13604.4.7.1.6)

#### Type:

Bug

#### Severity:

Medium

#### Description:

Opening the web UI at `http://localhost:5001/webui` fetches `http://localhost:5001/ipfs/QmPhnvn747LqwPYMJmQVorMaGbMSgA7mRRoyyZYz3DoZRQ/` which results in a blank page.

The

[2018-01-15 14:40] openthings opened #4583 "Build on ARM64 Faild, with Hypriot-Rpi64 on Raspberry 3B"
#### Version information:
Source Code 0.4.13

#### Type:
Build faild.

#### Severity:
Critical.

#### Description:
Run make build，with Hypriot-Rpi64(ARM64) on Raspberry 3B
Output infomation as:
[code]
The gx_v0.12.1_linux-arm64.tar.gz. non-exist.

[2018-01-15 23:05] openthings opened #4584 "build failed on ARM，with HypriotOS on RaspberryPi 2B."
#### Version information:
Source Code 0.4.13

#### Type:
    Bug

#### Severity:
    Critical

#### Description:

Build IPFS with docker build . ，got error as:
[code]
build failed on ARM，with HypriotOS on RaspberryPi 2B.

[2018-01-15 23:41] hqythu commented on #4582
Encounter the same problem using Safari. But Chrome is OK.

[2018-01-16 02:47] openthings commented on #4584
I build it native is success. Only failed in docker build.
thanks everyone!

[2018-01-16 03:00] #4504 closed

[2018-01-16 03:07] gdeverlant commented on #4527
Ok I will close this ticket because I found why it was happening.

I was executing IPFS from the bin-debug folder because I was running my app in debug mode.
Since I moved the ipfs.exe one folder higher the logs are :

[code]

[2018-01-16 03:07] #4527 closed

[2018-01-16 03:27] gdeverlant opened #4585 "HTTP API requests are FORBIDDEN from Adobe Flash and AIR apps"
*Edit: Go to https://github.com/ipfs/go-ipfs/issues/4585#issuecomment-361317000 for the resolution.*

#### Version information:
[code]

#### Type: HTTP API request errors

#### Severity: minimal

#### Description:

I come up with another error with my tests on Windows 7. When I check the HTTP API via Chrome the requests are returning results.

When I try via my video editor to access the HTTP API

[2018-01-16 03:27] gdeverlant commented on #4585
Tried with the HTTPService API

![image](https://user-images.githubusercontent.com/26530975/34260754-2d01ec76-e667-11e7-9ca2-a7d4d3c8d893.png)

[2018-01-16 03:27] gdeverlant commented on #4585
Accessing the API is working via Socket TCP Programming only...

![image](https://user-images.githubusercontent.com/26530975/34269103-6e4f2948-e683-11e7-9336-b3f5610c2b4a.png)

[2018-01-16 05:02] gdeverlant commented on #4585
Google Chrome receives a normal JSON result. Is there some **HEADERS** which are mandatory so that I can receive a normal result like with Chrome?

![image](https://user-images.githubusercontent.com/26530975/34972588-cf78b9d8-fa82-11e7-8b26-02aa2dcd3f5a.png)

[2018-01-16 05:14] gdeverlant commented on #4585
I have found on this repo : https://github.com/ipfs-shipyard/ipfs-webui

[code]

I tried it by only changing the port 3000 to 5001 ending up ewith this config file :

[code]

And it still doesn't work!

[2018-01-16 05:52] kevina commented on #4585
@gdeverlant There is likely something odd about your setup.  The API works fine for me using `curl`.  If you have curl installed try using it from the command line and see if you still get access denied.

[code]

[2018-01-16 06:37] gdeverlant commented on #4585
I works now but I had to change the config for :

[code]

Is this normal ?

[2018-01-16 06:43] kevina commented on #4585
@gdeverlant I don't think so.  The default setup does not define any access control.  This is what that part of the config file looks like for me:
[code]

[2018-01-16 06:49] gdeverlant commented on #4585
This is my default config file with **ipfs daemon --init**

[code]

[2018-01-16 06:53] gdeverlant commented on #4585
With this config set :
[code]

My App goes through:
[code]

[2018-01-16 06:54] kevina commented on #4585
If you then try
[code]
does it fail again?

[2018-01-16 06:59] gdeverlant commented on #4585
With your suggestion my config file:
[code]

[2018-01-16 07:06] kevina commented on #4585
I don't know why the default setup differs for you.  The only think I can think of is that you are not accessing the gateway via localhost/127.0.0.1 and but that should get a connection confuses not forbidden.

@lgierth (or anyone else familiar with the gateway code), any ideas?

[2018-01-16 07:09] gdeverlant commented on #4585
I set my HTTP Headers like this :

[code]

[2018-01-16 07:16] kevina commented on #4585
@gdeverlant again I am not sure what is going on, the only thing I can think of is to try not setting any additional headers in your request because they should not be needed and could be part of the problem.

[2018-01-16 07:20] gdeverlant commented on #4585
Even if I don't send any headers it doesn't work!

[2018-01-16 07:56] gdeverlant commented on #4585
So as a conclusion IPFS is the cause because setting this config option:

[code]

Allows me to use the normal URLRequest+URLLoader

[2018-01-16 10:01] PCSmith commented on #4224
You are attempting to police content available on IPFS now? interesting... noted.

-Patrick
_Intellectual property is not a valid form of property._

[2018-01-16 12:53] magik6k commented on #4300
https://github.com/ipfs/go-ipfs/pull/4578 is going to fix this, at least for big datastores (few gigs with with 100s of MBs of reclaimable space).

For full GC there is an offline tool being developed in https://github.com/dgraph-io/badger/pull/400, which will likely help with the cases where the online badger GC doesn't help

[2018-01-16 16:51] whyrusleeping commented on #4224
Nope, not policing content on ipfs. Just the community forums that we spend our time maintaining for the sake of the community.

[2018-01-16 18:52] whyrusleeping opened #4586 "Support optional labels for local pins"
When adding a pin, we should be able to add a label to it.

[ipfs-desktop](https://github.com/ipfs-shipyard/ipfs-desktop) already does this, but stores the metadata itself. One approach would be to simply store a string tag in the pinset. Another slightly more interesting approach would be to move all pinning to be simply references within mfs, or alternatively mirror all labeled pins in mfs.

[2018-01-16 19:32] Stebalien commented on #4586
We should just use mfs.

[2018-01-16 20:52] whyrusleeping commented on #4586
Hrm... ipfs-desktop could just start doing this now. cc @hacdias

[2018-01-16 22:04] hacdias commented on #4586
Hello! Like store a file on MFS with the references? 😄 That's a great idea!
There are some things I have to improve on Desktop. The files pane isn't using MFS and it should too! I'll add this as an issue there.

[2018-01-16 22:07] kevina commented on #4558
@v696973 Sorry for the delay.  This should probably error out somewhere but the problem is that the full path of the file is not being sent to the server only the name of the file.  In order for the filestore to work it needs to path of the file so it can find it on the filesystem.

[2018-01-17 00:02] Stebalien commented on #4414
Note: We *should not* be closing the channel on context cancel. Otherwise, the other side might think that we're done sending the response.

[2018-01-17 05:43] natewalck opened #4588 "Duplicate Data increases with the number of nodes serving the file."
#### Version information:
    ipfs version --all
    go-ipfs version: 0.4.13-
    Repo version: 6
    System version: amd64/linux
    Golang version: go1.9.2
#### Type: Bug
#### Severity: Medium
#### Description:
When running `ipfs get` on a given file, the more nodes that have the file and supply it to the test node, the more dupe data the node receives. This leads to lower performance and massiv

[2018-01-17 05:49] jessepeterson commented on #4588
I'm working with Nate on this problem as well. As a (possibly) related issue I found when looking into this issue — I still seem to get duplicated data when I [change the `maxProvidersPerRequest` from its default 3 to 1](https://github.com/ipfs/go-ipfs/blob/master/exchange/bitswap/bitswap.go#L38) and recompile. I'm probably misunderstanding something but shouldn't that only permit one potential ho

[2018-01-17 12:58] gwpl commented on #1482
I need also limit for maximum open files!

[2018-01-17 13:12] gwpl opened #4589 "ipfs add FAILS with "too many open files""
#### Version information:

[code]

#### Type:

#### Severity:

High

#### Description:

[code]

[2018-01-17 22:19] leerspace commented on #4588
Related to (or duplicate of?) ipfs/go-ipfs/issues/3786 and ipfs/go-ipfs/issues/1750

[2018-01-18 00:33] kevina commented on #4589
@gwpl what is the output of `ulimit -n`?

[2018-01-18 13:26] v696973 commented on #4558
Thanks, @kevina! So it turns this is my mistake, although this wasn't mentioned in the docs (it still should pretty obvious, but the lack of explicit error message from the API left me confused). I'm closing this issue for now.

[2018-01-18 14:31] gwpl commented on #4589
$ ulimit -n
1024
, but go-ipfs reports "succesfully increased file descriptors limit to 2048".
Imho issue might be that filesystem is on fuse (sshfs) and it may have limit on file descriptors.

Therefore, it may be nice for go-ipfs to implement gracefull degradation mechanism and adopt on the go to failures and work with as much handlers as it has, instead of crashing when new ones can not be obta

[2018-01-18 15:23] rememberberry opened #4591 "ipfs object diff returns a change when diffing empty directory with itself"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2

#### Type:
Bug

#### Severity:
Low

#### Description:
To recreate:
`ipfs files mkdir /testdir`
`HASH=$(ipfs files stat --hash /testdir)`
`ipfs object diff $HASH $HASH`
output is:

I would expect it to be empty

[2018-01-18 16:27] magik6k commented on #4589
Most of the `too many files open` fixes including connection limiter are already in 0.4.13 so this is new..

Can you try to monitor the daemon with the following command(may require you to install jq):
[code]

And report what are you seeing when adding the data?

[2018-01-18 16:40] gwpl commented on #4589
[code]

[2018-01-18 17:09] Stebalien commented on #4591
I can confirm. This is definitely a bug...

[2018-01-18 18:23] kevina commented on #4558
This should at least return an error rather than silently falling back to storing the file in the datastore.  Reopening and will close once that is in place.

[2018-01-18 18:56] kevina commented on #4589
@gwpl can you also try increasing the ulimit to something really high (`ulimit -n 65536` for example) and see if that helps.

[2018-01-18 20:06] Stebalien commented on #4589
Using the experimental badger datastore should help significantly but, in general, IPFS is not going to work well over SSHFS. IPFS expects the datastore to be on the local machine. The issue here is likely that go-ipfs is opening files faster than it can write to them because SSHFS is so slow.

Note: We *should* have some form of open fd tracking/limit in the flatfs (current default) datastore. Ho

[2018-01-18 21:13] Stebalien opened #4592 "[PSA] closing output on context cancel"
@ipfs/go-team

Hello all,

I've noticed (and have fallen prey to) a bad pattern with contexts and channels that we all need to be aware of (it's non-obvious and rarely causes visible bugs but *can* cause nasty, hard to track down bugs). For example, the following function has a bug:

[code]

What's the bug? Well, let's say we don't trust the function to exit when it should (and want to bail as fas

[2018-01-18 21:14] Stebalien opened #4593 "Potential go routine leak in pin/gc/gc.go"
We have a channel with a magic buffer-size number. We can block indefinitely if the context is canceled and the output channel is full (and we try to write an error). We need to select on the context instead of relying on the buffer (and *not* defer closing the channel as per #4592).

[2018-01-18 21:15] Stebalien commented on #4593
Specifically, in the `GC` function.

[2018-01-18 21:24] Stebalien commented on #4586
Specifically, add the files to MFS, not just create a file listing the CIDs (note, you'll still need to force IPFS to actually download the file as MFS won't do that). E.g., a directory `/.applications/ipfs-desktop/pins/<pinned-files>`.

[2018-01-18 21:45] hacdias commented on #4586
Thanks for the points @Stebalien! It will be useful!

[2018-01-19 00:24] whyrusleeping opened #4594 "ipfs add import params flag"
ipfs-pack uses a 'fmtstring' to denote the exact import parameters used for a given file. We should add a parameter to `ipfs add` that accepts this, and uses it to set all the other parameters.  Then we should also have a flag that makes `ipfs add` output the same format as an ipfs-pack manifest file.

[2018-01-19 16:17] natewalck commented on #4588
@leerspace I agree. It would be nice if these 4 issues could be summarized and squashed into one issue for each underlying improvement. It seems like this issue has been around for a bit, but might have gotten buried over time.

[2018-01-20 08:48] hacdias commented on #4586
@Stebalien I've got a question in the meanwhile: what's the advantage to save the files on MFS if we pin them through `ipfs.pin.add()`?

P.S.: Desktop isn't showing previous pins you've made, but it should though.

[2018-01-20 09:52] dcposch commented on #4228
just to add to this, **i'm seeing not just slow progress, but zero progress copying a large directory from IPFS via Fuse**

`go-ipfs` version:
[code]

### loading single files works

[code]

in another terminal,

[code]

### loading lots of files fails

here i'm trying to copy out what should be about ~50GB of Wikipedia data from IPFS

( see https://ipfs.io/blog/24-uncensorable-wikipedia/ )

[code

[2018-01-20 10:20] gwpl commented on #4589
Hi! I was not aware of badger datastore. If work on specialised store is in progress, let's wait for it! :)

[2018-01-20 11:31] Stebalien commented on #4586
It gives the file a name.

I'd add them to MFS *instead* of pinning because MFS will give the file a name. Unfortunately, while MFS will prevent downloaded blocks from being garbage collected, it *won't* trigger a proactive fetch. You'll have to do that by, e.g., calling `ipfs refs QmId` (to force your node to download the file) or by temporarily pinning and then removing the pin (we should probab

[2018-01-20 13:57] hacdias commented on #4586
I understand your points, but that way, users would start complaining that pins they made through the command line or any other way that uses the pinning service, wouldn't show up in Desktop unless I checked the pins and moved them to MFS.

[2018-01-20 17:30] AlbertoElias commented on #1451
Any updates on this? Haven't found any docs about ignoring files/directories. Thanks!

[2018-01-21 14:15] shishi614 opened #4598 "About data recovery"
version 0.4.13

i create a private work with three nodes ,A,B,C.
i put file with ipfs add at A node . other node get data with ipfs get. i see data storage at blocks.

i enter foler blocks\ZZ,
vi IQGECJOYVVE7YVF5UKOWP6PS5XOKMHPCQEHIQLAIRZ3HL4GSB5EZZQ.data and add some content in the first.
then i download file with ipfs get ,arrise valid merkledag node,but recover that file wit delete my added con

[2018-01-21 18:56] AlbertoElias commented on #3643
Is there a way to ignore files yet?

[2018-01-21 19:51] dokterbob commented on #3430
Specifically, as the only way to figure out the type of a hash currently is `file/ls` (over the JSON API), which fails for non-protobuf nodes.

Ref: https://github.com/ipfs-search/ipfs-search/issues/51

[2018-01-22 02:52] richardschneider opened #4600 "MDNS query"
#### Version information:
[code]

#### Type: Question

#### Description:

Trying to do a mdns (Multicast DNS)  query to go-ipfs with no luck.  `go-ipfs` and the query app are running on the same host.  I get no response to the query.

What is the service name? I've tried `_ipfs-discovery._udp.local.` and `_ipfs-discovery._upd.`

If I run `js-ipfs`, it will respond to `_ipfs-discovery._udp`.

[2018-01-22 10:24] Gcaufy commented on #2540
Tried everything above, still do not work

[code]

[2018-01-22 11:20] fbucci1 commented on #2540
What are the network requirements for IPFS? Do you need to have a public IP? Do you need to open any ports por allowing remote connections to it?

[2018-01-22 13:00] rklaehn opened #4601 "Uploading a large file to a writeable gateway using POST does not work"
#### Version information:
[code]
#### Type:
Bug
#### Severity:
High
#### Description:
Adding a large file to a writeable IPFS gateway using HTTP POST does not work. This seems to be due to the fact that curl is chunking the upload. Either curl is not properly producing a chunked upload, or ipfs is not properly handling it. Given that curl is very widely used and as old as the hills, I suspect that

[2018-01-22 13:03] gosubpl commented on #4601
Also, in the ipfs daemon log you get:
[code]

[2018-01-22 13:11] gosubpl commented on #4601
Also, using the multipart/form-data according to RFC2388 (option `-F` in `curl`) also does not work, as then the contents of the form are stored together with the file.

[2018-01-22 15:04] magik6k commented on #4601
I'm able to reproduce this, it looks like [the sharness tests](https://github.com/ipfs/go-ipfs/blob/master/test/sharness/t0111-gateway-writeable.sh#L42) for writable gateway don't check if the hash matches with what `ipfs add` would produce.

[2018-01-23 14:42] KrzysiekJ commented on #1482
@whyrusleeping: go-ipfs v0.4.13 still maintains several hundreds of open connections.

[2018-01-23 18:07] whyrusleeping commented on #1482
@KrzysiekJ Yeah, DHTs need to maintain a decent number of open connections for proper functioning. You can tweak it lower in your configuration file, Look for `Swarm.ConnMgr`

[2018-01-23 21:36] richardschneider commented on #4600
Used wireshark to log MDNS packets.  It appears the go-ipfs is doing a MDNS query for `_ipfs-discovery._upd.local`.  I believe that `.local` should be removed.

[2018-01-24 02:14] magik6k opened #4602 "Weird error when doing files mv from /ipfs"
#### Version information: current master

#### Type: Bug
#### Severity: Low

#### Description:
When doing `ipfs files mv` from `/ipfs` the error doesn't make it clear why things didn't work:
[code]

Reported in https://discuss.ipfs.io/t/moving-files-that-i-created-using-ipfs-add/1903

[2018-01-24 18:08] elopio opened #4603 "data in file did not match, during recursive add with local nocopy and fscache"
#### Version information:

[code]
#### Type:

    High - The main functionality of the application does not work, API breakage, repo format breakage, etc.

#### Description:

We are trying to add a full ubuntu mirror to IPFS.
Today, while running the command:
[code]
If failed with:

[code]

I tried to add the file again, and it worked:

[code]

This is pretty sad, because we can't resume the add.

[2018-01-24 23:38] thiagodelgado111 opened #4604 "Cannot subscribe to topic using ipfs pubsub"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type: Bug (?)

#### Severity: Low

#### Description:

I have ipfs v0.4.13 running with `--enable-pubsub-experiment` flag and it keeps printing this log to the console from time to time after I try to subscribe to a topic:
[code]

I can see that my other node is connected whe

[2018-01-25 00:45] frrist commented on #4602
I believe a `ErrLinkNotFound` error is being returned by [merkledag/node.go](https://github.com/ipfs/go-ipfs/blob/master/merkledag/node.go#L160) which is then converted to an `os.ErrNotExist` in [unixfs/io/dirbuilder.go](https://github.com/ipfs/go-ipfs/blob/master/unixfs/io/dirbuilder.go#L163)

We could consider giving `ipfs files mv` the same behavior as `ipfs files cp` for some special cases (li

[2018-01-25 06:06] richardschneider opened #4605 "Swarm address filters"
#### Version information:
[code]

#### Type: Question

#### Description:

Using the commands `ipfs swarm filters add/rm` changes the `.ipfs/config` with the supplied value.  I like this behaviour.  However, the [docs](https://ipfs.io/docs/commands/#ipfs-swarm-filters-add) state

  Filters applied this way will not persist daemon reboots, to achieve that,
  add your filters to the ipfs config file.

[2018-01-25 10:07] VictorBjelkholm commented on #4604
Supposedly, this error is shown when your pubsub enabled peer is trying to setup new stream to a peer that doesn't have pubsub enabled. I remember reading that this is not really a error, more of a information message. It should not be related to subscribing to a topic, and everything should work fine even with these messages appearing in your log.

When you subscribe to a topic on peer A and publ

[2018-01-25 12:43] AlbertoElias opened #4606 "Frequent BSOD on Windows 10 Bash subssytem"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type:
Bug

#### Severity:
Critical

#### Description:
I keep on getting what seem like randoms BSOD.

There are 3 errors I see occurring:

- Running `ipfs daemon` in Windows 10, from the Bash subsystem. Sudden unexpected BSOD, sometimes when it seems to get stuck adding file

[2018-01-25 17:06] thiagodelgado111 commented on #4604
I see, good to know it's not an error. When I list the peers on `node B` and grep for `node A`, I can see they are connected. In fact, I've managed to get the content from `node A` to `B` via `pubsub` but from time to time that log continues to be printed out.

[2018-01-25 17:38] frrist commented on #4459
There was previous discussion on this issue here - #1121. Closing in favor of it.

[2018-01-25 17:38] #4459 closed

[2018-01-25 18:37] Stebalien commented on #4606
What do you mean by "BSOD"? Linux doesn't have BSODs (i.e., it literally doesn't have a blue screen of death). Do you mean that linux is panicing (are the CapsLock and  ScrollLock keys flashing)? Is everything simply grinding to a halt (memory issues)?

[2018-01-25 19:50] Stebalien opened #4607 "The gateway handlers use the wrong context."
In `core/corehttp/gateway_handler.go`.

They should be using the context from the request, they're using the context from the node.

[2018-01-25 19:52] AlbertoElias commented on #4606
Sorry, bad explanation, let me rephrase and also edit the above message. So there are 3 errors I see occurring:

- Running `ipfs daemon` in Windows 10, from the Bash subsystem. Sudden unexpected BSOD, sometimes when it seems to get stuck adding files, other times when a separate node seems to get stuck fetching files that I have pinned.
- Running `ipfs daemon` in Windows 10, from the Bash subsyste

[2018-01-25 19:56] Stebalien opened #4608 "Optimize DAGService's RemoveMany"
It should end up doing a batch ds remove.

[2018-01-25 20:10] Stebalien opened #4609 "The DAG Editor should use batching operations"
When finalizing the edited DAG, it should batch the Add operations as much as possible.

[2018-01-25 21:15] magik6k commented on #4606
The fun thing is that I'm getting BSODs with windows version of gx with error codes saying that the kernel has ran out of heap space (AMD cpu).

@AlbertoElias Can you share more details? What error code(s) are you getting?

[2018-01-26 02:18] Stebalien opened #4611 "dht get should return a non-zero exit status on failure"
Currently, it doesn't.

[2018-01-26 03:45] nanw1103 opened #4612 "Unexpected network overhead: 1800%"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type:
Enhancement

#### Severity:
Medium

#### Description:

My experiment scenario:
Setup 1: A private swarm with 30 IPFS nodes (bootstrap contains only the nodes in the network itself), in an isolated private network (LAN).
Setup 2: File A, size 10 MB, full random conten

[2018-01-26 03:48] nanw1103 commented on #4612
Further investigation to know whether it's an issue with the "ipfs stats bw" or the swap implementation: checked OS network card statistics. It matches (approximately) the report from "ipfs stats bw". So it seems some optimization possibilities in the block swap implementation.

[2018-01-26 05:18] Stebalien commented on #4612
Thanks for the detailed report!

Unfortunately, this is a known issue. You're probably seeing thisbecause some peers are downloading faster than others. When the lagging peers ask the network for the pieces of the file, they'll get it from *everyone* (not good). We're working on fixing this by using something we call bitswap sessions, see: https://github.com/ipfs/go-ipfs/issues/3786

You can actua

[2018-01-26 05:19] Stebalien commented on #4611
Also, dht put.

[2018-01-26 08:49] Stebalien opened #4613 "Remove DHT signatures"
Instead, records should (and do) provide their own signatures. We should simply validate them from the DHT record validator function.

Supersedes #4597.

[2018-01-26 09:42] Stebalien opened #4614 "Add MFS sync command"
Basically, an rsync like command that takes a local directory and a directory in MFS and syncs them. To start with, we'd probably only sync from the local disk to the MFS directory.

This should be *much* faster if we can provide options to, e.g., assume that the local files haven't been modified.

[2018-01-26 09:43] Stebalien commented on #4614
Came up in https://discuss.ipfs.io/t/ubuntu-archive-on-top-of-ipfs/1579/31

[2018-01-26 16:20] elopio commented on #4614
This sounds ideal, thanks!

@Stebalien how busy are you? I ask because @rngkll and I would like to help. But, we would need a nice mentor with patience, while we get to know the code. Maybe you can throw at us a few minor tasks to help us getting started?

Or well, at the very least, we will help testing it thoroughly :)

[2018-01-26 20:35] Stebalien commented on #4614
I'd love to! I always have time for new contributors (well, I make time). However, you may need to bug me insistently and repeatedly if (well, when) I don't respond immediately.

The first step on *this* issue would be to design the new command and specify exactly what it will do (and then wait for everyone to disagree and finally, maybe, come to an agreement).

The files (MFS) commands all live i

[2018-01-26 22:44] Stebalien commented on #4605
Actually, I believe we just need to rebuild the docs. I believe those are generated from the help text. @lgierth do you have any idea how to do that?

[2018-01-26 22:55] Stebalien commented on #4602
I think the real issue here is that we're handling the special `/ipfs` namespace at the commands level. Ideally, MFS would have a some form of mount adapter allowing one to mount different filesystems within MFS and we'd use this system to "mount" `/ipfs`.

---

In this specific case, it should probably return an error saying that /ipfs is read-only.

While nice, that would be misleading as `/ipfs

[2018-01-26 23:02] Stebalien commented on #4604
That really shouldn't be printed as an error. PR here: https://github.com/libp2p/go-floodsub/pull/62

[2018-01-26 23:21] Xendipity opened #4615 ""ipfs files" commands are escaping windows path slashes"
#### Version information:
[code]

#### Type: bug

#### Severity: High?

#### Description:

While using the go-ipfs cli on a windows git-bash terminal, I'm running into an issue where the `ipfs files` commands are escaping forward slashes: `/`:

Fails:
[code]

Works:
[code]

I have this general problem with all `ipfs files` commands. Looked around through some issues and this one could be related t

[2018-01-27 10:26] openthings opened #4616 "Build in Docker failed, with Docker for Mac: 18.02.0-ce-rc1-mac50 (22256)"
#### Version information:
Source code, Branch Master, 2018-01-27.
On MacOS High Sierra 10.13.3 (17D47) ,
with Docker for Mac: 18.02.0-ce-rc1-mac50 (22256)
Linux Kernel 4.9.75

#### Type:
    Bug, Build in Docker.

#### Severity:
    High

#### Description:
run  ```docker build -t go-ipfs:20180127 .```  to build in docker, but failed.

Got Information as：

[code]

[2018-01-27 12:23] VictorBjelkholm opened #4617 "Gateway believe directory called `protocol.ai` is a file rather than directory"
#### Version information:

[code]

#### Type:
Bug

#### Severity:
Low
#### Description:

When adding a directory that has a link `protocol.ai`, the gateway shows this directory as a Adobe Illustrator file (I think) rather than a directory.

Steps to reproduce:

[code]

Looking at the gateway on the test directory (https://ipfs.io/ipfs/QmQ9C4WiXrPE2NUW8GM3GwXdZudvxzJynMM7XwzBxi3CeX) you'll see the

[2018-01-27 12:32] VictorBjelkholm commented on #4617
Updated title to be more clear as it still works as a directory, but just the icon is wrong.

[2018-01-27 13:03] openthings commented on #4616
Add to Dockerfile:
[code]
build success.
Maybe caused by linux-kernel version difference,some tools need rebuild.

[2018-01-27 13:03] #4616 closed

[2018-01-27 13:05] djdv commented on #4617
https://github.com/ipfs/go-ipfs/pull/4545 https://github.com/ipfs/go-ipfs/issues/4543 probably relevant

[2018-01-28 06:31] Stebalien commented on #3643
This feature was, unfortunately, blocked on one PR that was blocked on another (large) PR. Path forward:

* Fix: https://github.com/ipfs/go-ipfs-cmdkit/issues/5
* Revive: https://github.com/ipfs/go-ipfs/pull/4013

Unfortunately, I'm not sure anyone will have time to work on this at the moment unless @crackcomm has some free time and feels like reviving their PRs.

[2018-01-28 06:38] Stebalien commented on #4602
Note: to avoid any confusion, the error here is that `ipfs files mv` doesn't know *anything* about `/ipfs` so the file literally doesn't exist from its perspective.

[2018-01-28 06:38] Stebalien commented on #4615
This is actually an issue with git-bash and I'm not sure there's much we can do about it. Unfortunately, git-bash recognizes that `ipfs` is a *windows* command, sees that `/breakfast` is a path, and then rewrites it as a windows path (probably as something like `C:\path\to\git\bash\root\breakfast`).

[Apparently](https://stackoverflow.com/questions/7250130/how-to-stop-mingw-and-msys-from-mangling-

[2018-01-28 06:38] #4615 closed

[2018-01-28 07:27] Stebalien commented on #4516
This is definitely #4512 (which should *finally* have a fix as soon as #4610 is merged).

@qezz your issue looks like #3933 but is unrelated to this issue. Could you go to that issue and follow the advice from https://github.com/ipfs/go-ipfs/issues/3933#issuecomment-340594290?

[2018-01-28 07:27] #4516 closed

[2018-01-28 07:39] Stebalien commented on #3532
At the moment, the largest issue is the peerstore. We had a rather nasty bug that will be fixed in the next release (we, uh, kind of didn't forget any address of any peer to which we had ever connected and, worse, advertised these (sometimes ephemeral) addresses to the network..).

[2018-01-28 07:43] Stebalien commented on #4531
@leerspace good point.

[2018-01-28 07:43] #4531 closed

[2018-01-28 08:01] Stebalien commented on #4585
Could you post the actual headers your program is sending/receiving? You can use something like wireshark to sniff the connection itself. It sounds like your program may be sending an `Origin` header or a weird `Referer` header.

[2018-01-28 08:32] rnkn commented on #4582
Migrated to https://github.com/ipfs-shipyard/ipfs-webui/issues/623

[2018-01-28 08:32] #4582 closed

[2018-01-28 10:26] nanw1103 commented on #4612
Close as Stebalien's comment.

[2018-01-28 10:26] #4612 closed

[2018-01-28 10:29] VictorBjelkholm commented on #3532
@Stebalien

Does that mean that the fix is already in `master` or is work in progress?

[2018-01-28 17:04] Stebalien commented on #3532
Fixed in a dep. PR pending: #4610

On January 28, 2018 2:29:49 AM PST, "ᴠɪᴄᴛᴏʀ ʙᴊᴇʟᴋʜᴏʟᴍ" <notifications@github.com> wrote:

[2018-01-28 20:01] gdeverlant commented on #4585
The problem is not my program... I'm able to use the same kind of request with Perkeep an its HTTP api which is also written in  Go and it has no problem!

[2018-01-28 20:01] gdeverlant commented on #4585
As I said the request are working once ipfs config --json API.HTTPHeaders.Access-Control-Allow-Origin '["*"]'.

[2018-01-28 21:12] gdeverlant commented on #4585
Here is the traffic with wireshark :

[traffic.zip](https://github.com/ipfs/go-ipfs/files/1671618/traffic.zip)

[2018-01-28 22:30] Stebalien commented on #4585
We check some headers on *our* side for security reasons. However, this should only certain requests made by browsers (e.g., those made with javascript), random HTTP clients usually don't set these headers.

Unfortunately, that packet dump doesn't include the actual API request (no HTTP traffic).

That's probably because your program is, internally, specifying some `Referer` or `Origin` header. Th

[2018-01-28 23:37] Stebalien commented on #4600
It should be `_ipfs-discovery._udp`. Just to make sure, `ipfs config 'Discovery.MDNS.Enabled'` returns true?

[2018-01-28 23:40] Stebalien commented on #4524
@magik6k this has now been fixed in badger. Mind updating `go-ds-badger`?

[2018-01-29 00:45] gdeverlant commented on #4585
Let's then make a live session because I don't know what you want to do and I'm no pro of wireshark

[2018-01-29 01:12] Stebalien commented on #4585
I just wanted to see the headers and wireshark is the only language/ide-independent cross-platform hammer I know :).

[2018-01-29 01:30] gdeverlant commented on #4585
I'm on the irc channel waiting for you to answer so that we can look into it :D

[2018-01-29 05:31] richardschneider commented on #4600
- I'm on AMD, so 0.4.13 works.  It's only win32 (x86) that it fails on
- Yes, it enabled

[2018-01-29 11:39] navinamin opened #4618 "Cannot mount ipfs Error: cannot locate OSXFUSE"
#### Output From
`ipfs mount`

#### Version information:
OS X EI Capitan
10.11.3 (15D21)
Protocol Version ipfs/0.1.0

#### Type:
go/src/github.com/jbenet/go-fuse-version/version_darwin.go:6:11: fatal error: 'fuse/fuse.h' file not found
 #include <fuse/fuse.h>
          ^
1 error generated.
 Error: cannot locate OSXFUSE
#### Severity:

#### Description:

Cannot mount ipfs

[2018-01-29 12:13] magik6k commented on #4524
So you can now close issues cross-repo, fun.. Keeping this open until it's in merged to master.

@Stebalien mind including this in https://github.com/ipfs/go-ipfs/pull/4610?

[2018-01-29 14:49] VictorBjelkholm commented on #4618
@navinamin take a look at the instructions over at https://github.com/ipfs/go-ipfs/blob/master/docs/fuse.md#mac-osx----osxfuse and see if that fixes the issue.

[2018-01-29 17:14] gdeverlant commented on #4585
We found the solution for this problem and it was the referrer Header from my app which was sending something like "app://Nameoftheapp.swf".

Requests coming from Flash or Adobe AIR the solution is to inject the Referrer on the HTTPRequest object header like the following:

[code]

[2018-01-29 17:31] elaineyumusic opened #4619 "After installing, I can't untar the tar file"
#### Version information: Latest one

#### Type: I tried to untar gx but it doesn't work.

#### Severity: High

#### Description: I installed the pre-built package for Mac OS X at: https://ipfs.io/docs/install/  When I go to Terminal and I go to the Downloads folder (cd Downloads). I try to untar gx but it doesn't work. This is what I typed: cd Downloads
tar xvfz go-ipfs.tar.gz

This is what pops

[2018-01-29 18:22] VictorBjelkholm opened #4620 "`ipfs stats bw` contains extra row with unused headers"
#### Version information:

[code]

#### Type:

Bug

#### Severity:

Low

#### Description:

When running `ipfs stats bw`, the first row contains some type of headers who I guess I meant is to show some values as well, but no values are to be seen.

This is the output:

[code]

First, the labels are not consistent with the labels below, and they also don't show any information.

[2018-01-29 19:09] kevina commented on #4620
I think #3856 was the culprit.  The header line is meant for the `--poll` output which also seams to be broken.  Still looking into this.

[2018-01-29 19:20] kevina commented on #4620
P.R. #3856 is the culprit.  The header line is meant for the `--poll` option, which before that commit was only outputted when that option was used.  More to the point, this is the normal output:
[code]
and this is the output with `--poll`:
[code]
Note that the commit also changed the behavior of `--poll` a bit.  Before the stats line was updated in place, now interval creates a new line.  I am no

[2018-01-29 19:58] jbshirk opened #4621 "panic: sync: inconsistent mutex state goroutine 215 (OSX)"
#### Version information:
[code]

#### Type:
Bug

#### Severity:
High - daemon Panic
#### Description:
[code]

[2018-01-29 20:07] kevina commented on #4619
The instruction are misleading a bit the file is named `go-ipfs_v0.4.13_darwin-amd64.tar.gz` assuming you are using the 64 bit version of OS X.

[2018-01-29 20:13] Stebalien commented on #4621
Please update go-ipfs, there's a good chance this bug has been fixed and things have changed significantly since September 2016. If not, we're replacing the `go-metrics` package anyways (#4610) although that may not be to blame (some other package could be corrupting memory).

[2018-01-29 20:13] #4621 closed

[2018-01-29 20:40] Stebalien commented on #4585
@gdeverlant thanks! I've updated the title and added a link to your comment so people will find this when searching.

[2018-01-29 20:40] #4585 closed

[2018-01-29 20:58] Stebalien commented on #4524
@magik6k done.

[2018-01-29 21:30] elaineyumusic commented on #4619
Thanks! What do I do next?

Downloads elaineyu$ tar go-ipfs_v0.4.13_darwin-amid64.tar.gz
Usage:
  List:    tar -tf <archive-filename>
  Extract: tar -xf <archive-filename>
  Create:  tar -cf <archive-filename> [filenames...]
  Help:    tar --help

I'm not a computer programmer so I'm not sure.

[2018-01-29 21:37] jbshirk commented on #4621
updated Go, but same thing happens. Should I uninstall and reinstall IPFS?

[2018-01-29 21:46] jbshirk commented on #4621
[code]

[2018-01-29 21:50] kevina commented on #4619
[code]
This is not really the place to get support, https://discuss.ipfs.io would be better.

[2018-01-29 21:59] jbshirk opened #4622 "We cannot install ipfs in one of the directories /usr/local/bin /usr/bin"
[code]
#4621

[2018-01-29 22:09] jbshirk commented on #4622
was caused by mv. Running the second time, ipfs wasn't there in the unzip file anymore.

[2018-01-29 22:18] jbshirk commented on #4621
updated go, reinstalled ipfs. ipfs is not finding new version of go.
[code]
[code]

[2018-01-29 22:40] jbshirk commented on #4621
all this old stuff in my home is being found by $path:
[code]

[2018-01-29 23:04] Stebalien opened #4623 "Consider ignoring errors from the exchange in the blockservice"
Currently, the blockservice can succeed in adding a block and then fail because it fails somewhere when telling the exchange we have the block.

We should probably just log and ignore (and, maybe, change the `HasBlock` signature on the exchange to not return an error).

[2018-01-29 23:11] Stebalien commented on #4621
I'd remove `$(which ipfs)` and try installing again.

[2018-01-29 23:14] Stebalien commented on #4619
I believe osx can also extract it for you if you use finder.

[2018-01-29 23:14] #4619 closed

[2018-01-29 23:56] Stebalien commented on #3970
That's a bug in the test. Add now pauses for GC occasionally if it's waiting to run. The fact that we weren't *reliably* failing this test indicates that the test never really worked correctly.

I believe the correct fix is to simply remove the "gc started" check.

[2018-01-30 00:43] Stebalien opened #4625 "If we GC while adding, the temporary root will never be unpinned."
We *should* pin, unlock, gc, lock, and unpin immediately. This is a bug in `maybePauseForGC` in coreunix/add.go.

[2018-01-30 07:27] jbshirk commented on #4621
[code]

[2018-01-30 07:45] jbshirk commented on #4621
it was also necessary to remove all old ipfs installations in the ~/.bash_profile : ~/go/ (namely, ~/go/bin/ipfs/

[2018-01-30 10:30] lgierth commented on #4625
@Stebalien mind adding labels to all these new issues? They're great, it'll just make them more discoverable.

[2018-01-30 13:06] VictorBjelkholm commented on #4625
Speaking about triaging, @forstmeier have reached out and offered us to try out a automatic labeling feature for Github Issues. Might be useful for us. The website for the service is here: https://heupr.io/

Maybe we could try it out with ipfs/go-ipfs and if everything works fine, use it for other repos as well.

@forstmeier how does heupr work with lots of repositories? Will the trained models be

[2018-01-30 15:27] dedgar1 commented on #1120
I had the same error because I was using an older version of IPFS.
I downloaded the most recent version deleted the `~/.ipfs` folder, and started the daemon without any issues.

[2018-01-30 19:12] #4524 closed

[2018-01-30 19:15] Stebalien commented on #4009
@kevina's version has now been implemented. The next step is to decide if we do, in fact want the context hint.

[2018-01-30 19:16] Stebalien commented on #4512
Fixed.

[2018-01-30 19:16] #4512 closed

[2018-01-30 19:18] #4476 closed

[2018-01-30 19:23] Stebalien commented on #4409
So, we've replaced the metrics library. The only thing left is to wait for go 1.10.

[2018-01-30 19:45] dirkmc commented on #4613
@Stebalien you want me to take a stab at implementing this?

[2018-01-30 22:53] dirkmc commented on #4613
I guess if the DHT record validator checks the signature then the resolver doesn't need to fetch the public key at all when calling `GetValue` right?

Currently the DHT
- [Goes online if necessary](https://github.com/libp2p/go-libp2p-kad-dht/blob/3fc048d420079423db2551b21827112a66679372/dht.go#L175) to get the public key on GET
- [Does not go online](https://github.com/libp2p/go-libp2p-kad-dht/blo

[2018-01-30 23:02] Stebalien commented on #4613
The opposite. We *don't* want the validator fetching anything. The resolver needs to first fetch the key, put it in the peerstore, and then resolve the IPNS record. The validator can use the peerstore which won't go to the network to fetch it.

On Put, we'd have the same behavior as we currently have (as the resolver won't go online).

---

Eventually, we could add some form of offline/online hint

[2018-01-30 23:11] dirkmc commented on #4613
Ah I see what you're saying, ok makes sense

[2018-01-30 23:18] richardschneider commented on #4600
So it looks like it is broken.  See also https://github.com/libp2p/js-libp2p-mdns/issues/67

[2018-01-31 03:51] dirkmc commented on #4613
@Stebalien here's a first pass at the go-ipfs part:
https://github.com/ipfs/go-ipfs/pull/4628
@vyzo @whyrusleeping you might want to check this out also

[2018-01-31 05:29] kevina commented on #4009
Actually my fix was not implemented.  What was implemented was basically how things where before I created the LinkService.  I did not create the LinkService as a means of catching or an optimization but rather as a means for being able to perform garbage collection when some of the leaf nodes are not available.

More to the point, in the filestore data for leaves may become inaccessible at any ti

[2018-01-31 06:39] Stebalien commented on #4009
@kevina sorry, I misread your post above as the fix (well, a fix).

Got it. I was informed it was an for future optimizations.

There was already going to be a problem as I just pulled this code out of the current `dagService`'s implementation of `GetOfflineLinkService`. Regardless, I *still* prefer this hack over the hack in that PR. They're both hacks to get this moving forward but at least *thi

[2018-01-31 07:03] kevina commented on #4009
This is off topic so I don't want to spent too much time on it but consider that a leaf that is not raw contains more than just data from the backing file as it is protocol buffer.  Or put in simplified terms (and not 100%) accurate non-raw leafs contain a header to indicate what they are then the data itself.  The header is stored in the database as well as how to retrieve the data component from

[2018-01-31 09:42] VictorBjelkholm opened #4630 "Cancelling commands prints ugly errors on both daemon and cli"
#### Version information:

[code]

#### Type:

Bug

#### Description:

Bunch of commands are now printing bunch of ugly errors compared to before when it just stopped running the command, when sending SIGINT to the cli while it's waiting for a response. A sample of commands that prints ugly errors:

[code]

[code]

Sending SIGINT to a running `ipfs log tail` prints the following **on the daemon**

[2018-01-31 11:04] Kubuxu commented on #4409
It seems that number of select and read calls is close to the same which would hint that it is normal behaviour of fd event loop. Nothing we can do there apart from reducing number of peers/DHT queries we get.

[2018-01-31 11:10] hmage commented on #4409
@Kubuxu yeah, last profile is much better than in the first post.

[2018-01-31 11:20] Kubuxu commented on #4485
From what I can recall it is structured differently from our current FUSE library. It might make sense to extract FUSE support out of go-ipfs if we decide to change the lib (we wanted to do that for a long time).

[2018-01-31 11:26] Kubuxu commented on #4371
That is why in my writeup I only mentioned increasing number of security bits. Decreasing bellow some set minimum (or default) would not be possible.

[2018-01-31 11:39] Kubuxu commented on #4625
@Stebalien Just checked it, it doesn't require access to code:
![83b](https://user-images.githubusercontent.com/2259282/35621192-c8d19598-0683-11e8-8218-9e05bf3bad28.png)

@VictorBjelkholm do we have  an issue somewhere about this, if not could you open one?

[2018-01-31 13:12] nicolas-f commented on #3429
@voidzero You can use trickle to limit bandwidth.

I'm using this command to limit to 50 kb/s upload in my crontab:

[code]

[2018-01-31 16:34] erkinalp opened #4633 "ipfs update install with no versions should install the latest version"
#### Version information: 0.4.12

#### Type: Feature Request

#### Severity: Enhancement

#### Description: Currently ipfs update install requires a version to be specified.
ipfs update install with no versions should install the latest version instead as this is the most common use case.

[2018-01-31 18:49] jrgleason commented on #1284
@whyrusleeping any chance you can clarify a bit? Do I have to copy the git repository into $GOPATH/src/github.com?

[2018-01-31 18:54] whyrusleeping commented on #1284
@jrgleason yes, you need to build ipfs in its correct place within your GOPATH. if you run `make build` it should explain more, also see: https://github.com/ipfs/go-ipfs#build-from-source

[2018-01-31 18:56] jrgleason commented on #1284
Yeah sorry this helped... https://github.com/ipfs/go-ipfs/issues/1863 I just did `cp -r go-ipfs $GOPATH/src/github.com/ipfs` then `make install_unsupported` and it seemed to work. Thanks!

[2018-01-31 21:10] dirkmc commented on #4613
@Stebalien PR to remove Author and Signature from go-libp2p-record: https://github.com/libp2p/go-libp2p-record/pull/15
Is this what you had in mind?

[2018-01-31 22:47] Stebalien commented on #4625
Ah. So github allows one to give bots fine-grained access but not users? ...

[2018-01-31 23:17] lbelyaev opened #4635 "Integers in DAGs are serialized as doubles (in CLI)"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type:
Bug?

#### Severity:
Medium
#### Description:
Hi,
Looks like ipfs CLI (ipfs dag put <object>) serializes integers in DAGs as double-precision floats, is this a bug or intentional decision?

example:
`echo '{"var":1}' | ipfs dag put`
`zdpuAxQm7QaVc9ufEyKcqNX35WLw7LwdtYk

[2018-01-31 23:35] Stebalien commented on #4009
I see. That's really cool!

[2018-02-01 00:46] richardschneider commented on #4078
I'm get an ECONNRESET when calling `/api/v0/shutdown` the HTTP route.  It should return 200, then do the shutdown logic.

[2018-02-01 01:10] Stebalien commented on #4635
See: https://github.com/ipld/interface-ipld-format/issues/9. There are a lot of decisions we need to make concerning primitive types in IPLD.

[2018-02-01 02:32] lbelyaev commented on #4635
@Stebalien thanks for the reference, I probably missed the earlier thread. Looking at https://github.com/ipld/interface-ipld-format/issues/9 , i tend to agree with @kevina 's proposal, but I might not be aware of all the moving parts

[2018-02-01 02:32] #4635 closed

[2018-02-01 08:40] vyzo commented on #4613
Is there anything else that relies in DHT record signatures?

[2018-02-01 08:44] VictorBjelkholm commented on #4625
@Kubuxu sorry for the unrelated comments, we can continue the discussion in https://discuss.ipfs.io/t/ipfs-issue-triage/1548

[2018-02-01 10:03] Stebalien commented on #4613
@vyzo not that I know of.

We should have @diasdavid chime in here, however, I'm pretty sure JS doesn't actually require this field either. @diasdavid, is JS like go in this? Will it only check this signature if present (so if we remove it, we won't have any issues)? My cursory look through the JS DHT code indicated that this was the case.

[2018-02-01 18:54] Sh4d1 opened #4639 "Curl error when requesting API"
#### Version information:

[code]
#### Type:

Bug
#### Description:

Hey!

I have an issue, I'm not sure it is directly related to go-ipfs though. Anyway, I'm running the Docker image on `ipfs.ptrk.io`. When I do `curl http://ipfs.ptrk.io:5001/api/v0/version` it is all good. However when I run `curl https://ipfs.ptrk.io/api/v0/version` I get the wanted output but curl is still waiting (ie, I don't

[2018-02-01 20:13] dirkmc commented on #4613
Here's the go-libp2p-kad-dht PR: https://github.com/libp2p/go-libp2p-kad-dht/pull/114

[2018-02-01 23:18] AlbertoElias commented on #4606
This is the BSOD I get. This happened again after closing the daemon.

![img_20180201_222700](https://user-images.githubusercontent.com/913117/35708444-7f951f7c-07ae-11e8-95bc-ccd14ccac691.jpg)

[2018-02-02 02:09] djdv commented on #4617
I don't know if this should be a separate issue but I noticed the gateway doesn't seem to like uppercase extensions either.
![icons case](https://user-images.githubusercontent.com/13862850/35713209-125c03cc-0794-11e8-8191-703cd103eeed.png)

[2018-02-02 02:34] ckmakcesar commented on #2553
encountering the similar problems building a private network using .ipfs/swarm.key

tried with the same swarm config; but not even seeing IPv6 UTP:
[code]

also tried with the following, without TCP; not sure if it is due to my network settings:

Config:
"Swarm": [
"/ip4/0.0.0.0/udp/4001/utp",
"/ip6/::/udp/4001/utp"
]

[code]

[2018-02-02 07:56] lgierth commented on #2553
We don't currently support /utp anymore, you'll have to remove it from your config.

[2018-02-02 20:32] kevina opened #4642 "Please don't run os builds as a part of the test_go_short"
Commit f3ad2c95bdcac987bfe2485fde72d63a2f0f4104 as part of pr #4464 now builds for all platforms as part of `test_go_short`.  This takes a fair amount of time.  The idea of `test_go_short` was to be quick.  I use it as a quick sanity check before I push a commit.  I let the build severs do the more expensive tests.

[2018-02-02 20:39] kevina commented on #4642
More to the point I use it to make sure the tests compile after doing any sort of refactoring as "go build" does not compile the tests.  If there was a way to just compile all the tests I would be happy with that but I am not sure how to do that.

[2018-02-03 00:53] jessepeterson opened #4644 "Re-establish connections on primary interface"
#### Version information:

go-ipfs version: 0.4.14-dev-2140aa957
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2

#### Type:

Enhancement

#### Description:

Machines that are connected through Wi-Fi don't reconnect over e.g. Ethernet when that connection type is present. The ipfs daemon will re-connect if it looses connection, but does not opportunistically use a better local

[2018-02-03 00:58] jessepeterson commented on #4581
I'm confused about what you're asking. You're saying you have a resource in a private swarm that is accessible from the public IPFS network? Or are you saying you want to setup/maintain an "ipfs.io"-like gateway for your private swarm? The former should not be possible. The latter is probably possible.

[2018-02-03 11:34] Stebalien commented on #4581
`ipfs.io` is what we call a "gateway". If you're running an IPFS node on your local machine, you'll actually have your own gateway at `http://localhost:8080`. So, to access your private content, go to, e.g., `http://localhost:8080/ipfs/QmZhNfGkkqgzmCbW4gZe5JUA4mRWzWGQPmejcBeiCcG6i2`.

You will not be able to access it through the public gateway (unless someone else has added the content to the ipf

[2018-02-03 11:34] #4581 closed

[2018-02-03 12:08] Stebalien commented on #4644
This falls under the general category of connection migration. We have a similar issue in browsers/low power devices where we'd like to use a single relay for most connections and migrate to dedicated connections when necessary (faster but more resource intensive).

Unfortunately, this is really tricky (migrating a connection involves figuring out where to stop using one connection and resume the

[2018-02-03 12:25] Stebalien commented on #4642
That's because, apparently, `test_go_short` works by running `test_go_expensive` with `-test.short`.

[2018-02-03 23:24] #4642 closed

[2018-02-03 23:57] whyrusleeping commented on #4639
interesting... this feels like a bug.

[2018-02-04 00:42] kevina opened #4647 "Better document targets in make output"
From my comments on https://github.com/ipfs/go-ipfs/pull/4645:

Just a suggestion, only creating this issue to make sure my comment was not lost in the noise as that p.r was merged without my comment being acknowledged.

[2018-02-04 04:10] lgierth opened #4650 "Recursive pinning can lose existing direct pin"
#### Version information: 0.4.14-dev

#### Type: bug

#### Description:

This bit looks like it'll lose the existing direct pin if the attempt to add the recursive pin fails. The direct pin will have been removed, and the expected recursive pin won't have succeeded: https://github.com/ipfs/go-ipfs/blob/864c960aa641bff2820b59b5eeb9d93be5d0998d/pin/pin.go#L213-L228

`directPin.Remove()` should proba

[2018-02-04 04:11] lgierth commented on #4650
And we probably want to guard against blocks being removed between `FetchGraph()` and `recursePin.Add()`, however unlikely it is to occur.

[2018-02-04 10:53] djdv opened #4652 "[add] Only-hash gives wrong result with wrap-with-directory"
#### Version information:
go-ipfs version: 0.4.14-dev-bd32e73db
Repo version: 6
System version: amd64/windows
Golang version: go1.10rc1

#### Type:
Bug

#### Description:
Similar to https://github.com/ipfs/go-ipfs/issues/4065 except with wrap
`add -n -w` isn't consistent with the real outcome of `add -w` in some cases, here's the ones I noticed.
[code]

[2018-02-04 14:12] Stebalien commented on #4647
`test_go_test` is an internal target and probably shouldn't be called directly. However, yes, these targets should all be documented.

[2018-02-04 20:35] mitar commented on #4435
I think this is duplicate of #1467?

[2018-02-04 20:36] mitar commented on #4084
Hm, should `get` have a `--pin` flag (maybe even on by default) so that it prevent garbage collection?

[2018-02-04 20:54] mitar opened #4654 "User experience: ipfs get should spawn a daemon if it does not yet exist"
#### Version information:

0.4.13-cc01b7f

#### Type:

User experience enhancement.

#### Description:

I am trying to use IPFS to share large datasets with some of my fellow researchers. While they might be used to command line, they are not familiar with IPFS. So my hope was that I could tell them that to download a dataset, they can do only:

[code]

Sadly, it is not so easy. `init` is missing.

[2018-02-04 20:58] mitar opened #4655 "ipfs get should restore the state to referenced hash and not redo everything"
#### Version information:

0.4.13-cc01b7f

#### Type:

Enhancement.

#### Description:

I think it would be great if `ipfs get` would work more like `git checkout`. So if any file got modified or deleted, it would revert those back.

Currently, if I run the same `ipfs get <hash>` command twice in a row, it looks like the whole process is just restarted. I have a huge dataset and this takes quite s

[2018-02-04 21:09] mitar opened #4656 "Add "ipfs diff" command"
#### Version information:

0.4.13-cc01b7f

#### Type:

Feature request.

#### Description:

I tried to use git LFS to distribute a large dataset, but it didn't work well. GitHub has limit on 2 GB per file. And cloning is really slow, without any deduplication of files as well. (My dataset has a lot of duplication because it has multiple versions of data: for machine learning training, testing, and

[2018-02-04 21:29] lgierth opened #4657 "Goroutine leak and wantlist build-up on master"
#### Version information: 0.4.14-dev-52301ce8

#### Type: bug

#### Description:

Right after applying 52301ce8 (latest master) to the ipfs.io gateways, there's a severe leak of `briantigerchow/pubsub.(*PubSub).start` goroutines, and wantlist entries start piling up. Within 18 minutes on scrappy, there were 78k goroutines and 1.9k wantlist entries. (It was still able to fetch a simple `date | ipfs

[2018-02-05 00:09] kevina commented on #4647
It would be nice to have a documented target that runs all the go tests without anything else just to keep things uniform.

[2018-02-05 07:06] EternityForest commented on #1482
Does the DHT actually need to maintain large numbers of connections to work? It seems like you need to know the locations of a good number of DHT peers, but why actually connect to them?

Can't we just keep a list of a few thousand peers, and figure out if they're still up if/when they're needed?

Connectionless DHT queries should only take 1 UDP round trip per hop if you don't use a handshake or

[2018-02-05 16:32] Stebalien commented on #4657
Trivial reproduction: cat a file on the local gateway (sessions still aren't used for the `cat` command because that doesn't use the same cat function...).

[2018-02-05 16:35] Stebalien commented on #4657
Ok. *Now* bitswap hangs trying to unsubscribe...

[2018-02-05 20:07] whyrusleeping opened #4660 "allow blockservice to lazily create sessions"
If we have all the data for a given request locally, and we use a command that uses a bitswap session, we will create the whole session (caches, buffers, goroutines and all) for nothing. We should make the blockservice session code only spin up the bitswap session when a disk get fails (and we would fall back to the session).

[2018-02-06 02:16] leerspace commented on #4656
FYI that you can currently compare two different hashes in IPFS using [`ipfs object diff`](https://ipfs.io/docs/commands/#ipfs-object-diff). However, it sounds like you're looking for a command that will diff a local directory that isn't in IPFS with one that is.

[2018-02-06 02:31] mitar commented on #4656
Yes. Local directory which was obtained by running `ipfs get` with what is in ipfs.

[2018-02-06 12:25] targodan commented on #4343
I ran into the same issue a few days ago. Luckily my provider unlocked the server after I shutdown the ipfs service.

IMO at least a note on this should be somewhere prominent on the ipfs website. Somewhere like [here](https://ipfs.io/docs/getting-started/). It my fault for not researching properly, but I think quite a few people that like the idea of ipfs might do the same thing as I did. I. e. j

[2018-02-06 17:39] whyrusleeping commented on #4343
Yeah, definitely makes sense to put it on the getting started guide.

"If you're running ipfs in a hosted environment, use `ipfs init --profile=server`" or something.

[2018-02-06 20:47] Stebalien opened #4666 "Think through the CoreAPI Path API and implementation."
* The resolver seems to assume that paths *always* resolve to CIDs (can't end up in the middle of an object).
* We should provide a function for retrieving the namespace.
* It should be possible to distinguish between mutable and immutable paths.
* `coreapi.ParsePath` doesn't actually extract the root.

[2018-02-06 20:55] Stebalien commented on #4666
Note: this also looks like a nice place to plugin a real namespaced resolver system (yay).

[2018-02-06 22:48] ivan386 opened #4667 "Error: archive/tar: write too long"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Bug

#### Description:
File: /ipfs/QmWfLgAopxBBpnPsMeQWQhcVfHHEo7natWgtcX5yzw7My3

When get this file from browser:
`http://127.0.0.1/ipfs/QmWfLgAopxBBpnPsMeQWQhcVfHHEo7natWgtcX5yzw7My3 200 Ok`

Result is valid tar archive: [test tar.tar.gz](https://github.com/ipfs/g

[2018-02-07 00:27] Stebalien commented on #4656
Unfortunately, `ipfs diff /ipfs/something /local/files` won't be *that* much faster than simply re-importing the dataset and then doing an object diff (unless there are a *lot* of changes in which case there'll be the overhead of writing the new data to disk). So, right now the workflow would be:

[code]

(if you start running low on space, just run ipfs gc to remove everything that isn't pinned).

[2018-02-07 01:37] b5 opened #4668 "🙌 golint!"
Just want to say a **big** thank you to @hsanjuan & co for the linting work I'm seeing around the go repos. These comments help keeping up with changes much easier.

Side note, I know it's totally premature and may not be desired, but adding this to circleci where applicable has helped us a bunch:
[code]

that is all, feel free to close this at will.

[2018-02-07 02:27] whyrusleeping commented on #4668
Yeah, its pretty fantastic. As for CI, we have codeclimate which runs golint as well as several other tools, there are some aspects of golint we don't entirely agree with (name stuttering and not returning unexported types) so failing the build status on it is difficult.

[2018-02-07 02:28] whyrusleeping commented on #4667
The reason for the tar message is because we use the tar format to stream the files back to the client. Something in your setup is breaking that somehow...

[2018-02-07 02:32] Stebalien commented on #1482
Correct. Unfortunately, we don't *have* any working UDP based protocols at the moment anyways. However, we're working on supporting QUIC. While this wouldn't be a connection-less protocol, connections won't take up file descriptors and we can save memory/bandwidth by "suspending" unused connections (remember the connection's session information but otherwise go silent).

In the future, we'd *like*

[2018-02-07 05:14] kevina commented on #4667
I can reproduce this on my machine:
[code]

[2018-02-07 11:05] b5 commented on #4668
Totally agreed on both counts. Off to check out codeclimate...

[2018-02-07 11:05] #4668 closed

[2018-02-07 11:32] hsanjuan commented on #4668
Yeah codeclimate will allow you to mark certain things as `wontfix` or `invalid` adding a reason to do so which is pretty nice.

[2018-02-07 15:26] ivan386 commented on #4667
Problem in unixfs/io/pbdagreader.go.

CtxReadFull and WriteTo don't use filesize and blocksizes to limit data from blocks.

[2018-02-07 15:37] Stebalien opened #4670 "GC test failure"
This is looking like a bug somewhere in the cmds error handling code (possible data race). I'm pretty sure it shouldn't be spitting out `Error: encountered errors during gc run` multiple times.

[code]

[2018-02-07 17:09] Stebalien commented on #4667
@ivan386 Ah. You mean that `Size()` and the actual size differ?

[2018-02-07 17:21] Stebalien commented on #4666
Related to: https://github.com/ipld/specs/issues/3

[2018-02-07 17:27] Stebalien commented on #4647
@kevina fair enough. Done.

[2018-02-07 17:34] Stebalien commented on #4655
We don't go and re-download everything (unless we've run a GC) however, we *do* have to at least *validate* the state of the file on disk.

In fact, I'd expect trying to detect changes to be slower in most cases:

* Method 1: Rehash the files in the output directory to detect changes and only copy changed pieces from the datastore to the filesystem. I'd expect rehashing to be *slower* than simply

[2018-02-07 17:36] Stebalien commented on #4654
I agree. We've wanted this for a while, actually.

[2018-02-07 17:39] Stebalien commented on #4084
@mitar possibly although I wouldn't make it on by default as `get` is usually used when you want to move something from the network to your local disk (only incidentally caching it in ipfs). If you want something to *stay* in ipfs, I'd run `ipfs pin add ... && ipfs get ...`.

[2018-02-07 17:40] Stebalien commented on #4435
@mitar this issue exists to discuss specific designs (although it does *address* the needs of #1467).

[2018-02-07 19:22] Stebalien commented on #4606
So... I'm not sure if there's anything we can do here. This really looks like a Windows bug.

[2018-02-07 20:38] #4647 closed

[2018-02-07 20:55] kevina commented on #4667
I will look into this.

[2018-02-07 20:56] kevina commented on #4620
Okay, this should be an easy fix.  I will try to have a p.r. in in the next day or so.

[2018-02-08 01:14] magik6k commented on #4666
Somewhat related https://github.com/ipfs/go-ipfs/pull/4643#discussion_r165768700

I haven't touch paths in CoreAPI yet, I'll try to make a draft PR tomorrow, addressing these and some other points.

[2018-02-08 01:26] Stebalien commented on #4666
Awesome!

[2018-02-08 04:09] mitar commented on #4655
So here I assume things are still cached inside IPFS. So I only care about syncing the cache with the directory.

How does git do it?

[2018-02-08 10:28] ivan386 commented on #4667
@Stebalien Yes

https://github.com/ipfs/go-ipfs/blob/3106135dd5d081e1c0a49e22a435463f32412eb7/unixfs/io/pbdagreader.go#L169

https://github.com/ipfs/go-ipfs/blob/3106135dd5d081e1c0a49e22a435463f32412eb7/unixfs/io/pbdagreader.go#L171

https://github.com/ipfs/go-ipfs/blob/3106135dd5d081e1c0a49e22a435463f32412eb7/unixfs/io/pbdagreader.go#L204

https://github.com/ipfs/go-ipfs/blob/3106135dd5d081e1c0a4

[2018-02-08 11:51] identicalsnowflake opened #4671 "ipfs init does not respect IPFS_PATH"
On Linux, `ipfs init` always initializes ipfs in the home directory, rather than in the `IPFS_PATH` directory. I'm sure the `IPFS_PATH` variable is set because subsequently running `ipfs daemon` correctly says there is no initialized repository at the IPFS_PATH.

Manually copying `.ipfs` from my home directory and into the folder given in `IPFS_PATH` allows the daemon to run normally.

[2018-02-08 11:54] VictorBjelkholm commented on #4671
Seems to be working fine for here:

[code]

Can you share with us exactly what version of go-ipfs you are using and also how you set the environment variable?

[2018-02-08 12:44] identicalsnowflake commented on #4671
I tried both `IPFS_PATH=/var/ipfs sudo ipfs init` and just using `export IPFS_PATH=/var/ipfs` and neither worked for me. I don't think it's a problem with the variable being set, since subsequently running `sudo ipfs daemon` does correctly look in this directory (and works after I manually copy/paste).

I'm not at my computer now, so I'll confirm the exact version for you later, but I'm pretty sur

[2018-02-08 12:49] VictorBjelkholm commented on #4671
The problem seems related to your use of `sudo`. Check out the difference in these two commands (one is using `sudo`, the other one doesn't)

[code]

When using `sudo`, the environment variables does not pass on to the next command. You can pass `-E` to preserve the environment variables, but better is to not run ipfs as root. It's simply not needed and if you need some special permissions, you ca

[2018-02-08 13:06] identicalsnowflake commented on #4671
Ah, TIL. Well that makes sense then.

Sorry for bothering you!

[2018-02-08 13:06] #4671 closed

[2018-02-08 13:49] ivan386 commented on #4655
@Stebalien

1. Check of hash can be faster than get block from net (after gc collect or nocopy block lost). On slow HDD and fast processor can be faster then rewrite file (only reading).
2. On SSD reading faster then writing, and not destructive for SSD.

[2018-02-08 14:05] ivan386 commented on #4667
I think need to cut or extend (append zeros) data from `dr.buf` to `pd.pbdata.Blocksizes[i]` or `dr.pbdata.GetFilesize()`.

[2018-02-08 18:32] Stebalien commented on #4540
@diasdavid yes, just unixfs. I picked that algorithm so we can handle bad sizes on the fly without having to check anything up-front.

[2018-02-08 18:32] Stebalien commented on #4667
Looks related to https://github.com/ipfs/go-ipfs/issues/4540.

[2018-02-08 20:03] kevina commented on #4667
Additional data
[code]
`cmp` compares binary files and it is telling us that `cat` and `gateway` are the same for the size of the smaller file

[2018-02-08 20:31] Stebalien commented on #4666
Response to TODOs in #4672 but contains a lot if discussion on future work so I figured I'd put it here.

# Namespaces

Getting this right is really important. I can see a few solutions but we need to discuss this thoroughly.

## CID Namespace

That is, we could introduce a new `/cid/` namespace that defines *no* path resolution algorithm. `/cid/QmId` would be valid but `/cid/QmId/path` would not.

[2018-02-08 20:44] ivan386 commented on #4667
I rewrite ImportTar
https://github.com/ipfs/go-ipfs/blob/990e4df32e12586f24c187eea47d737dad35ce9d/tar/format.go#L39
and try to use block with 512 bytes length to fill paddings 476 and 512.
Tar with one file from gateway is valid. All paddings at the end. Gateway simple cut the tail. But `ipfs get` give error.
I test it on multifile tar and gateway return invalid file.

[2018-02-08 21:05] dirkmc commented on #2934
@Stebalien @whyrusleeping I'm interested in helping out on this, what's the current state of play?

[2018-02-08 21:26] whyrusleeping commented on #2934
@dirkmc DHT query perf (from the other issue) is the biggest one.

Some other things that would help though:

- Configurable (via command flag) number of records to gather before selecting a value
- Ability to 'trust' a node where peerID == IPNS (debateable)
- benchmarks and metrics (opentracing data for ipns resolves would be awesome)
- Experiment more with pubsub ipns and ipns follow

[2018-02-08 21:36] kevina commented on #4667
@ivan386 can I have the exact steps you used to create the dag corresponding to `QmWfLgAopxBBpnPsMeQWQhcVfHHEo7natWgtcX5yzw7My3` and `QmSX9BdDaBygKvqZ7Tdo9x7iKYZ2YgRdwSEnAiLSYhYD33`.  If it is from the command line then the commands you used.  If you wrote go code then please provide the code to create those dags.  Thanks.

[2018-02-08 23:05] iamruinous opened #4673 "POST to /api/v0/dag/put?pin=true causes high CPU usage"
#### Version information:
go-ipfs version: 0.4.14-dev-9014c64f8
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.3

#### Type:
Bug

#### Description:
When posting to /api/v0/dag/put?pin=true, my CPU is maxed out. pin=false does not have the same CPU utilization.

[code]

[2018-02-08 23:39] Stebalien commented on #4673
Mind running `curl 'http://localhost:5001/debug/pprof/profile' > profile.out` while you do that? I can't reproduce here and that'll let me see what's pegging your CPU.

[2018-02-08 23:43] iamruinous commented on #4673
Here you go. I ran the curl loop a few times while it was profiling. `htop` showed 130-140% CPU usage.

[profile.out.zip](https://github.com/ipfs/go-ipfs/files/1709250/profile.out.zip)

[2018-02-08 23:54] Stebalien opened #4674 "Bitswap sessions don't treat independent gets as independent"
Scenario:

1. Construct a session.
2. Call Get in one thread for key K with ctxA
3. Call Get in another thread for key K with ctxB.

Canceling ctxA will cause the second Get to block forever.

We need to reference count interest.

(Note: By inspection, I haven't confirmed this)

[2018-02-09 00:11] Stebalien commented on #4673
Do you have a *lot* of pins? It looks like our handling of the pinset is really inefficient.

[2018-02-09 00:31] iamruinous commented on #4673
Well, considering `ipfs pin ls` has been running for 12 minutes and still hasn't returned... probably.

Is there a faster way to see how many pins I may have?

[2018-02-09 00:50] Stebalien opened #4675 "Store pins in MFS"
Motivations:

* Free HAMT. We can update the pinset without having to load/store the *entire* pinset. See #4673.
* *One* pinset. This should simplify GC.
* Allows use to deprecate (but not remove) the `ipfs pin` command while not having to maintain a bunch of deprecated code.

Blockers:

* An `ipfs files cp --prefetch` flag, maybe even a `--prefetch=background` flag?
* A way to not pin recursively

[2018-02-09 00:50] Stebalien commented on #4673
`ipfs pin ls --type=recursive; ipfs pin ls --type=direct`. Otherwise, it'll list all reachable pinned blocks (much slower).

However, I'm pretty sure you have a lot of directly pinned nodes.

[2018-02-09 00:55] iamruinous commented on #4673
[code]

`indirect` or `all` never returned

[2018-02-09 01:03] kevina commented on #4675
@Stebalien I assume you already know this, but right now anything under the MFS is pinned via a best-effort policy.  What that means is that it won't be gc, but removing it or any of its children won't be blocked.

Maybe a recursive pin could be implemented as a sort of read-only flag.  That is removing anything with the flag will be blocked until the flag is removed, although there are probably a

[2018-02-09 01:19] Stebalien commented on #4673
Hm. Yeah, we need to optimize that.

[2018-02-09 01:26] kevina commented on #4540
I am not 100% sure what needs to be done, but I think I can handle this.  I will have a better idea once I look at the code more closely.

[2018-02-09 01:35] Stebalien commented on #4675
For context, one of my goals here is to make IPFS usable for DAPPs. For this to happen, we need to be able to have namespaces and I'd like to use MFS for that (a nice, simple, single namespace).

You mean by `ipfs block rm`? It would be nice to split this into "always delete X" and "gc X if uneeded". The current middle-ground seems a bit weird. The two usecases I can see are:

1. Free memory (gc).

[2018-02-09 01:58] kevina commented on #4675
Well that and `ipfs files rm`.

It was a compromise that me and @whyrusleeping agreed on.  The problem was before that anything inside the MFS would of been garbage collected since it wasn't pinned.  A recursive pin was not appropriate because a recursive pin implies the entire dag is locally available, which is not always the case for something under the MFS root.  For example only some of the di

[2018-02-09 02:23] Stebalien commented on #4675
Wouldn't that be equivalent to `ipfs pin rm`?

I actually prefer MFS's reachability approach. The "middle-ground" I was talking about with `ipfs block rm` was that users will likely want to do one of:

And `ipfs block rm` does a bit of both.

[2018-02-09 02:36] kevina commented on #4675
In a way I guess since the block is not actually removed from the local repo, sorry I momentarily blanked on what `ipfs files rm` does.

Except that if something is corrupted (for example a block is missing) the GC could accidentally remove important data, that is why the GC aborts if any part of a dag of any the recursive pins is not available.

Actually it doesn't force anything.  It checks if a

[2018-02-09 05:20] rngkll commented on #3885
While trying to build an Ubuntu repository with @elopio, using ipfs, the add fails with the following error:
[code]
we always get the same error, in a different moment of the process.

[2018-02-09 05:25] whyrusleeping commented on #3885
@rngkll what version of ipfs are you using? And are you doing the add with a running daemon? If so, does the daemon die when you get that EOF? It could be that its running out of memory.

[2018-02-09 05:38] rngkll commented on #3885
The daemon is running but we are using --local

ipfs version 0.4.13

[code]

[2018-02-09 05:40] whyrusleeping commented on #3885
Do you mind trying out latest master? We have some fixes that should improve that process a bit, It might help. Note, there is a known bug with the gateway on latest master, a fix is in progress, but if you're using this node as a public ipfs gateway, then I recommend waiting until the fix is in.

[2018-02-09 05:49] Stebalien commented on #4674
Also, it looks like a timeout on a context passed to `GetBlocks` will *not* remove the blocks from the wantlist.

[2018-02-09 05:50] whyrusleeping commented on #4674
Hrm... Youre right. I didnt account for that, I generally didn't put a lot of thought into multiple callers into a single session.

[2018-02-09 06:25] diasdavid commented on #4540
//cc @pgte and @vmx for the JS side

[2018-02-09 06:43] kevina commented on #4540
@Stebalien I am a little confused about the semantic, for example #4447 what do you think is the expect (if not correct) behavior.

[2018-02-09 10:57] olizilla commented on #4025
Just for clarification for anyone who is new to Service Workers (me), I was initially confused as to why SWs path scope rules wouldn't solve this, but I see now that it doesn't

If you register a SW from:
[code]
then the scopeUrl is `/ipfs/QmHash/` and your SW can only manipulate requests for resources below that hash, which is good and proper. But if as in the example you register a SW directly f

[2018-02-09 15:24] ivan386 commented on #4540
https://github.com/ipfs/go-ipfs/blob/3106135dd5d081e1c0a49e22a435463f32412eb7/unixfs/io/pbdagreader.go#L239

@kevina yes. If don't extend or cut data to block size (476 bytes in this case) use of Seek() give different data in same position in file.

[2018-02-09 17:23] ivan386 commented on #4540
Block can have more or less links than blocksizes.

[2018-02-09 18:34] MirceaKitsune commented on #4614
I made a thread discussing a similar feature, as I too would like to see this. If you're interested:

https://discuss.ipfs.io/t/automatically-mirroring-local-directories

What I suggested is giving IPFS the ability to automatically mirror local directories into the network. When a directory is added to the list, IPFS automatically monitors it and makes the following changes: Uploading a new file i

[2018-02-09 19:44] Stebalien commented on #4614
@MirceaKitsune for that, I'd rather just have a fuse (+windows equiv) daemon (with caching).

[2018-02-09 20:56] whyrusleeping commented on #4673
Yeap. @iamruinous is well into the land of "wow, we really didnt think through how the cdb pinset would handle that many things". Since this is now hurting real users, lets put a little more fuel on that fire. I like the proposal in #4675

[2018-02-09 22:26] Stebalien commented on #4540
@kevina

Just to be on the same page, there are two "sizes":

1. The "Size" field on links.
2. The blocksizes/filesizes fields.

I'm more concerned with the second as it affects, e.g., seeking. I think we can treat the first one as optional.

So, if we have a raw leaf that's part of a file and the file states that the "blocksize" should be 476, I'd truncate/zero-extend the leaf to 476 bytes as nec

[2018-02-09 22:40] kevina commented on #4540
@Stebalien sorry meant to point to #4667

[2018-02-10 04:52] AndreaCensi commented on #4240
It seems that @pruflyos's question was not answered: what is the format for the files in `~/.ipfs/keystore`?
What is the most convenient way to access them? is it possible with `openssl`, `gpg`?

[2018-02-10 15:00] hsanjuan opened #4679 "Extracting importers requires extracting many things, let me know if I can go ahead"
If I got it right, extracting the `importer` module for re-use in ipfs-cluster to use it is going to require to additionally extract (because of intermodule deps):

* blocks
* blockservice
* exchange
* pin
* unixfs
* routing
* merkledag

This is a bit of work and I want to make sure we you are OK with it? Or would you rather do things (or have me do things) differently?

@whyrusleeping @Stebalien

[2018-02-10 17:07] whyrusleeping commented on #4679
@hsanjuan All of this sounds good except pin. I don't think that one is necessary quite yet, is it?

In any case, i'm 👍 for having these extracted.

[2018-02-10 17:27] ivan386 commented on #4540
@Stebalien @kevina
Here https://github.com/ivan386/go-ipfs/commit/ef35df6eff516029fd887315652e55d8ac7421e8
1. If link or blocksize don't have pair it ignored
2. If link has less data then blocksize it appended by zeros
3. If link has more data then blocksize it truncated
4. Data will be appended or truncated to filesize

I think about align blocks to end of file. Then we can do hole between header

[2018-02-10 17:28] whyrusleeping commented on #4679
how about: start working on this, do exchange+bitswap last. We're working on a fix to bitswap that will hopefully be the last piece before the 0.4.14 release. Once that release is in, we can merge all these extractions.

[2018-02-10 20:06] kevina commented on #4540
@ivan386 I am also working on a solution that uses a slightly different approach that I should have ready later today

[2018-02-10 23:41] hsanjuan commented on #4679
There is a dep from blocks/blockstore to pin (removing a block needs a pinner to unpin, if I remember well).

I can't do exchange last because it's not the top dependency, but I can wait and do others in the meantime.

[2018-02-11 01:38] kevina commented on #4667
@ivan386 #4680 should fix this.  `ipfs get` `ipfs cat` and getting via the gateway now or return the correct size tar and without errors.

[2018-02-11 01:40] kevina commented on #4540
@Stebalien #4680 should do about what you want.

[2018-02-11 07:15] yuri-sevatz commented on #4318
Just jumping in here (albeit a little uninformed and new 👍 ) I read over what @PCSmith and @Stebalien and @kevina described on how raw-leaves and non-raw-leaves currently generate a different hash.  I wanted to make sure this was restated a little more plainly, because it seems obvious to me after having re-read this thread.  It looks like the general concern here is that "the way i added a file m

[2018-02-11 12:48] djdv commented on #4318
@yuri-sevatz

When the defaults for `add` change, support for different hashes are not dropped, anyone should always be able to `get` and `pin` old hashes so they won't suddenly become unavailable. At worst deprecation would mean not being able to generate older style hashes but even that seems unlikely.  It's more likely you'll be able to generate old hashes by just specifying the old defaults.
i

[2018-02-11 15:08] matrushka opened #4681 "Ignore keys with invalid names in keystore"
#### Version information:
go-ipfs version: 0.4.13-cc01b7f
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2

#### Type:
Enhancement

#### Description:
Right now dotfiles under the keystore directory causes an error while running `ipfs key list`. Although having a dotfile (or any file with an invalid name) shouldn't cause the whole thing to fail. It should print out a warning abo

[2018-02-11 22:23] rngkll commented on #4603
**Version information:**
[code]
**Description**

Error is different using the master branch.
[code]

[2018-02-11 22:33] rngkll commented on #3885
**Verision**
./ipfs version --all
go-ipfs version: 0.4.14-dev-eca0486e1
Repo version: 6
System version: amd64/linux
Golang version: go1.9.4

**Output**
[code]

[2018-02-12 05:02] whyrusleeping commented on #3885
@rngkll Thats.... a new bug. You shouldnt be seeing that. Thank's a bunch for reporting.

[2018-02-12 05:02] whyrusleeping opened #4683 "type mismatch panic on ipfs add"
**Verision**
./ipfs version --all
go-ipfs version: 0.4.14-dev-eca0486e1
Repo version: 6
System version: amd64/linux
Golang version: go1.9.4

**Output**
[code]

[2018-02-12 05:03] whyrusleeping commented on #4683
reported in #3885

[2018-02-12 07:53] Sak94664 opened #4684 "Don't depend on golang.org for building"
#### Type:
Enhancement

#### Description:
(Build From Source Code)
When it was trying to connect 'golang.org' ,it reported 'timeout'.And I looked up on the Internet.It said that 'golang.org' is blocked in China.And I also knew that there is a mirror on github.com
Would anyone like to change Download address from 'golang.org' to 'github.com'?
Thanks in advance
:)

[2018-02-12 12:09] magik6k commented on #4684
I blocked golang.org locally and tried this in temporary gopath.

The problem appears to be that `make install_unsupported` fails to fetch gx/gx-go, which both depend on some things from golang.org, not much though:

[code]

There was some issue about changing the `gx/Qmpkg` paths to `ipfs.io/ipfs/Qmpkg`, can't locate it now, though if that got implemented it would be possible to gx-ify gx to avoi

[2018-02-12 13:53] Sak94664 commented on #4684
@magik6k Thanks a lot :)
But 'go get' doesn't work for me,what can I do?
used gx get in 'source_code_root/cmd/ipfs' and the problem happened.(the same as 'go get')
It said 'import path does not begin with hostname.'
Saw issue 2401 ,but neither make install nor make install_unsupported don't work for me.
Now I can only use the pre-compiled binaries.(works fine)
Hope the bug can be solved :)

[2018-02-12 15:29] magik6k commented on #4684
This should work:
[code]

[2018-02-12 16:14] ivan386 opened #4687 "ipfs object diff Error: expected protobuf dag node"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Bug

#### Description:
[code]

#### Additional information:
[code]

[code]

[2018-02-12 17:46] magik6k commented on #4666
Having the command choose is something that should work fine - we can still give the user an option to choose which resolver to use if we add another `Resolve[..]` function, eliminating the need for `/ipns` namespace:

* `ParsePath(string)` just parses a string to a generic path
* `ResolveFile(Path)` resolves a path using unixfs resolver
* `ResolveData(Path)` resolves a path using ipld resolver
*

[2018-02-12 19:12] ivan386 opened #4688 "ipfs add --raw-leaves return protobuf instead or raw on zero length file"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Bug

#### Description:
[code]

Result: QmbFMke1KXqnYyBBWxB74N4c5SBnJMVAiMNRcGu6x1AwQH
[code]

Real zero length raw block: zb2rhmy65F3REf8SZp7De11gxtECBGgUKaLdiDj7MCGCHxbDW
[code]

[2018-02-12 19:24] Stebalien commented on #4666
Having two separate functions, one for IPFS and one for IPLD, both of them taking a path seems a bit odd. Won't the path have the namespace so shouldn't the choice be unambiguous at this point? Also, I'd like the resolver to be fully pluggable. Ideally, the top-level resolver wouldn't understand *any* of our pathing schemes, just the concept of pathing/namespaces (and maybe CIDs because they'll be

[2018-02-12 22:24] Stebalien commented on #4683
Effectively, https://github.com/ipfs/go-ipfs-cmds/issues/62. We shouldn't be using the same logic for errors and values.

[2018-02-12 22:32] kevina commented on #4688
Hopefully this is an easy fix, I will look into it.

[2018-02-12 22:51] magik6k commented on #4666
Oh, I meant `/ipld`, sorry for the confusion, typo..

The point <s>is</s> was that with `/ipld` we <sub>can't easily resolve IPNS names<sub> using <sub>IPLD<sub>  resolver.</sub></sub></sub></sub>
So I dug into IPNS code to find that it works on path level, not on CIDs, this changes my perspective a bit.

The current default is to use `/ipfs` namespace by default. I think this is fine as long as t

[2018-02-13 00:15] JuliaCao opened #4690 "Keep on getting bitswap: couldnt open sender again after SendMsg"
#### Version information:
I have

go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2

#### Description:

I tried to download using ipfs get multiple times, it always proceeds without bug until 89%, where I keep on getting these errors (i/o timeouts and dial attempt failed):

01:04:59.232 ERROR    bitswap: couldnt open sender again after SendMsg(<peer.ID P

[2018-02-13 00:24] Stebalien commented on #4666
So... I omitted a *ton* of context in that proposal.

This becomes a problem with all the `dag` and `block` commands that usually operate over IPLD dags. This is actually a really nasty issue that has bitten us multiple times (mostly because we haven't yet *implemented* the `/ipld` namespace).

However, as the "IPLD namespace" proposal pointed out, we never have paths of the form `QmId/path`, only

[2018-02-13 00:43] Stebalien commented on #4690
Are you trying to download from one of your servers? Does its peer ID start with `QmPfiTMf` or `QmV7nVwS`? If not, those error messages are likely unrelated (see https://github.com/ipfs/go-ipfs/issues/4128). If so, this is very interesting and would explain a lot.

The more likely explanation is that the server you're trying to fetch the file from doesn't have the rest of the file.

Of course, it

[2018-02-13 00:47] mitar commented on #4690
(That's being downloaded from my server.)

How can I verify on the server if it has everything?

[2018-02-13 00:49] mitar commented on #4690
@JuliaCao: Is it possible that you downloaded first 89% on a different connection than you are trying the rest? So when you run `ipfs get` it caches all the data, so when you retry running `ipfs get` it might be that it first restored 89% of content from cache and when it then tries to get the rest, if fails.

[2018-02-13 01:16] Stebalien commented on #4690
@mitar download the latest master and run `ipfs files stat --with-local /ipfs/QmIdOfTheFileInQuestion` (but I don't know which file this is).

[2018-02-13 01:19] magik6k commented on #4666
Currently you can't create a path without a prefix using CoreApi [[1]](https://github.com/ipfs/go-ipfs/blob/master/path/path.go#L72).

`name.Resolve`, which is afaik the only function which by-default prefixes things with `/ipns/`, currently is passed a string instead of a Path (on a second thought I'm not sure if it was a right decision).

You can't pass unprefixed path to any coreapi function. W

[2018-02-13 02:55] mitar commented on #4690
Agh. I am running things from Docker image on the server. Let's wait for this to get released. ;-) I will in meantime try to get all data again myself to another server, to see if it works.

[2018-02-13 03:16] Sak94664 commented on #4684
`[76 / 286] 480sERROR: from shell.Get(): net/http: request canceled (Client.Timeout exceeded while reading body)
retrying fetch Qmaau1d1WjnQdTYfRYfFVsCS97cgD8ATyrKuNoEfexL7JZ after a second...`
it reports this.
@magik6k
Strange.Is it still fetch from golang.org?

(Behind NAT)

[2018-02-13 03:28] Stebalien commented on #4690
@mitar you can also probably just use `ipfs refs QmId...` and see if it returns immediately.

[2018-02-13 04:00] picasso250 commented on #4416
Error: merkledag: not found

centos 7
ipfs version 0.4.13

[2018-02-13 04:04] picasso250 commented on #4416
After daemon-ed, problem solved.

[2018-02-13 05:23] mitar commented on #4690
There are 431604 refs when doing `ipfs refs -r ...`. It takes time to even just print them out. So I am not sure how to determine "immediately". But it looks like it finishes and to my knowledge this is the only server seeding it, so I think the server has all the data.

[2018-02-13 09:11] salsa-dev opened #4692 "Change in permissions in tar archive breaks automation"
Starting from v0.4.12 ipfs archive distribution unpacks with different permission mode.
It breaks access to ipfs binary by other users and requires change in automation scripts.

[code]

[code]

[code]
[code]

[2018-02-13 09:41] kevina commented on #4633
This should likely be reported here https://github.com/ipfs/ipfs-update

[2018-02-13 12:03] ivan386 opened #4694 "Error: multihash too short. must be > 3 bytes"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Bug

#### Description:
[code]

z2yYDV -> (01 55 00 00) is valid zero length "identity" hash of zero length raw block.

[2018-02-13 12:20] ivan386 opened #4697 "identity hash"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Feature

#### Description:
With identity hash we can inline data in link. Useful for short or zero length data.

#### Additional information:
z3vosKrgsh -> 01 55 00 03 00 00 00 is valid 3 bytes length "identity" hash of raw block with same length and data (00 00 00)

[2018-02-13 12:31] ivan386 commented on #4153
So maybe its time to accept bug fix?

[2018-02-13 12:38] Cole128 commented on #2934
@whyrusleeping ipns still seems to be slow for me, would setting the --ttl flag help?

[2018-02-13 13:58] lgierth commented on #4697
All hashes in IPFS must be based on cryptographic hash functions. Multihash can (and does) support non-cryptographic hashes as well, but IPFS and IPLD hashes MUST be cryptographically verifiable. See #4371.

[2018-02-13 15:34] ivan386 commented on #4697
It data itself.  No need to publish it and no need to retrieve it. Data alread there. See here why we need it : https://github.com/ipfs/go-ipfs/pull/4680#issuecomment-365000532

[2018-02-13 19:19] magik6k opened #4698 "Sharness randomly fails on jenkins"
Sharness sometimes fails on Jenkins for what seems to be no apparent reason. I've got this a few times

Occurred in https://github.com/ipfs/go-ipfs/pull/4682 / https://ci.ipfs.team/blue/organizations/jenkins/go-ipfs/detail/PR-4682/4/pipeline

Full log: https://ncry.pt/p/rENn#72Z7nYJ7izEKFU1_trTKQ8cYyNe1jk8ZwRnhwNgaoEc

[2018-02-13 21:06] Stebalien commented on #4674
Also, it looks like canceling a get won't actually cancel the *active* wants.

[2018-02-13 21:13] whyrusleeping commented on #4692
Thanks for reporting, we will make sure to fix this in the next release.

[2018-02-13 21:18] kevina commented on #4697
This is something I could work on assuming it is something that is wanted.  cc @Stebalien

[2018-02-13 21:21] kevina commented on #4694
This should likely be reported to https://github.com/multiformats/go-multihash.

[2018-02-13 21:22] whyrusleeping commented on #2934
@Cole128 sorry, this is a deeper issue than just adding a flag. We're working on it, and will post updates here as we improve things.

[2018-02-13 21:29] Stebalien commented on #4697
Yes, this is definitely something we want (well, something *I* want).

[2018-02-13 21:31] kevina commented on #4697
Okay I work on in within a week.

[2018-02-13 21:42] Stebalien commented on #4692
No love for the 077 umask? :cry:

[2018-02-13 22:08] Stebalien commented on #4674
So, fixing this and the related bugs is starting to look like a hopeless never-ending pile of wasted work. Given that we're going to be pushing graphsync next quarter, I vote to punt and replace. Thoughts @whyrusleeping?

Lessons learned:

* Be *very* careful of how the exchange interacts with the provider system.
* The exchange should build on the dagservice, not the blockservice.
* The exchange

[2018-02-13 22:10] ivan386 commented on #4694
@kevina
Ok. https://github.com/multiformats/go-multihash/issues/69

[2018-02-13 22:33] Cole128 commented on #2934
Alright, I'll watch this thread. What will the ttl flag help?

[2018-02-13 22:54] #4510 closed

[2018-02-13 23:11] whyrusleeping commented on #4674
@Stebalien unsure what you mean with "punt and replace". I agree with your lessons learned, but on the duplicate providers bit, I think that what we're missing is a smarter layer between the DHT and bitswap. A properly implemented providers layer should coalesce and cache identical requests, and also handle multiple outgoing provides correctly (and not make multiple DHT provide calls for the same

[2018-02-13 23:15] whyrusleeping commented on #4674
@Stebalien also, the problem described in the issue comment is not an issue. This is properly handled (as evidenced by the TestMultipleSessions test).

[2018-02-14 04:37] Stebalien commented on #4681
Ignoring hidden files sounds reasonable.

Want to take a crack at this? It should be fairly straight forward. You'll have to edit `keystore/keystore.go` and make two changes:

1. `Has` should call the `validateName` function before checking if we have the file (so `Has(".specialFile")` doesn't indicate that we have a key named `.specialFile`.
2. `List` should filter the returned list of file names

[2018-02-14 04:38] Stebalien commented on #4633
@erkinalp already has (we just ignored it). Sorry.

[2018-02-14 04:38] #4633 closed

[2018-02-14 04:44] Stebalien commented on #4690
@mitar yeah, that means it has all the data. What's the server's peer ID?

[2018-02-14 04:58] Stebalien commented on #4240
@AndreaCensi https://github.com/libp2p/go-libp2p-crypto/

[2018-02-14 05:02] Stebalien commented on #4666
But you *can* call `ParsePath("QmId...")` (no prefix, just a string).

[2018-02-14 05:16] Stebalien commented on #4674
Present @whyrusleeping,

Meet past @whyrusleeping,

(this issue is about multiple Get calls on a single session)

---

I mean that, given that we will need to do a large refactor anyways to make graphsync work, we might as well write that from scratch (keeping the lessons learned from bitswap in mind) as bitswap has grown quite complicated. Basically, I'm wondering if sinking any more time into bi

[2018-02-14 05:28] mitar commented on #4690
`/ip4/169.229.219.152/tcp/4001/ipfs/QmSUMYKijNo1UBEJseWhE2JivoRRzJT69AT5Nd5M2dByVQ`

An interesting thing is that if I currently run `ipfs id` on the server, its public IP is not among its addresses. (It is running inside Docker container, so its public port is mapped using Docker.)

[2018-02-14 05:30] whyrusleeping commented on #4674
Ah, right. Multiple gets on the same session. Though to be clear, my comment you quoted was referring to the wantlist issue.

I think that if we were to rewrite everything from scratch, we would end up with roughly what we have here. The code as it exists now has been rewritten from scratch several times already, Aside from some sessions issues, the core bitswap code works as intended. Though I wi

[2018-02-14 06:50] JoseMiguelHerrera commented on #3907
@lgierth Hi Lars I'm trying to do this to get my js-ipfs browser client directly talking to my go-ipfs node, and this thread is the only place I can find guidance on how to do this. I tried it but it doesn't work, I must be missing a piece.

The go-ipfs node is on AWS and has public IP 18.XXX.XX.XXX and private/internal IP 172.XX.XX.XX.
The node's addresses config looks like this:

`  "Addresses":

[2018-02-14 07:15] salsa-dev commented on #4692
@Stebalien , just a breaking change in distribution, no more no less

[2018-02-14 08:29] matrushka commented on #4681
@Stebalien sure I'll try to have a look.

[2018-02-14 13:14] Cole128 commented on #2934
After a day or two, it doesn't actually seem to work better. Timing the command line resolve is fast, but actually accessing it in my browser is slow the first time, but then speeds up, even if I do a hard refresh.

[2018-02-14 16:51] Stebalien commented on #4674
Got it.

I may have rushed to conclusions out of frustration when trying to track down the issues in #4658. I'll take another look. I noticed we did a lot of bookkeeping in different places and it *looks* like a lot of this bookkeeping could be simplified and consolidated (but, I haven't tried writing anything yet so...).

[2018-02-14 17:27] Stebalien commented on #4692
Sorry, that was attempt at humor. This was caused by the fact that I built the latest release and I set my umask to `077`. This is not the first time I've run into packaging issues because of that (my `makepkg.conf` has a `umask 022` command in it)

[2018-02-14 20:29] rngkll commented on #4683
Let us know if you need help reproducing the issue, are running the command daily.

We will like to help on fixing this.

[2018-02-14 20:40] whyrusleeping commented on #4683
@rngkll I've got a patch that fixes the issue (linked above your comment on github). We're working on determining if its the 'right' fix, or just a hack that works for now that we may regret later. Its an issue in our newly refactored command RPC library.

[2018-02-14 22:30] magik6k commented on #4679
Extracting exchange+bitswap now will make https://github.com/ipfs/go-ipfs/pull/4333 a bit annoying to fix (not that it doesn't have enough conflicts now), AFAIK we wanted to merge 4333 after 0.4.14 is released. so that shouldn't block this for long

[2018-02-14 23:47] magik6k commented on #4666
Yes, the current default is to parse this as a CID and prefix with `/ipfs/`. We can make it return errors for unprefixed strings. This would give us the flexibility to, in future, interpret the paths in context of MFS without breaking the compatibility too badly.

[2018-02-15 04:50] mitar commented on #4690
So it seems this is not really a problem. The issue is that at 89% there are just many (few 100k) small files to retrieve. This is why it visually looks like it is stuck, but in fact it is working. There are some warnings output by daemon by they are not blocking.

I do have some additional warnings by daemon though. Like:

[code]

[2018-02-15 09:22] hsanjuan commented on #4679
@magik6k ack. not touching exchange for the moment.

[2018-02-15 10:41] kevina commented on #4679
I am also have outstanding fixed to few of those packages so I would appreciate it I'd we hold off a bit.

On February 15, 2018 4:22:38 AM EST, Hector Sanjuan <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-02-15 10:51] kevina commented on #4679
Also what the motivation for separating these out?

[2018-02-15 15:11] ZenGround0 commented on #4679
@kevina https://github.com/ipfs/notes/issues/278

[2018-02-15 15:18] ivan386 opened #4705 "merkledag\coding.go change links order if it have names in file nodes."
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Bug

#### Description:

Wrong order:
[code]

Right order:
[code]

It is file node. Sorting breaks the file.

https://github.com/ipfs/go-ipfs/blob/28acec2adb7c7cfe30c458b9fd7bf70768d9e26c/merkledag/coding.go#L37
https://github.com/ipfs/go-ipfs/blob/28acec2adb7c7cfe30c

[2018-02-15 16:30] mitar opened #4706 "For "ipfs get" display an absolute number of retrieved files as well"
#### Version information:

0.4.13-cc01b7f

#### Type:

Enhancement.

#### Description:

Currently, when you do `ipfs get` you get a nice progress bar showing you percentage of retrieved data and size (and progress bar). The issue is that sometimes this looks like it is stuck. We have a dataset which is altogether around 37 GB, and we have few files for few GB, but then hundreds of thousand of few

[2018-02-15 16:30] mitar commented on #4690
I opened #4706.

[2018-02-15 16:44] Stebalien commented on #4690
Damn. Those flatfs files are definitely relevant. Possibly forcing us to re-download the small blocks. You could try switching to the badger datastore but we still don't consider it stable yet.

[2018-02-15 16:47] Stebalien commented on #4706
Really, it *shouldn't* slow down that much with small files (it'll slow down a bit due to excessive hashing). However, I'd personally like a `--verbose` option that spits out each file name as it's downloaded.

[2018-02-15 17:05] mitar commented on #4706
I mean, it simply takes a lot of time to create 100k files. So if you have 10 few GB files, and then 100k 10B files, progress bar will not move for quite some time. Moreover, of course, progress bar ETA will be way off.

[2018-02-15 17:05] mitar commented on #4706
`--verbose` would also great, as addition.

[2018-02-15 17:55] hsanjuan commented on #4698
Yeah I see this a lot

[2018-02-15 20:01] whyrusleeping commented on #4565
We can probably do a few simple things in the short term to buy ourselves some slack. Like not using defer.

Yeah, that one looks particularly painful.

[2018-02-15 20:41] Stebalien commented on #4565
I'm not sure if defer is really much of an issue here. I think the problem here is not taking the lock too often, it's holding it too long (long critical section).

[2018-02-15 21:52] Falsen opened #4710 "IPFS cannot write to datastore"
#### Version information:
go-ipfs version: 0.4.14-dev-28acec2ad
Repo version: 6
System version: amd64/windows
Golang version: go1.9.4

#### Type: Bug

#### Description:

I just built ipfs from github without doing any changes. When I started the daemon it began displaying tons of errors:

astore: Åtkomst nekad. ←[0;37mbitswap.go:317←[0m
←[0;37m22:24:34.839 ←[31mERROR ←[0;34m   bitswap: ←[0mError w

[2018-02-15 22:31] whyrusleeping commented on #4710
@Stebalien its our favorite Heisenbug again

[2018-02-15 23:35] whyrusleeping commented on #4710
@Falsen A few questions:

- which version of windows?
- What was your IPFS_PATH set to? (if anything)
- Did you pass any special parameters to `ipfs init` or `ipfs daemon`?

[2018-02-15 23:37] whyrusleeping commented on #4705
For file nodes you should not have link names.

[2018-02-15 23:50] Falsen commented on #4710
OS: Windows 8
Initially I hadn't set the IPFS_PATH, but I also tried setting it to my external disk as D:\ipfs
No I didn't pass any parameters to any of the commands.

[2018-02-16 00:39] magik6k commented on #4710
There was similar thing happening in https://github.com/ipfs/go-ipfs/issues/4527 which doesn't look like it was really fixed / investigated properly.

Random thought: if this is reproducible, can you try initializing new repo, disabling MDNS (set `Discovery.MDNS.Enabled` to false in config) and seeing if this happens again?

[2018-02-16 08:11] ivan386 commented on #4705
Why if i can? And its work. I can get file directly from tar.
"QmQigZekUpTrhwzoZ1zyfuq3kLvsBRR73chktinPhkewqG/test/tar test/1.txt"

It can be used for many things.

[2018-02-17 00:04] Falsen commented on #4710
@magik6k I just tried it, with the same results. Do you have any clue about the bug? I'm pretty sure I installed ipfs one or two years ago without any problems... I compared the files with #4527 and they seem to contain the same data.
`{"type":"Node","mins":[1340388608,1340777728,1341104640,1341528320,1341967360,1342331904,1342806016,1344057088,1344508416,1345869312,1346396807,1347295937,134838016

[2018-02-18 09:43] preetsinojiya opened #4716 "go get breaks with "is not using a known version control system""
Version information:
Go version: go1.9.2 darwin/amd64
OS: macOS high sierra

Type: Bug

Description:
Running: go get -u -d github.com/ipfs/go-ipfs

Actual behavior:
package github.com/ipfs/go-ipfs: directory "/Users/path/Projects/go/src/github.com/ipfs/go-ipfs" is not using a known version control system

Expected behavior:
Should create $GOPATH/src/github.com/ipfs/go-ipfs directory

[2018-02-18 09:55] preetsinojiya commented on #4716
Previously, I tried deleting ipfs/ directory from src/ folder. But did not work.

Now, I deleted everything from src/ folder and reinstalled everything and it seems to be working. Still not clear what could be the cause, but it's working now.

[2018-02-19 00:28] XertroV commented on #4673
I'm having a similar issue for similar reasons I presume.

[code]

Using it as the initial block propagation layer for a blockchain, hence the pinning.

AFAIK it'd be unsafe not to pin data.

[2018-02-19 01:57] XertroV opened #4717 "`ipfs pin rm` _very_ slow & cpu intensive"
#### Version information:
[code]

#### Type:
Bug

#### Description:
I had about 57k pinned items (all small files) totaling about 30MB.

Due to #4673 I figured I'd try and remove them since I don't actually need them pinned all the time (lots of testing atm).

Currently running a script to get all pinned MHs and call `ipfs.pin.rm` via `js-ipfs-api` on them. It's running at 5-10 MH/s and IPFS is us

[2018-02-19 03:24] XertroV commented on #4717
Update: after removing all pinned MHs IPFS is using about 5% cpu while adding 2-3 MH/s, much more reasonable.

[2018-02-19 04:15] AndreaCensi opened #4718 "ConnectionManager peer HighWater configuration not honored (# peers spike up => OOM on VPS)"
#### Version information:

go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type:

Bug

#### Description:

Context: on my system the ipfs memory grows until it is OOM-killed. (I run ipfs on a VPS (linode), with 1 vCPU and 1GB of RAM. )

I have tried all the suggestions that I found by looking for similar issues in the past and stumbled upon the sug

[2018-02-19 07:11] salsa-dev commented on #4190
I have experienced the same problem with ipfs v0.4.13

`Error: invalid multiaddr, must begin with /`

Suggestion from @tylorr fixes the problem:

`ipfs.exe bootstrap add "//ip4\192.168.1.7\tcp\4001\ipfs\QmZD8nWNhdfgdDXHmTrqUSSBz3uy7MudVhaBnqQP8mHWFRP"`

[2018-02-19 13:17] VictorBjelkholm opened #4719 "`pubsub pub` doesn't work with stdin anymore (regression)"
#### Version information:

[code]

#### Type:

Bug
#### Description:

In version `0.4.13` of go-ipfs, you could pipe input to `ipfs pubsub pub $TOPIC` and it'll be sent. Trying the latest build of `go-ipfs` from master, that no longer work. No input seems to reach the `pub` command.

Guessing this is because of the cmd-lib refactor stuff.

[2018-02-19 15:47] VictorBjelkholm commented on #4719
In general, it seems pubsub commands doesn't handle piping very well, at least in my limited tests. `pubsub sub` seems to never pipe the output, not sure why it's being buffered. Maybe it's on purpose?

[2018-02-19 17:55] Stebalien commented on #4718
Your expectations are pretty much correct. We close open connections at most once every 10 seconds and only close connections that have been open for the grace period (20s) but you shouldn't be spiking up to ~200 peers in a couple of minutes (unless there all connecting within 20 seconds...).

Regardless, this is definitely a bug.

[2018-02-19 17:57] Stebalien commented on #4717
Yeah, it's the same bug.

[2018-02-19 20:39] yuri-sevatz opened #4720 "ipfs get drops containing directory structure in output when <ipfs_path> contains trailing slash ('/')"
#### Version information:
ipfs version 0.4.13

#### Type:
Bug

#### Description:
[code]

Results in:

Yet leaving out the trailing slash after the path portion at the end of the get command:

[code]

Results in:

It seems leaving out the trailing slash **after the path** in the `ipfs get` command allows the folder structure to download correctly, but adding one in causes `ipfs get` to squash subfo

[2018-02-19 22:21] AndreaCensi commented on #4718
A couple more observations:

I did manage to see the "endgame": after 8 hours, it was at 1.2GB memory usage (RAM and swap), but there were only 97 peers. So, it seems that the memory increases, but it is not proportional to the number of peers (leak?).

I also tried running the server with `--routing=dhtclient` and the issue remains.

[2018-02-19 22:37] Stebalien commented on #4718
The current release has an issue where it:

1. Never forgets information about any peer.
2. Remembers and gossips tons of ephemeral addresses (addresses with ephemeral ports).

This should be fixed in the next release (it has been fixed in master) but we're trying to iron out a few bugs first.

[2018-02-19 23:27] vmx opened #4721 "dag put and block put return different headers"
#### Version information:
go-ipfs version: 0.4.14-dev-25eeb1e25
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type: Bug

#### Description:

When using the HTTP API, a `put` to `dag` returns `X-Chunked-Output: 1` in the header, while a `put` to `block` does not. Example:

[code]

[code]

[2018-02-19 23:47] AndreaCensi commented on #4718
@Stebalien

I did a source install from master (0.4.14-dev).

The memory usage decreased - though it is unclear at this point if it grows indefinitely or not.

However, I still see too many peers connect (oscillating between 100 and 115 at the moment).

[2018-02-20 00:15] vmx commented on #4721
Please note that in the linked issue above, this header triggers a different code paths. So it should be revisited when this header should actually be set.

[2018-02-20 00:39] leerspace commented on #4710
Re: error writing block to datastore on windows, this sounds like the issue documented in #3971.

TL;DR: At least one of the problems is the Windows Indexer. Another might be related to Windows Defender interfering with files in the datastore. But that doesn't seem to account for all of why this issue happens on Windows. This of course assumes that there's not a permission issue or something like

[2018-02-20 03:11] leerspace commented on #4710
I wasn't able to get any procmon for #4527 before the OP closed it, but if you're able to get a [procmon](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) capture of this issue happening (maybe filtered to the ipfs process) it would be interesting to me to see what the process is doing before and while it's writing to these weird files.

FYI I just spent a little chunk of time tryi

[2018-02-20 06:46] ivan386 commented on #4710
@Falsen
Write in console: `chcp`
What number is in result?

[2018-02-20 10:23] vmx opened #4722 "dag/put HTTP API enhancement"
#### Version information:
go-ipfs version: 0.4.14-dev-25eeb1e25
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type: Enhancement

#### Description:

In the HTTP API currently a `dag/put` returns the CID (as link). Similar endpoints return other things:

 -  `block/put`: `Key` (which is the CID) and `Size`
 - `add`: `Name`, `Hash` (which is the CID), `Bytes`, `Size`

Shou

[2018-02-20 16:52] magik6k commented on #4666
To push this somewhere:

This is how I see the `/ipld` variant:
* ParseCid prefixes paths with `/ipfs`
* ParsePath rejects unprefixed paths
* dag, block apis return `/ipld` paths
* name api returns `/ipns` paths
* other apis return `/ipfs` paths

By explicitly disallowing unprefixed paths we don't have the ParsePath("QmId...") ambiguity. As this is an CoreAPI-only thing, we can still maintain curr

[2018-02-20 18:38] whyrusleeping commented on #4673
@XertroV You should probably use `ipfs pin update`. You don't want to individually pin each and every block recursively, instead, pin the genesis block, and then for each new block you accept, do an `ipfs pin update` to update the pin to the new block.

[2018-02-20 19:18] #4683 closed

[2018-02-20 19:26] dirkmc opened #4723 "IPNS performance: name resolve record count parameter"
Add a parameter to the command line client to specify the number of IPNS records to retrieve from the DHT when doing an IPNS lookup.

Currently namesys calls `dht.GetValue()` which in turn calls `dht.GetValues()` to retrieve 16 IPNS records, and then selects the best one. The user should be able to specify a different number of records to retrieve, eg 5. Note that the k-bucket size is 20.

`ipfs n

[2018-02-20 19:27] dirkmc commented on #2934
I created an issue to discuss the suggestion of a command line parameter to specify the number of IPNS records to retrieve from the DHT: https://github.com/ipfs/go-ipfs/issues/4723

[2018-02-20 20:59] XertroV commented on #4673
@whyrusleeping - thanks for the advice. I've been peripherally aware there's a way for a blockchain structure to integrate with the merkledag but haven't found any good docs on how to link things together. Is there anything you could point me too?

Right now each block header, block, and tx have their own MH (there are some good reasons we do this at the tx level), and we need to be able to deal w

[2018-02-20 21:49] whyrusleeping commented on #4673
Hey @XertroV I wrote a really simple/dumb blockchain on ipfs a little bit ago just to see how it would go. I pushed it up here just now: https://github.com/whyrusleeping/toychain
It might be worth a look, it just embeds the bits from ipfs it needs, and runs as its own daemon.

Regarding `ipfs object put`, You'll actually probably want to use `ipfs dag put`. It accepts any json structure as input,

[2018-02-21 00:57] Stebalien commented on #4657
Fixed in https://github.com/ipfs/go-ipfs/pull/4658.

Also, we've disabled bitswap sessions for the gateway (for other performance reasons, for now).

[2018-02-21 00:57] #4657 closed

[2018-02-21 01:02] Stebalien commented on #4603
@rngkll that's a new issue that should be fixed (although it'll just revert back).

[2018-02-21 01:18] Stebalien commented on #4598
Sorry for the delay, support questions on this issue tracker tend to get lost in the noise. The forums really are the better place to ask questions like this. I've responded to your question there: https://discuss.ipfs.io/t/about-data-recovery-how-can-i-do/1864/9.

[2018-02-21 01:18] #4598 closed

[2018-02-21 03:10] leerspace commented on #4716
I'm pretty sure this is an issue with go rather than IPFS. There seem to be other go users encountering this issue outside of trying to `go get` go-ipfs.

[2018-02-21 04:47] #4670 closed

[2018-02-21 15:29] schomatis commented on #4052
@whyrusleeping Is this issue still relevant to work on it?

[2018-02-21 17:54] #4692 closed

[2018-02-21 18:26] whyrusleeping commented on #4052
@schomatis Yeah, I don't think this has been fixed yet. Go right ahead :)

[2018-02-21 18:59] hoschiCZ commented on #1396
Could you @jbenet explain how the DHT has changed since 2015? This is still the top result for _ipfs dht data locality_. Does IPFS take advantage of data locality (yet? if not, why not?)?

Is the "low hanging fruit" implemented now? I feel like IPNS performance is significantly hampering its usability.

I rememeber that back in time, when there was a vision that IPFS will eventually replace HTTP,

[2018-02-21 20:08] schomatis commented on #4052
@whyrusleeping It would seem that the [`posInfo`](https://github.com/ipfs/go-ipfs/commit/73f9a90cbf439acc89d9740d6ed507861a6cd5b6#diff-f7558b2dd0ea461742d4dae47c1e3c33R162) structure that signals the creation of the `FilestoreNode` was added only to the [balanced](https://github.com/ipfs/go-ipfs/commit/73f9a90cbf439acc89d9740d6ed507861a6cd5b6#diff-8dd9373aec43cd2bfb199aac6fd93780R17) DAG but not t

[2018-02-21 20:14] Stebalien commented on #1396
Unfortunately, not yet. We've had quite a few other high priority issues.

We know. We've implemented IPNS over pubsub to alleviate this a bit for subsequent lookups but this feature is still experimental. We're also working on drastically reducing the amount of time it takes to connect to new nodes (and working on parallelizing this process) which should further improve the DHT. However, all of t

[2018-02-21 20:15] Stebalien commented on #1396
Note: We've moved support discussions this to the [forums](https://discuss.ipfs.io) so I'm going to close this issue.

[2018-02-21 20:15] #1396 closed

[2018-02-21 20:35] Stebalien opened #4726 "TestWantlistClearsOnCancel is racy"
[code]

Canceling the session isn't guaranteed to immediately cancel wants (it doesn't block).

[2018-02-21 20:45] kevina commented on #4052
@schomatis that sounds about right to me.  It should be fairly easy to do.

[2018-02-21 21:25] schomatis commented on #4052
@kevina If I'm following correctly the original [PR](https://github.com/ipfs/go-ipfs/pull/3314/files#diff-8dd9373aec43cd2bfb199aac6fd93780) I should replicate the `SetPosInfo` pattern in the trickle importer for `Layout` and `fillTrickleRec`, and also for `FillNodeLayer` (which I'm not seeing a counterpart in the balanced importer), am I missing something else? I'll prepare a patch and let you kno

[2018-02-21 21:48] AndreaCensi commented on #4718
After a couple of days running 0.4.14-dev, I can report the following:

- the number of peers stabilizes around 35 (good!)
- the memory usage grows over time; it is currently at 1GB. It grows slowly so I expect it to last another day or so until it gets OOMed.

[2018-02-21 22:23] kevina commented on #4052
@schomatis go ahead and create a p.r. but label it a work-in-progress (by prepending the title with "WIP:" or similar) and I will have a look.

[2018-02-21 23:38] msoedov commented on #3533
I am looking into code right now. How do you envision this to be configurable?  It's very simple to make those options as a hardcoded values

[2018-02-21 23:50] vmx opened #4728 "dag API and resolving paths"
#### Version information:
go-ipfs version: 0.4.14-dev-25eeb1e25
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type: Enhancement, Bug

#### Description:

I'm currently working on implementing the dag API for https://github.com/ipfs/js-ipfs-api/. There I stumbled upon issues when running the https://github.com/ipfs/interface-ipfs-core/ dag tests. Resolving doesn't work as

[2018-02-22 00:00] vmx commented on #4728
This is based on a test interface-ipfs-core: in https://github.com/ipfs/interface-ipfs-core/blob/0c76cddcc7eaf8915ca11b20d6e41c7271b57bea/js/src/dag.js#L242-L247.

[2018-02-22 00:07] vmx commented on #4728
CBOR works as I'd expect it:

[code]

[2018-02-22 00:22] vmx commented on #4728
I had a quick chat with @whyrusleeping on IRC about this. Here's the summary:

In the Go implementation slashes always mean "traverse links". So `<cid>/somename` means "follow the link with the name "somename". So the data of a ProtoBufs encoded node (here represented as JSON) would look like this:

[code]

There is no way to get the data of a DAG node through a path.

[2018-02-22 00:32] magik6k commented on #4728
Yes, but the other graph-related functions should still work. Git plugin is one example here.

This is the real problem here, it's going to be much simpler to address once `/ipld` is separated from `/ipfs` a. See #4666 for more details

[2018-02-22 00:38] vmx commented on #4728
@magik6k I've read #4666 before, but know I understand the `/ipld` - `/ipfs` separation. Does it mean that the test linked in my comment above https://github.com/ipfs/go-ipfs/issues/4728#issuecomment-367520360 should work once #4666 is solved?

[2018-02-22 01:04] magik6k commented on #4728
It will require some more changes to the internals. Dag api will use ipld resolving by default, so it will work.

[2018-02-22 01:09] magik6k commented on #4728
The todos here are:
* Solve #4666
* Rewrite dag commands to use CoreAPI
* Make merkledag nodes implement ipld properly and fix unixfs resolver

[2018-02-22 03:10] schomatis opened #4729 "AddNodeLink and AddNodeLinkClean seem to have the same functionality"
While reviewing code for issue #4052 I came across the functions [`AddNodeLink`](https://github.com/ipfs/go-ipfs/blob/master/merkledag/node.go#L92) and [`AddNodeLinkClean`](https://github.com/ipfs/go-ipfs/blob/master/merkledag/node.go#L109) that would seem to have the same code except for an extra line in `AddNodeLink` where [the name is set to the link that will be added](https://github.com/ipfs/

[2018-02-22 08:45] salsa-dev commented on #3404
I was asked to leave a feedback about usage of private key in production from #1633.
Not sure what exactly is of any interest to devs but here is my use case:

Infrustructure has Git server and IPFS server(s).
Project's Git repo includes a file `.ipfs` where I put paths and hashes of the project's binary files which are not kept in Git.

On production VMs IPFS is installed with private key `/home/

[2018-02-22 11:21] jbenet commented on #4697
I think it's OK to allow the identity hash function. You could argue it's cryptographically safe for the purposes of #4371 -- we may only need CRH?

[2018-02-22 11:33] jbenet commented on #4371
Team, we need this. To make it simpler for now, go with:

Allowed hashes from https://github.com/multiformats/multihash/blob/master/hashtable.csv:
[code]

- As said above, this could also be altered by people recompiling go-ipfs for their own use cases, but our standard distribution should be fixed (and not allow an editable text config to compromise security)
- Let's leave the "smart hash picker"

[2018-02-22 11:51] mib-kd743naq commented on #4371
Do note that there already is such "old content" from [a test I did back in 2016](https://github.com/ipfs/go-ipfs/issues/3552#issue-198142092) ( 17 cases, specifically everything in the rows `v1pb-sha1-20` and `v1raw-sha1-20` and the column `v1pb-sha1-20` ).

You can use this matrix both for validating "yep, we no longer resolve this link" and for a possible future "yes, we still can open it under

[2018-02-22 12:54] hsanjuan commented on #3533
Configuration values could be part of the respective section in the ipfs config file.

[2018-02-22 14:47] AndreaCensi commented on #4240
@Stebalien Thanks for the pointer - unfortunately I don't know go so the barrier to entry is a bit too high for me.

Is there an example / basic recipe to do sign/verify operations with the keys in the keystore?

Context: I am building a distributed app (in Python) on top of IPFS, and it makes a lot of sense to use the IPFS identities for the nodes. All I need is a way to 1) generate a signature;

[2018-02-22 21:39] whyrusleeping commented on #4371
Started a solution here: https://github.com/ipfs/go-cid/pull/40

My approach will be to restrict the creation of invalid cids. This is a more surefire way restricting content than trying to police all the different places data can get into the system.

cc @Stebalien @magik6k @Kubuxu @kevina

[2018-02-23 02:41] Kubuxu commented on #3404
@salsa-dev I am glad you find the feature useful.

[2018-02-23 02:41] schomatis commented on #4052
@kevina Regarding the trickle DAG [Append](https://github.com/ipfs/go-ipfs/blob/master/importer/trickle/trickledag.go#L90) family of functions, what should be the value of the offset for `SetPosInfo`?

I don't see analogous functions for the balanced DAG and I don't know if the offset should be zero or should continue from the offset value of the base node (`basen`) because I'm not sure if a new f

[2018-02-23 02:48] Kubuxu commented on #4697
There are two main issue with not safe hashes: collisions allowing to fake the data and breaking principle of DAG (weak hashes allow creation of cyclic graphs by collisions). Those issues are not present in case of identity hash so I also think it is safe to use.

[2018-02-23 02:52] Kubuxu commented on #2934
I would just like to point out that this issue was initially created about performance of IPNS->DNS

[2018-02-23 02:55] Kubuxu commented on #4675
This would also mean loss of direct pins feature. If we are ok with it it would be quite nice as it would simplify GC code.

[2018-02-23 03:37] kevina commented on #4052
@schomatis the offset is the offset from the start of the backing file, so it should likely be the offset of the base node.  It might be helpful to look at the filestore code to see of PosInfo is used, in particular readDataObj (https://github.com/ipfs/go-ipfs/blob/master/filestore/fsrefstore.go#L152).

[2018-02-23 05:55] yishuiliunian opened #4731 "ipfs deamon command fail"
the command  failed
[code]

with log:

[code]

but i check the network port, the 5001 is not used.

[code]

[2018-02-23 07:00] Mehcta commented on #4731
Спс а теперь по русски

[2018-02-23 08:45] VictorBjelkholm commented on #4731
@yishuiliunian could you also paste the output of `ipfs version --all`?

@Mehcta Please use english on this issue tracker / Пожалуйста, используйте английский на этом трекер

[2018-02-23 09:32] yishuiliunian commented on #4731
@VictorBjelkholm

it may the newest
[code]

[2018-02-23 09:54] VictorBjelkholm commented on #4731
@yishuiliunian thanks. Can you also check with running `lsof` with sudo? Might be some process that is listening that you don't own.

[2018-02-23 14:53] schomatis commented on #4052
@kevina Thanks for the pointer, it helps me understand Filestore internals.

What I'm missing now is a use case for the [Append](https://github.com/ipfs/go-ipfs/blob/master/importer/trickle/trickledag.go#L90) function. From what I'm seeing in the code this function is related to the [`Files API / MFS`](https://github.com/ipfs/specs/tree/master/files) and the [`unixfs`](https://github.com/ipfs/spec

[2018-02-23 16:50] dirkmc commented on #4723
PR https://github.com/ipfs/go-ipfs/pull/4733

[2018-02-23 18:29] schomatis commented on #4052
After reading the example cited above I run the following commands to trigger the `Append` call:

[code]

The error is due to a [check](https://github.com/ipfs/go-ipfs/blob/master/importer/trickle/trickledag.go#L91) in `Append` for a `ProtoNode` (where in this case the node is a `RawNode`), the check is not commented.

Thinking about this it makes sense this append operation fails because Filestor

[2018-02-23 18:38] Stebalien commented on #4675
@Kubuxu We *can* do this but we'd need some concept of "pin policies" in unixfs.

[2018-02-23 19:11] schomatis commented on #4055
@whyrusleeping Is this still an ongoing problem? I'm having trouble reproducing the error.

[2018-02-23 19:15] schomatis commented on #3904
@whyrusleeping Is this issue still relevant to work on it?

[2018-02-23 19:24] schomatis commented on #4650
@lgierth Is someone working on this? I'd like to make a try, it will help me to learn more about the pinning system.

[2018-02-23 19:27] Stebalien commented on #4055
I haven't seen it for a while but I don't know of anything we might have done to fix it (maybe updating the commands lib?).

[2018-02-23 20:44] whyrusleeping commented on #3904
@schomatis Yes, definitely. @magik6k has started work towards this, you should coordinate with him on how to move forward.

[2018-02-23 21:35] schomatis commented on #4052
Researching some more, the problem is not related to the way the input is passed to the `write` command, this also fails:

[code]

The problem is that the node passed to `Append` is the node already stored with Filestore as `RawNode` (and the check mentioned above will always fail).

[2018-02-23 21:40] whyrusleeping commented on #4052
@schomatis I don't think we need to make the trickle append code support filestore. The `Add` code only uses `Layout`. I believe you are correct in saying that only `ipfs files write` uses `Append`.  Looking at your other comments, it looks like it needs to learn how to append to a non-protobuf node. That might get sticky, but I think its probably okay to error out in that case for now.

[2018-02-24 00:51] lgierth commented on #4650
@schomatis thanks, please go for it :)

[2018-02-24 02:06] NeoSY opened #4735 "ERROR: ld.so: object '/usr/lib/arm-linux-gnueabihf/libarmmem.so' from /etc/ld.so.preload cannot be preloaded (cannot open shared object file): ignored."
[code]
-----
Then, cat the file `/etc/ld.so.preload`, I got:
[code]
-----

Hardware: `Raspberry Pi 3`
System: `Raspbian`

[code]

[2018-02-24 02:15] W-B-S commented on #2558
in this example
https://ipfs.io/docs/examples/example-viewer/example#../api/service/readme.md
I am still puzzled by this problem.

import (
    "fmt"

    core "github.com/ipfs/go-ipfs/core"
    corenet "github.com/ipfs/go-ipfs/core/corenet"
    fsrepo "github.com/ipfs/go-ipfs/repo/fsrepo"

    "code.google.com/p/go.net/context"
)

[2018-02-24 02:26] lgierth commented on #4735
That seems to be a frequent problem with all kinds of things on Raspberry Pis. Try `sudo rpi-update` and if that doesn't make the message disappear, try removing that line from `/etc/ld.so.preload`.

Regardless of that, luckily it's not really an error, and ipfs should work fine. :)

[2018-02-24 03:24] NeoSY commented on #4735
[code]

command `rpi-updated` executed, but the ERROR MESSAGE remains.

And I've removed the line `/usr/lib/arm-linux-gnueabihf/libarmmem.so` from `/etc/ld.so.preload`, then no ERROR MESSAGE gone.

Thanks to [Igierth](https://github.com/lgierth)

[2018-02-24 04:31] NeoSY opened #4736 "Question: How could I change the data path."
I had not found where the config file is,

and further more, I want set the data path to `/mnt/hdd0/ipfs`

it could be set, right?

-----
ipfs version 0.4.13

Raspberry Pi 3
Raspbian
[code]
-----
Thank you all, for any answer.

[2018-02-24 04:48] NeoSY commented on #4736
run command `ipfs config show`, could not find where the config file is.

[code]

[2018-02-24 05:37] preetsinojiya commented on #4736
By default, IPFS repo path: ~/.ipfs

To set custom repo path
1) set $IPFS_PATH="path/to/custom/repo"
2) run ipfs init/daemon

[2018-02-24 05:53] NeoSY commented on #4736
run command `ipfs`
[code]

But there is no directory named `~/.ipfs`
[code]

if i set the $IPFS_PATH manually,
it connot be `init` again.
[code]

i'm not sure what is the directory `/root/snap/ipfs/337`,
and there is no '/root/snap/ipfs/337/.ipfs' either

[2018-02-24 06:03] preetsinojiya commented on #4736
Oh! a bit of a  misunderstanding there.

By setting up $IPFS_PATH, I meant export IPFS_PATH. Basically, 'set' only sets the shell attribute and 'export' exports that attribute to all the child processes. Try following:

1. export IPFS_PATH=/path/to/ipfsrepo
2. ipfs init

[2018-02-24 06:33] NeoSY commented on #4736
oh, shit, what a shame...

[2018-02-24 06:34] NeoSY commented on #4736
[code]

aha, seems impossible..

[2018-02-24 07:22] #4716 closed

[2018-02-24 09:26] Kamelia2000 commented on #3825
Hello Do you think  IPIPFS is  good to make a chat soluton like IM messenger like Telegram and very much fast ?

[2018-02-24 19:52] Kubuxu commented on #4736
Looks like you installed go-ipfs from Snap, it looks like Snap adds some kind of sandboxing disallowing access to the hdd. Am I right with that?

Try our builds:

[2018-02-24 22:05] Kubuxu commented on #4650
@lgierth pinner is locked during this time and any access to pins does require locking (or at least it should, not true about: https://github.com/ipfs/go-ipfs/blob/864c960aa641bff2820b59b5eeb9d93be5d0998d/pin/pin.go#L491-L498). So there is no inconsistency.

The fact that those two functions do not require locking will just lead to concurrent map modification panic

[2018-02-25 01:31] blauark commented on #4736
I already have the same problem and I don't understand what "set environment variable" means.
After a reboot I have to type this command again. Is there any solution to write this command into a config file that my pc also know the new path after a reboot?

[2018-02-25 10:50] preetsinojiya commented on #4736
To set environment variable permanently you have to put the declaration in the initialization files of your shell.
Refer this: https://unix.stackexchange.com/questions/21598/how-do-i-set-a-user-environment-variable-permanently-not-session

[2018-02-25 16:54] schomatis commented on #4650
1.

I agree. Maybe a function could be added to add recursive pins (e.g., `addRecursePin`) that would abstract the requirement that a pin can only be of only one type (e.g., direct or recursive) performing the atomic check `p.directPin.Has(c)` inside the function.

2.

As @Kubuxu commented the `Pin` function is protected by a [lock](https://github.com/ipfs/go-ipfs/blob/v0.4.13/pin/pin.go#L173) and

[2018-02-25 23:59] whyrusleeping opened #4737 "Make blockservice and blockstore have the same interface"
It would be great to be able to use these interchangeably. No real reason for them to have different interfaces.

[2018-02-26 08:30] blauark commented on #4736
@preetsinojiya thx. It works. https://unix.stackexchange.com/questions/117467/how-to-permanently-set-environmental-variables

[2018-02-26 17:42] schomatis commented on #4650
Looking more carefully into the issue I have to correct myself, `ipfs pin add` [locks the GC](https://github.com/ipfs/go-ipfs/blob/v0.4.13/core/commands/pin.go#L66) so the above mentioned race condition should not happen, I still think `DirectKeys` and `RecursiveKeys` should be locked, as there may be other code paths that could lead to a similar situation.

[2018-02-26 17:52] VictorBjelkholm commented on #4719
Thanks for acknowledging this issue in the all hands @Stebalien

What I was trying was to get asciinema streaming over pubsub to work with the new version of asciinema. So basically if we can get pubsub commands to play nicely with named unix pipes, streaming to/from asciinema should work fine.

[2018-02-26 18:16] schomatis commented on #4591
@Stebalien I'd like to work on this if no one is.

The [`Diff`](https://github.com/ipfs/go-ipfs/blob/master/merkledag/utils/diff.go#L97) algorithm  seems to be designed to work with directories as inputs, comparing its links, not with single files (or an empty directory, that for this case behaves the same). The [base case](https://github.com/ipfs/go-ipfs/blob/master/merkledag/utils/diff.go#L98) o

[2018-02-26 18:52] schomatis commented on #4580
@Stebalien Is this a relevant issue to work on?

The [help message](https://github.com/ipfs/go-ipfs/blob/master/core/commands/unixfs/ls.go#L71) from `ipfs  file ls` says:

possible, please use 'ipfs ls' instead.

But from what I'm seeing debugging the code the reconstructed [`unixFSNode`](https://github.com/ipfs/go-ipfs/blob/master/core/commands/unixfs/ls.go#L123) has its [`Filesize`](https://gith

[2018-02-26 19:25] schomatis commented on #4652
@Stebalien I'd like to work on this, but I'm not sure I'm understanding the issue correctly, the problem is the inconsistency of the hash of the directory wrapping the whole tree, right? Which should be the same for every pair of commands where the only difference is just the `only-hash` option?

[2018-02-26 19:37] schomatis commented on #3981
@kevina While you are moving forward with `ipfs filestore mv`, is there something I can contribute towards the `ipfs get --no-copy`?

[2018-02-26 19:45] djdv commented on #4652
@schomatis
Correct, the final hash given is inconsistent.
`ipfs add -r -w --cid-version=1 "test data"` -> `QmcXqVU8WkYYLNHqNnkXvRcmuuPVMaJFJGjEv5GBD3t1LR`
`ipfs add -n -r -w --cid-version=1 "test data"` -> `zdj7Wjd5ruCNE29D5bm7Xi9noTLY7aw57iPAb8maser2VSuWM`
They should both be the same but currently are not.

[2018-02-26 19:49] schomatis commented on #4652
@djdv Thanks for the clarification, I'll await for the green light form @Stebalien and start looking into this.

[2018-02-26 19:54] schomatis commented on #4561
@Stebalien Is someone working on this? I'm interested to learn more about the locking system while adding/pinning, as it's something I stumbled upon while working on #4650.

[2018-02-26 21:43] schomatis commented on #4519
@Stebalien Are you currently addressing this in your PR #4517? (I saw you were making fixes to the [`Truncate`](https://github.com/ipfs/go-ipfs/pull/4517/files#diff-8025428853309129ba9ae4df8ea67f9e) function). If not I would like to give this a try, seems like an interesting issue.

Truncating to any smaller than (the original) 4 bytes value produces the same error. Truncating to zero 174 times an

[2018-02-26 21:51] schomatis commented on #4559
@Stebalien Is someone working on this? How hard do you think it would be to implement this? Is it apt for a beginner to IPFS?

[2018-02-26 21:53] schomatis commented on #4560
@Stebalien Would you mind elaborating a bit more on this issue? (to see if I could work on it.)

[2018-02-27 06:04] alvin-reyes opened #4739 "Gcc error when trying to build the latest go-ipfs from master branch"
#### Version information:
0.4.13

#### Type:
Bug

#### Description:
I'm getting an error when trying to build a fresh copy off of master branch of go-ipfs.

[code]

* Your motivation. Why do you need the feature? - I'm trying to build a fresh go-ipfs for some future extensions.
* How the feature should work. - I'm assuming that the initial build will at least succeed .

[2018-02-27 06:35] Kubuxu commented on #4739
Try running `CGO_ENABLED=0 make build` but I've never seen this problem before.

[2018-02-27 06:54] Kubuxu commented on #4560
@Stebalien given improvements to locks fairness in Go 1.9 (IIRC), I am not sure if it a problem. See https://github.com/golang/go/issues/13086

[2018-02-27 08:36] GitDoggo commented on #2540
I have a similar issue, `ipfs swarm peers` returns nothing. I tried waiting a few hours, with no better success.

I am suspecting my very restrictive corporate proxy is blocking it, how can I see if it's interfering or not? (I read [this](https://github.com/ipfs/ipfs/issues/209) and all the linked issues and nothing helped.)

[2018-02-27 10:14] dokterbob commented on #4580
@schomatis I'd love to, but as of now they are not functionally equivalent.

For one, `ipfs ls --enc=json` gives back a number as the type (which I suppose, can be overcome). For another, and this is a big point for us at ipfs-search.com, it does not tell us the type of the requested file.

Example output `ipfs ls`:
[code]

[2018-02-27 10:18] dokterbob commented on #3081
From #4580:
`ipfs ls --enc=json` gives back a number as the type (which I suppose, can be overcome).

Another difference, and this is a big point for us at ipfs-search.com, it does not tell us the type of the requested file:
[code]

`ipfs --enc=json file ls /ipfs/QmYcutogfHrrxigzVw2Vi8P1cdiuXNn9VecL9cy95wB9MP`
[code]

[2018-02-27 13:51] alvin-reyes commented on #4739
Apparently my new DO droplet didn't have gcc installed at all. I installed gcc and everything worked fine.

https://gist.github.com/application2000/73fd6f4bf1be6600a2cf9f56315a2d91

I'll close this one now. Thank you.

[2018-02-27 13:51] #4739 closed

[2018-02-27 17:48] Stebalien commented on #4560
Actually... It looks like this isn't an issue for rwlocks as locking for *writing* prevents any new read-locks from being acquired.

@schomatis my worry was that we unlock/relock in quick succession and might not give something else waiting on the lock to actually acquire it. However, that's not an issue as writers on rwlocks prevent any new read locks from being taken when blocked on acquiring th

[2018-02-27 17:48] #4560 closed

[2018-02-27 17:49] Stebalien commented on #4559
@schomatis probably not a good beginner project. It requires making deep modifications to the pin system.

[2018-02-27 20:25] whyrusleeping opened #4740 "better output for `ipfs stats bw`"
This command should be able to give a breakdown of bandwidth usage per protocol or per peer (not individually, but in a table) so you can easily see which protocol or peer is consuming the most bandwidth.

[2018-02-27 21:12] XertroV opened #4741 "Issue with `block get` and keccak256 - illegal base32 data at input byte X"
#### Version information:
0.4.13

#### Type:
Bug

#### Description:
Using `ipfs block put` and then `ipfs block get` can result in an exception being thrown.

Easy to demo:

[code]

This doesn't happen with other hashing algs (though sha3-256 doesn't work for a different reason):

[code]

It'd be really nice to use `keccak-256` because it's the cheapest on Ethereum.

[2018-02-27 21:45] schomatis commented on #4559
@Stebalien Thanks for the heads up. I have a couple of issues in line regarding locks, maybe after that I can give this a try.

[2018-02-28 01:31] schomatis commented on #4580
The problem seems to be the way in which the root object size is obtained. Normally the size of the directory is obtained from its parent's link size, but the root directory doesn't have a parent with that information.

[code]

In the second listing the size of the `dir` is correctly obtained from its parent node (unnamed directory) link size. The root object ([`LsObject`](https://github.com/ipfs/

[2018-02-28 13:34] schomatis commented on #4720
I can reproduce this. The function [`DagArchive`](https://github.com/ipfs/go-ipfs/blob/199a52d777e2b292fe430e8470d88037c43ed7ca/unixfs/archive/archive.go#L36) that prepares the output does not clean the path as the resolver does in [`Segments`](https://github.com/ipfs/go-ipfs/blob/199a52d777e2b292fe430e8470d88037c43ed7ca/path/path.go#L46).

[2018-02-28 13:37] schomatis commented on #4720
@yuri-sevatz Could you try that again with #4743?

[2018-02-28 16:37] iamruinous opened #4744 "Publish hangs and times out after many messages"
#### Version information:
go-ipfs version: 0.4.14-dev-9014c64f8
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.3

#### Type:
Bug

#### Description:
Publish hangs after sending numerous messages. I tried with various levels of concurrency, but the result is the same. The daemon must be restarted after the hang to make pubsub work again.

I've included a `pprof` profile as well:

[2018-02-28 19:23] lukecyca commented on #4488
It's been over two months since this bug was fixed, and the 0.4.14 milestone is still only 28% complete. Would it be possible to divide the milestone so we can make this fix (and other fixes) available in a release?

[2018-02-28 22:56] Stebalien commented on #4488
So... ignore the milestone, they don't often give any clear indication of blockers. At the moment, we have a few regressions with regards to the recently updated commands library that we'd like to fix before releasing.

However, I agree, we need to get a release out the door ASAP.

[2018-03-01 10:12] SeavantUUz opened #4745 "certificate is not valid for ipfs.io"
when I run `make install` for ipfs, error msgs occurred as below.

[code]

As I noticed, each fetching actions to ipfs.io bumped the same msg and which looks obviously -- the certificate somehow went wrong .

How did it happen, or, how could I resolve these issues.

Thx.

[2018-03-01 13:26] jhautefeuille opened #4748 "Openbsd 6.2"
gmake install_unsupported

[2018-03-01 15:32] rngkll commented on #3885
@whyrusleeping Thanks for your help.

Now we are getting something different with not a lot of output.

**Version**
repoadmin@ipfsapt:/data/repos/ubuntu$ ./ipfs version --all
go-ipfs version: 0.4.14-dev-199a52d
Repo version: 6
System version: amd64/linux
Golang version: go1.10

**Output**
[code]

[2018-03-01 19:01] schomatis commented on #4519
@Stebalien I took another look at this (sorry if I jumped the gun here, I don't know if you were currently working on it) and the main issue seems to be that [`dagTruncate`][DAGTRUNCATE] does not preserve the [`Type`][TYPE] of the parent of the node that is truncating (while manipulating its `Blocksizes` to adjust them to the truncated value). The magic number 175 is derived from the [`DefaultLink

[2018-03-01 19:18] whyrusleeping commented on #4519
@schomatis wow 👏👏👏👏👏👏👏👏👏👏👏👏👏

Great sleuthing work. I'm sorry for writing crappy undocumented code. So a bit of unix weirdness, truncating a file does not reset its current position (see https://golang.org/pkg/os/#File.Truncate). So that bit of the behaviour is correct, weirdness comes from a couple things i think:

- we should likely be extending existing data nodes up to the block size before ap

[2018-03-01 19:32] dirkmc opened #4749 "IPNS republisher should not rely on DHT to store (possibly expired) records"
The republisher relies on the DHT to store records, but those records may expire before republish occurs (eg if the republishing node goes offline). We should store them somewhere else in the datastore.
See https://github.com/ipfs/go-ipfs/pull/4742#issuecomment-369604767 for more details

[2018-03-01 19:33] dirkmc commented on #4749
@whyrusleeping do you have a suggestion for how we should store these records?

[2018-03-01 19:34] Stebalien commented on #4749
Proposal: make the republisher *wrap* the namesys service in a republishing namesys service. When calling `Publish` on the `RepublishingNamesys`, it would store the record in a datastore and then continue to republish that record until replaced or deleted.

Thoughts?

[2018-03-01 19:36] whyrusleeping commented on #4749
That sounds like a reasonable proposal to me.

[2018-03-01 19:42] Kubuxu commented on #4745
It seems like a problem on your side, looks like `ipfs.io` was redirected somehow to facebook IPs.

[2018-03-01 19:42] dirkmc commented on #4749
Should we merge in the PR to use variadic options for the namesys interface first?
 https://github.com/ipfs/go-ipfs/pull/4733

[2018-03-01 19:57] Stebalien commented on #4519
*AWESOME* work!

I'm not currently working on this. Would you be up to reviving that PR (you'll probably need to make a new one based on a rebased `feat/improve-mfs` branch) and fixing this issue on top of it? That PR also has a bunch of other MFS fixes that I never got around to merging (because I couldn't get the test case to pass due to this issue).

[2018-03-01 20:59] schomatis commented on #4519
@Stebalien Great, I'll give that a try and let you know.

[2018-03-01 20:59] Mithgol opened #4750 "(regression?) `ipfs add -r` does not follow symlink directories on Windows"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type:
Bug

#### Description:
In go-ipfs version 0.4.10 the command `ipfs add -r directoryName` where `directoryName` is a name of a directory symlink (created by `mklink /D`) worked fine on Windows (i.e. go-ipfs followed a symlink and added the linked directory's contents

[2018-03-01 22:18] whyrusleeping commented on #3885
@rngkll that one looks like the file in question has changed on disk. Would you mind filing a new issue for that? This thread is getting a bit long

[2018-03-01 22:19] whyrusleeping commented on #3885
Though i think its a result of the `--fscache` option and the file you are adding being changed on disk

[2018-03-02 00:53] Stebalien opened #4754 "Sandboxed datastores"
Currently, we just give every subsystem access to the global datastore. We usually namespace our own keys (in each service) but this will bite us eventually. Ideally, service implementations would be free to pick their own key naming schemes (and would *never* try to use the datastore as an interface to steal information from other services like namesys does with the DHT).

[2018-03-02 00:53] Stebalien opened #11226 "Sandboxed/namespaced datastores"
Currently, we just give every subsystem access to the global datastore. We usually namespace our own keys (in each service) but this will bite us eventually. Ideally, service implementations would be free to pick their own key naming schemes (and would *never* try to use the datastore as an interface to steal information from other services like namesys does with the DHT).

Note: this is totally d

[2018-03-02 01:45] schomatis commented on #4652
It seems that the `wrap-with-directory` option just exposes the MFS root that it is always there, the main use of the `Wrap` variable seems to be (I may be misinterpreting the code) to [hide or not the MFS root hash](https://github.com/ipfs/go-ipfs/blob/199a52d777e2b292fe430e8470d88037c43ed7ca/core/coreunix/add.go#L230-L252) that is printed to the user.

The mentioned inconsistency is just exposed

[2018-03-02 01:47] Stebalien commented on #4749
So, as I noted on that PR, the underlying namesys relies on this record itself to keep track of the sequence number.

I can think of three solutions:

1. Have the underlying namesys record the sequence number separately along with the last published value. IMO, we should do that regardless. Additionally, have the republishing nameservice record which names it should republish (and their last publi

[2018-03-02 02:15] schomatis commented on #4652
The ["empty" MFS root](https://github.com/ipfs/go-ipfs/blob/199a52d777e2b292fe430e8470d88037c43ed7ca/core/commands/add.go#L286) created for the `only-hash` option is based on the `EmptyDirNode()` function that creates a node with [`NodeWithData()`](https://github.com/ipfs/go-ipfs/blob/199a52d777e2b292fe430e8470d88037c43ed7ca/merkledag/node.go#L87). This function doesn't initialize the `Prefix` of

[2018-03-02 02:51] schomatis commented on #4652
The problem with the `--hash=Blake2b-256` option also stems from the fact the `Prefix` (and hence `MhType`) wasn't initialized.

[2018-03-02 02:58] schomatis commented on #4652
@djdv Would you mind testing #4755 and maybe help me write some tests for the PR?

[2018-03-02 07:08] SeavantUUz commented on #4745
Finally, I silenced these err msgs after I run an ipfs daemon on the machine. Just download the `dist` version and run it as a pre-condition. the reason is , the dependencies' path in the source marked by the way of ipfs itself. like `u "gx/ipfs/QmNiJuT8Ja3hMVpBHXv3Q6dwmperaQ6JjLtpMQgMCD7xvx/go-ipfs-util"`

is it interesting ? or have I made some mistakes? if not, shouldn't it be written in the re

[2018-03-02 08:36] yanghuxiao opened #4756 "IPFS private network video load break"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2

#### Type:

Bug

#### Description:

When I use IPFS private network,add mp4 file,bug the video can not play completed,the error show like:
[code]

[2018-03-02 09:06] Kubuxu commented on #4756
After you start daemon, without logging, it should print out up `Private Network fingerprint`, could you compare it between machines that it is the same.

[2018-03-02 10:39] yanghuxiao commented on #4756
@Kubuxu i run the same daemon in the same machines.
i run the three node like this
base env:
[code]

server node:
[code]

1st node client
[code]

then add the file to server node,get video from 127.0.0.1:8181 success ,but get it from client node break.

[2018-03-02 11:46] magik6k commented on #4741
This is caused by `block put` not switching to cidv1 when a custom multihash settings are provided. This is already fixed in https://github.com/ipfs/go-ipfs/pull/4563

[2018-03-02 13:16] Kubuxu commented on #4756
`ipfs init` generates a new keypair, then the address in bootstrap (on the node client) is no longer valid unless you update it manually. You can use `ipfs id` to get the ID of the node (the Qm...in bootstrap line).

You are saying that you are running, 3 nodes. You've sent configs for just two. Can you show the third?

Also just to clear up: you are trying to add file on client and fetch it from

[2018-03-02 13:40] hmage commented on #4409
1.10 is out.

[2018-03-02 13:42] magik6k commented on #4754
I'll have a look at this

[2018-03-02 13:50] Voker57 commented on #4717
Did you hit unpinned CIDs on your way by any chance? This currently causes VERY expensive computation.

[2018-03-02 14:02] yanghuxiao commented on #4756
node 3 is
[code]
the ID:QmVQjdsdyyNiNgRusUBgzYURbdUXQjHGocQ6yAq3Wd6FST is the server node id.

when I use `ipfs swarm peers` can see the other two peers.I think connect success , but when I get video,it load 1%,then break.

[2018-03-02 14:27] djdv commented on #4745
@SeavantUUz
Is it possible the national firewall is causing issues with the `ipfs.io` domain?
A friend of mine in Guangxi _sometimes_ has issues downloading from the public gateway but does not have issues getting content from me directly with `ipfs get` which is similar to how `gx` works if you have a local daemon running, you will fetch content from nodes directly over ipfs instead of over http.

[2018-03-02 14:39] hsanjuan commented on #4749
Quick note: you should be able to update to latest-gx-tagged `go-libp2p-kad-dht`, `go-ipfs-routing`, `go-libp2p-record` for this. I should have left everything working on that front.

[2018-03-02 15:34] Kubuxu commented on #4409
@hmage do you think we can close this issue? Next release is very near (today or in few days) and it should be built using 1.10?

[2018-03-02 15:39] hmage commented on #4409
Well, since I tested on unreleased 1.10 and this was fixed there, I'm all for it.

[2018-03-02 17:19] djdv commented on #4652
@schomatis
Sure thing, I left a comment on the PR.
Thanks for taking this on!

[2018-03-03 01:08] XertroV commented on #4717
@Voker57 - do you mean were my pinned CIDs linked to unpinned CIDs?
In that case: no. The pinned CIDs were all standalone objects with no links to other CIDs.

When I `rm`'d the pinned CIDs I used this script: https://gist.github.com/XertroV/1c909efeb061193a8feb4f4a2531153b

[2018-03-03 03:44] Stebalien commented on #4561
Nope. All yours!

[2018-03-03 04:38] Stebalien commented on #4744
Unfortunately, I can't reproduce this locally. This looks like a deadlock. Could you provide a goroutine dump?

[code]

[2018-03-03 09:05] Voker57 commented on #4717
@XertroV no I meant were you calling pin rm on on objects that are not pinned. Looks like that shouldn't have happened in your case.

[2018-03-03 17:40] #4409 closed

[2018-03-03 22:37] psprings commented on #4490
@leerspace I am seeing what I presume to be the same issue as @jyang with the following:

**IPFS version**: 0.4.13
**Docker version**: Version 18.02.0-ce-rc2-win51 (15631)
**OS**: Edition - Windows 10 Pro / Version - 1709 / OS Build - 16299.248

[code]

This happens whether I:
* Volume mount to `/data/ipfs/swarm.key`
* COPY to `/data/ipfs/swarm.key` via a `Dockerfile`
* `echo` contents to file (as

[2018-03-03 23:38] XertroV opened #4760 "`ipfs dag put` generating partially colliding/matching hashes"
#### Version information:

go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2

#### Type:
Bug (or just my misunderstanding)

#### Description:

So I don't think I've actually found a real collision or weakness (just seems so unlikely) - but here's the data anyway.

I have at least 1 other file that also does this (besides the `{}` base case), FYI

[code]

[2018-03-04 00:03] Stebalien commented on #4760
So, actually, all three of those hashes are *identical*. The part that's tripping you up is the multibase prefix. So... When you wrote `echo "{}" | ipfs block put`, we spit out a v0 CID. v0 CIDs are just raw multihashes. However ,when you wrote `echo "{}" | ipfs dag put ...` we spit out a v1 CID (next-gen). *These* CIDs use something we call multibase. That is, we prefix them with some symbol indi

[2018-03-04 00:06] Stebalien opened #4761 "pin verify --verbose hangs"
To reproduce, run `ipfs pin verify --verbose`.

[2018-03-04 00:07] kiahmed opened #4762 "ipfs get never returns"
#### Version information:

Output From `ipfs version --all`
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type:

#### Description:
when try to get a an object with its hash that I know already exists , it won't ever return. Now, my ipfs node is new deployed yesterday and repo size is only 180 mb, is it becase of that? How long it takes fo sync

[2018-03-04 00:11] Kubuxu commented on #4761
All of those might be causing issues:
[code]
but I haven't checked them.

[2018-03-04 00:47] Voker57 opened #4763 "Moving away from current pin system"
As suggested by @whyrusleeping in #4757

Current pin system has several problems, as I see them:

- Pins are stored in elaborate way in blockstore, enabling whole world to sniff your pins and introducing great deal of complexity to code like internal pins and global pin locking
- Pins are unnamed, so you can't structure/review them easily

Suggestions & reviews are welcome

My proposed PR: #4757
A

[2018-03-04 01:43] kiahmed commented on #3971
running on admin mode in win 10 pro, still get this error
[0;37m20:10:29.518 [31mERROR [0;34m   bitswap: [0mError writing block to datastore: Access is denied. [0;37mbitswap.go:317[0m

[2018-03-04 02:13] iamruinous commented on #4744
[ipfs.stacks.zip](https://github.com/ipfs/go-ipfs/files/1778097/ipfs.stacks.zip)

[2018-03-04 15:29] magik6k commented on #4754
I've looked at uses of datastore in the codebase:

* Blockstore: `/blocks`
* fsrepo fileManager: `/filestore`
* pin: `/local/pins`
* mfs: `/local/filesroot`
* republisher: global keys
* offline routing: global keys
* namesys/publisher: global keys
* namesys/pubsub: global keys
* dht: global keys
* name command: global keys

It looks like all the global stuff are just libp2p records (https://github

[2018-03-04 15:44] Kubuxu commented on #4754
As a point, this needs coordination with JS team.

[2018-03-04 21:49] Stebalien commented on #4754
@Kubuxu sure... but I'd like that coordination to be "the datastore is not an interface".

@whyrusleeping should also chime in, there may be a reason we're doing things this way.

[2018-03-04 22:54] whyrusleeping commented on #4754
@Stebalien Yeah, currently we let each individual service namespace its keys. We could instead let them use the global namespace, and pass them a pre-namespaced datastore (ending up with the same structure we have no and no migration). The issue with this is that it hurts developer UX a bit, and makes it easier to accidentally have clashing namespaces using pre-existing services.

We can do it, bu

[2018-03-04 23:18] kiahmed commented on #4762
also getting this error on screen:
[0;37m16:48:04.092 [31mERROR [0;34m       dht: [0mloggableKey could not cast key: 2f69706e732f12204dd24a1498d24850beabf7b0573dbba861c47a7079db660250cdf6e635ff0a4e invalid cid version number: 47 [0;37mlookup.go:35[0m

[2018-03-05 00:51] schomatis commented on #4561
@Stebalien The exported [`AddFile`][ADDFILE_EXPORTED] function is just a wrapper for the internal `addFile` function while also holding the pin lock, and it's only used by [`addAllAndPin`][ADDALLANDPIN] (in the `ipfs add` command). I think the logic of `addAllAndPin` should belong to the `Adder` and not to the `ipfs add` command (as the latter it's taking more responsability than it should about t

[2018-03-05 02:28] gogolxdong opened #4765 "IPFS gateway can't be accessed from China"
IPFS gateway can't be accessed from China unless using vpn, how to solve this problem?

[2018-03-05 02:30] kevina opened #4766 "Bump Repo Version and Provide Migration before strict Cid code lands"
Right now https://github.com/ipfs/go-ipfs/pull/4751 is providing a stop-gap measure to avoid allowing insecure hashes.  Things won't break, but the insecure hashes will become useless.  Once the strict Cid code (https://github.com/ipfs/go-cid/pull/40) lands things will likely break badly if there are any insecure hashes.  I recommend we bump the repo version and provide a migration tool that just

[2018-03-05 05:33] Stebalien commented on #4765
Duplicate of https://github.com/ipfs/community/issues/290.

The best way is to install go-ipfs locally and use your *local* gateway. However, there's also a list of alternative public gateways here: https://ipfs.github.io/public-gateway-checker/.

Note: this is *not* an endorsement of any of these alternative public gateways. I have absolutely no idea if they're trustworthy.

I'm going to close th

[2018-03-05 05:33] #4765 closed

[2018-03-05 06:41] dongtianyi commented on #4765
Yes, we use https://ipfs.github.io/public-gateway-checker  to check available gateway.

[2018-03-05 10:38] leonardoalt commented on #4583
@openthings Any news? I'm also stuck with that...

[2018-03-05 11:38] magik6k commented on #4583
Looks like there is no arm64 dist for gx (or anything else really).

As a workaround you can try `make install_unsupported`

[2018-03-05 12:37] Kubuxu commented on #4765
@Stebalien I think we should improve flow of installing go-ipfs straight from sources by building source distribution package of `gx`, `gx-go` and `go-ipfs` sources bundled and possibly signed so they can be transported by thirdparties with trust. What do you think?

[2018-03-05 15:32] schomatis commented on #4591
@rememberberry Could you check again with #4767 please?

[2018-03-05 19:39] whyrusleeping commented on #4766
This is a good idea, a migration is likely the best way forward.

[2018-03-05 19:42] whyrusleeping opened #4771 "Bitswap Sessions should close via a close method, not a context"
There is currently a sporadic test failure here in TestWantlistClearsOnCancel, because we are not sleeping after calling cancel to cancel a session: https://github.com/ipfs/go-ipfs/blob/master/exchange/bitswap/session_test.go#L315

I think @Stebalien opened an issue somewhere else talking about how we should stop using contexts to govern the lifetime of services. Switching to an explicit close met

[2018-03-05 20:25] #4761 closed

[2018-03-05 20:28] #4726 closed

[2018-03-05 20:33] #4719 closed

[2018-03-05 21:51] schomatis commented on #4495
@Stebalien Is someone currently working on this? (I'm checking because I saw this issue in the [release blockers list](https://hackmd.io/HJv3HOBoTeKfzFmoo1WWWQ#Help-Wanted).)

There seems to be a [race condition][RACE_PAIR] between the goroutine of the `ipfs repo verify` and the goroutine that emits/marshals the output. The marshaler is receiving a [`nil` output][NIL_OUTPUT] because the [context w

[2018-03-05 22:08] Stebalien commented on #4754
It's not *that* terrible... but then again, I use Emacs (:heart: global, mutable, shared namespaces).

Except that I'd expect DHT records to all be stored under a `/kad-dht` namespace, not `/pk` and `/ipns` as they currently are. That's the only place a migration would be necessary (unless we pass multiple namespaced datastores to the DHT).

However, this actually highlights one of my issues with

[2018-03-05 22:13] Stebalien commented on #4495
@schomatis thanks for diagnosing this! Nobody's currently working on it, feel free.

I took one look, gave up, and migrated this command to the new commands lib (https://github.com/ipfs/go-ipfs/pull/4764). However, having a proper fix would be *really* nice.

[2018-03-05 23:03] Stebalien commented on #4736
As this looks like a support question, I'm going to close it and direct any future discussion to https://discuss.ipfs.io.

[2018-03-05 23:03] #4736 closed

[2018-03-05 23:21] Stebalien commented on #3825
@Kamelia2000 please ask support questions on https://discuss.ipfs.io

(also, in general, please keep issue comments on-topic)

[2018-03-06 00:53] schomatis commented on #4495
@Stebalien This seems more a problem of the legacy commands library than the `ipfs repo verify` command (e.g., `ipfs filestore dups` and `ipfs filestore verify` have the same error). The `Output` function of `responseWrapper` discards the error received from [`Next`](https://github.com/ipfs/go-ipfs/blob/bea666f3cd2a6ea460b3329ff2516797d5885e27/commands/legacy/response.go#L35-L37) so when the outpu

[2018-03-06 01:47] Stebalien commented on #4495
I see what the problem is now.

So, when we switched to the new cmds library, we appear to have partially migrated marshalers. We *used* to call the marshaler *once* for the entire stream. We now call it for each item. However, the *interface* still acts like we're calling it once. This makes it really error prone, hacky, and shitty. I'm going to try some sed magic to fix this.

[2018-03-06 02:06] Stebalien commented on #4495
So, this really just sucks all around. I think the best way to fix this is to:

1. Manually migrate commands with multiple outputs to the new system.
2. Sed-migrate everything else to an intermediate.

I really have no idea how I missed this in review.

[2018-03-06 02:14] schomatis opened #4775 "ipfs object diff: check object contents"
As explained by @magik6k in a [comment](https://github.com/ipfs/go-ipfs/pull/4767#issuecomment-370466270), the command `ipfs object diff` doesn't specifically check the data of the objects, just the hash (CID) of its links. My question, in order to work on a solution, is what is an *object*? (in the context at least of the `ipfs object` command).

The command [`ipfs object put`](https://github.com

[2018-03-06 02:28] magik6k commented on #4775
But the `merkledag.utils.Diff` (which is used by `ipfs object diff`) does expect the nodes to be Protobuf nodes:

https://github.com/ipfs/go-ipfs/blob/c00482ab1931c582388022540b38d27b12f20ea0/merkledag/utils/diff.go#L109-L110

What I meant in the comment was to use the `cleanA/B` nodes to get the data to compare.

[2018-03-06 02:44] schomatis commented on #4775
@magik6k Thanks again for the clarification. I see now that the check of the links works as a filter of [`RawNode`](https://github.com/ipfs/go-ipfs/blob/c00482ab1931c582388022540b38d27b12f20ea0/merkledag/utils/diff.go#L97-L106) and similar types before the cast, I'll prepare the PR then and let you know.

https://github.com/ipfs/go-ipfs/blob/c00482ab1931c582388022540b38d27b12f20ea0/merkledag/utils

[2018-03-06 03:21] schomatis commented on #4775
Also, care should also be taken in the checks to ensure that `RawNode` nodes don't pass to the conversion stage.

[code]

I'll add this case to the tests.

[2018-03-06 09:53] sharathas opened #4776 "ipfs init issue"
Hi,
I have downloaded Go IPFS and tried to initialize. During the initialization process it runs into some error -
*C:\go-ipfs>ipfs init
initializing IPFS node at C:\Users\Abc\.ipfs
generating 2048-bit RSA keypair...done
peer identity: Qxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Error: failure writing to dagstore: A device attached to the system is not functioning.*

Can anyone help me understand

[2018-03-06 09:59] tututt opened #4777 "make install failed for Connection timed out!"
The following phenomena are as follows：
[code]
I do this in different network environment,but all the same

[2018-03-06 12:43] VictorBjelkholm commented on #4777
Could be the same underlaying issue as in https://github.com/ipfs/go-ipfs/issues/4745

Where are you trying to download from? Maybe you can try the solution outlined in https://github.com/ipfs/go-ipfs/issues/4745#issuecomment-369934944

[2018-03-06 15:20] magik6k commented on #4776
Which release do you use? Can you try whit the newest version from https://dist.ipfs.io/#go-ipfs?

[2018-03-06 15:42] VictorBjelkholm commented on #4776
Also, is ` initializing IPFS node at C:\Users\Abc.ipfs` the correct path? Seems like it's missing a `\` and it should be something like `C:\Users\Abc\.ipfs`

[2018-03-06 15:43] schomatis commented on #4775
@whyrusleeping Could you confirm that `Diff` is assuming `ProtoNode` nodes as input? In that case is it ok to error out when receiving `RawNode`? If not, how the different cases should be handled?

[2018-03-06 15:54] schomatis commented on #3991
@Stebalien Are you currently working on this?

[2018-03-06 16:54] sharathas commented on #4776
@magik6k  - yes, I am using the latest version: v0.4.13
@VictorBjelkholm: The path is - *C:\Users\Abc\.ipfs* as you pointed out.

[2018-03-06 18:44] Stebalien commented on #4765
Yeah, that sounds like a good idea. Also, publishing an IPNS record for dists.ipfs.io would help (https://github.com/ipfs/ipfs-update/issues/80)

[2018-03-06 19:12] vmx opened #4778 "pubsub sometimes hangs on Windows"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type: Bug

#### Description:

pubsub test sometimes hangs when running through js-ipfs-api. Steps to reproduce:

 - Get a working environment on Windows:
[code]
 - git clone https://github.com/ipfs/js-ipfs-api pubsubbug
 - cd pubsubbug
 - npm install
 - replace the file in

[2018-03-06 21:13] Stebalien commented on #3991
No but I can't remember the last state of this issue (i.e., what we planned on doing). The issue here is that we're mixing editable ProtoNodes with immutable Nodes. Ideally, we'd replace the `Copy` function with an `Edit` function, perform our edits, and then `Finalize`. However, that would likely be a rather large change. I worry that any form of synchronization here may significantly hurt perfor

[2018-03-06 21:13] kamaci commented on #3792
Whenever I try to start a private network I get ulimit error:

[code]

I've increased ulimit size via IPFS_FD_MAX, tried fresh install with declaring IPFS_PATH but didn't work. When I remove swarm.key (https://github.com/Kubuxu/go-ipfs-swarm-key-gen) I get no error.

[2018-03-06 21:18] Stebalien commented on #4775
So, `object diff` was designed to work over `ProtoNode`. However, IMO, it *would* make sense to treat `RawNode`s as protonodes with no links (within the `object` commands).

FYI, IIRC, the plan is to deprecate these commands anyways. We really should have an `ipfs dag diff`.

[2018-03-06 21:20] Stebalien commented on #4488
We should have an RC out in days. A release in a week, maybe. https://github.com/ipfs/go-ipfs/pull/4759

[2018-03-06 23:10] Stebalien commented on #3792
I don't see any ulimit errors there. It looks like go-ipfs is prematurely hitting the end of a file (probably your swarm key) when starting. Let's open another issue, this should have a better error message.

[2018-03-06 23:21] leavehouse opened #4779 "Key lookup somehow broken when using --key=<peerId> option for `ipfs name publish`"
#### Version information:

0.4.14-dev-199a52d

#### Type:

Bug

#### Description:

I somehow broke key lookup:

[code]

I don't recall seeing any error messages, but I was messing around with publishing things to IPNS all afternoon and had to cancel a few publish requests that I had made through the HTTP API because they hadn't returned after more than 10 minutes. It was working earlier today.

[2018-03-06 23:41] XertroV commented on #4760
Ahh! Neato. The more you know!

[2018-03-06 23:41] #4760 closed

[2018-03-06 23:56] Stebalien commented on #4675
There are really two ways I can see this happening and I don't think it'll be much of an issue:

1. Corruption. Detect this in the datastore and block writes until we do some form of fsck. That is, I'd consider this to be a problem at a different layer. (given that we'd now be in "data recovery mode", we could also just auto-pin all unaccounted for blocks in some "lost+found" like fsck does.)
2. T

[2018-03-07 00:22] whyrusleeping opened #4780 "random republisher test failure"
[code]

Seen on jenkins on latest master.

[2018-03-07 01:09] Stebalien commented on #4561
You're right, it's a "don't GC" lock.

---

So, being able to add individual files is nice. We'll want to discuss this a bit before we get rid of that ability.

Ideally, anything added with the adder should be temporarily pinned until we call `Finalize`. At *that* point, we should remove the temporary pin add a *real* pin if `adder.Pin` was set. Unfortunately, we don't have a temporary pin system

[2018-03-07 01:28] Stebalien opened #4781 "`ipfs get` doesn't work for small files"
[code]

:scream:

[2018-03-07 01:38] whyrusleeping opened #4782 "'ipfs dag patch'"
I recently chatted with a user who is using `ipfs object patch` to maintain a KV storage tree in ipfs. We should look into adding a patch command to `ipfs dag` so that users of `object patch` can migrate.

Note that this isnt quite as simple to implement as `ipfs object patch` is, but should still be doable under certain constraints.

[2018-03-07 01:41] whyrusleeping commented on #4778
@vmx is this only on windows? And not any other OS? It seems very fishy that this (without touching the CLI) would behave any differently than any other system.

[2018-03-07 01:46] Stebalien commented on #4781
So, apparently this only happens with go-ipfs 1.10. Possibly related to the http library? Maybe we need to flush something?

[2018-03-07 02:02] Stebalien commented on #4782
Personally, I'd use (something like) [JSON Patch](http://jsonpatch.com/). We could even use IPLD objects as patches.

[code]

However, we'll need a general purpose dag *encoder* system to get this working properly (we currently only have a general purpose dag *decoder* system).

[2018-03-07 02:06] vmx commented on #4778
@whyrusleeping I found looking into this issue as CI was failing a lot (https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs-api/detail/PR-705/4/tests) on this case on Windows. I was then able to reproduce it in a Windows VM easily. Though it seems to be a race condition, I'd say it happens in 60% of the cases. So far I haven't seen this failure on Linux.

It also seems that the more ite

[2018-03-07 04:44] alvin-reyes opened #4786 "Error: Import cycle not allowed"
#### Version information:
0.4.13 using go 1.10

#### Type:
Bug

#### Description:
Import cycle error when trying to build a fresh IPFS source

[code]

[2018-03-07 05:17] patmaddox opened #4787 "`ipfs get directory_hash` only gets empty files"
#### Version information:

go-ipfs version: 0.4.13-cc01b7f
Repo version: 6
System version: amd64/darwin
Golang version: go1.10
OS X 10.10.5

#### Type:

Bug

#### Description:

`ipfs get` with a directory hash appears to work, but only gets empty files

If I do `ipfs get QmS4ustL54uo8FzR9455qaxZwuMiUhyvMcX9Ba8nUH4uVv` (the help directory) I see:

[code]

but the files are all empty:

[code]

I jus

[2018-03-07 06:13] Stebalien commented on #4787
Dup of #4781. Try building with go 1.9.3.

[2018-03-07 06:16] #4787 closed

[2018-03-07 06:19] Stebalien commented on #4786
That's... very odd. It looks like an import cycle *in* `runtime/cgo`. We've had other issues with go 1.10 so I'd try compiling it with go 1.9.3 to see if that problem goes away.

[2018-03-07 06:43] patmaddox commented on #4781
I have two machines running OS X 10.12.6 that both work with homebrew ipfs. One reports go1.9.2 and the other reports go1.10. Both show that ipfs was "poured from bottle."

The machine that's broken is a 10.10.5 machine and homebrew says it was built from source.

I'll experiment with a different go version, but maybe the above info helps somewhat...

[2018-03-07 11:09] hsanjuan commented on #4763
The main considerations I can give as a pin-system user, out of the top of my head:

* Global locking. Add this to bitswap bugs and you end up perpetually locked.
* Can't enable/disable GC via the API. Fetching without pinning, or putting blocks without/before pinning, to avoid the pinning hurdles, leaves you exposed to GC wiping your content.
* No names (cluster added names for pins but it wouldn

[2018-03-07 11:42] kamaci commented on #3313
@Kubuxu I have some questions on this feature.

1) Why key generation is not a part of ipfs commands and can be generated via user i.e. https://github.com/Kubuxu/go-ipfs-swarm-key-gen

2) Is there any solution to encrypt the data send over ipfs nodes to prevent man in the middle attacks?

[2018-03-07 15:06] schomatis commented on #3991
Currently there's a [sort](https://github.com/ipfs/go-ipfs/blob/b002acc6896a40a915f10ff1d79ce3130e34f6a6/merkledag/coding.go#L80) in the `Node` (read-only) methods of `ProtoNode` that is not thread-safe (see the test in #4784).

As you said in another [comment](https://github.com/ipfs/go-ipld-cbor/pull/12#issuecomment-309070313) the `Edit()`/`Commit()` API may be hard to implement as a first solut

[2018-03-07 15:43] singpolyma opened #4788 "Support /ipfs/ absolute paths for gateway when Host header is set"
#### Type:
Feature

#### Description:

Today, when making a request to the HTTP gateway with `Host` header set, it does dnslink lookup and serves the content at that hash. This is great for hosting a website directly off IPFS. However, when I want to put links in my website to other content on IPFS, I want to use the correct `href="/ipfs/hash"` style. When viewing content on a gateway this works,

[2018-03-07 16:01] schomatis commented on #4775
@Stebalien Thanks for the heads up, in your opinion is it worth working on this? The main problem with this command is already address with #4767, this issue was about some more specific corner cases.

[2018-03-07 16:36] vmx commented on #4778
There's already some discussion about it at https://github.com/ipfs/interface-ipfs-core/pull/188.

[2018-03-07 17:20] Stebalien commented on #4775
Meh. I'm not that interested in putting *too* much work into the `ipfs object` commands in general (would rather focus on `ipfs dag diff`).

[2018-03-07 17:34] schomatis commented on #4775
Ok, closing this then.

[2018-03-07 17:34] #4775 closed

[2018-03-07 18:24] b5 commented on #4763
I'd resurface @Kubuxu's [comment](https://github.com/ipfs/go-ipfs/pull/4757#issuecomment-370238827) raised on #4757 pointing out this would be a great candidate for the RFC process. I'd _love_ to see some of the changes mentioned here, but knowing where pinning is headed in the long run is far more important IMHO

[2018-03-07 18:47] alvin-reyes commented on #4786
I manage to resolved this by removing (unsetting) the ```
GOROOT. I am now encountering a different error.

warning: GOPATH set to GOROOT (/usr/local/go) has no effect
lbin/check_go_version 1.9
bin/check_go_path /usr/local/go/src/github.com/ipfs/go-ipfs /usr/local/go/src/github.com/ipfs/go-ipfs
gx install --global
ERROR: Error: strconv.Atoi: parsing "t": invalid syntax
ERROR: req-check hook failed

[2018-03-07 20:12] dirkmc commented on #4749
I noticed that the Pubsub publisher [puts an IPNS record](https://github.com/ipfs/go-ipfs/blob/master/namesys/pubsub.go#L151) directly into the datastore, so that the republisher can later retrieve the record's sequence number. But it looks like namesys will [always publish](https://github.com/ipfs/go-ipfs/blob/master/namesys/namesys.go#L170) to both the DHT and to Pubsub anyway, so is it necessar

[2018-03-07 20:31] dirkmc commented on #4749
And I guess a related question: Should the republisher care about records published directly to Pubsub (but not to the DHT)?

[2018-03-07 20:31] vyzo commented on #4749
That's so that both itself and the DHT publisher can find it; the latter is important if you run your daemon having disabled pubsub.

[2018-03-07 20:34] vyzo commented on #4749
And yes, i think the republisher should care about pubsub published records, as these will have a different seqno.
Also, it's not inconceivable that we do just pubsub publishing in the future.

[2018-03-07 20:45] dirkmc commented on #4749
It looks like the pubsub record sequence number may be different from the DHT record sequence number for the same value in the following scenario:
- A client calls namesys Publisher to update an IPNS record
- namesys Publisher calls the DHT publisher, which increments the sequence number
- namesys Publisher calls the pubsub publisher, which also increments the sequence number

I'm not sure if that

[2018-03-07 20:50] vyzo commented on #4749
Yes, that's an artifact of the implementation.
Ideally they would both use the same seqno, but it seemed too complicated at the time i was writing that code and opted for different seqnos.
This kept the implementation straightforward, as the two publishers could be kept completely separate and without changes to the extant publisher.

[2018-03-07 20:51] vyzo commented on #4749
But since we are hacking the publishers, we might as well go the extra mile and have them use the same seqno for the record.
It shouldn't be causing any problems though.

[2018-03-07 20:53] dirkmc commented on #4749
Yes I agree, @Stebalien suggested simply comparing the values to make sure the sequence number is not incremented when the same value is published.

[2018-03-07 21:06] leavehouse commented on #4779
For posterity, I think wrong about this having previously worked. It looks like it never worked with the default peer ID

[2018-03-07 21:31] singpolyma commented on #4763
Async pinning would be a *huge* win

[2018-03-07 22:02] schomatis commented on #4781
@Stebalien The new [`regFileReader.Read()`](https://github.com/golang/go/commit/3bece2fa0e10c2dec37b3f57925def40c8191e37#diff-6ce8fb1d02e21c5b3b730dd7876959e9R635) in `go1.10` now returns in a successful read that reaches the end of the file both the number of bytes read and the `io.EOF` error (I'm not sure the intention behind this change in the API, there's no comment in the `switch` nor an expl

[2018-03-07 22:08] Kubuxu commented on #4781
That is our mistake as EOF always could be returned with some data.

[2018-03-07 22:18] schomatis commented on #4781
You're right, as the [`Reader`](https://golang.org/pkg/io/#Reader) interface specifies:

[2018-03-07 23:27] dirkmc commented on #4749
Is there a case in which we would want to publish only to pubsub (but not to the DHT)? I'm wondering if the pubsub publisher should call out to the DHT publisher itself, which would take care of all the [sequence number handling](https://github.com/ipfs/go-ipfs/blob/master/namesys/pubsub.go#L98) that it has to do at the moment

[2018-03-08 01:38] Voker57 commented on #4559
I think temporary in-memory pins can implemented in non-invasive way by storing them in Pinner https://github.com/ipfs/go-ipfs/blob/master/pin/pin.go#L183 and adding temporary pins to ColoredSet here: https://github.com/ipfs/go-ipfs/blob/master/pin/gc/gc.go#L171.

That would not be interfering with #4757 proposal.

[2018-03-08 03:36] Stebalien opened #4793 "Audit bad uses of Read"
Read can:

1. Fail to fully fill the target buffer even if there's more data to be read.
2. Read data *and* return an EOF at the same time.

We haven't been handling these cases well leading to #4781. We need to audit all uses of Read.

Progress:

* [ ] ipfs org
    * [x] go-ipfs:  #4790, #4792
    * [x] go-ipfs-cmds: none
    * [x] go-ipfs-cmdkit: none
    * [ ] fs-repo-migrations
* [x] multiform

[2018-03-08 04:04] kevina commented on #4793
Not very common but, read can also:

3. Read nothing, even when not at EOF, that is both data and err will be nil.

[2018-03-08 04:52] kevina commented on #4793
Maybe, it is rare enough that it unlikely we need to write special code for it.  This may mean looping until we get an EOF.   The worst thing this will do is waste CPU time unless the Reader is broken in which case the function may never return.  For example the fix #4710 (as of the time I wrote this comment) will simply loop until it gets an EOF.

Returning `io.ErrNoProgress` might be better, but

[2018-03-08 04:57] Stebalien commented on #4793
Yes. Absolutely.

[2018-03-08 05:55] vyzo commented on #4749
Currently no, but we might want this in the future.

[2018-03-08 10:56] S3bb1 opened #4794 "IPFS add hangs after some time"
#### Version information:
go-ipfs version: 0.4.13-cc01b7f
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type:
Bug

#### Description:

i refer to this topic:

https://discuss.ipfs.io/t/ipfs-daemon-doesnt-add-file-after-a-while/1836/8

we're currently adding smaller files (max. 256kb) to ipfs ... and sometimes the add will stop suddenly ... no error logs ... the debug log

[2018-03-08 16:08] dirkmc commented on #4749
I think if we don't always publish to the DHT it will cause an issue with publishing to a key shared between peers:
- An IPNS record for key A is published on peer A to pubsub but not to the DHT
- namesys Publish is called on peer B for key A
- Peer B goes out to the DHT to get the latest sequence number for key A
- The IPNS record published to pubsub (but not the DHT) by peer A will not be found,

[2018-03-08 23:22] davux commented on #2164
@jefft0,

I'd like to (kindly) challenge that point. The scenario you're talking about here is:
- Publisher A has a data file locally.
- Publisher B has the same data file somewhere else.
- Both save the file in IPFS but indicate a different MIME type.
- For some reason:
  - it is important that the two hashes be the same
  - it is not important that the MIME types be different.
  - A needs to re-

[2018-03-09 01:17] Kubuxu opened #4795 "ipfs diag cmds failure"
t0065-active-requests.sh:
[code]

[2018-03-09 02:31] schomatis commented on #4795
The `kill` [test](https://ci.ipfs.team/blue/organizations/jenkins/go-ipfs/detail/PR-4792/6/pipeline/60/#step-66-log-980), following the failed one, is missing the [`context canceled`](https://travis-ci.org/ipfs/go-ipfs/jobs/351106479#L9302) error. Could that be an indication that the `ipfs diag cmds` did not start?

[2018-03-09 08:03] S3bb1 commented on #4794
we have now updated to 0.4.14-rc to see if the issue occurs twice

[2018-03-09 12:26] gogolxdong opened #4796 "Original file removed and the resource with hashed value wasn't available any more."
The original file located in the server which was reinstalled these days and resource wasn't available any more. I though it would exist in IPFS network forever.

[2018-03-09 21:00] Stebalien commented on #4796
See: https://discuss.ipfs.io/t/how-permanent-is-data-stored-on-ipfs/354

[2018-03-09 21:00] #4796 closed

[2018-03-09 22:31] Stebalien commented on #4794
That may have been fixed by the RC but most of the issues fixed in the RC exhibited high memory and CPU usage (often crashing the daemon).

If you could provide a goroutine dump and, if possible, a CPU profile, that would be really helpful. See:
https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md

[2018-03-10 01:41] Stebalien commented on #4762
This looks like: https://github.com/ipfs/go-ipfs/issues/4512

I'd try building master from source. FYI, there should be a release with this fix in it pretty soon. We have an RC1 out.

[2018-03-10 01:41] #4762 closed

[2018-03-10 01:45] Stebalien commented on #4786
Are you trying to build go-ipfs as root? I strongly recommend against this. I'd set your GOPATH to be something like `~/go` and build go-ipfs there.

[2018-03-10 04:04] S3bb1 commented on #4794
Thx for the answer! I will create a dump when the problem occurs. Server is stable since Yesterday.

[2018-03-10 17:42] Stebalien opened #4801 "Ipld DAG diff"
Use-case: replace `ipfs object diff` with a generalized version that works for generalized IPLD DAGs.

Text syntax:

* Use `+` for added items.
* Use `-` for removed items.
* Use `~` for replaced items.
* Syntax: OP PATH VALUE

JSON syntax: Use JSON patch.
Generalized syntax: Basically, JSON patch with extra CBOR types.

Blocker: Pathing through DagPB nodes in go-ipfs isn't correct per the IPLD sp

[2018-03-12 07:59] tututt commented on #4777
@VictorBjelkholm I found the reason, because i don't set proxy right

[2018-03-12 08:04] #4777 closed

[2018-03-12 10:01] guybrush commented on #3065
I think it would be best to do global limitation and then also limit per protocol relative to the global limit. For example let `globalLimitUp = 1mbit/sec, globalLimitDown = 2mbit/sec` and then every protocol gets its share of the available bandwidth depending on how important it is for ipfs to function properly.

Maybe i misunderstand the problem though, i just came here because i noticed the hig

[2018-03-12 12:11] djdv opened #4808 "Windows initiative 2018"
This issue serves as an anchor to monitor the broader topic of `go-ipfs` on Windows.
Here I will be highlighting the current issues being focused on and the PR efforts to resolve them. Feel free to add anything to this topic that relates to `go-ipfs` on Windows as a whole.

**Build problems**
- [x] `make`
Fails to detect `gx` and `gx-go` properly
https://github.com/ipfs/go-ipfs/issues/4510
Resolve

[2018-03-12 16:42] Stebalien commented on #3065
@guybrush FYI, you can limit the bandwidth usage by turning off the DHT server on your node by passing the `--routing=dhtclient` flag to your daemon.

[2018-03-12 17:24] preetsinojiya opened #4810 "move config package default values to new config/default package"
go-ipfs version: 0.4.14-rc1-5622cc5bb
Repo version: 6
System version: amd64/darwin
Golang version: go1.10

Type: Code Refactoring

Description:
1) repo/config/bootstrap_peers.go
2) repo/config/init.go
3) repo/config/version.go

These files under package `config` use a lot of default values which users might want to customize for themselves.

I think a better design would be to move these default v

[2018-03-12 17:46] Stebalien commented on #4810
IMO, a better way to do this that's less prone to cause merge conflicts would be to add a custom config profile (see `repo/config/profile.go`). One can even do this from a separate file with an `init` function. Does this work for you or do you actually need to override the defaults themselves.

[2018-03-12 18:10] #4781 closed

[2018-03-12 19:49] Stebalien commented on #3811
This appears to have been fixed by the new commands lib.

[2018-03-12 19:49] #3811 closed

[2018-03-12 21:06] Stebalien commented on #4788
This is a bit tricky as it would conflict with any `ipfs` directory inside the website itself. However, it would definitely be useful.

[2018-03-12 21:51] Stebalien commented on #4559
@schomatis we're discussing various ways to fix the pin system but haven't decided on any yet. In the foreseeable future, the pinning system will probably stay as it is. @Voker57's right on this, we can probably add them to the pinner. I assumed this would require a deep modification but that may not be the case.

[2018-03-13 02:28] Stebalien commented on #4580
Sorry for missing this. Really, it would be nice to get file types into `ipfs ls` but that would have severe performance implications. We're planning on adding this information to directory entries later but it'll be a while till we do that.

So, @schomatis, if you'd like to fix this, go ahead. Your diagnosis sounds correct.

[2018-03-13 03:39] lukecyca commented on #4488
I've tested this issue on `0.4.14-rc1` and it doesn't appear to be fully fixed. I'm possibly doing something wrong.

My webui is at https://ipfs.example.com/webui which redirects to https://ipfs.example.com/ipfs/Qm...

However it is attempting to hit the API at http://ipfs.example.com:443/api/v0/...

So the port is correct in a way, but it appears to have "http" hardcoded as the URI scheme, so it

[2018-03-13 11:34] dokterbob commented on #4580
@Stebalien Note that by removing the existing types in listings, as with `ipfs file ls`, there remains not a single way to figure out - through the API or command line - whether a hash is a directory, a file or some other type - other than a hardcoded test for the first 2 data bytes of the object.

I really think there should be some abstraction in the API/command line of IPFS to figure out what k

[2018-03-13 14:12] djdv commented on #4808
Pipes and stdin seem to be partially working, it's fine if the daemon is running but gets caught up on the lockfile otherwise, needs investigating, tests, etc.

![partial pipe](https://user-images.githubusercontent.com/13862850/37346892-f5f774dc-26a6-11e8-8d4e-5671f01a056b.png)

[2018-03-13 14:25] djdv commented on #4808
Back-referencing other Windows related patches that are helpful to look at.

Building with `make` now works reliably (this should be in 0.4.14+): https://github.com/ipfs/go-ipfs/pull/4682

`gx` correctly handles subtools on Windows (will be in the next release of gx): https://github.com/whyrusleeping/gx/pull/154. For now, if you depend on this, you should build and install `gx` from the master bra

[2018-03-13 17:06] Stebalien commented on #4808
So, on Linux, the lockfile is automatically released when the process closes (by the OS). Unfortunately, windows appears to use the fallback which needs to be manually released. We may not be doing that somewhere.

Personally, I'd add some Windows specific logic to the lock package (https://github.com/camlistore/go4/tree/master/lock). Make it "succeed" if it can open the lock file with exclusive a

[2018-03-13 17:21] Stebalien commented on #4580
The problem is that you have to actually *fetch* the object. Listing the names in a directory requires only fetching the directory object. Listing the types as well requires fetching both the directory and the root block of all of the files in the directory.

However, we *should* probably have some kind of `ls -l` option.

Note: we do actually have a stat you can use: `ipfs files stat /ipfs/...`.

[2018-03-13 18:43] schomatis commented on #4580
I'm not sure what the fix should be. I can copy the `Size()` functionality from the `ipfs files stat` command and list the cumulative size for the directory (that right now is listing zero), but (if I understand correctly) that includes the size of the metadata encoded in the node, which is not the same as `Filesize` (actually `ipfs files stat` has the same problem as this command, it uses `GetFil

[2018-03-13 18:49] Kubuxu commented on #4808
As @Stebalien said, it is same on Linux. The root of the issue is that shells start all processes in the pipe at the same time, no matter the pipe order so `ipfs` commands compete for repo lock.

[2018-03-13 18:55] schomatis commented on #4559
@Stebalien I understand. Could it be useful to prepare a PoC PR to start exploring @Voker57 's option? Or should I wait for the proposal to mature some more?

[2018-03-14 00:22] Cole128 commented on #57
@myleshorton @whyrusleeping @jbenet  Yes, I am interested in how it works for the purposes of my own decentralized application. My application would require IPFS anyway, and I am wondering if I can just piggyback on the NAT traversal that IPFS uses, and then just specify a different a different port?

[2018-03-14 14:18] patientplatypus commented on #2649
This issue should not be closed! We are having the same issue. MUCH SADNESS

[2018-03-14 14:42] Kubuxu commented on #2649
@patientplatypus this is regression that was introduced, please report a new issue.

[2018-03-14 17:38] Stebalien commented on #4808
Personally, I'd like to fix this by starting the daemon in the background in a special mode that:

1. Disables the DHT server.
2. Shuts down after some amount of idle time.
3. Has a really low connection limit?