[2016-12-09 23:30] whyrusleeping commented on #3496
This appears to be in `t0235`:

[code]

I'm not 100% sure, but i don't believe processes necessarily get killed if their input process dies.

[2016-12-09 23:31] lgierth commented on #3496
Might need `-o pipefail`

[2016-12-09 23:43] whyrusleeping commented on #3490
Lets make sure to keep [the robustness principle](https://en.wikipedia.org/wiki/Robustness_principle) in mind. I think that our 'nice' interface that we're expecting users to interact with frequently should be very easy to use.

Python is quite nice to use and hack things together with, as is javascript. We should make sure to consider who this api is intended for when designing it, more advanced

[2016-12-09 23:46] whyrusleeping commented on #3496
@lgierth i don't think that would do it. The problem is that the `nc` process just isnt dying. setting pipefail would make just make it return non-zero *when* it exits *if* `go-sleep` returns a non-zero exit code.

[2016-12-09 23:46] whyrusleeping commented on #3496
cc @chriscool and @Kubuxu

[2016-12-09 23:48] Kubuxu commented on #3490
In my opinion robustness principle applies to user facing interfaces, not really dev facing interfaces, we don't want to replicate what browsers do with broken HTML.

[2016-12-09 23:49] Kubuxu commented on #3496
we can have test after it that always kills it.

but apart from that we should have teamcity run some sort of containers (docker, lxc, lxd, whatever), and scrap the whole container after test is done.

[2016-12-09 23:51] whyrusleeping commented on #3496
@Kubuxu Yeah, we should be. But i'm not aware of any containerization stuff that works on OSX. I read that docker supports osx 'natively' but i'm not sure whether or not that means the OS inside the container will still be osx.

[2016-12-10 00:10] lgierth commented on #3490
Eeeh the robustness principle goes down the whole stack :)

But let's stay on topic:

---

The difference between what I proposed in the #3493, and what I proposed with `Resolve*()` above, is where we place the being-liberal-in-what-we-accept. The former is implicit, the latter is explicit.

We have a similar separation of concerns on the HTTP API and CLI: there's all the functions that do stuff a

[2016-12-10 00:15] lgierth commented on #3490
The users of the Core API want to:

- Plumb something together quickly, i.e. what go-ipfs-api (aka ipfs-shell) is provides. Super simple interfaces with not a lot of surface.
- Build proper applications embedding go-ipfs or parts of it

The first point is why it's critical to accept as many kinds of paths/CIDs/multihashes/URIs as reasonably possible. The consumer might be getting these values from

[2016-12-10 01:07] jbenet commented on #3490
I will respond with more in a bit, but quick thoughts (since others are thinking about it now):
- i'm not convinced `cid.CID` should be the type the core IPFS functions operate on. It should be our `path.Path` (really `ipfs.path.Path` if it was more qualified). Think about it like a file system.
- My instinct here is that we should not be asking people to resolve to CID because what we're operatin

[2016-12-10 01:08] jbenet commented on #3490
Personally, I need to think about this more deeply before making up my mind here. it's definitely tricky.

[2016-12-10 01:10] jbenet commented on #3490
I think what this question boils down to is: what does IPFS operate on? Roots of trees? or Subtrees?

[2016-12-10 01:11] jbenet commented on #3490
"subtrees" (paths) includes "roots of trees" (implied by a CID).

[2016-12-10 01:17] jbenet commented on #3490
(btw, i _can be_ convinced `cid.CID` is the right abstraction, i just need to see more cases).

What is the case for `cid.CID` and against `path.Path`?

Or _truly_, what is the case for `ipld.CID` and against `ipfs.Path`?

[2016-12-10 01:30] lgierth commented on #3490
Huh, the pinning example is very very tricky. Would be best if we could define those semantics away :)

The main advantage I see in preferring CIDs is efficency. No need to build a path just to take it apart again right away. I'm thinking of e.g. the use case of building plumbing tools here. There could be GC strategies implemented as external tools, and they'd deal with toooons of items.

I have

[2016-12-10 01:31] lgierth commented on #3490
Btw, happy about a great discussion so far, and within only a few hours! :+1:

[2016-12-10 01:32] whyrusleeping commented on #3490
I think that path could be made into an interface, and the object could either be a string, or a cid+subpath, and the subpath could be zero length.

[2016-12-10 14:53] chriscool commented on #3496
I would suggest killing the process explicitly like this:

[code]

[2016-12-10 23:34] jbenet commented on #3490
Yeah maybe. that pinning example could be accomplished with a selector, too (if we extend pinning to be IPLD selector aware), so maybe it's not the best example.

I'd like to see the change by consdiering the whole API. We really need a nice ipfs core package with all the operations there. right now so much is split into the commands themselves...

---

We could make paths efficient if we need to.

[2016-12-12 06:35] lockedshadow commented on #3117
First of all, I apologize for my bad english. Hope that you can understand it.
(But it very important topic for me, so I'm try to expound my point of view!)

...and when I pin some IPFS object, I'm explicitly agreeing to host that object permanently (until I not unpin that, of course). So maybe the upcoming mechanism of republish third-party IPNS records should contains the same two mode? And proc

[2016-12-12 14:03] hsanjuan commented on #3490
Question: isn't a path like `<hash>/a/b/c` very constrained by IPLD specs (or idea)? Is IPLD dictating that `hash` is a Cid and that `a/b/c` are subtrees of that object, that `/` is a reserved char, and that `a`, `b` and `c` have certain charset/length limitations?

In that case, having `ipld.ID` would be the appropiate. If you would prefer it, it can be an interface which both `ipfs.Path` and `ci

[2016-12-12 14:07] dignifiedquire commented on #3440
@Kubuxu @whyrusleeping this is not related to sharding code, tested with `0.4.5-pre` which does not contain #3042 and seeing the same issue when running with `ipfs-whatever` and `ipfs object stat` on the root hash of the graph generated.

[code]

[2016-12-12 14:19] keks commented on #3223
I've been working on pubsub for a while and would like to get it out of the experimental phase. One question I have about this is what is a topic string vs. topic id? It seems that at the moment any string qualifies for a topic id so this is not very clear.

[2016-12-12 18:30] brodo commented on #340
I've started working on this (see screenshot).
Currently, I'm checking if the output is a TTY with the isTty function in `cli/parse.go`. The problem is checking the config. Currently the config is only read on demand. If we want to have the option in the config, it needs to be read it directly in `ipfs/main.go`. My personal preference would be not to put the option in the config file, but introduc

[2016-12-12 21:05] Kubuxu opened #3498 "Test utility lib"
As follow up to: https://github.com/multiformats/go-multibase/pull/6

It might be worth to think a bit about introduction of test utility lib so we don't have to use 3 lines for to pass through an error or to compare two values. Space on a screen is a resource too that shouldn't be wasted.

I would also like for use to settle on one lib so it is uniform across codebases.

https://github.com/stretc

[2016-12-12 22:00] whyrusleeping commented on #3221
This was actually done in https://github.com/ipfs/go-ipfs/commit/a3bd3bc3

https://github.com/ipfs/go-ipfs/pull/2939

[2016-12-12 22:00] #3221 closed

[2016-12-12 22:01] whyrusleeping commented on #3498
I'm pretty against external test libs in general, if everyone else disagrees with me, i could be convinced otherwise, but in general i like writing vanilla go tests.

[2016-12-13 08:21] wigy-opensource-developer commented on #3498
When it comes to me, I like redhead girls. But besides personal taste, why do you dislike external test libs? 😋

Back to serious, you mentioned vanilla tests. Does that mean you do not like to extract methods reusable all around test code? Or you just do not want to depend on a library maintained and vendored independently from Protocol Labs?

[2016-12-13 09:37] roo2 commented on #2650
I also saw this issue in OSX 10.11.6 ipfs 0.4.4

[2016-12-13 10:22] jbenet opened #3500 "Shouldn't dag api take paths, not just CIDs?"
#### Version information:

[code]

#### Type:

This should work
[code]
I get

[code]

and
[code]
works fine :/

[2016-12-13 15:21] hsanjuan commented on #340
I like `--color`, but let's see if others can weight in. Maybe there are considerations for having this in the config.

[2016-12-13 16:26] hsanjuan commented on #3498
I agree with @whyrusleeping. I love rspec, and I also landed on `testify` looking for something similar. But Go is Go. We cannot have magic mocks like in Ruby. So it wasn't going to help so much and I went for less dependencies and vanilla tests, which do the job all the same, albeit with some extra lines. Almost everything in Go takes extra space on screen, so I find it a weak reason to introduce

[2016-12-13 18:23] wigy-opensource-developer commented on #3498
You are right, @hsanjuan. Assertions for equality, their semantics, their options are so common case that it should be in the Go language itself. That would save developers learning new idioms for these common tasks in each project.

But Go is Go, so what options we have to reduce noise in the test codes?

Grown up on http://xunitpatterns.com/ I really treat test code as first-class citizen that n

[2016-12-13 22:52] briantigerchow commented on #340
Perhaps, when no config exists, the program can be treated as though the color option is not specified.

[2016-12-13 23:24] ianopolous opened #3503 "Extra newline at end of "dag get" result"
#### Version information:
go-ipfs version: 0.4.5-dev-4cb236c
Repo version: 4
System version: amd64/linux
Golang version: go1.7.1

#### Type:
Bug

#### Priority:
P1 (for me)
#### Description:
Using either the cli or http api the dag get command seems to add an extra newline 0x0A on the end of the raw data.

To reproduce using cli:
[code]
then
[code]
should give 13, but gives 14, and the extra byte

[2016-12-14 00:14] Kubuxu commented on #3503
JSON isn't a stable format, we have no way of knowing was was the initial format of the json you have passed in.

Also you are passing it in with a new line, but doing `printf "%s" '{"data":1234}'` won't change anything.
The formatting of the output JSON format is arbitrary if you store it as pure data.

[2016-12-14 00:22] ianopolous commented on #3503
_ipfs dag put --help_ says that the default input format is JSON.

[2016-12-14 02:49] djdv commented on #3503
I think Kubuxu is saying that `echo` is outputting your string but also a newline, so what you meant to pass in and what is actually being passing in are different. `printf` will print the string and not add a newline.
![untitled](https://cloud.githubusercontent.com/assets/13862850/21167895/d3f7ca56-c17d-11e6-8513-b74e123c1a66.png)

[2016-12-14 07:04] Kubuxu commented on #3503
Yes, input format is JSON but storage format is CBOR, which is stable format.
There are infinitely many ways you can store same data in JSON (`{"data":1234}`, `{"data":1234 }`, `{"data": 1234}`, and so on) but from the usability standpoint it is more important that the same information has the same address.

If you want to store the white-space information, use plain `ipfs add` which doesn't inter

[2016-12-14 08:38] ianopolous commented on #3503
@djdv I tried the printf suggestion, but, as Jakub predicted, it gives the same result.

@kubuxu I get that JSON -> CBOR is many to one, and you need some canonical format. What I don't get is why that canonical format has a newline outside a minimal form of the json. As a consumer of the api, even one who is well versed in other aspects of IPFS this is surprising to me. (Also, I originally submit

[2016-12-14 09:25] brainstorm commented on #2823
Running into similar issues, but just barely 15 relatively small files in a Linux AWS 2GB RAM instance /ping @rcurrie:

[code]

[2016-12-14 10:11] wigy-opensource-developer commented on #3052
@g-corneu Hi! Do you have some progress on this? To fix DeCentral-Budapest/ipns-gen#1 we would need this to happen. Are you planning to finish fixing this issue?

[2016-12-14 10:22] Kubuxu commented on #3052
Publishing gx package is very simple even out of the tree, here is gx package of the master right now: QmYTzqEnC31PnxQoA9WhtDsJnVTeDkHaUnh33X3LmKsKLf

I will make sure that during next release it is done too.

[2016-12-14 11:06] wigy-opensource-developer commented on #3052
Wow, what a prompt response. Thanks a lot. I thought that the original idea of this issue was to add a target to the Makefile that does the release to gx, so a `make release` could do the trick when the time comes.

[2016-12-14 11:45] Kubuxu commented on #3052
gx packages usually have `.gx/lastpubver` file that contains hash and version of last "officially" published release, I will make sure that it is introduced with next release of go-ipfs.

[2016-12-14 12:19] Voker57 opened #3505 "ipfs pin add is very slow / hanging"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7

#### Type:
Bug

#### Priority:
P3
#### Description:

I have a directory with 25G files in IPFS, to which I'm adding another file with 4GB. After adding, I'm trying to pin new directory version.

[code]

[2016-12-14 13:35] Kubuxu commented on #3505
What happens if try pinning after the refs call?

[2016-12-14 13:37] Voker57 commented on #3505
Results are inconclusive. One time I got fast pin add ~15 minutes, now it hangs anyway.

[2016-12-14 13:40] Kubuxu commented on #3505
If you can, providing following debug info would be quite useful: https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md#beginning

[2016-12-14 13:40] Kubuxu commented on #3505
Best when you observe that it is stuck.

[2016-12-14 13:41] Kubuxu commented on #3505
Make also sure that garbage collector is disabled, it might interfere is you are adding and not pinning.

[2016-12-14 14:05] lgierth commented on #3052
Yes we should publish it as a proper package. Need it for ipns-pub and other similar tools too.

[2016-12-14 14:05] Voker57 commented on #3505
Debug info in "stuck" phase: http://dump.bitcheese.net/files/lysomul/ipfs.debug.tar.gz
GC is disabled.

[2016-12-14 14:40] wigy-opensource-developer commented on #1243
This problem still exist. FUSE related tests are not automated. They do not seem to be run by anyone manually either.

When I run the sharness locally on Linux, the actual issue seems to be that `ipfs mount` cannot succeed without `ipfs name publish /ipfs/QmUNLLsPACCz1vLxQVkXqqLX5R1X345qqfHbsf67hvA3Nn` that cannot succeed without bootstrapping other peers ("Error: failed to find any peer in table"

[2016-12-14 16:48] Kubuxu commented on #1243
FUSE currently is in very bad state it has bigger problems than sharness not running, for example our unit tests for FUSE are hanging in the kernel. After 0.4.5 is released we will try updating the fuse lib to check if it resolves anything, see: https://github.com/ipfs/go-ipfs/pull/3414

[2016-12-14 17:03] Kubuxu commented on #3463
Other idea is, how about hashes of the CID, with some fast or extremely fast hashing algorithm.
Fast:
- Murmur3
- Blake2b/s

Extremely fast, http://www.cse.yorku.ca/~oz/hash.html:
- djb2
- sdbm

[2016-12-14 17:33] Kubuxu opened #3506 "Mutex/Lock limit"
As discussed in: https://github.com/ipfs/go-ipfs/pull/3437
Locks are tricky, edge cases are easy to miss and even easier to introduce later.

I don't know if you agree with me but I would like to limit ourselves to at most two locks in play at any given time. As it was shown before (by deadlock in bitswap and the PR that almost introduced lock related race), it is hard to get work on two concurren

[2016-12-14 18:01] whyrusleeping commented on #3506
Depends on the situation. I'm not going to make any blanket rules about "thou shalt not use this many locks".

[2016-12-14 19:13] kevina commented on #3463
I am not sure I like the idea of hashing again @Kubuxu as it would make it difficult for users to manually find where a key is.  I would still prefer the next to last 2 digits as that will give a perfect 1024 way fanout no matter what the key is and can still make it possible to manually find the key.  I can live with the last 3 digits though.

[2016-12-14 19:45] Kubuxu commented on #3463
Using last digits (or N from last M) will already be quite hard so I don't think that manual user usability is the first priority.

[2016-12-14 19:59] kevina commented on #3463
@Kubuxu, by inspecting the base 32 representation of the key, for example:
[code]
I can easily determine that the last 3 digits are `CAY` and the next-to-last 2 digits are `CA` I don't see what is hard about that.  If we use a hash function than I will have no idea what directory this key in in unless I first computing the hash or use something like `find` to search for it.

[2016-12-14 19:59] Kubuxu commented on #3417
Resolved in https://github.com/ipfs/go-ipfs/pull/3502

[2016-12-14 19:59] #3417 closed

[2016-12-14 20:03] Kubuxu commented on #3463
I am not trying to argue, just showing that there is an option, which might be worth exploring if we hit the same issue again. Each migration is small hick up for users.

[2016-12-14 20:15] whyrusleeping commented on #3224
This exists

[2016-12-14 20:15] #3224 closed

[2016-12-14 20:20] whyrusleeping commented on #3223
@keks the topic string is a human readable name, this is what we're currently doing when we use pubsub. The next step is to start using the topic descriptor stuff that we've been planning on for a while. Once we do that, the topic id will be the hash of the topic descriptor object.

[2016-12-14 20:36] Voker57 commented on #3505
In "stuck" phase ipfs daemon is sending 10MB/s somewhere. If command is interrupted, network activity disappears.

[2016-12-14 21:00] #2078 closed

[2016-12-15 00:22] whyrusleeping commented on #3463
@Kubuxu we cant do hashes of the cids. how would `ipfs refs local` work?

[2016-12-15 00:25] Kubuxu commented on #3463
hashes of the CID would be only to choose the directory container for flatfs, inside this containers block would have its original hash as a name.

[2016-12-15 13:02] Zanadar opened #3510 "question: IpfsRouting interface residue (FindProviders)"
#### Version information:
[code]

#### Type: Question/ bug?

#### Priority: P5

#### Description:
I was poking around writing some tests for `offline` routing and I discovered that there seems to be some residue of an interface that I can't find anywhere else in the form of the `FindProviders` method.

`IpfsRouting` does not implement this method at present, but a few tests and mocks hanging aroun

[2016-12-15 13:05] Kubuxu commented on #3510
It is implemented by go-libp2p-kad-dht: https://github.com/libp2p/go-libp2p-kad-dht/blob/67413010a1f5dc28edc3e353b97a66b2a4063903/routing.go#L292

[2016-12-15 13:28] robcat commented on #3463
@Kubuxu

Wait a moment: if you accept that the directory name can be an arbitrary function of the CIDv1 (and not just a slice of its b58 encoded CIDv1), the obvious candidate should be this function:

1. take the last `k` bits of the binary CID (getting a `k^2`-fold sharding)
2. encode them in a filesystem-friendly format (e.g. hex)

This seems the obvious solution, since CIDv1 and multihash speci

[2016-12-15 15:42] Kubuxu commented on #3463
Yes but keys are encoded already in base32 due to how datastore API works, which means that randomness of last N bytes depends on length of the input.

[2016-12-15 19:44] whyrusleeping commented on #3503
Yeah, the primary issue here isnt that the input object differs from the output object, the problem is that theres a newline after the json blob for some reason.

[2016-12-15 19:50] whyrusleeping commented on #437
I think we can close this, once we actually have bitswap strategies we can worry about a bitswap strategy subcommand

[2016-12-15 19:50] #437 closed

[2016-12-15 19:52] whyrusleeping commented on #230
We now have the ability to create files that have no formatting in the leaves via `ipfs add --raw-leaves`. This option may be made the default at some point in the future.

[2016-12-15 19:52] #230 closed

[2016-12-15 19:53] whyrusleeping commented on #176
@lgierth can this be closed in favor of core api discussions?

[2016-12-15 19:53] RichardLitt commented on #338
Closing in favor of https://github.com/ipfs/community/issues/139.

[2016-12-15 19:53] #338 closed

[2016-12-15 19:57] whyrusleeping commented on #959
I'm going to go ahead and close this issue.

Further discussion of dokany windows can and should go into a new issue (either on this repo or on the dipfs repo).

Further discussion of problems with running ipfs on windows should open a new issue for each problem encountered.

[2016-12-15 19:57] #959 closed

[2016-12-15 20:00] kevina commented on #3463
@robcat that is another idea that @whyrusleeping suggested over IRC.  It would involve decoding the base32 encoding taking that last binary bits and then reencoding them.  So @Kubuxu it can work and I would say that is better than using another hash function.  However, like the hash function it is non-obvious on inspection what directory the block would be in.

[2016-12-15 20:03] Kubuxu commented on #3053
We go unittest coverage on Codecov right now: https://codecov.io/gh/ipfs/go-ipfs
I am working on sharness coverage to be published to Codecov in the https://github.com/ipfs/go-ipfs/pull/3504

[2016-12-15 21:18] whyrusleeping commented on #3463
Alright, we need to come to a decision here today.

I like the idea of using the next to last two digits more than the idea of rehashing or doing extra encoding work. Everyone seems pretty set against using the last three (though i really don't think that it will be a problem).

@Kubuxu What do you think of using the next to last two?

[2016-12-15 21:18] whyrusleeping commented on #3463
also cc @diasdavid because he is interested in changes to flatfs

[2016-12-16 00:09] Kubuxu commented on #3463
I am not against last X or next to last X, but if next to last X gives us better distribution I think we should go for it.

[2016-12-16 00:43] whyrusleeping commented on #3510
Yeah... `FindProviders` is deprecated in favor of the `FindProvidersAsync` call. We should probably just remove it for good at this point.

[2016-12-16 00:54] diasdavid commented on #3463
Just for clarification, when the word `digit` is used, what we mean is char, correct?

Hashing again to increase the distribution would bite us in terms of inspection and would probably force us to add a multihash in from of each block to say which second hash is used, therefore changing the blocks.

Dynamic prefix width would be that we would have to have a way to signal that, or to do several re

[2016-12-16 01:05] Kubuxu commented on #3463
Second hashing would be only choosing which directory-shard the block falls in, there in no need for multihash there (it can be changed by migration or be flat-fs specific).

Lengths and shards, see: https://github.com/ipfs/go-ipfs/issues/3463#issuecomment-265668675

The flat-fs sharding is not speced out anywhere.

[2016-12-16 01:35] kevina commented on #3463
@diasdavid yes by _digit_ I mean char in a base 32 representation sorry for the confusing terminology.  I was trying to avoid "byte" to distinguish it from a byte in the raw binary representation.

[2016-12-16 01:54] Zanadar commented on #3510
Makes sense. I can put up a PR to pull it out.

[2016-12-16 02:24] diasdavid commented on #3463
The next to last doesn't seem that a thing that would be unreasonable to ask for contributors to understand, it just needs to be on the spec :)

[2016-12-16 02:33] kevina commented on #3463
Okay it sounds like we are in agreement, use the next-to-last 2 characters to get a nice guaranteed 1024 level fanout no matter what type of Cid is used.  @whyrusleeping agree?

I will update the code and also update the spec.

[2016-12-16 02:44] whyrusleeping commented on #3463
@kevina sounds good to me, ship it

[2016-12-16 04:15] #3436 closed

[2016-12-16 10:41] Kubuxu opened #3511 "Update go-libp2p-kad-dht"
For https://github.com/libp2p/go-libp2p-kad-dht/pull/44

[2016-12-16 14:19] lgierth opened #3514 "Investigate add/pin/gc locking"
While looking into #3470 and #3436, I found that the locks around adding/pinning/GC look really wonky and inconsistent.

This issue is a reminder that we need to:

- [ ] Look very closely at which locks are in play
- [ ] Document in detail how these locks work
- [ ] Write stress tests which make sure we don't end deadlock ourselves

[2016-12-16 15:14] lgierth commented on #3490
The only reason for my insisting on CIDs playing *some* role is efficiency and preventing superfluous conversions and resolutions all over the place. But by now I do agree that paths are pretty important.

How about an enhanced Path object which can hold the resolved Cid? I'll come up with a bit of code in a few.

[2016-12-16 15:23] hsanjuan commented on #3514
Yes, I've also noticed weird things like `pin ls` being blocked if a `pin add` is ongoing. I'm going to be looking more closely into this in the near future.

[2016-12-16 18:40] Kubuxu commented on #3496
This might be a solution: https://paolozaino.wordpress.com/2015/08/04/how-to-run-your-applications-in-a-mac-os-x-sandbox-to-enhance-security/

[2016-12-16 21:44] lgierth commented on #3490
Okay, so here's a very minimal `coreapi.Path` which is capable of retaining the CID once it has been resolved, and c6dc74b4c7a6a843484a5ebd9f0f575d5714c262 wires it with the rest.

[code]

[2016-12-16 21:45] lgierth commented on #3490
And the ResolvePath function:

[code]

[2016-12-16 21:54] Kubuxu commented on #3490
I would make the String method deffered to create `path` on access, there might be cases that his allocation and conversion is completely unnecessary and the `cid.String()`method includes base58 conversion which has quite hight cost.

[2016-12-17 18:37] whyrusleeping commented on #3490
Hrm... is the cid in the path object the 'final' object? Or the 'root' object? I was thinking that it should be the root.

So in the case of `/ipfs/QmFooBar/a/b/c/d`, the path object would contain `/a/b/c/d` and `Cid(QmFooBar)`

[2016-12-17 23:05] Kubuxu commented on #3496
This might be also general solution for those sorts of problems:
[code]

[2016-12-18 00:59] lgierth commented on #3490
What do you have in mind? My thinking was that cid and path represent the same node, so that they can be used interchangeably.

[2016-12-18 02:00] lgierth commented on #1482
Small note, I unchecked the storage_max todo in this thread's root comment -- there is a Datastore.StorageMax option, but it's currently only taken into account with regard to GC. It doesn't currently set a hard limit on storage usage.

[2016-12-18 02:33] lgierth commented on #176
Yes, closing this.

The follow up on this is that there's now a Core API ([ipfs/interface-ipfs-core](https://github.com/ipfs/interface-ipfs-core)) which all IPFS implementations should implement. The go-ipfs implementation of this has only just started and currently lives in the `core/coreapi` package.

[2016-12-18 02:33] #176 closed

[2016-12-18 16:45] mib-kd743naq commented on #3442
I started playing with this again. Here is [the "put-sequence"](ipfs.io/ipfs/QmSZ97nmxwoHiheZ9qSBEz9Fgqz7iDtkYbyymeR96S94vS) that produced [QmQxa8P7g4n17wsvYNxn9xN2H79n3NYXyURnFTjYeB7BPV](https://ipfs.io/ipfs/QmQxa8P7g4n17wsvYNxn9xN2H79n3NYXyURnFTjYeB7BPV) (just the string `123\n45\n`)

I had to make some adjustments, @whyrusleeping please comment if any of this looks out of place:

Tags can only

[2016-12-19 04:39] kevina commented on #3285
Okay, I managed either recreate or retrieve all the deps on my hard drive as of about a month ago.  The list is available in [this gist](https://gist.github.com/kevina/f3bb24a41af46c27fe30dbdb3c2db3e7).  Not all of them where lost but it was difficult for me to tell so I just pinned them all.  They are pinned on this node:
[code]
Could you pin these on the gateway or wherever you keep gx dependeci

[2016-12-19 07:27] Kubuxu commented on #3285
Thank you for recreating that, we might have lost some due to the pin bug that was in go-ipfs from 0.4.0 to 0.4.4, I will pin them on one of the storage nodes.

[2016-12-19 13:50] Kubuxu opened #3520 "commands: Description generator panics if there is no option description"
[code]

[2016-12-19 14:04] lgierth commented on #3453
Gonna look into this to make sure we don't have some big bad regression waiting to be released with 0.4.5

[2016-12-19 14:20] lgierth commented on #2129
I have code towards bringing these tests back, but it involves a rewrite of corerepo/gc.go and adding GC status to the repo/stat command: [feat/corerepo-gc](https://github.com/ipfs/go-ipfs/tree/feat/corerepo-gc)

On the upside, the tests won't rely on time anymore then.

[2016-12-19 14:34] dignifiedquire opened #3522 "[http-api] Unable to decode pubsub message property from"
#### Version information:
0.4.5-pre1

#### Type:
Bug

#### Description:

I am trying to decode the pubsub messages on the http-api in js-ipfs-api, but I am failing to get anything sensible out of the `from` property.

The value I'm getting as a string looks like this: `'\u0012 �x\u0017D����;�\'sW\u0010�E�\u0007m�\u001bU��6bj�1�}�'` but trying to decode it into a buffer using `utf8` does not give a

[2016-12-19 14:55] keks opened #3524 "commands: Rework `Response` interface (also affects `Command`)"
The `Response` type does not allow access to functions of the transport, even though that would be quite important, e.g. for flushing. Also right now there is code that tries hard to properly copy the output of a command into the transport. If we would just pass the transport to the response and make it write-only from the command side, then things would be much easier (and we could actually flush

[2016-12-19 14:55] mateon1 commented on #3522
From what you mentioned in IRC, the long B58 string you get with `mh.toB58String(new Buffer(obj.from))` encodes the � characters improperly.
Decoding `4DLB4jBmN6ip4CUt1zHC5k16Aqf3QE5CPVu1uYRKpJV2c4qrjzy7Vvd5cgd6N9JJ4YSdpnGpC76oddAjsK` from b58 to hex gives:
`1220EFBFBDEFBFBD2E3729EFBFBDEFBFBD0CEFBFBDEFBFBD1D51EFBFBD1A124BEFBFBD0B240BEFBFBDEFBFBD77EFBFBD622FEFBFBD7A11EFBFBD3B76`
Notice the repeatin

[2016-12-19 15:10] dignifiedquire commented on #3522
Did some more investigation, this is what curl gives me

[code]

[2016-12-19 15:14] dignifiedquire commented on #3522
Running that string through `decodeURI` gives the mangled data we see above:

[code]

[2016-12-19 15:58] Kubuxu commented on #3522
The corruption is due to the Protobuf defining the Message format of pub/floodsub using `string` type for the `from` filed. The messages contain in it binary representation of senders identity (binary multihash).

The generated Go files define this filed as `string`. Go's JSON marshaller converts only `[]byte` type to base64 when encoding. This leads to corruption as the marshaller will try to int

[2016-12-19 18:12] jbenet commented on #3490
Another thing to consider: IPNS. should ipns names be resolved beforehand by the user? the cli should resolve for the user, but the api may or may not

[2016-12-19 18:26] jbenet commented on #3463
- Last characters still hurt inspection-- when working with the hashes and dirs manually. But fine by me. I'll deal.
- BTW, i think we want a larger fanout, may be a good time to do that too. I think very large repos see pain today. How big is the current fanout tuned for?

---

Separately, it would be nice to make sure the sharding is good for repos of any size. having a constant amount of shardi

[2016-12-19 18:27] jbenet commented on #3463
Wait, I didn't catch why "the next-to-last 2 chars" instead of "the last 2"-- what was the reason?

[2016-12-19 18:39] Kubuxu commented on #3463
base32 has different count of entropy bits in last byte depending on the length of the input as it converts 5 bytes of input to 8 bytes output. So if you hash is 101 bytes long then last byte will be have only 4.8 bits of entropy, last two bytes will have 12.8 bits instead of 16bits.

[2016-12-19 18:41] kevina commented on #3463
@jbenet, so that we are on the same page, the current Fanout should be 512, if we implement this as planned it will be 1024.

See https://github.com/ipfs/go-ipfs/issues/3463#issuecomment-265647047 and my followup comments for the justification for next-to-last. Without it we won't get consistent shading.

I strongly disagree with having a very large FanOut by default.  For the average size repo th

[2016-12-19 19:11] lgierth commented on #3490
`CoreAPI.ResolvePath()` currently also resolves `/ipns` paths. I think this counts as "resolving beforehand by the user" :)

[2016-12-19 19:12] lgierth commented on #3490
Currently as in, the implementation of the most recent proposal above, in #3493.

[2016-12-20 00:40] richardschneider commented on #9
I've create a project to mount IPFS/IPNS on a Windows driver letter.  Its open source at https://github.com/richardschneider/net-ipfs-mount

[2016-12-20 05:20] jbenet commented on #3463
Ah right. nice.

I think the fanout should adjust automatically. but we can get there.

Another option is to make it 2 tiers by default, instead of one.

[2016-12-20 05:23] kevina commented on #3463
@jbenet I'm confused.  Are you in support of a configurable option?  That should be fairly easy to implement.

[2016-12-20 12:42] Kubuxu commented on #9
@richardschneider Incredible, thank you so much.

[2016-12-20 14:00] wrouesnel commented on #3429
This didn't appreciably help - launching with the option still pegged about 900kbps of constant upstream usage which is still way too much to keep a node consistently alive - which interferes heavily with the ability to decentralize to home users or mobile devices (i.e. use distributed IPFS services on a limited connection).

[2016-12-20 17:51] wigy-opensource-developer commented on #3498
@Kubuxu Looking at multiformats/go-multibase#10 I got the impression that introducing abstractions for test code seems to be a tough call in this team? :wink:

[2016-12-20 18:00] whyrusleeping commented on #3429
@wrouesnel thats very odd... Could you check `ipfs stats bw` with the `--proto` flag set to some of `/ipfs/bitswap/1.1.0` `/ipfs/dht` `/ipfs/bitswap` `/ipfs/bitswap/1.0.0` `/ipfs/kad/1.0.0` and figure out which protocol is taking up all that bandwidth?

[2016-12-20 19:14] #3500 closed

[2016-12-20 19:25] whyrusleeping commented on #3463
@jbenet this change discussion is a fairly temporary one to make sure that we don't end up with horrible performance between now and when we can come up with a better block storage solution.

I'm okay moving forward with the next to last two given the discussion in this thread so far.

[2016-12-20 22:03] whyrusleeping commented on #3397
## Raw Leaves for unixfs files
Allows files to be added with no formatting in the leaf nodes of the graph.

### State
experimental.

### In Version
master, (0.4.5).

### How to enable
Use `--raw-leaves` flag when calling `ipfs add`.

### Road to being a real feature
- [ ] Needs more people to use and report on how well it works.

[2016-12-20 22:09] #3470 closed

[2016-12-20 23:41] lgierth commented on #3522
Spec update for this: libp2p/pubsub-notes#6

[2016-12-21 09:37] Kubuxu opened #3525 "ipfs daemon --mount --offline can panic"
[code]

[2016-12-21 14:04] dignifiedquire opened #3527 "[http-api] empty get triggers runtime error"
#### Version information:

[code]

#### Type:
Bug

#### Priority:
 NA

#### Description:

Running `ipfs daemon`  and then using `curl` with the following parameters triggers a runtime error

[code]

[code]

[2016-12-21 14:37] jdgcs opened #3528 "Slowly handling large number of files"
#### Version information:
 % ./ipfs version --all
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/freebsd
Golang version: go1.7

#### Type:
**./ipfs add** became very slow when handling large number of files.

#### Priority:P1

#### Description:
**./ipfs add** became very slow when handling about 45K files(~300GB), it took about 3+ seconds to wait after the process bar finished.

But

[2016-12-21 15:20] JustinDrake opened #3529 "Download progress bar goes over 100%"
#### Version information:

go-ipfs version: 0.4.5-dev-548490f
Repo version: 4
System version: amd64/darwin
Golang version: go1.7.3

#### Type: Bug

#### Priority: P5

The download progress bar goes over 100%. See below for an example.

[code]

[2016-12-21 15:55] avatar-lavventura opened #3530 "ipfs {ls||cat} <hash> halts, while gateway.ipfs shows the file right away"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7
#### Description:
I am using ipfs integrated to Ethereum but in a very basic manner.

In this following example: a client stores a ipfs hash value inside a contract at ethereum. Server would access to already stored ipfs hash value by using the same contract. When ipfs hash value is

[2016-12-21 16:58] Kubuxu opened #3531 "Archiving git branches"
I think @lgierth mentioned this some time ago.
It might be worth archiving old branches (ones without open PR, not active for past month or so) to other repo so 1. size of the repo fetch is reduced 2. branch namespace frees up a bit

Archiving them to separate repo/remote would be probably the best solution but other would be to move them to branch sub-name (like `archive/`).

[2016-12-21 18:34] whyrusleeping commented on #3463
Alright, lets move forward with 'next to last two'.

With that, i want two things. I want the README file as @jbenet suggested to be generated by the codebase (filling in a template). If you like, I can write up roughly what i think this should look like, but the gist of it is you should show an example `echo foobar | ipfs add` to get a hash, then show the series of operations it takes to go from

[2016-12-21 19:19] #3520 closed

[2016-12-21 19:21] #3496 closed

[2016-12-21 19:38] hsanjuan opened #3532 "ipfs daemon memory usage grows overtime: killed by OOM after a 10~12 days running"
#### Version information:

go-ipfs version: 0.4.5-dev-
Repo version: 4
System version: arm/linux
Golang version: go1.7

#### Type: Problem

#### Priority: P4

#### Description:
I have some Raspberry Pis 3 running go-ipfs daemon. Right now they don't do anything. The Pis don't handle any IPFS requests or anything. They are just there running the daemons. After about 10 days ipfs is getting killed i

[2016-12-21 22:02] kevina commented on #3463
@whyrusleeping I will create a README and work on updating the spec.

I am unclear what you are after here.

[2016-12-21 23:36] whyrusleeping commented on #3463
Make sure the README file gets autogenerated based on the flatfs sharding method being used.

For the multicodec, have a file called VERSION or SHARDING or something in the flatfs directory, next to the README that contains a multicodec (a string) that tells us what sharding function is being used there. That way, we can 'open' an existing flatfs datastore without having to have the user specify t

[2016-12-22 00:05] kevina commented on #3463
@whyrusleeping, autogenerating the README was not what I had in mind and will take some additional work.  In addition it may be difficult to include all the information @jbenet wants in an auto-generated README, mainly the code for the sharding function in use.

[2016-12-22 00:42] kevina commented on #3463
Here is a draft of the README as I believe @jbenet wanted it: https://gist.github.com/kevina/e217dd4c763aaaafdab9657935920da5

[2016-12-22 01:52] kevina commented on #3463
For the version file I am going to go with a file name `SHARDING` and am going to use the string
[code]
The v1 is to allow for an upgrading when we do something more complicated than a simple function.  If you want to prefix it with something maybe
[code]

[2016-12-22 03:44] kevina commented on #3463
@whyrusleeping fell free to modify what I wrote to something that can more easily to autogenerted, I was going of of what @jbenet originally wrote.

[2016-12-22 08:33] kevina commented on #3463
See https://github.com/ipfs/go-ds-flatfs/pull/13

[2016-12-22 09:27] Kubuxu commented on #3463
I am for the more verbose version, it can't hurt but might be useful.

[2016-12-22 10:16] hsanjuan opened #3533 "Harden http.Serve() with sensible Timeouts"
#### Version information: master

#### Type: Enhancement

#### Priority: P4

#### Description:
Currently we do:

https://github.com/ipfs/go-ipfs/blob/67a1b3e1bfe9d05478f15068f31cc6868f12a74f/core/corehttp/corehttp.go#L83

But https://blog.gopheracademy.com/advent-2016/exposing-go-on-the-internet/ shows that it is better to initialize a Server object and set sensible timeouts:

![image](https://clo

[2016-12-22 16:40] wigy-opensource-developer commented on #3052
@Kubuxu I have just tried to publish my own version of the ipfs/go-ipfs source code onto an ipfs daemon running on localhost.

[code]
So the publishing took too long, I guess. Is it a known problem with gx + a complex enough source code? Do you see any workarounds? Should I report this problem on gx or gx-go, too?

[2016-12-22 17:02] Kubuxu commented on #3052
Can you try running `ipfs refs -r Qmdd3Qjr8L6biDfNyMWT9U6PhxXGzMsivYsym1oj5BWNXq`?
My suspect right now if GC running while the go-ipfs was being published. Can you try disabling GC by increasing StorageMax to some big value (1000GB) for example.

[2016-12-23 01:04] lgierth commented on #949
Closing this since we've had CHANGELOG.md for a while :)

@diasdavid the release checklist is in docs/releases.md

[2016-12-23 01:04] #949 closed

[2016-12-23 01:06] lgierth commented on #3469
@whyrusleeping @Kubuxu I won't be able to finish a draft of the changelog this week. @jbenet I'll still have a well-sorted list in a bit, that you can use as a checklist for code review.

[2016-12-23 02:21] lgierth opened #3534 "Code Review v0.4.4...v0.4.5"
Reflects ipfs/go-ipfs@c99a82d4b53347b32b8d1b0a0df0250e36a13c8d

Notable changes
- IPLD and CIDs
  - [ ] Rework go-ipfs to use content IDs version 0                -- ipfs/go-ipfs#3187
  - [ ] The conquest of El Cid, Pt. 2                -- ipfs/go-ipfs#3290
  - [ ] Turn merkledag.Node into an interface                              -- ipfs/go-ipfs#3301
  - [ ] Implement cbor ipld nodes and a first

[2016-12-23 13:06] wigy-opensource-developer commented on #3052
I did increase the StorageMax to 1000GB, although I was quite far from the 90% of the 10GB that is the default trigger. Well, I thought that gx would ignore files that match rules in .gitignore. Actually, it did not exclude those that were defined in subfolders. I wondered why the **sources** of something would be 58MBs and then got rid of the ignored files before publishing.

[code]

After gettin

[2016-12-24 09:09] whyrusleeping commented on #3534
Some notes i took while going through and reviewing all this:

- unixfs/format_test.go, 7b16a8daa86e28c497f53a65f7d15ad778e8701d, TestMetedata name typo
- 58a2c5f8153c5061b3a9e2211cf85144e819c621, no test for invalid routing option error message
- 38703a8a7fb7e255ac58fe6de0b58b51ced78494, unnecessarily changed formatting in proto file
- 650eeee7cc04156d8251440d90d778f0a7b98d07, not sure we want to

[2016-12-24 09:11] whyrusleeping commented on #3534
Important to look at for @jbenet are the bitswap message sender change (to support cids, bitswap 1.1.0 and 1.0.0) and the merkledag dagservice changes to support cbor nodes, raw nodes, and the original protobufs

[2016-12-24 11:54] Pastyguy opened #3535 "Easier Install Script (Linux)"
# Easier Install Script (Linux)

Version information:

Enhancement

## Discription
I made an easier to use install script for linux (ubuntu 14.04 server), i think it will work on other platforms
so this please give it a try on other platforms to see if the code breaks.

## **how to use**

Windows: On your desktop create a file called

inside the file paste the code
save the file

Transfer  the fil

[2016-12-24 18:50] Piruzzolo opened #3536 "Feature request: a Google Drive datastore"
Google Drive APIs are not intended for transparent datastore usage - they're basically rest APIs which don't offer binary access and block-device mode. Nevertheless, it would be really useful to store DAG objects on it, in the form of single files maybe. All one needs for it would be a datastore middleware to write to / read from the service and deal with the Google account management.

IPFS suppo

[2016-12-25 11:36] Kubuxu opened #3537 "Keys from keystore are not republished to DHT"
Needs to be added to `node.IpnsRepub.AddName`.

We need to probably also store the last published entry to keep it through node resets.

[2016-12-26 15:28] wigy-opensource-developer commented on #3537
Thanks, Kuba. I just added a comment to #3472 about this missing part.

[2016-12-27 08:54] Kubuxu commented on #2074
As a note, `-f` flag is taken by `flush` option, we will have to use `--force`.

[2016-12-27 19:27] hsanjuan commented on #3535
Hello,

thanks for your contribution.

Note that much of this functionality is already provided by [ipfs-update](https://dist.ipfs.io/#ipfs-update).

[2016-12-27 19:29] Pastyguy commented on #3535
If I may ask how do you use ipfs update.
Ie install for Linux 64bit?

[2016-12-27 19:49] Inversion-des opened #3542 "Constantly crashes within 5 minutes after start "runtime/cgo: pthread_create failed: Resource temporarily unavailable""
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7

#### Type: Bug

#### Priority: P0

#### Description:
Crashes without any activity.
There is 5GB RAM free, so should not be OOM.
Output ends with "Daemon is ready".

$> ipfs repo stat

RepoSize         798799
RepoPath         /home/test/.ipfs
Version          fs-repo@4

Changes in co

[2016-12-27 20:09] Kubuxu commented on #3542
It is probably due to low process limit, either try updating to one of pre releases of 0.4.5 or increase the process limit with `ulimit -u 1024`.

[2016-12-27 20:18] Inversion-des commented on #3542
$ ulimit

Is it ok? Or should I try to change it to 1024?
It's on Debian.

[2016-12-27 20:56] Kubuxu commented on #3542
Check `ulimit -u`.

[2016-12-27 21:07] Inversion-des commented on #3542
same here
$ ulimit -u

[2016-12-27 21:32] hsanjuan commented on #3535
Sure, you can either `go get` as shown here: https://github.com/ipfs/ipfs-update#install

or download the tar.gz I linked above, untar and place the binary in `/usr/local/bin` or simply run the `install.sh` script.

Then:

[code]

[2016-12-27 23:39] ianopolous opened #3543 "Add etag and other caching headers to all content addressed gets in api"
#### Version information:
N/A

#### Type: Enhancement

#### Priority:
P3

#### Description:
After discussion in irc, I'm submitting this feature request. The origin of this requirement is the following: Previously we've had our own http api for Peergos with caching working fine, but now we're trying to move to match IPFS' http api to allow us to self host from within IPFS. However it seems that th

[2016-12-27 23:44] ianopolous opened #3544 "Add pinning option to all write commands"
#### Version information:
N/A

#### Type:
Enhancement

#### Priority:
P1

#### Description:
This is to allow construction of transactionally correct programs, relative to gc, under arbitrary concurrency.
Following up from https://github.com/ipfs/notes/issues/106

[2016-12-28 00:23] ianopolous commented on #3543
An easy way to demonstrate the browser's non caching behaviour, even with the correct etag header present is
https://ipfs.io/ipfs/QmTkzDwWqPbnAh5YiV5VwcTLnGdwSNsNTn2aDxdXBFca7D?key=thiswontbecached
(chrome won't cache this, ... though it seems firefox will, so maybe the non caching with etag is a chrome bug :-( )

[2016-12-28 13:50] wigy-opensource-developer commented on #3505
This looks really familiar from my gx publish hassles: https://github.com/ipfs/go-ipfs/issues/3052#issuecomment-268987272

[2016-12-28 19:58] Voker57 commented on #3505
I've ran the same pin add with daemon running in offline mode and got more clear goroutine dump: http://dump.bitcheese.net/files/zapumel/ipfs.stacks

I'm new to go so I'm kind of at loss at this, but it appears that fetchNodes is getting stuck on selecting nodes from channel of GetMany() ? I ran the pin op several times and it gets stuck on different hashes each time. Not sure why no goroutines ca

[2016-12-29 01:43] vertis opened #3545 "Adding file to repo with many files is slow"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7

#### Type: Bug

#### Priority: P1

#### Description:
Adding a file to an existing repo after many files have been imported is very slow.
  - This is local, without the daemon running (though that doesn't seem to matter).
[code]
I had originally though it might just be the time writi

[2016-12-29 03:11] vertis commented on #3545
Running this locally on my Macbook (to confirm it wasn't something weird with my ZFS drives), it does about 70k objects and then goes from roaring along at 0.05-0.06 seconds per file to 1-2 seconds per file

[code]

[2016-12-29 04:00] Voker57 commented on #3505
Not sure why but reverting 0c14b4162ea3c4f07aea9 fixes the problem

[2016-12-29 10:00] the-kenny opened #3546 "`ipns resolve` doesn't resolve subdomains correctly"
#### Version information:

[code]

#### Type: Bug (?)

#### Priority:

#### Description:

I set up a ipns record on my DNS provider. The domain is `tarn-vedra.de`. It resolves to `/ipfs/QmUuWNu8rmeLmWXNcagbxCM1utw5qcAJoQtypCQoRjD7jP/index.html`

I also run a blog on a subdomain. The domain is `blog.tarn-vedra.de`. There, the following record is set:

[code]

Now I *thought* `ipfs resolve /ipns/blo

[2016-12-29 13:26] Kubuxu commented on #3505
Looks like the concurrency limit set over there was too low.

We should probably uncap it, check what is reached during normal operation and go on from there.

[2016-12-29 15:31] mib-kd743naq opened #3548 "Recursive add with --raw-leaves produces inaccessible directory"
#### Version information:
`go-ipfs version: 0.4.5-dev-99d72c2`

#### Type:
`Bug`

#### Priority:
`P1`

#### Description:

[code]
[code]
[code]
[code]
[code]

[2016-12-29 16:44] lgierth commented on #3505
Consistently seeing similar behaviour when trying to pin the 33c3 schedule (e.g. /ipfs/QmUFz3URXrbRSAUot3j5hPo3Nw3qcGywZXc4wMMKdAd8Js) on the gateways.

[2016-12-29 16:45] lgierth commented on #3545
I think I've been seeing similar behaviour while adding the cdn.media.ccc.de mirror. I haven't measured it, but the repo was initially nearly empty, then the 3.8TB add got slower and slower over time, and now additional adds are just as slow.

[2016-12-29 18:04] mib-kd743naq opened #3549 "Raw leaves nodes described by any alg != sha2-256/32 do not work"
#### Version information:
`go-ipfs version: 0.4.5-dev-99d72c2`

#### Type:
`Bug`

#### Priority:
`P1`

#### Description:

I made a set of representations of the same string `123\n45\n` split into 4 chunks (3 unique): `123`, `\n` and `45`. I then made a matrix of various link/data block encodings. The problem is visible below:

| Data \ Link       | v0pb-sha2-256-32 | v1pb-sha2-256-24 | v1pb-sha1-2

[2016-12-29 21:33] ianopolous commented on #3543
After talking to a chromium engineer it turns out this is by design. Pressing enter in the url bar, or F5 will ignore the cache, even if the url is set to cache for a year with immutable and etag set. It should be returned from cache when called within a page, either as an ajax call or as a subresource. So it really is just a matter of setting the same headers on object calls.

[2016-12-29 22:43] jonnycrunch commented on #3532
Same here:

ipfs version 0.4.3
Ubuntu 16.0.4 ( 4.4.0-47-generic )
go-lang 1.7

after about 10 days memory grows to about 15G despite only a few hundred files pinned.  Issue is replicated across 10 servers.  Restarting the daemon fixed it but continues to grow and needs to be restarted.

[2016-12-29 23:25] Voker57 commented on #3505
Problem is not concurrency limit but possible deadlocking when both output and input of FetchNodes() are full. I think I solved it with deferring input into goroutines: a5e42fcc37bbee84026737cb8d2940d74adef2c3

[2016-12-30 00:01] ianopolous opened #3551 "support input cbor in dag put command"
#### Version information:
go-ipfs version: 0.4.5-dev-4cb236c
Repo version: 4
System version: amd64/linux
Golang version: go1.7.1

#### Type:
Enhancement

#### Priority:
P4 (for me)

#### Description:
Support input cbor format in dag put command

e.g.
[code]
returns "Error: unrecognized input encoding: cbor"

[2016-12-30 00:20] avatar-lavventura commented on #3530
@wigy-opensource-developer thank you for your response. I am still facing with the same problem. My server runs behind a firewall (on a university domain, so there has to be a firewall). On my case when my client on the same LAN behind the same firewall, it works perfectly fine. But if the client is outside of the LAN it halts as I explained. The problem may arise because of the firewall, but publ

[2016-12-30 02:08] lgierth commented on #3545
I just started another add, but this time with only-hash set (`ipfs add -n -r cdn.media.ccc.de`), to narrow this down to datastore. My hopeful expectation is that the add's duration stays constant.

[2016-12-30 02:10] vertis commented on #3545
Yeah, it’s definitely not happening for me with only-hash set

On Fri, Dec 30, 2016 at 1:08 PM, Lars Gierth <notifications@github.com> wrote:
I just started another add, but this time with only-hash set ( ipfs add -n -r cdn.media.ccc.de ), to narrow this down to datastore. My hopeful expectation is that the add's duration stays constant.

—
You are receiving this because you authored the thread.
R

[2016-12-30 06:00] jdgcs commented on #3545
similar issue:
[Slowly handling large number of files](https://github.com/ipfs/go-ipfs/issues/3528)

./ipfs add became very slow when handling about 45K files(~300GB), it took about 3+ seconds to wait after the process bar finished.

[2016-12-30 06:43] jdgcs commented on #3528
% ./ipfs repo stat
NumObjects       9996740
RepoSize         381559053765
RepoPath         /home/liu/.ipfs
Version          fs-repo@4

[2016-12-30 07:10] vertis commented on #3545
@jdgcs damn, I'd say it's the same thing...I even looked to see if there was already an issue and couldn't see anything

[2016-12-30 07:32] mateon1 commented on #3545
I see that you are both using the `0.4.4` release. Could you try [the `0.4.5` prerelease](https://dist.ipfs.io/dist.ipfs.io/go-ipfs/v0.4.5-pre1)?
Performance has improved in `0.4.5`, and I do not get this slowdown on a Windows machine, with a NTFS filesystem on HDD with a repo 41 GB in size, with 280318 objects.

[code]

repo stat:
[code]

[2016-12-30 07:47] vertis commented on #3545
@mateon1 Thanks for the reminder. I did actually try 0.4.5-dev yesterday after I reported this. It did still have the problem:
[code]
This is now locally on my MacbookPro on a USB3 external HD (HFS+).

Interestingly, it's after the progress bar, and even the debug messages just seem to sit there.

[2016-12-30 11:58] mib-kd743naq commented on #3549
I think I messed up when creating the test cases. Closing this ticket while I investigate. Will put up a more complete table up shortly

[2016-12-30 11:58] #3549 closed

[2016-12-30 12:30] mib-kd743naq opened #3552 "Raw leaves described by alg != sha2-256/32 do not work ( also generalized test matrix )"
#### Version information:
`go-ipfs version: 0.4.5-dev-99d72c2`

#### Type:
`Bug`

#### Priority:
`P1`

#### Description:
This is a set of 45 test cases. Table shows what currently works and what doesn't. Description at the end.

| Framing Data\Link | v0pb-sha2-256-32 | v1pb-sha2-256-24 | v1pb-sha1-20 | v1pb-sha2-512-48 | v1pb-sha2-256-32 |
| :---: | :---: | :---: | :---: | :---: | :---: |
| v0pb-s

[2016-12-30 12:35] mib-kd743naq commented on #3552
@jbenet as per [your comment](https://github.com/ipfs/go-ipfs/issues/3549#issuecomment-269693280) this revision of the ticket [includes the exact bytes (*.put)](https://ipfs.io/ipfs/QmYbb74fCe7pom18nPRw2rKAPMukza63DfQAdHG53WywbW) that I fed to `http://127.0.0.1:5001/api/v0/block/put?format={F}&mhtype={T}&mhlen={L}`, including the exact id under which ipfs stored/indexed the block.

@diasdavid @dig

[2016-12-30 12:45] mib-kd743naq commented on #3548
@Kubuxu this is almost certainly a 0.4.5 blocker...

[2016-12-30 14:08] Kubuxu commented on #3552
@mib-kd743naq I am unable to fetch the dataset, I have set up my server to try to fetch it all the time so when you go online it will be fetched.

[2016-12-30 14:44] mib-kd743naq commented on #3552
@Kubuxu sorry, only have my laptop node up, and running around the conference doesn't help
Should be avail. for the next ~40 mins

[2016-12-30 14:59] Kubuxu commented on #3552
Got it.

[2016-12-30 15:03] Kubuxu commented on #3552
Trying to pin it:
[code]

[2016-12-30 15:05] mib-kd743naq commented on #3552
@Kubuxu works here... perhaps s/ping/pin/ ?

[2016-12-30 15:07] Kubuxu commented on #3552
Yeah. :|

[2016-12-30 15:58] Germano0 commented on #2111
I came to this ticket by searching on internet "ipfs slow download"
I am affected by this problem too (IPFS 0.4.4), and I have started a discussion on the mailing list
https://groups.google.com/forum/#!topic/ipfs-users/H-dxkVShilc

[2016-12-30 19:47] mib-kd743naq opened #3553 "`ipfs repo gc` fails with `Error: unrecognized object type: %!s(uint64=114)`"
#### Version information:
[code]

#### Type:
`Bug`

#### Priority:
`P1`
#### Description:

I have maintained the same repository since I started playing with ipfs ~4 months ago. An attempt to clean up the repository currently fails like so:
[code]

The last time I used `gc` (and it worked) was about a month ago, I have gone through *probably* 3 versions from git since.

I am not sure how to provid

[2016-12-30 22:44] lgierth commented on #3553
This is probably coming from `decodeBlock()` in `merkledag/merkledag.go`. You can change the respective line to the following, to see which node is the problem.

[code]

Ideally GC wouldn't abort just because it fails to read a block. This condition should be a warning at most.

[2016-12-30 22:58] lgierth commented on #3553
GC should skip these blocks -- it can't figure out whether they're okay to delete, and what's below it.

[2016-12-30 23:00] mib-kd743naq commented on #3553
@lgierth with your change:
[code]
[code]

That "block" is from when I was experimenting with the put API, checking how it reacts to garbage. Definitely a bug

[2016-12-30 23:36] lgierth commented on #3553
Thanks for your manual fuzzing, very much appreciated :)

[2016-12-31 02:20] jbenet commented on #3553
ohhh cool. @mib-kd743naq can you repro it with a sharness test case? if it's a block you put with the put api I would imagine you should be able to do it with a brand new repo. would be super helpful. thanks for finding this!

[2016-12-31 09:00] mib-kd743naq commented on #3553
@lgierth this issue is more convoluted than I originally thought. Currently this is how things behave:
[code]
But it differs from the original problematic block of `zdvgq3iFsC6r8Luprd25sKjXZYDTBtP3f1fgvkkGU4XKaSkcL` by a single byte, [due to this **retroactive change**](https://github.com/ipfs/go-cid/commit/1260e85a2da)

Generally this situation can never happen, but in practice it clearly does. T

[2016-12-31 10:18] whyrusleeping commented on #3553
@mib-kd743naq thanks for reporting this, we should probably treat unrecognized blocks as 'raw' for all intents and purposes... though ideally we don't get unrecognized blocks in our repos

[2017-01-01 09:21] mib-kd743naq commented on #3552
@Kubuxu actually I just realized that the individual test objects themselves are not pinned in any way besides my laptop. Could you please:
[code]

[2017-01-01 19:55] whyrusleeping commented on #3552
@mib-kd743naq that looks to be because of this hardcoding: https://github.com/ipfs/go-ipfs/blob/master/merkledag/raw.go#L15

[2017-01-01 20:01] whyrusleeping commented on #3551
Note that as a temporary workaround, you can use block put:

[code]

[2017-01-01 20:05] whyrusleeping commented on #3532
@jonnycrunch the `--enable-gc` flag refers to disk gc, not memory gc.

The memory leakage is coming from somewhere else... Next time the memory gets out of hand can you get me the debug info described here: https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md#beginning

Particularly the heap profile, goroutine dump and ipfs binary

[2017-01-01 20:16] whyrusleeping commented on #3546
This is odd, @lgierth any ideas?

[2017-01-01 20:25] whyrusleeping commented on #3529
I think this might be a result of differences between dag size and filesize... not 100% sure though, will investigate more.

[2017-01-01 21:09] ianopolous commented on #3551
Excellent! Thank you, @whyrusleeping. That drops this a priority level or two. :-)

[2017-01-02 20:32] kevina commented on #3548
I'll look into this later today.

[2017-01-02 22:17] lgierth commented on #3545
It took about 9h15m in the end, so it definitely is storage-related.

[2017-01-02 23:08] hmeine commented on #1634
Still not working with official 0.4.4.

[2017-01-02 23:14] hmeine commented on #3250
Yes, with the latest official FUSE for macOS, the helpers have moved from
``/Library/Filesystems/osxfusefs.fs/Support`` into
``/Library/Filesystems/osxfuse.fs/Contents/Resources``.
Wouldn't it suffice to look in both locations (the latter one first, presumably)?

[2017-01-02 23:44] lgierth commented on #3241
Neither of the two links above make any sense to me :+1: I'm just gonna go assume it's resolved.

[2017-01-02 23:44] #3241 closed

[2017-01-03 01:53] kevina commented on #3548
Can reproduce.  Working on fix.

[2017-01-03 04:01] kevina commented on #3548
#3557 should fix it

[2017-01-03 05:11] photonxp opened #3558 "dial attempt failed for localhost domain, but success for 127.0.0.1"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7

Chrome Version 47.0 (64-bit)

#### Type:
Bug

#### Priority:
P4

#### Description:
Chrome browser shows different response for LOCALHOST and 127.0.0.1 domain

LOCALHOST REQUEST    http://localhost:5001/api/v0/swarm/connect?arg=/ip4/149.56.14.160/tcp/4001/ipfs/QmU33iCTrgMhurhEvLG25j4

[2017-01-03 09:44] mib-kd743naq opened #3559 "(!) go-ipfs silently malfunctions in case of datastore corruption"
#### Version information:
`any`

#### Type:
`Bug`

#### Priority:
`P0`

#### Description:
[code]
[code]
[code]
[code]

It might be the case that checks are disabled by default for performance reasons ( which would be reasonable ). But having at least a non-default option to force-verify every from-disk read would be essential...

I am also not sure nor know how to test if stuff coming from bitswap

[2017-01-03 10:45] mib-kd743naq commented on #3451
@whyrusleeping thinking about it more... I still think it is incorrect to have an extra metadata node as a standalone object. Consider the [earlier example listing](https://ipfs.io/ipfs/QmVCEQ5rsivCb5EWNLZ8paceBHrD4XT11buHrd3ajg9iZ5). One would ideally want to expand this with:
* mtime
* MIME (or some other) type (what is the entry pointing to)
* the pointed-to object id ( a "comment" in the right

[2017-01-03 10:46] mib-kd743naq commented on #3451
P.S. Yes, I am aware of the IPLD specification effort. But it doesn't seem to cover any of this either...

[2017-01-03 12:50] lgierth commented on #3558
I don't think this has anything todo with "127.0.0.1"/"localhost". It's simply that swarm dials *can* fail.

[2017-01-03 12:52] lgierth commented on #3559
The `Datastore.HashOnRead` option should cover this.

[2017-01-03 12:56] mib-kd743naq commented on #3559
Duh... I actually **looked** through the options and missed it :/
Option works as expected
Sorry for the noise

[2017-01-03 12:56] #3559 closed

[2017-01-03 18:20] kevina commented on #3553
I'll look into fixing this.

[2017-01-04 07:02] kevina opened #3560 "Make sure latest go-multibase is used."
go-multibase has recently been updated to support some of the more common bases including base 32 which will be useful when locating a key stored in the flatfs datastore

Edit: go-multihash -> go-multibase

[2017-01-04 07:08] kevina commented on #3505
@Kubuxu do you want to take this.  I might be able to but I would need a good test case to do what you suggest when you said:

[2017-01-04 07:49] hmeine commented on #3250
What is the last known working FUSE for macOS version, then?  Symlinking the above paths does not seem to make ``ipfs mount`` work, and the comments in https://github.com/ipfs/go-ipfs/pull/3413#pullrequestreview-11455879 suggest that versions >= 3.0.0 are not supported yet?

[2017-01-04 07:55] kevina commented on #3553
If the unrecognized object is pinned indirectly or recursively it might not be safe to continue, as the object could possible contain links that we don't know how to read so we won't be able to figure out what is below it.  I apologize if I am mistaken and this situation is impossible.

What I can likely do is complete the first stage of the gc (getting the ColoredSet) and collect all pinned objec

[2017-01-04 13:32] Kubuxu commented on #3505
I would wait, I have to evaluate @Voker57 solution.

[2017-01-04 14:55] wigy-opensource-developer opened #3561 "How to cleanup `ipfs dht findpeer QmBlah` for my own node?"
go-ipfs version: 0.4.5-dev-
Repo version: 4
System version: amd64/linux
Golang version: go1.7.3

#### Type:
Bug

#### Priority:
P2

#### Description:
I am using a laptop that moves between networks, so its public facing IPv4 address changes. Also, at least in Hungary, most of the ISPs ask extra money for static public IPv4 addresses, so even an always-on desktop is in a LAN that gets routed throug

[2017-01-04 16:27] Kubuxu commented on #3561
They will expire on their own. How many addresses you see there?

[2017-01-04 16:31] Kubuxu commented on #3250
It is in our dependency, update for it is queued but we won't be able to test it for next release. For now 3.0.0 is no supported.

[2017-01-04 16:35] wigy-opensource-developer commented on #3561
I see around 8-9 public IPv4 addresses. They seem to be causing delays in contents pinned only on this node. Also, I have the feeling that IPNS records that were published from this laptop are resolved slowly on other nodes.

[2017-01-04 16:51] Kubuxu commented on #3561
When all the nodes that have those peer infos will restart, we probably should have timeout on those.

[2017-01-04 19:04] kevina commented on #3534
@whyrusleeping, if you want go through and create pull requests to fix most of these issues, let me know.

[2017-01-04 19:56] whyrusleeping commented on #3463
@kevina go ahead and move forward with the one you wrote (including my comments on the gist), but make it a string constant in the source that gets written on datastore creation.

[2017-01-04 20:23] kevina commented on #3534
yes, and I even mentioned it to you, something about about it causing problems with your editor :)

[2017-01-04 20:24] whyrusleeping commented on #3534
I'm a dolt

[2017-01-04 20:25] kevina commented on #3534
Do you want me to fix it?

[2017-01-04 20:25] whyrusleeping commented on #3534
That might be a very difficult problem to fix, you can try.

[2017-01-04 20:27] kevina commented on #3534
@whyrusleeping, I meant add back the apostrophe. :)  I am fixing minor formatting/spelling issues now.

[2017-01-04 20:54] #3548 closed

[2017-01-04 21:04] kevina commented on #3534
don't see the problem other than diff noise, the changes help with consistency

fixed in pr #3562

Already fixed, sorry.

this was talked about in the issue

[2017-01-05 02:09] vi opened #3563 "go-ipfs should be able to mount `/ipfs` separately from `/ipns`."
#### Version information:

go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7

#### Type: Enhancement

#### Priority:

P2 or P3

#### Description:

IPNS seems to be [more][1] [problematic][2] compared to basic IPFS layer. It requires connection to internet, it expires. IPFS may be used without IPNS.

Yet there is no option to mount only `/ipfs`, without `/ipn

[2017-01-05 02:11] eminence commented on #3563
CC #2167

[2017-01-05 03:01] emuNAND opened #3564 "IPFS disconnects internet"
#### Version information:
0.4.4
#### Type:
Bug
#### Priority:
P1
#### Description:
running the IPFS daemon causes the connection from the computer running the daemon to the router to slow to a halt. no error is shown except for not finding the hash table because of the lack of internet. both my wireless card and my usb adapter have this problem. i am unable to connect an Ethernet cable because of

[2017-01-05 10:02] Kubuxu commented on #3564
Covered by: https://github.com/ipfs/go-ipfs/issues/3320 https://github.com/ipfs/go-ipfs/issues/3216 https://github.com/ipfs/go-ipfs/issues/2234

If you think that those issues cover it, please close this one.

[2017-01-05 10:05] Kubuxu commented on #2167
Try doing `ipfs name publish QmbXBAKDgbhE8HkGuEF4FuQQJej2mxqXtYSMsBPuJDqgjq`

It will publish file with `ipfs` as its content, it might solve the issue.

[2017-01-05 12:04] whyrusleeping commented on #3563
Definitely agreed, lets do this. It should be configurable through the CLI and we should be able to have a config setting for it.

[2017-01-05 12:37] wigy-opensource-developer commented on #3561
So without any incentive system internal to IPFS for storing DHT records indefinitely, I see that reproviding content / republishing names / resharing peer infos every day makes complete sense (https://github.com/libp2p/go-libp2p-kad-dht/blob/master/records.go#L22).

I am still digging up the DHT code to find out where the stale addresses are reshared by the peers and will try to come up with a PR

[2017-01-05 13:30] Kubuxu commented on #3561
The peer info is a bit different form what I know, not sure though.

[2017-01-05 13:32] lgierth commented on #3553
Can't this be simplified to just printing a warning and skipping that block?

[2017-01-05 13:33] Kubuxu commented on #3553
If it is not reffed by any other block, it should be?

[2017-01-05 16:56] mib-kd743naq opened #3565 "Missing mention of newly added `key` command in main help text"
#### Version information:
[code]

#### Type:
`Enhahcement`

#### Priority:
`P3`

#### Description:

[code]

[2017-01-05 17:04] mib-kd743naq opened #3566 "Inconsistent UI: missing 'self' key within `ipfs key list`"
#### Version information:
[code]

#### Type:
`Bug/Enhahcement/Unsure`

#### Priority:
`P3`

#### Description:
`name publish` has the `-k` option

[code]

Except 'self' is not mentioned here:
[code]

[2017-01-05 18:50] mib-kd743naq opened #3567 "`ipfs name resolve` should support a `-k` option just like `name publish` does"
#### Version information:
[code]

#### Type:
`Enhancement`

#### Priority:
`P4`

#### Description:
As per subject: I should be able to
`ipfs name resolve -k foo` after I've done `ipfs name publish -k foo <hash>`

[2017-01-05 18:54] mib-kd743naq opened #3568 "No ( apparent ) way to list the hash of existing keys"
#### Version information:
[code]

#### Type:
`Bug/Missing Feature`

#### Priority:
`P1`

#### Description:
I can get my `self` IPNS id via the command `ipfs id`. But there seems to be no way to list the hash for some secondary key aside from publishing something to the keyslot with `ipfs name publish -k <key>`

Before this is released as stable `ipfs key list` should gain a way to list the corresp

[2017-01-05 21:13] kevina commented on #3553
This was bumped to the next release.  I will have a better idea of where the problem is for this bug once I investigate, which I will likely do in a few weeks.

[2017-01-05 21:19] emuNAND commented on #3564
thanks Kubuxu, #2234 fixed my problem.

[2017-01-05 21:19] #3564 closed

[2017-01-05 21:30] kevina commented on #3534
I edited @whyrusleeping to be check boxes and checked resolved problems are ones where there is nothing to do.  Github has no editi history and also there is no notification sent when an edit is made so I will continue to add notes on items in separate comments.

[2017-01-05 21:30] kevina commented on #3534
Now fixed.

Your right. There is an issue for that.

[2017-01-05 21:46] slang800 commented on #1532
Auth tokens shouldn't be a part of IPFS. It assumes that the IPFS HTTP API is being exposed to the whole internet, rather than just being linked to another container, for which authentication isn't needed and would be pointless overhead.

Users should just put an authentication proxy in front of their HTTP API and use whatever auth they like... For just playing around with IPFS (when you don't car

[2017-01-06 00:52] ianopolous commented on #3551
Is there any reason not to use the block.{put / get} commands permanently? They fit our use case perfectly.   The only reason we couldn't use them previously is we didn't want to mess around with protobuf. (We don't need any of the ipld selector stuff)

[2017-01-06 04:35] song007 commented on #1532
As a follow up question .. any suggestion on authentication for limiting the membership of the IPFS nodes?

[2017-01-06 07:56] mib-kd743naq commented on #3551
@ianopolous don't see why not - `block put` should be entirely content/encoding agnostic.

[2017-01-06 08:00] ianopolous commented on #3551
@mib-kd743naq surely it must be a valid encoding so ipfs can parse the embedded merkle links?

[2017-01-06 08:05] mib-kd743naq commented on #3551
@ianopolous Nope. Each block is "put" independently. It is up to you to provide a complete dag. Only higher order commands ( like `ipfs object` etc ) try to parse stuff.

Consider:
[code]

Which results in a working https://ipfs.io/api/v0/block/get/zdpuAnnzx1Ue3fGV77nycvwuT71cvguGNZ5R4SK3Yse3GbvAj
But a silently failing https://ipfs.io/api/v0/object/get/zdpuAnnzx1Ue3fGV77nycvwuT71cvguGNZ5R4SK3Yse3

[2017-01-06 08:16] ianopolous commented on #3551
What I meant was if I put two blocks, and block A has a valid cbor merkle link to the other and i recursively pin block A, then I expect IPFS to also pin the other block. If that doesn't work, unfortunately that's a deal breaker.

[2017-01-06 08:20] mib-kd743naq commented on #3551
@ianopolous a `put` **does not** imply a `pin`. You have to do an `ipfs pin X` explicitly after all your `ipfs put`s took place.

This is what I meant by an earlier

[2017-01-06 08:34] ianopolous commented on #3551
Let me be clear. If I execute the following commands, and A is valid cbor in ipld canonical encoding, containing a merkle link to B, then I expect ipfs to pin B as well (based on my reading of all the docs/code):
[code]

[2017-01-06 08:36] mib-kd743naq commented on #3551
@ianopolous that is correct. The ticket was about `put` specifically, so I answered in that context. Sorry for the confusion.

[2017-01-06 08:42] ianopolous commented on #3551
@mib-kd743naq Phew! I was starting to get worried about my world view there. :-)

[2017-01-06 09:37] whyrusleeping commented on #3568
Yeah, i mentioned this as well in my 0.4.5 review: https://github.com/ipfs/go-ipfs/issues/3534#issuecomment-269076321

[2017-01-06 09:39] whyrusleeping commented on #3567
Hrm... should this be separate from just doing `ipfs name resolve /ipns/hashofkey` ?

[2017-01-06 10:11] whyrusleeping commented on #3490
@lgierth can i bump this from 0.4.5?

[2017-01-06 10:18] whyrusleeping commented on #3511
done in #3539

[2017-01-06 10:18] #3511 closed

[2017-01-06 10:18] lgierth commented on #3490
Yes

[2017-01-06 10:19] whyrusleeping commented on #3453
@lgierth Have you had time to look into this? As far as i can tell this is either a disk corruption issue, or something thats a result of a bug much earlier on than 0.4.4

In either case i'd say this shouldnt block 0.4.5

[2017-01-06 10:47] mib-kd743naq commented on #3567
@whyrusleeping my thinking was to be able to use a *human readable* name throughout the entire CLI interaction. I.e. no hashes involved besides the target we resolved to

[2017-01-06 11:03] whyrusleeping commented on #3567
@mib-kd743naq ah, thats fair. :+1:

[2017-01-06 11:23] Kubuxu commented on #3565
@whyrusleeping making it 0.4.5, it should be quite fast and docs are important.

[2017-01-06 16:44] ianopolous opened #3570 "Pinning new cbor object doesn't appear to work"
#### Version information:
go-ipfs version: 0.4.5-dev-4cb236c
Repo version: 4
System version: amd64/linux
Golang version: go1.7.1

#### Type:
Bug

#### Priority:
P0

#### Description:
Pinning a new cbor object created using block.put doesn't appear to work. To reproduce:

[code]
The gc should NOT remove the two blocks added (it currently removes both). And the subsequent gets should succeed.
The fi

[2017-01-06 22:11] slang800 commented on #1532
@song007 - Do you mean current methods for restricting access to the HTTP API? You could put it behind an nginx reverse-proxy and add whatever sort of auth you want right now... Even block off specific URLs for fine-grain control over permissions.

[2017-01-07 00:28] lgierth commented on #3570
Possibly related to #3453

[2017-01-07 00:36] lgierth commented on #3570
Also #3553

[2017-01-07 00:43] ianopolous commented on #3570
@lgierth N.B. there are no errors returned here except for the final gets failing to find anything.

[2017-01-07 12:04] koriaf commented on #3532
Hi! We are using this ipfs 0.4.4 at `Linux 4.4.35-33.55.amzn1.x86_64 #1 SMP Tue Dec 6 20:30:04 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

Currently it eats 65-76% of memory at 2GB instance, OOM sometimes kills it and it starts again and usage grows during several hours to given value. But looks like this is enough for the daemon to not be killed - may be it uses some smart way to determine how not

[2017-01-07 20:00] slrslr opened #3572 "How to launch ipfs daemon in background (Windows cmd)"
Hello,

i downloaded Windows version of the IPFS from https://ipfs.io/docs/install/
and i am having .bat script that is launching multiple applications on my computer start.

I used this commands in that .bat script:

start "" /MIN /B "C:\Windows\system32\ipfs.exe" daemon
start "" /MIN "C:\Windows\system32\ipfs.exe" daemon
start "" "C:\Windows\system32\ipfs.exe" daemon

It launch the daemon, but i

[2017-01-07 22:54] kpcyrd opened #3574 "unclean shutdown prevents restart"
#### Version information:
[code]

#### Type: Bug

#### Priority: P2

#### Description:

I'm running ipfs inside docker containers on a Container Linux/CoreOS cluster. After a while I noticed all my containers are dead and failed to restart due to a locking issue.

On irc I got the hint to run `ipfs repo fsck` (I submitted a patch in #3573 to make this easier), which fixed the issue. I sort of have

[2017-01-07 23:01] kpcyrd commented on #3572
This might help:
https://superuser.com/questions/198525/how-can-i-execute-a-windows-command-line-in-background

The cleanest way in windows is probably having a desktop client that has a regular installer and sets itself to auto-start, while also having go-ipfs as a subprocess. (I think some other open source projects do something like this).

[2017-01-08 05:30] wrouesnel commented on #3429
[code]

It's actually looking a lot better now for some reason (with `--routing=dhtclient`) but I only just started the server process.

[2017-01-08 09:05] slrslr commented on #3572
I thought there is only one ipfs for Windows. btw, none of the "START" kind of commands mentioned on yours linked page worked for me to launch ipfs daemon the way that it is not terminated when the command line window is closed.

But in my case I still have to keep open one cmd window because of other app that is running inside it, so i made it the way that i launch ipfs first at background and th

[2017-01-08 12:33] wrouesnel commented on #3429
So far so good, although downloading 2GB cumulative over the course of 6 hours for no actual upstream usage I would still argue isn't great behavior.

[code]

[2017-01-08 17:56] whyrusleeping commented on #3429
@wrouesnel hrm... yeah. Thats definitely not ideal. I'll comment back later with some things to try to help diagnose the slowness

[2017-01-08 17:59] pgte opened #3576 "leaf nodes are different for the same files when using balanced and trickle DAG builders"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/darwin
Golang version: go1.7

#### Type:
Bug

#### Priority:
P1

#### Description:

When encoding the same file using the balanced and the trickle DAG builders separately, both trees end up not sharing any leaf hash.

@whyrusleeping did a preliminary analysis and it's probably due to the fact that the balanced

[2017-01-08 18:10] diasdavid commented on #3576
@whyrusleeping agrees in moving everything to use `file`, so that we get chunk dedup across both importers

[2017-01-09 00:07] lgierth opened #3577 "Offline IPNS should resolve dnslinks"
An offline node (`ipfs daemon --offline`) refuses to serve e.g. /ipns/ipfs.io because the resolver acts as completely offline.

In the optimal case, if we have already have all the required data, it should still serve that thing, since it doesn't require any routing, IPNS lookups, or Bitswap trades.

[2017-01-09 02:17] kevina commented on #3568
I'll look into it.  I am unfamiliar with that part of the code but this seams a simple enough task.  If I can't figure out what to do I will unassigne myself.

[2017-01-09 02:18] kevina commented on #3570
This could be a simple case of special cases for Protobuf nodes, in which case the fix should be simple.  I'll look into it.

[2017-01-09 07:56] Kubuxu commented on #3577
It requires DNS lookup.

[2017-01-09 09:36] diasdavid opened #3578 "Add + Support an `offset` flag for `ipfs cat`"
What the title suggests :)

[2017-01-09 10:07] mib-kd743naq commented on #3578
Surely `ipfs cat ... | tail -c +2000` is enough for this...?

[2017-01-09 11:32] diasdavid commented on #3578
We need to have support for it coming from the http-api too.

[2017-01-09 12:14] keks commented on #3524
bump @whyrusleeping @jbenet

[2017-01-09 12:41] mib-kd743naq commented on #3576
@whyrusleeping what is the historical reason to have both `file` and `raw` given they are (apparently) entirely interchangeable?

[2017-01-09 14:08] rht opened #3579 "Add `make source` for options on building on less common systems"
#### Version information: https://github.com/ipfs/go-ipfs/tree/56058c19f07308f1a8436b265ed1dab5deb70677

#### Type: Feature

#### Description:

To peg the version, it should be sufficient with a redirect gopkg.in/whyrusleeping/gx-go.v1. This is an additional POF, but still better than the current method for "building on less common systems", which is without the version peg.

[2017-01-09 14:22] lgierth commented on #3577
I know, I was just thinking that the intention behind `--offline` is simply to avoid any swarm connections, and that DNS lookups would generally be okay.

[2017-01-09 14:27] lgierth commented on #3578
Would Range headers satisfy this need on the http api? We get these for free with go's net/http. They're already used e.g. for skipping in a video/audio file through the gateway.

[2017-01-09 14:35] Kubuxu commented on #3577
Probably.

[2017-01-09 17:59] whyrusleeping commented on #3522
Made the change in go-floodsub, should be fixed in the next update

[2017-01-09 18:19] whyrusleeping commented on #3560
Tree for updating this
[code]

Basically need to update go-cid, then bubble.

@kevina is this priority for 0.4.5?

[2017-01-09 20:37] kevina commented on #3560
Nice to have.  But not a priority if it is a lot of work.

[2017-01-09 21:32] pgte commented on #3576
https://github.com/ipfs/js-ipfs-unixfs-engine/issues/119 depends on this

[2017-01-09 23:39] whyrusleeping commented on #3505
@Voker57 @Kubuxu could one of you check that the code in #3571 addresses the issue? I've had a hard time reproducing the failure in unit tests (though we should make a note to add 'pin a really big thing' as one of our larger scale integration tests)

[2017-01-10 01:36] kevina commented on #3570
The pinning is failing for me.  That is likely the problem.  I am surprised it works for you:
[code]

However I am doing this with the daemon online.

[2017-01-10 01:42] kevina commented on #3570
Okay, the cbor package is panicking when trying to decode the block in order to pin it.  Here is the full backtrace:
[code]

@ianopolous could you try this with the daemon offline and make sure the block is valid cbor object.

[2017-01-10 02:16] ianopolous commented on #3570
Offline I get the same error. Also if I try and pin the first object I get:

The first one is just a cbor byte[]. If this isn't allowed then that needs to be made clear. My reading of the docs was that any cbor is valid (and it would be a shame if not, as that will bloat the serialization with unnecessary stuff)

The second object has the following breakdown:
0xD90102 = Tag (258)
Then a cbor byte[

[2017-01-10 02:37] kevina commented on #3570
@ianopolous thanks,I think this is a bug in the cbor library.  I am afraid I am not that familiar with cbor objects so not sure how qualified I am to fix this.  I will give it another shot before giving up tomorrow (Tuesday).

[2017-01-10 02:39] ianopolous commented on #3570
@kevina I would guess the cbor library is fine, but that ipfs is assuming the root cbor object is a map, not a general cbor object.

[2017-01-10 03:05] elopio commented on #3532
Carla Sella, from the Ubuntu community, reports that using the ipfs v0.4.4, her virtualbox vm starts to get slow after it connects to over 70 peers. Here are her debugging files.
[ipfs.tar.gz](https://github.com/ipfs/go-ipfs/files/695174/ipfs.tar.gz)

[2017-01-10 11:58] Kubuxu commented on #3576
@pgte @diasdavid what is the status of raw-leaves in js world? I wonder if it is worth to smooth out those edge cases if in future we switch to raw-leaves.

I don't know the whole scope and the plan itself but it might be worth considering.

---

Changing this would change hashes of repeated operations and could double storage in some instances if done improperly. I would advise some caution.

[2017-01-10 12:00] Kubuxu commented on #3560
I would like to introduce helpers to go-cid that would output CID in given base.

[2017-01-10 14:05] whyrusleeping commented on #3570
Yeah, I wasnt really thinking about having base 'non-map' cbor objects being handled when writing the cbor ipld stuff. We can either disallow that for now, or i can figure out how to rewrite the handling in the package to deal with those types of cbor things.

It really comes down to whats in the ipld spec, is `"Foobar"` a valid ipld object?

[2017-01-10 15:45] whyrusleeping commented on #3570
@ianopolous I'm thinking that the objects you created are not valid ipld-cbor objects. We're thinking that only 'map type' top level objects should be allowed. (which means we need to guard against this)

[2017-01-10 15:51] ianopolous commented on #3570
Can I ask why? As it adds a lot of unnecessary bytes to serialization, which matters in things with lots of small objects, like merkle-btrees. It is also conceptually simpler to allow any root object. I would assume in this case that you couldn't follow any ipld path through it, as it is effectively a leaf node as far as ipld is concerned? If you do decide to continue with that path I assume you w

[2017-01-10 15:58] #3565 closed

[2017-01-10 16:14] Kubuxu commented on #3534
Done in https://github.com/ipfs/go-ipfs/pull/3583

[2017-01-10 16:40] ianopolous commented on #3570
I think the same case will also be encountered if you have an ipld selector path internal to an object, which ends up at a non map cbor object.

[2017-01-10 17:17] whyrusleeping commented on #3570
@diasdavid @nicola @jbenet  @lgierth What do you guys think here?

[2017-01-10 17:18] whyrusleeping commented on #3570
@ianopolous could you give a clear description of your usecase here? It seems like youre trying to put your own format over the top of the dag-cbor format

[2017-01-10 17:31] ianopolous commented on #3570
Our usecase is a merkle-btree with lots of small nodes forming non leaf nodes, and leaf nodes which are actual file fragments (encrypted) and thus close to the IPFS object size limit (they are currently just a cbor byte[]).

The non leaf nodes are a list of up to 16 (label, value, target) tuples where label is the key in the btree, and value and target are (optional) multihashes which end up as me

[2017-01-10 20:38] divserge commented on #3362
Hi, everyone!
Is this issue still viable? I'd be glad to pick up this one

[2017-01-10 21:34] whyrusleeping commented on #3362
I think @Kubuxu actually just wrote this today: https://github.com/ipfs/go-ipfs/pull/3583

[2017-01-10 22:12] #3362 closed

[2017-01-11 10:03] wrouesnel commented on #3429
An update:
[code]

This is after running for about a day or 2.

Looking at bandwidth graphs on my router its averaging around 500kbps of traffic, spiking up to 1mbit though. This almost immediately flatlines after I kill the `ipfs-node` container - but this would seem to be *way* more usage then is being reported by the `ipfs stat` command.

So there's definitely way too much traffic going on, and

[2017-01-11 11:37] Kubuxu commented on #3534
The close has to be where it is, due to one more error code that continues function flow but returns nil DagReader.

[2017-01-11 12:48] whyrusleeping opened #3588 "Fix concurrency performance issues of EnumerateChildrenAsync"
We changed the pin call to use the serial version of EnumerateChildren as users were reporting resource consumption issues with it. We need to investigate these issues, add a test for them, and then hopefully move pin back to an optimized fetch.

[2017-01-11 12:51] whyrusleeping commented on #3522
@dignifiedquire can you check latest master and verify this has been resolved?

[2017-01-11 13:06] whyrusleeping commented on #3570
if the links are encrypted, theres no way that pin can handle traversing the graph

[2017-01-11 13:06] whyrusleeping commented on #3570
Also, you can use the 'raw' type for data which doesnt need to be a dag-cbor formatted object.

[2017-01-11 13:09] ianopolous commented on #3570
The files are encrypted, the links are in the clear obviously.

[2017-01-11 13:13] whyrusleeping commented on #3570
Ah, okay. What does the json representation of your cbor structure look like?

[2017-01-11 13:14] ianopolous commented on #3570
My understanding from reading all the docs and code I could get my hands on was that I could write an arbitrary cbor object (using block put) which may contain special cbor tagged merkle links, and that recursive pinning will work based on this.

[2017-01-11 13:15] ianopolous commented on #3570
We never use JSON because it is terrible for binary data. Given a JSON that supports byte[] then any cbor structure that restricts map keys to strings is trivially mappable to JSON + byte[].

[2017-01-11 13:16] whyrusleeping commented on #3570
@ianopolous No, its not arbitrary CBOR. Its ipld objects, that are CBOR encoded, see: https://github.com/ipld/specs/tree/master/ipld

Any cbor object can be represented as json though, i'm just trying to get an idea of the structure you have visually.

[2017-01-11 13:18] whyrusleeping commented on #3570
Note theres still some weirdness in that spec document, but ipld objects are always maps (as far as my understanding goes)

[2017-01-11 13:19] ianopolous commented on #3570
This is the cbor for non leaf nodes (which actually is a map):
https://github.com/Peergos/Peergos/blob/simpler_http/src/peergos/shared/merklebtree/TreeNode.java#L447
The leaf nodes are just cbor byte[]

[2017-01-11 13:22] whyrusleeping commented on #3570
For your leaf nodes you can use format type raw instead of cbor. (`ipfs block put --format=raw`)

[2017-01-11 13:23] ianopolous commented on #3570
ok. The raw thing is a work around for leaf nodes. It does seem like a needles distinction and complication though. and doesn't solve the case of other nodes that have links.

[2017-01-11 13:25] whyrusleeping commented on #3570
@ianopolous The second longer object in the initial issue doesnt seem to parse as cbor (i'm trying to take a look at it with a cbor tool i wrote as well as https://www.npmjs.com/package/cbor-pretty-print). Are you sure its valid?

[2017-01-11 13:26] ianopolous commented on #3570
the second object is a tagged byte[] the tag being 258

[2017-01-11 13:27] whyrusleeping commented on #3570
Ah, okay. Got it working, investigating more now...

[2017-01-11 13:29] whyrusleeping commented on #3570
@ianopolous what is the 'wrapped object' thing supposed to be? Just raw data?

[2017-01-11 13:29] ianopolous commented on #3570
N.B. This was just a minimal test case I could come up with which had a byte[] leaf and a merkle link to it. As linked above, our non leaf nodes are cbor lists of cbor maps (some of the map values are cbor merkle links)

[2017-01-11 13:30] ianopolous commented on #3570
the byte[] after the tag is a multiaddr to bytes (of the form /ipfs/$multihash)

[2017-01-11 13:30] ianopolous commented on #3570
I believe that is following the spec for merkle links

[2017-01-11 13:31] dignifiedquire commented on #3522
Will do later today

[2017-01-11 13:33] whyrusleeping commented on #3570
I'm now trying to figure out why the cbor lib does not think a cbor tag is not okay being a map...

[2017-01-11 13:33] ianopolous commented on #3570
I believe in cbor any object can be tagged.

[2017-01-11 13:37] whyrusleeping commented on #3570
@ianopolous what paths are you expecting to be able to traverse over the object above? (the one with the tag and 'wrapped data')

[2017-01-11 13:47] ianopolous commented on #3570
I don't expect to traverse any paths (I agree that only makes sense for a map with string keys), just to be able to pin the root recursively.

[2017-01-11 13:51] ianopolous commented on #3570
An interesting side point is that with our threat model we can't use ipld paths that are handled on the server as they are trivially MITMable.

[2017-01-11 13:52] whyrusleeping commented on #3570
@ianopolous we can only pin things that have paths traversable through them in some way. What are the link names?

[2017-01-11 13:54] ianopolous commented on #3570
I assumed you just extracted the merkle links from the cbor, which is trivial, and that then gives you a list to recurse over for pinning?

[2017-01-11 13:58] whyrusleeping commented on #3570
Eh... kinda. The thing is that the whole point of IPLD is paths.

I did fix the parsing issues, does this look about right?
[code]

[2017-01-11 14:03] ianopolous commented on #3570
The first object is just the byte[] of "gday IPFS!" but that is plausibly the same as the encoded thing you've got.

[2017-01-11 14:04] whyrusleeping commented on #3570
Yeah, since its a byte array the JSON marshaller for output here encodes it in base64. It should be correct

[2017-01-11 14:04] ianopolous commented on #3570
For me, pinning is much simpler than ipld and doesn't need to depend on ipld paths at all given your cbor format for merkle links.

[2017-01-11 14:06] whyrusleeping commented on #3570
Given my fixes here it should work now. The other thing that i see as being wrong is that your  merkle link format isnt correct. It needs to look like:
[code]

[2017-01-11 14:09] ianopolous commented on #3570
My reading of the ipld doc (https://github.com/ipld/specs/tree/master/ipld#serialised-cbor-with-tags) is that that map is only the JSON version of a link. It states that it is encoded in cbor as a tag to either the byte[] of the multiaddr, or the string of the multiaddress.

[2017-01-11 14:14] whyrusleeping commented on #3570
@ianopolous That document *does* say that, and this is news to me... I'm gonna have to have a chat with @jbenet. This might be starting to make a little more sense now, I initially misread that portion of the spec and assumed it was outdated.

[2017-01-11 14:15] ianopolous commented on #3570
@whyrusleeping Excellent. :-)

[2017-01-11 14:33] whyrusleeping commented on #3570
@ianopolous could you create an object for me that uses the cid byte format? I think i've got the rest of this working, but the link appears to be incorrectly formatted (cid.Parse fails on it)

[2017-01-11 14:41] ianopolous commented on #3570
I believe it is a multihash multiaddr (/ipfs/Qmjfnrjnf), rather than a cid. I can do that in ~8 hours time if that suits?

[2017-01-11 14:49] whyrusleeping commented on #3570
@ianopolous Yeah, I think we're expecting it to not have the /ipfs/ prefix on it. I could be wrong though.

[2017-01-11 15:43] ianopolous commented on #3570
@whyrusleeping it doesn't have the /ipfs in the byte[]. The byte[] is whatever the multiaddress serialization is returning

[2017-01-11 15:44] whyrusleeping commented on #3570
It shouldnt be a multiaddr, it should be a raw multihash or a cid. The spec is wrong there when it says multiaddr.

[2017-01-11 15:46] ianopolous commented on #3570
I was just going from the spec, if it isn't a multiaddr, but just a cid then that's also fine. That did puzzle me. (What about /ip4/127.0.0.1) :-)

[2017-01-11 16:07] kevina commented on #3570
Note: I unassigned myself from this issue and now turned off notifications.

[2017-01-11 16:44] #3568 closed

[2017-01-11 18:20] ianopolous commented on #3570
@whyrusleeping Assuming my Cid serialization is correct, this should be able to replace the 2nd object, and point to the first (it is a tagged byte[] of the cid1.bytes()):
[code]

[2017-01-11 20:49] diasdavid commented on #3576
@Kubuxu `raw leaves` are there, it is just a CID pointing to a binary blob anyway, unixfs-engine is not aware of it, it traverses with the expectations that files use the `dag-pb` IPLD Format.

Can the proposed change in the issue be part of the next release?

[2017-01-11 21:46] kevina commented on #3534
#3581

[2017-01-11 22:14] kevina commented on #3576
To state the obvious: Changing this will also be a backwards incompatible change.  I.e. rehashing a node with a newer version could produce a different hash.

[2017-01-11 23:27] kevina commented on #3534
#3590

[2017-01-12 01:11] axic commented on #2239
@Kubuxu any plans of enabling this sometime soon-ish? :)

[2017-01-12 01:19] kevina commented on #3534
I have checked off all points that are either already addressed or are in an open p.r.  I will look into the following remaining issues:

What remains are some test, I might look into those after I address the above, but they are also testing parts of the code I am not familiar with so I am not sure how qualified I am to write them.

[2017-01-12 03:28] kevina commented on #3534
#3592

I am unsure what you are after here.

Fixed the first part in #3591.  Not 100% sure what you are after in the second part.

[2017-01-12 14:02] jad-darrous opened #3593 "Adding big file with small chunk size fails!"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/linux
Golang version: go1.7

#### Type:
Bug

#### Priority:
P3

#### Description:

I'd like to add a virtual machine image i.e. gib file, to IPFS. I used a smaller chunks size to exploit the similarities of the image content. It fails with chunk size smaller or equal to 8192 bytes.

The file that I tried to add

[2017-01-13 04:38] hmeine commented on #2985
The solution is linked to from the FAQ: https://github.com/ipfs/faq/issues/214

I was missing the option in the python api ( https://github.com/ipfs/py-ipfs-api/ ), but then I am not sure whether this is available from the rest API at all, or whether it is somehow done in the frontend? (This would also have implications on how easy it would be to implement custom, domain-specific chunkers.)

[2017-01-13 07:40] sneak opened #3594 "`ipfs pin` hangs, has no option for timeout"
#### Version information:

ipfs@ipfs:~ $ ipfs version --all
go-ipfs version: 0.4.5-dev-56058c1
Repo version: 4
System version: arm/linux
Golang version: go1.7.4

#### Type: Bug

#### Priority: P3

#### Description:

I have a machine running the ipfs daemon 24/7 that grabs a text file from my ipns namespace, and iterates over the lines, doing an `ipfs pin add $ENTRY` via cron, to automatically mirr

[2017-01-13 07:41] sneak commented on #3594
This may be related/dupe of #3533.

[2017-01-13 13:39] jesseclay opened #3595 "Push go-ipfs to brew, apt-get, pacman and all other package managers"
#### Version information: -

#### Type: Enhancement

#### Priority: P4

#### Description: go-ipfs currently isn't on the main package managers (however js-ipfs is on NPM). We should consider adding go-ipfs to all the main package managers & updating them with each release.

[2017-01-14 02:01] lgierth opened #3596 "Gateway and readonly repo"
The gateway tries to fetch, store, and serve any hash that is requested. It would be useful to be able to refine this behavior, e.g. for repos in readonly environments. The naming is the best I could come up with adhoc.

- [x] `Gateway.Fetch ||= true` config option: whether a hash that has been requested should be fetched from the network if it isn't stored locally yet. If set to false, the gatewa

[2017-01-14 21:21] sere4tegdd opened #3599 "ERROR: dht: checking dht client type: &errors.errorString{s:"EOF"} notif.go:38"
I get that error after starting `ipfs daemon`

[2017-01-15 11:17] Kubuxu commented on #3595
It is in pacman.

[2017-01-15 15:27] rht commented on #3595
nixpkgs: https://github.com/NixOS/nixpkgs/tree/master/pkgs/applications/networking/ipfs

[2017-01-15 16:02] Kubuxu commented on #3599
@whyrusleeping was this fixed already? I am 90% sure that I wasn't fixing it.

[2017-01-15 16:25] Voker57 commented on #3505
Issue is not only in pin add hanging but also being slow. Is pin add verifying integrity of whole stored tree really required?

One way to solve this would be keeping index of DAG links and traverse it when needed, only checking if nodes exists on disk instead of parsing all of them each time. Proper implementation of index imo required adding relational DB to ipfs (sqlite? pluggable backend for p

[2017-01-15 17:28] Kubuxu commented on #3354
I will hit it if I set the bloom filter size on storage hosts to 128MiB.

[2017-01-15 17:28] Kubuxu commented on #3354
The reason for it is our trickery with `map[string]interface{}` I think.

[2017-01-15 19:09] jbenet commented on #3451
Hey @mib-kd743naq -- some quick comments:

To confirm we're understanding each other, there would be at most _one_ Metadata object for each file, and not _one_ Metadata object _per metadata key-value entry_. It's one dict. So instead of N nodes per entry in each dir, 2N nodes. And not kN (where k is the number of metadata entries used).

The reasoning for separating metadata out and making it a _w

[2017-01-15 19:18] jbenet commented on #3451
quick note: since the addition of IPLD and "raw data" nodes, "unixfs-file" has become differentiated from the raw data they contain. Therefore, it may be that storing the metedata directly in the file is no longer that big of an issue. That said, we should note that we would need to do this twice, once for files and once for dirs, instead of once (once for metadata, wrapping both files or dirs).

[2017-01-15 22:07] mib-kd743naq commented on #3451
@jbenet this is not what I was suggesting. I am suggesting that the metadata become property of the unixfs directory **link itself**. I.e. having [this thing](https://github.com/ipfs/go-ipfs/blob/master/merkledag/pb/merkledag.proto#L18-L29) become this:
[code]

Could you reread my original comment/question with that in mind and respond to that? A lot of what you wrote above is very reasonable, but

[2017-01-15 23:15] jbenet commented on #3570
Yes. We want to use any CBOR object, like `"Foobar"`.

My original thinking: Yes. (along with @mildred and @davidar)

Last week, @diasdavid brought to my attention that this was missed by the js and go ipld implementations. (@whyrusleeping: i think we tried telling you last week in person, too). It is an unfortunate omission, sorry you had to find it the hard way @ianopolous.

@diasdavid brought u

[2017-01-15 23:18] jbenet commented on #3570
updated the above to add:
- If you guys think this is confusing, we can revisit the concerns and change things for now to be only IPFS and IPLD paths (note! not just a CID).

[2017-01-16 03:49] mitra42 opened #3601 "Unable to mount new installation - installation instructions may need updating/revising"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/darwin
Golang version: go1.7

#### Type:
Bug

#### Priority:
P3

#### Description:
Installed IPFS
Installed go
Installed Fuse from https://osxfuse.github.io/
The installation instructions don't work well (Mac OSX 10.11.6)
ipfs mount complains about not being able to check the version
Even after installing fuse-

[2017-01-16 17:49] jonnycrunch commented on #3532
Maybe it is time for Garbage Collection to be enabled by default?  @whyrusleeping @RichardLitt  @diasdavid

[2017-01-16 23:12] ivan386 commented on #3546
@the-kenny add new txt record:
`_dnslink.blog.tarn-vedra.de.     10799   IN      TXT     "dnslink=/ipfs/QmdW3xv6W2d26N6Zh8HwEWYAY9WRwDbMC43uZNQFfJbMYL"`

[2017-01-16 23:27] ianopolous commented on #3570
Am I correct in thinking that ipld will also restrict maps to having string keys, as opposed to a general cbor object as a key (which is allowed in cbor)? Then the implication is that any recursive sequence of map keys is a valid ipld path in an object (as long as the root object is a map also).

[2017-01-17 01:26] ianopolous commented on #3570
What would it mean if an ipld object had a merkle link with a multiaddr that was not content addressed, e.g. /ip4/8.8.8.8/tcp/8080 ? Or do you mean that all ipld paths are valid multi-addresses, but not the other way around?

[2017-01-17 11:06] the-kenny commented on #3546
@ivan386 That works, thanks :) Can you explain why this is necessary and why my other configuration didn't work?

[2017-01-17 18:09] diasdavid commented on #3522
PubSub tests are passing with js-ipfs-api and latest go-ipfs master
[code]

However, now I'm getting the name.resolve tests to fail due to a duplicated /ipfs/ prefix, see:

[code]

[2017-01-17 18:17] whyrusleeping commented on #3505
@Voker57 Yeah, we have a 'linkservice' abstraction that is supposed to be for this type of optimization. I'm going to bump this issue from 0.4.5 so we can focus on the speed of things before closing it.

[2017-01-17 18:26] whyrusleeping commented on #3522
@diasdavid can this issue be closed then?

[2017-01-17 18:29] kevina commented on #3505
Note: The 'linkservice' abstraction will only have an effect when raw leaves are used.

[2017-01-17 18:32] dignifiedquire commented on #3522
Not yet, the tests were disabled: https://github.com/ipfs/interface-ipfs-core/blob/master/src/pubsub.js#L116-L117 so you need to first reenable them

[2017-01-17 18:33] whyrusleeping commented on #3522
Could you then re-enable them?

[2017-01-17 18:40] dignifiedquire commented on #3522
https://github.com/ipfs/interface-ipfs-core/pull/111

[2017-01-17 18:50] diasdavid commented on #3522
@whyrusleeping with regards to PubSub, all good! :)

https://github.com/ipfs/js-ipfs-api/pull/493#issuecomment-273261710

Now a new bug, name.resolve, but you can close this issue if you want and track that in a new one?

[2017-01-17 18:55] whyrusleeping commented on #3522
@diasdavid Yeah, lets open a new issue

[2017-01-17 18:55] #3522 closed

[2017-01-17 20:06] donothesitate opened #3603 "enhancement: tarsnap chunker / importer (Content defined, polynomial, fast converging chunking)"
#### Version information:
go-ipfs version: 0.4.4

#### Type: Feature, Enhancement

#### Priority: P4

#### Area: Tools, Importer

#### Description:
Better suited for maximizing deduplication ratio then current Rabin chunker.
Using smaller chunks with faster convergence yields greater space savings, and the benefit depending on dataset can be great in comparison to Rabin.

The mean chunk size used

[2017-01-17 20:30] donothesitate opened #3604 "feature: gzip multi member dependant chunker / importer"
#### Version information:
go-ipfs version: 0.4.4

#### Type: Feature, Enhancement

#### Priority: P4

#### Area: Tools, Importer

#### Description:
Like in case of WARCs, gzip files do support multiple members, effectively making it possible to stitch together large files from smaller ones by mere concatenation.
This gives the possibility to compress meta and each record separately, concatenate on

[2017-01-17 20:48] ivan386 commented on #3546
@the-kenny
I am guessing wildcard dns record points to tarn-vedra.de.

IPFS client resolves 2 dns txt recods `blog.tarn-vedra.de.` and `_dnslink.blog.tarn-vedra.de.`

The second entry has a higher priority.  Because of wildcard record `_dnslink.blog.tarn-vedra.de.` was point to `tarn-vedra.de.`

[2017-01-18 05:46] FrankPetrilli commented on #3599
Just wanted to throw this in; with a brand new master revision, I got this error after the daemon was running for a few hours:

`21:30:28.981 ERROR        dht: checking dht client type: &errors.errorString{s:"EOF"} notif.go:38`

[2017-01-18 07:45] whyrusleeping opened #3607 "Testing Metrics"
@jbenet and I brainstormed a list of metrics we want integrated into go-ipfs and exported to prometheus for testing.

- [x] Duplicate Blocks Received
- [ ] BW usage
  - [x] up
  - [x] down
- [x] api io throughput - not per end point
- [x] datastore metrics (measure-ds output)
- [ ] dht traffic
- [ ] bitswap traffic
- [ ] total blocks added/received/stored
  - [x] if datastore metrics is enough
-

[2017-01-18 08:01] Kubuxu commented on #3546
They have the same priority as far as go-ipfs is concerned, having two different records under those two domains `blog...` and `_dnslink.blog` might cause unexpected results.

[2017-01-18 08:20] whyrusleeping commented on #3546
I beleive the `_dnslink` option has the higher priority. If both are set we use the dnslink one

[2017-01-18 08:22] whyrusleeping commented on #3599
Yeah, this hasnt been fixed yet... Let me go do that.

[2017-01-18 10:14] diasdavid commented on #3570
Catching up with this thread

### CBOR serialization

With our options being:

- a) Serializing {"/": "<some cid>"} without tags would make it very simple, it is what is today and **any CBOR decoder would be able to get it**

- b) Serializing {"/": "<some cid>"} with a cbor-tag would make the serialized format smaller (by @whyrusleeping, exactly 5 bytes smaller), which can have a great impact in t

[2017-01-18 11:33] nicola commented on #3570
Conversation on mutable links here: https://github.com/ipld/specs/issues/9

[2017-01-18 12:13] nicola commented on #3570
Let me reframe this conversation so that we have a common vocabulary on this!
There is an ipld object that can be represented via CBOR or JSON.
However, without properly parsing the representations, they are simply CBOR/JSON objects.

- In (a), the CBOR and JSON representation are identical, which makes it easy to convert across those.
- In (b), they are different representations, but they are the

[2017-01-18 13:18] Kubuxu commented on #3546
That is true, it was changed at request. This also explains why dnslink seems slow in some cases, I think.

@the-kenny is it god to close?

[2017-01-18 15:49] Kubuxu commented on #3505
@kevina the linkservice currently only provides optimization when rew leaves are used, there is nothing stopping us from adding cache there for other nodes types.

[2017-01-18 21:22] mateon1 opened #3609 "datastore: `ipfs repo stat` seems to hang with large repos on Windows"
#### Version information:
0.4.5-dev, 56058c1 with HAMT sharding merged in (unrelated)

#### Type: bug

#### Priority: P2

#### Description:

On a repo with 312695 objects, on a HDD formatted with NTFS, `ipfs repo stat` seems to take forever to finish.
I assume it's doing something inefficient when checking for filesizes, as `ipfs refs local` finishes in 18 seconds.

[code]
[code]
(on a side note,

[2017-01-19 02:07] whyrusleeping commented on #3570
@nicola I agree, ipld objects really should be intended to be dealt with by ipld libraries. Dealing with the tag stuff isnt that much work, and any cbor tool will convert it to a 'tag' object in json (which will properly roundtrip). As an example, @ianopolous did all the tag stuff correctly reading the spec before i even knew about it. It was then pretty simple for me to switch my code over to usi

[2017-01-19 02:09] whyrusleeping commented on #3570
However, i will ask that when we move forward with the tag approach, we select a value between 40 and 95 (the first unassigned range). using 258 consumes one extra byte per link and i'm all about saving bytes

[2017-01-19 03:11] JadedCtrl opened #3610 "'swarm connect' fails on LAN-- "invalid multiaddr" despite valid multiaddr"
#### Version information: 0.4.4

#### Type: Bug

#### Priority: P5

#### Description:
Using go-ipfs 0.4.4 on Windows 8.1 in a LAN network, this command fails:
"ipfs swarm connect /ip4/10.145.24.153/tcp/4001/ipfs/$HASH"
(Pretend $HASH is a valid hash.)
Each time IPFS immediately aborts and gives an "invalid multiaddr" error.
Other variations, like 'ipfs swarm connect "/ip4/10.145.24.153/tcp/4001/ip

[2017-01-19 09:05] whyrusleeping commented on #3570
Is anyone opposed to using a tag of 42? Its in the unallocated range here: https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml and should be fair game. If no opposition is voiced, i'll move forward with that tomorrow.

Also, we need to reach consensus on the multiaddr thing...

[2017-01-19 09:07] jbenet commented on #3570
On the multiaddr thing:

The last part. i meant that "all ipld paths are valid multi-addresses, but not the other way around", and for now no mutable links. (this may relax in the future, but at this time, no mutable links).

Why? IPLD links should be able to be paths, like: `/ipld/<cid>/a/b/c`. not just a cid.

[2017-01-19 09:12] jbenet commented on #3570
Though, since it looks like @whyrusleeping and @diasdavid both assumed that links were only CIDs (not sure why ;P), i'm ok to relax the spec constraints there, and say that for now it's only a CID,  ant not a full path. if people want to do a full path and enforce it now, speak now!

[2017-01-19 09:17] ianopolous commented on #3570
@whyrusleeping Indeed, given a standard cbor library, it was easy to implement an ipld parser using the tags.

In my opinion, mutable (authenticated) links should be a layer up. Otherwise even a simple pinning operation could require arbitrary ipns lookups each with their own validity scheme, which would combine into something very hard to reason about. If the links are restricted to cids (or cid+

[2017-01-19 09:27] whyrusleeping commented on #3570
Alright, going to move forward with all this tomorrow. The cid's put in the links will be prefixed with a multibase code for binary (a single zero byte) for consistency. Doing this will allow us to easily upgrade to multiaddr paths later on (if buf[0] != 0 )

[2017-01-19 09:40] diasdavid commented on #3570
I don't feel strongly about it, I just raised the concern for the question made "How can we make this simple". We are going to document a lot anyway, it is just more a bunch of notes saying "use these libraries".

Why? IPLD links should be able to be paths, like: /ipld/<cid>/a/b/c. not just a cid.

The resolver knows how to resolve paths, but I haven't made tests for links to be paths (missed that

[2017-01-19 09:46] whyrusleeping commented on #3570
go-ipfs will not support paths in links for a long time. please don't implement that, it won't interop.

[2017-01-19 09:58] jbenet commented on #3570
@ianopolous did you implement path support, or just cid support?

[2017-01-19 10:31] dignifiedquire commented on #3570
Please do paths, even if go doesn't support them currently it should at least be able to ignore them such that other implementations can use paths, they are one of the big features of IPLD.

[2017-01-19 13:05] ianopolous commented on #3570
@jbenet Originally I used general multi-addresses, then changed it to cids, but it's easy to change back. It's just a parser.

[2017-01-19 16:53] whyrusleeping commented on #3570
The spec for multiaddr ipld paths doesnt even exist yet. When we get to the point where we know what we're wanting to implement there then maybe we can think about implementing it

[2017-01-19 20:43] keks commented on #3524
sorry for bumping all the time @whyrusleeping

[2017-01-19 21:55] maedoc opened #3612 "Error: config key invalid: DontCheckOSXFUSE %!s(bool=true)"
#### Version information:
[code]

#### Type: bug

#### Priority: p5

#### Description:

Having difficulty getting `mount` to work,

[code]
yet, in `~/.ipfs/config` there are other `true` values so I'm not sure what's going on.

[2017-01-19 22:34] whyrusleeping commented on #3524
@keks thanks for being persistent about getting review on this :)

Overall I like the idea, My only hesitation is that this will be a very large changeset (if i understand correctly, it will touch every single command). To get around that, we could *temporarily* make the run function on the commands objects an interface, and then type check it to either the old style function or the new style func

[2017-01-19 22:51] keks commented on #3524
Yeah that would work. I'd be fine doing that even though I'm not sure about the performance impact of type switches.

This totally should work, as long as you use multipart requests. Just keep reading the multipart reader and emit to the ResponseEmitter. New feature: you can flush in between!

Yeah that makes sense. I'll update the initial proposal so I don't forget that.

[2017-01-19 22:52] whyrusleeping commented on #3524
performance impact of type switches is negligible, especially on user facing code (network latencies and process spawning times VASTLY exceed this cost).

[2017-01-19 23:28] whyrusleeping commented on #3570
Alright, heres my PR to the CBOR code: https://github.com/ipfs/go-ipld-cbor/pull/5

I changed the cbor tag to 42, and changed links to contain a binary-multibase (the byte `0`) prefixes binary CIDs. Please review.

[2017-01-20 00:53] whyrusleeping commented on #3463
closed by #3608

[2017-01-20 00:53] #3463 closed

[2017-01-20 01:57] lgierth opened #3613 "More granular address announcements"
Sometimes a go-ipfs listener can not directly bind to its external address. This is e.g. the case with NAT, where it binds to an IP address in the local network, while other nodes dial it using the local router's public IP address. We jump through all kinds of hoops to work around that, and one of these is "observed addresses", where other nodes tell us which addresses they've seen us using.

Anot

[2017-01-20 03:10] whyrusleeping commented on #3599
This should now be resolved.

[2017-01-20 03:10] #3599 closed

[2017-01-20 09:01] karlek commented on #3040
Hasn't been any update, so I'll close this.

[2017-01-20 09:01] #3040 closed

[2017-01-20 10:08] mateon1 commented on #3613
Related: ipfs/faq#185 (using SOCKS with IPFS)

[2017-01-20 12:15] ianopolous commented on #3570
It's great to see the answer to the ultimate question of life, the universe and everything making it into the ipld spec. :-)

[2017-01-20 16:52] drauschenbach opened #3614 "Dokku-based Dockerfile build fails on `.git/objects` directory concerns"
Although a local Docker build of v0.4.4 works, a remote Dokku-based buildstep-based build fails with:

[code]

[2017-01-21 16:42] bionic6manuel commented on #1840
Im having the same problem using ipfs version 0.4.4 ipfs is great but this is just sad. Built from source and that did not help. Over wifi it is very slow 1gig more than an hour over cable same thing.

[2017-01-21 17:46] whyrusleeping commented on #1840
Huh, not sure why this was closed... Looks like it may have been a result of something else merging?

[2017-01-22 03:14] mguentner opened #3621 "0.4.5: repo does not scale beyond ~ 8000 files"
#### Version information:
go-ipfs version: 0.4.5-dev-
Repo version: 5
System version: amd64/linux
Golang version: go1.7.4

#### Type:
Bug

#### Priority:
P0
#### Description:

When adding a lot of files locally (or using the daemon without `--enable-gc`), the repo grows even faster in size after a certain limit.
It seems to be around 8000, my gut tells me it's 8192 :dizzy:
Unless you have a lot of

[2017-01-22 06:35] jbenet commented on #3621
Thank you, this is great. we should:
- add this as a test case to go-ipfs (i.e. verify smooth scaling of repo size)
- have a way to get graphs/reports like this

[2017-01-22 07:15] whyrusleeping commented on #3570
@ianopolous I've merged the changes into master, and i've tested pinning a few different cbor objects, as well as added a test for it. Mind testing it independently and reporting back?

I'm going to optimistically close this issue (open it again if i'm wrong)

[2017-01-22 14:04] ianopolous commented on #3570
Hmm, with 0.4.5-pre2-416f025 it hangs if I try and pin the first object in this issue (the cbor byte[]) through the cli, e.g.:
[code]

[2017-01-22 16:42] ianopolous commented on #3570
@whyrusleeping I also don't seem to have the permissions to reopen the issue.

[2017-01-22 18:50] whyrusleeping commented on #3529
I beleive the issue here is that we pipe everything through a tar stream, and we're tracking the progress of the tar over the actual size of the files.

[2017-01-22 19:16] Kubuxu commented on #3621
My bet is that it might be the pin sharding we are currently use.ing it is being enabled at 8Ki items in the pin set, and causes at least 256 objects to be created with each add (change of the sharing seed, IDK why it was designed this way).

This shouldn't be a be a 0.4.5 blocker.

[2017-01-22 20:00] whyrusleeping opened #3624 "pin add needs a progress bar"
It currently just prints nothing until its done, this can lead people (myself included) into thinking that its frozen.

[2017-01-22 20:04] mguentner commented on #3621
Even without the 8192, the overhead before a gc seems rather high (roughly 2200%)

[2017-01-22 22:41] JustinDrake opened #3625 "Allow option to use ed25519"
The current version of IPFS [hardcodes the crypto to RSA](https://github.com/ipfs/go-ipfs/blob/master/repo/config/init.go#L104). Would be cool to have to the option to use ed25519 for identities.

[2017-01-22 23:55] whyrusleeping commented on #3570
@ianopolous hrm... doing that gets me 'merkledag not found'. Is that object a link?

[2017-01-22 23:57] whyrusleeping commented on #3570
For some reason ipfs thinks that object has a link to: `zdpuAsFzbmVjkDjySRJNAw2ndtAogPUVqCSZgP4MhxVRxVcE4`... Unclear why. investigating.

[2017-01-22 23:58] ianopolous commented on #3570
It's just a cbor byte array. No links. The byte array contents are the UTF8 bytes of 'gday IPFS!'

[2017-01-23 00:10] whyrusleeping commented on #3570
huh, it doesnt appear the cbor code likes roundtripping that byte array...

[2017-01-23 00:31] whyrusleeping commented on #3570
@ianopolous lol, i found the issue. Using echo adds an extra newline to the end of the input, which when using 'block put', gets added as part of the block. But when the cbor library parses this block, it ignores that newline since its not part of the actual format, resulting in a different hash.

If you use printf instead of echo there, you should get the expected behaviour.

I'm not sure if i'm

[2017-01-23 00:39] ianopolous commented on #3570
@whyrusleeping Sorry, my bad. I can confirm that pinning a cbor byte[] works now. As well as pinning a merkle link to said byte[].
Cheers! Now to figure out why the http api is giving me multihashes not cids.

[2017-01-23 00:39] #3570 closed

[2017-01-23 18:20] Kubuxu commented on #3546
Closing, if you find some other issue with it, please open a new issue.

[2017-01-23 18:20] #3546 closed

[2017-01-23 18:28] Kubuxu commented on #3625
Our crypto is not x25519 ready, I don't know what is the currentl plan of fixing that.

[2017-01-23 20:26] keks commented on #3524
Swapping out my thoughts about this [here].

[here]: https://hackmd.io/GYdgTGIIYBwIwFoCmwkgQFjlAbAgnGAMwDGCwGOIArCCCcbkA===?both

[2017-01-23 22:04] JustinDrake commented on #3625
As far as I can tell, libp2p [already supports ed25519](https://github.com/libp2p/go-libp2p-crypto/pull/5). What more needs to be done to be x25519 ready?

[2017-01-23 22:14] Kubuxu commented on #3625
Crypto protocol that supports it, currently we are using go-libp2p-secio which doesn't.

[2017-01-23 22:14] Kubuxu commented on #3625
and migration path.

[2017-01-23 22:24] flyingzumwalt commented on #3471
:+1:

[2017-01-23 22:26] flyingzumwalt commented on #3471
FYI Until you fix this, you're returning an error message that's not self-consistent. It says "Please upgrade to the latest OSXFUSE version." but then says "OSXFUSE versions >3.0.0 are not compatible with version of FUSE library in current use." Without any actual recommendation of which version you should be using.

[code]

[2017-01-23 22:41] flyingzumwalt commented on #3471
Wow. Fuse doesn't even provide prebuilt downloads for version <3.x

Reason to press on this: when I download the code and run the tests, I get a bunch of test failures around fuse -- fuse isn't installed and then (after installing) fuse version isn't supported. Basic sanity check for good OSS code: someone with coding skills should be able to download your tests, run them and get 100% pass without

[2017-01-23 23:19] ianopolous opened #3627 "Block.put returns Multihash instead of Cid"
#### Version information: go-ipfs version: 0.4.5-pre2-416f025
Repo version: 5
System version: amd64/linux
Golang version: go1.7.1

#### Type: Bug

#### Priority: P1

#### Description:
The http api for block.put seems to still return multi-hashes rather than cids (in the JSON object that is returned).

E.g.
{"Key":"QmVBCpx91Yb5hGCqkQbWeqQ83B8r9mbN9EMr3c6y22ePKE","Size":12}

[2017-01-23 23:33] FrankPetrilli commented on #3610
How did you get that hash value? I'm having no issue using a hash I obtained via running `ipfs id` on the remote end.

[code]

[2017-01-23 23:53] Kubuxu commented on #3471
We know that, the message was fixed. The upgrade of fuse library we are currently are using was queued for 0.4.6

[2017-01-24 05:03] whyrusleeping commented on #3621
oh... that must be the pinset stupidity. I made a note to fix that last quarter and didnt. Thank you for bringing it up and making it a priority.

[2017-01-24 05:05] whyrusleeping commented on #3621
In the meantime, depending on the dataset, adding without pinning should not trigger this bug. @mguentner do you mind rerunning the tests that created that graph with `--pin=false` ?

[2017-01-24 05:06] whyrusleeping commented on #3627
@ianopolous what paramters are you passing to block put for format? By default it creates an old style node (protobuf, cidv0).

[2017-01-24 05:10] whyrusleeping commented on #3625
The secio protocol will handle ed25519 just fine. The real reason we havent enabled it yet is because if you use an ed25519 key, you would only be able to communicate with other peers that have the code that supports it. We're waiting until an acceptable number of peers roll out to a supported version before we give users the option to do that.

That said, for open bazaar, since youre not interopi

[2017-01-24 05:27] whyrusleeping commented on #3612
Try doing:
[code]

That *should* fix the issue... This behaviour has been improved in 0.4.5 and what you tried should work on 0.4.5-dev

[2017-01-24 05:33] whyrusleeping opened #3628 "blockstore query also queries leveldb"
The way the namespace datastore works is that it queries both underlying datastores and filters out the correct entries it needs. This is both really inefficient, and since leveldb cant seem to be queried concurrently, causing me a headache elsewhere. We should fix this abstraction and pass a direct reference to flatfs to the blockstore (or have the namespace datastore be mount datastore aware)

[2017-01-24 06:12] whyrusleeping commented on #3595
go-ipfs is in go get

[2017-01-24 08:15] mib-kd743naq commented on #3627
@ianopolous specifically:

[code]

[2017-01-24 08:24] ianopolous commented on #3627
Sorry, I'm an idiot. Of course it needs the format=cbor.

[2017-01-24 08:24] #3627 closed

[2017-01-24 12:51] maedoc commented on #3612
I still get the above `Error: config key invalid`. I'll try again later on 0.4.5.

[2017-01-24 15:10] mguentner commented on #3621
For reference ipfs 0.4.**4** with the same dataset (pinned):
![](https://ipfs.io/ipfs/QmZuzV3VVbVSpPhZ8T78aA7p9CYcSCoGMzoJ7dZkbTukGP)
And now ipfs 0.4.**5** without pinning as requested by @whyrusleeping (mind the scale)
![](https://ipfs.io/ipfs/QmQTEzcuCbqbYoiJbn4i3Zey1bsGaZ1fgj7fiH1CBUAEPp)

[2017-01-24 20:42] whyrusleeping commented on #3628
@kevina do you think you could take a look at this? I think the idiomatic go way to do this would be to make the namespace datastore understand mount datastores and be able to optimize for that case.

[2017-01-24 21:45] kevina commented on #3628
@whyrusleeping, sure I am a little confused on to what you are after though.

[2017-01-25 02:03] kevina commented on #3628
Okay I think I understand I'll look into this soon, likely tomorrow.

[2017-01-25 03:25] jbenet commented on #3607
## More metrics we want

It's time to get serious about this. This is not an exhaustive list, and we should have more that I'm forgetting. But all of this will seriously help us fix a ton of the problems plagueing us.

- host system usage
  - cpu usage
  - ram usage
  - goroutines
  - threads
  - disk iops
  - net iops
- ipfs node
  - uptime
- swarm
  - peers connected (currently)
  - peers connec

[2017-01-25 10:08] jbenet commented on #3524
Thanks for pushing for this 👍  commands lib needs much love. ❤️  (Or much fire 🔥  to spring anew 🌱 )

I'm still digesting the proposed changes.

Some immediate warnings:
- making sure everything checks out the same way will be non trivial. i think the commands are undertested, and thus changing them may break functionality. I would suggest that adding testing of weird edge case conditions for the

[2017-01-25 11:12] Kubuxu commented on #3607
With Prometheus there is no need to collect the per second metrics, they can be trivially calculated from total metrics.
Using histograms allows us to observe given event (bytes of block being sent) and put it into a bucket of given size. It also exposes to Prometheus sum of bytes sent and number of events.

[2017-01-25 20:22] whyrusleeping commented on #3628
My thought is that when a namespace datastore is created, it should be able to check if its child is a mount datastore, and if thats the case, and its namespace matches one of the mounts, we can skip all the middle layering and just use the mounted datastore directly (skipping the key appending and trimming stuff).

[2017-01-25 21:16] jbenet commented on #3607
whoever checked boxes in https://github.com/ipfs/go-ipfs/issues/3607#issuecomment-275009318 (@whyrusleeping?) -- do we actually have:

? in particular: latency stats? avg, mean, median? have an example report i can look at?

[2017-01-25 21:36] Kubuxu commented on #3607
Example stats:
[code]

[2017-01-25 21:37] Kubuxu commented on #3607
I would link you to graphana but it might not be deployed yet.

[2017-01-25 22:09] keks commented on #3524
Thanks @jbenet!

Good point. I am thinking about how to implement the legacy API layer best. I have a pretty concrete idea but it seems quite cumbersome and it looks like its easy to mess up things. The problem is that we will face this problem even when we rewrite and rip out the `commands` lib.

totally!

I think @lgierth started working on that, right? Maybe those commands could be the first on

[2017-01-26 00:08] keks commented on #3524
fyi: work happens [here].

[here]: https://github.com/ipfs/go-ipfs/compare/feat/responseemitter

[2017-01-26 00:52] cpacia opened #3632 "Flatfs initialization bombs on windows"
The ultimate cause is something causes a ._check_writeable file to be written to the blocks directory.

Then when this line of code checks that the directory is empty it returns an error:

https://github.com/ipfs/go-ds-flatfs/blob/9553971a40e28fd9d1022c66c1dc0b9dc5e03451/flatfs.go#L63

A simple `os.Remove()` fixes it, though I'm not familiar enough with either windows or what IPFS is doing on init

[2017-01-26 02:15] kevina commented on #3628
We talked this out over IRC and it seams that this is not the issue @whyrusleeping was seeing.  Both datastores are _not_ being queried.

[2017-01-26 02:15] #3628 closed

[2017-01-26 06:37] jbenet commented on #3607
nice

[2017-01-26 09:33] Kubuxu commented on #3607
Also we can improve the sample density if/when needed.

[2017-01-26 17:20] whyrusleeping commented on #3632
Thats... weird. I wonder why that file gets created.

Will need to research this some, and this should get fixed before we ship 0.4.5 (since this is caused by very recent flatfs changes)
cc @kevina

[2017-01-26 17:32] whyrusleeping commented on #3594
I think the reason for the hang has been fixed in a recent PR, but for the timeout, you can pass `--timeout` to any ipfs command (i know, this is pretty much undocumented).

[2017-01-26 17:39] kevina commented on #3632
[This code](https://github.com/ipfs/go-ipfs/blob/master/thirdparty/dir/dir.go#L18) likely creates it:
[code]
Now what to do about it?

[2017-01-26 17:43] kevina commented on #3632
Okay so [this code](https://github.com/ipfs/go-ipfs/blob/f09bd5c3f18cae2f557066e2c1fd2f2718c64329/repo/fsrepo/defaultds.go#L71) calls Writable:
[code]
We should probably not do that anymore.  Flatfs has a seperate Create function, we should probably use it.  @whyrusleeping agree?

[2017-01-26 20:27] whyrusleeping commented on #3632
@kevina We should probably make sure that that writeable method doesnt leave a file lingering in it (make sure we remove it afterwards)

[2017-01-26 20:38] tkharris opened #3633 "In Windows seems to fail to release lock on ls error"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/windows
Golang version: go1.7

#### Type: Bug

#### Priority: P2

#### Description

In Windows seems to fail to release lock on ls error.

[2017-01-26 20:54] whyrusleeping opened #3634 "ipfs get fails with bad message when using wrong version client"
was running a daemon using ipfs 0.4.5-dev, and tried to ipfs get with 0.4.5-pre2. On most commands this errors with an 'api mismatch' error, but ipfs get errors with an 'unexpected EOF' ugly message.

[2017-01-26 21:18] kevina commented on #3632
@whyrusleeping  Writable should already be cleaning up.  Unless os.Create can fail but still write the file.

[2017-01-26 21:23] whyrusleeping commented on #3633
@tkharris Thanks for reporting. We are going to try and get windows CI and testing set up in the next several weeks, these sorts of issues should get worked out soon.

[2017-01-27 04:51] kevina commented on #3632
@whyrusleeping Let me know if you want me to do anything on this or if you want to handle it.  I'm afraid I won't be much help in debugging the windows specific problem.

[2017-01-27 05:07] chosenken commented on #3572
Ok, I found a way to start IPFS in the backgroup without a command window staying up.  The downside is you don't see any logs, and you have to kill the program via the Task Manager.  If you have [Git for Windows installed](https://git-scm.com/download/win), then you just need to create a bash file to execute IPFS.  The contents would be:

[code]

Save this as something like `ipfs_daemon.sh`, then

[2017-01-27 06:34] whyrusleeping commented on #3632
Looks like the issue is that `path` was used instead of `filepath` for concatenation and encoding of keys.

[2017-01-27 06:39] whyrusleeping commented on #3632
As well as windows having a problem with removing a file thats open. So in the `Writeable` function we have to close `f` before calling remove on it.

[2017-01-27 06:45] kevina commented on #3632
Okay, I will create a p.r. first thing tomorrow, unless you beat me to it. :)  I won't be able to test it on windows though. :(

[2017-01-27 06:45] whyrusleeping commented on #3632
I've got one PR up, pushing the second in a little bit

[2017-01-27 17:13] #3632 closed

[2017-01-27 18:36] whyrusleeping opened #3638 "Importer flow needs a redesign"
More and more we are getting into situations where our bottleneck for adding files is hashing speed. To get around this we need to parallelize the hashing (and also look at faster hashing functions, blake2b). This is a little bit difficult with the current way that the importer setup works now. So i'm proposing a different flow.

The current flow is that we start by building the tree, we get nodes

[2017-01-27 19:29] lgierth commented on #3534
I updated the list in the top comment -- 22 items added, for a total of now 199 changes. added:

misc
- [ ] Ipfs 0.4.5, pre-release 2 -- ipfs/go-ipfs#3623

deps
- [ ] update to the correct ipld cbor code -- ipfs/go-ipfs#3616
- [ ] update dht code to drop error log to warning -- ipfs/go-ipfs#3611
- [ ] update go-libp2p with negotiate lazy fixes -- ipfs/go-ipfs#3582
- [ ] update libp2p for identify

[2017-01-27 19:32] rht commented on #3638
Request for proof that such is the case.

I have benchmarked this [a while ago](https://github.com/ipfs/go-ipfs/issues/2185#issuecomment-179457511) that hashing speed, while major, is not the main bottleneck.

Hashing in parallel
+ at this point
   1. won't necessary make things faster (due to having these goroutines to run nondeterministically, and this has already been proven in previous benchma

[2017-01-27 19:37] whyrusleeping commented on #3638
Numerous profile runs that look like this: https://ipfs.io/ipfs/QmWXJVSXfRLvWUi5je31MmSj7U612hKHfJv2ff6snqwQAn

Also, quickly hacking together [some code](https://github.com/ipfs/go-ipfs/commit/368a36d85cb8488b8504f62af94dc4daf1a35dcb) to hash blocks in parallel results in a 2x to 3x improvement in add times

[2017-01-27 19:55] rht commented on #3638
ic, what are the file size distribution and how many files are being packed, if I could reproduce the result?

How is the rawNodePromise different from chunk channels?

[2017-01-27 19:59] whyrusleeping commented on #3638
No performance increase is seen on repos containing primarily small files, but my first testing dataset was a single 16GB file, and the second dataset i ran was a 2TB directory with file sizes  up to 100MB, and an average directory depth of four.

The rawNodePromise made it easier to keep things ordered (as opposed to having to synchronize workers sending on a channel), its definitely not a well t

[2017-01-27 20:01] whyrusleeping commented on #3638
Note that flatfs NoSync is assumed here, and most test cases used either that, filestore, or --only-hash.

[2017-01-27 23:49] whyrusleeping commented on #3621
I think a quick backwards compatible change we can make to fix this is to fix the random seed thing in the pinsets. That should prevent this exponential explosion thing in the short term. Long term we need to find a better datastructure to manage the pins.

@mguentner could you get me a script that generates these graphs? That would be super helpful

[2017-01-28 00:39] whyrusleeping commented on #3621
@mguentner nvm, found your script linked above. sorry about that

[2017-01-28 01:01] whyrusleeping commented on #3621
Yeah, making the random seed in pin/set.go return 42 causes the numbers to look much better: https://ipfs.io/ipfs/QmaiQCNM7bURXHtmfe9BXFsZfjgXj7NsSobobc9u2iRYQJ

I see no good reason why we should continue using a random number there... Im actually not certain what use that had in the first place (I think it was trying to make sure the set didnt get weirdly unbalanced).

[2017-01-28 01:07] whyrusleeping commented on #3621
Ah, the random number was used to ensure that when placing items in nested buckets, they didnt all end up in the same spot. Say 1000 entries hash into bucket slot 50, We then recursively add those 1000 entries into their own 'sub-set'. Without the random number, they would all hash into bucket slot 50 of the sub-bucket, and we would likely have some uber-recursion-stack-overflow sort of thing. Wha

[2017-01-28 01:09] whyrusleeping commented on #3621
(havent found the problem yet, just logging my thoughts here)

One easy solution is to just use the subtree depth as the seed instead of a random number. Its deterministic AND solves the bucket collision issue.

[2017-01-28 02:07] lgierth commented on #3621
Make that comment about the random number a comment in the code, for the next random developer wondering ;)

[2017-01-28 05:48] whyrusleeping commented on #3621
Figured out the recursion issue that the random number is meant to prevent, confirmed that using the depth of the tree instead of a random number solves the problem as well as preventing the exponential object creation issue. Will push some code soon

[2017-01-28 06:26] rht commented on #3621
As with the graph / test case, this is redundant with having a repo that constantly pin large real datasets (e.g. the ongoing data.gov or an existing cdnjs) as a natural test case. Performance regression can be detected by how long it takes to version-update these datasets.

[2017-01-28 06:30] rht commented on #3621
(drawing the parallel with nix and nixpkgs-hydra build)

[2017-01-28 11:52] rht commented on #3625
How should "acceptable number" be defined -- majority (>50%) or supermajority (>66%)?

The distribution of the versions being used in the wild could possibly be figured out the same way as [the geographical distributions of ipfs nodes](https://ipfs.io/ipfs/QmcHzvXcXNB58XNy6LUKSeV8r9LTzAUuyX8DMPsjL1umBs) (I wasn't able to find the author of this code to repurpose the script).

[2017-01-28 16:03] cakenggt opened #3641 "IPFS does not respect IPFS_PATH on Windows"
#### Version information:
go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/windows
Golang version: go1.7

#### Type: Bug

#### Priority: P1

#### Description:
I have tried changing my account's environment variable for `IPFS_PATH` and my system variable for it, but neither actually changes where the `init` creates a repo, or where the `daemon` starts up from.

I shut down my command l

[2017-01-28 16:40] rht commented on #3641
On `Linux majorana 4.4.41 #1-NixOS SMP Mon Jan 9 07:08:10 UTC 2017 x86_64 GNU/Linux`, `ipfs version 0.4.5-dev`, `go version go1.7.4 linux/amd64`, setting `IPFS_PATH` it works just fine.

- Do other env vars function well? e.g. if you could test `IPFS_LOGGING=debug`
- Does the problem persist if you use the latest pre-release? https://github.com/ipfs/go-ipfs/releases/tag/v0.4.5-pre2

[2017-01-28 17:38] mateon1 commented on #3641
This does not happen on my Windows 10 x64 machine.
Can you type `echo %IPFS_PATH%` in the same shell that you are launching the IPFS daemon from?

Note: I had small issues with environment variables when setting them for my user account only. Try setting the IPFS_PATH environment variable system-wide and try again.

[2017-01-28 22:41] Balancer commented on #3505
I have a same problem.

I have IPFS 0.4.4.

I try to duplicate files from one computer on another. The .ipfs catalog size — 42 GB. Has received the pins list on one computer and I do `pin add` on another. At first went quickly, but now when the extent of base on other computer makes 28 GB, process takes 10-15 seconds on each hash. And they are 30000. What worst of all, after interruption of proces

[2017-01-29 09:32] Voker57 commented on #3505
@Balancer in 0.4.4 pin add is broken and can randomly deadlock with a lot of data to pin.
In latest git it's properly working and you're welcome to test my patch #3642 which makes pinning of present data much faster.
Also unrelated, but why do you have 30000 pins? Are these all different directories which have to go to different parts of filesystem?

[2017-01-29 13:08] djdv commented on #3641
Also working on my machine.
![untitled](https://cloud.githubusercontent.com/assets/13862850/22404198/0053b4fc-e5fa-11e6-840c-348c4975f4ad.png)

[2017-01-29 18:47] Kubuxu commented on #3214
As we don't want to change the hashes, we can't update for this new version of gogo-protobuf.

But we should update gogo-protobuf to a version with test vectors removed. It is 19MiB of 29MiB package, we probably could remove some other packages from it too.

[2017-01-29 22:08] crackcomm opened #3643 "ipfs add ignore, .ipfsignore"
I would love to be able to run `ipfs add -w -r .` but ignoring `node_modules` or `target` directory, or any other directory.
Something like `.ipfsignore` may be an overkill but something like this is what I am looking for.

[2017-01-29 22:37] rht commented on #3625
Figured a way to do this from one node:
[code]

returns 130k nodes, with stat of a subset (16341) of them
[code]

79.5% on "go-libp2p/3.3.4", 14.5% on "go-ipfs/0.4.5-*", 4.6% on "go-libp2p/0.1.0", 1.4% on mcnode

[2017-01-30 00:33] whyrusleeping commented on #3643
Yeah, i'd like to have this too. I implemented it semi-manually for `gx` https://github.com/whyrusleeping/gx/blob/master/gxutil/publish.go

[2017-01-30 08:35] daviddias opened #3644 "go-ipfs opens non requested TCP listener"
#### Version information:

go-ipfs version: 0.4.5-dev-ea36c38
Repo version: 4
System version: amd64/darwin
Golang version: go1.7.1

#### Type: Bug

#### Priority: P3

#### Description:

When only listing a `WebSockets` addr for go-ipfs, it still creates a listener on TCP

Config file

[code]

Output of ipfs id

[code]

Note that I also removed all of the bootstrapers from the config.

[2017-01-30 08:52] whyrusleeping commented on #3644
well thats weird.

[2017-01-30 12:19] keks commented on #3524
I ripped the `commands/` subtree out into its own git repo ([go-ipfs-cmds]). It is currently private as there is a lot of code committed by others and I wasn't sure if that is okay to do copyright-wise. I copied the license and changelog from the go-ipfs repo. If you think that is enough, please tell me and I'll make the repo public @whyrusleeping @jbenet.

Splitting into a seperate package allows

[2017-01-30 13:50] lgierth commented on #3644
My guess is that's the fallback listener. I see it too.

[2017-01-30 13:50] lgierth commented on #3644
or fallback dialer or what it's called

[2017-01-30 17:41] hsanjuan commented on #3524
hey! I saw you ask for comments during the call.

So just so you keep it in mind, `ipfs-http-api-docs` uses the code you are trying to move (https://github.com/ipfs/ipfs-http-api-docs/blob/master/endpoints.go#L12) to generate docs.ipfs.io API documentation. This is done by walking the commands tree from the Root and extracting the information from the fields.  I understand this will break it. That

[2017-01-30 17:43] Kubuxu commented on #3524
@keks the extraction should be ok license wise. DCO should still apply.

[2017-01-30 17:49] keks commented on #3524
@hsanjuan thanks for the heads-up! I'll try to make sure that things will work smoothly afterwards.
Having the requirement that `go-ipfs-cmds` should play well with legacy commands introduces quite a lot if `interface{}` where a `*Command` used to be (because it could be a `*"go-ipfs/commands".Command` or a `*"go-ipfs-cmds".Command`). That is annoying, but I'll try to mitigate that later, maybe by

[2017-01-30 18:30] letozaf opened #3645 "Webui does not show peers"
#### Version information: master branch version of 30 January 2017 (Ipfs 0.4.5, release candidate 1 )

#### Type: BUG

#### Priority: P3

#### Description:

The Webui does not display peers, peers always remain 0. In the previous version the peers are shown.

[2017-01-30 18:37] VictorBjelkholm commented on #3645
Thanks for reporting this issue! However, there is an issue open already in the ipfs/webui repository, so let's continue there: https://github.com/ipfs/webui/issues/568

[2017-01-30 18:37] #3645 closed

[2017-01-30 19:54] RichardLitt commented on #3524
@keks just to be clear: this isn't related intrinsically to https://github.com/ipfs/go-ipfs/issues/2647, correct?

[2017-01-30 20:27] rht commented on #3462
@kevina

Would be really really great if you could wrap the script in a repo. Someone needs to do this, as I'm kind of tired of waiting for arbitrary non-transparent approval from the members/those-with-commit-access, or that this has to be implemented by these people, otherwise it is "wrong" (apologize for this statement beforehand if it might not be according to any of the terms in code-of-condu

[2017-01-30 20:38] whyrusleeping commented on #3462
@rht If you want to help out with automated performance benchmarks you should take part in our ongoing CI/CD sprint. It would be great to collect these various benchmarks together and have them be automatically run for each new PR.

[2017-01-30 20:59] rht commented on #3462
(I am in fact in the middle of curating all these scattered benchmarks into https://github.com/rht/sfpi-benchmark)

[2017-01-31 12:17] keks commented on #3524
@RichardLitt no, not at all. Great to know that exists though. I'll make that branch as well when the package is done.

[2017-01-31 12:38] Kubuxu commented on #3524
@keks the test for it is already written: https://github.com/ipfs/go-ipfs/pull/2648

[2017-01-31 14:27] rht commented on #3131
@alikic I found your add-cat perf test suite. I had compiled together various perf test suites scattered in lots of issue disc, at https://github.com/rht/sfpi-benchmark with fancy graphs, standardizing how they should be implemented (I'm inclined toward sharness-like one for rapid writing and succinctness, and that this is how most people had written it). I wonder if you could help me port https:/

[2017-01-31 14:34] rht commented on #3254
Duplicate of #3621. Also, tracking of how the repo size grows have been incorporated into the benchmark.

[2017-01-31 14:40] rht commented on #3338
In the context of lazy evaluation, it is unclear how to delay adding a subset of data, since in order to get the root hash, all the child nodes need to be hashed.

[2017-01-31 15:52] Kubuxu commented on #3254
@rht it isn't duplicate of #3621. #3621 references directly the pin sharding creating a lot of intermediate nodes, this is is about files api.

[2017-01-31 17:51] keks commented on #3524
So @diasdavid and me just had a chat. He pointed out that `commands/http` currently is neither very friendly to browser clients nor to cli clients. We had the idea to add an `rpc` subpackage that provides a generic RPC API (you pass it an encoding like json, xml or protobuf) that can be run over any socket and we let cli run over that (unix socket, tcp, whatever) and also expose an HTTP API interf

[2017-01-31 21:32] rht commented on #3254
I know the files are being added with files api, but additionally they are pinned (the almost twice size of storage increase might be a coincidence). This can be quickly tested though.

[2017-01-31 21:37] Kubuxu commented on #3254
They don't have to be pinned and files API doesn't use pinset for pinning.

[2017-02-01 08:58] rht commented on #3545
I test-benchmarked this on 0.4.5-rc1,
![](https://raw.githubusercontent.com/rht/sfpi-benchmark/master/add_growing_repo/outdata.png)

code to reproduce: https://github.com/rht/sfpi-benchmark/tree/master/add_growing_repo (`./benchmark.sh`)

The slowdown is twice when the repo size hits ~5GB. I don't have enough storage space to quantify the ~TB scale though.

[2017-02-01 10:45] CMCDragonkai commented on #2413
Would this be related to multihoming and mobile IP?

* https://en.wikipedia.org/wiki/Multihoming
* https://en.wikipedia.org/wiki/Mobile_IP

[2017-02-01 13:46] rht commented on #3254
Confirmed there is an additional storage explosion coming from `ipfs files cp` (after being pinned):

![](https://raw.githubusercontent.com/rht/sfpi-benchmark/master/repo_size/graph_10k_filesapi.png)

Tested on https://github.com/ipfs/go-ipfs/pull/3640 (even after deterministic pin sharding).

[2017-02-01 18:24] hsanjuan commented on #3532
This is the debugging information I have collected from 1 node that was still running (2 have died):

https://ipfs.io/ipfs/QmXnYzZT1EAq9pzi6snd6KHD8kNrBSDuyJqLPe7QHzUE23

It was also using 150% CPU when I checked it and >80% MEM. They are still on `0.4.5-pre1` though.

[2017-02-02 01:28] kevina opened #3646 "Needed Filestore Command For Basic Implementation"
Relates to https://github.com/ipfs/go-ipfs/pull/3629

Fundamental:

* `ls` - list contents of filestore
* `verify` - verify blocks in filestore
* `rm` - remove blocks from just the filestore - either than or enhance `block rm` to support removing blocks from either the filestore or the main store.  In either case is important that pinned blocks should be allowed to be removed from one store as lon

[2017-02-02 09:45] photonxp opened #3647 "ERROR commands/h: directory already has entry by that name client.go:247"
#### Version information:
go-ipfs
$ ipfs version
ipfs version 0.4.4

#### Type:
Bug

#### Priority:
P4

#### Description:
Problem reduplication:
mkdir -p t1/b t2/b
echo 'hello' > t1/b/1
echo 'ipfs' > t2/b/1

ipfs add -r t1/b t2/b

added TdkocRicokeUoidowknodiIopdjiouodiodknEdolppCFD b/1
 11 B / 8.01 KB [>--------------------------------------------------]   0.13% 2s
13:25:21.801 ERROR commands/h:

[2017-02-02 10:20] photonxp commented on #3644
Does the TCP port change in "/ip4/85.246.63.197/tcp/58157/ipfs/QmU1sz7zVrrR4TkHdFxaJc124CAjuyXZJAnEWUJp6KpnLk"?

[2017-02-02 15:12] wigy-opensource-developer opened #3648 "Gx-go rewritten imports make it difficult to maintain long-lived branches"
#### Version information: all

#### Type: Enhancement

#### Priority: P3

#### Description:

The source code for go-ipfs is committed _after_ a `gx-go rewrite` was run on it. This effectively makes each go module depend on the exact implementation of other modules, not on their public interface, which is a CS101 anti-pattern.

Let's assume that [go-cid](https://github.com/ipfs/go-cid) got a new co

[2017-02-02 15:44] lgierth commented on #3648
Not going to happen, and you're not the first to propose it :)

That might be so, but what we gain is reproducibility. Without the rewritten imports, there would be no way to rebuild e.g. 0.4.5 from source, once there has only been one commit in one of the dependencies.

Before gx, builds would break any time some dependency made some silly change.

We want software and builds that we can trust --

[2017-02-02 15:51] wigy-opensource-developer commented on #3648
The reproducibility is built-in to the packages.json. There is no need to copy-paste that 85 more times into actual go files. I did not suggest at all to build go-ipfs using github.com imports. That would be foolish indeed. I understand the purpose of using gx and what problems it solves that is usually overseen by the golang community.

Immutability is not improved at all by copying a piece of in

[2017-02-02 15:56] wigy-opensource-developer commented on #3648
When I modify a library, I run tests on them. That is the time when they are the root of the code tree. But it is not a big deal, because I do a

- go get -u github.com/this/library
- go-gx rewrite
- gx install
- go test

And then I do a `go-gx rewrite --undo` before the commit. And **this** procedure is exactly what I am suggesting for go-ipfs, too.

[2017-02-02 16:22] mguentner commented on #3254
The trick is to use `--flush false` and once you are done (after the 10k `files cp`) to do a `ipfs files flush` on the root path.

[2017-02-02 16:22] Kubuxu commented on #3648
We are not doing that for exactly one reason: So it is clear that `go get github.com/ipfs/go-ipfs` will not work and is not supported. Otherwise users will use the `go get ...` and then any dependency in our dep-tree can compromise while binary.

[2017-02-02 18:19] wigy-opensource-developer commented on #3648
OK. What is then the expected workflow to merge master into a long-lived branch that has also some changes to dependencies?

[2017-02-02 18:47] Kubuxu commented on #3648
Unrewrite master, commit, switch to your branch, unrewrite it, commit. Merge, resolve package.json conflict if there is any.

[2017-02-02 19:09] wigy-opensource-developer commented on #3648
Exactly where I was heading to. Thanks for confirming. I will not love it though :tongue:

[2017-02-02 19:09] #3648 closed

[2017-02-02 19:10] Kubuxu commented on #3648
Resolve them.

[2017-02-02 19:33] wigy-opensource-developer commented on #3648
I opened this issue exactly because of the suckery that was involved in manually resolving conflicts. Especially that gofmt sorts imports by hash if they are not prepended by a module alias, so most of the cases conflicts are not even detected by git, but go build. I always wondered why clever people make their lives harder with using so bad tooling.

[2017-02-02 23:55] slothbag commented on #3429
I have been struggling with excessive IPFS bandwidth usage for over a year now.. https://github.com/ipfs/go-ipfs/issues/2489

I believe this is due to IPFS having an unrestricted number of peers, often you will see many hundreds of concurrent connections all consuming 5-10KB each.  I have tried to manually limit the number of peer connections using `iptables` but this effectively severs the node f

[2017-02-03 05:02] whyrusleeping commented on #3429
@slothbag Youre right for the most part, Having tons of peer connections is a cause of excessive bandwidth usage.
We've been fighting bandwidth usage as best as we can within the current structures, and it does help (0.4.5 rc1 uses much less bandwidth than 0.4.4, and 0.4.4 uses much less than 0.4.2), but the network has also been growing larger and larger at the same time, making our efforts not s

[2017-02-03 05:08] whyrusleeping commented on #3648
Eh... this is what currently works but its a hack. I need to work on better tooling that makes this easier (i *do* accept pull requests to gx by the way ;) )

Things are so many times better with gx than without. Dependency management in go is hell. Having to do a couple 'gx-go rewrite' calls when you want to update a old branch is a comparatively low price to pay.

[2017-02-03 05:35] slothbag commented on #3429
Thanks @whyrusleeping , I wasn't aware of those notes.  Interesting that you mention DHT as not being scalable as this affects just about all P2P applications that aspire to "take over the world" so to speak.

I'll add some of my thoughts to your notes.

[2017-02-03 07:44] whyrusleeping commented on #3429
@slothbag Thanks! The more thought we put into solving this the better :) Its a relatively unsolved problem in general. The bittorrent DHT gets away with it because theyre nowhere near the scale that ipfs pushes as far as dht_records/node (you might have maybe 100 torrents per peer on mainline where in ipfs you'll have tens to hundreds of thousands to millions of blocks you need to announce).

[2017-02-03 22:58] aaronshaf commented on #1750
Is this still an issue?

[2017-02-03 23:00] ianopolous opened #3650 "pin add hangs on a particular cbor object"
#### Version information:
go-ipfs version: 0.4.5-rc1-313b884
Repo version: 5
System version: amd64/linux
Golang version: go1.7.1

#### Type: Bug

#### Priority: P0

#### Description:
pin add hangs. A minimal repro is:

[code]
The pin hangs.
The first object is just a cbor byte[] of "g'day IPFS!"
The second is a cbor map with 2 elements, a merkle link, and an empty cbor list:
{
   "alink":"zdpuAsFz

[2017-02-03 23:03] whyrusleeping commented on #1750
It has improved since  this issue was created, but its still not great. I would enjoy seeing the graph that @ion1 produced regenerated using 0.4.5

[2017-02-03 23:15] ianopolous commented on #3650
I forgot to add that removing either of the elements in the map makes the pin succeed. E.g.

[code]

[2017-02-03 23:18] whyrusleeping opened #3651 "Occasional stream hang"
Ive been observing that every so often under a certain workflow i get a stuck stream. The workflow that i've been doing when this occurs is as follows:

- mars is running, and runs the gexpin service.
- My laptop ipfs node is adding content (gx packages) and then i pin those packages on mars through the gexpin site
- The process works most of the time, but occasionally hangs

Things i've noticed:

[2017-02-04 00:09] ianopolous opened #3652 "Handle cbor nulls"
#### Version information:
go-ipfs version: 0.4.5-rc1-313b884
Repo version: 5
System version: amd64/linux
Golang version: go1.7.1

#### Type: Bug

#### Priority: P0

#### Description:
Pinning an object that has a cbor null in it fails. For example,

[code]

This object is a cbor list with a single element, which is a cbor null.

[2017-02-04 15:15] mattseh commented on #3651
An aside: Why is the bootstrap node only a 1GB server? Is it a budget limitation?

[2017-02-04 20:21] dysbulic commented on #3266
A more descriptive error message would be useful, particularly because this affects the getting started tutorial.

Also, this is likely only necessary for the Windows console, since Cygwin's bash is from the same source as everyone elses'.

[2017-02-04 20:48] Kubuxu commented on #1750
Here: https://ipfs.io/ipfs/QmQENM1DHba8PN2W1AAdiJ65aVhGvjp53z831FBQyJNLh5/ipfs.png

[2017-02-04 21:39] aaronshaf commented on #1750
Looks a heckuva lot better? Few duplicates?

[2017-02-04 23:40] Voker57 commented on #3624
Problem is, it's most likely doing FetchGraph, and it's impossible to tell when it stops until it's done. "cycle" progress bar which changes state each fetched node?

[2017-02-05 01:16] whyrusleeping commented on #3624
Yeah, thats most of the reason why we don't have a progress bar for this yet. We could do something cool with passing the progress updater down inside a context, and then in the FetchGraph code updating our 'nodes to fetch' and 'nodes fetched' counts as we explore the graph.

[2017-02-05 01:19] whyrusleeping commented on #3266
@dysbulic good point, we should check what shell we're in instead of just checking operating system here

[2017-02-05 01:22] whyrusleeping commented on #3651
Most of our bootstrap nodes have more, but mars was the first one we made, and I was being very cost conscious at the time. Ive been keeping it at 1GB because it puts pressure on me to get the memory usage down (and is also a great testbed for testing out memory improvements).

[2017-02-05 02:34] Kubuxu commented on #3266
Cygwin console works by recompiling everything with linux'y libc and it is the reason why stdin is sane then but I have no idea how will Go stdin handling behave then if it isn't sane on Windows.

It seems to me that we have to rediscover the reason why stdin handling was disabled on Windows in the first place, maybe it can be re-enabled without any problems.

[2017-02-05 19:08] whyrusleeping commented on #3266
@Kubuxu I think the original reason it was disabled was because it didnt work properly on windows cmd.exe

[2017-02-06 12:20] magwas opened #3654 "go-ipfs does not compile in docker container"
#### Version: master (go get github.com/ipfs/go-ipfs)
#### Type: bug
#### Priority: major
#### Description:

I want to build go-ipfs in a docker container. It fails.

Dockerfile: http://paste.ubuntu.com/23940726/
Build output: http://paste.ubuntu.com/23940719/

Reproduction:
1. create the Dockerfile
2. docker build .

[2017-02-06 12:21] magwas commented on #3654
sorry, it was not go, but go-ipfs

[2017-02-06 13:25] lgierth commented on #3654
That's weird -- it's network errors regarding v04x.ipfs.io. Does the box this runs on have IPv4 connectivity? v04x.ipfs.io is definitely up and will continue to be available.

[2017-02-06 19:16] whyrusleeping opened #3656 "ipfs name publish finishes without at least 20 peers in `ipfs swarm peers`"
Expected behaviour of 'ipfs name publish' (or any dht operation) is to put the record to the K (20) closest peers. This means that you have to make *at least* 20 connections to other peers before you can complete this operation. I've been observing publishes finishing with far fewer connected peers than that. Somethings buggy here...

[2017-02-06 19:26] magwas commented on #3654
As you can see from the logs, there are multiple wgets going through in order.
Moreover, when I have tried to use wget for one of the failing urls, it did work.

[2017-02-06 19:29] whyrusleeping opened #3657 "dht stream hang clogs up queries"
Occasionally we're seeing a stream hang (i think its related with #3651 ) in the dht code that causes a locking issue and leads to a bunch of queries getting stuck. The goroutine in question that is stuck looks like goroutine 400009791 in https://ipfs.io/ipfs/Qmax6PQz7n1zxd6RxbFPdqK3MC89q93JXtc5r6e7Nuswuw/ipfs.stacks

The root of the problem is these random yamux stream hangs, but we should be abl

[2017-02-06 19:34] lgierth commented on #3654
@whyrusleeping is there a way to get more info out of these gx fetch errors_

[2017-02-06 20:56] whyrusleeping commented on #3654
@lgierth a newer version of gx has more useful error messages. I havent updated the version used by go-ipfs to that yet unfortunately

[2017-02-06 21:18] lgierth commented on #3657
One more from pluto.i.ipfs.io: https://ipfs.io/ipfs/QmeTtVLvKb97QCwhzmJG6YKhyiSSybwCeWBhH2CmENy68y

[2017-02-06 21:55] lgierth opened #3658 "swarm connect erroneously reports success"
#### Version information:

#### Type: bug

#### Priority: P3

#### Description:

[code]

This is on a host that doesn't run cjdns, and thus definitely can't dial addresses within fc00::/8. It looks like it just picked a different address for the same node.

I'm filing this as a bug just because it's going against a very explicit address argument, but I know this might be an intentional case of out

[2017-02-06 22:51] Kubuxu commented on #3658
Yeah, it is reporting that you are connected with this peerid.

[2017-02-06 23:08] ianopolous commented on #3652
Another data point is that "ipfs dag get" on this object hangs.

[2017-02-07 03:19] leerspace opened #3660 "ipfs get - The system cannot find the path specified"
#### Version information:
[code]

#### Type: Bug

#### Priority:

#### Description:

On both 0.4.4 and 0.4.5 rc2 (not sure if rc1 or 2 since `version` shows 1 but I downloaded the rc2 binary) I get an error when trying to do `ipfs get /ipfs/QmPVP4sDre9rtYahGvcjv3Fqet3oQyqrH5xS33d4YBVFme`. This is the XKCD archive from archives.ipfs.io.

For what it's worth I also have issues with doing an IPFS get

[2017-02-07 09:56] Kubuxu commented on #3660
My two guesses: On Windows the path is too long or contains illegal characters. On Linux, everything works fine, but people that were hosting the archive are not longer hosting it in full and there are just fragments scattered around.

[2017-02-07 13:56] leerspace commented on #3660
I think I see the invalid character on windows: a trailing space in the directory name. Whether ipfs on Windows should do anything to handle that, I'm not sure. If this is desired and expected behavior for go-ipfs on Windows, then this issue is probably good to close.

On the side note of linux, given that the gateway seems to load the hash (https://ipfs.io/ipfs/QmPVP4sDre9rtYahGvcjv3Fqet3oQyqrH5x

[2017-02-07 15:20] hsanjuan opened #3661 "go-ipfs rc1/2 from dist.ipfs.io fails to install migrations"
#### Version information:
go-ipfs version: 0.4.5-rc1-
Repo version: 5
System version: arm/linux
Golang version: go1.7.4

#### Type:
Bug

#### Priority: P1

#### Description:

[code]
ldd complains:

[code]

IPFS was downloaded from dist.ipfs.io. It seems it is statically built.
https://github.com/ipfs/go-ipfs/blob/master/repo/fsrepo/migrations/migrations.go#L256 fails to run when it tries to guess

[2017-02-07 15:24] Kubuxu commented on #3661
We should provide them as docker containers that run our Dockerfiles run with musl.

[2017-02-07 15:40] lgierth commented on #3661
Will take care of it tonight -- will change the ldd check to `ldd --version`, which prints libc information. For the case that ldd is unavailable or broken, we'll disregard the respective error and assume glibc. We shouldn't have this whole code path fail just because the musl check fails.

[2017-02-07 17:19] Kubuxu opened #3662 "Package manager installation instructions"
Currently we are in few package managers, and we will be getting into more.

Should we provide per package manager installation instructions?

[2017-02-07 19:21] whyrusleeping commented on #3662
Yeah, lets do it

[2017-02-08 01:49] lgierth commented on #3658
It turns out this expected behaviour: the address is added to the peerstore entry for the peer, and then the peer is dialed. Which particular address is dialed is abstracted away.

This feels weird UX-wise, and for the circuit relay we'll want to be able to explicitly dial certain addresses.

Assigning this to myself as a reminder to look into fixing the abstraction leak.

[2017-02-08 04:12] ianopolous commented on #3652
This should be fixed once https://github.com/whyrusleeping/cbor/pull/7 is propagated

[2017-02-08 10:16] Kubuxu commented on #1055
Currently it isn't possible directly. You can do it by either creating desired directory structure in file-system add adding with `-w` or using files API:

[code]

[2017-02-08 15:34] dignifiedquire opened #3664 "Update webui"
There is a new version ready for 0.4.5:
https://ipfs.io/ipfs/QmPhnvn747LqwPYMJmQVorMaGbMSgA7mRRoyyZYz3DoZRQ

[2017-02-08 17:22] whyrusleeping commented on #3651
More observations from a recent repro:
ipfs swarm peers -v on mars shows two bitswap streams to my laptop, but ipfs swarm peers -v on my laptop shows only one bitswap stream open to mars. This is weird. It suggests that the stream was closed on my laptop, but mars didnt get the memo.

[2017-02-08 18:56] ianopolous commented on #3652
This is fixed by https://github.com/ipfs/go-ipfs/pull/3666

[2017-02-08 18:56] #3652 closed

[2017-02-08 18:59] ianopolous commented on #3650
After https://github.com/ipfs/go-ipfs/pull/3666 this is still the same except the conversion from [] to null in dag get is fixed.

[2017-02-08 19:26] ianopolous commented on #3650
This is fixed by ensuring our map keys are ordered by cbor canonical order (which is NOT lexicographic order - shorter keys are first)

[2017-02-08 19:26] #3650 closed

[2017-02-08 20:40] kevina commented on #3624
I think we need a general framework for somehow showing progress on operations that take a long time.  I think the garbage collector falls in the same category.  Just some sort of way to indicate progress to the user...

[2017-02-08 22:11] ianopolous opened #3667 "Add batch operation to `ipfs block put`"
#### Version information:
go-ipfs version: 0.4.5-rc1-8c07404
Repo version: 5
System version: amd64/linux
Golang version: go1.7.1

#### Type: Bug

#### Priority: P2

#### Description:
The http bulk block.put command seems to only add the first file in the multipart

To reproduce (where file1.txt and file2.txt are two small files):
[code]
So it's only returning the hash of the first file (and presum

[2017-02-08 22:52] whyrusleeping commented on #3651
`ipfs swarm peers -v` gets its information about streams from go-peerstream. It could be the case that somehow the stream was removed from go-peerstream on my laptop, but the close didnt happen for some reason.

[2017-02-08 23:22] whyrusleeping commented on #3651
AH! I THINK I'VE GOT IT!

If a bitswap send fails because of a timeout (here: https://github.com/ipfs/go-ipfs/blob/master/exchange/bitswap/network/ipfs_impl.go#L63) It returns the error, SKIPPING the timeout reset. The caller then sees that the write errored and closes the stream. Everythings good, right? Wrong.
Closing a stream requires sending a message to the other side, and if sending *that* m

[2017-02-09 00:36] whyrusleeping commented on #3667
The file argument to `ipfs block put` is not variadic, it only accepts a single input file.

I asked @diasdavid and he thinks this is the correct behaviour.

[2017-02-09 00:49] diasdavid commented on #3667
Hey, we also sync'ed up again and we discussed adding a flag for 'batch puts', so that existing API work and batching puts because extra feature, how does that sound?

[2017-02-09 01:05] ianopolous commented on #3667
Sorry, somehow I got it in my head that this was already how the api worked because it is using multipart.
Adding a batch option sounds great and would hugely facilitate apps running over a high latency (even interplanetary ;-) ) connection.

[2017-02-09 01:34] #3661 closed

[2017-02-09 06:09] whyrusleeping commented on #3651
Beginning to doubt my previous confidence. If the write and the close error out, we would just close the stream, and open a new one. The stream we open to the other peer does not get written on by the remote.

For this to make sense, the stream would have to experience the 'close failure' thing on the accepter side (my laptop). So now the question is, what about that situation could cause this loo

[2017-02-09 06:28] whyrusleeping commented on #3651
*some* good news, my theory that this problem is caused by a 'Close' message failing to send is supported by this bit of the yamux codebase: https://github.com/hashicorp/yamux/blob/master/session.go#L469

If our close errored, it would clear the stream from our local stream set, meaning the above code would just ignore any messages received for that stream. The other side has no idea we're just to

[2017-02-09 06:45] whyrusleeping commented on #3624
As @Voker57  said, I think an output of "Fetched/Processed %d nodes" would be sufficient.

Right now i track pin progress by watching `ipfs bitswap stat` to see the number of received blocks.

As i mentioned in my previous comment, the easiest way to do this would probably be to pass a "Progress Counter" object through the context, and in `FetchGraph` check if our context has one of these, and upd

[2017-02-09 08:52] ianopolous commented on #3667
I may be wrong, but I think it wouldn't even require the batch flag. Existing http api implementations can continue as they are, because they are already using multipart, just with a single file. Updated ones can, include more than one file and parse the resulting stream of json objects.

[2017-02-09 09:51] mib-kd743naq commented on #3667
@ianopolous there's the related https://github.com/ipfs/go-ipfs/issues/3442: HTTP overhead is quite high in the face of many blocks, so a "cli-streamed" solution seemed more appropriate.

A specific example of what a dataset looks like is at https://ipfs.io/ipfs/QmYbb74fCe7pom18nPRw2rKAPMukza63DfQAdHG53WywbW, containing the entire dataset for https://github.com/ipfs/go-ipfs/issues/3552

[2017-02-09 17:12] kevina commented on #3624
Okay, I will look into it and see what I can do.

[2017-02-09 17:54] kevina commented on #3574
@whyrusleeping what do you think?  Should we put the process pid into the `repo.lock` file and just remove it if no ipfs process is running with that pid.

[2017-02-09 17:57] Kubuxu commented on #3574
@kevina repo.lock already does that using native Linux API http://man7.org/linux/man-pages/man2/flock.2.html

[2017-02-09 18:12] kevina commented on #3574
@Kubuxu sorry your right, I also killed ipfs with SIGKILL and was able to restart it even though repo.lock already exists.  I'm not sure what problem @kpcyrd is seeing.

[2017-02-09 20:21] #3664 closed

[2017-02-09 22:41] whyrusleeping commented on #3651
I've added code that closes the connection if a stream close failed, and i was able to reproduce the issue with that code running. Nothing makes sense anymore. (I'm rerunning with that code to verify that i was actually running the right code)

[2017-02-09 23:47] magwas commented on #3654
if I can help in anything to pin down the problem, just tell me

[2017-02-09 23:51] Kubuxu commented on #3654
Does it fail if you try rebuilding it?

[2017-02-10 09:03] magwas commented on #3654
Yes, still does. Build output: http://paste.ubuntu.com/23965834/

[2017-02-10 11:46] kpcyrd commented on #3574
This only happend in a docker container that died (probably) because of OOM. I'm not sure I missed something when filing this issue and I couldn't reproduce it since, so I'm closing this issue.

[2017-02-10 11:46] #3574 closed

[2017-02-10 19:56] whyrusleeping commented on #3660
This should be an absolutely correct assumption to make, If its not the case then we really need to figure out what the issue is. @lgierth Can you investigate?

[2017-02-10 21:29] ianopolous commented on #3667
@diasdavid Having thought more about this and discussed with @whyrusleeping I'm pretty confident this is relatively easy to do without a batch flag (I've also already implemented it in Java for our proxy), and in a backwards compatible way for old http clients.

The key thing is the clients are already using the multipart protocol, but only writing 1 file, so the protocol is the same. The headers

[2017-02-11 04:23] lgierth opened #3672 "ipfs files publish"
The `ipfs files publish` command would take the current files root hash, and would publish it as an IPNS entry for the node. It'd effectively be a shortcut for `ipfs name publish $(ipfs files stat --hash /)`.

This seems trivial but I think it might remove UX friction.

[2017-02-11 04:57] MikeFair commented on #3672
Yes; that'd be aswesome; or written the other way (to take advantage of the different key):
ipfs name publish --files
ipfs name publish -k domain.key --files /domain.dom.directory

[2017-02-11 04:58] MikeFair commented on #3672
Then I just need ipfs add updated so I can do:
ipfs add --files /domain.dom.directory -r /path/to/root/of/domain/website

[2017-02-11 23:32] whyrusleeping commented on #3534
closing this now

[2017-02-11 23:32] #3534 closed

[2017-02-11 23:33] #3469 closed

[2017-02-12 01:26] #3488 closed

[2017-02-12 03:22] djdv opened #3676 "Building with make on Windows"
#### Version information:
N/A
#### Type:
Bug
#### Priority:
P3
#### Description:
This pull has broken building on Windows for me.
https://github.com/ipfs/go-ipfs/pull/3504
I haven't investigated it yet but it's spitting out this
[code]
I've been using msys2's version of GNU `make` to build the same way for a while via
[code]
Reverting to a commit before that one works fine with `make`. I can insta

[2017-02-12 03:52] lgierth opened #3677 "Sharness failure from killing iptb nodes"
#### Version information: master

#### Type: bug

#### Priority: P3

#### Description:

https://travis-ci.org/ipfs/go-ipfs/jobs/200779018

[code]

[2017-02-12 04:36] whyrusleeping commented on #3676
@djdv Thanks for reporting, very quick turnaround on the issue reporting :)

@Kubuxu We've got some issues here.

[2017-02-12 04:36] whyrusleeping commented on #3677
I'm assuming this is an issue with the new makefiles, @Kubuxu take a look

[2017-02-12 06:26] whyrusleeping opened #3679 "better gc"
I have a large enough ipfs repo (over 300 million blocks) that it takes a very large amount of memory to perform a gc. computing the marked set is expensive.

I'm thinking that using something like a bloom filter could make this process use up much less memory, at the expense of not cleaning out every block. The difficulty here is that false positives while enumerating the set of pinned objects co

[2017-02-12 08:32] Kubuxu commented on #3677
I don't think it is me. I can't see any way I could have caused it, but it is good to know.

[2017-02-12 08:32] Kubuxu commented on #3677
We should add error log read when iptb fails.

[2017-02-12 08:37] Kubuxu commented on #3676
Can you run with `make --trace build` and paste the output? Also try installing Python as it seems to request it, no idea why, I don't use it.

[2017-02-12 08:51] mateon1 commented on #3676
@Kubuxu It's a quoting issue, involving (at least) $PATH

For me it's
[code]
which is $PATH from the first space, to the second.

[2017-02-12 08:55] djdv commented on #3676
It seems to think `check_go_version` doesn't exist, but it does. Also Python is installed on this system, I was wondering why it's asking for that myself.

[code]

[2017-02-12 09:06] mateon1 commented on #3676
@djdv It seems that Python might be the first thing on your $PATH, making making the `Files/Python` slice the thing from the first to the second space. Probably the second argument to something

[2017-02-12 09:16] mateon1 commented on #3676
Applying this patch fixes the issue:
[code]

[2017-02-12 09:25] Kubuxu commented on #3676
@mateon1 thanks for finding it <3

[2017-02-12 09:25] djdv commented on #3676
Works on my machine. Thanks for the quick assistance @mateon1!

[2017-02-12 12:18] NeoTeo opened #3681 "IPFS 0.4.5 datastore migration 4 -> 5 failure."
#### Version information:
go-ipfs version: 0.4.5-
Repo version: 5
System version: amd64/darwin
Golang version: go1.7.4

#### Type:
Bug

#### Priority:
P0

#### Description:

Running `ipfs daemon` automatically initiates the datastore migration.
The migration fails with the following log output:
[code]

[2017-02-12 12:20] Kubuxu commented on #3681
Please remove the .DS_Store from the directory, we probably can add an exception for Mac in this case.

[2017-02-12 12:30] NeoTeo commented on #3681
Thanks for the quick answer @Kubuxu but the issue remains:
[code]

[2017-02-12 12:32] Kubuxu commented on #3681
@kevina can you take a look at it?

[2017-02-12 12:34] NeoTeo commented on #3681
The contents of the directory it complains about seem reasonable:

https://gist.github.com/NeoTeo/138bccbddb02b9cc2f12583ab9b9cf32

[2017-02-12 12:37] Kubuxu commented on #3681
It probably complains about: put-675353937, which is left over from atomic put operation that didn't go through.

[2017-02-12 12:38] NeoTeo commented on #3681
Is there any way of telling what it belongs to and whether it's safe to remove?

[2017-02-12 12:40] Kubuxu commented on #3681
Files with long string of capital letters and extension `.data` are good. Rest in blocks directory is not important.

---

`ipfs repo fsck` should be improved to remove those leftovers

[2017-02-12 12:45] NeoTeo commented on #3681
Ok, that did it. There were three of those put- files, as hinted at by this not-as-useful-as-could-be message:
[code]

Moving those and rerunning the daemon & migration worked.
:) Thanks for your help @Kubuxu

[2017-02-12 19:03] #3676 closed

[2017-02-12 19:11] whyrusleeping commented on #3681
Yeah, `ipfs repo fsck` should be improved to clean these up. The migrations code should be able to handle these as well.

[2017-02-12 19:31] whyrusleeping commented on #3654
The errors in the last paste look like youre not able to resolve dns queries for some reason. Its showing udp packet timeouts

[2017-02-12 20:05] #3621 closed

[2017-02-12 21:09] whyrusleeping commented on #3677
It looks like a daemon is dying for some reason during the iptb tests.

[2017-02-12 21:27] Kubuxu commented on #3677
I have updated IPTB in process, maybe something got broken from version to version.

[2017-02-12 21:37] kevina commented on #3681
Note, this is just a warning.  The file was moved.  There is a formatting problem with the error message though.

[2017-02-12 21:42] Kubuxu commented on #3681
It is mostly connected with this: https://github.com/ipfs/go-ds-flatfs/pull/16

[2017-02-12 22:03] iain17 opened #3686 "Finding peers"
#### Version information:
go-ipfs version: 0.4.5-
Repo version: 5
System version: amd64/darwin
Golang version: go1.7.4

#### Type: Enhancement

#### Priority: Relatively Unimportant

#### Description:
I'm having trouble finding peers. I would love to find peers around a common name, hash or topic. Speaking to some people on the #ipfs IRC channel I understood that floodsub is interesting for me. Ho

[2017-02-13 01:20] Kubuxu commented on #3485
This is DONE.

https://codecov.io/gh/ipfs/go-ipfs/tree/master/core/commands

Not as high as I hoped but quite good.

[2017-02-13 01:20] #3485 closed

[2017-02-13 01:23] Kubuxu commented on #3053
Sharness test coverage is done, all of your coverage is at: https://codecov.io/gh/ipfs/go-ipfs/tree/master/

There are lots of places to improve there, if you want to get to know the project structure better, it is great place to start.

[2017-02-13 01:29] Kubuxu commented on #3679
I think stored, re-scalable bloom filer could be a good way to go. We already use bloom filter for Has request filtering. Both GC and Has cacheing would benefit from it.

[2017-02-13 01:30] Kubuxu commented on #3660
The hash  was updated in archives repo to be one that is seeded by among others, us. I am closing this, we can open a separate issue for what to do when Windows refuses to cooperate, probably we should investigate what Git does in this case.

[2017-02-13 01:30] #3660 closed

[2017-02-13 04:51] djdv commented on #3660
These might be relevant
https://github.com/ipfs/go-ipfs/issues/1710
https://github.com/ipfs/go-ipfs/issues/2013

[2017-02-13 05:05] djdv commented on #2013
@leerspace pointed out another problem case https://github.com/ipfs/go-ipfs/issues/3660#issuecomment-278006499, directories with a trailing space are not valid in Windows and cause issues when using `ipfs get`. i.e. `directory name \file.ext`. I added this to the test hash.

/ipfs/QmXicxAhxC4vwTsqPkCWjZKSQCrL932EvU66q5BQUpgj1z

[2017-02-14 05:34] kevina opened #3688 "Ipfs pin add does not fetch raw leaves and thus pins incomplete dag"
#### Version information: ipfs version 0.4.6-dev 2e116b40eb7ea41564c3371b0b3552c9791b59d1

#### Type: Bug

#### Priority:P1

#### Description:

In local or offline mode:
[code]

[2017-02-14 05:36] kevina commented on #3688
I noticed this when working on #3671I think know how to fix it so am assigning it to myself.

[2017-02-14 05:45] whyrusleeping commented on #3688
This is because of that optimization on `GetLinks` right? (as you probably already know) we should check if we have the block before short circuiting out.

[2017-02-14 05:48] kevina commented on #3688
Correct.  My plan is to change the Visit function in:
[code]
To actually retrieve the node from the dag service, because just because we have the link id, doesn't mean we have the node.

[2017-02-14 05:58] kevina commented on #3688
Sometimes we don't care if we have the links locally, but when we call FetchGraph we most certainly do.

[2017-02-14 06:12] kevina commented on #3688
Okay the fix I had in mind didn't work out.  This is going to take some time to fix correctly with out defeating the original purpose I had in mind for GetLinks (filestore related and still relevant).

[2017-02-14 06:53] 20zinnm commented on #3601
I second this. Just tried mounting, does not work on Mac--Fuse version check fails every time.

[2017-02-14 07:01] 20zinnm opened #3689 "FUSE check outdated"
#### Version information:

go-ipfs version: 0.4.4-
Repo version: 4
System version: amd64/darwin
Golang version: go1.7

#### Type: Bug

#### Priority: P4

#### Description: FUSE version check outdated.

Here is the code for it:
[code]

which can be found at https://github.com/ipfs/go-ipfs/blob/master/fuse/node/mount_darwin.go#L125.

This is an extension of #3601.

[2017-02-14 08:41] magwas commented on #3654
Howevert there are wgets before that with no trouble with dns resolving...

[2017-02-14 11:37] Kubuxu commented on #3689
What is the issue here?

----
0.4.5 was released that improves the FUSE check.

[2017-02-14 18:23] 20zinnm commented on #3689
@Kubuxu Then the downloads from the website are outdated.

[2017-02-14 18:32] 20zinnm commented on #3689
This is still an issue.

go-ipfs version: 0.4.6-dev-
Repo version: 5
System version: amd64/darwin
Golang version: go1.7.5

[code]

So should I downgrade FUSE?

[2017-02-14 20:20] Kubuxu commented on #3689
If you want to use it, yes.

[2017-02-14 20:20] #3689 closed

[2017-02-14 20:23] 20zinnm commented on #3689
Actually, Fuse <3.0.0 doesn't run on my mac version. Please re-open this.

[2017-02-14 20:36] Kubuxu commented on #3689
There is separate issue that calls for update of the FUSE library already created.

[2017-02-14 22:51] whyrusleeping commented on #3560
This has been merged into master :)

[2017-02-14 22:51] #3560 closed

[2017-02-14 22:55] whyrusleeping commented on #3551
This is now done :)

[code]

[2017-02-14 22:55] whyrusleeping commented on #3551
@ianopolous wanna verify and close this out?

[2017-02-14 22:58] whyrusleeping commented on #3553
While there is no official fix for this yet, I do have an experimental (Aka, works on my machines) program that should resolve these issues: https://github.com/whyrusleeping/repofix

I recommend making a backup of your ipfs dir if you can before running that, it *shouldnt* have any problems, but I always err on the safest side possible when it comes to user data.

[2017-02-14 23:00] whyrusleeping commented on #2185
The code for blake2 is now merged into master and will be in the 0.4.6 release. Its not yet available as an easily specifiable parameter to `ipfs add`, but that can be added soon.

[2017-02-14 23:00] whyrusleeping commented on #2185
Moving the implementation of a `--hash-fn=blake2b-256` flag for add into the 0.4.7 milestone

[2017-02-14 23:12] 20zinnm commented on #3119
Can we decouple garbage collection and datastores? I want to make a datastore that can be used by many nodes (Swift Object Store), thus giving the impression of a cluster--the only reason I have multiple nodes is for redundancy and chunking performance.

This could work well with Go plugins (https://tip.golang.org/pkg/plugin/), allow others to offer BlockStores as plugins. @whyrusleeping @kevina

[2017-02-14 23:28] ianopolous commented on #3551
@whyrusleeping This gives the expected result, but why call the encoding raw, rather than cbor?
[code]

[2017-02-14 23:34] whyrusleeping commented on #3053
@Kubuxu this is fantastic :)

Going to bump this issue to 0.4.7, but i'd say significant progress has been made

[2017-02-14 23:38] whyrusleeping commented on #3688
@kevina I think its probably fine for the linkservice rawnode optimization to require that we at least *have* the block. Sure it won't be quite as fast, but it solves this problem much more efficiently.

[2017-02-14 23:42] Kubuxu commented on #3688
Average time of Has call to Datastore on our gateways and storage servers from recent metrics is 140 microseconds.

[2017-02-14 23:50] whyrusleeping commented on #3688
Yeah, its much faster to call `Has` than get, so the optimization is still quite fast.

[2017-02-15 00:06] kevina commented on #3688
Can we please slow down.  The linkservice is more than an optimization when it comes the interaction of the filestore.  I will try to do a proper writeup tonight.

In the mean time I have one question.  Do you want the garbage collector to fail if a node in the filestore is no longer accessible?  It does not have to be that way.

[2017-02-15 00:08] whyrusleeping commented on #3688
The garbage collector should not be able to tell that a missing node is in the filestore or not.

[2017-02-15 00:09] whyrusleeping commented on #3505
@Balancer This issue has been resolved in 0.4.5 (`ipfs pin add` will no longer hang and crash), and will be further improved in 0.4.6.

Adding 30,000 pins however will be very inefficient in 0.4.5 due to the issue that was resolved here: https://github.com/ipfs/go-ipfs/pull/3640

[2017-02-15 01:27] kevina commented on #3688
Let me put this another way.  Do you want the garbage collector it to just abort if a leaf node of a pinned object is no longer available for some reason?  Please note that it is perfectly safe for it to continue as a leaf node can not possible have any links so there is no risk of it removing something it should not because it could not see it.

This is a very important question that will effect

[2017-02-15 03:27] kevina commented on #3553
I can work on this.  Do we have a clear test case of the problem?

[2017-02-15 08:01] wigy-opensource-developer commented on #3053
Here are my 2 cents that you might safely ignore: Improving coverage in cmd will come best from pushing code duplicated all around that package into testable methods and functions. Also, some of that functionality should be moved behind the core api to improve reusability in other applications. End-to-end tests are much slower and harder to maintain, because they might break for quite many reasons

[2017-02-15 09:26] mbialon commented on #3313
I've tried to build the `feat/pnet` branch but I got the following error.
[code]

Would it be possible to build and test the private networks feature?

[2017-02-15 10:33] Kubuxu commented on #3313
I should have new version out this week.

[2017-02-15 16:52] RichardLitt commented on #3053
All advice is listened to. :) Thanks for adding your 2 cents.

[2017-02-15 19:42] whyrusleeping commented on #3688
For now, yes. Abort. But make that an easy enough thing to change.

[2017-02-15 19:54] kevina commented on #3688
@whyrusleeping would you mind if I refactor EnumerateChildren to preserve the indented behavior of the LinkService while still fixing this bug?  It should also be able to eliminate the need for the bestEffort Boolean parameter.  It should only take me a day or so.

[2017-02-15 19:57] whyrusleeping commented on #3688
It really seems to me like the fix for this should be as simple as adding "if !blockservice.Has(c) { blockservice.Get(c) }" into the linkservice `GetLinks` optimization codepath. Can we push that as a fix, add a couple tests for it, and get that in today so that we can proceed with releasing this fix (and a few others)? You can do the refactor of enumerate children after that

[2017-02-15 20:26] kevina commented on #3688
Okay, I will push a simple fix to EnumerateChildren that does what you suggest I will than work on a more proper fix.  Expect something in the next few hours, by the end of the day at the latest.

[2017-02-15 20:54] whyrusleeping commented on #3053
@wigy-opensource-developer Yeah, youre right. Code in the commands lib needs to be purely 'interface' code that translates user input into function arguments, and turns the codes responses into output.

[2017-02-15 21:09] kevina commented on #3688
And it looks like #3598 fixed the issue by using `EnumerateChildrenAsync` instead of `EnumerateChildren`.  I will create a p.r. to add a test case.  No code changes required now. :)

[2017-02-15 22:29] #3688 closed

[2017-02-16 01:23] whyrusleeping commented on #3651
Encountered the issue again. Between by desktop and mars. The interesting bit this time is that i had *just* restarted the node on my desktop. Perhaps this has to do with reconnecting? Maybe whats happening is that both sides are trying to connect to eachother and its doing weird things with the Connect/Disconnect notifications... Will need to find time to investigate further.

[2017-02-16 01:23] whyrusleeping commented on #3651
Useful debugging tool to have: connection lifetimes

[2017-02-16 01:27] whyrusleeping commented on #3681
Hey all, mind verifying that the new binaries for fs-repo-migrations 1.2.1 here fix the issue? https://ipfs.io/ipfs/QmZMzC8ihgybDLzstWm9iYTEbrhVEeBtevWE6vLjdci3Ay/#fs-repo-migrations

[2017-02-16 10:32] mib-kd743naq opened #3696 "Not clear how to fully replicate a node"
#### Version information:
`N/A`

#### Type:
`Documentation/HOWTO Enhancement`

#### Priority:
`P4`

#### Description:
I am provisioning a new go-ipfs-based node, and would like to fully replicate pinned content from another node I control. It is not clear what is the current most efficient and error-resilient way of doing that.

In essence I am trying to figure out what is the best practice for do

[2017-02-16 11:16] keks commented on #3524
Hey everyone, I've been working on this for a while now and just wanted to give a quick update.

The ipfs command builds fine, but the sharness tests fail. This is mostly due to the compatibility layer, which tries to mock legacy interfaces.

One problem I had was that I replaced `Marshalers`, which are passed a `Response` and return an `io.Reader` by `Encoders`, which are passed an `io.Writer` an

[2017-02-16 21:05] JustinDrake opened #3699 "Add flag to ipfs add to return CIDv1"
As discussed on IRC, add a flag for `ipfs add` (and possibly other commands) to use CIDv1. cc @whyrusleeping

[2017-02-16 21:18] Kubuxu commented on #3699
This should probably be similar to how block put works. Allowing to specify hash function, base and ...

[2017-02-16 23:55] whyrusleeping commented on #3551
@ianopolous because that flag is signalling an encoding, not a serialization format.

[2017-02-16 23:55] whyrusleeping commented on #3551
Gonna go ahead and close this now :)

[2017-02-16 23:55] #3551 closed

[2017-02-17 00:02] whyrusleeping commented on #3505
Closing this now as the optimized code in #3598 was merged

[2017-02-17 00:02] #3505 closed

[2017-02-17 01:05] whyrusleeping commented on #3524
Re: emit errors, i think that makes sense. It also means that we can emit multiple errors during the course of a command, right?

About the commands in the marshalers using the request object, This is rather hard to get around. The problem is that we use the request object to check flags to see how things should be printed to the user. You might make the encoders take a request, a writer, and an i

[2017-02-17 10:55] keks commented on #3524
Well, it *could* mean that, however `commands/http` aborts the connection after `SetError` and sends the error as a trailer. So we need to behave the same way for compatibility. When doing e.g. a `cmds/rpc` later on we can obviously decide to diverge from that and send multiple errors. But for now I guess we're stuck with that.

Okay, I'll revisit the Encoders then. Taking only an `io.Writer` look

[2017-02-17 11:39] Kubuxu opened #3704 "Random mfs publisher fail"
[code]

[2017-02-17 12:19] NeoTeo commented on #3681
My original repo is now converted so I can't check on that. I have an old repo on a separate machine that doesn't have the offending files in it so it'd probably convert just fine. Would making any bogus file in there cause the issue and would a test with that be useful?

[2017-02-17 12:22] Kubuxu commented on #3681
You can try to make go-ipfs create file like that by force killing it (double Ctrl+C) while adding some files.

[2017-02-17 12:42] NeoTeo commented on #3681
Nope, that doesn't do it.

[2017-02-17 12:49] NeoTeo commented on #3681
Ok,Managed it by killing the daemon whilst adding. Will test.

[2017-02-17 12:54] NeoTeo commented on #3681
Failed. The output:
[code]

[2017-02-17 13:48] Kubuxu commented on #3681
Now it looks like something else (too many open files).

[2017-02-17 13:50] Kubuxu commented on #3681
Ahh, I see. We are using deffer calls to Close, but those functions run for a long time which will cause a failure. This should be quite easy to fix by doing manual close calls.

@kevina will you have time to fix it?

[2017-02-17 19:19] kevina commented on #3699
Okay, I will take this one.  Seams easy enough.  @whyrusleeping if you want to just implement this yourself ping me on IRC first so there isn't any wasted effort.

[2017-02-17 19:34] kevina commented on #3699
I am thinking that this should be a global option, so that to control how Cid's are displayed though the API.  For now a simple switch to enable CidV1 output.  Later, it could be more involved and allow additional customizations such as specifying the base.

For now I can just add a flag to add, put I am thinking that this flag is going to eventually get added to nearly all the commands that outpu