[2022-02-07 14:37] schomatis commented on #7482
Waiting on feedback from https://github.com/ipfs/go-ipfs/issues/8088#issuecomment-1002667669 first.

[2022-02-07 15:01] schomatis commented on #8470
@andrewchambers Could you take a look at https://github.com/ipfs/go-ipfs/pull/8686 to see if this works for you?

[2022-02-07 20:13] lidel commented on #8173
Dropping a quick implementation note if anyone wants to work on this:
- add `DNS.FallbackResolvers` to the config
  - should be a  list of DoH endpoints to try  in order when a default resolver return an error

This behavior should be enough to support HNS while minimizing privacy concerns around sending all DNS queries to Handshake community-maintained server – we would only send things that were

[2022-02-07 20:14] andrewchambers commented on #8470
looks pretty good - i guess as long as its consistent with how other commands disable it, it looks good to me.

[2022-02-08 11:16] mar1n3r0 commented on #8710
It has been resolved. I had to manually run the daemon from cli to get it working. I think I misunderstood that the ipfs-desktop starts the daemon.

[2022-02-08 11:16] #8710 closed

[2022-02-08 13:12] agowa338 commented on #6430
I don't think so. I stopped using IPFS because of this. It's way too risky becoming accidentally a publisher of some crap that could push you into legal trouble...

[2022-02-08 13:52] RubenKelevra commented on #8694
@aschmahmann I've installed 0.9.1 from dist.ipfs.io and I can confirm, the bug is not present in this version.

[2022-02-08 15:13] BigLep opened #8722 "create a command for resource manager stats"
## What?

go-libp2p v0.18.0 adds support for the resource manager. The resource manager is already initialized in https://github.com/ipfs/go-ipfs/pull/8680, and will limit libp2p's resource usage. Optionally, the user can define new limits using a `limits.json` file.

What is missing here is visibility into the running system. Once we roll this out, we might get complaints from users that connecti

[2022-02-08 16:45] mathew-cf commented on #8717
An idea in addition to the ones proposed:
A public resolution endpoint for gateways could be useful as an inexpensive, cacheable call. There is no way to do IPNS public key resolution without directly accessing the IPFS network or fetching the whole file, so an endpoint exposing the resolution could be helpful for that.

[2022-02-08 16:49] thattommyhall commented on #8717
@mathew-cf thats useful, but you'd have to rewrite to fetch /ipfs/<cid>/<path> or you couldnt be certain that the content you fetched matched. Like if I checked what the dnslink was for blog.ipfs.io then fetched /ipns/blog.ipfs.io it might have changed in the meantime

[2022-02-08 16:51] mar1n3r0 commented on #7667
@lidel Did some research on the topic and it appears that by default no Access-Control-Request-Headers are allowed.

https://github.com/ipfs/go-ipfs-cmds/blob/4ade007405e5d3befb14184290576c63cc43a6a3/http/config.go#L41

https://github.com/rs/cors/blob/27c7ce4275a3dcb3639dd45870f91c2bd59d862e/cors.go#L156

In the case of pubsub/pub just adding `Access-Control-Request-Headers: content-disposition` s

[2022-02-08 16:57] mathew-cf commented on #8717
By cacheable, I meant for a short TTL (~1 min). This resolution response can still be supplemented by DNS resolution for faster cache verification/invalidation. If you have the x-ipfs-roots header, you can check that the resolution and response match and choose whether to cache the response.

I'm thinking in the context of using CF workers here if that helps clarify the context.

[2022-02-08 18:30] gmelodie opened #8724 "Wrong error: invalid path "/testfs": path does not begin with '/'"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-02-09 11:56] lidel commented on #8722
:bike: :derelict_house:  `ipfs stats libp2p [scope]`  :sparkles:

[2022-02-09 15:15] akhilman opened #8725 "Ipfs in container creates files with root as owner"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

third-party binary

### Version

[code

[2022-02-09 15:23] akhilman commented on #8725
podman top output:
[code]

[2022-02-09 16:41] akhilman commented on #8725
I will reopen this issue if get more information when exactly ipfs creates files owned by root.

[2022-02-10 00:34] aschmahmann commented on #8724
That's definitely a silly error to get, and is a bug thanks for reporting.

It seems like: https://github.com/ipfs/go-path/blob/816be9f78d6723a737ce8839e9a8a4d8e96e273a/path.go#L107 should return a more generic error about being an invalid "IPFS Path"

As an aside, did you mean to type this in or did you mean `ipfs files ls /testfs`? `ipfs file ls` (i.e. without the `s`) has been deprecated has be

[2022-02-10 05:51] shushen commented on #8724
Looks like the same bug as reported in https://github.com/ipfs/go-path/issues/35

[2022-02-10 17:24] BigLep commented on #8714
2022-02-10 discussion:
Implement interface change in go-ipfs so only return when have all the data.  (don't return "done" until actually "done").
By doing this, we'll actually get ipfs fallback if HTTP fails.

[2022-02-10 17:26] lidel commented on #8714
Additional ideas:
- Confirm we got all data expected (number of bytes in [content-length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length) header should match bytes in response body)
  - IMO we should do this as a failsafe in case anything weird happens
- (optional) If HTTP download is interrupted mid-flight we could leverage smart retry via [range requests](https://develo

[2022-02-10 22:48] lidel opened #8731 "Testground CI timeouts after 6 hours"
## Problem

Testground CI runs for 6h and then timeouts:

Did something changed 8 days ago?

## Solution

Aside from fixing these tests, cap them?
Seems that when it was working it took ~2minutes, perhaps we should set cap at 15m, 1h,  or something, so these hanging jobs don't  squat workers for 6h each.

[2022-02-11 08:44] galargh commented on #8731
I manually disabled the tests for now. I'm going to look into it and try to find out what changed.

[2022-02-11 14:19] #8724 closed

[2022-02-11 16:29] BigLep commented on #8561
Please provide more debug info: https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md

[2022-02-11 16:33] #8573 closed

[2022-02-11 19:41] lidel commented on #3896
In 2022,  ed25519 keys are the default in both go-ipfs and js-ipfs :sparkles:

[2022-02-11 19:41] #3896 closed

[2022-02-11 19:57] #8714 closed

[2022-02-12 08:24] mar1n3r0 commented on #7667
Should be resolved with next release of `go-ipfs-cmds`. `AddAllowedHeaders` functionality had just been merged:

https://github.com/ipfs/go-ipfs-cmds/pull/222

[2022-02-14 02:24] Lua12138 commented on #7244
When I visit such an address `http://<host>:8080/ipfs/<CID>`. I got an error message. What does it mean?
`ipfs resolve -r /ipfs/<CID>: context deadline exceeded`

[2022-02-15 19:46] mathew-cf commented on #8717
@lidel That works for me!

[2022-02-15 21:54] #4931 closed

[2022-02-15 21:54] #8614 closed

[2022-02-15 22:19] #8418 closed

[2022-02-15 22:47] #8672 closed

[2022-02-16 19:41] LynHyper commented on #7244
It should be `ipfs resolve -r /ipns/CID` rather than `/ipfs/CID` I think

[2022-02-16 20:48] crimeminister opened #8738 "Invalid output in RPC API docs for /api/v0/dag/import?stats=true"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-02-16 22:46] aschmahmann commented on #8344
The spike has been successful and https://github.com/ipfs/fs-repo-migrations/pull/152 should make things a lot faster (I got 10x on a slower HDD, but have seen greater speedups on machines with faster disk access).

The plan is to get the last changes reviewed and merged so we can ship. This will come with updated release notes explaining more about how the migration works as well as some tunable

[2022-02-16 23:00] aschmahmann opened #8739 "Missing/incorrect specification for how blocks are stored in the repo"
### Checklist

- [X] I am reporting a documentation issue in this repo, not https://docs.ipfs.io.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Location

_No response_

### Description

Currently the only documentation I'm aware of that explains the layout of the go-ipfs repo, and in particular the blockstore, is README that li

[2022-02-17 21:49] lidel commented on #8234
Lack of bandwidth within stewards group – it is still on the roadmap

[2022-02-18 16:20] aschmahmann commented on #8585
Have you directly seen this, e.g. noticing Wireshark outputs that you are dialing one of the addresses that should be filtered?

Could you get any information from the provider as to why you got triggered for abuse?

[2022-02-18 16:24] fariszr commented on #6932
Can you give more details on your setup ? Are you using a dedicated server ? Or cloud ?

I'm trying to install ipfs on a hetzner cloud server, I got a warning on my first try.

[2022-02-18 16:25] aschmahmann commented on #8531
Pointers here:
- The config [docs](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md) show fields like the HighWater in the connection manager being integers instead of optional integers (e.g. Bitswap task workers). We should make our fields optional
- Requires changes in https://github.com/ipfs/go-ipfs-config and in go-ipfs

[2022-02-18 17:27] lidel commented on #8731
Let's keep this open until @galargh  can switch to upstream action with a fix from https://github.com/coryschwartz/testground-github-action/pull/2:

https://github.com/galargh/go-ipfs/blob/ce25140b69a2d1ae8d3fb6394bf269fd7b274e80/.github/workflows/testground-on-push.yml#L28-L29

[2022-02-18 21:29] #7129 closed

[2022-02-19 17:39] syntafin commented on #8585
Yes, we can only run the node if we block the IP ranges via Firewall, what will kill the function of ipfs (other nodes can't connect)

[2022-02-19 19:44] islami00 commented on #8645
Strangely enough, I had a similar problem on gitpod.
After trying to change the docker settings it just started working (Still shows udp buffer limit error though). I should've documented what I did because now the problem is back with a different workspace.

[2022-02-21 01:24] agowa338 commented on #8321
oh, that explains why "ipfs pin" is broken for me. I was looking through this issues to see why none of the ipfs pin commands works for me. But apparently it's just because I've 600GB of files within it?

A progress bar would help here

[2022-02-21 07:19] godcong commented on #8645
failed on this step `service.Start()` .
Failure to start returns an error, causing the entire ipfs to fail to start.

[2022-02-21 07:25] marten-seemann commented on #8645
@aschmahmann I don't think so. I think this would be solved by https://github.com/ipfs/go-ipfs/pull/8704. Any change we can merge that PR?

[2022-02-21 15:32] apps4uco commented on #2167
Hi, the process terminates sporadically this is the output:
[code]
and the process just exits.

It would be great if you could look into it and have retry with exponential backoff in the daemon process.

 This bug is 6 years old (if its the same issue).

[2022-02-22 09:18] kylehuntsman commented on #8088
Hey, so I decided to jump in on this as my first issue after attending a triage session. Let me know if I'm stepping on toes, could improve on anything, elaborate more, etc.

After some thorough digging, the purpose of `setConfigUnsynced` was to abstract the original `SetConfig` and add thread safety, adding the `packageLock.Lock` and `defer packageLock.Unlock` calls anywhere the original `SetConf

[2022-02-22 16:33] schomatis commented on #8088
Great, unassigning myself then. Ping me if I can help.

[2022-02-22 16:36] schomatis commented on #7482
@kylehuntsman Can follow up on this as part of https://github.com/ipfs/go-ipfs/issues/8088 (not sure why I can't assign him here).

[2022-02-24 03:46] schomatis commented on #8696
Working on this.

[2022-02-24 09:24] thattommyhall commented on #8717
I tested something like your dir-index-html strategy with lua nginx, but I used `X-Accel-Expires` to keep it within our gateway.
Nginx will honor it, I think maybe Varnish but I cant find a clear ref (though I would be near-certain there is an equivalent)

So configuring the name of the header might be useful is the concrete ask here, but someone else that uses another cache might be able to chime

[2022-02-24 17:01] lidel commented on #8717
If we fix https://github.com/ipfs/go-ipfs/issues/1818#issuecomment-1015849462 (set proper `cache-control` header of `/ipns/` and dir-index-html responses),  that would be universal hint for all HTTP caching tools/solutions (in case where gateway operator wants to cache things for longer, the minimal max-age could be raised via config, decreasing the need for custom headers like `X-Accel-Expires`)

[2022-02-25 13:51] schomatis commented on #8696
@lidel Will be pushing a PR with the first 3 items, leaving the most appropriate error wording up to you.

[2022-02-25 16:22] aschmahmann commented on #8589
@Xyncgas there's not much actionable in this issue in that there is no reproducible example, nor any profile information. How long it takes to work with an MFS object may be dependent on your system load and a variety of other concerns. The HTTP API is used by the CLI to talk to the daemon so if you're curious as to the performance try using the CLI commands directly.

This is probably best debugg

[2022-02-25 16:28] aschmahmann commented on #8631
@gitgit3 I don't think you were properly following that tutorial. As mentioned in the linked issue MFS (the thing used by `ipfs files ls`) is not the same as the set of all data in your repo. That tutorial doesn't contain `ipfs files ls` anywhere, but instead has `ipfs ls -v QmPvaEQFVvuiaYzkSVUp23iHTQeEUpDaJnP8U7C3PqE57w` which lists the files in a particular directory which is referenced by CID.

[2022-02-25 16:28] #8631 closed

[2022-02-25 16:31] aschmahmann commented on #8647
If you can give more debug information (e.g. pprof) or a more stable reproduction that would be helpful. @marten-seemann are there any particular debugging tips you'd give here?

[2022-02-25 16:40] aschmahmann commented on #8646
@jjperezaguinaga there are some docs and examples on docs.ipfs.io and all of the default go-ipfs config options and what they do are described in https://github.com/ipfs/go-ipfs/blob/master/docs/config.md. Disabling CORS for all requests (what you did in the linked setup) is generally not a good idea.

@TheDiscordian do you know of good resources to point them at?

[2022-02-25 16:41] #8646 closed

[2022-02-25 16:46] marten-seemann commented on #8647
Recording a qlog would be a good idea. Set the QLOGDIR env variable to a directory. Every QUIC connection will then log a qlog. qlogs can best be visualized using https://qvis.quictools.info/.

[2022-02-25 17:00] aschmahmann commented on #8649
I think this could lead to more confusion than good here. Occasionally we get requests/user confusion around why they can't put mutable links into UnixFS folders which could increase here.

I get that this is more convenient and to some extent I agree with the feature request, but keeping things simpler/more composable might be better.

[2022-02-26 20:06] aronchick opened #8752 "IPFS_PATH not working with ipfs init on latest from snap"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

third-party binary

### Version

[code

[2022-02-27 01:04] Jorropo commented on #8752
@aronchick snaps run inside isolated dockers and doesn't allows that kind of things to happen (to my knowlege, anyway even if there is an option they are a pain).

If you want to play with ipfs on that kind of level, you should install from:
- [dist.ipfs.io](https://dist.ipfs.io)
- `go install github.com/ipfs/go-ipfs/cmd/ipfs@latest`

[2022-02-27 20:05] aronchick commented on #8752
Thanks! Will try tomorrow - we should have a detection/warning/remove our (blessed) install from snap

[2022-02-27 20:22] aschmahmann commented on #8688
Reopening just to track the snap switch to classic mode.

Brief summary:
- Snap confinement makes many CLI tools (from `jq` to `go-ipfs` essentially unusable)
- Removing our blessing/CI deployment for Snap does nothing since others in the community will (and previously did) publish Snap which resulted in us getting complaints anyway. All removing the CI integration would do is increase the attack

[2022-02-27 20:22] aschmahmann commented on #8752
https://github.com/ipfs/go-ipfs/issues/8688#issuecomment-1053668859

[2022-02-27 20:22] #8752 closed

[2022-02-28 03:40] aronchick commented on #8752
+1 confirmed. Removing the snap version and installing from dist.ipfs.io solved this. I'll +1 the other bug.

[2022-02-28 03:41] aronchick commented on #8688
Confirmed - IPFS_PATH fails to get passed through and the binary fails without explanation.

[2022-02-28 03:44] aronchick commented on #8688
BTW, it's perfectly reasonable to use another install method, because IPFS requires so little - crates, debian - even a bash script - is preferrable to me.

[2022-02-28 22:19] guseggert commented on #8752
There is also documentation for this in the Snap section of the `go-ipfs` README: https://github.com/ipfs/go-ipfs#snap

[2022-03-01 02:16] BigLep commented on #8344
2022-02-28 update: 0.12 has been released: https://github.com/ipfs/go-ipfs/releases/tag/v0.12.0

We're working on wrap up this week (announcements, ipfs-desktop)

[2022-03-01 09:52] aschmahmann opened #8753 "Switch to go-log v2"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

https://github.com/ipfs/go-log v2 has been out for quite a while now and go-libp2p v0.18.0 (the biggest source of go-log v1 outputs) is switching over to v2. We sho

[2022-03-01 13:40] lidel commented on #8234
Note:  `car` code was added  in https://github.com/multiformats/multicodec/pull/258 and the discussion around its meanign and purpose continues in https://github.com/multiformats/multicodec/issues/239#issuecomment-1046124811

My take / question: can we use the codec field of CIDv1 to indicate expected format/transformation when requesting data from Grateways?

We could play it safe and use `?forma

[2022-03-01 18:29] schomatis commented on #8649
@Kubuxu In the composable variant, with the daemon running you could do something like:
[code]

This would just copy the root directory though, nothing else (it won't recursively download the entire directory to your store), so you would need to be always online to go through (new) dir contents. (This is true of any `files cp` operation but users normally run this after `add` so it's kind of impli

[2022-03-01 18:29] #8649 closed

[2022-03-01 21:07] Kubuxu commented on #8649
This is one of the key points of `files` commands.

Agreed that it might cause confusion, although lack of `/ipns/` support also will probably cause confusion. I'm not sure how to best to resolve it. Maybe files API having always existing virtual `/ipfs` and `/ipns` directories would alleviate the confusion (but it has its drawbacks).

[2022-03-01 23:41] BigLep commented on #8753
@aschmahmann : is this a good candidate for @schomatis ?

[2022-03-02 13:37] hsanjuan commented on #7074
Behold, for we have finally moved away from raw multihashes and this has been unblocked!

[2022-03-02 13:47] shanej1595 commented on #8682
They probably won't get back to you with a legitimate answer. IPFS takes money out of GH's affiliates pockets (and a lot of pockets [ie people who invested and put money into AV programs]) My take on it is that it will always be a false positive.
They'll probably tell you they found some bullshit lines of obfuscated code or some crap like that.

[2022-03-02 13:58] Stebalien commented on #7074
:turtle: :checkered_flag:

[2022-03-02 18:24] schomatis commented on #8753
Sounds like it. Will go ahead with this one unless explicitly flagged otherwise.

[2022-03-02 18:33] aschmahmann commented on #8753
Yep seems reasonable. We should probably use the go-log format (https://github.com/ipfs/go-log#golog_log_level) for describing particular subsystems to get logs for though.

[2022-03-03 06:06] BigLep commented on #8586
@schomatis : are you able to drive this one to completion with @TobiaszCudnik ?

@lidel : any concerns with @schomatis being the approver for
https://github.com/ipfs/go-ipfs/pull/8693
https://github.com/ipfs/go-ipfs-config/pull/165
https://github.com/libp2p/go-libp2p-pubsub-router/pull/92

?

[2022-03-03 06:11] BigLep commented on #8570
@lidel : is this a good candidate for @schomatis ?

[2022-03-03 06:13] BigLep commented on #8505
@lidel : is this a good candidate for @schomatis ?

[2022-03-03 06:33] BigLep commented on #8487
@lidel : is this a good candidate for @schomatis ?

[2022-03-03 06:35] BigLep commented on #8485
@aschmahmann : is this a good candidate for @schomatis ?

[2022-03-03 06:36] BigLep commented on #8473
The repo consolidation effort is https://github.com/ipfs/go-ipfs/issues/8543

[2022-03-03 06:50] BigLep opened #8759 "Add endpoint for enabling block profiling"
Profile goroutines waiting on selects, chan send/recv, mutex, waitgroups, and cond vars.

- [x] https://github.com/ipfs/go-ipfs/pull/8469
- [ ] Update `bin/collect-profiles.sh` https://github.com/ipfs/go-ipfs/pull/8786/files

[2022-03-03 06:53] BigLep commented on #8759
@guseggert : I created an issue out of the the PR.  Feel free to add more details.  I'm hoping this is something that can be passed off to @schomatis , or at least for him to do the code reviews.

[2022-03-03 07:01] BigLep commented on #8381
@guseggert : what are the next steps for this?

[2022-03-03 07:03] BigLep commented on #8375
@lidel : can you describe what the next steps here are?

[2022-03-03 12:27] dokterbob commented on #4279
May I inform on the progress on this one?

[2022-03-03 13:10] BigLep commented on #8314
We don't have a reproducible case at our disposal, including things like the shape of the DAGs or a good way for someone to predictably reproduce the issue.  I've labeled this as needing autor-input.  If don't receive anything in the next week, we'll close for now.

[2022-03-03 13:14] BigLep commented on #8251
@guseggert : is this just waiting on https://github.com/protocol/bifrost-infra/issues/1222 to be resolved?  Are we still deploying nightlies to staging automatically?

[2022-03-03 13:30] BigLep commented on #7709
@lidel : is this an issue still, or can this be closed?

[2022-03-03 13:47] BigLep commented on #6640
@jbouwman @Stebalien : is it correct to say that https://github.com/ipfs/go-ipfs-cmds/pull/215 fixes this issue?

[2022-03-03 15:51] schomatis commented on #8586
@BigLep No. We still have open questions about the direction of this issue in https://github.com/ipfs/go-ipfs/issues/8586#issuecomment-992415522, waiting for @aschmahmann 's input.

[2022-03-03 17:31] BigLep commented on #8696
Internal note: we want this for 0.13

[2022-03-03 17:53] Zanda256 commented on #8264
@BigLep , so can I carry on with the implementation?

[2022-03-03 23:55] BigLep opened #8761 "Integrate/expose go-libp2p resource manager"
go-libp2p v18 is shipping with a resource manager - yahoo!  This issue encompasses the work to fully land this as a feature exposed to go-ipfs users.  This includes:
- [x] Integrating go-libp2p (i.e., doing the dependency update): https://github.com/ipfs/go-ipfs/pull/8680:
  - Estimate: 1 - needs review & cleanup – wip @lidel  – see https://github.com/ipfs/go-ipfs/pull/8680#issuecomment-1086432509

[2022-03-04 01:02] BigLep commented on #8761
Assigned to @marten-seemann currently since he is doing some of the initial work.  He'll ultimately need a go-ipfs partner for landing these changes and tieing up anything else.

[2022-03-04 01:22] BigLep commented on #8264
@Zanda256 : do you have an implementation separate from the PRs that are linked to this issue?

[2022-03-04 06:50] gharriso opened #8762 "ipfs pin remote ls skips files that are created within a second of each other ipfs version --all go-ipfs version: 0.12.0-06191dfef Repo version: 12 System version: amd64/darwin Golang version: go1.17.6"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

[code]

###

[2022-03-04 07:04] godcong commented on #4279
v1 seems to have stopped updating, and no one will probably ever address it in this entry.
Isn't it better to try another plan, like using v2 or v3 or something.

[2022-03-04 10:22] laurentsenta opened #8763 "Allow / Deny Bitswap replication based on peerID and CID"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Background

Right now, the only way to store personal/private data on the network is to:
- Use a private network (with [swarm keys](https://github.com/Kubuxu/go-ipfs-swarm-key-g

[2022-03-04 15:54] guseggert commented on #4279
We will not make v1 the default as it is unmaintained, and v2 has issues as @Stebalien pointed out. DGraph, the company that maintains BadgerDB, is undergoing a leadership shake-up, so we're hesitant to make v3 the default until we are confident that v3 will be maintained in the long run.

[2022-03-04 16:06] guseggert commented on #1482
Libp2p has recently added a "resource manager" which we are working to integrate with `go-ipfs`, we are planning to release it in v0.13 (there is a chance it could be delayed to v0.14).

More info: https://github.com/libp2p/go-libp2p-resource-manager

[2022-03-04 16:08] bertrandfalguiere commented on #8763
Sounds like the Block-level acces control by peergos : https://peergos.org/posts/bats

[2022-03-04 21:06] kylehuntsman commented on #8763
@bertrandfalguiere We actually came across that implementation while researching the idea.

We felt Peergos's implementation was great, but was a bit heavy in terms of spec changes. We ended up taking a more general and lightweight approach that we felt could be immediately useful without the burden of reviewing and merging something like a block spec change to the protocol. Not as robust or as sp

[2022-03-06 10:47] bmwiedemann opened #8766 "panic: failed to parse CIDR 2804>3078::/32: invalid CIDR address"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-03-06 13:52] aschmahmann commented on #8766
Does this happen reliably for you, or just occasionally? Have you tried rebuilding the binary to make sure you don't have some corruption locally or in your build process?

`panic: failed to parse CIDR 2804>3078::/32: invalid CIDR address: 2804>3078::/32` is a weird error to get since the error comes from https://cs.opensource.google/go/go/+/refs/tags/go1.16.14:src/net/ip.go;l=712 and returns the

[2022-03-06 15:40] bmwiedemann commented on #8766
Thanks. It worked with the official binary and then I found that my binary on disk was not the one it should be. Exactly one `:` was replaced by `>` . Weird. And sure enough after a force-reinstall, it worked again.

smartctl show some HDD error
198 Offline_Uncorrectable   0x0008   100   100   000    Old_age   Offline      -       2

and the characters are just 1 bit apart, so let's close this her

[2022-03-06 15:40] #8766 closed

[2022-03-07 02:02] cuh opened #8768 "gc lock can't upload"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-03-07 18:35] lidel opened #8769 "Gateway: CAR export with selector"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

## Context

https://github.com/ipfs/go-ipfs/pull/8758 adds support for CAR export via Gateway.
It exports entire dag as a CAR stream, which does not cover all use c

[2022-03-07 18:49] LynHyper commented on #6097
@Stebalien Is there anything keeping this issue open now that Peering has been added to go-ipfs?

[2022-03-07 21:01] willscott commented on #8769
I'm not personally a huge fan of `selector.<codec>`. I wonder if instead of `multibase({cbor serialization of selector})` it could be a cid with identity hash, so specifying codec, and multibase

[2022-03-08 01:04] osilkin98 opened #8770 "Fish Autocompletion for IPFS CLI"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

Currently, only `bash` is supported for CLI completions. It'd be great to have this functionality extended to the `fish` shell, (and `zsh` too, if needed).

[2022-03-08 02:27] BigLep commented on #8344
@guseggert : I don't see the blog post under: https://blog.ipfs.io/
I assume the marketing air table request hasn't been handled by marketing?  Can you please provide the airtable link so I can follow?
I'm going to reopen to denote that this isn't done-done-done.

[2022-03-08 03:26] lidel commented on #8769
I like the idea of  it being a CID!
Small ones could be inlined, bigger ones could be fetched once and reused efficiently.

[2022-03-08 14:17] guseggert commented on #8344
Ah thanks, it was premature to resolve this. I don't have a link to the AirTable req, it is just a form. I can follow up with Emily.

[2022-03-08 16:25] guseggert commented on #8768
Yes this is expected given the current implementation of GC. Effectively, GC holds a write lock on the repo while it computes and clears garbage. See:

* https://github.com/ipfs/go-ipfs/issues/7752
* https://github.com/ipfs/ipfs-cluster/issues/889

[2022-03-08 17:13] BigLep commented on #8344
Brave release for go-ipfs 0.12 is here: https://github.com/brave/brave-browser/milestone/269

[2022-03-09 00:02] leeopop opened #8774 "[Resolved]"
I verified that this is not the go-ipfs problem. Sorry for misunderstanding.

[2022-03-09 00:22] BigLep opened #8775 "delegated-routing support v1: use configurable delegated-routing endpoints for content-routing"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

_No respons

[2022-03-09 00:30] #8768 closed

[2022-03-09 09:37] ianopolous commented on #8763
To be clear, the extension we've built is more general than this (it allows arbitrary allow functions as described in https://github.com/ipfs/go-ipfs/issues/7871 and you could do the same thing without any bitswap protocol changes.

This is the allow signature here, though you would remove the string which is the auth token, and likely could remove the block data as well: https://github.com/Peergo

[2022-03-09 10:48] thesoulkiller opened #8777 "Systemd cannot access the config files"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-03-09 11:35] thesoulkiller commented on #8777
Apparently there are some bugs in the hardened.service file, I have trim down the file as:

[code]
now it works, I'm using Debian 10 / Buster.

[2022-03-09 11:35] #8777 closed

[2022-03-09 13:11] laurentsenta commented on #8763
👍 That's the first task in the description: Arbitrary predicate function, no protocol change.
Here is the [go-bitswap](https://github.com/ipfs/go-bitswap/pull/549) PR as a reference; feel free to review!

If you refer to the second story, the goal is to expose the feature to users who won't compile their node. So it is one default implementation on top of step 1.

Remember this is a special case o

[2022-03-09 13:19] ianopolous commented on #8763
I think we're suggesting the same thing. A configurable allow function. I was mainly disputing the "more general" claim.

[2022-03-09 15:08] #8645 closed

[2022-03-09 15:40] guseggert commented on #8344
Confirmed blog entry is published.

[2022-03-09 15:40] #8344 closed

[2022-03-09 19:00] autonome opened #8779 "the repo migration error does not say or link to how to resolve it"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

upgraded recently i guess, b/c tried a cli command and got:

this should tell the user what to do next.

[2022-03-09 19:38] lidel opened #8780 "Could not add migration to IPFS: Cannot get migrations from unknown fetcher type"
### Version

[code]

### Description

[code]

Above  message was reported by Brave and on https://develop.element.io/#/room/#lobby:ipfs.io:

It does not impact migration itself, but raises a concern that something went wrong.

In this case, downloaded migration is not added to IPFS, so other machines from LAN can't fetch it locally p2p, but need to fetch from swarm/HTTP. Not a hard error, but some

[2022-03-09 19:57] lidel commented on #8780
@gammazero any ideas? is this a bug because we do type assertion over pointer [here](https://github.com/ipfs/go-ipfs/blob/v0.12.0/cmd/ipfs/add_migrations.go#L33-L34)?

[2022-03-09 22:25] kylehuntsman commented on #8763
Oh nice, thanks for pointing that out. I didn't see that previously. I was referencing the idea of the continuous access-control across nodes when I wrote that.

[2022-03-10 01:52] lidel commented on #8234
Block/CAR response types are implemented in https://github.com/ipfs/go-ipfs/pull/8758 – ready for review, plan is to ship it in go-ipfs 0.13.

[2022-03-10 02:01] lizelive commented on #1055
is this still not possible?

[2022-03-10 02:52] #8774 closed

[2022-03-10 03:29] BigLep commented on #7481
@Stebalien : do you have more input here so this can be actioned?

[2022-03-10 07:48] BigLep commented on #8505
@schomatis : I didn't receive input from @lidel .  Can you assess for yourself whether this is a good candidate?

[2022-03-10 08:05] BigLep commented on #8663
@aschmahmann : is this the canonical " pin IPLD selectors" issue?  Is this a good candidate for @schomatis ?

[2022-03-10 08:20] BigLep commented on #7667
@lidel : is there any more work that needs to be done here now that https://github.com/ipfs/go-ipfs-cmds/pull/222 has been merged?

[2022-03-10 08:24] BigLep commented on #8731
@galargh : just checking in to see if we've done the fix so we can resolve this issue.

[2022-03-10 08:32] BigLep commented on #8157
@schomatis : where did this land?  Is this worth picking up?

[2022-03-10 08:35] BigLep commented on #7702
@lidel : is the next step "Remove it in the release cycle after that and refuse to start if it's configured"?  Is this a good candidate for @schomatis ?

[2022-03-10 08:46] BigLep commented on #7190
dag patch work is happening here: https://github.com/ipfs/go-ipfs/issues/4782

[2022-03-10 08:48] BigLep commented on #6487
I like this @lidel.

@schomatis : what do you think about implementing this?

[2022-03-10 09:05] BigLep commented on #7954
Closing due to no response with a reproducible case.

[2022-03-10 09:05] #7954 closed

[2022-03-10 11:26] Zanda256 commented on #8264
I had figured something out, but that was a long time ago. I just need to re-implement it. I'll submit a PR for review when it's ready.

[2022-03-10 12:58] lidel commented on #8578
FYI i gathered some feedback around HTTP-request metrics  in https://github.com/ipfs/go-ipfs/issues/8441

[2022-03-10 19:31] lidel opened #8783 "Gateway: fast check if CID is in local datastore cache (only-if-cached)"
## Ecosystem context

Raw block and CAR stream Gateway response types are added in https://github.com/ipfs/go-ipfs/pull/8758 and https://github.com/ipfs/go-ipfs/issues/8769.

This unlocks exciting features to happen in IPFS ecosystem:
- light clients that fetch data from multiple gateways in trustless fashion
  - Mobile web browsers with low impact on battery
  - IoT devices fetching firmware upda

[2022-03-10 23:48] schomatis commented on #8505
Yes, assigning.

[2022-03-10 23:50] schomatis commented on #8663
Feedback from my side: I have experience on recursive DAG but not on IPLD selectors (but can learn though if there is good doc and examples).

[2022-03-10 23:57] schomatis commented on #8059
Yes, assigning.

[2022-03-10 23:58] schomatis commented on #8157
I think not, closing.

[2022-03-10 23:58] #8157 closed

[2022-03-11 00:00] schomatis commented on #6487
Yes, assigning.

[2022-03-11 00:02] schomatis commented on #8264
@Zanda256 This is already implemented in https://github.com/ipfs/go-ipfs/pull/8493 (we're just polishing final details) linked above. Sorry for the noise.

[2022-03-11 16:28] BigLep commented on #8196
2022-03-11 conversation: we're less keen on working items like this because of needing to do it twice (go-ipld-prime, legacy unixfs code).

[2022-03-11 16:40] BigLep commented on #7956
2022-03-11 conversation: this is a performance issue.  We need to do some more triage to understand if we're doubling our writes to disk.  It's less bad if we're doing two checks.  @schomatis analysis to date is that we're just doing two checks, which lowers the priority.

[2022-03-11 16:43] BigLep commented on #7956
Next step: need more information on which method to fix.  Someone will need to dig into the code more and make the plan.

[2022-03-11 16:52] BigLep commented on #8471
2022-03-11 conversation: we need to decide on the approach especially in light of the 0.12 migration.  @aschmahmann will give input here.  That may mean doing something different than https://github.com/ipfs/interface-go-ipfs-core/pull/80, but we'll wait for Adin comments.

[2022-03-11 17:07] BigLep commented on #8504
2022-03-11: @lidel is going to comment on the approach we think we should take here in light of verbal conversations when looking at https://github.com/ipfs/go-ipfs/pull/8637

[2022-03-11 17:36] BigLep commented on #7481
2022-03-11 conversation: end goal is to make it crystal clear for users on whether they need to reboot or not when making config changes.

For priority determination, it would useful to know how many users are snagged by this issue.

[2022-03-11 19:25] #8470 closed

[2022-03-11 22:23] #8696 closed

[2022-03-11 22:42] lidel commented on #8504
https://github.com/ipfs/go-ipfs/pull/8637  revealed that we would have to duplicate a lot of code that we are not happy about with in the first place. This is not super urgent, I propose we do this right and adjust the scope here, somehow.

Potential paths forward:

- (A) Wait until unixfs and MFS codebases are refactored into something easier to reuse.
- (B)  Add opt-in `ipfs add --to-mfs=/path/i

[2022-03-13 11:25] shohamc1 commented on #7873
This should be closed.

[2022-03-14 05:31] BigLep commented on #8504
@lidel : now that the scope is clarified, do you need to be the one to do this, or is this up for grabs?

[2022-03-14 05:32] BigLep commented on #8504
@lidel : now that the scope is clarified, do you need to be the one to do this, or is this up for grabs?

[2022-03-14 16:57] lidel commented on #8769
- Note on cache control: DAG walk implemented by IPLD is deterministic, so we could indicate that response can be cached + (tdb if revalidated in the background).

- Note on resuming partial downloads (think: IoT device on poor wifi).
[HTTP Range requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests) require knowing total size of CAR upfront, and we are unable to do that witho

[2022-03-14 17:18] warpfork commented on #8769
- confirm traversal walks (and thus selectors) have a deterministic canonical order (and if that's not easy enough to point at in a specific heading in our specs and docs, that's a bug in the specs and docs).
  - ... mind that CAR order is *not* deterministic per the CAR spec; CARs are just a bag of blocks.  But it should be clear enough for some system to itself declare "this CAR must use the sta

[2022-03-14 20:17] lidel commented on #3926
Two years later, neither   https://github.com/libp2p/go-libp2p-kad-dht/issues/616 nor https://github.com/libp2p/go-libp2p-kad-dht/issues/254 happened.

Meanwhile, various countries and companies can cripple connectivity by blocking well-klnown list of hardcoded  bootstrappers.

I propose we do _something_ rather than keeping current broken state.
Does not have to be perfect, MVP could live purely

[2022-03-14 23:20] aschmahmann commented on #8769
My understanding is that this requires basically stored context on the node you are retrieving from, so is more like extra state for resuming a broken connection than resumable selectors.

IMO range requests for CAR files seems like an iffy thing to support on gateways. In the general case they're costly to create and so asking for bytes 1000MB-1001MB of a CAR file seems like a small request but i

[2022-03-15 17:47] Jorropo opened #8791 "ipfs dag stat should skip downloading raw leaves"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

[code]
Will download all desandant of Qmfoo. Even raw leaves.
We can skip raw leaves when the dag size or chunk size is included in the parent block (which is the d

[2022-03-15 18:17] sankesireddy commented on #2839
Hi,
When I'm trying to install IPFS by using "npm install orbit-db ipfs" I'm encountering this error. ERR! Error: EPERM: operation not permitted, symlink 'C:\Users\Student\OB\node_modules\go-ipfs\go-ipfs\ipfs.exe' ->
However, when I install just the IPFS following "npm install IPFS", there aren't any issues.

Can someone please help me fix this issue?

[2022-03-15 19:19] BigLep commented on #7074
@hsanjuan @Jorropo : I assume we're going to need to do a bunch of releases on so this can bubble up to go-ipfs.

I suggest we use the versioning suggestions/tooling here: https://github.com/protocol/.github/blob/master/VERSIONING.md

If help is needed with the versioning workflow, please discuss in IPFS Discord / #ip-productivity.

[2022-03-15 20:28] BigLep opened #8792 "Establish pattern for proper go routing handling/tooling"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

_No re

[2022-03-16 11:24] Jorropo opened #8794 "ipfs dag stat improperly return size of dags that include the same blocks multiple time as differe codecs"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-03-16 19:52] BigLep opened #8796 "Release 0.12.1"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

_No response_

[2022-03-16 20:12] #7873 closed

[2022-03-16 22:26] gammazero commented on #8780
@lidel I am guessing this happens because `fetcher` [here](https://github.com/ipfs/go-ipfs/blob/v0.12.0/cmd/ipfs/daemon.go#L491) is `nil`, and that `if` above should check that.

[2022-03-16 22:45] #6651 closed

[2022-03-16 23:07] #8689 closed

[2022-03-16 23:54] lidel commented on #8769
Agree, there is dangerous resource usage asymmetry here, and no clear benefit when compared to progressive download with shallow selectors.  I updated  #8758  – it now  returns CAR stream with `Accept-Ranges: none` to avoid any confusion  and incentivize people to use selectors instead.

Yep, added to the TBD scope, we may extract it to separate issue.

yes

no reason to restrict. as we discussed

[2022-03-17 03:54] Jorropo opened #8797 "Memory leak under high bitswap load"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-03-17 04:02] Jorropo opened #8798 "Add a more aggressive GC watchdog to help in bursty memory usage situations"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

In #8797 it happen often that bitswap use 20+Gigs of ram and will continue even after all requests has been canceled / finished.

However due to how golang GC's wor

[2022-03-17 07:16] KidesLeo commented on #7854
Having the same problem as OP. Windows 10 Pro, i7-8750H CPU, 16GB RAM, SSD.
I'm running ipfs-desktop-0.20.2
Cursor randomly freezing and audio stutters.

[2022-03-17 08:24] thibmeu commented on #8441
Regarding the set of buckets, what is the reasoning behind these values?
I feel like the granularity in the seconds unit is important, while there is very little information for blocks that are retrieved quickly.

I would suggest 50ms, 100ms, 250ms, 500ms, 1s, 2s, 5s, 10s. This is still arbitrary, but I feel it could capture more information.

[2022-03-17 10:23] thibmeu opened #8799 "Gateway: DNS resolution export with DNSSEC records"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

ipfs/kubo#128 focuses on serving verifiable IPFS content. However, an important part of this content is requested via a naming system, such as DNS with DNSLink.
Ide

[2022-03-17 13:37] guseggert commented on #8797
This is a well-known problem with bitswap, we experience this often on the gateways, here is the go-bitswap tracking issue: https://github.com/ipfs/go-bitswap/issues/550

[2022-03-17 16:49] guseggert opened #8800 "Move to OpenTelemetry for metrics"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

go-ipfs should migrate to OpenTelemetry for metrics, now that the Metrics API is stable (and the Go implementation is imminently stable), and we are using it for tr

[2022-03-17 20:04] schomatis commented on #8594
Done in https://github.com/ipfs/go-ipfs/pull/8616.

[2022-03-17 20:04] #8594 closed

[2022-03-17 22:16] Jorropo opened #8801 "Make a QUIC optout tag to build without QUIC support"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

As some of you know the QUIC lib we use do some `unsafe` magic to edit private fields of structs in the crypto golang std libs.
That because the golang crypto libs

[2022-03-17 23:42] lidel commented on #8799
Thank you for filling this.  I'm happy to discuss design, and if you have bandwidth to implement it, also review PR.

My initial thoughts:
-  If we add support for returning  DNSLink resolution along with its DNSSEC proof, then it should not be limited to CARs, we would return this for every `/ipns/{example.com}` response.
   - Bit skeptical how useful this is for clients who fetch CAR. In my mind

[2022-03-17 23:42] #7074 closed

[2022-03-17 23:49] gmasgras commented on #8441
My reasoning for most of the values is that it's common to see buckets using the Fibonacci sequence. 30s and 60s are personal preference + they align with some of our timeouts on the gateways.

[2022-03-18 15:16] lidel commented on #8550
tested today with go1.17.8 and issue is still here (can be reproduced by clean go-ipfs clone, then doing `make clean` and then `cd test/sharness && make`).

[2022-03-18 15:28] BigLep commented on #8798
@Jorropo : cool, sounds good.  We look forward to hearing what you learn from experimenting.

[2022-03-18 15:30] BigLep commented on #8797
We're going to close and let https://github.com/ipfs/go-bitswap/issues/550 be the master issue.

[2022-03-18 15:30] #8797 closed

[2022-03-18 15:38] BigLep commented on #8801
@Jorropo : thanks for raising.  We're not apt to tackle this because of extra maintenance.  We don't want to take on testing/maintaining it because others have started relying on it.   Others on the team do build modifications and just have them stashed locally.

It would be good to get more user signal as to how important build flags like this are for the community.  We'll leave it open for now t

[2022-03-18 15:56] BigLep commented on #8526
2022-03-18 conversations: maintainer priority and plan of record is:
1. (in progress) Add selector support in gateways (https://github.com/ipfs/go-ipfs/issues/8769 )
2. (easy followup) Add support for selectors in dag-export (https://github.com/ipfs/go-ipfs/issues/8239 )

General:
Paths are easy
Selectors are harder to use

As people have been asking about selectors, we're going to add them to mor

[2022-03-19 00:15] BigLep opened #8804 "Move off CircleCI to GitHub Actions"
## Done Criteria
Integration tests run from GitHub actions rather than GitHub Actions

## Why Important
1. CircleCI becomes one more piece of infrastructure we need to manage and be aware of
2. Most everything else has moved to GitHub actions.  Relates to the above.  Narrow the toolchain and have consistency.
3. Makes it easier for forks to run tests

## User/Customer
Contributors and maintainers

[2022-03-19 00:17] BigLep commented on #8804
Another added benefit is we should get better test output for debugging test failures.  Copied in discussion about CircleCI from [Discord](https://discord.com/channels/806902334369824788/954520767125684316).

From @lidel about what we have to do in CircleCI:

[code]

[2022-03-19 15:14] hsanjuan commented on #7074
A small follow up for the tagging was on #8757 . This is now finally closed.

[2022-03-20 19:56] Stebalien commented on #7854
@KidesLeo please run `ipfs diag profile` while this is happening and upload the resulting file.

[2022-03-21 17:40] aschmahmann opened #8807 "Optimizing (or remove) the provider delay interval for DHT lookups used by Bitswap"
We have had a delay inside of go-bitswap where we wait for Bitswap broadcasts before we do a content routing lookup.

This has existed for a long time, and DHT performance has gotten much better in the meanwhile. It seems likely that we can drop this number without causing much more load on major use cases, although some analysis might be needed.

If we find analysis is a pain here, we could at le

[2022-03-21 18:16] KidesLeo commented on #7854
Sorry for the slight delay. Here's the [profile zip](https://github.com/ipfs/go-ipfs/files/8318237/ipfs-profile-2022-03-21T21_11_20%2B03_00.zip).
Delayed cause the lag wasn't there in the morning but came back tonight. Thanks @Stebalien!

[2022-03-21 18:40] Stebalien commented on #7854
Hm. Your node doesn't appear to be under heavy load and IPFS doesn't appear to be doing much at all.

- It looks like QUIC (a udp-based transport) is using some CPU, but that's it.
- It doesn't look like your node is using a lot of memory.

1. Is IPFS using a lot of CPU? Is something else using a lot of CPU?
2. Are you using any third-party firewalls? Lots of UDP connections could be making it unh

[2022-03-21 19:08] guseggert commented on #8804
We'd need to setup self-hosted runners for this, as we use the 2xlarge CircleCI resource class which is 16 vCPUs and 32 GB RAM, whereas GH Actions hosted runners only provide 2 vCPUs and 7 GB RAM, which would slow down the build time by an unacceptable amount.

[2022-03-21 19:34] guseggert commented on #8807
Consider also determining the delay dynamically so this doesn't have to be manually tweaked.

Also, ensure the metrics necessary to determine this value are exposed, and the process for determining the value is documented, so it can be tweaked over time.

[2022-03-21 20:24] kusattapan1 commented on #6400
[code]
This problem was occur in rand seed function

[2022-03-21 20:37] BigLep commented on #8796
Relevant security advisory: https://github.com/ipfs/go-ipfs/security/advisories/GHSA-fx5p-f64h-93xc

[2022-03-21 21:56] danimesq commented on #501
@jbenet or @mappum
Any progress about progress bar?
Implemented either directly in the Go source or as an external method/workaround.

I would like to have it in `ipfs get` and `ipfs add`.

[2022-03-21 22:20] Mouradif commented on #6932
I just got my server terminated by hetzner due to this 😭

[2022-03-21 23:12] Stebalien commented on #6400
That's not the crash (that goroutine is stuck) but it looks like _something_ crashed while holding the rand lock. But if you can't reproduce there's likely nothing we can do. It's either a bug in the runtime, or some kind of memory corruption.

[2022-03-22 05:40] KidesLeo commented on #7854
It was running at about 30% CPU utilization but it says that the CPU is utilized 100% from every process, system interrupts being the second highest.

I do use a third-party firewall. Netlimiter, I'll test it with the firewall off.

No anti-virus and I have plenty memory.

The crawl seems to intensify significantly when I open the desktop gui and it's at its highest when I open the peers tab.

[2022-03-22 21:32] Stebalien commented on #6640
No, these are two different things. The PR to fix this was https://github.com/ipfs/go-ipfs-cmds/pull/179 (but that, unfortunately, needed some work to get into a mergable state).

[2022-03-23 11:12] 3456091 opened #8818 "Gateway dag/export produces incorrect CAR for unavailable CIDs"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-03-23 13:53] makeworld-the-better-one opened #8819 "Upgrade quic-go to v0.26.0 to support building with Go 1.18"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

I am u

[2022-03-23 22:44] lidel commented on #8769
This turns out to be more involved, as we are lacking support for `dag-json` in various places (e.g. https://github.com/ipfs/go-cid/pull/137)

[2022-03-24 01:46] schomatis commented on #8264
Yes, sorry, we need to land the main PR in `go-ipfs` to close this: https://github.com/ipfs/go-ipfs/pull/8493.

[2022-03-24 12:15] dvergeylen commented on #8819
As a temporary workaround, one may want to upgrade the dependency himself:

[code]

`make build` them compiles as expected.

[2022-03-24 13:09] makeworld-the-better-one commented on #8819
Thanks for the tip. I was worried about messing things up by doing that upgrade, since the libraries using quic-go weren't written with this latest version in mind. For now I just switched back to Go 1.17.

[2022-03-24 14:36] iand opened #8820 "Gateway HTTP Metrics inconsistently measure failed response times"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-03-24 16:09] BigLep commented on #8578
2022-03-24 conversation: @guseggert is going to define the done criteria for the current attack at this.  He'll also list potential followups.

https://github.com/ipfs/go-datastore/pull/188 is a related PR.

[2022-03-24 19:49] lidel opened #8823 "Gateway support for dag-json and dag-cbor responses"
## TODO

Ability to request dag-json or dag-cbor response with:

- [x] `?format=dag-json`,   `Accept: application/vnd.ipld.dag-json`
- [x] `?format=dag-cbor`,  `Accept: application/vnd.ipld.dag-cbor`
- [x] TDB: should  requesting `Accept: application/json`   / `Accept: application/cbor` will return IPLD Data Model representation (as DAG-JSON/CBOR) of any IPLD-compatible CID  (could be dag-pb, or w

[2022-03-25 12:02] acuteaura commented on #6932
Hetzner's network team gets very unpleasant about these.

Maybe IPFS could check the first interface to see if that address is RFC1918 and then make local peer discovery opt-in at that point?

[2022-03-25 15:11] BigLep commented on #8763
Closing because this functionality now lives in bitswap: https://github.com/ipfs/go-bitswap/pull/549

We don't expose configuration for this in go-ipfs, but one can make their own ipfs distribution if they want.

If anyone wants this in go-ipfs itself, we should talk about plugin support.  That should be a new issue please.

[2022-03-25 15:11] #8763 closed

[2022-03-25 15:13] #8523 closed

[2022-03-25 15:17] BigLep commented on #8561
Closing because didn't receive more info.  Please reopen with debug info if this is still an issue.

[2022-03-25 15:19] BigLep commented on #8707
Closing because the info in https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md?rgh-link-date=2022-01-31T18%3A54%3A19Z#analyzing-the-cpu-profile wasn't provided.  Feel free to reopen if can provide it.

[2022-03-25 15:19] #8707 closed

[2022-03-25 15:20] BigLep commented on #8647
Closing because additional requested info wasn't provided.  Feel free to reopen with the additional info.

[2022-03-25 15:20] #8647 closed

[2022-03-25 15:22] BigLep commented on #8694
We're going to close because don't have additional info to dig in further.  Feel free to reopen with the requested info is this is still an issue. Thanks.

[2022-03-25 15:23] BigLep commented on #8314
Closing since don't have the reproducible case.

[2022-03-25 15:23] #8314 closed

[2022-03-25 15:54] BigLep commented on #8701
PR for this issue: https://github.com/ipfs/go-ipfs/pull/8702

[2022-03-25 21:57] vans163 commented on #8707
Ah I went through this with someone from IPFS team, it seems to be either that QUIC is a CPU hog or that GOLANG seems to busywait/dosomething on each core. Because this box has 64 cores, setting SOMAXPROC to something like 4-8 seems to keep the CPU much lower.

[2022-03-26 18:40] christroutner commented on #7541
It looks like #4931 has some links to Docker images on Docker Hub.

[2022-03-26 18:55] christroutner commented on #7541
I was able to get this Docker container to run go-ipfs v11 on a Raspberry Pi 4:

https://hub.docker.com/layers/go-ipfs/odanado/go-ipfs/v0.11.0/images/sha256-3688a5a1b90cc343e1cfcc2fcf1bd199b93035a9974331e6de55490896f38993?context=explore

[2022-03-27 12:11] #7481 closed

[2022-03-28 03:02] mahoekst commented on #7541
I build my own as well to run on my rpi4, would be nice if they would build an ARM build. I wish I knew how to change their builds to fix it, but no clue unfortunately,

[2022-03-28 12:24] markg85 commented on #3320
There are some updated finding on my end for this issue.

First of, many thanks for "vans163" and "Jorropo.eth" (don't know your github handles on the top of my head).

I made a network capture in my local environment where it killed my modem reliable. Not in terms of time (that swings wildly between a couple of minutes till half an hour) but after that range it had surely crashed at least once.

[2022-03-28 12:43] Kubuxu commented on #3320
These are most likely not true existing connections but connection attempts. This seems to correlate with what I was suspecting since the creation of this issue: some routers have trouble dealing with connection tracking tables or use incorrectly sized tables for their available RAM.

Connection Tracking tables (in Linux but also in general) have maximum size as well as each connection lifetime.
W

[2022-03-28 13:09] Kubuxu commented on #3320
@markg85 I fully agree. We need to work around it within IPFS/libp2p, I wrote my reply to provide context and aid possible workarounds.

[2022-03-28 13:42] Jchicode opened #8828 "undefined: blockstore.ErrNotFound"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

_No respons

[2022-03-28 13:44] Jchicode commented on #8828
Version is v0.12.1

[2022-03-28 14:30] lidel commented on #3320
Do we know which specific cheap router model(s) that are impacted?
I've only seen people listing models which do not have the problem.
When someone reports a router issue, we should always ask for the model, and buy the same one for testing.

[2022-03-28 16:01] guseggert opened #8829 "Docker ARM builds don't work on tagged releases"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

third-party binary

### Version

_No r

[2022-03-28 16:07] guseggert commented on #8829
Closing this. https://github.com/ipfs/go-ipfs/pull/8633/files looks correct, we just haven't had a release yet that picks it up. This should happen for v0.13.

[2022-03-28 16:07] #8829 closed

[2022-03-28 16:10] guseggert commented on #7541
Sorry not a bug, it just hasn't been included in a release yet. It should be in v0.13. Once v0.13.0-rc1 is released, we should auto-publish an ARM docker image...it'd be really helpful if you try those out on your devices and let us know if it works.

[2022-03-28 17:23] thattommyhall commented on #8717
@lidel did fix/dir-index-html-max-age land somewhere?

[2022-03-28 17:59] lidel commented on #8717
@thattommyhall  kinda: https://github.com/ipfs/go-ipfs/pull/8758  fixed a bug and now adds  `cache-control` when a directory has `index.html` and returns it instead of dir listing response.

Generated dir listings don't have  `cache-control` header, but they have deterministic `Etag`  + will return HTTP 304 Not Modified if client sends matching Etag in `If-None-Match` header.

[2022-03-28 18:09] thattommyhall commented on #8717
I'd like to advocate for something like top of the hour Expires or something there too

[2022-03-28 19:26] schomatis commented on #3926
Per @lidel, taking this one since no one in the community has tackled it yet (if someone is still interested I can be the guide and reviewer but should say so now).

[2022-03-28 19:43] schomatis commented on #8059
@lidel Working on this, do we want an extra config for

?

[2022-03-28 19:57] schomatis commented on #8059
@lidel Looking at `APICommands`, this option is an array of strings. How should they work? Do we expect the user to provide the name of `ipfs` subcommands (which we would search by reflection I imagine), would they provide more specialized subcommands, like `block.get` or `block.stat`, for example, to only select the read variants of a subcommand?

I'm temporarily blocking this issue on getting so

[2022-03-29 18:30] Jorropo commented on #8828
@Jchicode Can you provide reproduction instructions pls ?
Your description + installation method makes no sense, AFAIK IPFS-Desktop download pre built binaries, and doesn't build anything making the error you see impossible with your current description.

Secondly even if it builds it, v0.12.1 builds perfectly fine on my machine:
[code]

The error you see is likely related to #7074, I guess you ha

[2022-03-30 03:34] aschmahmann commented on #6487
@lidel did you mean to specifically reference the DHT routing table (`ipfs stats dht`) since it has some basic sybil resistance going on, or did you just mean generally the user agents of all peers we're connected to, or even all peers we have information about in the peerstore.

These are all sort of manipulatable without some reasonably trustable mutability source (IPNS, DNSLink, HTTPS, bootstra

[2022-03-30 11:59] lidel commented on #6487
I meant nothing fancy tbh, just peers we are connected to at the moment would do, or (ideally) a bigger sample of peers we were connected to within last ~24h (if it is possible to get that info from the peerstore).

Realistically, we just want to know when new "stable" version appears on the network (e.g. two or more peers using it).
This check would execute on startup (after bootstrapp) and then

[2022-03-30 12:24] lidel commented on #8178
Update around go-ipfs 0.13:

- When we have https://github.com/ipfs/go-ipfs/pull/8758 and https://github.com/ipfs/go-ipfs/issues/8823 we can stop fetching child blocks in dir-index-html code, and return listing immediately.
- Child information could then be fetched via `?format=raw|dag-json|dag-cbor` and updated asynchronously, with some sane limits (eg. only items visible in the browser viewport)

[2022-03-30 14:55] guseggert opened #8832 "Some IPFS repos incorrectly use v1"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

Some IPFS repos such as https://github.com/ipfs/go-ipfs-blockstore have released a v1, but we actually don't intend to follow idiomatic semver on those, because we

[2022-03-30 15:00] guseggert commented on #8455
related https://github.com/ipfs/go-ipfs/issues/8178

[2022-03-30 15:07] #6101 closed

[2022-03-30 19:02] hsanjuan commented on #8543
I'm going to provide the contrarian opinion here, and aim to keep the status quo.

I think the reasons are a bit exaggerated. I am personally fine with the current layout as the purpose and interface of every different repo is very clear. It is possible to follow what happens on every different piece very easily. Dependabot makes the process painless.

Dependabot makes this trivial

One commit. No

[2022-03-30 23:42] schomatis commented on #6487
As mentioned in the DIscord thread I'll go over the routing table from that command. If I should do it differently please state it explicitly in this thread.

[2022-03-31 11:34] iand commented on #8578
I would suggest decoupling the technical implementation from the infrastructure deployment since having tracing capability earlier is very valuable.  I reviewed https://github.com/ipfs/go-ipfs/pull/8595 and left a few minor comments, but based on my testing I consider that PR essentially done. It's enough to start gathering traces on a small scale and threading tracing code throughout lower level

[2022-03-31 11:35] iand commented on #8578
I forgot to mention that I can contribute time to getting this issue moved forward

[2022-03-31 13:39] caunt opened #8836 "Could not resolve ENS domains"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-03-31 16:01] Winterhuman commented on #7228
@Stebalien Should this be closed now that `EnableRelayHop` is no longer an option (along with the other CircuitV1 options)?

[2022-03-31 16:55] markg85 opened #8837 "Support the HTTP OPTIONS method on the gateway"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

For reference about what this method is, see [1]

`curl -X OPTIONS <gateway> -i` should report the allowed HTTP methods supported.
Having this doesn't seem to be re

[2022-03-31 22:26] caunt commented on #8836
The problem is in cloudflare EthDNS resolver:

[code]

Status 2 means SERVFAIL error. Should be 0.
I think we should add fallback possibility for *.eth resolvers. If field "Status" not equals 0, then try next one resolver.

Also I see there is no alternative *.eth resolvers on internet. I can run my one for longterm if you agree.

[2022-03-31 23:11] Stebalien commented on #7228
Yep!

[2022-03-31 23:11] #7228 closed

[2022-04-01 00:34] Vanclief commented on #6402
Managed to get this work by adding `client_max_body_size 0;` to @dsemenovsky answer

[code]

[2022-04-01 08:26] marten-seemann commented on #8819
We'll be releasing go-libp2p v0.19.0 very soon (tracking issue: https://github.com/libp2p/go-libp2p/issues/1298), which will include a newer version of quic-go that builds with Go 1.18.

[2022-04-01 09:14] acuteaura commented on #6932
Update: I got ejected from Hetzner again; server profile does not fix this issue.

(Why? Because it doesn't ignore the CGNAT range and apparently people run IPFS on nodes with tailscale installed)

[2022-04-01 09:50] Jorropo opened #8842 "the `server` profile does not filter RFC 6598 CGNAT range"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-04-01 10:08] Jorropo commented on #8842
I've just tried to reproduce this but it seems to work:
[code]

The line is also present here:
https://github.com/ipfs/go-ipfs/blob/83b3ec4a61f086f81e0f75c5ec9d508bf5385b16/config/profile.go#L29

AFAIK this is a configuration error, (either no profile or the node hasn't been restarted after applying).

[2022-04-01 10:08] #8842 closed

[2022-04-01 10:49] Winterhuman commented on #4090
@whyrusleeping Should this be closed?

[2022-04-01 16:32] RobotSail commented on #8819
@marten-seemann Any ETA on when that'll land?
We're currently setting up a process to have automated IPFS binary builds for COPR so that RHEL users could access updated builds and this is blocking us as well

[2022-04-02 11:26] Winterhuman commented on #874
@Stebalien Any update on this?

[2022-04-03 11:26] 3456091 commented on #8769
I'm working on a project that will want to use this work around verifiable gateway responses. From the discussion above, am I to understand that resuming downloads of CARs will require parsing the CAR as its downloading, keeping track of the CIDs we want but have yet to receive, then, if the download is interrupted, constructing a new request containing the missing CIDs in a selector?

Especially

[2022-04-03 12:40] willscott commented on #8769
there's some work ongoing for more ergonomic selectors to support parts of this. There's recently been selector support added for representing the blocks that constitute a range of a unixfs file.

@hannahhoward  - do you have thoughts on where in go-ipfs we need to respect the unixfs reifier / LargeBytes feature detection to get get the same behavior as in graphsync?

[2022-04-03 18:29] ShadowJonathan commented on #6932
@acuteaura IPFS does not rate limit connections at all, and this repo has not acknowledged deep-running issues like this for multiple years, you're SOL, I heavily recommend permanently dropping IPFS from your stack.

[2022-04-03 19:07] 22jcampb opened #8844 "ipfs outputs error "exec: "sh": executable file not found in %PATH%" when attempting to open config file"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

[code]

###

[2022-04-04 02:28] Vanclief commented on #6402
Solved my problem, can toggle it on and off by adding or removing that line.

[Nginx docs](http://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size)

[2022-04-04 13:05] RubenKelevra commented on #8819
Would be nice if this could be split off and just this fix could be added as there seems to be no downside to using the newer QUIC version (as explained in a [previous comment](https://github.com/ipfs/go-ipfs/issues/8819#issuecomment-1077564642) by @dvergeylen), or is there?

[2022-04-04 17:36] BigLep commented on #8578
Reopening this one since it is a larger tracking issue.  https://github.com/ipfs/go-ipfs/pull/8595 was the initial push.

[2022-04-04 18:10] lidel opened #8845 "Improve defaults in Swarm.ConnMgr"
- [ ] switch `Swarm.ConnMgr` config from hardcoded strings to optional types:
[code]
  - this allows us to be backward-compatible, but remove default values from user config, enabling us to adjust implicit default over time
  - prior art – see how we use fields from `Swarm.RelayService`
- [ ] (TBD) change the defaults to something lower (prior art: [ipfs-desktop](https://github.com/ipfs/ipfs-deskt

[2022-04-04 22:57] jmgurney opened #8846 "FreeBSD ipfs-go mount does not work"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-04-05 00:34] lidel commented on #874
We have `$IPFS_PATH/api` for indicating HTTP RPC port.
I think we need `$IPFS_PATH/gateway` proposed in https://github.com/ipfs/go-ipfs/issues/8847  before we start considering any port change (with that, ipfs-desktop and other tools will be able to find the Gateway port no matter what it is)

[2022-04-05 13:59] lidel opened #8848 "Replace os.Getenv("HOME") with safer homedir.Expand"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-04-05 14:29] lidel commented on #6097
I think Peering + https://github.com/ipfs/go-ipfs/pull/8680 (allows setting limits per peer)  cover the technical gist of this issue.

Remaining work is to add some porcelain on top of it, like commands proposed in https://github.com/ipfs/go-ipfs/issues/6097#issuecomment-506964185

[2022-04-05 15:00] lidel commented on #8178
quick thought on a band-aid for this:
- we should detect when dir is over N items and only render  that + add footer saying it's too big, and suggest using the CLI  `ipfs ls -s --size=false --resolve-type=false $BIG_DIR_CID`
- this would be a band-aid, but probably easy to implement in a few lines of go

[2022-04-05 16:19] lidel commented on #7951
fysa I'm officially marking them as deprecated  in https://github.com/ipfs/go-ipfs/pull/8849

[2022-04-05 18:09] lidel commented on #8178
@schomatis would you be interested in doing the band-aid described above, so we could ship it in go-ipfs 0.13? Let's go with N=5000 for now.

[2022-04-05 19:05] schomatis commented on #8178
Assigning. If this is time sensitive I'm probably not the best person though, but will give you an update on this this week.

[2022-04-05 19:20] guseggert commented on #8844
This is an old crufty bug. Do you happen to know what the best practice is for opening a text file in an editor on Windows? At the very least we could give a better error message.

[2022-04-05 21:24] 22jcampb commented on #8844
If you have a code editor you should be able to right click and select "open as" to use it but double clicking it will open notepad which should be fine for basic edits to text files. If you see something asking you what app to use select a code editor or Notepad.

[2022-04-05 22:49] schomatis commented on #8178
Sorry, just now reading the band-aid alternative: yes, seems like a quick fix I can implement to help alleviate this.

[2022-04-05 23:26] schomatis commented on #8178
@lidel Need some clarifications:

A. On the objective of this issue, I'm not clear which is the performance downgrade we're trying to fix. From the OP:

From what I see in the code we don't fetch the type information but [guess it](https://github.com/ipfs/go-ipfs/blob/f855bfe6ef8fe8a2633df889ce766cddc8d0effb/core/corehttp/gateway_indexPage.go#L106-L115) from file name extension (which is something

[2022-04-06 00:06] #7951 closed

[2022-04-06 00:10] #8780 closed

[2022-04-06 00:16] lidel opened #8851 "Switch migration fetcher to CAR"
go-ipfs 0.13 will add support for CAR responses (https://github.com/ipfs/go-ipfs/pull/8758)

When we have that running on the `ipfs.io` gateway, we should update [HttpFetcher](https://github.com/ipfs/go-ipfs/blob/83b3ec4a61f086f81e0f75c5ec9d508bf5385b16/repo/fsrepo/migrations/httpfetcher.go#L34) to fetch CARs instead of trusting gateway to send the correct bytes.

This will enable us to add more p

[2022-04-06 00:30] schomatis commented on #8178
Reading the original issue that spawned this one, https://github.com/ipfs/go-ipfs/issues/7495, I now see we're conflating two different listing mechanisms:

* `ipfs ls` command (original issue), using `UnixfsAPI.Ls()`: without setting `-size=false --resolve-type=false` it indeed fetches independently every entry in the directory (with its performance hit).
* Gateway listing (this issue here), usin

[2022-04-06 00:34] schomatis commented on #8178
(Marking as blocked until we clarify all this.)

[2022-04-06 13:07] marten-seemann commented on #8640
@BigLep Is there any updated ETA for this release? The question came up in our discussion about hole punching measurements today.

[2022-04-06 14:24] lidel commented on #8178
This should unblock you:

- This issue is about gateway behavior in `gateway_handler_unixfs_dir.go` when no `index.html` is present (when HTML listing is generated), don't worry about `ipfs ls`, it already has flags that solve the perf problem:
[code]
- Indeed, iiuc `UnixfsAPI.Get()` does not fetch child blocks, however  inside `for dirit.Next()` loop we do fetch them via  `ResolvePath` call (`Nod

[2022-04-06 14:40] schomatis commented on #3926
Actively working on this. It's taking some time to do it right, will push something by EOW.

[2022-04-06 15:58] alanshaw commented on #8178
🙏 This would be **super** useful - folks are uploading NFT drops with directories of 10k+ items to NFT.Storage and are getting confused when trying to view them on the gateway - it times out and they assume their upload did not complete successfully.

[2022-04-06 16:19] BigLep commented on #8640
Thanks for the ping @marten-seemann .  This issue is outdated.  Updated.  Estimated RC date is 2022-04-22.  The risk here is if go-libp2p resource manager work exposes more issues than we estimated.

[2022-04-06 16:46] lidel commented on #8845
@schomatis i think you may add this to your queue

[2022-04-07 02:25] lidel commented on #8504
Up for grabs, maybe @schomatis ?

[2022-04-07 02:28] schomatis commented on #8504
The copy-option variant seems sane.

[2022-04-07 12:55] lidel commented on #8717
@thattommyhall  I am leaning towards setting `Cache-Control` that asks for caching forever (`immutable`), because dir listing is costly to generate, and we don't change them that often.

Given how people deploy gateway infra, we would still want to revalidate on CDN/caching proxies, so how about:

[code]

My understanding is the caching proxy will always return a cached version of dir listing, but

[2022-04-07 14:03] vyzo commented on #4090
once project flare is fully deployed, yes

[2022-04-07 20:30] schomatis commented on #3926
Beautiful people of the ipfsphere, I have a very WIP PR with an initial implementation of this in https://github.com/ipfs/go-ipfs/pull/8856. Any feedback will be very useful to better understand the use cases we should support.

[2022-04-07 22:25] lidel opened #8858 "ResourceMgr UX improvements"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

Part of https://github.com/ipfs/go-ipfs/issues/8761 (extracted tasks from https://github.com/ipfs/go-ipfs/pull/8680)

This is a grab-bag for any UX work or open que

[2022-04-08 00:30] lidel commented on #4143
- go-ipfs [0.12](https://github.com/ipfs/go-ipfs/releases/tag/v0.12.0) shipped the blockstore migration from full CID to Multihash keys, removing the final obstacle.
- we can now switch produced CIDs to be CIDv1 by default!  https://github.com/ipfs/specs/issues/247#issuecomment-1092314534

@schomatis  mind prioritizing this one and picking it up after you finish the current work?

This is an impor

[2022-04-08 01:06] #8722 closed

[2022-04-08 01:06] #1482 closed

[2022-04-08 10:55] xrazis commented on #8817
@lidel i have a couple of questions before i open a PR. You can see my changes [here](https://github.com/xrazis/go-ipfs/commit/5fa797ada753f29b3ed73df0d9cfb1f66ea47ce0).

- In the Javascript file I chose to pass the `Listing.Path` from the template rather than picking it up from the DOM. If that is undesirable i can switch it.
- What should the visual be like? Is there a set of icons that i can us

[2022-04-08 10:56] olizilla commented on #4143
@lidel If i'm reading this right, the greatest change since the invention of CIDs could be scheduled to land in go-ipfs 0.13... an obviously haunted release number. In light of this, the next release of go-ipfs shoud be v1 for parity with the CID version number. 😎

[2022-04-08 13:41] lidel commented on #8858
Additional thoughts on this:
- simplify: make the outputs of `ipfs swarm limit` compatible with that we expect in `Swarm.ResourceMgr.Limits`, and with `limit.json` too
  -  I already created the  [config.ResourceMgrLimitsConfig](https://github.com/ipfs/go-ipfs/blob/master/config/swarm.go#L155) struct which is how  `limit.json` from lib2p team looks like
  -  `ipfs swarm limit` could operate on the

[2022-04-08 15:41] BigLep commented on #8761
@guseggert : I put you as the owner now give you're doing the long-pole work of finding any landmines from production deployments.  This should be prioritized first, and while collecting data we can work on https://github.com/ipfs/go-ipfs/issues/8858

[2022-04-08 19:39] aschmahmann opened #8863 "CI should not publish Docker containers as latest if they are not the latest"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

_No re

[2022-04-08 20:07] #8820 closed

[2022-04-09 00:06] Openwrtfunboy opened #8866 "Snap broken after latest update"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

third-party binary

### Version

[code

[2022-04-09 00:24] Openwrtfunboy commented on #8866
Fixed by deleting ipfs folder in home folder

[2022-04-09 00:27] #8866 closed

[2022-04-09 00:51] lidel commented on #8817
@xrazis thank you for poking at this! Feel free to open a PR, we can continue there, but for now quick feedback here:

- using `.Listing` from template is good.
  - nit: not every client will have JS enabled, mind changing JS code  so `<div>` is appended to the `<td>` by JS, and not rendered by the HTML template for every item?
- we have some  ipfs-webui icons [here](https://gateway.ipfs.io/ipfs/Q

[2022-04-09 10:18] Winterhuman commented on #5905
@lidel Any update on this?

[2022-04-09 18:54] ThomasFreedman commented on #7149
I ran into this error on one of my servers. I published a website on another IPFS node and when I tried to pin it on another got this error. Both servers involved are running the same 0.8.0-rc2 version. I will be updating them this weekend.

I've always been puzzled by the CIDs returned on one of my nodes, it doesn't conform to the Qm... 42 character CID format I see everywhere else. The ipns "pub

[2022-04-09 20:21] whiteowl3 opened #8867 "Plugin Support for Allow / Deny Bitswap replication based on peerID and CID"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

Recommended for issue here: https://github.com/ipfs/go-ipfs/issues/8763#issuecomment-1079124655
https://github.com/ipfs/go-bitswap/pull/549 adds allow/deny function

[2022-04-09 20:53] Winterhuman commented on #7149
Checking with https://cid.ipfs.io/#k51qzi5uqu5dmdr312hi2slkfhc2e4dxbm55inrhdqkr0z8ly51evcyrj8tr1k shows that it is a valid IPNS address. Also, it's completely normal that IPNS keys start `k51...` and PeerIDs `12D3KooW...`, this was changed from the version you're currently running.

[2022-04-10 01:33] aschmahmann commented on #7149
As @Winterhuman correctly mentioned Proquint support has been removed for a while and your error is likely due to you entering an invalid key (e.g. commonly something like a copy-paste error).

Closing this issue since "Error: not a valid proquint string" is no longer in the codebase 😄.

[2022-04-10 01:33] #7149 closed

[2022-04-10 18:29] guseggert commented on #8858
What's the use case for not persisting limit changes by default?

[2022-04-10 22:34] Winterhuman commented on #4189
@Stebalien Doesn't Bitswap use multihashes now, or should this issue still be open?

[2022-04-11 15:19] iand opened #8870 "Add usage-aware garbage collection"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

When operating as an HTTP gateway, go-ipfs should adopt a garbage collection strategy that retains blocks that improve gateway request times.

The hypothesis is tha

[2022-04-11 15:37] aschmahmann commented on #8870
Hopefully this should be easy enough to do using some combination of a custom blockstore wrapper and the contexts passed through requests.

This might be tricky. In particular, most proposals for different GC strategies involve tracking more state. While this is fine it likely means we have to do one of:
1. Track and modify state for each GC type that requires it
2. Have a single type of state gen

[2022-04-11 21:58] lidel commented on #8858
@guseggert
- official: testing new limit before fully committing to it (if you mess up, you can restart)
- unofficial :trollface::  aligning with other commands like `ipfs swarm peering add` (it does not persist to config, but that feels to me like a bug?)

Jokes aside, personally, I would always persist to config. If you feel the same way, just do that.

[2022-04-11 22:32] avatar-lavventura opened #8873 "unresponsive ipfs daemon: reprovider.simple routing: operation or key not supported"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

The wa

[2022-04-12 00:49] guseggert commented on #8858
Yeah I like just persisting by default, and we can always add a flag later not to if we need it.

[2022-04-12 01:55] Jorropo opened #8876 "Cleanup multierroring and only use a single lib for it"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

We currently use two libs for combining errors:
- `go.uber.org/multierr`
- `github.com/hashicorp/go-multierror`

Which are really similar.
It might be clearer if we

[2022-04-12 15:58] #8759 closed

[2022-04-12 17:44] Jorropo opened #8877 "ipfs add: quieter output return only the last CID in multi item uses"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-04-12 22:16] mliudev opened #8878 "No supported interface on M1 Mac with v0.12.2 docker image"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

docker

### Version

[code]

### Confi

[2022-04-13 13:48] schomatis commented on #4143
@lidel Can I have a simple example of what would a CID change look like in `ipfs files`, please? Like what is the current behavior and what would you expect after the change. I'm still grappling with what are we aiming for in terms of UX.

[2022-04-13 14:11] schomatis commented on #4143
(Trying to interpret the spirit of the change, but can be way off. This is just something concrete to start the discussion from.) In the case of `ipfs init` for example, the CID that gets stored in the datastore under `/local/filesroot` is an empty UnixFS directory created with the `go-merkledag` tooling [`NodeWithData`](https://github.com/ipfs/go-merkledag/blob/0545ec1945ce3a33014845cbb74ad42d311

[2022-04-13 19:01] lidel commented on #4143
@schomatis  thank you for looking into this.

Switching to `v1CidPrefix` in [`CidBuilder()`](https://github.com/ipfs/go-merkledag/blob/0545ec1945ce3a33014845cbb74ad42d311ddc7a/node.go#L87-L93) sounds like a good way to ensure the ecosystem moves to CIDv1, but could also block go-ipfs work for a while.    Let's  discuss this approach independently in https://github.com/ipfs/go-merkledag/issues/86.

[2022-04-13 19:35] NatoBoram commented on #8819
It should work at the moment

[code]

[2022-04-13 19:46] sudeepdino008 opened #8881 "undefined: blockstore.ErrNotFound"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-04-13 19:49] NatoBoram opened #8882 "openssl: support openssl v3"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-04-13 19:54] sudeepdino008 commented on #8828
I faced the exact same issue, but I was trying to use go-ipfs as a library. Raised the issue here - https://github.com/ipfs/go-ipfs/issues/8881

[2022-04-13 20:57] sudeepdino008 commented on #8881
Found the issue:
- had to update ipfs-filestore to version which fixes the above
- also latest go-ipfs tagged release doesn't have the above fix (blockstore isn't updated), so pointing it to latest master commit for now.

[2022-04-13 20:57] #8881 closed

[2022-04-13 21:33] Jorropo commented on #8828
@sudeepdino008 it could be that we have mixed deps versions between `go-ipfs as a library` (which I want to replace) and go-ipfs.

Can you give me a simple reproduce-able case ? (do I just git clone https://github.com/covalenthq/ipfs-pinner and `go build ./...` ?)

[2022-04-13 22:35] lidel commented on #5905
No update. Browser use case ended up having a better solution in the form of [subdomain gateway](https://docs.ipfs.io/how-to/address-ipfs-on-web/#subdomain-gateway) on `{cid}.ipfs.localhost:8080` where each CID gets its own Origin sandbox, so adding ip6 listener lost its utility.

Something we would still want to do is to detect when the system  does not support ip4 and then use ip6 instead, but t

[2022-04-13 22:35] sudeepdino008 commented on #8828
@Jorropo You are right. It was mixed deps version issue. I've closed - https://github.com/ipfs/go-ipfs/issues/8881
I guess basically the latest go-ipfs doesn't have the ErrNotFound fix and therefore would fail? I'd to update to latest master for it to work,

[2022-04-13 22:39] Jorropo commented on #8828
Yeah it doesn't we removed it in #7074 and replaced it with `github.com/ipfs/go-ipld-format#ErrNotFound`
However `go-ipfs as a library` has it's own `go.mod` file that doesn't get automatically updated so `go-ipfs as a library` still want the old blockstore version..

[2022-04-13 22:44] D3vl0per commented on #6763
Thank you so much!

[2022-04-14 06:46] sudeepdino008 commented on #8828
@Jorropo Thanks.
can you elaborate a bit on "`go-ipfs as a library` has it's own `go.mod`? It's is the same one as that on go-ipfs repo root, right? Or is there a different `go.mod` as well?

[2022-04-14 06:48] Jorropo commented on #8828
@sudeepdino008
- `go-ipfs`'s `go.mod` file [go.mod](https://github.com/ipfs/go-ipfs/blob/master/go.mod)
- `go-ipfs as a library`'s `go.mod` file [docs/examples/go-ipfs-as-a-library/go.mod](https://github.com/ipfs/go-ipfs/blob/cde79df1408c3bd518fec1622d97bf4a251af81e/docs/examples/go-ipfs-as-a-library/go.mod)

[2022-04-14 06:50] sudeepdino008 commented on #8828
I see. I wasn't actually using the go.mod in docs/examples (though I did use the sample code from there). Just `go get` wherever needed.

[2022-04-14 06:55] Jorropo commented on #8828
@sudeepdino008 make sense.
So FYI I've tried it and *it works*.

I'm pretty certain that you just `go get` the latest version of the blockstore which require `go-ipfs@v0.13.0` (not released yet).
Maybe the example should be more clear about how you are expected to deal with package versions (you must go get versions present in the `github.com/ipfs/go-ipfs` `go.mod` of whatever go-ipfs version you

[2022-04-14 07:18] Jchicode commented on #8828
Sorry, I just saw it.
Yes, I quoted the new version of ```blockstore```, I changed its version to v1.1.2.

[2022-04-14 07:18] #8828 closed

[2022-04-14 10:09] Jorropo commented on #8783
About the type, I do not any opinion about which Header to use, anyone of them is fine to me.

However about the URL, I think for the exact same reason with support both URL and Header format for the request format, we should support both too.

What about sending a different code to differenciate bad unixfs paths and block not found.

With your proposal it would be impossible to differenciate betw

[2022-04-14 13:02] RubenKelevra commented on #8870
Yeah you cannot make cache decisions without data to do them. The current "flat out" write of the key-value store isn't enough for that (without very costly traversing of all datastructures from pin level down).

So the current mark-and-sweep approach is not only unsafe - as its not thread-safe but also the worst in terms of performance.

My mentioned proposal is a bit older but I still think it's

[2022-04-14 15:10] #8731 closed

[2022-04-14 16:30] lidel commented on #8783
Makes sense. Also, note from https://github.com/ipfs/go-ipfs/pull/8880

[2022-04-14 18:26] guseggert commented on #8870
Could we address the use case mentioned by @iand by considering only access time? E.g. mount the flatfs datastore w/ `strictatime` flag, then GC with `find ~/.ipfs/blocks -type f -name '*.data' -amin +60 | xargs rm`. It wouldn't consider pinned/MFS blocks, but would work fine for read-only gateways. Some variations include using `utime`/`utimensat`/`futimens` syscalls or equiv such as `os.Chtimes(

[2022-04-14 18:35] guseggert commented on #8640
We agreed today to release RC1 as soon as we have the UX changes for libp2p resource manager locked down, instead of waiting to test with our infra, to gather community feedback about the RM defaults while we continue to test, with the expectation of releasing an RC2 if we need to make further changes.

[2022-04-14 22:50] schomatis opened #8887 "Update ipfs object to CIDv1"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

[code]

###

[2022-04-14 22:50] lidel commented on #8178
@alanshaw  check https://github.com/ipfs/go-ipfs/pull/8853/files#pullrequestreview-942930258 – I've tested it with `bafybeiggvykl7skb2ndlmacg2k5modvudocffxjesexlod2pfvg5yhwrqm` and loads as soon the root node arrives.

[2022-04-14 23:18] lidel commented on #8059
@schomatis   yes, we want to allow safelisting of a specific subcomand  so people don't expose too much.
Cosmetic note: using `/` as a separator may be a better idea, as `cmd/subcmd` maps to `/api/v0/cmd/subcmd` URL paths better than `.`

[2022-04-15 08:01] Jorropo opened #8889 "Add a way to configure the default multibase used"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

After #8886.

We could configure what the default multibase is, for example myself I work mainly in the terminal and prefer `base64url` because it's shorter and pol

[2022-04-15 15:15] lidel commented on #8265
Notes from triage:
- sounds useful
- Food for thought: reuse `format`:  `?format=dir-autoindex`

[2022-04-15 15:20] lidel commented on #8819
This is waiting for go-libp2p 0.19 (to include https://github.com/libp2p/go-libp2p-quic-transport/pull/264#pullrequestreview-933431241)

[2022-04-15 15:29] lidel commented on #8878
Fixed in https://github.com/ipfs/go-ipfs/pull/8704, will be released in go-ipfs 0.13

[2022-04-15 15:29] #8878 closed

[2022-04-15 15:46] Jorropo commented on #8762
Notes from the triage:
I'll look into this, testing with a mock but I think it's an issue on the data returned you by the pinning service.

@gharriso I would like you to try lsing with curl or whatever http tool.
And if you can show a request where all the data is there with curl but not with `ipfs pin ls` that does mean we have an issue  in our code.
The pinning service API is simple, here is the

[2022-04-15 15:49] lidel commented on #8164
@eminence mind checkign if this is still the case with 0.12.2 or later?

[2022-04-15 16:02] eminence commented on #8164
I won't be able to do any additional testing on this for a little bit, so let's go ahead and close this issue under the assumption that it's been fixed.  If I see this again, I'll let you know!

[2022-04-15 16:02] #8164 closed

[2022-04-15 16:06] lidel commented on #8607
There is no utility for resolving `/dnsaddr`, and DNSLink works better with `ipfs resolve -r` anyway.

I think it is safe for this to be be deprecated like we did with `tar` commands in https://github.com/ipfs/go-ipfs/pull/8849/files

[2022-04-15 16:19] lidel commented on #8836
Notes from triage:
- when implicit default resolver for `.eth` fails, user can choose different one by setting  [`DNS.Resolvers`section in the config](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#dns).
   - `resolver.cloudflare-eth.com`  error should be raised iwith Cloudflare or ENS  projects (this is a third-party service)
- fallback resolvers are tracked in https://github.com/ipfs

[2022-04-15 16:19] #8836 closed

[2022-04-15 16:23] lidel commented on #8173
An additional feature request coming from https://github.com/ipfs/go-ipfs/issues/8836 is to allow passing more than one resolver per TLD in `DNS.Resolvers`, and use them in-order if the first one fails.

[2022-04-15 17:08] Jorropo commented on #8882
Testing it on my machine (cross compiling) I have *different errors*.
The only way I can reproduce this is if I try to build from termux.

We don't have time to allocate to fix building openssl with termux.
If you want to take a shot at it, the lib is at https://github.com/libp2p/go-openssl, if the fixes are really simple some *might* review them.

FYI I have managed to build inside termux without

[2022-04-15 17:13] Jorropo commented on #8882
I'm closing the issue so it show up bright green "help wanted" fyi, I don't want random people that want to help waste time on this (because we will probably not even review it).

[2022-04-15 17:49] RubenKelevra commented on #8870
@guseggert well, this would be a Least recently used (LRU) and is one of the worst choices.

This would also neither limit the maximum amount of storage use (as we stupidly drop everything not touched in an hour) nor does it work for "normal" ipfs usage, where files are stored.

But the main issue is that most stuff is probably not reused within an hour, but more like several hours to several days

[2022-04-15 17:52] lidel commented on #8132
This was fixed in https://github.com/ipfs/distributions/pull/367 – please upgrade to go-ipfs 0.12.2 or later.

[2022-04-15 17:52] #8132 closed

[2022-04-15 17:58] lidel commented on #8818
Correct me if I got this wrong, but I don't see any error here:
1. requested a CAR stream for a CID that is not available  on IPFS node
2. received is CAR stream header
3. then the connection is kept open – it waits for data to be found on the network

Sure, the connection could be interrupted at this point, but there is nothing we can do in that case – you already receiver HTTP 200,  it is just h

[2022-04-15 17:58] #8818 closed

[2022-04-15 18:02] guseggert commented on #8870
Yes it's not optimal for all use cases. But for some use cases it would work well enough, such as for gateways, which is the use case described in this issue.

[2022-04-15 18:32] #8550 closed

[2022-04-15 20:59] lidel commented on #8585
@syntafin mind sending Wireshark dumps that confirm this?
We want to see which traffic specifically is  ignored.

[2022-04-15 21:02] lidel commented on #8302
@shaheerbakali is the problem still present after you upgrade to 0.12.2?

[2022-04-15 21:20] lidel commented on #8738
This one is tricky, `dag/import` returns `CarImportOutput` event for every imported root (usually it is only one) OR if there are stats.

[2022-04-16 04:36] eminence commented on #8402
Is this a dup of #8640 ?

[2022-04-16 11:36] RubenKelevra commented on #8870
I doubt that it would work for the usecase. As I said: It might be able to catch some really high access blocks that way, but most stuff will be discarded before reuse.

That's also not what's described in this issue as a possible solution:

[2022-04-16 17:16] Jorropo commented on #8201
Update: I have created a Go proposal which would make implementing this far easier: golang/go#52383

[2022-04-16 20:32] Winterhuman commented on #7318
Just wanted to add to this discussion by saying you could use paths to shorten some CIDs slightly by putting the ID into a query. Or in other words, if `bafkreievmw4c7yvuhvxt4qjcgqz4nsejxrw4wy4xkhtq54dc62ptceu6xq` was put into an IPFS Gateway, you could construct:

`vmw4c7yvuhvxt4qjcgqz4nsejxrw4wy4xkhtq54dc62ptceu6xq.ipfs.dweb.link/?id="bafkreie"`

Multiple CIDs can share the same multihash so thi

[2022-04-17 06:42] fatasy1 opened #8911 "[gui error report] Error: Initializing daemon..."

[2022-04-19 12:28] lidel commented on #7318
- we did solve ED25519 in this issue (see first comment) – keeping the label for discoverability
- query parameter does not provide Origin isolation, and we already have [path gateways](https://docs.ipfs.io/how-to/address-ipfs-on-web/#path-gateway) for cases where isolation is not necessary, so it adds no value
- keeping only the multihash part in the DNS label does not solve anything – raw multih

[2022-04-19 15:33] guseggert commented on #8870
I have used LRU eviction for this kind of caching in the past, it works. It is easy to extend the strategy to e.g. only evict the oldest entries until the cache doesn't exceed some size, and then tweak the cache size and eviction threshold to adjust the hit rate for your traffic patterns. Most importantly, it is easy to implement outside of go-ipfs with a script and a cron job, so is a path forwar

[2022-04-19 18:57] #3861 closed

[2022-04-20 04:50] KEINOS commented on #6565
+1 for this whitelist/allow list feature.

Even though I want to contribute extensively to the IPFS public network, I also want to block some inconvenient PeerIDs.

I have noticed that every time I launch a new peer through the Docker container, my home router receives a port scan. However, this does not happen when I launch the same image from my office. This occurs even if the daemon is started

[2022-04-20 17:17] Winterhuman commented on #6565
@KEINOS Peer whitelisting is already possible using [Private Networks](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#private-networks). Bare in mind that this would also prevent connecting to the default bootstrap nodes, you may want to look at [Peering](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#peering) if you want a looser way of managing this.

[2022-04-20 19:51] guseggert commented on #8858
Once constructed, the existing RM limiter can't distinguish between default limits and configured limits, so persisting changes means we'd persist defaults too, which isn't what we want, since it will silently "freeze" the defaults and prevent new defaults from being applied. This is complicated by the fact that we want the limits in both the IPFS config and in a `limit.json` in the IPFS_PATH, and

[2022-04-20 22:39] aschmahmann commented on #8858
If there's a bunch of complexity here that looks application specific around defaults it might be worth just handling things in the go-ipfs config file and not bothering with `limit.json`. go-libp2p doesn't really have other examples of this config file business with defaults and such, so if making changes in `go-libp2p-resource-manager` is a problem we should be able to handle it here.

That bein

[2022-04-21 01:12] guseggert commented on #8858
Yeah that's the idea, might as well do it in a way that can be used by other folks too.

[2022-04-21 01:30] KEINOS commented on #6565
@Winterhuman

Indeed. Private networks are the best option if we want strict control over who joins the network. My understanding is that it is allow-to-join rather than allow-to-connect.

But the thing is that **I didn't want to keep it private**. And to contribute caching to the IPFS public network.

In doing so, I wanted to exclude naughty PeerIDs from the connecting peer list. But deny listing

[2022-04-21 16:19] #8471 closed

[2022-04-21 16:24] lidel commented on #8471
`cid codecs` and `block put` fixed in https://github.com/ipfs/go-ipfs/pull/8568, scheduled to ship in go-ipfs 0.13

[2022-04-21 19:42] guseggert commented on #8858
There's also "protopeer"

[2022-04-21 19:44] guseggert commented on #8858
We decided in standup today to run with the suboptimal UX, because fixing it is too time-consuming.

I've impl'd that in this PR: https://github.com/ipfs/go-ipfs/pull/8901

[2022-04-21 19:45] guseggert commented on #8858
Also exported the config schema from resource manager so we can reuse it in go-ipfs and released RM v0.3.0 here: https://github.com/libp2p/go-libp2p-resource-manager/commit/302a7ea46807aaff65d29e07d786c0fd3c341efe

[2022-04-21 21:49] #8607 closed

[2022-04-22 05:51] gharriso commented on #8762
Here is a demonstration of the issue using `curl` and the `ipfs` command.

First, the command line:

[code]

Just 27 pins were returned by the command line:

[code]
Here you see curl returns all 307 pins.  I've used `jq` to simplify the output:

[code]

The cause of this bug is as outlined in my original report.  When `ipfs pin remote ls` gets each subsequent page of pins, it sends a get request l

[2022-04-22 12:02] Jorropo commented on #8762
Thanks a lot.

[2022-04-22 15:13] BigLep commented on #8799
@thibmeu : is this something you have bandwidth to drive forward?

[2022-04-22 16:01] ElianaTroper opened #8904 "Local go node failing to get a file off of a remote go node, but a web browser node can get the file"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-04-22 16:22] volkriss opened #8905 "systemd socket and service conflict?"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-04-22 16:34] ElianaTroper commented on #8904
I don't know what was causing the issue, but `ipfs repo gc` on the client fixed the issue for both the client and other nodes. I am happy to help debug this further if that would be beneficial, or feel free to close.

[2022-04-22 20:47] Ericson2314 opened #8906 "Propogating intermittant failures for Datastores"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

It is possible for an intermittent error to occur during a datastore operation. With "Get", for example, it would nice to distinguish "we don't have this yet" from

[2022-04-22 21:03] Ericson2314 opened #8907 "Filtering on codec type in a datastore"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

It would perhaps be nice to expose codecs to data store plugins. This could be done with a new sort of data store, or some sort of optional codec provided as hint.

[2022-04-22 21:06] Ericson2314 commented on #8907
(In #8907 I brought up making the key type generic so use-case-specific key types can be used instead. That would presumably make implementing this much less annoying.)

[2022-04-23 09:00] itsKV commented on #5916
Where is the root folder for ipfs public gateway? i.e where to place index.html file to serve that page if user tries to access https://ipfs.example.com/ root domain? I just want to show a welcome message to visitor if he hit a root url.
Currently I am getting 404 error.

[2022-04-24 11:00] rampaq commented on #275
Are there any manpages, yet? It would be really nice to have everything in one place.

[2022-04-24 11:38] rampaq opened #8908 "CLI autocompletion for ZSH"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

Currently, go-ipfs supports only bash completion using `ipfs command completion bash`, as can be seen in [docs](https://github.com/ipfs/go-ipfs/blob/master/docs/com

[2022-04-24 12:25] Stebalien commented on #8905
Socket activation was added in 0.5.1 which was released in 2020. You're using 4.17, which was released in 2018. Please update.

[2022-04-24 15:59] volkriss commented on #8905
I have no idea where the 0.4.17 came from, but the web interface says I'm running 0.12.2, consistent with my recent download of the package.

go-ipfs version: 0.12.2
Repo version: 12
System version: amd64/linux
Golang version: go1.17.8

[2022-04-24 17:44] Stebalien commented on #8905
Maybe you have multiple versions installed?

What's the exact error message?

[2022-04-24 17:45] Stebalien commented on #8905
And have you changed the config?

[2022-04-24 17:53] hsn10 commented on #8870
Tracking will add storage overhead - mostly write operations and they are slow. Probably viable to store LRU tracking information in memory and do periodic batch dumps and then during GC load all dumps, delete data, delete tracking dumps and write new tracking information.

I dont think this feature is needed. Important data are pinned and adhoc data are not long term important to justify addition

[2022-04-24 18:09] volkriss commented on #8905
This report should probably be paused because:

Yeah, this version inconsistency is strange, so when I have a second I need to figure it out.
I'm building from source from tagged releases here on github, so I'm thinking something in my build went wrong.

ipfs --api /ip4/127.0.0.1/tcp/5001 version --all
says: go-ipfs version: 0.4.17-

wget "http://127.0.0.1:8000/api/v0/version?enc=text&all=true"
sa

[2022-04-25 08:34] Stebalien commented on #8905
Are you using IPFS desktop? Brave?

[2022-04-25 14:39] lidel commented on #8347
I'm bumping this in priority – @johnnymatthews  hit the same problem.
We need to fix this before go-ipfs 0.13 ships.

[2022-04-25 14:57] lidel commented on #3912
Closing as I was unable to reproduce the original crash.

(a lot changed since 0.4.x – including perf. improvements. please update to the latest versions)

[2022-04-25 14:57] #3912 closed

[2022-04-25 15:30] younasm commented on #6377
Hi,

I just install ipfs using the ipfs CLI code on ipfs.io website.

after installation when I enter `ipfs --version` in terminal it gives me the following error.

[code]

I am using Macbook m1 pro chip

[2022-04-25 16:33] Ericson2314 commented on #8905
On NixOS I have at times seen some oddities, but I have other other socket-activated programs too so I am inclined to think it might just be systemd's fault.

[2022-04-25 18:19] volkriss commented on #8905
Like I said, I'm going to track down this version issue when I have a second, maybe tonight.
I have a theory to follow up on, and I'll report back when I look into it.

I do suspect @Stebalien is right, that there's no bug here, just something needing updating.

But just for a quick test, I see one copy of go-ipfs, confirmed by showing the same PID listening on both sockets:
~$ sudo netstat --inet

[2022-04-25 18:40] SgtPooki commented on #8911
@lidel to provide further information, but go-ipfs should provide a more meaningful error than 'context deadline exceeded'

[2022-04-25 19:39] Ericson2314 commented on #8905
@Stebalien Sorry I dropped a key part of the sentence where the same issues with socket activation and manually restarting stuff I see with all socket activated services alike. Agree there doesn't seem to be any go-ipfs issue.

[2022-04-25 19:47] lidel commented on #8911
When download fails, user gets error:

[code]

There are various  ways we could improve UX here:
1. Make HTTP transport more robust by using fallback gateways on different domains – we track that in https://github.com/ipfs/go-ipfs/issues/8851 already.
2.  Make bitswap (IPFS) transport more robust by having bootstrappers from different organizations, geographical regions and AS.
3. Improve error

M

[2022-04-26 04:35] volkriss commented on #8905
I worked out the version issue. Lesson learned: ipfs --api xxx version reports the version of _that_ ipfs and not the daemon it's pointed to through the api.

Now that I'm sure I'm running 0.12.2, I'm reproducing the issue.

On startup systemd activates the socket files and then shows ipfs repeatedly trying but failing to launch with this error:
ipfs[1000]: Error: serveHTTPApi: manet.Listen(/ip4/0

[2022-04-26 07:05] Stebalien commented on #8905
Oh, I see what's happening. You've changed the config to listen on `0.0.0.0`, but the socket is already listening on `127.0.0.1`. Right?

[2022-04-26 18:18] Stebalien commented on #8905
Yeah, this should definitely be documented. We could _probably_ have a better error as well, but it's a bit tricky.

Basically:

1. The config & systemd can specify the same addresses.
2. The config & systemd can specify different non-conflicting addresses.
3. They cannot specify _different_ addresses that conflict.

For example:

- You could listen on 127.0.0.1:5001 with systemd.
- The config can

[2022-04-26 18:29] Winterhuman commented on #525
@whyrusleeping @daviddias This issue is closed, but, are peer records and provider records now signed? (Also, do you have the link for what https://github.com/ipfs/specs/tree/master/records later became? It leads nowhere)

[2022-04-26 18:32] Winterhuman commented on #525
Nevermind, https://github.com/ipfs/specs/issues/73 and https://github.com/ipfs/specs/issues/160 are still open, should this issue be reopened or has this been superseded by another issue?

[2022-04-27 09:46] hsanjuan opened #8915 "`pin add` progress objects should include total-size of nodes pinned so far."
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

The `pin add` endpoint returns `AddPinOutput` objects.

When progress=true is specified, an object is set every 500ms containing the number of nodes that have been

[2022-04-27 16:41] hydrogenbond007 commented on #8000
I am still getting the error.

[2022-04-27 17:52] hydrogenbond007 commented on #8000
@lidel Was trying to open nimi.eth.limo and snapshot but was unable to. Uniswap is working fine

[2022-04-27 18:25] lidel commented on #8000
You get error because there is no [DNSLink](https://docs.ipfs.io/concepts/dnslink/) TXT record on `_dnslink.nimi.eth.limo`.

You use a centralized HTTP server, and you get error because it is missing DNSLink.

:point_right:  Please report issue to the owner of `eth.limo`

Below are technical details you can relay to them:

----

No TXT record on `_dnslink.nimi.eth.limo`:

[code]

It should return

[2022-04-27 18:52] hydrogenbond007 commented on #8000
Big thanks @lidel ! Will try it out

[2022-04-27 22:07] lidel opened #8917 "Switch go-ipfs-as-a-library to go-ipfs/config"
After go-ipfs 0.13 ships we should refactor go-ipfs-as-a-library example, as it is stuck at go-ipfs 0.11 currently.

- switch from go-ipfs 0.11 to 0.13 (go.mod)
- switch from go-ipfs-config to go-ipfs/config (https://github.com/ipfs/go-ipfs/pull/8756)
  -  clean up the way we test go-ipfs-as-a-library CI
    https://github.com/ipfs/go-ipfs/blob/d4879a464b4afe3cef552b83873e0a70d7847d48/.circleci/ma

[2022-04-28 11:15] iand commented on #8870
@guseggert the problem with LRU is that it doesn't account for the cost for refilling the cache, which is usually a non-issue in filesystems and databases. In a distributed system like IPFS the fill cost is highly variable so I want to factor that into the algorithm to meet my goal of reducing time to first byte for the gateway.

A good reference on some of the issues here is [LNC-R-WS-U](https://

[2022-04-28 11:23] iand commented on #8578
I'm working on adding tracing to go-blockservice and go-path (noting to avoid duplication of effort)

[2022-04-28 13:11] lidel opened #8918 "Implement ipfs swarm limit [scope] --reset"
## Context

https://github.com/ipfs/go-ipfs/pull/8901 added `ipfs swarm limit` command for setting limits per scope and persisting them in config under `Swarm.ResourceMgr.Limits`

## Problem

What we are missing, is a way for people to remove custom limits and reset them to the implicit defaults provided with go-ipfs/go-libp2p.  Right now, our users need to manually edit `$IPFS_PATH/config` by han

[2022-04-28 14:18] guseggert commented on #8578
High-level go-bitswap spans: https://github.com/ipfs/go-bitswap/pull/562

[2022-04-28 14:58] BigLep commented on #8264
2022-04-28 conversation:

Remaining work:
If you add multiple items it should work (all files are added to the repo).
Previous: it didn't work and it was silent.
Now (as of https://github.com/ipfs/go-ipfs/pull/8850): it doesn't work but errors
Future: it works

[2022-04-28 15:15] schomatis commented on #8264
@BigLep I've been over this issue too many times to the point of losing confidence in my ability to understand exactly _what_ is being requested. If you can provide the exact commands and outputs (either success or error, and what error) I'll give it one last shot. Otherwise, I'll un-assign myself here and someone closer to the request can implement the final details with as much support from me a

[2022-04-28 17:36] #8178 closed

[2022-04-28 19:40] bmwiedemann commented on #8264
I don't mind closing this issue. It is not *that* important.

The original idea was that I could do a single `ipfs add` call to add all files from a directory tree, without adding the directory objects (as would happen with `ipfs add -r`).

For that, the output would need to be something like this:
[code]

[2022-04-29 01:10] RangerMauve commented on #3117
This would be super useful to have built into go-ipfs. Would outside contributions or a devgrant be appreciated for this functionality?

[2022-04-29 09:43] guseggert commented on #8578
DHT: https://github.com/libp2p/go-libp2p-kad-dht/pull/769

[2022-04-29 11:40] lidel opened #8924 "Investigate why /ipfs/{invalid cid} returns different Status Code now"
`curl -v http://127.0.0.1:8080/ipfs/2329.png` returned:
-  returned `400 Bad Request` in 0.12.2
- now returns  `404 Not Found` (master @ 25cc85fa9359f907f348e0c2139f2b535313c56c)

IIUC this a low impact change, and we should be ok with 404 (comment below if you think otherwise), but would be useful to understand how it happened.

Potential causes:
-  ErrNotFound changes from https://github.com/ipf

[2022-04-29 13:31] Jorropo commented on #8762
Moving to triage since this is more complex than I thought and is an issue with the spec itself.

We need to discuss that.

[2022-04-29 14:16] aschmahmann commented on #8924
It was https://github.com/ipfs/go-ipfs/pull/8885. In particular we don't check validity of the /ipfs namespace anymore and instead end up relying on the path resolution to fail https://github.com/ipfs/go-ipfs/commit/e07baf5835f646352df14fa21ed641053cd0f81b#diff-427f4a268b11d614e7c3b3fdf35040496dd19492e325e3b1bd4bdaa4f8bf8e66R950. Previously we checked validity earlier https://github.com/ipfs/go-ip

[2022-04-29 14:23] aschmahmann commented on #3117
Yep! Some pointers and previous issues are mentioned in the linked issue (https://github.com/ipfs/go-ipfs/issues/1958#issuecomment-1026322601).

A lot of the work here is UX so would recommend anyone taking this on to post an issue describing their approach to make it easier to discuss before doing all the coding and wiring up. If people would rather discuss once there's a PR + some live code that

[2022-04-29 20:47] schomatis opened #8925 "[WIP] Decouple the internal `Config` Go struct from the user config file in `.ipfs/conf`"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

[code]

###

[2022-04-29 20:52] RangerMauve commented on #3117
Should either this or #1958 be closed as a duplicate?

[2022-04-30 03:51] dedshit commented on #8645
thanks it worked👍

[2022-04-30 20:24] alexs0x01 commented on #1430
The IPFS documentation recommends that the daemon be ran under user-scope. The system-scope example could put your system at risk of being compromised.

[2022-05-02 14:26] kallisti5 opened #8926 "Offer a gemini gateway in addition to http"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

ipfs offers a HTTP gateway over 8080.     In addition to this, it would be nice (tm) if ipfs offered a optional [gemini](https://en.wikipedia.org/wiki/Gemini_(proto

[2022-05-02 15:23] schomatis commented on #8504
@lidel Could you list here (in pseudo-code if easier) the sharness command tests you'd want for this?

[2022-05-02 15:27] schomatis commented on #8504
Part of a bigger effort in https://github.com/ipfs/go-ipfs/issues/8264.

[2022-05-03 15:06] schomatis commented on #8915
I think we should try to decouple as much as possible _pin_ from _fetch_ here, which is somewhat confused in the concept of [recursive pins](https://docs.ipfs.io/how-to/pin-files/#three-kinds-of-pins) as advertised to the user. Pin, even recursive, is just a single tag to the root DAG node. The progress shown is just how fast we can get the subtree under that root node being pinned (and that will

[2022-05-03 15:31] schomatis commented on #8059
We're definitely not prepared to select only a subset of subcommands. This will likely require some reworking of the commands library.

[2022-05-03 15:45] schomatis commented on #8059
The simplest approach seems to add a function to prune the commands root given a list of whitelisted commands. The code would use similar logic to the [subcommand resolution.](https://github.com/ipfs/go-ipfs-cmds/blob/e9b38676e7353f9ffdbc366af4fac3698091fce3/command.go#L192-L211)

We should use a single hardcoded "master" root:

https://github.com/ipfs/go-ipfs/blob/25cc85fa9359f907f348e0c2139f2b53

[2022-05-03 16:03] 2color commented on #8779
@autonome What is the right next step when there's a migration error?

[2022-05-03 16:12] 2color commented on #8779
@autonome
Is the correct next step when this error is raised to use the [fs-repo-migrations](https://github.com/ipfs/fs-repo-migrations/blob/master/run.md) tool?

Do we typically add links to repos like the that markdown file in errors?

[2022-05-03 16:46] hsanjuan commented on #8915
I'm proposing something very concrete that solves a problem for me and don't want to open the box of concepts and big ideas.

Just asking for an extra field in the progress updates and I need feedback on whether this is an acceptable change to go-ipfs.

[2022-05-03 20:05] Jorropo commented on #8882
@NatoBoram current `master` on my machine:
[code]
Also there hasn't been any change to our openssl wrapper since august 2021.

Are you not running a rolling release by luck ? (*what is your OS and version pls ?*)
I think this issue is an API change in the newest openssl version, and we are expecting the old one.

[2022-05-03 20:19] NatoBoram commented on #8882
This is what I'm running:

[code]

And I have this as my `openssl` version:

[code]

[2022-05-03 20:23] Jorropo commented on #8882
I'm running `1.1.1`.
I guess that explains it.

[2022-05-03 20:25] Jorropo commented on #8882
If anyone want to work on this, it's here: https://github.com/libp2p/go-openssl

*Should* be easy, if you know a bit of C and Go.

For now I'm leaving this for the community to fix, we will see with other maintainers but I don't think anyone of us is interested in that.

[2022-05-03 20:41] schomatis commented on #8915
I'm not trying to block your proposal with extraneous "concepts and big ideas". Consider that what might work for you might not work, or just be confusing, to other users and we need to be mindful of that. The fact that your proposal is concrete, and in fact it is: it can be implemented with just a few lines (which I don't mind coding them myself), doesn't mean that it warrants a yes or no answer,

[2022-05-03 22:15] schomatis commented on #8877
I think technically we should return the root CID of each independent argument (`a` and `b` here), but I understand in practice users (including us) treat `-Q` as "just give me one CID I can carry around" as in `CID=$(ipfs add -Q)` so making sure only one argument is passed in that case (or we wrap them) makes sense.

[2022-05-03 22:19] Jorropo commented on #8877
That exactly the reason why I want to error.
If you wanted the list you would use `-q` not `-Q`. If we start giving lists of CIDs on `-Q` too I think it's gonna be hell confusing.

[2022-05-04 08:57] hsanjuan commented on #8915
Given that this request is purely additive I fail to see how this won't work for other users. I happen to be one of those very few users that need worry about allocating resources for pinning. I'm just asking on including a translation from "N nodes" to "N bytes" in progress objects. I mean, this should have probably been there from the start if only just for consistency with `ipfs get` which does

[2022-05-04 10:40] iand commented on #8578
go-blockservice: https://github.com/ipfs/go-blockservice/pull/91

[2022-05-04 10:48] iand commented on #8578
go-path: https://github.com/ipfs/go-path/pull/59

[2022-05-04 11:44] ajnavarro commented on #8347
I was not able to reproduce the problem on a virtual machine, so I rented a Scaleway native M1 computer: https://www.scaleway.com/en/hello-m1/ and I got the error.

Tentative fix here: #8934

After creating directories using the `install.sh` script, everything worked as expected.

[2022-05-04 19:46] TheDiscordian commented on #8347
@SgtPooki Sorry for late response, forgot I opened this issue. Does that homebrew run the install.sh script?

@ajnavarro #8934 lgtm, that's exactly the type of fix I was looking for.

[2022-05-04 21:51] aschmahmann opened #8943 "ipfs init error on Windows: Error loading seed assets"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-05-04 21:52] aschmahmann commented on #8640
Known issues in RC1:
- #8924 (will either be fixed or the change documented)
- #8943

[2022-05-04 21:58] aschmahmann commented on #8943
This seems to be the same issue as with https://github.com/golang/go/issues/45230#issuecomment-806554753. Namely that we're using `filepath.Join` instead of `path.Join` when working with `fs.Embed` which is not correct

[2022-05-04 23:07] schomatis commented on #8915
Ok, sorry if this hasn't been productive, let's collapse all these to let a steward just give the :+1: on the extra field.

[2022-05-05 12:50] aschmahmann opened #8945 "AcceleratedDHTClient needs more resources than the ResourceManager has by default"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-05-05 15:52] BigLep commented on #8945
2022-05-05 conversation:
1. We need errors to know when this situation occurs
2. Lets understand how limits were set.
 - For example, do we need a limit on outbound connections
 - Capture how this was chosen

Current plan:
1. Add errors
2. Raise outbound/global limits

We're not tackling bigger items like:
1. Being able to hand resources back to libp2p
2. Optimizing resource consumption in common

[2022-05-05 16:29] #8943 closed

[2022-05-05 20:56] Stebalien commented on #8882
Does https://github.com/libp2p/go-openssl/pull/28 work for you? All that branch does is remove the offending function (which we weren't using anyways). Unfortunately, I have no easy way to test this.

[2022-05-06 12:02] #8779 closed

[2022-05-06 14:08] dmgk commented on #8819
go-libp2p currently is at v0.19.1, can this move ahead please?

[2022-05-06 14:14] aschmahmann commented on #8819
The version of quic-go is now at 0.27.0 and CI is building with Go 1.18.1.

[2022-05-06 14:14] #8819 closed

[2022-05-06 15:02] RubenKelevra opened #8948 "filestore expects moved file when adding a new version of a folder"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-06 15:12] RubenKelevra commented on #8948
Doing `ipfs repo gc` and then the second `ipfs add` fixes this. But it would be nice not to need this. I mean, if a file doesn't exist anymore but is somehow still linked to certain blocks, just ignore this and delete the reference and add the new file?

[2022-05-06 15:13] RubenKelevra commented on #8948
Or add a way to scan for blocks which are no longer available as files and delete them.

[2022-05-06 15:13] #8347 closed

[2022-05-06 15:32] BigLep commented on #8302
Resolving since haven't heard more.

[2022-05-06 15:32] #8302 closed

[2022-05-06 16:34] schomatis commented on #8948
What you want is `ipfs filestore verify`.

The undocumented contract in the experimental filestore feature would read something like "once a file is part of the filestore you can't touch it: it belongs to the ipfs repo, not to you". Renaming that file is like renaming a key in the repo `mv ~/.ipfs/blocks/JX/CIQFI ...`. I'm not saying this is a good thing, but it's not particular to this use case (

[2022-05-06 16:34] #8948 closed

[2022-05-06 16:48] ajnavarro opened #8949 "Error starting ipfs daemon if physical available memory is low."
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-06 17:38] BigLep commented on #8949
Will it work for now just to skip this dynamic limit (or is this the first of many limits which are dynamic so we need to do a bigger change)?

[2022-05-06 17:42] aschmahmann commented on #8949
It seems like we have a bit of a conceptual mismatch with what that test was trying to do.

@marten-seemann and @lidel may have some thoughts on what to do here. The desire to not have the libp2p defaults change from underneath us is understandable, My guess is we'll need to do 1+ of:
- copy over more code from go-libp2p (e.g. checking system limits, or just hard-coding the values ourselves)
- ask

[2022-05-06 21:34] #7471 closed

[2022-05-07 03:18] dullbananas opened #8951 "Allow ~/.ipfs/config to be a symbolic link"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

If the config file is a symbolic link to a file in another location, IPFS says that it's not a valid json file instead of using the linked file

[2022-05-07 08:51] nlw0 commented on #4145
I'm having a similar problem right now. Running a server on a VPS with two cores and 1GB of RAM + 1GB swap, process always seems to get killed when I check the next day. This was with v0.12.0.

[2022-05-07 11:32] syntafin commented on #8585
Resolving after few day no answer... okay?

Only thing I can send now is this, because we use a hard block now to avoid abuse reports:
[code]

[2022-05-07 12:21] guseggert commented on #8951
Symlinks should work fine here, can you provide reproduction steps?

[2022-05-07 21:56] dullbananas commented on #8951
In macOS:

1. Move the config file to a different location
2. Create an alias of the config file
3. Move the alias to ~/.ipfs
4. Rename the alias to "config"
5. Restart IPFS

If I instead use `ln -s` command, it instead causes the IPFS status to say "IPFS has Errored" instead of showing an error message.

[2022-05-09 13:47] ajnavarro opened #8956 "Tests sometimes are timing out when testing `go-ipfs-as-a-library`"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-09 13:51] EnchanterIO opened #8957 "TarWriter.WriteFile stuck on select when writing to io.pipe"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-09 19:44] lidel opened #8959 "Minimal rename of go-ipfs in 2022Q2"
## What

IPFS Stewards are renaming go-ipfs to something else :snowflake:

:point_right: Feel free to comment in https://github.com/ipfs/ipfs/discussions/471 with name (and logo like one in https://github.com/ipfs/go-ipfs/pull/8958).

Note: we reserve the right to  ignore every instance of [Boaty McBoatface](https://en.wikipedia.org/wiki/Boaty_McBoatface).

## Why

This is part of a wider, long ec

[2022-05-09 22:27] hello-smile6 commented on #8959
Maybe `golang-ipfs`?

[2022-05-09 23:33] hello-smile6 commented on #8959
@aschmahmann Why not?

[2022-05-10 07:31] dbaarda commented on #7966
I think the main reason for the 64KB sweet-spot was actually for storage-size-minimization through a combination of de-duplication and compression. The compression they were using was not using context-aware pre-populated dictionaries and just compressed each chunk in isolation. With smaller chunks the wins from better deduplication were outweighed by the worse compression of the smaller chunks. W

[2022-05-10 09:04] ajnavarro commented on #8959
`greenblock`

[2022-05-10 10:03] lidel commented on #8925
Quick thoughts:
- tldr: my initial  reaction is :+1:  your approach [in this branch](https://github.com/ipfs/go-ipfs/compare/schomatis/fix/config/decouple-user-vs-system-config) feels backward-compatible, so low risk, high return
  - In my mind, the main value added here is **decreased maintenance cost** for Stewards and  contributors
    - We no longer need to do additional QA ensuring config cha

[2022-05-10 13:09] guseggert commented on #8951
If by "alias" you mean you created an alias in Finder using File -> Make Alias, then those are not symbolic links, they are  "bookmarks". They're a special file format, and the only supported way to read them is using special MacOS libraries (specifically, NSURL in the Foundation framework).

go-ipfs would have to link against Foundation and keep that maintained as the APIs evolve (this used to be

[2022-05-10 14:33] ajnavarro commented on #8956
It took me some time to understand all the Makefiles and figure out that FUSE tests are not running on CI. The real problem is a flaky test executing `go-ipfs-as-a-library`, sometimes it just stops writing text to the terminal, and after 10 minutes, CircleCI stops it.

[2022-05-10 14:57] schomatis commented on #8925
Thanks for the feedback @lidel. Will move ahead then with this approach prioritizing backward-compatibility.

[2022-05-10 16:42] lidel commented on #8956
More details:
[code]

As discussed during stewards colo, we need to
- refactor `go-ipfs/docs/examples/go-ipfs-as-a-library/main_test.go` so it does not fetch  data from public swarm
  - need to spawn a local (additional) IPFS node instead,  that provides data.  that wayt test works in 'offline" mode (that way CI won't break the test if they throttle WAN data transfers).

[2022-05-10 16:50] BigLep commented on #8957
@EnchanterIO : thanks for reporting this.  What is the impact of this issue on your service?

Next steps that can be taken:
1. (Infura) explicitly add timeouts at the go-ipfs level to confirm the issue (rather than relying on nginx/lb timeouts)
2. (Either side) see if can reproduce this issue locally by making `ipfs get` requests for various content that does exist and doesn't.
3. (Maintainers) in

[2022-05-10 17:19] BigLep commented on #8959
2022-05-10 notes:
1. We need to set and communicate timeline
2. Deduplicate/close between this issue and https://github.com/ipfs/ipfs/issues/470 and the corresponding GitHub Discussion.
3. Determine the set of options for voting.

@lidel is owning on getting decisions wrapped up by the week of 2022-05-16.

[2022-05-10 17:30] EnchanterIO commented on #8957
Hi @BigLep, the impact is a crashing node due to constantly growing heap allocation due to stuck go-routines and IO pipes.

Reagrding 1) we already have an explicit `?timeout=` flag sent to go-ipfs nodes for every API call as well as Proxy timeout so the go-routine seems to be definitely stuck due to some resource handling.

Thanks for looking into it!

[2022-05-10 19:18] schomatis commented on #8957
(Maybe related:) We never plumb the command context to the `fileArchive` that started the stack.

[2022-05-10 20:49] Destroyinator69420 commented on #8959
I think go-ipfs is great name, go-ipfs describes perfectly that the program is an ipfs implementation in golang, I was not aware that the name minimizes other implementations such as rust-ipfs or js-ipfs, I think those names are fine too.

All the best
Destroyinator

[2022-05-10 21:01] Destroyinator69420 opened #8961 "Circuitv2 may allow for greater privacy on the ipfs network."
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

The circuitv2 protocol in go-libp2p could allow for greater privacy on the ipfs network. Instead of a traditional onion router, I think the feature should be opt-in

[2022-05-10 22:16] bertrandfalguiere commented on #8959
I think the idea behind it is to open up the ecosystem to multiple implementations even in the same langage. To make go-ipfs a go implementation of IPFS, not THE go implementation of IPFS. Just like for HTTP, many implementations may coexist, for exemple to specialize on different usecases. It would also remind people that IPFS is a protocol, not a software. I think this a first step for IPFS (the

[2022-05-11 18:13] lidel commented on #8371
@ajnavarro are you able to reproduce? fwiw there are some troubleshooting docs in [fuse.md](https://github.com/ipfs/go-ipfs/blob/dbc8e2a01512a1645aa653ef85f4ab022a9682bf/docs/fuse.md).

Maybe we should disable FUSE tests by default, and run them only when some env variable is set?
That way we would still run them on CI where all necessary dependencies are present,  but won't impact local dev.
﻿
﻿I

[2022-05-11 19:08] akowalsk opened #8963 "IPFS doesn't reestablish UPnP mapping after router reboot"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-11 21:04] waleedmebane commented on #8959
How about "zarkov" after the Flash Gordon character?  In the film version, he avoids having his memory wiped by remembering all the bits he can.

[2022-05-11 22:27] lidel commented on #8959
Quick update:

- We are collecting new name proposals in already existing https://github.com/ipfs/ipfs/discussions/471.
- The renaming will happen  AFTER 0.13 ships but BEFORE  0.14
  - We will try to limit the breakage across ecosystem by providing releases under the old and the new name on https://dist.ipfs.io website – PoC tracked  in https://github.com/ipfs/distributions/pull/717
- **Soft dead

[2022-05-12 14:49] ajnavarro commented on #8957
I think the Context is set to the `file` when calling `api.Unixfs().Get`. After that, the context is also set inside the `dagReader` and used by the `dagWalker` when calling `WriteTo`. `dagWalker` is using the context when calling `NavigableIPLDNode.FetchChild` and there, the context can be canceled correctly.

One thing that is strange for me is `NavigableIPLDNode` is trying to preload using an a

[2022-05-12 15:00] ajnavarro commented on #8371
The error I'm having is a test timeout, but tests failing are the same. you can check it executing `make test`

[2022-05-12 17:15] BigLep commented on #8957
2022-05-12 conversation:
@ajnavarro hasn't been able to reproduce the error locally.  He will post the approaches he took and what he found.  Hopefully others will spot what we might be doing wrong.
Basically, we need to get a repro case so we can further debug.

[2022-05-12 17:27] BigLep commented on #8761
2022-05-12 conversation: we're looking good.  Deployments to other banks is happening in https://github.com/protocol/bifrost-infra/issues/1815.

Resolving for now.  We'll engage if Bifrost raises any issues as they continue to deploy.

[2022-05-12 23:17] Jorropo opened #8970 "peer watermarks are not respected"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-12 23:30] schomatis commented on #8957
The context passed is used only during fetching in our API, but the pipe created is not closed on it and the write gets stuck.

[2022-05-13 08:02] ajnavarro commented on #8957
Two approaches I tried to reproduce the error:

1. Add a file, remove some random block from it, and try to fetch it. Steps:
[code]
All get operations were canceled correctly.

2. Force a bunch of `get` operations and see if some of them get stuck:
[code]

[2022-05-13 10:29] EnchanterIO commented on #8957
Would it make a difference if the `get` reqs would be over HTTP? And if the original client would terminate before a get operation under timeout finishes?

[2022-05-13 10:38] Winterhuman commented on #8970
Sounds like https://github.com/ipfs/go-ipfs/issues/8945: "the routing table being very small (compared to running without the resource manager enabled)". If you set a big `HighWater` value then the ResourceManager will still prevent it from being reached Accelerated client or not.

[2022-05-13 10:48] MichaelMure commented on #8957
When following the original stack trace, one spot I found quite suspicious is [`fileArchive()`](https://github.com/ipfs/go-ipfs/blob/25cc85fa9359f907f348e0c2139f2b535313c56c/core/commands/get.go#L276-L342). In that stack trace, the flow goes through that function to setup some writers and a `io.Pipe`, go down the DAG fetching/handling, then come back in that `io` code where it get stuck regardless

[2022-05-13 11:59] Jorropo commented on #8970
@Winterhuman
I don't think so.
I have the resource manager disabled and the routing table look healthy (16k peers in bucket 0).

[2022-05-13 14:17] Winterhuman commented on #8970
Oh you're right, I saw `"ResourceMgr": "Enabled":` and thought it was online, nevermind

[2022-05-13 16:24] #8957 closed

[2022-05-13 18:26] BigLep commented on #8957
Great job @Jorropo and @ajnavarro in finding/fixing the issue.  A few things:
1. I see https://github.com/ipfs/go-ipfs/pull/8973 doesn't have any test.  What would it take to add one?
2. @EnchanterIO : can you confirm this addresses your issue?
3. Assuming we have confirmation this fixes the issue, I assume we'll include this in the 0.13 release (https://github.com/ipfs/go-ipfs/issues/8640 ).

[2022-05-13 18:39] Jorropo commented on #8957
@BigLep
No the test would be **very VERY** flaky:
- It require the http API to be really slow.
  (the cancel must happen on an http write)
- It require scanning the goroutines stacks to not find a thing (which has billions of way to fail (or not)).

You could add:
[code]
and it would likely be about as reliable.

[2022-05-14 14:06] Jorropo opened #8974 "`add --cid-version=1 --raw-leaves=false` isn't hash coherent with `add --cid-version=0`"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-14 14:12] Jorropo commented on #8974
Personally that a WONTFIX (except maybe some docs), having to use `--cid-version=0` and then `ipfs cid base32` if you care about backward compat doesn't look too bad.
I belive we just have to be carefull that this behaviour doesn't happen with #4143.

[2022-05-14 14:13] RubenKelevra opened #8975 "Build with GCC12 fails"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-14 14:16] Jorropo commented on #8975
Sorry, this is unclear to me, are you using GCCGO ?

[2022-05-14 14:18] Jorropo commented on #8975
Also what does *fail* means.
Any error message ?

[2022-05-14 14:24] ribasushi commented on #8974
@Jorropo this isn't a bug - the version of a cid is part of the payload. A block with links in cidv0 is different byte-content ( thus different CID ) as opposed to a block with the very same links in cidv1.

[2022-05-14 14:28] Jorropo commented on #8974
@ribasushi I know, that why the:

It's just that go-ipfs attempt to have some hash coherency with future versions. (adding the same data multiple times with the same options in future versions should *generally* give you the same CID back)
We have to choose whether this qualify or not. And whether doing `ipfs cid base32 $(ipfs add -n --cid-version=0)` is a valid alternative.

[2022-05-14 14:32] ribasushi commented on #8974
You are probably thinking of `--upgrade-cidv0-in-output=true`. Note that this was raised ( and rejected ) in https://github.com/ipfs/go-ipfs/issues/4143#issuecomment-811050725

[2022-05-14 14:34] Jorropo commented on #8974
I'm essentially proposing the same thing but doing it explicitly with `ipfs cid base32` (which already exists and works), I think the fix for this issue is just gonna be some more lines of docs somewhere.

[2022-05-14 14:43] RubenKelevra commented on #8975
[code]

[2022-05-14 14:45] RubenKelevra commented on #8975
Well, the error message makes kind of sense, as there's no folder/file with that name:
[code]

[2022-05-14 14:47] RubenKelevra commented on #8975
Maybe it's just my shim to have go output the right version string, because of the bug mentioned above.

I use this in /usr/bin/go and moved the normal go binary to /usr/bin/go_real

[code]

[2022-05-14 14:49] RubenKelevra commented on #8975
Don't know. Never used it. I'll look into it.

[2022-05-14 14:53] RubenKelevra commented on #8975
That's not the issue, builds fine with the normal go compiler through the same shim.

[2022-05-14 15:04] RubenKelevra commented on #8975
There's no package available for them for Arch and I really don't feel like building it myself. :)

[2022-05-15 14:33] guseggert opened #8976 "Changelog no longer renders in GitHub"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

_No re

[2022-05-15 16:07] faddat commented on #8543
I am a huge fan of monorepos.

Right now I can't use the as-a-library example because of cidutil :/

[2022-05-15 18:10] ec1oud opened #8977 "ipfs daemon doesn't act as a gateway if started with --mount"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

third-party binary

### Version

[code

[2022-05-16 01:40] Jorropo commented on #8977
I cannot reproduce it.
I think maybe the mount is failing and it get stuck instead of erroring.

[2022-05-16 13:04] lidel commented on #8949
Fixed in https://github.com/ipfs/go-ipfs/pull/8965, we are refining it further in https://github.com/ipfs/go-ipfs/pull/8954

[2022-05-16 13:04] #8949 closed

[2022-05-16 13:21] #8511 closed

[2022-05-16 14:00] lidel commented on #8924
Indeed.

This is a low priority and low impact bug, but we should restore old behavior – missing content root identifier is a Bad Request.

[2022-05-16 14:41] schomatis commented on #8957
Some thoughts (nothing important, feel free to ignore):

- Testing a leak is not that painful (brittle), we can try tools like https://github.com/fortytw2/leaktest or https://github.com/uber-go/goleak.

- Triggering the leak is rather straightforward, it's not about the HTTP API; we just don't consume the returned reader.

- The tricky part is that our commands library as it stands doesn't allow u

[2022-05-16 15:03] Stebalien commented on #8963
Hm. It should refresh mappings 3 times a minute.

[2022-05-16 15:12] schomatis commented on #8974
Always happy to get more docs but is this _coherency_ expected by the user somewhere? (And what exactly is the meaning of it?) It seems reliant on very specific and internal knowledge on how we construct these (raw leaves, chunker, etc.).

[2022-05-16 16:13] Jorropo commented on #8974
I have talked with a few people that assume it.
We also have tried to maintain it.

Adding the same file multiple times yields the same CID (or at least a compatible one, so really it's only the same multihash).

Yeah

[2022-05-16 16:28] schomatis commented on #8974
Pushing some more on your definition to try to better understand it and see how we can fit it in the docs:

You're changing the arguments, is the user that changes these still expect the same CID?

Then what does _compatible_ mean? Same multihash? Is the user aware of it, and if it is, it expects it to go unchanged when it changes the CID or any other argument?

If anything this seems more of an i

[2022-05-16 16:29] schomatis commented on #8974
(Changing to a docs issues unless there is in fact a guarantee of CID/multihash stability in UnixFS.)

[2022-05-16 17:32] aschmahmann commented on #8974
IMO there is in no way whatsoever a guarantee that `ipfs-vX add foobar` generates the same DAG as `ipfs-vX+1 add foobar`.

From `ipfs add --help`

https://github.com/ipfs/go-ipfs/blob/a72753bade90c4a48c29aba6c0dc81c44785e9d2/core/commands/add.go#L110-L113

If that wording is insufficient to get the point across we can modify that as well.

Correct, we don't like changing behavior because no matter

[2022-05-16 17:38] Jorropo commented on #8974
I agree with all of this.

I think the issue is getting side tracked.

The issue here is that it is surprising that the CID version change the hash. It seems like a non trivial amount of people (me including before I implemented some raw CID code) think that CID version is just an encoding trick, but the binary data wouldn't change, just how it gets made into text.

I want to add a
[code]
similar

[2022-05-16 17:51] schomatis commented on #8974
I think the implicit assumption that is causing some confusion here is we're talking about a single block (strings of bits) of data.

In general changing CID version doesn't change the hash of the data (because we keep the same hashing algorithm, at least in v1).

But a file is (usually) not a single block of data but a DAG of them, and **a DAG is not just the concatenation of the chunks of the or

[2022-05-17 00:06] sixcorners opened #8979 "ipv6 bootstrap nodes?"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

ipv6 bootstrap nodes were added in #3523 and then were removed in f455264a4b6e2310c999e470ae3a4522287bda98. Could bootstrap.libp2p.io be made to work over ipv6 and/

[2022-05-17 01:01] sixcorners commented on #8979
I don't exactly know what happened but I looked at what bootstrap.libp2p.io pointed at and manually connected to a peer with `ipfs swarm connect /ip6/2604:1380:2000:7a00::1/udp/4001/quic/p2p/QmbLHAnMoJPWSCR5Zhtx6BHJX9KiKNN6tpvbUcqanj75Nb`. I guess it should have worked with the current configuration but it didn't. Before I manually connected it was saying I had no peers. Weird.

[2022-05-17 14:28] EnchanterIO commented on #8957
This looks promising. Thanks for the effort. I applied the patch to our go-ipfs nodes and rolled them our to production this morning.

Will post results by the end of the week if the memory problem and hanging go-routines are solved or not.

[2022-05-17 19:54] Winterhuman commented on #1549
@whyrusleeping @daviddias Should this be closed?

[2022-05-17 22:53] Jorropo commented on #8979
IPv6 addresses are accessible through the dnsaddr resolution.

[2022-05-17 23:30] sixcorners commented on #8979
FYI. I brought up a node on a vm with no ipv4 internet connection and go-ipfs failed to connect to peers. The VM had an private ipv4 and an ipv4 vpn. Maybe that messed something up.

Anyway. That's why I originally created this ticket. I guess I should try to find a way to reproduce it and make another ticket. I think it's fine to make this ticket just about the inclusion of dns free ipv6 bootstra

[2022-05-18 10:18] sharp2448 commented on #6932
@ShadowJonathan do you know if there is any good alternative?
Because I'm running graph node with subgraph, so I'm looking if I can use different approach which doesn't involve IPFS node ruining...

[2022-05-18 13:28] Jorropo commented on #8979
@sixcorners I think your VM DNS resolvers was probably broken.

[2022-05-18 17:33] benutter opened #8981 "Trouble Starting a Daemon"
### Checklist

- [X] I am reporting a documentation issue in this repo, not https://docs.ipfs.io.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Location

_No response_

### Description

benutter@bens-mbp ipfsrepo % ipfs daemon
Initializing daemon...
go-ipfs version: 0.12.2
Repo version: 12
System version: amd64/darwin
Golang ve

[2022-05-18 20:22] ec1oud commented on #8977
Right: I had tried setting ipfs config --json Mounts.FuseAllowOther to true, so when I run ipfs daemon as a regular user, probably it's not allowed to set that mode.  Setting it back to false fixes it.

Anyway, failure to mount ought to result in an error message, right?

[2022-05-18 21:50] sharp2448 commented on #6932
@Winterhuman Ok, sounds good. Thanks for info

[2022-05-19 10:45] fatmakoubaa opened #8983 "garbage collection for DHT"
Does the garbage collector remove invalid entries (like record providers from) DHT,  when triggered?

[2022-05-19 13:04] EnchanterIO commented on #8957
Thanks a ton for looking into this @BigLep, @schomatis , @ajnavarro , @Jorropo.

Over a longer period I will be more sure, but after a week it seems like we no longer have any stuck `get` cmds at any instance and the memory heap seems healthy again. :partying_face:

[2022-05-19 15:21] Jorropo commented on #8981
Your private network key is wrong.

[2022-05-19 15:21] #8981 closed

[2022-05-19 19:09] Winterhuman opened #8985 "Make `ipfs get` as fast as `ipfs pin add`"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

Right now, `ipfs pin add` is actually faster than `ipfs get` at fetching data since `ipfs pin add` does concurrent dag traversals and preheating. Ideally, `ipfs get

[2022-05-19 19:31] aschmahmann commented on #8985
To be more precise `ipfs pin add` maybe be faster at download an entire DAG than `ipfs get` is. However, if you started asking about time to get the first X bytes of a UnixFS file you might start to see different results since `ipfs get` tries to get the data for you largely sequentially (although IIRC it also does some limited amount of prefetching) instead of just asking for "all of it".

You ma

[2022-05-19 19:47] Winterhuman commented on #8985
Ah I see, thanks for explaining! I do think this is still a UX problem though, people won't think to use `ipfs pin add` to fetch large amounts of content; most will use `ipfs get` since it's the most intuitive sounding. Perhaps some mentions in the `ipfs get --help` and `ipfs pin add --help` pages would help.

Also, maybe the `preloadSize` option should be exposed so you can do `ipfs get --preload

[2022-05-20 14:16] schomatis commented on #8059
Blocked on landing https://github.com/ipfs/go-ipfs-cmds/pull/231.

[2022-05-20 15:57] RubenKelevra commented on #8694
@aschmahmann was this fixed? I updated to the 0.13rc1, and I ran into serious performance issues again.

Have you tried to add many files to the MFS in simple `ipfs add`/`ipfs files cp`/`ipfs pin remove` or tried my script, yet?

[2022-05-20 16:10] RubenKelevra commented on #8694
@aschmahmann I set `ipfs config --json Internal.UnixFSShardingSizeThreshold "\"1MB\""` so 1MB not 1GB, since this *should* work in theory.

But I still see 30 second delays for removing a single file in the MFS.

[2022-05-20 19:04] RubenKelevra commented on #8694
IPFS crashed on the server in question:

[code]

[2022-05-20 19:26] RubenKelevra opened #8986 "Random node numbers on restart of pin"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-21 10:48] Plotecerr64 opened #8987 "ERROR p2pnode libp2p/rcmgr_defaults.go:107 ===> OOF! go-libp2p changed DefaultServiceLimits"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-05-21 11:33] RubenKelevra commented on #8694
I think this was more due to large repining operations by the cluster daemon, as the MFS folders need to be pinned locally on every change.

I created [a ticket](https://github.com/ipfs/ipfs-cluster/issues/1672) on the cluster project for this.

Furthermore, I see (at least with a few file changes) no large hangs when using 1 MB sharding.

But I haven't yet tested the full import I had originally

[2022-05-21 16:45] gitannex commented on #8987
I get this error when trying to run https://github.com/ipfs/go-ipfs/blob/master/docs/examples/go-ipfs-as-a-library/main.go .

[2022-05-22 05:50] RubenKelevra opened #8988 "Pinning an MFS folder takes a lot of IO"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-23 12:38] Prediction185 commented on #6812
Can you tell me how to solve the problem of insufficient memory

[2022-05-23 23:57] schomatis commented on #8987
This should be fixed in https://github.com/ipfs/go-ipfs/pull/8965, not yet tagged.

[2022-05-23 23:57] #8987 closed

[2022-05-24 16:44] BigLep commented on #8945
Exit criteria:

``ipfs stats dht | wc -l``

Should be ~equal with and or without resource manager enabled.

[2022-05-24 17:31] Jorropo opened #8991 "Improve sharness tests failure reports"
It's very unclear which test fail.
The error message is not in the failing test (which is just a `grep failed`).
You need to deep dive through logs, CTRL + F `failed` (which will show other unrelated failures often).

[2022-05-24 21:04] jkidd11 opened #8992 "Bf"
https://github.com/corongan/inclusion

[2022-05-24 22:53] bertrandfalguiere commented on #8992
Looks like spam. Is it even remotely related to IPFS development?

[2022-05-24 23:58] coryschwartz opened #8993 "ipfs config replace can result in a broken configuration."
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-25 00:36] #8956 closed

[2022-05-25 16:08] Jorropo commented on #8992
It's very unclear how this relate to IPFS, pls follow the issue template and be clearer about your issue.

[2022-05-25 16:08] #8992 closed

[2022-05-25 16:12] Jorropo commented on #8986
Pinning do a random walk of the dag.
It's expected to see thoses results, numbers with low nodes are ones where it walked in a part of the dag that isn't cached and has low availability on the network **first**.
Numbers with high nodes is the reverse (it walked a cached / highly available part of the dag first).

If you let it run more, they would converge.

I don't know if this is supposed to be

[2022-05-25 16:12] #8986 closed

[2022-05-25 18:59] Jorropo opened #8995 "Gateway directory listing should be more responsive and be more usefull about it's use of space"
![Capture d’écran du 2022-05-25 20-55-44](https://user-images.githubusercontent.com/24391983/170347144-a662b7a8-565e-4ed7-997d-990bde45d2a6.png)

I am using a 1080p monitor, and most of the space is wasted.
I expect the CID to be fully printed given that I have twice the screen space needed to do so.

This is not happening because the the `bafk…vvby` is actually templated server side.
I expect thi

[2022-05-25 22:30] yznima opened #8996 "Go IPFS Docker uses 127.0.0.1 instead of 0.0.0.0"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-05-25 22:47] lidel commented on #8783
I think I've found an elegant way of doing this without inventing any new headers.
See  [RFC 7234#only-if-cached](https://datatracker.ietf.org/doc/html/rfc7234#section-5.2.1.7).

`Cache-Control: only-if-cached` could be used for requesting payload only if the gateway already has the data and can return it immediately. If data is not cached locally, and the response requires an expensive remote fet

[2022-05-26 16:36] Gozala commented on #8823
key reason is to avoid implicit defaults, and train users and tools to always request specific response type where it matters

I think this is a bad idea. It makes sense if user is a developer who you can train, but if user is someone just clicking you won’t train them, you’d just make their experience bad.

I would argue that:

1. Gateway should still render something useful e.g ipld explorer lik

[2022-05-26 22:07] georgyo commented on #2071
This is a pretty important feature.... The cost of pinning something (either with filecoin or other pinning services) is based on the size of the storage. However CIDs that contain heavily duplicated data are charged at many times the actually storage requirements.

A heavily touted feature of IPFS is that it dedups data, it would be a shame if that doesn't actually result in cost savings for the

[2022-05-27 14:53] Nate158digimon commented on #8945
`nate` [https://discuss.ipfs.io/t/greetings/14328?u=nate158digimon](url)

[2022-05-27 23:16] lidel commented on #8799
@thibmeu this is not on our immediate roadmap, but would accept it as a contribution.
I am available for reviewing things if you are willing to drive it and spec out details around this new header.

[2022-05-29 12:50] RubenKelevra commented on #7746
@Stebalien / @lidel can we just add a download button to the directory listings, to download the current view from the current gateway? This would make it MUCH easier for the users.

[2022-05-29 13:26] RubenKelevra opened #8998 "Public gateway performance"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-05-29 13:59] RubenKelevra commented on #8986
Hey @Jorropo I thought it would run with a repeatable randomness or in a linear fashion, so when it was aborted say at 12k nodes, it would just pickup again at 12k nodes, as it realizes that 12k nodes are already fetched of the whole set.

Thanks for the clarification - I was just under the impression it would just drop a large portion of my transmission in case of an error and I had to refetch th

[2022-05-29 23:19] h1z1 commented on #8985
The difference is maybe better described as buffered vs non-buffered.  You can make cat or get buffered by piping it to anything like less, dd, etc.

Get doesn't necessarily mean display though whereas cat is more interactive thus implicit.   If  you're cat'ing a file you are  likely (or at least should),  be expecting data in chunks.  The default read() blocksize in linux at last appears to be 65

[2022-05-30 00:11] aschmahmann commented on #8985
`ipfs get` doesn't output to your filesystem it sends responds over the HTTP API from the daemon to the client. In order for you to get purely parallel dag traversal here it seems like you'd end up needing to a) buffer all of the data b) have the daemon send back data in some format other than tar that allows for sending the data back out-of-order such that the client can write arbitrary blocks to

[2022-05-30 10:35] Winterhuman commented on #8985
What about protecting `ipfs get` data from GC, waiting until the amount of data reaches the GC threshold, and then, pausing the fetch and asking the user "**CID** has exceeded the GC threshold, do you want to continue? (y/n)" before either continuing or cancelling (with some sort of `--exceed-gc` option to say yes beforehand).

[2022-05-31 02:44] RubenKelevra opened #8999 "Transfers get "stuck"; ping will recover them"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

Fetchi

[2022-05-31 17:25] lidel opened #9001 "Improve resource manager UX"
`Swarm.ResourceMgr ` was added in https://github.com/ipfs/go-ipfs/pull/8680 as part of https://github.com/ipfs/go-ipfs/issues/8761 epic, but there are some paper cuts around it which we need to address, ideally  before shipping it enabled by default.

- [ ] user should get a **clear feedback when a resource manager limit is hit** with a guide how to adjust the limit
  - right now all resource mana

[2022-05-31 17:33] lidel commented on #8761
@BigLep I assume we are reopening this due to:
- bifrost issue: https://github.com/protocol/bifrost-infra/issues/1815
- UX gaps documented in https://github.com/ipfs/go-ipfs/issues/9001
- a PR @guseggert will be working on to switch `Swarm.ResourceMgr.Enabled` flag to be disabled by default

?

[2022-06-01 08:16] githubassets opened #9002 "Stopping ipns daemon breaks networking compeletely"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-06-01 16:24] Stebalien commented on #8991
There are two different issues here:

1. Sharness tests are a pain to write, maintain, etc. Especially if you don't know bash.
2. Our current CI setup doesn't parse sharness tests.

That second point is _much_ easier to fix. IIRC, we _had_ a way to export junit result files, but we're not currently using that.

[2022-06-03 03:11] odbol commented on #8987
Thanks @schomatis . Is there a current workaround while we wait for a release with the fix? (I'm getting this error when trying to set up ipfs on an old Raspberry Pi with only 512Mb RAM.)

[2022-06-03 14:43] guseggert opened #9007 "CID command error handling is incorrect"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

_No re

[2022-06-03 15:15] BigLep commented on #8492
@guseggert will link the issue that is actively being worked on right now that will make plugins easier to write/maintain.

[2022-06-03 15:29] BigLep commented on #8585
@syntafin : thanks for the details.  To move this forward, we'll need an easier repro case.  Can you confirm this on a clean installation, with the latest release, and get a packet capture (tcpdump, wireshark, tshark).  It would help too to know whether this is SYN or SYN ACK packets.

[2022-06-03 15:31] lkdmid commented on #3320
Dropping in to report this issue with a Sky Q router, UK. Sky being a leading ISP so I imagine this would affect many potential IPFS users.

[2022-06-03 15:38] guseggert commented on #8492
The issue is https://github.com/ipfs/go-ipfs/issues/7653, which allows arbitrary modifications to the go-ipfs dependency graph using a plugin, so that you can inject a custom `exchange.Interface` (e.g. a Bitswap instance w/ a customized filter).

[2022-06-03 15:39] schomatis commented on #8987
No, sorry. I think all these limits are hard-coded. You'll need to use an older version or build it yourself from the above fix.

[2022-06-03 23:59] syntafin commented on #8585
I will check this out on weekend.

[2022-06-04 13:09] vaibhavmew commented on #8908
Hi, I would like to take up this issue.

[2022-06-04 15:53] syntafin commented on #8585
I uploaded the log here, because of the size (I didnt do any filtering):
https://share.syntafin.de/tcpdump.txt

[2022-06-05 01:26] sullltan123 commented on #8959
thanks

[2022-06-05 11:12] RubenKelevra commented on #8694
@aschmahmann I can confirm this issue with the suggested `ipfs config --json Internal.UnixFSShardingSizeThreshold "\"1MB\""` with a current master (a72753bad) as well as the current stable (0.12.2) from the ArchLinux repo.

_(1 MB should never be exceeded on my datasets, as sharding wasn't necessary before to store the folders.)_

The changes to the MFS are crunching to a hold after a lot of conse

[2022-06-05 17:44] RubenKelevra commented on #8694
I'll take my project pacman.store with the package mirrors for Manjaro, Arch Linux etc. down until this is solved. I don't like running 0.9 anymore due to the age and would need to downgrade the whole server again.

I just cannot share days old packages, even weeks due to safety concerns, so I don't like to do any harm here.

The URLs will just return empty directories for now.

[2022-06-05 17:47] RubenKelevra commented on #9002
Maintainer of `go-ipfs-git` here. I cannot confirm this issue:

[code]

[2022-06-05 18:37] h1z1 commented on #8985
And what if you're not in an interactive context @Winterhuman?  ie a script.

[2022-06-05 19:56] Winterhuman commented on #8985
That's what the `--exceed gc` option is for, to assume the answer is "yes" ahead of time ("with some sort of --exceed-gc option to say yes beforehand")

[2022-06-05 20:19] Jorropo commented on #8985
@aschmahmann if I had to implement it myself, `ipfs get` would call `ipfs dag export` under the hood and rebuild the directory structure in the client process.

Obviously `ipfs dag export` would need to have parallel traversal implemented there too, but this sounds far easier to do.

Any protocol that would support out of order dags could be used, it doesn't *need* to be using cars, it's just we h

[2022-06-05 20:30] Jorropo commented on #8985
I don't see why.
The only thing you need to keep alive is whatever are your current heads, once you fully listed through something, you can forget about that block (at least not touch it anymore so a future GC can remove it).

[2022-06-06 04:50] BigLep commented on #8694
@schomatis : are you able to take a look here and identify next steps?

[2022-06-06 08:39] RubenKelevra commented on #8694
I'm able to run everything you like on the machine to help, as it's basically out of commission now. :)

[2022-06-06 18:55] guseggert opened #9012 "mkreleaselog not working"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

_No re

[2022-06-06 19:10] guseggert commented on #9012
Workaround:

[code]

[2022-06-06 20:33] schomatis commented on #8694
I'll take a look tomorrow. I'm confused by this long thread which I couldn't parse in a first read and will need the OP to be updated if possible to reflect our current status. AFAICT the panic reported is not the problem, sharding also is not the problem, we still can't pinpoint this to any specific version and triggering the performance bottleneck requires GBs to be downloaded (please correct if

[2022-06-07 05:33] chawyehsu commented on #8844
I've just raised a PR #9014 to fix this issue, comments are welcome.

[2022-06-07 13:29] kallisti5 opened #9015 "IPFS pubsub: Optional integrated pubsub MQTT broker"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

MQTT is the universal standard for pubsub messages supported by a wide range of applications and devices.
It would be nice (tm) if the IPFS daemon had an optional M

[2022-06-07 14:35] schomatis commented on #8694
@BigLep I can't add any value here, sorry.

The use case is pretty involved and unless we can reproduce this without the 500-line bash script (which is very different from "I've run this `ipfs` command and it's taking too long) I don't see how we can make any progress without sinking too much time here.

[2022-06-08 03:07] Jorropo commented on #9015
I'm not sure of the value adding this feature to go-ipfs.

Wouldn't this make sense as a separate binary (either running a separated libp2p node or using the pubsub api) ?

[2022-06-08 04:43] godcong opened #9018 "Pinning is slow with s3 datastore"
### Checklist

- [X] My issue is specific & actionable.
- [X] I am not suggesting a protocol enhancement.
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my issue.

### Description

I manage my ipfs data through S3, and multiple servers share a common S3
But my index list is stored locally.
When I lose my index list, I can only reopen pin all t

[2022-06-08 19:04] Jorropo commented on #9018
@godcong I'm not sure to understand your question.

What does:

Means ?
What does it check ? (that the data is available in the datastore ? Available in the network ?)
What happen if that check fails ?
What do you hope gaining for it ?

Checking if the data exists require traversing the dag, checking before pinning would require a double traversal would be very slow.

Pin time and checking time or

[2022-06-08 22:56] lidel commented on #7746
With `?format=car` added in https://github.com/ipfs/go-ipfs/pull/8758 it should be now possible to edit [/assets/dir-index-html/src/dir-index.html](https://github.com/ipfs/go-ipfs/blob/master/assets/dir-index-html/src/dir-index.html) add "Download CAR" button that exports current dir index as CAR  –  if anyone has time to PR, ping me for review :+1:

[2022-06-09 06:30] godcong commented on #9018
@Jorropo
I use s3 to manage `block`. When a file pin is completed, these `block` are already stored in s3.
I save only `datastore` data locally.
But I found that when my server went down and I reconfigured ipfs.
I just lost the data in the datastore, the block is still intact.
But the data that had been pin completed was at the same rate as the first pin.
So, is it necessary to check if the block

[2022-06-09 06:47] Jorropo commented on #9018
We already do this, we wont redownload blocks already present.

I guess you were bottlenecked by the datastore in the first place.

[2022-06-09 09:20] godcong commented on #9018
thanks

[2022-06-09 09:20] #9018 closed

[2022-06-09 11:32] xjxloveqsl opened #9026 "memory error"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-desktop

### Version

[code]

###

[2022-06-09 12:00] lidel commented on #8783
Note to self: using status code 5XX for "not in cache" will produce errors in browser console – we struggled with this in js-ipfs around `/api/v0/dns`, we should pick 4XX.

[2022-06-09 12:08] hacdias opened #9027 "Gateway CAR Download Doesn't Respect `filename`"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-06-09 12:48] RubenKelevra commented on #8694
@schomatis I'm fine with helping out. Would a git bisect run help to see which commit introduced the issue?

[2022-06-09 12:53] RubenKelevra commented on #8694
@schomatis I'm fine with helping out. Would a git bisect run help to see which commit introduced the issue?

Btw: The bash script does basically boils down to a tight loop around
- `ipfs files stat /path/to/file`, if it doesnt exist do a
- `ipfs add /path/to file` and a
- `ipfs files cp /ipfs/$cid /path/to/file` to add the file in the MFS.

From I can see from the outside is (however this is possi

[2022-06-09 14:09] Jorropo commented on #8694
Yes certainly, there are two features we suspect to be the culprit but dont know which one precisely. (An mfd update or an ipld prime one)

[2022-06-09 15:51] #8844 closed

[2022-06-09 18:19] RubenKelevra commented on #8694
@Jorropo okay, I'll report back when I find it. :)

[2022-06-09 19:55] guseggert opened #9032 "Release v0.14"
# go-ipfs 0.14.0 Release

We're happy to announce go-ipfs 0.14.0, bla bla...

As usual, this release includes important fixes, some of which may be critical for security. Unless the fix addresses a bug being exploited in the wild, the fix will _not_ be called out in the release notes. Please make sure to update ASAP. See our [release process](https://github.com/ipfs/go-ipfs/tree/master/docs/releas

[2022-06-09 22:07] #9027 closed

[2022-06-10 14:39] #8402 closed

[2022-06-10 15:26] BigLep commented on #8585
2022-06-10 conversation: @Jorropo will do a timebox investigation to see if we can identify next steps.

[2022-06-10 15:52] lidel opened #9035 "CLI helptext cleanup into --help and --help-long"
Note from GO triage:

-  Our command descriptions are not leveraging `ShortDescription` and `LongDescription` to the fullest
  - `LongDescription` is often too long for `--help`, for example `ipfs add --help` – see https://github.com/ipfs/go-ipfs/pull/8952

## Proposed cleanup

Audit all commands and make sure each has a reasonable short and log description.

Desired UX would be:

- enhance the wa

[2022-06-10 22:39] finkbeca commented on #8696
Let me see if I have the time to do it this weekend, will follow-up then about if I'll be able to get it done, or if I should pass the torch to someone else to finish :)

[2022-06-11 13:38] Jorropo commented on #8585
@syntafin could you please send a file that doesn't have dns names resolved ?
This is harder than it need to be to parse for me.

Could I pls get a dump like this:
[code]
This will records all the packets and their content to one of the banned range and that is comming or going to the port 4001 to a dump file in `/tmp` (you can use `-w` to select where to write).
FYI, all of IPFS's traffic is encr

[2022-06-11 16:14] kallisti5 opened #9036 "Weird API endpoint design. All POST vs GET"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-06-11 16:18] kallisti5 commented on #9036
This all raises questions on why such a substantial API change didn't spawn a /v1 API endpoint. That's kinda the point of it :-)

[2022-06-11 16:26] Jorropo commented on #9036
See https://github.com/ipfs/go-ipfs/pull/7097/commits/1b490476e5517931b8d31a6636e7008771db201d

accessed by a browser abuses the IPFS API by issuing GET requests to it which
have no Origin or Referrer set, and are thus bypass CORS and CSRF protections.

---

There is no (limited) stability promises for `v < 1`.

This change sounds simple trivial fix in your code. Ok it's more work and something th

[2022-06-11 16:26] #9036 closed

[2022-06-11 22:35] kallisti5 opened #9037 "pthread_create failed: Resource temporarily unavailable"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

ipfs-update or dist.ipfs.io

### Versi

[2022-06-11 22:37] kallisti5 commented on #9037
backtrace from crash of daemon:   [ipfs.log](https://github.com/ipfs/go-ipfs/files/8884839/ipfs.log)

[2022-06-11 22:37] kallisti5 commented on #9037
pinning without "--progress", same issue.

[code]

[2022-06-12 07:34] sinkingsugar commented on #6097
Peering barely works, even after explicitly doing `swarm connect`, few seconds after they are culled away if they perform badly.
Why not just use https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/gossipsub-v1.1.md#explicit-peering-agreements behind the scenes? So many use cases, surprised about this being so fragile still 😄

[2022-06-13 11:00] Winterhuman commented on #5471
@Stebalien Now that https://github.com/ipfs/ipfs-desktop/#install lists `.deb` and `.rpm` packages, though they're listed as "experimental", should this issue be closed or does the experimental status need to taken care of first?

[2022-06-13 15:07] #8640 closed

[2022-06-13 16:01] lidel commented on #8959
IPFS Stewards voted on [names proposed here](https://github.com/ipfs/ipfs/discussions/471) to see which names make the majority happy.
We got top 3-4 selected, will make final decision later this week.

[2022-06-13 18:28] dokterbob commented on #4279
@guseggert Thanks for the update. Any news on this, by now?
Are you looking into alternative datastores?

[2022-06-13 18:42] Jorropo commented on #4279
flatfs

I want to write an LSM datastore with reflinking, but I wont work on this before #8201 is a thing.

[2022-06-13 18:55] Stebalien commented on #5471
Well, that's a release of ipfs-desktop. I assume this is a request for packaging go-ipfs directly (e.g., for servers).

[2022-06-13 19:45] Jorropo commented on #8844
We implemented something similar while still following `$EDITOR`, you should checkout the linked PR implementation.

[2022-06-13 20:05] 22jcampb commented on #8844
I did, I just have no idea what you're doing. If I did I might have tried to fix it myself. Thanks for fixing it, IPFS Desktop removed the built-in config editor and I can't seem to find the right file.

[2022-06-14 10:03] fheslouin commented on #7922
I could not find any solution, any improvements on this ?

[2022-06-14 15:49] Jorropo commented on #8585
Update, I have setupped a new server with the server profile and a capture running.
Will checkout later

[2022-06-14 16:47] lidel commented on #8959
Summary of [community proposals from discussion thread](https://github.com/ipfs/ipfs/discussions/471):

Most popular:

1. Kubo  +22 / -2
2. Aster  +15 / -1
3. Orchid  +12 / -1

Long tail
- Grail +9 / -2
- Simsa +9 / -2
- mox +10

We then [voted](https://bafybeigfmvyy2yeiz372dr74qypktzrxttl5ttp5qec6mqjbmvr7cwrgbq.ipfs.nftstorage.link/?filename=go-ipfs-name-stewards-vote.png),  and discussed results

[2022-06-14 22:08] aschmahmann commented on #8703
Basically all the insecure hash functions are already forbidden by https://github.com/ipfs/go-verifcid/blob/46876f413195d36227ee5c7d6f16e995b62f754d/validate.go#L15. The only exception here is SHA1 because at the time it was deemed valuable (and I assume insufficiently broken) https://github.com/ipfs/go-verifcid/blob/46876f413195d36227ee5c7d6f16e995b62f754d/validate.go#L30.

This means that at the

[2022-06-14 22:14] Jorropo commented on #8703
3. Rewrite or machine translate the cryptoanalytic fix in Go.

I guess it's mainly just doing arithmetic on byte buffers, this should be trivial to machine translate (and lift up manually).

[2022-06-14 22:37] aschmahmann commented on #8703
I agree it'd be nice to, but I also suspect this is something we're going to run into wanting anyway. There is so much code written with FFI that restricting ourselves from using any of it seems rough, as opposed to evaluating the code and seeing if the CGO costs are worthwhile.

Not sure how painful this is. When I was looking around at this I didn't find native implementations in any other langu

[2022-06-15 13:55] mrd0ll4r opened #9041 "v0.13.0 seems to ignore `Swarm.ConnMgr.Type == "none"`"
### Checklist

- [X] This is a bug report, not a question. Ask questions on [discuss.ipfs.io](https://discuss.ipfs.io).
- [X] I have searched on the [issue tracker](https://github.com/ipfs/go-ipfs/issues?q=is%3Aissue) for my bug.
- [X] I am running the latest [go-ipfs version](https://dist.ipfs.io/#go-ipfs) or have an issue updating.

### Installation method

built from source

### Version

[code]

[2022-06-15 21:28] lidel commented on #8959
we will be renaming go-ipfs to:

### kubo

safe choice, comes with a [suiting Japanese meaning](https://culturetour.net/japanese-last-names/kubo94):

thank you all for participating in [the discussion](https://github.com/ipfs/ipfs/discussions/471)!

[2022-06-16 06:40] RubenKelevra commented on #8870
Got an idea on that.

We don't need to store the blocks for each request on each node (gateway in this case). We can fully locally decide which blocks to keep and which not:

- We store a metric on how often blocks are used in the past in an LRU+Hitcount approach I layed out in https://github.com/ipfs/notes/issues/428. TL;DR: A number is ticking down over time, while a request on it will push the