[2018-03-14 18:00] djdv commented on #4808
I've modified the go4 lock library, I added Windows calls to flag files for deletion by the OS when they're closed, not fail immediately when a lock file exists, but I'm having trouble blocking on successive lock attempts after that. I'm using this the [LockFileEx](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365203(v=vs.85).aspx) systemcall with flags LOCKFILE_EXCLUSIVE_LOCK and wit

[2018-03-14 18:30] gouravrattihalli opened #4814 "Unable to setup private IPFS"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type: Bug

#### Description:

Hi,

I'm trying to setup private IPFS. I have performed the following steps:

1.  ipfs init
2.  ipfs bootstrap rm --all
3.  ipfs bootstrap add /ip4/ip addr/tcp/4001/peer ID(got from ipfs id)
4.  generated swarm.key using the key generator
5.  ip

[2018-03-14 18:47] Kubuxu commented on #4814
WebUI is downloaded from global network, start up daemon normally once (without private network) access WebUI and then enable private network. You need to do it just once in private network. It would be good idea to also pin it.

[2018-03-14 18:50] Stebalien commented on #4808
@djdv and I chatted over IRC. We've agreed to:

1. Match what happens on linux and *not* block, just fail. However, @djdv's still going to fix the lock library to automatically clean up the lock file on close.
2. Handle the pipe issue separately.

[2018-03-14 18:55] gouravrattihalli commented on #4814
How would I enable private network?, I tried to remove all nodes from bootstrap, and then add swarm.key, but the webui still shows up a lot of connections.

[2018-03-14 19:06] Kubuxu commented on #4814
You can set `LIBP2P_FORCE_PNET=1` to stop launch without PNET. Did you restart the daemon?

[2018-03-14 19:09] Kubuxu commented on #4055
@schomatis it was rare, usually daemon takes a sweet time to shut down and this happens only if it shuts down too fast. You can try running `ipfs daemon --offline` so it shuts down faster.

[2018-03-14 19:15] gouravrattihalli commented on #4814
Awesome, the webui is working and shows 0 nodes connected. Now to add more nodes to my IPFS I have to add the nodes in the bootstrap (this is done on both the nodes, initial and the new node to be added?)

[2018-03-14 19:19] Kubuxu commented on #4814
You have to do it on at least one node, possibly the one that will will go down more frequently or both.

For further support questions please use https://discuss.ipfs.io

[2018-03-14 19:24] gouravrattihalli commented on #4814
Awesome, thanks for the support, my nodes are now connected.

[2018-03-14 19:25] #4814 closed

[2018-03-14 20:19] lockedshadow opened #4815 "Get status of currently (re)publishing IPNS names"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: 386/linux
Golang version: go1.9.2

#### Type:
Enhancement

#### Area:
Commands

#### Description:
I use IPNS for publish updates of some... mutable resource. But sometimes, when my IPFS daemon are terminated unexpectedly (e.g. due to OOM killer, which happens pretty often for me), it seems like no longer republishin

[2018-03-14 20:28] djdv commented on #4808
Lock reference: https://github.com/camlistore/go4/pull/31

[2018-03-15 10:26] dokterbob commented on #4580
@schomatis I would really love the `ls -l` as this is closest to the currently existing functionality - but `ipfs files stat` would be sufficient as well (the advantage being that `ls -l` saves an additional request in case it's a directory.

[2018-03-15 12:11] Kubuxu opened #4818 "0.4.14-rcX fails js-ipfs-api test suite"
Reference https://github.com/ipfs/js-ipfs-api/issues/486#issuecomment-373332236

Test output: https://friendpaste.com/72TbssZSoSxmdOpKxT67je

[2018-03-15 12:33] Kubuxu commented on #4763
Some thoughts:

I think that having pins under MFS (files api) would be very nice feature. This would get us sharding for free, help with pin exploration and gets us the names.
We can significantly reduce complexity of GC by removing direct pins and allowing either to allow pinned items to be pinned strongly or weakly (all content must be here vs keep whatever we have). This would allow for implem

[2018-03-15 16:03] magik6k commented on #4818
I've done few more runs:

On 0.4.13:
* https://hastebin.com/pixokuqaxi.vbs

On 0.4.14-rc2
* https://hastebin.com/sesacejiye.vbs
* https://hastebin.com/omuhesuwip.vbs
* https://hastebin.com/molexizoji.vbs

[2018-03-15 16:38] Kubuxu commented on #4818
@VictorBjelkholm @diasdavid could we get some help interpreting these.

I see that there are some that are false positive lookalike. Like the `[]` vs `[null]`.

[2018-03-15 16:39] magik6k commented on #4818
Changes I see:
* `bitswap/wantlist` now returns `{"Keys":[]}` instead of `{"Keys":null}` for empty wantlist
* `files/stat` fail is caused by changes in https://github.com/ipfs/js-ipfs-api/pull/695 and slightly wrong testcase. on 0.4.14-rc2 `files/stat` returns:
[code]

and with --with-local:
[code]
* Not sure about DHT fails, it happened on 0.4.13 too
* `pubsub/sub` returned an empty object (`{}`)

[2018-03-15 16:43] diasdavid commented on #4818
Try with https://github.com/ipfs/js-ipfs-api/releases/tag/v18.1.2 test suite. Currently js-ipfs-api Master is in flux due to many Windows + other fixes that were happening in parallel and complicating things, next week it will be golden again.

[2018-03-15 17:14] magik6k commented on #4818
Tried with js-ipfs-api 18.1.2 + go-ipfs 0.4.14-rc2, fails mostly in the same ways as the master: https://hastebin.com/gigiforudu.vbs

[2018-03-15 17:34] whyrusleeping commented on #4818
@VictorBjelkholm can we get some automated CI for running js-ipfs-api tests?

[2018-03-15 18:39] magik6k commented on #4818
For 0.4.13 / js-api 18.1.2 there is only a single test failing, prorbaly a random fail: https://hastebin.com/eticutoyal.vbs

[2018-03-15 19:29] magik6k commented on #4818
I tried to find a difference between files/stat on 0.4.13 and 0.4.14-rc2:

0.4.14-rc2:
[code]

go-ipfs/0.4.13:
[code]

The only difference is the removed `Connection: close`, so one explanation I have for it is that it may cause problems with keep-alive on js-ipfs-api side.

[2018-03-16 00:05] VictorBjelkholm commented on #4818
Looked into the test failures from js-ipfs-api v18.1.2 with go-ipfs 0.4.14-rc2

- bitswap wantlist changes: from `Keys: null` to `Keys: []`, easily fixed and would be on js-ipfs-api side. I recommend to note this as a breaking change in the release notes in case libs are assuming `null` instead of `[]`.
- files.stat somehow weird values
  - go-ipfs cli works fine
  - go-ipfs http api works fine

[2018-03-16 01:55] pedroliveira95 commented on #4240
If you're only interested in the IPFS daemon [](https://github.com/ipfs/specs/tree/master/keystore,), Author[s]: @whyrusleeping.

From a quick look into it, also never used Go-Lang, so maybe some errors:

I can see they use RSA, EC(curve=Ed25519),EC(curve=Secp256k1), check var:KeyTypes, source:key.go file.

Doing a verify or sign search in the repository, you can find test code function:testKeySig

[2018-03-16 03:05] Stebalien commented on #4240
@AndreaCensi

Sorry, I missed your response. We actually use protobufs to store them (the protobufs are in the `pb` folder in that directory). Most commonly used languages have protobuf libraries.

When actually serializing the keys into the Data field of the protobuf, we do so as follows:

* Ed25519: We concatenate the private key with the public key. Unfortunately, I don't know the actual format

[2018-03-16 03:09] schomatis opened #4820 "Canceling an add operation causes a panic in the datastore (no data loss)"
Canceling (with `Ctrl-C`) an operation to add content using the `badger` datastore sometimes results in a panic inside the `badger` code, without losing the already added files.

This seems to be caused because the database is closed (setting its [`mt`](https://github.com/dgraph-io/badger/blob/8b89769ed71e56cf7f80abdcfd3576efc97bd412/db.go#L353) value to `nil`) while in another goroutine blocks ar

[2018-03-16 03:42] HanawaBanana opened #4821 "Question：Why the hash values of go-ipfs is different from the hash values of go-cid?"
I found the Cid of go-ipfs return is different from go-cid, I doubt it maybe do other things for data source.
There are my code and result.
[code]

If anyone give advices, thanks a lot!

[2018-03-16 09:07] Kubuxu commented on #4818
The `X-Chunked-Output: 1` is a new header for some commands.

It is introduced in `go-ipfs-cmds` here:
https://github.com/ipfs/go-ipfs-cmds/blob/13acd1ab00ea043c3b202e1eb0fca2dec1a34a34/http/responseemitter.go#L207-L212

It is controlled by https://github.com/ipfs/go-ipfs-cmds/blob/master/responseemitter.go#L10-L14 and our mistake is not using EmitOnce or `Emit(Single{var}` for emitting single val

[2018-03-16 09:30] Kubuxu commented on #4821
go-ipfs adds some wrapping and additional data to the file. A the `Codec` name suggests it is Protobuf based.

In case of small files (less than 256KB) you can use `Codec: cid.Raw`, `Version: 1`and `--raw-leaves` option in command line to get the same hash.

In future for questions not directly related to bugs, features or problems with go-ipfs itself please use https://discuss.ipfs.io

[2018-03-16 09:30] #4821 closed

[2018-03-16 10:03] VictorBjelkholm commented on #4818
@Kubuxu thanks, I can confirm that 59178057a2d8ed5e01f24578481b8ba92ed9c0ac does indeed fix the files.stat calls in js-ipfs-api and got the tests to pass with that commit applied.

Will continue looking into the pubsub issues now.

[2018-03-16 11:28] VictorBjelkholm commented on #4818
Regarding pubsub, this is what I see when testing `pubsub ls` with `0.4.14-rc2-59178057a` so I'm guessing the test failures are expected.

[code]

[2018-03-16 12:15] djdv commented on #4247
I agree that it would be nice to use IPFS as the first choice where possible.
However, since the functionality to download over HTTP already exists, I feel like it should be kept as a backup solution and used conditionally, prioritize IPFS itself first and fallback to HTTP when appropriate.
Maybe we could count peers, providers, or some other metric and fallback there if we encounter IPFS problems

[2018-03-16 12:28] HanawaBanana commented on #4821
where are the specifics of how the current default behavior of ipfs add -n is implemented ?

[2018-03-16 13:06] Kubuxu commented on #4247
Nodes on my networks don't really work unless configured for releay due to weird CG-NAT. I have to configure them properly. I might setup a notebook with remote access for someone to test it out if I don't find time to fix it in go-ipfs itself.

[2018-03-16 13:17] Kubuxu commented on #4580
As a note, `ipfs ls ` mirrors the `ls` unix command. The directory size in `ls` is size of directory inode and not the size of

[2018-03-16 13:19] Kubuxu commented on #4722
I think it was done on purpose, we want to have links instead of CIDs but we can't change old APIs.

[2018-03-16 13:29] Kubuxu commented on #4818
Fixed `pubsub ls` in https://github.com/ipfs/go-ipfs/pull/4822/commits/42d1aa5bf746ffed715d132f8776b46d11869c42
It was broken by cmds refactor when the output format was changed.

[2018-03-16 14:15] djdv opened #4823 "panic in handler"
682b263f3a54ffa36409422d922e80adead87e0c

~~I'm not sure what triggered this, it may have been when opening a hash via the gateway.~~ I'm guessing `/core/commands/publish.go:96` is the problem point causing an out of range but it could be elsewhere here.

[code]

[2018-03-16 14:38] schomatis commented on #4580
@Kubuxu Thanks for the clarification, so what would be the closest to a directory inode size here? As mentioned before `Filesize` doesn't seem to be set for directories, one possibility is to just print the size of the underlying [`ProtoNode`](https://github.com/ipfs/go-ipfs/blob/682b263f3a54ffa36409422d922e80adead87e0c/core/commands/unixfs/ls.go#L117) that represents the directory, WDYT?

[2018-03-16 14:44] VictorBjelkholm commented on #4818
So with @Kubuxu's fixes, I've been able to get green tests for node tests on js-ipfs-api. This is the only change required on js-ipfs-api's side: https://github.com/ipfs/js-ipfs-api/pull/718

Currently running browser+webworker tests, but should be fine.

[code]

[2018-03-16 14:49] Kubuxu commented on #4580
There are three options: 1. nothing 2. underlying node 3. resolve file nodes and sum their `CumulativeSize`s. 1 and 2 seem optimal for me in case of `ipfs ls` command.

[2018-03-16 14:50] schomatis commented on #4580
@Kubuxu Well, number 1 is what started this issue in the first place, so I'll go with number 2, thanks.

[2018-03-16 15:13] VictorBjelkholm commented on #4818
So, seems like the tests are all passing with 90017e9da and ipfs/js-ipfs-api#718, even in the browser and webworker.

Great work @Kubuxu for quick fixes and @magik6k for debugging awesomeness! :+1:

[2018-03-16 17:10] Stebalien commented on #4823
Damn... I know what's happening. See: https://github.com/ipfs/go-ipfs-cmds/issues/58.

[2018-03-16 18:06] schomatis opened #4824 "[badger] GC: Data may remain (up to 1GB) after garbage collecting everything"
Regarding a future transition to Badger, its garbage collection process [bails out](https://github.com/dgraph-io/badger/blob/8b89769ed71e56cf7f80abdcfd3576efc97bd412/value.go#L891-L892) in the case there is only one value log file, and by default the size of a value log file is set to [1GB](https://github.com/ipfs/go-ipfs/blob/52301ce84121c1446de71b698219656189f12b2e/repo/fsrepo/datastores.go#L374

[2018-03-16 18:19] schomatis commented on #4824
As a simple PoC,

[code]

(compare with running the same commands without `--profile=badgerds`.)

[2018-03-16 19:28] schomatis commented on #4824
Opened issue dgraph-io/badger#442 to track the minimum value log file size allowed as a possible workaround for the user who wishes to minimize the used disk space after garbage collection.

[2018-03-16 20:50] dokterbob commented on #4580
That case I would suggest going for 2 AND documenting it too!

In a sense undefined behavior is part of the problem here.

HOWEVER, currently it displays the cumulative size for subdirectories AFAIK. Wouldn't it then make sense to do the same for the directory itself? (As in, recursive consistency.)

In any case, the cumulative size seems more practically useful to me; I find it hard to imagine a

[2018-03-16 21:44] singpolyma commented on #4788
Hmm... it's also possibly a security issue, since anyone could get content to "show up under your domain". But I'd really like to be able to link to ipfs content using just `href="/ipfs/Qm..."`

[2018-03-16 21:46] Stebalien commented on #4823
So, looking into this, I don't think we really *can* fix these bugs properly due to https://github.com/ipfs/go-ipfs-cmds/issues/77.

[2018-03-17 00:35] whyrusleeping commented on #4823
@djdv is it possible you were messing around with enabling stdin support on windows when this happened? I can see how this might happen if that were the case.

[2018-03-17 01:58] djdv commented on #4823
@whyrusleeping
Nailed it.
I can instigate this by doing `ipfs object get` followed by Ctrl-C to cancel/kill while it's waiting for stdin, this incites panic in the daemon and prints this on the console that initiated the request:
`Post http://127.0.0.1:5001/api/v0/object/get?encoding=json&stream-channels=true: context canceled`

Despite being the master branch I must have built it with the `go-ipf

[2018-03-17 03:06] whyrusleeping commented on #4823
@djdv no worries, its still an issue. We can reproduce this on linux by running `ipfs name publish` then pressing ctrl+d

The fix is going to be pretty annoying, but we're working on it.

[2018-03-17 03:10] whyrusleeping commented on #4820
@schomatis Good find!

[2018-03-17 03:24] Stebalien commented on #4823
This can still be triggered on master by running `ipfs name publish` and hitting `^D`.

[2018-03-17 17:58] magik6k commented on #4820
There might be a fix for this already in https://github.com/dgraph-io/badger/pull/437

[2018-03-17 18:15] Stebalien commented on #4823
I'll make a PR to fix this once #4825 and #4826 have been merged (the "delete dead code commit" allows me to avoid updating that dead code).

[2018-03-17 20:27] Stebalien commented on #4247
Fair enough (although we should *eventually* try to make this work).

Can they not even establish outbound connections? That's all that's needed in this case (connect to one of our nodes, fetch the migration over bitswap).

[2018-03-17 21:02] Kubuxu commented on #4247
No always if reuseport is enabled.

[2018-03-17 21:07] Stebalien commented on #4247
Ah. I forgot about that issue... (https://github.com/libp2p/go-tcp-transport/issues/18). We really should find a nice way to fix that.

[2018-03-18 01:47] fusir opened #4828 "Make ipfs add slower or a seperate process"
So the issue I'm having relates running a small video site.  The problem comes when I want to add a video.  The daemon runs full tilt and interupts the ability to serve content to the gateway and others.

So the issue is I want to slow down the addition of the file.  There is no rush.  If I cgroup the `ipfs add` so that it can only run at 80% cpu it does nothing because it is the `ipfs daemon` tha

[2018-03-18 04:18] Stebalien commented on #4828
I agree that an option to do this would be useful but, if you want to do it *now*, you can limit the rate at which the file is read in by using a tool like `pv`. That is, you can add the file by running:

[code]

(ideally, we'd have some form of QoS in the daemon but that's tricker)

[2018-03-18 12:33] leerspace commented on #4824
I might be mistaken, but I don't think that badger's GC is triggered yet during IPFS' GC: #4300. Or, at least it doesn't seem to be yet on 0.4.14-rc2.

[2018-03-18 23:34] Stebalien opened #4831 "RFC: Check-in dependencies using non-gx paths"
Currently, we check-in dependencies using gx paths. As far as I know, we do this to prevent users from running `go get github.com/ipfs/go-ipfs` and then complaining when the resulting binary doesn't work.

Unfortunately, leaving files in this rewritten state makes rebasing, merging, and reviewing painful. A simple dependency update tends to change a bunch of unrelated files. Worse, we occasionally

[2018-03-19 00:55] Stebalien commented on #4828
Actually, I'm guessing your problem isn't adding, it's telling the network that you've added the file. I'd try adding files with `ipfs add --local` and manually announcing the pieces to the network:

[code]

Note: This will probably take a while. If you want, you may be able to get away with only announcing the root hash (`$HASH`).

[2018-03-19 05:19] #4823 closed

[2018-03-19 06:45] Kubuxu commented on #4828
To replicate what add does, one would probably use `refs -r ` there.

[2018-03-19 10:01] Stebalien opened #4837 "--help is broken for commands that require an argument that can be read from stdin"
Unfortunately, we try to read the argument from stdin *before* parsing the help flag. To reproduce, run `ipfs dht provide --help`.

[2018-03-19 14:41] djdv commented on #1879
The estimated remaining time for `add` seems to be accurate on Windows now.

[2018-03-19 14:41] #1879 closed

[2018-03-19 15:28] djdv commented on #2552
I'm closing this due to age. The listed hash doesn't seem to be available anymore so I can't test it specifically, but `get` in general should be working on Windows right now.

[2018-03-19 15:28] #2552 closed

[2018-03-19 15:54] kvm2116 opened #4838 "question: Why is single file transfer so slow"
#### Version information:

go-ipfs version: 0.4.14-rc2-4bdbe1a
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

#### Type:

#### Description:

I have setup a private network of 2 nodes (following the steps mentioned here: https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#private-networks).
I am sending a directory from one node to the other node.
I measu

[2018-03-19 17:30] whyrusleeping commented on #4837
:(

[2018-03-19 18:20] kvm2116 commented on #4588
Is there any update here? Has anyone been able to fix the duplicate blocks issue?
I am building an application on top of IPFS and I am running into the duplicate blocks issue (leading to poor performance for the application).

If this issue has been fixed, where should I download it?
If not, how can I contribute?

[2018-03-19 19:12] schomatis commented on #4824
@leerspace Thanks for pointing me to that PR which gave me more context on the matter. Badger's GC is now linked to IPFS GC through #4578 where [`vlogFileSize`](https://github.com/ipfs/go-ipfs/pull/4578#issuecomment-362253033) is set to 1 GB. I'm attaching a more detailed script where it can be seen that the number of value log files are never reduced to zero (GC doesn't act when there is only one

[2018-03-19 19:27] schomatis commented on #4820
As [discussed](https://github.com/dgraph-io/badger/pull/437#issuecomment-374188854) in dgraph-io/badger#437, that PR partially addressed the issue here.

The main problem seems to be that IPFS is closing a DB which it is still operating on when the command is canceled. I would like to find out the goroutines program flow that lead to this situation, any pointers will be very appreciated.

[2018-03-19 20:00] djdv commented on #4837
Would it be crazy to have some type of alias like `ipfs help dht provide`?
I'm not proposing that as a solution, but in addition to --help, like `git` has.

[2018-03-19 20:11] kvm2116 commented on #4312
Any estimate on when we expect Bitswap sessions to be implemented?
How can I contribute to speed it along?

[2018-03-19 20:20] djdv commented on #2115
Closing this due to age, things are better now.

[2018-03-19 20:20] #2115 closed

[2018-03-19 21:31] Cole128 opened #4839 "Context Canceled Error on large directory"
#### Version information:
Version 0.4.13

#### Type:
Bug

#### Description:
I am uploading a very large directory to ipfs, around 69 gb, and encountered an error when uploading it. My ipfs repo is set to 100 gb of space, and although I am pinning other content, I definitely have enough space on the disk and in the repo. When uploading this directory, it uploaded for a little bit, then I got this e

[2018-03-19 21:56] whyrusleeping commented on #4831
Correct

That should work, i'm okay with this. We can probably figure out a nice way to provide a useful error message too.

[2018-03-19 22:32] whyrusleeping commented on #4312
@kvm2116 the initial bitswap sessions code has been implemented, and is in use by `ipfs pin add`. It improves transfers pretty nicely, but doesnt currently do scheduling of asks between multiple peers.

The next thing we need to do is to add a coalescing layer around the DHT. We did a test run of making the http gateway use bitswap sessions, and it pegged the DHT with requests (sessions 'more corr

[2018-03-19 22:40] whyrusleeping commented on #4820
@schomatis thanks for investigating.

Ipfs add spins off this goroutine here: https://github.com/ipfs/go-ipfs/blob/master/core/commands/add.go#L330

And when you send a ctrl+c, it invokes these handlers: https://github.com/ipfs/go-ipfs/blob/master/cmd/ipfs/main.go#L391

Cancelling that context cancels the entire programs context tree, which triggers a shutdown of the core.IpfsNode, eventually reac

[2018-03-19 23:54] Stebalien commented on #4839
We'll hopefully be releasing 0.4.14 in a few days and that may fix your oom-kill bug.

[2018-03-20 00:28] Stebalien opened #4841 "[meta] better sharness coverage"
This list is a work in progress. Suggestions appreciated.

## General

For all commands, we should:

* Check that `--help` works.
* Check that bad flags are correctly detected.

## CID formatting

For all commands that have CID formatting options (add, block put, dag put, etc.), we check that:

* `--mhtype=notSha256 --cid-version=0` fails (`--cid-version=0` is sometimes written as `--format=v0`).

[2018-03-20 00:29] Cole128 commented on #4839
@Stebalien Isn't 0.4.14 already released? Or does release candidate mean you're just testing it out. Either way it's good to know you guys know about the issue. Stopping OOM killer for that process wasn't such a big deal, but it's harsh for noobs, and was a little bit worrying, as the kernel was stopping it for a reason. Glad to hear it will be/is fixed!

[2018-03-20 00:29] #4839 closed

[2018-03-20 00:31] whyrusleeping commented on #4841
Hey @chriscool, wanna help us out a bit?

[2018-03-20 00:50] Stebalien commented on #4839
We're working through some last minute regressions. I can't guarantee your issue will have been fixed, but we fixed a bunch of (temporary) memory leaks around adding large directories so I'm guessing it will be.

[2018-03-20 06:00] chriscool commented on #4841
@whyrusleeping Yeah sure I will take a look at this later today.

[2018-03-20 11:23] MichaelMure opened #4842 "default-networking profile doesn't restore bootstrap nodes"
#### Version information:
go-ipfs version: 0.4.14-rc2-
Repo version: 6
System version: amd64/linux
Golang version: go1.10rc2

#### Type:
Bug

#### Description:
The `test` profile remove all bootstrap node configuration. the `default-networking` is supposed to invert the `test` profile but fail to restore the boostrap config.

[2018-03-20 11:27] MichaelMure opened #4843 "some profile are missing in the ipfs init command documentation"
#### Version information:
go-ipfs version: 0.4.14-rc2-
Repo version: 6
System version: amd64/linux
Golang version: go1.10rc2

#### Type:
Bug

#### Description:
`ipfs init --help` list only 2 profiles (server and test) while more actually exist (https://github.com/ipfs/go-ipfs/pull/4195/files#diff-d39a8a737bc5c13f36e41aa92a0c7602). Ideally, this documentation would be generated to be always up to d

[2018-03-20 12:00] Kubuxu commented on #4843
We should probably list them in some help text of the `ipfs config profile` command and refer to that in `ipfs init` help.

[2018-03-20 12:03] Kubuxu commented on #4839
@Cole128 please try out the RC, you can download it from here: https://dist.ipfs.io/go-ipfs/v0.4.14-rc2

[2018-03-20 12:24] Cole128 commented on #4839
Thanks. This my server though, I don't want to break anything. The rc should be stable enough though right?

Cole Anthony Capilongo
colecmac@protonmail.com

Sent from ProtonMail mobile

-------- Original Message --------
On Mar 20, 2018, 8:03 AM, Jakub Sztandera wrote:

[2018-03-20 12:26] magik6k commented on #4312
Part of this (https://github.com/ipfs/go-ipfs/pull/4333) is done and we wanted to merge it in 0.4.15,  I'll rebase it after 0.4.14 releases.

[2018-03-20 12:34] Kubuxu commented on #4839
@Cole128 yes, we are running it already. Most bugs in recent RCs were due to API compatibility, currently we are fixing: https://github.com/ipfs/go-ipfs/issues/4837. We didn't find anything that could be really problematic.

[2018-03-20 12:40] Cole128 commented on #4839
Ok, thanks.

Cole Anthony Capilongo
colecmac@protonmail.com

Sent from ProtonMail mobile

-------- Original Message --------
On Mar 20, 2018, 8:34 AM, Jakub Sztandera wrote:

[2018-03-20 16:00] kvm2116 commented on #4378
I would like to work on improving the performance of bitswap. I did a simple directory transfer between 2 nodes in a private network and found rsync (7 seconds) did much better(more than factor of 2x) than ipfs (16 seconds) #4838

@whyrusleeping do you think the performance improvement suggestions still hold good? Any low hanging fruits that I could start working on right away?

[2018-03-20 16:32] #4837 closed

[2018-03-20 16:55] whyrusleeping commented on #4378
@kvm2116 most of these still hold, yes. I would first try making sure you use the new datastore badgerds on your ipfs nodes for benchmarking performance, it will likely change your results a bit. You can set this up by `ipfs init --profile=badgerds`.

If you do start hacking on some of these perf issues, I would ask that you please try to make your changes as small and clean and incremental as pos

[2018-03-20 17:23] schomatis opened #4847 "[badger] Badger retains ownership of retrieved value buffers"
Badger's [`Value`](https://github.com/dgraph-io/badger/blob/8b89769ed71e56cf7f80abdcfd3576efc97bd412/iterator.go#L87-L97) used to obtain the buffer with the content of a `Get` query indicates that the buffer's content is valid only within the domain of the transaction where the query was performed. This causes IPFS to (correctly) [`copy`](https://github.com/ipfs/go-ds-badger/blob/master/datastore.

[2018-03-20 19:27] kevina commented on #4766
@whyrusleeping I would like to go ahead and write this.  I am thinking if the migration tool finds invalid Cid's and stores them in a file in the repo (and possible list then to stdout if there are not too many).  (I want to store the list somewhere because it is very easy to lose the output of the migration command.)
It then instructs the user to remove them somehow.  It will suggest command to r

[2018-03-20 19:53] chriscool commented on #4841
@Stebalien about all commands accepting `--help`, there is such a test already:

https://github.com/ipfs/go-ipfs/blob/master/test/sharness/t0010-basic-commands.sh#L64-L75

[2018-03-20 20:08] magik6k commented on #4776
The message originates from https://github.com/ipfs/go-ipfs/blob/master/core/core.go#L749.

* Can you check what is in `C:\Users\Abc\.ipfs` (list of files/directories you should see: https://gist.github.com/magik6k/78efdf4e09d16414aaa0d7d2fb79c51f)?
* Which Windows version do you use?
* Is there anything 'unusual' about your setup that might be related

[2018-03-20 20:20] Stebalien commented on #4841
Ah, nice! However, we need to *not* pipe `/dev/null` to stdin. See #4837.

[2018-03-20 20:43] chriscool commented on #4841
@Stebalien do you mean that there should be the same tests with `echo stuff | $cmd --help </dev/null >/dev/null`?

[2018-03-20 20:57] Stebalien commented on #4841
Both might actually be a good idea.

[2018-03-20 21:00] kevina commented on #4841
I would add:
 - `--cid-version=1` enabled raw-leaves by default when applicable

[2018-03-20 21:06] chriscool commented on #4841
@Stebalien please take a look at:

https://github.com/ipfs/go-ipfs/pull/4849
https://github.com/ipfs/go-ipfs/pull/4848

[2018-03-20 21:25] Stebalien commented on #4666
I'm not really comfortable with this as it implies that IPFS is somehow the "correct" namespace. Maybe rename the function to `IpfsPath(cid)` or `NewPath(ns string, cid *cid.Cid)`?

I'd almost just go with the "pass strings" option. For MFS, paths really are just strings. Internally, the files API would parse the string into a path and do any necessary resolution.

Personally, I'd have liked to ha

[2018-03-20 21:30] Stebalien commented on #4055
It's still happening.

[2018-03-20 21:33] schomatis commented on #4055
I'll take a look using @Kubuxu's advice.

[2018-03-20 21:35] kevina commented on #4831
I am okay with this but can see several possible complications.  Here is a laundry list of things I thought of:

1. I agree that we should build in a temporary directory however:
   1. I regular build with just 'go build' when actively editing files to catch obvious errors as the dependency fetching add time and more importantly unwanted output.  By building in a temporary directory a simple `go b

[2018-03-20 22:05] Kubuxu commented on #4831
That is true, it will also probably mess with people's completion or IDEs. I love the idea but we need to be careful.

[2018-03-20 22:16] magik6k commented on #4831
Another way to approach this would be to add pre/post commit hooks to do the (un)rewriting as needed.

[2018-03-20 22:27] kevina commented on #4831
I as a general rule do not like commit hooks that modify files in place.  I have a commit hook that checks for "go fmt" but it doesn't do it, it instead refuses to commit and tells me how to correct the situation.

Now if there was a way to do the rewriting without touching the files than I am all for it.

[2018-03-20 22:44] Stebalien commented on #4831
@magik6k unfortunately, that would cause trouble with, e.g., `git status` and `git diff` (and `git add` etc...).

---

@kevina

It's just a dependency where the version on github is broken but the version in gx works. From the perspective of GX, it'll look like a regular dependency.

You'd be able to use gx-link as we do today. Alternatively, you could remove the poison file and build with go-buil

[2018-03-21 01:38] fjqdxq opened #4851 "install from source"
when I compile the source code, I have the following problem:
ERROR: Error: strconv.Atoi: parsing "it:": invalid syntax
ERROR: req-check hook failed: exit status 1
mk/gx.mk:4: recipe for target 'gx-deps' failed

how I can fix it, thanks!

[2018-03-21 02:29] fjqdxq commented on #4851
@Stebalien
 go1.9.4 and it's environment as :
GOROOT=/usr/local/go
 GOPATH=$HOME/go

[2018-03-21 02:37] Stebalien commented on #4851
Did you compile gx-go with go-git? Are you building the latest master of go-ipfs?

[2018-03-21 02:42] whyrusleeping commented on #4847
I think the right way forward with this is to change the datastore interfaces to allow the caller to operate on the data within a closure. This way we could unmarshal our objects directly from the underlying buffer, instead of making a copy that we only use to call unmarshal with.

That aside, I'm curious to see what the cpu usage between badger and flatfs would be for similar operations. I'm thin

[2018-03-21 06:13] fjqdxq commented on #4851
@Stebalien
no , I follow these steps:
$ go get -u -d github.com/ipfs/go-ipfs

$ cd $GOPATH/src/github.com/ipfs/go-ipfs
$ make install

[2018-03-21 06:15] fjqdxq commented on #4851
@Stebalien
and I sure build the latest go-ipfs

[2018-03-21 06:25] S3bb1 commented on #4794
Seems that 0.4.14 fixed the Problem ... no errrors since 12 days. I will close the issue and reopen it when it occurs, thanks for your help

[2018-03-21 06:25] #4794 closed

[2018-03-21 06:57] richardschneider opened #4852 "Invalid JSON response"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2
#### Type: **BUG**

#### Description:
The JSON response from `POST http://localhost:5001/api/v0/add?wrap-with-directory=true` is invalid JSON.  It should be an array **NOT** two JSON objects.

*Actual response*
[code]

*Expected response*
[code]

[2018-03-21 08:00] Stebalien commented on #4852
That's actually expected. The result is sent as a [JSON stream](https://en.wikipedia.org/wiki/JSON_streaming). Otherwise, we'd have to send the result back all at once which would be problematic for, e.g., monitoring progress.

[2018-03-21 08:00] #4852 closed

[2018-03-21 08:19] richardschneider commented on #4852
There are four types of JSON streams.  Which one is GO IPFS using?

[2018-03-21 08:25] richardschneider commented on #4852
Perhaps some documentation would help implementators.  What other APIs use JSON stream?

[2018-03-21 08:46] richardschneider commented on #4852
Also note that `--progress` was not set, so a caller would only expect one response that contains the "wrapped directory" information not a list/stream of nodes.

@Stebalien I think this should be re-opened.

[2018-03-21 09:16] zoeleesss opened #4853 "Cannot access localhost pages including WebUI"
#### Version information:
go-ipfs version: 0.4.13-cc01b7f
Repo version: 6
System version: amd64/darwin
Golang version: go1.9.2
OS: MacOS 10.12.6

#### Type:
Cannot access localhost:5001 and localhost:8080 via browser.
I tried in Chrome. Didn't work.

#### Description:
e.g.
http://localhost:5001/api/v0/version , http://127.0.0.1:8080/ipfs/QmU4wiEy1rEJtQFAEfmH5amxN8fMubhzs76xaPVUj78e3z ,
http://loca

[2018-03-21 09:56] Kubuxu commented on #4852
@richardschneider as far as I know we use NDJSON. In case of add command all filtering is done on the side of the client.

[2018-03-21 10:27] Kubuxu commented on #4847
As far as I know the reason they do that is because the data you get is not copied, it is a slice backed by mmap of a segment of a file. They don't mmap whole files, nor all of them. After the closure is done they can change the mapping to different segment or file.

[2018-03-21 12:20] djdv commented on #4808
Making an effort to deal with file system restrictions:
https://github.com/ipfs/go-ipfs/pull/4850

[2018-03-21 14:03] Marwen94 opened #4854 "IPFS swarm peers is "empty" and Webui not found on windows."
**Version**
IPFS 0.4.13

**Type**
 bug ( not sure )

**Description**

I'm runing IPFS on Windows 10.

`ipfs daemon` is working fin. The problem is `ipfs swarm peers` is empty and I can not reach webui.
I get this message in my browser  :

I have some ipfs bootstrap, when I try `ipfs swarm connect <bootstrap address>` I have this error :

In the other hand, I can connect in a local IPFS network wit

[2018-03-21 15:10] fjqdxq commented on #4851
@Stebalien
all things good, but I can not fetch the file

 [get ] [fetch]   go-log                        QmRb5jh8z2E8hMGN2tkvs1yHynUanqnZ3UeKwgN1i9P1F8
[0 / 194] 134sERROR: from shell.Get(): Post https://ipfs.io/api/v0/get?arg=QmRb5jh8z2E8hMGN2tkvs1yHynUanqnZ3UeKwgN1i9P1F8&encoding=json&stream-channels=true: dial tcp 174.37.175.229:443: getsockopt: connection timed out
......
what I should do? th

[2018-03-21 15:47] schomatis commented on #4847
@Kubuxu Thanks for pointing me to `mmap`. What I was seeing as a CPU intensive memory copy was actually the kernel reading the file and loading those memory pages *during* the copy operation, the `pprof` statistics pointed to the `VMOVDQU (SI), Y0` instruction (and related) in charge of loading the source memory as the most expensive ones and `pprof` doesn't have a way to know that it is actually

[2018-03-21 16:02] vyzo commented on #4847
I think @whyrusleeping's suggestion is the right way to approach the problem.
Why make a copy if we are only going to unmarhsal data out of it? Better to just pass a closure to operate on the buffer directly.

[2018-03-21 17:14] schomatis commented on #4847
Yes, from what I'm seeing in the `PBNode.Unmarshal` function a [new array](https://github.com/ipfs/go-ipfs/blob/e77033cb513bed8d34d94c76b89c7875442bf5c2/merkledag/pb/merkledag.pb.go#L267) is being created for the extracted data so there would be a buffer isolation (making the previous copy unnecessary), and I'm assuming all the `protobuf` family of unmarshalers work the same. Still I would like to

[2018-03-21 17:20] whyrusleeping commented on #4847
@schomatis Yeah, i've been wanting to do a refactor for a while to make this better: https://github.com/ipfs/go-datastore/issues/64

[2018-03-21 17:24] Stebalien commented on #4847
This is true *unless* badger closes the underlying file. We should check this.

[2018-03-21 17:26] schomatis commented on #4847
Yes, I'm raising an issue in Badger to check with them and discuss this further.

[2018-03-21 18:07] DeepakkumarArumugam opened #4858 "IPFS fails to publish name in online mode but works in offline mode- v0.4.13"
#### Version information:
IPFS - 0.4.13
fs-Repo - 6
go - go version go1.10 darwin/amd64
Os - mac sierra v10.12.6

#### Type: Bug (Not sure)

#### Description:
 @whyrusleeping  - IPFS fails to publish name in online mode with no connected peers but publishes in offline mode.

[2018-03-21 18:10] Stebalien commented on #4854
So, your webui issues are due to the fact that you can't connect to other nodes to actually download the webui. Could you try go-ipfs [0.4.13-rc3](https://dist.ipfs.io/go-ipfs/v0.4.14-rc3). We've fixed a bunch of issues with dialing on Windows and this version may fix your bug. If not, we'll continue debugging.

[2018-03-21 18:33] Stebalien commented on #4853
May be an ipv6 v ipv4 issue? Try `http://localhost:5001` instead of `http://127.0.0.1:5001`.

[2018-03-21 18:35] Stebalien commented on #4853
Also, try upgrading to the latest git. There were a few nasty issues in the version of go-ipfs that you're using.

[2018-03-21 18:36] Kubuxu commented on #4847
@schomatis afaik, their structure doesn't allow them to write them to the same table (that is what they call mmap'able segments) if there are readers still open (so valid buffers).

[2018-03-21 18:52] schomatis commented on #4847
@Kubuxu Could you elaborate a bit more on that please? I'm not sure I'm understanding your last comment.

[2018-03-21 18:55] Kubuxu commented on #4847
There are `Write` and `Get` (or some other names in badger) operations.
While `Get` operation is working on some table (internal shard in badger) other `Get` operations can also use that table but to write into the table all `Get` operation closures have to finish before it is allowed to proceed. This is what I understood.

[2018-03-21 18:59] Stebalien commented on #4852
Basically, anything that takes a variable number of inputs and performs a variable number of operations. I don't know the exhaustive list but it would include:

* add
* pin ls/add/verify
* refs (local)

Definitely. Could you open an issue here: https://github.com/ipfs/http-api-docs/issues?

[2018-03-21 19:56] Stebalien commented on #3991
I'm worried that a `RWMutex` will be *way* too expensive. It'll turn every read into a write (to take the lock) and defeat the purpose of using a `Once` (might as well just use a `RWLock` and a check to see if the node has been cached).

So, `Edit`/`Commit` may not work well given that we don't really have common interface (for historical reasons) however, simply protecting cached data with a `syn

[2018-03-21 20:11] schomatis commented on #4847
Writing the issue for Badger I realized the dependency is not so much in the underlying array itself but in the mapped address space of the log file the array is pointing to. Closing the file itself is not a problem but Badger eventually unmaps the address space causing invalid references, so the buffer can't be held indefinitely by upper layers. @Kubuxu mentioned something of the sort about mappe

[2018-03-21 20:11] #4847 closed

[2018-03-22 02:14] schomatis commented on #4820
@whyrusleeping Thanks for the details on how IPFS shuts down. This seems more of an architecture decision than a technical one, and I'm lacking the IPFS high level understanding to add real value here.

Independently of Badger's issue discussed here this is a problem that any of the closing services will have, there are two opposing forces between the `teardown` and IPFS operations like the `add`

[2018-03-22 02:20] Sunnykaby commented on #4765
Hello, I just download the ipfs-go src from github. and I want to build the ipfs from the go src, but I found the error:
I can't get anything form the "/ipfs/QmT3CLJKJzWPuN4NAN4LLy69UpKskMF3AuYhXstKdn8V43".

[2018-03-22 07:17] avatar-lavventura commented on #3971
I am having same bug on linux as well.

[2018-03-22 07:22] avatar-lavventura opened #4860 "Linux: ERROR bitswap: Error writing block to datastore: open /.ipfs/blocks/MX/put-253548744: permission denied bitswap.go:317"
**Version information:**

go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

The way I run IPFS: `ipfs daemon &`

Error I am having, when try to read a IPFS file (ex:` ipfs cat QmNmpu64oYaoKFoEtN8ZoYzRspDAyvhGgTRFm3h8dSevFe`):

[code]

Please note that I have face similar issue that occur on Windows(https://github.com/ipfs/go-ipfs/issues/3971) on linux si

[2018-03-22 12:56] Kubuxu commented on #4860
What are the permissions on those files/directories. Which file system are you using? Can you create files in this directory?

[2018-03-22 12:57] Kubuxu commented on #3971
@avatar-lavventura the cause for that will be competently different.

[2018-03-22 13:53] Marwen94 commented on #4854
Thank you for your respond @Stebalien

Unfortunately, this issue does not seem resolved even with this version. I 'm still not able to connect to other peers. Have this message in my daemon log info :

When I force my node to connect to another bootstrap address I have a similar error message:

One another thing about the bug conditions : I'm behind my work proxy.
Can this be the problem? How to c

[2018-03-22 13:54] kris113 commented on #4483
http://localhost:8080/ipns/QmQP99yW82xNKPxXLroxj1rMYMGF6Grwjj2o4svsdmGh7S/wiki/Anasayfa.html
I get segmentation error (core dumped) error when trying to access above url. Im running ipfs deamon in Ubuntu subsytem on windows10.

[2018-03-22 14:20] lidel commented on #4763
I feel it is worth mentioning that our GUI apps are going to move away from `ipfs.pin` and operate solely on `ipfs.files` API, making "pin" a low-level abstraction hidden from user. Will that approach be future-proof? Feedback and UI-related thoughts are appreciated at:
- UX Design: Pinning Content https://github.com/ipfs-shipyard/pm-ipfs-gui/issues/10

[2018-03-22 14:25] kris113 commented on #3061
when i shutdown ipfs using ctrl+c and then trying to rerun it again. I get the error that repo.lock is alrleady locked

[2018-03-22 14:56] nothingismagick commented on #4843
Alternatively, you could ask the user what kind of init they would like to undertake from the list of available profiles. I was not aware of all of these modes either, and had go-ipfs asked me when I ran `ipfs init` if I wanted to use e.g. the server profile, I would not have been slapped with an abuse notice from Hetzner today. Seeing as this exact thing is still happening 3 years after it was fi

[2018-03-22 15:10] olizilla commented on #4740
It would be really useful for the GUIs to be able to show bandwidth per CID, so we can do something like:

<img width="509" alt="screen shot 2018-03-22 at 14 03 16" src="https://user-images.githubusercontent.com/58871/37778936-11d4cc70-2de3-11e8-92c8-72f71a2ca700.png">

[2018-03-22 15:12] olizilla commented on #4740
Related #2923

[2018-03-22 16:13] whyrusleeping commented on #4740
I think the best we can reasonably do in the mid-term is to have bandwidth per session. Where most sessions will be created to transfer a given graph (rooted by some cid)

[2018-03-22 17:08] Stebalien commented on #3061
@kris113 windows? That won't be fixed in the next release (baking right now) but will be in the next. Lockfiles on windows will now be cleaned up by the OS.

FYI, to work around this, call `ipfs repo fsck` to remove the lockfile.

[2018-03-22 18:22] iamruinous commented on #4744
Sometimes I have to run the `ab` example above a couple times to get it to hang.

[2018-03-22 18:27] iamruinous commented on #4744
[code]

Same issue with 0.4.14-rc3

[code]

[2018-03-22 18:50] DungeonMasterQ opened #4862 "Win10: WebUI does not show any peers"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/windows
Golang version: go1.9.2

#### Type:
Bug

#### Description:
* What you were doing when you experienced the bug?
After running **ipfs init** then **ipfs swarm peers** I saw a numerous amount of peers listed
After running **ipfs daemon** then navigating to the WebUI, the Connections tab showed 0 peers con

[2018-03-22 18:54] kyledrake opened #4863 "ipfs dht provide is not parallelized"
Enhancement:

The `ipfs dht provide CID ...` command is not currently parallelized. This means that if a larger list of records to provide is given, it runs pretty slow because it has to run the provides sequentially.

A better approach here would be to batch X number of provides at a time in parallel when a list of many cids is provided, so the end user doesn't have to parallelize on their end.

[2018-03-22 18:57] schomatis commented on #4055
I can't reproduce it. I've tried with combinations of the `--offline` and `--writable` flags, with a heavy `add` load to the daemon and without. @Stebalien in what conditions did you see it happening again?

[2018-03-22 19:00] Stebalien commented on #4854
Unfortunately, that's your problem. IPFS doesn't currently support SOCKS proxies. See: https://github.com/libp2p/go-libp2p/issues/286

If you can use a VPN, I recommend doing that. Otherwise, there's nothing you can do for now.

I'm closing this issue as a duplicate.

[2018-03-22 19:01] #4854 closed

[2018-03-22 19:33] Stebalien commented on #4055
I just saw it on a random test on Jenkins. Unfortunately, I can't recall which test.

[2018-03-22 20:00] dokterbob commented on #4580
Thanks for your reply!

Note that this is also what the web interface currently does.

[2018-03-22 21:08] steverecio opened #4864 "Remove broken "Todo" link in README"
### Priority: Very Low

[Todo](https://github.com/ipfs/go-ipfs/blob/master/README.md#todo) link in README is broken. Looks like the section was removed in https://github.com/ipfs/go-ipfs/commit/2b40a713bfea91af92eeacfd7c5f3ba53d722bf1

[2018-03-22 23:07] leerspace commented on #4862
The errors in your second bullet point are likely a duplicate of ipfs/go-ipfs/issues/3971.

[2018-03-22 23:16] Stebalien commented on #4808
@djdv we should also look into https://github.com/ipfs/go-ipfs/issues/3971. Users hit this *all* the time. We may need to set some kind of "no index" option on the datastore.

[2018-03-22 23:17] leerspace commented on #4862
For the WebUI not showing any connections, how long are you waiting on the page to see if it changes? It's a pretty intensive page that takes a while to show something other than 0 peers on my slow laptop.

[2018-03-22 23:20] magik6k commented on #4863
This will be really easy to do once https://github.com/ipfs/go-ipfs/pull/4333 is done

[2018-03-23 05:34] Kubuxu commented on #4843
@nothingismagick Requiring user interaction on init would break many existing scripts including our owns.

[2018-03-23 06:03] #4741 closed

[2018-03-23 06:05] chriscool commented on #4841
@whyrusleeping please take a look at merging the above 2 PRs!

[2018-03-23 06:16] #4720 closed

[2018-03-23 06:18] #4652 closed

[2018-03-23 06:19] #4591 closed

[2018-03-23 06:28] zramsay commented on #1764
duplicate of #171 ? either one of these issues can probably be closed

[2018-03-23 06:29] #4439 closed

[2018-03-23 06:30] #3457 closed

[2018-03-23 07:42] avatar-lavventura commented on #4860
My user have a root access so there should be no problem on permission.  And this works for other `ipfsHashes` for that specific `ipfsHash` it does not work.

[2018-03-23 08:24] Kubuxu commented on #4860
Can you try resolving it by running `chown -R "$USER:$USER" ~/.ipfs/`.

[2018-03-23 08:30] Kubuxu commented on #4055
It happens quite frequently on Jenkins.

[2018-03-23 08:50] Kubuxu commented on #4483
@kris113 can you copy whole log? Also the Linux subsystem in past was problematic. Can you try native Windows build?

[2018-03-23 10:55] avatar-lavventura commented on #4860
`chown -R "$USER:$USER" ~/.ipfs/` solved the problem, thank you. What might be the reason only one ipfs-block is defined under `root` permission and others as `user`.

[2018-03-23 12:09] nothingismagick commented on #4843
@Kubuxu - which existing scripts exactly? Please share some with me, so I can see what you mean. I can only guess that you are talking about automated setup, for things like electron apps in IPFS-Desktop.

Technically, in my case IPFS did require user interaction, but I didn’t know it. I should have set flags in the command invocation, which is user interaction in my playbook. Because I didn’t do

[2018-03-23 12:16] nothingismagick commented on #4843
![f97941ef-dcd2-44bb-96ca-28f2f0542d1f](https://user-images.githubusercontent.com/35242872/37828647-6bb698cc-2e9c-11e8-95eb-70ba11d3ba7b.jpeg)

[2018-03-23 12:18] magik6k commented on #4843
We can detect if init is invoked from tty or a script and enter interactive mode based on that

[2018-03-23 12:31] Kubuxu commented on #4843
@nothingismagick it would break every docker container out there (if they would re-init), all of our tests, compatibility tests in js-ipfs, iptb and so on.

There is a lot of this.

Changing behaviour of a command basing on tty is not a good idea.

Another point is that it would be very hacky to do with our command framework and `ipfs init` already accepts stdin as a template of a config.

---

@n

[2018-03-23 12:34] Kubuxu commented on #4843
@nothingismagick if you want to discuss it further please open a separate issue because this is out of the scope of this one.

[2018-03-23 12:40] nothingismagick commented on #4843
Sorry about the thread-jacking, I merely wanted to make the strong case that the documentation is generally confusing, disjointed and this can have real-world repercussions.

[2018-03-23 12:41] nothingismagick commented on #4843
And there was a thread about this (that I linked above), where I would have posted, but it has been closed to non-contributors.

[2018-03-23 12:41] Kubuxu commented on #4860
You might have run `ipfs init` as a root or something like that, or run `ipfs daemon` as a root for a while.

[2018-03-23 12:41] #4860 closed

[2018-03-23 14:16] nothingismagick commented on #4843
Regarding your disagreement, perhaps we are misunderstanding each other. In the universe that is interaction design, every interface to the code that the user has, is UI per definition - including the command line. Indeed, Go-IPFS is giving user feedback on IPFS init (a peer-ID). If you look at the image, you will also see a logo and a typical screenshot of the install process. I understand the al

[2018-03-23 14:42] schomatis opened #4868 "[coreapi] [feature] Pass `Adder` options as arguments to `UnixfsAPI.Add`"
To allow options like `--pin`, `--nocopy`, `--hash`, etc. in the [Core API](https://github.com/ipfs/go-ipfs/blob/v0.4.14/core/coreapi/unixfs.go#L19), in a similar way to [`ipfs add`](https://github.com/ipfs/go-ipfs/blob/v0.4.14/core/commands/add.go#L272) (and maybe then some of [`addAllAndPin`](https://github.com/ipfs/go-ipfs/blob/v0.4.14/core/commands/add.go#L307) could be absorbed by the Core AP

[2018-03-23 16:59] #4723 closed

[2018-03-23 17:01] whyrusleeping commented on #4818
This is resolved now

[2018-03-23 17:02] #4818 closed

[2018-03-23 20:30] schomatis opened #4870 "Datastore benchmarks"
Considering that the default datastore will be transitioning from `flatfs` to `badger` soon (#4279) it would be useful to have an approximate idea of the performance gains (which are considerable) and also the  losses (e.g., #4298).

I'll be working in a separate [repository](https://github.com/schomatis/datastore_benchmarks) (it can be integrated here later) to develop some profiling statistics a

[2018-03-23 20:39] whyrusleeping commented on #4841
@chriscool merged!

[2018-03-23 21:00] djdv commented on #4808
I'm going to collect information on #3971 here.
While this doesn't work 100% of the time this is a good way to instigate the problem: https://github.com/ipfs/go-ipfs/issues/3971#issuecomment-326169858
I've been running `repo gc` and doing that to instigate this. I'm using a near full 5900RPM HDD for testing, people seem to not have issues on faster drives.

In addition sometimes this happens: http

[2018-03-23 21:29] whyrusleeping commented on #4820
@schomatis I think what we should probably be doing on ipfs shutdown is to wait for:
- bitswap to shut down fully
- the dht to shut down fully
- the api the shut down fully
  - We have a log of all actively running api commands: https://github.com/ipfs/go-ipfs/blob/master/commands/reqlog.go
  - the `ipfs diag cmds` command prints them out.
  - If we cancel the master context, it should shut down t

[2018-03-23 22:19] Stebalien commented on #4808
I believe this was fixed (accidentally) by https://github.com/ipfs/go-ds-flatfs/pull/34. [go-os-rename](https://github.com/jbenet/go-os-rename) wasn't properly keeping a temporary UTF16 buffers alive here: https://github.com/jbenet/go-os-rename/blob/3ac97f61ef67a6b87b95c1282f6c317ed0e693c2/rename_windows.go#L21-L40

Basically, it was taking the src and dst paths, converting them to UTF16 paths, an

[2018-03-23 22:34] djdv commented on #4808
Woohoo. I knew that lib was bad news. I was testing go-ipfs with updated gx deps and not encountering the issue on that branch https://github.com/ipfs/go-ipfs/compare/master...djdv:big-deps but trying to find out which lib (out of at least 10) and which revision (some were multiple major revisions ahead) out of the bunch solved the issue, eluded me.
Thanks for investigating @Stebalien that issue h

[2018-03-23 22:36] Stebalien opened #4871 "ipfs get doesn't work with sharded directories"
It serializes files with the tar writer which doesn't currently support sharded directories.

https://github.com/ipfs/go-ipfs/blob/3cbf97bea12c5a1f6c007b094ca4df51b1747831/unixfs/archive/tar/writer.go#L83-L96

[2018-03-23 22:52] diasdavid commented on #4871
@VictorBjelkholm this was the problem we were seeing this morning.

[2018-03-24 00:03] Voker57 commented on #4763
It is nice, but 1. Sharding is going to be used by very low percentage of users
2. Pin exploration as in discovering other people's pins? That's often a bug, not a feature.
3. MFS pin implementation is very complex compared to datastore-based (my PR actually reduces SLOC while adding functionality) and requires 'internal' pins.

[2018-03-24 00:06] Kubuxu commented on #4763
No, I mean your local pins.

User MFS wouldn't require that as it would be in the same tree as ipfs files command which is already wired in into GC.

[2018-03-24 00:18] leerspace commented on #4870
I think the time to complete some common operations would be interesting for repos with varying sizes, pin counts, and varying amounts of unpinned content:
* `ipfs pin ls`
* `ipfs add`-ing various directory and file mixes
* `ipfs repo verify`
* `ipfs repo gc`

If memory utilization comparisons can also be made I think it would be useful. I've seen some really high memory usage from the IPFS daemon

[2018-03-24 01:11] Stebalien commented on #4763
Sharding would allow us to store and traverse large pinsets efficiently. This fixes the concern with the original issue (#4673) where the pinset was too large to operate on. Your PR would also fix this (but wouldn't give us a nice hierarchical filesystem).

[2018-03-24 01:23] Stebalien opened #4874 "ipfs ls doesn't work for sharded directories"
While we can't implement streaming `ls` :(, we can, at least, just ls locally and send back the results.

[2018-03-24 01:34] Stebalien commented on #1764
Fair enough.

[2018-03-24 01:34] #1764 closed

[2018-03-24 09:45] Foxcool commented on #4197
Also this ligth mode can be used on laptops.

Linux laptop with SYSTEMD or another service manager. On AC-power all p2p nodes used on full mode: download, upload. But on battery mode all services reloads in light mode and only read the data.

[2018-03-24 10:02] Kubuxu commented on #4870
@schomatis see also https://github.com/Kubuxu/go-ds-bench

[2018-03-25 02:50] #4620 closed

[2018-03-25 04:10] djdv commented on #4808
An inconsistency in Windows specific behaviour in/on Go is being discussed here: https://github.com/golang/go/issues/24482
This is related to an inconsistency where `ipfs get *somehash* -o NUL` works but `ipfs get *somehash* -o nul` will fail with a path error.
This will influence https://github.com/whyrusleeping/tar-utils/pull/2

[2018-03-25 05:59] yogster commented on #2105
I can confirm this is still the case in 0.4.14. If I run `ipfs name resolve` takes about 1 minute to resolve, then resolves instantly for a minute, then takes another minute to resolve. I suppose the entry stays in the cache for a minute.

I host my blog in IPFS and have an nginx reverse proxy in my node to allow HTTPS access via my domain, rewriting requests to `ipns/domain`, but the way IPNS is

[2018-03-25 10:35] fazo96 commented on #2105
@yogster I noticed that if you run the daemon with `ipfs daemon --enable-pubsub-experiment` IPNS is noticeably faster, even though I thought IPNS was not using pubsub yet

[2018-03-25 13:04] yogster commented on #2105
Hey @fazo96 thanks for replying so quickly! Sorry, I forgot to mention the reason I upgraded to 0.4.14 was so I could run the daemon with `--enable-pubsub-experiment`, as I was hoping it would speed up IPNS resolution... No luck.

Even if I run my daemon with `--enable-pubsub-experiment`, I've just run `ipfs config show` and noticed the following section doesn't mention pubsub:

[code]
Is this nor

[2018-03-25 14:06] Phil192 commented on #3994
Please help me shift from client-server thinking and provide some real example of connection.

I've tried this approach:
A node listening : `p2p listener open p2p /ip4/127.0.0.1/tcp/10101`
B node dialing: `p2p stream dial  p2p /ip4/<ip>/tcp/10102 <peerId>`

It is not working. What I'm doing wrong?

[2018-03-25 19:47] #4871 closed

[2018-03-25 21:05] #4864 closed

[2018-03-26 10:52] magik6k commented on #4666
So I did a bit of poking in https://github.com/ipfs/go-ipfs/pull/4672 locally. I think that `/local` for non-global (mfs) stuff might actually be fine. We aren't breaking anything since coreapi doesn't have files api yet, and when in future the `files` commands will be rewritten to copeapi we can wrap them to use the `/local` namespace.

I think I'll go with this and see how it turns out. Also, no

[2018-03-26 14:18] rfyiamcool opened #4876 "ipfs clean out "active" bitswap peers ?"
We currently never garbage collect them, even when they disconnect. They aren't showing up on profiles at the moment but this is a memory leak.

[2018-03-26 14:19] #4876 closed

[2018-03-26 15:16] jonnycrunch commented on #575
@Stebalien any update on ipfs supporting all IPLD node types?  I'd like to publish IPLD objects to IPNS for my decentralized ID (DID) spec.  Thanks!

[2018-03-26 15:49] Mr0grog opened #4877 "Consider making the init command interactive"
**Feature**

(This is a continuation of a discussion started over at https://github.com/ipfs/go-ipfs/issues/4843#issuecomment-375335964, so it might be worth reading that for background. It was a little off-topic there, so I thought I’d open a new issue.)

I think @nothingismagick has a pretty valid point in #4843 — not configuring IPFS right for a given situation can potentially put someone in pr

[2018-03-26 16:56] #3633 closed

[2018-03-26 17:00] nothingismagick commented on #4877
Thanks @Mr0grog for championing this idea. For a reminder, the situation that both @ZenGround0 (on a university network) and I (on a rental-box in a data-center) just faced - was first raised almost 3 years ago by @cinderblock https://github.com/ipfs/go-ipfs/issues/1226

It's great that @Kubuxu updated that issue a few days ago with the solution, but as you just said (and was the case for me) I di

[2018-03-26 17:01] Mr0grog commented on #4843
Since this has gotten a little off the main topic (get all the profiles listed in the help text), I started a new issue to continue discussion about an interactive `init` command: https://github.com/ipfs/go-ipfs/issues/4877

[2018-03-27 10:36] deba46 opened #4878 "Getting -unexpected end of data while extracting .tbz file in ec2 instance"
Here is my code -  It is printing first tarinfo file and then throwing error .Looks like not able to read second file from tar file. Input file i have opened is .tbz format

[code]

[2018-03-27 10:56] nothingismagick commented on #4843
For the record, here is a link to the discussion about documentation in general:

https://ipfs.io/ipns/ipfs-docs-research.robbrackett.com/html/General-Notes.html

[2018-03-27 11:52] nothingismagick opened #4879 "Api Docs"
## api docs

The current release of go-ipfs is v0.4.14, but https://ipfs.io/docs/api/ shows that the docs were

Seeing as there have been over 700 commits to master since this release, are these api docs accurate - or more to the point, where are the api-docs for v0.4.14?

[2018-03-27 13:39] djdv commented on #4808
The previous Go patch has resolved the case-sensitive `NUL` issue for files, I've created a separate issue here: https://github.com/golang/go/issues/24556
which prevents us from directing `get` output to `NUL`
i.e.
`ipfs get QmQine7gvHncNevKtG9QXxf3nXcwSj6aDDmMm52mHofEEp -o NUL`
Should succeed, but currently(Go 1.10) does not.

[2018-03-27 13:51] djdv commented on #4485
@Kubuxu
I have plans to implement mounting on Windows, current options I am looking at are https://github.com/billziss-gh/winfsp and https://github.com/dokan-dev/dokany
Both offer a native approach and fuse wrappers.
https://github.com/billziss-gh/cgofuse
https://godoc.org/github.com/keybase/kbfs/dokan

I'm okay with using separate dependencies for separate platforms, but if a big move is planned

[2018-03-27 14:05] nothingismagick opened #4880 "Improve docs around ipfs update"
## SOLUTION (Worked for me this time)

[code]

### Caveat:
I know that this is really an issue for ipfs-update (will post there too)

### Background:
I want to update go-ipfs from `ipfs version 0.4.14-rc3` to `ipfs version 0.4.14` (but actually I don't care just want latest) and there is a command listed under ipfs --help that says:

[code]

Which [ipfs documentation](https://docs.google.com/sprea

[2018-03-27 14:52] djdv commented on #4831
In terms of development workflow I have no major opinion.
But in terms of source management, I think this is important

The whole point of a change can easily get lost in the cascade of import diffs.

@kevina

I tend to agree, I'd much rather fail than have something automatically modified. While the latter is convenient, it can't always be trusted to follow your intention.

[2018-03-27 15:05] djdv commented on #4851
@fjqdxq
Do you happen to be located in China?
I am asking because I have noticed a rise in Chinese locals having difficulties connecting to ipfs.io

In the meantime you can try running a [prebuilt version of go-ipfs](https://dist.ipfs.io/#go-ipfs), starting the daemon, and running `make build`. `gx` will automatically detect that IPFS is running and use it to fetch dependencies directly from other

[2018-03-27 15:59] Stebalien commented on #4874
So, @lgierth suggested just buffering it in memory and yoloing. @diasdavid suggested adding a `--stream` flag to avoid breaking the API.

[2018-03-27 15:59] Stebalien commented on #4874
@whyrusleeping @kevina thoughts?

[2018-03-27 16:21] Stebalien commented on #4878
@deba46 I believe you've found the wrong issue tracker :laughing:. This is the issue tracker for go-ips, the Go implementation of Interplanetary Filesystem.

If not, feel free to reopen this issue. If you do, please add some additional information:

* IPFS version
* What you were doing at the time.
* How this issue relates to go-ipfs.

[2018-03-27 16:21] #4878 closed

[2018-03-27 16:47] Kubuxu commented on #4831
Can we use gx with `vendor` dir support for this?

[2018-03-27 16:51] Mr0grog commented on #4879
This might be better covered over at https://github.com/ipfs/http-api-docs/issues/3#issuecomment-375174441 . It was actually hand-edited *after* that generation date (although I’m still not sure it’s actually up-to-date).

[2018-03-27 16:54] Kubuxu commented on #4485
@djdv friend of mine is figuring out FUSE support using CoreAPI as a plugin to go-ipfs (until we have transport for CoreAPI) and extract it later.

Also see: https://github.com/richardschneider/net-ipfs-mount

-----

IMO mounting support currently is not that high priority (I think there are more pressing issues on Windows). I also think that even in case of Linux it is closer to PoC than a comple

[2018-03-27 17:03] ajbouh commented on #4874
I'm working to bring large dataset snapshots hosted on IPFS into machine learning frameworks like TensorFlow. There's working code to do this over in github.com/tesserai/iptf

The high level design for IPTF is a C++ class that implements basic filesystem operations. I've written some code to bind the go interfaces in the mfs package to a C++ class with the proper interface.

Latency and throughput

[2018-03-27 17:06] djdv commented on #4485
Neat.

I've tried this before but have had poor experiences with my own ipfs repo, it seems to work fine for small ones but with mine it seems to choke. It has been some time though, maybe it is better now, I will give it a go.

Agreed, the intention is to think more on that later. When FUSE is being discussed I have to chime in though, I don't want Windows to be left behind. ;^)

[2018-03-27 17:45] schomatis commented on #4820
@whyrusleeping From what I'm seeing in the code, `LogRequest` is only used in the HTTP handler (`ServeHTTP`), but does this also work for an offline command? (as the one in this issue). The "running operations" bookkeeping  should happen at the core level (is that `IpfsNode`?).

[2018-03-27 18:08] Stebalien commented on #4874
1. How many files are we talking about?
2. Are you planning on operating on a random *sample* or do you actually need to do a random walk over the entire dataset?

Unfortunately, while we support random *lookups*, we don't support seeking in sharded directories (although we arguably should). That is, if you know the *name* of the file in question, you can efficiently get the file. However, if you

[2018-03-27 18:27] nothingismagick commented on #4880
@VictorBjelkholm  [wrote](https://github.com/ipfs/ipfs-update/issues/83#issuecomment-376578238):

My current workaround for this command (for embedding in shell scripts etc.) is:

[code]

[2018-03-27 18:38] Kubuxu commented on #4880
Could you rename the issue to: "Improve docs around `ipfs update`".

[2018-03-27 18:42] nothingismagick commented on #4880
@Kubuxu - I changed it, but it is also an issue about expected behaviour within the CLI. Adding a new command to the cli (ipfs upgrade) is more than a mere documentation issue.

[2018-03-27 18:49] Kubuxu commented on #4880
I think it might be good for `ipfs update` to install the newest version after user confirmation.

[2018-03-27 18:52] Kubuxu commented on #4874
@Stebalien does `ls` not work at all or is it just slow/buffers everything? If it is the former the issue should be renamed.

[2018-03-27 19:40] ajbouh commented on #4874
@Stebalien the interface we implement is defined here: https://github.com/tesserai/iptf/blob/b9a6b3d65a5d34546ff86876bce416338dd4827b/iptf/go/api/api.go#L54

It includes things like:
[code]

So the ability to stream through the names, sample one, stat it, and then load the data from that file would be enough.

The actual implementation of sampling is (currently) done at a higher level, so it's rea

[2018-03-27 19:56] #4879 closed

[2018-03-27 21:10] ZenGround0 commented on #4821
As far as I know there is some useful information under `ipfs add --help`.  Apart from that I'm afraid the best place I've found for the specifics is the code itself.

[2018-03-27 21:19] Stebalien opened #4882 "Implement a streaming ls api"
Currently, when listing large directories, the file list needs to be buffered in memory. This is fine for ~50K files but likely won't work well for ~1M files (in a single directory).

Unfortunately, `ipfs ls` accepts multiple arguments. If we want to stream back results, we'll have to somehow group them by directory (hopefully without sending too much extra data).

[2018-03-27 21:21] Stebalien commented on #4874
Ah. I was looking at `file ls` (the deprecated version), not `ls`. It looks like `ls` *does* support listing sharded directories, just not streaming them.

Got it. That won't require modifying unixfs itself so it should be doable.

...

So, given that I was wrong and that the non-streaming API works, you can probably just use that for now. 50-100KiB should actually fit in memory quite easily (on t

[2018-03-27 21:22] Stebalien commented on #4874
(closing as listing files does, in fact, work).

[2018-03-27 21:22] #4874 closed

[2018-03-27 21:29] Stebalien commented on #4580
So my edit doesn't get lost in the noise, I read your comments about including the type as "the type is missing" not "the type is an int". Apparently, we *do* return the type (and do take the performance hit of fetching the root nodes). Really, I don't see why this command returns a number instead of a string.

[2018-03-27 21:31] Stebalien opened #4883 "Provide a flag to list a directory without file types"
Resolving file types can be painfully slow for large directories as it requires fetching the the root object of every file in the directory.

[2018-03-27 21:48] Stebalien commented on #4883
If I started reading the code, I'd stop filing useless issues.

[2018-03-27 21:48] #4883 closed

[2018-03-27 21:51] whyrusleeping commented on #4820
@schomatis ah, very good point. If the daemon isnt running, then that won't be registered there... this might need a bit more surgery to fix then.

We should have a way of waiting on actions to complete even in the case of a command running without a daemon. It might be easy enough to just add a single entry to the request log. I think the reqlog instance is still created whether or not you have a

[2018-03-28 11:03] VictorBjelkholm commented on #3860
Update: IPNS has had a upgrade with a experimental feature to use pubsub to speed up publishing/resolving. If both nodes use pubsub and `--enable-namesys-pubsub` when starting the daemon, publishing/resolving gets a lot faster. More details here: https://blog.ipfs.io/34-go-ipfs-0.4.14#ipns-improvements

[2018-03-28 12:30] djdv commented on #4880
Something like

or if already up to date

[2018-03-28 14:39] djdv commented on #4778
@vmx
I need some clarification, did it turn out that this was not Windows specific and does https://github.com/libp2p/go-floodsub/pull/53 resolve the issue?

[2018-03-28 19:19] ajbouh commented on #4882
Just added some performance measurements for a big 1.2M file sharded directory over at https://github.com/tesserai/iptf/issues/2#issuecomment-376999774

[2018-03-28 19:28] ajbouh commented on #2272
@whyrusleeping did `ipfs object merge` ever get created? I'd like to stitch together directories that I don't have stored locally.

[2018-03-28 20:32] schomatis opened #4887 "[coreapi] [feature] Add repository initialization support"
The `doInit` function (used by `ipfs init`) is not exported and right now the closest functionality to that is the exported `fsrepo.Init` but that requires taking care of the `config.Config` structure (and other maintenance issues taken care of by `doInit`).

My use case is doing benchmark tests between `flatfs` and `badger` datastores where I create a repo from scratch to measure put/get times. F

[2018-03-28 20:32] schomatis commented on #4887
cc @magik6k

[2018-03-28 20:46] vmx commented on #4778
@djdv It's a Windows specific issue, hence we disabled the tests there (https://github.com/ipfs/interface-ipfs-core/blob/4536160b71a48a2bd6c8dce304ce70b50b1c04e5/js/src/pubsub.js#L511-L515 and https://github.com/ipfs/interface-ipfs-core/blob/4536160b71a48a2bd6c8dce304ce70b50b1c04e5/js/src/pubsub.js#L586-L590)

[2018-03-29 03:03] Stebalien opened #4891 "Ls performance changes"
I'd like to make the following changes to the `ls` command for performance reasons:

1. Add a `-q` flag that only returns names. Base58 encoding a bunch of CIDs is actually quite a time-consuming operation. It would be nice to have a variant that just returns names.
2. Replace `--resolve-types` with `--type=[always|local|never]`. Currently, there's no way to say "don't resolve this type, even if w

[2018-03-29 04:00] paralin commented on #3532
I profiled it and it seems like a lot of the CPU waste is surprisingly in AddAddrs in the AddrManager. Reading that code, it seems very hasty and not performance minded. I'll PR something to go-libp2p-peerstore to optimize that with concurrent maps, which should help.

[2018-03-29 04:48] Stebalien commented on #3532
Unfortunately, the issue is https://github.com/libp2p/go-libp2p-peerstore/issues/26 and the fact that the number of multiaddrs assigned to a peer can grow unchecked*. The peerstore actually works fine with a sane number of addresses.

*The previous version of go-ipfs failed to forget observed multiaddrs for peers and, worse, would gossip these observed multiaddrs. That combined with NATs and ephem

[2018-03-29 05:38] paralin commented on #3532
Yeah, but that code is still unoptimized and in general really rough, even for a small number of addresses. Agreed that there is a bigger reason though as you describe.

[2018-03-29 06:31] Stebalien opened #4893 "Configurable multiplexers"
It would be nice to be able to configure the supported multiplexers in the config. My thinking is to add a and a `Multiplexers` config option to the `Swarm` section. One tricky part is naming. For usability, a simple "mplex" or "yamux" would be nice however the full protocol name (with the version) may be a better option. Thoughts?

When we do this, I'd also like to get rid of the `--enable-mplex-

[2018-03-29 09:28] Stebalien commented on #4882
I'm currently thinking:

1. Spit out the directory "object" with a `Links:` "streaming" (or something like that) field.
2. Follow it with the stream of links.

That way, we don't change the output format based on the number of inputs.

[2018-03-29 15:41] Stebalien opened #4895 "Fixup the p2p command"
This command looks like it could use some serious cleanup.

1. Listeners have `Running` flags that are (1) never set to false, and (2) not atomic (so setting them to false would be useless anyways).
2. The registry has no synchronization and is pretty inefficient.

And probably more. Any takers?

[2018-03-29 15:44] ajbouh commented on #4882
I'm not deeply familiar with this interface, but what you've outlined certainly sounds reasonable

[2018-03-29 16:32] Stebalien commented on #4895
More: Make it actually work like `ssh -L`. It should forward *every* connection, not just the first. See https://github.com/ipfs/go-ipfs/pull/4894#issuecomment-377287053.

Blocked on #4894.

[2018-03-29 23:13] Stebalien commented on #575
@jonnycrunch that's actually a different issue. I was referring to the fact that unixfs should only care about the structure of the IPLD object, not the format. However, that won't let you stick arbitrary ipld objects into ipfs (as ipfs files, anyways).

You're issue is really that we haven't implemented the `/ipld` namespace yet. See: https://github.com/ipfs/go-ipfs/issues/4666

[2018-03-29 23:25] kevina commented on #4831
Um, not 100% sure I am following but I don't think depending on fuse for building is such a good idea...

[2018-03-30 01:55] Stebalien commented on #4831
That is, when the user calls `gx vendor --link` (or whatever we end up calling it), `gx-go` first tries to link `vendor/github.com/a/b` to `/ipfs/QmId/...` and, if that fails, to `~/.cache/gx/ipfs/QmId/...` (installing the package there). Of course, we shouldn't even try doing that until we have a reliable fuse daemon.

[2018-03-30 12:11] jackloughran commented on #4893
@Stebalien sorry for spamming PRs, but i took a crack at this in #4899

[2018-03-30 14:31] llgoer opened #4901 "what's the ipnsps used for?"
I find ipnsps in /core/commands/ipnsps.go,but i use `ipfs daemon --enable-namesys-pubsub`to start ,then the IPNS also too slow.

[2018-03-30 17:12] Stebalien opened #4902 "Document IPNS over pubsub experiment"
It appears that we're missing documentation for this feature in docs/experimental-features.md.

[2018-03-30 17:13] Stebalien commented on #4901
It's IPNS over pubsub. If you have the namesys-pubsub experiment enabled, every time you resolve a new IPNS address IPFS will subscribe to updates to that IPNS record using pubsub. That way, when you resolve that address in the future, you should already know the result (received over pubsub) and won't have to go to the DHT to find it.

That is, of course, the theory. In practice, it's a highly ex

[2018-03-30 17:13] #4901 closed

[2018-03-30 17:17] vyzo commented on #4902
yes indeed. i'll add a paragraph.

[2018-03-30 17:32] VictorBjelkholm commented on #2535
This really feels like that should be the default behaviour for the gateway and other calls. Currently, resolving your own Peer ID via IPNS takes too long and it's probably the first thing people try when it comes to IPNS. Publish/resolve from your own ID.

[2018-03-30 18:39] schomatis commented on #4870
See dgraph-io/badger#446 for a discussion of search key performance in the IPFS case.

[2018-03-30 22:36] Stebalien commented on #2535
I agree. For one's *own* peer ID, we could short-circuit (as this key absolutely should not be shared). However, we can't generalize that to keys in the keystore as others may be publishing on the same key.

[2018-03-30 22:41] manishrjain commented on #4870
@leerspace : Btw, Badger's memory usage can be reduced via options. For e.g., by mmap-ing LSM tree instead of loading to RAM. Or, by keeping value log on disk, instead of mmap-ing it.

[2018-03-31 00:34] Stebalien commented on #4893
Thanks for the PR! Yeah, GitCop tends to harass all of our new contributors.

[2018-03-31 08:27] whyrusleeping commented on #2535
I don't think short circuiting makes sense. You don't want the command to lie to you. If I run `ipfs name resolve foo`, i'd expect it to fail if that record was no longer accessible on the DHT. caching and short circuiting here could lead to some annoying "works on my machine" type issues

[2018-03-31 13:40] ToxicFrog commented on #4574
I'm also seeing this, also with --offline.

If it helps any, I'm running it behind nginx, with a vhost that resolves on the machine accessing but *not* on the machine hosting ipfs.

[2018-03-31 14:55] ToxicFrog commented on #4574
If I fix that, though, it still panics.

Querying the gateway directly (not via nginx) works fine.

[2018-03-31 16:45] ToxicFrog commented on #4574
Switching to online mode does fix it.

[2018-03-31 16:59] Voker57 commented on #4763
https://github.com/ipfs/rfcs/pull/4 made an RFC.

[2018-04-01 00:02] Stebalien commented on #4815
I agree. We definitely should have a command for listing the status of what keys we're currently publishing. However, we shouldn't *forget* to that we're publishing something (and we always republish 5m after restarting).

You can call `ipfs name resolve  -n ...` to resolve without looking at your local cache. That'll tell you if other nodes can still access your IPNS record.

[2018-04-01 00:08] Stebalien commented on #4729
No, that looks like duplicate code. It looks like we *used* to cache children nodes inside link objects but don't do that anymore. Feel free to deduplicate.

(also, if I don't get back to you in a reasonable amount of time (e.g., 2 days) on a question, please hunt me down on IRC and yell at me)

[2018-04-01 00:36] ToxicFrog commented on #4475
I'm seeing this as well; I'm running a private node, so there's nothing for it to find in DHT and no other nodes in the swarm, but it still takes it ~45 seconds to publish IPNS entries.

[2018-04-01 00:41] ToxicFrog opened #4904 "`ipfs key rm` & `ipfs name publish` error out on empty stdin rather than doing nothing"
#### Version information:
go-ipfs version: 0.4.13-
Repo version: 6
System version: amd64/linux
Golang version: go1.9.4

#### Type:
Bug

#### Description:
`ipfs key rm` and `ipfs name publish` (and probably other ipfs commands) will, if invoked with no positional arguments, expect input from stdin, presumably so you can pipe in the output of other `ipfs` commands without needing to faff around with

[2018-04-01 02:54] Stebalien commented on #4904
In principal, I agree. Unfortunately, due to how our command-line library works, this may be a bit tricky. The commands library automatically converts stdin arguments to positional arguments which means that commands won't be able to distinguish between missing positional arguments and missing stdin arguments.

However, we *should* try to fix this. It just may take some time and thought.

In the m

[2018-04-01 10:28] mib-kd743naq commented on #4697
Reposting [a question from the internets](https://botbot.me/freenode/ipfs/2018-04-01/?msg=98486072&page=2):
[code]

[2018-04-01 17:09] Stebalien commented on #4697
@mib-kd743naq Multihash supports it but it isn't supported in go-ipfs for storing blocks (yet).

[2018-04-01 17:09] Stebalien commented on #4450
Duplicate of https://github.com/ipfs/go-ipfs/issues/4697

[2018-04-01 17:09] #4450 closed

[2018-04-01 18:14] mib-kd743naq commented on #4697
@Stebalien does the `backlog` label imply this is downgraded to "nice to have... someday"? **Without** making promises, do you have a ballpark realistic guess which version of go-ipfs may contain this feature?

[2018-04-01 18:27] Stebalien commented on #4697
@mib-kd743naq it means "we want this but nobody's actively working on it". Honestly, it shouldn't be *that* hard to implement, someone just needs to take it up and do it (I guess it warrants a "help wanted" in that case as well).

[2018-04-01 19:06] kevina commented on #4697
I have thought a bit about this and can likely implement it in the next one or two weeks if it is something that is wanted now.

[2018-04-02 07:17] maybeuright opened #4905 "Build error due to Window newline symbol"
I build the code on win64 PC with cygwin.
I found all the files contained window newline '\r' and golang compiler cannot recognize it.
The solution is as below:

cd src
find . -type f -exec dos2unix.exe {} \;

[2018-04-02 07:18] #4905 closed

[2018-04-02 07:19] maybeuright commented on #4905
Don't think it's a bug.
But it's not convenient.

[2018-04-02 08:18] kevina commented on #4891
Sounds Good To me.

[2018-04-02 08:31] Kubuxu commented on #4905
I think it is your Git settings. Here all files have LF line ends.
[code]
if it was CRLF it would be:
[code]

[2018-04-02 08:51] maybeuright commented on #4905
Yes, this is the root cause. Thanks!

[2018-04-02 10:07] mib-kd743naq commented on #4697
@kevina It'd be amazing if you can do this. Here is a simple test case for you:

[code]

This [should be a directory with a single 4 byte file containing `DATA` as its sole line](https://ipfs.io/ipfs/zdj7WbgVSFmbKUHXYFMGKzSk7aFMucuUHm9GnWkpbrXvoRpTG)

[2018-04-02 21:02] Stebalien commented on #3971
Fixed by https://github.com/ipfs/go-ds-flatfs/pull/34, needs to be bubbled up.

[2018-04-02 21:32] Stebalien opened #4906 "Handle symlinks on windows"
Now that @whyrusleeping added symlink support to tar-utils, fetching something with a symlink in it fails instead of succeeding (when it shouldn't). However, ideally, we'd do something better than simply fail...

[2018-04-02 21:45] kevina commented on #4697
I think the best way to implement this would be at the blockstore level.  In particular I propose this is implemented as a wrapper blockstore (in the same way the cacheing blockstores are implemented) with the following semantics (when I say "pass on the request" I mean pass on the request to the underlying blockstore):
* `Get(*cid.Cid) (blocks.Block, error)` - if an id-hash extract the contents f

[2018-04-02 21:51] djdv commented on #4906
Without proper access rights a user can't create a symlink. We can see if we have that right and make decisions around that. Either fail with a message alerting the user to enable symlink creation for that user, or use a secondary method such as resolving the link's target and copying the contents (with or without some depth limit to deal with recursive links).

If we decide to alert the user, we

[2018-04-02 21:54] Stebalien commented on #4697
SGTM.

[2018-04-02 22:04] pecastro opened #4907 "webui doesn't work in Private Networks"
#### Version information:
go-ipfs version: 0.4.15-dev-ecb4095
Repo version: 6
System version: amd64/linux
Golang version: go1.9.4

#### Type: Bug?

#### Description:
After setting up ipfs to use private networks as described in https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#private-networks loading the webui hangs and eventually returns a message

`
ipfs resolve -r /ipfs

[2018-04-02 22:32] Mr0grog commented on #4907
Howdy, @pecastro. This is actually the same as #4174 — your problem is that the WebUI is actually not part of `go-ipfs`! Instead, it’s actually content downloaded over the IPFS network. If you aren’t connected to a network that has the WebUI living on one of the nodes, you won’t be able to load it.

You may want to try starting your node connected to the public network, load the WebUI, then shut y

[2018-04-02 22:36] #4907 closed

[2018-04-02 23:05] ajbouh opened #4908 "Sharded directory fetching is unusably slow"
#### Version information:
0.4.15-dev

#### Type:
Bug/performance issue

#### Description:
More context is available over in https://github.com/tesserai/iptf/issues/2

I'm trying to get reasonable performance for just *listing* the names of entries in a sharded directory that's not yet cached locally. This operation takes hours right now. With @Stebalien's help I've been able to determine that it's

[2018-04-03 03:05] maybeuright commented on #4905
The root cause is
1) GO compiler cannot compile files including CRLF.
2) My config item "core.autocrlf" is true, which means git replaced LF with CRLF when download.
3) Suggest using "git config --global core.safecrlf true"

[2018-04-03 06:30] mib-kd743naq commented on #4697
But the content *is* the hash, that line should be "noop if id-hash"...

[2018-04-03 06:59] Stebalien commented on #4697
Yeah, that threw me as well. He's talking about verifying that the bytes returned by `Block.Data()` match the bytes in the identity hash CID returned by `Block.Cid()`. Someone could theoretically construct a `Block` where the CID doesn't match the data (even with the identity hash).

However, we can define special block type for identity Cids so we can check this invariant by doing a simple type c

[2018-04-03 07:47] kevina commented on #4697
Note: Working on this right now but have not pushed anything.

Note that HashOnRead only applied when reading a hash from the BlockStore not storing it, so the new semantics of Put and PutMany is:
* `Put(blocks.Block) error` - - if an id-hash then a no-op; if not a id-hash pass on the request
* `PutMany([]blocks.Block) error` - remove the id-hashes and pass on the rest

Sorry for the confusion.

[2018-04-03 09:07] kevina opened #4911 "What is commit 4909c5a doing?"
What is 4909c5a56d256e0b999d11b065227b94576609ce doing?  It is part of a large p.r. #4568 so it hard to tell exactly why these changes where required.

It seams to be trying to fix a bunch of stuff that wasn't really broken, at least not before the new commands lib was used.

Why did `--cid-ver` lose its WithDefault option, and why is the test if `--hash` was set (`hfset`) removed?

@Stebalien you

[2018-04-03 10:14] kevina commented on #4911
My main concern is if the switch to cmds lib 1.0 changed the behavior of WithDefault so that using it will interfere with discovering if that option was specified on the command line.  For example was this change:
[code]
and
[code]
required because something broke?

(Please note that I am the one who decided on most of the logic that was changed by this commit and would of appreciated it I was not

[2018-04-03 18:07] schomatis commented on #4820
From what I've been understanding from the code you mentioned (and please correct me as I'm having a hard time understanding the commands library architecture) there are two scenarios for an IPFS command, either run it as a stand-alone process (this would be the offline mode) or act as a (HTTP) client that will forward it to the IPFS daemon (online mode, client/server architecture). In the online

[2018-04-03 18:46] Stebalien opened #4913 "Add a config profile ls command"
Currently, figuring out which profiles exist is a bit of a pain. It would be nice to have a `config profile ls` command that lists all the existing profiles.

Ideally, this would work by introspecting the list of profiles in `repo/config/profile.go`. However, to make that work, the `Transformer` functions there will need to be replaced with `Profile` structs:

[code]

[2018-04-03 18:50] Stebalien opened #4914 "Add a --dry-run flag to config profile apply"
This would print a diff between the current config and the config that *would* be generated. Possibly using, e.g., https://github.com/elgris/jsondiff

[2018-04-03 19:00] kevina commented on #4911
Note, I also verified that `ipfs add --hash=sha2-256` correctly implies CidV1 in an older version if IPFS:
[code]

[2018-04-03 19:33] b5 opened #4915 "updating to gx dep go-ipfs 0.4.14 refuses to build go-reuseport"
#### Version information:
0.4.14

#### Type:
gx build error

#### Description:
I've run into the same issue outlined in @vyzo's gist:
https://gist.github.com/vyzo/62c3fedcc61b958fa401d1340537fd68

currently can't build `gx/ipfs/QmaBTcaZbAgei1Z2ksUipLJ2AeEZtqDnyGYAkL7NFJ8pg3/go-reuseport`. My version of the error is the same, just with updated hashes for the 0.4.1.4 release:
[code]

as per vyzo's r

[2018-04-03 19:44] hvenev opened #4916 "go-ipfs depends on distinct 3 forks of golang.org/x/sys maintained by different authors"
- gx/ipfs/QmPXvegq26x982cQjSfbTvSzZXn7GiaMwhhVPHkeTEhrPT/sys
- gx/ipfs/QmTq8ag5pgTCqtGDtmpm1F5TPE2i1H8bcU6295WFKTc5ie/sys
- gx/ipfs/QmTsTrxKNXu8sZLv7FP6p884CHoDbT9upKA1j4FkCy5V7T/sys

Also, on project named `gx/ipfs/QmT6n4mspWYEya864BhCUJEgyxiRfmiSY9ruQwTUNpRKaM/protobuf`, which is a fork of `github.com/golang/protobuf`, and on `gx/ipfs/QmXSs8cccbT4zDR95c1iRpYKDqVMzqeF1J6iZcavgE6eNw/protobuf`, whi

[2018-04-03 20:17] Stebalien commented on #4916
The sys, go-detect-race, protobuf, and go-log duplicates are bugs that we're slowly fixing.

However, this is otherwise intentional. Instead of vendoring our dependencies, we import them into our IPFS-based package manager called `gx`. This:

1. Means we don't have to check them all into every one of our (many) repositories. This would bloat many of our repositories quite a bit.
2. Allows us to ac

[2018-04-03 20:25] Stebalien commented on #4915
I have a hunch. Make sure you have go 1.10 installed and then try recompiling gx (with go 1.10), remove `$GOPATH/src/gx`, and try again.

[2018-04-03 21:40] b5 commented on #4915
nice hunch. Turns out it was gx-go (ugh, last built with go 1.8.4). this flew by during gx install with the antiquated gx-go version:
[code]
But with that, all set. Thanks so much for the help @Stebalien!

[2018-04-03 21:40] #4915 closed

[2018-04-03 21:54] kevina opened #4918 "Length Limit for CID/Multihash?"
Right now (and to my surprise) there doesn't seam to be any length limit.  When identity hashes are used (see #4910) , an 18k file with hashed with the identity hash just works.  I am even able to add that file to a directory entry with the files API and retrieve it.

[code]

[2018-04-04 04:07] preetsinojiya commented on #4914
Seems like no one is working on this one now. So will work on this one and update the progress.

[2018-04-04 11:28] crazyyi commented on #4851
@djdv Confirmed I can't connect to ipfs.io in China. I will try your workaround and see how it goes.

[2018-04-04 15:52] TheAlgo commented on #4087
are u mad?

[2018-04-04 15:59] ydennisy commented on #1582
Any update on this?

[2018-04-04 23:48] #4902 closed

[2018-04-05 16:56] kevina commented on #4918
For now the wrapper blockstore enforces a limit of 64 bytes.

[2018-04-05 18:58] ivan386 commented on #4918
Why need a limit?

[2018-04-05 19:04] kevina commented on #4918
Very large keys are likely to create a problem _somewhere_.

Right now the biggest problem is displaying them.  I am not against allowing identity hashes of a few kbytes in directory entries as long as we do something about displaying them, one idea is to replace the key with something like `<inlined>`.  This means the only way to access the context is via the directory entry as for all intents an

[2018-04-05 19:11] schomatis opened #4921 "[badger] Expectations of ACID properties from the datastore for different error scenarios"
I would like to get an idea of what are the (implicit) expected properties of the datastore being used by IPFS during different error scenarios, e.g., if a system crash occurs it would be acceptable to lose the last inserted blocks, if there is a disk corruption would it be expected for some of the data to survive? (Maybe a size inversely proportional to the corruption magnitude.)

Currently the d

[2018-04-06 03:27] richardschneider opened #4922 "Windows Ctrl-C and daemon"
#### Version information:
go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/windows
Golang version: go1.10

#### Type: Bug

#### Description:
Run the daemon in a Windows command prompt and the press `CTRL-C`.  The daemon stops  However, if I run the daemon again I get the following error

[code]

[2018-04-06 05:08] preetsinojiya commented on #4914
Any suggestion for the change that aligns with the ipfs preferred code design will be appreciated.

[2018-04-06 05:30] manishrjain commented on #4921
FYI. Added a Truncate flag to avoid automatically truncating the value log. Instead, Badger by default would return an error if truncation is required.

https://github.com/dgraph-io/badger/pull/452

[2018-04-06 05:56] preetsinojiya commented on #4913
Will work on this!

[2018-04-06 09:50] magik6k commented on #4913
https://github.com/ipfs/go-ipfs/pull/4846/files sort of solves it already

[2018-04-06 17:50] djdv commented on #4906
@Stebalien
Please take a look over here https://github.com/whyrusleeping/tar-utils/pull/2#issuecomment-379327775

[2018-04-06 18:31] Stebalien commented on #4918
Yeah, the issue is for people.

[2018-04-06 18:53] djdv commented on #4808
Creation of symlinks is proving to be a problem in `go-ipfs` and `gx`
https://github.com/ipfs/go-ipfs/issues/4906
https://discuss.ipfs.io/t/issus-build-from-source/2445

Decisions are going to have to be made in https://github.com/whyrusleeping/tar-utils/pull/2 on how best to handle this.

On Windows, users can't create symlinks without special privileges (see section below if interested in detail

[2018-04-06 18:55] kevina commented on #4918
BTW: the 64 byte (or 512 bits) limits comes from the fact that is the largest output size of modern cryptographic hash functions.

[2018-04-06 21:31] kevina commented on #4918
Another idea is to impose a length limit on the display of hashes that limit will be the size required to display a CID of a hash of of 64 bytes (which will vary depending on the multibase used) after that the length will be truncated with the a `...` displayed at the end.

[2018-04-07 06:05] ivan386 commented on #4918
We can use link index in block for display or get data/link.
[code]

We already have limits of block size. No need limits for it parts.

[2018-04-07 08:06] Kubuxu commented on #4922
You can recover it with `ipfs repo fsck` and it should be fixed in next version.

Resolved by https://github.com/ipfs/go-ipfs/pull/4855

[2018-04-07 08:06] #4922 closed

[2018-04-07 09:56] magik6k commented on #1582
There is now an option to set data field encoding to base64: https://github.com/ipfs/go-ipfs/blob/master/core/commands/object/object.go#L389

[2018-04-07 18:02] Stebalien commented on #4918
The issue here is that people need to use CIDs. That is, `/ipfs/QmId...` should always be reasonably short and the user shouldn't care if the CID is inline or not.

For unixfs2, we may want to consider inline *files* but that changes some of the semantics of ipfs (e.g., not all files will be directly addressable without indirecting through a directory).

[2018-04-08 00:42] #4843 closed

[2018-04-08 11:40] mym-xjl opened #4925 "Building on Windows"
D:\go_workspace\src\github.com\ipfs\go-ipfs>go get -u github.com/whyrusleeping/gx
package golang.org/x/sys/windows: unrecognized import path "golang.org/x/sys/windows" (https fetch: Get https://golang.org/x/sys/windows?go-get=1: dial tcp 216.239.37.1:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection fa

[2018-04-09 00:02] #4842 closed

[2018-04-09 04:41] VictorBjelkholm opened #4926 "How is the "ipfs command reference" updated?"
Currently, it's out-of-date and was looking for a command to update it. So how was it generated? Seems to be a command somewhere but can't find it.

The page in question: https://ipfs.io/docs/commands/

[2018-04-09 07:34] VictorBjelkholm commented on #4926
`ipfs commands | ./bin/gencmdref > cmdref.md` for generating the document.

Then paste this into https://github.com/ipfs/website/blob/master/content/docs/commands.md#ipfs-command-reference

[2018-04-09 07:34] #4926 closed

[2018-04-09 07:42] llgoer commented on #4925
use proxy to get it

[2018-04-09 12:29] djdv commented on #4925
Users located in China should look at these:
https://github.com/ipfs/go-ipfs/issues/4851
https://github.com/ipfs/go-ipfs/issues/4684

golang.org and ipfs.io may be blocked by GFW :^(

[2018-04-09 13:18] djdv commented on #4750
@Mithgol
I believe this is the intended behaviour. https://github.com/ipfs/go-ipfs/issues/2839#issuecomment-242910656
If you run `ipfs object get Qmd9avPa5ebj7ei5tmuzH1tf97Yd1VU6XFYHLm4krdNqyK` you can see that the link was in fact stored. `H:\\dataIPFS\\shared_singular` but the contents were not.
Like `git`, `go-ipfs` will store links as links.

However, there should be an option for `add` that l

[2018-04-09 14:35] djdv commented on #4750
Relevant: https://github.com/ipfs/go-ipfs-cmds/pull/96

[2018-04-09 16:10] thinkhy commented on #3855
Any update for this bug, still hit it. IPFS version is  0.4.14.

[2018-04-09 16:25] dokterbob commented on #1482
That’s the exact behaviour I’ve been observing for a system with high load.

[2018-04-09 23:30] Stebalien commented on #3855
No, the underlying bug is in go and hasn't been fixed (https://github.com/golang/go/issues/11745).

Note: This is actually just a bug in error reporting. That is, go reports one error when it should be reporting another. In this case, you likely don't have read permissions on one of the files you're trying to add to ipfs.

[2018-04-10 00:49] Kubuxu commented on #1482
We would hard limit the amount of used memory if Golang allowed for it but it does not.
This means we can only chase bugs and try to fix them to limit the memory usage.

[2018-04-10 01:14] zaq1tomo opened #4928 "Fix repository title"
x `IPFS implementation in go`
o `IPFS implementation in Go` of `Go implementation of the IPFS`

[2018-04-10 06:08] Stebalien commented on #4928
Fixed.

[2018-04-10 06:08] #4928 closed

[2018-04-10 11:10] fazo96 commented on #4230
Has there been any progress on this?

[2018-04-10 16:41] schomatis commented on #4921
@manishrjain Thanks for adding the flag and also for your input on this subject.

[2018-04-10 20:19] AgentME commented on #1482
I'm not so much worried about limiting the impact of bugs; I'm worried about limiting the amount of memory that ipfs uses under arbitrarily high load. I want to do things like set ipfs to refuse or queue new connections if it's processing too many right now, etc.

[2018-04-10 22:29] kevina commented on #4918
@Stebalien if will allow long id-hashes we effectively allow inline files, you could access it via an a very long hash string, but no sane person will want to do that, so you effectively have to access via the directory entry.  If we allow this the only issue is with display. I can think of two possibilities, we replace the hash with something like `<inline>`:
[code]
or we truncate long hashes
[co

[2018-04-11 01:49] Kubuxu commented on #1482
@AgentME this isn't a problem right now. Currently, AFAIK, most memory issues are due to bugs.

[2018-04-11 02:09] whyrusleeping opened #4930 "Laptop Mode"
I want to run ipfs on my laptop *all the time*.
I would like to have a mode for ipfs that works essentially only on demand. Basically, I want no network activity unless I request something. When I request something, I want the activity to spin back up, fetch what I need, and then slow back down (perhaps after some cooldown).

This could be done a couple different ways, but I think the best way to

[2018-04-11 02:52] whyrusleeping commented on #4930
Some thoughts on how this could work:

A libp2p service: `/p2p/connmgr/1.0.0`

Main call would be something like `SetConnState` that takes in a peer/conn and sends them a message telling that peer/conn what our preferences for the connection are. The main options I see here are `close`, `suspend`, and `resume`

If a peer receives a message saying to set the connection state to closed, they should

[2018-04-11 03:43] whyrusleeping commented on #4930
Calling points:

- When the connection manager decides to close a connection, it should send a `close` message to both allow the connection to be closed down cleanly, and to also prevent the other side from immediately reconnecting.
- For 'laptop mode' we should have some 'activity indicators', like bitswap requests that trigger a keepalive. When that keepalive expires, we should go through and su

[2018-04-11 04:54] mib-kd743naq commented on #4918
1MB is way too large. See below.

They *might* want to in a pinch ( i.e. useful when the IPFS network is unavailable for some reason ). What we need to design for is ensuring that it is always *possible*.to do so.

The easiest hard limitation that comes to mind is: [the URL length](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers/417184#417184).

[2018-04-11 07:39] yrzr opened #4931 "docker image for ARM"
Since we do have ARM build, why not an ARM docker image?

The official images [arm32v7/golang](https://hub.docker.com/r/arm32v7/golang/) and [arm32v7/busybox](https://hub.docker.com/r/arm32v7/busybox/) can be used as the base image.

Moreover, `COPY --from=0 /lib/x86_64-linux-gnu/libdl-2.24.so /lib/libdl.so.2` should be changed to `COPY --from=0 /lib/arm-linux-gnueabihf/libdl-2.24.so /lib/libdl.so

[2018-04-11 15:51] ivan386 commented on #4918
@mib-kd743naq

Pin underline block.  Index of link in block migth be used to limit pin.

[Data URI scheme](https://en.m.wikipedia.org/wiki/Data_URI_scheme) is analog of [identity hash](https://github.com/ipfs/go-ipfs/issues/4697) in web.

[Data protocol URL size limitations](https://stackoverflow.com/questions/695151/data-protocol-url-size-limitations)

[2018-04-11 17:30] hleb-albau opened #4934 "Grafana IPFS Dashboards"
There is Prometheus metrics endpoint, but no grafana ipfs specific dashboard.
Will be nice to see IPFS dashboard, deployed https://grafana.com/dashboards.

[2018-04-11 17:58] b5 commented on #4930
So. Much. This.

To me this proposal speaks to something I've been wanting for a while, which is higher granularity of choice in network participation than "on" and "off". From a ux perspective, the primary source of network churn is this missing granularity, moving past hard-limit configuration ("max 150 connections") to context-based resource usage. In my ideal world we'd have hooks so I can bui

[2018-04-11 18:12] ivan386 commented on #4918
@mib-kd743naq

Pin underline block.  Index of link in block migth be used to limit pin.

[Data URI scheme](https://en.m.wikipedia.org/wiki/Data_URI_scheme) is analog of [identity hash](https://github.com/ipfs/go-ipfs/issues/4697) in web.

[Data protocol URL size limitations](https://stackoverflow.com/questions/695151/data-protocol-url-size-limitations)

[2018-04-11 19:11] OhJerry opened #4935 "Data in Merkle DAG service"
I am trying to figure out how file is "added" into ipfs.
I noticed that the data inside DAG nodes are not just plaintext, but texts with special characters:
![image](https://user-images.githubusercontent.com/19763683/38637323-d5bceb6c-3d98-11e8-8c7a-62f54414bd3c.png)
I am now focusing on merkledag\coding.go, and this screenshot shows different n.data with different inputs. Notice that each string

[2018-04-12 01:25] kpeterstech opened #4936 "bug: export IPFS_PATH to file server throws error during ipfs init"
I made this post on the discussion page at [ipfs.io](https://discuss.ipfs.io/t/export-ipfs-path-not-working/2557?u=skipwoosnam). I was told this is most likely a bug and to post this over here.

#### Version information:
`ipfs version --all`

go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/linux
Golang version: go1.10

#### Type: Bug

#### Description:

Desktop OS: Ubuntu 16.04 on p

[2018-04-12 05:03] ivan386 commented on #4935
https://ipfs.io/docs/commands/#ipfs-add
### ipfs add <path>
By default ipfs wrap file data by dag node. Dag node contain 2 protobuffers.
1. https://github.com/ipfs/go-ipfs/blob/0cb22ccf359e05fb5b55a9bf2f9c515bf7d4dba7/merkledag/pb/merkledag.proto#L31-L39
2. https://github.com/ipfs/go-ipfs/blob/0cb22ccf359e05fb5b55a9bf2f9c515bf7d4dba7/unixfs/pb/unixfs.proto#L3-L20

merkledag PBNode.Data contains un

[2018-04-12 05:43] magik6k commented on #4936
It seems to be more of an issue with the cifs fs. Can you record an strace (`strace -ff ipfs init > init.trace`) and send it here? (upload it to gist or somewhere like that, it's probably going to be quite lengthy)

[2018-04-12 06:50] kpeterstech commented on #4936
I ran the command you pasted `strace -ff ipfs init > init.trace` but all it gave me was the following output:

`initializing IPFS node at /media/network_storage/FTP/ipfs`
`generating 2048-bit RSA keypair...done`
`peer identity: QmQq3imtqKNcaQ7PyBvTFBZ4LrMtS7Ru6CC5KTyGK6de7z`

So I tried redirecting with 2> and this is what I got. I hope this is what you were looking for. This is what I saw when I

[2018-04-12 17:16] karalabe opened #4937 "Dependency mismatch between spec and multihash, no error raised"
#### Version information:
Source code, latest master

#### Type:
Package manager bug

#### Description:
Your [packages.json](https://github.com/ipfs/go-ipfs/blob/master/package.json) contains a reference to [`whyrusleeping/lock`](https://github.com/ipfs/go-ipfs/blob/master/package.json#L152). That reference is apparently wrong, as the [QmVUAoR89E6KDBJmsfRVkAoBMEfgVfy8rRmvzf4y9rWp1d](https://gatewa

[2018-04-13 03:36] sci4me opened #4938 "Multiple connections to same node?"
I just started running the IPFS node on my machine and, in the webui, I noticed that there appear to be more than one connections to the same node. Not sure if this is intentional but seems like a bug.

[2018-04-13 10:43] MichaelMure commented on #3860
@inetic find providers (for some data in ipfs) and resolving a value (like an ipns entry) is actually two very different code path and rules in the DHT. I did a review of the DHT a few days ago that might explain the troubles: https://github.com/libp2p/go-libp2p-kad-dht/issues/131

[2018-04-13 13:28] djdv commented on #4937
For reference, the source for that dependency comes from our local fork: https://github.com/gxed/go4-lock/
(which just removes the canonical import path)

The package itself is still named "lock", but it's located under the directory "QmVUAoR89E6KDBJmsfRVkAoBMEfgVfy8rRmvzf4y9rWp1d/go4-lock".

I believe the `package.json` name is used when specifying the namespace for the package
`import lock "gx/i

[2018-04-15 04:55] Stebalien commented on #4938
That can happen if both sides try to connect at the same time. I'm currently working on a large refactor of go-libp2p that'll make this slightly better but we need connection migration to completely fix this (a non-trivial problem).

Just to make sure, *how* many of these duplicate connections are you seeing and what do they look like?

[2018-04-15 04:58] sci4me commented on #4938
I was only seeing one or two, but right now I see none. What do you mean by what do they look like?

[2018-04-15 05:17] Stebalien commented on #4938
Yeah, that sounds like simultaneous connects (can happen when there's a disconnect and then both sides reconnect at the same time).

A screenshot but that shouldn't be necessary now.

---

Closing in favor of #4644.

[2018-04-15 05:17] #4938 closed

[2018-04-16 09:59] alanshaw commented on #4740
I made a "top" for bandwidth:

![screenshot-2018-4-12 peer bandwidth 1](https://user-images.githubusercontent.com/152863/38704010-ce6f54e4-3e9c-11e8-809f-f5284ef1db9a.png)

Some things struck me whilst building this:

1. Its difficult to build the bandwidth per peer table because `ipfs.stats.bw` only allows getting bandwidth for a _single_ peer. I **can't** send off ~1000+ requests to `ipfs.stats.

[2018-04-16 11:04] Stebalien commented on #4936
That definitely looks like a bug in samba. Possibly: https://bugzilla.samba.org/show_bug.cgi?id=10762

Basically, we're creating the file with the mode set to read-only. This will prevent future attempts to open the file for writing to fail but *shouldn't* prevent the initial creator from writing to it. It looks like CIFS doesn't follow this part of the Posix spec.

Could you test the following pr

[2018-04-16 22:08] kpeterstech commented on #4936
`:~$ go version`
`go version go1.6.2 linux/amd64`

I copied the code pasted above into a file named "the_program.go". I then ran it with the command listed above from my home directory `~/`.

The first time I ran `the_program.go`  I got the following result

[code]

I looked in /media/network_storage/FTP and saw that the file `test_file` had been created. It was not there before I ran `the_program

[2018-04-16 23:31] ToxicFrog commented on #1941
FYI, this is still an issue in 0.4.13 and 0.4.14. In particular, it means if you're running a private swarm with a single node or with intermittent connectivity, `ipfs name publish` effectively can't be used at all.

[2018-04-17 00:58] Stebalien commented on #4936
Got it. This is definitely a bug in CIFS Linux kernel module. We could work around it in go-ipfs but I should warn you, storing the repo on a network storage device will give you pretty poor performance.

[2018-04-17 01:04] Stebalien commented on #4740
Right here.

It can be useful when tracking bandwidth usage within a cluster of IPFS nodes.

I agree but we'll have to be *very* careful not to store too many CIDs in memory (can quickly run into performance issues).

[2018-04-17 01:25] kpeterstech commented on #4936
That's ok. I actually figured out a workout from the thread on the dicuss.ipfs.io that is linked above. I just thought I would do my part trying to make a bug known, and to document this problem for someone else that comes along later. Thank you for taking the time to help though!

[2018-04-17 02:10] #4935 closed

[2018-04-17 09:06] cp542524698 opened #4941 "get node which store file sharding hang up all the time"
[root@node175 ~]# ipfs version
ipfs version 0.4.14
[root@node175 ~]# ipfs add babeltrace-1.2.4-3.el7.x86_64.rpm
added QmZ4CydvhAkkrG2VnGqiy9hL5Y8XAZHj11Tndnkam4eGyc babeltrace-1.2.4-3.el7.x86_64.rpm
[root@node175 ~]# ipfs dht provide QmZ4CydvhAkkrG2VnGqiy9hL5Y8XAZHj11Tndnkam4eGyc
[hang up all the time]

another way:
[root@node175 ~]# ipfs dht findprovs  QmZ4CydvhAkkrG2VnGqiy9hL5Y8XAZHj11Tndnkam4eG

[2018-04-17 09:50] Stebalien commented on #4936
I wonder if it would be a good idea to try to detect the filesystem on init and warn about filesystems with known issues...

[2018-04-17 12:13] #4729 closed

[2018-04-17 12:44] Stebalien commented on #4230
No.

[2018-04-18 03:33] Stebalien commented on #2380
Yes. This appears to work as intended. Closing as this is an old issue.

[2018-04-18 03:33] #2380 closed

[2018-04-18 06:29] Stebalien opened #4942 "Config is not thread-safe"
While we try to make it thread-safe by copying the config on read (see `Repo.Config()`) this doesn't really fix the problem because we have, e.g., maps inside of it. Furthermore, while not safety issue, the profile apply commands don't compose atomically.

Instead of exposing `Config()`, `SetConfig()`, `BackupConfig()`, etc., we should probably provide the following two methods:

[code]

[2018-04-18 09:59] iain17 commented on #4224
I'm wanting to do something similar. I have a use case where every peer in my IPFS network shares a certain directory with files up to 10gb or more. Where this directory is located differs per user. I'm a little confused as to what --nocopy actually does now.... How can I add these files to IPFS without duplicating each file to the ~/.ipfs/ home directory?

[2018-04-18 10:00] Kubuxu commented on #4941
How many peers do you have, you can check with `ipfs swarm peers`.

[2018-04-18 10:42] iain17 commented on #4224
@Voker57 ah thanks for clearing that up. Same here. Do you know by any chance where in the code base this check if its inside of the home directory is done?

[2018-04-18 11:33] Voker57 commented on #4224
https://github.com/ipfs/go-ipfs/blob/master/filestore/fsrefstore.go#L213 looks like that's it

[2018-04-18 11:36] mib-kd743naq commented on #4371
I am not sure whether this has been fully fixed or not, but there is improvement: I now get a `504` after a **massive** timeout ( 10 minutes or something, should likely be lowered ) if I try to access http://ipfs.io/ipfs/QmVpsktzNeJdfWEpyeix93QJdQaBSgRNxebSbYSo9SQPGx

Kudos to the team!

[2018-04-18 12:35] magik6k opened #4944 "refs -r loops with git hashes"
Try `ipfs refs -r z8mWaFiA3ZiXGAPg8vKUJpnsGMErzLyN5`, it will start just throwing hashes in what seems to be an infinite loop.

cc @lgierth

[2018-04-18 12:37] lgierth opened #4945 "Infinite loop in refs command client"
#### Version information: 0.4.15-dev-54a3556

#### Type: bug

#### Description:

I did `ipfs refs -r z8mWaFiA3ZiXGAPg8vKUJpnsGMErzLyN5` to fetch the Git repository mentioned in [git-remote-ipld](https://github.com/magik6k/git-remote-ipld). After a minute or so of printing CIDs, it seems to get into an infinite loop printing ever more CIDs, and eventually runs out of memory (> 30 GB). Note that thi

[2018-04-18 12:41] #4913 closed

[2018-04-18 13:54] Kubuxu commented on #4371
What is under this hash?

[2018-04-18 13:55] Kubuxu commented on #4371
It was solved by: https://github.com/ipfs/go-ipfs/pull/4751
but we want to move to a permanent solution of ipfs/go-cid#40

[2018-04-18 13:57] mandarvaze commented on #4907
@Mr0grog How can I "start a node connected to public network" ?
Do you mean I get webui to work first, and then `ipfs bootstrap rm --all` ?

[2018-04-18 13:59] Kubuxu commented on #4907
Yes, open webui before transitioning to a private network.

[2018-04-18 14:05] mib-kd743naq commented on #4371
On an unpatched go-ipfs:
[code]

From my email to `security@` back in November:

[2018-04-18 14:12] mib-kd743naq commented on #4371
Looking over #4751 it seems there is no work related to the DHT. I still strongly recommend the following:

[2018-04-18 14:15] Kubuxu commented on #4371
@mib-kd743naq my plan for ipfs/go-cid#40 is to forbid any creation of CID with the number of security bits lower than SHA1.

----

I wonder why QmVpsktzNeJdfWEpyeix93QJdQaBSgRNxebSbYSo9SQPGx times out.

[2018-04-18 14:46] Kubuxu commented on #4371
Yes, that what I meant. If we are not able to create an insecure CID on our node then we won't be able to propagate info about it.

[2018-04-18 14:48] Kubuxu commented on #4945
@magik6k dedup it with #4944

[2018-04-18 15:25] #4945 closed

[2018-04-18 15:35] mrosset opened #4947 "gx install hangs fetching random dependancies"
#### Version information:

#### Type:

Bug
#### Description:
I'm updating a power8 install, because power8 doe not have gx or ipfs binaries. I just bootstrap by hand.
However gx install will hang randomly installing dependacies. I thought it might be network related so I attempted to use  gx install on another network and on a x86_64 arch. And It I still get network hangs on muliple machines. it's

[2018-04-18 15:43] lgierth commented on #4947
We're having issues on the ipfs.io gateway in the past hour which should be a bit better now. Retry.

[2018-04-18 15:51] mrosset commented on #4947
I just noticed it seems to be resovled now, thanks for the quick reply.

The reason made this issue is this is not an isolated case. I really like ipfs, but  I can't help but wonder if something needs to be done to have either gx time out with a error message. Or use a dedicated gateway for gx packages. I'm also not gx fan, though I understand the use case here. I really am fond of go get :)

[2018-04-18 17:00] pSnehanshu commented on #4516
It is affecting my Ubuntu as well

[2018-04-18 19:59] kevina commented on #4766
If we go ahead with this repo migration I would like to combine this migration with one that will remove all id-hashes from the datastore to make https://github.com/ipfs/go-ipfs/pull/4910 easier.

[2018-04-19 01:27] Stebalien commented on #4516
@pSnehanshu please make sure you're using 0.4.14 and file a new report with all the relevant details.

[2018-04-19 02:35] cp542524698 commented on #4941
@Kubuxu
First of all, thank you for your reply.
[root@node175 ~]# ipfs swarm peers |wc -l
403

[2018-04-19 04:39] Stebalien commented on #4918
So, for unixfs2, we actually don't need to use CIDs for this. Instead, we can just allow inline files:

[code]

The primary motivation for inline CIDs is that it allows us to concisely point to inlined objects. If we can't do that (e.g., have a large, unwieldily CID), then there isn't much of a point in using CIDs.

[2018-04-19 05:03] ivan386 commented on #4918
@Stebalien what about inline data in files in any place?

[2018-04-19 05:32] kevina commented on #4918
@Stebalien unixfs2 is not defined yet, and there is no clear consensus on what to include (that is unless I am missing something).

[2018-04-19 05:33] kevina commented on #4918
In particular I am not sure allowing inline files is such a good idea, at very least it requires careful though.

I am more included to allow larger identity hashes.

[2018-04-19 05:58] Stebalien commented on #4918
CIDs need to remain usable in paths. I agree that we'd need to be careful about inline files (and I'm not even sure if should support them) but CIDs *must* remain usable by humans.

We need to focus on the motivations:

* CIDs shouldn't be more than ~50% of the size of the file (max): Inline CIDs.
* Transferring lots of small blocks is inefficient: Make it efficient (e.g., batch transfer).
* Stori

[2018-04-19 12:25] frogg opened #4950 "IPFS Daemon killed after about 10 minutes"
#### Version information:
[code]

#### Type:
Bug

#### Description:
For me, the deamon gets killed after about 10 minutes:

[code]

Here are the logs of the crash:

[code]

[2018-04-19 13:58] cchris-org opened #4951 ""error from node construction: EOF executor.go:108""
ipfs version 0.4.14
os: ubuntu,debian

starting ipfs daemon with empty swarm.key produced an error, which costed me hours :(
just a "unexpected swarm.key" or somthing would be helpful in this case

generate empty swarm.key .. ie.
touch ~.ipfs/swarm.key
ipfs daemon
ERROR   cmd/ipfs: error from node construction: EOF executor.go:108

thanks!.

[2018-04-19 14:55] karalabe commented on #3860
Hmm, running latest master, I see a funky behavior with IPNS resolutions:

[code]

Resolution **always** takes exactly 1 minute, meaning it's a synthetic timeout somewhere blocking the results. Perhaps it's IPNS waiting for majority consensus before returning it to the user?

[2018-04-19 15:17] vyzo commented on #3860
@karalabe there is no majority consensus involved in ipns.

But you are right that there is probably a timeout involved (1min is the default for a lot of things).
Are you using pubsub by any chance?

[2018-04-19 15:25] whyrusleeping commented on #3860
We do that, in the DHT: https://github.com/libp2p/go-libp2p-kad-dht/blob/master/routing.go#L84

[2018-04-19 15:26] vyzo commented on #3860
I stand corrected.

And there is a 1min timeout 3 lines further down.

[2018-04-19 18:16] MichaelMure commented on #3860
The timeout is hit because we don't get enough answers. I believe we don't get enough answers because:
- the value is not propagated enough (see https://github.com/libp2p/go-libp2p-kad-dht/issues/131#issuecomment-378290171)
- some nodes holding the value might not be reachable due to network condition, NAT and friends
- as in any DHT, we might not contact the same nodes the value was pushed to, bu

[2018-04-19 18:27] MichaelMure commented on #3860
16 is a trade-off between speed and correctness to sample the DHT enough and get the newer record out of the older ones. I don't know if it's too much though.

If anything, `PutValue` should be fixed to be sure to actually push to 20 nodes, or even make it a DHT query to reach nodes closer to the key that we might not know of yet.

[2018-04-19 18:33] Cole128 commented on #57
I just came back to this link again. Does anyone have an answer?

[2018-04-19 20:07] Cole128 commented on #57
@lidel libp2p led me [here](https://github.com/libp2p/js-libp2p/issues/104) which seems to say it is only kind of implemented now.

[2018-04-19 21:14] djdv commented on #4808
Symlink creation update
![symlinks](https://user-images.githubusercontent.com/13862850/39018098-0cc50c88-43f3-11e8-8560-f99258a87c95.png)

On Vista+, as long as the user has the privilege to create links, they should now be able to.
If they don't have that privilege, as a compromise, links will be skipped and a warning will be logged instead of failing out.

How the warning will look isn't finaliz

[2018-04-20 00:46] Stebalien commented on #4891
When listing a directory with 100,000 files, 100 files per ms is actually kind of slow.

[2018-04-20 00:54] mib-kd743naq commented on #4891
Given my figure of 265k/s the conversion of 100,000 CIDs *twice* the size of a typical one should take 300ms. The actual time is likely a fifth of that, as perl itself is embarrassingly slow, it was just faster to code a single command one can paste into their terminal to validate things.

All I am trying to point out is that you are almost certainly solving the wrong problem: if Base58 conversion

[2018-04-20 02:07] Stebalien commented on #57
@Cole128 there are two implementations of libp2p, one in js and one in go (and a work in progress one in rust). The issue you linked was for js. NAT traversal works pretty well in go (although we're still missing a few pieces).

If you just want to piggyback on ipfs's NAT traversal, you may be interested in https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#ipfs-p2p

There's

[2018-04-20 03:42] whyrusleeping commented on #3860
+1 to fixing PutValue.

[2018-04-20 07:06] MichaelMure commented on #3860
Note: `Provide` is working in a similar fashion (simple push to nodes we already know without guarantee of a minimum of nodes).
`FindProviders` is less sensitive than `GetValue` because we only need to find one working provider to start downloading, but changing `Provide` the same way might help in edge cases and allow to reduce the number of node we keep connected for the DHT.

[2018-04-20 08:42] martin-looklet opened #4953 "Error when renaming keys"
#### Version information:

go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/darwin
Golang version: go1.10

#### Type:

Bug

#### Description:

If I create a key with `ipfs key gen` and try to rename it, I get an error, but the key is renamed:
[code]

[2018-04-20 10:01] Stebalien opened #4954 "Tell DHT nodes if their IPNS records are out of date"
Due to https://github.com/ipfs/go-ipfs/pull/4733, we call `GetValues` instead of `GetValue`. Unfortunately, this means that the DHT never learns which value is correct so it never corrects peers with outdated values.

(also, the new `getValue` function on the `routingResolver` duplicates a lot of code in `dht.GetValue`)

[2018-04-20 11:52] mib-kd743naq commented on #4918
@Stebalien do you have thoughts on the ~140byte figure I derived in https://github.com/ipfs/go-ipfs/issues/4918#issuecomment-380326835 ?

[2018-04-20 15:11] Cole128 commented on #57
@Stebalien thanks a lot, I'll check all those links out.

[2018-04-20 15:41] recoilme commented on #4870
@schomatis I create PR with slowpoke test: https://github.com/schomatis/datastore_benchmarks/pull/1

Quick summary
Slowpoke:
Put time: 1.16221931s
Get time: 805.776917ms
Db size: 1 048 570 bytes (Zero bytes overhead)
Index size: 5 033 136 bytes

Badger:
Put time: 902.318742ms
Get time: 723.95486ms
Vlog size: 7 247 634 bytes
Sst size: 6 445 276 bytes

Slowpoke looks little slow then badger, but not

[2018-04-20 16:31] magik6k commented on #4870
@recoilme how does slowpoke scale in few TB to PB range? btw I'd put this discussion in a separate issue as it's kind of off-topic here.

[2018-04-21 14:27] NeoTeo commented on #1126
As far as I can see multipeer connectivity doesn't provide anything we don't already have through mdns discovery. The issue is mainly finding the resources to do a native port libp2p to Swift/iOS. I think a good starting place would be a generic libp2p porting guide (eg. where to start, tests along the way, etc.) for anyone interested in implementing a version on their preferred platform.

[2018-04-21 14:38] realChainLife opened #4957 "No Issue"
No issues yet, just installed Go and starting out with IPFS, looking forward to all the fun :-)

#### Version information:

#### Type:

#### Description:

[2018-04-21 16:04] xiaods commented on #612
any update?

[2018-04-21 20:30] kevina commented on #612
@xiaods Please see https://github.com/ipfs/ipld-unixfs for the next version of unixfs, which will eventually have support for metadata.

[2018-04-22 00:29] whyrusleeping commented on #4950
Thats really strange. @frogg how much memory does your machine have?

[2018-04-22 01:49] magik6k opened #4961 "Optimize sharness tests"
Some sharness tests take way more time to complete than they have to.

Results from https://ci.ipfs.team/job/IPFS/job/go-ipfs/job/PR-4959/7/testReport/sharnessLinux/ (sort by duration) / https://github.com/ipfs/go-ipfs/pull/4959

* [ ] - `t0181-private-network / 12 - try connecting node in public network with priv networks` - should timeout way sooner
* [ ] - `t0130-multinode` - adds a tree of 5k

[2018-04-22 06:43] elitak opened #4963 "`ipfs pin add` concurrency problem on low-end systems"
#### Version information:
go-ipfs version: 0.4.11-
Repo version: 6
System version: arm64/linux
Golang version: go1.8.5

#### Type: Bug

#### Description:
I'm running the daemon on an ARM machine where resources are tight. It has 1GB of RAM and a large volume over USB2.0. The following is a problem I run into very reliably.

I have a directory full of symlinks to /ipfs/<SomeMultiHash>. If I want to

[2018-04-22 12:50] pSnehanshu commented on #4516
It suddenly started working today. But still has some problems. Even when I add files to ipfs, my local ipfs-http gateway is not able to fetch that file, wheres ipfs.io is able to fetch it.

[2018-04-22 15:54] PlayerWithoutName opened #4964 "Ipfs swarm connect with empty timeout parameter doesn't print error message"
#### Version information:
ipfs version --all
go-ipfs version: 0.4.14-rc3-3ae409019
Repo version: 6
System version: amd64/linux
Golang version: go1.9.3

#### Type:
Bug

#### Description:
When `ipfs swarm connect` is used with timeout, and the timeout is reached, it prints that the context deadline was exceeded. However, when the flag is present, but has no value, command exits with code 1 and doesn

[2018-04-23 04:41] taylormike commented on #4625
@Stebalien Something like this? (see adder.UnpinRoot())
[code]

[2018-04-23 09:54] frogg commented on #4950
@whyrusleeping the machine this was running on has only 1GB of memory.

[2018-04-23 10:49] recoilme commented on #4870
Ok, @magik6k  please let me link to it please

In general, slowpoke may be little slow then badger on synthetic benchmarks but it scales better on the big databases. Slowpoke is proxy to the filesystem, like flatfs + indexes + management memory
Or like badger without Lsm tree inside. Each table work in the separate goroutine and each key store is  a map with values size and address in file.

[2018-04-23 11:16] vasa-develop opened #4969 "ipfs daemon -- Error: EOF"
#### Version information:
go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/linux
Golang version: go1.10

#### Type:
Bug

#### Description:
Fresh installation of ipfs was done.
```ipfs daemon``` was not working.
Logs for ```IPFS_LOGGING=debug ipfs daemon ```

[code]
Note:  the daemon was working with ```ipfs daemon --offline```

[2018-04-23 11:28] hitchhiker commented on #3065
This is essential, checking back on this. Without limiting, it's hard for us to package this in projects -> we can't expect end users to accept such a _heavy_ bandwidth requirement.

[2018-04-23 12:05] whyrusleeping commented on #3065
Please just add an emoji to the issue itself to add your support. Comments in this thread should be reserved for discussion around the implementation of the feature itself.

[2018-04-23 12:37] whyrusleeping commented on #3860
I filed an issue in the DHT codebase for this. Hoping to get someone to investigate it soon.

[2018-04-23 13:32] whyrusleeping commented on #3860
@inetic the selector for public keys does just pick the first valid record, because all public key records are the same. In that case, yes. It is wasteful to wait for 16 records.

Though since public keys are cached, and can also be obtained through other methods, the slowness of ipns is rarely due to public retrieval. The slowness happens because for IPNS records, we need the 16 values, this is a

[2018-04-23 13:51] karalabe commented on #3860
Can the TTL be controlled by the user? E.g. can I say I want an IPNS entry to be valid for only 5 mines?

[2018-04-23 16:06] whyrusleeping commented on #3860
@karalabe yes, via the `--lifetime` flag. There is also a TTL flag, but that affects a different TTL than the record validity one.

[2018-04-23 16:44] magik6k commented on #4969
Might be related: https://github.com/ipfs/go-ipfs/pull/4952. If you weren't setting up private network then it's a different issue.

Would it be a problem for you to share the ipfs repo (`~/.ipfs`)? Note that sharing it will expose some keys, so you'll have to remove and re-init it.

[2018-04-23 18:56] Stebalien commented on #4516
@pSnehanshu, @5ong please open a new issue.

[2018-04-23 19:39] Kubuxu commented on #4224
It is to limit possible escalation attack. A user might have different permissions than the daemon and escalate the access through the API.

[2018-04-23 21:03] Stebalien commented on #4950
@frogg it was almost certainly OOM killed. Check `dmesg`.

You can significantly reduce the amount of memory go-ipfs uses by:

1. Turning of the DHT server (run the daemon with `--routing=dhtclient`).
2. Reducing the number of connections you keep alive. Try reducing the `Swarm.ConnMgr.HighWater` and `LowWater` config options.

[2018-04-24 08:11] sixcorners opened #4973 "unresolvable dnslink record allows /ipfs/ traffic"
#### Version information:
go-ipfs version: 0.4.13-3b16b74
Repo version: 6
System version: amd64/linux
Golang version: go1.9.2

Docker image: ipfs/go-ipfs:latest@sha256:9e954a28f694b1d6e3ae0af1b374a498913b262069e926cdd5728b7f630149c8

#### Type:
Bug

#### Description:
Normally when you have a dnslink text record on a domain you can't access arbitrary stuff out of ipfs.
I set up a dnslink record to

[2018-04-24 08:34] sixcorners commented on #4788
This seems like a duplicate of #3902.
If you know the things you want to link to you could add an /ipfs/ directory to your content with hashes that point to the right place.

[2018-04-24 12:39] vasa-develop commented on #4969
Nope, I wasn't trying the private net.
[Here](https://github.com/vasa-develop/ipfs_repo) is the link to my repo.

[2018-04-24 13:00] magik6k commented on #4969
You have empty `swarm.key` in your repo, which is for private net setup. Removing this file should fix the issue. #4952 will provide a better error message. Do you have any idea for how the file might have gotten there?

[2018-04-24 13:40] #4969 closed

[2018-04-24 14:05] wschenk commented on #4532
I've been looking into this, and I think that the ipfs p2p command is probably a better solution.  The code from the example has been migrated to the p2p package, which has been changed to tunnel through from one node to the next, making a connection on a local port.  I set it up to expose ssh from my raspberry pi behind the NAT that I can get to now from the outside, knowing the ipfs id of the pi

[2018-04-24 16:56] arunthampi commented on #3060
The dependency that `go-ipfs` has on `gx` makes it hard to use with existing toolchains (such as `godep`, `dep` or `govendor`) -- one user has taken the entire repo an `un-gx`'ed it so that it can be used as part of a conventional go toolchain: https://discuss.ipfs.io/t/using-go-ipfs-as-a-library-problems-with-dep/2697

Are there plans to make it simple to integrate `go-ipfs` with go projects in a

[2018-04-24 17:04] djdv commented on #3060
@arunthampi
There's talk about it here https://github.com/ipfs/go-ipfs/issues/4831
This may also be interesting to you: https://github.com/ipfs/go-ipfs/pull/4920

[2018-04-25 00:15] Stebalien commented on #4973
I assume you're running an IPFS gateway at wikipedia.sixcorners.info? Setting a dnslink record on your DNS server isn't going to affect your IPFS node; it's *still* an IPFS gateway.

If you want to limit the paths that can be resolved through your gateway, you can set the `Gateway.PathPrefixes` config option to, e.g., `["/ipns/QmdJiuMWp2FxyaerfLrtdLF6Nr1EWpL7dPAxA9oKSPYYgV"]`:

[code]

That should

[2018-04-25 04:29] kevina commented on #4961
I am probably responsible for the huge number of tests in `t0250-files-api` and `t0040-add-and-cat`.  I am skeptical on the benefit of splitting these tests as they are just one of many shareness tests that need to be run, so the probability that they will increase parallelism is low.  Nevertheless, if we do split them up I would like to take lead on that.

[2018-04-25 04:34] kevina commented on #4908
This seams like an easy enough fix, so I will look into it.  If someone beats me to it please remove my assignment.

[2018-04-25 04:37] kevina commented on #4944
I will look into this.

[2018-04-25 04:42] kevina commented on #4766
cc @Stebalien @Kubuxu

[2018-04-25 04:43] whyrusleeping commented on #3060
@arunthampi you also might find @karalabe's fork interesting: https://github.com/ipsn/go-ipfs

[2018-04-25 07:08] Stebalien commented on #4973
Huh. I guess I was wrong. I thought this was a feature of *our* gateways, not the IPFS gateway in general (I thought we did this with a reverse proxy).

---

But now I see the issue. Sorry, I misinterpreted your initial post. The issue here is that, when `/ipns/QmdJiuMWp2FxyaerfLrtdLF6Nr1EWpL7dPAxA9oKSPYYgV` stopped resolving, IPFS started resolving *other* things. Yeah, that's *definitely* a bug.

[2018-04-25 13:18] djdv commented on #4925
Soon, we'll be distributing tar archives which contain everything you need to build offline, this should help users who have specific network restrictions.

[2018-04-25 13:31] arunthampi commented on #3060
yup @karalabe pointed me to [his fork](https://discuss.ipfs.io/t/using-go-ipfs-as-a-library-problems-with-dep/2697/2) but I got it working with `govendor` and the `make go-ipfs-source.tar.gz` task! thanks @djdv for the pointer :pray:

[2018-04-25 14:55] alanshaw opened #4978 "Error in offline name.publish after id"
#### Version information:
go-ipfs version: 0.4.14-5db3846
Repo version: 6
System version: amd64/darwin
Golang version: go1.10

#### Type:
Bug

#### Description:

Only in offline mode, calling `name.publish` after `id` causes an error.

[code]

[2018-04-25 16:15] hoffmabc commented on #4057
If we could make this happen I'd be extremely excited.

[2018-04-25 21:27] Stebalien commented on #4908
@kevina have fun :smile:. Unfortunately, it's actually a bit frustrating. Parallelizing fetching all the children of a single node is simple however, many of the nodes deep in sharded directory trees only have a few children so the speedup is a bit depressing.

At the end of the day, it becomes a memory/parallelism + throughput/latency tradeoff.

[2018-04-25 22:36] ajbouh commented on #4908
But parallelization of children nodes should address the scenario with 1e6
children at a single level, right?

On Wed, Apr 25, 2018, 23:27 Steven Allen <notifications@github.com> wrote:

[2018-04-25 23:39] Stebalien commented on #4908
@ajbouh due to sharding, we have at most 256 children at each level. Fetching 256 at a time is great however, many of the deeper (partially filled) nodes in the tree end up with 5-10 children.

[2018-04-25 23:46] jlubbers08 commented on #4130
So I wrote a plugin that does exactly that. The site generates in the background and then is updated with every page save. It also makes the IPFS version of the site like a time machine.

https://www.jefflubbers.com/ipfs-wordpress/

[2018-04-25 23:52] lgierth commented on #4130
@jlubbers08 oh this looks fantastic! Thank you!

[2018-04-26 00:02] lgierth commented on #4130
@jlubbers08 actually, would you like to post that to https://discuss.ipfs.io? I'm sure there's gonna be quite a few people interested in this wordpress plugin.

[2018-04-26 00:40] ajbouh commented on #4908
But right now we fetch only one at a time, so isn't that a 5-256x
improvement? Initial fetch of ImageNet took hours...

On Thu, Apr 26, 2018, 01:40 Steven Allen <notifications@github.com> wrote:

[2018-04-26 00:49] Stebalien commented on #4908
@ajbouh in practice, more like 4x. Definitely an improvement but we can do much better.

[2018-04-26 01:00] kevina commented on #4908
Yeah we need to be reading the blocks as they come in from the network, and then fetching any other needed blocks in parallel.  This should be possible, but I have not looked into the code yet.  However, we would need to limit the number of requests fetched in parallel somehow.

@Stebalien do you have some good test hashes?

[2018-04-26 01:37] Stebalien commented on #4908
@kevina I just created a large directory with tiny files locally and tested with iptb. I find that's generally the best way to make a reproducible test.

[2018-04-26 01:58] kevina commented on #4908
@Stebalien where did the 4x number come from?

[2018-04-26 02:13] Stebalien commented on #4908
@kevina most of the shards had few directories and we'd wait until we'd downloaded *all* of them before moving on. This gives us a sawtooth pattern where we were often only downloading a few stragglers.

[2018-04-26 09:44] kjzz commented on #4978
use cmd "pfs name resolve" can alse cause this error

[2018-04-26 09:44] kjzz commented on #4978
use cmd "ipfs name rsolve" cause the same error,and i have find the reason.

[2018-04-26 09:45] kjzz commented on #4978
please assign this issue to me

[2018-04-26 09:47] kjzz commented on #4978
@alanshaw

[2018-04-26 10:39] kjzz commented on #4978
i have fix it in pr #4980

[2018-04-26 12:43] #3266 closed

[2018-04-26 12:44] #3971 closed

[2018-04-26 13:59] Magalame opened #4981 "Leveldb corruption"
#### Version information:
go-ipfs version: 0.4.12-rc1-8ec1ce9e
Repo version: 6
System version: arm/linux
Golang version: go1.9

#### Type:
Bug

#### Description:

* What you were doing when you experienced the bug.

I played around a bit with launching/killing ipfs, because it was using a lot of ressources, and it kept rebooting.

* Any error messages you saw, *where* you saw them, and what you be

[2018-04-26 16:28] Stebalien commented on #4981
Note: IPFS *should* recover from a crash. This is a bug.

[2018-04-26 20:43] xiaods commented on #612
@kevina thanks for your hints. it rocks.

[2018-04-26 20:45] xiaods commented on #612
@kevina there is not found code in ipld-unixfs  repo. do you know the reason?

[2018-04-26 23:52] Magalame commented on #4981
Just in case it helps, the repair from python worked perfectly well!

[2018-04-26 23:56] kevina commented on #612
@xiaods the link works for me

[2018-04-27 10:28] #4947 closed

[2018-04-27 11:12] Kubuxu commented on #612
@xiaods work there is in issues and/or PRs where we are trying to draft a spec.

[2018-04-27 16:51] The-Soulless opened #4984 "IPNS broken?"
#### Version information:
ipfs version 0.4.14

#### Type:
Bug

#### Description:
I installed ipfs yesterday and things were going great, but certain websites weren't working (Loading for a long time and then spitting out an error), I just thought that they were broken for the time being, then today I noticed that only websites that are using ipns are broken, the error messages they spit out are
`i

[2018-04-28 12:06] ToxicFrog opened #4985 "`ipfs pin add` on large trees is extremely slow even when most of the content is already pinned"
#### Version information:
    go-ipfs version: 0.4.13-
    Repo version: 6
    System version: amd64/linux
    Golang version: go1.9.4

#### Type:
Enhancement

#### Description:
`ipfs pin add` is slow on large data sets, because it needs to walk the entire tree in order to verify that it exists on the node (and, if not, fetch it from elsewhere) before the pin is considered successful. This is expe

[2018-04-28 12:27] ToxicFrog opened #4986 "[FR] `ipfs add -w --name` when adding from stdin"
#### Version information:
    go-ipfs version: 0.4.13-
    Repo version: 6
    System version: amd64/linux
    Golang version: go1.9.4

#### Type:
Feature Request

#### Description:
`ipfs add` supports `-w` for filename preservation, e.g. `ipfs add -w foo.zip` will let you access the result as `/ipfs/<dir hash>/foo.zip` instead of just `/ipfs/<file hash>`. However, it doesn't work very well when r

[2018-04-29 00:21] agahEbrahimi opened #4987 "PubSub Example"
Hello,

I have been trying to make the Getting started example [here](https://ipfs.io/blog/25-pubsub/) work, but all it does is give
`20:16:49.493 ERROR   floodsub: error reading rpc from <peer.ID (a peer ID)>: connection reset comm.go:36`
this error consecutively in the daemon.
I've also been trying to find a working example of writing pubsub into the code and using it, but all I found was the Go

[2018-04-29 01:12] Cole128 commented on #3926
So did this happen? Thanks.

[2018-04-29 08:16] leonprou commented on #3860
I tried to make it faster approaching the IPNS of my own node, but there was no difference.

Can this work like IPFS queries? When I query my ipfs node for a pinned file it takes no time cause the node doesn't need to communicate with the network. The same can be done with IPNS I think. I've found that "decetralize but store your stuff locally" approach pretty useful while IPFS is in alpha and fea

[2018-04-29 21:08] Kubuxu commented on #3860
It is most likely caused by https://github.com/libp2p/go-libp2p-kad-dht/issues/139 . In short, we don't push enough DHT records to resolve IPNS without the timeout and it is slow because of that.

[2018-04-29 21:57] kevina commented on #4908
@ajbouh #4979 should help significantly

[2018-04-29 22:08] ajbouh commented on #4908
@kevina excellent! Have you tried to ls the ImageNet CID with this change?

[2018-04-29 22:25] kevina commented on #4908
Yes, That directory is _huge_ and even with batching there are still a huge
number of network requests, so I have not let it complete.  I am doing that
now and will report back, but I encourage you to try it out also.

[2018-04-29 22:29] ajbouh commented on #4908
Is someone tracking the optimization work needed to get this `ls` operation to work in a reasonable amount of time? I'm not talking about doing a `get`... Just an `ls`...?

[2018-04-30 04:38] ajbouh commented on #4908
@kevina I'm not sure we're talking about the same CID here. I'm talking about one with ~10^6 entries? Is it easy to determine how many bytes are required to represent the sharded directory?

It seems we should expect it to go as fast as an `ipfs get` of a file of the same size, no?

[2018-04-30 04:57] kevina commented on #4908
I am testing:
[code]
My initial numbers where wrong so I updated the count.

It is not the size that is important but the number of blocks that need to be retrieved.  With hamt sharding of a directory object the block size is likely to smaller than with normal sharding of a file which is broken up into equal size segments (of which I forgot the exact number but I think its around 43k).

[2018-04-30 05:02] ajbouh commented on #4908
I see, so perhaps sharded directories just aren't designed for this use case and we should be thinking about using something else?

We need to be able to quickly enumerate all entries so we can decide which to fetch next. Perhaps a single manifest file with a known name is the easiest way to accomplish this?

[2018-04-30 05:12] kevina commented on #4908
@ajbouh perhaps, however the number of blocks required is also really high.

@whyrusleeping @Stebalien thoughts?

[2018-04-30 06:04] whyrusleeping commented on #3860
Also note that we are actively working on a resolution for 139 linked above. Its quite involved.

[2018-04-30 10:59] olizilla opened #4989 "Add a "desktop" friendly init profile"
#### Type:

Enhancement

#### Description:

From the discussion in https://github.com/ipfs-shipyard/ipfs-companion/issues/312#issuecomment-385334865

It would be useful to have **an init profile optimised for a desktop IPFS user.** Something like

[code]

The specific use case is to allow a browser to run the daemon on behalf of the user. The user may have limited or no awareness of the daemon or

[2018-05-01 06:03] whyrusleeping commented on #4908
Investigating...

[2018-05-01 08:05] whyrusleeping commented on #4908
@kevina's code looks reasonable. Probably want to combine that with bitswap sessions and a higher bitswap activeWants count. Once concurrency of fetching is no longer the issue, there are other optimizations to look at, namely requester side batching of blocks that we receive. Right now every block we get through bitswap gets put to the datastore individually, batching those together could add som

[2018-05-01 11:19] vyzo opened #4990 "Relay Infrastructure Integration"
Over the last few weeks (months) we have witnessed deteriorating DHT performance:
- https://github.com/libp2p/go-libp2p-kad-dht/issues/139
- https://github.com/libp2p/go-libp2p-kad-dht/issues/88
- https://github.com/ipfs/go-ipfs/issues/3860

We have reached a tipping point: Diagnosing the network with a dht crawler has revealed that 61% of the DHT is undialable.

The way forward, in the short/medi

[2018-05-01 14:34] Kubuxu commented on #4990
cc myself

[2018-05-01 17:02] Stebalien commented on #4908
@kevina were you using iptb on a separate network when you tested that (i.e., would bitswap sessions have affected it)?

[2018-05-01 19:31] Stebalien commented on #3860
@leonprou

Unfortunately, no. IPNS links are *mutable* so we always need to ask the network if there's a newer version available. Regardless of what we do, we'll have to make at least one network request to find the latest value (unless you're using IPNS over pubsub).

[2018-05-02 00:12] dryajov commented on #4990
How would this be done? I always though we would have our bootstrap nodes be relays as well, it seems the most sensible way of doing it, unless I'm missing something.

[2018-05-02 00:55] Stebalien commented on #4908
@kevina could you run a quick test with iptb? That'll tell us how much bitswap sessions would help and how much, e.g., network latency/bandwidth affect it.

[2018-05-02 01:27] kevina commented on #4908
@Stebalien can you be a little more specific on what different combinations you want to test?

[2018-05-02 06:16] kevina commented on #4908
@Stebalien okay, I tested commit 3f79eab844eaeb1a05332fec59166c3e6e51cb39 in pr #4979 as I think you wanted.  I started a iptb testbad with just 2 nodes and connected them and then ran
[code]
It took 14m40s.

The second ipfs node in the cluster already has the hash and all the parent shards.

[2018-05-02 06:25] whyrusleeping commented on #4908
@kevina how long does it take to run that when you already have all the blocks?

Also, are these nodes using badger or flatfs?

[2018-05-02 06:59] kevina commented on #4908
@whyrusleeping its takes 28s when the node already has all the blocks.

It is using the default, which is flatfs.  I will look into using badger instead.

[2018-05-02 07:43] kevina commented on #4870
@recoilme please also test "repo gc" when say 99% of the repo is not pinned.

Badger seams an order of magnate (at least) slower than flatfs (i.e slowpoke), but this needs verification.

[2018-05-02 08:00] kevina commented on #4908
Using badger instead: 1m36s.

Using flatfs with `sync` set to `false`: 1m20s.

So its not badger vs flatfs it the `sync` option in flatfs that is doing it that forces a call to `fsync` after each key is added.  Batch writes to the datastore will help as you suggested as `fsync` will be called less often.

[2018-05-02 08:04] whyrusleeping commented on #4908
@kevina and the operation on badger when all blocks are local?

[2018-05-02 08:12] kevina commented on #4908
It takes 26s when on badger when all blocks are local.

[2018-05-02 08:42] whyrusleeping opened #4992 "Add option to advertise relay addresses along with other addresses"
Currently, if we want to advertise relay addresses, we have to specify all the addresses we want to advertise in the Addresses.Announce config field (because that field correctly replaces all addresses instead of augmenting them). We should have a way to either say "Add relay addresses to my list of addresses that I announce!" or "add this set of addresses to the list of addresses that I announce"

[2018-05-02 08:45] whyrusleeping commented on #4990
#4992 will also be needed

[2018-05-02 09:01] leonprou commented on #3860
@Stebalien thanks for explaining this!

[2018-05-02 09:01] whyrusleeping opened #4993 "NAT Autodetection"
I'm thinking about having nodes, on startup, check if they are publicly dialable via some libp2p 'can you dial me?' service, and if they find that they are not dialable, running with DHTclient mode (and maybe some other options set, like only announcing relay addresses for themselves).

If this were deployed widely, it would essentially 'solve' the dht connectivity problem.

cc @vyzo @Stebalien @K

[2018-05-02 09:13] vyzo commented on #4990
There is the issue of separation of concern and scalability.

We want relays to be dedicated nodes with fast network connections and no random connections/bitswapping. This will allow the relay nodes to keep their connections open for long periods of time and we also want them to be accessible with a multitude of transports (eg wss for browser nodes).

And we really don't want to kill the bootstra

[2018-05-02 15:20] vyzo commented on #4993
At the expense of network reach unfortunately :(
It also only cures the symptoms, this affects all aspects of ipfs (eg bitswap).

The NAT autodetection concept is very useful regardless - and it would work best with relay infrastructure in place.
So the logic would be, test for NAT, and if you are not NATed then don't announce relay addresses and don't bother establishing permanent connections to

[2018-05-02 15:51] lgierth commented on #4993
This state of being dialable can change dramatically within minutes - home routes restart, crash, or forget NAT mappings all the time.

A simpler version of this would be "do I have a publicly routable IP address".

[2018-05-02 16:59] whyrusleeping commented on #4993
@lgierth Do you have a simple heuristic for 'publicly routable' ?

[2018-05-02 17:11] vyzo commented on #4993
I think we can just test dial from a background host (or different process).

[2018-05-02 17:28] vyzo commented on #4990
https://github.com/ipfs/go-ipfs/issues/4993 is very much an essential component.

[2018-05-02 17:33] lgierth commented on #4993
Basically anything that's not included in the list of ranges we block in the `server` profile :) We'd have to double-check that list against the IANA address range lists, but whether an IPv4/IPv6 address is routable on the internet is generally pretty well defined. (Whether anyone is announcing it is a different question, but I think we can ignore that case.)

On another note, whois lookups for no

[2018-05-02 18:36] kevina commented on #4993
Unless I am missing something the removal of non-routable addresses will prevent the use of IPFS on an internal network.  The easiest way to resolve this is to add a config option for the removal of non-routable addresses.

[2018-05-02 18:50] Kubuxu commented on #4990
@vyzo we need a way not to depend on go-ipfs being shipped with the right set of relays. It is becoming a problem with bootstrap nodes right now. We will need a layer of indirection for this.

[2018-05-02 19:10] alexander255 opened #4994 "Calling `/shutdown` on API usually closes connection without sending reply"
#### Version information:

go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/linux
Golang version: go1.10

#### Type:

Bug

#### Description:

Usually invoking the `/shutdown` API call over the HTTP API will disconnect before sending a reply, causing spurious errors in clients invoking this call. This was not the case in previous versions.

[2018-05-02 19:27] vyzo commented on #4990
@Kubuxu agreed

We've been working on rendezvous as a the long term solution:
- https://github.com/libp2p/specs/pull/44
- https://github.com/libp2p/go-libp2p-rendezvous/pull/1

Considerable thought in the design went towards engineering a long term solution for scalable relay infrastructure and open relay capacity pools. But we are not there yet!

The fixed relays are intended as the bootstrap ste

[2018-05-02 19:31] ntninja opened #4995 "`/object/put` does not return `Links` datastructure anymore"
#### Version information:

go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/linux
Golang version: go1.10

#### Type:

Regression (maybe intended)

#### Description:

Please see the unit test at https://github.com/ipfs/py-ipfs-api/blob/14c27f63e0efdb8d298cb57a657a70381be9a1a3/test/functional/tests.py#L710-L715 (disarmed in latest master). Please close this if this is intended behaviou

[2018-05-02 20:05] vyzo commented on #4993
Agreed; there should certainly be options for node operators to configure as they see fit for their environment.

We are also looking forward to integrating with the browser world.

Yes, of course! It's a long term project to achieve reliable NAT penetration at the transport layer.

[2018-05-02 20:15] dirkmc commented on #3860
@karalabe interesting findings, thanks for taking the time to look into this

[2018-05-02 20:18] dirkmc commented on #3860
With respect to timeouts often being almost exactly 60 seconds, read this comment here (and stebalian's reply):
https://github.com/libp2p/go-libp2p-kad-dht/issues/88#issuecomment-366808980

[2018-05-02 21:04] lgierth commented on #4993
Ah yes, I wouldn't want to generally run in `dhtclient` mode if we don't have a public IP (nor when behind NAT), for the same reasons as @kevina and @Kubuxu mention - it hurts offline and community networks use cases. I was mainly just thinking about "how do we detect the presence of NAT". `haveInternet && !havePublicIP` is still an okay heuristic for that.

In local-ish and offline scenarios we w

[2018-05-02 22:30] #4577 closed

[2018-05-03 02:32] kevina commented on #4944
Note this is a github object:
[code]

[2018-05-03 07:09] frankurcrazy commented on #4475
I'm seeing this as well, name publish takes forever even if I'm with public IP.

[2018-05-03 14:39] whyrusleeping commented on #4993
So I think what we want here is an option to turn on/off this 'automatic adaptive NAT mode'. Like it or not, the default behavior for the main network should be to run as dhtclient if you have a bad NAT. Users who want can circumvent this by setting the option, but the average user shouldnt have to be aware of this to not make the network worse

[2018-05-03 14:41] whyrusleeping commented on #4990
The way to add this I think, would be to make it an implicit default. So if the values are not set in the config file, use the default ones. this allows us to easily change the values across versions of ipfs, while still retaining the ability for users to specify their own relays.

[2018-05-03 14:46] schomatis commented on #4870
@kevina Could you provide a simple example of a GC operation that would take an order of magnitude more than `flatfs` please so I could take a deeper look into this performance issue?

[2018-05-03 15:01] schomatis commented on #4279
@Stebalien Do you mind if I hijack this issue to keep track of all the other issues related to the Badger transition?

[2018-05-03 15:17] lgierth commented on #4993
:+1:

It'd still be great to not make things worse for offline/local use cases though -- requiring flipping an option to make things work locally is meh.

I think this whole situation smells like a leaky abstraction. We treat all peers equally, but they really aren't equal. (In a similar sense as how Coral has latency-bounded rings.)

[2018-05-03 15:30] achingbrain opened #4996 "ipfs files cp command help text inaccurate"
The CLI help says that `ipfs files cp` can be used to copy files into mfs:

[code]

It doesn't seem to work like that though:

[code]

[2018-05-03 15:41] schomatis commented on #4363
This is a great example of a sudden stop (fast daemon shutdown, process kill, system crash) that may not compromise big data loss but would still render the repository unusable for the user (because of a timestamp inconsistency during the interrupted commit), where I'm not sure the user has any option (at the Badger level) to forgo the replay of the truncated data (accepting data loss in exchange

[2018-05-03 15:46] Kubuxu commented on #4993
This is different than what was being proposed here of going dhtclient if you don't have a public IP.

I think simple test "am I dialable" with bootstrap peer could be the best way forward. I think it could remove about 90-odd% of undialable peers.

[2018-05-03 15:50] schomatis commented on #4300
#4578 has been merged and the GC logic is working, note however that the GC mechanism for `badger` is not the same as for `flatfs`, some data may not be immediately reclaimed.

[2018-05-03 15:50] #4300 closed

[2018-05-03 15:58] whyrusleeping commented on #4993
@lgierth

Hrm... care to elaborate on where the right abstraction might be?

@Kubuxu

read my original issue though

[2018-05-03 16:00] keks commented on #4820
Hmm, I think this is caused by a flaw in the context cancellation model: you can only cancel everything at once and can not wait until something is done canceling.

@schomatis The request log actually only logs requests that come in through the http interface. cli requests are not logged, so this only affects client-server connections. Yes, this happens through the environment, which is passed int

[2018-05-03 16:41] schomatis commented on #4511
Thanks @leerspace, I'll be taking a look at the repo to check if the error is related to badger, the out-of-space scenario should be tested more thoroughly to see whether the DB is left in a corrupted (unusable) state.

[2018-05-03 16:53] leerspace commented on #4511
@schomatis Sadly, I think that the node I pinned the corrupted repo to eventually got corrupted itself due to a hardware failure and I had to re-initialize it. Unless someone else grabbed the repo in my previous post, I think the corrupted repo might be lost since I can't seem to fully resolve my previous hash anymore.

[2018-05-03 16:59] lgierth commented on #4993
Maybe the same `havePublicIP` heuristic can be the boundary. I'm not quite sure where to put this, but protocols on the libp2p Host would be able to see whether a peer is considered "global" or "local-ish", and treat it accordingly. This would potentially also help with preferring local Bitswap peers, choosing local relay nodes over distant ones, etc.

[2018-05-03 17:28] lgierth commented on #4993
As in: if we're connected to the peer via *their* public IP, then they're probably a "global" peer.

[2018-05-03 17:41] schomatis commented on #3763
I'm adding the `badger` label to close this issue when the transition to Badger is completed and this error won't happen for new repositories (unless this can be already closed).

[2018-05-03 17:44] leerspace commented on #4363
@schomatis I don't have the script anymore, unfortunately. I deleted it after I was unable to reproduce the issue with it.

[2018-05-03 17:54] schomatis commented on #4549
I'm assigning (temporarily) this issue to myself while I prepare some tests for the Badger implementation, you could guide me to structure those tests in a way that they may be re-utilized in the future for the generic datastore interface. (Sometimes that won't be possible as some tests need to interact directly  with badger-specific settings.)

[2018-05-03 17:54] vyzo commented on #4993
I fear this would be like throwing out the baby with the bath water, if we blanket do that.
There is strength in numbers in the dht and it really doesn't need that much relay bandwidth.

[2018-05-03 17:59] kevina commented on #3763
@schomatis so I thought the move is to make badger the default, not the only option.  Has this changed, once badger is working will no longer support the original configuration with leveldb/flatfs?  Or is the intent to move to badger/flatfs?  I can see many advantages to still supporting flatfs and hope we won't abandon support for it completely.

[2018-05-03 18:09] schomatis commented on #3763
@kevina Sorry for the confusion, leveldb/flatfs will still be supported after the transition (AFAIK), what I meant to say is that, as this issue was raised for the scenario of a default installation,

this error won't happen after Badger is the default datastore (yes it will happen if `flatfs` is specifically chosen for the repo profile). You're right this issue is related to LevelDB and not Badge

[2018-05-03 18:31] schomatis commented on #4298
@Stebalien

Yes, and even more expensive than the rewrite operations during GC are it's searches of every key in the value log file being checked to decide if they exceed the threshold to trigger the rewrite. Do you have a test that would point to that 4x performance impact?

I'm not understanding how the parallelization would help, is GC called after every block deletion?

[2018-05-03 18:31] kevina commented on #4870
@schomatis on an empty repo do a
[code]
This could take a very long time, you may need to use https://github.com/ipfs/go-ipfs/pull/4979.

Then do a "ipfs repo gc".

Note: If you use `flatfs` you should turn the `sync` option off, before populating the datastore, to help with performance.

I have not done former test yet.  I am guessing you should see the same problem with any repo that contains lo

[2018-05-03 20:09] Mr0grog commented on #4996
I *think* what this is meant to mean (at least what I have found) is that it only copies *from* IPFS-at-large, not from disk:

[code]

So if you want to copy from disk:

[code]

The help text could still be clearer on that, though. I definitely tried to do what you’re describing the first time :P

[2018-05-03 20:52] Stebalien commented on #4279
@schomatis go right ahead!

[2018-05-03 21:04] achingbrain commented on #4996
Ok, so the source can be IPFS-at-large or the existing mfs, but IPFS-at-large seems to win in the case where there's a matching path in your mfs:

[code]

...drumroll

[code]

[2018-05-03 21:07] wehriam commented on #4068
Any updates on this issue?

[2018-05-03 22:01] Mr0grog commented on #4996
Yeah, I *believe* that’s a known issue based on comments like this: https://github.com/ipfs/go-ipfs/issues/4602#issuecomment-360927582

[2018-05-03 22:46] kevina commented on #4870
@schomatis here is a script to reproduce the problem
[code]

When TMP pointed to "/tmp" which uses 'tmpfs' the 'repo gc' was fine.  When TMP pointed to a non-memory file system that is when it was very slow.  It try and let it complete and report the results.

[2018-05-03 23:30] kevina commented on #4870
Okay.  I gave up and killed "repo gc" when badgerds is used.  Here are the results:
Flatfs: 47 sec
Badgerds: >26m17s or 1577s (killed the process)

So Badgerds is at least 30 times slower.

[2018-05-04 00:05] djdv commented on #4068
@wehriam
I've heard reports of this from a few users for a while now but have never been able to reproduce it on any of my machines or VMs under any combination (for example even non-local non-windows published messages show up for me on a Windows host, and vice-versa).

This will require some investigation.

This is an old screenshot of mine but I'm sure pubsub was working for me prior to this re

[2018-05-04 00:31] schomatis commented on #4870
Great work @kevina! Thanks for the test script. I'll try to reproduce it on my end and see if I can pinpoint the bottleneck on the Badger implementation.

The GC is supposed to be slower in Badger due to the added complexity of checking for the deletion marks in the value log, but an order of magnitude slower (or more) would be too much to ask the user to bear during this transition.

[2018-05-04 00:41] manishrjain commented on #4870
Let me see if I can run this. I'm doing a whole bunch of improvements related to GC, and versioning. I feel those should fix this up nicely.

What version of Badger are you guys on?

[2018-05-04 01:24] kevina commented on #4870
That is probably installed with the test.  "cd go-ipfs/test && make deps" should install it.  You also need `jq`, installed, if you don't have you can comment out those lines, the `ipfs add` may me a bit slow though.

[2018-05-04 01:37] schomatis commented on #4870
Hi @manishrjain, thanks for stepping in here. The master branch of IPFS is using v1.3.0, I'm not sure what version @kevina used for the tests, but feel free to assume we're using the latest version in Badger's master branch, Badger is still not the default datastore so we have some latitude here.

To use the latest version of Badger inside IPFS you can run the following commands:

[code]

Sorry fo

[2018-05-04 01:41] kevina commented on #4870
@schomatis I am using master at `Fri Apr 27 12:52:01 2018 +0900` commit 2162f7e681b87e6b322712870f9f883bf9f9ec40.

[2018-05-04 01:46] schomatis commented on #4870
@manishrjain The `random` util as mentioned by @kevina needs to be installed separately (it's a dependency of the sharness tests):

[code]

[2018-05-04 01:48] schomatis commented on #4870
Great, so that should indeed be Badger's last stable version `1.3.0`.

[2018-05-04 03:10] manishrjain commented on #4870
I pulled in Badger master head, not sure if it makes any difference here.

I set `SyncWrites` to false, which sped up the `repo gc` command significantly -- for GC, having async writes makes sense anyway. So, you might want to turn that on for the GC command.

Another thing I noticed is that each "removed Q.." is run as a separate transaction, serially. If deletions can be batched up in one transa

[2018-05-04 04:37] schomatis commented on #4298
So, trying to reduce my own noise: indeed GC is slower with `syncWrites` enabled (4x sound about right), Badger's creator [suggested](https://github.com/ipfs/go-ipfs/issues/4870#issuecomment-386495947) turning it off during GC (not sure if that is possible) and also to parallelize deletes as mentioned here (or alternatively running `bs.DeleteBlock(k)` concurrently in multiple goroutines).

I can c

[2018-05-04 04:38] kevina commented on #4870
@schomatis the idea bind adding a small file with very small chunks was to approximate how a very large shared directory will be stored.

[2018-05-04 04:45] schomatis commented on #4870
@kevina I see, my comment above is not about the file size (or chunk size) itself, but rather that it is necessary to surpass `ValueLogFileSize` (whatever that size is) to make sure there is more than one value log file so Badger actually does a GC over one of them (if there is only one log file as in this example only the deletion writes are measured but not Badger's search time when it inspects

[2018-05-04 07:35] whyrusleeping commented on #4993
@vyzo hrm... youre right. Assuming we get connectivity with relays to be high, then the more the merrier.

[2018-05-04 07:46] recoilme commented on #4870
Sorry, just my 5 cents about nosync:

Setting SyncWrites to false == corrupted database
Without fsync - data not store and if app/os crash or shut down unexpectedly  - all data will be lost and database may be corrupted

Async writes to file == may lead to corrupted data too
For async writes to file you must use mutexes like in this library: https://github.com/recoilme/syncfile
Or goroutines like

[2018-05-04 08:55] karalabe opened #4997 "IPNS resolution doesn't always honor timeout"
#### Version information:
Build from source, latest master

#### Type:
Bug

#### Description:
I was benchmarking IPNS publishing and resolution performance. See https://github.com/ipfs/go-ipfs/issues/3860#issuecomment-386103425 for a preliminary report.

One anomaly my benchmark surfaces was that IPNS resolution sometimes doesn't honor the configured timeout. If you look at my benchmark report cha

[2018-05-04 09:00] vyzo commented on #4997
It might be the big sender lock rearing its ugly head.

Related work:
- https://github.com/libp2p/go-libp2p-kad-dht/issues/88
- https://github.com/libp2p/go-libp2p-kad-dht/pull/92

[2018-05-04 16:13] ToxicFrog commented on #1941
@vyzo on IRC suggested trying `--enable-namesys-pubsub`, but no dice:

    $ pgrep -laf ipfs
    29526 /nix/store/9v5yn8v1sq41753aib3kfqpb6b95v05z-ipfs-0.4.14-bin/bin/ipfs \
              daemon --enable-gc --enable-namesys-pubsub

    $ ipfs key list -l | grep testkey
    QmavpF6QAS7C6TSHvrGASJVw1hXLD7qphTZ7kR5WjzjAjM testkey

    $ ipfs name publish --key=testkey /ipfs/QmTVKRqMywTwwngjTQB8CKycaF

[2018-05-04 16:42] ToxicFrog commented on #1941
There is only one peer involved; it's a single-node swarm. Running `ipfs name resolve` before `ipfs name publish` as well as after does not change the behaviour.

[2018-05-04 16:47] vyzo commented on #1941
I think the issue here is that the rendezvous for ipns pubsub happens through DHT provider records.
If the DHT can't bootstrap because there are no peers to start the DHT, then it will neuter the functionality.

Btw, it seems that your two peers connected before you publish. If they are not, then the rendezvous for pubsub will fail, and the peer will fail to see the published record.

[2018-05-04 16:50] vyzo commented on #1941
Per discussion on irc:

It seems that this intentionally a single peer, not connected to anything; so it's a BUG.

[2018-05-04 18:27] wehriam commented on #4068
Let me know if there’s any way I can assist.

[2018-05-04 18:40] manishrjain commented on #4870
Thanks for the offer, @schomatis . I could definitely use your help on various issues. That PR you referenced is part of a v2.0 launch. Want to chat over email? Mine is my first name at dgraph.io.

[2018-05-04 19:00] djdv commented on #4068
I suppose what we need, is to find some common ground between machines that are experiencing this problem. Without a reproducible test case, this is hard to diagnose.
So far I've had success on Windows 7 and Windows 10, both on real hardware and virtual (VMware). Under different consoles (Win32, mintty, and ConEmu) as well as under different shells (cmd.exe, Powershell, MSYS bash).

@mariosk, @weh

[2018-05-04 23:03] WyseNynja opened #4998 "ipfs add panics under Gitlab Runner"
#### Version information:
[code]

(also fails under 0.4.13 and 0.4.15-rc1)

#### Type:
Bug

#### Description:
A few weeks ago I setup a Gitlab job that runs `ipfs add` and then updates my DNS server. This was working great 2 weeks ago, but when I went to update a site today, I got this error:

[code]

If I use the docker container to `ipfs add` on leafblower, everything works fine. This probably m

[2018-05-04 23:36] WyseNynja commented on #4998
I dug in more and `ipfs --api="$IPFS_API" id` also panics:
[code]

[2018-05-05 02:00] WyseNynja commented on #4998
Did a little more digging and it looks like the cause isn't actually gitlab, but my gitlab runner's HTTP_PROXY setting. I added my ipfs server to NO_PROXY and my job is working again!

I think @Stebalien's PR should still be done to get us a better error message.

[2018-05-05 09:08] domainvip commented on #4981
how to recover the file?

[2018-05-05 14:08] FingerLiu commented on #4984
Same here when I try to run command in READEME  `ipfs cat /ipns/dist.ipfs.io/go-ipfs/versions
 `

[2018-05-05 14:29] Magalame commented on #4981
[code]

[2018-05-05 14:46] domainvip commented on #4981
leveldb.RepairDB("~/.ipfs/datastore")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
leveldb.LevelDBError: IO error: ~/.ipfs/datastore: No such file or directory

[2018-05-05 14:51] Magalame commented on #4981
Try that:
[code]

[2018-05-05 14:53] domainvip commented on #4981
it works!thank you very mush!

[2018-05-05 14:58] Magalame commented on #4981
Welcome!

[2018-05-06 06:14] reit-c opened #4999 "ipfs pin update produces error"
#### Version information:

go-ipfs version: 0.4.14-
Repo version: 6
System version: amd64/linux
Golang version: go1.10

#### Type:

Bug

#### Description:

When doing `ipfs pin update` this error reliably results:
[code]

Note that there is not nor has their ever been a user named 'steb' nor a directory at /home/steb on this computer.

Reproduction:
[code]

[2018-05-06 19:58] forstmeier commented on #4414
Hi, all! Is this issue still active? I'd like to get involved with some entry-level work on the project to get my hands dirty and this issue seemed like it still needed some work done. :smile:

[2018-05-07 10:50] Kubuxu commented on #4301
@schomatis the `LOCK` file in a `datastore` is to prevent multiple instances running over the same repo. The `ipfs repo fsck` removes the `LOCK` file from it because we had the same issue badger has currently. We didn't have proper locking on Windows and were using just a file to do it. Currently we lock properly on Windows so `ipfs repo fsck` isn't really needed anymore.

[2018-05-07 10:53] Kubuxu commented on #4820
This also touches on a similar problem we have with `ipfs shutdown`.

We sometimes close HTTP API before we send the response before closing and/or don't close to connection to the API client cleanly causing weird errors on CLI and test failures in sharness.

[2018-05-07 12:46] Kubuxu commented on #4961
@kevina it will decrease the duration of the tests significantly as these are the tests we end up waiting for at the end of the run.

If we split them in half (online and offline) it is quite possible that they will run in parallel with other tests instead of being the only two tests running at the end.

[2018-05-07 12:55] Kubuxu commented on #4999
@reit-c The `/home/steb` is just a directory of the one who built the current distribution of go-ipfs.

[2018-05-07 17:40] schomatis commented on #4820
@keks Thanks for the explanation. Regarding your proposed solution, could you expand on it some more? I don't see how this new  `Shutdown()` method would interact with the existing `IpfsNode.teardown()` one.

Ok, from what I'm understanding there is no easy fix here and the problem exceeds the Badger datastore,

it just was manifested in this particular use case of the Badger service shutdown.

I'

[2018-05-07 18:07] schomatis opened #5002 "Wait for a command to stop before shutting down"
This problem was manifested in #4820 which I'll briefly describe here for context but actually exceeds its use case: while using the Badger datastore in offline mode, if the user cancels an `add` command there is a (very likely) possibility that the Badger DB is closed *while* open transactions are still operating on it (causing a panic as the Badger API does not allow such scenario but also doesn

[2018-05-07 18:16] djdv opened #5003 "Windows mount support"
Tracking/discussion issue for the topic of implementing `ipfs mount` on Windows.
This is a broad topic, all comments and criticisms are welcome here as long as they help drive us towards a solution. Nothing is set in stone yet and we'd like to implement this correctly.

Currently we have no first party support for this:

For third party, I'm aware of these projects:
https://github.com/alexpmorris/

[2018-05-07 18:18] djdv commented on #4808
`ipfs mount` discussion will take place here: https://github.com/ipfs/go-ipfs/issues/5003

[2018-05-07 18:29] schomatis commented on #5002
@Kubuxu Exactly, the `ipfs shutdown` command in online mode is the analog of `Ctrl-C`ing during command execution in offline mode, and the lack of communication between the core node shutdown and the service dispatching the HTTP response for the CLI client triggers a similar error (cause) to the Badger scenario.

[2018-05-07 18:37] schomatis commented on #5002
As a first step towards a solution, as [mentioned](https://github.com/ipfs/go-ipfs/issues/4820#issuecomment-376687766) in #4820, the [ReqLog](https://github.com/ipfs/go-ipfs/blob/master/commands/reqlog.go#L30) can be extended to cover the offline case (see https://github.com/ipfs/go-ipfs-cmds/issues/109) and have it as a bookkeeping control structure to know when a command has finished. (I'm not s

[2018-05-08 08:43] biga816 commented on #4389
I am also experiencing the same issue in only offline mode.
I just run `ipfs daemon --offline` after installing & initialization IPFS.

[2018-05-08 10:47] Kubuxu commented on #4389
It seems to be connected with metrics collector.

[2018-05-08 16:45] recoilme commented on #4870
@schomatis Thanks for the detailed answer. It seems to me that badger is an excellent choice. But I would be happy to add slowpoke as an experimental datastore for research. I just want to solve some problems specific to Ipfs for my storage because it's interesting. I implement the datastore interface after the vacation and open the issue for discussion if you like.

[2018-05-08 16:57] schomatis commented on #4870
@recoilme Great!

[2018-05-09 03:44] llgoer opened #5006 "How NameAPI publish file directory without full path？"
For example,I want publish the directory "/User/topdir/sondir"，I use the NameAPI like
[code]
Then I browser the url `http://127.0.0.0:8080/ipns/[My IPNS Hash]/User/topdir/sondir` can get this resource.

How to use publish API make without the path "/User/topdir/",use "http://127.0.0.0:8080/ipns/[My IPNS Hash]/sondir" can get the resource?

[2018-05-09 18:01] Mr0grog commented on #5006
Hi @llgoer, please use https://discuss.ipfs.io for questions like this that aren’t actual bug reports or requests for changes to the software.

That said, this works the same way as:

[code]

(so it’s not related to IPNS at all.) `/ipns/[My IPNS Hash]` is just a mapping to `/ipfs/[the CID from coreunix.AddR]`. Everything after that (`/User/topdir/sondir`) is a series of links. So…

1. `/ipfs/[the

[2018-05-09 18:28] lockedshadow commented on #4435
What a wonderful name! This upcoming feature looks very interesting.

And do I understand correctly that "following" nodes will republish the last seen value of given name, even if the creator of that name (with its private key) disappears once? Will the new nodes be able to resolve a value of that name, if the "following" ones will be present in network?

[2018-05-09 18:37] vyzo commented on #4435
that's an interesting idea.

[2018-05-09 18:37] lockedshadow commented on #4815
It useful for debugging purpose, thanks!

[2018-05-10 11:26] xuruijing commented on #2994
@zyzhangyang         Is Integrate ipfs to ios complete？

[2018-05-10 23:54] alecbrick commented on #4606
I'm experiencing the same issue here, under the same conditions. It's true that it could be a Windows bug, but I'm interested in figuring out exactly where it occurs. I'll update with more information if I can figure something out.

[2018-05-11 00:48] djdv commented on #4606
I'm surprised to hear this is still an issue, it was reported some time ago and was acknowledged by the WSL team.
https://github.com/Microsoft/WSL/issues/2669

Slightly off topic, can I ask why people are using the Linux binaries on Windows instead of the native Windows binaries?

[2018-05-11 00:53] alecbrick commented on #4606
Oh, hey, I literally just saw that issue.

Personally, I'm looking to get into contributing. Since I do most of my work on Windows, I'm using WSL for all my development.

[2018-05-11 05:37] taylormike commented on #4378
@whyrusleeping
Just a thought:
I am thinking of changing the peerRequestTask to hold multiple wantlist.Entry(s).
This would allow Bitswap to send multiple blocks in bulk per a Peer's request. This also requires a change to the Envelope payload type to hold multiple blocks (perhaps a bsmsg.BitSwapMessage?)

Question:
Is this a reasonable approach?
Does this require further discussion?  I am happy t

[2018-05-11 06:13] alecbrick commented on #4414
@forstmeier I'm interested in getting into IPFS as well, and I'm also interested in working on this issue. It doesn't seem super active, but if you're interested, we might be able to jointly look into this. Some of the files seem clean, but I'm not super experienced at Go, and I'm not great at intuitively knowing when a goroutine might hang.

[2018-05-11 10:33] whyrusleeping commented on #4378
@taylormike That does seem like a pretty reasonable approach, i think thats roughly what I was envisioning. I'm curious how you're going to select multiple blocks for the envelope (not in a doubting way), we need some sort of metric for how many blocks to put in a given message. That could just be 'up to 500kb per message' or something.

[2018-05-11 10:43] dignifiedquire commented on #4378
This is actually what we are [doing in js-ipfs-bitswap](https://github.com/ipfs/js-ipfs-bitswap/blob/master/src/decision-engine/index.js#L40). We aggregate blocks until we hit 512 * 1024 bytes, and then send the message out.

[2018-05-11 15:01] evildido opened #5013 "best practices to run a big ipfs node"
Hello.

#### Version information:

0.4.14

#### Type

Question.

I want to know best practices in order to run a big ipfs node (pin > 50 GB)

#### Description:

I'm hosting a an ipfs node (0.4.14) on a VPS server (Ubuntu 16.04).

I'm currently pinning more than 20GB and I regularly have the following errors :
* too many open files
* failed to bind to anycast
09:15:14.085 ERROR       mdns: mdns loo

[2018-05-11 16:11] overbool opened #5014 "get wrong port in external ipfs node"
Hello.

### Version information:
0.4.15-rc1

### Type
question
Why a external ipfs node get wrong port from internal ipfs node.

### Description

my ipfs node:

internal ipfs node ip:172.16.3.1
gateway ip: 218.72.122.165
external ipfs node ip: 40.125.164.111

When the internal ipfs node connected to external ipfs node, the bound upnp port is 63302.

internal ipfs (172.16.3.1:4001)=====>gateway(218

[2018-05-12 01:45] blockChainB opened #5015 "My server ip:8080:ipfs/Qmco94dYP733XwrUqFUhDtDG8RsqmGQ6UDPvnmH4Pvy2rv"
My server is on the public net, after IPFs daemon

My server ip:8080:ipfs/Qmco94dYP733XwrUqFUhDtDG8RsqmGQ6UDPvnmH4Pvy2rv

Do not work, why? thanks you

[2018-05-12 02:51] overbool commented on #5015
Change `"Gateway": "/ip4/127.0.0.1/tcp/8080"` to `"Gateway": "/ip4/0.0.0.0/tcp/8080"`  in `~/.ipfs/config`

[2018-05-12 08:01] syzh opened #5898 "ipfs files rm error: file does not exist"
but ipfs get QmPsndrz6Q6kRAsU5pd3VkBDRj6qXHdhduKevk4yDajGhe, ipfs cat QmPsndrz6Q6kRAsU5pd3VkBDRj6qXHdhduKevk4yDajGhe is success. and return data

[2018-05-12 09:11] Stebalien commented on #5015
@blockChainB in the future, please try to ask support questions on https://discuss.ipfs.io/.

[2018-05-12 09:11] #5015 closed

[2018-05-12 12:18] #4951 closed

[2018-05-13 14:42] lgierth commented on #4824
So does badger do any GC at all, or is it just that it holds on to a bit of diskspace?

[2018-05-13 16:11] schomatis commented on #4824
@lgierth Yes, it does GC, it's just that it waits for certain conditions before doing it (like having more than one value log file and having those log files filled with deleted keys passed a certain percentage threshold). So if those conditions aren't met when the user calls `ipfs repo gc` which will in turn request Badger's GC nothing will happen and the user will not perceive any disk space bei

[2018-05-13 17:29] lgierth commented on #4824
Ah I see: https://github.com/dgraph-io/badger#garbage-collection

This does sound like we can do online garbage collection at a time of our choice.

[2018-05-13 17:57] schomatis commented on #4824
In that case Badger should already be performing GC when running `ipfs repo gc`. I'm assuming that there are many more than just one value log file and the percentage of discarded keys is 10% to trigger a GC (that is, if in a value log file more than 10% of it's keys are marked as deleted it will rewrite the value log file to a smaller size without those keys).

[2018-05-13 23:04] piedar commented on #2166
I published another utility [ipfs-mount](https://github.com/piedar/js-ipfs-mount) in an attempt to bring these features together in nodejs land.  It supports `/ipfs` and `/mfs` (todo: `/ipns`) and has respectable performance with no added caching layer.   The http gateway is still the fastest option...

[2018-05-14 05:26] taylormike commented on #4378
@whyrusleeping
Thank you for your time. I was thinking of having the number of blocks selected for the envelope be based on the number of peerRequestTask.wantlist.Entry(s). This would allow Bitswap to send multiple blocks in bulk per a Peer's request. However... like you said this creates issues if the size of this message is > 512kb.

Solution: (See SendBlocks below)
I was thinking of adding the

[2018-05-14 11:55] keks commented on #4820
@schomatis Sorry I only respond now.

Oh, there already is a function like that. I don't know that part of the codebase well so I can't really comment.

[2018-05-14 17:37] forstmeier commented on #4414
Hey, @alecbrick, I saw that you've submitted fixes for dag.go and pin.go - do you want me to look through refs.go?

[2018-05-14 21:56] xelra commented on #5003
My vote is for WinFsp.

It has an active developer and in my opinion is the best FUSE alternative for Windows. I'm using it daily in conjunction with SSHFS.

[2018-05-15 05:41] jasonhotsauce commented on #3533
Is this issue being worked on? If not, I would like to take on this to learn more and get my hands dirty. 😅

[2018-05-15 13:32] schomatis opened #5019 "Identity hash length check"
The length of the identity hash is not checked, why is that?

https://github.com/ipfs/go-ipfs/blob/578cb240d4c8e294282400848966ae0d374c6b94/thirdparty/verifcid/validate.go#L57-L59

The identity hash should always have a digest length equal to the size of its data (`minimumHashLength` wouldn't apply here), otherwise a collision attack would be trivial. The identity hash is the only function where t

[2018-05-15 14:10] justinmchase commented on #2164
I agree with @davux , if the two publishers both have the same file they would be likely to use the same MIME type when publishing. Especially if the production of MIME type was automatic.

If they didn't have the same MIME type for some reason, then having two different hashes would seem like a reasonable thing to do. No?

The other side of the problem is that people who are trying to receive the

[2018-05-15 17:20] schomatis opened #5020 "Why have the import paths been left rewritten in this repo?"
I'm trying to better understand the `gx` workflow, the `gx-go` tool [recommends](https://github.com/whyrusleeping/gx-go#some-notes-on-publishing):

The rest of the repos on which this one depends don't have its import paths rewritten.

[2018-05-15 17:24] #5020 closed, assigned to nobody

[2018-05-15 18:28] Stebalien commented on #4606
So, this should now be fixed (according that issue). @alecbrick can you confirm with the latest windows version?

[2018-05-15 18:31] brknlink commented on #3533
@jasonhotsauce I'm currently working on it.

[2018-05-15 23:08] justinmchase commented on #2164
That sounds good, if there is a compromise where the data is in _somewhere_ rather than inferred but the data in the leaves can also be raw, seems like everyone is happy then.

[2018-05-16 01:05] kevina commented on #5019
@schomatis the idea of the Identity hash is that the data is in the hash itself, if the hash is trimmed then the data the hash represents will be different so I am not sure how this can lead to a collision attack.

Having the reported length be different from the actual length should still be an error though as it is meaningless, but it doesn't create a security problem as far as I can tell.

[2018-05-16 05:52] grokcoder commented on #4992
Hello, I am glad to help this issue. Do you want a more conveniont way to manipulate the relay addrs?
How about to add some command like

[code]

[2018-05-16 05:54] grokcoder commented on #4953
This issue should be closed

[2018-05-16 09:03] achingbrain opened #5021 "mfs read command adds newlines to output"
[code]

I would expect `emptyfile` and `other` to have the same hash, given I read one into the other.

It looks like the culprit is `ipfs files read`, it adds a newline to the output:

[code]

It probably shouldn't do this.

[code]

[2018-05-16 13:14] djdv commented on #5021
FWIW I can't recreate this. I get a 0 byte copy for /other
[code]

[2018-05-16 13:34] schomatis commented on #5021
I also can't reproduce this in Linux, I'm getting in both cases an empty file.

[code]

[code]

[2018-05-16 13:47] achingbrain commented on #5021
Hmm, weird, now it's not adding newlines for me either.

I'm going to close this and will reopen if it happens again.

[2018-05-16 13:47] #5021 closed

[2018-05-16 15:42] billziss-gh commented on #5003
Adding myself here so that I can receive notifications and provide help.

[2018-05-16 16:49] billziss-gh commented on #5003
I add here some comments I made over private email regarding the task of creating a Go shim for WinFsp.

I am happy to elaborate on any of this.

[2018-05-16 17:02] djdv commented on #5003
Much appreciated @billziss-gh. Very glad to have your support with this, and a clear outline of what's necessary. 👍

I have considered packaging `go-ipfs` in an MSI that optionally installs a service for the `ipfs daemon`. There seems to be some support for this in golang already but it's nice to know about interactions with services and WinFSP. We may be able to take advantage of it.

[2018-05-16 20:36] billziss-gh commented on #5003
NP. Feel free to ping anytime and I will continue monitoring this issue.

While I do not understand the internals of IPFS, in general file systems benefit from being run as Services under Windows. I outline some of the reasons here:

https://github.com/billziss-gh/winfsp/wiki/WinFsp-Service-Architecture

[2018-05-16 20:57] djdv commented on #5003
No going back now 👀
![winfsp](https://user-images.githubusercontent.com/13862850/40143736-3e581e7e-592a-11e8-85e1-70d247b4b164.png)

[2018-05-17 01:52] jcaesar commented on #4486
Related/Duplicate? https://github.com/ipfs/go-ipfs/pull/3508

[2018-05-17 09:17] xuruijing commented on #2991
Can you share your code for ios-ipfs?

[2018-05-17 10:53] haoglehaogle opened #5023 "Can't compile for other Arch, such as mips"
Hello,

~/go# go version
go version go1.10.2 linux/amd64

I try to compile this source code for mips, get the following errors information:

/go/src/github.com/ipfs/go-ipfs# make install
bin/check_go_version 1.9
bin/check_go_path /root/go/src/github.com/ipfs/go-ipfs /root/go/src/github.com/ipfs/go-ipfs
go install -ldflags="-X "github.com/ipfs/go-ipfs/repo/config".CurrentCommit=b3faaad13" ./cmd/ipf

[2018-05-17 11:09] Stebalien commented on #5023
It looks like our version of golang.org/x/net doesn't support MIPs. I'm not sure if the current version does either but we can look into that.

[2018-05-17 13:45] haoglehaogle commented on #5023
hello,
I found new version x/net support mips,  I can replace these source file with new files? or are there any better way to do that? thanks!

[2018-05-17 14:14] RegEM commented on #4490
I briefly had the same problem. On my windows machine, I changed file saving line type to unix. Using Textpad as editor.

On to the next issue: 'Republisher failed to republish: failed to find any peer in table core'

[2018-05-17 14:55] achingbrain opened #5024 "Content added via mfs and ipfs add have different hashes"
add:

[code]

mfs:

[code]

So `ipfs add` gets you one DAGNode with type `file` that contains the data:

[code]

But `ipfs files write` leaves you with an empty DAGNode of type `file` that contains a link to a `raw` DAGNode that contains the data:

[code]

Does anyone know what the thinking behind the difference in structure was?

[2018-05-17 15:33] BillDStrong commented on #5003
https://github.com/billziss-gh/cgofuse is a go library for fuse maintained by the winfsp maintainer. It might be best in the long run to use it to create one ipfs-mount that works on all platforms. winfsp has a fuse compatability mode, when used with a cygwin dll. This would also allow decoupling somewhat the mount functionality.

[2018-05-17 15:36] magik6k commented on #5013
* You want to run the daemon with the server profile enabled - do `ipfs init --profile=server` or `ipfs config profile apply server`. This won't affect performance much but is a good practice when running ipfs on a internet-facing server
* Using the `--offline` flag for daemon will speedup the adding process significantly, but may affect reachability of the data.
* Using the Badger datastore will

[2018-05-17 15:40] magik6k commented on #4824
GC is called on badger - see https://github.com/ipfs/go-ipfs/blob/master/pin/gc/gc.go#L115-L125 / https://github.com/ipfs/go-ds-badger/blob/master/datastore.go#L258

[2018-05-17 15:46] Stebalien commented on #4824
Got it. I hadn't realized that had been bubbled up yet.

[2018-05-17 15:54] djdv commented on #5003
I should mention I'll be dumping my work here from time to time
https://github.com/djdv/go-ipfs/tree/feat/win-mount
It will probably be ugly for a while. I'll divvy up the source files and refactor after things have at least a basic implementation. That is to say, create the binds, and rework them to be more go-like where/when possible.

@BillDStrong
I agree that it would be better to have a unifi

[2018-05-18 00:57] #4953 closed

[2018-05-18 00:57] Kubuxu commented on #4953
@grokcoder thanks for fixing it.

[2018-05-18 01:26] schomatis commented on #5024
Nice question, I'm also interested in learning more about the files API and MFS.

@achingbrain there is a nice introductory video [here](https://www.youtube.com/watch?v=FX_AXNDsZ9k) about the files API (although it isn't very recent), the specification is not done yet, I may be missing some other worthwhile resources to read (besides the code of course).

@Stebalien could we bother you with some p

[2018-05-18 01:30] Kubuxu commented on #5024
MFS uses different DAG builder than `ipfs add`. It uses trickle DAG, a hybrid between a linked list and a tree (it is better for insertions and edits).

Different hash and structure from `ipfs add` are expected, but I am not sure about that thin linking node. It might be a bug in the DAG builder.

[2018-05-18 01:40] schomatis commented on #5019
If it is part of the spec, I would prefer to rely on the meaning of a negative `MhLength`, which is interpreted as the default hash length, and for the identity hash that is `-1` which the sum interprets as "do not trim". If that is valid I would just modify `ValidateCid` to enforce a negative `MhLength` in the case of the identity hash.

@Kubuxu WDYT?

[2018-05-18 01:43] schomatis commented on #4824
@lgierth Could you document here more about the server environment in which you had the GC problem that we discussed in IRC please? I think it may be an interesting test case to have under consideration (big database, almost no space left, and to reclaim it it was necessary to write delete entries before actually running Badger's GC).

[2018-05-18 02:58] schomatis commented on #5024
Thanks for the clarification.

@achingbrain Yes, the difference is in the way the tree is built (imported). Adding the file through the trickle importer gives the same hash as adding it with MFS.

[code]

The [trickle builder](https://github.com/ipfs/go-ipfs/blob/139d62409214f2b430edc2bc1af87845f565f6a2/importer/trickle/trickledag.go#L39) (roughly speaking) creates a root node and adds many child